.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc7{color:rgb(33,78,123);}
.fc4{color:rgb(102,0,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(255,0,0);}
.fc2{color:rgb(0,0,51);}
.fc6{color:rgb(66,184,55);}
.fc1{color:rgb(120,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:80.000000px;}
.fs1{font-size:160.000000px;}
.ye{bottom:17.000000px;}
.y38{bottom:31.000000px;}
.yf{bottom:44.500000px;}
.y95{bottom:61.500000px;}
.y5a{bottom:62.000000px;}
.y7b{bottom:70.000000px;}
.yb8{bottom:75.000000px;}
.yc3{bottom:77.500000px;}
.y59{bottom:78.000000px;}
.y7a{bottom:82.000000px;}
.y33{bottom:84.000000px;}
.yb7{bottom:87.000000px;}
.y58{bottom:94.000000px;}
.y92{bottom:95.000000px;}
.yb6{bottom:99.000000px;}
.y32{bottom:102.000000px;}
.y57{bottom:110.000000px;}
.yc1{bottom:111.000000px;}
.y91{bottom:115.000000px;}
.y31{bottom:120.000000px;}
.y7e{bottom:125.500000px;}
.yb5{bottom:131.000000px;}
.y30{bottom:132.000000px;}
.y90{bottom:133.000000px;}
.y5d{bottom:141.500000px;}
.y2f{bottom:148.000000px;}
.yc0{bottom:149.000000px;}
.y8f{bottom:151.000000px;}
.y79{bottom:159.000000px;}
.yba{bottom:162.500000px;}
.y8e{bottom:163.000000px;}
.y2e{bottom:164.000000px;}
.ybf{bottom:167.000000px;}
.y56{bottom:175.000000px;}
.y78{bottom:179.000000px;}
.y2d{bottom:180.000000px;}
.y55{bottom:195.000000px;}
.y2c{bottom:196.000000px;}
.y77{bottom:197.000000px;}
.y2b{bottom:208.000000px;}
.y8d{bottom:211.000000px;}
.y54{bottom:213.000000px;}
.y76{bottom:215.000000px;}
.yb4{bottom:216.000000px;}
.y2a{bottom:220.000000px;}
.y75{bottom:227.000000px;}
.y53{bottom:231.000000px;}
.yb3{bottom:234.000000px;}
.y52{bottom:243.000000px;}
.y36{bottom:251.500000px;}
.yb2{bottom:252.000000px;}
.y51{bottom:259.000000px;}
.yb1{bottom:264.000000px;}
.y50{bottom:275.000000px;}
.yb0{bottom:280.000000px;}
.y29{bottom:285.000000px;}
.y4f{bottom:291.000000px;}
.yaf{bottom:296.000000px;}
.y74{bottom:303.000000px;}
.y28{bottom:305.000000px;}
.y4e{bottom:307.000000px;}
.yae{bottom:312.000000px;}
.y73{bottom:315.000000px;}
.y27{bottom:323.000000px;}
.yad{bottom:328.000000px;}
.y8c{bottom:331.000000px;}
.y4d{bottom:339.000000px;}
.y26{bottom:341.000000px;}
.yac{bottom:344.000000px;}
.y7d{bottom:346.500000px;}
.y8b{bottom:347.000000px;}
.y25{bottom:353.000000px;}
.y4c{bottom:355.000000px;}
.yab{bottom:360.000000px;}
.ybe{bottom:363.000000px;}
.y24{bottom:369.000000px;}
.y4b{bottom:371.000000px;}
.yaa{bottom:376.000000px;}
.y94{bottom:378.500000px;}
.y72{bottom:380.000000px;}
.y4a{bottom:383.000000px;}
.y23{bottom:385.000000px;}
.ya9{bottom:388.000000px;}
.yd{bottom:388.500000px;}
.yc2{bottom:394.500000px;}
.y49{bottom:395.000000px;}
.y71{bottom:400.000000px;}
.y22{bottom:401.000000px;}
.yc{bottom:406.500000px;}
.y48{bottom:411.000000px;}
.y8a{bottom:412.000000px;}
.ya8{bottom:416.000000px;}
.y21{bottom:417.000000px;}
.y70{bottom:418.000000px;}
.y47{bottom:427.000000px;}
.ybd{bottom:428.000000px;}
.y20{bottom:429.000000px;}
.y89{bottom:432.000000px;}
.y6f{bottom:436.000000px;}
.yb{bottom:436.500000px;}
.y1f{bottom:445.000000px;}
.yb9{bottom:447.500000px;}
.y6e{bottom:448.000000px;}
.y88{bottom:450.000000px;}
.ya{bottom:451.500000px;}
.y5c{bottom:458.500000px;}
.y9{bottom:461.500000px;}
.y6d{bottom:464.000000px;}
.ybc{bottom:466.000000px;}
.y87{bottom:468.000000px;}
.y35{bottom:476.500000px;}
.y6c{bottom:480.000000px;}
.ya7{bottom:481.000000px;}
.y8{bottom:484.000000px;}
.y46{bottom:492.000000px;}
.y7{bottom:494.000000px;}
.y6b{bottom:496.000000px;}
.ya6{bottom:501.000000px;}
.y1e{bottom:510.000000px;}
.y45{bottom:512.000000px;}
.ya5{bottom:519.000000px;}
.y6{bottom:524.000000px;}
.y5{bottom:526.000000px;}
.y86{bottom:528.000000px;}
.y1d{bottom:530.000000px;}
.y6a{bottom:536.000000px;}
.ya4{bottom:537.000000px;}
.y85{bottom:544.000000px;}
.y1c{bottom:548.000000px;}
.ya3{bottom:549.000000px;}
.y84{bottom:556.000000px;}
.y44{bottom:560.000000px;}
.ya2{bottom:565.000000px;}
.y1b{bottom:566.000000px;}
.y7c{bottom:567.500000px;}
.y83{bottom:568.000000px;}
.ybb{bottom:572.000000px;}
.y43{bottom:576.000000px;}
.y1a{bottom:578.000000px;}
.ya1{bottom:581.000000px;}
.y82{bottom:584.000000px;}
.y4{bottom:586.000000px;}
.y42{bottom:592.000000px;}
.y19{bottom:594.000000px;}
.ya0{bottom:597.000000px;}
.y81{bottom:600.000000px;}
.y69{bottom:601.000000px;}
.y41{bottom:608.000000px;}
.y18{bottom:610.000000px;}
.y9f{bottom:613.000000px;}
.y68{bottom:621.000000px;}
.y40{bottom:624.000000px;}
.y17{bottom:626.000000px;}
.y9e{bottom:629.000000px;}
.y93{bottom:631.500000px;}
.y67{bottom:639.000000px;}
.y3f{bottom:640.000000px;}
.y16{bottom:642.000000px;}
.y9d{bottom:645.000000px;}
.y15{bottom:654.000000px;}
.y3e{bottom:656.000000px;}
.y66{bottom:657.000000px;}
.y9c{bottom:661.000000px;}
.y80{bottom:665.000000px;}
.y14{bottom:666.000000px;}
.y65{bottom:669.000000px;}
.y3d{bottom:672.000000px;}
.y9b{bottom:677.000000px;}
.y13{bottom:682.000000px;}
.y3c{bottom:684.000000px;}
.y64{bottom:685.000000px;}
.y3{bottom:686.000000px;}
.y2{bottom:688.000000px;}
.y9a{bottom:693.000000px;}
.y3b{bottom:696.000000px;}
.y12{bottom:698.000000px;}
.y63{bottom:701.000000px;}
.y1{bottom:703.000000px;}
.y99{bottom:709.000000px;}
.y3a{bottom:712.000000px;}
.y0{bottom:712.500000px;}
.y62{bottom:717.000000px;}
.y7f{bottom:721.000000px;}
.y98{bottom:725.000000px;}
.y34{bottom:729.500000px;}
.y61{bottom:733.000000px;}
.y97{bottom:741.000000px;}
.y5b{bottom:743.500000px;}
.y60{bottom:749.000000px;}
.y96{bottom:753.000000px;}
.y11{bottom:763.000000px;}
.y5f{bottom:765.000000px;}
.y39{bottom:777.000000px;}
.y10{bottom:779.000000px;}
.y5e{bottom:781.000000px;}
.y37{bottom:799.000000px;}
.h2{height:46.973200px;}
.h6{height:56.367840px;}
.h9{height:59.156250px;}
.h7{height:69.015625px;}
.h5{height:70.459800px;}
.h1{height:84.500000px;}
.h4{height:93.946400px;}
.h3{height:187.892799px;}
.h8{height:752.500000px;}
.h0{height:842.000000px;}
.w1{width:277.500000px;}
.w2{width:485.500000px;}
.w0{width:595.000000px;}
.x0{left:55.000000px;}
.x9{left:57.000000px;}
.x6{left:123.690000px;}
.xa{left:223.140000px;}
.x5{left:231.350000px;}
.x8{left:245.000000px;}
.x3{left:260.840000px;}
.x7{left:269.150000px;}
.x1{left:276.080000px;}
.x4{left:291.940000px;}
.x2{left:296.110000px;}
.xb{left:531.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:106.666667pt;}
.fs1{font-size:213.333333pt;}
.ye{bottom:22.666667pt;}
.y38{bottom:41.333333pt;}
.yf{bottom:59.333333pt;}
.y95{bottom:82.000000pt;}
.y5a{bottom:82.666667pt;}
.y7b{bottom:93.333333pt;}
.yb8{bottom:100.000000pt;}
.yc3{bottom:103.333333pt;}
.y59{bottom:104.000000pt;}
.y7a{bottom:109.333333pt;}
.y33{bottom:112.000000pt;}
.yb7{bottom:116.000000pt;}
.y58{bottom:125.333333pt;}
.y92{bottom:126.666667pt;}
.yb6{bottom:132.000000pt;}
.y32{bottom:136.000000pt;}
.y57{bottom:146.666667pt;}
.yc1{bottom:148.000000pt;}
.y91{bottom:153.333333pt;}
.y31{bottom:160.000000pt;}
.y7e{bottom:167.333333pt;}
.yb5{bottom:174.666667pt;}
.y30{bottom:176.000000pt;}
.y90{bottom:177.333333pt;}
.y5d{bottom:188.666667pt;}
.y2f{bottom:197.333333pt;}
.yc0{bottom:198.666667pt;}
.y8f{bottom:201.333333pt;}
.y79{bottom:212.000000pt;}
.yba{bottom:216.666667pt;}
.y8e{bottom:217.333333pt;}
.y2e{bottom:218.666667pt;}
.ybf{bottom:222.666667pt;}
.y56{bottom:233.333333pt;}
.y78{bottom:238.666667pt;}
.y2d{bottom:240.000000pt;}
.y55{bottom:260.000000pt;}
.y2c{bottom:261.333333pt;}
.y77{bottom:262.666667pt;}
.y2b{bottom:277.333333pt;}
.y8d{bottom:281.333333pt;}
.y54{bottom:284.000000pt;}
.y76{bottom:286.666667pt;}
.yb4{bottom:288.000000pt;}
.y2a{bottom:293.333333pt;}
.y75{bottom:302.666667pt;}
.y53{bottom:308.000000pt;}
.yb3{bottom:312.000000pt;}
.y52{bottom:324.000000pt;}
.y36{bottom:335.333333pt;}
.yb2{bottom:336.000000pt;}
.y51{bottom:345.333333pt;}
.yb1{bottom:352.000000pt;}
.y50{bottom:366.666667pt;}
.yb0{bottom:373.333333pt;}
.y29{bottom:380.000000pt;}
.y4f{bottom:388.000000pt;}
.yaf{bottom:394.666667pt;}
.y74{bottom:404.000000pt;}
.y28{bottom:406.666667pt;}
.y4e{bottom:409.333333pt;}
.yae{bottom:416.000000pt;}
.y73{bottom:420.000000pt;}
.y27{bottom:430.666667pt;}
.yad{bottom:437.333333pt;}
.y8c{bottom:441.333333pt;}
.y4d{bottom:452.000000pt;}
.y26{bottom:454.666667pt;}
.yac{bottom:458.666667pt;}
.y7d{bottom:462.000000pt;}
.y8b{bottom:462.666667pt;}
.y25{bottom:470.666667pt;}
.y4c{bottom:473.333333pt;}
.yab{bottom:480.000000pt;}
.ybe{bottom:484.000000pt;}
.y24{bottom:492.000000pt;}
.y4b{bottom:494.666667pt;}
.yaa{bottom:501.333333pt;}
.y94{bottom:504.666667pt;}
.y72{bottom:506.666667pt;}
.y4a{bottom:510.666667pt;}
.y23{bottom:513.333333pt;}
.ya9{bottom:517.333333pt;}
.yd{bottom:518.000000pt;}
.yc2{bottom:526.000000pt;}
.y49{bottom:526.666667pt;}
.y71{bottom:533.333333pt;}
.y22{bottom:534.666667pt;}
.yc{bottom:542.000000pt;}
.y48{bottom:548.000000pt;}
.y8a{bottom:549.333333pt;}
.ya8{bottom:554.666667pt;}
.y21{bottom:556.000000pt;}
.y70{bottom:557.333333pt;}
.y47{bottom:569.333333pt;}
.ybd{bottom:570.666667pt;}
.y20{bottom:572.000000pt;}
.y89{bottom:576.000000pt;}
.y6f{bottom:581.333333pt;}
.yb{bottom:582.000000pt;}
.y1f{bottom:593.333333pt;}
.yb9{bottom:596.666667pt;}
.y6e{bottom:597.333333pt;}
.y88{bottom:600.000000pt;}
.ya{bottom:602.000000pt;}
.y5c{bottom:611.333333pt;}
.y9{bottom:615.333333pt;}
.y6d{bottom:618.666667pt;}
.ybc{bottom:621.333333pt;}
.y87{bottom:624.000000pt;}
.y35{bottom:635.333333pt;}
.y6c{bottom:640.000000pt;}
.ya7{bottom:641.333333pt;}
.y8{bottom:645.333333pt;}
.y46{bottom:656.000000pt;}
.y7{bottom:658.666667pt;}
.y6b{bottom:661.333333pt;}
.ya6{bottom:668.000000pt;}
.y1e{bottom:680.000000pt;}
.y45{bottom:682.666667pt;}
.ya5{bottom:692.000000pt;}
.y6{bottom:698.666667pt;}
.y5{bottom:701.333333pt;}
.y86{bottom:704.000000pt;}
.y1d{bottom:706.666667pt;}
.y6a{bottom:714.666667pt;}
.ya4{bottom:716.000000pt;}
.y85{bottom:725.333333pt;}
.y1c{bottom:730.666667pt;}
.ya3{bottom:732.000000pt;}
.y84{bottom:741.333333pt;}
.y44{bottom:746.666667pt;}
.ya2{bottom:753.333333pt;}
.y1b{bottom:754.666667pt;}
.y7c{bottom:756.666667pt;}
.y83{bottom:757.333333pt;}
.ybb{bottom:762.666667pt;}
.y43{bottom:768.000000pt;}
.y1a{bottom:770.666667pt;}
.ya1{bottom:774.666667pt;}
.y82{bottom:778.666667pt;}
.y4{bottom:781.333333pt;}
.y42{bottom:789.333333pt;}
.y19{bottom:792.000000pt;}
.ya0{bottom:796.000000pt;}
.y81{bottom:800.000000pt;}
.y69{bottom:801.333333pt;}
.y41{bottom:810.666667pt;}
.y18{bottom:813.333333pt;}
.y9f{bottom:817.333333pt;}
.y68{bottom:828.000000pt;}
.y40{bottom:832.000000pt;}
.y17{bottom:834.666667pt;}
.y9e{bottom:838.666667pt;}
.y93{bottom:842.000000pt;}
.y67{bottom:852.000000pt;}
.y3f{bottom:853.333333pt;}
.y16{bottom:856.000000pt;}
.y9d{bottom:860.000000pt;}
.y15{bottom:872.000000pt;}
.y3e{bottom:874.666667pt;}
.y66{bottom:876.000000pt;}
.y9c{bottom:881.333333pt;}
.y80{bottom:886.666667pt;}
.y14{bottom:888.000000pt;}
.y65{bottom:892.000000pt;}
.y3d{bottom:896.000000pt;}
.y9b{bottom:902.666667pt;}
.y13{bottom:909.333333pt;}
.y3c{bottom:912.000000pt;}
.y64{bottom:913.333333pt;}
.y3{bottom:914.666667pt;}
.y2{bottom:917.333333pt;}
.y9a{bottom:924.000000pt;}
.y3b{bottom:928.000000pt;}
.y12{bottom:930.666667pt;}
.y63{bottom:934.666667pt;}
.y1{bottom:937.333333pt;}
.y99{bottom:945.333333pt;}
.y3a{bottom:949.333333pt;}
.y0{bottom:950.000000pt;}
.y62{bottom:956.000000pt;}
.y7f{bottom:961.333333pt;}
.y98{bottom:966.666667pt;}
.y34{bottom:972.666667pt;}
.y61{bottom:977.333333pt;}
.y97{bottom:988.000000pt;}
.y5b{bottom:991.333333pt;}
.y60{bottom:998.666667pt;}
.y96{bottom:1004.000000pt;}
.y11{bottom:1017.333333pt;}
.y5f{bottom:1020.000000pt;}
.y39{bottom:1036.000000pt;}
.y10{bottom:1038.666667pt;}
.y5e{bottom:1041.333333pt;}
.y37{bottom:1065.333333pt;}
.h2{height:62.630933pt;}
.h6{height:75.157120pt;}
.h9{height:78.875000pt;}
.h7{height:92.020833pt;}
.h5{height:93.946400pt;}
.h1{height:112.666667pt;}
.h4{height:125.261866pt;}
.h3{height:250.523733pt;}
.h8{height:1003.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:370.000000pt;}
.w2{width:647.333333pt;}
.w0{width:793.333333pt;}
.x0{left:73.333333pt;}
.x9{left:76.000000pt;}
.x6{left:164.920000pt;}
.xa{left:297.520000pt;}
.x5{left:308.466667pt;}
.x8{left:326.666667pt;}
.x3{left:347.786667pt;}
.x7{left:358.866667pt;}
.x1{left:368.106667pt;}
.x4{left:389.253333pt;}
.x2{left:394.813333pt;}
.xb{left:708.440000pt;}
}
