.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls7{letter-spacing:-0.054600px;}
.ls5{letter-spacing:-0.037800px;}
.ls2{letter-spacing:-0.031200px;}
.lsb{letter-spacing:-0.029400px;}
.ls14{letter-spacing:-0.025200px;}
.lse{letter-spacing:-0.021000px;}
.ls3{letter-spacing:-0.015600px;}
.ls1{letter-spacing:0.000000px;}
.lsf{letter-spacing:0.004200px;}
.ls15{letter-spacing:0.008400px;}
.ls12{letter-spacing:0.016800px;}
.ls0{letter-spacing:0.019224px;}
.ls16{letter-spacing:0.025200px;}
.ls4{letter-spacing:0.037800px;}
.ls9{letter-spacing:0.046200px;}
.ls8{letter-spacing:0.054600px;}
.ls10{letter-spacing:0.063000px;}
.ls13{letter-spacing:0.067200px;}
.lsa{letter-spacing:0.071400px;}
.lsd{letter-spacing:0.079800px;}
.ls11{letter-spacing:0.084000px;}
.ls6{letter-spacing:0.121800px;}
.lsc{letter-spacing:0.147000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws4{word-spacing:-0.126000px;}
.ws2{word-spacing:-0.097200px;}
.ws1{word-spacing:-0.046800px;}
.wsd{word-spacing:-0.025200px;}
.ws7{word-spacing:-0.012600px;}
.wsa{word-spacing:-0.004200px;}
.ws0{word-spacing:0.000000px;}
.ws5{word-spacing:0.004200px;}
.ws6{word-spacing:0.012600px;}
.wse{word-spacing:0.021000px;}
.ws14{word-spacing:0.033600px;}
.wsf{word-spacing:0.042000px;}
.ws13{word-spacing:0.050400px;}
.ws9{word-spacing:0.054600px;}
.wsb{word-spacing:0.058800px;}
.ws12{word-spacing:0.084000px;}
.wsc{word-spacing:0.088200px;}
.ws11{word-spacing:0.113400px;}
.ws3{word-spacing:0.336000px;}
.ws10{word-spacing:1.659000px;}
.ws8{word-spacing:11.260200px;}
._2{margin-left:-7.098000px;}
._0{margin-left:-4.212000px;}
._4{margin-left:-2.460000px;}
._1{margin-left:-1.404000px;}
._3{width:1.134000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:42.000000px;}
.fs2{font-size:54.000000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:78.000000px;}
.y10{bottom:17.000000px;}
.yf{bottom:52.520300px;}
.y3c{bottom:87.625000px;}
.y3b{bottom:103.228000px;}
.y3a{bottom:118.831000px;}
.y39{bottom:134.434000px;}
.y38{bottom:150.037000px;}
.y37{bottom:165.640000px;}
.y36{bottom:181.243000px;}
.y35{bottom:196.846000px;}
.y34{bottom:212.386000px;}
.y33{bottom:228.041500px;}
.y32{bottom:243.581500px;}
.y31{bottom:259.237000px;}
.y30{bottom:274.840000px;}
.y2f{bottom:290.443000px;}
.y2e{bottom:306.046000px;}
.y2d{bottom:321.649000px;}
.y2c{bottom:337.252000px;}
.y2b{bottom:352.855000px;}
.y2a{bottom:368.458000px;}
.y29{bottom:383.998000px;}
.y28{bottom:399.653500px;}
.y27{bottom:415.193500px;}
.ye{bottom:429.617300px;}
.y26{bottom:430.849000px;}
.yd{bottom:445.223300px;}
.y25{bottom:446.452000px;}
.y24{bottom:462.055000px;}
.yc{bottom:466.580300px;}
.y23{bottom:477.658000px;}
.y22{bottom:493.261000px;}
.yb{bottom:497.780300px;}
.y21{bottom:508.864000px;}
.y20{bottom:524.467000px;}
.ya{bottom:528.980300px;}
.y1f{bottom:540.070000px;}
.y9{bottom:554.417300px;}
.y1e{bottom:555.673000px;}
.y8{bottom:570.023300px;}
.y1d{bottom:571.213000px;}
.y1c{bottom:586.868500px;}
.y0{bottom:588.500000px;}
.y7{bottom:588.680300px;}
.y1b{bottom:602.408500px;}
.y1a{bottom:618.064000px;}
.y19{bottom:633.667000px;}
.y18{bottom:649.270000px;}
.y17{bottom:664.873000px;}
.y16{bottom:680.476000px;}
.y6{bottom:694.796300px;}
.y15{bottom:696.079000px;}
.y5{bottom:710.402300px;}
.y14{bottom:711.682000px;}
.y4{bottom:726.008300px;}
.y13{bottom:727.285000px;}
.y3{bottom:741.614300px;}
.y12{bottom:742.825000px;}
.y2{bottom:757.220300px;}
.y11{bottom:758.480500px;}
.y1{bottom:784.580300px;}
.h5{height:46.593750px;}
.h7{height:48.090820px;}
.h3{height:61.831055px;}
.h6{height:69.015625px;}
.h2{height:73.372852px;}
.h4{height:89.311523px;}
.h1{height:98.000000px;}
.h0{height:842.000000px;}
.w1{width:342.500000px;}
.w0{width:595.220000px;}
.x9{left:90.001400px;}
.x0{left:126.500000px;}
.x5{left:137.034000px;}
.x8{left:245.000000px;}
.x4{left:260.820000px;}
.x6{left:263.401500px;}
.x1{left:267.420000px;}
.x2{left:297.660000px;}
.x3{left:468.660000px;}
.x7{left:492.900000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls7{letter-spacing:-0.072800pt;}
.ls5{letter-spacing:-0.050400pt;}
.ls2{letter-spacing:-0.041600pt;}
.lsb{letter-spacing:-0.039200pt;}
.ls14{letter-spacing:-0.033600pt;}
.lse{letter-spacing:-0.028000pt;}
.ls3{letter-spacing:-0.020800pt;}
.ls1{letter-spacing:0.000000pt;}
.lsf{letter-spacing:0.005600pt;}
.ls15{letter-spacing:0.011200pt;}
.ls12{letter-spacing:0.022400pt;}
.ls0{letter-spacing:0.025632pt;}
.ls16{letter-spacing:0.033600pt;}
.ls4{letter-spacing:0.050400pt;}
.ls9{letter-spacing:0.061600pt;}
.ls8{letter-spacing:0.072800pt;}
.ls10{letter-spacing:0.084000pt;}
.ls13{letter-spacing:0.089600pt;}
.lsa{letter-spacing:0.095200pt;}
.lsd{letter-spacing:0.106400pt;}
.ls11{letter-spacing:0.112000pt;}
.ls6{letter-spacing:0.162400pt;}
.lsc{letter-spacing:0.196000pt;}
.ws4{word-spacing:-0.168000pt;}
.ws2{word-spacing:-0.129600pt;}
.ws1{word-spacing:-0.062400pt;}
.wsd{word-spacing:-0.033600pt;}
.ws7{word-spacing:-0.016800pt;}
.wsa{word-spacing:-0.005600pt;}
.ws0{word-spacing:0.000000pt;}
.ws5{word-spacing:0.005600pt;}
.ws6{word-spacing:0.016800pt;}
.wse{word-spacing:0.028000pt;}
.ws14{word-spacing:0.044800pt;}
.wsf{word-spacing:0.056000pt;}
.ws13{word-spacing:0.067200pt;}
.ws9{word-spacing:0.072800pt;}
.wsb{word-spacing:0.078400pt;}
.ws12{word-spacing:0.112000pt;}
.wsc{word-spacing:0.117600pt;}
.ws11{word-spacing:0.151200pt;}
.ws3{word-spacing:0.448000pt;}
.ws10{word-spacing:2.212000pt;}
.ws8{word-spacing:15.013600pt;}
._2{margin-left:-9.464000pt;}
._0{margin-left:-5.616000pt;}
._4{margin-left:-3.280000pt;}
._1{margin-left:-1.872000pt;}
._3{width:1.512000pt;}
.fs1{font-size:56.000000pt;}
.fs2{font-size:72.000000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:104.000000pt;}
.y10{bottom:22.666667pt;}
.yf{bottom:70.027067pt;}
.y3c{bottom:116.833333pt;}
.y3b{bottom:137.637333pt;}
.y3a{bottom:158.441333pt;}
.y39{bottom:179.245333pt;}
.y38{bottom:200.049333pt;}
.y37{bottom:220.853333pt;}
.y36{bottom:241.657333pt;}
.y35{bottom:262.461333pt;}
.y34{bottom:283.181333pt;}
.y33{bottom:304.055333pt;}
.y32{bottom:324.775333pt;}
.y31{bottom:345.649333pt;}
.y30{bottom:366.453333pt;}
.y2f{bottom:387.257333pt;}
.y2e{bottom:408.061333pt;}
.y2d{bottom:428.865333pt;}
.y2c{bottom:449.669333pt;}
.y2b{bottom:470.473333pt;}
.y2a{bottom:491.277333pt;}
.y29{bottom:511.997333pt;}
.y28{bottom:532.871333pt;}
.y27{bottom:553.591333pt;}
.ye{bottom:572.823067pt;}
.y26{bottom:574.465333pt;}
.yd{bottom:593.631067pt;}
.y25{bottom:595.269333pt;}
.y24{bottom:616.073333pt;}
.yc{bottom:622.107067pt;}
.y23{bottom:636.877333pt;}
.y22{bottom:657.681333pt;}
.yb{bottom:663.707067pt;}
.y21{bottom:678.485333pt;}
.y20{bottom:699.289333pt;}
.ya{bottom:705.307067pt;}
.y1f{bottom:720.093333pt;}
.y9{bottom:739.223067pt;}
.y1e{bottom:740.897333pt;}
.y8{bottom:760.031067pt;}
.y1d{bottom:761.617333pt;}
.y1c{bottom:782.491333pt;}
.y0{bottom:784.666667pt;}
.y7{bottom:784.907067pt;}
.y1b{bottom:803.211333pt;}
.y1a{bottom:824.085333pt;}
.y19{bottom:844.889333pt;}
.y18{bottom:865.693333pt;}
.y17{bottom:886.497333pt;}
.y16{bottom:907.301333pt;}
.y6{bottom:926.395067pt;}
.y15{bottom:928.105333pt;}
.y5{bottom:947.203067pt;}
.y14{bottom:948.909333pt;}
.y4{bottom:968.011067pt;}
.y13{bottom:969.713333pt;}
.y3{bottom:988.819067pt;}
.y12{bottom:990.433333pt;}
.y2{bottom:1009.627067pt;}
.y11{bottom:1011.307333pt;}
.y1{bottom:1046.107067pt;}
.h5{height:62.125000pt;}
.h7{height:64.121094pt;}
.h3{height:82.441406pt;}
.h6{height:92.020833pt;}
.h2{height:97.830469pt;}
.h4{height:119.082031pt;}
.h1{height:130.666667pt;}
.h0{height:1122.666667pt;}
.w1{width:456.666667pt;}
.w0{width:793.626667pt;}
.x9{left:120.001867pt;}
.x0{left:168.666667pt;}
.x5{left:182.712000pt;}
.x8{left:326.666667pt;}
.x4{left:347.760000pt;}
.x6{left:351.202000pt;}
.x1{left:356.560000pt;}
.x2{left:396.880000pt;}
.x3{left:624.880000pt;}
.x7{left:657.200000pt;}
}
