.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls4{letter-spacing:-0.069696px;}
.ls5{letter-spacing:-0.037800px;}
.lsc{letter-spacing:-0.029400px;}
.ls1{letter-spacing:0.000000px;}
.lsb{letter-spacing:0.004200px;}
.lsf{letter-spacing:0.012600px;}
.ls15{letter-spacing:0.016800px;}
.ls0{letter-spacing:0.019224px;}
.ls10{letter-spacing:0.021000px;}
.ls2{letter-spacing:0.022176px;}
.ls9{letter-spacing:0.029400px;}
.ls12{letter-spacing:0.033600px;}
.lse{letter-spacing:0.042000px;}
.ls3{letter-spacing:0.044352px;}
.ls11{letter-spacing:0.046200px;}
.ls16{letter-spacing:0.050400px;}
.ls8{letter-spacing:0.054600px;}
.ls13{letter-spacing:0.063000px;}
.ls7{letter-spacing:0.067200px;}
.ls14{letter-spacing:0.071400px;}
.lsa{letter-spacing:0.084000px;}
.ls6{letter-spacing:0.121800px;}
.lsd{letter-spacing:0.147000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws6{word-spacing:-0.688800px;}
.ws2{word-spacing:-0.052272px;}
.ws1{word-spacing:-0.044352px;}
.ws7{word-spacing:-0.025200px;}
.ws12{word-spacing:-0.012600px;}
.ws4{word-spacing:-0.008400px;}
.ws0{word-spacing:0.000000px;}
.ws5{word-spacing:0.004200px;}
.ws13{word-spacing:0.008400px;}
.wsc{word-spacing:0.012600px;}
.ws9{word-spacing:0.016800px;}
.wse{word-spacing:0.025200px;}
.wsb{word-spacing:0.037800px;}
.ws11{word-spacing:0.042000px;}
.wsa{word-spacing:0.046200px;}
.ws8{word-spacing:0.054600px;}
.ws3{word-spacing:0.336000px;}
.ws10{word-spacing:2.646000px;}
.wsf{word-spacing:2.877000px;}
.wsd{word-spacing:5.514600px;}
._2{margin-left:-6.800640px;}
._3{margin-left:-5.169120px;}
._1{margin-left:-3.917760px;}
._4{margin-left:-2.772000px;}
._0{margin-left:-1.478400px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:42.000000px;}
.fs4{font-size:56.000000px;}
.fs2{font-size:58.080000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:73.920000px;}
.ye{bottom:17.000000px;}
.yd{bottom:52.520300px;}
.y3a{bottom:87.617600px;}
.y39{bottom:103.220600px;}
.y38{bottom:118.823600px;}
.y37{bottom:134.426600px;}
.y36{bottom:150.029600px;}
.y35{bottom:165.632600px;}
.y34{bottom:181.235600px;}
.y33{bottom:196.838600px;}
.y32{bottom:212.378600px;}
.y31{bottom:228.034100px;}
.y30{bottom:243.574100px;}
.y2f{bottom:259.229600px;}
.y2e{bottom:274.832600px;}
.y2d{bottom:290.435600px;}
.y2c{bottom:306.038600px;}
.y2b{bottom:321.641600px;}
.y2a{bottom:337.244600px;}
.y29{bottom:352.847600px;}
.y28{bottom:368.450600px;}
.y27{bottom:384.053600px;}
.yc{bottom:390.256580px;}
.y26{bottom:399.593600px;}
.y25{bottom:415.249100px;}
.yb{bottom:421.460060px;}
.y24{bottom:430.789100px;}
.y23{bottom:446.444600px;}
.ya{bottom:451.400300px;}
.y9{bottom:451.411820px;}
.y22{bottom:462.047600px;}
.y21{bottom:477.650600px;}
.y8{bottom:482.606060px;}
.y20{bottom:493.253600px;}
.y1f{bottom:508.856600px;}
.y7{bottom:513.800300px;}
.y1e{bottom:524.459600px;}
.y1d{bottom:540.062600px;}
.y6{bottom:546.258380px;}
.y1c{bottom:555.665600px;}
.y1b{bottom:571.205600px;}
.y5{bottom:577.461860px;}
.y1a{bottom:586.861100px;}
.y19{bottom:602.401100px;}
.y0{bottom:604.000000px;}
.y4{bottom:604.280300px;}
.y18{bottom:618.056600px;}
.y17{bottom:633.659600px;}
.y16{bottom:649.262600px;}
.y15{bottom:664.865600px;}
.y14{bottom:680.468600px;}
.y13{bottom:696.071600px;}
.y12{bottom:711.674600px;}
.y3{bottom:717.856820px;}
.y11{bottom:727.277600px;}
.y10{bottom:742.880600px;}
.y2{bottom:749.060300px;}
.yf{bottom:758.420600px;}
.y1{bottom:784.580300px;}
.h5{height:46.593750px;}
.h7{height:48.090820px;}
.h3{height:66.502734px;}
.h6{height:69.015625px;}
.h2{height:73.372852px;}
.h4{height:84.639844px;}
.h1{height:98.000000px;}
.h0{height:842.000000px;}
.w1{width:342.500000px;}
.w0{width:595.220000px;}
.xa{left:90.000300px;}
.x5{left:95.532960px;}
.x0{left:126.500000px;}
.x9{left:245.000000px;}
.x7{left:260.886000px;}
.x4{left:262.740000px;}
.x1{left:267.420000px;}
.x2{left:297.660000px;}
.x3{left:468.660000px;}
.x8{left:492.900000px;}
.x6{left:499.740000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls4{letter-spacing:-0.092928pt;}
.ls5{letter-spacing:-0.050400pt;}
.lsc{letter-spacing:-0.039200pt;}
.ls1{letter-spacing:0.000000pt;}
.lsb{letter-spacing:0.005600pt;}
.lsf{letter-spacing:0.016800pt;}
.ls15{letter-spacing:0.022400pt;}
.ls0{letter-spacing:0.025632pt;}
.ls10{letter-spacing:0.028000pt;}
.ls2{letter-spacing:0.029568pt;}
.ls9{letter-spacing:0.039200pt;}
.ls12{letter-spacing:0.044800pt;}
.lse{letter-spacing:0.056000pt;}
.ls3{letter-spacing:0.059136pt;}
.ls11{letter-spacing:0.061600pt;}
.ls16{letter-spacing:0.067200pt;}
.ls8{letter-spacing:0.072800pt;}
.ls13{letter-spacing:0.084000pt;}
.ls7{letter-spacing:0.089600pt;}
.ls14{letter-spacing:0.095200pt;}
.lsa{letter-spacing:0.112000pt;}
.ls6{letter-spacing:0.162400pt;}
.lsd{letter-spacing:0.196000pt;}
.ws6{word-spacing:-0.918400pt;}
.ws2{word-spacing:-0.069696pt;}
.ws1{word-spacing:-0.059136pt;}
.ws7{word-spacing:-0.033600pt;}
.ws12{word-spacing:-0.016800pt;}
.ws4{word-spacing:-0.011200pt;}
.ws0{word-spacing:0.000000pt;}
.ws5{word-spacing:0.005600pt;}
.ws13{word-spacing:0.011200pt;}
.wsc{word-spacing:0.016800pt;}
.ws9{word-spacing:0.022400pt;}
.wse{word-spacing:0.033600pt;}
.wsb{word-spacing:0.050400pt;}
.ws11{word-spacing:0.056000pt;}
.wsa{word-spacing:0.061600pt;}
.ws8{word-spacing:0.072800pt;}
.ws3{word-spacing:0.448000pt;}
.ws10{word-spacing:3.528000pt;}
.wsf{word-spacing:3.836000pt;}
.wsd{word-spacing:7.352800pt;}
._2{margin-left:-9.067520pt;}
._3{margin-left:-6.892160pt;}
._1{margin-left:-5.223680pt;}
._4{margin-left:-3.696000pt;}
._0{margin-left:-1.971200pt;}
.fs1{font-size:56.000000pt;}
.fs4{font-size:74.666667pt;}
.fs2{font-size:77.440000pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:98.560000pt;}
.ye{bottom:22.666667pt;}
.yd{bottom:70.027067pt;}
.y3a{bottom:116.823467pt;}
.y39{bottom:137.627467pt;}
.y38{bottom:158.431467pt;}
.y37{bottom:179.235467pt;}
.y36{bottom:200.039467pt;}
.y35{bottom:220.843467pt;}
.y34{bottom:241.647467pt;}
.y33{bottom:262.451467pt;}
.y32{bottom:283.171467pt;}
.y31{bottom:304.045467pt;}
.y30{bottom:324.765467pt;}
.y2f{bottom:345.639467pt;}
.y2e{bottom:366.443467pt;}
.y2d{bottom:387.247467pt;}
.y2c{bottom:408.051467pt;}
.y2b{bottom:428.855467pt;}
.y2a{bottom:449.659467pt;}
.y29{bottom:470.463467pt;}
.y28{bottom:491.267467pt;}
.y27{bottom:512.071467pt;}
.yc{bottom:520.342107pt;}
.y26{bottom:532.791467pt;}
.y25{bottom:553.665467pt;}
.yb{bottom:561.946747pt;}
.y24{bottom:574.385467pt;}
.y23{bottom:595.259467pt;}
.ya{bottom:601.867067pt;}
.y9{bottom:601.882427pt;}
.y22{bottom:616.063467pt;}
.y21{bottom:636.867467pt;}
.y8{bottom:643.474747pt;}
.y20{bottom:657.671467pt;}
.y1f{bottom:678.475467pt;}
.y7{bottom:685.067067pt;}
.y1e{bottom:699.279467pt;}
.y1d{bottom:720.083467pt;}
.y6{bottom:728.344507pt;}
.y1c{bottom:740.887467pt;}
.y1b{bottom:761.607467pt;}
.y5{bottom:769.949147pt;}
.y1a{bottom:782.481467pt;}
.y19{bottom:803.201467pt;}
.y0{bottom:805.333333pt;}
.y4{bottom:805.707067pt;}
.y18{bottom:824.075467pt;}
.y17{bottom:844.879467pt;}
.y16{bottom:865.683467pt;}
.y15{bottom:886.487467pt;}
.y14{bottom:907.291467pt;}
.y13{bottom:928.095467pt;}
.y12{bottom:948.899467pt;}
.y3{bottom:957.142427pt;}
.y11{bottom:969.703467pt;}
.y10{bottom:990.507467pt;}
.y2{bottom:998.747067pt;}
.yf{bottom:1011.227467pt;}
.y1{bottom:1046.107067pt;}
.h5{height:62.125000pt;}
.h7{height:64.121094pt;}
.h3{height:88.670312pt;}
.h6{height:92.020833pt;}
.h2{height:97.830469pt;}
.h4{height:112.853125pt;}
.h1{height:130.666667pt;}
.h0{height:1122.666667pt;}
.w1{width:456.666667pt;}
.w0{width:793.626667pt;}
.xa{left:120.000400pt;}
.x5{left:127.377280pt;}
.x0{left:168.666667pt;}
.x9{left:326.666667pt;}
.x7{left:347.848000pt;}
.x4{left:350.320000pt;}
.x1{left:356.560000pt;}
.x2{left:396.880000pt;}
.x3{left:624.880000pt;}
.x8{left:657.200000pt;}
.x6{left:666.320000pt;}
}
