.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls4{letter-spacing:-5.777136px;}
.ls11{letter-spacing:-0.054600px;}
.ls6{letter-spacing:-0.037800px;}
.lsc{letter-spacing:-0.033600px;}
.ls13{letter-spacing:-0.029400px;}
.lsa{letter-spacing:-0.025200px;}
.lsf{letter-spacing:-0.012600px;}
.ls9{letter-spacing:-0.008400px;}
.ls16{letter-spacing:-0.004200px;}
.ls1{letter-spacing:0.000000px;}
.lse{letter-spacing:0.004200px;}
.ls0{letter-spacing:0.019224px;}
.ls19{letter-spacing:0.021000px;}
.ls1c{letter-spacing:0.029400px;}
.ls3{letter-spacing:0.030960px;}
.ls18{letter-spacing:0.033600px;}
.ls5{letter-spacing:0.037800px;}
.lsb{letter-spacing:0.042000px;}
.ls10{letter-spacing:0.046200px;}
.ls17{letter-spacing:0.050400px;}
.ls1a{letter-spacing:0.054600px;}
.lsd{letter-spacing:0.063000px;}
.ls1b{letter-spacing:0.067200px;}
.ls15{letter-spacing:0.071400px;}
.ls8{letter-spacing:0.079800px;}
.ls2{letter-spacing:0.080496px;}
.ls12{letter-spacing:0.084000px;}
.ls7{letter-spacing:0.121800px;}
.ls14{letter-spacing:0.147000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws16{word-spacing:-0.247800px;}
.ws3{word-spacing:-0.097200px;}
.ws15{word-spacing:-0.025200px;}
.wsd{word-spacing:-0.012600px;}
.ws9{word-spacing:-0.004200px;}
.ws0{word-spacing:0.000000px;}
.ws12{word-spacing:0.004200px;}
.wsc{word-spacing:0.012600px;}
.ws6{word-spacing:0.016800px;}
.wsa{word-spacing:0.054600px;}
.wse{word-spacing:0.063000px;}
.wsb{word-spacing:0.071400px;}
.ws7{word-spacing:0.084000px;}
.ws1{word-spacing:0.086688px;}
.ws8{word-spacing:0.092400px;}
.wsf{word-spacing:0.096600px;}
.ws4{word-spacing:0.336000px;}
.ws10{word-spacing:4.090800px;}
.ws11{word-spacing:4.107600px;}
.ws13{word-spacing:4.313400px;}
.ws14{word-spacing:4.347000px;}
.ws2{word-spacing:5.894784px;}
.ws5{word-spacing:113.500800px;}
._2{margin-left:-5.572800px;}
._0{margin-left:-4.272480px;}
._5{margin-left:-2.562000px;}
._1{margin-left:-1.176480px;}
._4{width:1.008000px;}
._3{width:5.882400px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:42.000000px;}
.fs2{font-size:54.000000px;}
.fs4{font-size:56.000000px;}
.fs3{font-size:61.920000px;}
.fs0{font-size:64.080000px;}
.y12{bottom:17.000000px;}
.y11{bottom:52.520300px;}
.y3e{bottom:87.625000px;}
.y3d{bottom:103.228000px;}
.y3c{bottom:118.831000px;}
.y3b{bottom:134.434000px;}
.y3a{bottom:149.974000px;}
.y39{bottom:165.629500px;}
.y38{bottom:181.169500px;}
.y37{bottom:196.825000px;}
.y36{bottom:212.428000px;}
.y35{bottom:228.031000px;}
.y34{bottom:243.634000px;}
.y33{bottom:259.237000px;}
.y32{bottom:274.840000px;}
.y31{bottom:290.443000px;}
.y30{bottom:306.046000px;}
.y2f{bottom:321.649000px;}
.y2e{bottom:337.189000px;}
.y2d{bottom:352.844500px;}
.y2c{bottom:368.384500px;}
.y2b{bottom:384.040000px;}
.y2a{bottom:399.643000px;}
.y10{bottom:414.018800px;}
.y29{bottom:415.246000px;}
.yf{bottom:429.624800px;}
.y28{bottom:430.849000px;}
.y27{bottom:446.452000px;}
.ye{bottom:452.480300px;}
.yd{bottom:452.495900px;}
.y26{bottom:462.055000px;}
.y25{bottom:477.658000px;}
.yc{bottom:483.688100px;}
.y24{bottom:493.261000px;}
.y23{bottom:508.864000px;}
.yb{bottom:514.880300px;}
.y22{bottom:524.404000px;}
.ya{bottom:538.811300px;}
.y21{bottom:540.059500px;}
.y9{bottom:554.417300px;}
.y20{bottom:555.599500px;}
.y8{bottom:570.023300px;}
.y1f{bottom:571.255000px;}
.y1e{bottom:586.858000px;}
.y0{bottom:588.500000px;}
.y7{bottom:588.680300px;}
.y1d{bottom:602.461000px;}
.y1c{bottom:618.064000px;}
.y1b{bottom:633.667000px;}
.y1a{bottom:649.270000px;}
.y19{bottom:664.873000px;}
.y18{bottom:680.476000px;}
.y6{bottom:694.796300px;}
.y17{bottom:696.079000px;}
.y5{bottom:710.402300px;}
.y16{bottom:711.682000px;}
.y4{bottom:726.008300px;}
.y15{bottom:727.285000px;}
.y3{bottom:741.614300px;}
.y14{bottom:742.825000px;}
.y2{bottom:757.220300px;}
.y13{bottom:758.480500px;}
.y1{bottom:784.580300px;}
.h5{height:46.593750px;}
.h7{height:48.090820px;}
.h3{height:61.831055px;}
.h6{height:69.015625px;}
.h4{height:70.899609px;}
.h2{height:73.372852px;}
.h1{height:98.000000px;}
.h0{height:842.000000px;}
.w1{width:342.500000px;}
.w0{width:595.220000px;}
.xa{left:90.001400px;}
.x4{left:96.536520px;}
.x0{left:126.500000px;}
.x9{left:245.000000px;}
.x7{left:263.391000px;}
.x1{left:267.420000px;}
.x5{left:274.432680px;}
.x2{left:297.660000px;}
.x6{left:320.820000px;}
.x3{left:468.660000px;}
.x8{left:492.900000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls4{letter-spacing:-7.702848pt;}
.ls11{letter-spacing:-0.072800pt;}
.ls6{letter-spacing:-0.050400pt;}
.lsc{letter-spacing:-0.044800pt;}
.ls13{letter-spacing:-0.039200pt;}
.lsa{letter-spacing:-0.033600pt;}
.lsf{letter-spacing:-0.016800pt;}
.ls9{letter-spacing:-0.011200pt;}
.ls16{letter-spacing:-0.005600pt;}
.ls1{letter-spacing:0.000000pt;}
.lse{letter-spacing:0.005600pt;}
.ls0{letter-spacing:0.025632pt;}
.ls19{letter-spacing:0.028000pt;}
.ls1c{letter-spacing:0.039200pt;}
.ls3{letter-spacing:0.041280pt;}
.ls18{letter-spacing:0.044800pt;}
.ls5{letter-spacing:0.050400pt;}
.lsb{letter-spacing:0.056000pt;}
.ls10{letter-spacing:0.061600pt;}
.ls17{letter-spacing:0.067200pt;}
.ls1a{letter-spacing:0.072800pt;}
.lsd{letter-spacing:0.084000pt;}
.ls1b{letter-spacing:0.089600pt;}
.ls15{letter-spacing:0.095200pt;}
.ls8{letter-spacing:0.106400pt;}
.ls2{letter-spacing:0.107328pt;}
.ls12{letter-spacing:0.112000pt;}
.ls7{letter-spacing:0.162400pt;}
.ls14{letter-spacing:0.196000pt;}
.ws16{word-spacing:-0.330400pt;}
.ws3{word-spacing:-0.129600pt;}
.ws15{word-spacing:-0.033600pt;}
.wsd{word-spacing:-0.016800pt;}
.ws9{word-spacing:-0.005600pt;}
.ws0{word-spacing:0.000000pt;}
.ws12{word-spacing:0.005600pt;}
.wsc{word-spacing:0.016800pt;}
.ws6{word-spacing:0.022400pt;}
.wsa{word-spacing:0.072800pt;}
.wse{word-spacing:0.084000pt;}
.wsb{word-spacing:0.095200pt;}
.ws7{word-spacing:0.112000pt;}
.ws1{word-spacing:0.115584pt;}
.ws8{word-spacing:0.123200pt;}
.wsf{word-spacing:0.128800pt;}
.ws4{word-spacing:0.448000pt;}
.ws10{word-spacing:5.454400pt;}
.ws11{word-spacing:5.476800pt;}
.ws13{word-spacing:5.751200pt;}
.ws14{word-spacing:5.796000pt;}
.ws2{word-spacing:7.859712pt;}
.ws5{word-spacing:151.334400pt;}
._2{margin-left:-7.430400pt;}
._0{margin-left:-5.696640pt;}
._5{margin-left:-3.416000pt;}
._1{margin-left:-1.568640pt;}
._4{width:1.344000pt;}
._3{width:7.843200pt;}
.fs1{font-size:56.000000pt;}
.fs2{font-size:72.000000pt;}
.fs4{font-size:74.666667pt;}
.fs3{font-size:82.560000pt;}
.fs0{font-size:85.440000pt;}
.y12{bottom:22.666667pt;}
.y11{bottom:70.027067pt;}
.y3e{bottom:116.833333pt;}
.y3d{bottom:137.637333pt;}
.y3c{bottom:158.441333pt;}
.y3b{bottom:179.245333pt;}
.y3a{bottom:199.965333pt;}
.y39{bottom:220.839333pt;}
.y38{bottom:241.559333pt;}
.y37{bottom:262.433333pt;}
.y36{bottom:283.237333pt;}
.y35{bottom:304.041333pt;}
.y34{bottom:324.845333pt;}
.y33{bottom:345.649333pt;}
.y32{bottom:366.453333pt;}
.y31{bottom:387.257333pt;}
.y30{bottom:408.061333pt;}
.y2f{bottom:428.865333pt;}
.y2e{bottom:449.585333pt;}
.y2d{bottom:470.459333pt;}
.y2c{bottom:491.179333pt;}
.y2b{bottom:512.053333pt;}
.y2a{bottom:532.857333pt;}
.y10{bottom:552.025067pt;}
.y29{bottom:553.661333pt;}
.yf{bottom:572.833067pt;}
.y28{bottom:574.465333pt;}
.y27{bottom:595.269333pt;}
.ye{bottom:603.307067pt;}
.yd{bottom:603.327867pt;}
.y26{bottom:616.073333pt;}
.y25{bottom:636.877333pt;}
.yc{bottom:644.917467pt;}
.y24{bottom:657.681333pt;}
.y23{bottom:678.485333pt;}
.yb{bottom:686.507067pt;}
.y22{bottom:699.205333pt;}
.ya{bottom:718.415067pt;}
.y21{bottom:720.079333pt;}
.y9{bottom:739.223067pt;}
.y20{bottom:740.799333pt;}
.y8{bottom:760.031067pt;}
.y1f{bottom:761.673333pt;}
.y1e{bottom:782.477333pt;}
.y0{bottom:784.666667pt;}
.y7{bottom:784.907067pt;}
.y1d{bottom:803.281333pt;}
.y1c{bottom:824.085333pt;}
.y1b{bottom:844.889333pt;}
.y1a{bottom:865.693333pt;}
.y19{bottom:886.497333pt;}
.y18{bottom:907.301333pt;}
.y6{bottom:926.395067pt;}
.y17{bottom:928.105333pt;}
.y5{bottom:947.203067pt;}
.y16{bottom:948.909333pt;}
.y4{bottom:968.011067pt;}
.y15{bottom:969.713333pt;}
.y3{bottom:988.819067pt;}
.y14{bottom:990.433333pt;}
.y2{bottom:1009.627067pt;}
.y13{bottom:1011.307333pt;}
.y1{bottom:1046.107067pt;}
.h5{height:62.125000pt;}
.h7{height:64.121094pt;}
.h3{height:82.441406pt;}
.h6{height:92.020833pt;}
.h4{height:94.532812pt;}
.h2{height:97.830469pt;}
.h1{height:130.666667pt;}
.h0{height:1122.666667pt;}
.w1{width:456.666667pt;}
.w0{width:793.626667pt;}
.xa{left:120.001867pt;}
.x4{left:128.715360pt;}
.x0{left:168.666667pt;}
.x9{left:326.666667pt;}
.x7{left:351.188000pt;}
.x1{left:356.560000pt;}
.x5{left:365.910240pt;}
.x2{left:396.880000pt;}
.x6{left:427.760000pt;}
.x3{left:624.880000pt;}
.x8{left:657.200000pt;}
}
