.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:-0.076896px;}
.ls4{letter-spacing:-0.021960px;}
.ls2{letter-spacing:-0.012000px;}
.ls14{letter-spacing:-0.008784px;}
.lsd{letter-spacing:-0.004392px;}
.ls1{letter-spacing:0.000000px;}
.ls12{letter-spacing:0.008784px;}
.lsf{letter-spacing:0.013176px;}
.ls10{letter-spacing:0.017568px;}
.lsc{letter-spacing:0.021960px;}
.ls8{letter-spacing:0.026352px;}
.ls7{letter-spacing:0.030744px;}
.ls6{letter-spacing:0.035136px;}
.ls9{letter-spacing:0.039528px;}
.ls13{letter-spacing:0.043920px;}
.lsa{letter-spacing:0.048312px;}
.ls11{letter-spacing:0.052704px;}
.ls17{letter-spacing:0.061488px;}
.ls15{letter-spacing:0.079056px;}
.ls5{letter-spacing:0.101016px;}
.ls16{letter-spacing:0.105408px;}
.lse{letter-spacing:0.153720px;}
.lsb{letter-spacing:0.171288px;}
.ls3{letter-spacing:565.022016px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws9{word-spacing:-0.109800px;}
.wsc{word-spacing:-0.092232px;}
.ws16{word-spacing:-0.043920px;}
.ws4{word-spacing:-0.039528px;}
.ws15{word-spacing:-0.017568px;}
.ws0{word-spacing:0.000000px;}
.ws10{word-spacing:0.008784px;}
.ws1{word-spacing:0.012000px;}
.ws8{word-spacing:0.013176px;}
.ws12{word-spacing:0.017568px;}
.ws7{word-spacing:0.021960px;}
.ws5{word-spacing:0.026352px;}
.wsf{word-spacing:0.030744px;}
.ws6{word-spacing:0.035136px;}
.wsa{word-spacing:0.039528px;}
.wse{word-spacing:0.043920px;}
.wsd{word-spacing:0.048312px;}
.ws11{word-spacing:0.052704px;}
.ws2{word-spacing:0.061128px;}
.ws14{word-spacing:0.061488px;}
.wsb{word-spacing:0.065880px;}
.ws13{word-spacing:0.070272px;}
.ws3{word-spacing:0.320616px;}
._0{margin-left:-1.089216px;}
._1{width:1.137528px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs2{font-size:55.920000px;}
.fs5{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs4{font-size:67.920000px;}
.fs3{font-size:120.000000px;}
.ye{bottom:16.000000px;}
.yd{bottom:39.840100px;}
.y71{bottom:77.127120px;}
.y2b{bottom:82.573200px;}
.y45{bottom:82.584180px;}
.y5e{bottom:91.697580px;}
.y70{bottom:101.667420px;}
.y2a{bottom:107.113500px;}
.y44{bottom:107.124480px;}
.y5d{bottom:116.237880px;}
.y29{bottom:121.694940px;}
.y6f{bottom:126.207720px;}
.y43{bottom:131.664780px;}
.y28{bottom:136.210500px;}
.y5c{bottom:140.778180px;}
.y6e{bottom:150.748020px;}
.y42{bottom:156.205080px;}
.y27{bottom:160.750800px;}
.y5b{bottom:165.318480px;}
.y6d{bottom:175.343220px;}
.y41{bottom:180.745380px;}
.y26{bottom:185.291100px;}
.y5a{bottom:189.858780px;}
.y40{bottom:195.326820px;}
.y6c{bottom:199.883520px;}
.y25{bottom:209.831400px;}
.y59{bottom:214.399080px;}
.y3f{bottom:219.867120px;}
.y6b{bottom:224.423820px;}
.y24{bottom:234.371700px;}
.y58{bottom:238.939380px;}
.y3e{bottom:244.407420px;}
.y6a{bottom:248.964120px;}
.y23{bottom:258.966900px;}
.y57{bottom:263.479680px;}
.y3d{bottom:268.947720px;}
.y69{bottom:273.504420px;}
.y22{bottom:283.507200px;}
.yc{bottom:285.900100px;}
.y56{bottom:288.019980px;}
.y3c{bottom:293.488020px;}
.y68{bottom:298.044720px;}
.y21{bottom:308.047500px;}
.y55{bottom:312.615180px;}
.yb{bottom:312.660000px;}
.y3b{bottom:318.028320px;}
.y67{bottom:322.585020px;}
.y54{bottom:327.130740px;}
.y20{bottom:332.587800px;}
.y3a{bottom:342.623520px;}
.y66{bottom:347.125320px;}
.ya{bottom:350.220000px;}
.y53{bottom:351.671040px;}
.y1f{bottom:357.128100px;}
.y39{bottom:367.163820px;}
.y65{bottom:371.665620px;}
.y52{bottom:376.211340px;}
.y1e{bottom:381.668400px;}
.y9{bottom:389.820000px;}
.y38{bottom:391.704120px;}
.y1d{bottom:396.249840px;}
.y64{bottom:396.260820px;}
.y51{bottom:400.751640px;}
.y37{bottom:416.244420px;}
.y1c{bottom:420.790140px;}
.y63{bottom:420.801120px;}
.y50{bottom:425.291940px;}
.y62{bottom:435.316680px;}
.y8{bottom:439.560000px;}
.y36{bottom:440.784720px;}
.y1b{bottom:445.330440px;}
.y4f{bottom:449.832240px;}
.y35{bottom:455.300280px;}
.y1a{bottom:469.870740px;}
.y4e{bottom:474.427440px;}
.y0{bottom:479.500000px;}
.y34{bottom:479.840580px;}
.y7{bottom:479.982660px;}
.y19{bottom:494.411040px;}
.y4d{bottom:498.967740px;}
.y33{bottom:504.435780px;}
.y18{bottom:518.951340px;}
.y4c{bottom:523.508040px;}
.y32{bottom:528.976080px;}
.y17{bottom:543.491640px;}
.y4b{bottom:548.048340px;}
.y31{bottom:553.516380px;}
.y16{bottom:568.031940px;}
.y4a{bottom:572.588640px;}
.y30{bottom:578.056680px;}
.y49{bottom:587.104200px;}
.y15{bottom:592.572240px;}
.y6{bottom:592.843200px;}
.y61{bottom:597.128940px;}
.y48{bottom:611.699400px;}
.y14{bottom:617.112540px;}
.y5{bottom:621.348420px;}
.y60{bottom:621.669240px;}
.y2f{bottom:631.693980px;}
.y47{bottom:636.239700px;}
.y13{bottom:641.707740px;}
.y5f{bottom:646.209540px;}
.y4{bottom:649.909560px;}
.y12{bottom:656.223300px;}
.y2e{bottom:656.234280px;}
.y46{bottom:660.780000px;}
.y11{bottom:670.738860px;}
.y2d{bottom:670.749840px;}
.y3{bottom:678.414780px;}
.y10{bottom:685.320300px;}
.y2c{bottom:695.345040px;}
.y2{bottom:706.920000px;}
.yf{bottom:709.860600px;}
.y1{bottom:740.820000px;}
.h7{height:29.272852px;}
.h2{height:43.804688px;}
.h6{height:48.723750px;}
.h9{height:50.289258px;}
.h3{height:64.029492px;}
.h8{height:69.015625px;}
.h5{height:77.769727px;}
.h1{height:98.000000px;}
.h4{height:137.402344px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x7{left:72.000000px;}
.x5{left:99.420000px;}
.x0{left:135.500000px;}
.x9{left:253.000000px;}
.x4{left:256.020000px;}
.x6{left:264.900000px;}
.x1{left:279.180000px;}
.x2{left:306.000000px;}
.x3{left:477.716340px;}
.x8{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:-0.102528pt;}
.ls4{letter-spacing:-0.029280pt;}
.ls2{letter-spacing:-0.016000pt;}
.ls14{letter-spacing:-0.011712pt;}
.lsd{letter-spacing:-0.005856pt;}
.ls1{letter-spacing:0.000000pt;}
.ls12{letter-spacing:0.011712pt;}
.lsf{letter-spacing:0.017568pt;}
.ls10{letter-spacing:0.023424pt;}
.lsc{letter-spacing:0.029280pt;}
.ls8{letter-spacing:0.035136pt;}
.ls7{letter-spacing:0.040992pt;}
.ls6{letter-spacing:0.046848pt;}
.ls9{letter-spacing:0.052704pt;}
.ls13{letter-spacing:0.058560pt;}
.lsa{letter-spacing:0.064416pt;}
.ls11{letter-spacing:0.070272pt;}
.ls17{letter-spacing:0.081984pt;}
.ls15{letter-spacing:0.105408pt;}
.ls5{letter-spacing:0.134688pt;}
.ls16{letter-spacing:0.140544pt;}
.lse{letter-spacing:0.204960pt;}
.lsb{letter-spacing:0.228384pt;}
.ls3{letter-spacing:753.362688pt;}
.ws9{word-spacing:-0.146400pt;}
.wsc{word-spacing:-0.122976pt;}
.ws16{word-spacing:-0.058560pt;}
.ws4{word-spacing:-0.052704pt;}
.ws15{word-spacing:-0.023424pt;}
.ws0{word-spacing:0.000000pt;}
.ws10{word-spacing:0.011712pt;}
.ws1{word-spacing:0.016000pt;}
.ws8{word-spacing:0.017568pt;}
.ws12{word-spacing:0.023424pt;}
.ws7{word-spacing:0.029280pt;}
.ws5{word-spacing:0.035136pt;}
.wsf{word-spacing:0.040992pt;}
.ws6{word-spacing:0.046848pt;}
.wsa{word-spacing:0.052704pt;}
.wse{word-spacing:0.058560pt;}
.wsd{word-spacing:0.064416pt;}
.ws11{word-spacing:0.070272pt;}
.ws2{word-spacing:0.081504pt;}
.ws14{word-spacing:0.081984pt;}
.wsb{word-spacing:0.087840pt;}
.ws13{word-spacing:0.093696pt;}
.ws3{word-spacing:0.427488pt;}
._0{margin-left:-1.452288pt;}
._1{width:1.516704pt;}
.fs1{font-size:58.560000pt;}
.fs2{font-size:74.560000pt;}
.fs5{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs4{font-size:90.560000pt;}
.fs3{font-size:160.000000pt;}
.ye{bottom:21.333333pt;}
.yd{bottom:53.120133pt;}
.y71{bottom:102.836160pt;}
.y2b{bottom:110.097600pt;}
.y45{bottom:110.112240pt;}
.y5e{bottom:122.263440pt;}
.y70{bottom:135.556560pt;}
.y2a{bottom:142.818000pt;}
.y44{bottom:142.832640pt;}
.y5d{bottom:154.983840pt;}
.y29{bottom:162.259920pt;}
.y6f{bottom:168.276960pt;}
.y43{bottom:175.553040pt;}
.y28{bottom:181.614000pt;}
.y5c{bottom:187.704240pt;}
.y6e{bottom:200.997360pt;}
.y42{bottom:208.273440pt;}
.y27{bottom:214.334400pt;}
.y5b{bottom:220.424640pt;}
.y6d{bottom:233.790960pt;}
.y41{bottom:240.993840pt;}
.y26{bottom:247.054800pt;}
.y5a{bottom:253.145040pt;}
.y40{bottom:260.435760pt;}
.y6c{bottom:266.511360pt;}
.y25{bottom:279.775200pt;}
.y59{bottom:285.865440pt;}
.y3f{bottom:293.156160pt;}
.y6b{bottom:299.231760pt;}
.y24{bottom:312.495600pt;}
.y58{bottom:318.585840pt;}
.y3e{bottom:325.876560pt;}
.y6a{bottom:331.952160pt;}
.y23{bottom:345.289200pt;}
.y57{bottom:351.306240pt;}
.y3d{bottom:358.596960pt;}
.y69{bottom:364.672560pt;}
.y22{bottom:378.009600pt;}
.yc{bottom:381.200133pt;}
.y56{bottom:384.026640pt;}
.y3c{bottom:391.317360pt;}
.y68{bottom:397.392960pt;}
.y21{bottom:410.730000pt;}
.y55{bottom:416.820240pt;}
.yb{bottom:416.880000pt;}
.y3b{bottom:424.037760pt;}
.y67{bottom:430.113360pt;}
.y54{bottom:436.174320pt;}
.y20{bottom:443.450400pt;}
.y3a{bottom:456.831360pt;}
.y66{bottom:462.833760pt;}
.ya{bottom:466.960000pt;}
.y53{bottom:468.894720pt;}
.y1f{bottom:476.170800pt;}
.y39{bottom:489.551760pt;}
.y65{bottom:495.554160pt;}
.y52{bottom:501.615120pt;}
.y1e{bottom:508.891200pt;}
.y9{bottom:519.760000pt;}
.y38{bottom:522.272160pt;}
.y1d{bottom:528.333120pt;}
.y64{bottom:528.347760pt;}
.y51{bottom:534.335520pt;}
.y37{bottom:554.992560pt;}
.y1c{bottom:561.053520pt;}
.y63{bottom:561.068160pt;}
.y50{bottom:567.055920pt;}
.y62{bottom:580.422240pt;}
.y8{bottom:586.080000pt;}
.y36{bottom:587.712960pt;}
.y1b{bottom:593.773920pt;}
.y4f{bottom:599.776320pt;}
.y35{bottom:607.067040pt;}
.y1a{bottom:626.494320pt;}
.y4e{bottom:632.569920pt;}
.y0{bottom:639.333333pt;}
.y34{bottom:639.787440pt;}
.y7{bottom:639.976880pt;}
.y19{bottom:659.214720pt;}
.y4d{bottom:665.290320pt;}
.y33{bottom:672.581040pt;}
.y18{bottom:691.935120pt;}
.y4c{bottom:698.010720pt;}
.y32{bottom:705.301440pt;}
.y17{bottom:724.655520pt;}
.y4b{bottom:730.731120pt;}
.y31{bottom:738.021840pt;}
.y16{bottom:757.375920pt;}
.y4a{bottom:763.451520pt;}
.y30{bottom:770.742240pt;}
.y49{bottom:782.805600pt;}
.y15{bottom:790.096320pt;}
.y6{bottom:790.457600pt;}
.y61{bottom:796.171920pt;}
.y48{bottom:815.599200pt;}
.y14{bottom:822.816720pt;}
.y5{bottom:828.464560pt;}
.y60{bottom:828.892320pt;}
.y2f{bottom:842.258640pt;}
.y47{bottom:848.319600pt;}
.y13{bottom:855.610320pt;}
.y5f{bottom:861.612720pt;}
.y4{bottom:866.546080pt;}
.y12{bottom:874.964400pt;}
.y2e{bottom:874.979040pt;}
.y46{bottom:881.040000pt;}
.y11{bottom:894.318480pt;}
.y2d{bottom:894.333120pt;}
.y3{bottom:904.553040pt;}
.y10{bottom:913.760400pt;}
.y2c{bottom:927.126720pt;}
.y2{bottom:942.560000pt;}
.yf{bottom:946.480800pt;}
.y1{bottom:987.760000pt;}
.h7{height:39.030469pt;}
.h2{height:58.406250pt;}
.h6{height:64.965000pt;}
.h9{height:67.052344pt;}
.h3{height:85.372656pt;}
.h8{height:92.020833pt;}
.h5{height:103.692969pt;}
.h1{height:130.666667pt;}
.h4{height:183.203125pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x7{left:96.000000pt;}
.x5{left:132.560000pt;}
.x0{left:180.666667pt;}
.x9{left:337.333333pt;}
.x4{left:341.360000pt;}
.x6{left:353.200000pt;}
.x1{left:372.240000pt;}
.x2{left:408.000000pt;}
.x3{left:636.955120pt;}
.x8{left:673.040000pt;}
}
