.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.lsc{letter-spacing:-0.072000px;}
.ls12{letter-spacing:-0.062400px;}
.ls4{letter-spacing:-0.036000px;}
.ls5{letter-spacing:-0.019200px;}
.ls11{letter-spacing:-0.009600px;}
.ls14{letter-spacing:-0.004800px;}
.ls1{letter-spacing:0.000000px;}
.ls7{letter-spacing:0.004800px;}
.ls6{letter-spacing:0.009600px;}
.ls2{letter-spacing:0.010392px;}
.lsa{letter-spacing:0.014400px;}
.ls8{letter-spacing:0.019200px;}
.ls9{letter-spacing:0.024000px;}
.lsd{letter-spacing:0.028800px;}
.lse{letter-spacing:0.033600px;}
.lsf{letter-spacing:0.038400px;}
.ls0{letter-spacing:0.038448px;}
.ls10{letter-spacing:0.043200px;}
.ls3{letter-spacing:0.051960px;}
.ls15{letter-spacing:0.052800px;}
.ls13{letter-spacing:0.057600px;}
.lsb{letter-spacing:0.081600px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws10{word-spacing:-0.278400px;}
.ws1b{word-spacing:-0.201600px;}
.ws1a{word-spacing:-0.196800px;}
.ws16{word-spacing:-0.115200px;}
.ws1{word-spacing:-0.114312px;}
.wsb{word-spacing:-0.100800px;}
.ws22{word-spacing:-0.086400px;}
.ws15{word-spacing:-0.081600px;}
.ws14{word-spacing:-0.076800px;}
.ws24{word-spacing:-0.072000px;}
.ws11{word-spacing:-0.067200px;}
.wsc{word-spacing:-0.057600px;}
.wsa{word-spacing:-0.052800px;}
.ws23{word-spacing:-0.048000px;}
.ws5{word-spacing:-0.043200px;}
.ws1e{word-spacing:-0.038400px;}
.wse{word-spacing:-0.033600px;}
.wsd{word-spacing:-0.028800px;}
.ws7{word-spacing:-0.024000px;}
.ws6{word-spacing:-0.019200px;}
.ws8{word-spacing:-0.014400px;}
.ws4{word-spacing:-0.009600px;}
.wsf{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.ws1c{word-spacing:0.004800px;}
.ws12{word-spacing:0.009600px;}
.ws21{word-spacing:0.014400px;}
.ws3{word-spacing:0.019200px;}
.ws1d{word-spacing:0.028800px;}
.ws18{word-spacing:0.033600px;}
.ws1f{word-spacing:0.038400px;}
.ws20{word-spacing:0.043200px;}
.ws13{word-spacing:0.062400px;}
.ws9{word-spacing:0.072000px;}
.ws19{word-spacing:0.110400px;}
.ws17{word-spacing:0.120000px;}
.ws2{word-spacing:0.156000px;}
._0{margin-left:-1.435200px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:48.000000px;}
.fs4{font-size:56.000000px;}
.fs2{font-size:60.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:103.920000px;}
.y13{bottom:16.000000px;}
.y12{bottom:39.000000px;}
.y3b{bottom:86.820000px;}
.y56{bottom:98.820000px;}
.y3a{bottom:100.620000px;}
.y63{bottom:106.620000px;}
.y55{bottom:112.620000px;}
.y39{bottom:120.420000px;}
.y54{bottom:126.420000px;}
.y38{bottom:140.220000px;}
.y37{bottom:154.020000px;}
.y53{bottom:167.820000px;}
.y36{bottom:173.820000px;}
.y52{bottom:181.620000px;}
.y35{bottom:193.620000px;}
.y62{bottom:195.420000px;}
.y51{bottom:201.420000px;}
.y34{bottom:207.420000px;}
.y61{bottom:209.220000px;}
.y33{bottom:221.220000px;}
.y60{bottom:229.020000px;}
.y32{bottom:235.020000px;}
.y31{bottom:248.820000px;}
.y50{bottom:254.820000px;}
.y30{bottom:262.620000px;}
.y4f{bottom:274.620000px;}
.y2f{bottom:276.420000px;}
.y5f{bottom:282.420000px;}
.y4e{bottom:288.420000px;}
.y2e{bottom:290.220000px;}
.y4d{bottom:302.220000px;}
.y2d{bottom:309.960000px;}
.y4c{bottom:315.960000px;}
.y2c{bottom:329.760000px;}
.y2b{bottom:343.560000px;}
.y11{bottom:346.320000px;}
.y4b{bottom:357.360000px;}
.y2a{bottom:363.360000px;}
.y10{bottom:363.600000px;}
.y4a{bottom:371.160000px;}
.y29{bottom:383.160000px;}
.yf{bottom:383.220000px;}
.ye{bottom:383.234040px;}
.y5e{bottom:384.960000px;}
.y49{bottom:390.960000px;}
.y28{bottom:396.960000px;}
.y5d{bottom:398.760000px;}
.y27{bottom:410.760000px;}
.yd{bottom:413.111040px;}
.y5c{bottom:418.560000px;}
.y26{bottom:424.560000px;}
.y25{bottom:438.360000px;}
.yc{bottom:443.040000px;}
.y48{bottom:444.360000px;}
.y24{bottom:452.160000px;}
.y47{bottom:464.160000px;}
.y23{bottom:465.960000px;}
.yb{bottom:470.520000px;}
.y5b{bottom:471.960000px;}
.y46{bottom:477.960000px;}
.y22{bottom:479.760000px;}
.y0{bottom:484.000000px;}
.ya{bottom:484.500000px;}
.y45{bottom:491.760000px;}
.y21{bottom:493.560000px;}
.y44{bottom:505.560000px;}
.y20{bottom:507.360000px;}
.y43{bottom:519.360000px;}
.y1f{bottom:527.160000px;}
.y42{bottom:533.160000px;}
.y1e{bottom:546.960000px;}
.y1d{bottom:560.760000px;}
.y5a{bottom:574.560000px;}
.y1c{bottom:580.560000px;}
.y9{bottom:585.300000px;}
.y59{bottom:588.360000px;}
.y1b{bottom:600.360000px;}
.y8{bottom:602.520000px;}
.y58{bottom:608.160000px;}
.y1a{bottom:614.160000px;}
.y7{bottom:619.800000px;}
.y19{bottom:627.960000px;}
.y41{bottom:633.960000px;}
.y6{bottom:637.020000px;}
.y18{bottom:641.760000px;}
.y40{bottom:653.760000px;}
.y5{bottom:654.300000px;}
.y17{bottom:655.560000px;}
.y57{bottom:661.560000px;}
.y3f{bottom:667.560000px;}
.y16{bottom:669.360000px;}
.y4{bottom:671.520000px;}
.y3e{bottom:681.360000px;}
.y15{bottom:683.160000px;}
.y3{bottom:688.800000px;}
.y3d{bottom:695.160000px;}
.y14{bottom:702.960000px;}
.y2{bottom:706.020000px;}
.y3c{bottom:708.960000px;}
.y1{bottom:741.120000px;}
.h5{height:53.250000px;}
.h7{height:54.960938px;}
.h3{height:68.701172px;}
.h6{height:69.015625px;}
.h2{height:73.372852px;}
.h1{height:98.000000px;}
.h4{height:118.990430px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.xa{left:90.000000px;}
.x5{left:114.230280px;}
.x0{left:135.000000px;}
.x9{left:253.000000px;}
.x4{left:262.680000px;}
.x7{left:269.759900px;}
.x1{left:279.300000px;}
.x2{left:306.000000px;}
.x3{left:477.000000px;}
.x6{left:497.759900px;}
.x8{left:516.960000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.lsc{letter-spacing:-0.096000pt;}
.ls12{letter-spacing:-0.083200pt;}
.ls4{letter-spacing:-0.048000pt;}
.ls5{letter-spacing:-0.025600pt;}
.ls11{letter-spacing:-0.012800pt;}
.ls14{letter-spacing:-0.006400pt;}
.ls1{letter-spacing:0.000000pt;}
.ls7{letter-spacing:0.006400pt;}
.ls6{letter-spacing:0.012800pt;}
.ls2{letter-spacing:0.013856pt;}
.lsa{letter-spacing:0.019200pt;}
.ls8{letter-spacing:0.025600pt;}
.ls9{letter-spacing:0.032000pt;}
.lsd{letter-spacing:0.038400pt;}
.lse{letter-spacing:0.044800pt;}
.lsf{letter-spacing:0.051200pt;}
.ls0{letter-spacing:0.051264pt;}
.ls10{letter-spacing:0.057600pt;}
.ls3{letter-spacing:0.069280pt;}
.ls15{letter-spacing:0.070400pt;}
.ls13{letter-spacing:0.076800pt;}
.lsb{letter-spacing:0.108800pt;}
.ws10{word-spacing:-0.371200pt;}
.ws1b{word-spacing:-0.268800pt;}
.ws1a{word-spacing:-0.262400pt;}
.ws16{word-spacing:-0.153600pt;}
.ws1{word-spacing:-0.152416pt;}
.wsb{word-spacing:-0.134400pt;}
.ws22{word-spacing:-0.115200pt;}
.ws15{word-spacing:-0.108800pt;}
.ws14{word-spacing:-0.102400pt;}
.ws24{word-spacing:-0.096000pt;}
.ws11{word-spacing:-0.089600pt;}
.wsc{word-spacing:-0.076800pt;}
.wsa{word-spacing:-0.070400pt;}
.ws23{word-spacing:-0.064000pt;}
.ws5{word-spacing:-0.057600pt;}
.ws1e{word-spacing:-0.051200pt;}
.wse{word-spacing:-0.044800pt;}
.wsd{word-spacing:-0.038400pt;}
.ws7{word-spacing:-0.032000pt;}
.ws6{word-spacing:-0.025600pt;}
.ws8{word-spacing:-0.019200pt;}
.ws4{word-spacing:-0.012800pt;}
.wsf{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.ws1c{word-spacing:0.006400pt;}
.ws12{word-spacing:0.012800pt;}
.ws21{word-spacing:0.019200pt;}
.ws3{word-spacing:0.025600pt;}
.ws1d{word-spacing:0.038400pt;}
.ws18{word-spacing:0.044800pt;}
.ws1f{word-spacing:0.051200pt;}
.ws20{word-spacing:0.057600pt;}
.ws13{word-spacing:0.083200pt;}
.ws9{word-spacing:0.096000pt;}
.ws19{word-spacing:0.147200pt;}
.ws17{word-spacing:0.160000pt;}
.ws2{word-spacing:0.208000pt;}
._0{margin-left:-1.913600pt;}
.fs1{font-size:64.000000pt;}
.fs4{font-size:74.666667pt;}
.fs2{font-size:80.000000pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:138.560000pt;}
.y13{bottom:21.333333pt;}
.y12{bottom:52.000000pt;}
.y3b{bottom:115.760000pt;}
.y56{bottom:131.760000pt;}
.y3a{bottom:134.160000pt;}
.y63{bottom:142.160000pt;}
.y55{bottom:150.160000pt;}
.y39{bottom:160.560000pt;}
.y54{bottom:168.560000pt;}
.y38{bottom:186.960000pt;}
.y37{bottom:205.360000pt;}
.y53{bottom:223.760000pt;}
.y36{bottom:231.760000pt;}
.y52{bottom:242.160000pt;}
.y35{bottom:258.160000pt;}
.y62{bottom:260.560000pt;}
.y51{bottom:268.560000pt;}
.y34{bottom:276.560000pt;}
.y61{bottom:278.960000pt;}
.y33{bottom:294.960000pt;}
.y60{bottom:305.360000pt;}
.y32{bottom:313.360000pt;}
.y31{bottom:331.760000pt;}
.y50{bottom:339.760000pt;}
.y30{bottom:350.160000pt;}
.y4f{bottom:366.160000pt;}
.y2f{bottom:368.560000pt;}
.y5f{bottom:376.560000pt;}
.y4e{bottom:384.560000pt;}
.y2e{bottom:386.960000pt;}
.y4d{bottom:402.960000pt;}
.y2d{bottom:413.280000pt;}
.y4c{bottom:421.280000pt;}
.y2c{bottom:439.680000pt;}
.y2b{bottom:458.080000pt;}
.y11{bottom:461.760000pt;}
.y4b{bottom:476.480000pt;}
.y2a{bottom:484.480000pt;}
.y10{bottom:484.800000pt;}
.y4a{bottom:494.880000pt;}
.y29{bottom:510.880000pt;}
.yf{bottom:510.960000pt;}
.ye{bottom:510.978720pt;}
.y5e{bottom:513.280000pt;}
.y49{bottom:521.280000pt;}
.y28{bottom:529.280000pt;}
.y5d{bottom:531.680000pt;}
.y27{bottom:547.680000pt;}
.yd{bottom:550.814720pt;}
.y5c{bottom:558.080000pt;}
.y26{bottom:566.080000pt;}
.y25{bottom:584.480000pt;}
.yc{bottom:590.720000pt;}
.y48{bottom:592.480000pt;}
.y24{bottom:602.880000pt;}
.y47{bottom:618.880000pt;}
.y23{bottom:621.280000pt;}
.yb{bottom:627.360000pt;}
.y5b{bottom:629.280000pt;}
.y46{bottom:637.280000pt;}
.y22{bottom:639.680000pt;}
.y0{bottom:645.333333pt;}
.ya{bottom:646.000000pt;}
.y45{bottom:655.680000pt;}
.y21{bottom:658.080000pt;}
.y44{bottom:674.080000pt;}
.y20{bottom:676.480000pt;}
.y43{bottom:692.480000pt;}
.y1f{bottom:702.880000pt;}
.y42{bottom:710.880000pt;}
.y1e{bottom:729.280000pt;}
.y1d{bottom:747.680000pt;}
.y5a{bottom:766.080000pt;}
.y1c{bottom:774.080000pt;}
.y9{bottom:780.400000pt;}
.y59{bottom:784.480000pt;}
.y1b{bottom:800.480000pt;}
.y8{bottom:803.360000pt;}
.y58{bottom:810.880000pt;}
.y1a{bottom:818.880000pt;}
.y7{bottom:826.400000pt;}
.y19{bottom:837.280000pt;}
.y41{bottom:845.280000pt;}
.y6{bottom:849.360000pt;}
.y18{bottom:855.680000pt;}
.y40{bottom:871.680000pt;}
.y5{bottom:872.400000pt;}
.y17{bottom:874.080000pt;}
.y57{bottom:882.080000pt;}
.y3f{bottom:890.080000pt;}
.y16{bottom:892.480000pt;}
.y4{bottom:895.360000pt;}
.y3e{bottom:908.480000pt;}
.y15{bottom:910.880000pt;}
.y3{bottom:918.400000pt;}
.y3d{bottom:926.880000pt;}
.y14{bottom:937.280000pt;}
.y2{bottom:941.360000pt;}
.y3c{bottom:945.280000pt;}
.y1{bottom:988.160000pt;}
.h5{height:71.000000pt;}
.h7{height:73.281250pt;}
.h3{height:91.601562pt;}
.h6{height:92.020833pt;}
.h2{height:97.830469pt;}
.h1{height:130.666667pt;}
.h4{height:158.653906pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.xa{left:120.000000pt;}
.x5{left:152.307040pt;}
.x0{left:180.000000pt;}
.x9{left:337.333333pt;}
.x4{left:350.240000pt;}
.x7{left:359.679867pt;}
.x1{left:372.400000pt;}
.x2{left:408.000000pt;}
.x3{left:636.000000pt;}
.x6{left:663.679867pt;}
.x8{left:689.280000pt;}
}
