.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.lsb{letter-spacing:-0.332664px;}
.ls1e{letter-spacing:-0.196392px;}
.lse{letter-spacing:-0.176352px;}
.ls20{letter-spacing:-0.160320px;}
.ls13{letter-spacing:-0.144288px;}
.ls21{letter-spacing:-0.128256px;}
.ls1f{letter-spacing:-0.084168px;}
.ls19{letter-spacing:-0.056112px;}
.ls1a{letter-spacing:-0.048096px;}
.ls2{letter-spacing:-0.045648px;}
.ls17{letter-spacing:-0.044088px;}
.ls1d{letter-spacing:-0.040080px;}
.ls15{letter-spacing:-0.036072px;}
.ls14{letter-spacing:-0.032064px;}
.ls10{letter-spacing:-0.028056px;}
.ls12{letter-spacing:-0.024048px;}
.ls3{letter-spacing:-0.022824px;}
.lsf{letter-spacing:-0.020040px;}
.lsd{letter-spacing:-0.016032px;}
.ls8{letter-spacing:-0.012024px;}
.ls9{letter-spacing:-0.008016px;}
.ls16{letter-spacing:-0.004008px;}
.ls1{letter-spacing:0.000000px;}
.ls7{letter-spacing:0.004008px;}
.ls0{letter-spacing:0.005208px;}
.ls18{letter-spacing:0.008016px;}
.ls6{letter-spacing:0.012024px;}
.ls1c{letter-spacing:0.016032px;}
.ls1b{letter-spacing:0.020040px;}
.ls5{letter-spacing:0.024048px;}
.lsc{letter-spacing:0.052104px;}
.lsa{letter-spacing:0.068136px;}
.ls11{letter-spacing:0.096192px;}
.ls4{letter-spacing:562.665600px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws3{word-spacing:-0.120240px;}
.ws15{word-spacing:-0.116232px;}
.ws16{word-spacing:-0.112224px;}
.ws4{word-spacing:-0.108216px;}
.ws12{word-spacing:-0.104208px;}
.ws5{word-spacing:-0.100200px;}
.ws9{word-spacing:-0.096192px;}
.ws10{word-spacing:-0.092184px;}
.ws7{word-spacing:-0.088176px;}
.ws6{word-spacing:-0.084168px;}
.ws8{word-spacing:-0.080160px;}
.wsb{word-spacing:-0.076152px;}
.wsd{word-spacing:-0.072144px;}
.wsc{word-spacing:-0.068136px;}
.wse{word-spacing:-0.064128px;}
.wsf{word-spacing:-0.060120px;}
.ws17{word-spacing:-0.056112px;}
.ws11{word-spacing:-0.052104px;}
.ws14{word-spacing:-0.048096px;}
.ws1{word-spacing:-0.045648px;}
.ws13{word-spacing:-0.040080px;}
.ws18{word-spacing:-0.012024px;}
.ws0{word-spacing:0.000000px;}
.ws2{word-spacing:0.007608px;}
.ws19{word-spacing:0.032064px;}
.wsa{word-spacing:0.080160px;}
._0{margin-left:-1.042080px;}
._1{width:1.042080px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:40.080000px;}
.fs1{font-size:43.920000px;}
.fs3{font-size:48.000000px;}
.fs0{font-size:52.080000px;}
.fs4{font-size:56.000000px;}
.fs2{font-size:76.080000px;}
.y11{bottom:16.000000px;}
.y10{bottom:39.480000px;}
.y8d{bottom:74.289600px;}
.y69{bottom:75.762660px;}
.y4f{bottom:81.233580px;}
.y44{bottom:81.243600px;}
.y8c{bottom:85.812600px;}
.y68{bottom:87.285660px;}
.y36{bottom:92.766600px;}
.y4e{bottom:92.816700px;}
.y43{bottom:92.826720px;}
.y8b{bottom:97.335600px;}
.y67{bottom:98.808660px;}
.y4d{bottom:104.279580px;}
.y35{bottom:104.289600px;}
.y8a{bottom:108.798480px;}
.y66{bottom:110.271540px;}
.y34{bottom:115.812600px;}
.y4c{bottom:121.794540px;}
.y42{bottom:121.804560px;}
.y89{bottom:126.313440px;}
.y65{bottom:127.786500px;}
.y4b{bottom:133.317540px;}
.y33{bottom:133.327560px;}
.y4a{bottom:144.780420px;}
.y32{bottom:144.790440px;}
.y88{bottom:149.710140px;}
.y64{bottom:151.243320px;}
.y49{bottom:156.303420px;}
.y31{bottom:156.313440px;}
.y30{bottom:167.776320px;}
.y48{bottom:173.758260px;}
.y41{bottom:173.768280px;}
.y47{bottom:185.281260px;}
.y2f{bottom:185.291280px;}
.y2e{bottom:196.814280px;}
.y87{bottom:197.224980px;}
.y40{bottom:197.225100px;}
.y63{bottom:198.708060px;}
.y46{bottom:208.738080px;}
.y86{bottom:208.808100px;}
.y62{bottom:210.291180px;}
.y2d{bottom:220.210980px;}
.y85{bottom:220.270980px;}
.y61{bottom:221.754060px;}
.y84{bottom:237.785940px;}
.y60{bottom:239.269020px;}
.y3f{bottom:244.739940px;}
.y83{bottom:249.308940px;}
.y5f{bottom:250.792020px;}
.y45{bottom:256.202820px;}
.y3e{bottom:256.262940px;}
.y82{bottom:260.771820px;}
.y5e{bottom:262.254900px;}
.y2c{bottom:267.725820px;}
.y3d{bottom:267.785940px;}
.y81{bottom:272.294820px;}
.y5d{bottom:273.777900px;}
.y2b{bottom:279.308940px;}
.y3c{bottom:285.300900px;}
.y80{bottom:289.809780px;}
.y2a{bottom:296.763780px;}
.y5c{bottom:302.755740px;}
.y29{bottom:308.286780px;}
.y7f{bottom:313.206480px;}
.y5b{bottom:314.278740px;}
.y28{bottom:319.809780px;}
.y5a{bottom:325.801740px;}
.y27{bottom:331.272660px;}
.y3b{bottom:337.264620px;}
.y26{bottom:342.795660px;}
.y3a{bottom:348.787620px;}
.yf{bottom:349.080000px;}
.y25{bottom:360.310620px;}
.y7e{bottom:360.721320px;}
.y59{bottom:360.721440px;}
.ye{bottom:364.407740px;}
.y24{bottom:371.773500px;}
.y39{bottom:372.244440px;}
.y7d{bottom:372.304440px;}
.y7c{bottom:383.767320px;}
.yd{bottom:386.242700px;}
.y23{bottom:395.230320px;}
.y7b{bottom:401.282280px;}
.yc{bottom:408.077660px;}
.y58{bottom:408.236280px;}
.y7a{bottom:412.805280px;}
.y38{bottom:419.699160px;}
.y57{bottom:419.759280px;}
.y79{bottom:424.268160px;}
.yb{bottom:429.912620px;}
.y37{bottom:431.282280px;}
.y78{bottom:435.791160px;}
.y22{bottom:442.805280px;}
.y56{bottom:448.797240px;}
.ya{bottom:451.747580px;}
.y77{bottom:453.306120px;}
.y21{bottom:460.260120px;}
.y20{bottom:471.783120px;}
.y9{bottom:473.582540px;}
.y76{bottom:476.702820px;}
.y1f{bottom:483.306120px;}
.y1e{bottom:494.769000px;}
.y8{bottom:495.417500px;}
.y55{bottom:500.760960px;}
.y1d{bottom:512.283960px;}
.y7{bottom:517.267660px;}
.y1c{bottom:523.746840px;}
.y75{bottom:524.217660px;}
.y0{bottom:535.000000px;}
.y6{bottom:535.089400px;}
.y54{bottom:535.680660px;}
.y74{bottom:535.740660px;}
.y1b{bottom:547.203660px;}
.y73{bottom:547.263660px;}
.y72{bottom:564.778620px;}
.y71{bottom:576.241500px;}
.y53{bottom:583.195500px;}
.y70{bottom:587.764500px;}
.y1a{bottom:594.718500px;}
.y52{bottom:594.778620px;}
.y6f{bottom:599.287500px;}
.y19{bottom:606.241500px;}
.y6e{bottom:616.742340px;}
.y18{bottom:617.764500px;}
.y51{bottom:623.756460px;}
.y17{bottom:635.279460px;}
.y5{bottom:636.675220px;}
.y6d{bottom:640.199160px;}
.y16{bottom:646.742340px;}
.y15{bottom:658.265340px;}
.y4{bottom:658.510180px;}
.y14{bottom:669.788340px;}
.y50{bottom:675.780300px;}
.y3{bottom:680.345140px;}
.y13{bottom:687.243180px;}
.y6c{bottom:687.714000px;}
.y6b{bottom:699.237000px;}
.y2{bottom:702.180100px;}
.y12{bottom:710.700000px;}
.y6a{bottom:710.760000px;}
.y1{bottom:743.640000px;}
.h5{height:29.272852px;}
.h2{height:35.601562px;}
.h7{height:47.067146px;}
.h8{height:49.395469px;}
.h4{height:56.367840px;}
.h6{height:69.015625px;}
.h3{height:89.343026px;}
.h1{height:98.000000px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x7{left:72.000000px;}
.x5{left:78.482760px;}
.x0{left:135.500000px;}
.x9{left:253.000000px;}
.x6{left:255.292680px;}
.x4{left:271.136340px;}
.x1{left:284.220000px;}
.x2{left:306.000000px;}
.x3{left:477.712560px;}
.x8{left:490.500000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.lsb{letter-spacing:-0.443552pt;}
.ls1e{letter-spacing:-0.261856pt;}
.lse{letter-spacing:-0.235136pt;}
.ls20{letter-spacing:-0.213760pt;}
.ls13{letter-spacing:-0.192384pt;}
.ls21{letter-spacing:-0.171008pt;}
.ls1f{letter-spacing:-0.112224pt;}
.ls19{letter-spacing:-0.074816pt;}
.ls1a{letter-spacing:-0.064128pt;}
.ls2{letter-spacing:-0.060864pt;}
.ls17{letter-spacing:-0.058784pt;}
.ls1d{letter-spacing:-0.053440pt;}
.ls15{letter-spacing:-0.048096pt;}
.ls14{letter-spacing:-0.042752pt;}
.ls10{letter-spacing:-0.037408pt;}
.ls12{letter-spacing:-0.032064pt;}
.ls3{letter-spacing:-0.030432pt;}
.lsf{letter-spacing:-0.026720pt;}
.lsd{letter-spacing:-0.021376pt;}
.ls8{letter-spacing:-0.016032pt;}
.ls9{letter-spacing:-0.010688pt;}
.ls16{letter-spacing:-0.005344pt;}
.ls1{letter-spacing:0.000000pt;}
.ls7{letter-spacing:0.005344pt;}
.ls0{letter-spacing:0.006944pt;}
.ls18{letter-spacing:0.010688pt;}
.ls6{letter-spacing:0.016032pt;}
.ls1c{letter-spacing:0.021376pt;}
.ls1b{letter-spacing:0.026720pt;}
.ls5{letter-spacing:0.032064pt;}
.lsc{letter-spacing:0.069472pt;}
.lsa{letter-spacing:0.090848pt;}
.ls11{letter-spacing:0.128256pt;}
.ls4{letter-spacing:750.220800pt;}
.ws3{word-spacing:-0.160320pt;}
.ws15{word-spacing:-0.154976pt;}
.ws16{word-spacing:-0.149632pt;}
.ws4{word-spacing:-0.144288pt;}
.ws12{word-spacing:-0.138944pt;}
.ws5{word-spacing:-0.133600pt;}
.ws9{word-spacing:-0.128256pt;}
.ws10{word-spacing:-0.122912pt;}
.ws7{word-spacing:-0.117568pt;}
.ws6{word-spacing:-0.112224pt;}
.ws8{word-spacing:-0.106880pt;}
.wsb{word-spacing:-0.101536pt;}
.wsd{word-spacing:-0.096192pt;}
.wsc{word-spacing:-0.090848pt;}
.wse{word-spacing:-0.085504pt;}
.wsf{word-spacing:-0.080160pt;}
.ws17{word-spacing:-0.074816pt;}
.ws11{word-spacing:-0.069472pt;}
.ws14{word-spacing:-0.064128pt;}
.ws1{word-spacing:-0.060864pt;}
.ws13{word-spacing:-0.053440pt;}
.ws18{word-spacing:-0.016032pt;}
.ws0{word-spacing:0.000000pt;}
.ws2{word-spacing:0.010144pt;}
.ws19{word-spacing:0.042752pt;}
.wsa{word-spacing:0.106880pt;}
._0{margin-left:-1.389440pt;}
._1{width:1.389440pt;}
.fs5{font-size:53.440000pt;}
.fs1{font-size:58.560000pt;}
.fs3{font-size:64.000000pt;}
.fs0{font-size:69.440000pt;}
.fs4{font-size:74.666667pt;}
.fs2{font-size:101.440000pt;}
.y11{bottom:21.333333pt;}
.y10{bottom:52.640000pt;}
.y8d{bottom:99.052800pt;}
.y69{bottom:101.016880pt;}
.y4f{bottom:108.311440pt;}
.y44{bottom:108.324800pt;}
.y8c{bottom:114.416800pt;}
.y68{bottom:116.380880pt;}
.y36{bottom:123.688800pt;}
.y4e{bottom:123.755600pt;}
.y43{bottom:123.768960pt;}
.y8b{bottom:129.780800pt;}
.y67{bottom:131.744880pt;}
.y4d{bottom:139.039440pt;}
.y35{bottom:139.052800pt;}
.y8a{bottom:145.064640pt;}
.y66{bottom:147.028720pt;}
.y34{bottom:154.416800pt;}
.y4c{bottom:162.392720pt;}
.y42{bottom:162.406080pt;}
.y89{bottom:168.417920pt;}
.y65{bottom:170.382000pt;}
.y4b{bottom:177.756720pt;}
.y33{bottom:177.770080pt;}
.y4a{bottom:193.040560pt;}
.y32{bottom:193.053920pt;}
.y88{bottom:199.613520pt;}
.y64{bottom:201.657760pt;}
.y49{bottom:208.404560pt;}
.y31{bottom:208.417920pt;}
.y30{bottom:223.701760pt;}
.y48{bottom:231.677680pt;}
.y41{bottom:231.691040pt;}
.y47{bottom:247.041680pt;}
.y2f{bottom:247.055040pt;}
.y2e{bottom:262.419040pt;}
.y87{bottom:262.966640pt;}
.y40{bottom:262.966800pt;}
.y63{bottom:264.944080pt;}
.y46{bottom:278.317440pt;}
.y86{bottom:278.410800pt;}
.y62{bottom:280.388240pt;}
.y2d{bottom:293.614640pt;}
.y85{bottom:293.694640pt;}
.y61{bottom:295.672080pt;}
.y84{bottom:317.047920pt;}
.y60{bottom:319.025360pt;}
.y3f{bottom:326.319920pt;}
.y83{bottom:332.411920pt;}
.y5f{bottom:334.389360pt;}
.y45{bottom:341.603760pt;}
.y3e{bottom:341.683920pt;}
.y82{bottom:347.695760pt;}
.y5e{bottom:349.673200pt;}
.y2c{bottom:356.967760pt;}
.y3d{bottom:357.047920pt;}
.y81{bottom:363.059760pt;}
.y5d{bottom:365.037200pt;}
.y2b{bottom:372.411920pt;}
.y3c{bottom:380.401200pt;}
.y80{bottom:386.413040pt;}
.y2a{bottom:395.685040pt;}
.y5c{bottom:403.674320pt;}
.y29{bottom:411.049040pt;}
.y7f{bottom:417.608640pt;}
.y5b{bottom:419.038320pt;}
.y28{bottom:426.413040pt;}
.y5a{bottom:434.402320pt;}
.y27{bottom:441.696880pt;}
.y3b{bottom:449.686160pt;}
.y26{bottom:457.060880pt;}
.y3a{bottom:465.050160pt;}
.yf{bottom:465.440000pt;}
.y25{bottom:480.414160pt;}
.y7e{bottom:480.961760pt;}
.y59{bottom:480.961920pt;}
.ye{bottom:485.876987pt;}
.y24{bottom:495.698000pt;}
.y39{bottom:496.325920pt;}
.y7d{bottom:496.405920pt;}
.y7c{bottom:511.689760pt;}
.yd{bottom:514.990267pt;}
.y23{bottom:526.973760pt;}
.y7b{bottom:535.043040pt;}
.yc{bottom:544.103547pt;}
.y58{bottom:544.315040pt;}
.y7a{bottom:550.407040pt;}
.y38{bottom:559.598880pt;}
.y57{bottom:559.679040pt;}
.y79{bottom:565.690880pt;}
.yb{bottom:573.216827pt;}
.y37{bottom:575.043040pt;}
.y78{bottom:581.054880pt;}
.y22{bottom:590.407040pt;}
.y56{bottom:598.396320pt;}
.ya{bottom:602.330107pt;}
.y77{bottom:604.408160pt;}
.y21{bottom:613.680160pt;}
.y20{bottom:629.044160pt;}
.y9{bottom:631.443387pt;}
.y76{bottom:635.603760pt;}
.y1f{bottom:644.408160pt;}
.y1e{bottom:659.692000pt;}
.y8{bottom:660.556667pt;}
.y55{bottom:667.681280pt;}
.y1d{bottom:683.045280pt;}
.y7{bottom:689.690213pt;}
.y1c{bottom:698.329120pt;}
.y75{bottom:698.956880pt;}
.y0{bottom:713.333333pt;}
.y6{bottom:713.452533pt;}
.y54{bottom:714.240880pt;}
.y74{bottom:714.320880pt;}
.y1b{bottom:729.604880pt;}
.y73{bottom:729.684880pt;}
.y72{bottom:753.038160pt;}
.y71{bottom:768.322000pt;}
.y53{bottom:777.594000pt;}
.y70{bottom:783.686000pt;}
.y1a{bottom:792.958000pt;}
.y52{bottom:793.038160pt;}
.y6f{bottom:799.050000pt;}
.y19{bottom:808.322000pt;}
.y6e{bottom:822.323120pt;}
.y18{bottom:823.686000pt;}
.y51{bottom:831.675280pt;}
.y17{bottom:847.039280pt;}
.y5{bottom:848.900293pt;}
.y6d{bottom:853.598880pt;}
.y16{bottom:862.323120pt;}
.y15{bottom:877.687120pt;}
.y4{bottom:878.013573pt;}
.y14{bottom:893.051120pt;}
.y50{bottom:901.040400pt;}
.y3{bottom:907.126853pt;}
.y13{bottom:916.324240pt;}
.y6c{bottom:916.952000pt;}
.y6b{bottom:932.316000pt;}
.y2{bottom:936.240133pt;}
.y12{bottom:947.600000pt;}
.y6a{bottom:947.680000pt;}
.y1{bottom:991.520000pt;}
.h5{height:39.030469pt;}
.h2{height:47.468750pt;}
.h7{height:62.756195pt;}
.h8{height:65.860625pt;}
.h4{height:75.157120pt;}
.h6{height:92.020833pt;}
.h3{height:119.124035pt;}
.h1{height:130.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x7{left:96.000000pt;}
.x5{left:104.643680pt;}
.x0{left:180.666667pt;}
.x9{left:337.333333pt;}
.x6{left:340.390240pt;}
.x4{left:361.515120pt;}
.x1{left:378.960000pt;}
.x2{left:408.000000pt;}
.x3{left:636.950080pt;}
.x8{left:654.000000pt;}
}
