.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(33,78,123);}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:48.000000px;}
.fs2{font-size:56.000000px;}
.fs1{font-size:60.000000px;}
.fs0{font-size:80.000000px;}
.y6{bottom:17.000000px;}
.y37{bottom:22.000000px;}
.y7{bottom:35.500000px;}
.y63{bottom:52.000000px;}
.ybe{bottom:54.700000px;}
.yd8{bottom:58.000000px;}
.y9a{bottom:60.000000px;}
.y86{bottom:66.000000px;}
.y35{bottom:68.000000px;}
.ybd{bottom:70.700000px;}
.ydb{bottom:72.000000px;}
.y99{bottom:76.000000px;}
.ybc{bottom:82.700000px;}
.y62{bottom:84.000000px;}
.y34{bottom:86.000000px;}
.y98{bottom:92.000000px;}
.yd7{bottom:94.000000px;}
.ybb{bottom:94.700000px;}
.y61{bottom:100.000000px;}
.y85{bottom:102.000000px;}
.y33{bottom:104.000000px;}
.yd6{bottom:106.000000px;}
.yba{bottom:110.700000px;}
.y60{bottom:112.000000px;}
.y84{bottom:114.000000px;}
.y32{bottom:116.000000px;}
.yd5{bottom:122.000000px;}
.y5f{bottom:130.000000px;}
.y31{bottom:132.000000px;}
.yd4{bottom:138.000000px;}
.y83{bottom:146.000000px;}
.y30{bottom:148.000000px;}
.y5e{bottom:150.000000px;}
.yd3{bottom:154.000000px;}
.y97{bottom:160.000000px;}
.y82{bottom:162.000000px;}
.y2f{bottom:164.000000px;}
.y5d{bottom:168.000000px;}
.yd2{bottom:170.000000px;}
.y81{bottom:178.000000px;}
.y2e{bottom:180.000000px;}
.y5c{bottom:186.000000px;}
.y80{bottom:194.000000px;}
.y2d{bottom:196.000000px;}
.y96{bottom:198.000000px;}
.yd1{bottom:202.000000px;}
.y5b{bottom:204.000000px;}
.y7f{bottom:206.000000px;}
.yb7{bottom:210.000000px;}
.y2c{bottom:212.000000px;}
.y95{bottom:216.000000px;}
.y7e{bottom:218.000000px;}
.y5a{bottom:222.000000px;}
.yb6{bottom:226.000000px;}
.y2b{bottom:228.000000px;}
.y59{bottom:234.000000px;}
.yb5{bottom:242.000000px;}
.y2a{bottom:244.000000px;}
.y58{bottom:250.000000px;}
.y94{bottom:252.000000px;}
.y29{bottom:256.000000px;}
.yb4{bottom:258.000000px;}
.y57{bottom:266.000000px;}
.y28{bottom:268.000000px;}
.y93{bottom:270.000000px;}
.yd0{bottom:278.000000px;}
.y56{bottom:282.000000px;}
.y27{bottom:284.000000px;}
.yb3{bottom:288.000000px;}
.ycf{bottom:290.000000px;}
.y7d{bottom:294.000000px;}
.y55{bottom:298.000000px;}
.y26{bottom:300.000000px;}
.yce{bottom:306.000000px;}
.yb2{bottom:308.000000px;}
.y7c{bottom:312.000000px;}
.y54{bottom:314.000000px;}
.y25{bottom:316.000000px;}
.ycd{bottom:322.000000px;}
.yb1{bottom:326.000000px;}
.y53{bottom:330.000000px;}
.y24{bottom:332.000000px;}
.ycc{bottom:338.000000px;}
.yb0{bottom:344.000000px;}
.y52{bottom:346.000000px;}
.y23{bottom:348.000000px;}
.y7b{bottom:350.000000px;}
.ycb{bottom:354.000000px;}
.y92{bottom:358.000000px;}
.y5{bottom:358.500000px;}
.y22{bottom:360.000000px;}
.y51{bottom:362.000000px;}
.yca{bottom:366.000000px;}
.y7a{bottom:368.000000px;}
.y91{bottom:370.000000px;}
.y50{bottom:374.000000px;}
.y21{bottom:378.000000px;}
.yaf{bottom:380.000000px;}
.y4{bottom:381.000000px;}
.yc9{bottom:384.000000px;}
.y4f{bottom:386.000000px;}
.yda{bottom:390.000000px;}
.yae{bottom:392.000000px;}
.y20{bottom:398.000000px;}
.y4e{bottom:402.000000px;}
.y79{bottom:404.000000px;}
.yb9{bottom:406.590000px;}
.yad{bottom:408.000000px;}
.y3{bottom:411.000000px;}
.y1f{bottom:416.000000px;}
.y4d{bottom:418.000000px;}
.yb8{bottom:418.590000px;}
.yc8{bottom:422.000000px;}
.yac{bottom:424.000000px;}
.y78{bottom:432.000000px;}
.y1e{bottom:434.000000px;}
.yab{bottom:440.000000px;}
.y90{bottom:446.000000px;}
.y77{bottom:448.000000px;}
.y4c{bottom:450.000000px;}
.y1d{bottom:452.000000px;}
.yaa{bottom:456.000000px;}
.yc7{bottom:458.000000px;}
.y76{bottom:464.000000px;}
.y4b{bottom:466.000000px;}
.y1c{bottom:470.000000px;}
.ya9{bottom:472.000000px;}
.yc6{bottom:476.000000px;}
.y4a{bottom:478.000000px;}
.y75{bottom:480.000000px;}
.y1b{bottom:482.000000px;}
.y8f{bottom:484.000000px;}
.yc5{bottom:488.000000px;}
.y0{bottom:490.500000px;}
.y49{bottom:496.000000px;}
.y1a{bottom:498.000000px;}
.y8e{bottom:502.000000px;}
.yc4{bottom:504.000000px;}
.y74{bottom:508.000000px;}
.ya8{bottom:512.000000px;}
.y19{bottom:514.000000px;}
.y48{bottom:516.000000px;}
.y73{bottom:520.000000px;}
.ya7{bottom:528.000000px;}
.y18{bottom:530.000000px;}
.y47{bottom:534.000000px;}
.y72{bottom:536.000000px;}
.y8d{bottom:538.000000px;}
.ya6{bottom:540.000000px;}
.y17{bottom:546.000000px;}
.y46{bottom:552.000000px;}
.y8c{bottom:556.000000px;}
.ya5{bottom:558.000000px;}
.y16{bottom:562.000000px;}
.y71{bottom:564.000000px;}
.y8b{bottom:568.000000px;}
.y45{bottom:570.000000px;}
.yc3{bottom:576.000000px;}
.y15{bottom:578.000000px;}
.y70{bottom:582.000000px;}
.y8a{bottom:584.000000px;}
.y44{bottom:588.000000px;}
.yc2{bottom:592.000000px;}
.y14{bottom:594.000000px;}
.ya4{bottom:596.000000px;}
.y43{bottom:600.000000px;}
.y6f{bottom:602.000000px;}
.yc1{bottom:608.000000px;}
.y13{bottom:610.000000px;}
.ya3{bottom:614.000000px;}
.y42{bottom:616.000000px;}
.y6e{bottom:620.000000px;}
.yc0{bottom:624.000000px;}
.y12{bottom:626.000000px;}
.y41{bottom:632.000000px;}
.y2{bottom:636.000000px;}
.y6d{bottom:638.000000px;}
.y11{bottom:642.000000px;}
.y89{bottom:644.000000px;}
.y40{bottom:648.000000px;}
.ya2{bottom:650.000000px;}
.y10{bottom:654.000000px;}
.y6c{bottom:656.000000px;}
.yd9{bottom:660.000000px;}
.ya1{bottom:662.000000px;}
.y3f{bottom:664.000000px;}
.yf{bottom:666.000000px;}
.y88{bottom:672.000000px;}
.y6b{bottom:674.000000px;}
.ya0{bottom:678.000000px;}
.y3e{bottom:680.000000px;}
.ye{bottom:682.000000px;}
.y6a{bottom:686.000000px;}
.y87{bottom:688.000000px;}
.y3d{bottom:692.000000px;}
.y9f{bottom:694.000000px;}
.yd{bottom:698.000000px;}
.y69{bottom:702.000000px;}
.y3c{bottom:704.000000px;}
.y9e{bottom:710.000000px;}
.yc{bottom:714.000000px;}
.y68{bottom:718.000000px;}
.y3b{bottom:720.000000px;}
.y9d{bottom:726.000000px;}
.ybf{bottom:728.000000px;}
.yb{bottom:730.000000px;}
.y3a{bottom:732.000000px;}
.y67{bottom:734.000000px;}
.y9c{bottom:742.000000px;}
.ya{bottom:746.000000px;}
.y39{bottom:750.000000px;}
.y9{bottom:758.000000px;}
.y66{bottom:766.000000px;}
.y38{bottom:770.000000px;}
.y9b{bottom:774.000000px;}
.y1{bottom:776.000000px;}
.y65{bottom:778.000000px;}
.y8{bottom:788.000000px;}
.y64{bottom:790.000000px;}
.y36{bottom:808.000000px;}
.h6{height:56.367840px;}
.h7{height:59.156250px;}
.h4{height:69.015625px;}
.h3{height:70.459800px;}
.h2{height:93.946400px;}
.h1{height:130.500000px;}
.h5{height:770.500000px;}
.h0{height:842.000000px;}
.w1{width:456.500000px;}
.w2{width:523.500000px;}
.w0{width:595.000000px;}
.x1{left:36.000000px;}
.x2{left:59.110000px;}
.x0{left:69.500000px;}
.x4{left:245.000000px;}
.x5{left:246.150000px;}
.x3{left:254.980000px;}
.x6{left:550.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs3{font-size:64.000000pt;}
.fs2{font-size:74.666667pt;}
.fs1{font-size:80.000000pt;}
.fs0{font-size:106.666667pt;}
.y6{bottom:22.666667pt;}
.y37{bottom:29.333333pt;}
.y7{bottom:47.333333pt;}
.y63{bottom:69.333333pt;}
.ybe{bottom:72.933333pt;}
.yd8{bottom:77.333333pt;}
.y9a{bottom:80.000000pt;}
.y86{bottom:88.000000pt;}
.y35{bottom:90.666667pt;}
.ybd{bottom:94.266667pt;}
.ydb{bottom:96.000000pt;}
.y99{bottom:101.333333pt;}
.ybc{bottom:110.266667pt;}
.y62{bottom:112.000000pt;}
.y34{bottom:114.666667pt;}
.y98{bottom:122.666667pt;}
.yd7{bottom:125.333333pt;}
.ybb{bottom:126.266667pt;}
.y61{bottom:133.333333pt;}
.y85{bottom:136.000000pt;}
.y33{bottom:138.666667pt;}
.yd6{bottom:141.333333pt;}
.yba{bottom:147.600000pt;}
.y60{bottom:149.333333pt;}
.y84{bottom:152.000000pt;}
.y32{bottom:154.666667pt;}
.yd5{bottom:162.666667pt;}
.y5f{bottom:173.333333pt;}
.y31{bottom:176.000000pt;}
.yd4{bottom:184.000000pt;}
.y83{bottom:194.666667pt;}
.y30{bottom:197.333333pt;}
.y5e{bottom:200.000000pt;}
.yd3{bottom:205.333333pt;}
.y97{bottom:213.333333pt;}
.y82{bottom:216.000000pt;}
.y2f{bottom:218.666667pt;}
.y5d{bottom:224.000000pt;}
.yd2{bottom:226.666667pt;}
.y81{bottom:237.333333pt;}
.y2e{bottom:240.000000pt;}
.y5c{bottom:248.000000pt;}
.y80{bottom:258.666667pt;}
.y2d{bottom:261.333333pt;}
.y96{bottom:264.000000pt;}
.yd1{bottom:269.333333pt;}
.y5b{bottom:272.000000pt;}
.y7f{bottom:274.666667pt;}
.yb7{bottom:280.000000pt;}
.y2c{bottom:282.666667pt;}
.y95{bottom:288.000000pt;}
.y7e{bottom:290.666667pt;}
.y5a{bottom:296.000000pt;}
.yb6{bottom:301.333333pt;}
.y2b{bottom:304.000000pt;}
.y59{bottom:312.000000pt;}
.yb5{bottom:322.666667pt;}
.y2a{bottom:325.333333pt;}
.y58{bottom:333.333333pt;}
.y94{bottom:336.000000pt;}
.y29{bottom:341.333333pt;}
.yb4{bottom:344.000000pt;}
.y57{bottom:354.666667pt;}
.y28{bottom:357.333333pt;}
.y93{bottom:360.000000pt;}
.yd0{bottom:370.666667pt;}
.y56{bottom:376.000000pt;}
.y27{bottom:378.666667pt;}
.yb3{bottom:384.000000pt;}
.ycf{bottom:386.666667pt;}
.y7d{bottom:392.000000pt;}
.y55{bottom:397.333333pt;}
.y26{bottom:400.000000pt;}
.yce{bottom:408.000000pt;}
.yb2{bottom:410.666667pt;}
.y7c{bottom:416.000000pt;}
.y54{bottom:418.666667pt;}
.y25{bottom:421.333333pt;}
.ycd{bottom:429.333333pt;}
.yb1{bottom:434.666667pt;}
.y53{bottom:440.000000pt;}
.y24{bottom:442.666667pt;}
.ycc{bottom:450.666667pt;}
.yb0{bottom:458.666667pt;}
.y52{bottom:461.333333pt;}
.y23{bottom:464.000000pt;}
.y7b{bottom:466.666667pt;}
.ycb{bottom:472.000000pt;}
.y92{bottom:477.333333pt;}
.y5{bottom:478.000000pt;}
.y22{bottom:480.000000pt;}
.y51{bottom:482.666667pt;}
.yca{bottom:488.000000pt;}
.y7a{bottom:490.666667pt;}
.y91{bottom:493.333333pt;}
.y50{bottom:498.666667pt;}
.y21{bottom:504.000000pt;}
.yaf{bottom:506.666667pt;}
.y4{bottom:508.000000pt;}
.yc9{bottom:512.000000pt;}
.y4f{bottom:514.666667pt;}
.yda{bottom:520.000000pt;}
.yae{bottom:522.666667pt;}
.y20{bottom:530.666667pt;}
.y4e{bottom:536.000000pt;}
.y79{bottom:538.666667pt;}
.yb9{bottom:542.120000pt;}
.yad{bottom:544.000000pt;}
.y3{bottom:548.000000pt;}
.y1f{bottom:554.666667pt;}
.y4d{bottom:557.333333pt;}
.yb8{bottom:558.120000pt;}
.yc8{bottom:562.666667pt;}
.yac{bottom:565.333333pt;}
.y78{bottom:576.000000pt;}
.y1e{bottom:578.666667pt;}
.yab{bottom:586.666667pt;}
.y90{bottom:594.666667pt;}
.y77{bottom:597.333333pt;}
.y4c{bottom:600.000000pt;}
.y1d{bottom:602.666667pt;}
.yaa{bottom:608.000000pt;}
.yc7{bottom:610.666667pt;}
.y76{bottom:618.666667pt;}
.y4b{bottom:621.333333pt;}
.y1c{bottom:626.666667pt;}
.ya9{bottom:629.333333pt;}
.yc6{bottom:634.666667pt;}
.y4a{bottom:637.333333pt;}
.y75{bottom:640.000000pt;}
.y1b{bottom:642.666667pt;}
.y8f{bottom:645.333333pt;}
.yc5{bottom:650.666667pt;}
.y0{bottom:654.000000pt;}
.y49{bottom:661.333333pt;}
.y1a{bottom:664.000000pt;}
.y8e{bottom:669.333333pt;}
.yc4{bottom:672.000000pt;}
.y74{bottom:677.333333pt;}
.ya8{bottom:682.666667pt;}
.y19{bottom:685.333333pt;}
.y48{bottom:688.000000pt;}
.y73{bottom:693.333333pt;}
.ya7{bottom:704.000000pt;}
.y18{bottom:706.666667pt;}
.y47{bottom:712.000000pt;}
.y72{bottom:714.666667pt;}
.y8d{bottom:717.333333pt;}
.ya6{bottom:720.000000pt;}
.y17{bottom:728.000000pt;}
.y46{bottom:736.000000pt;}
.y8c{bottom:741.333333pt;}
.ya5{bottom:744.000000pt;}
.y16{bottom:749.333333pt;}
.y71{bottom:752.000000pt;}
.y8b{bottom:757.333333pt;}
.y45{bottom:760.000000pt;}
.yc3{bottom:768.000000pt;}
.y15{bottom:770.666667pt;}
.y70{bottom:776.000000pt;}
.y8a{bottom:778.666667pt;}
.y44{bottom:784.000000pt;}
.yc2{bottom:789.333333pt;}
.y14{bottom:792.000000pt;}
.ya4{bottom:794.666667pt;}
.y43{bottom:800.000000pt;}
.y6f{bottom:802.666667pt;}
.yc1{bottom:810.666667pt;}
.y13{bottom:813.333333pt;}
.ya3{bottom:818.666667pt;}
.y42{bottom:821.333333pt;}
.y6e{bottom:826.666667pt;}
.yc0{bottom:832.000000pt;}
.y12{bottom:834.666667pt;}
.y41{bottom:842.666667pt;}
.y2{bottom:848.000000pt;}
.y6d{bottom:850.666667pt;}
.y11{bottom:856.000000pt;}
.y89{bottom:858.666667pt;}
.y40{bottom:864.000000pt;}
.ya2{bottom:866.666667pt;}
.y10{bottom:872.000000pt;}
.y6c{bottom:874.666667pt;}
.yd9{bottom:880.000000pt;}
.ya1{bottom:882.666667pt;}
.y3f{bottom:885.333333pt;}
.yf{bottom:888.000000pt;}
.y88{bottom:896.000000pt;}
.y6b{bottom:898.666667pt;}
.ya0{bottom:904.000000pt;}
.y3e{bottom:906.666667pt;}
.ye{bottom:909.333333pt;}
.y6a{bottom:914.666667pt;}
.y87{bottom:917.333333pt;}
.y3d{bottom:922.666667pt;}
.y9f{bottom:925.333333pt;}
.yd{bottom:930.666667pt;}
.y69{bottom:936.000000pt;}
.y3c{bottom:938.666667pt;}
.y9e{bottom:946.666667pt;}
.yc{bottom:952.000000pt;}
.y68{bottom:957.333333pt;}
.y3b{bottom:960.000000pt;}
.y9d{bottom:968.000000pt;}
.ybf{bottom:970.666667pt;}
.yb{bottom:973.333333pt;}
.y3a{bottom:976.000000pt;}
.y67{bottom:978.666667pt;}
.y9c{bottom:989.333333pt;}
.ya{bottom:994.666667pt;}
.y39{bottom:1000.000000pt;}
.y9{bottom:1010.666667pt;}
.y66{bottom:1021.333333pt;}
.y38{bottom:1026.666667pt;}
.y9b{bottom:1032.000000pt;}
.y1{bottom:1034.666667pt;}
.y65{bottom:1037.333333pt;}
.y8{bottom:1050.666667pt;}
.y64{bottom:1053.333333pt;}
.y36{bottom:1077.333333pt;}
.h6{height:75.157120pt;}
.h7{height:78.875000pt;}
.h4{height:92.020833pt;}
.h3{height:93.946400pt;}
.h2{height:125.261866pt;}
.h1{height:174.000000pt;}
.h5{height:1027.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:608.666667pt;}
.w2{width:698.000000pt;}
.w0{width:793.333333pt;}
.x1{left:48.000000pt;}
.x2{left:78.813333pt;}
.x0{left:92.666667pt;}
.x4{left:326.666667pt;}
.x5{left:328.200000pt;}
.x3{left:339.973333pt;}
.x6{left:733.773333pt;}
}
