.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-0.083304px;}
.ls0{letter-spacing:-0.076896px;}
.ls2a{letter-spacing:-0.070272px;}
.lsb{letter-spacing:-0.060000px;}
.ls21{letter-spacing:-0.057096px;}
.ls8{letter-spacing:-0.055152px;}
.ls2b{letter-spacing:-0.052704px;}
.ls1e{letter-spacing:-0.048312px;}
.ls1c{letter-spacing:-0.039528px;}
.ls12{letter-spacing:-0.035136px;}
.ls17{letter-spacing:-0.030744px;}
.ls3{letter-spacing:-0.027576px;}
.ls1f{letter-spacing:-0.026352px;}
.lsf{letter-spacing:-0.021960px;}
.ls6{letter-spacing:-0.018384px;}
.lsa{letter-spacing:-0.018000px;}
.ls23{letter-spacing:-0.017568px;}
.ls10{letter-spacing:-0.013176px;}
.ls2f{letter-spacing:-0.008784px;}
.ls2d{letter-spacing:-0.004392px;}
.ls1{letter-spacing:0.000000px;}
.ls31{letter-spacing:0.004392px;}
.ls33{letter-spacing:0.008784px;}
.ls1b{letter-spacing:0.013176px;}
.ls19{letter-spacing:0.017568px;}
.ls4{letter-spacing:0.018384px;}
.ls29{letter-spacing:0.021960px;}
.ls16{letter-spacing:0.026352px;}
.ls5{letter-spacing:0.027576px;}
.ls37{letter-spacing:0.030744px;}
.ls15{letter-spacing:0.035136px;}
.ls25{letter-spacing:0.039528px;}
.ls13{letter-spacing:0.043920px;}
.ls20{letter-spacing:0.048312px;}
.ls14{letter-spacing:0.052704px;}
.ls26{letter-spacing:0.057096px;}
.ls28{letter-spacing:0.061488px;}
.ls9{letter-spacing:0.064344px;}
.lsd{letter-spacing:0.065880px;}
.ls2e{letter-spacing:0.070272px;}
.ls7{letter-spacing:0.073536px;}
.ls38{letter-spacing:0.074664px;}
.lse{letter-spacing:0.083448px;}
.ls3a{letter-spacing:0.087840px;}
.ls36{letter-spacing:0.092232px;}
.ls3e{letter-spacing:0.096624px;}
.ls1d{letter-spacing:0.101016px;}
.ls3b{letter-spacing:0.105408px;}
.ls1a{letter-spacing:0.109800px;}
.ls3c{letter-spacing:0.114192px;}
.ls18{letter-spacing:0.118584px;}
.ls3f{letter-spacing:0.127368px;}
.ls24{letter-spacing:0.131760px;}
.ls30{letter-spacing:0.144936px;}
.ls22{letter-spacing:0.149328px;}
.ls32{letter-spacing:0.162504px;}
.ls27{letter-spacing:0.166896px;}
.ls35{letter-spacing:0.197640px;}
.ls39{letter-spacing:0.210816px;}
.ls3d{letter-spacing:0.219600px;}
.ls11{letter-spacing:0.241560px;}
.ls34{letter-spacing:0.245952px;}
.ls2c{letter-spacing:0.320616px;}
.lsc{letter-spacing:564.224304px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.062864px;}
._0{width:1.251720px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs2{font-size:52.080000px;}
.fs5{font-size:56.000000px;}
.fs4{font-size:60.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:91.920000px;}
.yf{bottom:16.000000px;}
.ye{bottom:39.840100px;}
.y44{bottom:83.502060px;}
.y2a{bottom:93.527760px;}
.y43{bottom:98.917980px;}
.y42{bottom:98.928960px;}
.y29{bottom:118.968420px;}
.y41{bottom:124.369620px;}
.y28{bottom:144.409080px;}
.y40{bottom:149.810280px;}
.y27{bottom:159.825000px;}
.y3f{bottom:175.250940px;}
.y26{bottom:185.265660px;}
.y3e{bottom:200.691600px;}
.y25{bottom:210.706320px;}
.y3d{bottom:226.132260px;}
.y24{bottom:236.146980px;}
.y3c{bottom:251.572920px;}
.y23{bottom:261.587640px;}
.y3b{bottom:277.013580px;}
.y22{bottom:287.028300px;}
.yd{bottom:292.800000px;}
.y3a{bottom:302.454240px;}
.y21{bottom:312.468960px;}
.yc{bottom:321.900000px;}
.y39{bottom:327.949800px;}
.y20{bottom:337.909620px;}
.y38{bottom:353.390460px;}
.yb{bottom:356.580000px;}
.ya{bottom:356.588900px;}
.y1f{bottom:363.350280px;}
.y37{bottom:378.831120px;}
.y1e{bottom:388.790940px;}
.y9{bottom:388.806860px;}
.y36{bottom:404.271780px;}
.y1d{bottom:414.231600px;}
.y35{bottom:429.712440px;}
.y1c{bottom:429.713400px;}
.y8{bottom:431.159000px;}
.y34{bottom:455.153100px;}
.y1b{bottom:455.154060px;}
.y0{bottom:467.000000px;}
.y7{bottom:467.269720px;}
.y33{bottom:480.593760px;}
.y1a{bottom:480.594720px;}
.y32{bottom:506.034420px;}
.y19{bottom:506.035380px;}
.y31{bottom:531.475080px;}
.y18{bottom:531.476040px;}
.y30{bottom:556.915740px;}
.y17{bottom:556.916700px;}
.y2f{bottom:582.356400px;}
.y16{bottom:582.357360px;}
.y6{bottom:585.180100px;}
.y2e{bottom:607.797060px;}
.y15{bottom:607.798020px;}
.y5{bottom:622.965840px;}
.y2d{bottom:633.237720px;}
.y14{bottom:633.238680px;}
.y4{bottom:651.167160px;}
.y2c{bottom:658.678380px;}
.y13{bottom:658.679340px;}
.y3{bottom:679.433580px;}
.y2b{bottom:684.119040px;}
.y12{bottom:684.120000px;}
.y2{bottom:707.700000px;}
.y10{bottom:709.559700px;}
.y11{bottom:709.560000px;}
.y1{bottom:740.820000px;}
.h7{height:29.272852px;}
.h9{height:31.524609px;}
.h3{height:34.711523px;}
.h6{height:41.015625px;}
.h2{height:43.804688px;}
.h4{height:61.265039px;}
.h5{height:62.835937px;}
.h8{height:69.015625px;}
.h1{height:98.000000px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x9{left:72.000000px;}
.x5{left:111.543260px;}
.x0{left:135.500000px;}
.xc{left:151.080000px;}
.xd{left:202.244760px;}
.x6{left:229.844300px;}
.xb{left:253.000000px;}
.x4{left:263.280200px;}
.x8{left:270.960000px;}
.x1{left:276.300000px;}
.x2{left:306.000000px;}
.x7{left:382.140000px;}
.x3{left:477.729540px;}
.xa{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-0.111072pt;}
.ls0{letter-spacing:-0.102528pt;}
.ls2a{letter-spacing:-0.093696pt;}
.lsb{letter-spacing:-0.080000pt;}
.ls21{letter-spacing:-0.076128pt;}
.ls8{letter-spacing:-0.073536pt;}
.ls2b{letter-spacing:-0.070272pt;}
.ls1e{letter-spacing:-0.064416pt;}
.ls1c{letter-spacing:-0.052704pt;}
.ls12{letter-spacing:-0.046848pt;}
.ls17{letter-spacing:-0.040992pt;}
.ls3{letter-spacing:-0.036768pt;}
.ls1f{letter-spacing:-0.035136pt;}
.lsf{letter-spacing:-0.029280pt;}
.ls6{letter-spacing:-0.024512pt;}
.lsa{letter-spacing:-0.024000pt;}
.ls23{letter-spacing:-0.023424pt;}
.ls10{letter-spacing:-0.017568pt;}
.ls2f{letter-spacing:-0.011712pt;}
.ls2d{letter-spacing:-0.005856pt;}
.ls1{letter-spacing:0.000000pt;}
.ls31{letter-spacing:0.005856pt;}
.ls33{letter-spacing:0.011712pt;}
.ls1b{letter-spacing:0.017568pt;}
.ls19{letter-spacing:0.023424pt;}
.ls4{letter-spacing:0.024512pt;}
.ls29{letter-spacing:0.029280pt;}
.ls16{letter-spacing:0.035136pt;}
.ls5{letter-spacing:0.036768pt;}
.ls37{letter-spacing:0.040992pt;}
.ls15{letter-spacing:0.046848pt;}
.ls25{letter-spacing:0.052704pt;}
.ls13{letter-spacing:0.058560pt;}
.ls20{letter-spacing:0.064416pt;}
.ls14{letter-spacing:0.070272pt;}
.ls26{letter-spacing:0.076128pt;}
.ls28{letter-spacing:0.081984pt;}
.ls9{letter-spacing:0.085792pt;}
.lsd{letter-spacing:0.087840pt;}
.ls2e{letter-spacing:0.093696pt;}
.ls7{letter-spacing:0.098048pt;}
.ls38{letter-spacing:0.099552pt;}
.lse{letter-spacing:0.111264pt;}
.ls3a{letter-spacing:0.117120pt;}
.ls36{letter-spacing:0.122976pt;}
.ls3e{letter-spacing:0.128832pt;}
.ls1d{letter-spacing:0.134688pt;}
.ls3b{letter-spacing:0.140544pt;}
.ls1a{letter-spacing:0.146400pt;}
.ls3c{letter-spacing:0.152256pt;}
.ls18{letter-spacing:0.158112pt;}
.ls3f{letter-spacing:0.169824pt;}
.ls24{letter-spacing:0.175680pt;}
.ls30{letter-spacing:0.193248pt;}
.ls22{letter-spacing:0.199104pt;}
.ls32{letter-spacing:0.216672pt;}
.ls27{letter-spacing:0.222528pt;}
.ls35{letter-spacing:0.263520pt;}
.ls39{letter-spacing:0.281088pt;}
.ls3d{letter-spacing:0.292800pt;}
.ls11{letter-spacing:0.322080pt;}
.ls34{letter-spacing:0.327936pt;}
.ls2c{letter-spacing:0.427488pt;}
.lsc{letter-spacing:752.299072pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.417152pt;}
._0{width:1.668960pt;}
.fs1{font-size:58.560000pt;}
.fs2{font-size:69.440000pt;}
.fs5{font-size:74.666667pt;}
.fs4{font-size:80.000000pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:122.560000pt;}
.yf{bottom:21.333333pt;}
.ye{bottom:53.120133pt;}
.y44{bottom:111.336080pt;}
.y2a{bottom:124.703680pt;}
.y43{bottom:131.890640pt;}
.y42{bottom:131.905280pt;}
.y29{bottom:158.624560pt;}
.y41{bottom:165.826160pt;}
.y28{bottom:192.545440pt;}
.y40{bottom:199.747040pt;}
.y27{bottom:213.100000pt;}
.y3f{bottom:233.667920pt;}
.y26{bottom:247.020880pt;}
.y3e{bottom:267.588800pt;}
.y25{bottom:280.941760pt;}
.y3d{bottom:301.509680pt;}
.y24{bottom:314.862640pt;}
.y3c{bottom:335.430560pt;}
.y23{bottom:348.783520pt;}
.y3b{bottom:369.351440pt;}
.y22{bottom:382.704400pt;}
.yd{bottom:390.400000pt;}
.y3a{bottom:403.272320pt;}
.y21{bottom:416.625280pt;}
.yc{bottom:429.200000pt;}
.y39{bottom:437.266400pt;}
.y20{bottom:450.546160pt;}
.y38{bottom:471.187280pt;}
.yb{bottom:475.440000pt;}
.ya{bottom:475.451867pt;}
.y1f{bottom:484.467040pt;}
.y37{bottom:505.108160pt;}
.y1e{bottom:518.387920pt;}
.y9{bottom:518.409147pt;}
.y36{bottom:539.029040pt;}
.y1d{bottom:552.308800pt;}
.y35{bottom:572.949920pt;}
.y1c{bottom:572.951200pt;}
.y8{bottom:574.878667pt;}
.y34{bottom:606.870800pt;}
.y1b{bottom:606.872080pt;}
.y0{bottom:622.666667pt;}
.y7{bottom:623.026293pt;}
.y33{bottom:640.791680pt;}
.y1a{bottom:640.792960pt;}
.y32{bottom:674.712560pt;}
.y19{bottom:674.713840pt;}
.y31{bottom:708.633440pt;}
.y18{bottom:708.634720pt;}
.y30{bottom:742.554320pt;}
.y17{bottom:742.555600pt;}
.y2f{bottom:776.475200pt;}
.y16{bottom:776.476480pt;}
.y6{bottom:780.240133pt;}
.y2e{bottom:810.396080pt;}
.y15{bottom:810.397360pt;}
.y5{bottom:830.621120pt;}
.y2d{bottom:844.316960pt;}
.y14{bottom:844.318240pt;}
.y4{bottom:868.222880pt;}
.y2c{bottom:878.237840pt;}
.y13{bottom:878.239120pt;}
.y3{bottom:905.911440pt;}
.y2b{bottom:912.158720pt;}
.y12{bottom:912.160000pt;}
.y2{bottom:943.600000pt;}
.y10{bottom:946.079600pt;}
.y11{bottom:946.080000pt;}
.y1{bottom:987.760000pt;}
.h7{height:39.030469pt;}
.h9{height:42.032812pt;}
.h3{height:46.282031pt;}
.h6{height:54.687500pt;}
.h2{height:58.406250pt;}
.h4{height:81.686719pt;}
.h5{height:83.781250pt;}
.h8{height:92.020833pt;}
.h1{height:130.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x9{left:96.000000pt;}
.x5{left:148.724347pt;}
.x0{left:180.666667pt;}
.xc{left:201.440000pt;}
.xd{left:269.659680pt;}
.x6{left:306.459067pt;}
.xb{left:337.333333pt;}
.x4{left:351.040267pt;}
.x8{left:361.280000pt;}
.x1{left:368.400000pt;}
.x2{left:408.000000pt;}
.x7{left:509.520000pt;}
.x3{left:636.972720pt;}
.xa{left:673.040000pt;}
}
