.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls5{letter-spacing:-0.037800px;}
.ls2{letter-spacing:-0.033000px;}
.lsa{letter-spacing:-0.029400px;}
.lsd{letter-spacing:-0.012600px;}
.lsf{letter-spacing:-0.008400px;}
.lse{letter-spacing:-0.004200px;}
.ls1{letter-spacing:0.000000px;}
.ls10{letter-spacing:0.004200px;}
.ls9{letter-spacing:0.012600px;}
.ls0{letter-spacing:0.019224px;}
.ls8{letter-spacing:0.029400px;}
.ls4{letter-spacing:0.037800px;}
.ls15{letter-spacing:0.042000px;}
.ls3{letter-spacing:0.046200px;}
.ls13{letter-spacing:0.050400px;}
.ls7{letter-spacing:0.054600px;}
.ls14{letter-spacing:0.063000px;}
.lsc{letter-spacing:0.067200px;}
.ls11{letter-spacing:0.075600px;}
.ls12{letter-spacing:0.084000px;}
.ls6{letter-spacing:0.121800px;}
.lsb{letter-spacing:0.147000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1{word-spacing:-0.097200px;}
.wsb{word-spacing:-0.025200px;}
.wsa{word-spacing:-0.016800px;}
.ws6{word-spacing:-0.008400px;}
.wse{word-spacing:-0.004200px;}
.ws0{word-spacing:0.000000px;}
.ws3{word-spacing:0.004200px;}
.wsd{word-spacing:0.008400px;}
.wsf{word-spacing:0.016800px;}
.ws4{word-spacing:0.029400px;}
.ws5{word-spacing:0.046200px;}
.ws9{word-spacing:0.054600px;}
.ws8{word-spacing:0.063000px;}
.ws7{word-spacing:0.071400px;}
.wsc{word-spacing:0.088200px;}
.ws2{word-spacing:0.336000px;}
._2{margin-left:-6.006000px;}
._1{margin-left:-3.696000px;}
._3{margin-left:-2.310000px;}
._0{margin-left:-1.188000px;}
._4{width:1.050000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:42.000000px;}
.fs2{font-size:54.000000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:66.000000px;}
.y14{bottom:17.000000px;}
.y13{bottom:52.520300px;}
.y40{bottom:87.628100px;}
.y3f{bottom:103.168100px;}
.y3e{bottom:118.823600px;}
.y3d{bottom:134.426600px;}
.y3c{bottom:150.029600px;}
.y3b{bottom:165.632600px;}
.y3a{bottom:181.235600px;}
.y39{bottom:196.838600px;}
.y38{bottom:212.441600px;}
.y37{bottom:228.044600px;}
.y36{bottom:243.584600px;}
.y35{bottom:259.240100px;}
.y34{bottom:274.780100px;}
.y33{bottom:290.435600px;}
.y32{bottom:306.038600px;}
.y31{bottom:321.641600px;}
.y30{bottom:337.244600px;}
.y2f{bottom:352.847600px;}
.y2e{bottom:368.450600px;}
.y12{bottom:382.817300px;}
.y2d{bottom:384.053600px;}
.y11{bottom:398.423300px;}
.y2c{bottom:399.656600px;}
.y2b{bottom:415.196600px;}
.yf{bottom:420.857300px;}
.y10{bottom:420.860300px;}
.y2a{bottom:430.852100px;}
.y29{bottom:446.392100px;}
.ye{bottom:452.058800px;}
.y28{bottom:462.047600px;}
.y27{bottom:477.650600px;}
.yd{bottom:483.260300px;}
.y26{bottom:493.253600px;}
.yc{bottom:507.599300px;}
.y25{bottom:508.856600px;}
.yb{bottom:523.205300px;}
.y24{bottom:524.459600px;}
.ya{bottom:538.811300px;}
.y23{bottom:540.062600px;}
.y9{bottom:554.417300px;}
.y22{bottom:555.665600px;}
.y8{bottom:570.023300px;}
.y21{bottom:571.268600px;}
.y20{bottom:586.808600px;}
.y0{bottom:588.500000px;}
.y7{bottom:588.680300px;}
.y1f{bottom:602.464100px;}
.y1e{bottom:618.004100px;}
.y1d{bottom:633.659600px;}
.y1c{bottom:649.262600px;}
.y1b{bottom:664.865600px;}
.y1a{bottom:680.468600px;}
.y6{bottom:694.796300px;}
.y19{bottom:696.071600px;}
.y5{bottom:710.402300px;}
.y18{bottom:711.674600px;}
.y4{bottom:726.008300px;}
.y17{bottom:727.277600px;}
.y3{bottom:741.614300px;}
.y16{bottom:742.880600px;}
.y2{bottom:757.220300px;}
.y15{bottom:758.420600px;}
.y1{bottom:784.580300px;}
.h5{height:46.593750px;}
.h7{height:48.090820px;}
.h3{height:61.831055px;}
.h6{height:69.015625px;}
.h2{height:73.372852px;}
.h4{height:75.571289px;}
.h1{height:98.000000px;}
.h0{height:842.000000px;}
.w1{width:342.500000px;}
.w0{width:595.220000px;}
.x9{left:90.000300px;}
.x4{left:94.986000px;}
.x0{left:126.500000px;}
.x8{left:245.000000px;}
.x6{left:263.395500px;}
.x1{left:267.420000px;}
.x2{left:297.660000px;}
.x5{left:326.940000px;}
.x3{left:468.660000px;}
.x7{left:492.900000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls5{letter-spacing:-0.050400pt;}
.ls2{letter-spacing:-0.044000pt;}
.lsa{letter-spacing:-0.039200pt;}
.lsd{letter-spacing:-0.016800pt;}
.lsf{letter-spacing:-0.011200pt;}
.lse{letter-spacing:-0.005600pt;}
.ls1{letter-spacing:0.000000pt;}
.ls10{letter-spacing:0.005600pt;}
.ls9{letter-spacing:0.016800pt;}
.ls0{letter-spacing:0.025632pt;}
.ls8{letter-spacing:0.039200pt;}
.ls4{letter-spacing:0.050400pt;}
.ls15{letter-spacing:0.056000pt;}
.ls3{letter-spacing:0.061600pt;}
.ls13{letter-spacing:0.067200pt;}
.ls7{letter-spacing:0.072800pt;}
.ls14{letter-spacing:0.084000pt;}
.lsc{letter-spacing:0.089600pt;}
.ls11{letter-spacing:0.100800pt;}
.ls12{letter-spacing:0.112000pt;}
.ls6{letter-spacing:0.162400pt;}
.lsb{letter-spacing:0.196000pt;}
.ws1{word-spacing:-0.129600pt;}
.wsb{word-spacing:-0.033600pt;}
.wsa{word-spacing:-0.022400pt;}
.ws6{word-spacing:-0.011200pt;}
.wse{word-spacing:-0.005600pt;}
.ws0{word-spacing:0.000000pt;}
.ws3{word-spacing:0.005600pt;}
.wsd{word-spacing:0.011200pt;}
.wsf{word-spacing:0.022400pt;}
.ws4{word-spacing:0.039200pt;}
.ws5{word-spacing:0.061600pt;}
.ws9{word-spacing:0.072800pt;}
.ws8{word-spacing:0.084000pt;}
.ws7{word-spacing:0.095200pt;}
.wsc{word-spacing:0.117600pt;}
.ws2{word-spacing:0.448000pt;}
._2{margin-left:-8.008000pt;}
._1{margin-left:-4.928000pt;}
._3{margin-left:-3.080000pt;}
._0{margin-left:-1.584000pt;}
._4{width:1.400000pt;}
.fs1{font-size:56.000000pt;}
.fs2{font-size:72.000000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:88.000000pt;}
.y14{bottom:22.666667pt;}
.y13{bottom:70.027067pt;}
.y40{bottom:116.837467pt;}
.y3f{bottom:137.557467pt;}
.y3e{bottom:158.431467pt;}
.y3d{bottom:179.235467pt;}
.y3c{bottom:200.039467pt;}
.y3b{bottom:220.843467pt;}
.y3a{bottom:241.647467pt;}
.y39{bottom:262.451467pt;}
.y38{bottom:283.255467pt;}
.y37{bottom:304.059467pt;}
.y36{bottom:324.779467pt;}
.y35{bottom:345.653467pt;}
.y34{bottom:366.373467pt;}
.y33{bottom:387.247467pt;}
.y32{bottom:408.051467pt;}
.y31{bottom:428.855467pt;}
.y30{bottom:449.659467pt;}
.y2f{bottom:470.463467pt;}
.y2e{bottom:491.267467pt;}
.y12{bottom:510.423067pt;}
.y2d{bottom:512.071467pt;}
.y11{bottom:531.231067pt;}
.y2c{bottom:532.875467pt;}
.y2b{bottom:553.595467pt;}
.yf{bottom:561.143067pt;}
.y10{bottom:561.147067pt;}
.y2a{bottom:574.469467pt;}
.y29{bottom:595.189467pt;}
.ye{bottom:602.745067pt;}
.y28{bottom:616.063467pt;}
.y27{bottom:636.867467pt;}
.yd{bottom:644.347067pt;}
.y26{bottom:657.671467pt;}
.yc{bottom:676.799067pt;}
.y25{bottom:678.475467pt;}
.yb{bottom:697.607067pt;}
.y24{bottom:699.279467pt;}
.ya{bottom:718.415067pt;}
.y23{bottom:720.083467pt;}
.y9{bottom:739.223067pt;}
.y22{bottom:740.887467pt;}
.y8{bottom:760.031067pt;}
.y21{bottom:761.691467pt;}
.y20{bottom:782.411467pt;}
.y0{bottom:784.666667pt;}
.y7{bottom:784.907067pt;}
.y1f{bottom:803.285467pt;}
.y1e{bottom:824.005467pt;}
.y1d{bottom:844.879467pt;}
.y1c{bottom:865.683467pt;}
.y1b{bottom:886.487467pt;}
.y1a{bottom:907.291467pt;}
.y6{bottom:926.395067pt;}
.y19{bottom:928.095467pt;}
.y5{bottom:947.203067pt;}
.y18{bottom:948.899467pt;}
.y4{bottom:968.011067pt;}
.y17{bottom:969.703467pt;}
.y3{bottom:988.819067pt;}
.y16{bottom:990.507467pt;}
.y2{bottom:1009.627067pt;}
.y15{bottom:1011.227467pt;}
.y1{bottom:1046.107067pt;}
.h5{height:62.125000pt;}
.h7{height:64.121094pt;}
.h3{height:82.441406pt;}
.h6{height:92.020833pt;}
.h2{height:97.830469pt;}
.h4{height:100.761719pt;}
.h1{height:130.666667pt;}
.h0{height:1122.666667pt;}
.w1{width:456.666667pt;}
.w0{width:793.626667pt;}
.x9{left:120.000400pt;}
.x4{left:126.648000pt;}
.x0{left:168.666667pt;}
.x8{left:326.666667pt;}
.x6{left:351.194000pt;}
.x1{left:356.560000pt;}
.x2{left:396.880000pt;}
.x5{left:435.920000pt;}
.x3{left:624.880000pt;}
.x7{left:657.200000pt;}
}
