.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:-0.076896px;}
.lsf{letter-spacing:-0.072000px;}
.ls1a{letter-spacing:-0.062400px;}
.ls1c{letter-spacing:-0.052800px;}
.ls16{letter-spacing:-0.048000px;}
.ls3{letter-spacing:-0.044856px;}
.ls15{letter-spacing:-0.043200px;}
.ls1e{letter-spacing:-0.038400px;}
.ls1d{letter-spacing:-0.033600px;}
.lsd{letter-spacing:-0.028800px;}
.ls13{letter-spacing:-0.024000px;}
.ls5{letter-spacing:-0.019200px;}
.ls1b{letter-spacing:-0.014400px;}
.ls2{letter-spacing:-0.010800px;}
.ls14{letter-spacing:-0.009600px;}
.lsc{letter-spacing:-0.004800px;}
.ls1{letter-spacing:0.000000px;}
.ls12{letter-spacing:0.004800px;}
.ls6{letter-spacing:0.009600px;}
.ls9{letter-spacing:0.014400px;}
.ls10{letter-spacing:0.019200px;}
.lsb{letter-spacing:0.024000px;}
.lsa{letter-spacing:0.028800px;}
.ls7{letter-spacing:0.033600px;}
.ls11{letter-spacing:0.038400px;}
.ls18{letter-spacing:0.043200px;}
.ls19{letter-spacing:0.048000px;}
.ls20{letter-spacing:0.052800px;}
.ls1f{letter-spacing:0.057600px;}
.ls8{letter-spacing:0.062400px;}
.ls17{letter-spacing:0.067200px;}
.lse{letter-spacing:0.081600px;}
.ls4{letter-spacing:559.982304px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws28{word-spacing:-0.283200px;}
.ws30{word-spacing:-0.206400px;}
.ws20{word-spacing:-0.168000px;}
.ws8{word-spacing:-0.153600px;}
.wsc{word-spacing:-0.148800px;}
.ws42{word-spacing:-0.139200px;}
.ws2{word-spacing:-0.134568px;}
.ws1e{word-spacing:-0.134400px;}
.ws22{word-spacing:-0.129600px;}
.ws31{word-spacing:-0.124800px;}
.ws29{word-spacing:-0.120000px;}
.ws26{word-spacing:-0.115200px;}
.ws25{word-spacing:-0.110400px;}
.ws1b{word-spacing:-0.105600px;}
.ws1a{word-spacing:-0.100800px;}
.ws21{word-spacing:-0.096000px;}
.ws3d{word-spacing:-0.091200px;}
.ws11{word-spacing:-0.086400px;}
.ws3e{word-spacing:-0.081600px;}
.ws1c{word-spacing:-0.076800px;}
.ws3b{word-spacing:-0.072000px;}
.ws5{word-spacing:-0.067200px;}
.ws27{word-spacing:-0.062400px;}
.ws2a{word-spacing:-0.057600px;}
.ws2f{word-spacing:-0.052800px;}
.ws35{word-spacing:-0.048000px;}
.wse{word-spacing:-0.043200px;}
.ws17{word-spacing:-0.038400px;}
.wsa{word-spacing:-0.033600px;}
.ws7{word-spacing:-0.028800px;}
.ws9{word-spacing:-0.024000px;}
.ws1d{word-spacing:-0.019200px;}
.ws19{word-spacing:-0.014400px;}
.ws4{word-spacing:-0.009600px;}
.ws12{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.ws16{word-spacing:0.004800px;}
.ws18{word-spacing:0.009600px;}
.ws2c{word-spacing:0.014400px;}
.ws3{word-spacing:0.019200px;}
.ws6{word-spacing:0.024000px;}
.ws2e{word-spacing:0.028800px;}
.ws38{word-spacing:0.033600px;}
.ws41{word-spacing:0.038400px;}
.ws1f{word-spacing:0.043200px;}
.ws15{word-spacing:0.048000px;}
.ws2d{word-spacing:0.052800px;}
.ws3f{word-spacing:0.057600px;}
.ws2b{word-spacing:0.062400px;}
.ws33{word-spacing:0.067200px;}
.wsd{word-spacing:0.072000px;}
.wsf{word-spacing:0.076800px;}
.ws24{word-spacing:0.081600px;}
.wsb{word-spacing:0.086400px;}
.ws34{word-spacing:0.091200px;}
.ws39{word-spacing:0.096000px;}
.ws10{word-spacing:0.105600px;}
.ws37{word-spacing:0.115200px;}
.ws3a{word-spacing:0.120000px;}
.ws1{word-spacing:0.129600px;}
.ws40{word-spacing:0.134400px;}
.ws23{word-spacing:0.139200px;}
.ws13{word-spacing:0.144000px;}
.ws3c{word-spacing:0.148800px;}
.ws14{word-spacing:0.163200px;}
.ws32{word-spacing:0.201600px;}
.ws36{word-spacing:0.211200px;}
._0{margin-left:-1.046400px;}
._1{width:1.056000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs4{font-size:48.000000px;}
.fs3{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs2{font-size:108.000000px;}
.y15{bottom:16.000000px;}
.y14{bottom:39.840100px;}
.y97{bottom:81.480000px;}
.y3a{bottom:83.640000px;}
.y6a{bottom:89.640000px;}
.y9a{bottom:93.480000px;}
.y82{bottom:95.640000px;}
.y96{bottom:97.380000px;}
.y39{bottom:99.480000px;}
.y5d{bottom:105.480000px;}
.y95{bottom:113.220000px;}
.y38{bottom:115.380000px;}
.y81{bottom:117.480000px;}
.y5c{bottom:121.380000px;}
.y69{bottom:127.380000px;}
.y94{bottom:129.120000px;}
.y37{bottom:131.220000px;}
.y5b{bottom:137.220000px;}
.y80{bottom:139.380000px;}
.y93{bottom:144.960000px;}
.y36{bottom:147.120000px;}
.y68{bottom:149.220000px;}
.y5a{bottom:153.120000px;}
.y92{bottom:160.860000px;}
.y7f{bottom:161.220000px;}
.y35{bottom:162.960000px;}
.y59{bottom:168.960000px;}
.y67{bottom:171.120000px;}
.y7e{bottom:177.120000px;}
.y34{bottom:178.860000px;}
.y91{bottom:182.700000px;}
.y58{bottom:184.860000px;}
.ya4{bottom:190.860000px;}
.y66{bottom:192.960000px;}
.y33{bottom:194.700000px;}
.y74{bottom:200.700000px;}
.y90{bottom:204.600000px;}
.y57{bottom:206.700000px;}
.y65{bottom:208.860000px;}
.y32{bottom:210.600000px;}
.ya3{bottom:212.700000px;}
.y73{bottom:216.600000px;}
.y64{bottom:224.700000px;}
.y31{bottom:226.440000px;}
.y56{bottom:228.600000px;}
.y72{bottom:232.440000px;}
.ya2{bottom:234.600000px;}
.y63{bottom:240.600000px;}
.y13{bottom:243.851520px;}
.y30{bottom:248.340000px;}
.y55{bottom:250.440000px;}
.y62{bottom:256.440000px;}
.y71{bottom:264.180000px;}
.y12{bottom:265.029960px;}
.ya1{bottom:266.340000px;}
.y2f{bottom:270.180000px;}
.y54{bottom:272.340000px;}
.y89{bottom:280.080000px;}
.ya0{bottom:282.180000px;}
.y70{bottom:286.080000px;}
.y11{bottom:286.144320px;}
.y53{bottom:288.180000px;}
.y2e{bottom:292.080000px;}
.y88{bottom:295.920000px;}
.y9f{bottom:298.080000px;}
.y52{bottom:304.080000px;}
.y6f{bottom:307.920000px;}
.y10{bottom:311.520000px;}
.yf{bottom:311.538000px;}
.y87{bottom:311.760000px;}
.y2d{bottom:313.920000px;}
.y99{bottom:317.760000px;}
.y51{bottom:319.920000px;}
.y8f{bottom:327.660000px;}
.y2c{bottom:329.760000px;}
.y86{bottom:333.660000px;}
.y50{bottom:335.760000px;}
.y98{bottom:339.660000px;}
.y8e{bottom:343.500000px;}
.y2b{bottom:345.660000px;}
.ye{bottom:347.286000px;}
.y4f{bottom:351.660000px;}
.y85{bottom:355.500000px;}
.y2a{bottom:361.500000px;}
.y8d{bottom:365.400000px;}
.y4e{bottom:367.500000px;}
.y29{bottom:377.400000px;}
.yd{bottom:382.980000px;}
.y4d{bottom:383.400000px;}
.y8c{bottom:387.240000px;}
.y28{bottom:393.240000px;}
.y4c{bottom:399.240000px;}
.y27{bottom:409.140000px;}
.y0{bottom:410.500000px;}
.yc{bottom:411.024840px;}
.y4b{bottom:415.140000px;}
.y26{bottom:424.980000px;}
.y4a{bottom:430.980000px;}
.y9e{bottom:436.980000px;}
.y25{bottom:440.880000px;}
.y49{bottom:446.880000px;}
.y24{bottom:456.720000px;}
.y9d{bottom:458.880000px;}
.y48{bottom:462.720000px;}
.y6e{bottom:468.720000px;}
.y23{bottom:472.620000px;}
.y61{bottom:478.620000px;}
.y9c{bottom:480.720000px;}
.y47{bottom:484.620000px;}
.y6d{bottom:490.620000px;}
.y22{bottom:494.460000px;}
.y9b{bottom:496.620000px;}
.y60{bottom:500.460000px;}
.y46{bottom:506.460000px;}
.y7d{bottom:510.360000px;}
.y6c{bottom:512.460000px;}
.yb{bottom:514.706280px;}
.y21{bottom:516.360000px;}
.y5f{bottom:522.360000px;}
.y7c{bottom:526.200000px;}
.y45{bottom:528.360000px;}
.y84{bottom:532.200000px;}
.y6b{bottom:534.360000px;}
.ya{bottom:535.884720px;}
.y20{bottom:538.200000px;}
.y7b{bottom:542.100000px;}
.y5e{bottom:544.200000px;}
.y44{bottom:550.200000px;}
.y83{bottom:554.100000px;}
.y9{bottom:557.063160px;}
.y7a{bottom:557.940000px;}
.y1f{bottom:560.100000px;}
.y8b{bottom:563.940000px;}
.y43{bottom:566.100000px;}
.y79{bottom:573.840000px;}
.y1e{bottom:575.940000px;}
.y8{bottom:578.177520px;}
.y42{bottom:581.940000px;}
.y8a{bottom:585.840000px;}
.y78{bottom:589.680000px;}
.y1d{bottom:591.840000px;}
.y41{bottom:597.840000px;}
.y7{bottom:599.355960px;}
.y77{bottom:605.580000px;}
.y1c{bottom:607.680000px;}
.y40{bottom:613.680000px;}
.y6{bottom:620.470320px;}
.y1b{bottom:623.580000px;}
.y76{bottom:627.420000px;}
.y3f{bottom:629.580000px;}
.y1a{bottom:639.420000px;}
.y5{bottom:641.648760px;}
.y3e{bottom:645.420000px;}
.y75{bottom:649.320000px;}
.y19{bottom:655.320000px;}
.y3d{bottom:661.320000px;}
.y4{bottom:662.827200px;}
.y18{bottom:671.160000px;}
.y3c{bottom:677.160000px;}
.y3{bottom:683.941560px;}
.y17{bottom:687.060000px;}
.y3b{bottom:693.060000px;}
.y2{bottom:705.120000px;}
.y16{bottom:708.900000px;}
.y1{bottom:740.820000px;}
.h5{height:29.272852px;}
.h2{height:43.804688px;}
.h8{height:53.250000px;}
.h7{height:54.960938px;}
.h6{height:69.015625px;}
.h3{height:73.372852px;}
.h1{height:98.000000px;}
.h4{height:123.662109px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x8{left:71.999520px;}
.x5{left:110.232000px;}
.x0{left:135.500000px;}
.xa{left:253.000000px;}
.x4{left:261.000000px;}
.x7{left:267.363420px;}
.x1{left:279.180000px;}
.x2{left:306.000000px;}
.x3{left:477.718380px;}
.x6{left:501.720000px;}
.x9{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:-0.102528pt;}
.lsf{letter-spacing:-0.096000pt;}
.ls1a{letter-spacing:-0.083200pt;}
.ls1c{letter-spacing:-0.070400pt;}
.ls16{letter-spacing:-0.064000pt;}
.ls3{letter-spacing:-0.059808pt;}
.ls15{letter-spacing:-0.057600pt;}
.ls1e{letter-spacing:-0.051200pt;}
.ls1d{letter-spacing:-0.044800pt;}
.lsd{letter-spacing:-0.038400pt;}
.ls13{letter-spacing:-0.032000pt;}
.ls5{letter-spacing:-0.025600pt;}
.ls1b{letter-spacing:-0.019200pt;}
.ls2{letter-spacing:-0.014400pt;}
.ls14{letter-spacing:-0.012800pt;}
.lsc{letter-spacing:-0.006400pt;}
.ls1{letter-spacing:0.000000pt;}
.ls12{letter-spacing:0.006400pt;}
.ls6{letter-spacing:0.012800pt;}
.ls9{letter-spacing:0.019200pt;}
.ls10{letter-spacing:0.025600pt;}
.lsb{letter-spacing:0.032000pt;}
.lsa{letter-spacing:0.038400pt;}
.ls7{letter-spacing:0.044800pt;}
.ls11{letter-spacing:0.051200pt;}
.ls18{letter-spacing:0.057600pt;}
.ls19{letter-spacing:0.064000pt;}
.ls20{letter-spacing:0.070400pt;}
.ls1f{letter-spacing:0.076800pt;}
.ls8{letter-spacing:0.083200pt;}
.ls17{letter-spacing:0.089600pt;}
.lse{letter-spacing:0.108800pt;}
.ls4{letter-spacing:746.643072pt;}
.ws28{word-spacing:-0.377600pt;}
.ws30{word-spacing:-0.275200pt;}
.ws20{word-spacing:-0.224000pt;}
.ws8{word-spacing:-0.204800pt;}
.wsc{word-spacing:-0.198400pt;}
.ws42{word-spacing:-0.185600pt;}
.ws2{word-spacing:-0.179424pt;}
.ws1e{word-spacing:-0.179200pt;}
.ws22{word-spacing:-0.172800pt;}
.ws31{word-spacing:-0.166400pt;}
.ws29{word-spacing:-0.160000pt;}
.ws26{word-spacing:-0.153600pt;}
.ws25{word-spacing:-0.147200pt;}
.ws1b{word-spacing:-0.140800pt;}
.ws1a{word-spacing:-0.134400pt;}
.ws21{word-spacing:-0.128000pt;}
.ws3d{word-spacing:-0.121600pt;}
.ws11{word-spacing:-0.115200pt;}
.ws3e{word-spacing:-0.108800pt;}
.ws1c{word-spacing:-0.102400pt;}
.ws3b{word-spacing:-0.096000pt;}
.ws5{word-spacing:-0.089600pt;}
.ws27{word-spacing:-0.083200pt;}
.ws2a{word-spacing:-0.076800pt;}
.ws2f{word-spacing:-0.070400pt;}
.ws35{word-spacing:-0.064000pt;}
.wse{word-spacing:-0.057600pt;}
.ws17{word-spacing:-0.051200pt;}
.wsa{word-spacing:-0.044800pt;}
.ws7{word-spacing:-0.038400pt;}
.ws9{word-spacing:-0.032000pt;}
.ws1d{word-spacing:-0.025600pt;}
.ws19{word-spacing:-0.019200pt;}
.ws4{word-spacing:-0.012800pt;}
.ws12{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.ws16{word-spacing:0.006400pt;}
.ws18{word-spacing:0.012800pt;}
.ws2c{word-spacing:0.019200pt;}
.ws3{word-spacing:0.025600pt;}
.ws6{word-spacing:0.032000pt;}
.ws2e{word-spacing:0.038400pt;}
.ws38{word-spacing:0.044800pt;}
.ws41{word-spacing:0.051200pt;}
.ws1f{word-spacing:0.057600pt;}
.ws15{word-spacing:0.064000pt;}
.ws2d{word-spacing:0.070400pt;}
.ws3f{word-spacing:0.076800pt;}
.ws2b{word-spacing:0.083200pt;}
.ws33{word-spacing:0.089600pt;}
.wsd{word-spacing:0.096000pt;}
.wsf{word-spacing:0.102400pt;}
.ws24{word-spacing:0.108800pt;}
.wsb{word-spacing:0.115200pt;}
.ws34{word-spacing:0.121600pt;}
.ws39{word-spacing:0.128000pt;}
.ws10{word-spacing:0.140800pt;}
.ws37{word-spacing:0.153600pt;}
.ws3a{word-spacing:0.160000pt;}
.ws1{word-spacing:0.172800pt;}
.ws40{word-spacing:0.179200pt;}
.ws23{word-spacing:0.185600pt;}
.ws13{word-spacing:0.192000pt;}
.ws3c{word-spacing:0.198400pt;}
.ws14{word-spacing:0.217600pt;}
.ws32{word-spacing:0.268800pt;}
.ws36{word-spacing:0.281600pt;}
._0{margin-left:-1.395200pt;}
._1{width:1.408000pt;}
.fs1{font-size:58.560000pt;}
.fs4{font-size:64.000000pt;}
.fs3{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs2{font-size:144.000000pt;}
.y15{bottom:21.333333pt;}
.y14{bottom:53.120133pt;}
.y97{bottom:108.640000pt;}
.y3a{bottom:111.520000pt;}
.y6a{bottom:119.520000pt;}
.y9a{bottom:124.640000pt;}
.y82{bottom:127.520000pt;}
.y96{bottom:129.840000pt;}
.y39{bottom:132.640000pt;}
.y5d{bottom:140.640000pt;}
.y95{bottom:150.960000pt;}
.y38{bottom:153.840000pt;}
.y81{bottom:156.640000pt;}
.y5c{bottom:161.840000pt;}
.y69{bottom:169.840000pt;}
.y94{bottom:172.160000pt;}
.y37{bottom:174.960000pt;}
.y5b{bottom:182.960000pt;}
.y80{bottom:185.840000pt;}
.y93{bottom:193.280000pt;}
.y36{bottom:196.160000pt;}
.y68{bottom:198.960000pt;}
.y5a{bottom:204.160000pt;}
.y92{bottom:214.480000pt;}
.y7f{bottom:214.960000pt;}
.y35{bottom:217.280000pt;}
.y59{bottom:225.280000pt;}
.y67{bottom:228.160000pt;}
.y7e{bottom:236.160000pt;}
.y34{bottom:238.480000pt;}
.y91{bottom:243.600000pt;}
.y58{bottom:246.480000pt;}
.ya4{bottom:254.480000pt;}
.y66{bottom:257.280000pt;}
.y33{bottom:259.600000pt;}
.y74{bottom:267.600000pt;}
.y90{bottom:272.800000pt;}
.y57{bottom:275.600000pt;}
.y65{bottom:278.480000pt;}
.y32{bottom:280.800000pt;}
.ya3{bottom:283.600000pt;}
.y73{bottom:288.800000pt;}
.y64{bottom:299.600000pt;}
.y31{bottom:301.920000pt;}
.y56{bottom:304.800000pt;}
.y72{bottom:309.920000pt;}
.ya2{bottom:312.800000pt;}
.y63{bottom:320.800000pt;}
.y13{bottom:325.135360pt;}
.y30{bottom:331.120000pt;}
.y55{bottom:333.920000pt;}
.y62{bottom:341.920000pt;}
.y71{bottom:352.240000pt;}
.y12{bottom:353.373280pt;}
.ya1{bottom:355.120000pt;}
.y2f{bottom:360.240000pt;}
.y54{bottom:363.120000pt;}
.y89{bottom:373.440000pt;}
.ya0{bottom:376.240000pt;}
.y70{bottom:381.440000pt;}
.y11{bottom:381.525760pt;}
.y53{bottom:384.240000pt;}
.y2e{bottom:389.440000pt;}
.y88{bottom:394.560000pt;}
.y9f{bottom:397.440000pt;}
.y52{bottom:405.440000pt;}
.y6f{bottom:410.560000pt;}
.y10{bottom:415.360000pt;}
.yf{bottom:415.384000pt;}
.y87{bottom:415.680000pt;}
.y2d{bottom:418.560000pt;}
.y99{bottom:423.680000pt;}
.y51{bottom:426.560000pt;}
.y8f{bottom:436.880000pt;}
.y2c{bottom:439.680000pt;}
.y86{bottom:444.880000pt;}
.y50{bottom:447.680000pt;}
.y98{bottom:452.880000pt;}
.y8e{bottom:458.000000pt;}
.y2b{bottom:460.880000pt;}
.ye{bottom:463.048000pt;}
.y4f{bottom:468.880000pt;}
.y85{bottom:474.000000pt;}
.y2a{bottom:482.000000pt;}
.y8d{bottom:487.200000pt;}
.y4e{bottom:490.000000pt;}
.y29{bottom:503.200000pt;}
.yd{bottom:510.640000pt;}
.y4d{bottom:511.200000pt;}
.y8c{bottom:516.320000pt;}
.y28{bottom:524.320000pt;}
.y4c{bottom:532.320000pt;}
.y27{bottom:545.520000pt;}
.y0{bottom:547.333333pt;}
.yc{bottom:548.033120pt;}
.y4b{bottom:553.520000pt;}
.y26{bottom:566.640000pt;}
.y4a{bottom:574.640000pt;}
.y9e{bottom:582.640000pt;}
.y25{bottom:587.840000pt;}
.y49{bottom:595.840000pt;}
.y24{bottom:608.960000pt;}
.y9d{bottom:611.840000pt;}
.y48{bottom:616.960000pt;}
.y6e{bottom:624.960000pt;}
.y23{bottom:630.160000pt;}
.y61{bottom:638.160000pt;}
.y9c{bottom:640.960000pt;}
.y47{bottom:646.160000pt;}
.y6d{bottom:654.160000pt;}
.y22{bottom:659.280000pt;}
.y9b{bottom:662.160000pt;}
.y60{bottom:667.280000pt;}
.y46{bottom:675.280000pt;}
.y7d{bottom:680.480000pt;}
.y6c{bottom:683.280000pt;}
.yb{bottom:686.275040pt;}
.y21{bottom:688.480000pt;}
.y5f{bottom:696.480000pt;}
.y7c{bottom:701.600000pt;}
.y45{bottom:704.480000pt;}
.y84{bottom:709.600000pt;}
.y6b{bottom:712.480000pt;}
.ya{bottom:714.512960pt;}
.y20{bottom:717.600000pt;}
.y7b{bottom:722.800000pt;}
.y5e{bottom:725.600000pt;}
.y44{bottom:733.600000pt;}
.y83{bottom:738.800000pt;}
.y9{bottom:742.750880pt;}
.y7a{bottom:743.920000pt;}
.y1f{bottom:746.800000pt;}
.y8b{bottom:751.920000pt;}
.y43{bottom:754.800000pt;}
.y79{bottom:765.120000pt;}
.y1e{bottom:767.920000pt;}
.y8{bottom:770.903360pt;}
.y42{bottom:775.920000pt;}
.y8a{bottom:781.120000pt;}
.y78{bottom:786.240000pt;}
.y1d{bottom:789.120000pt;}
.y41{bottom:797.120000pt;}
.y7{bottom:799.141280pt;}
.y77{bottom:807.440000pt;}
.y1c{bottom:810.240000pt;}
.y40{bottom:818.240000pt;}
.y6{bottom:827.293760pt;}
.y1b{bottom:831.440000pt;}
.y76{bottom:836.560000pt;}
.y3f{bottom:839.440000pt;}
.y1a{bottom:852.560000pt;}
.y5{bottom:855.531680pt;}
.y3e{bottom:860.560000pt;}
.y75{bottom:865.760000pt;}
.y19{bottom:873.760000pt;}
.y3d{bottom:881.760000pt;}
.y4{bottom:883.769600pt;}
.y18{bottom:894.880000pt;}
.y3c{bottom:902.880000pt;}
.y3{bottom:911.922080pt;}
.y17{bottom:916.080000pt;}
.y3b{bottom:924.080000pt;}
.y2{bottom:940.160000pt;}
.y16{bottom:945.200000pt;}
.y1{bottom:987.760000pt;}
.h5{height:39.030469pt;}
.h2{height:58.406250pt;}
.h8{height:71.000000pt;}
.h7{height:73.281250pt;}
.h6{height:92.020833pt;}
.h3{height:97.830469pt;}
.h1{height:130.666667pt;}
.h4{height:164.882812pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x8{left:95.999360pt;}
.x5{left:146.976000pt;}
.x0{left:180.666667pt;}
.xa{left:337.333333pt;}
.x4{left:348.000000pt;}
.x7{left:356.484560pt;}
.x1{left:372.240000pt;}
.x2{left:408.000000pt;}
.x3{left:636.957840pt;}
.x6{left:668.960000pt;}
.x9{left:673.040000pt;}
}
