.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.921875;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.lsd{letter-spacing:-3.746376px;}
.lsb{letter-spacing:-2.823960px;}
.lsf{letter-spacing:-2.209176px;}
.ls68{letter-spacing:-1.875384px;}
.ls6d{letter-spacing:-1.870992px;}
.ls5d{letter-spacing:-1.778760px;}
.ls78{letter-spacing:-1.392264px;}
.ls7a{letter-spacing:-1.300032px;}
.ls3f{letter-spacing:-1.027728px;}
.ls39{letter-spacing:-0.922320px;}
.ls42{letter-spacing:-0.865224px;}
.ls36{letter-spacing:-0.860832px;}
.ls85{letter-spacing:-0.847656px;}
.ls79{letter-spacing:-0.808128px;}
.ls67{letter-spacing:-0.803736px;}
.ls82{letter-spacing:-0.759816px;}
.ls72{letter-spacing:-0.733464px;}
.ls3{letter-spacing:-0.722256px;}
.ls94{letter-spacing:-0.693936px;}
.ls3e{letter-spacing:-0.654408px;}
.ls1d{letter-spacing:-0.636840px;}
.ls83{letter-spacing:-0.614880px;}
.ls51{letter-spacing:-0.597312px;}
.ls27{letter-spacing:-0.570960px;}
.ls66{letter-spacing:-0.566568px;}
.ls6c{letter-spacing:-0.562176px;}
.ls2{letter-spacing:-0.557496px;}
.ls20{letter-spacing:-0.553392px;}
.ls47{letter-spacing:-0.544608px;}
.ls7d{letter-spacing:-0.535824px;}
.ls8d{letter-spacing:-0.513864px;}
.ls87{letter-spacing:-0.500688px;}
.ls55{letter-spacing:-0.491904px;}
.ls86{letter-spacing:-0.487512px;}
.ls60{letter-spacing:-0.478728px;}
.ls21{letter-spacing:-0.465552px;}
.ls81{letter-spacing:-0.461160px;}
.ls7f{letter-spacing:-0.452376px;}
.ls5a{letter-spacing:-0.447984px;}
.ls2f{letter-spacing:-0.439200px;}
.ls75{letter-spacing:-0.434808px;}
.ls18{letter-spacing:-0.430416px;}
.ls7c{letter-spacing:-0.426024px;}
.ls8c{letter-spacing:-0.412848px;}
.ls3a{letter-spacing:-0.399672px;}
.ls93{letter-spacing:-0.390888px;}
.ls6e{letter-spacing:-0.386496px;}
.ls14{letter-spacing:-0.360144px;}
.ls91{letter-spacing:-0.355752px;}
.ls90{letter-spacing:-0.346968px;}
.ls26{letter-spacing:-0.329400px;}
.ls92{letter-spacing:-0.325008px;}
.ls33{letter-spacing:-0.311832px;}
.ls62{letter-spacing:-0.276696px;}
.ls4a{letter-spacing:-0.202032px;}
.ls7e{letter-spacing:-0.197640px;}
.ls69{letter-spacing:-0.144936px;}
.lsa{letter-spacing:-0.140928px;}
.ls4b{letter-spacing:-0.122976px;}
.ls65{letter-spacing:-0.114192px;}
.ls49{letter-spacing:-0.105408px;}
.ls1b{letter-spacing:-0.096624px;}
.ls4f{letter-spacing:-0.092232px;}
.ls9{letter-spacing:-0.088080px;}
.ls44{letter-spacing:-0.087840px;}
.ls3b{letter-spacing:-0.083448px;}
.ls0{letter-spacing:-0.076896px;}
.ls5e{letter-spacing:-0.074664px;}
.ls43{letter-spacing:-0.070272px;}
.ls8e{letter-spacing:-0.065880px;}
.ls35{letter-spacing:-0.061488px;}
.ls70{letter-spacing:-0.057096px;}
.ls8{letter-spacing:-0.052848px;}
.ls15{letter-spacing:-0.052704px;}
.ls88{letter-spacing:-0.048312px;}
.ls5{letter-spacing:-0.044040px;}
.ls25{letter-spacing:-0.043920px;}
.ls30{letter-spacing:-0.039528px;}
.ls6{letter-spacing:-0.035232px;}
.ls22{letter-spacing:-0.035136px;}
.ls24{letter-spacing:-0.030744px;}
.ls29{letter-spacing:-0.026352px;}
.ls13{letter-spacing:-0.021960px;}
.ls37{letter-spacing:-0.017568px;}
.ls32{letter-spacing:-0.013176px;}
.ls54{letter-spacing:-0.008784px;}
.ls40{letter-spacing:-0.004392px;}
.ls1{letter-spacing:0.000000px;}
.ls34{letter-spacing:0.004392px;}
.ls31{letter-spacing:0.008784px;}
.ls2b{letter-spacing:0.013176px;}
.ls46{letter-spacing:0.017568px;}
.ls7{letter-spacing:0.017616px;}
.ls1a{letter-spacing:0.021960px;}
.ls38{letter-spacing:0.026352px;}
.ls19{letter-spacing:0.030744px;}
.ls1f{letter-spacing:0.035136px;}
.ls17{letter-spacing:0.039528px;}
.ls1e{letter-spacing:0.043920px;}
.ls4d{letter-spacing:0.048312px;}
.ls48{letter-spacing:0.052704px;}
.ls4{letter-spacing:0.052848px;}
.ls52{letter-spacing:0.057096px;}
.lse{letter-spacing:0.061488px;}
.ls2a{letter-spacing:0.065880px;}
.ls56{letter-spacing:0.070272px;}
.ls4c{letter-spacing:0.074664px;}
.ls10{letter-spacing:0.079056px;}
.ls16{letter-spacing:0.083448px;}
.lsc{letter-spacing:0.083880px;}
.ls50{letter-spacing:0.087840px;}
.ls7b{letter-spacing:0.092232px;}
.ls6a{letter-spacing:0.096624px;}
.ls2c{letter-spacing:0.101016px;}
.ls4e{letter-spacing:0.105408px;}
.ls23{letter-spacing:0.109800px;}
.ls45{letter-spacing:0.114192px;}
.ls28{letter-spacing:0.118584px;}
.ls74{letter-spacing:0.127368px;}
.ls77{letter-spacing:0.131760px;}
.ls5c{letter-spacing:0.136152px;}
.ls73{letter-spacing:0.140544px;}
.ls58{letter-spacing:0.144936px;}
.ls12{letter-spacing:0.149328px;}
.ls63{letter-spacing:0.153720px;}
.ls89{letter-spacing:0.162504px;}
.ls53{letter-spacing:0.166896px;}
.ls76{letter-spacing:0.171288px;}
.ls8b{letter-spacing:0.184464px;}
.ls80{letter-spacing:0.188856px;}
.ls59{letter-spacing:0.197640px;}
.ls57{letter-spacing:0.206424px;}
.ls71{letter-spacing:0.210816px;}
.ls6f{letter-spacing:0.215208px;}
.ls61{letter-spacing:0.219600px;}
.ls3c{letter-spacing:0.223992px;}
.ls8a{letter-spacing:0.237168px;}
.ls5f{letter-spacing:0.241560px;}
.ls2e{letter-spacing:0.245952px;}
.ls8f{letter-spacing:0.259128px;}
.ls5b{letter-spacing:0.263520px;}
.ls1c{letter-spacing:0.267912px;}
.ls41{letter-spacing:0.285480px;}
.ls6b{letter-spacing:0.311832px;}
.ls84{letter-spacing:0.320616px;}
.ls64{letter-spacing:0.342576px;}
.ls11{letter-spacing:0.351360px;}
.ls96{letter-spacing:0.360144px;}
.ls3d{letter-spacing:0.377712px;}
.ls95{letter-spacing:0.860832px;}
.ls2d{letter-spacing:2.446344px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._6{margin-left:-4.515744px;}
._0{margin-left:-3.329424px;}
._5{margin-left:-2.236344px;}
._1{margin-left:-1.101000px;}
._4{width:1.428984px;}
._2{width:2.740080px;}
._3{width:4.594560px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs2{font-size:55.920000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:88.080000px;}
.ye{bottom:16.000000px;}
.yd{bottom:52.380000px;}
.y81{bottom:75.590460px;}
.y21{bottom:79.496200px;}
.y50{bottom:81.422280px;}
.y9d{bottom:86.291780px;}
.y48{bottom:87.245140px;}
.y60{bottom:94.191580px;}
.y3d{bottom:99.009720px;}
.y80{bottom:101.031120px;}
.y9c{bottom:101.773580px;}
.yf{bottom:102.000000px;}
.y20{bottom:102.060100px;}
.y47{bottom:102.661060px;}
.y4f{bottom:106.862940px;}
.y70{bottom:117.235860px;}
.y5f{bottom:119.632240px;}
.y4e{bottom:122.278860px;}
.y3c{bottom:124.450380px;}
.y7f{bottom:126.471780px;}
.y9b{bottom:127.214240px;}
.y46{bottom:128.101720px;}
.y6f{bottom:142.676520px;}
.y45{bottom:143.517640px;}
.y5e{bottom:145.072900px;}
.y4d{bottom:147.719520px;}
.y3b{bottom:149.891040px;}
.y7e{bottom:151.912440px;}
.y9a{bottom:152.654900px;}
.y6e{bottom:168.117180px;}
.y44{bottom:168.958300px;}
.y5d{bottom:170.513560px;}
.y4c{bottom:173.160180px;}
.y3a{bottom:175.331700px;}
.y7d{bottom:177.353100px;}
.y99{bottom:178.095560px;}
.y43{bottom:184.440100px;}
.y4b{bottom:188.641980px;}
.y7c{bottom:192.834900px;}
.y6d{bottom:193.557840px;}
.y5c{bottom:195.954220px;}
.y39{bottom:200.772360px;}
.y98{bottom:203.536220px;}
.y42{bottom:209.880760px;}
.y49{bottom:211.000000px;}
.y4a{bottom:211.140000px;}
.y7b{bottom:218.275560px;}
.y97{bottom:218.952140px;}
.y6c{bottom:218.998500px;}
.y5b{bottom:221.394880px;}
.y38{bottom:226.213020px;}
.y96{bottom:234.433940px;}
.y41{bottom:235.321420px;}
.y7a{bottom:243.716220px;}
.y6b{bottom:244.439160px;}
.y5a{bottom:246.835540px;}
.y95{bottom:249.849860px;}
.y37{bottom:251.708580px;}
.y6a{bottom:259.855080px;}
.y40{bottom:260.762080px;}
.y36{bottom:267.124500px;}
.y79{bottom:269.156880px;}
.y59{bottom:272.276200px;}
.y94{bottom:275.290520px;}
.y35{bottom:282.540420px;}
.y3e{bottom:283.000000px;}
.y3f{bottom:283.260100px;}
.y69{bottom:285.295740px;}
.y57{bottom:294.500000px;}
.y78{bottom:294.597540px;}
.y58{bottom:294.840100px;}
.y93{bottom:300.731180px;}
.y34{bottom:307.981080px;}
.y68{bottom:310.736400px;}
.y77{bottom:320.038200px;}
.y92{bottom:326.171840px;}
.y33{bottom:333.421740px;}
.y67{bottom:336.177060px;}
.yc{bottom:338.580000px;}
.y76{bottom:345.478860px;}
.y1f{bottom:347.934200px;}
.y91{bottom:351.612500px;}
.y32{bottom:358.862400px;}
.y66{bottom:361.617720px;}
.yb{bottom:365.399640px;}
.y75{bottom:370.919520px;}
.y1e{bottom:373.374860px;}
.y90{bottom:377.053160px;}
.y31{bottom:384.303060px;}
.y65{bottom:387.058380px;}
.y8f{bottom:392.469080px;}
.y74{bottom:396.360180px;}
.y9{bottom:398.696820px;}
.ya{bottom:398.700000px;}
.y1d{bottom:398.815520px;}
.y64{bottom:402.540180px;}
.y8e{bottom:407.950880px;}
.y30{bottom:409.743720px;}
.y73{bottom:411.776100px;}
.y63{bottom:417.956100px;}
.y1c{bottom:424.256180px;}
.y2f{bottom:425.225520px;}
.y8{bottom:429.546840px;}
.y8d{bottom:433.391540px;}
.y71{bottom:434.000000px;}
.y72{bottom:434.340000px;}
.y61{bottom:440.500000px;}
.y62{bottom:440.520000px;}
.y2e{bottom:440.641440px;}
.y8c{bottom:448.807460px;}
.y1b{bottom:449.696840px;}
.y8b{bottom:464.289260px;}
.y2d{bottom:466.082100px;}
.y7{bottom:470.460000px;}
.y1a{bottom:475.137500px;}
.y2c{bottom:481.563900px;}
.y8a{bottom:489.729920px;}
.y19{bottom:490.553420px;}
.y56{bottom:490.564400px;}
.y2b{bottom:496.979820px;}
.y0{bottom:503.500000px;}
.y6{bottom:503.940000px;}
.y89{bottom:505.145840px;}
.y18{bottom:515.994080px;}
.y55{bottom:516.005060px;}
.y88{bottom:520.561760px;}
.y2a{bottom:522.420480px;}
.y17{bottom:531.475880px;}
.y29{bottom:537.836400px;}
.y54{bottom:541.445720px;}
.y87{bottom:546.002420px;}
.y16{bottom:556.916540px;}
.y86{bottom:561.484220px;}
.y28{bottom:563.277060px;}
.y53{bottom:566.886380px;}
.y27{bottom:578.758860px;}
.y15{bottom:582.357200px;}
.y85{bottom:586.924880px;}
.y52{bottom:592.381940px;}
.y26{bottom:604.199520px;}
.y14{bottom:607.797860px;}
.y84{bottom:612.365540px;}
.y5{bottom:617.771280px;}
.y51{bottom:617.822600px;}
.y83{bottom:627.781460px;}
.y25{bottom:629.640180px;}
.y13{bottom:633.238520px;}
.y82{bottom:643.263260px;}
.y24{bottom:645.056100px;}
.y4{bottom:647.464800px;}
.y12{bottom:658.679180px;}
.y22{bottom:667.500000px;}
.y23{bottom:667.620000px;}
.y3{bottom:677.102400px;}
.y11{bottom:684.119840px;}
.y2{bottom:706.740000px;}
.y10{bottom:709.560500px;}
.y1{bottom:740.820000px;}
.h6{height:29.272852px;}
.h9{height:30.023438px;}
.ha{height:32.661211px;}
.h3{height:37.270898px;}
.h5{height:38.226562px;}
.h2{height:43.804688px;}
.hb{height:53.000000px;}
.h4{height:60.210938px;}
.h7{height:69.015625px;}
.h1{height:98.000000px;}
.hf{height:203.500000px;}
.h8{height:231.000000px;}
.h10{height:286.500000px;}
.hc{height:335.500000px;}
.hd{height:382.000000px;}
.he{height:426.000000px;}
.h0{height:792.000000px;}
.w5{width:317.500000px;}
.w1{width:342.500000px;}
.w2{width:370.000000px;}
.w6{width:398.500000px;}
.w3{width:467.500000px;}
.w4{width:468.500000px;}
.w0{width:612.000000px;}
.x9{left:72.000000px;}
.x5{left:84.337860px;}
.x0{left:135.000000px;}
.x6{left:244.269120px;}
.xb{left:253.000000px;}
.x4{left:269.460000px;}
.x8{left:273.720420px;}
.x1{left:279.420000px;}
.x2{left:306.000000px;}
.x7{left:367.680000px;}
.xe{left:389.280000px;}
.xc{left:441.720000px;}
.xf{left:470.280000px;}
.x3{left:477.000000px;}
.xa{left:504.299900px;}
.xd{left:539.400000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.lsd{letter-spacing:-4.995168pt;}
.lsb{letter-spacing:-3.765280pt;}
.lsf{letter-spacing:-2.945568pt;}
.ls68{letter-spacing:-2.500512pt;}
.ls6d{letter-spacing:-2.494656pt;}
.ls5d{letter-spacing:-2.371680pt;}
.ls78{letter-spacing:-1.856352pt;}
.ls7a{letter-spacing:-1.733376pt;}
.ls3f{letter-spacing:-1.370304pt;}
.ls39{letter-spacing:-1.229760pt;}
.ls42{letter-spacing:-1.153632pt;}
.ls36{letter-spacing:-1.147776pt;}
.ls85{letter-spacing:-1.130208pt;}
.ls79{letter-spacing:-1.077504pt;}
.ls67{letter-spacing:-1.071648pt;}
.ls82{letter-spacing:-1.013088pt;}
.ls72{letter-spacing:-0.977952pt;}
.ls3{letter-spacing:-0.963008pt;}
.ls94{letter-spacing:-0.925248pt;}
.ls3e{letter-spacing:-0.872544pt;}
.ls1d{letter-spacing:-0.849120pt;}
.ls83{letter-spacing:-0.819840pt;}
.ls51{letter-spacing:-0.796416pt;}
.ls27{letter-spacing:-0.761280pt;}
.ls66{letter-spacing:-0.755424pt;}
.ls6c{letter-spacing:-0.749568pt;}
.ls2{letter-spacing:-0.743328pt;}
.ls20{letter-spacing:-0.737856pt;}
.ls47{letter-spacing:-0.726144pt;}
.ls7d{letter-spacing:-0.714432pt;}
.ls8d{letter-spacing:-0.685152pt;}
.ls87{letter-spacing:-0.667584pt;}
.ls55{letter-spacing:-0.655872pt;}
.ls86{letter-spacing:-0.650016pt;}
.ls60{letter-spacing:-0.638304pt;}
.ls21{letter-spacing:-0.620736pt;}
.ls81{letter-spacing:-0.614880pt;}
.ls7f{letter-spacing:-0.603168pt;}
.ls5a{letter-spacing:-0.597312pt;}
.ls2f{letter-spacing:-0.585600pt;}
.ls75{letter-spacing:-0.579744pt;}
.ls18{letter-spacing:-0.573888pt;}
.ls7c{letter-spacing:-0.568032pt;}
.ls8c{letter-spacing:-0.550464pt;}
.ls3a{letter-spacing:-0.532896pt;}
.ls93{letter-spacing:-0.521184pt;}
.ls6e{letter-spacing:-0.515328pt;}
.ls14{letter-spacing:-0.480192pt;}
.ls91{letter-spacing:-0.474336pt;}
.ls90{letter-spacing:-0.462624pt;}
.ls26{letter-spacing:-0.439200pt;}
.ls92{letter-spacing:-0.433344pt;}
.ls33{letter-spacing:-0.415776pt;}
.ls62{letter-spacing:-0.368928pt;}
.ls4a{letter-spacing:-0.269376pt;}
.ls7e{letter-spacing:-0.263520pt;}
.ls69{letter-spacing:-0.193248pt;}
.lsa{letter-spacing:-0.187904pt;}
.ls4b{letter-spacing:-0.163968pt;}
.ls65{letter-spacing:-0.152256pt;}
.ls49{letter-spacing:-0.140544pt;}
.ls1b{letter-spacing:-0.128832pt;}
.ls4f{letter-spacing:-0.122976pt;}
.ls9{letter-spacing:-0.117440pt;}
.ls44{letter-spacing:-0.117120pt;}
.ls3b{letter-spacing:-0.111264pt;}
.ls0{letter-spacing:-0.102528pt;}
.ls5e{letter-spacing:-0.099552pt;}
.ls43{letter-spacing:-0.093696pt;}
.ls8e{letter-spacing:-0.087840pt;}
.ls35{letter-spacing:-0.081984pt;}
.ls70{letter-spacing:-0.076128pt;}
.ls8{letter-spacing:-0.070464pt;}
.ls15{letter-spacing:-0.070272pt;}
.ls88{letter-spacing:-0.064416pt;}
.ls5{letter-spacing:-0.058720pt;}
.ls25{letter-spacing:-0.058560pt;}
.ls30{letter-spacing:-0.052704pt;}
.ls6{letter-spacing:-0.046976pt;}
.ls22{letter-spacing:-0.046848pt;}
.ls24{letter-spacing:-0.040992pt;}
.ls29{letter-spacing:-0.035136pt;}
.ls13{letter-spacing:-0.029280pt;}
.ls37{letter-spacing:-0.023424pt;}
.ls32{letter-spacing:-0.017568pt;}
.ls54{letter-spacing:-0.011712pt;}
.ls40{letter-spacing:-0.005856pt;}
.ls1{letter-spacing:0.000000pt;}
.ls34{letter-spacing:0.005856pt;}
.ls31{letter-spacing:0.011712pt;}
.ls2b{letter-spacing:0.017568pt;}
.ls46{letter-spacing:0.023424pt;}
.ls7{letter-spacing:0.023488pt;}
.ls1a{letter-spacing:0.029280pt;}
.ls38{letter-spacing:0.035136pt;}
.ls19{letter-spacing:0.040992pt;}
.ls1f{letter-spacing:0.046848pt;}
.ls17{letter-spacing:0.052704pt;}
.ls1e{letter-spacing:0.058560pt;}
.ls4d{letter-spacing:0.064416pt;}
.ls48{letter-spacing:0.070272pt;}
.ls4{letter-spacing:0.070464pt;}
.ls52{letter-spacing:0.076128pt;}
.lse{letter-spacing:0.081984pt;}
.ls2a{letter-spacing:0.087840pt;}
.ls56{letter-spacing:0.093696pt;}
.ls4c{letter-spacing:0.099552pt;}
.ls10{letter-spacing:0.105408pt;}
.ls16{letter-spacing:0.111264pt;}
.lsc{letter-spacing:0.111840pt;}
.ls50{letter-spacing:0.117120pt;}
.ls7b{letter-spacing:0.122976pt;}
.ls6a{letter-spacing:0.128832pt;}
.ls2c{letter-spacing:0.134688pt;}
.ls4e{letter-spacing:0.140544pt;}
.ls23{letter-spacing:0.146400pt;}
.ls45{letter-spacing:0.152256pt;}
.ls28{letter-spacing:0.158112pt;}
.ls74{letter-spacing:0.169824pt;}
.ls77{letter-spacing:0.175680pt;}
.ls5c{letter-spacing:0.181536pt;}
.ls73{letter-spacing:0.187392pt;}
.ls58{letter-spacing:0.193248pt;}
.ls12{letter-spacing:0.199104pt;}
.ls63{letter-spacing:0.204960pt;}
.ls89{letter-spacing:0.216672pt;}
.ls53{letter-spacing:0.222528pt;}
.ls76{letter-spacing:0.228384pt;}
.ls8b{letter-spacing:0.245952pt;}
.ls80{letter-spacing:0.251808pt;}
.ls59{letter-spacing:0.263520pt;}
.ls57{letter-spacing:0.275232pt;}
.ls71{letter-spacing:0.281088pt;}
.ls6f{letter-spacing:0.286944pt;}
.ls61{letter-spacing:0.292800pt;}
.ls3c{letter-spacing:0.298656pt;}
.ls8a{letter-spacing:0.316224pt;}
.ls5f{letter-spacing:0.322080pt;}
.ls2e{letter-spacing:0.327936pt;}
.ls8f{letter-spacing:0.345504pt;}
.ls5b{letter-spacing:0.351360pt;}
.ls1c{letter-spacing:0.357216pt;}
.ls41{letter-spacing:0.380640pt;}
.ls6b{letter-spacing:0.415776pt;}
.ls84{letter-spacing:0.427488pt;}
.ls64{letter-spacing:0.456768pt;}
.ls11{letter-spacing:0.468480pt;}
.ls96{letter-spacing:0.480192pt;}
.ls3d{letter-spacing:0.503616pt;}
.ls95{letter-spacing:1.147776pt;}
.ls2d{letter-spacing:3.261792pt;}
.ws0{word-spacing:0.000000pt;}
._6{margin-left:-6.020992pt;}
._0{margin-left:-4.439232pt;}
._5{margin-left:-2.981792pt;}
._1{margin-left:-1.468000pt;}
._4{width:1.905312pt;}
._2{width:3.653440pt;}
._3{width:6.126080pt;}
.fs1{font-size:58.560000pt;}
.fs2{font-size:74.560000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:117.440000pt;}
.ye{bottom:21.333333pt;}
.yd{bottom:69.840000pt;}
.y81{bottom:100.787280pt;}
.y21{bottom:105.994933pt;}
.y50{bottom:108.563040pt;}
.y9d{bottom:115.055707pt;}
.y48{bottom:116.326853pt;}
.y60{bottom:125.588773pt;}
.y3d{bottom:132.012960pt;}
.y80{bottom:134.708160pt;}
.y9c{bottom:135.698107pt;}
.yf{bottom:136.000000pt;}
.y20{bottom:136.080133pt;}
.y47{bottom:136.881413pt;}
.y4f{bottom:142.483920pt;}
.y70{bottom:156.314480pt;}
.y5f{bottom:159.509653pt;}
.y4e{bottom:163.038480pt;}
.y3c{bottom:165.933840pt;}
.y7f{bottom:168.629040pt;}
.y9b{bottom:169.618987pt;}
.y46{bottom:170.802293pt;}
.y6f{bottom:190.235360pt;}
.y45{bottom:191.356853pt;}
.y5e{bottom:193.430533pt;}
.y4d{bottom:196.959360pt;}
.y3b{bottom:199.854720pt;}
.y7e{bottom:202.549920pt;}
.y9a{bottom:203.539867pt;}
.y6e{bottom:224.156240pt;}
.y44{bottom:225.277733pt;}
.y5d{bottom:227.351413pt;}
.y4c{bottom:230.880240pt;}
.y3a{bottom:233.775600pt;}
.y7d{bottom:236.470800pt;}
.y99{bottom:237.460747pt;}
.y43{bottom:245.920133pt;}
.y4b{bottom:251.522640pt;}
.y7c{bottom:257.113200pt;}
.y6d{bottom:258.077120pt;}
.y5c{bottom:261.272293pt;}
.y39{bottom:267.696480pt;}
.y98{bottom:271.381627pt;}
.y42{bottom:279.841013pt;}
.y49{bottom:281.333333pt;}
.y4a{bottom:281.520000pt;}
.y7b{bottom:291.034080pt;}
.y97{bottom:291.936187pt;}
.y6c{bottom:291.998000pt;}
.y5b{bottom:295.193173pt;}
.y38{bottom:301.617360pt;}
.y96{bottom:312.578587pt;}
.y41{bottom:313.761893pt;}
.y7a{bottom:324.954960pt;}
.y6b{bottom:325.918880pt;}
.y5a{bottom:329.114053pt;}
.y95{bottom:333.133147pt;}
.y37{bottom:335.611440pt;}
.y6a{bottom:346.473440pt;}
.y40{bottom:347.682773pt;}
.y36{bottom:356.166000pt;}
.y79{bottom:358.875840pt;}
.y59{bottom:363.034933pt;}
.y94{bottom:367.054027pt;}
.y35{bottom:376.720560pt;}
.y3e{bottom:377.333333pt;}
.y3f{bottom:377.680133pt;}
.y69{bottom:380.394320pt;}
.y57{bottom:392.666667pt;}
.y78{bottom:392.796720pt;}
.y58{bottom:393.120133pt;}
.y93{bottom:400.974907pt;}
.y34{bottom:410.641440pt;}
.y68{bottom:414.315200pt;}
.y77{bottom:426.717600pt;}
.y92{bottom:434.895787pt;}
.y33{bottom:444.562320pt;}
.y67{bottom:448.236080pt;}
.yc{bottom:451.440000pt;}
.y76{bottom:460.638480pt;}
.y1f{bottom:463.912267pt;}
.y91{bottom:468.816667pt;}
.y32{bottom:478.483200pt;}
.y66{bottom:482.156960pt;}
.yb{bottom:487.199520pt;}
.y75{bottom:494.559360pt;}
.y1e{bottom:497.833147pt;}
.y90{bottom:502.737547pt;}
.y31{bottom:512.404080pt;}
.y65{bottom:516.077840pt;}
.y8f{bottom:523.292107pt;}
.y74{bottom:528.480240pt;}
.y9{bottom:531.595760pt;}
.ya{bottom:531.600000pt;}
.y1d{bottom:531.754027pt;}
.y64{bottom:536.720240pt;}
.y8e{bottom:543.934507pt;}
.y30{bottom:546.324960pt;}
.y73{bottom:549.034800pt;}
.y63{bottom:557.274800pt;}
.y1c{bottom:565.674907pt;}
.y2f{bottom:566.967360pt;}
.y8{bottom:572.729120pt;}
.y8d{bottom:577.855387pt;}
.y71{bottom:578.666667pt;}
.y72{bottom:579.120000pt;}
.y61{bottom:587.333333pt;}
.y62{bottom:587.360000pt;}
.y2e{bottom:587.521920pt;}
.y8c{bottom:598.409947pt;}
.y1b{bottom:599.595787pt;}
.y8b{bottom:619.052347pt;}
.y2d{bottom:621.442800pt;}
.y7{bottom:627.280000pt;}
.y1a{bottom:633.516667pt;}
.y2c{bottom:642.085200pt;}
.y8a{bottom:652.973227pt;}
.y19{bottom:654.071227pt;}
.y56{bottom:654.085867pt;}
.y2b{bottom:662.639760pt;}
.y0{bottom:671.333333pt;}
.y6{bottom:671.920000pt;}
.y89{bottom:673.527787pt;}
.y18{bottom:687.992107pt;}
.y55{bottom:688.006747pt;}
.y88{bottom:694.082347pt;}
.y2a{bottom:696.560640pt;}
.y17{bottom:708.634507pt;}
.y29{bottom:717.115200pt;}
.y54{bottom:721.927627pt;}
.y87{bottom:728.003227pt;}
.y16{bottom:742.555387pt;}
.y86{bottom:748.645627pt;}
.y28{bottom:751.036080pt;}
.y53{bottom:755.848507pt;}
.y27{bottom:771.678480pt;}
.y15{bottom:776.476267pt;}
.y85{bottom:782.566507pt;}
.y52{bottom:789.842587pt;}
.y26{bottom:805.599360pt;}
.y14{bottom:810.397147pt;}
.y84{bottom:816.487387pt;}
.y5{bottom:823.695040pt;}
.y51{bottom:823.763467pt;}
.y83{bottom:837.041947pt;}
.y25{bottom:839.520240pt;}
.y13{bottom:844.318027pt;}
.y82{bottom:857.684347pt;}
.y24{bottom:860.074800pt;}
.y4{bottom:863.286400pt;}
.y12{bottom:878.238907pt;}
.y22{bottom:890.000000pt;}
.y23{bottom:890.160000pt;}
.y3{bottom:902.803200pt;}
.y11{bottom:912.159787pt;}
.y2{bottom:942.320000pt;}
.y10{bottom:946.080667pt;}
.y1{bottom:987.760000pt;}
.h6{height:39.030469pt;}
.h9{height:40.031250pt;}
.ha{height:43.548281pt;}
.h3{height:49.694531pt;}
.h5{height:50.968750pt;}
.h2{height:58.406250pt;}
.hb{height:70.666667pt;}
.h4{height:80.281250pt;}
.h7{height:92.020833pt;}
.h1{height:130.666667pt;}
.hf{height:271.333333pt;}
.h8{height:308.000000pt;}
.h10{height:382.000000pt;}
.hc{height:447.333333pt;}
.hd{height:509.333333pt;}
.he{height:568.000000pt;}
.h0{height:1056.000000pt;}
.w5{width:423.333333pt;}
.w1{width:456.666667pt;}
.w2{width:493.333333pt;}
.w6{width:531.333333pt;}
.w3{width:623.333333pt;}
.w4{width:624.666667pt;}
.w0{width:816.000000pt;}
.x9{left:96.000000pt;}
.x5{left:112.450480pt;}
.x0{left:180.000000pt;}
.x6{left:325.692160pt;}
.xb{left:337.333333pt;}
.x4{left:359.280000pt;}
.x8{left:364.960560pt;}
.x1{left:372.560000pt;}
.x2{left:408.000000pt;}
.x7{left:490.240000pt;}
.xe{left:519.040000pt;}
.xc{left:588.960000pt;}
.xf{left:627.040000pt;}
.x3{left:636.000000pt;}
.xa{left:672.399867pt;}
.xd{left:719.200000pt;}
}
