.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls36{letter-spacing:-0.101016px;}
.ls2{letter-spacing:-0.083304px;}
.ls0{letter-spacing:-0.076896px;}
.ls3a{letter-spacing:-0.074664px;}
.ls1e{letter-spacing:-0.070272px;}
.ls3c{letter-spacing:-0.065880px;}
.ls37{letter-spacing:-0.061488px;}
.lsa{letter-spacing:-0.057600px;}
.ls13{letter-spacing:-0.052704px;}
.ls38{letter-spacing:-0.048312px;}
.ls2d{letter-spacing:-0.043920px;}
.ls11{letter-spacing:-0.039528px;}
.ls8{letter-spacing:-0.038400px;}
.ls31{letter-spacing:-0.035136px;}
.ls33{letter-spacing:-0.030744px;}
.ls29{letter-spacing:-0.026352px;}
.ls1d{letter-spacing:-0.021960px;}
.ls6{letter-spacing:-0.019200px;}
.ls23{letter-spacing:-0.017568px;}
.ls30{letter-spacing:-0.013176px;}
.lsc{letter-spacing:-0.009600px;}
.ls16{letter-spacing:-0.008784px;}
.ls2c{letter-spacing:-0.004392px;}
.ls1{letter-spacing:0.000000px;}
.ls35{letter-spacing:0.004392px;}
.ls1a{letter-spacing:0.008784px;}
.ls1b{letter-spacing:0.013176px;}
.ls19{letter-spacing:0.017568px;}
.ls5{letter-spacing:0.019200px;}
.ls1f{letter-spacing:0.021960px;}
.lsb{letter-spacing:0.024000px;}
.ls1c{letter-spacing:0.026352px;}
.ls7{letter-spacing:0.028800px;}
.ls34{letter-spacing:0.030744px;}
.ls17{letter-spacing:0.035136px;}
.ls14{letter-spacing:0.039528px;}
.ls25{letter-spacing:0.043920px;}
.ls20{letter-spacing:0.048312px;}
.ls2f{letter-spacing:0.052704px;}
.ls28{letter-spacing:0.057096px;}
.ls2e{letter-spacing:0.061488px;}
.lse{letter-spacing:0.065880px;}
.ls3{letter-spacing:0.067200px;}
.ls39{letter-spacing:0.070272px;}
.ls27{letter-spacing:0.074664px;}
.ls21{letter-spacing:0.079056px;}
.lsf{letter-spacing:0.083448px;}
.ls4{letter-spacing:0.086400px;}
.ls32{letter-spacing:0.087840px;}
.ls18{letter-spacing:0.096624px;}
.ls24{letter-spacing:0.101016px;}
.ls2b{letter-spacing:0.105408px;}
.ls22{letter-spacing:0.109800px;}
.ls12{letter-spacing:0.118584px;}
.ls2a{letter-spacing:0.140544px;}
.ls3f{letter-spacing:0.144936px;}
.ls10{letter-spacing:0.149328px;}
.ls9{letter-spacing:0.153600px;}
.ls3d{letter-spacing:0.180072px;}
.ls41{letter-spacing:0.184464px;}
.ls3e{letter-spacing:0.188856px;}
.ls42{letter-spacing:0.197640px;}
.ls3b{letter-spacing:0.210816px;}
.ls15{letter-spacing:0.241560px;}
.ls26{letter-spacing:0.245952px;}
.ls40{letter-spacing:0.263520px;}
.lsd{letter-spacing:566.071704px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.036512px;}
._0{width:1.076040px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs2{font-size:48.000000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:96.000000px;}
.y13{bottom:16.000000px;}
.y12{bottom:39.840100px;}
.y2d{bottom:93.537780px;}
.y44{bottom:98.928960px;}
.y2c{bottom:118.978440px;}
.y43{bottom:124.369620px;}
.y2b{bottom:144.419100px;}
.y42{bottom:149.810280px;}
.y2a{bottom:159.835020px;}
.y41{bottom:175.250940px;}
.y29{bottom:185.275680px;}
.y40{bottom:200.691600px;}
.y28{bottom:210.716340px;}
.y11{bottom:211.739440px;}
.y3f{bottom:226.132260px;}
.y27{bottom:236.157000px;}
.y10{bottom:237.180100px;}
.y3e{bottom:251.572920px;}
.y26{bottom:261.597660px;}
.yf{bottom:263.100100px;}
.y3d{bottom:277.013580px;}
.y25{bottom:287.038320px;}
.yd{bottom:295.308000px;}
.ye{bottom:295.320100px;}
.y3c{bottom:302.454240px;}
.y24{bottom:312.478980px;}
.y3b{bottom:327.949800px;}
.yc{bottom:328.980000px;}
.y23{bottom:337.919640px;}
.y3a{bottom:353.390460px;}
.y22{bottom:363.360300px;}
.yb{bottom:372.660000px;}
.y39{bottom:378.831120px;}
.y21{bottom:388.800960px;}
.y38{bottom:404.271780px;}
.y0{bottom:407.500000px;}
.ya{bottom:407.820000px;}
.y20{bottom:414.241620px;}
.y37{bottom:429.712440px;}
.y1f{bottom:439.682280px;}
.y36{bottom:455.153100px;}
.y1e{bottom:465.122940px;}
.y35{bottom:480.593760px;}
.y1d{bottom:490.563600px;}
.y34{bottom:506.034420px;}
.y1c{bottom:516.004260px;}
.y9{bottom:520.740000px;}
.y33{bottom:531.475080px;}
.y1b{bottom:541.444920px;}
.y8{bottom:547.560000px;}
.y32{bottom:556.915740px;}
.y1a{bottom:566.885580px;}
.y7{bottom:574.440000px;}
.y31{bottom:582.356400px;}
.y19{bottom:592.381140px;}
.y6{bottom:601.260000px;}
.y30{bottom:607.797060px;}
.y18{bottom:617.821800px;}
.y5{bottom:628.140000px;}
.y2f{bottom:633.237720px;}
.y17{bottom:643.262460px;}
.y4{bottom:654.960000px;}
.y2e{bottom:658.678380px;}
.y16{bottom:668.703120px;}
.y3{bottom:681.840000px;}
.y15{bottom:684.119040px;}
.y2{bottom:708.660000px;}
.y14{bottom:709.559700px;}
.y1{bottom:740.820000px;}
.h6{height:29.272852px;}
.h8{height:31.524609px;}
.h3{height:31.992188px;}
.h5{height:32.812500px;}
.h2{height:43.804688px;}
.h4{height:65.625000px;}
.h7{height:69.015625px;}
.h1{height:98.000000px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x9{left:72.000000px;}
.x5{left:107.916000px;}
.x0{left:135.500000px;}
.x6{left:226.452000px;}
.xb{left:253.000000px;}
.x4{left:261.420000px;}
.x8{left:274.920000px;}
.x1{left:276.300000px;}
.x2{left:306.000000px;}
.x7{left:385.440000px;}
.x3{left:477.720000px;}
.xa{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls36{letter-spacing:-0.134688pt;}
.ls2{letter-spacing:-0.111072pt;}
.ls0{letter-spacing:-0.102528pt;}
.ls3a{letter-spacing:-0.099552pt;}
.ls1e{letter-spacing:-0.093696pt;}
.ls3c{letter-spacing:-0.087840pt;}
.ls37{letter-spacing:-0.081984pt;}
.lsa{letter-spacing:-0.076800pt;}
.ls13{letter-spacing:-0.070272pt;}
.ls38{letter-spacing:-0.064416pt;}
.ls2d{letter-spacing:-0.058560pt;}
.ls11{letter-spacing:-0.052704pt;}
.ls8{letter-spacing:-0.051200pt;}
.ls31{letter-spacing:-0.046848pt;}
.ls33{letter-spacing:-0.040992pt;}
.ls29{letter-spacing:-0.035136pt;}
.ls1d{letter-spacing:-0.029280pt;}
.ls6{letter-spacing:-0.025600pt;}
.ls23{letter-spacing:-0.023424pt;}
.ls30{letter-spacing:-0.017568pt;}
.lsc{letter-spacing:-0.012800pt;}
.ls16{letter-spacing:-0.011712pt;}
.ls2c{letter-spacing:-0.005856pt;}
.ls1{letter-spacing:0.000000pt;}
.ls35{letter-spacing:0.005856pt;}
.ls1a{letter-spacing:0.011712pt;}
.ls1b{letter-spacing:0.017568pt;}
.ls19{letter-spacing:0.023424pt;}
.ls5{letter-spacing:0.025600pt;}
.ls1f{letter-spacing:0.029280pt;}
.lsb{letter-spacing:0.032000pt;}
.ls1c{letter-spacing:0.035136pt;}
.ls7{letter-spacing:0.038400pt;}
.ls34{letter-spacing:0.040992pt;}
.ls17{letter-spacing:0.046848pt;}
.ls14{letter-spacing:0.052704pt;}
.ls25{letter-spacing:0.058560pt;}
.ls20{letter-spacing:0.064416pt;}
.ls2f{letter-spacing:0.070272pt;}
.ls28{letter-spacing:0.076128pt;}
.ls2e{letter-spacing:0.081984pt;}
.lse{letter-spacing:0.087840pt;}
.ls3{letter-spacing:0.089600pt;}
.ls39{letter-spacing:0.093696pt;}
.ls27{letter-spacing:0.099552pt;}
.ls21{letter-spacing:0.105408pt;}
.lsf{letter-spacing:0.111264pt;}
.ls4{letter-spacing:0.115200pt;}
.ls32{letter-spacing:0.117120pt;}
.ls18{letter-spacing:0.128832pt;}
.ls24{letter-spacing:0.134688pt;}
.ls2b{letter-spacing:0.140544pt;}
.ls22{letter-spacing:0.146400pt;}
.ls12{letter-spacing:0.158112pt;}
.ls2a{letter-spacing:0.187392pt;}
.ls3f{letter-spacing:0.193248pt;}
.ls10{letter-spacing:0.199104pt;}
.ls9{letter-spacing:0.204800pt;}
.ls3d{letter-spacing:0.240096pt;}
.ls41{letter-spacing:0.245952pt;}
.ls3e{letter-spacing:0.251808pt;}
.ls42{letter-spacing:0.263520pt;}
.ls3b{letter-spacing:0.281088pt;}
.ls15{letter-spacing:0.322080pt;}
.ls26{letter-spacing:0.327936pt;}
.ls40{letter-spacing:0.351360pt;}
.lsd{letter-spacing:754.762272pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.382016pt;}
._0{width:1.434720pt;}
.fs1{font-size:58.560000pt;}
.fs2{font-size:64.000000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:128.000000pt;}
.y13{bottom:21.333333pt;}
.y12{bottom:53.120133pt;}
.y2d{bottom:124.717040pt;}
.y44{bottom:131.905280pt;}
.y2c{bottom:158.637920pt;}
.y43{bottom:165.826160pt;}
.y2b{bottom:192.558800pt;}
.y42{bottom:199.747040pt;}
.y2a{bottom:213.113360pt;}
.y41{bottom:233.667920pt;}
.y29{bottom:247.034240pt;}
.y40{bottom:267.588800pt;}
.y28{bottom:280.955120pt;}
.y11{bottom:282.319253pt;}
.y3f{bottom:301.509680pt;}
.y27{bottom:314.876000pt;}
.y10{bottom:316.240133pt;}
.y3e{bottom:335.430560pt;}
.y26{bottom:348.796880pt;}
.yf{bottom:350.800133pt;}
.y3d{bottom:369.351440pt;}
.y25{bottom:382.717760pt;}
.yd{bottom:393.744000pt;}
.ye{bottom:393.760133pt;}
.y3c{bottom:403.272320pt;}
.y24{bottom:416.638640pt;}
.y3b{bottom:437.266400pt;}
.yc{bottom:438.640000pt;}
.y23{bottom:450.559520pt;}
.y3a{bottom:471.187280pt;}
.y22{bottom:484.480400pt;}
.yb{bottom:496.880000pt;}
.y39{bottom:505.108160pt;}
.y21{bottom:518.401280pt;}
.y38{bottom:539.029040pt;}
.y0{bottom:543.333333pt;}
.ya{bottom:543.760000pt;}
.y20{bottom:552.322160pt;}
.y37{bottom:572.949920pt;}
.y1f{bottom:586.243040pt;}
.y36{bottom:606.870800pt;}
.y1e{bottom:620.163920pt;}
.y35{bottom:640.791680pt;}
.y1d{bottom:654.084800pt;}
.y34{bottom:674.712560pt;}
.y1c{bottom:688.005680pt;}
.y9{bottom:694.320000pt;}
.y33{bottom:708.633440pt;}
.y1b{bottom:721.926560pt;}
.y8{bottom:730.080000pt;}
.y32{bottom:742.554320pt;}
.y1a{bottom:755.847440pt;}
.y7{bottom:765.920000pt;}
.y31{bottom:776.475200pt;}
.y19{bottom:789.841520pt;}
.y6{bottom:801.680000pt;}
.y30{bottom:810.396080pt;}
.y18{bottom:823.762400pt;}
.y5{bottom:837.520000pt;}
.y2f{bottom:844.316960pt;}
.y17{bottom:857.683280pt;}
.y4{bottom:873.280000pt;}
.y2e{bottom:878.237840pt;}
.y16{bottom:891.604160pt;}
.y3{bottom:909.120000pt;}
.y15{bottom:912.158720pt;}
.y2{bottom:944.880000pt;}
.y14{bottom:946.079600pt;}
.y1{bottom:987.760000pt;}
.h6{height:39.030469pt;}
.h8{height:42.032812pt;}
.h3{height:42.656250pt;}
.h5{height:43.750000pt;}
.h2{height:58.406250pt;}
.h4{height:87.500000pt;}
.h7{height:92.020833pt;}
.h1{height:130.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x9{left:96.000000pt;}
.x5{left:143.888000pt;}
.x0{left:180.666667pt;}
.x6{left:301.936000pt;}
.xb{left:337.333333pt;}
.x4{left:348.560000pt;}
.x8{left:366.560000pt;}
.x1{left:368.400000pt;}
.x2{left:408.000000pt;}
.x7{left:513.920000pt;}
.x3{left:636.960000pt;}
.xa{left:673.040000pt;}
}
