.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls16{letter-spacing:-1.680000px;}
.ls14{letter-spacing:-0.105600px;}
.lsa{letter-spacing:-0.072000px;}
.lsd{letter-spacing:-0.062400px;}
.ls1b{letter-spacing:-0.057600px;}
.ls15{letter-spacing:-0.052800px;}
.ls17{letter-spacing:-0.038400px;}
.ls7{letter-spacing:-0.024000px;}
.ls3{letter-spacing:-0.019200px;}
.ls1a{letter-spacing:-0.014400px;}
.ls2{letter-spacing:-0.009600px;}
.ls8{letter-spacing:-0.004800px;}
.ls1{letter-spacing:0.000000px;}
.ls6{letter-spacing:0.004800px;}
.ls5{letter-spacing:0.009600px;}
.lsf{letter-spacing:0.014400px;}
.ls4{letter-spacing:0.019200px;}
.lsc{letter-spacing:0.024000px;}
.lse{letter-spacing:0.028800px;}
.ls11{letter-spacing:0.033600px;}
.lsb{letter-spacing:0.038400px;}
.ls0{letter-spacing:0.038448px;}
.ls10{letter-spacing:0.043200px;}
.ls12{letter-spacing:0.048000px;}
.ls13{letter-spacing:0.052800px;}
.ls18{letter-spacing:0.057600px;}
.ls9{letter-spacing:0.081600px;}
.ls19{letter-spacing:0.201600px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.wsc{word-spacing:-2.664000px;}
.ws18{word-spacing:-2.659200px;}
.ws31{word-spacing:-2.649600px;}
.ws32{word-spacing:-2.635200px;}
.ws30{word-spacing:-2.625600px;}
.ws26{word-spacing:-2.601600px;}
.ws36{word-spacing:-2.582400px;}
.ws1f{word-spacing:-2.534400px;}
.ws2b{word-spacing:-0.984000px;}
.ws1b{word-spacing:-0.806400px;}
.ws2a{word-spacing:-0.729600px;}
.ws23{word-spacing:-0.700800px;}
.ws34{word-spacing:-0.225600px;}
.ws2d{word-spacing:-0.201600px;}
.ws33{word-spacing:-0.192000px;}
.ws2f{word-spacing:-0.158400px;}
.ws28{word-spacing:-0.153600px;}
.wsd{word-spacing:-0.129600px;}
.ws29{word-spacing:-0.124800px;}
.ws22{word-spacing:-0.120000px;}
.ws19{word-spacing:-0.115200px;}
.ws21{word-spacing:-0.105600px;}
.ws12{word-spacing:-0.100800px;}
.ws13{word-spacing:-0.091200px;}
.ws10{word-spacing:-0.086400px;}
.ws2e{word-spacing:-0.081600px;}
.ws1a{word-spacing:-0.076800px;}
.ws11{word-spacing:-0.072000px;}
.ws1e{word-spacing:-0.067200px;}
.ws27{word-spacing:-0.062400px;}
.ws14{word-spacing:-0.057600px;}
.ws1c{word-spacing:-0.052800px;}
.ws1d{word-spacing:-0.048000px;}
.ws16{word-spacing:-0.043200px;}
.wsa{word-spacing:-0.038400px;}
.ws15{word-spacing:-0.033600px;}
.ws20{word-spacing:-0.028800px;}
.wsf{word-spacing:-0.024000px;}
.ws4{word-spacing:-0.019200px;}
.ws17{word-spacing:-0.014400px;}
.ws5{word-spacing:-0.009600px;}
.ws6{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.ws8{word-spacing:0.004800px;}
.ws2{word-spacing:0.009600px;}
.ws35{word-spacing:0.014400px;}
.ws3{word-spacing:0.019200px;}
.ws7{word-spacing:0.024000px;}
.ws1{word-spacing:0.032400px;}
.ws24{word-spacing:0.052800px;}
.ws2c{word-spacing:0.057600px;}
.wse{word-spacing:0.062400px;}
.ws9{word-spacing:0.072000px;}
.wsb{word-spacing:0.100800px;}
.ws25{word-spacing:1.680000px;}
._1{margin-left:-4.416000px;}
._4{margin-left:-3.120000px;}
._0{margin-left:-2.052000px;}
._3{margin-left:-1.008000px;}
._5{width:1.392000px;}
._2{width:2.400000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:48.000000px;}
.fs3{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs2{font-size:108.000000px;}
.y28{bottom:17.000000px;}
.y2{bottom:39.140400px;}
.y27{bottom:59.720300px;}
.y56{bottom:60.140400px;}
.y26{bottom:75.560300px;}
.y55{bottom:75.980400px;}
.y25{bottom:91.460300px;}
.y54{bottom:91.820400px;}
.y24{bottom:107.300300px;}
.y53{bottom:107.720400px;}
.y23{bottom:123.200300px;}
.y52{bottom:123.560400px;}
.y22{bottom:139.040300px;}
.y51{bottom:139.460400px;}
.y21{bottom:154.940300px;}
.y50{bottom:155.300400px;}
.y20{bottom:170.780300px;}
.y4f{bottom:171.200400px;}
.y1f{bottom:186.680300px;}
.y4e{bottom:187.040400px;}
.y1e{bottom:202.520300px;}
.y4d{bottom:202.940400px;}
.y1d{bottom:218.420300px;}
.y4c{bottom:218.780400px;}
.y1c{bottom:234.260300px;}
.y4b{bottom:234.680400px;}
.y1b{bottom:250.160300px;}
.y4a{bottom:250.520400px;}
.y1a{bottom:266.000300px;}
.y49{bottom:266.420400px;}
.y19{bottom:281.900300px;}
.y48{bottom:282.260400px;}
.y18{bottom:297.740300px;}
.y47{bottom:298.160400px;}
.y17{bottom:313.640300px;}
.y46{bottom:314.000400px;}
.y16{bottom:329.480300px;}
.y45{bottom:329.900400px;}
.y15{bottom:345.380300px;}
.y44{bottom:345.740400px;}
.y14{bottom:361.220300px;}
.y43{bottom:361.640400px;}
.y13{bottom:377.120300px;}
.y42{bottom:377.480400px;}
.y12{bottom:392.840300px;}
.y41{bottom:393.380400px;}
.y11{bottom:408.680300px;}
.y40{bottom:409.220400px;}
.y3f{bottom:425.060400px;}
.y10{bottom:430.466900px;}
.y3e{bottom:440.960400px;}
.y3d{bottom:456.800400px;}
.yf{bottom:466.160900px;}
.y3c{bottom:472.700400px;}
.y3b{bottom:488.540400px;}
.ye{bottom:501.860300px;}
.y3a{bottom:504.440400px;}
.y39{bottom:520.280400px;}
.y0{bottom:529.000000px;}
.yd{bottom:529.100400px;}
.y38{bottom:536.180400px;}
.y37{bottom:552.020400px;}
.y36{bottom:567.920400px;}
.y35{bottom:583.760400px;}
.y34{bottom:599.660400px;}
.y33{bottom:615.500400px;}
.yc{bottom:631.280400px;}
.y32{bottom:631.400400px;}
.yb{bottom:647.120400px;}
.y31{bottom:647.240400px;}
.ya{bottom:663.020400px;}
.y30{bottom:663.140400px;}
.y9{bottom:678.860400px;}
.y2f{bottom:678.980400px;}
.y8{bottom:694.760400px;}
.y2e{bottom:694.880400px;}
.y7{bottom:710.600400px;}
.y2d{bottom:710.720400px;}
.y6{bottom:726.500400px;}
.y2c{bottom:726.620400px;}
.y5{bottom:742.340400px;}
.y2b{bottom:742.460400px;}
.y4{bottom:758.240400px;}
.y2a{bottom:758.360400px;}
.y3{bottom:774.080400px;}
.y29{bottom:774.200400px;}
.y1{bottom:791.120300px;}
.h3{height:53.250000px;}
.h4{height:54.960938px;}
.h6{height:69.015625px;}
.h2{height:73.372852px;}
.h1{height:98.000000px;}
.h5{height:123.662109px;}
.h0{height:842.000000px;}
.w1{width:342.500000px;}
.w0{width:595.220000px;}
.x8{left:56.700000px;}
.x6{left:66.129900px;}
.x0{left:127.000000px;}
.x9{left:245.000000px;}
.x5{left:252.600000px;}
.x7{left:263.160000px;}
.x1{left:270.960000px;}
.x3{left:297.600000px;}
.x4{left:469.380000px;}
.x2{left:507.960000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls16{letter-spacing:-2.240000pt;}
.ls14{letter-spacing:-0.140800pt;}
.lsa{letter-spacing:-0.096000pt;}
.lsd{letter-spacing:-0.083200pt;}
.ls1b{letter-spacing:-0.076800pt;}
.ls15{letter-spacing:-0.070400pt;}
.ls17{letter-spacing:-0.051200pt;}
.ls7{letter-spacing:-0.032000pt;}
.ls3{letter-spacing:-0.025600pt;}
.ls1a{letter-spacing:-0.019200pt;}
.ls2{letter-spacing:-0.012800pt;}
.ls8{letter-spacing:-0.006400pt;}
.ls1{letter-spacing:0.000000pt;}
.ls6{letter-spacing:0.006400pt;}
.ls5{letter-spacing:0.012800pt;}
.lsf{letter-spacing:0.019200pt;}
.ls4{letter-spacing:0.025600pt;}
.lsc{letter-spacing:0.032000pt;}
.lse{letter-spacing:0.038400pt;}
.ls11{letter-spacing:0.044800pt;}
.lsb{letter-spacing:0.051200pt;}
.ls0{letter-spacing:0.051264pt;}
.ls10{letter-spacing:0.057600pt;}
.ls12{letter-spacing:0.064000pt;}
.ls13{letter-spacing:0.070400pt;}
.ls18{letter-spacing:0.076800pt;}
.ls9{letter-spacing:0.108800pt;}
.ls19{letter-spacing:0.268800pt;}
.wsc{word-spacing:-3.552000pt;}
.ws18{word-spacing:-3.545600pt;}
.ws31{word-spacing:-3.532800pt;}
.ws32{word-spacing:-3.513600pt;}
.ws30{word-spacing:-3.500800pt;}
.ws26{word-spacing:-3.468800pt;}
.ws36{word-spacing:-3.443200pt;}
.ws1f{word-spacing:-3.379200pt;}
.ws2b{word-spacing:-1.312000pt;}
.ws1b{word-spacing:-1.075200pt;}
.ws2a{word-spacing:-0.972800pt;}
.ws23{word-spacing:-0.934400pt;}
.ws34{word-spacing:-0.300800pt;}
.ws2d{word-spacing:-0.268800pt;}
.ws33{word-spacing:-0.256000pt;}
.ws2f{word-spacing:-0.211200pt;}
.ws28{word-spacing:-0.204800pt;}
.wsd{word-spacing:-0.172800pt;}
.ws29{word-spacing:-0.166400pt;}
.ws22{word-spacing:-0.160000pt;}
.ws19{word-spacing:-0.153600pt;}
.ws21{word-spacing:-0.140800pt;}
.ws12{word-spacing:-0.134400pt;}
.ws13{word-spacing:-0.121600pt;}
.ws10{word-spacing:-0.115200pt;}
.ws2e{word-spacing:-0.108800pt;}
.ws1a{word-spacing:-0.102400pt;}
.ws11{word-spacing:-0.096000pt;}
.ws1e{word-spacing:-0.089600pt;}
.ws27{word-spacing:-0.083200pt;}
.ws14{word-spacing:-0.076800pt;}
.ws1c{word-spacing:-0.070400pt;}
.ws1d{word-spacing:-0.064000pt;}
.ws16{word-spacing:-0.057600pt;}
.wsa{word-spacing:-0.051200pt;}
.ws15{word-spacing:-0.044800pt;}
.ws20{word-spacing:-0.038400pt;}
.wsf{word-spacing:-0.032000pt;}
.ws4{word-spacing:-0.025600pt;}
.ws17{word-spacing:-0.019200pt;}
.ws5{word-spacing:-0.012800pt;}
.ws6{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.ws8{word-spacing:0.006400pt;}
.ws2{word-spacing:0.012800pt;}
.ws35{word-spacing:0.019200pt;}
.ws3{word-spacing:0.025600pt;}
.ws7{word-spacing:0.032000pt;}
.ws1{word-spacing:0.043200pt;}
.ws24{word-spacing:0.070400pt;}
.ws2c{word-spacing:0.076800pt;}
.wse{word-spacing:0.083200pt;}
.ws9{word-spacing:0.096000pt;}
.wsb{word-spacing:0.134400pt;}
.ws25{word-spacing:2.240000pt;}
._1{margin-left:-5.888000pt;}
._4{margin-left:-4.160000pt;}
._0{margin-left:-2.736000pt;}
._3{margin-left:-1.344000pt;}
._5{width:1.856000pt;}
._2{width:3.200000pt;}
.fs1{font-size:64.000000pt;}
.fs3{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs2{font-size:144.000000pt;}
.y28{bottom:22.666667pt;}
.y2{bottom:52.187200pt;}
.y27{bottom:79.627067pt;}
.y56{bottom:80.187200pt;}
.y26{bottom:100.747067pt;}
.y55{bottom:101.307200pt;}
.y25{bottom:121.947067pt;}
.y54{bottom:122.427200pt;}
.y24{bottom:143.067067pt;}
.y53{bottom:143.627200pt;}
.y23{bottom:164.267067pt;}
.y52{bottom:164.747200pt;}
.y22{bottom:185.387067pt;}
.y51{bottom:185.947200pt;}
.y21{bottom:206.587067pt;}
.y50{bottom:207.067200pt;}
.y20{bottom:227.707067pt;}
.y4f{bottom:228.267200pt;}
.y1f{bottom:248.907067pt;}
.y4e{bottom:249.387200pt;}
.y1e{bottom:270.027067pt;}
.y4d{bottom:270.587200pt;}
.y1d{bottom:291.227067pt;}
.y4c{bottom:291.707200pt;}
.y1c{bottom:312.347067pt;}
.y4b{bottom:312.907200pt;}
.y1b{bottom:333.547067pt;}
.y4a{bottom:334.027200pt;}
.y1a{bottom:354.667067pt;}
.y49{bottom:355.227200pt;}
.y19{bottom:375.867067pt;}
.y48{bottom:376.347200pt;}
.y18{bottom:396.987067pt;}
.y47{bottom:397.547200pt;}
.y17{bottom:418.187067pt;}
.y46{bottom:418.667200pt;}
.y16{bottom:439.307067pt;}
.y45{bottom:439.867200pt;}
.y15{bottom:460.507067pt;}
.y44{bottom:460.987200pt;}
.y14{bottom:481.627067pt;}
.y43{bottom:482.187200pt;}
.y13{bottom:502.827067pt;}
.y42{bottom:503.307200pt;}
.y12{bottom:523.787067pt;}
.y41{bottom:524.507200pt;}
.y11{bottom:544.907067pt;}
.y40{bottom:545.627200pt;}
.y3f{bottom:566.747200pt;}
.y10{bottom:573.955867pt;}
.y3e{bottom:587.947200pt;}
.y3d{bottom:609.067200pt;}
.yf{bottom:621.547867pt;}
.y3c{bottom:630.267200pt;}
.y3b{bottom:651.387200pt;}
.ye{bottom:669.147067pt;}
.y3a{bottom:672.587200pt;}
.y39{bottom:693.707200pt;}
.y0{bottom:705.333333pt;}
.yd{bottom:705.467200pt;}
.y38{bottom:714.907200pt;}
.y37{bottom:736.027200pt;}
.y36{bottom:757.227200pt;}
.y35{bottom:778.347200pt;}
.y34{bottom:799.547200pt;}
.y33{bottom:820.667200pt;}
.yc{bottom:841.707200pt;}
.y32{bottom:841.867200pt;}
.yb{bottom:862.827200pt;}
.y31{bottom:862.987200pt;}
.ya{bottom:884.027200pt;}
.y30{bottom:884.187200pt;}
.y9{bottom:905.147200pt;}
.y2f{bottom:905.307200pt;}
.y8{bottom:926.347200pt;}
.y2e{bottom:926.507200pt;}
.y7{bottom:947.467200pt;}
.y2d{bottom:947.627200pt;}
.y6{bottom:968.667200pt;}
.y2c{bottom:968.827200pt;}
.y5{bottom:989.787200pt;}
.y2b{bottom:989.947200pt;}
.y4{bottom:1010.987200pt;}
.y2a{bottom:1011.147200pt;}
.y3{bottom:1032.107200pt;}
.y29{bottom:1032.267200pt;}
.y1{bottom:1054.827067pt;}
.h3{height:71.000000pt;}
.h4{height:73.281250pt;}
.h6{height:92.020833pt;}
.h2{height:97.830469pt;}
.h1{height:130.666667pt;}
.h5{height:164.882812pt;}
.h0{height:1122.666667pt;}
.w1{width:456.666667pt;}
.w0{width:793.626667pt;}
.x8{left:75.600000pt;}
.x6{left:88.173200pt;}
.x0{left:169.333333pt;}
.x9{left:326.666667pt;}
.x5{left:336.800000pt;}
.x7{left:350.880000pt;}
.x1{left:361.280000pt;}
.x3{left:396.800000pt;}
.x4{left:625.840000pt;}
.x2{left:677.280000pt;}
}
