.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-0.083304px;}
.ls0{letter-spacing:-0.076896px;}
.ls14{letter-spacing:-0.072000px;}
.ls11{letter-spacing:-0.062400px;}
.ls7{letter-spacing:-0.019200px;}
.ls9{letter-spacing:-0.014400px;}
.lsf{letter-spacing:-0.009600px;}
.lse{letter-spacing:-0.004800px;}
.ls1{letter-spacing:0.000000px;}
.ls8{letter-spacing:0.004800px;}
.lsa{letter-spacing:0.009600px;}
.lsb{letter-spacing:0.014400px;}
.lsd{letter-spacing:0.019200px;}
.ls13{letter-spacing:0.024000px;}
.ls15{letter-spacing:0.028800px;}
.ls12{letter-spacing:0.033600px;}
.ls4{letter-spacing:0.036768px;}
.ls18{letter-spacing:0.038400px;}
.ls5{letter-spacing:0.039960px;}
.ls16{letter-spacing:0.043200px;}
.ls17{letter-spacing:0.048000px;}
.lsc{letter-spacing:0.052800px;}
.ls3{letter-spacing:0.055152px;}
.ls19{letter-spacing:0.062400px;}
.ls10{letter-spacing:0.081600px;}
.ls6{letter-spacing:564.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws17{word-spacing:-0.139200px;}
.ws1f{word-spacing:-0.134400px;}
.ws19{word-spacing:-0.120000px;}
.ws12{word-spacing:-0.110400px;}
.ws10{word-spacing:-0.096000px;}
.ws3{word-spacing:-0.095904px;}
.ws1d{word-spacing:-0.091200px;}
.ws1c{word-spacing:-0.081600px;}
.ws20{word-spacing:-0.076800px;}
.ws18{word-spacing:-0.072000px;}
.ws7{word-spacing:-0.067200px;}
.ws15{word-spacing:-0.062400px;}
.ws13{word-spacing:-0.057600px;}
.ws9{word-spacing:-0.052800px;}
.ws1a{word-spacing:-0.048000px;}
.ws1b{word-spacing:-0.043200px;}
.ws1{word-spacing:-0.036768px;}
.ws5{word-spacing:-0.033600px;}
.ws16{word-spacing:-0.028800px;}
.wse{word-spacing:-0.024000px;}
.wsa{word-spacing:-0.019200px;}
.ws8{word-spacing:-0.014400px;}
.ws6{word-spacing:-0.009600px;}
.wsf{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.wsb{word-spacing:0.004800px;}
.wsc{word-spacing:0.009600px;}
.ws11{word-spacing:0.014400px;}
.ws4{word-spacing:0.019200px;}
.ws2{word-spacing:0.027576px;}
.wsd{word-spacing:0.062400px;}
.ws14{word-spacing:0.072000px;}
.ws1e{word-spacing:0.105600px;}
._0{margin-left:-1.056000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs5{font-size:48.000000px;}
.fs6{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs2{font-size:72.000000px;}
.fs4{font-size:79.920000px;}
.fs3{font-size:91.920000px;}
.ye{bottom:16.000000px;}
.yd{bottom:39.840100px;}
.y3f{bottom:88.080000px;}
.y28{bottom:92.160000px;}
.y58{bottom:96.300000px;}
.y48{bottom:108.060000px;}
.y57{bottom:112.200000px;}
.y3e{bottom:113.940000px;}
.y27{bottom:118.080000px;}
.y47{bottom:133.920000px;}
.y56{bottom:138.060000px;}
.y3d{bottom:139.800000px;}
.y26{bottom:143.940000px;}
.y46{bottom:159.780000px;}
.y55{bottom:163.920000px;}
.y3c{bottom:165.660000px;}
.y25{bottom:169.800000px;}
.y45{bottom:185.640000px;}
.y54{bottom:189.780000px;}
.y3b{bottom:191.520000px;}
.y24{bottom:195.660000px;}
.y44{bottom:211.500000px;}
.y53{bottom:215.640000px;}
.y3a{bottom:217.380000px;}
.y23{bottom:221.520000px;}
.y43{bottom:237.420000px;}
.y52{bottom:241.500000px;}
.y39{bottom:243.240000px;}
.y22{bottom:247.380000px;}
.y42{bottom:263.280000px;}
.y51{bottom:267.420000px;}
.y38{bottom:269.160000px;}
.y21{bottom:273.240000px;}
.y41{bottom:289.140000px;}
.y50{bottom:293.280000px;}
.y37{bottom:295.020000px;}
.y20{bottom:299.160000px;}
.y1f{bottom:315.000000px;}
.yc{bottom:315.420000px;}
.y4f{bottom:319.140000px;}
.y36{bottom:320.880000px;}
.y1e{bottom:340.860000px;}
.yb{bottom:344.280000px;}
.y4e{bottom:345.000000px;}
.y35{bottom:346.740000px;}
.y1d{bottom:366.720000px;}
.y4d{bottom:370.860000px;}
.y34{bottom:372.600000px;}
.y9{bottom:381.958620px;}
.ya{bottom:381.960000px;}
.y4c{bottom:386.760000px;}
.y1c{bottom:392.580000px;}
.y33{bottom:398.460000px;}
.y4b{bottom:402.600000px;}
.y8{bottom:412.315200px;}
.y1b{bottom:418.500000px;}
.y32{bottom:424.320000px;}
.y1a{bottom:444.360000px;}
.y31{bottom:450.240000px;}
.y7{bottom:452.760000px;}
.y19{bottom:470.220000px;}
.y30{bottom:476.100000px;}
.y0{bottom:487.000000px;}
.y6{bottom:487.314000px;}
.y18{bottom:496.080000px;}
.y2f{bottom:501.960000px;}
.y17{bottom:521.940000px;}
.y2e{bottom:527.820000px;}
.y16{bottom:547.800000px;}
.y2d{bottom:553.680000px;}
.y15{bottom:573.660000px;}
.y2c{bottom:579.540000px;}
.y14{bottom:599.580000px;}
.y5{bottom:601.848000px;}
.y2b{bottom:605.400000px;}
.y40{bottom:615.420000px;}
.y13{bottom:625.440000px;}
.y2a{bottom:631.320000px;}
.y4{bottom:635.634000px;}
.y12{bottom:651.300000px;}
.y29{bottom:657.180000px;}
.y11{bottom:667.140000px;}
.y3{bottom:669.474000px;}
.y4a{bottom:677.160000px;}
.y10{bottom:683.040000px;}
.y49{bottom:693.060000px;}
.y2{bottom:703.260000px;}
.yf{bottom:708.900000px;}
.y1{bottom:740.820000px;}
.h7{height:29.272852px;}
.h2{height:43.804688px;}
.h6{height:53.250000px;}
.h9{height:54.960938px;}
.h8{height:69.015625px;}
.h3{height:82.441406px;}
.h5{height:91.509961px;}
.h1{height:98.000000px;}
.h4{height:105.250195px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x9{left:72.000000px;}
.x5{left:76.031340px;}
.x0{left:135.500000px;}
.x6{left:226.803120px;}
.xb{left:253.000000px;}
.x8{left:257.640000px;}
.x4{left:262.560000px;}
.x1{left:276.300000px;}
.x2{left:306.000000px;}
.x7{left:385.140000px;}
.x3{left:477.720000px;}
.xa{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-0.111072pt;}
.ls0{letter-spacing:-0.102528pt;}
.ls14{letter-spacing:-0.096000pt;}
.ls11{letter-spacing:-0.083200pt;}
.ls7{letter-spacing:-0.025600pt;}
.ls9{letter-spacing:-0.019200pt;}
.lsf{letter-spacing:-0.012800pt;}
.lse{letter-spacing:-0.006400pt;}
.ls1{letter-spacing:0.000000pt;}
.ls8{letter-spacing:0.006400pt;}
.lsa{letter-spacing:0.012800pt;}
.lsb{letter-spacing:0.019200pt;}
.lsd{letter-spacing:0.025600pt;}
.ls13{letter-spacing:0.032000pt;}
.ls15{letter-spacing:0.038400pt;}
.ls12{letter-spacing:0.044800pt;}
.ls4{letter-spacing:0.049024pt;}
.ls18{letter-spacing:0.051200pt;}
.ls5{letter-spacing:0.053280pt;}
.ls16{letter-spacing:0.057600pt;}
.ls17{letter-spacing:0.064000pt;}
.lsc{letter-spacing:0.070400pt;}
.ls3{letter-spacing:0.073536pt;}
.ls19{letter-spacing:0.083200pt;}
.ls10{letter-spacing:0.108800pt;}
.ls6{letter-spacing:752.000000pt;}
.ws17{word-spacing:-0.185600pt;}
.ws1f{word-spacing:-0.179200pt;}
.ws19{word-spacing:-0.160000pt;}
.ws12{word-spacing:-0.147200pt;}
.ws10{word-spacing:-0.128000pt;}
.ws3{word-spacing:-0.127872pt;}
.ws1d{word-spacing:-0.121600pt;}
.ws1c{word-spacing:-0.108800pt;}
.ws20{word-spacing:-0.102400pt;}
.ws18{word-spacing:-0.096000pt;}
.ws7{word-spacing:-0.089600pt;}
.ws15{word-spacing:-0.083200pt;}
.ws13{word-spacing:-0.076800pt;}
.ws9{word-spacing:-0.070400pt;}
.ws1a{word-spacing:-0.064000pt;}
.ws1b{word-spacing:-0.057600pt;}
.ws1{word-spacing:-0.049024pt;}
.ws5{word-spacing:-0.044800pt;}
.ws16{word-spacing:-0.038400pt;}
.wse{word-spacing:-0.032000pt;}
.wsa{word-spacing:-0.025600pt;}
.ws8{word-spacing:-0.019200pt;}
.ws6{word-spacing:-0.012800pt;}
.wsf{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.wsb{word-spacing:0.006400pt;}
.wsc{word-spacing:0.012800pt;}
.ws11{word-spacing:0.019200pt;}
.ws4{word-spacing:0.025600pt;}
.ws2{word-spacing:0.036768pt;}
.wsd{word-spacing:0.083200pt;}
.ws14{word-spacing:0.096000pt;}
.ws1e{word-spacing:0.140800pt;}
._0{margin-left:-1.408000pt;}
.fs1{font-size:58.560000pt;}
.fs5{font-size:64.000000pt;}
.fs6{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs2{font-size:96.000000pt;}
.fs4{font-size:106.560000pt;}
.fs3{font-size:122.560000pt;}
.ye{bottom:21.333333pt;}
.yd{bottom:53.120133pt;}
.y3f{bottom:117.440000pt;}
.y28{bottom:122.880000pt;}
.y58{bottom:128.400000pt;}
.y48{bottom:144.080000pt;}
.y57{bottom:149.600000pt;}
.y3e{bottom:151.920000pt;}
.y27{bottom:157.440000pt;}
.y47{bottom:178.560000pt;}
.y56{bottom:184.080000pt;}
.y3d{bottom:186.400000pt;}
.y26{bottom:191.920000pt;}
.y46{bottom:213.040000pt;}
.y55{bottom:218.560000pt;}
.y3c{bottom:220.880000pt;}
.y25{bottom:226.400000pt;}
.y45{bottom:247.520000pt;}
.y54{bottom:253.040000pt;}
.y3b{bottom:255.360000pt;}
.y24{bottom:260.880000pt;}
.y44{bottom:282.000000pt;}
.y53{bottom:287.520000pt;}
.y3a{bottom:289.840000pt;}
.y23{bottom:295.360000pt;}
.y43{bottom:316.560000pt;}
.y52{bottom:322.000000pt;}
.y39{bottom:324.320000pt;}
.y22{bottom:329.840000pt;}
.y42{bottom:351.040000pt;}
.y51{bottom:356.560000pt;}
.y38{bottom:358.880000pt;}
.y21{bottom:364.320000pt;}
.y41{bottom:385.520000pt;}
.y50{bottom:391.040000pt;}
.y37{bottom:393.360000pt;}
.y20{bottom:398.880000pt;}
.y1f{bottom:420.000000pt;}
.yc{bottom:420.560000pt;}
.y4f{bottom:425.520000pt;}
.y36{bottom:427.840000pt;}
.y1e{bottom:454.480000pt;}
.yb{bottom:459.040000pt;}
.y4e{bottom:460.000000pt;}
.y35{bottom:462.320000pt;}
.y1d{bottom:488.960000pt;}
.y4d{bottom:494.480000pt;}
.y34{bottom:496.800000pt;}
.y9{bottom:509.278160pt;}
.ya{bottom:509.280000pt;}
.y4c{bottom:515.680000pt;}
.y1c{bottom:523.440000pt;}
.y33{bottom:531.280000pt;}
.y4b{bottom:536.800000pt;}
.y8{bottom:549.753600pt;}
.y1b{bottom:558.000000pt;}
.y32{bottom:565.760000pt;}
.y1a{bottom:592.480000pt;}
.y31{bottom:600.320000pt;}
.y7{bottom:603.680000pt;}
.y19{bottom:626.960000pt;}
.y30{bottom:634.800000pt;}
.y0{bottom:649.333333pt;}
.y6{bottom:649.752000pt;}
.y18{bottom:661.440000pt;}
.y2f{bottom:669.280000pt;}
.y17{bottom:695.920000pt;}
.y2e{bottom:703.760000pt;}
.y16{bottom:730.400000pt;}
.y2d{bottom:738.240000pt;}
.y15{bottom:764.880000pt;}
.y2c{bottom:772.720000pt;}
.y14{bottom:799.440000pt;}
.y5{bottom:802.464000pt;}
.y2b{bottom:807.200000pt;}
.y40{bottom:820.560000pt;}
.y13{bottom:833.920000pt;}
.y2a{bottom:841.760000pt;}
.y4{bottom:847.512000pt;}
.y12{bottom:868.400000pt;}
.y29{bottom:876.240000pt;}
.y11{bottom:889.520000pt;}
.y3{bottom:892.632000pt;}
.y4a{bottom:902.880000pt;}
.y10{bottom:910.720000pt;}
.y49{bottom:924.080000pt;}
.y2{bottom:937.680000pt;}
.yf{bottom:945.200000pt;}
.y1{bottom:987.760000pt;}
.h7{height:39.030469pt;}
.h2{height:58.406250pt;}
.h6{height:71.000000pt;}
.h9{height:73.281250pt;}
.h8{height:92.020833pt;}
.h3{height:109.921875pt;}
.h5{height:122.013281pt;}
.h1{height:130.666667pt;}
.h4{height:140.333594pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x9{left:96.000000pt;}
.x5{left:101.375120pt;}
.x0{left:180.666667pt;}
.x6{left:302.404160pt;}
.xb{left:337.333333pt;}
.x8{left:343.520000pt;}
.x4{left:350.080000pt;}
.x1{left:368.400000pt;}
.x2{left:408.000000pt;}
.x7{left:513.520000pt;}
.x3{left:636.960000pt;}
.xa{left:673.040000pt;}
}
