.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls54{letter-spacing:-0.109800px;}
.lsd{letter-spacing:-0.109200px;}
.ls51{letter-spacing:-0.101016px;}
.ls3{letter-spacing:-0.092400px;}
.ls26{letter-spacing:-0.087840px;}
.ls4f{letter-spacing:-0.074664px;}
.ls18{letter-spacing:-0.070272px;}
.ls46{letter-spacing:-0.065880px;}
.ls34{letter-spacing:-0.061488px;}
.ls5{letter-spacing:-0.058800px;}
.ls3d{letter-spacing:-0.057096px;}
.ls12{letter-spacing:-0.052704px;}
.ls9{letter-spacing:-0.050400px;}
.ls3e{letter-spacing:-0.048312px;}
.ls3c{letter-spacing:-0.043920px;}
.ls43{letter-spacing:-0.039528px;}
.ls17{letter-spacing:-0.035136px;}
.ls2f{letter-spacing:-0.030744px;}
.ls16{letter-spacing:-0.026352px;}
.ls8{letter-spacing:-0.025200px;}
.ls0{letter-spacing:-0.022368px;}
.ls2d{letter-spacing:-0.021960px;}
.ls45{letter-spacing:-0.017568px;}
.lsc{letter-spacing:-0.016800px;}
.ls25{letter-spacing:-0.013176px;}
.ls1f{letter-spacing:-0.008784px;}
.ls6{letter-spacing:-0.008400px;}
.ls13{letter-spacing:-0.004392px;}
.ls1{letter-spacing:0.000000px;}
.ls28{letter-spacing:0.004392px;}
.ls23{letter-spacing:0.008784px;}
.ls24{letter-spacing:0.013176px;}
.ls19{letter-spacing:0.017568px;}
.ls14{letter-spacing:0.021960px;}
.ls1b{letter-spacing:0.026352px;}
.ls1d{letter-spacing:0.030744px;}
.ls7{letter-spacing:0.033600px;}
.ls31{letter-spacing:0.035136px;}
.ls1a{letter-spacing:0.039528px;}
.ls11{letter-spacing:0.043920px;}
.ls40{letter-spacing:0.048312px;}
.ls3f{letter-spacing:0.052704px;}
.ls3a{letter-spacing:0.057096px;}
.ls1c{letter-spacing:0.061488px;}
.lsf{letter-spacing:0.065880px;}
.ls2e{letter-spacing:0.070272px;}
.ls22{letter-spacing:0.074664px;}
.lsa{letter-spacing:0.075600px;}
.ls3b{letter-spacing:0.079056px;}
.ls10{letter-spacing:0.083448px;}
.ls4{letter-spacing:0.084000px;}
.ls36{letter-spacing:0.087840px;}
.ls32{letter-spacing:0.092232px;}
.lsb{letter-spacing:0.092400px;}
.ls20{letter-spacing:0.096624px;}
.ls27{letter-spacing:0.101016px;}
.ls58{letter-spacing:0.105408px;}
.ls21{letter-spacing:0.109800px;}
.ls33{letter-spacing:0.114192px;}
.ls15{letter-spacing:0.118584px;}
.ls29{letter-spacing:0.122976px;}
.ls5e{letter-spacing:0.127368px;}
.ls52{letter-spacing:0.131760px;}
.ls41{letter-spacing:0.136152px;}
.ls57{letter-spacing:0.140544px;}
.ls2b{letter-spacing:0.144936px;}
.ls4a{letter-spacing:0.149328px;}
.ls2{letter-spacing:0.150984px;}
.ls35{letter-spacing:0.162504px;}
.ls50{letter-spacing:0.166896px;}
.ls55{letter-spacing:0.175680px;}
.ls2c{letter-spacing:0.180072px;}
.ls5a{letter-spacing:0.184464px;}
.ls37{letter-spacing:0.188856px;}
.ls53{letter-spacing:0.193248px;}
.ls30{letter-spacing:0.197640px;}
.ls4c{letter-spacing:0.202032px;}
.ls4d{letter-spacing:0.206424px;}
.ls2a{letter-spacing:0.215208px;}
.ls49{letter-spacing:0.219600px;}
.ls48{letter-spacing:0.223992px;}
.ls47{letter-spacing:0.228384px;}
.ls39{letter-spacing:0.241560px;}
.ls59{letter-spacing:0.245952px;}
.ls56{letter-spacing:0.250344px;}
.ls44{letter-spacing:0.254736px;}
.ls38{letter-spacing:0.267912px;}
.ls5b{letter-spacing:0.276696px;}
.ls5d{letter-spacing:0.281088px;}
.ls4b{letter-spacing:0.285480px;}
.ls4e{letter-spacing:0.289872px;}
.ls1e{letter-spacing:0.320616px;}
.ls5c{letter-spacing:0.338184px;}
.ls42{letter-spacing:0.342576px;}
.lse{letter-spacing:566.071704px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.040904px;}
._0{width:1.093608px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs0{font-size:55.920000px;}
.fs3{font-size:56.000000px;}
.fs2{font-size:84.000000px;}
.yd{bottom:16.000000px;}
.yc{bottom:39.840100px;}
.y27{bottom:80.109240px;}
.y95{bottom:80.131200px;}
.y6c{bottom:85.500420px;}
.y41{bottom:92.110380px;}
.yad{bottom:92.121360px;}
.y55{bottom:95.525160px;}
.y94{bottom:105.571860px;}
.y26{bottom:107.526300px;}
.y6b{bottom:110.941080px;}
.yac{bottom:117.562020px;}
.y40{bottom:119.527440px;}
.y7c{bottom:120.965820px;}
.y54{bottom:122.942220px;}
.y93{bottom:131.012520px;}
.y25{bottom:134.943360px;}
.y6a{bottom:136.381740px;}
.yab{bottom:143.002680px;}
.y7b{bottom:146.406480px;}
.y3f{bottom:146.944500px;}
.y53{bottom:150.425160px;}
.y69{bottom:151.863540px;}
.y92{bottom:156.453180px;}
.y24{bottom:160.384020px;}
.yaa{bottom:168.443340px;}
.y7a{bottom:171.847140px;}
.y3e{bottom:172.385160px;}
.y52{bottom:177.842220px;}
.y68{bottom:179.280600px;}
.y91{bottom:181.893840px;}
.y23{bottom:185.824680px;}
.ya9{bottom:193.884000px;}
.y90{bottom:197.309760px;}
.y3d{bottom:197.825820px;}
.y79{bottom:199.264200px;}
.y51{bottom:203.282880px;}
.y67{bottom:206.763540px;}
.ya8{bottom:209.299920px;}
.y22{bottom:211.265340px;}
.y8f{bottom:212.725680px;}
.y3c{bottom:223.266480px;}
.y78{bottom:226.747140px;}
.y50{bottom:228.723540px;}
.y66{bottom:234.180600px;}
.y21{bottom:236.706000px;}
.ya7{bottom:236.716980px;}
.y8e{bottom:240.208620px;}
.y3b{bottom:248.707140px;}
.y20{bottom:252.187800px;}
.y4f{bottom:254.164200px;}
.y65{bottom:259.621260px;}
.y3a{bottom:264.188940px;}
.ya6{bottom:264.199920px;}
.y1f{bottom:267.603720px;}
.y8d{bottom:267.625680px;}
.y39{bottom:279.604860px;}
.y64{bottom:285.061920px;}
.ya5{bottom:291.616980px;}
.y1e{bottom:295.020780px;}
.y8c{bottom:295.042740px;}
.y77{bottom:305.045520px;}
.y38{bottom:307.021920px;}
.ya4{bottom:307.032900px;}
.y63{bottom:310.502580px;}
.y8b{bottom:320.483400px;}
.y1d{bottom:322.503720px;}
.y76{bottom:330.486180px;}
.ya3{bottom:332.473560px;}
.y37{bottom:334.504860px;}
.y62{bottom:335.943240px;}
.y8a{bottom:345.978960px;}
.ya2{bottom:347.955360px;}
.y1c{bottom:349.920780px;}
.y4e{bottom:349.986660px;}
.y61{bottom:351.359160px;}
.yb{bottom:354.422640px;}
.y75{bottom:355.926840px;}
.y36{bottom:361.921920px;}
.y74{bottom:371.408640px;}
.y89{bottom:371.419620px;}
.ya1{bottom:373.396020px;}
.y1b{bottom:375.361440px;}
.y4d{bottom:377.403720px;}
.y60{bottom:378.842100px;}
.ya{bottom:384.420000px;}
.y73{bottom:386.824560px;}
.y35{bottom:387.362580px;}
.y1a{bottom:390.843240px;}
.y88{bottom:396.860280px;}
.ya0{bottom:398.836680px;}
.y4c{bottom:402.844380px;}
.y5f{bottom:406.259160px;}
.y87{bottom:412.276200px;}
.y34{bottom:412.803240px;}
.y72{bottom:414.241620px;}
.y9f{bottom:414.252600px;}
.y19{bottom:416.283900px;}
.y9{bottom:423.900000px;}
.y86{bottom:427.692120px;}
.y4b{bottom:428.285040px;}
.y18{bottom:431.699820px;}
.y5e{bottom:433.676220px;}
.y33{bottom:438.243900px;}
.y9e{bottom:439.693260px;}
.y71{bottom:441.724560px;}
.y4a{bottom:453.725700px;}
.y85{bottom:455.175060px;}
.y17{bottom:457.140480px;}
.y5d{bottom:459.116880px;}
.y8{bottom:463.380000px;}
.y32{bottom:463.684560px;}
.y9d{bottom:467.176200px;}
.y70{bottom:469.141620px;}
.y16{bottom:472.556400px;}
.y31{bottom:479.166360px;}
.y84{bottom:482.592120px;}
.y5c{bottom:484.557540px;}
.y49{bottom:494.582280px;}
.y9c{bottom:494.593260px;}
.y15{bottom:497.997060px;}
.y7{bottom:498.298980px;}
.y30{bottom:506.583420px;}
.y5b{bottom:509.998200px;}
.y83{bottom:510.009180px;}
.y48{bottom:521.999340px;}
.y9b{bottom:522.010320px;}
.y6{bottom:523.739640px;}
.y14{bottom:525.480000px;}
.y2f{bottom:534.066360px;}
.y5a{bottom:535.438860px;}
.y82{bottom:535.449840px;}
.y9a{bottom:547.450980px;}
.y5{bottom:549.180300px;}
.y47{bottom:549.482280px;}
.y59{bottom:550.920660px;}
.y13{bottom:552.897060px;}
.y81{bottom:560.890500px;}
.y2e{bottom:561.483420px;}
.y0{bottom:571.500000px;}
.y4{bottom:571.683840px;}
.y99{bottom:572.891640px;}
.y6f{bottom:576.361320px;}
.y46{bottom:576.899340px;}
.y58{bottom:578.337720px;}
.y12{bottom:580.380000px;}
.y80{bottom:586.386060px;}
.y2d{bottom:586.924080px;}
.y45{bottom:592.381140px;}
.y98{bottom:598.387200px;}
.y6e{bottom:601.801980px;}
.y11{bottom:605.820660px;}
.y7f{bottom:611.826720px;}
.y2c{bottom:612.364740px;}
.y44{bottom:617.821800px;}
.y97{bottom:623.827860px;}
.y7e{bottom:627.242640px;}
.y6d{bottom:629.219040px;}
.y10{bottom:631.261320px;}
.y57{bottom:633.237720px;}
.y2b{bottom:637.805400px;}
.y96{bottom:639.243780px;}
.y43{bottom:643.262460px;}
.y7d{bottom:654.659700px;}
.yf{bottom:656.701980px;}
.y56{bottom:658.678380px;}
.y2a{bottom:663.246060px;}
.y42{bottom:668.703120px;}
.y29{bottom:678.661980px;}
.ye{bottom:682.142640px;}
.y3{bottom:684.119040px;}
.y28{bottom:694.143780px;}
.y2{bottom:709.559700px;}
.y1{bottom:742.740000px;}
.h3{height:29.272852px;}
.h6{height:31.524609px;}
.h2{height:38.226562px;}
.h4{height:57.421875px;}
.h5{height:69.015625px;}
.h1{height:98.000000px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x7{left:72.004620px;}
.x5{left:77.874000px;}
.x0{left:135.500000px;}
.x9{left:253.000000px;}
.x6{left:256.920000px;}
.x4{left:267.000000px;}
.x1{left:279.960000px;}
.x2{left:306.000300px;}
.x3{left:477.716520px;}
.x8{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls54{letter-spacing:-0.146400pt;}
.lsd{letter-spacing:-0.145600pt;}
.ls51{letter-spacing:-0.134688pt;}
.ls3{letter-spacing:-0.123200pt;}
.ls26{letter-spacing:-0.117120pt;}
.ls4f{letter-spacing:-0.099552pt;}
.ls18{letter-spacing:-0.093696pt;}
.ls46{letter-spacing:-0.087840pt;}
.ls34{letter-spacing:-0.081984pt;}
.ls5{letter-spacing:-0.078400pt;}
.ls3d{letter-spacing:-0.076128pt;}
.ls12{letter-spacing:-0.070272pt;}
.ls9{letter-spacing:-0.067200pt;}
.ls3e{letter-spacing:-0.064416pt;}
.ls3c{letter-spacing:-0.058560pt;}
.ls43{letter-spacing:-0.052704pt;}
.ls17{letter-spacing:-0.046848pt;}
.ls2f{letter-spacing:-0.040992pt;}
.ls16{letter-spacing:-0.035136pt;}
.ls8{letter-spacing:-0.033600pt;}
.ls0{letter-spacing:-0.029824pt;}
.ls2d{letter-spacing:-0.029280pt;}
.ls45{letter-spacing:-0.023424pt;}
.lsc{letter-spacing:-0.022400pt;}
.ls25{letter-spacing:-0.017568pt;}
.ls1f{letter-spacing:-0.011712pt;}
.ls6{letter-spacing:-0.011200pt;}
.ls13{letter-spacing:-0.005856pt;}
.ls1{letter-spacing:0.000000pt;}
.ls28{letter-spacing:0.005856pt;}
.ls23{letter-spacing:0.011712pt;}
.ls24{letter-spacing:0.017568pt;}
.ls19{letter-spacing:0.023424pt;}
.ls14{letter-spacing:0.029280pt;}
.ls1b{letter-spacing:0.035136pt;}
.ls1d{letter-spacing:0.040992pt;}
.ls7{letter-spacing:0.044800pt;}
.ls31{letter-spacing:0.046848pt;}
.ls1a{letter-spacing:0.052704pt;}
.ls11{letter-spacing:0.058560pt;}
.ls40{letter-spacing:0.064416pt;}
.ls3f{letter-spacing:0.070272pt;}
.ls3a{letter-spacing:0.076128pt;}
.ls1c{letter-spacing:0.081984pt;}
.lsf{letter-spacing:0.087840pt;}
.ls2e{letter-spacing:0.093696pt;}
.ls22{letter-spacing:0.099552pt;}
.lsa{letter-spacing:0.100800pt;}
.ls3b{letter-spacing:0.105408pt;}
.ls10{letter-spacing:0.111264pt;}
.ls4{letter-spacing:0.112000pt;}
.ls36{letter-spacing:0.117120pt;}
.ls32{letter-spacing:0.122976pt;}
.lsb{letter-spacing:0.123200pt;}
.ls20{letter-spacing:0.128832pt;}
.ls27{letter-spacing:0.134688pt;}
.ls58{letter-spacing:0.140544pt;}
.ls21{letter-spacing:0.146400pt;}
.ls33{letter-spacing:0.152256pt;}
.ls15{letter-spacing:0.158112pt;}
.ls29{letter-spacing:0.163968pt;}
.ls5e{letter-spacing:0.169824pt;}
.ls52{letter-spacing:0.175680pt;}
.ls41{letter-spacing:0.181536pt;}
.ls57{letter-spacing:0.187392pt;}
.ls2b{letter-spacing:0.193248pt;}
.ls4a{letter-spacing:0.199104pt;}
.ls2{letter-spacing:0.201312pt;}
.ls35{letter-spacing:0.216672pt;}
.ls50{letter-spacing:0.222528pt;}
.ls55{letter-spacing:0.234240pt;}
.ls2c{letter-spacing:0.240096pt;}
.ls5a{letter-spacing:0.245952pt;}
.ls37{letter-spacing:0.251808pt;}
.ls53{letter-spacing:0.257664pt;}
.ls30{letter-spacing:0.263520pt;}
.ls4c{letter-spacing:0.269376pt;}
.ls4d{letter-spacing:0.275232pt;}
.ls2a{letter-spacing:0.286944pt;}
.ls49{letter-spacing:0.292800pt;}
.ls48{letter-spacing:0.298656pt;}
.ls47{letter-spacing:0.304512pt;}
.ls39{letter-spacing:0.322080pt;}
.ls59{letter-spacing:0.327936pt;}
.ls56{letter-spacing:0.333792pt;}
.ls44{letter-spacing:0.339648pt;}
.ls38{letter-spacing:0.357216pt;}
.ls5b{letter-spacing:0.368928pt;}
.ls5d{letter-spacing:0.374784pt;}
.ls4b{letter-spacing:0.380640pt;}
.ls4e{letter-spacing:0.386496pt;}
.ls1e{letter-spacing:0.427488pt;}
.ls5c{letter-spacing:0.450912pt;}
.ls42{letter-spacing:0.456768pt;}
.lse{letter-spacing:754.762272pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.387872pt;}
._0{width:1.458144pt;}
.fs1{font-size:58.560000pt;}
.fs0{font-size:74.560000pt;}
.fs3{font-size:74.666667pt;}
.fs2{font-size:112.000000pt;}
.yd{bottom:21.333333pt;}
.yc{bottom:53.120133pt;}
.y27{bottom:106.812320pt;}
.y95{bottom:106.841600pt;}
.y6c{bottom:114.000560pt;}
.y41{bottom:122.813840pt;}
.yad{bottom:122.828480pt;}
.y55{bottom:127.366880pt;}
.y94{bottom:140.762480pt;}
.y26{bottom:143.368400pt;}
.y6b{bottom:147.921440pt;}
.yac{bottom:156.749360pt;}
.y40{bottom:159.369920pt;}
.y7c{bottom:161.287760pt;}
.y54{bottom:163.922960pt;}
.y93{bottom:174.683360pt;}
.y25{bottom:179.924480pt;}
.y6a{bottom:181.842320pt;}
.yab{bottom:190.670240pt;}
.y7b{bottom:195.208640pt;}
.y3f{bottom:195.926000pt;}
.y53{bottom:200.566880pt;}
.y69{bottom:202.484720pt;}
.y92{bottom:208.604240pt;}
.y24{bottom:213.845360pt;}
.yaa{bottom:224.591120pt;}
.y7a{bottom:229.129520pt;}
.y3e{bottom:229.846880pt;}
.y52{bottom:237.122960pt;}
.y68{bottom:239.040800pt;}
.y91{bottom:242.525120pt;}
.y23{bottom:247.766240pt;}
.ya9{bottom:258.512000pt;}
.y90{bottom:263.079680pt;}
.y3d{bottom:263.767760pt;}
.y79{bottom:265.685600pt;}
.y51{bottom:271.043840pt;}
.y67{bottom:275.684720pt;}
.ya8{bottom:279.066560pt;}
.y22{bottom:281.687120pt;}
.y8f{bottom:283.634240pt;}
.y3c{bottom:297.688640pt;}
.y78{bottom:302.329520pt;}
.y50{bottom:304.964720pt;}
.y66{bottom:312.240800pt;}
.y21{bottom:315.608000pt;}
.ya7{bottom:315.622640pt;}
.y8e{bottom:320.278160pt;}
.y3b{bottom:331.609520pt;}
.y20{bottom:336.250400pt;}
.y4f{bottom:338.885600pt;}
.y65{bottom:346.161680pt;}
.y3a{bottom:352.251920pt;}
.ya6{bottom:352.266560pt;}
.y1f{bottom:356.804960pt;}
.y8d{bottom:356.834240pt;}
.y39{bottom:372.806480pt;}
.y64{bottom:380.082560pt;}
.ya5{bottom:388.822640pt;}
.y1e{bottom:393.361040pt;}
.y8c{bottom:393.390320pt;}
.y77{bottom:406.727360pt;}
.y38{bottom:409.362560pt;}
.ya4{bottom:409.377200pt;}
.y63{bottom:414.003440pt;}
.y8b{bottom:427.311200pt;}
.y1d{bottom:430.004960pt;}
.y76{bottom:440.648240pt;}
.ya3{bottom:443.298080pt;}
.y37{bottom:446.006480pt;}
.y62{bottom:447.924320pt;}
.y8a{bottom:461.305280pt;}
.ya2{bottom:463.940480pt;}
.y1c{bottom:466.561040pt;}
.y4e{bottom:466.648880pt;}
.y61{bottom:468.478880pt;}
.yb{bottom:472.563520pt;}
.y75{bottom:474.569120pt;}
.y36{bottom:482.562560pt;}
.y74{bottom:495.211520pt;}
.y89{bottom:495.226160pt;}
.ya1{bottom:497.861360pt;}
.y1b{bottom:500.481920pt;}
.y4d{bottom:503.204960pt;}
.y60{bottom:505.122800pt;}
.ya{bottom:512.560000pt;}
.y73{bottom:515.766080pt;}
.y35{bottom:516.483440pt;}
.y1a{bottom:521.124320pt;}
.y88{bottom:529.147040pt;}
.ya0{bottom:531.782240pt;}
.y4c{bottom:537.125840pt;}
.y5f{bottom:541.678880pt;}
.y87{bottom:549.701600pt;}
.y34{bottom:550.404320pt;}
.y72{bottom:552.322160pt;}
.y9f{bottom:552.336800pt;}
.y19{bottom:555.045200pt;}
.y9{bottom:565.200000pt;}
.y86{bottom:570.256160pt;}
.y4b{bottom:571.046720pt;}
.y18{bottom:575.599760pt;}
.y5e{bottom:578.234960pt;}
.y33{bottom:584.325200pt;}
.y9e{bottom:586.257680pt;}
.y71{bottom:588.966080pt;}
.y4a{bottom:604.967600pt;}
.y85{bottom:606.900080pt;}
.y17{bottom:609.520640pt;}
.y5d{bottom:612.155840pt;}
.y8{bottom:617.840000pt;}
.y32{bottom:618.246080pt;}
.y9d{bottom:622.901600pt;}
.y70{bottom:625.522160pt;}
.y16{bottom:630.075200pt;}
.y31{bottom:638.888480pt;}
.y84{bottom:643.456160pt;}
.y5c{bottom:646.076720pt;}
.y49{bottom:659.443040pt;}
.y9c{bottom:659.457680pt;}
.y15{bottom:663.996080pt;}
.y7{bottom:664.398640pt;}
.y30{bottom:675.444560pt;}
.y5b{bottom:679.997600pt;}
.y83{bottom:680.012240pt;}
.y48{bottom:695.999120pt;}
.y9b{bottom:696.013760pt;}
.y6{bottom:698.319520pt;}
.y14{bottom:700.640000pt;}
.y2f{bottom:712.088480pt;}
.y5a{bottom:713.918480pt;}
.y82{bottom:713.933120pt;}
.y9a{bottom:729.934640pt;}
.y5{bottom:732.240400pt;}
.y47{bottom:732.643040pt;}
.y59{bottom:734.560880pt;}
.y13{bottom:737.196080pt;}
.y81{bottom:747.854000pt;}
.y2e{bottom:748.644560pt;}
.y0{bottom:762.000000pt;}
.y4{bottom:762.245120pt;}
.y99{bottom:763.855520pt;}
.y6f{bottom:768.481760pt;}
.y46{bottom:769.199120pt;}
.y58{bottom:771.116960pt;}
.y12{bottom:773.840000pt;}
.y80{bottom:781.848080pt;}
.y2d{bottom:782.565440pt;}
.y45{bottom:789.841520pt;}
.y98{bottom:797.849600pt;}
.y6e{bottom:802.402640pt;}
.y11{bottom:807.760880pt;}
.y7f{bottom:815.768960pt;}
.y2c{bottom:816.486320pt;}
.y44{bottom:823.762400pt;}
.y97{bottom:831.770480pt;}
.y7e{bottom:836.323520pt;}
.y6d{bottom:838.958720pt;}
.y10{bottom:841.681760pt;}
.y57{bottom:844.316960pt;}
.y2b{bottom:850.407200pt;}
.y96{bottom:852.325040pt;}
.y43{bottom:857.683280pt;}
.y7d{bottom:872.879600pt;}
.yf{bottom:875.602640pt;}
.y56{bottom:878.237840pt;}
.y2a{bottom:884.328080pt;}
.y42{bottom:891.604160pt;}
.y29{bottom:904.882640pt;}
.ye{bottom:909.523520pt;}
.y3{bottom:912.158720pt;}
.y28{bottom:925.525040pt;}
.y2{bottom:946.079600pt;}
.y1{bottom:990.320000pt;}
.h3{height:39.030469pt;}
.h6{height:42.032812pt;}
.h2{height:50.968750pt;}
.h4{height:76.562500pt;}
.h5{height:92.020833pt;}
.h1{height:130.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x7{left:96.006160pt;}
.x5{left:103.832000pt;}
.x0{left:180.666667pt;}
.x9{left:337.333333pt;}
.x6{left:342.560000pt;}
.x4{left:356.000000pt;}
.x1{left:373.280000pt;}
.x2{left:408.000400pt;}
.x3{left:636.955360pt;}
.x8{left:673.040000pt;}
}
