.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-0.083304px;}
.ls0{letter-spacing:-0.076896px;}
.ls12{letter-spacing:-0.072000px;}
.ls10{letter-spacing:-0.062400px;}
.ls4{letter-spacing:-0.044040px;}
.ls3{letter-spacing:-0.026424px;}
.ls8{letter-spacing:-0.019200px;}
.ls5{letter-spacing:-0.017616px;}
.ls11{letter-spacing:-0.009600px;}
.ls15{letter-spacing:-0.004800px;}
.ls1{letter-spacing:0.000000px;}
.lsa{letter-spacing:0.004800px;}
.ls6{letter-spacing:0.007200px;}
.lsb{letter-spacing:0.009600px;}
.lsc{letter-spacing:0.014400px;}
.ls18{letter-spacing:0.019200px;}
.ls9{letter-spacing:0.024000px;}
.lse{letter-spacing:0.028800px;}
.lsd{letter-spacing:0.033600px;}
.ls14{letter-spacing:0.038400px;}
.ls13{letter-spacing:0.043200px;}
.ls16{letter-spacing:0.048000px;}
.ls17{letter-spacing:0.067200px;}
.lsf{letter-spacing:0.081600px;}
.ls7{letter-spacing:559.982304px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.wsa{word-spacing:-0.244800px;}
.ws14{word-spacing:-0.216000px;}
.ws2{word-spacing:-0.158544px;}
.ws11{word-spacing:-0.120000px;}
.wsd{word-spacing:-0.110400px;}
.ws12{word-spacing:-0.096000px;}
.ws16{word-spacing:-0.081600px;}
.ws13{word-spacing:-0.043200px;}
.ws6{word-spacing:-0.038400px;}
.ws9{word-spacing:-0.033600px;}
.wsb{word-spacing:-0.028800px;}
.ws5{word-spacing:-0.024000px;}
.ws17{word-spacing:-0.019200px;}
.ws8{word-spacing:-0.014400px;}
.ws7{word-spacing:-0.009600px;}
.ws3{word-spacing:-0.007200px;}
.wse{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.wsf{word-spacing:0.009600px;}
.ws4{word-spacing:0.019200px;}
.ws1{word-spacing:0.044040px;}
.wsc{word-spacing:0.062400px;}
.ws10{word-spacing:0.072000px;}
.ws15{word-spacing:0.081600px;}
._0{margin-left:-1.200000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs5{font-size:48.000000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:72.000000px;}
.fs2{font-size:88.080000px;}
.yf{bottom:16.000000px;}
.ye{bottom:39.840100px;}
.y28{bottom:88.080000px;}
.y30{bottom:98.040000px;}
.y27{bottom:113.940000px;}
.y2f{bottom:123.900000px;}
.y26{bottom:139.800000px;}
.y2e{bottom:149.760000px;}
.y25{bottom:165.660000px;}
.y2d{bottom:175.680000px;}
.y24{bottom:191.520000px;}
.y2c{bottom:201.540000px;}
.y23{bottom:217.380000px;}
.y2b{bottom:227.400000px;}
.y22{bottom:243.240000px;}
.y2a{bottom:253.260000px;}
.y21{bottom:269.160000px;}
.y29{bottom:279.120000px;}
.y20{bottom:295.020000px;}
.yd{bottom:297.960100px;}
.y1f{bottom:320.880000px;}
.yc{bottom:329.940000px;}
.y1e{bottom:346.740000px;}
.yb{bottom:365.220000px;}
.ya{bottom:365.222040px;}
.y1d{bottom:372.600000px;}
.y9{bottom:394.310460px;}
.y1c{bottom:398.460000px;}
.y1b{bottom:424.320000px;}
.y8{bottom:433.440000px;}
.y1a{bottom:450.240000px;}
.y0{bottom:466.500000px;}
.y7{bottom:466.726380px;}
.y19{bottom:476.100000px;}
.y18{bottom:501.960000px;}
.y17{bottom:527.820000px;}
.y16{bottom:553.680000px;}
.y15{bottom:579.540000px;}
.y6{bottom:580.484400px;}
.y14{bottom:605.400000px;}
.y5{bottom:611.627280px;}
.y13{bottom:631.320000px;}
.y4{bottom:642.770160px;}
.y12{bottom:657.180000px;}
.y3{bottom:673.977120px;}
.y11{bottom:683.040000px;}
.y2{bottom:705.120000px;}
.y10{bottom:708.900000px;}
.y1{bottom:740.820000px;}
.h6{height:29.272852px;}
.h2{height:43.804688px;}
.h8{height:53.250000px;}
.h9{height:54.960938px;}
.h7{height:69.015625px;}
.h3{height:73.372852px;}
.h5{height:82.441406px;}
.h1{height:98.000000px;}
.h4{height:100.853320px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x9{left:72.000000px;}
.x5{left:77.404140px;}
.x0{left:135.500000px;}
.x6{left:253.145760px;}
.x8{left:262.500000px;}
.x4{left:264.420000px;}
.x1{left:276.300000px;}
.x2{left:306.000000px;}
.x7{left:358.800000px;}
.x3{left:477.718380px;}
.xa{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-0.111072pt;}
.ls0{letter-spacing:-0.102528pt;}
.ls12{letter-spacing:-0.096000pt;}
.ls10{letter-spacing:-0.083200pt;}
.ls4{letter-spacing:-0.058720pt;}
.ls3{letter-spacing:-0.035232pt;}
.ls8{letter-spacing:-0.025600pt;}
.ls5{letter-spacing:-0.023488pt;}
.ls11{letter-spacing:-0.012800pt;}
.ls15{letter-spacing:-0.006400pt;}
.ls1{letter-spacing:0.000000pt;}
.lsa{letter-spacing:0.006400pt;}
.ls6{letter-spacing:0.009600pt;}
.lsb{letter-spacing:0.012800pt;}
.lsc{letter-spacing:0.019200pt;}
.ls18{letter-spacing:0.025600pt;}
.ls9{letter-spacing:0.032000pt;}
.lse{letter-spacing:0.038400pt;}
.lsd{letter-spacing:0.044800pt;}
.ls14{letter-spacing:0.051200pt;}
.ls13{letter-spacing:0.057600pt;}
.ls16{letter-spacing:0.064000pt;}
.ls17{letter-spacing:0.089600pt;}
.lsf{letter-spacing:0.108800pt;}
.ls7{letter-spacing:746.643072pt;}
.wsa{word-spacing:-0.326400pt;}
.ws14{word-spacing:-0.288000pt;}
.ws2{word-spacing:-0.211392pt;}
.ws11{word-spacing:-0.160000pt;}
.wsd{word-spacing:-0.147200pt;}
.ws12{word-spacing:-0.128000pt;}
.ws16{word-spacing:-0.108800pt;}
.ws13{word-spacing:-0.057600pt;}
.ws6{word-spacing:-0.051200pt;}
.ws9{word-spacing:-0.044800pt;}
.wsb{word-spacing:-0.038400pt;}
.ws5{word-spacing:-0.032000pt;}
.ws17{word-spacing:-0.025600pt;}
.ws8{word-spacing:-0.019200pt;}
.ws7{word-spacing:-0.012800pt;}
.ws3{word-spacing:-0.009600pt;}
.wse{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.wsf{word-spacing:0.012800pt;}
.ws4{word-spacing:0.025600pt;}
.ws1{word-spacing:0.058720pt;}
.wsc{word-spacing:0.083200pt;}
.ws10{word-spacing:0.096000pt;}
.ws15{word-spacing:0.108800pt;}
._0{margin-left:-1.600000pt;}
.fs1{font-size:58.560000pt;}
.fs5{font-size:64.000000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:96.000000pt;}
.fs2{font-size:117.440000pt;}
.yf{bottom:21.333333pt;}
.ye{bottom:53.120133pt;}
.y28{bottom:117.440000pt;}
.y30{bottom:130.720000pt;}
.y27{bottom:151.920000pt;}
.y2f{bottom:165.200000pt;}
.y26{bottom:186.400000pt;}
.y2e{bottom:199.680000pt;}
.y25{bottom:220.880000pt;}
.y2d{bottom:234.240000pt;}
.y24{bottom:255.360000pt;}
.y2c{bottom:268.720000pt;}
.y23{bottom:289.840000pt;}
.y2b{bottom:303.200000pt;}
.y22{bottom:324.320000pt;}
.y2a{bottom:337.680000pt;}
.y21{bottom:358.880000pt;}
.y29{bottom:372.160000pt;}
.y20{bottom:393.360000pt;}
.yd{bottom:397.280133pt;}
.y1f{bottom:427.840000pt;}
.yc{bottom:439.920000pt;}
.y1e{bottom:462.320000pt;}
.yb{bottom:486.960000pt;}
.ya{bottom:486.962720pt;}
.y1d{bottom:496.800000pt;}
.y9{bottom:525.747280pt;}
.y1c{bottom:531.280000pt;}
.y1b{bottom:565.760000pt;}
.y8{bottom:577.920000pt;}
.y1a{bottom:600.320000pt;}
.y0{bottom:622.000000pt;}
.y7{bottom:622.301840pt;}
.y19{bottom:634.800000pt;}
.y18{bottom:669.280000pt;}
.y17{bottom:703.760000pt;}
.y16{bottom:738.240000pt;}
.y15{bottom:772.720000pt;}
.y6{bottom:773.979200pt;}
.y14{bottom:807.200000pt;}
.y5{bottom:815.503040pt;}
.y13{bottom:841.760000pt;}
.y4{bottom:857.026880pt;}
.y12{bottom:876.240000pt;}
.y3{bottom:898.636160pt;}
.y11{bottom:910.720000pt;}
.y2{bottom:940.160000pt;}
.y10{bottom:945.200000pt;}
.y1{bottom:987.760000pt;}
.h6{height:39.030469pt;}
.h2{height:58.406250pt;}
.h8{height:71.000000pt;}
.h9{height:73.281250pt;}
.h7{height:92.020833pt;}
.h3{height:97.830469pt;}
.h5{height:109.921875pt;}
.h1{height:130.666667pt;}
.h4{height:134.471094pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x9{left:96.000000pt;}
.x5{left:103.205520pt;}
.x0{left:180.666667pt;}
.x6{left:337.527680pt;}
.x8{left:350.000000pt;}
.x4{left:352.560000pt;}
.x1{left:368.400000pt;}
.x2{left:408.000000pt;}
.x7{left:478.400000pt;}
.x3{left:636.957840pt;}
.xa{left:673.040000pt;}
}
