.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-0.096000px;}
.ls2a{letter-spacing:-0.092232px;}
.ls39{letter-spacing:-0.087840px;}
.ls4d{letter-spacing:-0.083448px;}
.ls0{letter-spacing:-0.076896px;}
.ls3{letter-spacing:-0.072000px;}
.lsd{letter-spacing:-0.070272px;}
.ls44{letter-spacing:-0.065880px;}
.ls37{letter-spacing:-0.057096px;}
.ls17{letter-spacing:-0.052704px;}
.ls35{letter-spacing:-0.048312px;}
.ls3b{letter-spacing:-0.043920px;}
.ls25{letter-spacing:-0.039528px;}
.lse{letter-spacing:-0.035136px;}
.ls28{letter-spacing:-0.030744px;}
.ls1e{letter-spacing:-0.026352px;}
.lsc{letter-spacing:-0.021960px;}
.ls6{letter-spacing:-0.018000px;}
.ls1f{letter-spacing:-0.017568px;}
.ls15{letter-spacing:-0.013176px;}
.ls2e{letter-spacing:-0.008784px;}
.ls31{letter-spacing:-0.004392px;}
.ls1{letter-spacing:0.000000px;}
.ls1d{letter-spacing:0.004392px;}
.ls7{letter-spacing:0.006000px;}
.ls30{letter-spacing:0.008784px;}
.ls13{letter-spacing:0.013176px;}
.ls21{letter-spacing:0.017568px;}
.ls12{letter-spacing:0.021960px;}
.ls4{letter-spacing:0.024000px;}
.ls20{letter-spacing:0.026352px;}
.ls10{letter-spacing:0.030744px;}
.ls11{letter-spacing:0.035136px;}
.ls23{letter-spacing:0.039528px;}
.lsf{letter-spacing:0.043920px;}
.ls1a{letter-spacing:0.048312px;}
.ls36{letter-spacing:0.052704px;}
.ls2f{letter-spacing:0.057096px;}
.ls3a{letter-spacing:0.061488px;}
.ls9{letter-spacing:0.065880px;}
.ls2b{letter-spacing:0.070272px;}
.ls2c{letter-spacing:0.074664px;}
.ls1b{letter-spacing:0.079056px;}
.lsa{letter-spacing:0.083448px;}
.ls5{letter-spacing:0.084000px;}
.ls43{letter-spacing:0.087840px;}
.ls38{letter-spacing:0.092232px;}
.ls29{letter-spacing:0.096624px;}
.ls2d{letter-spacing:0.101016px;}
.ls33{letter-spacing:0.105408px;}
.ls26{letter-spacing:0.109800px;}
.ls22{letter-spacing:0.114192px;}
.ls16{letter-spacing:0.118584px;}
.ls42{letter-spacing:0.127368px;}
.ls49{letter-spacing:0.131760px;}
.ls4e{letter-spacing:0.140544px;}
.ls32{letter-spacing:0.144936px;}
.lsb{letter-spacing:0.149328px;}
.ls40{letter-spacing:0.153720px;}
.ls46{letter-spacing:0.158112px;}
.ls3e{letter-spacing:0.162504px;}
.ls24{letter-spacing:0.171288px;}
.ls19{letter-spacing:0.180072px;}
.ls1c{letter-spacing:0.184464px;}
.ls48{letter-spacing:0.188856px;}
.ls18{letter-spacing:0.193248px;}
.ls14{letter-spacing:0.197640px;}
.ls47{letter-spacing:0.202032px;}
.ls45{letter-spacing:0.210816px;}
.ls4b{letter-spacing:0.215208px;}
.ls4c{letter-spacing:0.237168px;}
.ls41{letter-spacing:0.241560px;}
.ls3c{letter-spacing:0.250344px;}
.ls34{letter-spacing:0.285480px;}
.ls4a{letter-spacing:0.298656px;}
.ls27{letter-spacing:0.320616px;}
.ls3d{letter-spacing:0.342576px;}
.ls3f{letter-spacing:0.351360px;}
.ls8{letter-spacing:566.071704px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.001376px;}
._0{width:1.106784px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs4{font-size:56.000000px;}
.fs2{font-size:60.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:120.000000px;}
.ye{bottom:16.000000px;}
.yd{bottom:39.840100px;}
.y60{bottom:77.166600px;}
.y43{bottom:78.045000px;}
.y2a{bottom:82.612680px;}
.y42{bottom:93.526800px;}
.y29{bottom:98.094480px;}
.y6d{bottom:98.105460px;}
.y5f{bottom:102.607260px;}
.y50{bottom:103.485660px;}
.y7f{bottom:113.510400px;}
.y41{bottom:118.967460px;}
.y28{bottom:123.535140px;}
.y6c{bottom:123.546120px;}
.y5e{bottom:128.102820px;}
.y4f{bottom:128.926320px;}
.y7e{bottom:138.951060px;}
.y40{bottom:144.408120px;}
.y27{bottom:148.975800px;}
.y6b{bottom:148.986780px;}
.y5d{bottom:153.543480px;}
.y4e{bottom:154.366980px;}
.y7d{bottom:164.391720px;}
.y3f{bottom:169.848780px;}
.y26{bottom:174.416460px;}
.y6a{bottom:174.427440px;}
.y5c{bottom:178.984140px;}
.y4d{bottom:179.807640px;}
.y7c{bottom:189.832380px;}
.y3e{bottom:195.289440px;}
.y25{bottom:199.857120px;}
.y69{bottom:199.868100px;}
.y5b{bottom:204.424800px;}
.y4c{bottom:205.248300px;}
.y3d{bottom:210.705360px;}
.y7b{bottom:215.273040px;}
.y5a{bottom:219.840720px;}
.y24{bottom:225.297780px;}
.y68{bottom:225.308760px;}
.y4b{bottom:230.688960px;}
.y59{bottom:235.256640px;}
.y3c{bottom:236.146020px;}
.y7a{bottom:240.713700px;}
.y23{bottom:250.738440px;}
.y67{bottom:250.749420px;}
.y4a{bottom:256.129620px;}
.y3b{bottom:261.586680px;}
.y79{bottom:266.154360px;}
.y22{bottom:276.179100px;}
.y66{bottom:276.190080px;}
.yc{bottom:277.680100px;}
.y49{bottom:281.570280px;}
.y3a{bottom:287.027340px;}
.y78{bottom:291.595020px;}
.y65{bottom:291.606000px;}
.y48{bottom:297.052080px;}
.y21{bottom:301.619760px;}
.yb{bottom:304.980000px;}
.y64{bottom:307.021920px;}
.y39{bottom:312.468000px;}
.y77{bottom:317.035680px;}
.y20{bottom:327.060420px;}
.y63{bottom:332.462580px;}
.y38{bottom:337.908660px;}
.y76{bottom:342.476340px;}
.ya{bottom:342.780000px;}
.y1f{bottom:352.501080px;}
.y62{bottom:357.958140px;}
.y37{bottom:363.349320px;}
.y1e{bottom:367.917000px;}
.y75{bottom:373.374060px;}
.y58{bottom:377.941740px;}
.y1d{bottom:383.398800px;}
.y36{bottom:388.789980px;}
.y9{bottom:394.920000px;}
.y74{bottom:398.814720px;}
.y57{bottom:403.382400px;}
.y1c{bottom:408.839460px;}
.y35{bottom:414.230640px;}
.y73{bottom:424.255380px;}
.y56{bottom:428.823060px;}
.y1b{bottom:434.280120px;}
.y0{bottom:436.000000px;}
.y8{bottom:436.200000px;}
.y34{bottom:439.671300px;}
.y72{bottom:449.696040px;}
.y55{bottom:454.263720px;}
.y1a{bottom:459.720780px;}
.y33{bottom:465.111960px;}
.y71{bottom:475.136700px;}
.y54{bottom:479.704380px;}
.y32{bottom:480.593760px;}
.y19{bottom:485.161440px;}
.y47{bottom:490.552620px;}
.y70{bottom:500.577360px;}
.y53{bottom:505.145040px;}
.y31{bottom:506.034420px;}
.y18{bottom:510.602100px;}
.y46{bottom:515.993280px;}
.y52{bottom:520.560960px;}
.y6f{bottom:526.018020px;}
.y30{bottom:531.475080px;}
.y17{bottom:536.042760px;}
.y45{bottom:541.433940px;}
.y7{bottom:550.500000px;}
.y51{bottom:551.458680px;}
.y2f{bottom:556.915740px;}
.y16{bottom:561.483420px;}
.y44{bottom:566.874600px;}
.y15{bottom:576.899340px;}
.y6{bottom:581.580000px;}
.y2e{bottom:582.356400px;}
.y61{bottom:592.381140px;}
.y14{bottom:602.340000px;}
.y2d{bottom:607.797060px;}
.y5{bottom:612.600000px;}
.y13{bottom:627.780660px;}
.y2c{bottom:633.237720px;}
.y6e{bottom:643.262460px;}
.y4{bottom:643.680000px;}
.y12{bottom:653.221320px;}
.y2b{bottom:658.678380px;}
.y11{bottom:668.703120px;}
.y3{bottom:674.700000px;}
.y10{bottom:684.119040px;}
.y2{bottom:705.780000px;}
.yf{bottom:709.559700px;}
.y1{bottom:740.820000px;}
.h6{height:29.272852px;}
.h8{height:31.524609px;}
.h3{height:39.990234px;}
.h5{height:41.015625px;}
.h2{height:43.804688px;}
.h7{height:69.015625px;}
.h4{height:82.031250px;}
.h1{height:98.000000px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x7{left:72.000000px;}
.x0{left:135.500000px;}
.x5{left:167.580000px;}
.x9{left:253.000000px;}
.x4{left:255.780000px;}
.x6{left:267.120000px;}
.x1{left:279.180000px;}
.x2{left:306.000000px;}
.x3{left:477.720000px;}
.x8{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-0.128000pt;}
.ls2a{letter-spacing:-0.122976pt;}
.ls39{letter-spacing:-0.117120pt;}
.ls4d{letter-spacing:-0.111264pt;}
.ls0{letter-spacing:-0.102528pt;}
.ls3{letter-spacing:-0.096000pt;}
.lsd{letter-spacing:-0.093696pt;}
.ls44{letter-spacing:-0.087840pt;}
.ls37{letter-spacing:-0.076128pt;}
.ls17{letter-spacing:-0.070272pt;}
.ls35{letter-spacing:-0.064416pt;}
.ls3b{letter-spacing:-0.058560pt;}
.ls25{letter-spacing:-0.052704pt;}
.lse{letter-spacing:-0.046848pt;}
.ls28{letter-spacing:-0.040992pt;}
.ls1e{letter-spacing:-0.035136pt;}
.lsc{letter-spacing:-0.029280pt;}
.ls6{letter-spacing:-0.024000pt;}
.ls1f{letter-spacing:-0.023424pt;}
.ls15{letter-spacing:-0.017568pt;}
.ls2e{letter-spacing:-0.011712pt;}
.ls31{letter-spacing:-0.005856pt;}
.ls1{letter-spacing:0.000000pt;}
.ls1d{letter-spacing:0.005856pt;}
.ls7{letter-spacing:0.008000pt;}
.ls30{letter-spacing:0.011712pt;}
.ls13{letter-spacing:0.017568pt;}
.ls21{letter-spacing:0.023424pt;}
.ls12{letter-spacing:0.029280pt;}
.ls4{letter-spacing:0.032000pt;}
.ls20{letter-spacing:0.035136pt;}
.ls10{letter-spacing:0.040992pt;}
.ls11{letter-spacing:0.046848pt;}
.ls23{letter-spacing:0.052704pt;}
.lsf{letter-spacing:0.058560pt;}
.ls1a{letter-spacing:0.064416pt;}
.ls36{letter-spacing:0.070272pt;}
.ls2f{letter-spacing:0.076128pt;}
.ls3a{letter-spacing:0.081984pt;}
.ls9{letter-spacing:0.087840pt;}
.ls2b{letter-spacing:0.093696pt;}
.ls2c{letter-spacing:0.099552pt;}
.ls1b{letter-spacing:0.105408pt;}
.lsa{letter-spacing:0.111264pt;}
.ls5{letter-spacing:0.112000pt;}
.ls43{letter-spacing:0.117120pt;}
.ls38{letter-spacing:0.122976pt;}
.ls29{letter-spacing:0.128832pt;}
.ls2d{letter-spacing:0.134688pt;}
.ls33{letter-spacing:0.140544pt;}
.ls26{letter-spacing:0.146400pt;}
.ls22{letter-spacing:0.152256pt;}
.ls16{letter-spacing:0.158112pt;}
.ls42{letter-spacing:0.169824pt;}
.ls49{letter-spacing:0.175680pt;}
.ls4e{letter-spacing:0.187392pt;}
.ls32{letter-spacing:0.193248pt;}
.lsb{letter-spacing:0.199104pt;}
.ls40{letter-spacing:0.204960pt;}
.ls46{letter-spacing:0.210816pt;}
.ls3e{letter-spacing:0.216672pt;}
.ls24{letter-spacing:0.228384pt;}
.ls19{letter-spacing:0.240096pt;}
.ls1c{letter-spacing:0.245952pt;}
.ls48{letter-spacing:0.251808pt;}
.ls18{letter-spacing:0.257664pt;}
.ls14{letter-spacing:0.263520pt;}
.ls47{letter-spacing:0.269376pt;}
.ls45{letter-spacing:0.281088pt;}
.ls4b{letter-spacing:0.286944pt;}
.ls4c{letter-spacing:0.316224pt;}
.ls41{letter-spacing:0.322080pt;}
.ls3c{letter-spacing:0.333792pt;}
.ls34{letter-spacing:0.380640pt;}
.ls4a{letter-spacing:0.398208pt;}
.ls27{letter-spacing:0.427488pt;}
.ls3d{letter-spacing:0.456768pt;}
.ls3f{letter-spacing:0.468480pt;}
.ls8{letter-spacing:754.762272pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.335168pt;}
._0{width:1.475712pt;}
.fs1{font-size:58.560000pt;}
.fs4{font-size:74.666667pt;}
.fs2{font-size:80.000000pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:160.000000pt;}
.ye{bottom:21.333333pt;}
.yd{bottom:53.120133pt;}
.y60{bottom:102.888800pt;}
.y43{bottom:104.060000pt;}
.y2a{bottom:110.150240pt;}
.y42{bottom:124.702400pt;}
.y29{bottom:130.792640pt;}
.y6d{bottom:130.807280pt;}
.y5f{bottom:136.809680pt;}
.y50{bottom:137.980880pt;}
.y7f{bottom:151.347200pt;}
.y41{bottom:158.623280pt;}
.y28{bottom:164.713520pt;}
.y6c{bottom:164.728160pt;}
.y5e{bottom:170.803760pt;}
.y4f{bottom:171.901760pt;}
.y7e{bottom:185.268080pt;}
.y40{bottom:192.544160pt;}
.y27{bottom:198.634400pt;}
.y6b{bottom:198.649040pt;}
.y5d{bottom:204.724640pt;}
.y4e{bottom:205.822640pt;}
.y7d{bottom:219.188960pt;}
.y3f{bottom:226.465040pt;}
.y26{bottom:232.555280pt;}
.y6a{bottom:232.569920pt;}
.y5c{bottom:238.645520pt;}
.y4d{bottom:239.743520pt;}
.y7c{bottom:253.109840pt;}
.y3e{bottom:260.385920pt;}
.y25{bottom:266.476160pt;}
.y69{bottom:266.490800pt;}
.y5b{bottom:272.566400pt;}
.y4c{bottom:273.664400pt;}
.y3d{bottom:280.940480pt;}
.y7b{bottom:287.030720pt;}
.y5a{bottom:293.120960pt;}
.y24{bottom:300.397040pt;}
.y68{bottom:300.411680pt;}
.y4b{bottom:307.585280pt;}
.y59{bottom:313.675520pt;}
.y3c{bottom:314.861360pt;}
.y7a{bottom:320.951600pt;}
.y23{bottom:334.317920pt;}
.y67{bottom:334.332560pt;}
.y4a{bottom:341.506160pt;}
.y3b{bottom:348.782240pt;}
.y79{bottom:354.872480pt;}
.y22{bottom:368.238800pt;}
.y66{bottom:368.253440pt;}
.yc{bottom:370.240133pt;}
.y49{bottom:375.427040pt;}
.y3a{bottom:382.703120pt;}
.y78{bottom:388.793360pt;}
.y65{bottom:388.808000pt;}
.y48{bottom:396.069440pt;}
.y21{bottom:402.159680pt;}
.yb{bottom:406.640000pt;}
.y64{bottom:409.362560pt;}
.y39{bottom:416.624000pt;}
.y77{bottom:422.714240pt;}
.y20{bottom:436.080560pt;}
.y63{bottom:443.283440pt;}
.y38{bottom:450.544880pt;}
.y76{bottom:456.635120pt;}
.ya{bottom:457.040000pt;}
.y1f{bottom:470.001440pt;}
.y62{bottom:477.277520pt;}
.y37{bottom:484.465760pt;}
.y1e{bottom:490.556000pt;}
.y75{bottom:497.832080pt;}
.y58{bottom:503.922320pt;}
.y1d{bottom:511.198400pt;}
.y36{bottom:518.386640pt;}
.y9{bottom:526.560000pt;}
.y74{bottom:531.752960pt;}
.y57{bottom:537.843200pt;}
.y1c{bottom:545.119280pt;}
.y35{bottom:552.307520pt;}
.y73{bottom:565.673840pt;}
.y56{bottom:571.764080pt;}
.y1b{bottom:579.040160pt;}
.y0{bottom:581.333333pt;}
.y8{bottom:581.600000pt;}
.y34{bottom:586.228400pt;}
.y72{bottom:599.594720pt;}
.y55{bottom:605.684960pt;}
.y1a{bottom:612.961040pt;}
.y33{bottom:620.149280pt;}
.y71{bottom:633.515600pt;}
.y54{bottom:639.605840pt;}
.y32{bottom:640.791680pt;}
.y19{bottom:646.881920pt;}
.y47{bottom:654.070160pt;}
.y70{bottom:667.436480pt;}
.y53{bottom:673.526720pt;}
.y31{bottom:674.712560pt;}
.y18{bottom:680.802800pt;}
.y46{bottom:687.991040pt;}
.y52{bottom:694.081280pt;}
.y6f{bottom:701.357360pt;}
.y30{bottom:708.633440pt;}
.y17{bottom:714.723680pt;}
.y45{bottom:721.911920pt;}
.y7{bottom:734.000000pt;}
.y51{bottom:735.278240pt;}
.y2f{bottom:742.554320pt;}
.y16{bottom:748.644560pt;}
.y44{bottom:755.832800pt;}
.y15{bottom:769.199120pt;}
.y6{bottom:775.440000pt;}
.y2e{bottom:776.475200pt;}
.y61{bottom:789.841520pt;}
.y14{bottom:803.120000pt;}
.y2d{bottom:810.396080pt;}
.y5{bottom:816.800000pt;}
.y13{bottom:837.040880pt;}
.y2c{bottom:844.316960pt;}
.y6e{bottom:857.683280pt;}
.y4{bottom:858.240000pt;}
.y12{bottom:870.961760pt;}
.y2b{bottom:878.237840pt;}
.y11{bottom:891.604160pt;}
.y3{bottom:899.600000pt;}
.y10{bottom:912.158720pt;}
.y2{bottom:941.040000pt;}
.yf{bottom:946.079600pt;}
.y1{bottom:987.760000pt;}
.h6{height:39.030469pt;}
.h8{height:42.032812pt;}
.h3{height:53.320312pt;}
.h5{height:54.687500pt;}
.h2{height:58.406250pt;}
.h7{height:92.020833pt;}
.h4{height:109.375000pt;}
.h1{height:130.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x7{left:96.000000pt;}
.x0{left:180.666667pt;}
.x5{left:223.440000pt;}
.x9{left:337.333333pt;}
.x4{left:341.040000pt;}
.x6{left:356.160000pt;}
.x1{left:372.240000pt;}
.x2{left:408.000000pt;}
.x3{left:636.960000pt;}
.x8{left:673.040000pt;}
}
