.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.921875;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls23{letter-spacing:-0.109800px;}
.ls35{letter-spacing:-0.092232px;}
.ls29{letter-spacing:-0.087840px;}
.ls15{letter-spacing:-0.083448px;}
.ls0{letter-spacing:-0.076896px;}
.lsa{letter-spacing:-0.072912px;}
.ls1d{letter-spacing:-0.070272px;}
.ls4c{letter-spacing:-0.061488px;}
.ls3{letter-spacing:-0.057600px;}
.ls4e{letter-spacing:-0.057096px;}
.ls1f{letter-spacing:-0.052704px;}
.ls3d{letter-spacing:-0.048312px;}
.ls20{letter-spacing:-0.043920px;}
.ls31{letter-spacing:-0.039528px;}
.ls1a{letter-spacing:-0.035136px;}
.ls16{letter-spacing:-0.030744px;}
.ls25{letter-spacing:-0.026352px;}
.lse{letter-spacing:-0.021960px;}
.ls8{letter-spacing:-0.019200px;}
.ls2e{letter-spacing:-0.017568px;}
.ls27{letter-spacing:-0.013176px;}
.ls9{letter-spacing:-0.010416px;}
.lsc{letter-spacing:-0.008784px;}
.ls18{letter-spacing:-0.004392px;}
.ls1{letter-spacing:0.000000px;}
.ls1c{letter-spacing:0.004392px;}
.ls19{letter-spacing:0.008784px;}
.ls5{letter-spacing:0.009600px;}
.ls30{letter-spacing:0.013176px;}
.ls24{letter-spacing:0.017568px;}
.ls4{letter-spacing:0.019200px;}
.ls14{letter-spacing:0.021960px;}
.ls12{letter-spacing:0.026352px;}
.ls6{letter-spacing:0.028800px;}
.ls36{letter-spacing:0.030744px;}
.ls17{letter-spacing:0.035136px;}
.ls33{letter-spacing:0.039528px;}
.ls1e{letter-spacing:0.043920px;}
.ls37{letter-spacing:0.048312px;}
.ls2c{letter-spacing:0.052704px;}
.ls13{letter-spacing:0.057096px;}
.lsd{letter-spacing:0.061488px;}
.lsf{letter-spacing:0.065880px;}
.ls2{letter-spacing:0.067200px;}
.ls34{letter-spacing:0.070272px;}
.ls4a{letter-spacing:0.074664px;}
.ls7{letter-spacing:0.076800px;}
.ls28{letter-spacing:0.079056px;}
.ls10{letter-spacing:0.083448px;}
.ls39{letter-spacing:0.087840px;}
.ls38{letter-spacing:0.092232px;}
.ls47{letter-spacing:0.096624px;}
.ls2b{letter-spacing:0.101016px;}
.ls44{letter-spacing:0.105408px;}
.ls2a{letter-spacing:0.109800px;}
.ls3b{letter-spacing:0.118584px;}
.ls48{letter-spacing:0.131760px;}
.ls3f{letter-spacing:0.136152px;}
.ls21{letter-spacing:0.140544px;}
.ls3a{letter-spacing:0.144936px;}
.ls11{letter-spacing:0.149328px;}
.ls43{letter-spacing:0.162504px;}
.ls26{letter-spacing:0.166896px;}
.ls1b{letter-spacing:0.171288px;}
.ls46{letter-spacing:0.184464px;}
.ls3c{letter-spacing:0.188856px;}
.ls3e{letter-spacing:0.197640px;}
.ls4f{letter-spacing:0.202032px;}
.ls2f{letter-spacing:0.206424px;}
.ls4b{letter-spacing:0.210816px;}
.ls50{letter-spacing:0.219600px;}
.ls42{letter-spacing:0.228384px;}
.ls32{letter-spacing:0.241560px;}
.ls40{letter-spacing:0.276696px;}
.ls22{letter-spacing:0.298656px;}
.ls45{letter-spacing:0.320616px;}
.ls49{letter-spacing:0.333792px;}
.ls2d{letter-spacing:0.342576px;}
.ls41{letter-spacing:0.351360px;}
.ls4d{letter-spacing:0.360144px;}
.lsb{letter-spacing:566.071704px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.076040px;}
._0{width:1.080432px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs2{font-size:52.080000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:96.000000px;}
.yf{bottom:16.000000px;}
.ye{bottom:39.840100px;}
.y27{bottom:75.240140px;}
.y94{bottom:78.034020px;}
.y3e{bottom:78.045000px;}
.y52{bottom:78.055980px;}
.y97{bottom:88.069740px;}
.y5b{bottom:88.080720px;}
.y7d{bottom:92.648400px;}
.y51{bottom:93.537780px;}
.y49{bottom:98.094480px;}
.y26{bottom:100.680800px;}
.y93{bottom:103.474680px;}
.y3d{bottom:103.485660px;}
.y96{bottom:113.510400px;}
.y5a{bottom:113.521380px;}
.y7c{bottom:118.089060px;}
.y92{bottom:118.956480px;}
.y50{bottom:118.978440px;}
.y10{bottom:123.000000px;}
.y25{bottom:123.238680px;}
.y48{bottom:123.535140px;}
.y3c{bottom:128.926320px;}
.y95{bottom:138.951060px;}
.y59{bottom:138.962040px;}
.y7b{bottom:143.529720px;}
.y91{bottom:144.397140px;}
.y90{bottom:144.408120px;}
.y4f{bottom:144.419100px;}
.y47{bottom:148.975800px;}
.y3b{bottom:154.366980px;}
.y46{bottom:164.391720px;}
.y58{bottom:164.402700px;}
.y7a{bottom:168.970380px;}
.y8f{bottom:169.848780px;}
.y4e{bottom:169.859760px;}
.y3a{bottom:179.807640px;}
.y57{bottom:179.818620px;}
.y45{bottom:189.832380px;}
.y68{bottom:189.843360px;}
.y79{bottom:194.411040px;}
.y8e{bottom:195.289440px;}
.y4d{bottom:195.300420px;}
.y39{bottom:205.248300px;}
.y44{bottom:205.259280px;}
.y67{bottom:215.284020px;}
.y78{bottom:219.851700px;}
.y38{bottom:220.730100px;}
.y4c{bottom:220.741080px;}
.y43{bottom:230.699940px;}
.y37{bottom:236.146020px;}
.y66{bottom:240.724680px;}
.y77{bottom:245.292360px;}
.y8d{bottom:246.170760px;}
.y24{bottom:246.181740px;}
.y42{bottom:256.140600px;}
.y36{bottom:261.586680px;}
.y76{bottom:270.733020px;}
.y8c{bottom:271.611420px;}
.y23{bottom:271.622400px;}
.yd{bottom:280.860000px;}
.y41{bottom:281.581260px;}
.y75{bottom:286.148940px;}
.y35{bottom:287.027340px;}
.y22{bottom:287.038320px;}
.y8b{bottom:297.052080px;}
.y4b{bottom:297.063060px;}
.y74{bottom:301.630740px;}
.y40{bottom:307.021920px;}
.yc{bottom:307.257120px;}
.y34{bottom:312.468000px;}
.y21{bottom:312.478980px;}
.y8a{bottom:322.492740px;}
.y3f{bottom:322.503720px;}
.y73{bottom:327.071400px;}
.y65{bottom:332.462580px;}
.y33{bottom:337.908660px;}
.y20{bottom:337.919640px;}
.yb{bottom:340.380000px;}
.y89{bottom:347.933400px;}
.y4a{bottom:347.944380px;}
.y72{bottom:352.512060px;}
.y64{bottom:357.958140px;}
.y32{bottom:363.349320px;}
.y1f{bottom:363.360300px;}
.y88{bottom:373.374060px;}
.y56{bottom:373.385040px;}
.ya{bottom:374.100000px;}
.y71{bottom:377.952720px;}
.y63{bottom:383.398800px;}
.y31{bottom:388.789980px;}
.y1e{bottom:388.800960px;}
.y87{bottom:398.814720px;}
.y55{bottom:398.825700px;}
.y70{bottom:403.393380px;}
.y62{bottom:408.839460px;}
.y30{bottom:414.230640px;}
.y1d{bottom:414.241620px;}
.y9{bottom:417.780000px;}
.y86{bottom:424.255380px;}
.y54{bottom:424.266360px;}
.y6f{bottom:428.834040px;}
.y61{bottom:434.280120px;}
.y2f{bottom:439.671300px;}
.y1c{bottom:439.682280px;}
.y6e{bottom:444.249960px;}
.y85{bottom:449.696040px;}
.y53{bottom:449.707020px;}
.y0{bottom:452.500000px;}
.y8{bottom:453.028800px;}
.y60{bottom:459.720780px;}
.y2e{bottom:465.111960px;}
.y1b{bottom:465.122940px;}
.y6d{bottom:469.690620px;}
.y84{bottom:475.136700px;}
.y5f{bottom:485.161440px;}
.y6c{bottom:485.172420px;}
.y2d{bottom:490.552620px;}
.y1a{bottom:490.563600px;}
.y83{bottom:500.577360px;}
.y2c{bottom:506.034420px;}
.y5e{bottom:510.602100px;}
.y6b{bottom:510.613080px;}
.y19{bottom:516.004260px;}
.y5d{bottom:526.018020px;}
.y6a{bottom:526.029000px;}
.y2b{bottom:531.475080px;}
.y5c{bottom:541.433940px;}
.y18{bottom:541.444920px;}
.y82{bottom:551.458680px;}
.y69{bottom:551.469660px;}
.y2a{bottom:556.915740px;}
.y7{bottom:566.433000px;}
.y17{bottom:566.885580px;}
.y81{bottom:576.899340px;}
.y29{bottom:582.356400px;}
.y16{bottom:592.381140px;}
.y6{bottom:594.699420px;}
.y80{bottom:602.340000px;}
.y28{bottom:607.797060px;}
.y15{bottom:617.821800px;}
.y5{bottom:622.965840px;}
.y7f{bottom:627.780660px;}
.y14{bottom:633.237720px;}
.y7e{bottom:643.262460px;}
.y4{bottom:651.167160px;}
.y13{bottom:658.678380px;}
.y3{bottom:679.433580px;}
.y12{bottom:684.119040px;}
.y2{bottom:707.700000px;}
.y11{bottom:709.559700px;}
.y1{bottom:740.820000px;}
.h6{height:29.272852px;}
.h9{height:30.023438px;}
.ha{height:32.661211px;}
.h3{height:34.711523px;}
.h5{height:35.601562px;}
.h2{height:43.804688px;}
.h4{height:65.625000px;}
.h7{height:69.015625px;}
.h1{height:98.000000px;}
.h8{height:108.500000px;}
.h0{height:792.000000px;}
.w2{width:339.500000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x8{left:72.000000px;}
.xb{left:73.500000px;}
.x5{left:101.100000px;}
.xc{left:107.970480px;}
.xe{left:122.859360px;}
.x0{left:135.500000px;}
.x6{left:230.988000px;}
.xa{left:253.000000px;}
.x4{left:265.860000px;}
.x7{left:272.275080px;}
.x1{left:279.180000px;}
.x2{left:306.000000px;}
.xd{left:412.478820px;}
.x3{left:477.720780px;}
.x9{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls23{letter-spacing:-0.146400pt;}
.ls35{letter-spacing:-0.122976pt;}
.ls29{letter-spacing:-0.117120pt;}
.ls15{letter-spacing:-0.111264pt;}
.ls0{letter-spacing:-0.102528pt;}
.lsa{letter-spacing:-0.097216pt;}
.ls1d{letter-spacing:-0.093696pt;}
.ls4c{letter-spacing:-0.081984pt;}
.ls3{letter-spacing:-0.076800pt;}
.ls4e{letter-spacing:-0.076128pt;}
.ls1f{letter-spacing:-0.070272pt;}
.ls3d{letter-spacing:-0.064416pt;}
.ls20{letter-spacing:-0.058560pt;}
.ls31{letter-spacing:-0.052704pt;}
.ls1a{letter-spacing:-0.046848pt;}
.ls16{letter-spacing:-0.040992pt;}
.ls25{letter-spacing:-0.035136pt;}
.lse{letter-spacing:-0.029280pt;}
.ls8{letter-spacing:-0.025600pt;}
.ls2e{letter-spacing:-0.023424pt;}
.ls27{letter-spacing:-0.017568pt;}
.ls9{letter-spacing:-0.013888pt;}
.lsc{letter-spacing:-0.011712pt;}
.ls18{letter-spacing:-0.005856pt;}
.ls1{letter-spacing:0.000000pt;}
.ls1c{letter-spacing:0.005856pt;}
.ls19{letter-spacing:0.011712pt;}
.ls5{letter-spacing:0.012800pt;}
.ls30{letter-spacing:0.017568pt;}
.ls24{letter-spacing:0.023424pt;}
.ls4{letter-spacing:0.025600pt;}
.ls14{letter-spacing:0.029280pt;}
.ls12{letter-spacing:0.035136pt;}
.ls6{letter-spacing:0.038400pt;}
.ls36{letter-spacing:0.040992pt;}
.ls17{letter-spacing:0.046848pt;}
.ls33{letter-spacing:0.052704pt;}
.ls1e{letter-spacing:0.058560pt;}
.ls37{letter-spacing:0.064416pt;}
.ls2c{letter-spacing:0.070272pt;}
.ls13{letter-spacing:0.076128pt;}
.lsd{letter-spacing:0.081984pt;}
.lsf{letter-spacing:0.087840pt;}
.ls2{letter-spacing:0.089600pt;}
.ls34{letter-spacing:0.093696pt;}
.ls4a{letter-spacing:0.099552pt;}
.ls7{letter-spacing:0.102400pt;}
.ls28{letter-spacing:0.105408pt;}
.ls10{letter-spacing:0.111264pt;}
.ls39{letter-spacing:0.117120pt;}
.ls38{letter-spacing:0.122976pt;}
.ls47{letter-spacing:0.128832pt;}
.ls2b{letter-spacing:0.134688pt;}
.ls44{letter-spacing:0.140544pt;}
.ls2a{letter-spacing:0.146400pt;}
.ls3b{letter-spacing:0.158112pt;}
.ls48{letter-spacing:0.175680pt;}
.ls3f{letter-spacing:0.181536pt;}
.ls21{letter-spacing:0.187392pt;}
.ls3a{letter-spacing:0.193248pt;}
.ls11{letter-spacing:0.199104pt;}
.ls43{letter-spacing:0.216672pt;}
.ls26{letter-spacing:0.222528pt;}
.ls1b{letter-spacing:0.228384pt;}
.ls46{letter-spacing:0.245952pt;}
.ls3c{letter-spacing:0.251808pt;}
.ls3e{letter-spacing:0.263520pt;}
.ls4f{letter-spacing:0.269376pt;}
.ls2f{letter-spacing:0.275232pt;}
.ls4b{letter-spacing:0.281088pt;}
.ls50{letter-spacing:0.292800pt;}
.ls42{letter-spacing:0.304512pt;}
.ls32{letter-spacing:0.322080pt;}
.ls40{letter-spacing:0.368928pt;}
.ls22{letter-spacing:0.398208pt;}
.ls45{letter-spacing:0.427488pt;}
.ls49{letter-spacing:0.445056pt;}
.ls2d{letter-spacing:0.456768pt;}
.ls41{letter-spacing:0.468480pt;}
.ls4d{letter-spacing:0.480192pt;}
.lsb{letter-spacing:754.762272pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.434720pt;}
._0{width:1.440576pt;}
.fs1{font-size:58.560000pt;}
.fs2{font-size:69.440000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:128.000000pt;}
.yf{bottom:21.333333pt;}
.ye{bottom:53.120133pt;}
.y27{bottom:100.320187pt;}
.y94{bottom:104.045360pt;}
.y3e{bottom:104.060000pt;}
.y52{bottom:104.074640pt;}
.y97{bottom:117.426320pt;}
.y5b{bottom:117.440960pt;}
.y7d{bottom:123.531200pt;}
.y51{bottom:124.717040pt;}
.y49{bottom:130.792640pt;}
.y26{bottom:134.241067pt;}
.y93{bottom:137.966240pt;}
.y3d{bottom:137.980880pt;}
.y96{bottom:151.347200pt;}
.y5a{bottom:151.361840pt;}
.y7c{bottom:157.452080pt;}
.y92{bottom:158.608640pt;}
.y50{bottom:158.637920pt;}
.y10{bottom:164.000000pt;}
.y25{bottom:164.318240pt;}
.y48{bottom:164.713520pt;}
.y3c{bottom:171.901760pt;}
.y95{bottom:185.268080pt;}
.y59{bottom:185.282720pt;}
.y7b{bottom:191.372960pt;}
.y91{bottom:192.529520pt;}
.y90{bottom:192.544160pt;}
.y4f{bottom:192.558800pt;}
.y47{bottom:198.634400pt;}
.y3b{bottom:205.822640pt;}
.y46{bottom:219.188960pt;}
.y58{bottom:219.203600pt;}
.y7a{bottom:225.293840pt;}
.y8f{bottom:226.465040pt;}
.y4e{bottom:226.479680pt;}
.y3a{bottom:239.743520pt;}
.y57{bottom:239.758160pt;}
.y45{bottom:253.109840pt;}
.y68{bottom:253.124480pt;}
.y79{bottom:259.214720pt;}
.y8e{bottom:260.385920pt;}
.y4d{bottom:260.400560pt;}
.y39{bottom:273.664400pt;}
.y44{bottom:273.679040pt;}
.y67{bottom:287.045360pt;}
.y78{bottom:293.135600pt;}
.y38{bottom:294.306800pt;}
.y4c{bottom:294.321440pt;}
.y43{bottom:307.599920pt;}
.y37{bottom:314.861360pt;}
.y66{bottom:320.966240pt;}
.y77{bottom:327.056480pt;}
.y8d{bottom:328.227680pt;}
.y24{bottom:328.242320pt;}
.y42{bottom:341.520800pt;}
.y36{bottom:348.782240pt;}
.y76{bottom:360.977360pt;}
.y8c{bottom:362.148560pt;}
.y23{bottom:362.163200pt;}
.yd{bottom:374.480000pt;}
.y41{bottom:375.441680pt;}
.y75{bottom:381.531920pt;}
.y35{bottom:382.703120pt;}
.y22{bottom:382.717760pt;}
.y8b{bottom:396.069440pt;}
.y4b{bottom:396.084080pt;}
.y74{bottom:402.174320pt;}
.y40{bottom:409.362560pt;}
.yc{bottom:409.676160pt;}
.y34{bottom:416.624000pt;}
.y21{bottom:416.638640pt;}
.y8a{bottom:429.990320pt;}
.y3f{bottom:430.004960pt;}
.y73{bottom:436.095200pt;}
.y65{bottom:443.283440pt;}
.y33{bottom:450.544880pt;}
.y20{bottom:450.559520pt;}
.yb{bottom:453.840000pt;}
.y89{bottom:463.911200pt;}
.y4a{bottom:463.925840pt;}
.y72{bottom:470.016080pt;}
.y64{bottom:477.277520pt;}
.y32{bottom:484.465760pt;}
.y1f{bottom:484.480400pt;}
.y88{bottom:497.832080pt;}
.y56{bottom:497.846720pt;}
.ya{bottom:498.800000pt;}
.y71{bottom:503.936960pt;}
.y63{bottom:511.198400pt;}
.y31{bottom:518.386640pt;}
.y1e{bottom:518.401280pt;}
.y87{bottom:531.752960pt;}
.y55{bottom:531.767600pt;}
.y70{bottom:537.857840pt;}
.y62{bottom:545.119280pt;}
.y30{bottom:552.307520pt;}
.y1d{bottom:552.322160pt;}
.y9{bottom:557.040000pt;}
.y86{bottom:565.673840pt;}
.y54{bottom:565.688480pt;}
.y6f{bottom:571.778720pt;}
.y61{bottom:579.040160pt;}
.y2f{bottom:586.228400pt;}
.y1c{bottom:586.243040pt;}
.y6e{bottom:592.333280pt;}
.y85{bottom:599.594720pt;}
.y53{bottom:599.609360pt;}
.y0{bottom:603.333333pt;}
.y8{bottom:604.038400pt;}
.y60{bottom:612.961040pt;}
.y2e{bottom:620.149280pt;}
.y1b{bottom:620.163920pt;}
.y6d{bottom:626.254160pt;}
.y84{bottom:633.515600pt;}
.y5f{bottom:646.881920pt;}
.y6c{bottom:646.896560pt;}
.y2d{bottom:654.070160pt;}
.y1a{bottom:654.084800pt;}
.y83{bottom:667.436480pt;}
.y2c{bottom:674.712560pt;}
.y5e{bottom:680.802800pt;}
.y6b{bottom:680.817440pt;}
.y19{bottom:688.005680pt;}
.y5d{bottom:701.357360pt;}
.y6a{bottom:701.372000pt;}
.y2b{bottom:708.633440pt;}
.y5c{bottom:721.911920pt;}
.y18{bottom:721.926560pt;}
.y82{bottom:735.278240pt;}
.y69{bottom:735.292880pt;}
.y2a{bottom:742.554320pt;}
.y7{bottom:755.244000pt;}
.y17{bottom:755.847440pt;}
.y81{bottom:769.199120pt;}
.y29{bottom:776.475200pt;}
.y16{bottom:789.841520pt;}
.y6{bottom:792.932560pt;}
.y80{bottom:803.120000pt;}
.y28{bottom:810.396080pt;}
.y15{bottom:823.762400pt;}
.y5{bottom:830.621120pt;}
.y7f{bottom:837.040880pt;}
.y14{bottom:844.316960pt;}
.y7e{bottom:857.683280pt;}
.y4{bottom:868.222880pt;}
.y13{bottom:878.237840pt;}
.y3{bottom:905.911440pt;}
.y12{bottom:912.158720pt;}
.y2{bottom:943.600000pt;}
.y11{bottom:946.079600pt;}
.y1{bottom:987.760000pt;}
.h6{height:39.030469pt;}
.h9{height:40.031250pt;}
.ha{height:43.548281pt;}
.h3{height:46.282031pt;}
.h5{height:47.468750pt;}
.h2{height:58.406250pt;}
.h4{height:87.500000pt;}
.h7{height:92.020833pt;}
.h1{height:130.666667pt;}
.h8{height:144.666667pt;}
.h0{height:1056.000000pt;}
.w2{width:452.666667pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x8{left:96.000000pt;}
.xb{left:98.000000pt;}
.x5{left:134.800000pt;}
.xc{left:143.960640pt;}
.xe{left:163.812480pt;}
.x0{left:180.666667pt;}
.x6{left:307.984000pt;}
.xa{left:337.333333pt;}
.x4{left:354.480000pt;}
.x7{left:363.033440pt;}
.x1{left:372.240000pt;}
.x2{left:408.000000pt;}
.xd{left:549.971760pt;}
.x3{left:636.961040pt;}
.x9{left:673.040000pt;}
}
