.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls14{letter-spacing:-0.105600px;}
.ls16{letter-spacing:-0.096000px;}
.ls0{letter-spacing:-0.076896px;}
.ls2{letter-spacing:-0.060864px;}
.ls1c{letter-spacing:-0.057600px;}
.ls18{letter-spacing:-0.038400px;}
.ls3{letter-spacing:-0.038040px;}
.ls5{letter-spacing:-0.036000px;}
.ls19{letter-spacing:-0.033600px;}
.ls4{letter-spacing:-0.030432px;}
.ls1b{letter-spacing:-0.019200px;}
.ls10{letter-spacing:-0.014400px;}
.ls8{letter-spacing:-0.009600px;}
.ls9{letter-spacing:-0.004800px;}
.ls1{letter-spacing:0.000000px;}
.ls11{letter-spacing:0.004800px;}
.lsb{letter-spacing:0.009600px;}
.lsc{letter-spacing:0.014400px;}
.lsa{letter-spacing:0.019200px;}
.lse{letter-spacing:0.024000px;}
.ls7{letter-spacing:0.028800px;}
.ls12{letter-spacing:0.033600px;}
.ls17{letter-spacing:0.038400px;}
.ls15{letter-spacing:0.043200px;}
.ls1a{letter-spacing:0.048000px;}
.lsf{letter-spacing:0.057600px;}
.lsd{letter-spacing:0.062400px;}
.ls13{letter-spacing:0.086400px;}
.ls6{letter-spacing:564.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws21{word-spacing:-0.259200px;}
.wsa{word-spacing:-0.220800px;}
.ws19{word-spacing:-0.187200px;}
.wsc{word-spacing:-0.177600px;}
.ws25{word-spacing:-0.144000px;}
.ws15{word-spacing:-0.134400px;}
.ws10{word-spacing:-0.129600px;}
.ws23{word-spacing:-0.124800px;}
.ws16{word-spacing:-0.120000px;}
.ws7{word-spacing:-0.110400px;}
.wsb{word-spacing:-0.100800px;}
.ws22{word-spacing:-0.086400px;}
.ws1d{word-spacing:-0.081600px;}
.ws18{word-spacing:-0.076800px;}
.ws14{word-spacing:-0.072000px;}
.ws20{word-spacing:-0.067200px;}
.wsf{word-spacing:-0.062400px;}
.ws24{word-spacing:-0.057600px;}
.ws1f{word-spacing:-0.052800px;}
.ws1b{word-spacing:-0.048000px;}
.ws5{word-spacing:-0.043200px;}
.ws1a{word-spacing:-0.038400px;}
.ws12{word-spacing:-0.033600px;}
.ws3{word-spacing:-0.028800px;}
.wsd{word-spacing:-0.024000px;}
.ws1{word-spacing:-0.022824px;}
.ws6{word-spacing:-0.019200px;}
.ws9{word-spacing:-0.014400px;}
.ws8{word-spacing:-0.009600px;}
.wse{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.ws13{word-spacing:0.004800px;}
.ws4{word-spacing:0.009600px;}
.ws1c{word-spacing:0.014400px;}
.ws26{word-spacing:0.019200px;}
.ws11{word-spacing:0.033600px;}
.ws17{word-spacing:0.043200px;}
.ws27{word-spacing:0.048000px;}
.ws1e{word-spacing:0.072000px;}
.ws2{word-spacing:0.156000px;}
._0{margin-left:-1.248000px;}
._1{width:12.211200px;}
._2{width:14.832000px;}
._3{width:17.404800px;}
._4{width:20.083200px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs2{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs4{font-size:60.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:76.080000px;}
.y10{bottom:16.000000px;}
.yf{bottom:39.840100px;}
.y5f{bottom:77.280000px;}
.y2d{bottom:78.720000px;}
.y47{bottom:82.320000px;}
.y46{bottom:98.160000px;}
.y5c{bottom:100.000000px;}
.y5e{bottom:100.440000px;}
.y2c{bottom:104.580000px;}
.y70{bottom:110.640100px;}
.y45{bottom:114.060000px;}
.y2b{bottom:120.420000px;}
.y2a{bottom:136.320000px;}
.y44{bottom:139.920000px;}
.y5b{bottom:147.540000px;}
.y6f{bottom:150.480100px;}
.y29{bottom:152.160000px;}
.y28{bottom:168.060000px;}
.y58{bottom:170.500000px;}
.y5a{bottom:170.700000px;}
.y6e{bottom:176.340100px;}
.y43{bottom:179.820000px;}
.y6d{bottom:192.240100px;}
.y57{bottom:205.680000px;}
.y27{bottom:207.960000px;}
.y6c{bottom:208.080100px;}
.y42{bottom:219.660000px;}
.y6b{bottom:223.980100px;}
.y41{bottom:245.520000px;}
.y26{bottom:247.800000px;}
.y6a{bottom:249.840100px;}
.y40{bottom:261.420000px;}
.y56{bottom:271.380000px;}
.y68{bottom:272.500000px;}
.y69{bottom:273.000100px;}
.y25{bottom:273.660000px;}
.y3f{bottom:277.260000px;}
.y55{bottom:287.280000px;}
.y24{bottom:289.500000px;}
.y3e{bottom:293.160000px;}
.y54{bottom:303.120000px;}
.y23{bottom:305.400000px;}
.ye{bottom:309.540000px;}
.y3d{bottom:319.020000px;}
.y22{bottom:321.240000px;}
.y53{bottom:334.860000px;}
.yd{bottom:336.600000px;}
.y21{bottom:337.140000px;}
.y67{bottom:355.380000px;}
.y3c{bottom:358.920000px;}
.y52{bottom:360.720000px;}
.y20{bottom:363.000000px;}
.yc{bottom:365.220000px;}
.y60{bottom:378.500000px;}
.y66{bottom:378.540000px;}
.ya{bottom:393.952740px;}
.yb{bottom:393.960000px;}
.y3b{bottom:398.760000px;}
.y5d{bottom:399.780000px;}
.y51{bottom:400.620000px;}
.y1f{bottom:402.900000px;}
.y9{bottom:419.040120px;}
.y3a{bottom:424.620000px;}
.y59{bottom:434.760000px;}
.y39{bottom:440.460000px;}
.y1e{bottom:442.740000px;}
.y8{bottom:454.208100px;}
.y38{bottom:456.360000px;}
.y50{bottom:466.320000px;}
.y1d{bottom:468.600000px;}
.y37{bottom:472.200000px;}
.y4f{bottom:482.220000px;}
.y1c{bottom:484.500000px;}
.y7{bottom:489.300000px;}
.y36{bottom:498.060000px;}
.y1b{bottom:500.340000px;}
.y65{bottom:505.800000px;}
.y4e{bottom:513.960000px;}
.y1a{bottom:516.240000px;}
.y0{bottom:518.500000px;}
.y6{bottom:519.000000px;}
.y4d{bottom:529.800000px;}
.y64{bottom:531.660000px;}
.y19{bottom:532.080000px;}
.y35{bottom:537.960000px;}
.y4c{bottom:545.700000px;}
.y18{bottom:547.980000px;}
.y4b{bottom:561.540000px;}
.y17{bottom:563.820000px;}
.y63{bottom:571.560000px;}
.y34{bottom:577.800000px;}
.y4a{bottom:587.400000px;}
.y16{bottom:589.680000px;}
.y33{bottom:603.660000px;}
.y15{bottom:605.580000px;}
.y62{bottom:611.340000px;}
.y14{bottom:621.420000px;}
.y49{bottom:627.300000px;}
.y32{bottom:629.580000px;}
.y5{bottom:631.320000px;}
.y13{bottom:637.320000px;}
.y31{bottom:645.420000px;}
.y61{bottom:651.300000px;}
.y12{bottom:653.160000px;}
.y4{bottom:657.180000px;}
.y30{bottom:661.320000px;}
.y48{bottom:667.140000px;}
.y11{bottom:669.060000px;}
.y2f{bottom:677.160000px;}
.y3{bottom:683.040000px;}
.y2e{bottom:693.060000px;}
.y2{bottom:708.900000px;}
.y1{bottom:740.820000px;}
.h7{height:29.272852px;}
.h2{height:43.804688px;}
.h3{height:53.250000px;}
.h5{height:54.960938px;}
.hb{height:59.156250px;}
.h6{height:68.701172px;}
.h8{height:69.015625px;}
.h4{height:87.113086px;}
.h1{height:98.000000px;}
.hc{height:113.000000px;}
.hd{height:447.500000px;}
.h9{height:518.000000px;}
.ha{height:620.000000px;}
.h0{height:792.000000px;}
.w3{width:179.000000px;}
.w2{width:197.500000px;}
.w1{width:342.500000px;}
.w4{width:343.000000px;}
.w5{width:398.000000px;}
.w0{width:612.000000px;}
.x8{left:72.000000px;}
.xb{left:73.500000px;}
.x5{left:74.819220px;}
.xf{left:90.000000px;}
.x0{left:135.500000px;}
.xe{left:243.000000px;}
.xc{left:244.500000px;}
.xa{left:253.000000px;}
.x7{left:269.760000px;}
.xd{left:271.500000px;}
.x4{left:274.320000px;}
.x1{left:279.180000px;}
.x2{left:306.000000px;}
.x6{left:331.860000px;}
.x10{left:417.000000px;}
.x11{left:471.000000px;}
.x3{left:477.720000px;}
.x9{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls14{letter-spacing:-0.140800pt;}
.ls16{letter-spacing:-0.128000pt;}
.ls0{letter-spacing:-0.102528pt;}
.ls2{letter-spacing:-0.081152pt;}
.ls1c{letter-spacing:-0.076800pt;}
.ls18{letter-spacing:-0.051200pt;}
.ls3{letter-spacing:-0.050720pt;}
.ls5{letter-spacing:-0.048000pt;}
.ls19{letter-spacing:-0.044800pt;}
.ls4{letter-spacing:-0.040576pt;}
.ls1b{letter-spacing:-0.025600pt;}
.ls10{letter-spacing:-0.019200pt;}
.ls8{letter-spacing:-0.012800pt;}
.ls9{letter-spacing:-0.006400pt;}
.ls1{letter-spacing:0.000000pt;}
.ls11{letter-spacing:0.006400pt;}
.lsb{letter-spacing:0.012800pt;}
.lsc{letter-spacing:0.019200pt;}
.lsa{letter-spacing:0.025600pt;}
.lse{letter-spacing:0.032000pt;}
.ls7{letter-spacing:0.038400pt;}
.ls12{letter-spacing:0.044800pt;}
.ls17{letter-spacing:0.051200pt;}
.ls15{letter-spacing:0.057600pt;}
.ls1a{letter-spacing:0.064000pt;}
.lsf{letter-spacing:0.076800pt;}
.lsd{letter-spacing:0.083200pt;}
.ls13{letter-spacing:0.115200pt;}
.ls6{letter-spacing:752.000000pt;}
.ws21{word-spacing:-0.345600pt;}
.wsa{word-spacing:-0.294400pt;}
.ws19{word-spacing:-0.249600pt;}
.wsc{word-spacing:-0.236800pt;}
.ws25{word-spacing:-0.192000pt;}
.ws15{word-spacing:-0.179200pt;}
.ws10{word-spacing:-0.172800pt;}
.ws23{word-spacing:-0.166400pt;}
.ws16{word-spacing:-0.160000pt;}
.ws7{word-spacing:-0.147200pt;}
.wsb{word-spacing:-0.134400pt;}
.ws22{word-spacing:-0.115200pt;}
.ws1d{word-spacing:-0.108800pt;}
.ws18{word-spacing:-0.102400pt;}
.ws14{word-spacing:-0.096000pt;}
.ws20{word-spacing:-0.089600pt;}
.wsf{word-spacing:-0.083200pt;}
.ws24{word-spacing:-0.076800pt;}
.ws1f{word-spacing:-0.070400pt;}
.ws1b{word-spacing:-0.064000pt;}
.ws5{word-spacing:-0.057600pt;}
.ws1a{word-spacing:-0.051200pt;}
.ws12{word-spacing:-0.044800pt;}
.ws3{word-spacing:-0.038400pt;}
.wsd{word-spacing:-0.032000pt;}
.ws1{word-spacing:-0.030432pt;}
.ws6{word-spacing:-0.025600pt;}
.ws9{word-spacing:-0.019200pt;}
.ws8{word-spacing:-0.012800pt;}
.wse{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.ws13{word-spacing:0.006400pt;}
.ws4{word-spacing:0.012800pt;}
.ws1c{word-spacing:0.019200pt;}
.ws26{word-spacing:0.025600pt;}
.ws11{word-spacing:0.044800pt;}
.ws17{word-spacing:0.057600pt;}
.ws27{word-spacing:0.064000pt;}
.ws1e{word-spacing:0.096000pt;}
.ws2{word-spacing:0.208000pt;}
._0{margin-left:-1.664000pt;}
._1{width:16.281600pt;}
._2{width:19.776000pt;}
._3{width:23.206400pt;}
._4{width:26.777600pt;}
.fs1{font-size:58.560000pt;}
.fs2{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs4{font-size:80.000000pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:101.440000pt;}
.y10{bottom:21.333333pt;}
.yf{bottom:53.120133pt;}
.y5f{bottom:103.040000pt;}
.y2d{bottom:104.960000pt;}
.y47{bottom:109.760000pt;}
.y46{bottom:130.880000pt;}
.y5c{bottom:133.333333pt;}
.y5e{bottom:133.920000pt;}
.y2c{bottom:139.440000pt;}
.y70{bottom:147.520133pt;}
.y45{bottom:152.080000pt;}
.y2b{bottom:160.560000pt;}
.y2a{bottom:181.760000pt;}
.y44{bottom:186.560000pt;}
.y5b{bottom:196.720000pt;}
.y6f{bottom:200.640133pt;}
.y29{bottom:202.880000pt;}
.y28{bottom:224.080000pt;}
.y58{bottom:227.333333pt;}
.y5a{bottom:227.600000pt;}
.y6e{bottom:235.120133pt;}
.y43{bottom:239.760000pt;}
.y6d{bottom:256.320133pt;}
.y57{bottom:274.240000pt;}
.y27{bottom:277.280000pt;}
.y6c{bottom:277.440133pt;}
.y42{bottom:292.880000pt;}
.y6b{bottom:298.640133pt;}
.y41{bottom:327.360000pt;}
.y26{bottom:330.400000pt;}
.y6a{bottom:333.120133pt;}
.y40{bottom:348.560000pt;}
.y56{bottom:361.840000pt;}
.y68{bottom:363.333333pt;}
.y69{bottom:364.000133pt;}
.y25{bottom:364.880000pt;}
.y3f{bottom:369.680000pt;}
.y55{bottom:383.040000pt;}
.y24{bottom:386.000000pt;}
.y3e{bottom:390.880000pt;}
.y54{bottom:404.160000pt;}
.y23{bottom:407.200000pt;}
.ye{bottom:412.720000pt;}
.y3d{bottom:425.360000pt;}
.y22{bottom:428.320000pt;}
.y53{bottom:446.480000pt;}
.yd{bottom:448.800000pt;}
.y21{bottom:449.520000pt;}
.y67{bottom:473.840000pt;}
.y3c{bottom:478.560000pt;}
.y52{bottom:480.960000pt;}
.y20{bottom:484.000000pt;}
.yc{bottom:486.960000pt;}
.y60{bottom:504.666667pt;}
.y66{bottom:504.720000pt;}
.ya{bottom:525.270320pt;}
.yb{bottom:525.280000pt;}
.y3b{bottom:531.680000pt;}
.y5d{bottom:533.040000pt;}
.y51{bottom:534.160000pt;}
.y1f{bottom:537.200000pt;}
.y9{bottom:558.720160pt;}
.y3a{bottom:566.160000pt;}
.y59{bottom:579.680000pt;}
.y39{bottom:587.280000pt;}
.y1e{bottom:590.320000pt;}
.y8{bottom:605.610800pt;}
.y38{bottom:608.480000pt;}
.y50{bottom:621.760000pt;}
.y1d{bottom:624.800000pt;}
.y37{bottom:629.600000pt;}
.y4f{bottom:642.960000pt;}
.y1c{bottom:646.000000pt;}
.y7{bottom:652.400000pt;}
.y36{bottom:664.080000pt;}
.y1b{bottom:667.120000pt;}
.y65{bottom:674.400000pt;}
.y4e{bottom:685.280000pt;}
.y1a{bottom:688.320000pt;}
.y0{bottom:691.333333pt;}
.y6{bottom:692.000000pt;}
.y4d{bottom:706.400000pt;}
.y64{bottom:708.880000pt;}
.y19{bottom:709.440000pt;}
.y35{bottom:717.280000pt;}
.y4c{bottom:727.600000pt;}
.y18{bottom:730.640000pt;}
.y4b{bottom:748.720000pt;}
.y17{bottom:751.760000pt;}
.y63{bottom:762.080000pt;}
.y34{bottom:770.400000pt;}
.y4a{bottom:783.200000pt;}
.y16{bottom:786.240000pt;}
.y33{bottom:804.880000pt;}
.y15{bottom:807.440000pt;}
.y62{bottom:815.120000pt;}
.y14{bottom:828.560000pt;}
.y49{bottom:836.400000pt;}
.y32{bottom:839.440000pt;}
.y5{bottom:841.760000pt;}
.y13{bottom:849.760000pt;}
.y31{bottom:860.560000pt;}
.y61{bottom:868.400000pt;}
.y12{bottom:870.880000pt;}
.y4{bottom:876.240000pt;}
.y30{bottom:881.760000pt;}
.y48{bottom:889.520000pt;}
.y11{bottom:892.080000pt;}
.y2f{bottom:902.880000pt;}
.y3{bottom:910.720000pt;}
.y2e{bottom:924.080000pt;}
.y2{bottom:945.200000pt;}
.y1{bottom:987.760000pt;}
.h7{height:39.030469pt;}
.h2{height:58.406250pt;}
.h3{height:71.000000pt;}
.h5{height:73.281250pt;}
.hb{height:78.875000pt;}
.h6{height:91.601562pt;}
.h8{height:92.020833pt;}
.h4{height:116.150781pt;}
.h1{height:130.666667pt;}
.hc{height:150.666667pt;}
.hd{height:596.666667pt;}
.h9{height:690.666667pt;}
.ha{height:826.666667pt;}
.h0{height:1056.000000pt;}
.w3{width:238.666667pt;}
.w2{width:263.333333pt;}
.w1{width:456.666667pt;}
.w4{width:457.333333pt;}
.w5{width:530.666667pt;}
.w0{width:816.000000pt;}
.x8{left:96.000000pt;}
.xb{left:98.000000pt;}
.x5{left:99.758960pt;}
.xf{left:120.000000pt;}
.x0{left:180.666667pt;}
.xe{left:324.000000pt;}
.xc{left:326.000000pt;}
.xa{left:337.333333pt;}
.x7{left:359.680000pt;}
.xd{left:362.000000pt;}
.x4{left:365.760000pt;}
.x1{left:372.240000pt;}
.x2{left:408.000000pt;}
.x6{left:442.480000pt;}
.x10{left:556.000000pt;}
.x11{left:628.000000pt;}
.x3{left:636.960000pt;}
.x9{left:673.040000pt;}
}
