.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls23{letter-spacing:-1.318800px;}
.ls22{letter-spacing:-0.084000px;}
.ls11{letter-spacing:-0.071400px;}
.lsf{letter-spacing:-0.063000px;}
.ls21{letter-spacing:-0.050400px;}
.ls4{letter-spacing:-0.037800px;}
.lsc{letter-spacing:-0.029400px;}
.ls1f{letter-spacing:-0.012600px;}
.ls2{letter-spacing:-0.006600px;}
.ls1{letter-spacing:0.000000px;}
.ls6{letter-spacing:0.004200px;}
.ls8{letter-spacing:0.012600px;}
.ls9{letter-spacing:0.021000px;}
.ls15{letter-spacing:0.025200px;}
.ls0{letter-spacing:0.025632px;}
.ls16{letter-spacing:0.029400px;}
.lsa{letter-spacing:0.033600px;}
.ls3{letter-spacing:0.037800px;}
.ls10{letter-spacing:0.042000px;}
.ls18{letter-spacing:0.046200px;}
.ls7{letter-spacing:0.050400px;}
.lse{letter-spacing:0.054600px;}
.ls1d{letter-spacing:0.058800px;}
.lsb{letter-spacing:0.063000px;}
.lsd{letter-spacing:0.067200px;}
.ls14{letter-spacing:0.071400px;}
.ls1c{letter-spacing:0.075600px;}
.ls17{letter-spacing:0.079800px;}
.ls1e{letter-spacing:0.084000px;}
.ls20{letter-spacing:0.088200px;}
.ls1a{letter-spacing:0.096600px;}
.ls12{letter-spacing:0.105000px;}
.ls1b{letter-spacing:0.109200px;}
.ls19{letter-spacing:0.117600px;}
.ls5{letter-spacing:0.121800px;}
.ls13{letter-spacing:0.147000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1d{word-spacing:-0.285600px;}
.ws1c{word-spacing:-0.277200px;}
.ws25{word-spacing:-0.264600px;}
.ws33{word-spacing:-0.252000px;}
.ws15{word-spacing:-0.235200px;}
.ws2b{word-spacing:-0.231000px;}
.ws2{word-spacing:-0.097200px;}
.ws1b{word-spacing:-0.058800px;}
.ws1e{word-spacing:-0.050400px;}
.wse{word-spacing:-0.046200px;}
.ws29{word-spacing:-0.029400px;}
.ws16{word-spacing:-0.021000px;}
.ws1{word-spacing:-0.019800px;}
.ws1f{word-spacing:-0.016800px;}
.ws11{word-spacing:-0.012600px;}
.ws14{word-spacing:-0.008400px;}
.ws9{word-spacing:-0.004200px;}
.ws0{word-spacing:0.000000px;}
.wsa{word-spacing:0.004200px;}
.ws5{word-spacing:0.008400px;}
.ws1a{word-spacing:0.012600px;}
.wsc{word-spacing:0.016800px;}
.ws2c{word-spacing:0.021000px;}
.ws8{word-spacing:0.025200px;}
.ws13{word-spacing:0.029400px;}
.ws12{word-spacing:0.033600px;}
.ws7{word-spacing:0.037800px;}
.ws6{word-spacing:0.046200px;}
.ws4{word-spacing:0.054600px;}
.ws30{word-spacing:0.058800px;}
.ws27{word-spacing:0.071400px;}
.ws2a{word-spacing:0.109200px;}
.wsb{word-spacing:0.121800px;}
.wsd{word-spacing:0.130200px;}
.ws2f{word-spacing:0.142800px;}
.ws3{word-spacing:0.336000px;}
.ws26{word-spacing:0.457800px;}
.ws23{word-spacing:0.499800px;}
.ws24{word-spacing:0.508200px;}
.ws31{word-spacing:1.680000px;}
.ws17{word-spacing:1.906800px;}
.ws18{word-spacing:1.953000px;}
.ws32{word-spacing:2.167200px;}
.ws22{word-spacing:4.309200px;}
.ws21{word-spacing:4.321800px;}
.ws20{word-spacing:4.338600px;}
.ws28{word-spacing:4.557000px;}
.ws19{word-spacing:6.955200px;}
.ws2d{word-spacing:7.933800px;}
.ws2e{word-spacing:7.954800px;}
.wsf{word-spacing:10.088400px;}
.ws10{word-spacing:10.101000px;}
._2{margin-left:-6.072000px;}
._0{margin-left:-3.498000px;}
._3{margin-left:-2.436000px;}
._1{margin-left:-1.386000px;}
._4{width:1.134000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:42.000000px;}
.fs2{font-size:54.000000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:66.000000px;}
.y10{bottom:17.000000px;}
.yf{bottom:52.520300px;}
.y80{bottom:87.614500px;}
.y3c{bottom:87.625000px;}
.y5f{bottom:87.635500px;}
.y7f{bottom:103.217500px;}
.y3b{bottom:103.228000px;}
.y5e{bottom:103.238500px;}
.y5d{bottom:118.778500px;}
.y7e{bottom:118.820500px;}
.y3a{bottom:118.831000px;}
.y7d{bottom:134.423500px;}
.y39{bottom:134.434000px;}
.y5c{bottom:149.974000px;}
.y7c{bottom:150.026500px;}
.y38{bottom:150.037000px;}
.y5b{bottom:165.629500px;}
.y37{bottom:165.640000px;}
.y5a{bottom:181.232500px;}
.y36{bottom:181.243000px;}
.y59{bottom:196.835500px;}
.y35{bottom:196.846000px;}
.y34{bottom:212.386000px;}
.y58{bottom:212.438500px;}
.y7b{bottom:227.978500px;}
.y33{bottom:228.041500px;}
.y32{bottom:243.581500px;}
.y7a{bottom:243.634000px;}
.y57{bottom:243.644500px;}
.y79{bottom:259.174000px;}
.y31{bottom:259.237000px;}
.y56{bottom:259.247500px;}
.y78{bottom:274.829500px;}
.y30{bottom:274.840000px;}
.y55{bottom:274.850500px;}
.y77{bottom:290.432500px;}
.y2f{bottom:290.443000px;}
.y54{bottom:290.453500px;}
.y76{bottom:306.035500px;}
.y2e{bottom:306.046000px;}
.y53{bottom:306.056500px;}
.y75{bottom:321.638500px;}
.y2d{bottom:321.649000px;}
.y52{bottom:321.659500px;}
.y74{bottom:337.241500px;}
.y2c{bottom:337.252000px;}
.y51{bottom:337.262500px;}
.y50{bottom:352.802500px;}
.y73{bottom:352.844500px;}
.y2b{bottom:352.855000px;}
.y72{bottom:368.447500px;}
.y2a{bottom:368.458000px;}
.y4f{bottom:383.998000px;}
.y71{bottom:384.050500px;}
.y29{bottom:384.061000px;}
.y28{bottom:399.601000px;}
.y4e{bottom:399.653500px;}
.y70{bottom:415.193500px;}
.y27{bottom:415.256500px;}
.y26{bottom:430.796500px;}
.y6f{bottom:430.849000px;}
.y4d{bottom:430.859500px;}
.ye{bottom:445.217300px;}
.y6e{bottom:446.389000px;}
.y25{bottom:446.452000px;}
.y4c{bottom:446.462500px;}
.yd{bottom:460.823300px;}
.y6d{bottom:462.044500px;}
.y24{bottom:462.055000px;}
.y4b{bottom:462.065500px;}
.y6c{bottom:477.647500px;}
.y23{bottom:477.658000px;}
.y4a{bottom:477.668500px;}
.yb{bottom:483.257300px;}
.yc{bottom:483.260300px;}
.y6b{bottom:493.250500px;}
.y22{bottom:493.261000px;}
.y49{bottom:493.271500px;}
.y6a{bottom:508.853500px;}
.y21{bottom:508.864000px;}
.y48{bottom:508.874500px;}
.ya{bottom:514.458800px;}
.y47{bottom:524.414500px;}
.y69{bottom:524.456500px;}
.y20{bottom:524.467000px;}
.y68{bottom:540.059500px;}
.y1f{bottom:540.070000px;}
.y9{bottom:545.660300px;}
.y46{bottom:555.610000px;}
.y67{bottom:555.662500px;}
.y1e{bottom:555.673000px;}
.y8{bottom:570.017300px;}
.y1d{bottom:571.213000px;}
.y45{bottom:571.265500px;}
.y7{bottom:585.623300px;}
.y1c{bottom:586.868500px;}
.y1b{bottom:602.408500px;}
.y44{bottom:602.471500px;}
.y0{bottom:604.000000px;}
.y6{bottom:604.280300px;}
.y1a{bottom:618.064000px;}
.y43{bottom:618.074500px;}
.y66{bottom:633.614500px;}
.y19{bottom:633.667000px;}
.y42{bottom:633.677500px;}
.y18{bottom:649.270000px;}
.y41{bottom:649.280500px;}
.y65{bottom:664.810000px;}
.y17{bottom:664.873000px;}
.y40{bottom:664.883500px;}
.y64{bottom:680.465500px;}
.y16{bottom:680.476000px;}
.y3f{bottom:680.486500px;}
.y63{bottom:696.068500px;}
.y15{bottom:696.079000px;}
.y3e{bottom:696.089500px;}
.y5{bottom:710.402300px;}
.y3d{bottom:711.629500px;}
.y62{bottom:711.671500px;}
.y14{bottom:711.682000px;}
.y4{bottom:726.008300px;}
.y61{bottom:727.274500px;}
.y13{bottom:727.285000px;}
.y3{bottom:741.614300px;}
.y12{bottom:742.825000px;}
.y60{bottom:742.877500px;}
.y2{bottom:757.220300px;}
.y11{bottom:758.480500px;}
.y1{bottom:784.580300px;}
.h5{height:46.593750px;}
.h7{height:48.090820px;}
.h3{height:61.831055px;}
.h6{height:69.015625px;}
.h2{height:73.372852px;}
.h4{height:75.571289px;}
.h1{height:98.000000px;}
.h0{height:842.000000px;}
.w1{width:342.500000px;}
.w0{width:595.220000px;}
.x9{left:90.001400px;}
.x4{left:94.608000px;}
.x0{left:126.500000px;}
.x8{left:245.000000px;}
.x6{left:263.397000px;}
.x1{left:269.220000px;}
.x2{left:297.660000px;}
.x3{left:468.660000px;}
.x7{left:492.900000px;}
.x5{left:500.700000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls23{letter-spacing:-1.758400pt;}
.ls22{letter-spacing:-0.112000pt;}
.ls11{letter-spacing:-0.095200pt;}
.lsf{letter-spacing:-0.084000pt;}
.ls21{letter-spacing:-0.067200pt;}
.ls4{letter-spacing:-0.050400pt;}
.lsc{letter-spacing:-0.039200pt;}
.ls1f{letter-spacing:-0.016800pt;}
.ls2{letter-spacing:-0.008800pt;}
.ls1{letter-spacing:0.000000pt;}
.ls6{letter-spacing:0.005600pt;}
.ls8{letter-spacing:0.016800pt;}
.ls9{letter-spacing:0.028000pt;}
.ls15{letter-spacing:0.033600pt;}
.ls0{letter-spacing:0.034176pt;}
.ls16{letter-spacing:0.039200pt;}
.lsa{letter-spacing:0.044800pt;}
.ls3{letter-spacing:0.050400pt;}
.ls10{letter-spacing:0.056000pt;}
.ls18{letter-spacing:0.061600pt;}
.ls7{letter-spacing:0.067200pt;}
.lse{letter-spacing:0.072800pt;}
.ls1d{letter-spacing:0.078400pt;}
.lsb{letter-spacing:0.084000pt;}
.lsd{letter-spacing:0.089600pt;}
.ls14{letter-spacing:0.095200pt;}
.ls1c{letter-spacing:0.100800pt;}
.ls17{letter-spacing:0.106400pt;}
.ls1e{letter-spacing:0.112000pt;}
.ls20{letter-spacing:0.117600pt;}
.ls1a{letter-spacing:0.128800pt;}
.ls12{letter-spacing:0.140000pt;}
.ls1b{letter-spacing:0.145600pt;}
.ls19{letter-spacing:0.156800pt;}
.ls5{letter-spacing:0.162400pt;}
.ls13{letter-spacing:0.196000pt;}
.ws1d{word-spacing:-0.380800pt;}
.ws1c{word-spacing:-0.369600pt;}
.ws25{word-spacing:-0.352800pt;}
.ws33{word-spacing:-0.336000pt;}
.ws15{word-spacing:-0.313600pt;}
.ws2b{word-spacing:-0.308000pt;}
.ws2{word-spacing:-0.129600pt;}
.ws1b{word-spacing:-0.078400pt;}
.ws1e{word-spacing:-0.067200pt;}
.wse{word-spacing:-0.061600pt;}
.ws29{word-spacing:-0.039200pt;}
.ws16{word-spacing:-0.028000pt;}
.ws1{word-spacing:-0.026400pt;}
.ws1f{word-spacing:-0.022400pt;}
.ws11{word-spacing:-0.016800pt;}
.ws14{word-spacing:-0.011200pt;}
.ws9{word-spacing:-0.005600pt;}
.ws0{word-spacing:0.000000pt;}
.wsa{word-spacing:0.005600pt;}
.ws5{word-spacing:0.011200pt;}
.ws1a{word-spacing:0.016800pt;}
.wsc{word-spacing:0.022400pt;}
.ws2c{word-spacing:0.028000pt;}
.ws8{word-spacing:0.033600pt;}
.ws13{word-spacing:0.039200pt;}
.ws12{word-spacing:0.044800pt;}
.ws7{word-spacing:0.050400pt;}
.ws6{word-spacing:0.061600pt;}
.ws4{word-spacing:0.072800pt;}
.ws30{word-spacing:0.078400pt;}
.ws27{word-spacing:0.095200pt;}
.ws2a{word-spacing:0.145600pt;}
.wsb{word-spacing:0.162400pt;}
.wsd{word-spacing:0.173600pt;}
.ws2f{word-spacing:0.190400pt;}
.ws3{word-spacing:0.448000pt;}
.ws26{word-spacing:0.610400pt;}
.ws23{word-spacing:0.666400pt;}
.ws24{word-spacing:0.677600pt;}
.ws31{word-spacing:2.240000pt;}
.ws17{word-spacing:2.542400pt;}
.ws18{word-spacing:2.604000pt;}
.ws32{word-spacing:2.889600pt;}
.ws22{word-spacing:5.745600pt;}
.ws21{word-spacing:5.762400pt;}
.ws20{word-spacing:5.784800pt;}
.ws28{word-spacing:6.076000pt;}
.ws19{word-spacing:9.273600pt;}
.ws2d{word-spacing:10.578400pt;}
.ws2e{word-spacing:10.606400pt;}
.wsf{word-spacing:13.451200pt;}
.ws10{word-spacing:13.468000pt;}
._2{margin-left:-8.096000pt;}
._0{margin-left:-4.664000pt;}
._3{margin-left:-3.248000pt;}
._1{margin-left:-1.848000pt;}
._4{width:1.512000pt;}
.fs1{font-size:56.000000pt;}
.fs2{font-size:72.000000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:88.000000pt;}
.y10{bottom:22.666667pt;}
.yf{bottom:70.027067pt;}
.y80{bottom:116.819333pt;}
.y3c{bottom:116.833333pt;}
.y5f{bottom:116.847333pt;}
.y7f{bottom:137.623333pt;}
.y3b{bottom:137.637333pt;}
.y5e{bottom:137.651333pt;}
.y5d{bottom:158.371333pt;}
.y7e{bottom:158.427333pt;}
.y3a{bottom:158.441333pt;}
.y7d{bottom:179.231333pt;}
.y39{bottom:179.245333pt;}
.y5c{bottom:199.965333pt;}
.y7c{bottom:200.035333pt;}
.y38{bottom:200.049333pt;}
.y5b{bottom:220.839333pt;}
.y37{bottom:220.853333pt;}
.y5a{bottom:241.643333pt;}
.y36{bottom:241.657333pt;}
.y59{bottom:262.447333pt;}
.y35{bottom:262.461333pt;}
.y34{bottom:283.181333pt;}
.y58{bottom:283.251333pt;}
.y7b{bottom:303.971333pt;}
.y33{bottom:304.055333pt;}
.y32{bottom:324.775333pt;}
.y7a{bottom:324.845333pt;}
.y57{bottom:324.859333pt;}
.y79{bottom:345.565333pt;}
.y31{bottom:345.649333pt;}
.y56{bottom:345.663333pt;}
.y78{bottom:366.439333pt;}
.y30{bottom:366.453333pt;}
.y55{bottom:366.467333pt;}
.y77{bottom:387.243333pt;}
.y2f{bottom:387.257333pt;}
.y54{bottom:387.271333pt;}
.y76{bottom:408.047333pt;}
.y2e{bottom:408.061333pt;}
.y53{bottom:408.075333pt;}
.y75{bottom:428.851333pt;}
.y2d{bottom:428.865333pt;}
.y52{bottom:428.879333pt;}
.y74{bottom:449.655333pt;}
.y2c{bottom:449.669333pt;}
.y51{bottom:449.683333pt;}
.y50{bottom:470.403333pt;}
.y73{bottom:470.459333pt;}
.y2b{bottom:470.473333pt;}
.y72{bottom:491.263333pt;}
.y2a{bottom:491.277333pt;}
.y4f{bottom:511.997333pt;}
.y71{bottom:512.067333pt;}
.y29{bottom:512.081333pt;}
.y28{bottom:532.801333pt;}
.y4e{bottom:532.871333pt;}
.y70{bottom:553.591333pt;}
.y27{bottom:553.675333pt;}
.y26{bottom:574.395333pt;}
.y6f{bottom:574.465333pt;}
.y4d{bottom:574.479333pt;}
.ye{bottom:593.623067pt;}
.y6e{bottom:595.185333pt;}
.y25{bottom:595.269333pt;}
.y4c{bottom:595.283333pt;}
.yd{bottom:614.431067pt;}
.y6d{bottom:616.059333pt;}
.y24{bottom:616.073333pt;}
.y4b{bottom:616.087333pt;}
.y6c{bottom:636.863333pt;}
.y23{bottom:636.877333pt;}
.y4a{bottom:636.891333pt;}
.yb{bottom:644.343067pt;}
.yc{bottom:644.347067pt;}
.y6b{bottom:657.667333pt;}
.y22{bottom:657.681333pt;}
.y49{bottom:657.695333pt;}
.y6a{bottom:678.471333pt;}
.y21{bottom:678.485333pt;}
.y48{bottom:678.499333pt;}
.ya{bottom:685.945067pt;}
.y47{bottom:699.219333pt;}
.y69{bottom:699.275333pt;}
.y20{bottom:699.289333pt;}
.y68{bottom:720.079333pt;}
.y1f{bottom:720.093333pt;}
.y9{bottom:727.547067pt;}
.y46{bottom:740.813333pt;}
.y67{bottom:740.883333pt;}
.y1e{bottom:740.897333pt;}
.y8{bottom:760.023067pt;}
.y1d{bottom:761.617333pt;}
.y45{bottom:761.687333pt;}
.y7{bottom:780.831067pt;}
.y1c{bottom:782.491333pt;}
.y1b{bottom:803.211333pt;}
.y44{bottom:803.295333pt;}
.y0{bottom:805.333333pt;}
.y6{bottom:805.707067pt;}
.y1a{bottom:824.085333pt;}
.y43{bottom:824.099333pt;}
.y66{bottom:844.819333pt;}
.y19{bottom:844.889333pt;}
.y42{bottom:844.903333pt;}
.y18{bottom:865.693333pt;}
.y41{bottom:865.707333pt;}
.y65{bottom:886.413333pt;}
.y17{bottom:886.497333pt;}
.y40{bottom:886.511333pt;}
.y64{bottom:907.287333pt;}
.y16{bottom:907.301333pt;}
.y3f{bottom:907.315333pt;}
.y63{bottom:928.091333pt;}
.y15{bottom:928.105333pt;}
.y3e{bottom:928.119333pt;}
.y5{bottom:947.203067pt;}
.y3d{bottom:948.839333pt;}
.y62{bottom:948.895333pt;}
.y14{bottom:948.909333pt;}
.y4{bottom:968.011067pt;}
.y61{bottom:969.699333pt;}
.y13{bottom:969.713333pt;}
.y3{bottom:988.819067pt;}
.y12{bottom:990.433333pt;}
.y60{bottom:990.503333pt;}
.y2{bottom:1009.627067pt;}
.y11{bottom:1011.307333pt;}
.y1{bottom:1046.107067pt;}
.h5{height:62.125000pt;}
.h7{height:64.121094pt;}
.h3{height:82.441406pt;}
.h6{height:92.020833pt;}
.h2{height:97.830469pt;}
.h4{height:100.761719pt;}
.h1{height:130.666667pt;}
.h0{height:1122.666667pt;}
.w1{width:456.666667pt;}
.w0{width:793.626667pt;}
.x9{left:120.001867pt;}
.x4{left:126.144000pt;}
.x0{left:168.666667pt;}
.x8{left:326.666667pt;}
.x6{left:351.196000pt;}
.x1{left:358.960000pt;}
.x2{left:396.880000pt;}
.x3{left:624.880000pt;}
.x7{left:657.200000pt;}
.x5{left:667.600000pt;}
}
