.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(33,78,123);}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:48.000000px;}
.fs2{font-size:56.000000px;}
.fs1{font-size:60.000000px;}
.fs0{font-size:80.000000px;}
.y6{bottom:17.000000px;}
.y37{bottom:22.000000px;}
.y7{bottom:35.500000px;}
.y35{bottom:58.000000px;}
.y64{bottom:60.000000px;}
.y63{bottom:72.000000px;}
.y34{bottom:76.000000px;}
.y62{bottom:90.000000px;}
.y33{bottom:96.000000px;}
.y61{bottom:110.000000px;}
.y32{bottom:114.000000px;}
.y60{bottom:128.000000px;}
.y31{bottom:132.000000px;}
.y5f{bottom:146.000000px;}
.y30{bottom:150.000000px;}
.y5e{bottom:164.000000px;}
.y2f{bottom:168.000000px;}
.y2e{bottom:180.000000px;}
.y5d{bottom:182.000000px;}
.y5c{bottom:194.000000px;}
.y2d{bottom:196.000000px;}
.y5b{bottom:210.000000px;}
.y2c{bottom:212.000000px;}
.y5a{bottom:226.000000px;}
.y2b{bottom:228.000000px;}
.y59{bottom:242.000000px;}
.y2a{bottom:244.000000px;}
.y29{bottom:256.000000px;}
.y58{bottom:258.000000px;}
.y28{bottom:268.000000px;}
.y57{bottom:270.000000px;}
.y56{bottom:282.000000px;}
.y27{bottom:284.000000px;}
.y26{bottom:296.000000px;}
.y55{bottom:298.000000px;}
.y25{bottom:314.000000px;}
.y54{bottom:326.000000px;}
.y24{bottom:334.000000px;}
.y53{bottom:344.000000px;}
.y23{bottom:352.000000px;}
.y5{bottom:358.500000px;}
.y52{bottom:364.000000px;}
.y22{bottom:370.000000px;}
.y4{bottom:381.000000px;}
.y51{bottom:382.000000px;}
.y21{bottom:388.000000px;}
.y50{bottom:400.000000px;}
.y20{bottom:406.000000px;}
.y3{bottom:411.000000px;}
.y1f{bottom:418.000000px;}
.y1e{bottom:434.000000px;}
.y4f{bottom:436.000000px;}
.y4e{bottom:448.000000px;}
.y1d{bottom:450.000000px;}
.y4d{bottom:464.000000px;}
.y1c{bottom:466.000000px;}
.y4c{bottom:480.000000px;}
.y1b{bottom:482.000000px;}
.y0{bottom:490.500000px;}
.y1a{bottom:494.000000px;}
.y4b{bottom:496.000000px;}
.y19{bottom:506.000000px;}
.y4a{bottom:512.000000px;}
.y18{bottom:522.000000px;}
.y49{bottom:524.000000px;}
.y48{bottom:536.000000px;}
.y17{bottom:538.000000px;}
.y16{bottom:550.000000px;}
.y47{bottom:552.000000px;}
.y46{bottom:564.000000px;}
.y15{bottom:568.000000px;}
.y45{bottom:582.000000px;}
.y14{bottom:588.000000px;}
.y44{bottom:602.000000px;}
.y13{bottom:606.000000px;}
.y43{bottom:620.000000px;}
.y12{bottom:624.000000px;}
.y2{bottom:636.000000px;}
.y42{bottom:638.000000px;}
.y11{bottom:642.000000px;}
.y41{bottom:656.000000px;}
.y10{bottom:660.000000px;}
.yf{bottom:672.000000px;}
.y40{bottom:674.000000px;}
.y3f{bottom:686.000000px;}
.ye{bottom:688.000000px;}
.y3e{bottom:702.000000px;}
.yd{bottom:704.000000px;}
.y3d{bottom:718.000000px;}
.yc{bottom:720.000000px;}
.y3c{bottom:734.000000px;}
.yb{bottom:736.000000px;}
.ya{bottom:748.000000px;}
.y3b{bottom:750.000000px;}
.y9{bottom:760.000000px;}
.y3a{bottom:766.000000px;}
.y1{bottom:776.000000px;}
.y39{bottom:778.000000px;}
.y8{bottom:788.000000px;}
.y38{bottom:790.000000px;}
.y36{bottom:808.000000px;}
.h6{height:56.367840px;}
.h7{height:59.156250px;}
.h4{height:69.015625px;}
.h3{height:70.459800px;}
.h2{height:93.946400px;}
.h1{height:130.500000px;}
.h5{height:770.500000px;}
.h0{height:842.000000px;}
.w1{width:456.500000px;}
.w2{width:523.500000px;}
.w0{width:595.000000px;}
.x1{left:36.000000px;}
.x2{left:49.080000px;}
.x0{left:69.500000px;}
.x5{left:241.150000px;}
.x4{left:245.000000px;}
.x3{left:254.980000px;}
.x6{left:550.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs3{font-size:64.000000pt;}
.fs2{font-size:74.666667pt;}
.fs1{font-size:80.000000pt;}
.fs0{font-size:106.666667pt;}
.y6{bottom:22.666667pt;}
.y37{bottom:29.333333pt;}
.y7{bottom:47.333333pt;}
.y35{bottom:77.333333pt;}
.y64{bottom:80.000000pt;}
.y63{bottom:96.000000pt;}
.y34{bottom:101.333333pt;}
.y62{bottom:120.000000pt;}
.y33{bottom:128.000000pt;}
.y61{bottom:146.666667pt;}
.y32{bottom:152.000000pt;}
.y60{bottom:170.666667pt;}
.y31{bottom:176.000000pt;}
.y5f{bottom:194.666667pt;}
.y30{bottom:200.000000pt;}
.y5e{bottom:218.666667pt;}
.y2f{bottom:224.000000pt;}
.y2e{bottom:240.000000pt;}
.y5d{bottom:242.666667pt;}
.y5c{bottom:258.666667pt;}
.y2d{bottom:261.333333pt;}
.y5b{bottom:280.000000pt;}
.y2c{bottom:282.666667pt;}
.y5a{bottom:301.333333pt;}
.y2b{bottom:304.000000pt;}
.y59{bottom:322.666667pt;}
.y2a{bottom:325.333333pt;}
.y29{bottom:341.333333pt;}
.y58{bottom:344.000000pt;}
.y28{bottom:357.333333pt;}
.y57{bottom:360.000000pt;}
.y56{bottom:376.000000pt;}
.y27{bottom:378.666667pt;}
.y26{bottom:394.666667pt;}
.y55{bottom:397.333333pt;}
.y25{bottom:418.666667pt;}
.y54{bottom:434.666667pt;}
.y24{bottom:445.333333pt;}
.y53{bottom:458.666667pt;}
.y23{bottom:469.333333pt;}
.y5{bottom:478.000000pt;}
.y52{bottom:485.333333pt;}
.y22{bottom:493.333333pt;}
.y4{bottom:508.000000pt;}
.y51{bottom:509.333333pt;}
.y21{bottom:517.333333pt;}
.y50{bottom:533.333333pt;}
.y20{bottom:541.333333pt;}
.y3{bottom:548.000000pt;}
.y1f{bottom:557.333333pt;}
.y1e{bottom:578.666667pt;}
.y4f{bottom:581.333333pt;}
.y4e{bottom:597.333333pt;}
.y1d{bottom:600.000000pt;}
.y4d{bottom:618.666667pt;}
.y1c{bottom:621.333333pt;}
.y4c{bottom:640.000000pt;}
.y1b{bottom:642.666667pt;}
.y0{bottom:654.000000pt;}
.y1a{bottom:658.666667pt;}
.y4b{bottom:661.333333pt;}
.y19{bottom:674.666667pt;}
.y4a{bottom:682.666667pt;}
.y18{bottom:696.000000pt;}
.y49{bottom:698.666667pt;}
.y48{bottom:714.666667pt;}
.y17{bottom:717.333333pt;}
.y16{bottom:733.333333pt;}
.y47{bottom:736.000000pt;}
.y46{bottom:752.000000pt;}
.y15{bottom:757.333333pt;}
.y45{bottom:776.000000pt;}
.y14{bottom:784.000000pt;}
.y44{bottom:802.666667pt;}
.y13{bottom:808.000000pt;}
.y43{bottom:826.666667pt;}
.y12{bottom:832.000000pt;}
.y2{bottom:848.000000pt;}
.y42{bottom:850.666667pt;}
.y11{bottom:856.000000pt;}
.y41{bottom:874.666667pt;}
.y10{bottom:880.000000pt;}
.yf{bottom:896.000000pt;}
.y40{bottom:898.666667pt;}
.y3f{bottom:914.666667pt;}
.ye{bottom:917.333333pt;}
.y3e{bottom:936.000000pt;}
.yd{bottom:938.666667pt;}
.y3d{bottom:957.333333pt;}
.yc{bottom:960.000000pt;}
.y3c{bottom:978.666667pt;}
.yb{bottom:981.333333pt;}
.ya{bottom:997.333333pt;}
.y3b{bottom:1000.000000pt;}
.y9{bottom:1013.333333pt;}
.y3a{bottom:1021.333333pt;}
.y1{bottom:1034.666667pt;}
.y39{bottom:1037.333333pt;}
.y8{bottom:1050.666667pt;}
.y38{bottom:1053.333333pt;}
.y36{bottom:1077.333333pt;}
.h6{height:75.157120pt;}
.h7{height:78.875000pt;}
.h4{height:92.020833pt;}
.h3{height:93.946400pt;}
.h2{height:125.261866pt;}
.h1{height:174.000000pt;}
.h5{height:1027.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:608.666667pt;}
.w2{width:698.000000pt;}
.w0{width:793.333333pt;}
.x1{left:48.000000pt;}
.x2{left:65.440000pt;}
.x0{left:92.666667pt;}
.x5{left:321.533333pt;}
.x4{left:326.666667pt;}
.x3{left:339.973333pt;}
.x6{left:733.773333pt;}
}
