.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(33,78,123);}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:48.000000px;}
.fs3{font-size:56.000000px;}
.fs2{font-size:60.000000px;}
.fs0{font-size:80.000000px;}
.fs1{font-size:100.000000px;}
.y7{bottom:17.000000px;}
.y34{bottom:22.000000px;}
.y8{bottom:35.500000px;}
.y50{bottom:38.000000px;}
.y4f{bottom:56.000000px;}
.y32{bottom:62.000000px;}
.y4e{bottom:74.000000px;}
.y64{bottom:76.000000px;}
.y31{bottom:80.000000px;}
.y4d{bottom:86.000000px;}
.y63{bottom:94.000000px;}
.y30{bottom:98.000000px;}
.y4c{bottom:104.000000px;}
.y62{bottom:112.000000px;}
.y2f{bottom:116.000000px;}
.y4b{bottom:124.000000px;}
.y2e{bottom:128.000000px;}
.y4a{bottom:142.000000px;}
.y2d{bottom:146.000000px;}
.y49{bottom:160.000000px;}
.y2c{bottom:164.000000px;}
.y48{bottom:172.000000px;}
.y61{bottom:178.000000px;}
.y2b{bottom:182.000000px;}
.y47{bottom:190.000000px;}
.y60{bottom:196.000000px;}
.y2a{bottom:200.000000px;}
.y46{bottom:208.000000px;}
.y29{bottom:212.000000px;}
.y5f{bottom:214.000000px;}
.y45{bottom:226.000000px;}
.y28{bottom:230.000000px;}
.y44{bottom:244.000000px;}
.y27{bottom:250.000000px;}
.y43{bottom:256.000000px;}
.y5e{bottom:262.000000px;}
.y26{bottom:268.000000px;}
.y42{bottom:274.000000px;}
.y5d{bottom:280.000000px;}
.y25{bottom:286.000000px;}
.y41{bottom:292.000000px;}
.y24{bottom:298.000000px;}
.y40{bottom:310.000000px;}
.y23{bottom:316.000000px;}
.y6{bottom:321.000000px;}
.y3f{bottom:328.000000px;}
.y22{bottom:334.000000px;}
.y5{bottom:343.500000px;}
.y3e{bottom:346.000000px;}
.y21{bottom:352.000000px;}
.y3d{bottom:364.000000px;}
.y5c{bottom:366.000000px;}
.y20{bottom:370.000000px;}
.y4{bottom:381.000000px;}
.y1f{bottom:382.000000px;}
.y5b{bottom:384.000000px;}
.y3c{bottom:394.000000px;}
.y1e{bottom:400.000000px;}
.y5a{bottom:402.000000px;}
.y3{bottom:411.000000px;}
.y3b{bottom:412.000000px;}
.y59{bottom:414.000000px;}
.y1d{bottom:418.000000px;}
.y1c{bottom:430.000000px;}
.y3a{bottom:432.000000px;}
.y1b{bottom:448.000000px;}
.y39{bottom:450.000000px;}
.y1a{bottom:468.000000px;}
.y38{bottom:480.000000px;}
.y19{bottom:486.000000px;}
.y0{bottom:490.500000px;}
.y37{bottom:498.000000px;}
.y18{bottom:504.000000px;}
.y17{bottom:516.000000px;}
.y16{bottom:534.000000px;}
.y15{bottom:552.000000px;}
.y14{bottom:570.000000px;}
.y58{bottom:582.000000px;}
.y13{bottom:588.000000px;}
.y12{bottom:600.000000px;}
.y11{bottom:618.000000px;}
.y57{bottom:620.000000px;}
.y2{bottom:636.000000px;}
.y56{bottom:638.000000px;}
.y10{bottom:654.000000px;}
.y55{bottom:656.000000px;}
.y54{bottom:668.000000px;}
.yf{bottom:672.000000px;}
.y53{bottom:686.000000px;}
.ye{bottom:690.000000px;}
.y36{bottom:702.000000px;}
.y52{bottom:704.000000px;}
.yd{bottom:708.000000px;}
.yc{bottom:720.000000px;}
.y51{bottom:722.000000px;}
.yb{bottom:738.000000px;}
.y35{bottom:740.000000px;}
.ya{bottom:758.000000px;}
.y1{bottom:776.000000px;}
.y9{bottom:788.000000px;}
.y33{bottom:808.000000px;}
.h7{height:56.367840px;}
.h8{height:59.156250px;}
.h5{height:69.015625px;}
.h4{height:70.459800px;}
.h2{height:93.946400px;}
.h3{height:117.433000px;}
.h1{height:130.500000px;}
.h6{height:770.500000px;}
.h0{height:842.000000px;}
.w1{width:456.500000px;}
.w2{width:523.500000px;}
.w0{width:595.000000px;}
.x1{left:36.000000px;}
.x0{left:69.500000px;}
.x2{left:75.220000px;}
.x3{left:219.690000px;}
.x6{left:221.140000px;}
.x5{left:245.000000px;}
.x4{left:257.480000px;}
.x7{left:550.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs4{font-size:64.000000pt;}
.fs3{font-size:74.666667pt;}
.fs2{font-size:80.000000pt;}
.fs0{font-size:106.666667pt;}
.fs1{font-size:133.333333pt;}
.y7{bottom:22.666667pt;}
.y34{bottom:29.333333pt;}
.y8{bottom:47.333333pt;}
.y50{bottom:50.666667pt;}
.y4f{bottom:74.666667pt;}
.y32{bottom:82.666667pt;}
.y4e{bottom:98.666667pt;}
.y64{bottom:101.333333pt;}
.y31{bottom:106.666667pt;}
.y4d{bottom:114.666667pt;}
.y63{bottom:125.333333pt;}
.y30{bottom:130.666667pt;}
.y4c{bottom:138.666667pt;}
.y62{bottom:149.333333pt;}
.y2f{bottom:154.666667pt;}
.y4b{bottom:165.333333pt;}
.y2e{bottom:170.666667pt;}
.y4a{bottom:189.333333pt;}
.y2d{bottom:194.666667pt;}
.y49{bottom:213.333333pt;}
.y2c{bottom:218.666667pt;}
.y48{bottom:229.333333pt;}
.y61{bottom:237.333333pt;}
.y2b{bottom:242.666667pt;}
.y47{bottom:253.333333pt;}
.y60{bottom:261.333333pt;}
.y2a{bottom:266.666667pt;}
.y46{bottom:277.333333pt;}
.y29{bottom:282.666667pt;}
.y5f{bottom:285.333333pt;}
.y45{bottom:301.333333pt;}
.y28{bottom:306.666667pt;}
.y44{bottom:325.333333pt;}
.y27{bottom:333.333333pt;}
.y43{bottom:341.333333pt;}
.y5e{bottom:349.333333pt;}
.y26{bottom:357.333333pt;}
.y42{bottom:365.333333pt;}
.y5d{bottom:373.333333pt;}
.y25{bottom:381.333333pt;}
.y41{bottom:389.333333pt;}
.y24{bottom:397.333333pt;}
.y40{bottom:413.333333pt;}
.y23{bottom:421.333333pt;}
.y6{bottom:428.000000pt;}
.y3f{bottom:437.333333pt;}
.y22{bottom:445.333333pt;}
.y5{bottom:458.000000pt;}
.y3e{bottom:461.333333pt;}
.y21{bottom:469.333333pt;}
.y3d{bottom:485.333333pt;}
.y5c{bottom:488.000000pt;}
.y20{bottom:493.333333pt;}
.y4{bottom:508.000000pt;}
.y1f{bottom:509.333333pt;}
.y5b{bottom:512.000000pt;}
.y3c{bottom:525.333333pt;}
.y1e{bottom:533.333333pt;}
.y5a{bottom:536.000000pt;}
.y3{bottom:548.000000pt;}
.y3b{bottom:549.333333pt;}
.y59{bottom:552.000000pt;}
.y1d{bottom:557.333333pt;}
.y1c{bottom:573.333333pt;}
.y3a{bottom:576.000000pt;}
.y1b{bottom:597.333333pt;}
.y39{bottom:600.000000pt;}
.y1a{bottom:624.000000pt;}
.y38{bottom:640.000000pt;}
.y19{bottom:648.000000pt;}
.y0{bottom:654.000000pt;}
.y37{bottom:664.000000pt;}
.y18{bottom:672.000000pt;}
.y17{bottom:688.000000pt;}
.y16{bottom:712.000000pt;}
.y15{bottom:736.000000pt;}
.y14{bottom:760.000000pt;}
.y58{bottom:776.000000pt;}
.y13{bottom:784.000000pt;}
.y12{bottom:800.000000pt;}
.y11{bottom:824.000000pt;}
.y57{bottom:826.666667pt;}
.y2{bottom:848.000000pt;}
.y56{bottom:850.666667pt;}
.y10{bottom:872.000000pt;}
.y55{bottom:874.666667pt;}
.y54{bottom:890.666667pt;}
.yf{bottom:896.000000pt;}
.y53{bottom:914.666667pt;}
.ye{bottom:920.000000pt;}
.y36{bottom:936.000000pt;}
.y52{bottom:938.666667pt;}
.yd{bottom:944.000000pt;}
.yc{bottom:960.000000pt;}
.y51{bottom:962.666667pt;}
.yb{bottom:984.000000pt;}
.y35{bottom:986.666667pt;}
.ya{bottom:1010.666667pt;}
.y1{bottom:1034.666667pt;}
.y9{bottom:1050.666667pt;}
.y33{bottom:1077.333333pt;}
.h7{height:75.157120pt;}
.h8{height:78.875000pt;}
.h5{height:92.020833pt;}
.h4{height:93.946400pt;}
.h2{height:125.261866pt;}
.h3{height:156.577333pt;}
.h1{height:174.000000pt;}
.h6{height:1027.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:608.666667pt;}
.w2{width:698.000000pt;}
.w0{width:793.333333pt;}
.x1{left:48.000000pt;}
.x0{left:92.666667pt;}
.x2{left:100.293333pt;}
.x3{left:292.920000pt;}
.x6{left:294.853333pt;}
.x5{left:326.666667pt;}
.x4{left:343.306667pt;}
.x7{left:733.773333pt;}
}
