.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.lsc{letter-spacing:-0.105600px;}
.ls1d{letter-spacing:-0.096000px;}
.ls1c{letter-spacing:-0.062400px;}
.ls2{letter-spacing:-0.060864px;}
.ls1a{letter-spacing:-0.043200px;}
.ls17{letter-spacing:-0.038400px;}
.ls4{letter-spacing:-0.038040px;}
.ls12{letter-spacing:-0.033600px;}
.ls3{letter-spacing:-0.030432px;}
.ls10{letter-spacing:-0.028800px;}
.ls16{letter-spacing:-0.024000px;}
.ls1f{letter-spacing:-0.019200px;}
.ls15{letter-spacing:-0.014400px;}
.ls1e{letter-spacing:-0.009600px;}
.lsf{letter-spacing:-0.004800px;}
.ls1{letter-spacing:0.000000px;}
.lsd{letter-spacing:0.004800px;}
.ls5{letter-spacing:0.006000px;}
.lsa{letter-spacing:0.009600px;}
.ls8{letter-spacing:0.014400px;}
.lse{letter-spacing:0.019200px;}
.ls6{letter-spacing:0.024000px;}
.ls9{letter-spacing:0.028800px;}
.ls14{letter-spacing:0.033600px;}
.ls7{letter-spacing:0.038400px;}
.ls0{letter-spacing:0.038448px;}
.ls18{letter-spacing:0.043200px;}
.ls13{letter-spacing:0.048000px;}
.ls1b{letter-spacing:0.052800px;}
.ls11{letter-spacing:0.057600px;}
.ls20{letter-spacing:0.067200px;}
.ls19{letter-spacing:0.081600px;}
.lsb{letter-spacing:0.086400px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1c{word-spacing:-0.259200px;}
.ws10{word-spacing:-0.249600px;}
.ws1a{word-spacing:-0.182400px;}
.ws2a{word-spacing:-0.153600px;}
.ws2{word-spacing:-0.136944px;}
.ws30{word-spacing:-0.134400px;}
.ws32{word-spacing:-0.120000px;}
.ws5{word-spacing:-0.115200px;}
.ws28{word-spacing:-0.110400px;}
.ws29{word-spacing:-0.105600px;}
.ws1f{word-spacing:-0.096000px;}
.ws4{word-spacing:-0.091200px;}
.ws17{word-spacing:-0.086400px;}
.wsa{word-spacing:-0.081600px;}
.ws21{word-spacing:-0.076800px;}
.ws1{word-spacing:-0.076080px;}
.ws2c{word-spacing:-0.072000px;}
.wsf{word-spacing:-0.067200px;}
.ws11{word-spacing:-0.062400px;}
.ws9{word-spacing:-0.057600px;}
.ws20{word-spacing:-0.052800px;}
.ws19{word-spacing:-0.048000px;}
.ws18{word-spacing:-0.043200px;}
.ws2b{word-spacing:-0.038400px;}
.ws1b{word-spacing:-0.033600px;}
.ws7{word-spacing:-0.028800px;}
.ws31{word-spacing:-0.024000px;}
.wsb{word-spacing:-0.019200px;}
.ws6{word-spacing:-0.014400px;}
.wsd{word-spacing:-0.009600px;}
.wsc{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.wse{word-spacing:0.004800px;}
.ws27{word-spacing:0.009600px;}
.ws24{word-spacing:0.014400px;}
.ws22{word-spacing:0.019200px;}
.ws1d{word-spacing:0.024000px;}
.ws8{word-spacing:0.028800px;}
.ws16{word-spacing:0.033600px;}
.ws1e{word-spacing:0.038400px;}
.ws2e{word-spacing:0.043200px;}
.ws25{word-spacing:0.048000px;}
.ws34{word-spacing:0.052800px;}
.ws26{word-spacing:0.057600px;}
.ws15{word-spacing:0.062400px;}
.ws33{word-spacing:0.072000px;}
.ws23{word-spacing:0.081600px;}
.ws13{word-spacing:0.096000px;}
.ws3{word-spacing:0.114000px;}
.ws12{word-spacing:0.115200px;}
.ws2d{word-spacing:0.129600px;}
.ws14{word-spacing:0.148800px;}
.ws35{word-spacing:0.172800px;}
.ws2f{word-spacing:0.235200px;}
._0{margin-left:-1.248000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:48.000000px;}
.fs4{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs0{font-size:64.080000px;}
.fs2{font-size:76.080000px;}
.y13{bottom:16.000000px;}
.y12{bottom:39.000000px;}
.y5e{bottom:87.660000px;}
.y55{bottom:87.900000px;}
.y48{bottom:88.020000px;}
.y70{bottom:88.140100px;}
.y5c{bottom:98.500000px;}
.y5d{bottom:98.700000px;}
.y40{bottom:101.820000px;}
.y6f{bottom:101.940100px;}
.y54{bottom:115.500000px;}
.y3f{bottom:115.620000px;}
.y6e{bottom:115.740100px;}
.y5f{bottom:126.500000px;}
.y6d{bottom:126.780100px;}
.y3e{bottom:129.420000px;}
.y3d{bottom:143.220000px;}
.y3c{bottom:157.020000px;}
.y5b{bottom:170.700000px;}
.y3b{bottom:170.820000px;}
.y3a{bottom:184.500000px;}
.y53{bottom:184.620000px;}
.y5a{bottom:198.300000px;}
.y39{bottom:198.420000px;}
.y6c{bottom:199.260000px;}
.y38{bottom:212.100000px;}
.y52{bottom:212.220000px;}
.y6b{bottom:213.060000px;}
.y59{bottom:225.900000px;}
.y37{bottom:226.020000px;}
.y6a{bottom:226.860000px;}
.y36{bottom:239.820000px;}
.y69{bottom:240.660000px;}
.y58{bottom:253.500000px;}
.y35{bottom:253.620000px;}
.y68{bottom:254.340000px;}
.y51{bottom:267.300000px;}
.y34{bottom:267.420000px;}
.y67{bottom:268.260000px;}
.y33{bottom:281.220000px;}
.y66{bottom:281.940000px;}
.y50{bottom:294.900000px;}
.y32{bottom:295.020000px;}
.y65{bottom:295.860000px;}
.y31{bottom:308.820000px;}
.y64{bottom:309.660000px;}
.y30{bottom:322.620000px;}
.y63{bottom:323.460000px;}
.y4c{bottom:336.300000px;}
.y2f{bottom:336.420000px;}
.y62{bottom:337.260000px;}
.y2e{bottom:350.100000px;}
.y47{bottom:350.220000px;}
.y61{bottom:351.060000px;}
.y60{bottom:362.100000px;}
.y4b{bottom:363.840000px;}
.y2d{bottom:363.960000px;}
.y2c{bottom:377.640000px;}
.y46{bottom:377.760000px;}
.y57{bottom:391.440000px;}
.y2b{bottom:391.560000px;}
.y11{bottom:396.960000px;}
.y2a{bottom:405.360000px;}
.y10{bottom:413.580000px;}
.y56{bottom:419.040000px;}
.y29{bottom:419.160000px;}
.yf{bottom:428.880000px;}
.ye{bottom:428.895120px;}
.y45{bottom:432.840000px;}
.y28{bottom:432.960000px;}
.y4f{bottom:446.640000px;}
.y27{bottom:446.760000px;}
.yd{bottom:450.730080px;}
.y44{bottom:460.440000px;}
.y26{bottom:460.560000px;}
.yc{bottom:472.565040px;}
.y4e{bottom:474.240000px;}
.y25{bottom:474.360000px;}
.y24{bottom:488.160000px;}
.yb{bottom:494.400000px;}
.y4a{bottom:501.840000px;}
.y23{bottom:501.960000px;}
.ya{bottom:514.740000px;}
.y22{bottom:515.760000px;}
.y0{bottom:525.500000px;}
.y9{bottom:525.900000px;}
.y49{bottom:529.440000px;}
.y21{bottom:529.560000px;}
.y20{bottom:543.360000px;}
.y1f{bottom:557.040000px;}
.y43{bottom:557.160000px;}
.y1e{bottom:570.960000px;}
.y1d{bottom:584.640000px;}
.y42{bottom:584.760000px;}
.y41{bottom:598.440000px;}
.y1c{bottom:598.560000px;}
.y4d{bottom:612.240000px;}
.y1b{bottom:612.360000px;}
.y8{bottom:626.040000px;}
.y1a{bottom:626.160000px;}
.y7{bottom:639.840000px;}
.y19{bottom:639.960000px;}
.y6{bottom:653.640000px;}
.y18{bottom:653.760000px;}
.y5{bottom:667.440000px;}
.y17{bottom:667.560000px;}
.y4{bottom:681.240000px;}
.y16{bottom:681.360000px;}
.y3{bottom:695.040000px;}
.y15{bottom:695.160000px;}
.y2{bottom:708.840000px;}
.y14{bottom:708.960000px;}
.y1{bottom:741.120000px;}
.h6{height:53.250000px;}
.h3{height:54.960938px;}
.h5{height:68.701172px;}
.h7{height:69.015625px;}
.h2{height:73.372852px;}
.h4{height:87.113086px;}
.h1{height:98.000000px;}
.h9{height:414.500000px;}
.h8{height:442.500000px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w3{width:404.500000px;}
.w2{width:432.000000px;}
.w0{width:612.000000px;}
.xb{left:90.000000px;}
.x5{left:109.987200px;}
.x0{left:135.000000px;}
.x6{left:208.149420px;}
.xa{left:253.000000px;}
.x8{left:269.760000px;}
.x4{left:274.320000px;}
.x1{left:279.300000px;}
.x2{left:306.000000px;}
.x7{left:403.860000px;}
.xe{left:443.280000px;}
.x3{left:477.000000px;}
.xd{left:494.280000px;}
.x9{left:516.960000px;}
.xc{left:521.819900px;}
@media print{
.v0{vertical-align:0.000000pt;}
.lsc{letter-spacing:-0.140800pt;}
.ls1d{letter-spacing:-0.128000pt;}
.ls1c{letter-spacing:-0.083200pt;}
.ls2{letter-spacing:-0.081152pt;}
.ls1a{letter-spacing:-0.057600pt;}
.ls17{letter-spacing:-0.051200pt;}
.ls4{letter-spacing:-0.050720pt;}
.ls12{letter-spacing:-0.044800pt;}
.ls3{letter-spacing:-0.040576pt;}
.ls10{letter-spacing:-0.038400pt;}
.ls16{letter-spacing:-0.032000pt;}
.ls1f{letter-spacing:-0.025600pt;}
.ls15{letter-spacing:-0.019200pt;}
.ls1e{letter-spacing:-0.012800pt;}
.lsf{letter-spacing:-0.006400pt;}
.ls1{letter-spacing:0.000000pt;}
.lsd{letter-spacing:0.006400pt;}
.ls5{letter-spacing:0.008000pt;}
.lsa{letter-spacing:0.012800pt;}
.ls8{letter-spacing:0.019200pt;}
.lse{letter-spacing:0.025600pt;}
.ls6{letter-spacing:0.032000pt;}
.ls9{letter-spacing:0.038400pt;}
.ls14{letter-spacing:0.044800pt;}
.ls7{letter-spacing:0.051200pt;}
.ls0{letter-spacing:0.051264pt;}
.ls18{letter-spacing:0.057600pt;}
.ls13{letter-spacing:0.064000pt;}
.ls1b{letter-spacing:0.070400pt;}
.ls11{letter-spacing:0.076800pt;}
.ls20{letter-spacing:0.089600pt;}
.ls19{letter-spacing:0.108800pt;}
.lsb{letter-spacing:0.115200pt;}
.ws1c{word-spacing:-0.345600pt;}
.ws10{word-spacing:-0.332800pt;}
.ws1a{word-spacing:-0.243200pt;}
.ws2a{word-spacing:-0.204800pt;}
.ws2{word-spacing:-0.182592pt;}
.ws30{word-spacing:-0.179200pt;}
.ws32{word-spacing:-0.160000pt;}
.ws5{word-spacing:-0.153600pt;}
.ws28{word-spacing:-0.147200pt;}
.ws29{word-spacing:-0.140800pt;}
.ws1f{word-spacing:-0.128000pt;}
.ws4{word-spacing:-0.121600pt;}
.ws17{word-spacing:-0.115200pt;}
.wsa{word-spacing:-0.108800pt;}
.ws21{word-spacing:-0.102400pt;}
.ws1{word-spacing:-0.101440pt;}
.ws2c{word-spacing:-0.096000pt;}
.wsf{word-spacing:-0.089600pt;}
.ws11{word-spacing:-0.083200pt;}
.ws9{word-spacing:-0.076800pt;}
.ws20{word-spacing:-0.070400pt;}
.ws19{word-spacing:-0.064000pt;}
.ws18{word-spacing:-0.057600pt;}
.ws2b{word-spacing:-0.051200pt;}
.ws1b{word-spacing:-0.044800pt;}
.ws7{word-spacing:-0.038400pt;}
.ws31{word-spacing:-0.032000pt;}
.wsb{word-spacing:-0.025600pt;}
.ws6{word-spacing:-0.019200pt;}
.wsd{word-spacing:-0.012800pt;}
.wsc{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.wse{word-spacing:0.006400pt;}
.ws27{word-spacing:0.012800pt;}
.ws24{word-spacing:0.019200pt;}
.ws22{word-spacing:0.025600pt;}
.ws1d{word-spacing:0.032000pt;}
.ws8{word-spacing:0.038400pt;}
.ws16{word-spacing:0.044800pt;}
.ws1e{word-spacing:0.051200pt;}
.ws2e{word-spacing:0.057600pt;}
.ws25{word-spacing:0.064000pt;}
.ws34{word-spacing:0.070400pt;}
.ws26{word-spacing:0.076800pt;}
.ws15{word-spacing:0.083200pt;}
.ws33{word-spacing:0.096000pt;}
.ws23{word-spacing:0.108800pt;}
.ws13{word-spacing:0.128000pt;}
.ws3{word-spacing:0.152000pt;}
.ws12{word-spacing:0.153600pt;}
.ws2d{word-spacing:0.172800pt;}
.ws14{word-spacing:0.198400pt;}
.ws35{word-spacing:0.230400pt;}
.ws2f{word-spacing:0.313600pt;}
._0{margin-left:-1.664000pt;}
.fs1{font-size:64.000000pt;}
.fs4{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs0{font-size:85.440000pt;}
.fs2{font-size:101.440000pt;}
.y13{bottom:21.333333pt;}
.y12{bottom:52.000000pt;}
.y5e{bottom:116.880000pt;}
.y55{bottom:117.200000pt;}
.y48{bottom:117.360000pt;}
.y70{bottom:117.520133pt;}
.y5c{bottom:131.333333pt;}
.y5d{bottom:131.600000pt;}
.y40{bottom:135.760000pt;}
.y6f{bottom:135.920133pt;}
.y54{bottom:154.000000pt;}
.y3f{bottom:154.160000pt;}
.y6e{bottom:154.320133pt;}
.y5f{bottom:168.666667pt;}
.y6d{bottom:169.040133pt;}
.y3e{bottom:172.560000pt;}
.y3d{bottom:190.960000pt;}
.y3c{bottom:209.360000pt;}
.y5b{bottom:227.600000pt;}
.y3b{bottom:227.760000pt;}
.y3a{bottom:246.000000pt;}
.y53{bottom:246.160000pt;}
.y5a{bottom:264.400000pt;}
.y39{bottom:264.560000pt;}
.y6c{bottom:265.680000pt;}
.y38{bottom:282.800000pt;}
.y52{bottom:282.960000pt;}
.y6b{bottom:284.080000pt;}
.y59{bottom:301.200000pt;}
.y37{bottom:301.360000pt;}
.y6a{bottom:302.480000pt;}
.y36{bottom:319.760000pt;}
.y69{bottom:320.880000pt;}
.y58{bottom:338.000000pt;}
.y35{bottom:338.160000pt;}
.y68{bottom:339.120000pt;}
.y51{bottom:356.400000pt;}
.y34{bottom:356.560000pt;}
.y67{bottom:357.680000pt;}
.y33{bottom:374.960000pt;}
.y66{bottom:375.920000pt;}
.y50{bottom:393.200000pt;}
.y32{bottom:393.360000pt;}
.y65{bottom:394.480000pt;}
.y31{bottom:411.760000pt;}
.y64{bottom:412.880000pt;}
.y30{bottom:430.160000pt;}
.y63{bottom:431.280000pt;}
.y4c{bottom:448.400000pt;}
.y2f{bottom:448.560000pt;}
.y62{bottom:449.680000pt;}
.y2e{bottom:466.800000pt;}
.y47{bottom:466.960000pt;}
.y61{bottom:468.080000pt;}
.y60{bottom:482.800000pt;}
.y4b{bottom:485.120000pt;}
.y2d{bottom:485.280000pt;}
.y2c{bottom:503.520000pt;}
.y46{bottom:503.680000pt;}
.y57{bottom:521.920000pt;}
.y2b{bottom:522.080000pt;}
.y11{bottom:529.280000pt;}
.y2a{bottom:540.480000pt;}
.y10{bottom:551.440000pt;}
.y56{bottom:558.720000pt;}
.y29{bottom:558.880000pt;}
.yf{bottom:571.840000pt;}
.ye{bottom:571.860160pt;}
.y45{bottom:577.120000pt;}
.y28{bottom:577.280000pt;}
.y4f{bottom:595.520000pt;}
.y27{bottom:595.680000pt;}
.yd{bottom:600.973440pt;}
.y44{bottom:613.920000pt;}
.y26{bottom:614.080000pt;}
.yc{bottom:630.086720pt;}
.y4e{bottom:632.320000pt;}
.y25{bottom:632.480000pt;}
.y24{bottom:650.880000pt;}
.yb{bottom:659.200000pt;}
.y4a{bottom:669.120000pt;}
.y23{bottom:669.280000pt;}
.ya{bottom:686.320000pt;}
.y22{bottom:687.680000pt;}
.y0{bottom:700.666667pt;}
.y9{bottom:701.200000pt;}
.y49{bottom:705.920000pt;}
.y21{bottom:706.080000pt;}
.y20{bottom:724.480000pt;}
.y1f{bottom:742.720000pt;}
.y43{bottom:742.880000pt;}
.y1e{bottom:761.280000pt;}
.y1d{bottom:779.520000pt;}
.y42{bottom:779.680000pt;}
.y41{bottom:797.920000pt;}
.y1c{bottom:798.080000pt;}
.y4d{bottom:816.320000pt;}
.y1b{bottom:816.480000pt;}
.y8{bottom:834.720000pt;}
.y1a{bottom:834.880000pt;}
.y7{bottom:853.120000pt;}
.y19{bottom:853.280000pt;}
.y6{bottom:871.520000pt;}
.y18{bottom:871.680000pt;}
.y5{bottom:889.920000pt;}
.y17{bottom:890.080000pt;}
.y4{bottom:908.320000pt;}
.y16{bottom:908.480000pt;}
.y3{bottom:926.720000pt;}
.y15{bottom:926.880000pt;}
.y2{bottom:945.120000pt;}
.y14{bottom:945.280000pt;}
.y1{bottom:988.160000pt;}
.h6{height:71.000000pt;}
.h3{height:73.281250pt;}
.h5{height:91.601562pt;}
.h7{height:92.020833pt;}
.h2{height:97.830469pt;}
.h4{height:116.150781pt;}
.h1{height:130.666667pt;}
.h9{height:552.666667pt;}
.h8{height:590.000000pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w3{width:539.333333pt;}
.w2{width:576.000000pt;}
.w0{width:816.000000pt;}
.xb{left:120.000000pt;}
.x5{left:146.649600pt;}
.x0{left:180.000000pt;}
.x6{left:277.532560pt;}
.xa{left:337.333333pt;}
.x8{left:359.680000pt;}
.x4{left:365.760000pt;}
.x1{left:372.400000pt;}
.x2{left:408.000000pt;}
.x7{left:538.480000pt;}
.xe{left:591.040000pt;}
.x3{left:636.000000pt;}
.xd{left:659.040000pt;}
.x9{left:689.280000pt;}
.xc{left:695.759867pt;}
}
