.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls4{letter-spacing:-6.098400px;}
.ls14{letter-spacing:-0.058800px;}
.ls13{letter-spacing:-0.042000px;}
.ls6{letter-spacing:-0.037800px;}
.ls2{letter-spacing:-0.033000px;}
.lsd{letter-spacing:-0.029400px;}
.ls1{letter-spacing:0.000000px;}
.lsb{letter-spacing:0.012600px;}
.ls3{letter-spacing:0.013200px;}
.ls0{letter-spacing:0.019224px;}
.ls16{letter-spacing:0.029400px;}
.ls5{letter-spacing:0.037800px;}
.ls15{letter-spacing:0.046200px;}
.ls8{letter-spacing:0.058800px;}
.lsa{letter-spacing:0.063000px;}
.lsc{letter-spacing:0.067200px;}
.ls12{letter-spacing:0.071400px;}
.ls10{letter-spacing:0.075600px;}
.ls11{letter-spacing:0.079800px;}
.lsf{letter-spacing:0.096600px;}
.ls9{letter-spacing:0.100800px;}
.ls7{letter-spacing:0.121800px;}
.lse{letter-spacing:0.147000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws11{word-spacing:-0.226800px;}
.ws3{word-spacing:-0.097200px;}
.ws5{word-spacing:-0.042000px;}
.ws9{word-spacing:-0.037800px;}
.wsb{word-spacing:-0.021000px;}
.wsa{word-spacing:-0.016800px;}
.ws13{word-spacing:-0.012600px;}
.ws8{word-spacing:-0.008400px;}
.ws1{word-spacing:-0.006600px;}
.ws6{word-spacing:-0.004200px;}
.ws0{word-spacing:0.000000px;}
.ws12{word-spacing:0.021000px;}
.ws14{word-spacing:0.029400px;}
.ws7{word-spacing:0.046200px;}
.wse{word-spacing:0.088200px;}
.wsd{word-spacing:0.100800px;}
.wsf{word-spacing:0.117600px;}
.ws4{word-spacing:0.336000px;}
.ws10{word-spacing:1.192800px;}
.wsc{word-spacing:3.830400px;}
.ws2{word-spacing:6.157800px;}
._1{margin-left:-6.006000px;}
._3{margin-left:-3.654000px;}
._0{margin-left:-1.518000px;}
._2{width:6.072000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:42.000000px;}
.fs2{font-size:54.000000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:66.000000px;}
.y15{bottom:17.000000px;}
.y14{bottom:52.520300px;}
.y41{bottom:87.625000px;}
.y40{bottom:103.228000px;}
.y3f{bottom:118.831000px;}
.y3e{bottom:134.434000px;}
.y3d{bottom:150.037000px;}
.y3c{bottom:165.640000px;}
.y3b{bottom:181.243000px;}
.y3a{bottom:196.846000px;}
.y39{bottom:212.386000px;}
.y38{bottom:228.041500px;}
.y37{bottom:243.581500px;}
.y36{bottom:259.237000px;}
.y35{bottom:274.840000px;}
.y34{bottom:290.443000px;}
.y33{bottom:306.046000px;}
.y32{bottom:321.649000px;}
.y31{bottom:337.252000px;}
.y13{bottom:351.617300px;}
.y30{bottom:352.855000px;}
.y12{bottom:367.223300px;}
.y2f{bottom:368.458000px;}
.y2e{bottom:384.061000px;}
.y10{bottom:389.655800px;}
.y11{bottom:389.660300px;}
.y2d{bottom:399.601000px;}
.y2c{bottom:415.256500px;}
.yf{bottom:420.857300px;}
.y2b{bottom:430.796500px;}
.y2a{bottom:446.452000px;}
.ye{bottom:452.058800px;}
.y29{bottom:462.055000px;}
.y28{bottom:477.658000px;}
.yd{bottom:483.260300px;}
.y27{bottom:493.261000px;}
.yc{bottom:507.599300px;}
.y26{bottom:508.864000px;}
.yb{bottom:523.205300px;}
.y25{bottom:524.467000px;}
.ya{bottom:538.811300px;}
.y24{bottom:540.070000px;}
.y9{bottom:554.417300px;}
.y23{bottom:555.673000px;}
.y8{bottom:570.023300px;}
.y22{bottom:571.213000px;}
.y21{bottom:586.868500px;}
.y0{bottom:588.500000px;}
.y7{bottom:588.680300px;}
.y20{bottom:602.408500px;}
.y1f{bottom:618.064000px;}
.y1e{bottom:633.667000px;}
.y1d{bottom:649.270000px;}
.y1c{bottom:664.873000px;}
.y1b{bottom:680.476000px;}
.y6{bottom:694.796300px;}
.y1a{bottom:696.079000px;}
.y5{bottom:710.402300px;}
.y19{bottom:711.682000px;}
.y4{bottom:726.008300px;}
.y18{bottom:727.285000px;}
.y3{bottom:741.614300px;}
.y17{bottom:742.825000px;}
.y2{bottom:757.220300px;}
.y16{bottom:758.480500px;}
.y1{bottom:784.580300px;}
.h5{height:46.593750px;}
.h7{height:48.090820px;}
.h3{height:61.831055px;}
.h6{height:69.015625px;}
.h2{height:73.372852px;}
.h4{height:75.571289px;}
.h1{height:98.000000px;}
.h0{height:842.000000px;}
.w1{width:342.500000px;}
.w0{width:595.220000px;}
.xa{left:90.001400px;}
.x4{left:99.358500px;}
.x0{left:126.500000px;}
.x9{left:245.000000px;}
.x7{left:263.392500px;}
.x1{left:267.420000px;}
.x5{left:272.938500px;}
.x2{left:297.660000px;}
.x6{left:322.320000px;}
.x3{left:468.660000px;}
.x8{left:492.900000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls4{letter-spacing:-8.131200pt;}
.ls14{letter-spacing:-0.078400pt;}
.ls13{letter-spacing:-0.056000pt;}
.ls6{letter-spacing:-0.050400pt;}
.ls2{letter-spacing:-0.044000pt;}
.lsd{letter-spacing:-0.039200pt;}
.ls1{letter-spacing:0.000000pt;}
.lsb{letter-spacing:0.016800pt;}
.ls3{letter-spacing:0.017600pt;}
.ls0{letter-spacing:0.025632pt;}
.ls16{letter-spacing:0.039200pt;}
.ls5{letter-spacing:0.050400pt;}
.ls15{letter-spacing:0.061600pt;}
.ls8{letter-spacing:0.078400pt;}
.lsa{letter-spacing:0.084000pt;}
.lsc{letter-spacing:0.089600pt;}
.ls12{letter-spacing:0.095200pt;}
.ls10{letter-spacing:0.100800pt;}
.ls11{letter-spacing:0.106400pt;}
.lsf{letter-spacing:0.128800pt;}
.ls9{letter-spacing:0.134400pt;}
.ls7{letter-spacing:0.162400pt;}
.lse{letter-spacing:0.196000pt;}
.ws11{word-spacing:-0.302400pt;}
.ws3{word-spacing:-0.129600pt;}
.ws5{word-spacing:-0.056000pt;}
.ws9{word-spacing:-0.050400pt;}
.wsb{word-spacing:-0.028000pt;}
.wsa{word-spacing:-0.022400pt;}
.ws13{word-spacing:-0.016800pt;}
.ws8{word-spacing:-0.011200pt;}
.ws1{word-spacing:-0.008800pt;}
.ws6{word-spacing:-0.005600pt;}
.ws0{word-spacing:0.000000pt;}
.ws12{word-spacing:0.028000pt;}
.ws14{word-spacing:0.039200pt;}
.ws7{word-spacing:0.061600pt;}
.wse{word-spacing:0.117600pt;}
.wsd{word-spacing:0.134400pt;}
.wsf{word-spacing:0.156800pt;}
.ws4{word-spacing:0.448000pt;}
.ws10{word-spacing:1.590400pt;}
.wsc{word-spacing:5.107200pt;}
.ws2{word-spacing:8.210400pt;}
._1{margin-left:-8.008000pt;}
._3{margin-left:-4.872000pt;}
._0{margin-left:-2.024000pt;}
._2{width:8.096000pt;}
.fs1{font-size:56.000000pt;}
.fs2{font-size:72.000000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:88.000000pt;}
.y15{bottom:22.666667pt;}
.y14{bottom:70.027067pt;}
.y41{bottom:116.833333pt;}
.y40{bottom:137.637333pt;}
.y3f{bottom:158.441333pt;}
.y3e{bottom:179.245333pt;}
.y3d{bottom:200.049333pt;}
.y3c{bottom:220.853333pt;}
.y3b{bottom:241.657333pt;}
.y3a{bottom:262.461333pt;}
.y39{bottom:283.181333pt;}
.y38{bottom:304.055333pt;}
.y37{bottom:324.775333pt;}
.y36{bottom:345.649333pt;}
.y35{bottom:366.453333pt;}
.y34{bottom:387.257333pt;}
.y33{bottom:408.061333pt;}
.y32{bottom:428.865333pt;}
.y31{bottom:449.669333pt;}
.y13{bottom:468.823067pt;}
.y30{bottom:470.473333pt;}
.y12{bottom:489.631067pt;}
.y2f{bottom:491.277333pt;}
.y2e{bottom:512.081333pt;}
.y10{bottom:519.541067pt;}
.y11{bottom:519.547067pt;}
.y2d{bottom:532.801333pt;}
.y2c{bottom:553.675333pt;}
.yf{bottom:561.143067pt;}
.y2b{bottom:574.395333pt;}
.y2a{bottom:595.269333pt;}
.ye{bottom:602.745067pt;}
.y29{bottom:616.073333pt;}
.y28{bottom:636.877333pt;}
.yd{bottom:644.347067pt;}
.y27{bottom:657.681333pt;}
.yc{bottom:676.799067pt;}
.y26{bottom:678.485333pt;}
.yb{bottom:697.607067pt;}
.y25{bottom:699.289333pt;}
.ya{bottom:718.415067pt;}
.y24{bottom:720.093333pt;}
.y9{bottom:739.223067pt;}
.y23{bottom:740.897333pt;}
.y8{bottom:760.031067pt;}
.y22{bottom:761.617333pt;}
.y21{bottom:782.491333pt;}
.y0{bottom:784.666667pt;}
.y7{bottom:784.907067pt;}
.y20{bottom:803.211333pt;}
.y1f{bottom:824.085333pt;}
.y1e{bottom:844.889333pt;}
.y1d{bottom:865.693333pt;}
.y1c{bottom:886.497333pt;}
.y1b{bottom:907.301333pt;}
.y6{bottom:926.395067pt;}
.y1a{bottom:928.105333pt;}
.y5{bottom:947.203067pt;}
.y19{bottom:948.909333pt;}
.y4{bottom:968.011067pt;}
.y18{bottom:969.713333pt;}
.y3{bottom:988.819067pt;}
.y17{bottom:990.433333pt;}
.y2{bottom:1009.627067pt;}
.y16{bottom:1011.307333pt;}
.y1{bottom:1046.107067pt;}
.h5{height:62.125000pt;}
.h7{height:64.121094pt;}
.h3{height:82.441406pt;}
.h6{height:92.020833pt;}
.h2{height:97.830469pt;}
.h4{height:100.761719pt;}
.h1{height:130.666667pt;}
.h0{height:1122.666667pt;}
.w1{width:456.666667pt;}
.w0{width:793.626667pt;}
.xa{left:120.001867pt;}
.x4{left:132.478000pt;}
.x0{left:168.666667pt;}
.x9{left:326.666667pt;}
.x7{left:351.190000pt;}
.x1{left:356.560000pt;}
.x5{left:363.918000pt;}
.x2{left:396.880000pt;}
.x6{left:429.760000pt;}
.x3{left:624.880000pt;}
.x8{left:657.200000pt;}
}
