.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.lsa{letter-spacing:-0.105600px;}
.lse{letter-spacing:-0.096000px;}
.ls0{letter-spacing:-0.076896px;}
.ls2{letter-spacing:-0.044856px;}
.ls17{letter-spacing:-0.043200px;}
.ls5{letter-spacing:-0.033600px;}
.ls14{letter-spacing:-0.028800px;}
.ls19{letter-spacing:-0.024000px;}
.ls18{letter-spacing:-0.019200px;}
.ls8{letter-spacing:-0.014400px;}
.ls13{letter-spacing:-0.009600px;}
.ls7{letter-spacing:-0.004800px;}
.ls1{letter-spacing:0.000000px;}
.lsf{letter-spacing:0.004800px;}
.ls6{letter-spacing:0.009600px;}
.ls4{letter-spacing:0.014400px;}
.lsb{letter-spacing:0.019200px;}
.lsd{letter-spacing:0.024000px;}
.ls10{letter-spacing:0.028800px;}
.ls11{letter-spacing:0.033600px;}
.ls16{letter-spacing:0.038400px;}
.lsc{letter-spacing:0.043200px;}
.ls12{letter-spacing:0.048000px;}
.ls1b{letter-spacing:0.052800px;}
.ls1a{letter-spacing:0.057600px;}
.ls15{letter-spacing:0.062400px;}
.ls9{letter-spacing:0.086400px;}
.ls3{letter-spacing:564.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1a{word-spacing:-0.168000px;}
.ws2{word-spacing:-0.134568px;}
.ws1b{word-spacing:-0.134400px;}
.ws1d{word-spacing:-0.129600px;}
.wsf{word-spacing:-0.115200px;}
.wsa{word-spacing:-0.100800px;}
.ws13{word-spacing:-0.096000px;}
.wsc{word-spacing:-0.091200px;}
.wsb{word-spacing:-0.086400px;}
.ws15{word-spacing:-0.081600px;}
.ws12{word-spacing:-0.076800px;}
.wsd{word-spacing:-0.072000px;}
.ws1e{word-spacing:-0.067200px;}
.ws16{word-spacing:-0.057600px;}
.ws4{word-spacing:-0.052800px;}
.ws11{word-spacing:-0.048000px;}
.ws10{word-spacing:-0.043200px;}
.ws1c{word-spacing:-0.038400px;}
.wse{word-spacing:-0.033600px;}
.ws3{word-spacing:-0.028800px;}
.ws9{word-spacing:-0.024000px;}
.ws8{word-spacing:-0.019200px;}
.ws14{word-spacing:-0.014400px;}
.ws5{word-spacing:-0.009600px;}
.ws17{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.ws6{word-spacing:0.004800px;}
.ws1f{word-spacing:0.009600px;}
.ws7{word-spacing:0.014400px;}
.ws18{word-spacing:0.028800px;}
.ws20{word-spacing:0.043200px;}
.ws21{word-spacing:0.096000px;}
.ws1{word-spacing:0.118800px;}
.ws19{word-spacing:0.120000px;}
.ws22{word-spacing:0.211200px;}
._0{margin-left:-1.425600px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs3{font-size:48.000000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs2{font-size:132.000000px;}
.y10{bottom:16.000000px;}
.yf{bottom:39.840100px;}
.y6f{bottom:78.300000px;}
.y5a{bottom:84.300000px;}
.y35{bottom:86.220000px;}
.y59{bottom:98.220000px;}
.y34{bottom:100.020000px;}
.y6e{bottom:110.220000px;}
.y58{bottom:112.020000px;}
.y33{bottom:119.820000px;}
.y6d{bottom:130.020000px;}
.y32{bottom:133.620000px;}
.y57{bottom:143.700000px;}
.y6c{bottom:143.820000px;}
.y31{bottom:147.300000px;}
.y6b{bottom:157.620000px;}
.y56{bottom:163.620000px;}
.y6a{bottom:171.420000px;}
.y55{bottom:177.420000px;}
.y30{bottom:179.220000px;}
.y54{bottom:191.220000px;}
.y2f{bottom:199.020000px;}
.y53{bottom:205.020000px;}
.y2e{bottom:212.820000px;}
.y52{bottom:218.820000px;}
.y2d{bottom:226.620000px;}
.y69{bottom:232.500000px;}
.y51{bottom:238.620000px;}
.y2c{bottom:240.420000px;}
.y50{bottom:252.420000px;}
.y2b{bottom:260.220000px;}
.y68{bottom:264.420000px;}
.y4f{bottom:266.100000px;}
.y2a{bottom:273.960000px;}
.y4e{bottom:279.960000px;}
.y67{bottom:284.220000px;}
.y29{bottom:287.640000px;}
.y66{bottom:297.960000px;}
.y28{bottom:301.560000px;}
.y4d{bottom:311.760000px;}
.y65{bottom:325.560000px;}
.y4c{bottom:331.560000px;}
.y27{bottom:333.240000px;}
.y4b{bottom:345.360000px;}
.ye{bottom:350.280000px;}
.y26{bottom:353.160000px;}
.y4a{bottom:359.160000px;}
.yd{bottom:364.969500px;}
.y25{bottom:366.960000px;}
.y64{bottom:372.840000px;}
.y49{bottom:372.960000px;}
.y24{bottom:380.760000px;}
.yc{bottom:383.392500px;}
.y63{bottom:386.760000px;}
.y48{bottom:392.760000px;}
.y23{bottom:394.560000px;}
.yb{bottom:405.420000px;}
.y47{bottom:406.560000px;}
.y22{bottom:414.360000px;}
.y62{bottom:418.440000px;}
.y46{bottom:420.360000px;}
.y21{bottom:428.040000px;}
.y45{bottom:434.160000px;}
.y61{bottom:438.360000px;}
.ya{bottom:443.403000px;}
.y44{bottom:447.840000px;}
.y60{bottom:452.160000px;}
.y20{bottom:459.960000px;}
.y43{bottom:461.760000px;}
.y5f{bottom:465.960000px;}
.y1f{bottom:479.760000px;}
.y9{bottom:481.320000px;}
.y42{bottom:493.440000px;}
.y1e{bottom:493.560000px;}
.y1d{bottom:507.360000px;}
.y41{bottom:513.360000px;}
.y8{bottom:515.635440px;}
.y1c{bottom:521.160000px;}
.y40{bottom:527.160000px;}
.y0{bottom:530.500000px;}
.y7{bottom:530.518020px;}
.y5e{bottom:540.840000px;}
.y1b{bottom:540.960000px;}
.y1a{bottom:554.640000px;}
.y3f{bottom:554.760000px;}
.y3e{bottom:568.560000px;}
.y5d{bottom:572.760000px;}
.y19{bottom:586.560000px;}
.y3d{bottom:588.360000px;}
.y5c{bottom:592.560000px;}
.y3c{bottom:602.160000px;}
.y18{bottom:606.360000px;}
.y3b{bottom:615.960000px;}
.y17{bottom:620.160000px;}
.y3a{bottom:629.640000px;}
.y6{bottom:631.492080px;}
.y16{bottom:633.960000px;}
.y39{bottom:643.560000px;}
.y15{bottom:647.760000px;}
.y5{bottom:649.915080px;}
.y5b{bottom:661.560000px;}
.y14{bottom:667.560000px;}
.y4{bottom:668.338080px;}
.y38{bottom:675.360000px;}
.y13{bottom:681.360000px;}
.y3{bottom:686.697000px;}
.y12{bottom:695.040000px;}
.y37{bottom:695.160000px;}
.y2{bottom:705.120000px;}
.y11{bottom:708.840000px;}
.y36{bottom:708.960000px;}
.y1{bottom:740.820000px;}
.h6{height:29.272852px;}
.h2{height:43.804688px;}
.h8{height:53.250000px;}
.h5{height:54.960938px;}
.h7{height:69.015625px;}
.h3{height:73.372852px;}
.h1{height:97.500000px;}
.h4{height:151.142578px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x7{left:72.000000px;}
.x5{left:97.893000px;}
.x0{left:135.500000px;}
.x4{left:250.980000px;}
.x9{left:253.000000px;}
.x6{left:267.355980px;}
.x1{left:279.180000px;}
.x2{left:306.000000px;}
.x3{left:477.718380px;}
.x8{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.lsa{letter-spacing:-0.140800pt;}
.lse{letter-spacing:-0.128000pt;}
.ls0{letter-spacing:-0.102528pt;}
.ls2{letter-spacing:-0.059808pt;}
.ls17{letter-spacing:-0.057600pt;}
.ls5{letter-spacing:-0.044800pt;}
.ls14{letter-spacing:-0.038400pt;}
.ls19{letter-spacing:-0.032000pt;}
.ls18{letter-spacing:-0.025600pt;}
.ls8{letter-spacing:-0.019200pt;}
.ls13{letter-spacing:-0.012800pt;}
.ls7{letter-spacing:-0.006400pt;}
.ls1{letter-spacing:0.000000pt;}
.lsf{letter-spacing:0.006400pt;}
.ls6{letter-spacing:0.012800pt;}
.ls4{letter-spacing:0.019200pt;}
.lsb{letter-spacing:0.025600pt;}
.lsd{letter-spacing:0.032000pt;}
.ls10{letter-spacing:0.038400pt;}
.ls11{letter-spacing:0.044800pt;}
.ls16{letter-spacing:0.051200pt;}
.lsc{letter-spacing:0.057600pt;}
.ls12{letter-spacing:0.064000pt;}
.ls1b{letter-spacing:0.070400pt;}
.ls1a{letter-spacing:0.076800pt;}
.ls15{letter-spacing:0.083200pt;}
.ls9{letter-spacing:0.115200pt;}
.ls3{letter-spacing:752.000000pt;}
.ws1a{word-spacing:-0.224000pt;}
.ws2{word-spacing:-0.179424pt;}
.ws1b{word-spacing:-0.179200pt;}
.ws1d{word-spacing:-0.172800pt;}
.wsf{word-spacing:-0.153600pt;}
.wsa{word-spacing:-0.134400pt;}
.ws13{word-spacing:-0.128000pt;}
.wsc{word-spacing:-0.121600pt;}
.wsb{word-spacing:-0.115200pt;}
.ws15{word-spacing:-0.108800pt;}
.ws12{word-spacing:-0.102400pt;}
.wsd{word-spacing:-0.096000pt;}
.ws1e{word-spacing:-0.089600pt;}
.ws16{word-spacing:-0.076800pt;}
.ws4{word-spacing:-0.070400pt;}
.ws11{word-spacing:-0.064000pt;}
.ws10{word-spacing:-0.057600pt;}
.ws1c{word-spacing:-0.051200pt;}
.wse{word-spacing:-0.044800pt;}
.ws3{word-spacing:-0.038400pt;}
.ws9{word-spacing:-0.032000pt;}
.ws8{word-spacing:-0.025600pt;}
.ws14{word-spacing:-0.019200pt;}
.ws5{word-spacing:-0.012800pt;}
.ws17{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.ws6{word-spacing:0.006400pt;}
.ws1f{word-spacing:0.012800pt;}
.ws7{word-spacing:0.019200pt;}
.ws18{word-spacing:0.038400pt;}
.ws20{word-spacing:0.057600pt;}
.ws21{word-spacing:0.128000pt;}
.ws1{word-spacing:0.158400pt;}
.ws19{word-spacing:0.160000pt;}
.ws22{word-spacing:0.281600pt;}
._0{margin-left:-1.900800pt;}
.fs1{font-size:58.560000pt;}
.fs3{font-size:64.000000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs2{font-size:176.000000pt;}
.y10{bottom:21.333333pt;}
.yf{bottom:53.120133pt;}
.y6f{bottom:104.400000pt;}
.y5a{bottom:112.400000pt;}
.y35{bottom:114.960000pt;}
.y59{bottom:130.960000pt;}
.y34{bottom:133.360000pt;}
.y6e{bottom:146.960000pt;}
.y58{bottom:149.360000pt;}
.y33{bottom:159.760000pt;}
.y6d{bottom:173.360000pt;}
.y32{bottom:178.160000pt;}
.y57{bottom:191.600000pt;}
.y6c{bottom:191.760000pt;}
.y31{bottom:196.400000pt;}
.y6b{bottom:210.160000pt;}
.y56{bottom:218.160000pt;}
.y6a{bottom:228.560000pt;}
.y55{bottom:236.560000pt;}
.y30{bottom:238.960000pt;}
.y54{bottom:254.960000pt;}
.y2f{bottom:265.360000pt;}
.y53{bottom:273.360000pt;}
.y2e{bottom:283.760000pt;}
.y52{bottom:291.760000pt;}
.y2d{bottom:302.160000pt;}
.y69{bottom:310.000000pt;}
.y51{bottom:318.160000pt;}
.y2c{bottom:320.560000pt;}
.y50{bottom:336.560000pt;}
.y2b{bottom:346.960000pt;}
.y68{bottom:352.560000pt;}
.y4f{bottom:354.800000pt;}
.y2a{bottom:365.280000pt;}
.y4e{bottom:373.280000pt;}
.y67{bottom:378.960000pt;}
.y29{bottom:383.520000pt;}
.y66{bottom:397.280000pt;}
.y28{bottom:402.080000pt;}
.y4d{bottom:415.680000pt;}
.y65{bottom:434.080000pt;}
.y4c{bottom:442.080000pt;}
.y27{bottom:444.320000pt;}
.y4b{bottom:460.480000pt;}
.ye{bottom:467.040000pt;}
.y26{bottom:470.880000pt;}
.y4a{bottom:478.880000pt;}
.yd{bottom:486.626000pt;}
.y25{bottom:489.280000pt;}
.y64{bottom:497.120000pt;}
.y49{bottom:497.280000pt;}
.y24{bottom:507.680000pt;}
.yc{bottom:511.190000pt;}
.y63{bottom:515.680000pt;}
.y48{bottom:523.680000pt;}
.y23{bottom:526.080000pt;}
.yb{bottom:540.560000pt;}
.y47{bottom:542.080000pt;}
.y22{bottom:552.480000pt;}
.y62{bottom:557.920000pt;}
.y46{bottom:560.480000pt;}
.y21{bottom:570.720000pt;}
.y45{bottom:578.880000pt;}
.y61{bottom:584.480000pt;}
.ya{bottom:591.204000pt;}
.y44{bottom:597.120000pt;}
.y60{bottom:602.880000pt;}
.y20{bottom:613.280000pt;}
.y43{bottom:615.680000pt;}
.y5f{bottom:621.280000pt;}
.y1f{bottom:639.680000pt;}
.y9{bottom:641.760000pt;}
.y42{bottom:657.920000pt;}
.y1e{bottom:658.080000pt;}
.y1d{bottom:676.480000pt;}
.y41{bottom:684.480000pt;}
.y8{bottom:687.513920pt;}
.y1c{bottom:694.880000pt;}
.y40{bottom:702.880000pt;}
.y0{bottom:707.333333pt;}
.y7{bottom:707.357360pt;}
.y5e{bottom:721.120000pt;}
.y1b{bottom:721.280000pt;}
.y1a{bottom:739.520000pt;}
.y3f{bottom:739.680000pt;}
.y3e{bottom:758.080000pt;}
.y5d{bottom:763.680000pt;}
.y19{bottom:782.080000pt;}
.y3d{bottom:784.480000pt;}
.y5c{bottom:790.080000pt;}
.y3c{bottom:802.880000pt;}
.y18{bottom:808.480000pt;}
.y3b{bottom:821.280000pt;}
.y17{bottom:826.880000pt;}
.y3a{bottom:839.520000pt;}
.y6{bottom:841.989440pt;}
.y16{bottom:845.280000pt;}
.y39{bottom:858.080000pt;}
.y15{bottom:863.680000pt;}
.y5{bottom:866.553440pt;}
.y5b{bottom:882.080000pt;}
.y14{bottom:890.080000pt;}
.y4{bottom:891.117440pt;}
.y38{bottom:900.480000pt;}
.y13{bottom:908.480000pt;}
.y3{bottom:915.596000pt;}
.y12{bottom:926.720000pt;}
.y37{bottom:926.880000pt;}
.y2{bottom:940.160000pt;}
.y11{bottom:945.120000pt;}
.y36{bottom:945.280000pt;}
.y1{bottom:987.760000pt;}
.h6{height:39.030469pt;}
.h2{height:58.406250pt;}
.h8{height:71.000000pt;}
.h5{height:73.281250pt;}
.h7{height:92.020833pt;}
.h3{height:97.830469pt;}
.h1{height:130.000000pt;}
.h4{height:201.523438pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x7{left:96.000000pt;}
.x5{left:130.524000pt;}
.x0{left:180.666667pt;}
.x4{left:334.640000pt;}
.x9{left:337.333333pt;}
.x6{left:356.474640pt;}
.x1{left:372.240000pt;}
.x2{left:408.000000pt;}
.x3{left:636.957840pt;}
.x8{left:673.040000pt;}
}
