.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls13{letter-spacing:-0.063000px;}
.lsc{letter-spacing:-0.046200px;}
.ls5{letter-spacing:-0.037800px;}
.ls2{letter-spacing:-0.033000px;}
.ls10{letter-spacing:-0.029400px;}
.ls3{letter-spacing:-0.006600px;}
.ls1{letter-spacing:0.000000px;}
.ls0{letter-spacing:0.019224px;}
.ls14{letter-spacing:0.037800px;}
.ls9{letter-spacing:0.042000px;}
.lse{letter-spacing:0.046200px;}
.lsd{letter-spacing:0.054600px;}
.ls8{letter-spacing:0.058800px;}
.ls4{letter-spacing:0.061920px;}
.ls12{letter-spacing:0.063000px;}
.lsa{letter-spacing:0.071400px;}
.lsf{letter-spacing:0.079800px;}
.ls7{letter-spacing:0.084000px;}
.lsb{letter-spacing:0.092400px;}
.ls6{letter-spacing:0.121800px;}
.ls11{letter-spacing:0.147000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws7{word-spacing:-2.301600px;}
.wsa{word-spacing:-2.293200px;}
.ws8{word-spacing:-0.252000px;}
.ws15{word-spacing:-0.235200px;}
.ws14{word-spacing:-0.222600px;}
.ws4{word-spacing:-0.025200px;}
.wse{word-spacing:-0.021000px;}
.wsc{word-spacing:-0.012600px;}
.ws10{word-spacing:-0.004200px;}
.ws0{word-spacing:0.000000px;}
.ws16{word-spacing:0.004200px;}
.wsd{word-spacing:0.012600px;}
.ws1{word-spacing:0.013200px;}
.ws17{word-spacing:0.016800px;}
.ws13{word-spacing:0.021000px;}
.ws11{word-spacing:0.121800px;}
.ws12{word-spacing:0.126000px;}
.wsf{word-spacing:0.218400px;}
.ws2{word-spacing:0.297216px;}
.ws3{word-spacing:0.336000px;}
.wsb{word-spacing:2.167200px;}
.ws5{word-spacing:7.442400px;}
.ws6{word-spacing:7.459200px;}
.ws9{word-spacing:17.967600px;}
._1{margin-left:-6.006000px;}
._2{margin-left:-2.706000px;}
._0{margin-left:-1.188000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:37.920000px;}
.fs1{font-size:42.000000px;}
.fs2{font-size:54.000000px;}
.fs6{font-size:56.000000px;}
.fs4{font-size:61.920000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:66.000000px;}
.y11{bottom:17.000000px;}
.y10{bottom:52.520300px;}
.y3d{bottom:87.617300px;}
.y3c{bottom:103.220300px;}
.y3b{bottom:118.823300px;}
.y3a{bottom:134.426300px;}
.y39{bottom:149.966300px;}
.y38{bottom:165.621800px;}
.y37{bottom:181.161800px;}
.y36{bottom:196.817300px;}
.y35{bottom:212.420300px;}
.y34{bottom:228.023300px;}
.y33{bottom:243.626300px;}
.y32{bottom:259.229300px;}
.y31{bottom:274.832300px;}
.y30{bottom:290.435300px;}
.y2f{bottom:306.038300px;}
.y2e{bottom:321.578300px;}
.y2d{bottom:337.233800px;}
.y2c{bottom:352.773800px;}
.y2b{bottom:368.429300px;}
.y2a{bottom:384.032300px;}
.y29{bottom:399.635300px;}
.y28{bottom:415.238300px;}
.yf{bottom:421.280300px;}
.y27{bottom:430.841300px;}
.ye{bottom:445.223300px;}
.y26{bottom:446.444300px;}
.y25{bottom:462.047300px;}
.yc{bottom:467.657300px;}
.yd{bottom:467.660300px;}
.y24{bottom:477.650300px;}
.y23{bottom:493.253300px;}
.yb{bottom:498.858800px;}
.y22{bottom:508.793300px;}
.y21{bottom:524.448800px;}
.ya{bottom:530.060300px;}
.y20{bottom:539.988800px;}
.y9{bottom:554.417300px;}
.y1f{bottom:555.644300px;}
.y8{bottom:570.023300px;}
.y1e{bottom:571.247300px;}
.y1d{bottom:586.850300px;}
.y0{bottom:588.500000px;}
.y7{bottom:588.680300px;}
.y1c{bottom:602.453300px;}
.y1b{bottom:618.056300px;}
.y1a{bottom:633.659300px;}
.y19{bottom:649.262300px;}
.y18{bottom:664.865300px;}
.y17{bottom:680.468300px;}
.y6{bottom:694.796300px;}
.y16{bottom:696.071300px;}
.y5{bottom:710.402300px;}
.y15{bottom:711.674300px;}
.y4{bottom:726.008300px;}
.y14{bottom:727.277300px;}
.y3{bottom:741.614300px;}
.y13{bottom:742.880300px;}
.y2{bottom:757.220300px;}
.y12{bottom:758.420300px;}
.y1{bottom:784.580300px;}
.h6{height:42.067500px;}
.h9{height:46.593750px;}
.h8{height:48.090820px;}
.h3{height:61.831055px;}
.h7{height:69.015625px;}
.h5{height:70.899609px;}
.h2{height:73.372852px;}
.h4{height:75.571289px;}
.h1{height:98.000000px;}
.h0{height:842.000000px;}
.w1{width:342.500000px;}
.w0{width:595.220000px;}
.x9{left:90.000000px;}
.x4{left:118.366500px;}
.x0{left:126.500000px;}
.x8{left:245.000000px;}
.x6{left:258.300000px;}
.x1{left:267.420000px;}
.x2{left:297.660000px;}
.x3{left:468.660000px;}
.x5{left:476.940000px;}
.x7{left:492.900000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls13{letter-spacing:-0.084000pt;}
.lsc{letter-spacing:-0.061600pt;}
.ls5{letter-spacing:-0.050400pt;}
.ls2{letter-spacing:-0.044000pt;}
.ls10{letter-spacing:-0.039200pt;}
.ls3{letter-spacing:-0.008800pt;}
.ls1{letter-spacing:0.000000pt;}
.ls0{letter-spacing:0.025632pt;}
.ls14{letter-spacing:0.050400pt;}
.ls9{letter-spacing:0.056000pt;}
.lse{letter-spacing:0.061600pt;}
.lsd{letter-spacing:0.072800pt;}
.ls8{letter-spacing:0.078400pt;}
.ls4{letter-spacing:0.082560pt;}
.ls12{letter-spacing:0.084000pt;}
.lsa{letter-spacing:0.095200pt;}
.lsf{letter-spacing:0.106400pt;}
.ls7{letter-spacing:0.112000pt;}
.lsb{letter-spacing:0.123200pt;}
.ls6{letter-spacing:0.162400pt;}
.ls11{letter-spacing:0.196000pt;}
.ws7{word-spacing:-3.068800pt;}
.wsa{word-spacing:-3.057600pt;}
.ws8{word-spacing:-0.336000pt;}
.ws15{word-spacing:-0.313600pt;}
.ws14{word-spacing:-0.296800pt;}
.ws4{word-spacing:-0.033600pt;}
.wse{word-spacing:-0.028000pt;}
.wsc{word-spacing:-0.016800pt;}
.ws10{word-spacing:-0.005600pt;}
.ws0{word-spacing:0.000000pt;}
.ws16{word-spacing:0.005600pt;}
.wsd{word-spacing:0.016800pt;}
.ws1{word-spacing:0.017600pt;}
.ws17{word-spacing:0.022400pt;}
.ws13{word-spacing:0.028000pt;}
.ws11{word-spacing:0.162400pt;}
.ws12{word-spacing:0.168000pt;}
.wsf{word-spacing:0.291200pt;}
.ws2{word-spacing:0.396288pt;}
.ws3{word-spacing:0.448000pt;}
.wsb{word-spacing:2.889600pt;}
.ws5{word-spacing:9.923200pt;}
.ws6{word-spacing:9.945600pt;}
.ws9{word-spacing:23.956800pt;}
._1{margin-left:-8.008000pt;}
._2{margin-left:-3.608000pt;}
._0{margin-left:-1.584000pt;}
.fs5{font-size:50.560000pt;}
.fs1{font-size:56.000000pt;}
.fs2{font-size:72.000000pt;}
.fs6{font-size:74.666667pt;}
.fs4{font-size:82.560000pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:88.000000pt;}
.y11{bottom:22.666667pt;}
.y10{bottom:70.027067pt;}
.y3d{bottom:116.823067pt;}
.y3c{bottom:137.627067pt;}
.y3b{bottom:158.431067pt;}
.y3a{bottom:179.235067pt;}
.y39{bottom:199.955067pt;}
.y38{bottom:220.829067pt;}
.y37{bottom:241.549067pt;}
.y36{bottom:262.423067pt;}
.y35{bottom:283.227067pt;}
.y34{bottom:304.031067pt;}
.y33{bottom:324.835067pt;}
.y32{bottom:345.639067pt;}
.y31{bottom:366.443067pt;}
.y30{bottom:387.247067pt;}
.y2f{bottom:408.051067pt;}
.y2e{bottom:428.771067pt;}
.y2d{bottom:449.645067pt;}
.y2c{bottom:470.365067pt;}
.y2b{bottom:491.239067pt;}
.y2a{bottom:512.043067pt;}
.y29{bottom:532.847067pt;}
.y28{bottom:553.651067pt;}
.yf{bottom:561.707067pt;}
.y27{bottom:574.455067pt;}
.ye{bottom:593.631067pt;}
.y26{bottom:595.259067pt;}
.y25{bottom:616.063067pt;}
.yc{bottom:623.543067pt;}
.yd{bottom:623.547067pt;}
.y24{bottom:636.867067pt;}
.y23{bottom:657.671067pt;}
.yb{bottom:665.145067pt;}
.y22{bottom:678.391067pt;}
.y21{bottom:699.265067pt;}
.ya{bottom:706.747067pt;}
.y20{bottom:719.985067pt;}
.y9{bottom:739.223067pt;}
.y1f{bottom:740.859067pt;}
.y8{bottom:760.031067pt;}
.y1e{bottom:761.663067pt;}
.y1d{bottom:782.467067pt;}
.y0{bottom:784.666667pt;}
.y7{bottom:784.907067pt;}
.y1c{bottom:803.271067pt;}
.y1b{bottom:824.075067pt;}
.y1a{bottom:844.879067pt;}
.y19{bottom:865.683067pt;}
.y18{bottom:886.487067pt;}
.y17{bottom:907.291067pt;}
.y6{bottom:926.395067pt;}
.y16{bottom:928.095067pt;}
.y5{bottom:947.203067pt;}
.y15{bottom:948.899067pt;}
.y4{bottom:968.011067pt;}
.y14{bottom:969.703067pt;}
.y3{bottom:988.819067pt;}
.y13{bottom:990.507067pt;}
.y2{bottom:1009.627067pt;}
.y12{bottom:1011.227067pt;}
.y1{bottom:1046.107067pt;}
.h6{height:56.090000pt;}
.h9{height:62.125000pt;}
.h8{height:64.121094pt;}
.h3{height:82.441406pt;}
.h7{height:92.020833pt;}
.h5{height:94.532812pt;}
.h2{height:97.830469pt;}
.h4{height:100.761719pt;}
.h1{height:130.666667pt;}
.h0{height:1122.666667pt;}
.w1{width:456.666667pt;}
.w0{width:793.626667pt;}
.x9{left:120.000000pt;}
.x4{left:157.822000pt;}
.x0{left:168.666667pt;}
.x8{left:326.666667pt;}
.x6{left:344.400000pt;}
.x1{left:356.560000pt;}
.x2{left:396.880000pt;}
.x3{left:624.880000pt;}
.x5{left:635.920000pt;}
.x7{left:657.200000pt;}
}
