.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-0.083304px;}
.ls0{letter-spacing:-0.076896px;}
.ls16{letter-spacing:-0.072000px;}
.ls11{letter-spacing:-0.062400px;}
.ls8{letter-spacing:-0.019200px;}
.ls13{letter-spacing:-0.009600px;}
.ls14{letter-spacing:-0.004800px;}
.ls1{letter-spacing:0.000000px;}
.lsd{letter-spacing:0.004800px;}
.ls6{letter-spacing:0.007200px;}
.ls15{letter-spacing:0.009600px;}
.lse{letter-spacing:0.014400px;}
.ls3{letter-spacing:0.023976px;}
.ls9{letter-spacing:0.024000px;}
.lsc{letter-spacing:0.028800px;}
.ls12{letter-spacing:0.033600px;}
.lsa{letter-spacing:0.038400px;}
.ls4{letter-spacing:0.039960px;}
.lsf{letter-spacing:0.043200px;}
.lsb{letter-spacing:0.057600px;}
.ls10{letter-spacing:0.081600px;}
.ls5{letter-spacing:0.119880px;}
.ls17{letter-spacing:0.120000px;}
.ls7{letter-spacing:564.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.wse{word-spacing:-0.182400px;}
.ws7{word-spacing:-0.172800px;}
.wsb{word-spacing:-0.124800px;}
.ws1{word-spacing:-0.095904px;}
.ws14{word-spacing:-0.091200px;}
.wsd{word-spacing:-0.081600px;}
.ws12{word-spacing:-0.067200px;}
.wsf{word-spacing:-0.062400px;}
.ws6{word-spacing:-0.057600px;}
.ws9{word-spacing:-0.052800px;}
.ws5{word-spacing:-0.038400px;}
.ws15{word-spacing:-0.028800px;}
.ws4{word-spacing:-0.024000px;}
.wsa{word-spacing:-0.014400px;}
.ws2{word-spacing:-0.007200px;}
.ws8{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.ws11{word-spacing:0.004800px;}
.ws10{word-spacing:0.009600px;}
.ws3{word-spacing:0.019200px;}
.wsc{word-spacing:0.062400px;}
.ws13{word-spacing:0.072000px;}
._0{margin-left:-1.008000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:72.000000px;}
.fs2{font-size:79.920000px;}
.ye{bottom:16.000000px;}
.yd{bottom:39.840100px;}
.y28{bottom:92.160000px;}
.y27{bottom:118.080000px;}
.y26{bottom:133.920000px;}
.y25{bottom:159.780000px;}
.y24{bottom:185.640000px;}
.y23{bottom:211.500000px;}
.y22{bottom:237.420000px;}
.y21{bottom:263.280000px;}
.y20{bottom:289.140000px;}
.y1f{bottom:315.000000px;}
.y1e{bottom:340.860000px;}
.yc{bottom:346.140000px;}
.y1d{bottom:366.720000px;}
.yb{bottom:372.000000px;}
.y1c{bottom:392.580000px;}
.ya{bottom:400.200000px;}
.y1b{bottom:408.480000px;}
.y1a{bottom:434.340000px;}
.y9{bottom:434.700000px;}
.y8{bottom:434.702940px;}
.y19{bottom:460.200000px;}
.y7{bottom:461.156460px;}
.y18{bottom:486.060000px;}
.y6{bottom:497.580000px;}
.y17{bottom:511.980000px;}
.y0{bottom:529.000000px;}
.y5{bottom:529.076220px;}
.y16{bottom:537.840000px;}
.y15{bottom:553.680000px;}
.y14{bottom:579.540000px;}
.y13{bottom:605.400000px;}
.y12{bottom:631.320000px;}
.y4{bottom:642.770160px;}
.y11{bottom:657.180000px;}
.y3{bottom:673.977120px;}
.y10{bottom:683.040000px;}
.y2{bottom:705.120000px;}
.yf{bottom:708.900000px;}
.y1{bottom:740.820000px;}
.h7{height:29.272852px;}
.h2{height:43.804688px;}
.h6{height:53.250000px;}
.h9{height:54.960938px;}
.h8{height:69.015625px;}
.h3{height:73.372852px;}
.h5{height:82.441406px;}
.h4{height:91.509961px;}
.h1{height:98.000000px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x9{left:72.000000px;}
.x5{left:76.551840px;}
.x0{left:135.500000px;}
.xb{left:253.000000px;}
.x8{left:262.500000px;}
.x4{left:268.200000px;}
.x1{left:276.300000px;}
.x6{left:295.972200px;}
.x2{left:306.000000px;}
.x7{left:315.960000px;}
.x3{left:477.718380px;}
.xa{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-0.111072pt;}
.ls0{letter-spacing:-0.102528pt;}
.ls16{letter-spacing:-0.096000pt;}
.ls11{letter-spacing:-0.083200pt;}
.ls8{letter-spacing:-0.025600pt;}
.ls13{letter-spacing:-0.012800pt;}
.ls14{letter-spacing:-0.006400pt;}
.ls1{letter-spacing:0.000000pt;}
.lsd{letter-spacing:0.006400pt;}
.ls6{letter-spacing:0.009600pt;}
.ls15{letter-spacing:0.012800pt;}
.lse{letter-spacing:0.019200pt;}
.ls3{letter-spacing:0.031968pt;}
.ls9{letter-spacing:0.032000pt;}
.lsc{letter-spacing:0.038400pt;}
.ls12{letter-spacing:0.044800pt;}
.lsa{letter-spacing:0.051200pt;}
.ls4{letter-spacing:0.053280pt;}
.lsf{letter-spacing:0.057600pt;}
.lsb{letter-spacing:0.076800pt;}
.ls10{letter-spacing:0.108800pt;}
.ls5{letter-spacing:0.159840pt;}
.ls17{letter-spacing:0.160000pt;}
.ls7{letter-spacing:752.000000pt;}
.wse{word-spacing:-0.243200pt;}
.ws7{word-spacing:-0.230400pt;}
.wsb{word-spacing:-0.166400pt;}
.ws1{word-spacing:-0.127872pt;}
.ws14{word-spacing:-0.121600pt;}
.wsd{word-spacing:-0.108800pt;}
.ws12{word-spacing:-0.089600pt;}
.wsf{word-spacing:-0.083200pt;}
.ws6{word-spacing:-0.076800pt;}
.ws9{word-spacing:-0.070400pt;}
.ws5{word-spacing:-0.051200pt;}
.ws15{word-spacing:-0.038400pt;}
.ws4{word-spacing:-0.032000pt;}
.wsa{word-spacing:-0.019200pt;}
.ws2{word-spacing:-0.009600pt;}
.ws8{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.ws11{word-spacing:0.006400pt;}
.ws10{word-spacing:0.012800pt;}
.ws3{word-spacing:0.025600pt;}
.wsc{word-spacing:0.083200pt;}
.ws13{word-spacing:0.096000pt;}
._0{margin-left:-1.344000pt;}
.fs1{font-size:58.560000pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:96.000000pt;}
.fs2{font-size:106.560000pt;}
.ye{bottom:21.333333pt;}
.yd{bottom:53.120133pt;}
.y28{bottom:122.880000pt;}
.y27{bottom:157.440000pt;}
.y26{bottom:178.560000pt;}
.y25{bottom:213.040000pt;}
.y24{bottom:247.520000pt;}
.y23{bottom:282.000000pt;}
.y22{bottom:316.560000pt;}
.y21{bottom:351.040000pt;}
.y20{bottom:385.520000pt;}
.y1f{bottom:420.000000pt;}
.y1e{bottom:454.480000pt;}
.yc{bottom:461.520000pt;}
.y1d{bottom:488.960000pt;}
.yb{bottom:496.000000pt;}
.y1c{bottom:523.440000pt;}
.ya{bottom:533.600000pt;}
.y1b{bottom:544.640000pt;}
.y1a{bottom:579.120000pt;}
.y9{bottom:579.600000pt;}
.y8{bottom:579.603920pt;}
.y19{bottom:613.600000pt;}
.y7{bottom:614.875280pt;}
.y18{bottom:648.080000pt;}
.y6{bottom:663.440000pt;}
.y17{bottom:682.640000pt;}
.y0{bottom:705.333333pt;}
.y5{bottom:705.434960pt;}
.y16{bottom:717.120000pt;}
.y15{bottom:738.240000pt;}
.y14{bottom:772.720000pt;}
.y13{bottom:807.200000pt;}
.y12{bottom:841.760000pt;}
.y4{bottom:857.026880pt;}
.y11{bottom:876.240000pt;}
.y3{bottom:898.636160pt;}
.y10{bottom:910.720000pt;}
.y2{bottom:940.160000pt;}
.yf{bottom:945.200000pt;}
.y1{bottom:987.760000pt;}
.h7{height:39.030469pt;}
.h2{height:58.406250pt;}
.h6{height:71.000000pt;}
.h9{height:73.281250pt;}
.h8{height:92.020833pt;}
.h3{height:97.830469pt;}
.h5{height:109.921875pt;}
.h4{height:122.013281pt;}
.h1{height:130.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x9{left:96.000000pt;}
.x5{left:102.069120pt;}
.x0{left:180.666667pt;}
.xb{left:337.333333pt;}
.x8{left:350.000000pt;}
.x4{left:357.600000pt;}
.x1{left:368.400000pt;}
.x6{left:394.629600pt;}
.x2{left:408.000000pt;}
.x7{left:421.280000pt;}
.x3{left:636.957840pt;}
.xa{left:673.040000pt;}
}
