.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls8{letter-spacing:-0.105600px;}
.lsa{letter-spacing:-0.096000px;}
.ls0{letter-spacing:-0.076896px;}
.ls16{letter-spacing:-0.072000px;}
.ls1a{letter-spacing:-0.062400px;}
.ls4{letter-spacing:-0.061656px;}
.lse{letter-spacing:-0.057600px;}
.ls2{letter-spacing:-0.052848px;}
.ls1f{letter-spacing:-0.052800px;}
.lsc{letter-spacing:-0.038400px;}
.ls5{letter-spacing:-0.036000px;}
.ls18{letter-spacing:-0.028800px;}
.ls3{letter-spacing:-0.026424px;}
.ls1e{letter-spacing:-0.024000px;}
.ls6{letter-spacing:-0.019200px;}
.ls1c{letter-spacing:-0.014400px;}
.lsd{letter-spacing:-0.009600px;}
.ls17{letter-spacing:-0.004800px;}
.ls1{letter-spacing:0.000000px;}
.ls7{letter-spacing:0.004800px;}
.ls9{letter-spacing:0.009600px;}
.lsb{letter-spacing:0.014400px;}
.ls13{letter-spacing:0.019200px;}
.ls10{letter-spacing:0.024000px;}
.ls12{letter-spacing:0.028800px;}
.ls19{letter-spacing:0.033600px;}
.ls14{letter-spacing:0.038400px;}
.ls11{letter-spacing:0.043200px;}
.ls15{letter-spacing:0.048000px;}
.ls1b{letter-spacing:0.052800px;}
.ls1d{letter-spacing:0.057600px;}
.lsf{letter-spacing:0.081600px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws22{word-spacing:-0.201600px;}
.ws13{word-spacing:-0.182400px;}
.ws27{word-spacing:-0.158400px;}
.ws18{word-spacing:-0.148800px;}
.ws2f{word-spacing:-0.144000px;}
.ws1d{word-spacing:-0.139200px;}
.ws2d{word-spacing:-0.134400px;}
.ws24{word-spacing:-0.129600px;}
.ws12{word-spacing:-0.124800px;}
.ws9{word-spacing:-0.120000px;}
.ws10{word-spacing:-0.115200px;}
.ws29{word-spacing:-0.110400px;}
.ws14{word-spacing:-0.105600px;}
.ws2b{word-spacing:-0.100800px;}
.ws23{word-spacing:-0.096000px;}
.wsc{word-spacing:-0.091200px;}
.ws28{word-spacing:-0.086400px;}
.wsb{word-spacing:-0.081600px;}
.wsa{word-spacing:-0.076800px;}
.ws20{word-spacing:-0.072000px;}
.wsf{word-spacing:-0.067200px;}
.wsd{word-spacing:-0.062400px;}
.ws8{word-spacing:-0.057600px;}
.ws1{word-spacing:-0.052848px;}
.ws1c{word-spacing:-0.052800px;}
.ws1e{word-spacing:-0.048000px;}
.wse{word-spacing:-0.043200px;}
.ws21{word-spacing:-0.038400px;}
.ws1b{word-spacing:-0.033600px;}
.ws17{word-spacing:-0.028800px;}
.ws25{word-spacing:-0.024000px;}
.ws1a{word-spacing:-0.019200px;}
.ws6{word-spacing:-0.014400px;}
.ws5{word-spacing:-0.009600px;}
.ws4{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.ws16{word-spacing:0.004800px;}
.ws7{word-spacing:0.009600px;}
.ws2a{word-spacing:0.014400px;}
.ws3{word-spacing:0.019200px;}
.ws11{word-spacing:0.024000px;}
.ws19{word-spacing:0.028800px;}
.ws2c{word-spacing:0.048000px;}
.ws2e{word-spacing:0.052800px;}
.ws1f{word-spacing:0.062400px;}
.ws26{word-spacing:0.067200px;}
.ws15{word-spacing:0.072000px;}
.ws2{word-spacing:0.156000px;}
._4{margin-left:-1.003200px;}
._0{width:12.211200px;}
._1{width:14.832000px;}
._2{width:17.404800px;}
._3{width:20.083200px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs2{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs0{font-size:64.080000px;}
.fs4{font-size:88.080000px;}
.y14{bottom:16.000000px;}
.y13{bottom:52.380000px;}
.y6e{bottom:81.480000px;}
.y54{bottom:87.480000px;}
.y9a{bottom:89.640000px;}
.y38{bottom:93.480000px;}
.y6d{bottom:97.380000px;}
.y53{bottom:103.380000px;}
.y99{bottom:105.480000px;}
.y37{bottom:109.380000px;}
.y6c{bottom:113.220000px;}
.y52{bottom:119.220000px;}
.y98{bottom:121.380000px;}
.y36{bottom:125.220000px;}
.y6b{bottom:129.120000px;}
.y51{bottom:135.120000px;}
.y97{bottom:137.220000px;}
.y35{bottom:141.120000px;}
.y6a{bottom:144.960000px;}
.y50{bottom:150.960000px;}
.y96{bottom:153.120000px;}
.y34{bottom:156.960000px;}
.y69{bottom:160.860000px;}
.y4f{bottom:166.860000px;}
.y95{bottom:168.960000px;}
.y33{bottom:172.860000px;}
.y78{bottom:176.700000px;}
.y4e{bottom:182.700000px;}
.y94{bottom:184.860000px;}
.y32{bottom:188.700000px;}
.y77{bottom:192.600000px;}
.y4d{bottom:198.600000px;}
.y93{bottom:200.700000px;}
.y31{bottom:204.600000px;}
.y76{bottom:214.440000px;}
.y92{bottom:216.600000px;}
.y30{bottom:220.440000px;}
.y68{bottom:226.440000px;}
.y91{bottom:232.440000px;}
.y75{bottom:236.340000px;}
.y2f{bottom:242.340000px;}
.y67{bottom:248.340000px;}
.y90{bottom:254.340000px;}
.y74{bottom:258.180000px;}
.y2e{bottom:264.180000px;}
.y8f{bottom:276.180000px;}
.y66{bottom:280.080000px;}
.y2d{bottom:286.080000px;}
.y12{bottom:295.200000px;}
.y65{bottom:295.920000px;}
.y8e{bottom:298.080000px;}
.y4c{bottom:301.920000px;}
.y2c{bottom:307.920000px;}
.y64{bottom:311.760000px;}
.y11{bottom:315.000000px;}
.y4b{bottom:317.760000px;}
.y8d{bottom:319.920000px;}
.y2b{bottom:323.760000px;}
.y63{bottom:327.660000px;}
.y4a{bottom:333.660000px;}
.y8c{bottom:335.760000px;}
.y10{bottom:337.560000px;}
.yf{bottom:337.594740px;}
.y2a{bottom:339.660000px;}
.y62{bottom:343.500000px;}
.y49{bottom:349.500000px;}
.y8b{bottom:351.660000px;}
.y29{bottom:355.500000px;}
.y61{bottom:359.400000px;}
.y48{bottom:365.400000px;}
.ye{bottom:366.683160px;}
.y8a{bottom:367.500000px;}
.y28{bottom:371.400000px;}
.y73{bottom:375.240000px;}
.y47{bottom:381.240000px;}
.y89{bottom:383.400000px;}
.y27{bottom:387.240000px;}
.y72{bottom:391.140000px;}
.yd{bottom:395.771580px;}
.y46{bottom:397.140000px;}
.y88{bottom:399.240000px;}
.y26{bottom:403.140000px;}
.y71{bottom:406.980000px;}
.y9d{bottom:409.140000px;}
.y45{bottom:412.980000px;}
.y87{bottom:415.140000px;}
.y25{bottom:418.980000px;}
.yc{bottom:424.860000px;}
.y60{bottom:424.980000px;}
.y44{bottom:428.880000px;}
.y86{bottom:430.980000px;}
.y24{bottom:434.880000px;}
.y5f{bottom:446.880000px;}
.y0{bottom:447.500000px;}
.yb{bottom:447.960000px;}
.y23{bottom:450.720000px;}
.y85{bottom:452.880000px;}
.y5e{bottom:462.720000px;}
.y22{bottom:466.620000px;}
.y43{bottom:472.620000px;}
.y84{bottom:474.720000px;}
.y5d{bottom:478.620000px;}
.y21{bottom:488.460000px;}
.y42{bottom:494.460000px;}
.y83{bottom:496.620000px;}
.y20{bottom:510.360000px;}
.y41{bottom:516.360000px;}
.y82{bottom:518.460000px;}
.y5c{bottom:526.200000px;}
.y1f{bottom:532.200000px;}
.y81{bottom:534.360000px;}
.y5b{bottom:542.100000px;}
.y40{bottom:548.100000px;}
.y80{bottom:550.200000px;}
.ya{bottom:551.280100px;}
.y1e{bottom:554.100000px;}
.y5a{bottom:557.940000px;}
.y3f{bottom:563.940000px;}
.y7f{bottom:566.100000px;}
.y1d{bottom:569.940000px;}
.y9{bottom:571.140100px;}
.y59{bottom:573.840000px;}
.y3e{bottom:579.840000px;}
.y7e{bottom:581.940000px;}
.y1c{bottom:585.840000px;}
.y58{bottom:589.680000px;}
.y8{bottom:591.000100px;}
.y3d{bottom:595.680000px;}
.y7d{bottom:597.840000px;}
.y1b{bottom:601.680000px;}
.y70{bottom:605.580000px;}
.y9c{bottom:607.680000px;}
.y7{bottom:610.800100px;}
.y3c{bottom:611.580000px;}
.y7c{bottom:613.680000px;}
.y1a{bottom:617.580000px;}
.y9b{bottom:621.420000px;}
.y3b{bottom:627.420000px;}
.y7b{bottom:629.580000px;}
.y6{bottom:630.660100px;}
.y19{bottom:633.420000px;}
.y3a{bottom:643.320000px;}
.y7a{bottom:645.420000px;}
.y18{bottom:649.320000px;}
.y5{bottom:650.460100px;}
.y57{bottom:655.320000px;}
.y79{bottom:661.320000px;}
.y17{bottom:665.160000px;}
.y4{bottom:670.320100px;}
.y6f{bottom:671.160000px;}
.y56{bottom:677.160000px;}
.y16{bottom:681.060000px;}
.y39{bottom:687.060000px;}
.y3{bottom:690.180100px;}
.y55{bottom:693.060000px;}
.y15{bottom:702.900000px;}
.y2{bottom:708.900000px;}
.y1{bottom:740.820000px;}
.h6{height:29.272852px;}
.h2{height:43.804688px;}
.h3{height:53.250000px;}
.h8{height:54.960938px;}
.h9{height:59.156250px;}
.h4{height:68.701172px;}
.h7{height:69.015625px;}
.h1{height:98.000000px;}
.h5{height:100.853320px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x2{left:72.000000px;}
.xb{left:90.000000px;}
.xc{left:108.000000px;}
.x0{left:135.000000px;}
.x6{left:244.325280px;}
.xa{left:253.000000px;}
.x8{left:265.980000px;}
.x5{left:269.340000px;}
.x1{left:279.180000px;}
.x3{left:306.000000px;}
.x7{left:367.680000px;}
.x4{left:477.000000px;}
.x9{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls8{letter-spacing:-0.140800pt;}
.lsa{letter-spacing:-0.128000pt;}
.ls0{letter-spacing:-0.102528pt;}
.ls16{letter-spacing:-0.096000pt;}
.ls1a{letter-spacing:-0.083200pt;}
.ls4{letter-spacing:-0.082208pt;}
.lse{letter-spacing:-0.076800pt;}
.ls2{letter-spacing:-0.070464pt;}
.ls1f{letter-spacing:-0.070400pt;}
.lsc{letter-spacing:-0.051200pt;}
.ls5{letter-spacing:-0.048000pt;}
.ls18{letter-spacing:-0.038400pt;}
.ls3{letter-spacing:-0.035232pt;}
.ls1e{letter-spacing:-0.032000pt;}
.ls6{letter-spacing:-0.025600pt;}
.ls1c{letter-spacing:-0.019200pt;}
.lsd{letter-spacing:-0.012800pt;}
.ls17{letter-spacing:-0.006400pt;}
.ls1{letter-spacing:0.000000pt;}
.ls7{letter-spacing:0.006400pt;}
.ls9{letter-spacing:0.012800pt;}
.lsb{letter-spacing:0.019200pt;}
.ls13{letter-spacing:0.025600pt;}
.ls10{letter-spacing:0.032000pt;}
.ls12{letter-spacing:0.038400pt;}
.ls19{letter-spacing:0.044800pt;}
.ls14{letter-spacing:0.051200pt;}
.ls11{letter-spacing:0.057600pt;}
.ls15{letter-spacing:0.064000pt;}
.ls1b{letter-spacing:0.070400pt;}
.ls1d{letter-spacing:0.076800pt;}
.lsf{letter-spacing:0.108800pt;}
.ws22{word-spacing:-0.268800pt;}
.ws13{word-spacing:-0.243200pt;}
.ws27{word-spacing:-0.211200pt;}
.ws18{word-spacing:-0.198400pt;}
.ws2f{word-spacing:-0.192000pt;}
.ws1d{word-spacing:-0.185600pt;}
.ws2d{word-spacing:-0.179200pt;}
.ws24{word-spacing:-0.172800pt;}
.ws12{word-spacing:-0.166400pt;}
.ws9{word-spacing:-0.160000pt;}
.ws10{word-spacing:-0.153600pt;}
.ws29{word-spacing:-0.147200pt;}
.ws14{word-spacing:-0.140800pt;}
.ws2b{word-spacing:-0.134400pt;}
.ws23{word-spacing:-0.128000pt;}
.wsc{word-spacing:-0.121600pt;}
.ws28{word-spacing:-0.115200pt;}
.wsb{word-spacing:-0.108800pt;}
.wsa{word-spacing:-0.102400pt;}
.ws20{word-spacing:-0.096000pt;}
.wsf{word-spacing:-0.089600pt;}
.wsd{word-spacing:-0.083200pt;}
.ws8{word-spacing:-0.076800pt;}
.ws1{word-spacing:-0.070464pt;}
.ws1c{word-spacing:-0.070400pt;}
.ws1e{word-spacing:-0.064000pt;}
.wse{word-spacing:-0.057600pt;}
.ws21{word-spacing:-0.051200pt;}
.ws1b{word-spacing:-0.044800pt;}
.ws17{word-spacing:-0.038400pt;}
.ws25{word-spacing:-0.032000pt;}
.ws1a{word-spacing:-0.025600pt;}
.ws6{word-spacing:-0.019200pt;}
.ws5{word-spacing:-0.012800pt;}
.ws4{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.ws16{word-spacing:0.006400pt;}
.ws7{word-spacing:0.012800pt;}
.ws2a{word-spacing:0.019200pt;}
.ws3{word-spacing:0.025600pt;}
.ws11{word-spacing:0.032000pt;}
.ws19{word-spacing:0.038400pt;}
.ws2c{word-spacing:0.064000pt;}
.ws2e{word-spacing:0.070400pt;}
.ws1f{word-spacing:0.083200pt;}
.ws26{word-spacing:0.089600pt;}
.ws15{word-spacing:0.096000pt;}
.ws2{word-spacing:0.208000pt;}
._4{margin-left:-1.337600pt;}
._0{width:16.281600pt;}
._1{width:19.776000pt;}
._2{width:23.206400pt;}
._3{width:26.777600pt;}
.fs1{font-size:58.560000pt;}
.fs2{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs0{font-size:85.440000pt;}
.fs4{font-size:117.440000pt;}
.y14{bottom:21.333333pt;}
.y13{bottom:69.840000pt;}
.y6e{bottom:108.640000pt;}
.y54{bottom:116.640000pt;}
.y9a{bottom:119.520000pt;}
.y38{bottom:124.640000pt;}
.y6d{bottom:129.840000pt;}
.y53{bottom:137.840000pt;}
.y99{bottom:140.640000pt;}
.y37{bottom:145.840000pt;}
.y6c{bottom:150.960000pt;}
.y52{bottom:158.960000pt;}
.y98{bottom:161.840000pt;}
.y36{bottom:166.960000pt;}
.y6b{bottom:172.160000pt;}
.y51{bottom:180.160000pt;}
.y97{bottom:182.960000pt;}
.y35{bottom:188.160000pt;}
.y6a{bottom:193.280000pt;}
.y50{bottom:201.280000pt;}
.y96{bottom:204.160000pt;}
.y34{bottom:209.280000pt;}
.y69{bottom:214.480000pt;}
.y4f{bottom:222.480000pt;}
.y95{bottom:225.280000pt;}
.y33{bottom:230.480000pt;}
.y78{bottom:235.600000pt;}
.y4e{bottom:243.600000pt;}
.y94{bottom:246.480000pt;}
.y32{bottom:251.600000pt;}
.y77{bottom:256.800000pt;}
.y4d{bottom:264.800000pt;}
.y93{bottom:267.600000pt;}
.y31{bottom:272.800000pt;}
.y76{bottom:285.920000pt;}
.y92{bottom:288.800000pt;}
.y30{bottom:293.920000pt;}
.y68{bottom:301.920000pt;}
.y91{bottom:309.920000pt;}
.y75{bottom:315.120000pt;}
.y2f{bottom:323.120000pt;}
.y67{bottom:331.120000pt;}
.y90{bottom:339.120000pt;}
.y74{bottom:344.240000pt;}
.y2e{bottom:352.240000pt;}
.y8f{bottom:368.240000pt;}
.y66{bottom:373.440000pt;}
.y2d{bottom:381.440000pt;}
.y12{bottom:393.600000pt;}
.y65{bottom:394.560000pt;}
.y8e{bottom:397.440000pt;}
.y4c{bottom:402.560000pt;}
.y2c{bottom:410.560000pt;}
.y64{bottom:415.680000pt;}
.y11{bottom:420.000000pt;}
.y4b{bottom:423.680000pt;}
.y8d{bottom:426.560000pt;}
.y2b{bottom:431.680000pt;}
.y63{bottom:436.880000pt;}
.y4a{bottom:444.880000pt;}
.y8c{bottom:447.680000pt;}
.y10{bottom:450.080000pt;}
.yf{bottom:450.126320pt;}
.y2a{bottom:452.880000pt;}
.y62{bottom:458.000000pt;}
.y49{bottom:466.000000pt;}
.y8b{bottom:468.880000pt;}
.y29{bottom:474.000000pt;}
.y61{bottom:479.200000pt;}
.y48{bottom:487.200000pt;}
.ye{bottom:488.910880pt;}
.y8a{bottom:490.000000pt;}
.y28{bottom:495.200000pt;}
.y73{bottom:500.320000pt;}
.y47{bottom:508.320000pt;}
.y89{bottom:511.200000pt;}
.y27{bottom:516.320000pt;}
.y72{bottom:521.520000pt;}
.yd{bottom:527.695440pt;}
.y46{bottom:529.520000pt;}
.y88{bottom:532.320000pt;}
.y26{bottom:537.520000pt;}
.y71{bottom:542.640000pt;}
.y9d{bottom:545.520000pt;}
.y45{bottom:550.640000pt;}
.y87{bottom:553.520000pt;}
.y25{bottom:558.640000pt;}
.yc{bottom:566.480000pt;}
.y60{bottom:566.640000pt;}
.y44{bottom:571.840000pt;}
.y86{bottom:574.640000pt;}
.y24{bottom:579.840000pt;}
.y5f{bottom:595.840000pt;}
.y0{bottom:596.666667pt;}
.yb{bottom:597.280000pt;}
.y23{bottom:600.960000pt;}
.y85{bottom:603.840000pt;}
.y5e{bottom:616.960000pt;}
.y22{bottom:622.160000pt;}
.y43{bottom:630.160000pt;}
.y84{bottom:632.960000pt;}
.y5d{bottom:638.160000pt;}
.y21{bottom:651.280000pt;}
.y42{bottom:659.280000pt;}
.y83{bottom:662.160000pt;}
.y20{bottom:680.480000pt;}
.y41{bottom:688.480000pt;}
.y82{bottom:691.280000pt;}
.y5c{bottom:701.600000pt;}
.y1f{bottom:709.600000pt;}
.y81{bottom:712.480000pt;}
.y5b{bottom:722.800000pt;}
.y40{bottom:730.800000pt;}
.y80{bottom:733.600000pt;}
.ya{bottom:735.040133pt;}
.y1e{bottom:738.800000pt;}
.y5a{bottom:743.920000pt;}
.y3f{bottom:751.920000pt;}
.y7f{bottom:754.800000pt;}
.y1d{bottom:759.920000pt;}
.y9{bottom:761.520133pt;}
.y59{bottom:765.120000pt;}
.y3e{bottom:773.120000pt;}
.y7e{bottom:775.920000pt;}
.y1c{bottom:781.120000pt;}
.y58{bottom:786.240000pt;}
.y8{bottom:788.000133pt;}
.y3d{bottom:794.240000pt;}
.y7d{bottom:797.120000pt;}
.y1b{bottom:802.240000pt;}
.y70{bottom:807.440000pt;}
.y9c{bottom:810.240000pt;}
.y7{bottom:814.400133pt;}
.y3c{bottom:815.440000pt;}
.y7c{bottom:818.240000pt;}
.y1a{bottom:823.440000pt;}
.y9b{bottom:828.560000pt;}
.y3b{bottom:836.560000pt;}
.y7b{bottom:839.440000pt;}
.y6{bottom:840.880133pt;}
.y19{bottom:844.560000pt;}
.y3a{bottom:857.760000pt;}
.y7a{bottom:860.560000pt;}
.y18{bottom:865.760000pt;}
.y5{bottom:867.280133pt;}
.y57{bottom:873.760000pt;}
.y79{bottom:881.760000pt;}
.y17{bottom:886.880000pt;}
.y4{bottom:893.760133pt;}
.y6f{bottom:894.880000pt;}
.y56{bottom:902.880000pt;}
.y16{bottom:908.080000pt;}
.y39{bottom:916.080000pt;}
.y3{bottom:920.240133pt;}
.y55{bottom:924.080000pt;}
.y15{bottom:937.200000pt;}
.y2{bottom:945.200000pt;}
.y1{bottom:987.760000pt;}
.h6{height:39.030469pt;}
.h2{height:58.406250pt;}
.h3{height:71.000000pt;}
.h8{height:73.281250pt;}
.h9{height:78.875000pt;}
.h4{height:91.601562pt;}
.h7{height:92.020833pt;}
.h1{height:130.666667pt;}
.h5{height:134.471094pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x2{left:96.000000pt;}
.xb{left:120.000000pt;}
.xc{left:144.000000pt;}
.x0{left:180.000000pt;}
.x6{left:325.767040pt;}
.xa{left:337.333333pt;}
.x8{left:354.640000pt;}
.x5{left:359.120000pt;}
.x1{left:372.240000pt;}
.x3{left:408.000000pt;}
.x7{left:490.240000pt;}
.x4{left:636.000000pt;}
.x9{left:673.040000pt;}
}
