.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(33,78,123);}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:48.000000px;}
.fs2{font-size:56.000000px;}
.fs1{font-size:60.000000px;}
.fs0{font-size:80.000000px;}
.y7{bottom:17.000000px;}
.y38{bottom:22.000000px;}
.y8{bottom:35.500000px;}
.y7c{bottom:56.000000px;}
.y59{bottom:64.000000px;}
.y36{bottom:68.000000px;}
.y58{bottom:76.000000px;}
.y7b{bottom:80.000000px;}
.y35{bottom:86.000000px;}
.y57{bottom:92.000000px;}
.y7a{bottom:96.000000px;}
.y34{bottom:104.000000px;}
.y56{bottom:108.000000px;}
.y79{bottom:112.000000px;}
.y33{bottom:116.000000px;}
.y55{bottom:124.000000px;}
.y32{bottom:132.000000px;}
.y54{bottom:140.000000px;}
.y78{bottom:142.000000px;}
.y31{bottom:148.000000px;}
.y53{bottom:152.000000px;}
.y77{bottom:162.000000px;}
.y30{bottom:164.000000px;}
.y2f{bottom:180.000000px;}
.y2e{bottom:192.000000px;}
.y52{bottom:196.000000px;}
.y76{bottom:198.000000px;}
.y2d{bottom:204.000000px;}
.y51{bottom:208.000000px;}
.y75{bottom:216.000000px;}
.y2c{bottom:220.000000px;}
.y50{bottom:226.000000px;}
.y74{bottom:234.000000px;}
.y2b{bottom:236.000000px;}
.y4f{bottom:246.000000px;}
.y2a{bottom:252.000000px;}
.y73{bottom:262.000000px;}
.y29{bottom:264.000000px;}
.y72{bottom:278.000000px;}
.y28{bottom:282.000000px;}
.y71{bottom:294.000000px;}
.y4e{bottom:300.000000px;}
.y27{bottom:302.000000px;}
.y70{bottom:310.000000px;}
.y4d{bottom:318.000000px;}
.y26{bottom:320.000000px;}
.y6f{bottom:326.000000px;}
.y6{bottom:328.500000px;}
.y4c{bottom:330.000000px;}
.y25{bottom:338.000000px;}
.y6e{bottom:342.000000px;}
.y4b{bottom:346.000000px;}
.y5{bottom:351.000000px;}
.y24{bottom:356.000000px;}
.y6d{bottom:358.000000px;}
.y4a{bottom:362.000000px;}
.y23{bottom:374.000000px;}
.y49{bottom:378.000000px;}
.y4{bottom:381.000000px;}
.y22{bottom:386.000000px;}
.y48{bottom:394.000000px;}
.y6c{bottom:398.000000px;}
.y21{bottom:402.000000px;}
.y47{bottom:406.000000px;}
.y3{bottom:411.000000px;}
.y6b{bottom:414.000000px;}
.y20{bottom:418.000000px;}
.y6a{bottom:426.000000px;}
.y1f{bottom:434.000000px;}
.y69{bottom:444.000000px;}
.y1e{bottom:450.000000px;}
.y1d{bottom:462.000000px;}
.y68{bottom:464.000000px;}
.y1c{bottom:474.000000px;}
.y46{bottom:480.000000px;}
.y67{bottom:482.000000px;}
.y1b{bottom:490.000000px;}
.y0{bottom:490.500000px;}
.y45{bottom:500.000000px;}
.y1a{bottom:506.000000px;}
.y44{bottom:518.000000px;}
.y19{bottom:522.000000px;}
.y18{bottom:534.000000px;}
.y43{bottom:536.000000px;}
.y66{bottom:548.000000px;}
.y17{bottom:552.000000px;}
.y42{bottom:554.000000px;}
.y65{bottom:564.000000px;}
.y16{bottom:572.000000px;}
.y64{bottom:580.000000px;}
.y41{bottom:584.000000px;}
.y15{bottom:590.000000px;}
.y63{bottom:596.000000px;}
.y40{bottom:600.000000px;}
.y14{bottom:608.000000px;}
.y62{bottom:612.000000px;}
.y3f{bottom:616.000000px;}
.y61{bottom:624.000000px;}
.y13{bottom:626.000000px;}
.y3e{bottom:632.000000px;}
.y2{bottom:636.000000px;}
.y12{bottom:644.000000px;}
.y3d{bottom:648.000000px;}
.y60{bottom:652.000000px;}
.y11{bottom:656.000000px;}
.y3c{bottom:660.000000px;}
.y5f{bottom:668.000000px;}
.y10{bottom:672.000000px;}
.y5e{bottom:684.000000px;}
.yf{bottom:688.000000px;}
.y5d{bottom:696.000000px;}
.ye{bottom:704.000000px;}
.y5c{bottom:714.000000px;}
.yd{bottom:720.000000px;}
.y3b{bottom:732.000000px;}
.y5b{bottom:734.000000px;}
.yc{bottom:736.000000px;}
.yb{bottom:748.000000px;}
.y3a{bottom:750.000000px;}
.y5a{bottom:752.000000px;}
.ya{bottom:760.000000px;}
.y39{bottom:770.000000px;}
.y1{bottom:776.000000px;}
.y9{bottom:788.000000px;}
.y37{bottom:808.000000px;}
.h6{height:56.367840px;}
.h7{height:59.156250px;}
.h4{height:69.015625px;}
.h3{height:70.459800px;}
.h2{height:93.946400px;}
.h1{height:130.500000px;}
.h5{height:770.500000px;}
.h0{height:842.000000px;}
.w1{width:456.500000px;}
.w2{width:523.500000px;}
.w0{width:595.000000px;}
.x1{left:36.000000px;}
.x2{left:43.550000px;}
.x0{left:69.500000px;}
.x5{left:245.000000px;}
.x4{left:254.980000px;}
.x3{left:263.040000px;}
.x6{left:550.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs3{font-size:64.000000pt;}
.fs2{font-size:74.666667pt;}
.fs1{font-size:80.000000pt;}
.fs0{font-size:106.666667pt;}
.y7{bottom:22.666667pt;}
.y38{bottom:29.333333pt;}
.y8{bottom:47.333333pt;}
.y7c{bottom:74.666667pt;}
.y59{bottom:85.333333pt;}
.y36{bottom:90.666667pt;}
.y58{bottom:101.333333pt;}
.y7b{bottom:106.666667pt;}
.y35{bottom:114.666667pt;}
.y57{bottom:122.666667pt;}
.y7a{bottom:128.000000pt;}
.y34{bottom:138.666667pt;}
.y56{bottom:144.000000pt;}
.y79{bottom:149.333333pt;}
.y33{bottom:154.666667pt;}
.y55{bottom:165.333333pt;}
.y32{bottom:176.000000pt;}
.y54{bottom:186.666667pt;}
.y78{bottom:189.333333pt;}
.y31{bottom:197.333333pt;}
.y53{bottom:202.666667pt;}
.y77{bottom:216.000000pt;}
.y30{bottom:218.666667pt;}
.y2f{bottom:240.000000pt;}
.y2e{bottom:256.000000pt;}
.y52{bottom:261.333333pt;}
.y76{bottom:264.000000pt;}
.y2d{bottom:272.000000pt;}
.y51{bottom:277.333333pt;}
.y75{bottom:288.000000pt;}
.y2c{bottom:293.333333pt;}
.y50{bottom:301.333333pt;}
.y74{bottom:312.000000pt;}
.y2b{bottom:314.666667pt;}
.y4f{bottom:328.000000pt;}
.y2a{bottom:336.000000pt;}
.y73{bottom:349.333333pt;}
.y29{bottom:352.000000pt;}
.y72{bottom:370.666667pt;}
.y28{bottom:376.000000pt;}
.y71{bottom:392.000000pt;}
.y4e{bottom:400.000000pt;}
.y27{bottom:402.666667pt;}
.y70{bottom:413.333333pt;}
.y4d{bottom:424.000000pt;}
.y26{bottom:426.666667pt;}
.y6f{bottom:434.666667pt;}
.y6{bottom:438.000000pt;}
.y4c{bottom:440.000000pt;}
.y25{bottom:450.666667pt;}
.y6e{bottom:456.000000pt;}
.y4b{bottom:461.333333pt;}
.y5{bottom:468.000000pt;}
.y24{bottom:474.666667pt;}
.y6d{bottom:477.333333pt;}
.y4a{bottom:482.666667pt;}
.y23{bottom:498.666667pt;}
.y49{bottom:504.000000pt;}
.y4{bottom:508.000000pt;}
.y22{bottom:514.666667pt;}
.y48{bottom:525.333333pt;}
.y6c{bottom:530.666667pt;}
.y21{bottom:536.000000pt;}
.y47{bottom:541.333333pt;}
.y3{bottom:548.000000pt;}
.y6b{bottom:552.000000pt;}
.y20{bottom:557.333333pt;}
.y6a{bottom:568.000000pt;}
.y1f{bottom:578.666667pt;}
.y69{bottom:592.000000pt;}
.y1e{bottom:600.000000pt;}
.y1d{bottom:616.000000pt;}
.y68{bottom:618.666667pt;}
.y1c{bottom:632.000000pt;}
.y46{bottom:640.000000pt;}
.y67{bottom:642.666667pt;}
.y1b{bottom:653.333333pt;}
.y0{bottom:654.000000pt;}
.y45{bottom:666.666667pt;}
.y1a{bottom:674.666667pt;}
.y44{bottom:690.666667pt;}
.y19{bottom:696.000000pt;}
.y18{bottom:712.000000pt;}
.y43{bottom:714.666667pt;}
.y66{bottom:730.666667pt;}
.y17{bottom:736.000000pt;}
.y42{bottom:738.666667pt;}
.y65{bottom:752.000000pt;}
.y16{bottom:762.666667pt;}
.y64{bottom:773.333333pt;}
.y41{bottom:778.666667pt;}
.y15{bottom:786.666667pt;}
.y63{bottom:794.666667pt;}
.y40{bottom:800.000000pt;}
.y14{bottom:810.666667pt;}
.y62{bottom:816.000000pt;}
.y3f{bottom:821.333333pt;}
.y61{bottom:832.000000pt;}
.y13{bottom:834.666667pt;}
.y3e{bottom:842.666667pt;}
.y2{bottom:848.000000pt;}
.y12{bottom:858.666667pt;}
.y3d{bottom:864.000000pt;}
.y60{bottom:869.333333pt;}
.y11{bottom:874.666667pt;}
.y3c{bottom:880.000000pt;}
.y5f{bottom:890.666667pt;}
.y10{bottom:896.000000pt;}
.y5e{bottom:912.000000pt;}
.yf{bottom:917.333333pt;}
.y5d{bottom:928.000000pt;}
.ye{bottom:938.666667pt;}
.y5c{bottom:952.000000pt;}
.yd{bottom:960.000000pt;}
.y3b{bottom:976.000000pt;}
.y5b{bottom:978.666667pt;}
.yc{bottom:981.333333pt;}
.yb{bottom:997.333333pt;}
.y3a{bottom:1000.000000pt;}
.y5a{bottom:1002.666667pt;}
.ya{bottom:1013.333333pt;}
.y39{bottom:1026.666667pt;}
.y1{bottom:1034.666667pt;}
.y9{bottom:1050.666667pt;}
.y37{bottom:1077.333333pt;}
.h6{height:75.157120pt;}
.h7{height:78.875000pt;}
.h4{height:92.020833pt;}
.h3{height:93.946400pt;}
.h2{height:125.261866pt;}
.h1{height:174.000000pt;}
.h5{height:1027.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:608.666667pt;}
.w2{width:698.000000pt;}
.w0{width:793.333333pt;}
.x1{left:48.000000pt;}
.x2{left:58.066667pt;}
.x0{left:92.666667pt;}
.x5{left:326.666667pt;}
.x4{left:339.973333pt;}
.x3{left:350.720000pt;}
.x6{left:733.773333pt;}
}
