.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc7{color:rgb(33,78,123);}
.fc4{color:rgb(102,0,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(255,0,0);}
.fc2{color:rgb(0,0,51);}
.fc6{color:rgb(66,184,55);}
.fc1{color:rgb(120,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:80.000000px;}
.fs1{font-size:160.000000px;}
.ye{bottom:17.000000px;}
.y3b{bottom:31.000000px;}
.yf{bottom:44.500000px;}
.y36{bottom:66.000000px;}
.y6f{bottom:70.000000px;}
.y60{bottom:85.500000px;}
.y6e{bottom:86.000000px;}
.y39{bottom:97.500000px;}
.y6d{bottom:102.000000px;}
.y5d{bottom:119.000000px;}
.y35{bottom:131.000000px;}
.y71{bottom:133.500000px;}
.y5c{bottom:139.000000px;}
.y34{bottom:151.000000px;}
.y5b{bottom:157.000000px;}
.y6c{bottom:167.000000px;}
.y33{bottom:169.000000px;}
.y5a{bottom:175.000000px;}
.y32{bottom:187.000000px;}
.y31{bottom:199.000000px;}
.y59{bottom:203.000000px;}
.y6b{bottom:205.000000px;}
.y30{bottom:215.000000px;}
.y58{bottom:219.000000px;}
.y6a{bottom:223.000000px;}
.y2f{bottom:231.000000px;}
.y57{bottom:235.000000px;}
.y2e{bottom:247.000000px;}
.y56{bottom:251.000000px;}
.y2d{bottom:263.000000px;}
.y69{bottom:267.000000px;}
.y2c{bottom:275.000000px;}
.y68{bottom:283.000000px;}
.y2b{bottom:287.000000px;}
.y55{bottom:291.000000px;}
.y67{bottom:299.000000px;}
.y2a{bottom:303.000000px;}
.y66{bottom:311.000000px;}
.y29{bottom:315.000000px;}
.y5f{bottom:322.500000px;}
.y65{bottom:323.000000px;}
.y28{bottom:331.000000px;}
.y27{bottom:343.000000px;}
.y70{bottom:354.500000px;}
.y54{bottom:356.000000px;}
.y26{bottom:359.000000px;}
.y25{bottom:371.000000px;}
.y53{bottom:376.000000px;}
.y24{bottom:387.000000px;}
.y64{bottom:388.000000px;}
.yd{bottom:388.500000px;}
.y52{bottom:394.000000px;}
.y23{bottom:399.000000px;}
.yc{bottom:406.500000px;}
.y63{bottom:408.000000px;}
.y51{bottom:412.000000px;}
.y22{bottom:415.000000px;}
.y50{bottom:424.000000px;}
.y62{bottom:426.000000px;}
.y21{bottom:427.000000px;}
.yb{bottom:436.500000px;}
.y4f{bottom:440.000000px;}
.y20{bottom:443.000000px;}
.y61{bottom:444.000000px;}
.ya{bottom:451.500000px;}
.y1f{bottom:455.000000px;}
.y4e{bottom:456.000000px;}
.y9{bottom:461.500000px;}
.y1e{bottom:471.000000px;}
.y4d{bottom:472.000000px;}
.y1d{bottom:483.000000px;}
.y8{bottom:484.000000px;}
.y4c{bottom:488.000000px;}
.y7{bottom:494.000000px;}
.y1c{bottom:499.000000px;}
.y4b{bottom:504.000000px;}
.y1b{bottom:511.000000px;}
.y4a{bottom:520.000000px;}
.y1a{bottom:523.000000px;}
.y6{bottom:524.000000px;}
.y5{bottom:526.000000px;}
.y49{bottom:532.000000px;}
.y48{bottom:544.000000px;}
.y38{bottom:554.500000px;}
.y47{bottom:560.000000px;}
.y4{bottom:586.000000px;}
.y19{bottom:588.000000px;}
.y5e{bottom:591.500000px;}
.y18{bottom:608.000000px;}
.y46{bottom:625.000000px;}
.y17{bottom:626.000000px;}
.y16{bottom:644.000000px;}
.y45{bottom:645.000000px;}
.y15{bottom:656.000000px;}
.y44{bottom:663.000000px;}
.y14{bottom:672.000000px;}
.y43{bottom:681.000000px;}
.y3{bottom:686.000000px;}
.y2{bottom:688.000000px;}
.y42{bottom:693.000000px;}
.y1{bottom:703.000000px;}
.y13{bottom:704.000000px;}
.y41{bottom:709.000000px;}
.y0{bottom:712.500000px;}
.y12{bottom:720.000000px;}
.y40{bottom:725.000000px;}
.y11{bottom:732.000000px;}
.y3f{bottom:741.000000px;}
.y10{bottom:744.000000px;}
.y3e{bottom:757.000000px;}
.y3d{bottom:769.000000px;}
.y37{bottom:775.500000px;}
.y3c{bottom:781.000000px;}
.y3a{bottom:799.000000px;}
.h2{height:46.973200px;}
.h6{height:56.367840px;}
.h9{height:59.156250px;}
.h7{height:69.015625px;}
.h5{height:70.459800px;}
.h1{height:84.500000px;}
.h4{height:93.946400px;}
.h3{height:187.892799px;}
.h8{height:797.500000px;}
.h0{height:842.000000px;}
.w1{width:277.500000px;}
.w2{width:540.000000px;}
.w0{width:595.000000px;}
.x0{left:55.000000px;}
.xa{left:57.000000px;}
.x3{left:188.600000px;}
.xb{left:195.450000px;}
.x5{left:217.450000px;}
.x8{left:231.150000px;}
.x6{left:233.730000px;}
.x9{left:245.000000px;}
.x7{left:269.150000px;}
.x1{left:276.080000px;}
.x4{left:291.940000px;}
.x2{left:296.110000px;}
.xc{left:531.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:106.666667pt;}
.fs1{font-size:213.333333pt;}
.ye{bottom:22.666667pt;}
.y3b{bottom:41.333333pt;}
.yf{bottom:59.333333pt;}
.y36{bottom:88.000000pt;}
.y6f{bottom:93.333333pt;}
.y60{bottom:114.000000pt;}
.y6e{bottom:114.666667pt;}
.y39{bottom:130.000000pt;}
.y6d{bottom:136.000000pt;}
.y5d{bottom:158.666667pt;}
.y35{bottom:174.666667pt;}
.y71{bottom:178.000000pt;}
.y5c{bottom:185.333333pt;}
.y34{bottom:201.333333pt;}
.y5b{bottom:209.333333pt;}
.y6c{bottom:222.666667pt;}
.y33{bottom:225.333333pt;}
.y5a{bottom:233.333333pt;}
.y32{bottom:249.333333pt;}
.y31{bottom:265.333333pt;}
.y59{bottom:270.666667pt;}
.y6b{bottom:273.333333pt;}
.y30{bottom:286.666667pt;}
.y58{bottom:292.000000pt;}
.y6a{bottom:297.333333pt;}
.y2f{bottom:308.000000pt;}
.y57{bottom:313.333333pt;}
.y2e{bottom:329.333333pt;}
.y56{bottom:334.666667pt;}
.y2d{bottom:350.666667pt;}
.y69{bottom:356.000000pt;}
.y2c{bottom:366.666667pt;}
.y68{bottom:377.333333pt;}
.y2b{bottom:382.666667pt;}
.y55{bottom:388.000000pt;}
.y67{bottom:398.666667pt;}
.y2a{bottom:404.000000pt;}
.y66{bottom:414.666667pt;}
.y29{bottom:420.000000pt;}
.y5f{bottom:430.000000pt;}
.y65{bottom:430.666667pt;}
.y28{bottom:441.333333pt;}
.y27{bottom:457.333333pt;}
.y70{bottom:472.666667pt;}
.y54{bottom:474.666667pt;}
.y26{bottom:478.666667pt;}
.y25{bottom:494.666667pt;}
.y53{bottom:501.333333pt;}
.y24{bottom:516.000000pt;}
.y64{bottom:517.333333pt;}
.yd{bottom:518.000000pt;}
.y52{bottom:525.333333pt;}
.y23{bottom:532.000000pt;}
.yc{bottom:542.000000pt;}
.y63{bottom:544.000000pt;}
.y51{bottom:549.333333pt;}
.y22{bottom:553.333333pt;}
.y50{bottom:565.333333pt;}
.y62{bottom:568.000000pt;}
.y21{bottom:569.333333pt;}
.yb{bottom:582.000000pt;}
.y4f{bottom:586.666667pt;}
.y20{bottom:590.666667pt;}
.y61{bottom:592.000000pt;}
.ya{bottom:602.000000pt;}
.y1f{bottom:606.666667pt;}
.y4e{bottom:608.000000pt;}
.y9{bottom:615.333333pt;}
.y1e{bottom:628.000000pt;}
.y4d{bottom:629.333333pt;}
.y1d{bottom:644.000000pt;}
.y8{bottom:645.333333pt;}
.y4c{bottom:650.666667pt;}
.y7{bottom:658.666667pt;}
.y1c{bottom:665.333333pt;}
.y4b{bottom:672.000000pt;}
.y1b{bottom:681.333333pt;}
.y4a{bottom:693.333333pt;}
.y1a{bottom:697.333333pt;}
.y6{bottom:698.666667pt;}
.y5{bottom:701.333333pt;}
.y49{bottom:709.333333pt;}
.y48{bottom:725.333333pt;}
.y38{bottom:739.333333pt;}
.y47{bottom:746.666667pt;}
.y4{bottom:781.333333pt;}
.y19{bottom:784.000000pt;}
.y5e{bottom:788.666667pt;}
.y18{bottom:810.666667pt;}
.y46{bottom:833.333333pt;}
.y17{bottom:834.666667pt;}
.y16{bottom:858.666667pt;}
.y45{bottom:860.000000pt;}
.y15{bottom:874.666667pt;}
.y44{bottom:884.000000pt;}
.y14{bottom:896.000000pt;}
.y43{bottom:908.000000pt;}
.y3{bottom:914.666667pt;}
.y2{bottom:917.333333pt;}
.y42{bottom:924.000000pt;}
.y1{bottom:937.333333pt;}
.y13{bottom:938.666667pt;}
.y41{bottom:945.333333pt;}
.y0{bottom:950.000000pt;}
.y12{bottom:960.000000pt;}
.y40{bottom:966.666667pt;}
.y11{bottom:976.000000pt;}
.y3f{bottom:988.000000pt;}
.y10{bottom:992.000000pt;}
.y3e{bottom:1009.333333pt;}
.y3d{bottom:1025.333333pt;}
.y37{bottom:1034.000000pt;}
.y3c{bottom:1041.333333pt;}
.y3a{bottom:1065.333333pt;}
.h2{height:62.630933pt;}
.h6{height:75.157120pt;}
.h9{height:78.875000pt;}
.h7{height:92.020833pt;}
.h5{height:93.946400pt;}
.h1{height:112.666667pt;}
.h4{height:125.261866pt;}
.h3{height:250.523733pt;}
.h8{height:1063.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:370.000000pt;}
.w2{width:720.000000pt;}
.w0{width:793.333333pt;}
.x0{left:73.333333pt;}
.xa{left:76.000000pt;}
.x3{left:251.466667pt;}
.xb{left:260.600000pt;}
.x5{left:289.933333pt;}
.x8{left:308.200000pt;}
.x6{left:311.640000pt;}
.x9{left:326.666667pt;}
.x7{left:358.866667pt;}
.x1{left:368.106667pt;}
.x4{left:389.253333pt;}
.x2{left:394.813333pt;}
.xc{left:708.440000pt;}
}
