.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc7{color:rgb(33,78,123);}
.fc4{color:rgb(102,0,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(255,0,0);}
.fc2{color:rgb(0,0,51);}
.fc6{color:rgb(66,184,55);}
.fc1{color:rgb(120,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:80.000000px;}
.fs1{font-size:160.000000px;}
.ye{bottom:17.000000px;}
.y38{bottom:31.000000px;}
.yf{bottom:44.500000px;}
.y9a{bottom:62.000000px;}
.y57{bottom:69.000000px;}
.y82{bottom:73.500000px;}
.y33{bottom:76.000000px;}
.y99{bottom:78.000000px;}
.y98{bottom:90.000000px;}
.y32{bottom:94.000000px;}
.y5b{bottom:100.500000px;}
.y97{bottom:106.000000px;}
.y7f{bottom:107.000000px;}
.y31{bottom:112.000000px;}
.y30{bottom:124.000000px;}
.y7e{bottom:127.000000px;}
.y56{bottom:134.000000px;}
.y9d{bottom:137.500000px;}
.y2f{bottom:140.000000px;}
.y7d{bottom:145.000000px;}
.y55{bottom:154.000000px;}
.y2e{bottom:156.000000px;}
.y7c{bottom:163.000000px;}
.y96{bottom:171.000000px;}
.y2d{bottom:172.000000px;}
.y7b{bottom:175.000000px;}
.y2c{bottom:188.000000px;}
.y54{bottom:190.000000px;}
.y7a{bottom:191.000000px;}
.y53{bottom:202.000000px;}
.y2b{bottom:204.000000px;}
.y79{bottom:207.000000px;}
.y95{bottom:209.000000px;}
.y2a{bottom:216.000000px;}
.y52{bottom:218.000000px;}
.y78{bottom:223.000000px;}
.y94{bottom:227.000000px;}
.y29{bottom:232.000000px;}
.y51{bottom:234.000000px;}
.y77{bottom:239.000000px;}
.y50{bottom:250.000000px;}
.y76{bottom:251.000000px;}
.y93{bottom:255.000000px;}
.y36{bottom:263.500000px;}
.y4f{bottom:266.000000px;}
.y75{bottom:267.000000px;}
.y92{bottom:271.000000px;}
.y4e{bottom:278.000000px;}
.y74{bottom:283.000000px;}
.y91{bottom:287.000000px;}
.y4d{bottom:294.000000px;}
.y28{bottom:297.000000px;}
.y90{bottom:303.000000px;}
.y4c{bottom:310.000000px;}
.y81{bottom:314.500000px;}
.y8f{bottom:315.000000px;}
.y27{bottom:317.000000px;}
.y26{bottom:335.000000px;}
.y5a{bottom:341.500000px;}
.y9c{bottom:346.500000px;}
.y73{bottom:348.000000px;}
.y25{bottom:353.000000px;}
.y24{bottom:365.000000px;}
.y72{bottom:368.000000px;}
.y4b{bottom:375.000000px;}
.y8e{bottom:380.000000px;}
.y23{bottom:381.000000px;}
.y71{bottom:386.000000px;}
.yd{bottom:388.500000px;}
.y4a{bottom:395.000000px;}
.y22{bottom:397.000000px;}
.y8d{bottom:400.000000px;}
.y70{bottom:404.000000px;}
.yc{bottom:406.500000px;}
.y21{bottom:413.000000px;}
.y6f{bottom:416.000000px;}
.y8c{bottom:418.000000px;}
.y20{bottom:429.000000px;}
.y49{bottom:431.000000px;}
.y6e{bottom:432.000000px;}
.y8b{bottom:436.000000px;}
.yb{bottom:436.500000px;}
.y1f{bottom:441.000000px;}
.y48{bottom:443.000000px;}
.y6d{bottom:448.000000px;}
.ya{bottom:451.500000px;}
.y1e{bottom:457.000000px;}
.y47{bottom:459.000000px;}
.y9{bottom:461.500000px;}
.y6c{bottom:464.000000px;}
.y46{bottom:475.000000px;}
.y6b{bottom:480.000000px;}
.y8{bottom:484.000000px;}
.y35{bottom:488.500000px;}
.y45{bottom:491.000000px;}
.y6a{bottom:492.000000px;}
.y7{bottom:494.000000px;}
.y8a{bottom:496.000000px;}
.y44{bottom:507.000000px;}
.y69{bottom:508.000000px;}
.y89{bottom:512.000000px;}
.y43{bottom:519.000000px;}
.y1d{bottom:522.000000px;}
.y6{bottom:524.000000px;}
.y5{bottom:526.000000px;}
.y42{bottom:535.000000px;}
.y88{bottom:540.000000px;}
.y1c{bottom:542.000000px;}
.y80{bottom:555.500000px;}
.y1b{bottom:560.000000px;}
.y59{bottom:566.500000px;}
.y9b{bottom:571.500000px;}
.y1a{bottom:578.000000px;}
.y4{bottom:586.000000px;}
.y68{bottom:589.000000px;}
.y19{bottom:590.000000px;}
.y41{bottom:600.000000px;}
.y87{bottom:605.000000px;}
.y18{bottom:606.000000px;}
.y67{bottom:609.000000px;}
.y40{bottom:620.000000px;}
.y17{bottom:622.000000px;}
.y86{bottom:625.000000px;}
.y66{bottom:627.000000px;}
.y16{bottom:638.000000px;}
.y85{bottom:643.000000px;}
.y65{bottom:645.000000px;}
.y15{bottom:654.000000px;}
.y3f{bottom:656.000000px;}
.y64{bottom:657.000000px;}
.y84{bottom:661.000000px;}
.y14{bottom:666.000000px;}
.y3e{bottom:668.000000px;}
.y63{bottom:673.000000px;}
.y13{bottom:682.000000px;}
.y3d{bottom:684.000000px;}
.y3{bottom:686.000000px;}
.y2{bottom:688.000000px;}
.y62{bottom:689.000000px;}
.y12{bottom:698.000000px;}
.y3c{bottom:700.000000px;}
.y1{bottom:703.000000px;}
.y61{bottom:705.000000px;}
.y0{bottom:712.500000px;}
.y3b{bottom:716.000000px;}
.y60{bottom:721.000000px;}
.y34{bottom:729.500000px;}
.y3a{bottom:732.000000px;}
.y5f{bottom:737.000000px;}
.y39{bottom:744.000000px;}
.y83{bottom:749.000000px;}
.y5e{bottom:753.000000px;}
.y11{bottom:763.000000px;}
.y5d{bottom:765.000000px;}
.y58{bottom:775.500000px;}
.y10{bottom:779.000000px;}
.y5c{bottom:781.000000px;}
.y37{bottom:799.000000px;}
.h2{height:46.973200px;}
.h6{height:56.367840px;}
.h9{height:59.156250px;}
.h7{height:69.015625px;}
.h5{height:70.459800px;}
.h1{height:84.500000px;}
.h4{height:93.946400px;}
.h3{height:187.892799px;}
.h8{height:752.500000px;}
.h0{height:842.000000px;}
.w1{width:277.500000px;}
.w2{width:485.500000px;}
.w0{width:595.000000px;}
.x0{left:55.000000px;}
.x9{left:57.000000px;}
.x6{left:88.730000px;}
.xa{left:219.130000px;}
.x5{left:231.350000px;}
.x3{left:243.060000px;}
.x8{left:245.000000px;}
.x7{left:269.150000px;}
.x1{left:276.080000px;}
.x4{left:291.940000px;}
.x2{left:296.110000px;}
.xb{left:531.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:106.666667pt;}
.fs1{font-size:213.333333pt;}
.ye{bottom:22.666667pt;}
.y38{bottom:41.333333pt;}
.yf{bottom:59.333333pt;}
.y9a{bottom:82.666667pt;}
.y57{bottom:92.000000pt;}
.y82{bottom:98.000000pt;}
.y33{bottom:101.333333pt;}
.y99{bottom:104.000000pt;}
.y98{bottom:120.000000pt;}
.y32{bottom:125.333333pt;}
.y5b{bottom:134.000000pt;}
.y97{bottom:141.333333pt;}
.y7f{bottom:142.666667pt;}
.y31{bottom:149.333333pt;}
.y30{bottom:165.333333pt;}
.y7e{bottom:169.333333pt;}
.y56{bottom:178.666667pt;}
.y9d{bottom:183.333333pt;}
.y2f{bottom:186.666667pt;}
.y7d{bottom:193.333333pt;}
.y55{bottom:205.333333pt;}
.y2e{bottom:208.000000pt;}
.y7c{bottom:217.333333pt;}
.y96{bottom:228.000000pt;}
.y2d{bottom:229.333333pt;}
.y7b{bottom:233.333333pt;}
.y2c{bottom:250.666667pt;}
.y54{bottom:253.333333pt;}
.y7a{bottom:254.666667pt;}
.y53{bottom:269.333333pt;}
.y2b{bottom:272.000000pt;}
.y79{bottom:276.000000pt;}
.y95{bottom:278.666667pt;}
.y2a{bottom:288.000000pt;}
.y52{bottom:290.666667pt;}
.y78{bottom:297.333333pt;}
.y94{bottom:302.666667pt;}
.y29{bottom:309.333333pt;}
.y51{bottom:312.000000pt;}
.y77{bottom:318.666667pt;}
.y50{bottom:333.333333pt;}
.y76{bottom:334.666667pt;}
.y93{bottom:340.000000pt;}
.y36{bottom:351.333333pt;}
.y4f{bottom:354.666667pt;}
.y75{bottom:356.000000pt;}
.y92{bottom:361.333333pt;}
.y4e{bottom:370.666667pt;}
.y74{bottom:377.333333pt;}
.y91{bottom:382.666667pt;}
.y4d{bottom:392.000000pt;}
.y28{bottom:396.000000pt;}
.y90{bottom:404.000000pt;}
.y4c{bottom:413.333333pt;}
.y81{bottom:419.333333pt;}
.y8f{bottom:420.000000pt;}
.y27{bottom:422.666667pt;}
.y26{bottom:446.666667pt;}
.y5a{bottom:455.333333pt;}
.y9c{bottom:462.000000pt;}
.y73{bottom:464.000000pt;}
.y25{bottom:470.666667pt;}
.y24{bottom:486.666667pt;}
.y72{bottom:490.666667pt;}
.y4b{bottom:500.000000pt;}
.y8e{bottom:506.666667pt;}
.y23{bottom:508.000000pt;}
.y71{bottom:514.666667pt;}
.yd{bottom:518.000000pt;}
.y4a{bottom:526.666667pt;}
.y22{bottom:529.333333pt;}
.y8d{bottom:533.333333pt;}
.y70{bottom:538.666667pt;}
.yc{bottom:542.000000pt;}
.y21{bottom:550.666667pt;}
.y6f{bottom:554.666667pt;}
.y8c{bottom:557.333333pt;}
.y20{bottom:572.000000pt;}
.y49{bottom:574.666667pt;}
.y6e{bottom:576.000000pt;}
.y8b{bottom:581.333333pt;}
.yb{bottom:582.000000pt;}
.y1f{bottom:588.000000pt;}
.y48{bottom:590.666667pt;}
.y6d{bottom:597.333333pt;}
.ya{bottom:602.000000pt;}
.y1e{bottom:609.333333pt;}
.y47{bottom:612.000000pt;}
.y9{bottom:615.333333pt;}
.y6c{bottom:618.666667pt;}
.y46{bottom:633.333333pt;}
.y6b{bottom:640.000000pt;}
.y8{bottom:645.333333pt;}
.y35{bottom:651.333333pt;}
.y45{bottom:654.666667pt;}
.y6a{bottom:656.000000pt;}
.y7{bottom:658.666667pt;}
.y8a{bottom:661.333333pt;}
.y44{bottom:676.000000pt;}
.y69{bottom:677.333333pt;}
.y89{bottom:682.666667pt;}
.y43{bottom:692.000000pt;}
.y1d{bottom:696.000000pt;}
.y6{bottom:698.666667pt;}
.y5{bottom:701.333333pt;}
.y42{bottom:713.333333pt;}
.y88{bottom:720.000000pt;}
.y1c{bottom:722.666667pt;}
.y80{bottom:740.666667pt;}
.y1b{bottom:746.666667pt;}
.y59{bottom:755.333333pt;}
.y9b{bottom:762.000000pt;}
.y1a{bottom:770.666667pt;}
.y4{bottom:781.333333pt;}
.y68{bottom:785.333333pt;}
.y19{bottom:786.666667pt;}
.y41{bottom:800.000000pt;}
.y87{bottom:806.666667pt;}
.y18{bottom:808.000000pt;}
.y67{bottom:812.000000pt;}
.y40{bottom:826.666667pt;}
.y17{bottom:829.333333pt;}
.y86{bottom:833.333333pt;}
.y66{bottom:836.000000pt;}
.y16{bottom:850.666667pt;}
.y85{bottom:857.333333pt;}
.y65{bottom:860.000000pt;}
.y15{bottom:872.000000pt;}
.y3f{bottom:874.666667pt;}
.y64{bottom:876.000000pt;}
.y84{bottom:881.333333pt;}
.y14{bottom:888.000000pt;}
.y3e{bottom:890.666667pt;}
.y63{bottom:897.333333pt;}
.y13{bottom:909.333333pt;}
.y3d{bottom:912.000000pt;}
.y3{bottom:914.666667pt;}
.y2{bottom:917.333333pt;}
.y62{bottom:918.666667pt;}
.y12{bottom:930.666667pt;}
.y3c{bottom:933.333333pt;}
.y1{bottom:937.333333pt;}
.y61{bottom:940.000000pt;}
.y0{bottom:950.000000pt;}
.y3b{bottom:954.666667pt;}
.y60{bottom:961.333333pt;}
.y34{bottom:972.666667pt;}
.y3a{bottom:976.000000pt;}
.y5f{bottom:982.666667pt;}
.y39{bottom:992.000000pt;}
.y83{bottom:998.666667pt;}
.y5e{bottom:1004.000000pt;}
.y11{bottom:1017.333333pt;}
.y5d{bottom:1020.000000pt;}
.y58{bottom:1034.000000pt;}
.y10{bottom:1038.666667pt;}
.y5c{bottom:1041.333333pt;}
.y37{bottom:1065.333333pt;}
.h2{height:62.630933pt;}
.h6{height:75.157120pt;}
.h9{height:78.875000pt;}
.h7{height:92.020833pt;}
.h5{height:93.946400pt;}
.h1{height:112.666667pt;}
.h4{height:125.261866pt;}
.h3{height:250.523733pt;}
.h8{height:1003.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:370.000000pt;}
.w2{width:647.333333pt;}
.w0{width:793.333333pt;}
.x0{left:73.333333pt;}
.x9{left:76.000000pt;}
.x6{left:118.306667pt;}
.xa{left:292.173333pt;}
.x5{left:308.466667pt;}
.x3{left:324.080000pt;}
.x8{left:326.666667pt;}
.x7{left:358.866667pt;}
.x1{left:368.106667pt;}
.x4{left:389.253333pt;}
.x2{left:394.813333pt;}
.xb{left:708.440000pt;}
}
