.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls1c{letter-spacing:-1.680000px;}
.ls1d{letter-spacing:-0.115200px;}
.ls17{letter-spacing:-0.105600px;}
.ls15{letter-spacing:-0.072000px;}
.lsf{letter-spacing:-0.062400px;}
.ls14{letter-spacing:-0.052800px;}
.ls11{letter-spacing:-0.048000px;}
.ls1b{letter-spacing:-0.028800px;}
.ls13{letter-spacing:-0.024000px;}
.ls5{letter-spacing:-0.019200px;}
.ls16{letter-spacing:-0.014400px;}
.ls4{letter-spacing:-0.009600px;}
.ls12{letter-spacing:-0.004800px;}
.ls1{letter-spacing:0.000000px;}
.ls6{letter-spacing:0.004800px;}
.ls9{letter-spacing:0.009600px;}
.ls10{letter-spacing:0.014400px;}
.ls7{letter-spacing:0.019200px;}
.ls2{letter-spacing:0.023184px;}
.lsc{letter-spacing:0.024000px;}
.ls0{letter-spacing:0.025632px;}
.lsb{letter-spacing:0.028800px;}
.lsa{letter-spacing:0.033600px;}
.lsd{letter-spacing:0.038400px;}
.ls18{letter-spacing:0.043200px;}
.ls3{letter-spacing:0.046368px;}
.ls1a{letter-spacing:0.048000px;}
.ls8{letter-spacing:0.052800px;}
.ls19{letter-spacing:0.072000px;}
.lse{letter-spacing:0.081600px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws2d{word-spacing:-2.625600px;}
.ws2b{word-spacing:-2.611200px;}
.ws18{word-spacing:-2.534400px;}
.ws1b{word-spacing:-0.998400px;}
.ws2e{word-spacing:-0.974400px;}
.ws30{word-spacing:-0.964800px;}
.ws1f{word-spacing:-0.960000px;}
.ws15{word-spacing:-0.907200px;}
.ws1d{word-spacing:-0.854400px;}
.ws1a{word-spacing:-0.729600px;}
.ws16{word-spacing:-0.648000px;}
.ws28{word-spacing:-0.163200px;}
.ws23{word-spacing:-0.148800px;}
.ws2a{word-spacing:-0.144000px;}
.ws1e{word-spacing:-0.134400px;}
.ws33{word-spacing:-0.129600px;}
.wsb{word-spacing:-0.115200px;}
.ws27{word-spacing:-0.110400px;}
.ws26{word-spacing:-0.105600px;}
.ws6{word-spacing:-0.100800px;}
.wsc{word-spacing:-0.091200px;}
.ws9{word-spacing:-0.086400px;}
.wse{word-spacing:-0.081600px;}
.wsd{word-spacing:-0.076800px;}
.ws13{word-spacing:-0.072000px;}
.ws31{word-spacing:-0.067200px;}
.ws21{word-spacing:-0.057600px;}
.ws8{word-spacing:-0.052800px;}
.ws19{word-spacing:-0.048000px;}
.ws7{word-spacing:-0.043200px;}
.ws25{word-spacing:-0.038400px;}
.ws24{word-spacing:-0.033600px;}
.wsa{word-spacing:-0.028800px;}
.ws20{word-spacing:-0.024000px;}
.ws5{word-spacing:-0.019200px;}
.ws10{word-spacing:-0.014400px;}
.ws12{word-spacing:-0.009600px;}
.ws4{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.ws1c{word-spacing:0.004800px;}
.ws2{word-spacing:0.009600px;}
.ws1{word-spacing:0.011592px;}
.ws17{word-spacing:0.014400px;}
.ws3{word-spacing:0.019200px;}
.ws14{word-spacing:0.024000px;}
.ws34{word-spacing:0.028800px;}
.ws22{word-spacing:0.033600px;}
.ws11{word-spacing:0.048000px;}
.wsf{word-spacing:0.062400px;}
.ws32{word-spacing:0.072000px;}
.ws2f{word-spacing:0.115200px;}
.ws29{word-spacing:0.206400px;}
.ws2c{word-spacing:1.680000px;}
._5{margin-left:-6.070320px;}
._1{margin-left:-4.416000px;}
._3{margin-left:-3.072000px;}
._0{margin-left:-1.970640px;}
._2{width:1.637280px;}
._4{width:2.976000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:48.000000px;}
.fs3{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs2{font-size:115.920000px;}
.y29{bottom:17.000000px;}
.y2{bottom:39.140400px;}
.y52{bottom:61.460400px;}
.y72{bottom:71.300400px;}
.y28{bottom:74.240300px;}
.y8e{bottom:75.200400px;}
.y51{bottom:77.300400px;}
.y9c{bottom:83.300400px;}
.y27{bottom:90.140300px;}
.y50{bottom:93.200400px;}
.y8d{bottom:97.040400px;}
.y9b{bottom:99.200400px;}
.y26{bottom:105.980300px;}
.y4f{bottom:109.040400px;}
.y71{bottom:115.040400px;}
.y8c{bottom:118.940400px;}
.y25{bottom:121.880300px;}
.y4e{bottom:124.940400px;}
.y70{bottom:130.940400px;}
.y24{bottom:137.720300px;}
.y7c{bottom:140.780400px;}
.y4d{bottom:146.780400px;}
.y23{bottom:153.620300px;}
.y7b{bottom:156.680400px;}
.y6f{bottom:162.680400px;}
.y4c{bottom:168.680400px;}
.y22{bottom:169.460300px;}
.y6e{bottom:178.520400px;}
.y21{bottom:185.360300px;}
.y4b{bottom:190.520400px;}
.y6d{bottom:194.420400px;}
.y7a{bottom:200.420400px;}
.y20{bottom:201.200300px;}
.y6c{bottom:210.260400px;}
.y4a{bottom:212.420400px;}
.y1f{bottom:217.100300px;}
.y79{bottom:222.260400px;}
.y6b{bottom:226.160400px;}
.y49{bottom:228.260400px;}
.y1e{bottom:232.940300px;}
.y8b{bottom:242.000400px;}
.y48{bottom:244.160400px;}
.y6a{bottom:248.000400px;}
.y1d{bottom:248.840300px;}
.y8a{bottom:257.900400px;}
.y47{bottom:260.000400px;}
.y1c{bottom:264.680300px;}
.y9a{bottom:266.000400px;}
.y69{bottom:269.900400px;}
.y89{bottom:273.740400px;}
.y46{bottom:275.900400px;}
.y1b{bottom:280.580300px;}
.y99{bottom:281.900400px;}
.y45{bottom:291.740400px;}
.y88{bottom:295.640400px;}
.y1a{bottom:296.420300px;}
.y98{bottom:297.740400px;}
.y44{bottom:307.640400px;}
.y19{bottom:312.320300px;}
.y68{bottom:313.640400px;}
.y87{bottom:317.480400px;}
.y43{bottom:323.480400px;}
.y18{bottom:328.160300px;}
.y67{bottom:329.480400px;}
.y78{bottom:339.380400px;}
.y17{bottom:344.060300px;}
.y42{bottom:345.380400px;}
.y16{bottom:359.780300px;}
.y66{bottom:361.220400px;}
.y41{bottom:367.220400px;}
.y15{bottom:375.680300px;}
.y65{bottom:377.060400px;}
.y77{bottom:383.060400px;}
.y40{bottom:389.060400px;}
.y64{bottom:392.960400px;}
.y13{bottom:398.119800px;}
.y14{bottom:398.120300px;}
.y76{bottom:404.960400px;}
.y63{bottom:408.800400px;}
.y3f{bottom:410.960400px;}
.y62{bottom:424.700400px;}
.y3e{bottom:426.800400px;}
.y97{bottom:430.700400px;}
.y12{bottom:436.460300px;}
.y61{bottom:440.540400px;}
.y3d{bottom:442.700400px;}
.y96{bottom:452.540400px;}
.y86{bottom:456.440400px;}
.y3c{bottom:458.540400px;}
.y60{bottom:462.440400px;}
.y0{bottom:465.500000px;}
.y11{bottom:465.620400px;}
.y85{bottom:472.280400px;}
.y3b{bottom:474.440400px;}
.y5f{bottom:484.280400px;}
.y84{bottom:488.180400px;}
.y3a{bottom:490.280400px;}
.y95{bottom:496.280400px;}
.y39{bottom:506.180400px;}
.y83{bottom:510.020400px;}
.y94{bottom:512.180400px;}
.y38{bottom:522.020400px;}
.y5e{bottom:528.020400px;}
.y82{bottom:531.920400px;}
.y75{bottom:537.920400px;}
.y37{bottom:543.920400px;}
.y81{bottom:553.760400px;}
.y5d{bottom:559.760400px;}
.y36{bottom:565.760400px;}
.y10{bottom:567.800400px;}
.y5c{bottom:575.660400px;}
.y74{bottom:581.660400px;}
.yf{bottom:583.640400px;}
.y35{bottom:587.660400px;}
.y5b{bottom:591.500400px;}
.ye{bottom:599.540400px;}
.y73{bottom:603.500400px;}
.y5a{bottom:607.400400px;}
.y34{bottom:609.500400px;}
.yd{bottom:615.380400px;}
.y59{bottom:623.240400px;}
.y33{bottom:625.400400px;}
.y93{bottom:629.240400px;}
.yc{bottom:631.280400px;}
.y58{bottom:639.140400px;}
.y32{bottom:641.240400px;}
.yb{bottom:647.120400px;}
.y92{bottom:651.140400px;}
.y57{bottom:654.980400px;}
.y31{bottom:657.140400px;}
.ya{bottom:663.020400px;}
.y80{bottom:670.880400px;}
.y30{bottom:672.980400px;}
.y56{bottom:676.880400px;}
.y9{bottom:678.860400px;}
.y7f{bottom:686.720400px;}
.y2f{bottom:688.880400px;}
.y8{bottom:694.760400px;}
.y91{bottom:694.880400px;}
.y55{bottom:698.720400px;}
.y2e{bottom:704.720400px;}
.y7e{bottom:708.620400px;}
.y7{bottom:710.600400px;}
.y90{bottom:710.720400px;}
.y2d{bottom:720.620400px;}
.y6{bottom:726.500400px;}
.y8f{bottom:726.620400px;}
.y7d{bottom:730.460400px;}
.y2c{bottom:736.460400px;}
.y5{bottom:742.340400px;}
.y54{bottom:742.460400px;}
.y2b{bottom:752.360400px;}
.y4{bottom:758.240400px;}
.y53{bottom:758.360400px;}
.y3{bottom:774.080400px;}
.y2a{bottom:774.200400px;}
.y1{bottom:791.120300px;}
.h3{height:53.250000px;}
.h4{height:54.960938px;}
.h6{height:69.015625px;}
.h2{height:73.372852px;}
.h1{height:98.000000px;}
.h5{height:132.730664px;}
.h0{height:842.000000px;}
.w1{width:342.500000px;}
.w0{width:595.220000px;}
.x9{left:56.700000px;}
.x6{left:74.999800px;}
.x0{left:127.000000px;}
.xa{left:245.000000px;}
.x5{left:246.060000px;}
.x8{left:266.160000px;}
.x1{left:269.160000px;}
.x3{left:297.600000px;}
.x4{left:469.380000px;}
.x2{left:507.960000px;}
.x7{left:520.200000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1c{letter-spacing:-2.240000pt;}
.ls1d{letter-spacing:-0.153600pt;}
.ls17{letter-spacing:-0.140800pt;}
.ls15{letter-spacing:-0.096000pt;}
.lsf{letter-spacing:-0.083200pt;}
.ls14{letter-spacing:-0.070400pt;}
.ls11{letter-spacing:-0.064000pt;}
.ls1b{letter-spacing:-0.038400pt;}
.ls13{letter-spacing:-0.032000pt;}
.ls5{letter-spacing:-0.025600pt;}
.ls16{letter-spacing:-0.019200pt;}
.ls4{letter-spacing:-0.012800pt;}
.ls12{letter-spacing:-0.006400pt;}
.ls1{letter-spacing:0.000000pt;}
.ls6{letter-spacing:0.006400pt;}
.ls9{letter-spacing:0.012800pt;}
.ls10{letter-spacing:0.019200pt;}
.ls7{letter-spacing:0.025600pt;}
.ls2{letter-spacing:0.030912pt;}
.lsc{letter-spacing:0.032000pt;}
.ls0{letter-spacing:0.034176pt;}
.lsb{letter-spacing:0.038400pt;}
.lsa{letter-spacing:0.044800pt;}
.lsd{letter-spacing:0.051200pt;}
.ls18{letter-spacing:0.057600pt;}
.ls3{letter-spacing:0.061824pt;}
.ls1a{letter-spacing:0.064000pt;}
.ls8{letter-spacing:0.070400pt;}
.ls19{letter-spacing:0.096000pt;}
.lse{letter-spacing:0.108800pt;}
.ws2d{word-spacing:-3.500800pt;}
.ws2b{word-spacing:-3.481600pt;}
.ws18{word-spacing:-3.379200pt;}
.ws1b{word-spacing:-1.331200pt;}
.ws2e{word-spacing:-1.299200pt;}
.ws30{word-spacing:-1.286400pt;}
.ws1f{word-spacing:-1.280000pt;}
.ws15{word-spacing:-1.209600pt;}
.ws1d{word-spacing:-1.139200pt;}
.ws1a{word-spacing:-0.972800pt;}
.ws16{word-spacing:-0.864000pt;}
.ws28{word-spacing:-0.217600pt;}
.ws23{word-spacing:-0.198400pt;}
.ws2a{word-spacing:-0.192000pt;}
.ws1e{word-spacing:-0.179200pt;}
.ws33{word-spacing:-0.172800pt;}
.wsb{word-spacing:-0.153600pt;}
.ws27{word-spacing:-0.147200pt;}
.ws26{word-spacing:-0.140800pt;}
.ws6{word-spacing:-0.134400pt;}
.wsc{word-spacing:-0.121600pt;}
.ws9{word-spacing:-0.115200pt;}
.wse{word-spacing:-0.108800pt;}
.wsd{word-spacing:-0.102400pt;}
.ws13{word-spacing:-0.096000pt;}
.ws31{word-spacing:-0.089600pt;}
.ws21{word-spacing:-0.076800pt;}
.ws8{word-spacing:-0.070400pt;}
.ws19{word-spacing:-0.064000pt;}
.ws7{word-spacing:-0.057600pt;}
.ws25{word-spacing:-0.051200pt;}
.ws24{word-spacing:-0.044800pt;}
.wsa{word-spacing:-0.038400pt;}
.ws20{word-spacing:-0.032000pt;}
.ws5{word-spacing:-0.025600pt;}
.ws10{word-spacing:-0.019200pt;}
.ws12{word-spacing:-0.012800pt;}
.ws4{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.ws1c{word-spacing:0.006400pt;}
.ws2{word-spacing:0.012800pt;}
.ws1{word-spacing:0.015456pt;}
.ws17{word-spacing:0.019200pt;}
.ws3{word-spacing:0.025600pt;}
.ws14{word-spacing:0.032000pt;}
.ws34{word-spacing:0.038400pt;}
.ws22{word-spacing:0.044800pt;}
.ws11{word-spacing:0.064000pt;}
.wsf{word-spacing:0.083200pt;}
.ws32{word-spacing:0.096000pt;}
.ws2f{word-spacing:0.153600pt;}
.ws29{word-spacing:0.275200pt;}
.ws2c{word-spacing:2.240000pt;}
._5{margin-left:-8.093760pt;}
._1{margin-left:-5.888000pt;}
._3{margin-left:-4.096000pt;}
._0{margin-left:-2.627520pt;}
._2{width:2.183040pt;}
._4{width:3.968000pt;}
.fs1{font-size:64.000000pt;}
.fs3{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs2{font-size:154.560000pt;}
.y29{bottom:22.666667pt;}
.y2{bottom:52.187200pt;}
.y52{bottom:81.947200pt;}
.y72{bottom:95.067200pt;}
.y28{bottom:98.987067pt;}
.y8e{bottom:100.267200pt;}
.y51{bottom:103.067200pt;}
.y9c{bottom:111.067200pt;}
.y27{bottom:120.187067pt;}
.y50{bottom:124.267200pt;}
.y8d{bottom:129.387200pt;}
.y9b{bottom:132.267200pt;}
.y26{bottom:141.307067pt;}
.y4f{bottom:145.387200pt;}
.y71{bottom:153.387200pt;}
.y8c{bottom:158.587200pt;}
.y25{bottom:162.507067pt;}
.y4e{bottom:166.587200pt;}
.y70{bottom:174.587200pt;}
.y24{bottom:183.627067pt;}
.y7c{bottom:187.707200pt;}
.y4d{bottom:195.707200pt;}
.y23{bottom:204.827067pt;}
.y7b{bottom:208.907200pt;}
.y6f{bottom:216.907200pt;}
.y4c{bottom:224.907200pt;}
.y22{bottom:225.947067pt;}
.y6e{bottom:238.027200pt;}
.y21{bottom:247.147067pt;}
.y4b{bottom:254.027200pt;}
.y6d{bottom:259.227200pt;}
.y7a{bottom:267.227200pt;}
.y20{bottom:268.267067pt;}
.y6c{bottom:280.347200pt;}
.y4a{bottom:283.227200pt;}
.y1f{bottom:289.467067pt;}
.y79{bottom:296.347200pt;}
.y6b{bottom:301.547200pt;}
.y49{bottom:304.347200pt;}
.y1e{bottom:310.587067pt;}
.y8b{bottom:322.667200pt;}
.y48{bottom:325.547200pt;}
.y6a{bottom:330.667200pt;}
.y1d{bottom:331.787067pt;}
.y8a{bottom:343.867200pt;}
.y47{bottom:346.667200pt;}
.y1c{bottom:352.907067pt;}
.y9a{bottom:354.667200pt;}
.y69{bottom:359.867200pt;}
.y89{bottom:364.987200pt;}
.y46{bottom:367.867200pt;}
.y1b{bottom:374.107067pt;}
.y99{bottom:375.867200pt;}
.y45{bottom:388.987200pt;}
.y88{bottom:394.187200pt;}
.y1a{bottom:395.227067pt;}
.y98{bottom:396.987200pt;}
.y44{bottom:410.187200pt;}
.y19{bottom:416.427067pt;}
.y68{bottom:418.187200pt;}
.y87{bottom:423.307200pt;}
.y43{bottom:431.307200pt;}
.y18{bottom:437.547067pt;}
.y67{bottom:439.307200pt;}
.y78{bottom:452.507200pt;}
.y17{bottom:458.747067pt;}
.y42{bottom:460.507200pt;}
.y16{bottom:479.707067pt;}
.y66{bottom:481.627200pt;}
.y41{bottom:489.627200pt;}
.y15{bottom:500.907067pt;}
.y65{bottom:502.747200pt;}
.y77{bottom:510.747200pt;}
.y40{bottom:518.747200pt;}
.y64{bottom:523.947200pt;}
.y13{bottom:530.826400pt;}
.y14{bottom:530.827067pt;}
.y76{bottom:539.947200pt;}
.y63{bottom:545.067200pt;}
.y3f{bottom:547.947200pt;}
.y62{bottom:566.267200pt;}
.y3e{bottom:569.067200pt;}
.y97{bottom:574.267200pt;}
.y12{bottom:581.947067pt;}
.y61{bottom:587.387200pt;}
.y3d{bottom:590.267200pt;}
.y96{bottom:603.387200pt;}
.y86{bottom:608.587200pt;}
.y3c{bottom:611.387200pt;}
.y60{bottom:616.587200pt;}
.y0{bottom:620.666667pt;}
.y11{bottom:620.827200pt;}
.y85{bottom:629.707200pt;}
.y3b{bottom:632.587200pt;}
.y5f{bottom:645.707200pt;}
.y84{bottom:650.907200pt;}
.y3a{bottom:653.707200pt;}
.y95{bottom:661.707200pt;}
.y39{bottom:674.907200pt;}
.y83{bottom:680.027200pt;}
.y94{bottom:682.907200pt;}
.y38{bottom:696.027200pt;}
.y5e{bottom:704.027200pt;}
.y82{bottom:709.227200pt;}
.y75{bottom:717.227200pt;}
.y37{bottom:725.227200pt;}
.y81{bottom:738.347200pt;}
.y5d{bottom:746.347200pt;}
.y36{bottom:754.347200pt;}
.y10{bottom:757.067200pt;}
.y5c{bottom:767.547200pt;}
.y74{bottom:775.547200pt;}
.yf{bottom:778.187200pt;}
.y35{bottom:783.547200pt;}
.y5b{bottom:788.667200pt;}
.ye{bottom:799.387200pt;}
.y73{bottom:804.667200pt;}
.y5a{bottom:809.867200pt;}
.y34{bottom:812.667200pt;}
.yd{bottom:820.507200pt;}
.y59{bottom:830.987200pt;}
.y33{bottom:833.867200pt;}
.y93{bottom:838.987200pt;}
.yc{bottom:841.707200pt;}
.y58{bottom:852.187200pt;}
.y32{bottom:854.987200pt;}
.yb{bottom:862.827200pt;}
.y92{bottom:868.187200pt;}
.y57{bottom:873.307200pt;}
.y31{bottom:876.187200pt;}
.ya{bottom:884.027200pt;}
.y80{bottom:894.507200pt;}
.y30{bottom:897.307200pt;}
.y56{bottom:902.507200pt;}
.y9{bottom:905.147200pt;}
.y7f{bottom:915.627200pt;}
.y2f{bottom:918.507200pt;}
.y8{bottom:926.347200pt;}
.y91{bottom:926.507200pt;}
.y55{bottom:931.627200pt;}
.y2e{bottom:939.627200pt;}
.y7e{bottom:944.827200pt;}
.y7{bottom:947.467200pt;}
.y90{bottom:947.627200pt;}
.y2d{bottom:960.827200pt;}
.y6{bottom:968.667200pt;}
.y8f{bottom:968.827200pt;}
.y7d{bottom:973.947200pt;}
.y2c{bottom:981.947200pt;}
.y5{bottom:989.787200pt;}
.y54{bottom:989.947200pt;}
.y2b{bottom:1003.147200pt;}
.y4{bottom:1010.987200pt;}
.y53{bottom:1011.147200pt;}
.y3{bottom:1032.107200pt;}
.y2a{bottom:1032.267200pt;}
.y1{bottom:1054.827067pt;}
.h3{height:71.000000pt;}
.h4{height:73.281250pt;}
.h6{height:92.020833pt;}
.h2{height:97.830469pt;}
.h1{height:130.666667pt;}
.h5{height:176.974219pt;}
.h0{height:1122.666667pt;}
.w1{width:456.666667pt;}
.w0{width:793.626667pt;}
.x9{left:75.600000pt;}
.x6{left:99.999733pt;}
.x0{left:169.333333pt;}
.xa{left:326.666667pt;}
.x5{left:328.080000pt;}
.x8{left:354.880000pt;}
.x1{left:358.880000pt;}
.x3{left:396.800000pt;}
.x4{left:625.840000pt;}
.x2{left:677.280000pt;}
.x7{left:693.600000pt;}
}
