.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.871094;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.lsc{letter-spacing:-0.087840px;}
.ls32{letter-spacing:-0.083448px;}
.ls39{letter-spacing:-0.079056px;}
.ls16{letter-spacing:-0.070272px;}
.ls42{letter-spacing:-0.057096px;}
.lse{letter-spacing:-0.052704px;}
.ls25{letter-spacing:-0.048312px;}
.ls2f{letter-spacing:-0.043920px;}
.ls2a{letter-spacing:-0.039528px;}
.ls30{letter-spacing:-0.035136px;}
.ls2{letter-spacing:-0.033552px;}
.ls23{letter-spacing:-0.030744px;}
.ls22{letter-spacing:-0.026352px;}
.ls1b{letter-spacing:-0.021960px;}
.ls27{letter-spacing:-0.017568px;}
.ls0{letter-spacing:-0.016776px;}
.ls11{letter-spacing:-0.013176px;}
.ls1a{letter-spacing:-0.008784px;}
.ls33{letter-spacing:-0.004392px;}
.ls1{letter-spacing:0.000000px;}
.ls26{letter-spacing:0.004392px;}
.ls1c{letter-spacing:0.008784px;}
.ls14{letter-spacing:0.013176px;}
.ls17{letter-spacing:0.017568px;}
.ls18{letter-spacing:0.021960px;}
.ls12{letter-spacing:0.026352px;}
.ls20{letter-spacing:0.030744px;}
.ls3{letter-spacing:0.034776px;}
.ls1f{letter-spacing:0.035136px;}
.ls28{letter-spacing:0.039528px;}
.lsd{letter-spacing:0.043920px;}
.ls6{letter-spacing:0.046368px;}
.ls1d{letter-spacing:0.048312px;}
.ls7{letter-spacing:0.051960px;}
.ls1e{letter-spacing:0.052704px;}
.ls13{letter-spacing:0.057096px;}
.ls5{letter-spacing:0.057960px;}
.ls29{letter-spacing:0.061488px;}
.lsa{letter-spacing:0.065880px;}
.ls4{letter-spacing:0.069552px;}
.ls2d{letter-spacing:0.070272px;}
.ls2c{letter-spacing:0.074664px;}
.ls2e{letter-spacing:0.079056px;}
.lsb{letter-spacing:0.083448px;}
.ls19{letter-spacing:0.087840px;}
.ls34{letter-spacing:0.092232px;}
.ls24{letter-spacing:0.096624px;}
.ls15{letter-spacing:0.101016px;}
.ls8{letter-spacing:0.103920px;}
.ls40{letter-spacing:0.105408px;}
.ls21{letter-spacing:0.109800px;}
.ls2b{letter-spacing:0.114192px;}
.ls10{letter-spacing:0.118584px;}
.ls35{letter-spacing:0.136152px;}
.ls3b{letter-spacing:0.140544px;}
.ls3d{letter-spacing:0.144936px;}
.ls3f{letter-spacing:0.153720px;}
.ls41{letter-spacing:0.158112px;}
.ls45{letter-spacing:0.162504px;}
.ls3c{letter-spacing:0.184464px;}
.ls37{letter-spacing:0.197640px;}
.lsf{letter-spacing:0.206424px;}
.ls3a{letter-spacing:0.241560px;}
.ls3e{letter-spacing:0.267912px;}
.ls38{letter-spacing:0.285480px;}
.ls43{letter-spacing:0.320616px;}
.ls36{letter-spacing:0.338184px;}
.ls44{letter-spacing:0.342576px;}
.ls31{letter-spacing:0.360144px;}
.ls9{letter-spacing:566.071704px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws5{word-spacing:-0.013176px;}
.ws4{word-spacing:-0.008784px;}
.ws1{word-spacing:-0.004392px;}
.ws0{word-spacing:0.000000px;}
.ws3{word-spacing:0.228384px;}
.ws2{word-spacing:18.244368px;}
._1{margin-left:-18.226800px;}
._2{margin-left:-1.001376px;}
._0{width:1.049688px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:43.920000px;}
.fs0{font-size:55.920000px;}
.fs5{font-size:56.000000px;}
.fs1{font-size:60.000000px;}
.fs3{font-size:103.920000px;}
.fs2{font-size:115.920000px;}
.ye{bottom:16.000000px;}
.yd{bottom:39.839600px;}
.y46{bottom:75.000000px;}
.y55{bottom:75.245400px;}
.y45{bottom:88.029080px;}
.y28{bottom:107.087400px;}
.y44{bottom:113.228180px;}
.y27{bottom:132.528060px;}
.y43{bottom:138.668840px;}
.y42{bottom:154.084760px;}
.y26{bottom:157.309920px;}
.y41{bottom:169.500680px;}
.y25{bottom:182.509020px;}
.y40{bottom:194.996240px;}
.y24{bottom:207.949680px;}
.y3f{bottom:219.778100px;}
.y23{bottom:232.731540px;}
.y3e{bottom:244.318400px;}
.y22{bottom:257.930640px;}
.y3d{bottom:268.858700px;}
.y21{bottom:273.412440px;}
.y20{bottom:288.828360px;}
.y3c{bottom:293.399000px;}
.yc{bottom:296.100000px;}
.y1f{bottom:314.269020px;}
.y3b{bottom:317.939300px;}
.y54{bottom:323.404380px;}
.yb{bottom:328.320000px;}
.y53{bottom:338.820300px;}
.y1e{bottom:339.709680px;}
.y3a{bottom:342.479600px;}
.y52{bottom:354.236220px;}
.y1d{bottom:365.150340px;}
.y39{bottom:367.019900px;}
.y9{bottom:376.185000px;}
.ya{bottom:376.200000px;}
.y51{bottom:379.731780px;}
.y37{bottom:389.000000px;}
.y38{bottom:389.340000px;}
.y1c{bottom:389.932200px;}
.y50{bottom:405.172440px;}
.y36{bottom:405.183420px;}
.y1b{bottom:415.131300px;}
.y35{bottom:420.599340px;}
.y8{bottom:426.900000px;}
.y4f{bottom:430.613100px;}
.y34{bottom:436.015260px;}
.y1a{bottom:440.571960px;}
.y33{bottom:451.497060px;}
.y4e{bottom:456.053760px;}
.y19{bottom:466.012620px;}
.y7{bottom:471.300000px;}
.y32{bottom:476.937720px;}
.y4d{bottom:480.835620px;}
.y18{bottom:481.494420px;}
.y31{bottom:502.378380px;}
.y6{bottom:502.380000px;}
.y4c{bottom:506.034720px;}
.y17{bottom:506.935080px;}
.y30{bottom:527.819040px;}
.y0{bottom:529.000000px;}
.y5{bottom:529.380000px;}
.y4b{bottom:531.475380px;}
.y16{bottom:532.375740px;}
.y2f{bottom:553.259700px;}
.y4a{bottom:556.916040px;}
.y15{bottom:557.816400px;}
.y2e{bottom:578.041560px;}
.y49{bottom:582.356700px;}
.y14{bottom:583.257060px;}
.y2d{bottom:602.581860px;}
.y48{bottom:607.797360px;}
.y13{bottom:608.697720px;}
.y2c{bottom:627.780960px;}
.y47{bottom:633.238020px;}
.y12{bottom:633.479580px;}
.y4{bottom:643.680000px;}
.y2b{bottom:653.221620px;}
.y11{bottom:658.678680px;}
.y3{bottom:674.700000px;}
.y2a{bottom:678.662280px;}
.y10{bottom:684.119340px;}
.y29{bottom:694.144080px;}
.y2{bottom:705.780000px;}
.yf{bottom:709.560000px;}
.y1{bottom:742.740000px;}
.h6{height:29.272852px;}
.h9{height:30.430898px;}
.h7{height:37.270898px;}
.h2{height:38.226562px;}
.h3{height:39.990234px;}
.ha{height:54.127969px;}
.h8{height:69.015625px;}
.h5{height:71.039062px;}
.h4{height:79.242187px;}
.h1{height:98.000000px;}
.hc{height:233.500000px;}
.hb{height:331.000000px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w2{width:468.500000px;}
.w0{width:612.000000px;}
.x8{left:72.000000px;}
.xc{left:73.500000px;}
.xb{left:90.117000px;}
.x5{left:99.869640px;}
.x0{left:135.500000px;}
.x7{left:245.160000px;}
.xa{left:253.000000px;}
.x4{left:255.840000px;}
.x1{left:281.760000px;}
.x2{left:306.000000px;}
.x3{left:477.720000px;}
.x9{left:504.838860px;}
.x6{left:512.039900px;}
.xd{left:541.499900px;}
@media print{
.v0{vertical-align:0.000000pt;}
.lsc{letter-spacing:-0.117120pt;}
.ls32{letter-spacing:-0.111264pt;}
.ls39{letter-spacing:-0.105408pt;}
.ls16{letter-spacing:-0.093696pt;}
.ls42{letter-spacing:-0.076128pt;}
.lse{letter-spacing:-0.070272pt;}
.ls25{letter-spacing:-0.064416pt;}
.ls2f{letter-spacing:-0.058560pt;}
.ls2a{letter-spacing:-0.052704pt;}
.ls30{letter-spacing:-0.046848pt;}
.ls2{letter-spacing:-0.044736pt;}
.ls23{letter-spacing:-0.040992pt;}
.ls22{letter-spacing:-0.035136pt;}
.ls1b{letter-spacing:-0.029280pt;}
.ls27{letter-spacing:-0.023424pt;}
.ls0{letter-spacing:-0.022368pt;}
.ls11{letter-spacing:-0.017568pt;}
.ls1a{letter-spacing:-0.011712pt;}
.ls33{letter-spacing:-0.005856pt;}
.ls1{letter-spacing:0.000000pt;}
.ls26{letter-spacing:0.005856pt;}
.ls1c{letter-spacing:0.011712pt;}
.ls14{letter-spacing:0.017568pt;}
.ls17{letter-spacing:0.023424pt;}
.ls18{letter-spacing:0.029280pt;}
.ls12{letter-spacing:0.035136pt;}
.ls20{letter-spacing:0.040992pt;}
.ls3{letter-spacing:0.046368pt;}
.ls1f{letter-spacing:0.046848pt;}
.ls28{letter-spacing:0.052704pt;}
.lsd{letter-spacing:0.058560pt;}
.ls6{letter-spacing:0.061824pt;}
.ls1d{letter-spacing:0.064416pt;}
.ls7{letter-spacing:0.069280pt;}
.ls1e{letter-spacing:0.070272pt;}
.ls13{letter-spacing:0.076128pt;}
.ls5{letter-spacing:0.077280pt;}
.ls29{letter-spacing:0.081984pt;}
.lsa{letter-spacing:0.087840pt;}
.ls4{letter-spacing:0.092736pt;}
.ls2d{letter-spacing:0.093696pt;}
.ls2c{letter-spacing:0.099552pt;}
.ls2e{letter-spacing:0.105408pt;}
.lsb{letter-spacing:0.111264pt;}
.ls19{letter-spacing:0.117120pt;}
.ls34{letter-spacing:0.122976pt;}
.ls24{letter-spacing:0.128832pt;}
.ls15{letter-spacing:0.134688pt;}
.ls8{letter-spacing:0.138560pt;}
.ls40{letter-spacing:0.140544pt;}
.ls21{letter-spacing:0.146400pt;}
.ls2b{letter-spacing:0.152256pt;}
.ls10{letter-spacing:0.158112pt;}
.ls35{letter-spacing:0.181536pt;}
.ls3b{letter-spacing:0.187392pt;}
.ls3d{letter-spacing:0.193248pt;}
.ls3f{letter-spacing:0.204960pt;}
.ls41{letter-spacing:0.210816pt;}
.ls45{letter-spacing:0.216672pt;}
.ls3c{letter-spacing:0.245952pt;}
.ls37{letter-spacing:0.263520pt;}
.lsf{letter-spacing:0.275232pt;}
.ls3a{letter-spacing:0.322080pt;}
.ls3e{letter-spacing:0.357216pt;}
.ls38{letter-spacing:0.380640pt;}
.ls43{letter-spacing:0.427488pt;}
.ls36{letter-spacing:0.450912pt;}
.ls44{letter-spacing:0.456768pt;}
.ls31{letter-spacing:0.480192pt;}
.ls9{letter-spacing:754.762272pt;}
.ws5{word-spacing:-0.017568pt;}
.ws4{word-spacing:-0.011712pt;}
.ws1{word-spacing:-0.005856pt;}
.ws0{word-spacing:0.000000pt;}
.ws3{word-spacing:0.304512pt;}
.ws2{word-spacing:24.325824pt;}
._1{margin-left:-24.302400pt;}
._2{margin-left:-1.335168pt;}
._0{width:1.399584pt;}
.fs4{font-size:58.560000pt;}
.fs0{font-size:74.560000pt;}
.fs5{font-size:74.666667pt;}
.fs1{font-size:80.000000pt;}
.fs3{font-size:138.560000pt;}
.fs2{font-size:154.560000pt;}
.ye{bottom:21.333333pt;}
.yd{bottom:53.119467pt;}
.y46{bottom:100.000000pt;}
.y55{bottom:100.327200pt;}
.y45{bottom:117.372107pt;}
.y28{bottom:142.783200pt;}
.y44{bottom:150.970907pt;}
.y27{bottom:176.704080pt;}
.y43{bottom:184.891787pt;}
.y42{bottom:205.446347pt;}
.y26{bottom:209.746560pt;}
.y41{bottom:226.000907pt;}
.y25{bottom:243.345360pt;}
.y40{bottom:259.994987pt;}
.y24{bottom:277.266240pt;}
.y3f{bottom:293.037467pt;}
.y23{bottom:310.308720pt;}
.y3e{bottom:325.757867pt;}
.y22{bottom:343.907520pt;}
.y3d{bottom:358.478267pt;}
.y21{bottom:364.549920pt;}
.y20{bottom:385.104480pt;}
.y3c{bottom:391.198667pt;}
.yc{bottom:394.800000pt;}
.y1f{bottom:419.025360pt;}
.y3b{bottom:423.919067pt;}
.y54{bottom:431.205840pt;}
.yb{bottom:437.760000pt;}
.y53{bottom:451.760400pt;}
.y1e{bottom:452.946240pt;}
.y3a{bottom:456.639467pt;}
.y52{bottom:472.314960pt;}
.y1d{bottom:486.867120pt;}
.y39{bottom:489.359867pt;}
.y9{bottom:501.580000pt;}
.ya{bottom:501.600000pt;}
.y51{bottom:506.309040pt;}
.y37{bottom:518.666667pt;}
.y38{bottom:519.120000pt;}
.y1c{bottom:519.909600pt;}
.y50{bottom:540.229920pt;}
.y36{bottom:540.244560pt;}
.y1b{bottom:553.508400pt;}
.y35{bottom:560.799120pt;}
.y8{bottom:569.200000pt;}
.y4f{bottom:574.150800pt;}
.y34{bottom:581.353680pt;}
.y1a{bottom:587.429280pt;}
.y33{bottom:601.996080pt;}
.y4e{bottom:608.071680pt;}
.y19{bottom:621.350160pt;}
.y7{bottom:628.400000pt;}
.y32{bottom:635.916960pt;}
.y4d{bottom:641.114160pt;}
.y18{bottom:641.992560pt;}
.y31{bottom:669.837840pt;}
.y6{bottom:669.840000pt;}
.y4c{bottom:674.712960pt;}
.y17{bottom:675.913440pt;}
.y30{bottom:703.758720pt;}
.y0{bottom:705.333333pt;}
.y5{bottom:705.840000pt;}
.y4b{bottom:708.633840pt;}
.y16{bottom:709.834320pt;}
.y2f{bottom:737.679600pt;}
.y4a{bottom:742.554720pt;}
.y15{bottom:743.755200pt;}
.y2e{bottom:770.722080pt;}
.y49{bottom:776.475600pt;}
.y14{bottom:777.676080pt;}
.y2d{bottom:803.442480pt;}
.y48{bottom:810.396480pt;}
.y13{bottom:811.596960pt;}
.y2c{bottom:837.041280pt;}
.y47{bottom:844.317360pt;}
.y12{bottom:844.639440pt;}
.y4{bottom:858.240000pt;}
.y2b{bottom:870.962160pt;}
.y11{bottom:878.238240pt;}
.y3{bottom:899.600000pt;}
.y2a{bottom:904.883040pt;}
.y10{bottom:912.159120pt;}
.y29{bottom:925.525440pt;}
.y2{bottom:941.040000pt;}
.yf{bottom:946.080000pt;}
.y1{bottom:990.320000pt;}
.h6{height:39.030469pt;}
.h9{height:40.574531pt;}
.h7{height:49.694531pt;}
.h2{height:50.968750pt;}
.h3{height:53.320312pt;}
.ha{height:72.170625pt;}
.h8{height:92.020833pt;}
.h5{height:94.718750pt;}
.h4{height:105.656250pt;}
.h1{height:130.666667pt;}
.hc{height:311.333333pt;}
.hb{height:441.333333pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w2{width:624.666667pt;}
.w0{width:816.000000pt;}
.x8{left:96.000000pt;}
.xc{left:98.000000pt;}
.xb{left:120.156000pt;}
.x5{left:133.159520pt;}
.x0{left:180.666667pt;}
.x7{left:326.880000pt;}
.xa{left:337.333333pt;}
.x4{left:341.120000pt;}
.x1{left:375.680000pt;}
.x2{left:408.000000pt;}
.x3{left:636.960000pt;}
.x9{left:673.118480pt;}
.x6{left:682.719867pt;}
.xd{left:721.999867pt;}
}
