.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250274,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250274,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250274,0.000000,0.000000,0.250000,0,0);}
.m2{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls6{letter-spacing:-5.184000px;}
.ls3{letter-spacing:-1.536000px;}
.ls4{letter-spacing:-1.200000px;}
.ls2{letter-spacing:-0.864000px;}
.ls0{letter-spacing:-0.191520px;}
.ls1{letter-spacing:0.000000px;}
.ls7{letter-spacing:0.864000px;}
.ls5{letter-spacing:3.984000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-3.795788px;}
._1{margin-left:-1.202110px;}
._0{width:1.042227px;}
._2{width:2.087294px;}
._4{width:4.507557px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:48.000000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:63.840000px;}
.fs3{font-size:68.160000px;}
.fs2{font-size:75.840000px;}
.y1{bottom:0.000000px;}
.ye{bottom:15.940000px;}
.y3{bottom:39.117700px;}
.yb3{bottom:74.997600px;}
.ye0{bottom:79.317400px;}
.yf7{bottom:81.117700px;}
.yd0{bottom:86.757900px;}
.y87{bottom:86.997600px;}
.y2f{bottom:88.437600px;}
.y91{bottom:94.317400px;}
.y67{bottom:94.677800px;}
.yf6{bottom:94.917500px;}
.y86{bottom:100.797400px;}
.yb2{bottom:101.277400px;}
.y4e{bottom:101.757900px;}
.y2e{bottom:102.237900px;}
.ydf{bottom:107.397500px;}
.yf5{bottom:108.717800px;}
.y66{bottom:114.237900px;}
.y85{bottom:114.597700px;}
.yb1{bottom:115.077700px;}
.y2d{bottom:121.437600px;}
.y90{bottom:122.037700px;}
.yde{bottom:126.957600px;}
.y65{bottom:128.037700px;}
.yb0{bottom:128.877500px;}
.y4d{bottom:129.477600px;}
.y84{bottom:133.917500px;}
.ycf{bottom:134.397500px;}
.y2c{bottom:141.237900px;}
.y64{bottom:141.837500px;}
.yaf{bottom:142.677800px;}
.ydd{bottom:146.517600px;}
.yce{bottom:148.197800px;}
.y4c{bottom:149.277400px;}
.y8f{bottom:149.877500px;}
.yf4{bottom:154.317400px;}
.y2b{bottom:155.037700px;}
.y63{bottom:155.637800px;}
.yae{bottom:156.477600px;}
.ydc{bottom:160.317400px;}
.y83{bottom:161.757900px;}
.yf3{bottom:168.117700px;}
.y8e{bottom:169.437600px;}
.yad{bottom:170.277400px;}
.ycd{bottom:175.917500px;}
.y4b{bottom:177.117700px;}
.ydb{bottom:179.877500px;}
.y82{bottom:181.437600px;}
.yf2{bottom:181.917500px;}
.y2a{bottom:182.877500px;}
.y62{bottom:183.237900px;}
.yac{bottom:184.077700px;}
.yf1{bottom:195.717800px;}
.y29{bottom:196.677800px;}
.yab{bottom:197.877500px;}
.yda{bottom:199.317400px;}
.ycc{bottom:203.757900px;}
.y4a{bottom:204.837500px;}
.y81{bottom:209.277400px;}
.y61{bottom:209.517600px;}
.y8d{bottom:210.837500px;}
.yaa{bottom:211.677800px;}
.yd9{bottom:218.877500px;}
.y60{bottom:223.317400px;}
.y28{bottom:224.517600px;}
.ya9{bottom:225.477600px;}
.y49{bottom:232.677800px;}
.y5f{bottom:237.117700px;}
.y27{bottom:238.197800px;}
.yd8{bottom:238.437600px;}
.ya8{bottom:239.277400px;}
.y5e{bottom:250.917500px;}
.y48{bottom:252.237900px;}
.ya7{bottom:253.077700px;}
.y5d{bottom:264.717800px;}
.y80{bottom:264.957600px;}
.y26{bottom:266.037700px;}
.ya6{bottom:266.877500px;}
.y5c{bottom:278.517600px;}
.y47{bottom:279.837500px;}
.ya5{bottom:280.557700px;}
.y7f{bottom:284.397500px;}
.y25{bottom:285.597700px;}
.y5b{bottom:292.317400px;}
.ya4{bottom:299.877500px;}
.ycb{bottom:304.797400px;}
.y46{bottom:306.117700px;}
.yf0{bottom:311.637800px;}
.y7e{bottom:311.997600px;}
.y24{bottom:313.197800px;}
.yca{bottom:318.597700px;}
.y45{bottom:319.917500px;}
.ya3{bottom:327.717800px;}
.yc9{bottom:332.397500px;}
.y44{bottom:333.717800px;}
.y7d{bottom:338.277400px;}
.y23{bottom:339.477600px;}
.yc8{bottom:346.197800px;}
.y43{bottom:347.517600px;}
.yd{bottom:349.797400px;}
.y7c{bottom:352.077700px;}
.y22{bottom:353.277400px;}
.yef{bottom:359.157800px;}
.yc7{bottom:359.997600px;}
.y42{bottom:361.317400px;}
.y7b{bottom:365.877500px;}
.y5a{bottom:366.837500px;}
.y21{bottom:367.077700px;}
.yc6{bottom:373.797400px;}
.y41{bottom:375.117700px;}
.y7a{bottom:379.677800px;}
.yc{bottom:380.397500px;}
.y20{bottom:380.877500px;}
.yee{bottom:386.997600px;}
.yc5{bottom:387.597700px;}
.y40{bottom:388.917500px;}
.ya2{bottom:389.157800px;}
.y79{bottom:393.477600px;}
.y59{bottom:394.557700px;}
.y1f{bottom:394.677800px;}
.yc4{bottom:401.397500px;}
.y3f{bottom:402.717800px;}
.ya1{bottom:402.837500px;}
.y78{bottom:407.277400px;}
.yb{bottom:407.877500px;}
.y8c{bottom:408.237900px;}
.y1e{bottom:408.477600px;}
.y58{bottom:414.357500px;}
.yed{bottom:414.837500px;}
.yc3{bottom:415.197800px;}
.y3e{bottom:416.517600px;}
.y77{bottom:421.077700px;}
.yd7{bottom:422.037700px;}
.y1d{bottom:422.277400px;}
.y57{bottom:428.157800px;}
.yc2{bottom:428.997600px;}
.ya0{bottom:430.677800px;}
.y76{bottom:434.877500px;}
.y3d{bottom:435.837500px;}
.y8b{bottom:435.957600px;}
.y1c{bottom:436.077700px;}
.ya{bottom:441.957600px;}
.yec{bottom:442.557700px;}
.yc1{bottom:442.797400px;}
.y75{bottom:448.677800px;}
.yd6{bottom:449.757400px;}
.y1b{bottom:449.877500px;}
.y8a{bottom:455.757400px;}
.y56{bottom:455.997600px;}
.yc0{bottom:456.597700px;}
.y9f{bottom:458.517600px;}
.yeb{bottom:462.117700px;}
.y74{bottom:462.477600px;}
.y3c{bottom:463.557700px;}
.y1a{bottom:463.677800px;}
.yd5{bottom:469.557700px;}
.y55{bottom:469.797400px;}
.ybf{bottom:470.397500px;}
.yea{bottom:475.917500px;}
.y9{bottom:476.037700px;}
.y73{bottom:476.277400px;}
.y19{bottom:477.477600px;}
.y9e{bottom:478.077700px;}
.y3b{bottom:483.357500px;}
.y89{bottom:483.597700px;}
.ybe{bottom:484.197800px;}
.ye9{bottom:489.717800px;}
.y72{bottom:490.077700px;}
.y18{bottom:491.277400px;}
.y9d{bottom:491.877500px;}
.yd4{bottom:497.397500px;}
.y54{bottom:497.637800px;}
.ybd{bottom:497.997600px;}
.y71{bottom:503.877500px;}
.y17{bottom:505.077700px;}
.y9c{bottom:505.677800px;}
.y0{bottom:506.000000px;}
.y8{bottom:506.157800px;}
.y3a{bottom:511.197800px;}
.y53{bottom:511.317400px;}
.ybc{bottom:511.797400px;}
.ye8{bottom:517.317400px;}
.y70{bottom:517.677800px;}
.y16{bottom:524.277400px;}
.yd3{bottom:525.117700px;}
.ybb{bottom:525.597700px;}
.y6f{bottom:531.477600px;}
.y9b{bottom:533.277400px;}
.y39{bottom:538.917500px;}
.y52{bottom:539.157800px;}
.yba{bottom:539.397500px;}
.ye7{bottom:543.597700px;}
.y6e{bottom:545.277400px;}
.y15{bottom:552.117700px;}
.y51{bottom:552.957600px;}
.ye6{bottom:557.397500px;}
.yb9{bottom:558.597700px;}
.y88{bottom:558.717800px;}
.y9a{bottom:559.557700px;}
.y6d{bottom:564.597700px;}
.y38{bottom:566.757400px;}
.ye5{bottom:571.197800px;}
.y14{bottom:571.917500px;}
.y50{bottom:572.517600px;}
.y99{bottom:573.357500px;}
.y37{bottom:580.557700px;}
.ye4{bottom:584.997600px;}
.y4f{bottom:586.317400px;}
.yb8{bottom:586.437600px;}
.y98{bottom:587.157800px;}
.y6c{bottom:592.437600px;}
.ye3{bottom:598.797400px;}
.y13{bottom:599.757400px;}
.y36{bottom:600.117700px;}
.y97{bottom:600.957600px;}
.yb7{bottom:606.237900px;}
.y6b{bottom:612.237900px;}
.ye2{bottom:612.597700px;}
.yd2{bottom:613.917500px;}
.y96{bottom:614.757400px;}
.y7{bottom:618.477600px;}
.y6a{bottom:625.917500px;}
.ye1{bottom:626.397500px;}
.y12{bottom:627.477600px;}
.y35{bottom:627.717800px;}
.y95{bottom:628.557700px;}
.yb6{bottom:633.957600px;}
.yd1{bottom:640.197800px;}
.y94{bottom:642.237900px;}
.y6{bottom:644.517600px;}
.y69{bottom:653.757400px;}
.y34{bottom:653.997600px;}
.y11{bottom:655.317400px;}
.y93{bottom:661.557700px;}
.yb5{bottom:661.797400px;}
.y68{bottom:667.557700px;}
.y33{bottom:667.797400px;}
.y5{bottom:670.557700px;}
.y10{bottom:674.877500px;}
.y32{bottom:681.597700px;}
.y92{bottom:689.397500px;}
.yb4{bottom:689.637800px;}
.y31{bottom:695.397500px;}
.y4{bottom:696.717800px;}
.yf{bottom:702.357500px;}
.y30{bottom:709.197800px;}
.y2{bottom:741.117700px;}
.h4{height:53.250000px;}
.h5{height:54.960938px;}
.h8{height:69.015625px;}
.h3{height:73.098047px;}
.h7{height:78.044531px;}
.h6{height:86.838281px;}
.h1{height:98.000000px;}
.h2{height:791.998000px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x1{left:0.000000px;}
.xa{left:90.098800px;}
.x7{left:91.780600px;}
.x0{left:135.000000px;}
.x9{left:253.000000px;}
.x8{left:265.130600px;}
.x6{left:270.416400px;}
.x2{left:276.062600px;}
.x4{left:306.335800px;}
.x5{left:477.523500px;}
.x3{left:517.527300px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls6{letter-spacing:-6.912000pt;}
.ls3{letter-spacing:-2.048000pt;}
.ls4{letter-spacing:-1.600000pt;}
.ls2{letter-spacing:-1.152000pt;}
.ls0{letter-spacing:-0.255360pt;}
.ls1{letter-spacing:0.000000pt;}
.ls7{letter-spacing:1.152000pt;}
.ls5{letter-spacing:5.312000pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-5.061050pt;}
._1{margin-left:-1.602813pt;}
._0{width:1.389636pt;}
._2{width:2.783059pt;}
._4{width:6.010076pt;}
.fs1{font-size:64.000000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.120000pt;}
.fs3{font-size:90.880000pt;}
.fs2{font-size:101.120000pt;}
.y1{bottom:0.000000pt;}
.ye{bottom:21.253333pt;}
.y3{bottom:52.156933pt;}
.yb3{bottom:99.996800pt;}
.ye0{bottom:105.756533pt;}
.yf7{bottom:108.156933pt;}
.yd0{bottom:115.677200pt;}
.y87{bottom:115.996800pt;}
.y2f{bottom:117.916800pt;}
.y91{bottom:125.756533pt;}
.y67{bottom:126.237067pt;}
.yf6{bottom:126.556667pt;}
.y86{bottom:134.396533pt;}
.yb2{bottom:135.036533pt;}
.y4e{bottom:135.677200pt;}
.y2e{bottom:136.317200pt;}
.ydf{bottom:143.196667pt;}
.yf5{bottom:144.957067pt;}
.y66{bottom:152.317200pt;}
.y85{bottom:152.796933pt;}
.yb1{bottom:153.436933pt;}
.y2d{bottom:161.916800pt;}
.y90{bottom:162.716933pt;}
.yde{bottom:169.276800pt;}
.y65{bottom:170.716933pt;}
.yb0{bottom:171.836667pt;}
.y4d{bottom:172.636800pt;}
.y84{bottom:178.556667pt;}
.ycf{bottom:179.196667pt;}
.y2c{bottom:188.317200pt;}
.y64{bottom:189.116667pt;}
.yaf{bottom:190.237067pt;}
.ydd{bottom:195.356800pt;}
.yce{bottom:197.597067pt;}
.y4c{bottom:199.036533pt;}
.y8f{bottom:199.836667pt;}
.yf4{bottom:205.756533pt;}
.y2b{bottom:206.716933pt;}
.y63{bottom:207.517067pt;}
.yae{bottom:208.636800pt;}
.ydc{bottom:213.756533pt;}
.y83{bottom:215.677200pt;}
.yf3{bottom:224.156933pt;}
.y8e{bottom:225.916800pt;}
.yad{bottom:227.036533pt;}
.ycd{bottom:234.556667pt;}
.y4b{bottom:236.156933pt;}
.ydb{bottom:239.836667pt;}
.y82{bottom:241.916800pt;}
.yf2{bottom:242.556667pt;}
.y2a{bottom:243.836667pt;}
.y62{bottom:244.317200pt;}
.yac{bottom:245.436933pt;}
.yf1{bottom:260.957067pt;}
.y29{bottom:262.237067pt;}
.yab{bottom:263.836667pt;}
.yda{bottom:265.756533pt;}
.ycc{bottom:271.677200pt;}
.y4a{bottom:273.116667pt;}
.y81{bottom:279.036533pt;}
.y61{bottom:279.356800pt;}
.y8d{bottom:281.116667pt;}
.yaa{bottom:282.237067pt;}
.yd9{bottom:291.836667pt;}
.y60{bottom:297.756533pt;}
.y28{bottom:299.356800pt;}
.ya9{bottom:300.636800pt;}
.y49{bottom:310.237067pt;}
.y5f{bottom:316.156933pt;}
.y27{bottom:317.597067pt;}
.yd8{bottom:317.916800pt;}
.ya8{bottom:319.036533pt;}
.y5e{bottom:334.556667pt;}
.y48{bottom:336.317200pt;}
.ya7{bottom:337.436933pt;}
.y5d{bottom:352.957067pt;}
.y80{bottom:353.276800pt;}
.y26{bottom:354.716933pt;}
.ya6{bottom:355.836667pt;}
.y5c{bottom:371.356800pt;}
.y47{bottom:373.116667pt;}
.ya5{bottom:374.076933pt;}
.y7f{bottom:379.196667pt;}
.y25{bottom:380.796933pt;}
.y5b{bottom:389.756533pt;}
.ya4{bottom:399.836667pt;}
.ycb{bottom:406.396533pt;}
.y46{bottom:408.156933pt;}
.yf0{bottom:415.517067pt;}
.y7e{bottom:415.996800pt;}
.y24{bottom:417.597067pt;}
.yca{bottom:424.796933pt;}
.y45{bottom:426.556667pt;}
.ya3{bottom:436.957067pt;}
.yc9{bottom:443.196667pt;}
.y44{bottom:444.957067pt;}
.y7d{bottom:451.036533pt;}
.y23{bottom:452.636800pt;}
.yc8{bottom:461.597067pt;}
.y43{bottom:463.356800pt;}
.yd{bottom:466.396533pt;}
.y7c{bottom:469.436933pt;}
.y22{bottom:471.036533pt;}
.yef{bottom:478.877067pt;}
.yc7{bottom:479.996800pt;}
.y42{bottom:481.756533pt;}
.y7b{bottom:487.836667pt;}
.y5a{bottom:489.116667pt;}
.y21{bottom:489.436933pt;}
.yc6{bottom:498.396533pt;}
.y41{bottom:500.156933pt;}
.y7a{bottom:506.237067pt;}
.yc{bottom:507.196667pt;}
.y20{bottom:507.836667pt;}
.yee{bottom:515.996800pt;}
.yc5{bottom:516.796933pt;}
.y40{bottom:518.556667pt;}
.ya2{bottom:518.877067pt;}
.y79{bottom:524.636800pt;}
.y59{bottom:526.076933pt;}
.y1f{bottom:526.237067pt;}
.yc4{bottom:535.196667pt;}
.y3f{bottom:536.957067pt;}
.ya1{bottom:537.116667pt;}
.y78{bottom:543.036533pt;}
.yb{bottom:543.836667pt;}
.y8c{bottom:544.317200pt;}
.y1e{bottom:544.636800pt;}
.y58{bottom:552.476667pt;}
.yed{bottom:553.116667pt;}
.yc3{bottom:553.597067pt;}
.y3e{bottom:555.356800pt;}
.y77{bottom:561.436933pt;}
.yd7{bottom:562.716933pt;}
.y1d{bottom:563.036533pt;}
.y57{bottom:570.877067pt;}
.yc2{bottom:571.996800pt;}
.ya0{bottom:574.237067pt;}
.y76{bottom:579.836667pt;}
.y3d{bottom:581.116667pt;}
.y8b{bottom:581.276800pt;}
.y1c{bottom:581.436933pt;}
.ya{bottom:589.276800pt;}
.yec{bottom:590.076933pt;}
.yc1{bottom:590.396533pt;}
.y75{bottom:598.237067pt;}
.yd6{bottom:599.676533pt;}
.y1b{bottom:599.836667pt;}
.y8a{bottom:607.676533pt;}
.y56{bottom:607.996800pt;}
.yc0{bottom:608.796933pt;}
.y9f{bottom:611.356800pt;}
.yeb{bottom:616.156933pt;}
.y74{bottom:616.636800pt;}
.y3c{bottom:618.076933pt;}
.y1a{bottom:618.237067pt;}
.yd5{bottom:626.076933pt;}
.y55{bottom:626.396533pt;}
.ybf{bottom:627.196667pt;}
.yea{bottom:634.556667pt;}
.y9{bottom:634.716933pt;}
.y73{bottom:635.036533pt;}
.y19{bottom:636.636800pt;}
.y9e{bottom:637.436933pt;}
.y3b{bottom:644.476667pt;}
.y89{bottom:644.796933pt;}
.ybe{bottom:645.597067pt;}
.ye9{bottom:652.957067pt;}
.y72{bottom:653.436933pt;}
.y18{bottom:655.036533pt;}
.y9d{bottom:655.836667pt;}
.yd4{bottom:663.196667pt;}
.y54{bottom:663.517067pt;}
.ybd{bottom:663.996800pt;}
.y71{bottom:671.836667pt;}
.y17{bottom:673.436933pt;}
.y9c{bottom:674.237067pt;}
.y0{bottom:674.666667pt;}
.y8{bottom:674.877067pt;}
.y3a{bottom:681.597067pt;}
.y53{bottom:681.756533pt;}
.ybc{bottom:682.396533pt;}
.ye8{bottom:689.756533pt;}
.y70{bottom:690.237067pt;}
.y16{bottom:699.036533pt;}
.yd3{bottom:700.156933pt;}
.ybb{bottom:700.796933pt;}
.y6f{bottom:708.636800pt;}
.y9b{bottom:711.036533pt;}
.y39{bottom:718.556667pt;}
.y52{bottom:718.877067pt;}
.yba{bottom:719.196667pt;}
.ye7{bottom:724.796933pt;}
.y6e{bottom:727.036533pt;}
.y15{bottom:736.156933pt;}
.y51{bottom:737.276800pt;}
.ye6{bottom:743.196667pt;}
.yb9{bottom:744.796933pt;}
.y88{bottom:744.957067pt;}
.y9a{bottom:746.076933pt;}
.y6d{bottom:752.796933pt;}
.y38{bottom:755.676533pt;}
.ye5{bottom:761.597067pt;}
.y14{bottom:762.556667pt;}
.y50{bottom:763.356800pt;}
.y99{bottom:764.476667pt;}
.y37{bottom:774.076933pt;}
.ye4{bottom:779.996800pt;}
.y4f{bottom:781.756533pt;}
.yb8{bottom:781.916800pt;}
.y98{bottom:782.877067pt;}
.y6c{bottom:789.916800pt;}
.ye3{bottom:798.396533pt;}
.y13{bottom:799.676533pt;}
.y36{bottom:800.156933pt;}
.y97{bottom:801.276800pt;}
.yb7{bottom:808.317200pt;}
.y6b{bottom:816.317200pt;}
.ye2{bottom:816.796933pt;}
.yd2{bottom:818.556667pt;}
.y96{bottom:819.676533pt;}
.y7{bottom:824.636800pt;}
.y6a{bottom:834.556667pt;}
.ye1{bottom:835.196667pt;}
.y12{bottom:836.636800pt;}
.y35{bottom:836.957067pt;}
.y95{bottom:838.076933pt;}
.yb6{bottom:845.276800pt;}
.yd1{bottom:853.597067pt;}
.y94{bottom:856.317200pt;}
.y6{bottom:859.356800pt;}
.y69{bottom:871.676533pt;}
.y34{bottom:871.996800pt;}
.y11{bottom:873.756533pt;}
.y93{bottom:882.076933pt;}
.yb5{bottom:882.396533pt;}
.y68{bottom:890.076933pt;}
.y33{bottom:890.396533pt;}
.y5{bottom:894.076933pt;}
.y10{bottom:899.836667pt;}
.y32{bottom:908.796933pt;}
.y92{bottom:919.196667pt;}
.yb4{bottom:919.517067pt;}
.y31{bottom:927.196667pt;}
.y4{bottom:928.957067pt;}
.yf{bottom:936.476667pt;}
.y30{bottom:945.597067pt;}
.y2{bottom:988.156933pt;}
.h4{height:71.000000pt;}
.h5{height:73.281250pt;}
.h8{height:92.020833pt;}
.h3{height:97.464063pt;}
.h7{height:104.059375pt;}
.h6{height:115.784375pt;}
.h1{height:130.666667pt;}
.h2{height:1055.997333pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x1{left:0.000000pt;}
.xa{left:120.131733pt;}
.x7{left:122.374133pt;}
.x0{left:180.000000pt;}
.x9{left:337.333333pt;}
.x8{left:353.507467pt;}
.x6{left:360.555200pt;}
.x2{left:368.083467pt;}
.x4{left:408.447733pt;}
.x5{left:636.698000pt;}
.x3{left:690.036400pt;}
}
