.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(33,78,123);}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:48.000000px;}
.fs2{font-size:56.000000px;}
.fs1{font-size:60.000000px;}
.fs0{font-size:80.000000px;}
.y6{bottom:17.000000px;}
.y35{bottom:22.000000px;}
.y7{bottom:35.500000px;}
.y9a{bottom:56.000000px;}
.y33{bottom:58.000000px;}
.y60{bottom:60.000000px;}
.y85{bottom:64.000000px;}
.yb5{bottom:66.000000px;}
.y32{bottom:70.000000px;}
.ydd{bottom:72.000000px;}
.y99{bottom:74.000000px;}
.y5f{bottom:78.000000px;}
.y31{bottom:82.000000px;}
.yad{bottom:84.000000px;}
.ydc{bottom:88.000000px;}
.y98{bottom:92.000000px;}
.y5e{bottom:96.000000px;}
.y30{bottom:98.000000px;}
.y84{bottom:100.000000px;}
.yac{bottom:102.000000px;}
.yc5{bottom:104.000000px;}
.y2f{bottom:110.000000px;}
.ye8{bottom:112.000000px;}
.y5d{bottom:114.000000px;}
.y83{bottom:118.000000px;}
.yab{bottom:120.000000px;}
.yc4{bottom:122.000000px;}
.ye7{bottom:124.000000px;}
.y2e{bottom:128.000000px;}
.y5c{bottom:132.000000px;}
.y82{bottom:136.000000px;}
.yaa{bottom:138.000000px;}
.yc3{bottom:140.000000px;}
.ye6{bottom:142.000000px;}
.ydb{bottom:144.000000px;}
.y97{bottom:146.000000px;}
.y2d{bottom:148.000000px;}
.y5b{bottom:150.000000px;}
.y81{bottom:154.000000px;}
.ya9{bottom:156.000000px;}
.yc2{bottom:158.000000px;}
.yda{bottom:160.000000px;}
.ye5{bottom:162.000000px;}
.y96{bottom:164.000000px;}
.y2c{bottom:166.000000px;}
.y5a{bottom:168.000000px;}
.yd9{bottom:172.000000px;}
.ya8{bottom:174.000000px;}
.yc1{bottom:176.000000px;}
.ye4{bottom:180.000000px;}
.y80{bottom:182.000000px;}
.y2b{bottom:184.000000px;}
.y59{bottom:186.000000px;}
.yd8{bottom:190.000000px;}
.ya7{bottom:192.000000px;}
.yc0{bottom:194.000000px;}
.y7f{bottom:198.000000px;}
.y95{bottom:200.000000px;}
.y2a{bottom:202.000000px;}
.y58{bottom:204.000000px;}
.ya6{bottom:210.000000px;}
.ybf{bottom:212.000000px;}
.y7e{bottom:214.000000px;}
.y57{bottom:216.000000px;}
.y94{bottom:218.000000px;}
.y29{bottom:220.000000px;}
.ya5{bottom:228.000000px;}
.y7d{bottom:230.000000px;}
.y56{bottom:232.000000px;}
.ye3{bottom:234.000000px;}
.y93{bottom:236.000000px;}
.y28{bottom:238.000000px;}
.yb4{bottom:240.000000px;}
.y7c{bottom:246.000000px;}
.y55{bottom:248.000000px;}
.y92{bottom:254.000000px;}
.y27{bottom:256.000000px;}
.y7b{bottom:258.000000px;}
.ye2{bottom:262.000000px;}
.y54{bottom:264.000000px;}
.ybe{bottom:266.000000px;}
.y7a{bottom:270.000000px;}
.y91{bottom:272.000000px;}
.y26{bottom:274.000000px;}
.ye1{bottom:278.000000px;}
.y53{bottom:280.000000px;}
.ya4{bottom:282.000000px;}
.ybd{bottom:284.000000px;}
.y79{bottom:286.000000px;}
.yb3{bottom:288.000000px;}
.y90{bottom:290.000000px;}
.y25{bottom:292.000000px;}
.yd7{bottom:294.000000px;}
.y78{bottom:298.000000px;}
.ya3{bottom:300.000000px;}
.y8f{bottom:302.000000px;}
.y52{bottom:304.000000px;}
.y24{bottom:310.000000px;}
.y77{bottom:316.000000px;}
.y8e{bottom:318.000000px;}
.y51{bottom:320.000000px;}
.yd6{bottom:326.000000px;}
.y23{bottom:328.000000px;}
.y50{bottom:332.000000px;}
.y8d{bottom:334.000000px;}
.y76{bottom:336.000000px;}
.ybc{bottom:338.000000px;}
.y5{bottom:338.500000px;}
.yd5{bottom:342.000000px;}
.yb2{bottom:344.000000px;}
.y22{bottom:346.000000px;}
.y4f{bottom:348.000000px;}
.y8c{bottom:350.000000px;}
.y75{bottom:354.000000px;}
.ybb{bottom:356.000000px;}
.yd4{bottom:358.000000px;}
.y4e{bottom:360.000000px;}
.y4{bottom:361.000000px;}
.y21{bottom:364.000000px;}
.y8b{bottom:366.000000px;}
.ye0{bottom:370.000000px;}
.y74{bottom:372.000000px;}
.yba{bottom:374.000000px;}
.y4d{bottom:376.000000px;}
.y20{bottom:382.000000px;}
.y4c{bottom:388.000000px;}
.y73{bottom:390.000000px;}
.y3{bottom:391.000000px;}
.yb9{bottom:392.000000px;}
.y8a{bottom:394.000000px;}
.ydf{bottom:398.000000px;}
.y1f{bottom:400.000000px;}
.y89{bottom:406.000000px;}
.y72{bottom:408.000000px;}
.yb1{bottom:410.000000px;}
.yde{bottom:414.000000px;}
.y4b{bottom:416.000000px;}
.y1e{bottom:418.000000px;}
.y88{bottom:422.000000px;}
.y71{bottom:426.000000px;}
.yb0{bottom:428.000000px;}
.yd3{bottom:430.000000px;}
.y4a{bottom:432.000000px;}
.y87{bottom:434.000000px;}
.y1d{bottom:436.000000px;}
.y49{bottom:444.000000px;}
.yaf{bottom:446.000000px;}
.y86{bottom:450.000000px;}
.y1c{bottom:454.000000px;}
.y48{bottom:462.000000px;}
.yae{bottom:464.000000px;}
.y0{bottom:470.500000px;}
.y1b{bottom:472.000000px;}
.yd2{bottom:474.000000px;}
.y70{bottom:480.000000px;}
.y47{bottom:482.000000px;}
.y1a{bottom:490.000000px;}
.yd1{bottom:492.000000px;}
.y6f{bottom:498.000000px;}
.y46{bottom:500.000000px;}
.y19{bottom:508.000000px;}
.ya2{bottom:510.000000px;}
.yd0{bottom:512.000000px;}
.y6e{bottom:516.000000px;}
.y45{bottom:518.000000px;}
.y18{bottom:526.000000px;}
.y6d{bottom:528.000000px;}
.ycf{bottom:530.000000px;}
.y44{bottom:536.000000px;}
.ya1{bottom:542.000000px;}
.y17{bottom:544.000000px;}
.yce{bottom:548.000000px;}
.y43{bottom:554.000000px;}
.ya0{bottom:558.000000px;}
.y6c{bottom:560.000000px;}
.y16{bottom:562.000000px;}
.ycd{bottom:566.000000px;}
.y42{bottom:572.000000px;}
.y9f{bottom:574.000000px;}
.y6b{bottom:576.000000px;}
.y15{bottom:580.000000px;}
.yb8{bottom:584.000000px;}
.y41{bottom:590.000000px;}
.y14{bottom:592.000000px;}
.yb7{bottom:600.000000px;}
.y9e{bottom:602.000000px;}
.y6a{bottom:604.000000px;}
.y13{bottom:608.000000px;}
.y9d{bottom:614.000000px;}
.y69{bottom:616.000000px;}
.ycc{bottom:620.000000px;}
.y12{bottom:624.000000px;}
.y40{bottom:626.000000px;}
.y9c{bottom:630.000000px;}
.y68{bottom:632.000000px;}
.y2{bottom:636.000000px;}
.ycb{bottom:638.000000px;}
.y11{bottom:640.000000px;}
.y9b{bottom:642.000000px;}
.y3f{bottom:644.000000px;}
.y67{bottom:648.000000px;}
.y10{bottom:656.000000px;}
.y66{bottom:660.000000px;}
.y3e{bottom:662.000000px;}
.yf{bottom:672.000000px;}
.yca{bottom:674.000000px;}
.y65{bottom:678.000000px;}
.y3d{bottom:680.000000px;}
.yc9{bottom:686.000000px;}
.ye{bottom:688.000000px;}
.y3c{bottom:698.000000px;}
.yc8{bottom:702.000000px;}
.yd{bottom:704.000000px;}
.y3b{bottom:710.000000px;}
.y64{bottom:716.000000px;}
.yc7{bottom:718.000000px;}
.yc{bottom:720.000000px;}
.y3a{bottom:726.000000px;}
.yb{bottom:732.000000px;}
.y63{bottom:734.000000px;}
.y39{bottom:742.000000px;}
.ya{bottom:744.000000px;}
.yb6{bottom:750.000000px;}
.y62{bottom:752.000000px;}
.y38{bottom:758.000000px;}
.y9{bottom:760.000000px;}
.yc6{bottom:762.000000px;}
.y61{bottom:770.000000px;}
.y37{bottom:774.000000px;}
.y1{bottom:776.000000px;}
.y8{bottom:788.000000px;}
.y36{bottom:790.000000px;}
.y34{bottom:808.000000px;}
.h6{height:56.367840px;}
.h7{height:59.156250px;}
.h4{height:69.015625px;}
.h3{height:70.459800px;}
.h2{height:93.946400px;}
.h1{height:150.500000px;}
.h5{height:770.500000px;}
.h0{height:842.000000px;}
.w1{width:450.500000px;}
.w2{width:523.500000px;}
.w0{width:595.000000px;}
.x1{left:36.000000px;}
.x0{left:72.500000px;}
.x2{left:126.350000px;}
.x5{left:239.480000px;}
.x4{left:245.000000px;}
.x3{left:254.980000px;}
.x7{left:543.660000px;}
.x6{left:550.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs3{font-size:64.000000pt;}
.fs2{font-size:74.666667pt;}
.fs1{font-size:80.000000pt;}
.fs0{font-size:106.666667pt;}
.y6{bottom:22.666667pt;}
.y35{bottom:29.333333pt;}
.y7{bottom:47.333333pt;}
.y9a{bottom:74.666667pt;}
.y33{bottom:77.333333pt;}
.y60{bottom:80.000000pt;}
.y85{bottom:85.333333pt;}
.yb5{bottom:88.000000pt;}
.y32{bottom:93.333333pt;}
.ydd{bottom:96.000000pt;}
.y99{bottom:98.666667pt;}
.y5f{bottom:104.000000pt;}
.y31{bottom:109.333333pt;}
.yad{bottom:112.000000pt;}
.ydc{bottom:117.333333pt;}
.y98{bottom:122.666667pt;}
.y5e{bottom:128.000000pt;}
.y30{bottom:130.666667pt;}
.y84{bottom:133.333333pt;}
.yac{bottom:136.000000pt;}
.yc5{bottom:138.666667pt;}
.y2f{bottom:146.666667pt;}
.ye8{bottom:149.333333pt;}
.y5d{bottom:152.000000pt;}
.y83{bottom:157.333333pt;}
.yab{bottom:160.000000pt;}
.yc4{bottom:162.666667pt;}
.ye7{bottom:165.333333pt;}
.y2e{bottom:170.666667pt;}
.y5c{bottom:176.000000pt;}
.y82{bottom:181.333333pt;}
.yaa{bottom:184.000000pt;}
.yc3{bottom:186.666667pt;}
.ye6{bottom:189.333333pt;}
.ydb{bottom:192.000000pt;}
.y97{bottom:194.666667pt;}
.y2d{bottom:197.333333pt;}
.y5b{bottom:200.000000pt;}
.y81{bottom:205.333333pt;}
.ya9{bottom:208.000000pt;}
.yc2{bottom:210.666667pt;}
.yda{bottom:213.333333pt;}
.ye5{bottom:216.000000pt;}
.y96{bottom:218.666667pt;}
.y2c{bottom:221.333333pt;}
.y5a{bottom:224.000000pt;}
.yd9{bottom:229.333333pt;}
.ya8{bottom:232.000000pt;}
.yc1{bottom:234.666667pt;}
.ye4{bottom:240.000000pt;}
.y80{bottom:242.666667pt;}
.y2b{bottom:245.333333pt;}
.y59{bottom:248.000000pt;}
.yd8{bottom:253.333333pt;}
.ya7{bottom:256.000000pt;}
.yc0{bottom:258.666667pt;}
.y7f{bottom:264.000000pt;}
.y95{bottom:266.666667pt;}
.y2a{bottom:269.333333pt;}
.y58{bottom:272.000000pt;}
.ya6{bottom:280.000000pt;}
.ybf{bottom:282.666667pt;}
.y7e{bottom:285.333333pt;}
.y57{bottom:288.000000pt;}
.y94{bottom:290.666667pt;}
.y29{bottom:293.333333pt;}
.ya5{bottom:304.000000pt;}
.y7d{bottom:306.666667pt;}
.y56{bottom:309.333333pt;}
.ye3{bottom:312.000000pt;}
.y93{bottom:314.666667pt;}
.y28{bottom:317.333333pt;}
.yb4{bottom:320.000000pt;}
.y7c{bottom:328.000000pt;}
.y55{bottom:330.666667pt;}
.y92{bottom:338.666667pt;}
.y27{bottom:341.333333pt;}
.y7b{bottom:344.000000pt;}
.ye2{bottom:349.333333pt;}
.y54{bottom:352.000000pt;}
.ybe{bottom:354.666667pt;}
.y7a{bottom:360.000000pt;}
.y91{bottom:362.666667pt;}
.y26{bottom:365.333333pt;}
.ye1{bottom:370.666667pt;}
.y53{bottom:373.333333pt;}
.ya4{bottom:376.000000pt;}
.ybd{bottom:378.666667pt;}
.y79{bottom:381.333333pt;}
.yb3{bottom:384.000000pt;}
.y90{bottom:386.666667pt;}
.y25{bottom:389.333333pt;}
.yd7{bottom:392.000000pt;}
.y78{bottom:397.333333pt;}
.ya3{bottom:400.000000pt;}
.y8f{bottom:402.666667pt;}
.y52{bottom:405.333333pt;}
.y24{bottom:413.333333pt;}
.y77{bottom:421.333333pt;}
.y8e{bottom:424.000000pt;}
.y51{bottom:426.666667pt;}
.yd6{bottom:434.666667pt;}
.y23{bottom:437.333333pt;}
.y50{bottom:442.666667pt;}
.y8d{bottom:445.333333pt;}
.y76{bottom:448.000000pt;}
.ybc{bottom:450.666667pt;}
.y5{bottom:451.333333pt;}
.yd5{bottom:456.000000pt;}
.yb2{bottom:458.666667pt;}
.y22{bottom:461.333333pt;}
.y4f{bottom:464.000000pt;}
.y8c{bottom:466.666667pt;}
.y75{bottom:472.000000pt;}
.ybb{bottom:474.666667pt;}
.yd4{bottom:477.333333pt;}
.y4e{bottom:480.000000pt;}
.y4{bottom:481.333333pt;}
.y21{bottom:485.333333pt;}
.y8b{bottom:488.000000pt;}
.ye0{bottom:493.333333pt;}
.y74{bottom:496.000000pt;}
.yba{bottom:498.666667pt;}
.y4d{bottom:501.333333pt;}
.y20{bottom:509.333333pt;}
.y4c{bottom:517.333333pt;}
.y73{bottom:520.000000pt;}
.y3{bottom:521.333333pt;}
.yb9{bottom:522.666667pt;}
.y8a{bottom:525.333333pt;}
.ydf{bottom:530.666667pt;}
.y1f{bottom:533.333333pt;}
.y89{bottom:541.333333pt;}
.y72{bottom:544.000000pt;}
.yb1{bottom:546.666667pt;}
.yde{bottom:552.000000pt;}
.y4b{bottom:554.666667pt;}
.y1e{bottom:557.333333pt;}
.y88{bottom:562.666667pt;}
.y71{bottom:568.000000pt;}
.yb0{bottom:570.666667pt;}
.yd3{bottom:573.333333pt;}
.y4a{bottom:576.000000pt;}
.y87{bottom:578.666667pt;}
.y1d{bottom:581.333333pt;}
.y49{bottom:592.000000pt;}
.yaf{bottom:594.666667pt;}
.y86{bottom:600.000000pt;}
.y1c{bottom:605.333333pt;}
.y48{bottom:616.000000pt;}
.yae{bottom:618.666667pt;}
.y0{bottom:627.333333pt;}
.y1b{bottom:629.333333pt;}
.yd2{bottom:632.000000pt;}
.y70{bottom:640.000000pt;}
.y47{bottom:642.666667pt;}
.y1a{bottom:653.333333pt;}
.yd1{bottom:656.000000pt;}
.y6f{bottom:664.000000pt;}
.y46{bottom:666.666667pt;}
.y19{bottom:677.333333pt;}
.ya2{bottom:680.000000pt;}
.yd0{bottom:682.666667pt;}
.y6e{bottom:688.000000pt;}
.y45{bottom:690.666667pt;}
.y18{bottom:701.333333pt;}
.y6d{bottom:704.000000pt;}
.ycf{bottom:706.666667pt;}
.y44{bottom:714.666667pt;}
.ya1{bottom:722.666667pt;}
.y17{bottom:725.333333pt;}
.yce{bottom:730.666667pt;}
.y43{bottom:738.666667pt;}
.ya0{bottom:744.000000pt;}
.y6c{bottom:746.666667pt;}
.y16{bottom:749.333333pt;}
.ycd{bottom:754.666667pt;}
.y42{bottom:762.666667pt;}
.y9f{bottom:765.333333pt;}
.y6b{bottom:768.000000pt;}
.y15{bottom:773.333333pt;}
.yb8{bottom:778.666667pt;}
.y41{bottom:786.666667pt;}
.y14{bottom:789.333333pt;}
.yb7{bottom:800.000000pt;}
.y9e{bottom:802.666667pt;}
.y6a{bottom:805.333333pt;}
.y13{bottom:810.666667pt;}
.y9d{bottom:818.666667pt;}
.y69{bottom:821.333333pt;}
.ycc{bottom:826.666667pt;}
.y12{bottom:832.000000pt;}
.y40{bottom:834.666667pt;}
.y9c{bottom:840.000000pt;}
.y68{bottom:842.666667pt;}
.y2{bottom:848.000000pt;}
.ycb{bottom:850.666667pt;}
.y11{bottom:853.333333pt;}
.y9b{bottom:856.000000pt;}
.y3f{bottom:858.666667pt;}
.y67{bottom:864.000000pt;}
.y10{bottom:874.666667pt;}
.y66{bottom:880.000000pt;}
.y3e{bottom:882.666667pt;}
.yf{bottom:896.000000pt;}
.yca{bottom:898.666667pt;}
.y65{bottom:904.000000pt;}
.y3d{bottom:906.666667pt;}
.yc9{bottom:914.666667pt;}
.ye{bottom:917.333333pt;}
.y3c{bottom:930.666667pt;}
.yc8{bottom:936.000000pt;}
.yd{bottom:938.666667pt;}
.y3b{bottom:946.666667pt;}
.y64{bottom:954.666667pt;}
.yc7{bottom:957.333333pt;}
.yc{bottom:960.000000pt;}
.y3a{bottom:968.000000pt;}
.yb{bottom:976.000000pt;}
.y63{bottom:978.666667pt;}
.y39{bottom:989.333333pt;}
.ya{bottom:992.000000pt;}
.yb6{bottom:1000.000000pt;}
.y62{bottom:1002.666667pt;}
.y38{bottom:1010.666667pt;}
.y9{bottom:1013.333333pt;}
.yc6{bottom:1016.000000pt;}
.y61{bottom:1026.666667pt;}
.y37{bottom:1032.000000pt;}
.y1{bottom:1034.666667pt;}
.y8{bottom:1050.666667pt;}
.y36{bottom:1053.333333pt;}
.y34{bottom:1077.333333pt;}
.h6{height:75.157120pt;}
.h7{height:78.875000pt;}
.h4{height:92.020833pt;}
.h3{height:93.946400pt;}
.h2{height:125.261866pt;}
.h1{height:200.666667pt;}
.h5{height:1027.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:600.666667pt;}
.w2{width:698.000000pt;}
.w0{width:793.333333pt;}
.x1{left:48.000000pt;}
.x0{left:96.666667pt;}
.x2{left:168.466667pt;}
.x5{left:319.306667pt;}
.x4{left:326.666667pt;}
.x3{left:339.973333pt;}
.x7{left:724.880000pt;}
.x6{left:733.773333pt;}
}
