.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls1c{letter-spacing:-1.680000px;}
.ls1a{letter-spacing:-0.105600px;}
.lsb{letter-spacing:-0.096000px;}
.ls17{letter-spacing:-0.057600px;}
.ls0{letter-spacing:-0.051264px;}
.ls1e{letter-spacing:-0.048000px;}
.ls1f{letter-spacing:-0.043200px;}
.ls12{letter-spacing:-0.038400px;}
.ls14{letter-spacing:-0.033600px;}
.ls15{letter-spacing:-0.028800px;}
.ls18{letter-spacing:-0.024000px;}
.ls3{letter-spacing:-0.022800px;}
.ls1d{letter-spacing:-0.019200px;}
.ls1b{letter-spacing:-0.014400px;}
.ls2{letter-spacing:-0.012000px;}
.lsf{letter-spacing:-0.009600px;}
.ls10{letter-spacing:-0.004800px;}
.ls1{letter-spacing:0.000000px;}
.ls11{letter-spacing:0.004800px;}
.ls5{letter-spacing:0.009600px;}
.ls8{letter-spacing:0.014400px;}
.lsc{letter-spacing:0.019200px;}
.ls9{letter-spacing:0.024000px;}
.lsd{letter-spacing:0.028800px;}
.ls7{letter-spacing:0.033600px;}
.ls16{letter-spacing:0.038400px;}
.ls6{letter-spacing:0.043200px;}
.ls19{letter-spacing:0.048000px;}
.lse{letter-spacing:0.052800px;}
.ls13{letter-spacing:0.057600px;}
.ls4{letter-spacing:0.058080px;}
.ls20{letter-spacing:0.062400px;}
.lsa{letter-spacing:0.086400px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws2{word-spacing:-0.354288px;}
.ws9{word-spacing:-0.264000px;}
.ws2d{word-spacing:-0.187200px;}
.ws11{word-spacing:-0.172800px;}
.ws33{word-spacing:-0.168000px;}
.ws30{word-spacing:-0.144000px;}
.ws29{word-spacing:-0.139200px;}
.ws18{word-spacing:-0.134400px;}
.ws6{word-spacing:-0.129600px;}
.ws15{word-spacing:-0.124800px;}
.ws23{word-spacing:-0.120000px;}
.ws1f{word-spacing:-0.115200px;}
.wse{word-spacing:-0.110400px;}
.ws27{word-spacing:-0.105600px;}
.ws1e{word-spacing:-0.100800px;}
.wsc{word-spacing:-0.096000px;}
.ws7{word-spacing:-0.091200px;}
.ws19{word-spacing:-0.086400px;}
.ws13{word-spacing:-0.081600px;}
.wsa{word-spacing:-0.076800px;}
.ws8{word-spacing:-0.072000px;}
.wsd{word-spacing:-0.067200px;}
.ws25{word-spacing:-0.062400px;}
.ws26{word-spacing:-0.057600px;}
.wsf{word-spacing:-0.052800px;}
.ws24{word-spacing:-0.048000px;}
.ws5{word-spacing:-0.043200px;}
.ws4{word-spacing:-0.038400px;}
.ws28{word-spacing:-0.033600px;}
.wsb{word-spacing:-0.028800px;}
.ws2a{word-spacing:-0.024000px;}
.ws1a{word-spacing:-0.019200px;}
.ws1b{word-spacing:-0.014400px;}
.ws3{word-spacing:-0.009600px;}
.ws12{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.ws10{word-spacing:0.004800px;}
.ws2b{word-spacing:0.009600px;}
.ws20{word-spacing:0.014400px;}
.ws16{word-spacing:0.019200px;}
.ws22{word-spacing:0.024000px;}
.ws1d{word-spacing:0.028800px;}
.ws1c{word-spacing:0.033600px;}
.ws1{word-spacing:0.034200px;}
.ws17{word-spacing:0.038400px;}
.ws2f{word-spacing:0.043200px;}
.ws14{word-spacing:0.048000px;}
.ws34{word-spacing:0.052800px;}
.ws21{word-spacing:0.057600px;}
.ws2e{word-spacing:0.091200px;}
.ws31{word-spacing:0.172800px;}
.ws32{word-spacing:0.177600px;}
.ws2c{word-spacing:0.211200px;}
._4{margin-left:-6.384000px;}
._1{margin-left:-4.416000px;}
._0{margin-left:-3.252480px;}
._3{margin-left:-2.208000px;}
._2{margin-left:-1.134720px;}
._5{width:1.584000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs4{font-size:58.080000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:114.000000px;}
.fs2{font-size:120.000000px;}
.y24{bottom:16.000000px;}
.y2{bottom:39.000000px;}
.y23{bottom:78.060000px;}
.y52{bottom:88.020000px;}
.y22{bottom:91.860000px;}
.y51{bottom:101.820000px;}
.y21{bottom:105.660000px;}
.y50{bottom:115.620000px;}
.y20{bottom:119.460000px;}
.y4f{bottom:129.420000px;}
.y1f{bottom:133.260000px;}
.y4e{bottom:143.220000px;}
.y1e{bottom:147.060000px;}
.y4d{bottom:157.020000px;}
.y1d{bottom:160.860000px;}
.y4c{bottom:170.820000px;}
.y1c{bottom:174.660000px;}
.y4b{bottom:184.620000px;}
.y1b{bottom:188.460000px;}
.y4a{bottom:198.420000px;}
.y1a{bottom:202.260000px;}
.y49{bottom:212.220000px;}
.y19{bottom:216.060000px;}
.y48{bottom:226.020000px;}
.y18{bottom:229.860000px;}
.y47{bottom:239.820000px;}
.y17{bottom:243.660000px;}
.y46{bottom:253.620000px;}
.y16{bottom:257.460000px;}
.y45{bottom:267.420000px;}
.y15{bottom:271.260000px;}
.y44{bottom:281.220000px;}
.y14{bottom:285.060000px;}
.y43{bottom:295.020000px;}
.y13{bottom:298.860000px;}
.y42{bottom:308.820000px;}
.y12{bottom:313.200000px;}
.y41{bottom:322.620000px;}
.y11{bottom:329.460000px;}
.y40{bottom:336.420000px;}
.y10{bottom:346.560000px;}
.yf{bottom:346.573500px;}
.y3f{bottom:350.220000px;}
.y3e{bottom:363.960000px;}
.y3d{bottom:377.760000px;}
.ye{bottom:379.320000px;}
.y3c{bottom:391.560000px;}
.y3b{bottom:405.360000px;}
.yd{bottom:412.560000px;}
.y3a{bottom:419.160000px;}
.y39{bottom:432.960000px;}
.y54{bottom:446.640000px;}
.y38{bottom:446.760000px;}
.yc{bottom:447.060000px;}
.y37{bottom:460.560000px;}
.y36{bottom:474.360000px;}
.y0{bottom:475.000000px;}
.yb{bottom:475.008720px;}
.y35{bottom:488.160000px;}
.y34{bottom:501.960000px;}
.y33{bottom:515.760000px;}
.y32{bottom:529.560000px;}
.y31{bottom:543.360000px;}
.y30{bottom:557.160000px;}
.y2f{bottom:570.960000px;}
.ya{bottom:576.351240px;}
.y2e{bottom:584.760000px;}
.y9{bottom:594.710160px;}
.y2d{bottom:598.560000px;}
.y2c{bottom:612.360000px;}
.y8{bottom:613.133160px;}
.y2b{bottom:626.160000px;}
.y7{bottom:631.492080px;}
.y2a{bottom:639.960000px;}
.y6{bottom:649.915080px;}
.y29{bottom:653.760000px;}
.y28{bottom:667.560000px;}
.y5{bottom:668.338080px;}
.y27{bottom:681.360000px;}
.y4{bottom:686.697000px;}
.y26{bottom:695.160000px;}
.y3{bottom:705.120000px;}
.y25{bottom:708.840000px;}
.y53{bottom:708.960000px;}
.y1{bottom:741.120000px;}
.h3{height:53.250000px;}
.h7{height:54.960938px;}
.h6{height:68.205086px;}
.h8{height:69.015625px;}
.h2{height:73.372852px;}
.h1{height:98.000000px;}
.h5{height:133.873620px;}
.h4{height:137.402344px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.xa{left:90.000000px;}
.x6{left:120.660000px;}
.x0{left:135.500000px;}
.x7{left:235.486500px;}
.xb{left:253.000000px;}
.x5{left:256.860000px;}
.x9{left:263.700000px;}
.x1{left:277.980000px;}
.x3{left:306.000000px;}
.x8{left:376.440000px;}
.x4{left:477.894600px;}
.x2{left:516.299900px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1c{letter-spacing:-2.240000pt;}
.ls1a{letter-spacing:-0.140800pt;}
.lsb{letter-spacing:-0.128000pt;}
.ls17{letter-spacing:-0.076800pt;}
.ls0{letter-spacing:-0.068352pt;}
.ls1e{letter-spacing:-0.064000pt;}
.ls1f{letter-spacing:-0.057600pt;}
.ls12{letter-spacing:-0.051200pt;}
.ls14{letter-spacing:-0.044800pt;}
.ls15{letter-spacing:-0.038400pt;}
.ls18{letter-spacing:-0.032000pt;}
.ls3{letter-spacing:-0.030400pt;}
.ls1d{letter-spacing:-0.025600pt;}
.ls1b{letter-spacing:-0.019200pt;}
.ls2{letter-spacing:-0.016000pt;}
.lsf{letter-spacing:-0.012800pt;}
.ls10{letter-spacing:-0.006400pt;}
.ls1{letter-spacing:0.000000pt;}
.ls11{letter-spacing:0.006400pt;}
.ls5{letter-spacing:0.012800pt;}
.ls8{letter-spacing:0.019200pt;}
.lsc{letter-spacing:0.025600pt;}
.ls9{letter-spacing:0.032000pt;}
.lsd{letter-spacing:0.038400pt;}
.ls7{letter-spacing:0.044800pt;}
.ls16{letter-spacing:0.051200pt;}
.ls6{letter-spacing:0.057600pt;}
.ls19{letter-spacing:0.064000pt;}
.lse{letter-spacing:0.070400pt;}
.ls13{letter-spacing:0.076800pt;}
.ls4{letter-spacing:0.077440pt;}
.ls20{letter-spacing:0.083200pt;}
.lsa{letter-spacing:0.115200pt;}
.ws2{word-spacing:-0.472384pt;}
.ws9{word-spacing:-0.352000pt;}
.ws2d{word-spacing:-0.249600pt;}
.ws11{word-spacing:-0.230400pt;}
.ws33{word-spacing:-0.224000pt;}
.ws30{word-spacing:-0.192000pt;}
.ws29{word-spacing:-0.185600pt;}
.ws18{word-spacing:-0.179200pt;}
.ws6{word-spacing:-0.172800pt;}
.ws15{word-spacing:-0.166400pt;}
.ws23{word-spacing:-0.160000pt;}
.ws1f{word-spacing:-0.153600pt;}
.wse{word-spacing:-0.147200pt;}
.ws27{word-spacing:-0.140800pt;}
.ws1e{word-spacing:-0.134400pt;}
.wsc{word-spacing:-0.128000pt;}
.ws7{word-spacing:-0.121600pt;}
.ws19{word-spacing:-0.115200pt;}
.ws13{word-spacing:-0.108800pt;}
.wsa{word-spacing:-0.102400pt;}
.ws8{word-spacing:-0.096000pt;}
.wsd{word-spacing:-0.089600pt;}
.ws25{word-spacing:-0.083200pt;}
.ws26{word-spacing:-0.076800pt;}
.wsf{word-spacing:-0.070400pt;}
.ws24{word-spacing:-0.064000pt;}
.ws5{word-spacing:-0.057600pt;}
.ws4{word-spacing:-0.051200pt;}
.ws28{word-spacing:-0.044800pt;}
.wsb{word-spacing:-0.038400pt;}
.ws2a{word-spacing:-0.032000pt;}
.ws1a{word-spacing:-0.025600pt;}
.ws1b{word-spacing:-0.019200pt;}
.ws3{word-spacing:-0.012800pt;}
.ws12{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.ws10{word-spacing:0.006400pt;}
.ws2b{word-spacing:0.012800pt;}
.ws20{word-spacing:0.019200pt;}
.ws16{word-spacing:0.025600pt;}
.ws22{word-spacing:0.032000pt;}
.ws1d{word-spacing:0.038400pt;}
.ws1c{word-spacing:0.044800pt;}
.ws1{word-spacing:0.045600pt;}
.ws17{word-spacing:0.051200pt;}
.ws2f{word-spacing:0.057600pt;}
.ws14{word-spacing:0.064000pt;}
.ws34{word-spacing:0.070400pt;}
.ws21{word-spacing:0.076800pt;}
.ws2e{word-spacing:0.121600pt;}
.ws31{word-spacing:0.230400pt;}
.ws32{word-spacing:0.236800pt;}
.ws2c{word-spacing:0.281600pt;}
._4{margin-left:-8.512000pt;}
._1{margin-left:-5.888000pt;}
._0{margin-left:-4.336640pt;}
._3{margin-left:-2.944000pt;}
._2{margin-left:-1.512960pt;}
._5{width:2.112000pt;}
.fs1{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs4{font-size:77.440000pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:152.000000pt;}
.fs2{font-size:160.000000pt;}
.y24{bottom:21.333333pt;}
.y2{bottom:52.000000pt;}
.y23{bottom:104.080000pt;}
.y52{bottom:117.360000pt;}
.y22{bottom:122.480000pt;}
.y51{bottom:135.760000pt;}
.y21{bottom:140.880000pt;}
.y50{bottom:154.160000pt;}
.y20{bottom:159.280000pt;}
.y4f{bottom:172.560000pt;}
.y1f{bottom:177.680000pt;}
.y4e{bottom:190.960000pt;}
.y1e{bottom:196.080000pt;}
.y4d{bottom:209.360000pt;}
.y1d{bottom:214.480000pt;}
.y4c{bottom:227.760000pt;}
.y1c{bottom:232.880000pt;}
.y4b{bottom:246.160000pt;}
.y1b{bottom:251.280000pt;}
.y4a{bottom:264.560000pt;}
.y1a{bottom:269.680000pt;}
.y49{bottom:282.960000pt;}
.y19{bottom:288.080000pt;}
.y48{bottom:301.360000pt;}
.y18{bottom:306.480000pt;}
.y47{bottom:319.760000pt;}
.y17{bottom:324.880000pt;}
.y46{bottom:338.160000pt;}
.y16{bottom:343.280000pt;}
.y45{bottom:356.560000pt;}
.y15{bottom:361.680000pt;}
.y44{bottom:374.960000pt;}
.y14{bottom:380.080000pt;}
.y43{bottom:393.360000pt;}
.y13{bottom:398.480000pt;}
.y42{bottom:411.760000pt;}
.y12{bottom:417.600000pt;}
.y41{bottom:430.160000pt;}
.y11{bottom:439.280000pt;}
.y40{bottom:448.560000pt;}
.y10{bottom:462.080000pt;}
.yf{bottom:462.098000pt;}
.y3f{bottom:466.960000pt;}
.y3e{bottom:485.280000pt;}
.y3d{bottom:503.680000pt;}
.ye{bottom:505.760000pt;}
.y3c{bottom:522.080000pt;}
.y3b{bottom:540.480000pt;}
.yd{bottom:550.080000pt;}
.y3a{bottom:558.880000pt;}
.y39{bottom:577.280000pt;}
.y54{bottom:595.520000pt;}
.y38{bottom:595.680000pt;}
.yc{bottom:596.080000pt;}
.y37{bottom:614.080000pt;}
.y36{bottom:632.480000pt;}
.y0{bottom:633.333333pt;}
.yb{bottom:633.344960pt;}
.y35{bottom:650.880000pt;}
.y34{bottom:669.280000pt;}
.y33{bottom:687.680000pt;}
.y32{bottom:706.080000pt;}
.y31{bottom:724.480000pt;}
.y30{bottom:742.880000pt;}
.y2f{bottom:761.280000pt;}
.ya{bottom:768.468320pt;}
.y2e{bottom:779.680000pt;}
.y9{bottom:792.946880pt;}
.y2d{bottom:798.080000pt;}
.y2c{bottom:816.480000pt;}
.y8{bottom:817.510880pt;}
.y2b{bottom:834.880000pt;}
.y7{bottom:841.989440pt;}
.y2a{bottom:853.280000pt;}
.y6{bottom:866.553440pt;}
.y29{bottom:871.680000pt;}
.y28{bottom:890.080000pt;}
.y5{bottom:891.117440pt;}
.y27{bottom:908.480000pt;}
.y4{bottom:915.596000pt;}
.y26{bottom:926.880000pt;}
.y3{bottom:940.160000pt;}
.y25{bottom:945.120000pt;}
.y53{bottom:945.280000pt;}
.y1{bottom:988.160000pt;}
.h3{height:71.000000pt;}
.h7{height:73.281250pt;}
.h6{height:90.940115pt;}
.h8{height:92.020833pt;}
.h2{height:97.830469pt;}
.h1{height:130.666667pt;}
.h5{height:178.498159pt;}
.h4{height:183.203125pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.xa{left:120.000000pt;}
.x6{left:160.880000pt;}
.x0{left:180.666667pt;}
.x7{left:313.982000pt;}
.xb{left:337.333333pt;}
.x5{left:342.480000pt;}
.x9{left:351.600000pt;}
.x1{left:370.640000pt;}
.x3{left:408.000000pt;}
.x8{left:501.920000pt;}
.x4{left:637.192800pt;}
.x2{left:688.399867pt;}
}
