.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls15{letter-spacing:-0.332664px;}
.ls12{letter-spacing:-0.240480px;}
.ls1b{letter-spacing:-0.144288px;}
.ls18{letter-spacing:-0.120240px;}
.ls2{letter-spacing:-0.076896px;}
.lsd{letter-spacing:-0.052104px;}
.ls1a{letter-spacing:-0.048096px;}
.lsb{letter-spacing:-0.040080px;}
.ls9{letter-spacing:-0.036072px;}
.lsc{letter-spacing:-0.028056px;}
.ls10{letter-spacing:-0.024048px;}
.ls13{letter-spacing:-0.020040px;}
.ls16{letter-spacing:-0.016032px;}
.ls8{letter-spacing:-0.012024px;}
.ls14{letter-spacing:-0.008016px;}
.lsa{letter-spacing:-0.004008px;}
.ls1{letter-spacing:0.000000px;}
.lse{letter-spacing:0.004008px;}
.ls0{letter-spacing:0.006408px;}
.lsf{letter-spacing:0.008016px;}
.ls19{letter-spacing:0.012024px;}
.ls3{letter-spacing:0.015984px;}
.ls7{letter-spacing:0.016032px;}
.ls17{letter-spacing:0.020040px;}
.ls4{letter-spacing:0.055944px;}
.ls5{letter-spacing:0.062496px;}
.ls11{letter-spacing:0.068136px;}
.ls6{letter-spacing:564.863472px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws2{word-spacing:-0.369768px;}
.ws10{word-spacing:-0.116232px;}
.ws3{word-spacing:-0.112224px;}
.ws12{word-spacing:-0.108216px;}
.wsb{word-spacing:-0.104208px;}
.wsa{word-spacing:-0.100200px;}
.ws6{word-spacing:-0.096192px;}
.ws7{word-spacing:-0.092184px;}
.wsd{word-spacing:-0.088176px;}
.ws4{word-spacing:-0.084168px;}
.wse{word-spacing:-0.080160px;}
.wsc{word-spacing:-0.076152px;}
.ws11{word-spacing:-0.072144px;}
.ws9{word-spacing:-0.068136px;}
.ws5{word-spacing:-0.060120px;}
.ws8{word-spacing:-0.056112px;}
.ws13{word-spacing:-0.048096px;}
.wsf{word-spacing:-0.044088px;}
.ws0{word-spacing:0.000000px;}
.ws1{word-spacing:0.151848px;}
._0{margin-left:-1.002000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:40.080000px;}
.fs1{font-size:43.920000px;}
.fs2{font-size:52.080000px;}
.fs5{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:79.920000px;}
.yf{bottom:16.000000px;}
.ye{bottom:39.840100px;}
.y37{bottom:76.564260px;}
.y36{bottom:94.079220px;}
.y5b{bottom:122.235300px;}
.y35{bottom:123.538020px;}
.y5a{bottom:145.812360px;}
.y34{bottom:147.054960px;}
.y59{bottom:163.327320px;}
.y33{bottom:164.569920px;}
.y58{bottom:174.790200px;}
.y32{bottom:176.032800px;}
.y57{bottom:186.313200px;}
.y31{bottom:187.555800px;}
.y56{bottom:197.776080px;}
.y30{bottom:199.078800px;}
.y55{bottom:215.291040px;}
.y2f{bottom:216.533640px;}
.y54{bottom:226.814040px;}
.y2e{bottom:245.992440px;}
.y53{bottom:256.212720px;}
.y2d{bottom:269.569500px;}
.y52{bottom:279.789780px;}
.yd{bottom:280.500100px;}
.y2c{bottom:287.024340px;}
.y51{bottom:297.304740px;}
.y2b{bottom:298.547340px;}
.y50{bottom:308.767620px;}
.y2a{bottom:310.070340px;}
.yc{bottom:310.557000px;}
.y4f{bottom:320.290620px;}
.y29{bottom:321.533220px;}
.y4e{bottom:331.813620px;}
.y28{bottom:333.056220px;}
.y4d{bottom:343.276500px;}
.y27{bottom:344.579220px;}
.yb{bottom:345.060000px;}
.ya{bottom:345.064020px;}
.y4c{bottom:360.791460px;}
.y26{bottom:362.034060px;}
.y9{bottom:368.041020px;}
.y4b{bottom:390.250260px;}
.y25{bottom:391.492860px;}
.y8{bottom:409.020000px;}
.y4a{bottom:413.767200px;}
.y24{bottom:415.069920px;}
.y49{bottom:431.282160px;}
.y23{bottom:432.524760px;}
.y48{bottom:442.805160px;}
.y22{bottom:444.047760px;}
.y0{bottom:445.500000px;}
.y7{bottom:445.731840px;}
.y47{bottom:454.268040px;}
.y21{bottom:455.570760px;}
.y46{bottom:465.791040px;}
.y20{bottom:467.033640px;}
.y1f{bottom:478.556640px;}
.y45{bottom:483.306000px;}
.y1e{bottom:496.011480px;}
.y1d{bottom:507.534480px;}
.y44{bottom:512.704680px;}
.y43{bottom:536.281740px;}
.y1c{bottom:536.993280px;}
.y42{bottom:553.736580px;}
.y1b{bottom:560.510220px;}
.y6{bottom:563.992500px;}
.y41{bottom:565.259580px;}
.y40{bottom:576.782580px;}
.y1a{bottom:578.025180px;}
.y3f{bottom:588.245460px;}
.y19{bottom:589.548180px;}
.y5{bottom:596.998200px;}
.y18{bottom:601.011060px;}
.y3e{bottom:605.760420px;}
.y17{bottom:612.534060px;}
.y16{bottom:624.057060px;}
.y4{bottom:629.938800px;}
.y3d{bottom:635.219220px;}
.y15{bottom:635.519940px;}
.y14{bottom:647.042940px;}
.y13{bottom:658.565940px;}
.y3c{bottom:658.736160px;}
.y3{bottom:662.879400px;}
.y12{bottom:670.028820px;}
.y3b{bottom:676.251120px;}
.y11{bottom:687.543780px;}
.y3a{bottom:687.774120px;}
.y2{bottom:695.820000px;}
.y39{bottom:699.237000px;}
.y10{bottom:710.700000px;}
.y38{bottom:710.760000px;}
.y1{bottom:740.820000px;}
.h6{height:29.272852px;}
.h2{height:43.804688px;}
.h5{height:47.067146px;}
.h8{height:49.395469px;}
.h3{height:61.159106px;}
.h7{height:69.015625px;}
.h4{height:93.852453px;}
.h1{height:98.000000px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x9{left:72.000000px;}
.x5{left:82.087980px;}
.x0{left:135.500000px;}
.xb{left:253.000000px;}
.x6{left:256.513380px;}
.x4{left:269.880000px;}
.x8{left:271.317780px;}
.x1{left:279.420000px;}
.x2{left:306.000000px;}
.x7{left:355.440000px;}
.x3{left:477.720780px;}
.xa{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls15{letter-spacing:-0.443552pt;}
.ls12{letter-spacing:-0.320640pt;}
.ls1b{letter-spacing:-0.192384pt;}
.ls18{letter-spacing:-0.160320pt;}
.ls2{letter-spacing:-0.102528pt;}
.lsd{letter-spacing:-0.069472pt;}
.ls1a{letter-spacing:-0.064128pt;}
.lsb{letter-spacing:-0.053440pt;}
.ls9{letter-spacing:-0.048096pt;}
.lsc{letter-spacing:-0.037408pt;}
.ls10{letter-spacing:-0.032064pt;}
.ls13{letter-spacing:-0.026720pt;}
.ls16{letter-spacing:-0.021376pt;}
.ls8{letter-spacing:-0.016032pt;}
.ls14{letter-spacing:-0.010688pt;}
.lsa{letter-spacing:-0.005344pt;}
.ls1{letter-spacing:0.000000pt;}
.lse{letter-spacing:0.005344pt;}
.ls0{letter-spacing:0.008544pt;}
.lsf{letter-spacing:0.010688pt;}
.ls19{letter-spacing:0.016032pt;}
.ls3{letter-spacing:0.021312pt;}
.ls7{letter-spacing:0.021376pt;}
.ls17{letter-spacing:0.026720pt;}
.ls4{letter-spacing:0.074592pt;}
.ls5{letter-spacing:0.083328pt;}
.ls11{letter-spacing:0.090848pt;}
.ls6{letter-spacing:753.151296pt;}
.ws2{word-spacing:-0.493024pt;}
.ws10{word-spacing:-0.154976pt;}
.ws3{word-spacing:-0.149632pt;}
.ws12{word-spacing:-0.144288pt;}
.wsb{word-spacing:-0.138944pt;}
.wsa{word-spacing:-0.133600pt;}
.ws6{word-spacing:-0.128256pt;}
.ws7{word-spacing:-0.122912pt;}
.wsd{word-spacing:-0.117568pt;}
.ws4{word-spacing:-0.112224pt;}
.wse{word-spacing:-0.106880pt;}
.wsc{word-spacing:-0.101536pt;}
.ws11{word-spacing:-0.096192pt;}
.ws9{word-spacing:-0.090848pt;}
.ws5{word-spacing:-0.080160pt;}
.ws8{word-spacing:-0.074816pt;}
.ws13{word-spacing:-0.064128pt;}
.wsf{word-spacing:-0.058784pt;}
.ws0{word-spacing:0.000000pt;}
.ws1{word-spacing:0.202464pt;}
._0{margin-left:-1.336000pt;}
.fs4{font-size:53.440000pt;}
.fs1{font-size:58.560000pt;}
.fs2{font-size:69.440000pt;}
.fs5{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:106.560000pt;}
.yf{bottom:21.333333pt;}
.ye{bottom:53.120133pt;}
.y37{bottom:102.085680pt;}
.y36{bottom:125.438960pt;}
.y5b{bottom:162.980400pt;}
.y35{bottom:164.717360pt;}
.y5a{bottom:194.416480pt;}
.y34{bottom:196.073280pt;}
.y59{bottom:217.769760pt;}
.y33{bottom:219.426560pt;}
.y58{bottom:233.053600pt;}
.y32{bottom:234.710400pt;}
.y57{bottom:248.417600pt;}
.y31{bottom:250.074400pt;}
.y56{bottom:263.701440pt;}
.y30{bottom:265.438400pt;}
.y55{bottom:287.054720pt;}
.y2f{bottom:288.711520pt;}
.y54{bottom:302.418720pt;}
.y2e{bottom:327.989920pt;}
.y53{bottom:341.616960pt;}
.y2d{bottom:359.426000pt;}
.y52{bottom:373.053040pt;}
.yd{bottom:374.000133pt;}
.y2c{bottom:382.699120pt;}
.y51{bottom:396.406320pt;}
.y2b{bottom:398.063120pt;}
.y50{bottom:411.690160pt;}
.y2a{bottom:413.427120pt;}
.yc{bottom:414.076000pt;}
.y4f{bottom:427.054160pt;}
.y29{bottom:428.710960pt;}
.y4e{bottom:442.418160pt;}
.y28{bottom:444.074960pt;}
.y4d{bottom:457.702000pt;}
.y27{bottom:459.438960pt;}
.yb{bottom:460.080000pt;}
.ya{bottom:460.085360pt;}
.y4c{bottom:481.055280pt;}
.y26{bottom:482.712080pt;}
.y9{bottom:490.721360pt;}
.y4b{bottom:520.333680pt;}
.y25{bottom:521.990480pt;}
.y8{bottom:545.360000pt;}
.y4a{bottom:551.689600pt;}
.y24{bottom:553.426560pt;}
.y49{bottom:575.042880pt;}
.y23{bottom:576.699680pt;}
.y48{bottom:590.406880pt;}
.y22{bottom:592.063680pt;}
.y0{bottom:594.000000pt;}
.y7{bottom:594.309120pt;}
.y47{bottom:605.690720pt;}
.y21{bottom:607.427680pt;}
.y46{bottom:621.054720pt;}
.y20{bottom:622.711520pt;}
.y1f{bottom:638.075520pt;}
.y45{bottom:644.408000pt;}
.y1e{bottom:661.348640pt;}
.y1d{bottom:676.712640pt;}
.y44{bottom:683.606240pt;}
.y43{bottom:715.042320pt;}
.y1c{bottom:715.991040pt;}
.y42{bottom:738.315440pt;}
.y1b{bottom:747.346960pt;}
.y6{bottom:751.990000pt;}
.y41{bottom:753.679440pt;}
.y40{bottom:769.043440pt;}
.y1a{bottom:770.700240pt;}
.y3f{bottom:784.327280pt;}
.y19{bottom:786.064240pt;}
.y5{bottom:795.997600pt;}
.y18{bottom:801.348080pt;}
.y3e{bottom:807.680560pt;}
.y17{bottom:816.712080pt;}
.y16{bottom:832.076080pt;}
.y4{bottom:839.918400pt;}
.y3d{bottom:846.958960pt;}
.y15{bottom:847.359920pt;}
.y14{bottom:862.723920pt;}
.y13{bottom:878.087920pt;}
.y3c{bottom:878.314880pt;}
.y3{bottom:883.839200pt;}
.y12{bottom:893.371760pt;}
.y3b{bottom:901.668160pt;}
.y11{bottom:916.725040pt;}
.y3a{bottom:917.032160pt;}
.y2{bottom:927.760000pt;}
.y39{bottom:932.316000pt;}
.y10{bottom:947.600000pt;}
.y38{bottom:947.680000pt;}
.y1{bottom:987.760000pt;}
.h6{height:39.030469pt;}
.h2{height:58.406250pt;}
.h5{height:62.756195pt;}
.h8{height:65.860625pt;}
.h3{height:81.545475pt;}
.h7{height:92.020833pt;}
.h4{height:125.136604pt;}
.h1{height:130.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x9{left:96.000000pt;}
.x5{left:109.450640pt;}
.x0{left:180.666667pt;}
.xb{left:337.333333pt;}
.x6{left:342.017840pt;}
.x4{left:359.840000pt;}
.x8{left:361.757040pt;}
.x1{left:372.560000pt;}
.x2{left:408.000000pt;}
.x7{left:473.920000pt;}
.x3{left:636.961040pt;}
.xa{left:673.040000pt;}
}
