.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls15{letter-spacing:-0.113400px;}
.ls18{letter-spacing:-0.079800px;}
.ls1c{letter-spacing:-0.067200px;}
.ls13{letter-spacing:-0.058800px;}
.ls2{letter-spacing:-0.046800px;}
.ls1f{letter-spacing:-0.042000px;}
.ls3{letter-spacing:-0.039000px;}
.ls4{letter-spacing:-0.037800px;}
.lsf{letter-spacing:-0.033600px;}
.lsd{letter-spacing:-0.029400px;}
.ls20{letter-spacing:-0.008400px;}
.ls1{letter-spacing:0.000000px;}
.ls1e{letter-spacing:0.004200px;}
.ls7{letter-spacing:0.008400px;}
.ls19{letter-spacing:0.012600px;}
.ls1d{letter-spacing:0.021000px;}
.ls14{letter-spacing:0.025200px;}
.ls11{letter-spacing:0.029400px;}
.ls16{letter-spacing:0.033600px;}
.ls12{letter-spacing:0.037800px;}
.ls0{letter-spacing:0.038448px;}
.lsb{letter-spacing:0.046200px;}
.lsc{letter-spacing:0.050400px;}
.ls6{letter-spacing:0.054600px;}
.ls9{letter-spacing:0.058800px;}
.ls10{letter-spacing:0.063000px;}
.ls8{letter-spacing:0.067200px;}
.ls1a{letter-spacing:0.071400px;}
.lsa{letter-spacing:0.075600px;}
.ls1b{letter-spacing:0.079800px;}
.ls17{letter-spacing:0.096600px;}
.ls5{letter-spacing:0.121800px;}
.lse{letter-spacing:0.147000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws13{word-spacing:-2.377200px;}
.ws29{word-spacing:-2.310000px;}
.ws12{word-spacing:-0.688800px;}
.ws2b{word-spacing:-0.252000px;}
.wse{word-spacing:-0.226800px;}
.ws1{word-spacing:-0.062400px;}
.ws1b{word-spacing:-0.037800px;}
.ws2{word-spacing:-0.023400px;}
.ws21{word-spacing:-0.021000px;}
.ws7{word-spacing:-0.016800px;}
.ws23{word-spacing:-0.012600px;}
.wsb{word-spacing:-0.008400px;}
.wsd{word-spacing:-0.004200px;}
.ws0{word-spacing:0.000000px;}
.wsf{word-spacing:0.004200px;}
.ws9{word-spacing:0.008400px;}
.ws8{word-spacing:0.012600px;}
.ws2c{word-spacing:0.021000px;}
.ws24{word-spacing:0.029400px;}
.ws16{word-spacing:0.033600px;}
.ws25{word-spacing:0.037800px;}
.ws2d{word-spacing:0.046200px;}
.wsa{word-spacing:0.050400px;}
.ws26{word-spacing:0.054600px;}
.ws28{word-spacing:0.067200px;}
.ws11{word-spacing:0.088200px;}
.wsc{word-spacing:0.092400px;}
.ws27{word-spacing:0.100800px;}
.ws14{word-spacing:0.117600px;}
.ws22{word-spacing:0.126000px;}
.ws3{word-spacing:0.336000px;}
.ws2a{word-spacing:0.462000px;}
.ws17{word-spacing:0.735000px;}
.ws6{word-spacing:1.192800px;}
.ws5{word-spacing:1.491000px;}
.ws1f{word-spacing:2.423400px;}
.ws1e{word-spacing:2.448600px;}
.ws15{word-spacing:3.355800px;}
.ws1c{word-spacing:5.523000px;}
.ws1d{word-spacing:5.661600px;}
.ws20{word-spacing:5.749800px;}
.ws18{word-spacing:5.934600px;}
.ws4{word-spacing:6.245400px;}
.ws19{word-spacing:6.720000px;}
.ws1a{word-spacing:6.745200px;}
.ws10{word-spacing:11.272800px;}
._1{margin-left:-7.098000px;}
._0{margin-left:-4.290000px;}
._3{margin-left:-2.562000px;}
._2{margin-left:-1.176000px;}
._4{width:1.134000px;}
._5{width:2.310000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:37.920000px;}
.fs1{font-size:42.000000px;}
.fs5{font-size:56.000000px;}
.fs2{font-size:61.920000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:78.000000px;}
.ye{bottom:17.000000px;}
.yd{bottom:52.520300px;}
.y3a{bottom:87.617300px;}
.y66{bottom:87.624800px;}
.y65{bottom:103.164800px;}
.y39{bottom:103.220300px;}
.y64{bottom:118.820300px;}
.y38{bottom:118.823300px;}
.y63{bottom:134.423300px;}
.y37{bottom:134.426300px;}
.y62{bottom:150.026300px;}
.y36{bottom:150.029300px;}
.y61{bottom:165.629300px;}
.y35{bottom:165.632300px;}
.y60{bottom:181.232300px;}
.y34{bottom:181.235300px;}
.y33{bottom:196.775300px;}
.y5f{bottom:196.835300px;}
.y32{bottom:212.430800px;}
.y5e{bottom:212.438300px;}
.y31{bottom:227.970800px;}
.y5d{bottom:228.041300px;}
.y30{bottom:243.626300px;}
.y5c{bottom:243.644300px;}
.y5b{bottom:259.184300px;}
.y2f{bottom:259.229300px;}
.y2e{bottom:274.832300px;}
.y5a{bottom:274.839800px;}
.y59{bottom:290.379800px;}
.y2d{bottom:290.435300px;}
.y58{bottom:306.035300px;}
.y2c{bottom:306.038300px;}
.y57{bottom:321.638300px;}
.y2b{bottom:321.641300px;}
.y56{bottom:337.241300px;}
.y2a{bottom:337.244300px;}
.y55{bottom:352.844300px;}
.y29{bottom:352.847300px;}
.yc{bottom:357.380300px;}
.y54{bottom:368.447300px;}
.y28{bottom:368.450300px;}
.y27{bottom:383.990300px;}
.y53{bottom:384.050300px;}
.yb{bottom:388.580300px;}
.y26{bottom:399.645800px;}
.y52{bottom:399.653300px;}
.y25{bottom:415.185800px;}
.y51{bottom:415.256300px;}
.ya{bottom:419.780300px;}
.y50{bottom:430.796300px;}
.y24{bottom:430.841300px;}
.y23{bottom:446.444300px;}
.y4f{bottom:446.451800px;}
.y9{bottom:450.980300px;}
.y4e{bottom:461.991800px;}
.y22{bottom:462.047300px;}
.y4d{bottom:477.647300px;}
.y21{bottom:477.650300px;}
.y8{bottom:482.180300px;}
.y4c{bottom:493.250300px;}
.y20{bottom:493.253300px;}
.y4b{bottom:508.853300px;}
.y1f{bottom:508.856300px;}
.y7{bottom:514.890980px;}
.y4a{bottom:524.456300px;}
.y1e{bottom:524.459300px;}
.y49{bottom:540.059300px;}
.y1d{bottom:540.062300px;}
.y6{bottom:546.083180px;}
.y1c{bottom:555.602300px;}
.y48{bottom:555.662300px;}
.y1b{bottom:571.257800px;}
.y47{bottom:571.265300px;}
.y0{bottom:573.000000px;}
.y5{bottom:573.080300px;}
.y1a{bottom:586.797800px;}
.y46{bottom:586.868300px;}
.y19{bottom:602.453300px;}
.y45{bottom:602.471300px;}
.y18{bottom:618.056300px;}
.y44{bottom:618.074300px;}
.y43{bottom:633.614300px;}
.y17{bottom:633.659300px;}
.y16{bottom:649.262300px;}
.y42{bottom:649.269800px;}
.y41{bottom:664.809800px;}
.y15{bottom:664.865300px;}
.y40{bottom:680.465300px;}
.y14{bottom:680.468300px;}
.y4{bottom:686.495900px;}
.y3f{bottom:696.068300px;}
.y13{bottom:696.071300px;}
.y3e{bottom:711.671300px;}
.y12{bottom:711.674300px;}
.y3{bottom:717.688100px;}
.y3d{bottom:727.274300px;}
.y11{bottom:727.277300px;}
.y3c{bottom:742.877300px;}
.y10{bottom:742.880300px;}
.y2{bottom:748.880300px;}
.yf{bottom:758.420300px;}
.y3b{bottom:758.480300px;}
.y1{bottom:784.580300px;}
.h5{height:42.067500px;}
.h8{height:46.593750px;}
.h7{height:48.090820px;}
.h6{height:69.015625px;}
.h3{height:70.899609px;}
.h2{height:73.372852px;}
.h4{height:89.311523px;}
.h1{height:98.000000px;}
.h0{height:842.000000px;}
.w1{width:342.500000px;}
.w0{width:595.220000px;}
.x9{left:90.000000px;}
.x5{left:123.663000px;}
.x0{left:126.500000px;}
.x8{left:245.000000px;}
.x6{left:248.170500px;}
.x4{left:265.740000px;}
.x1{left:271.440000px;}
.x2{left:297.660000px;}
.x3{left:468.660000px;}
.x7{left:492.900000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls15{letter-spacing:-0.151200pt;}
.ls18{letter-spacing:-0.106400pt;}
.ls1c{letter-spacing:-0.089600pt;}
.ls13{letter-spacing:-0.078400pt;}
.ls2{letter-spacing:-0.062400pt;}
.ls1f{letter-spacing:-0.056000pt;}
.ls3{letter-spacing:-0.052000pt;}
.ls4{letter-spacing:-0.050400pt;}
.lsf{letter-spacing:-0.044800pt;}
.lsd{letter-spacing:-0.039200pt;}
.ls20{letter-spacing:-0.011200pt;}
.ls1{letter-spacing:0.000000pt;}
.ls1e{letter-spacing:0.005600pt;}
.ls7{letter-spacing:0.011200pt;}
.ls19{letter-spacing:0.016800pt;}
.ls1d{letter-spacing:0.028000pt;}
.ls14{letter-spacing:0.033600pt;}
.ls11{letter-spacing:0.039200pt;}
.ls16{letter-spacing:0.044800pt;}
.ls12{letter-spacing:0.050400pt;}
.ls0{letter-spacing:0.051264pt;}
.lsb{letter-spacing:0.061600pt;}
.lsc{letter-spacing:0.067200pt;}
.ls6{letter-spacing:0.072800pt;}
.ls9{letter-spacing:0.078400pt;}
.ls10{letter-spacing:0.084000pt;}
.ls8{letter-spacing:0.089600pt;}
.ls1a{letter-spacing:0.095200pt;}
.lsa{letter-spacing:0.100800pt;}
.ls1b{letter-spacing:0.106400pt;}
.ls17{letter-spacing:0.128800pt;}
.ls5{letter-spacing:0.162400pt;}
.lse{letter-spacing:0.196000pt;}
.ws13{word-spacing:-3.169600pt;}
.ws29{word-spacing:-3.080000pt;}
.ws12{word-spacing:-0.918400pt;}
.ws2b{word-spacing:-0.336000pt;}
.wse{word-spacing:-0.302400pt;}
.ws1{word-spacing:-0.083200pt;}
.ws1b{word-spacing:-0.050400pt;}
.ws2{word-spacing:-0.031200pt;}
.ws21{word-spacing:-0.028000pt;}
.ws7{word-spacing:-0.022400pt;}
.ws23{word-spacing:-0.016800pt;}
.wsb{word-spacing:-0.011200pt;}
.wsd{word-spacing:-0.005600pt;}
.ws0{word-spacing:0.000000pt;}
.wsf{word-spacing:0.005600pt;}
.ws9{word-spacing:0.011200pt;}
.ws8{word-spacing:0.016800pt;}
.ws2c{word-spacing:0.028000pt;}
.ws24{word-spacing:0.039200pt;}
.ws16{word-spacing:0.044800pt;}
.ws25{word-spacing:0.050400pt;}
.ws2d{word-spacing:0.061600pt;}
.wsa{word-spacing:0.067200pt;}
.ws26{word-spacing:0.072800pt;}
.ws28{word-spacing:0.089600pt;}
.ws11{word-spacing:0.117600pt;}
.wsc{word-spacing:0.123200pt;}
.ws27{word-spacing:0.134400pt;}
.ws14{word-spacing:0.156800pt;}
.ws22{word-spacing:0.168000pt;}
.ws3{word-spacing:0.448000pt;}
.ws2a{word-spacing:0.616000pt;}
.ws17{word-spacing:0.980000pt;}
.ws6{word-spacing:1.590400pt;}
.ws5{word-spacing:1.988000pt;}
.ws1f{word-spacing:3.231200pt;}
.ws1e{word-spacing:3.264800pt;}
.ws15{word-spacing:4.474400pt;}
.ws1c{word-spacing:7.364000pt;}
.ws1d{word-spacing:7.548800pt;}
.ws20{word-spacing:7.666400pt;}
.ws18{word-spacing:7.912800pt;}
.ws4{word-spacing:8.327200pt;}
.ws19{word-spacing:8.960000pt;}
.ws1a{word-spacing:8.993600pt;}
.ws10{word-spacing:15.030400pt;}
._1{margin-left:-9.464000pt;}
._0{margin-left:-5.720000pt;}
._3{margin-left:-3.416000pt;}
._2{margin-left:-1.568000pt;}
._4{width:1.512000pt;}
._5{width:3.080000pt;}
.fs4{font-size:50.560000pt;}
.fs1{font-size:56.000000pt;}
.fs5{font-size:74.666667pt;}
.fs2{font-size:82.560000pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:104.000000pt;}
.ye{bottom:22.666667pt;}
.yd{bottom:70.027067pt;}
.y3a{bottom:116.823067pt;}
.y66{bottom:116.833067pt;}
.y65{bottom:137.553067pt;}
.y39{bottom:137.627067pt;}
.y64{bottom:158.427067pt;}
.y38{bottom:158.431067pt;}
.y63{bottom:179.231067pt;}
.y37{bottom:179.235067pt;}
.y62{bottom:200.035067pt;}
.y36{bottom:200.039067pt;}
.y61{bottom:220.839067pt;}
.y35{bottom:220.843067pt;}
.y60{bottom:241.643067pt;}
.y34{bottom:241.647067pt;}
.y33{bottom:262.367067pt;}
.y5f{bottom:262.447067pt;}
.y32{bottom:283.241067pt;}
.y5e{bottom:283.251067pt;}
.y31{bottom:303.961067pt;}
.y5d{bottom:304.055067pt;}
.y30{bottom:324.835067pt;}
.y5c{bottom:324.859067pt;}
.y5b{bottom:345.579067pt;}
.y2f{bottom:345.639067pt;}
.y2e{bottom:366.443067pt;}
.y5a{bottom:366.453067pt;}
.y59{bottom:387.173067pt;}
.y2d{bottom:387.247067pt;}
.y58{bottom:408.047067pt;}
.y2c{bottom:408.051067pt;}
.y57{bottom:428.851067pt;}
.y2b{bottom:428.855067pt;}
.y56{bottom:449.655067pt;}
.y2a{bottom:449.659067pt;}
.y55{bottom:470.459067pt;}
.y29{bottom:470.463067pt;}
.yc{bottom:476.507067pt;}
.y54{bottom:491.263067pt;}
.y28{bottom:491.267067pt;}
.y27{bottom:511.987067pt;}
.y53{bottom:512.067067pt;}
.yb{bottom:518.107067pt;}
.y26{bottom:532.861067pt;}
.y52{bottom:532.871067pt;}
.y25{bottom:553.581067pt;}
.y51{bottom:553.675067pt;}
.ya{bottom:559.707067pt;}
.y50{bottom:574.395067pt;}
.y24{bottom:574.455067pt;}
.y23{bottom:595.259067pt;}
.y4f{bottom:595.269067pt;}
.y9{bottom:601.307067pt;}
.y4e{bottom:615.989067pt;}
.y22{bottom:616.063067pt;}
.y4d{bottom:636.863067pt;}
.y21{bottom:636.867067pt;}
.y8{bottom:642.907067pt;}
.y4c{bottom:657.667067pt;}
.y20{bottom:657.671067pt;}
.y4b{bottom:678.471067pt;}
.y1f{bottom:678.475067pt;}
.y7{bottom:686.521307pt;}
.y4a{bottom:699.275067pt;}
.y1e{bottom:699.279067pt;}
.y49{bottom:720.079067pt;}
.y1d{bottom:720.083067pt;}
.y6{bottom:728.110907pt;}
.y1c{bottom:740.803067pt;}
.y48{bottom:740.883067pt;}
.y1b{bottom:761.677067pt;}
.y47{bottom:761.687067pt;}
.y0{bottom:764.000000pt;}
.y5{bottom:764.107067pt;}
.y1a{bottom:782.397067pt;}
.y46{bottom:782.491067pt;}
.y19{bottom:803.271067pt;}
.y45{bottom:803.295067pt;}
.y18{bottom:824.075067pt;}
.y44{bottom:824.099067pt;}
.y43{bottom:844.819067pt;}
.y17{bottom:844.879067pt;}
.y16{bottom:865.683067pt;}
.y42{bottom:865.693067pt;}
.y41{bottom:886.413067pt;}
.y15{bottom:886.487067pt;}
.y40{bottom:907.287067pt;}
.y14{bottom:907.291067pt;}
.y4{bottom:915.327867pt;}
.y3f{bottom:928.091067pt;}
.y13{bottom:928.095067pt;}
.y3e{bottom:948.895067pt;}
.y12{bottom:948.899067pt;}
.y3{bottom:956.917467pt;}
.y3d{bottom:969.699067pt;}
.y11{bottom:969.703067pt;}
.y3c{bottom:990.503067pt;}
.y10{bottom:990.507067pt;}
.y2{bottom:998.507067pt;}
.yf{bottom:1011.227067pt;}
.y3b{bottom:1011.307067pt;}
.y1{bottom:1046.107067pt;}
.h5{height:56.090000pt;}
.h8{height:62.125000pt;}
.h7{height:64.121094pt;}
.h6{height:92.020833pt;}
.h3{height:94.532812pt;}
.h2{height:97.830469pt;}
.h4{height:119.082031pt;}
.h1{height:130.666667pt;}
.h0{height:1122.666667pt;}
.w1{width:456.666667pt;}
.w0{width:793.626667pt;}
.x9{left:120.000000pt;}
.x5{left:164.884000pt;}
.x0{left:168.666667pt;}
.x8{left:326.666667pt;}
.x6{left:330.894000pt;}
.x4{left:354.320000pt;}
.x1{left:361.920000pt;}
.x2{left:396.880000pt;}
.x3{left:624.880000pt;}
.x7{left:657.200000pt;}
}
