.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls2a{letter-spacing:-1.318800px;}
.ls14{letter-spacing:-0.130200px;}
.ls26{letter-spacing:-0.075600px;}
.ls3{letter-spacing:-0.073872px;}
.ls1c{letter-spacing:-0.067200px;}
.ls22{letter-spacing:-0.063000px;}
.ls29{letter-spacing:-0.054600px;}
.ls9{letter-spacing:-0.042000px;}
.ls4{letter-spacing:-0.037800px;}
.lsd{letter-spacing:-0.029400px;}
.lsc{letter-spacing:-0.025200px;}
.ls2{letter-spacing:-0.024624px;}
.ls1f{letter-spacing:-0.021000px;}
.ls1b{letter-spacing:-0.012600px;}
.ls1e{letter-spacing:-0.008400px;}
.ls1{letter-spacing:0.000000px;}
.ls21{letter-spacing:0.004200px;}
.ls28{letter-spacing:0.008400px;}
.ls13{letter-spacing:0.012600px;}
.ls11{letter-spacing:0.016800px;}
.ls18{letter-spacing:0.021000px;}
.ls1d{letter-spacing:0.025200px;}
.ls10{letter-spacing:0.029400px;}
.ls1a{letter-spacing:0.033600px;}
.ls24{letter-spacing:0.037800px;}
.ls0{letter-spacing:0.038448px;}
.ls8{letter-spacing:0.042000px;}
.ls6{letter-spacing:0.046200px;}
.lsb{letter-spacing:0.050400px;}
.ls7{letter-spacing:0.054600px;}
.lsf{letter-spacing:0.058800px;}
.lse{letter-spacing:0.063000px;}
.ls16{letter-spacing:0.067200px;}
.lsa{letter-spacing:0.071400px;}
.ls12{letter-spacing:0.075600px;}
.ls15{letter-spacing:0.079800px;}
.ls20{letter-spacing:0.084000px;}
.ls17{letter-spacing:0.088200px;}
.ls19{letter-spacing:0.092400px;}
.ls25{letter-spacing:0.096600px;}
.ls27{letter-spacing:0.100800px;}
.ls5{letter-spacing:0.121800px;}
.ls23{letter-spacing:0.147000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws2b{word-spacing:-0.638400px;}
.ws2d{word-spacing:-0.273000px;}
.ws31{word-spacing:-0.268800px;}
.ws5f{word-spacing:-0.264600px;}
.ws2e{word-spacing:-0.260400px;}
.ws60{word-spacing:-0.256200px;}
.ws20{word-spacing:-0.252000px;}
.ws19{word-spacing:-0.247800px;}
.ws5c{word-spacing:-0.239400px;}
.ws13{word-spacing:-0.235200px;}
.ws42{word-spacing:-0.231000px;}
.ws52{word-spacing:-0.222600px;}
.ws3c{word-spacing:-0.037800px;}
.ws1a{word-spacing:-0.033600px;}
.ws17{word-spacing:-0.029400px;}
.ws2f{word-spacing:-0.025200px;}
.ws14{word-spacing:-0.021000px;}
.ws36{word-spacing:-0.016800px;}
.ws8{word-spacing:-0.012600px;}
.ws29{word-spacing:-0.008400px;}
.wsb{word-spacing:-0.004200px;}
.ws0{word-spacing:0.000000px;}
.ws1c{word-spacing:0.004200px;}
.ws9{word-spacing:0.008400px;}
.ws6{word-spacing:0.016800px;}
.ws3d{word-spacing:0.021000px;}
.ws1b{word-spacing:0.025200px;}
.ws1d{word-spacing:0.029400px;}
.ws18{word-spacing:0.037800px;}
.ws11{word-spacing:0.046200px;}
.ws4a{word-spacing:0.050400px;}
.ws30{word-spacing:0.054600px;}
.ws2a{word-spacing:0.067200px;}
.ws21{word-spacing:0.071400px;}
.ws50{word-spacing:0.079800px;}
.wsa{word-spacing:0.084000px;}
.ws7{word-spacing:0.100800px;}
.ws4f{word-spacing:0.113400px;}
.ws2c{word-spacing:0.126000px;}
.ws3e{word-spacing:0.134400px;}
.ws1{word-spacing:0.147744px;}
.ws12{word-spacing:0.189000px;}
.ws2{word-spacing:0.196992px;}
.ws44{word-spacing:0.197400px;}
.ws3{word-spacing:0.336000px;}
.ws34{word-spacing:0.714000px;}
.wsd{word-spacing:0.978600px;}
.wsc{word-spacing:0.991200px;}
.ws46{word-spacing:1.436400px;}
.ws47{word-spacing:1.444800px;}
.ws15{word-spacing:1.902600px;}
.ws4{word-spacing:1.932000px;}
.ws43{word-spacing:2.368800px;}
.ws35{word-spacing:2.394000px;}
.ws54{word-spacing:2.620800px;}
.ws53{word-spacing:2.675400px;}
.ws24{word-spacing:2.969400px;}
.ws25{word-spacing:3.007200px;}
.ws5d{word-spacing:3.112200px;}
.ws55{word-spacing:3.129000px;}
.ws56{word-spacing:3.150000px;}
.ws16{word-spacing:3.360000px;}
.ws3b{word-spacing:3.381000px;}
.ws3f{word-spacing:3.582600px;}
.ws4b{word-spacing:3.595200px;}
.ws27{word-spacing:3.843000px;}
.ws28{word-spacing:3.876600px;}
.ws5e{word-spacing:4.057200px;}
.ws26{word-spacing:4.309200px;}
.ws4c{word-spacing:4.456200px;}
.ws3a{word-spacing:4.788000px;}
.ws49{word-spacing:5.056800px;}
.ws48{word-spacing:5.069400px;}
.ws61{word-spacing:5.497800px;}
.ws62{word-spacing:5.531400px;}
.ws1e{word-spacing:6.484800px;}
.ws32{word-spacing:6.934200px;}
.wse{word-spacing:6.946800px;}
.wsf{word-spacing:7.001400px;}
.ws33{word-spacing:7.081200px;}
.ws45{word-spacing:7.182000px;}
.ws22{word-spacing:7.660800px;}
.ws23{word-spacing:7.740600px;}
.ws41{word-spacing:8.416800px;}
.ws5b{word-spacing:9.109800px;}
.ws4d{word-spacing:9.126600px;}
.ws40{word-spacing:9.584400px;}
.ws1f{word-spacing:10.806600px;}
.ws10{word-spacing:11.025000px;}
.ws58{word-spacing:11.058600px;}
.ws59{word-spacing:11.067000px;}
.ws57{word-spacing:12.230400px;}
.ws5{word-spacing:12.726000px;}
.ws5a{word-spacing:13.423200px;}
.ws4e{word-spacing:17.283000px;}
.ws51{word-spacing:18.971400px;}
.ws37{word-spacing:21.583800px;}
.ws39{word-spacing:25.443600px;}
.ws38{word-spacing:25.464600px;}
._2{margin-left:-7.469280px;}
._5{margin-left:-5.586000px;}
._0{margin-left:-4.514400px;}
._3{margin-left:-3.116160px;}
._1{margin-left:-1.969920px;}
._4{width:1.024320px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:37.920000px;}
.fs1{font-size:42.000000px;}
.fs5{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs2{font-size:70.080000px;}
.fs3{font-size:82.080000px;}
.yf{bottom:17.000000px;}
.ye{bottom:52.520300px;}
.ybb{bottom:87.614300px;}
.ya5{bottom:87.629300px;}
.y71{bottom:87.638300px;}
.y4a{bottom:87.660800px;}
.yc2{bottom:103.196300px;}
.y49{bottom:103.200800px;}
.yba{bottom:103.217300px;}
.ya4{bottom:103.232300px;}
.y70{bottom:103.241300px;}
.yb9{bottom:118.757300px;}
.ya3{bottom:118.772300px;}
.yc1{bottom:118.799300px;}
.y6f{bottom:118.844300px;}
.y48{bottom:118.856300px;}
.y26{bottom:119.000000px;}
.y3b{bottom:119.300400px;}
.yc0{bottom:134.402300px;}
.yb8{bottom:134.412800px;}
.ya2{bottom:134.427800px;}
.y6e{bottom:134.447300px;}
.y47{bottom:134.459300px;}
.yb7{bottom:149.952800px;}
.ya1{bottom:149.967800px;}
.ybf{bottom:150.005300px;}
.y6d{bottom:150.050300px;}
.y46{bottom:150.062300px;}
.yb6{bottom:165.608300px;}
.ya0{bottom:165.623300px;}
.y6c{bottom:165.653300px;}
.y45{bottom:165.665300px;}
.y96{bottom:181.211300px;}
.y9f{bottom:181.226300px;}
.y6b{bottom:181.256300px;}
.y44{bottom:181.268300px;}
.y3c{bottom:193.000000px;}
.y3e{bottom:193.340300px;}
.y95{bottom:196.814300px;}
.y9e{bottom:196.829300px;}
.y6a{bottom:196.859300px;}
.y43{bottom:196.871300px;}
.y94{bottom:212.417300px;}
.y9d{bottom:212.432300px;}
.y69{bottom:212.462300px;}
.y42{bottom:212.474300px;}
.y93{bottom:227.957300px;}
.yb5{bottom:228.020300px;}
.y9c{bottom:228.035300px;}
.y68{bottom:228.065300px;}
.y41{bottom:228.077300px;}
.y92{bottom:243.612800px;}
.yb4{bottom:243.623300px;}
.y9b{bottom:243.638300px;}
.y67{bottom:243.668300px;}
.y3f{bottom:244.500000px;}
.y40{bottom:244.940300px;}
.y91{bottom:259.152800px;}
.yb3{bottom:259.226300px;}
.y9a{bottom:259.241300px;}
.y66{bottom:259.271300px;}
.y25{bottom:259.275900px;}
.y90{bottom:274.808300px;}
.yb2{bottom:274.829300px;}
.y3a{bottom:274.844300px;}
.y65{bottom:274.874300px;}
.y24{bottom:274.878900px;}
.y10{bottom:290.000000px;}
.y23{bottom:290.240400px;}
.y8f{bottom:290.411300px;}
.yb1{bottom:290.432300px;}
.y39{bottom:290.447300px;}
.y64{bottom:290.477300px;}
.y8e{bottom:306.014300px;}
.yb0{bottom:306.035300px;}
.y38{bottom:306.050300px;}
.y63{bottom:306.080300px;}
.y8d{bottom:321.617300px;}
.yaf{bottom:321.638300px;}
.y37{bottom:321.653300px;}
.y62{bottom:321.683300px;}
.ybe{bottom:337.178300px;}
.y8c{bottom:337.220300px;}
.yae{bottom:337.241300px;}
.y36{bottom:337.256300px;}
.y4b{bottom:340.000000px;}
.y61{bottom:340.100300px;}
.y8b{bottom:352.823300px;}
.ybd{bottom:352.833800px;}
.yad{bottom:352.844300px;}
.y35{bottom:352.859300px;}
.yd{bottom:358.155980px;}
.ybc{bottom:368.373800px;}
.yac{bottom:368.384300px;}
.y34{bottom:368.399300px;}
.y8a{bottom:368.426300px;}
.y89{bottom:384.029300px;}
.yab{bottom:384.039800px;}
.y33{bottom:384.054800px;}
.yc{bottom:388.220300px;}
.yb{bottom:388.258700px;}
.yaa{bottom:399.579800px;}
.y32{bottom:399.594800px;}
.y88{bottom:399.632300px;}
.y87{bottom:415.235300px;}
.y31{bottom:415.250300px;}
.ya{bottom:419.449100px;}
.y86{bottom:430.838300px;}
.y30{bottom:430.853300px;}
.y85{bottom:446.441300px;}
.y60{bottom:446.444300px;}
.y2f{bottom:446.456300px;}
.y9{bottom:450.639500px;}
.y84{bottom:462.044300px;}
.y5f{bottom:462.047300px;}
.y2e{bottom:462.059300px;}
.y83{bottom:477.647300px;}
.y5e{bottom:477.650300px;}
.y2d{bottom:477.662300px;}
.y3d{bottom:477.800300px;}
.y8{bottom:481.829900px;}
.y82{bottom:493.250300px;}
.y5d{bottom:493.253300px;}
.y22{bottom:493.260800px;}
.y2c{bottom:493.265300px;}
.y81{bottom:508.853300px;}
.y5c{bottom:508.856300px;}
.y21{bottom:508.863800px;}
.y2b{bottom:508.868300px;}
.y7{bottom:513.020300px;}
.y80{bottom:524.393300px;}
.y5b{bottom:524.396300px;}
.ya9{bottom:524.456300px;}
.y20{bottom:524.466800px;}
.y2a{bottom:524.471300px;}
.ya8{bottom:539.996300px;}
.y1f{bottom:540.006800px;}
.y7f{bottom:540.048800px;}
.y5a{bottom:540.051800px;}
.y29{bottom:540.074300px;}
.y6{bottom:545.363660px;}
.y7e{bottom:555.588800px;}
.y59{bottom:555.591800px;}
.ya7{bottom:555.651800px;}
.y1e{bottom:555.662300px;}
.y28{bottom:555.677300px;}
.y27{bottom:567.920300px;}
.ya6{bottom:571.191800px;}
.y1d{bottom:571.202300px;}
.y7d{bottom:571.244300px;}
.y58{bottom:571.247300px;}
.y99{bottom:571.280300px;}
.y0{bottom:573.000000px;}
.y5{bottom:573.080300px;}
.y7c{bottom:586.847300px;}
.y57{bottom:586.850300px;}
.y1c{bottom:586.857800px;}
.y97{bottom:589.500000px;}
.y98{bottom:589.760300px;}
.y7b{bottom:602.450300px;}
.y56{bottom:602.453300px;}
.y1b{bottom:602.460800px;}
.y7a{bottom:618.053300px;}
.y55{bottom:618.056300px;}
.y1a{bottom:618.063800px;}
.y79{bottom:633.656300px;}
.y54{bottom:633.659300px;}
.y19{bottom:633.666800px;}
.y78{bottom:649.259300px;}
.y53{bottom:649.262300px;}
.y18{bottom:649.269800px;}
.y77{bottom:664.862300px;}
.y52{bottom:664.865300px;}
.y17{bottom:664.872800px;}
.y76{bottom:680.465300px;}
.y51{bottom:680.468300px;}
.y16{bottom:680.475800px;}
.y4{bottom:685.754060px;}
.y75{bottom:696.068300px;}
.y50{bottom:696.071300px;}
.y15{bottom:696.078800px;}
.y74{bottom:711.671300px;}
.y4f{bottom:711.674300px;}
.y14{bottom:711.681800px;}
.y3{bottom:716.957180px;}
.y73{bottom:727.274300px;}
.y4e{bottom:727.277300px;}
.y13{bottom:727.284800px;}
.y12{bottom:742.824800px;}
.y72{bottom:742.877300px;}
.y4d{bottom:742.880300px;}
.y2{bottom:748.160300px;}
.y4c{bottom:758.420300px;}
.y11{bottom:758.480300px;}
.y1{bottom:784.580300px;}
.h5{height:42.067500px;}
.h8{height:46.593750px;}
.h9{height:48.090820px;}
.h6{height:69.015625px;}
.h2{height:73.372852px;}
.h3{height:80.242969px;}
.h4{height:93.983203px;}
.hd{height:96.000000px;}
.h1{height:98.000000px;}
.he{height:174.000000px;}
.h7{height:195.500000px;}
.hc{height:520.500000px;}
.hb{height:573.000000px;}
.ha{height:650.500000px;}
.h0{height:842.000000px;}
.w1{width:342.500000px;}
.w4{width:410.500000px;}
.w3{width:415.000000px;}
.w2{width:415.500000px;}
.w0{width:595.220000px;}
.xa{left:90.000000px;}
.x5{left:111.411720px;}
.x0{left:126.500000px;}
.x9{left:245.000000px;}
.x6{left:249.059880px;}
.x4{left:264.060000px;}
.x1{left:271.440000px;}
.x2{left:297.660000px;}
.x7{left:346.200000px;}
.xc{left:446.280000px;}
.x3{left:468.660000px;}
.xd{left:488.280000px;}
.x8{left:492.900000px;}
.xe{left:500.280000px;}
.xb{left:505.140000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2a{letter-spacing:-1.758400pt;}
.ls14{letter-spacing:-0.173600pt;}
.ls26{letter-spacing:-0.100800pt;}
.ls3{letter-spacing:-0.098496pt;}
.ls1c{letter-spacing:-0.089600pt;}
.ls22{letter-spacing:-0.084000pt;}
.ls29{letter-spacing:-0.072800pt;}
.ls9{letter-spacing:-0.056000pt;}
.ls4{letter-spacing:-0.050400pt;}
.lsd{letter-spacing:-0.039200pt;}
.lsc{letter-spacing:-0.033600pt;}
.ls2{letter-spacing:-0.032832pt;}
.ls1f{letter-spacing:-0.028000pt;}
.ls1b{letter-spacing:-0.016800pt;}
.ls1e{letter-spacing:-0.011200pt;}
.ls1{letter-spacing:0.000000pt;}
.ls21{letter-spacing:0.005600pt;}
.ls28{letter-spacing:0.011200pt;}
.ls13{letter-spacing:0.016800pt;}
.ls11{letter-spacing:0.022400pt;}
.ls18{letter-spacing:0.028000pt;}
.ls1d{letter-spacing:0.033600pt;}
.ls10{letter-spacing:0.039200pt;}
.ls1a{letter-spacing:0.044800pt;}
.ls24{letter-spacing:0.050400pt;}
.ls0{letter-spacing:0.051264pt;}
.ls8{letter-spacing:0.056000pt;}
.ls6{letter-spacing:0.061600pt;}
.lsb{letter-spacing:0.067200pt;}
.ls7{letter-spacing:0.072800pt;}
.lsf{letter-spacing:0.078400pt;}
.lse{letter-spacing:0.084000pt;}
.ls16{letter-spacing:0.089600pt;}
.lsa{letter-spacing:0.095200pt;}
.ls12{letter-spacing:0.100800pt;}
.ls15{letter-spacing:0.106400pt;}
.ls20{letter-spacing:0.112000pt;}
.ls17{letter-spacing:0.117600pt;}
.ls19{letter-spacing:0.123200pt;}
.ls25{letter-spacing:0.128800pt;}
.ls27{letter-spacing:0.134400pt;}
.ls5{letter-spacing:0.162400pt;}
.ls23{letter-spacing:0.196000pt;}
.ws2b{word-spacing:-0.851200pt;}
.ws2d{word-spacing:-0.364000pt;}
.ws31{word-spacing:-0.358400pt;}
.ws5f{word-spacing:-0.352800pt;}
.ws2e{word-spacing:-0.347200pt;}
.ws60{word-spacing:-0.341600pt;}
.ws20{word-spacing:-0.336000pt;}
.ws19{word-spacing:-0.330400pt;}
.ws5c{word-spacing:-0.319200pt;}
.ws13{word-spacing:-0.313600pt;}
.ws42{word-spacing:-0.308000pt;}
.ws52{word-spacing:-0.296800pt;}
.ws3c{word-spacing:-0.050400pt;}
.ws1a{word-spacing:-0.044800pt;}
.ws17{word-spacing:-0.039200pt;}
.ws2f{word-spacing:-0.033600pt;}
.ws14{word-spacing:-0.028000pt;}
.ws36{word-spacing:-0.022400pt;}
.ws8{word-spacing:-0.016800pt;}
.ws29{word-spacing:-0.011200pt;}
.wsb{word-spacing:-0.005600pt;}
.ws0{word-spacing:0.000000pt;}
.ws1c{word-spacing:0.005600pt;}
.ws9{word-spacing:0.011200pt;}
.ws6{word-spacing:0.022400pt;}
.ws3d{word-spacing:0.028000pt;}
.ws1b{word-spacing:0.033600pt;}
.ws1d{word-spacing:0.039200pt;}
.ws18{word-spacing:0.050400pt;}
.ws11{word-spacing:0.061600pt;}
.ws4a{word-spacing:0.067200pt;}
.ws30{word-spacing:0.072800pt;}
.ws2a{word-spacing:0.089600pt;}
.ws21{word-spacing:0.095200pt;}
.ws50{word-spacing:0.106400pt;}
.wsa{word-spacing:0.112000pt;}
.ws7{word-spacing:0.134400pt;}
.ws4f{word-spacing:0.151200pt;}
.ws2c{word-spacing:0.168000pt;}
.ws3e{word-spacing:0.179200pt;}
.ws1{word-spacing:0.196992pt;}
.ws12{word-spacing:0.252000pt;}
.ws2{word-spacing:0.262656pt;}
.ws44{word-spacing:0.263200pt;}
.ws3{word-spacing:0.448000pt;}
.ws34{word-spacing:0.952000pt;}
.wsd{word-spacing:1.304800pt;}
.wsc{word-spacing:1.321600pt;}
.ws46{word-spacing:1.915200pt;}
.ws47{word-spacing:1.926400pt;}
.ws15{word-spacing:2.536800pt;}
.ws4{word-spacing:2.576000pt;}
.ws43{word-spacing:3.158400pt;}
.ws35{word-spacing:3.192000pt;}
.ws54{word-spacing:3.494400pt;}
.ws53{word-spacing:3.567200pt;}
.ws24{word-spacing:3.959200pt;}
.ws25{word-spacing:4.009600pt;}
.ws5d{word-spacing:4.149600pt;}
.ws55{word-spacing:4.172000pt;}
.ws56{word-spacing:4.200000pt;}
.ws16{word-spacing:4.480000pt;}
.ws3b{word-spacing:4.508000pt;}
.ws3f{word-spacing:4.776800pt;}
.ws4b{word-spacing:4.793600pt;}
.ws27{word-spacing:5.124000pt;}
.ws28{word-spacing:5.168800pt;}
.ws5e{word-spacing:5.409600pt;}
.ws26{word-spacing:5.745600pt;}
.ws4c{word-spacing:5.941600pt;}
.ws3a{word-spacing:6.384000pt;}
.ws49{word-spacing:6.742400pt;}
.ws48{word-spacing:6.759200pt;}
.ws61{word-spacing:7.330400pt;}
.ws62{word-spacing:7.375200pt;}
.ws1e{word-spacing:8.646400pt;}
.ws32{word-spacing:9.245600pt;}
.wse{word-spacing:9.262400pt;}
.wsf{word-spacing:9.335200pt;}
.ws33{word-spacing:9.441600pt;}
.ws45{word-spacing:9.576000pt;}
.ws22{word-spacing:10.214400pt;}
.ws23{word-spacing:10.320800pt;}
.ws41{word-spacing:11.222400pt;}
.ws5b{word-spacing:12.146400pt;}
.ws4d{word-spacing:12.168800pt;}
.ws40{word-spacing:12.779200pt;}
.ws1f{word-spacing:14.408800pt;}
.ws10{word-spacing:14.700000pt;}
.ws58{word-spacing:14.744800pt;}
.ws59{word-spacing:14.756000pt;}
.ws57{word-spacing:16.307200pt;}
.ws5{word-spacing:16.968000pt;}
.ws5a{word-spacing:17.897600pt;}
.ws4e{word-spacing:23.044000pt;}
.ws51{word-spacing:25.295200pt;}
.ws37{word-spacing:28.778400pt;}
.ws39{word-spacing:33.924800pt;}
.ws38{word-spacing:33.952800pt;}
._2{margin-left:-9.959040pt;}
._5{margin-left:-7.448000pt;}
._0{margin-left:-6.019200pt;}
._3{margin-left:-4.154880pt;}
._1{margin-left:-2.626560pt;}
._4{width:1.365760pt;}
.fs4{font-size:50.560000pt;}
.fs1{font-size:56.000000pt;}
.fs5{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs2{font-size:93.440000pt;}
.fs3{font-size:109.440000pt;}
.yf{bottom:22.666667pt;}
.ye{bottom:70.027067pt;}
.ybb{bottom:116.819067pt;}
.ya5{bottom:116.839067pt;}
.y71{bottom:116.851067pt;}
.y4a{bottom:116.881067pt;}
.yc2{bottom:137.595067pt;}
.y49{bottom:137.601067pt;}
.yba{bottom:137.623067pt;}
.ya4{bottom:137.643067pt;}
.y70{bottom:137.655067pt;}
.yb9{bottom:158.343067pt;}
.ya3{bottom:158.363067pt;}
.yc1{bottom:158.399067pt;}
.y6f{bottom:158.459067pt;}
.y48{bottom:158.475067pt;}
.y26{bottom:158.666667pt;}
.y3b{bottom:159.067200pt;}
.yc0{bottom:179.203067pt;}
.yb8{bottom:179.217067pt;}
.ya2{bottom:179.237067pt;}
.y6e{bottom:179.263067pt;}
.y47{bottom:179.279067pt;}
.yb7{bottom:199.937067pt;}
.ya1{bottom:199.957067pt;}
.ybf{bottom:200.007067pt;}
.y6d{bottom:200.067067pt;}
.y46{bottom:200.083067pt;}
.yb6{bottom:220.811067pt;}
.ya0{bottom:220.831067pt;}
.y6c{bottom:220.871067pt;}
.y45{bottom:220.887067pt;}
.y96{bottom:241.615067pt;}
.y9f{bottom:241.635067pt;}
.y6b{bottom:241.675067pt;}
.y44{bottom:241.691067pt;}
.y3c{bottom:257.333333pt;}
.y3e{bottom:257.787067pt;}
.y95{bottom:262.419067pt;}
.y9e{bottom:262.439067pt;}
.y6a{bottom:262.479067pt;}
.y43{bottom:262.495067pt;}
.y94{bottom:283.223067pt;}
.y9d{bottom:283.243067pt;}
.y69{bottom:283.283067pt;}
.y42{bottom:283.299067pt;}
.y93{bottom:303.943067pt;}
.yb5{bottom:304.027067pt;}
.y9c{bottom:304.047067pt;}
.y68{bottom:304.087067pt;}
.y41{bottom:304.103067pt;}
.y92{bottom:324.817067pt;}
.yb4{bottom:324.831067pt;}
.y9b{bottom:324.851067pt;}
.y67{bottom:324.891067pt;}
.y3f{bottom:326.000000pt;}
.y40{bottom:326.587067pt;}
.y91{bottom:345.537067pt;}
.yb3{bottom:345.635067pt;}
.y9a{bottom:345.655067pt;}
.y66{bottom:345.695067pt;}
.y25{bottom:345.701200pt;}
.y90{bottom:366.411067pt;}
.yb2{bottom:366.439067pt;}
.y3a{bottom:366.459067pt;}
.y65{bottom:366.499067pt;}
.y24{bottom:366.505200pt;}
.y10{bottom:386.666667pt;}
.y23{bottom:386.987200pt;}
.y8f{bottom:387.215067pt;}
.yb1{bottom:387.243067pt;}
.y39{bottom:387.263067pt;}
.y64{bottom:387.303067pt;}
.y8e{bottom:408.019067pt;}
.yb0{bottom:408.047067pt;}
.y38{bottom:408.067067pt;}
.y63{bottom:408.107067pt;}
.y8d{bottom:428.823067pt;}
.yaf{bottom:428.851067pt;}
.y37{bottom:428.871067pt;}
.y62{bottom:428.911067pt;}
.ybe{bottom:449.571067pt;}
.y8c{bottom:449.627067pt;}
.yae{bottom:449.655067pt;}
.y36{bottom:449.675067pt;}
.y4b{bottom:453.333333pt;}
.y61{bottom:453.467067pt;}
.y8b{bottom:470.431067pt;}
.ybd{bottom:470.445067pt;}
.yad{bottom:470.459067pt;}
.y35{bottom:470.479067pt;}
.yd{bottom:477.541307pt;}
.ybc{bottom:491.165067pt;}
.yac{bottom:491.179067pt;}
.y34{bottom:491.199067pt;}
.y8a{bottom:491.235067pt;}
.y89{bottom:512.039067pt;}
.yab{bottom:512.053067pt;}
.y33{bottom:512.073067pt;}
.yc{bottom:517.627067pt;}
.yb{bottom:517.678267pt;}
.yaa{bottom:532.773067pt;}
.y32{bottom:532.793067pt;}
.y88{bottom:532.843067pt;}
.y87{bottom:553.647067pt;}
.y31{bottom:553.667067pt;}
.ya{bottom:559.265467pt;}
.y86{bottom:574.451067pt;}
.y30{bottom:574.471067pt;}
.y85{bottom:595.255067pt;}
.y60{bottom:595.259067pt;}
.y2f{bottom:595.275067pt;}
.y9{bottom:600.852667pt;}
.y84{bottom:616.059067pt;}
.y5f{bottom:616.063067pt;}
.y2e{bottom:616.079067pt;}
.y83{bottom:636.863067pt;}
.y5e{bottom:636.867067pt;}
.y2d{bottom:636.883067pt;}
.y3d{bottom:637.067067pt;}
.y8{bottom:642.439867pt;}
.y82{bottom:657.667067pt;}
.y5d{bottom:657.671067pt;}
.y22{bottom:657.681067pt;}
.y2c{bottom:657.687067pt;}
.y81{bottom:678.471067pt;}
.y5c{bottom:678.475067pt;}
.y21{bottom:678.485067pt;}
.y2b{bottom:678.491067pt;}
.y7{bottom:684.027067pt;}
.y80{bottom:699.191067pt;}
.y5b{bottom:699.195067pt;}
.ya9{bottom:699.275067pt;}
.y20{bottom:699.289067pt;}
.y2a{bottom:699.295067pt;}
.ya8{bottom:719.995067pt;}
.y1f{bottom:720.009067pt;}
.y7f{bottom:720.065067pt;}
.y5a{bottom:720.069067pt;}
.y29{bottom:720.099067pt;}
.y6{bottom:727.151547pt;}
.y7e{bottom:740.785067pt;}
.y59{bottom:740.789067pt;}
.ya7{bottom:740.869067pt;}
.y1e{bottom:740.883067pt;}
.y28{bottom:740.903067pt;}
.y27{bottom:757.227067pt;}
.ya6{bottom:761.589067pt;}
.y1d{bottom:761.603067pt;}
.y7d{bottom:761.659067pt;}
.y58{bottom:761.663067pt;}
.y99{bottom:761.707067pt;}
.y0{bottom:764.000000pt;}
.y5{bottom:764.107067pt;}
.y7c{bottom:782.463067pt;}
.y57{bottom:782.467067pt;}
.y1c{bottom:782.477067pt;}
.y97{bottom:786.000000pt;}
.y98{bottom:786.347067pt;}
.y7b{bottom:803.267067pt;}
.y56{bottom:803.271067pt;}
.y1b{bottom:803.281067pt;}
.y7a{bottom:824.071067pt;}
.y55{bottom:824.075067pt;}
.y1a{bottom:824.085067pt;}
.y79{bottom:844.875067pt;}
.y54{bottom:844.879067pt;}
.y19{bottom:844.889067pt;}
.y78{bottom:865.679067pt;}
.y53{bottom:865.683067pt;}
.y18{bottom:865.693067pt;}
.y77{bottom:886.483067pt;}
.y52{bottom:886.487067pt;}
.y17{bottom:886.497067pt;}
.y76{bottom:907.287067pt;}
.y51{bottom:907.291067pt;}
.y16{bottom:907.301067pt;}
.y4{bottom:914.338747pt;}
.y75{bottom:928.091067pt;}
.y50{bottom:928.095067pt;}
.y15{bottom:928.105067pt;}
.y74{bottom:948.895067pt;}
.y4f{bottom:948.899067pt;}
.y14{bottom:948.909067pt;}
.y3{bottom:955.942907pt;}
.y73{bottom:969.699067pt;}
.y4e{bottom:969.703067pt;}
.y13{bottom:969.713067pt;}
.y12{bottom:990.433067pt;}
.y72{bottom:990.503067pt;}
.y4d{bottom:990.507067pt;}
.y2{bottom:997.547067pt;}
.y4c{bottom:1011.227067pt;}
.y11{bottom:1011.307067pt;}
.y1{bottom:1046.107067pt;}
.h5{height:56.090000pt;}
.h8{height:62.125000pt;}
.h9{height:64.121094pt;}
.h6{height:92.020833pt;}
.h2{height:97.830469pt;}
.h3{height:106.990625pt;}
.h4{height:125.310937pt;}
.hd{height:128.000000pt;}
.h1{height:130.666667pt;}
.he{height:232.000000pt;}
.h7{height:260.666667pt;}
.hc{height:694.000000pt;}
.hb{height:764.000000pt;}
.ha{height:867.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:456.666667pt;}
.w4{width:547.333333pt;}
.w3{width:553.333333pt;}
.w2{width:554.000000pt;}
.w0{width:793.626667pt;}
.xa{left:120.000000pt;}
.x5{left:148.548960pt;}
.x0{left:168.666667pt;}
.x9{left:326.666667pt;}
.x6{left:332.079840pt;}
.x4{left:352.080000pt;}
.x1{left:361.920000pt;}
.x2{left:396.880000pt;}
.x7{left:461.600000pt;}
.xc{left:595.040000pt;}
.x3{left:624.880000pt;}
.xd{left:651.040000pt;}
.x8{left:657.200000pt;}
.xe{left:667.040000pt;}
.xb{left:673.520000pt;}
}
