.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m2{transform:matrix(0.249524,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249524,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249524,0.000000,0.000000,0.250000,0,0);}
.m3{transform:matrix(0.249527,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249527,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249527,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls12{letter-spacing:-0.105600px;}
.lsa{letter-spacing:-0.096000px;}
.ls17{letter-spacing:-0.062400px;}
.ls14{letter-spacing:-0.057600px;}
.ls18{letter-spacing:-0.038400px;}
.ls4{letter-spacing:-0.036000px;}
.ls7{letter-spacing:-0.033600px;}
.ls1a{letter-spacing:-0.024000px;}
.lsb{letter-spacing:-0.019200px;}
.ls15{letter-spacing:-0.014400px;}
.ls2{letter-spacing:-0.009600px;}
.ls5{letter-spacing:-0.004800px;}
.ls1{letter-spacing:0.000000px;}
.lsd{letter-spacing:0.004800px;}
.ls3{letter-spacing:0.009600px;}
.ls11{letter-spacing:0.014400px;}
.ls8{letter-spacing:0.019200px;}
.ls6{letter-spacing:0.024000px;}
.lsc{letter-spacing:0.028800px;}
.lsf{letter-spacing:0.033600px;}
.lse{letter-spacing:0.038400px;}
.ls0{letter-spacing:0.038448px;}
.ls13{letter-spacing:0.043200px;}
.ls10{letter-spacing:0.048000px;}
.ls16{letter-spacing:0.052800px;}
.ls1e{letter-spacing:0.057600px;}
.ls1c{letter-spacing:0.062400px;}
.ls19{letter-spacing:0.072000px;}
.ls1f{letter-spacing:0.081600px;}
.ls9{letter-spacing:0.086400px;}
.ls1b{letter-spacing:0.102528px;}
.ls20{letter-spacing:0.129600px;}
.ls1d{letter-spacing:309.249600px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws30{word-spacing:-0.273600px;}
.ws26{word-spacing:-0.244800px;}
.ws25{word-spacing:-0.240000px;}
.ws23{word-spacing:-0.201600px;}
.ws22{word-spacing:-0.192000px;}
.ws2e{word-spacing:-0.172800px;}
.ws2a{word-spacing:-0.163200px;}
.ws1b{word-spacing:-0.148800px;}
.ws1e{word-spacing:-0.144000px;}
.ws18{word-spacing:-0.139200px;}
.ws1c{word-spacing:-0.129600px;}
.ws31{word-spacing:-0.124800px;}
.wsf{word-spacing:-0.120000px;}
.wsd{word-spacing:-0.115200px;}
.ws2b{word-spacing:-0.105600px;}
.ws4{word-spacing:-0.100800px;}
.wsc{word-spacing:-0.096000px;}
.ws2c{word-spacing:-0.091200px;}
.ws1a{word-spacing:-0.086400px;}
.ws29{word-spacing:-0.081600px;}
.ws13{word-spacing:-0.076800px;}
.ws21{word-spacing:-0.072000px;}
.wsa{word-spacing:-0.067200px;}
.ws16{word-spacing:-0.062400px;}
.ws5{word-spacing:-0.057600px;}
.wsb{word-spacing:-0.052800px;}
.ws14{word-spacing:-0.048000px;}
.ws6{word-spacing:-0.043200px;}
.ws1f{word-spacing:-0.038400px;}
.wse{word-spacing:-0.033600px;}
.ws9{word-spacing:-0.028800px;}
.ws19{word-spacing:-0.024000px;}
.ws8{word-spacing:-0.019200px;}
.ws12{word-spacing:-0.014400px;}
.ws1{word-spacing:-0.009600px;}
.ws15{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.ws3{word-spacing:0.004800px;}
.ws11{word-spacing:0.009600px;}
.ws1d{word-spacing:0.014400px;}
.ws7{word-spacing:0.019200px;}
.ws24{word-spacing:0.024000px;}
.ws2f{word-spacing:0.028800px;}
.ws10{word-spacing:0.033600px;}
.ws27{word-spacing:0.038400px;}
.ws17{word-spacing:0.057600px;}
.ws20{word-spacing:0.062400px;}
.ws2d{word-spacing:0.076800px;}
.ws28{word-spacing:0.086400px;}
.ws32{word-spacing:0.100800px;}
.ws2{word-spacing:0.156000px;}
._0{margin-left:-1.056000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:48.000000px;}
.fs4{font-size:56.000000px;}
.fs2{font-size:60.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:96.000000px;}
.y14{bottom:16.000000px;}
.y2{bottom:39.000000px;}
.y80{bottom:81.840000px;}
.y42{bottom:88.020000px;}
.y7f{bottom:95.760000px;}
.y4d{bottom:101.700000px;}
.y41{bottom:101.820000px;}
.y7e{bottom:109.440000px;}
.y40{bottom:115.620000px;}
.y7d{bottom:123.360000px;}
.y5b{bottom:129.300000px;}
.y3f{bottom:129.420000px;}
.y7c{bottom:137.160000px;}
.y54{bottom:143.100000px;}
.y3e{bottom:143.220000px;}
.y7b{bottom:150.960000px;}
.y82{bottom:156.900000px;}
.y3d{bottom:157.020000px;}
.y7a{bottom:164.760000px;}
.y53{bottom:170.700000px;}
.y3c{bottom:170.820000px;}
.y79{bottom:178.560000px;}
.y3b{bottom:184.620000px;}
.y78{bottom:192.360000px;}
.y3a{bottom:198.300000px;}
.y4c{bottom:198.420000px;}
.y77{bottom:206.160000px;}
.y39{bottom:212.220000px;}
.y76{bottom:219.960000px;}
.y38{bottom:225.900000px;}
.y4b{bottom:226.020000px;}
.y75{bottom:233.760000px;}
.y37{bottom:239.820000px;}
.y74{bottom:247.440000px;}
.y60{bottom:253.500000px;}
.y36{bottom:253.620000px;}
.y73{bottom:261.360000px;}
.y5a{bottom:267.300000px;}
.y35{bottom:267.420000px;}
.y72{bottom:275.040000px;}
.y5f{bottom:281.100000px;}
.y34{bottom:281.220000px;}
.y71{bottom:288.960000px;}
.y59{bottom:294.900000px;}
.y33{bottom:295.020000px;}
.y70{bottom:302.760000px;}
.y13{bottom:308.100000px;}
.y32{bottom:308.820000px;}
.y6f{bottom:316.560000px;}
.y4a{bottom:322.500000px;}
.y31{bottom:322.620000px;}
.y12{bottom:325.320000px;}
.y6e{bottom:330.360000px;}
.y30{bottom:336.420000px;}
.y6d{bottom:344.160000px;}
.y11{bottom:344.580000px;}
.y2f{bottom:350.100000px;}
.y51{bottom:350.220000px;}
.y6c{bottom:357.960000px;}
.y50{bottom:363.840000px;}
.y2e{bottom:363.960000px;}
.y6b{bottom:371.760000px;}
.y10{bottom:372.180000px;}
.y2d{bottom:377.640000px;}
.y49{bottom:377.760000px;}
.y6a{bottom:385.560000px;}
.y4f{bottom:391.440000px;}
.y2c{bottom:391.560000px;}
.y69{bottom:399.360000px;}
.yf{bottom:399.780000px;}
.y5e{bottom:405.240000px;}
.y2b{bottom:405.360000px;}
.y68{bottom:413.160000px;}
.y2a{bottom:419.160000px;}
.y67{bottom:426.960000px;}
.ye{bottom:427.380000px;}
.y5d{bottom:432.840000px;}
.y29{bottom:432.960000px;}
.y66{bottom:440.760000px;}
.y58{bottom:446.640000px;}
.y28{bottom:446.760000px;}
.y0{bottom:449.500000px;}
.yd{bottom:449.700000px;}
.y65{bottom:454.500000px;}
.y85{bottom:460.440000px;}
.y27{bottom:460.560000px;}
.y64{bottom:468.300000px;}
.y57{bottom:474.240000px;}
.y26{bottom:474.360000px;}
.y61{bottom:479.500000px;}
.y63{bottom:485.340000px;}
.y48{bottom:488.040000px;}
.y25{bottom:488.160000px;}
.y62{bottom:501.480000px;}
.y52{bottom:501.840000px;}
.y24{bottom:501.960000px;}
.y47{bottom:515.640000px;}
.y23{bottom:515.760000px;}
.y22{bottom:529.440000px;}
.y46{bottom:529.560000px;}
.y81{bottom:543.240000px;}
.y21{bottom:543.360000px;}
.yc{bottom:550.800000px;}
.y20{bottom:557.040000px;}
.y45{bottom:557.160000px;}
.yb{bottom:568.020000px;}
.y1f{bottom:570.960000px;}
.y5c{bottom:584.640000px;}
.y1e{bottom:584.760000px;}
.ya{bottom:585.300000px;}
.y84{bottom:598.440000px;}
.y1d{bottom:598.560000px;}
.y9{bottom:602.520000px;}
.y56{bottom:612.240000px;}
.y1c{bottom:612.360000px;}
.y8{bottom:619.800000px;}
.y83{bottom:626.040000px;}
.y1b{bottom:626.160000px;}
.y7{bottom:637.020000px;}
.y55{bottom:639.840000px;}
.y1a{bottom:639.960000px;}
.y19{bottom:653.760000px;}
.y6{bottom:654.300000px;}
.y44{bottom:667.440000px;}
.y18{bottom:667.560000px;}
.y5{bottom:671.520000px;}
.y17{bottom:681.360000px;}
.y4{bottom:688.800000px;}
.y16{bottom:695.040000px;}
.y4e{bottom:695.160000px;}
.y3{bottom:706.020000px;}
.y15{bottom:708.840000px;}
.y43{bottom:708.960000px;}
.y1{bottom:741.120000px;}
.h3{height:53.250000px;}
.h7{height:54.960938px;}
.h4{height:68.701172px;}
.h6{height:69.015625px;}
.h2{height:73.372852px;}
.h1{height:98.000000px;}
.h5{height:109.921875px;}
.h8{height:240.500000px;}
.h0{height:792.000000px;}
.w2{width:291.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.xa{left:84.500000px;}
.x9{left:90.000000px;}
.x6{left:91.308000px;}
.x0{left:135.500000px;}
.x8{left:253.000000px;}
.x7{left:254.628000px;}
.x5{left:265.980000px;}
.x1{left:279.300000px;}
.x3{left:306.000000px;}
.xb{left:332.640000px;}
.xc{left:383.940106px;}
.x4{left:477.900000px;}
.x2{left:516.960000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls12{letter-spacing:-0.140800pt;}
.lsa{letter-spacing:-0.128000pt;}
.ls17{letter-spacing:-0.083200pt;}
.ls14{letter-spacing:-0.076800pt;}
.ls18{letter-spacing:-0.051200pt;}
.ls4{letter-spacing:-0.048000pt;}
.ls7{letter-spacing:-0.044800pt;}
.ls1a{letter-spacing:-0.032000pt;}
.lsb{letter-spacing:-0.025600pt;}
.ls15{letter-spacing:-0.019200pt;}
.ls2{letter-spacing:-0.012800pt;}
.ls5{letter-spacing:-0.006400pt;}
.ls1{letter-spacing:0.000000pt;}
.lsd{letter-spacing:0.006400pt;}
.ls3{letter-spacing:0.012800pt;}
.ls11{letter-spacing:0.019200pt;}
.ls8{letter-spacing:0.025600pt;}
.ls6{letter-spacing:0.032000pt;}
.lsc{letter-spacing:0.038400pt;}
.lsf{letter-spacing:0.044800pt;}
.lse{letter-spacing:0.051200pt;}
.ls0{letter-spacing:0.051264pt;}
.ls13{letter-spacing:0.057600pt;}
.ls10{letter-spacing:0.064000pt;}
.ls16{letter-spacing:0.070400pt;}
.ls1e{letter-spacing:0.076800pt;}
.ls1c{letter-spacing:0.083200pt;}
.ls19{letter-spacing:0.096000pt;}
.ls1f{letter-spacing:0.108800pt;}
.ls9{letter-spacing:0.115200pt;}
.ls1b{letter-spacing:0.136704pt;}
.ls20{letter-spacing:0.172800pt;}
.ls1d{letter-spacing:412.332800pt;}
.ws30{word-spacing:-0.364800pt;}
.ws26{word-spacing:-0.326400pt;}
.ws25{word-spacing:-0.320000pt;}
.ws23{word-spacing:-0.268800pt;}
.ws22{word-spacing:-0.256000pt;}
.ws2e{word-spacing:-0.230400pt;}
.ws2a{word-spacing:-0.217600pt;}
.ws1b{word-spacing:-0.198400pt;}
.ws1e{word-spacing:-0.192000pt;}
.ws18{word-spacing:-0.185600pt;}
.ws1c{word-spacing:-0.172800pt;}
.ws31{word-spacing:-0.166400pt;}
.wsf{word-spacing:-0.160000pt;}
.wsd{word-spacing:-0.153600pt;}
.ws2b{word-spacing:-0.140800pt;}
.ws4{word-spacing:-0.134400pt;}
.wsc{word-spacing:-0.128000pt;}
.ws2c{word-spacing:-0.121600pt;}
.ws1a{word-spacing:-0.115200pt;}
.ws29{word-spacing:-0.108800pt;}
.ws13{word-spacing:-0.102400pt;}
.ws21{word-spacing:-0.096000pt;}
.wsa{word-spacing:-0.089600pt;}
.ws16{word-spacing:-0.083200pt;}
.ws5{word-spacing:-0.076800pt;}
.wsb{word-spacing:-0.070400pt;}
.ws14{word-spacing:-0.064000pt;}
.ws6{word-spacing:-0.057600pt;}
.ws1f{word-spacing:-0.051200pt;}
.wse{word-spacing:-0.044800pt;}
.ws9{word-spacing:-0.038400pt;}
.ws19{word-spacing:-0.032000pt;}
.ws8{word-spacing:-0.025600pt;}
.ws12{word-spacing:-0.019200pt;}
.ws1{word-spacing:-0.012800pt;}
.ws15{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.ws3{word-spacing:0.006400pt;}
.ws11{word-spacing:0.012800pt;}
.ws1d{word-spacing:0.019200pt;}
.ws7{word-spacing:0.025600pt;}
.ws24{word-spacing:0.032000pt;}
.ws2f{word-spacing:0.038400pt;}
.ws10{word-spacing:0.044800pt;}
.ws27{word-spacing:0.051200pt;}
.ws17{word-spacing:0.076800pt;}
.ws20{word-spacing:0.083200pt;}
.ws2d{word-spacing:0.102400pt;}
.ws28{word-spacing:0.115200pt;}
.ws32{word-spacing:0.134400pt;}
.ws2{word-spacing:0.208000pt;}
._0{margin-left:-1.408000pt;}
.fs1{font-size:64.000000pt;}
.fs4{font-size:74.666667pt;}
.fs2{font-size:80.000000pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:128.000000pt;}
.y14{bottom:21.333333pt;}
.y2{bottom:52.000000pt;}
.y80{bottom:109.120000pt;}
.y42{bottom:117.360000pt;}
.y7f{bottom:127.680000pt;}
.y4d{bottom:135.600000pt;}
.y41{bottom:135.760000pt;}
.y7e{bottom:145.920000pt;}
.y40{bottom:154.160000pt;}
.y7d{bottom:164.480000pt;}
.y5b{bottom:172.400000pt;}
.y3f{bottom:172.560000pt;}
.y7c{bottom:182.880000pt;}
.y54{bottom:190.800000pt;}
.y3e{bottom:190.960000pt;}
.y7b{bottom:201.280000pt;}
.y82{bottom:209.200000pt;}
.y3d{bottom:209.360000pt;}
.y7a{bottom:219.680000pt;}
.y53{bottom:227.600000pt;}
.y3c{bottom:227.760000pt;}
.y79{bottom:238.080000pt;}
.y3b{bottom:246.160000pt;}
.y78{bottom:256.480000pt;}
.y3a{bottom:264.400000pt;}
.y4c{bottom:264.560000pt;}
.y77{bottom:274.880000pt;}
.y39{bottom:282.960000pt;}
.y76{bottom:293.280000pt;}
.y38{bottom:301.200000pt;}
.y4b{bottom:301.360000pt;}
.y75{bottom:311.680000pt;}
.y37{bottom:319.760000pt;}
.y74{bottom:329.920000pt;}
.y60{bottom:338.000000pt;}
.y36{bottom:338.160000pt;}
.y73{bottom:348.480000pt;}
.y5a{bottom:356.400000pt;}
.y35{bottom:356.560000pt;}
.y72{bottom:366.720000pt;}
.y5f{bottom:374.800000pt;}
.y34{bottom:374.960000pt;}
.y71{bottom:385.280000pt;}
.y59{bottom:393.200000pt;}
.y33{bottom:393.360000pt;}
.y70{bottom:403.680000pt;}
.y13{bottom:410.800000pt;}
.y32{bottom:411.760000pt;}
.y6f{bottom:422.080000pt;}
.y4a{bottom:430.000000pt;}
.y31{bottom:430.160000pt;}
.y12{bottom:433.760000pt;}
.y6e{bottom:440.480000pt;}
.y30{bottom:448.560000pt;}
.y6d{bottom:458.880000pt;}
.y11{bottom:459.440000pt;}
.y2f{bottom:466.800000pt;}
.y51{bottom:466.960000pt;}
.y6c{bottom:477.280000pt;}
.y50{bottom:485.120000pt;}
.y2e{bottom:485.280000pt;}
.y6b{bottom:495.680000pt;}
.y10{bottom:496.240000pt;}
.y2d{bottom:503.520000pt;}
.y49{bottom:503.680000pt;}
.y6a{bottom:514.080000pt;}
.y4f{bottom:521.920000pt;}
.y2c{bottom:522.080000pt;}
.y69{bottom:532.480000pt;}
.yf{bottom:533.040000pt;}
.y5e{bottom:540.320000pt;}
.y2b{bottom:540.480000pt;}
.y68{bottom:550.880000pt;}
.y2a{bottom:558.880000pt;}
.y67{bottom:569.280000pt;}
.ye{bottom:569.840000pt;}
.y5d{bottom:577.120000pt;}
.y29{bottom:577.280000pt;}
.y66{bottom:587.680000pt;}
.y58{bottom:595.520000pt;}
.y28{bottom:595.680000pt;}
.y0{bottom:599.333333pt;}
.yd{bottom:599.600000pt;}
.y65{bottom:606.000000pt;}
.y85{bottom:613.920000pt;}
.y27{bottom:614.080000pt;}
.y64{bottom:624.400000pt;}
.y57{bottom:632.320000pt;}
.y26{bottom:632.480000pt;}
.y61{bottom:639.333333pt;}
.y63{bottom:647.120000pt;}
.y48{bottom:650.720000pt;}
.y25{bottom:650.880000pt;}
.y62{bottom:668.640000pt;}
.y52{bottom:669.120000pt;}
.y24{bottom:669.280000pt;}
.y47{bottom:687.520000pt;}
.y23{bottom:687.680000pt;}
.y22{bottom:705.920000pt;}
.y46{bottom:706.080000pt;}
.y81{bottom:724.320000pt;}
.y21{bottom:724.480000pt;}
.yc{bottom:734.400000pt;}
.y20{bottom:742.720000pt;}
.y45{bottom:742.880000pt;}
.yb{bottom:757.360000pt;}
.y1f{bottom:761.280000pt;}
.y5c{bottom:779.520000pt;}
.y1e{bottom:779.680000pt;}
.ya{bottom:780.400000pt;}
.y84{bottom:797.920000pt;}
.y1d{bottom:798.080000pt;}
.y9{bottom:803.360000pt;}
.y56{bottom:816.320000pt;}
.y1c{bottom:816.480000pt;}
.y8{bottom:826.400000pt;}
.y83{bottom:834.720000pt;}
.y1b{bottom:834.880000pt;}
.y7{bottom:849.360000pt;}
.y55{bottom:853.120000pt;}
.y1a{bottom:853.280000pt;}
.y19{bottom:871.680000pt;}
.y6{bottom:872.400000pt;}
.y44{bottom:889.920000pt;}
.y18{bottom:890.080000pt;}
.y5{bottom:895.360000pt;}
.y17{bottom:908.480000pt;}
.y4{bottom:918.400000pt;}
.y16{bottom:926.720000pt;}
.y4e{bottom:926.880000pt;}
.y3{bottom:941.360000pt;}
.y15{bottom:945.120000pt;}
.y43{bottom:945.280000pt;}
.y1{bottom:988.160000pt;}
.h3{height:71.000000pt;}
.h7{height:73.281250pt;}
.h4{height:91.601562pt;}
.h6{height:92.020833pt;}
.h2{height:97.830469pt;}
.h1{height:130.666667pt;}
.h5{height:146.562500pt;}
.h8{height:320.666667pt;}
.h0{height:1056.000000pt;}
.w2{width:388.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.xa{left:112.666667pt;}
.x9{left:120.000000pt;}
.x6{left:121.744000pt;}
.x0{left:180.666667pt;}
.x8{left:337.333333pt;}
.x7{left:339.504000pt;}
.x5{left:354.640000pt;}
.x1{left:372.400000pt;}
.x3{left:408.000000pt;}
.xb{left:443.520000pt;}
.xc{left:511.920142pt;}
.x4{left:637.200000pt;}
.x2{left:689.280000pt;}
}
