.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-0.096000px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.096000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.008000px;}
._1{width:1.016000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:48.000000px;}
.fs1{font-size:56.000000px;}
.y26{bottom:16.000000px;}
.y52{bottom:79.584000px;}
.y25{bottom:88.464000px;}
.y4e{bottom:90.144000px;}
.y51{bottom:95.544000px;}
.y24{bottom:104.420000px;}
.y4d{bottom:105.980000px;}
.y4f{bottom:108.500000px;}
.y50{bottom:108.620000px;}
.y23{bottom:120.260000px;}
.y4c{bottom:121.820000px;}
.y22{bottom:136.100000px;}
.y4b{bottom:137.660000px;}
.y21{bottom:151.940000px;}
.y4a{bottom:153.620000px;}
.y20{bottom:167.900000px;}
.y49{bottom:169.460000px;}
.y1f{bottom:183.740000px;}
.y48{bottom:185.300000px;}
.y1e{bottom:199.580000px;}
.y47{bottom:201.140000px;}
.y1d{bottom:215.450000px;}
.y46{bottom:217.130000px;}
.y1c{bottom:231.410000px;}
.y45{bottom:232.970000px;}
.y1b{bottom:247.250000px;}
.y44{bottom:248.810000px;}
.y1a{bottom:263.090000px;}
.y43{bottom:264.650000px;}
.y19{bottom:278.930000px;}
.y42{bottom:280.610000px;}
.y18{bottom:294.770000px;}
.y41{bottom:296.450000px;}
.y17{bottom:310.730000px;}
.y40{bottom:312.290000px;}
.y16{bottom:326.570000px;}
.y3f{bottom:328.130000px;}
.y15{bottom:342.410000px;}
.y3e{bottom:344.090000px;}
.y14{bottom:358.250000px;}
.y3d{bottom:359.930000px;}
.y13{bottom:374.230000px;}
.y3c{bottom:375.790000px;}
.y12{bottom:390.070000px;}
.y3b{bottom:391.630000px;}
.y11{bottom:405.910000px;}
.y3a{bottom:407.470000px;}
.y10{bottom:421.750000px;}
.y39{bottom:423.430000px;}
.yf{bottom:437.710000px;}
.y38{bottom:439.270000px;}
.ye{bottom:453.550000px;}
.y37{bottom:455.110000px;}
.yd{bottom:469.150000px;}
.y36{bottom:470.950000px;}
.yc{bottom:484.990000px;}
.y35{bottom:486.910000px;}
.yb{bottom:500.950000px;}
.y34{bottom:502.750000px;}
.ya{bottom:516.790000px;}
.y33{bottom:518.590000px;}
.y9{bottom:532.630000px;}
.y32{bottom:534.430000px;}
.y8{bottom:548.500000px;}
.y31{bottom:550.420000px;}
.y7{bottom:564.460000px;}
.y30{bottom:566.260000px;}
.y6{bottom:580.300000px;}
.y2f{bottom:582.100000px;}
.y5{bottom:596.140000px;}
.y2e{bottom:597.940000px;}
.y4{bottom:611.980000px;}
.y2d{bottom:613.900000px;}
.y3{bottom:627.940000px;}
.y2c{bottom:629.740000px;}
.y2{bottom:643.780000px;}
.y2b{bottom:645.580000px;}
.y0{bottom:656.500000px;}
.y1{bottom:656.980000px;}
.y2a{bottom:661.420000px;}
.y29{bottom:677.380000px;}
.y28{bottom:693.220000px;}
.y27{bottom:709.080000px;}
.h3{height:53.250000px;}
.h2{height:54.960938px;}
.h1{height:63.500000px;}
.h4{height:69.015625px;}
.h5{height:183.500000px;}
.h0{height:792.000000px;}
.w1{width:208.000000px;}
.w2{width:468.000000px;}
.w0{width:612.000000px;}
.x0{left:72.000000px;}
.x4{left:186.980000px;}
.x6{left:253.000000px;}
.x5{left:277.010000px;}
.x1{left:279.890000px;}
.x2{left:286.010000px;}
.x3{left:306.050000px;}
.x7{left:539.980000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-0.128000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.128000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.344000pt;}
._1{width:1.354667pt;}
.fs0{font-size:64.000000pt;}
.fs1{font-size:74.666667pt;}
.y26{bottom:21.333333pt;}
.y52{bottom:106.112000pt;}
.y25{bottom:117.952000pt;}
.y4e{bottom:120.192000pt;}
.y51{bottom:127.392000pt;}
.y24{bottom:139.226667pt;}
.y4d{bottom:141.306667pt;}
.y4f{bottom:144.666667pt;}
.y50{bottom:144.826667pt;}
.y23{bottom:160.346667pt;}
.y4c{bottom:162.426667pt;}
.y22{bottom:181.466667pt;}
.y4b{bottom:183.546667pt;}
.y21{bottom:202.586667pt;}
.y4a{bottom:204.826667pt;}
.y20{bottom:223.866667pt;}
.y49{bottom:225.946667pt;}
.y1f{bottom:244.986667pt;}
.y48{bottom:247.066667pt;}
.y1e{bottom:266.106667pt;}
.y47{bottom:268.186667pt;}
.y1d{bottom:287.266667pt;}
.y46{bottom:289.506667pt;}
.y1c{bottom:308.546667pt;}
.y45{bottom:310.626667pt;}
.y1b{bottom:329.666667pt;}
.y44{bottom:331.746667pt;}
.y1a{bottom:350.786667pt;}
.y43{bottom:352.866667pt;}
.y19{bottom:371.906667pt;}
.y42{bottom:374.146667pt;}
.y18{bottom:393.026667pt;}
.y41{bottom:395.266667pt;}
.y17{bottom:414.306667pt;}
.y40{bottom:416.386667pt;}
.y16{bottom:435.426667pt;}
.y3f{bottom:437.506667pt;}
.y15{bottom:456.546667pt;}
.y3e{bottom:458.786667pt;}
.y14{bottom:477.666667pt;}
.y3d{bottom:479.906667pt;}
.y13{bottom:498.973333pt;}
.y3c{bottom:501.053333pt;}
.y12{bottom:520.093333pt;}
.y3b{bottom:522.173333pt;}
.y11{bottom:541.213333pt;}
.y3a{bottom:543.293333pt;}
.y10{bottom:562.333333pt;}
.y39{bottom:564.573333pt;}
.yf{bottom:583.613333pt;}
.y38{bottom:585.693333pt;}
.ye{bottom:604.733333pt;}
.y37{bottom:606.813333pt;}
.yd{bottom:625.533333pt;}
.y36{bottom:627.933333pt;}
.yc{bottom:646.653333pt;}
.y35{bottom:649.213333pt;}
.yb{bottom:667.933333pt;}
.y34{bottom:670.333333pt;}
.ya{bottom:689.053333pt;}
.y33{bottom:691.453333pt;}
.y9{bottom:710.173333pt;}
.y32{bottom:712.573333pt;}
.y8{bottom:731.333333pt;}
.y31{bottom:733.893333pt;}
.y7{bottom:752.613333pt;}
.y30{bottom:755.013333pt;}
.y6{bottom:773.733333pt;}
.y2f{bottom:776.133333pt;}
.y5{bottom:794.853333pt;}
.y2e{bottom:797.253333pt;}
.y4{bottom:815.973333pt;}
.y2d{bottom:818.533333pt;}
.y3{bottom:837.253333pt;}
.y2c{bottom:839.653333pt;}
.y2{bottom:858.373333pt;}
.y2b{bottom:860.773333pt;}
.y0{bottom:875.333333pt;}
.y1{bottom:875.973333pt;}
.y2a{bottom:881.893333pt;}
.y29{bottom:903.173333pt;}
.y28{bottom:924.293333pt;}
.y27{bottom:945.440000pt;}
.h3{height:71.000000pt;}
.h2{height:73.281250pt;}
.h1{height:84.666667pt;}
.h4{height:92.020833pt;}
.h5{height:244.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:277.333333pt;}
.w2{width:624.000000pt;}
.w0{width:816.000000pt;}
.x0{left:96.000000pt;}
.x4{left:249.306667pt;}
.x6{left:337.333333pt;}
.x5{left:369.346667pt;}
.x1{left:373.186667pt;}
.x2{left:381.346667pt;}
.x3{left:408.066667pt;}
.x7{left:719.973333pt;}
}
