.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls2e{letter-spacing:-1.318800px;}
.ls2f{letter-spacing:-0.075600px;}
.ls27{letter-spacing:-0.071400px;}
.ls1b{letter-spacing:-0.063000px;}
.ls2b{letter-spacing:-0.058800px;}
.ls26{letter-spacing:-0.054600px;}
.ls8{letter-spacing:-0.050400px;}
.ls2a{letter-spacing:-0.046200px;}
.ls22{letter-spacing:-0.042000px;}
.ls3{letter-spacing:-0.038448px;}
.ls5{letter-spacing:-0.037800px;}
.ls2c{letter-spacing:-0.033600px;}
.ls17{letter-spacing:-0.029400px;}
.ls2{letter-spacing:-0.025632px;}
.ls28{letter-spacing:-0.025200px;}
.ls21{letter-spacing:-0.021000px;}
.ls11{letter-spacing:-0.008400px;}
.ls1{letter-spacing:0.000000px;}
.ls1e{letter-spacing:0.004200px;}
.ls19{letter-spacing:0.008400px;}
.ls25{letter-spacing:0.012600px;}
.ls2d{letter-spacing:0.016800px;}
.lse{letter-spacing:0.021000px;}
.ls29{letter-spacing:0.025200px;}
.lsb{letter-spacing:0.029400px;}
.ls1f{letter-spacing:0.033600px;}
.ls4{letter-spacing:0.036000px;}
.ls15{letter-spacing:0.037800px;}
.ls0{letter-spacing:0.038448px;}
.lsa{letter-spacing:0.042000px;}
.ls12{letter-spacing:0.046200px;}
.lsd{letter-spacing:0.050400px;}
.ls9{letter-spacing:0.054600px;}
.ls16{letter-spacing:0.058800px;}
.ls7{letter-spacing:0.063000px;}
.lsc{letter-spacing:0.067200px;}
.ls13{letter-spacing:0.071400px;}
.lsf{letter-spacing:0.075600px;}
.ls14{letter-spacing:0.079800px;}
.ls1d{letter-spacing:0.084000px;}
.ls20{letter-spacing:0.088200px;}
.ls1a{letter-spacing:0.092400px;}
.ls10{letter-spacing:0.096600px;}
.ls1c{letter-spacing:0.100800px;}
.ls23{letter-spacing:0.105000px;}
.ls6{letter-spacing:0.121800px;}
.ls18{letter-spacing:0.147000px;}
.ls24{letter-spacing:10.621800px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws3c{word-spacing:-0.709800px;}
.ws27{word-spacing:-0.285600px;}
.ws2f{word-spacing:-0.277200px;}
.ws46{word-spacing:-0.273000px;}
.ws40{word-spacing:-0.256200px;}
.ws1b{word-spacing:-0.247800px;}
.ws48{word-spacing:-0.239400px;}
.ws1d{word-spacing:-0.042000px;}
.wsf{word-spacing:-0.037800px;}
.ws18{word-spacing:-0.033600px;}
.ws3d{word-spacing:-0.029400px;}
.ws1e{word-spacing:-0.025200px;}
.ws13{word-spacing:-0.021000px;}
.ws1{word-spacing:-0.019224px;}
.ws14{word-spacing:-0.016800px;}
.ws12{word-spacing:-0.012600px;}
.wsb{word-spacing:-0.008400px;}
.ws2{word-spacing:-0.006408px;}
.ws1a{word-spacing:-0.004200px;}
.ws0{word-spacing:0.000000px;}
.ws29{word-spacing:0.004200px;}
.wsc{word-spacing:0.008400px;}
.ws11{word-spacing:0.012600px;}
.ws34{word-spacing:0.016800px;}
.ws64{word-spacing:0.021000px;}
.ws20{word-spacing:0.025200px;}
.ws1c{word-spacing:0.029400px;}
.ws42{word-spacing:0.033600px;}
.ws45{word-spacing:0.042000px;}
.ws2e{word-spacing:0.046200px;}
.ws17{word-spacing:0.050400px;}
.ws1f{word-spacing:0.054600px;}
.ws61{word-spacing:0.058800px;}
.ws10{word-spacing:0.067200px;}
.ws24{word-spacing:0.079800px;}
.ws33{word-spacing:0.084000px;}
.ws41{word-spacing:0.092400px;}
.ws3{word-spacing:0.096000px;}
.ws26{word-spacing:0.100800px;}
.ws3e{word-spacing:0.105000px;}
.ws31{word-spacing:0.109200px;}
.ws30{word-spacing:0.113400px;}
.ws3f{word-spacing:0.117600px;}
.ws19{word-spacing:0.121800px;}
.ws32{word-spacing:0.130200px;}
.ws56{word-spacing:0.134400px;}
.ws63{word-spacing:0.231000px;}
.ws62{word-spacing:0.264600px;}
.ws4{word-spacing:0.336000px;}
.ws21{word-spacing:0.462000px;}
.ws6{word-spacing:0.592200px;}
.ws28{word-spacing:0.701400px;}
.ws51{word-spacing:0.705600px;}
.ws5{word-spacing:0.718200px;}
.ws36{word-spacing:0.945000px;}
.ws54{word-spacing:1.180200px;}
.ws16{word-spacing:1.222200px;}
.ws15{word-spacing:1.444800px;}
.ws35{word-spacing:1.654800px;}
.ws5a{word-spacing:2.137800px;}
.ws59{word-spacing:2.188200px;}
.ws5b{word-spacing:2.612400px;}
.ws4e{word-spacing:2.625000px;}
.ws4f{word-spacing:2.629200px;}
.ws5c{word-spacing:2.633400px;}
.ws5d{word-spacing:2.654400px;}
.ws58{word-spacing:2.658600px;}
.ws2d{word-spacing:3.116400px;}
.ws50{word-spacing:3.133200px;}
.ws37{word-spacing:3.603600px;}
.ws47{word-spacing:4.548600px;}
.ws25{word-spacing:4.788000px;}
.wsa{word-spacing:4.792200px;}
.ws7{word-spacing:4.804800px;}
.ws8{word-spacing:4.817400px;}
.ws9{word-spacing:4.830000px;}
.ws2c{word-spacing:5.275200px;}
.ws3b{word-spacing:5.510400px;}
.ws53{word-spacing:5.535600px;}
.ws57{word-spacing:5.762400px;}
.ws5e{word-spacing:6.006000px;}
.ws55{word-spacing:6.245400px;}
.ws49{word-spacing:6.724200px;}
.ws22{word-spacing:9.135000px;}
.ws23{word-spacing:9.811200px;}
.ws5f{word-spacing:10.302600px;}
.ws43{word-spacing:10.306800px;}
.ws3a{word-spacing:10.315200px;}
.ws39{word-spacing:10.327800px;}
.ws44{word-spacing:10.332000px;}
.ws4d{word-spacing:10.348800px;}
.ws38{word-spacing:10.353000px;}
.wsd{word-spacing:10.357200px;}
.ws4a{word-spacing:10.521000px;}
.ws4b{word-spacing:10.529400px;}
.wse{word-spacing:10.546200px;}
.ws60{word-spacing:10.554600px;}
.ws2b{word-spacing:11.058600px;}
.ws2a{word-spacing:11.272800px;}
.ws4c{word-spacing:13.671000px;}
.ws52{word-spacing:30.450000px;}
._3{margin-left:-10.648560px;}
._6{margin-left:-5.502000px;}
._5{margin-left:-4.494000px;}
._1{margin-left:-3.360000px;}
._7{margin-left:-2.268000px;}
._0{margin-left:-1.153440px;}
._2{width:1.050000px;}
._8{width:4.070880px;}
._4{width:9.553440px;}
.fc2{color:rgb(255,0,0);}
.fc1{color:rgb(53,50,85);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:37.920000px;}
.fs6{font-size:40.080000px;}
.fs1{font-size:42.000000px;}
.fs4{font-size:55.920000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs0{font-size:64.080000px;}
.yc{bottom:17.000000px;}
.y2{bottom:52.520300px;}
.ya0{bottom:87.519800px;}
.y96{bottom:87.572300px;}
.y38{bottom:87.582800px;}
.yd9{bottom:87.588900px;}
.y60{bottom:87.603800px;}
.y6d{bottom:87.617300px;}
.y84{bottom:87.677300px;}
.y79{bottom:87.683300px;}
.y9f{bottom:103.059800px;}
.y5f{bottom:103.143800px;}
.y6c{bottom:103.157300px;}
.y95{bottom:103.175300px;}
.y37{bottom:103.185800px;}
.yd8{bottom:103.191900px;}
.y78{bottom:103.223300px;}
.y83{bottom:103.280300px;}
.y61{bottom:115.000000px;}
.y6b{bottom:115.400300px;}
.y5e{bottom:118.683800px;}
.y77{bottom:118.763300px;}
.y94{bottom:118.778300px;}
.y36{bottom:118.788800px;}
.yd7{bottom:118.794900px;}
.y7a{bottom:122.500000px;}
.y82{bottom:122.600300px;}
.y93{bottom:134.381300px;}
.y35{bottom:134.391800px;}
.yd6{bottom:134.397900px;}
.y5d{bottom:134.402300px;}
.y6e{bottom:136.000000px;}
.y76{bottom:136.340300px;}
.y92{bottom:149.984300px;}
.y34{bottom:149.994800px;}
.yd5{bottom:150.000900px;}
.y5c{bottom:150.005300px;}
.y91{bottom:165.587300px;}
.y33{bottom:165.597800px;}
.yd4{bottom:165.603900px;}
.y5b{bottom:165.608300px;}
.y90{bottom:181.190300px;}
.y32{bottom:181.200800px;}
.yd3{bottom:181.206900px;}
.y5a{bottom:181.211300px;}
.y8f{bottom:196.793300px;}
.y31{bottom:196.803800px;}
.yd2{bottom:196.809900px;}
.y59{bottom:196.814300px;}
.y8e{bottom:212.396300px;}
.y30{bottom:212.406800px;}
.yd1{bottom:212.412900px;}
.y58{bottom:212.417300px;}
.y8d{bottom:227.999300px;}
.y2f{bottom:228.009800px;}
.yd0{bottom:228.015900px;}
.y57{bottom:228.020300px;}
.y8c{bottom:243.602300px;}
.y2e{bottom:243.612800px;}
.ycf{bottom:243.618900px;}
.y56{bottom:243.623300px;}
.y55{bottom:259.163300px;}
.y8b{bottom:259.205300px;}
.y2d{bottom:259.215800px;}
.yce{bottom:259.221900px;}
.y8a{bottom:274.808300px;}
.y2c{bottom:274.818800px;}
.ycd{bottom:274.824900px;}
.y54{bottom:290.358800px;}
.y89{bottom:290.411300px;}
.y2b{bottom:290.421800px;}
.ycc{bottom:290.427900px;}
.y53{bottom:305.898800px;}
.y88{bottom:306.014300px;}
.y2a{bottom:306.024800px;}
.ycb{bottom:306.030900px;}
.y52{bottom:321.617300px;}
.y29{bottom:321.627800px;}
.yca{bottom:321.633900px;}
.y28{bottom:337.167800px;}
.y51{bottom:337.220300px;}
.yad{bottom:337.230800px;}
.yc9{bottom:337.236900px;}
.y27{bottom:352.823300px;}
.yac{bottom:352.833800px;}
.yc8{bottom:352.839900px;}
.y26{bottom:368.363300px;}
.y50{bottom:368.426300px;}
.yab{bottom:368.436800px;}
.yc7{bottom:368.442900px;}
.y25{bottom:383.903300px;}
.y6a{bottom:383.954300px;}
.y75{bottom:383.960300px;}
.y4f{bottom:384.029300px;}
.yaa{bottom:384.039800px;}
.yc6{bottom:384.045900px;}
.y69{bottom:399.557300px;}
.y24{bottom:399.621800px;}
.y4e{bottom:399.632300px;}
.ya9{bottom:399.642800px;}
.yc5{bottom:399.648900px;}
.y74{bottom:399.678800px;}
.y68{bottom:411.800300px;}
.y23{bottom:415.224800px;}
.y4d{bottom:415.235300px;}
.ya8{bottom:415.245800px;}
.yc4{bottom:415.251900px;}
.y73{bottom:416.720300px;}
.yb{bottom:421.220300px;}
.y22{bottom:430.827800px;}
.y4c{bottom:430.838300px;}
.ya7{bottom:430.848800px;}
.yc3{bottom:430.854900px;}
.y21{bottom:446.430800px;}
.y4b{bottom:446.441300px;}
.ya6{bottom:446.451800px;}
.yc2{bottom:446.457900px;}
.ya{bottom:452.420300px;}
.y20{bottom:462.033800px;}
.y4a{bottom:462.044300px;}
.ya5{bottom:462.054800px;}
.yc1{bottom:462.060900px;}
.y0{bottom:473.500000px;}
.y9e{bottom:477.584300px;}
.yc0{bottom:477.600900px;}
.y1f{bottom:477.636800px;}
.y49{bottom:477.647300px;}
.ya4{bottom:477.657800px;}
.y9{bottom:483.380300px;}
.ya3{bottom:493.197800px;}
.y1e{bottom:493.239800px;}
.y48{bottom:493.250300px;}
.ybf{bottom:493.256400px;}
.y9d{bottom:508.779800px;}
.ybe{bottom:508.796400px;}
.y1d{bottom:508.842800px;}
.y47{bottom:508.853300px;}
.y8{bottom:514.820300px;}
.y9c{bottom:524.319800px;}
.ybd{bottom:524.336400px;}
.ya2{bottom:524.393300px;}
.y1c{bottom:524.445800px;}
.y46{bottom:524.456300px;}
.ya1{bottom:539.933300px;}
.y9b{bottom:540.038300px;}
.y1b{bottom:540.048800px;}
.ybc{bottom:540.054900px;}
.y45{bottom:540.059300px;}
.y7{bottom:545.780300px;}
.y81{bottom:555.599300px;}
.y9a{bottom:555.641300px;}
.y1a{bottom:555.651800px;}
.ybb{bottom:555.657900px;}
.y44{bottom:555.662300px;}
.y99{bottom:571.244300px;}
.y19{bottom:571.254800px;}
.yba{bottom:571.260900px;}
.y43{bottom:571.265300px;}
.y6{bottom:577.220300px;}
.y80{bottom:586.794800px;}
.y98{bottom:586.847300px;}
.y18{bottom:586.857800px;}
.yb9{bottom:586.863900px;}
.y42{bottom:586.868300px;}
.y7f{bottom:602.334800px;}
.y97{bottom:602.450300px;}
.y17{bottom:602.460800px;}
.yb8{bottom:602.466900px;}
.y41{bottom:602.471300px;}
.y5{bottom:604.280300px;}
.y7e{bottom:618.053300px;}
.y16{bottom:618.063800px;}
.yb7{bottom:618.069900px;}
.y40{bottom:618.074300px;}
.y7d{bottom:633.656300px;}
.y15{bottom:633.666800px;}
.yb6{bottom:633.672900px;}
.y3f{bottom:633.677300px;}
.y87{bottom:649.217300px;}
.y7c{bottom:649.259300px;}
.y14{bottom:649.269800px;}
.yb5{bottom:649.275900px;}
.y3e{bottom:649.280300px;}
.y3d{bottom:664.820300px;}
.y7b{bottom:664.862300px;}
.y13{bottom:664.872800px;}
.yb4{bottom:664.878900px;}
.y72{bottom:665.060300px;}
.y86{bottom:680.412800px;}
.y71{bottom:680.465300px;}
.y67{bottom:680.468300px;}
.y12{bottom:680.475800px;}
.yb3{bottom:680.481900px;}
.y85{bottom:695.952800px;}
.y3c{bottom:696.015800px;}
.y70{bottom:696.068300px;}
.y66{bottom:696.071300px;}
.y11{bottom:696.078800px;}
.yb2{bottom:696.084900px;}
.y3b{bottom:711.555800px;}
.yb1{bottom:711.624900px;}
.y6f{bottom:711.671300px;}
.y65{bottom:711.674300px;}
.y10{bottom:711.681800px;}
.y4{bottom:717.620300px;}
.y3a{bottom:727.274300px;}
.y64{bottom:727.277300px;}
.yb0{bottom:727.280400px;}
.yf{bottom:727.284800px;}
.yaf{bottom:742.820400px;}
.ye{bottom:742.824800px;}
.y39{bottom:742.877300px;}
.y63{bottom:742.880300px;}
.y3{bottom:748.820300px;}
.yae{bottom:758.360400px;}
.y62{bottom:758.420300px;}
.yd{bottom:758.480300px;}
.y1{bottom:784.580300px;}
.h3{height:42.067500px;}
.h7{height:46.593750px;}
.h8{height:48.090820px;}
.hb{height:49.395469px;}
.h6{height:69.015625px;}
.h4{height:70.459800px;}
.h2{height:73.372852px;}
.h5{height:75.251066px;}
.h1{height:296.500000px;}
.hc{height:312.500000px;}
.ha{height:519.500000px;}
.h9{height:561.000000px;}
.h0{height:842.000000px;}
.w4{width:316.000000px;}
.w2{width:327.500000px;}
.w3{width:346.000000px;}
.w1{width:418.500000px;}
.w0{width:595.220000px;}
.x0{left:88.500000px;}
.x9{left:90.001500px;}
.x6{left:99.960000px;}
.x8{left:245.000000px;}
.x5{left:250.920000px;}
.x7{left:258.000000px;}
.x1{left:270.960000px;}
.x3{left:297.660000px;}
.xc{left:405.780000px;}
.xa{left:417.000000px;}
.xb{left:435.720000px;}
.x4{left:468.660000px;}
.x2{left:492.900000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2e{letter-spacing:-1.758400pt;}
.ls2f{letter-spacing:-0.100800pt;}
.ls27{letter-spacing:-0.095200pt;}
.ls1b{letter-spacing:-0.084000pt;}
.ls2b{letter-spacing:-0.078400pt;}
.ls26{letter-spacing:-0.072800pt;}
.ls8{letter-spacing:-0.067200pt;}
.ls2a{letter-spacing:-0.061600pt;}
.ls22{letter-spacing:-0.056000pt;}
.ls3{letter-spacing:-0.051264pt;}
.ls5{letter-spacing:-0.050400pt;}
.ls2c{letter-spacing:-0.044800pt;}
.ls17{letter-spacing:-0.039200pt;}
.ls2{letter-spacing:-0.034176pt;}
.ls28{letter-spacing:-0.033600pt;}
.ls21{letter-spacing:-0.028000pt;}
.ls11{letter-spacing:-0.011200pt;}
.ls1{letter-spacing:0.000000pt;}
.ls1e{letter-spacing:0.005600pt;}
.ls19{letter-spacing:0.011200pt;}
.ls25{letter-spacing:0.016800pt;}
.ls2d{letter-spacing:0.022400pt;}
.lse{letter-spacing:0.028000pt;}
.ls29{letter-spacing:0.033600pt;}
.lsb{letter-spacing:0.039200pt;}
.ls1f{letter-spacing:0.044800pt;}
.ls4{letter-spacing:0.048000pt;}
.ls15{letter-spacing:0.050400pt;}
.ls0{letter-spacing:0.051264pt;}
.lsa{letter-spacing:0.056000pt;}
.ls12{letter-spacing:0.061600pt;}
.lsd{letter-spacing:0.067200pt;}
.ls9{letter-spacing:0.072800pt;}
.ls16{letter-spacing:0.078400pt;}
.ls7{letter-spacing:0.084000pt;}
.lsc{letter-spacing:0.089600pt;}
.ls13{letter-spacing:0.095200pt;}
.lsf{letter-spacing:0.100800pt;}
.ls14{letter-spacing:0.106400pt;}
.ls1d{letter-spacing:0.112000pt;}
.ls20{letter-spacing:0.117600pt;}
.ls1a{letter-spacing:0.123200pt;}
.ls10{letter-spacing:0.128800pt;}
.ls1c{letter-spacing:0.134400pt;}
.ls23{letter-spacing:0.140000pt;}
.ls6{letter-spacing:0.162400pt;}
.ls18{letter-spacing:0.196000pt;}
.ls24{letter-spacing:14.162400pt;}
.ws3c{word-spacing:-0.946400pt;}
.ws27{word-spacing:-0.380800pt;}
.ws2f{word-spacing:-0.369600pt;}
.ws46{word-spacing:-0.364000pt;}
.ws40{word-spacing:-0.341600pt;}
.ws1b{word-spacing:-0.330400pt;}
.ws48{word-spacing:-0.319200pt;}
.ws1d{word-spacing:-0.056000pt;}
.wsf{word-spacing:-0.050400pt;}
.ws18{word-spacing:-0.044800pt;}
.ws3d{word-spacing:-0.039200pt;}
.ws1e{word-spacing:-0.033600pt;}
.ws13{word-spacing:-0.028000pt;}
.ws1{word-spacing:-0.025632pt;}
.ws14{word-spacing:-0.022400pt;}
.ws12{word-spacing:-0.016800pt;}
.wsb{word-spacing:-0.011200pt;}
.ws2{word-spacing:-0.008544pt;}
.ws1a{word-spacing:-0.005600pt;}
.ws0{word-spacing:0.000000pt;}
.ws29{word-spacing:0.005600pt;}
.wsc{word-spacing:0.011200pt;}
.ws11{word-spacing:0.016800pt;}
.ws34{word-spacing:0.022400pt;}
.ws64{word-spacing:0.028000pt;}
.ws20{word-spacing:0.033600pt;}
.ws1c{word-spacing:0.039200pt;}
.ws42{word-spacing:0.044800pt;}
.ws45{word-spacing:0.056000pt;}
.ws2e{word-spacing:0.061600pt;}
.ws17{word-spacing:0.067200pt;}
.ws1f{word-spacing:0.072800pt;}
.ws61{word-spacing:0.078400pt;}
.ws10{word-spacing:0.089600pt;}
.ws24{word-spacing:0.106400pt;}
.ws33{word-spacing:0.112000pt;}
.ws41{word-spacing:0.123200pt;}
.ws3{word-spacing:0.128000pt;}
.ws26{word-spacing:0.134400pt;}
.ws3e{word-spacing:0.140000pt;}
.ws31{word-spacing:0.145600pt;}
.ws30{word-spacing:0.151200pt;}
.ws3f{word-spacing:0.156800pt;}
.ws19{word-spacing:0.162400pt;}
.ws32{word-spacing:0.173600pt;}
.ws56{word-spacing:0.179200pt;}
.ws63{word-spacing:0.308000pt;}
.ws62{word-spacing:0.352800pt;}
.ws4{word-spacing:0.448000pt;}
.ws21{word-spacing:0.616000pt;}
.ws6{word-spacing:0.789600pt;}
.ws28{word-spacing:0.935200pt;}
.ws51{word-spacing:0.940800pt;}
.ws5{word-spacing:0.957600pt;}
.ws36{word-spacing:1.260000pt;}
.ws54{word-spacing:1.573600pt;}
.ws16{word-spacing:1.629600pt;}
.ws15{word-spacing:1.926400pt;}
.ws35{word-spacing:2.206400pt;}
.ws5a{word-spacing:2.850400pt;}
.ws59{word-spacing:2.917600pt;}
.ws5b{word-spacing:3.483200pt;}
.ws4e{word-spacing:3.500000pt;}
.ws4f{word-spacing:3.505600pt;}
.ws5c{word-spacing:3.511200pt;}
.ws5d{word-spacing:3.539200pt;}
.ws58{word-spacing:3.544800pt;}
.ws2d{word-spacing:4.155200pt;}
.ws50{word-spacing:4.177600pt;}
.ws37{word-spacing:4.804800pt;}
.ws47{word-spacing:6.064800pt;}
.ws25{word-spacing:6.384000pt;}
.wsa{word-spacing:6.389600pt;}
.ws7{word-spacing:6.406400pt;}
.ws8{word-spacing:6.423200pt;}
.ws9{word-spacing:6.440000pt;}
.ws2c{word-spacing:7.033600pt;}
.ws3b{word-spacing:7.347200pt;}
.ws53{word-spacing:7.380800pt;}
.ws57{word-spacing:7.683200pt;}
.ws5e{word-spacing:8.008000pt;}
.ws55{word-spacing:8.327200pt;}
.ws49{word-spacing:8.965600pt;}
.ws22{word-spacing:12.180000pt;}
.ws23{word-spacing:13.081600pt;}
.ws5f{word-spacing:13.736800pt;}
.ws43{word-spacing:13.742400pt;}
.ws3a{word-spacing:13.753600pt;}
.ws39{word-spacing:13.770400pt;}
.ws44{word-spacing:13.776000pt;}
.ws4d{word-spacing:13.798400pt;}
.ws38{word-spacing:13.804000pt;}
.wsd{word-spacing:13.809600pt;}
.ws4a{word-spacing:14.028000pt;}
.ws4b{word-spacing:14.039200pt;}
.wse{word-spacing:14.061600pt;}
.ws60{word-spacing:14.072800pt;}
.ws2b{word-spacing:14.744800pt;}
.ws2a{word-spacing:15.030400pt;}
.ws4c{word-spacing:18.228000pt;}
.ws52{word-spacing:40.600000pt;}
._3{margin-left:-14.198080pt;}
._6{margin-left:-7.336000pt;}
._5{margin-left:-5.992000pt;}
._1{margin-left:-4.480000pt;}
._7{margin-left:-3.024000pt;}
._0{margin-left:-1.537920pt;}
._2{width:1.400000pt;}
._8{width:5.427840pt;}
._4{width:12.737920pt;}
.fs2{font-size:50.560000pt;}
.fs6{font-size:53.440000pt;}
.fs1{font-size:56.000000pt;}
.fs4{font-size:74.560000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs0{font-size:85.440000pt;}
.yc{bottom:22.666667pt;}
.y2{bottom:70.027067pt;}
.ya0{bottom:116.693067pt;}
.y96{bottom:116.763067pt;}
.y38{bottom:116.777067pt;}
.yd9{bottom:116.785200pt;}
.y60{bottom:116.805067pt;}
.y6d{bottom:116.823067pt;}
.y84{bottom:116.903067pt;}
.y79{bottom:116.911067pt;}
.y9f{bottom:137.413067pt;}
.y5f{bottom:137.525067pt;}
.y6c{bottom:137.543067pt;}
.y95{bottom:137.567067pt;}
.y37{bottom:137.581067pt;}
.yd8{bottom:137.589200pt;}
.y78{bottom:137.631067pt;}
.y83{bottom:137.707067pt;}
.y61{bottom:153.333333pt;}
.y6b{bottom:153.867067pt;}
.y5e{bottom:158.245067pt;}
.y77{bottom:158.351067pt;}
.y94{bottom:158.371067pt;}
.y36{bottom:158.385067pt;}
.yd7{bottom:158.393200pt;}
.y7a{bottom:163.333333pt;}
.y82{bottom:163.467067pt;}
.y93{bottom:179.175067pt;}
.y35{bottom:179.189067pt;}
.yd6{bottom:179.197200pt;}
.y5d{bottom:179.203067pt;}
.y6e{bottom:181.333333pt;}
.y76{bottom:181.787067pt;}
.y92{bottom:199.979067pt;}
.y34{bottom:199.993067pt;}
.yd5{bottom:200.001200pt;}
.y5c{bottom:200.007067pt;}
.y91{bottom:220.783067pt;}
.y33{bottom:220.797067pt;}
.yd4{bottom:220.805200pt;}
.y5b{bottom:220.811067pt;}
.y90{bottom:241.587067pt;}
.y32{bottom:241.601067pt;}
.yd3{bottom:241.609200pt;}
.y5a{bottom:241.615067pt;}
.y8f{bottom:262.391067pt;}
.y31{bottom:262.405067pt;}
.yd2{bottom:262.413200pt;}
.y59{bottom:262.419067pt;}
.y8e{bottom:283.195067pt;}
.y30{bottom:283.209067pt;}
.yd1{bottom:283.217200pt;}
.y58{bottom:283.223067pt;}
.y8d{bottom:303.999067pt;}
.y2f{bottom:304.013067pt;}
.yd0{bottom:304.021200pt;}
.y57{bottom:304.027067pt;}
.y8c{bottom:324.803067pt;}
.y2e{bottom:324.817067pt;}
.ycf{bottom:324.825200pt;}
.y56{bottom:324.831067pt;}
.y55{bottom:345.551067pt;}
.y8b{bottom:345.607067pt;}
.y2d{bottom:345.621067pt;}
.yce{bottom:345.629200pt;}
.y8a{bottom:366.411067pt;}
.y2c{bottom:366.425067pt;}
.ycd{bottom:366.433200pt;}
.y54{bottom:387.145067pt;}
.y89{bottom:387.215067pt;}
.y2b{bottom:387.229067pt;}
.ycc{bottom:387.237200pt;}
.y53{bottom:407.865067pt;}
.y88{bottom:408.019067pt;}
.y2a{bottom:408.033067pt;}
.ycb{bottom:408.041200pt;}
.y52{bottom:428.823067pt;}
.y29{bottom:428.837067pt;}
.yca{bottom:428.845200pt;}
.y28{bottom:449.557067pt;}
.y51{bottom:449.627067pt;}
.yad{bottom:449.641067pt;}
.yc9{bottom:449.649200pt;}
.y27{bottom:470.431067pt;}
.yac{bottom:470.445067pt;}
.yc8{bottom:470.453200pt;}
.y26{bottom:491.151067pt;}
.y50{bottom:491.235067pt;}
.yab{bottom:491.249067pt;}
.yc7{bottom:491.257200pt;}
.y25{bottom:511.871067pt;}
.y6a{bottom:511.939067pt;}
.y75{bottom:511.947067pt;}
.y4f{bottom:512.039067pt;}
.yaa{bottom:512.053067pt;}
.yc6{bottom:512.061200pt;}
.y69{bottom:532.743067pt;}
.y24{bottom:532.829067pt;}
.y4e{bottom:532.843067pt;}
.ya9{bottom:532.857067pt;}
.yc5{bottom:532.865200pt;}
.y74{bottom:532.905067pt;}
.y68{bottom:549.067067pt;}
.y23{bottom:553.633067pt;}
.y4d{bottom:553.647067pt;}
.ya8{bottom:553.661067pt;}
.yc4{bottom:553.669200pt;}
.y73{bottom:555.627067pt;}
.yb{bottom:561.627067pt;}
.y22{bottom:574.437067pt;}
.y4c{bottom:574.451067pt;}
.ya7{bottom:574.465067pt;}
.yc3{bottom:574.473200pt;}
.y21{bottom:595.241067pt;}
.y4b{bottom:595.255067pt;}
.ya6{bottom:595.269067pt;}
.yc2{bottom:595.277200pt;}
.ya{bottom:603.227067pt;}
.y20{bottom:616.045067pt;}
.y4a{bottom:616.059067pt;}
.ya5{bottom:616.073067pt;}
.yc1{bottom:616.081200pt;}
.y0{bottom:631.333333pt;}
.y9e{bottom:636.779067pt;}
.yc0{bottom:636.801200pt;}
.y1f{bottom:636.849067pt;}
.y49{bottom:636.863067pt;}
.ya4{bottom:636.877067pt;}
.y9{bottom:644.507067pt;}
.ya3{bottom:657.597067pt;}
.y1e{bottom:657.653067pt;}
.y48{bottom:657.667067pt;}
.ybf{bottom:657.675200pt;}
.y9d{bottom:678.373067pt;}
.ybe{bottom:678.395200pt;}
.y1d{bottom:678.457067pt;}
.y47{bottom:678.471067pt;}
.y8{bottom:686.427067pt;}
.y9c{bottom:699.093067pt;}
.ybd{bottom:699.115200pt;}
.ya2{bottom:699.191067pt;}
.y1c{bottom:699.261067pt;}
.y46{bottom:699.275067pt;}
.ya1{bottom:719.911067pt;}
.y9b{bottom:720.051067pt;}
.y1b{bottom:720.065067pt;}
.ybc{bottom:720.073200pt;}
.y45{bottom:720.079067pt;}
.y7{bottom:727.707067pt;}
.y81{bottom:740.799067pt;}
.y9a{bottom:740.855067pt;}
.y1a{bottom:740.869067pt;}
.ybb{bottom:740.877200pt;}
.y44{bottom:740.883067pt;}
.y99{bottom:761.659067pt;}
.y19{bottom:761.673067pt;}
.yba{bottom:761.681200pt;}
.y43{bottom:761.687067pt;}
.y6{bottom:769.627067pt;}
.y80{bottom:782.393067pt;}
.y98{bottom:782.463067pt;}
.y18{bottom:782.477067pt;}
.yb9{bottom:782.485200pt;}
.y42{bottom:782.491067pt;}
.y7f{bottom:803.113067pt;}
.y97{bottom:803.267067pt;}
.y17{bottom:803.281067pt;}
.yb8{bottom:803.289200pt;}
.y41{bottom:803.295067pt;}
.y5{bottom:805.707067pt;}
.y7e{bottom:824.071067pt;}
.y16{bottom:824.085067pt;}
.yb7{bottom:824.093200pt;}
.y40{bottom:824.099067pt;}
.y7d{bottom:844.875067pt;}
.y15{bottom:844.889067pt;}
.yb6{bottom:844.897200pt;}
.y3f{bottom:844.903067pt;}
.y87{bottom:865.623067pt;}
.y7c{bottom:865.679067pt;}
.y14{bottom:865.693067pt;}
.yb5{bottom:865.701200pt;}
.y3e{bottom:865.707067pt;}
.y3d{bottom:886.427067pt;}
.y7b{bottom:886.483067pt;}
.y13{bottom:886.497067pt;}
.yb4{bottom:886.505200pt;}
.y72{bottom:886.747067pt;}
.y86{bottom:907.217067pt;}
.y71{bottom:907.287067pt;}
.y67{bottom:907.291067pt;}
.y12{bottom:907.301067pt;}
.yb3{bottom:907.309200pt;}
.y85{bottom:927.937067pt;}
.y3c{bottom:928.021067pt;}
.y70{bottom:928.091067pt;}
.y66{bottom:928.095067pt;}
.y11{bottom:928.105067pt;}
.yb2{bottom:928.113200pt;}
.y3b{bottom:948.741067pt;}
.yb1{bottom:948.833200pt;}
.y6f{bottom:948.895067pt;}
.y65{bottom:948.899067pt;}
.y10{bottom:948.909067pt;}
.y4{bottom:956.827067pt;}
.y3a{bottom:969.699067pt;}
.y64{bottom:969.703067pt;}
.yb0{bottom:969.707200pt;}
.yf{bottom:969.713067pt;}
.yaf{bottom:990.427200pt;}
.ye{bottom:990.433067pt;}
.y39{bottom:990.503067pt;}
.y63{bottom:990.507067pt;}
.y3{bottom:998.427067pt;}
.yae{bottom:1011.147200pt;}
.y62{bottom:1011.227067pt;}
.yd{bottom:1011.307067pt;}
.y1{bottom:1046.107067pt;}
.h3{height:56.090000pt;}
.h7{height:62.125000pt;}
.h8{height:64.121094pt;}
.hb{height:65.860625pt;}
.h6{height:92.020833pt;}
.h4{height:93.946400pt;}
.h2{height:97.830469pt;}
.h5{height:100.334755pt;}
.h1{height:395.333333pt;}
.hc{height:416.666667pt;}
.ha{height:692.666667pt;}
.h9{height:748.000000pt;}
.h0{height:1122.666667pt;}
.w4{width:421.333333pt;}
.w2{width:436.666667pt;}
.w3{width:461.333333pt;}
.w1{width:558.000000pt;}
.w0{width:793.626667pt;}
.x0{left:118.000000pt;}
.x9{left:120.002000pt;}
.x6{left:133.280000pt;}
.x8{left:326.666667pt;}
.x5{left:334.560000pt;}
.x7{left:344.000000pt;}
.x1{left:361.280000pt;}
.x3{left:396.880000pt;}
.xc{left:541.040000pt;}
.xa{left:556.000000pt;}
.xb{left:580.960000pt;}
.x4{left:624.880000pt;}
.x2{left:657.200000pt;}
}
