.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls5{letter-spacing:-0.136488px;}
.ls4c{letter-spacing:-0.105408px;}
.ls3{letter-spacing:-0.099264px;}
.ls51{letter-spacing:-0.092232px;}
.ls30{letter-spacing:-0.087840px;}
.ls41{letter-spacing:-0.083448px;}
.ls4d{letter-spacing:-0.079056px;}
.ls0{letter-spacing:-0.076896px;}
.ls40{letter-spacing:-0.074664px;}
.lsf{letter-spacing:-0.070272px;}
.ls4f{letter-spacing:-0.065880px;}
.ls4b{letter-spacing:-0.061488px;}
.ls4a{letter-spacing:-0.057096px;}
.ls2b{letter-spacing:-0.052704px;}
.ls6{letter-spacing:-0.049632px;}
.ls17{letter-spacing:-0.048312px;}
.ls19{letter-spacing:-0.043920px;}
.ls49{letter-spacing:-0.039528px;}
.ls1d{letter-spacing:-0.035136px;}
.ls34{letter-spacing:-0.030744px;}
.ls26{letter-spacing:-0.026352px;}
.ls4{letter-spacing:-0.024816px;}
.ls2d{letter-spacing:-0.021960px;}
.ls25{letter-spacing:-0.017568px;}
.ls11{letter-spacing:-0.013176px;}
.ls2{letter-spacing:-0.012408px;}
.ls7{letter-spacing:-0.011184px;}
.ls29{letter-spacing:-0.008784px;}
.ls18{letter-spacing:-0.004392px;}
.ls1{letter-spacing:0.000000px;}
.ls2e{letter-spacing:0.004392px;}
.ls1f{letter-spacing:0.008784px;}
.lse{letter-spacing:0.013176px;}
.ls2c{letter-spacing:0.017568px;}
.ls10{letter-spacing:0.021960px;}
.ls8{letter-spacing:0.022368px;}
.ls16{letter-spacing:0.026352px;}
.ls12{letter-spacing:0.030744px;}
.ls22{letter-spacing:0.035136px;}
.lsd{letter-spacing:0.039528px;}
.ls21{letter-spacing:0.043920px;}
.ls1e{letter-spacing:0.048312px;}
.ls1b{letter-spacing:0.052704px;}
.ls31{letter-spacing:0.057096px;}
.ls3c{letter-spacing:0.061488px;}
.lsa{letter-spacing:0.065880px;}
.ls32{letter-spacing:0.070272px;}
.ls2f{letter-spacing:0.074664px;}
.ls24{letter-spacing:0.079056px;}
.lsb{letter-spacing:0.083448px;}
.ls3e{letter-spacing:0.087840px;}
.ls38{letter-spacing:0.092232px;}
.ls14{letter-spacing:0.096624px;}
.ls23{letter-spacing:0.101016px;}
.ls1a{letter-spacing:0.105408px;}
.ls20{letter-spacing:0.109800px;}
.ls28{letter-spacing:0.114192px;}
.ls15{letter-spacing:0.118584px;}
.ls27{letter-spacing:0.122976px;}
.ls52{letter-spacing:0.131760px;}
.ls4e{letter-spacing:0.136152px;}
.ls39{letter-spacing:0.140544px;}
.ls1c{letter-spacing:0.144936px;}
.lsc{letter-spacing:0.149328px;}
.ls53{letter-spacing:0.162504px;}
.ls33{letter-spacing:0.166896px;}
.ls3f{letter-spacing:0.193248px;}
.ls37{letter-spacing:0.197640px;}
.ls3a{letter-spacing:0.206424px;}
.ls48{letter-spacing:0.210816px;}
.ls3d{letter-spacing:0.215208px;}
.ls44{letter-spacing:0.219600px;}
.ls3b{letter-spacing:0.228384px;}
.ls2a{letter-spacing:0.241560px;}
.ls45{letter-spacing:0.254736px;}
.ls42{letter-spacing:0.267912px;}
.ls36{letter-spacing:0.276696px;}
.ls35{letter-spacing:0.285480px;}
.ls43{letter-spacing:0.289872px;}
.ls50{letter-spacing:0.298656px;}
.ls13{letter-spacing:0.320616px;}
.ls47{letter-spacing:0.342576px;}
.ls46{letter-spacing:0.360144px;}
.ls9{letter-spacing:566.071704px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.049688px;}
._1{width:1.133136px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs3{font-size:55.920000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs2{font-size:124.080000px;}
.y10{bottom:16.000000px;}
.yf{bottom:39.840100px;}
.y35{bottom:78.045000px;}
.y75{bottom:78.055980px;}
.y23{bottom:83.513040px;}
.y65{bottom:88.963560px;}
.y4c{bottom:98.105460px;}
.y34{bottom:103.485660px;}
.y74{bottom:103.496640px;}
.y22{bottom:108.953700px;}
.y64{bottom:114.404220px;}
.y4b{bottom:123.546120px;}
.y33{bottom:128.926320px;}
.y73{bottom:128.937300px;}
.y21{bottom:134.394360px;}
.y4a{bottom:138.962040px;}
.y63{bottom:139.844880px;}
.y32{bottom:154.366980px;}
.y72{bottom:154.377960px;}
.y20{bottom:159.835020px;}
.y49{bottom:164.402700px;}
.y62{bottom:165.285540px;}
.y1f{bottom:175.250940px;}
.y31{bottom:179.807640px;}
.y71{bottom:179.818620px;}
.y48{bottom:189.843360px;}
.y61{bottom:190.726200px;}
.y1e{bottom:200.691600px;}
.y30{bottom:205.248300px;}
.y47{bottom:205.259280px;}
.y60{bottom:216.166860px;}
.y1d{bottom:226.132260px;}
.y2f{bottom:230.688960px;}
.y46{bottom:230.699940px;}
.y5f{bottom:241.607520px;}
.ye{bottom:241.740100px;}
.y45{bottom:246.181740px;}
.y1c{bottom:251.572920px;}
.y2e{bottom:256.129620px;}
.y70{bottom:256.140600px;}
.y5e{bottom:267.048180px;}
.yd{bottom:268.560100px;}
.y44{bottom:271.622400px;}
.y1b{bottom:277.013580px;}
.y2d{bottom:281.570280px;}
.y5d{bottom:292.488840px;}
.y2c{bottom:297.052080px;}
.y43{bottom:297.063060px;}
.y1a{bottom:302.454240px;}
.yc{bottom:305.958420px;}
.y4f{bottom:307.010940px;}
.y42{bottom:312.478980px;}
.y5c{bottom:317.929500px;}
.y2b{bottom:322.492740px;}
.y6f{bottom:322.503720px;}
.y19{bottom:327.949800px;}
.y4e{bottom:332.451600px;}
.y41{bottom:337.919640px;}
.y5b{bottom:343.370160px;}
.y2a{bottom:347.933400px;}
.y6e{bottom:347.944380px;}
.yb{bottom:349.448460px;}
.y18{bottom:353.390460px;}
.y4d{bottom:363.349320px;}
.y40{bottom:363.360300px;}
.y5a{bottom:368.810820px;}
.y29{bottom:373.374060px;}
.y6d{bottom:373.385040px;}
.y17{bottom:378.831120px;}
.y3f{bottom:388.800960px;}
.y59{bottom:394.251480px;}
.y28{bottom:398.814720px;}
.y6c{bottom:398.825700px;}
.ya{bottom:403.020000px;}
.y16{bottom:404.271780px;}
.y3e{bottom:414.241620px;}
.y58{bottom:419.692140px;}
.y27{bottom:424.255380px;}
.y6b{bottom:424.266360px;}
.y15{bottom:429.712440px;}
.y26{bottom:439.671300px;}
.y3d{bottom:439.682280px;}
.y0{bottom:444.000000px;}
.y9{bottom:444.480540px;}
.y57{bottom:445.132800px;}
.y6a{bottom:449.707020px;}
.y14{bottom:455.153100px;}
.y25{bottom:465.111960px;}
.y3c{bottom:465.122940px;}
.y56{bottom:470.573460px;}
.y69{bottom:475.147680px;}
.y13{bottom:480.593760px;}
.y24{bottom:490.552620px;}
.y3b{bottom:490.563600px;}
.y55{bottom:496.014120px;}
.y12{bottom:506.034420px;}
.y3a{bottom:516.004260px;}
.y54{bottom:521.454780px;}
.y11{bottom:531.475080px;}
.y39{bottom:541.444920px;}
.y53{bottom:546.895440px;}
.y8{bottom:556.915740px;}
.y38{bottom:566.885580px;}
.y52{bottom:572.336100px;}
.y7{bottom:582.356400px;}
.y37{bottom:592.381140px;}
.y50{bottom:594.500000px;}
.y51{bottom:594.900000px;}
.y6{bottom:607.797060px;}
.y36{bottom:617.821800px;}
.y5{bottom:633.237720px;}
.y68{bottom:643.262460px;}
.y4{bottom:658.678380px;}
.y67{bottom:668.703120px;}
.y3{bottom:684.119040px;}
.y66{bottom:694.143780px;}
.y2{bottom:709.559700px;}
.y1{bottom:740.820000px;}
.h3{height:29.272852px;}
.h7{height:31.524609px;}
.h5{height:38.226562px;}
.h2{height:43.804688px;}
.h6{height:69.015625px;}
.h4{height:84.820312px;}
.h1{height:98.000000px;}
.h8{height:100.500000px;}
.h0{height:792.000000px;}
.w2{width:227.500000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x8{left:72.000000px;}
.xb{left:73.500000px;}
.x5{left:80.760240px;}
.x0{left:135.500000px;}
.xa{left:253.000000px;}
.x4{left:254.100000px;}
.x7{left:269.700000px;}
.x6{left:271.595280px;}
.x1{left:279.180000px;}
.xc{left:301.499600px;}
.x2{left:306.000300px;}
.x3{left:477.716520px;}
.x9{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls5{letter-spacing:-0.181984pt;}
.ls4c{letter-spacing:-0.140544pt;}
.ls3{letter-spacing:-0.132352pt;}
.ls51{letter-spacing:-0.122976pt;}
.ls30{letter-spacing:-0.117120pt;}
.ls41{letter-spacing:-0.111264pt;}
.ls4d{letter-spacing:-0.105408pt;}
.ls0{letter-spacing:-0.102528pt;}
.ls40{letter-spacing:-0.099552pt;}
.lsf{letter-spacing:-0.093696pt;}
.ls4f{letter-spacing:-0.087840pt;}
.ls4b{letter-spacing:-0.081984pt;}
.ls4a{letter-spacing:-0.076128pt;}
.ls2b{letter-spacing:-0.070272pt;}
.ls6{letter-spacing:-0.066176pt;}
.ls17{letter-spacing:-0.064416pt;}
.ls19{letter-spacing:-0.058560pt;}
.ls49{letter-spacing:-0.052704pt;}
.ls1d{letter-spacing:-0.046848pt;}
.ls34{letter-spacing:-0.040992pt;}
.ls26{letter-spacing:-0.035136pt;}
.ls4{letter-spacing:-0.033088pt;}
.ls2d{letter-spacing:-0.029280pt;}
.ls25{letter-spacing:-0.023424pt;}
.ls11{letter-spacing:-0.017568pt;}
.ls2{letter-spacing:-0.016544pt;}
.ls7{letter-spacing:-0.014912pt;}
.ls29{letter-spacing:-0.011712pt;}
.ls18{letter-spacing:-0.005856pt;}
.ls1{letter-spacing:0.000000pt;}
.ls2e{letter-spacing:0.005856pt;}
.ls1f{letter-spacing:0.011712pt;}
.lse{letter-spacing:0.017568pt;}
.ls2c{letter-spacing:0.023424pt;}
.ls10{letter-spacing:0.029280pt;}
.ls8{letter-spacing:0.029824pt;}
.ls16{letter-spacing:0.035136pt;}
.ls12{letter-spacing:0.040992pt;}
.ls22{letter-spacing:0.046848pt;}
.lsd{letter-spacing:0.052704pt;}
.ls21{letter-spacing:0.058560pt;}
.ls1e{letter-spacing:0.064416pt;}
.ls1b{letter-spacing:0.070272pt;}
.ls31{letter-spacing:0.076128pt;}
.ls3c{letter-spacing:0.081984pt;}
.lsa{letter-spacing:0.087840pt;}
.ls32{letter-spacing:0.093696pt;}
.ls2f{letter-spacing:0.099552pt;}
.ls24{letter-spacing:0.105408pt;}
.lsb{letter-spacing:0.111264pt;}
.ls3e{letter-spacing:0.117120pt;}
.ls38{letter-spacing:0.122976pt;}
.ls14{letter-spacing:0.128832pt;}
.ls23{letter-spacing:0.134688pt;}
.ls1a{letter-spacing:0.140544pt;}
.ls20{letter-spacing:0.146400pt;}
.ls28{letter-spacing:0.152256pt;}
.ls15{letter-spacing:0.158112pt;}
.ls27{letter-spacing:0.163968pt;}
.ls52{letter-spacing:0.175680pt;}
.ls4e{letter-spacing:0.181536pt;}
.ls39{letter-spacing:0.187392pt;}
.ls1c{letter-spacing:0.193248pt;}
.lsc{letter-spacing:0.199104pt;}
.ls53{letter-spacing:0.216672pt;}
.ls33{letter-spacing:0.222528pt;}
.ls3f{letter-spacing:0.257664pt;}
.ls37{letter-spacing:0.263520pt;}
.ls3a{letter-spacing:0.275232pt;}
.ls48{letter-spacing:0.281088pt;}
.ls3d{letter-spacing:0.286944pt;}
.ls44{letter-spacing:0.292800pt;}
.ls3b{letter-spacing:0.304512pt;}
.ls2a{letter-spacing:0.322080pt;}
.ls45{letter-spacing:0.339648pt;}
.ls42{letter-spacing:0.357216pt;}
.ls36{letter-spacing:0.368928pt;}
.ls35{letter-spacing:0.380640pt;}
.ls43{letter-spacing:0.386496pt;}
.ls50{letter-spacing:0.398208pt;}
.ls13{letter-spacing:0.427488pt;}
.ls47{letter-spacing:0.456768pt;}
.ls46{letter-spacing:0.480192pt;}
.ls9{letter-spacing:754.762272pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.399584pt;}
._1{width:1.510848pt;}
.fs1{font-size:58.560000pt;}
.fs3{font-size:74.560000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs2{font-size:165.440000pt;}
.y10{bottom:21.333333pt;}
.yf{bottom:53.120133pt;}
.y35{bottom:104.060000pt;}
.y75{bottom:104.074640pt;}
.y23{bottom:111.350720pt;}
.y65{bottom:118.618080pt;}
.y4c{bottom:130.807280pt;}
.y34{bottom:137.980880pt;}
.y74{bottom:137.995520pt;}
.y22{bottom:145.271600pt;}
.y64{bottom:152.538960pt;}
.y4b{bottom:164.728160pt;}
.y33{bottom:171.901760pt;}
.y73{bottom:171.916400pt;}
.y21{bottom:179.192480pt;}
.y4a{bottom:185.282720pt;}
.y63{bottom:186.459840pt;}
.y32{bottom:205.822640pt;}
.y72{bottom:205.837280pt;}
.y20{bottom:213.113360pt;}
.y49{bottom:219.203600pt;}
.y62{bottom:220.380720pt;}
.y1f{bottom:233.667920pt;}
.y31{bottom:239.743520pt;}
.y71{bottom:239.758160pt;}
.y48{bottom:253.124480pt;}
.y61{bottom:254.301600pt;}
.y1e{bottom:267.588800pt;}
.y30{bottom:273.664400pt;}
.y47{bottom:273.679040pt;}
.y60{bottom:288.222480pt;}
.y1d{bottom:301.509680pt;}
.y2f{bottom:307.585280pt;}
.y46{bottom:307.599920pt;}
.y5f{bottom:322.143360pt;}
.ye{bottom:322.320133pt;}
.y45{bottom:328.242320pt;}
.y1c{bottom:335.430560pt;}
.y2e{bottom:341.506160pt;}
.y70{bottom:341.520800pt;}
.y5e{bottom:356.064240pt;}
.yd{bottom:358.080133pt;}
.y44{bottom:362.163200pt;}
.y1b{bottom:369.351440pt;}
.y2d{bottom:375.427040pt;}
.y5d{bottom:389.985120pt;}
.y2c{bottom:396.069440pt;}
.y43{bottom:396.084080pt;}
.y1a{bottom:403.272320pt;}
.yc{bottom:407.944560pt;}
.y4f{bottom:409.347920pt;}
.y42{bottom:416.638640pt;}
.y5c{bottom:423.906000pt;}
.y2b{bottom:429.990320pt;}
.y6f{bottom:430.004960pt;}
.y19{bottom:437.266400pt;}
.y4e{bottom:443.268800pt;}
.y41{bottom:450.559520pt;}
.y5b{bottom:457.826880pt;}
.y2a{bottom:463.911200pt;}
.y6e{bottom:463.925840pt;}
.yb{bottom:465.931280pt;}
.y18{bottom:471.187280pt;}
.y4d{bottom:484.465760pt;}
.y40{bottom:484.480400pt;}
.y5a{bottom:491.747760pt;}
.y29{bottom:497.832080pt;}
.y6d{bottom:497.846720pt;}
.y17{bottom:505.108160pt;}
.y3f{bottom:518.401280pt;}
.y59{bottom:525.668640pt;}
.y28{bottom:531.752960pt;}
.y6c{bottom:531.767600pt;}
.ya{bottom:537.360000pt;}
.y16{bottom:539.029040pt;}
.y3e{bottom:552.322160pt;}
.y58{bottom:559.589520pt;}
.y27{bottom:565.673840pt;}
.y6b{bottom:565.688480pt;}
.y15{bottom:572.949920pt;}
.y26{bottom:586.228400pt;}
.y3d{bottom:586.243040pt;}
.y0{bottom:592.000000pt;}
.y9{bottom:592.640720pt;}
.y57{bottom:593.510400pt;}
.y6a{bottom:599.609360pt;}
.y14{bottom:606.870800pt;}
.y25{bottom:620.149280pt;}
.y3c{bottom:620.163920pt;}
.y56{bottom:627.431280pt;}
.y69{bottom:633.530240pt;}
.y13{bottom:640.791680pt;}
.y24{bottom:654.070160pt;}
.y3b{bottom:654.084800pt;}
.y55{bottom:661.352160pt;}
.y12{bottom:674.712560pt;}
.y3a{bottom:688.005680pt;}
.y54{bottom:695.273040pt;}
.y11{bottom:708.633440pt;}
.y39{bottom:721.926560pt;}
.y53{bottom:729.193920pt;}
.y8{bottom:742.554320pt;}
.y38{bottom:755.847440pt;}
.y52{bottom:763.114800pt;}
.y7{bottom:776.475200pt;}
.y37{bottom:789.841520pt;}
.y50{bottom:792.666667pt;}
.y51{bottom:793.200000pt;}
.y6{bottom:810.396080pt;}
.y36{bottom:823.762400pt;}
.y5{bottom:844.316960pt;}
.y68{bottom:857.683280pt;}
.y4{bottom:878.237840pt;}
.y67{bottom:891.604160pt;}
.y3{bottom:912.158720pt;}
.y66{bottom:925.525040pt;}
.y2{bottom:946.079600pt;}
.y1{bottom:987.760000pt;}
.h3{height:39.030469pt;}
.h7{height:42.032812pt;}
.h5{height:50.968750pt;}
.h2{height:58.406250pt;}
.h6{height:92.020833pt;}
.h4{height:113.093750pt;}
.h1{height:130.666667pt;}
.h8{height:134.000000pt;}
.h0{height:1056.000000pt;}
.w2{width:303.333333pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x8{left:96.000000pt;}
.xb{left:98.000000pt;}
.x5{left:107.680320pt;}
.x0{left:180.666667pt;}
.xa{left:337.333333pt;}
.x4{left:338.800000pt;}
.x7{left:359.600000pt;}
.x6{left:362.127040pt;}
.x1{left:372.240000pt;}
.xc{left:401.999467pt;}
.x2{left:408.000400pt;}
.x3{left:636.955360pt;}
.x9{left:673.040000pt;}
}
