.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:-0.076896px;}
.ls16{letter-spacing:-0.072000px;}
.lsb{letter-spacing:-0.062400px;}
.ls19{letter-spacing:-0.052800px;}
.ls1e{letter-spacing:-0.048000px;}
.ls4{letter-spacing:-0.044856px;}
.ls2{letter-spacing:-0.040032px;}
.ls1b{letter-spacing:-0.038400px;}
.ls13{letter-spacing:-0.033600px;}
.ls15{letter-spacing:-0.028800px;}
.ls1a{letter-spacing:-0.024000px;}
.ls3{letter-spacing:-0.020016px;}
.ls6{letter-spacing:-0.019200px;}
.ls12{letter-spacing:-0.014400px;}
.ls14{letter-spacing:-0.009600px;}
.lse{letter-spacing:-0.004800px;}
.ls1{letter-spacing:0.000000px;}
.ls9{letter-spacing:0.004800px;}
.lsd{letter-spacing:0.009600px;}
.lsc{letter-spacing:0.014400px;}
.ls7{letter-spacing:0.019200px;}
.ls10{letter-spacing:0.024000px;}
.ls11{letter-spacing:0.028800px;}
.ls18{letter-spacing:0.033600px;}
.ls17{letter-spacing:0.038400px;}
.lsf{letter-spacing:0.043200px;}
.ls8{letter-spacing:0.048000px;}
.ls1d{letter-spacing:0.057600px;}
.ls1f{letter-spacing:0.062400px;}
.ls1c{letter-spacing:0.067200px;}
.lsa{letter-spacing:0.081600px;}
.ls5{letter-spacing:564.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws28{word-spacing:-0.268800px;}
.ws29{word-spacing:-0.196800px;}
.ws23{word-spacing:-0.177600px;}
.ws11{word-spacing:-0.148800px;}
.ws10{word-spacing:-0.144000px;}
.ws1c{word-spacing:-0.139200px;}
.ws2{word-spacing:-0.134568px;}
.ws21{word-spacing:-0.129600px;}
.ws14{word-spacing:-0.124800px;}
.ws2d{word-spacing:-0.120000px;}
.ws2e{word-spacing:-0.115200px;}
.ws25{word-spacing:-0.110400px;}
.ws27{word-spacing:-0.105600px;}
.ws1f{word-spacing:-0.100800px;}
.ws13{word-spacing:-0.096000px;}
.ws5{word-spacing:-0.091200px;}
.ws26{word-spacing:-0.086400px;}
.ws20{word-spacing:-0.081600px;}
.ws16{word-spacing:-0.076800px;}
.ws1b{word-spacing:-0.072000px;}
.ws24{word-spacing:-0.067200px;}
.ws12{word-spacing:-0.062400px;}
.wse{word-spacing:-0.057600px;}
.wsc{word-spacing:-0.052800px;}
.ws7{word-spacing:-0.048000px;}
.wsd{word-spacing:-0.043200px;}
.ws1{word-spacing:-0.040032px;}
.ws1e{word-spacing:-0.038400px;}
.wsf{word-spacing:-0.033600px;}
.ws15{word-spacing:-0.028800px;}
.ws17{word-spacing:-0.024000px;}
.ws4{word-spacing:-0.019200px;}
.wsa{word-spacing:-0.014400px;}
.wsb{word-spacing:-0.009600px;}
.ws8{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.ws1a{word-spacing:0.004800px;}
.ws18{word-spacing:0.009600px;}
.ws6{word-spacing:0.014400px;}
.ws3{word-spacing:0.019200px;}
.ws22{word-spacing:0.024000px;}
.ws2a{word-spacing:0.028800px;}
.ws2b{word-spacing:0.033600px;}
.ws2c{word-spacing:0.048000px;}
.ws1d{word-spacing:0.052800px;}
.ws9{word-spacing:0.062400px;}
.ws19{word-spacing:0.072000px;}
.ws2f{word-spacing:0.091200px;}
._0{margin-left:-1.046400px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs3{font-size:48.000000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs2{font-size:100.080000px;}
.y16{bottom:16.000000px;}
.y15{bottom:39.840100px;}
.y3f{bottom:76.920000px;}
.y9c{bottom:80.820000px;}
.yb0{bottom:81.420000px;}
.y68{bottom:85.020000px;}
.y3e{bottom:90.720000px;}
.y9b{bottom:94.620000px;}
.yaf{bottom:95.220000px;}
.y67{bottom:98.820000px;}
.y9a{bottom:108.420000px;}
.yae{bottom:109.020000px;}
.y3d{bottom:110.520000px;}
.y66{bottom:112.620000px;}
.y99{bottom:122.220000px;}
.yad{bottom:122.820000px;}
.y65{bottom:126.420000px;}
.y3c{bottom:130.320000px;}
.yac{bottom:136.620000px;}
.y64{bottom:140.220000px;}
.y98{bottom:142.020000px;}
.y3b{bottom:150.120000px;}
.yab{bottom:150.420000px;}
.y63{bottom:154.020000px;}
.y97{bottom:161.820000px;}
.yaa{bottom:164.220000px;}
.y7c{bottom:167.820000px;}
.y3a{bottom:169.920000px;}
.y62{bottom:173.820000px;}
.ya9{bottom:178.020000px;}
.y7b{bottom:181.620000px;}
.y39{bottom:183.720000px;}
.ya8{bottom:191.820000px;}
.y61{bottom:193.620000px;}
.y7a{bottom:195.420000px;}
.y38{bottom:197.520000px;}
.y96{bottom:201.420000px;}
.ya7{bottom:205.620000px;}
.ybd{bottom:209.220000px;}
.y37{bottom:211.320000px;}
.y60{bottom:213.420000px;}
.y79{bottom:215.220000px;}
.ya6{bottom:219.420000px;}
.yb4{bottom:221.220000px;}
.ybc{bottom:223.020000px;}
.y36{bottom:225.120000px;}
.y95{bottom:229.020000px;}
.y5f{bottom:233.220000px;}
.y78{bottom:235.020000px;}
.ybb{bottom:236.820000px;}
.y35{bottom:238.920000px;}
.yb3{bottom:241.020000px;}
.y94{bottom:242.820000px;}
.y5e{bottom:247.020000px;}
.y34{bottom:252.720000px;}
.y77{bottom:254.820000px;}
.y93{bottom:256.620000px;}
.y5d{bottom:260.820000px;}
.y33{bottom:266.520000px;}
.y92{bottom:270.420000px;}
.y5c{bottom:274.620000px;}
.y14{bottom:275.640000px;}
.yba{bottom:276.420000px;}
.y32{bottom:280.320000px;}
.y91{bottom:284.220000px;}
.y5b{bottom:288.420000px;}
.y13{bottom:290.215680px;}
.y31{bottom:294.120000px;}
.yb9{bottom:296.220000px;}
.y90{bottom:297.960000px;}
.y5a{bottom:302.220000px;}
.y30{bottom:307.920000px;}
.ya5{bottom:308.220000px;}
.y12{bottom:308.638680px;}
.y59{bottom:315.960000px;}
.y8f{bottom:317.760000px;}
.y2f{bottom:327.720000px;}
.ya4{bottom:327.960000px;}
.y10{bottom:328.903540px;}
.y11{bottom:328.920000px;}
.y58{bottom:329.760000px;}
.y8e{bottom:337.560000px;}
.y57{bottom:343.560000px;}
.y2e{bottom:347.520000px;}
.ya3{bottom:347.760000px;}
.y76{bottom:357.360000px;}
.yf{bottom:357.651520px;}
.y56{bottom:363.360000px;}
.y2d{bottom:367.320000px;}
.ya2{bottom:367.560000px;}
.y75{bottom:371.160000px;}
.y8d{bottom:377.160000px;}
.ya1{bottom:381.360000px;}
.y55{bottom:383.160000px;}
.y74{bottom:384.960000px;}
.ye{bottom:386.399500px;}
.y2c{bottom:387.120000px;}
.y8c{bottom:390.960000px;}
.ya0{bottom:395.160000px;}
.y73{bottom:398.760000px;}
.y2b{bottom:400.920000px;}
.y54{bottom:402.960000px;}
.y8b{bottom:404.760000px;}
.y9f{bottom:408.960000px;}
.yb2{bottom:410.760000px;}
.yb8{bottom:412.560000px;}
.y2a{bottom:414.720000px;}
.yd{bottom:415.200000px;}
.y72{bottom:418.560000px;}
.y53{bottom:422.760000px;}
.yb7{bottom:426.360000px;}
.y29{bottom:428.520000px;}
.yb1{bottom:430.560000px;}
.y8a{bottom:432.360000px;}
.y52{bottom:436.560000px;}
.y71{bottom:438.360000px;}
.y0{bottom:438.500000px;}
.yc{bottom:438.531180px;}
.y28{bottom:442.320000px;}
.y89{bottom:446.160000px;}
.y51{bottom:450.360000px;}
.y27{bottom:456.120000px;}
.y70{bottom:458.160000px;}
.y88{bottom:459.960000px;}
.y50{bottom:464.160000px;}
.yb6{bottom:465.960000px;}
.y26{bottom:469.920000px;}
.y87{bottom:473.760000px;}
.y4f{bottom:477.960000px;}
.y25{bottom:483.720000px;}
.yb5{bottom:485.760000px;}
.y86{bottom:487.560000px;}
.y4e{bottom:491.760000px;}
.y24{bottom:497.520000px;}
.y4d{bottom:505.560000px;}
.y85{bottom:507.360000px;}
.y23{bottom:511.320000px;}
.y4c{bottom:519.360000px;}
.y84{bottom:527.160000px;}
.y22{bottom:531.120000px;}
.y4b{bottom:533.160000px;}
.yb{bottom:539.505240px;}
.y4a{bottom:546.960000px;}
.y21{bottom:550.920000px;}
.ya{bottom:557.928240px;}
.y6f{bottom:560.760000px;}
.y49{bottom:566.760000px;}
.y20{bottom:570.720000px;}
.y6e{bottom:574.560000px;}
.y9{bottom:576.351240px;}
.y83{bottom:580.560000px;}
.y48{bottom:586.560000px;}
.y6d{bottom:588.360000px;}
.y1f{bottom:590.520000px;}
.y82{bottom:594.360000px;}
.y8{bottom:594.710160px;}
.y6c{bottom:602.160000px;}
.y1e{bottom:604.320000px;}
.y47{bottom:606.360000px;}
.y81{bottom:608.160000px;}
.y7{bottom:613.133160px;}
.y1d{bottom:618.120000px;}
.y6b{bottom:621.960000px;}
.y46{bottom:626.160000px;}
.y9e{bottom:627.960000px;}
.y6{bottom:631.492080px;}
.y1c{bottom:631.920000px;}
.y80{bottom:635.760000px;}
.y45{bottom:639.960000px;}
.y6a{bottom:641.760000px;}
.y1b{bottom:645.720000px;}
.y9d{bottom:647.760000px;}
.y7f{bottom:649.560000px;}
.y5{bottom:649.915080px;}
.y44{bottom:653.760000px;}
.y1a{bottom:659.520000px;}
.y69{bottom:661.560000px;}
.y43{bottom:667.560000px;}
.y4{bottom:668.338080px;}
.y7e{bottom:669.360000px;}
.y19{bottom:673.320000px;}
.y42{bottom:681.360000px;}
.y3{bottom:686.697000px;}
.y18{bottom:687.120000px;}
.y7d{bottom:689.160000px;}
.y41{bottom:695.160000px;}
.y2{bottom:705.120000px;}
.y17{bottom:708.900000px;}
.y40{bottom:708.960000px;}
.y1{bottom:740.820000px;}
.h6{height:29.272852px;}
.h2{height:43.804688px;}
.h5{height:53.250000px;}
.h8{height:54.960938px;}
.h7{height:69.015625px;}
.h3{height:73.372852px;}
.h1{height:97.500000px;}
.h4{height:114.593555px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x9{left:72.000000px;}
.x5{left:114.948080px;}
.x0{left:135.500000px;}
.x6{left:228.939200px;}
.xb{left:253.000000px;}
.x4{left:264.300000px;}
.x8{left:267.359580px;}
.x1{left:279.180000px;}
.x2{left:306.000000px;}
.x7{left:383.040000px;}
.x3{left:477.718380px;}
.xa{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:-0.102528pt;}
.ls16{letter-spacing:-0.096000pt;}
.lsb{letter-spacing:-0.083200pt;}
.ls19{letter-spacing:-0.070400pt;}
.ls1e{letter-spacing:-0.064000pt;}
.ls4{letter-spacing:-0.059808pt;}
.ls2{letter-spacing:-0.053376pt;}
.ls1b{letter-spacing:-0.051200pt;}
.ls13{letter-spacing:-0.044800pt;}
.ls15{letter-spacing:-0.038400pt;}
.ls1a{letter-spacing:-0.032000pt;}
.ls3{letter-spacing:-0.026688pt;}
.ls6{letter-spacing:-0.025600pt;}
.ls12{letter-spacing:-0.019200pt;}
.ls14{letter-spacing:-0.012800pt;}
.lse{letter-spacing:-0.006400pt;}
.ls1{letter-spacing:0.000000pt;}
.ls9{letter-spacing:0.006400pt;}
.lsd{letter-spacing:0.012800pt;}
.lsc{letter-spacing:0.019200pt;}
.ls7{letter-spacing:0.025600pt;}
.ls10{letter-spacing:0.032000pt;}
.ls11{letter-spacing:0.038400pt;}
.ls18{letter-spacing:0.044800pt;}
.ls17{letter-spacing:0.051200pt;}
.lsf{letter-spacing:0.057600pt;}
.ls8{letter-spacing:0.064000pt;}
.ls1d{letter-spacing:0.076800pt;}
.ls1f{letter-spacing:0.083200pt;}
.ls1c{letter-spacing:0.089600pt;}
.lsa{letter-spacing:0.108800pt;}
.ls5{letter-spacing:752.000000pt;}
.ws28{word-spacing:-0.358400pt;}
.ws29{word-spacing:-0.262400pt;}
.ws23{word-spacing:-0.236800pt;}
.ws11{word-spacing:-0.198400pt;}
.ws10{word-spacing:-0.192000pt;}
.ws1c{word-spacing:-0.185600pt;}
.ws2{word-spacing:-0.179424pt;}
.ws21{word-spacing:-0.172800pt;}
.ws14{word-spacing:-0.166400pt;}
.ws2d{word-spacing:-0.160000pt;}
.ws2e{word-spacing:-0.153600pt;}
.ws25{word-spacing:-0.147200pt;}
.ws27{word-spacing:-0.140800pt;}
.ws1f{word-spacing:-0.134400pt;}
.ws13{word-spacing:-0.128000pt;}
.ws5{word-spacing:-0.121600pt;}
.ws26{word-spacing:-0.115200pt;}
.ws20{word-spacing:-0.108800pt;}
.ws16{word-spacing:-0.102400pt;}
.ws1b{word-spacing:-0.096000pt;}
.ws24{word-spacing:-0.089600pt;}
.ws12{word-spacing:-0.083200pt;}
.wse{word-spacing:-0.076800pt;}
.wsc{word-spacing:-0.070400pt;}
.ws7{word-spacing:-0.064000pt;}
.wsd{word-spacing:-0.057600pt;}
.ws1{word-spacing:-0.053376pt;}
.ws1e{word-spacing:-0.051200pt;}
.wsf{word-spacing:-0.044800pt;}
.ws15{word-spacing:-0.038400pt;}
.ws17{word-spacing:-0.032000pt;}
.ws4{word-spacing:-0.025600pt;}
.wsa{word-spacing:-0.019200pt;}
.wsb{word-spacing:-0.012800pt;}
.ws8{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.ws1a{word-spacing:0.006400pt;}
.ws18{word-spacing:0.012800pt;}
.ws6{word-spacing:0.019200pt;}
.ws3{word-spacing:0.025600pt;}
.ws22{word-spacing:0.032000pt;}
.ws2a{word-spacing:0.038400pt;}
.ws2b{word-spacing:0.044800pt;}
.ws2c{word-spacing:0.064000pt;}
.ws1d{word-spacing:0.070400pt;}
.ws9{word-spacing:0.083200pt;}
.ws19{word-spacing:0.096000pt;}
.ws2f{word-spacing:0.121600pt;}
._0{margin-left:-1.395200pt;}
.fs1{font-size:58.560000pt;}
.fs3{font-size:64.000000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs2{font-size:133.440000pt;}
.y16{bottom:21.333333pt;}
.y15{bottom:53.120133pt;}
.y3f{bottom:102.560000pt;}
.y9c{bottom:107.760000pt;}
.yb0{bottom:108.560000pt;}
.y68{bottom:113.360000pt;}
.y3e{bottom:120.960000pt;}
.y9b{bottom:126.160000pt;}
.yaf{bottom:126.960000pt;}
.y67{bottom:131.760000pt;}
.y9a{bottom:144.560000pt;}
.yae{bottom:145.360000pt;}
.y3d{bottom:147.360000pt;}
.y66{bottom:150.160000pt;}
.y99{bottom:162.960000pt;}
.yad{bottom:163.760000pt;}
.y65{bottom:168.560000pt;}
.y3c{bottom:173.760000pt;}
.yac{bottom:182.160000pt;}
.y64{bottom:186.960000pt;}
.y98{bottom:189.360000pt;}
.y3b{bottom:200.160000pt;}
.yab{bottom:200.560000pt;}
.y63{bottom:205.360000pt;}
.y97{bottom:215.760000pt;}
.yaa{bottom:218.960000pt;}
.y7c{bottom:223.760000pt;}
.y3a{bottom:226.560000pt;}
.y62{bottom:231.760000pt;}
.ya9{bottom:237.360000pt;}
.y7b{bottom:242.160000pt;}
.y39{bottom:244.960000pt;}
.ya8{bottom:255.760000pt;}
.y61{bottom:258.160000pt;}
.y7a{bottom:260.560000pt;}
.y38{bottom:263.360000pt;}
.y96{bottom:268.560000pt;}
.ya7{bottom:274.160000pt;}
.ybd{bottom:278.960000pt;}
.y37{bottom:281.760000pt;}
.y60{bottom:284.560000pt;}
.y79{bottom:286.960000pt;}
.ya6{bottom:292.560000pt;}
.yb4{bottom:294.960000pt;}
.ybc{bottom:297.360000pt;}
.y36{bottom:300.160000pt;}
.y95{bottom:305.360000pt;}
.y5f{bottom:310.960000pt;}
.y78{bottom:313.360000pt;}
.ybb{bottom:315.760000pt;}
.y35{bottom:318.560000pt;}
.yb3{bottom:321.360000pt;}
.y94{bottom:323.760000pt;}
.y5e{bottom:329.360000pt;}
.y34{bottom:336.960000pt;}
.y77{bottom:339.760000pt;}
.y93{bottom:342.160000pt;}
.y5d{bottom:347.760000pt;}
.y33{bottom:355.360000pt;}
.y92{bottom:360.560000pt;}
.y5c{bottom:366.160000pt;}
.y14{bottom:367.520000pt;}
.yba{bottom:368.560000pt;}
.y32{bottom:373.760000pt;}
.y91{bottom:378.960000pt;}
.y5b{bottom:384.560000pt;}
.y13{bottom:386.954240pt;}
.y31{bottom:392.160000pt;}
.yb9{bottom:394.960000pt;}
.y90{bottom:397.280000pt;}
.y5a{bottom:402.960000pt;}
.y30{bottom:410.560000pt;}
.ya5{bottom:410.960000pt;}
.y12{bottom:411.518240pt;}
.y59{bottom:421.280000pt;}
.y8f{bottom:423.680000pt;}
.y2f{bottom:436.960000pt;}
.ya4{bottom:437.280000pt;}
.y10{bottom:438.538053pt;}
.y11{bottom:438.560000pt;}
.y58{bottom:439.680000pt;}
.y8e{bottom:450.080000pt;}
.y57{bottom:458.080000pt;}
.y2e{bottom:463.360000pt;}
.ya3{bottom:463.680000pt;}
.y76{bottom:476.480000pt;}
.yf{bottom:476.868693pt;}
.y56{bottom:484.480000pt;}
.y2d{bottom:489.760000pt;}
.ya2{bottom:490.080000pt;}
.y75{bottom:494.880000pt;}
.y8d{bottom:502.880000pt;}
.ya1{bottom:508.480000pt;}
.y55{bottom:510.880000pt;}
.y74{bottom:513.280000pt;}
.ye{bottom:515.199333pt;}
.y2c{bottom:516.160000pt;}
.y8c{bottom:521.280000pt;}
.ya0{bottom:526.880000pt;}
.y73{bottom:531.680000pt;}
.y2b{bottom:534.560000pt;}
.y54{bottom:537.280000pt;}
.y8b{bottom:539.680000pt;}
.y9f{bottom:545.280000pt;}
.yb2{bottom:547.680000pt;}
.yb8{bottom:550.080000pt;}
.y2a{bottom:552.960000pt;}
.yd{bottom:553.600000pt;}
.y72{bottom:558.080000pt;}
.y53{bottom:563.680000pt;}
.yb7{bottom:568.480000pt;}
.y29{bottom:571.360000pt;}
.yb1{bottom:574.080000pt;}
.y8a{bottom:576.480000pt;}
.y52{bottom:582.080000pt;}
.y71{bottom:584.480000pt;}
.y0{bottom:584.666667pt;}
.yc{bottom:584.708240pt;}
.y28{bottom:589.760000pt;}
.y89{bottom:594.880000pt;}
.y51{bottom:600.480000pt;}
.y27{bottom:608.160000pt;}
.y70{bottom:610.880000pt;}
.y88{bottom:613.280000pt;}
.y50{bottom:618.880000pt;}
.yb6{bottom:621.280000pt;}
.y26{bottom:626.560000pt;}
.y87{bottom:631.680000pt;}
.y4f{bottom:637.280000pt;}
.y25{bottom:644.960000pt;}
.yb5{bottom:647.680000pt;}
.y86{bottom:650.080000pt;}
.y4e{bottom:655.680000pt;}
.y24{bottom:663.360000pt;}
.y4d{bottom:674.080000pt;}
.y85{bottom:676.480000pt;}
.y23{bottom:681.760000pt;}
.y4c{bottom:692.480000pt;}
.y84{bottom:702.880000pt;}
.y22{bottom:708.160000pt;}
.y4b{bottom:710.880000pt;}
.yb{bottom:719.340320pt;}
.y4a{bottom:729.280000pt;}
.y21{bottom:734.560000pt;}
.ya{bottom:743.904320pt;}
.y6f{bottom:747.680000pt;}
.y49{bottom:755.680000pt;}
.y20{bottom:760.960000pt;}
.y6e{bottom:766.080000pt;}
.y9{bottom:768.468320pt;}
.y83{bottom:774.080000pt;}
.y48{bottom:782.080000pt;}
.y6d{bottom:784.480000pt;}
.y1f{bottom:787.360000pt;}
.y82{bottom:792.480000pt;}
.y8{bottom:792.946880pt;}
.y6c{bottom:802.880000pt;}
.y1e{bottom:805.760000pt;}
.y47{bottom:808.480000pt;}
.y81{bottom:810.880000pt;}
.y7{bottom:817.510880pt;}
.y1d{bottom:824.160000pt;}
.y6b{bottom:829.280000pt;}
.y46{bottom:834.880000pt;}
.y9e{bottom:837.280000pt;}
.y6{bottom:841.989440pt;}
.y1c{bottom:842.560000pt;}
.y80{bottom:847.680000pt;}
.y45{bottom:853.280000pt;}
.y6a{bottom:855.680000pt;}
.y1b{bottom:860.960000pt;}
.y9d{bottom:863.680000pt;}
.y7f{bottom:866.080000pt;}
.y5{bottom:866.553440pt;}
.y44{bottom:871.680000pt;}
.y1a{bottom:879.360000pt;}
.y69{bottom:882.080000pt;}
.y43{bottom:890.080000pt;}
.y4{bottom:891.117440pt;}
.y7e{bottom:892.480000pt;}
.y19{bottom:897.760000pt;}
.y42{bottom:908.480000pt;}
.y3{bottom:915.596000pt;}
.y18{bottom:916.160000pt;}
.y7d{bottom:918.880000pt;}
.y41{bottom:926.880000pt;}
.y2{bottom:940.160000pt;}
.y17{bottom:945.200000pt;}
.y40{bottom:945.280000pt;}
.y1{bottom:987.760000pt;}
.h6{height:39.030469pt;}
.h2{height:58.406250pt;}
.h5{height:71.000000pt;}
.h8{height:73.281250pt;}
.h7{height:92.020833pt;}
.h3{height:97.830469pt;}
.h1{height:130.000000pt;}
.h4{height:152.791406pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x9{left:96.000000pt;}
.x5{left:153.264107pt;}
.x0{left:180.666667pt;}
.x6{left:305.252267pt;}
.xb{left:337.333333pt;}
.x4{left:352.400000pt;}
.x8{left:356.479440pt;}
.x1{left:372.240000pt;}
.x2{left:408.000000pt;}
.x7{left:510.720000pt;}
.x3{left:636.957840pt;}
.xa{left:673.040000pt;}
}
