.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(33,78,123);}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:48.000000px;}
.fs3{font-size:56.000000px;}
.fs2{font-size:60.000000px;}
.fs0{font-size:80.000000px;}
.fs1{font-size:100.000000px;}
.y7{bottom:17.000000px;}
.y35{bottom:22.000000px;}
.y8{bottom:35.500000px;}
.yb8{bottom:56.000000px;}
.y6a{bottom:61.230000px;}
.ya2{bottom:61.640000px;}
.y83{bottom:62.000000px;}
.y55{bottom:64.940000px;}
.y33{bottom:68.000000px;}
.y69{bottom:73.230000px;}
.yce{bottom:73.250000px;}
.y82{bottom:74.000000px;}
.ya1{bottom:79.640000px;}
.y32{bottom:80.000000px;}
.y54{bottom:84.940000px;}
.y8d{bottom:86.000000px;}
.y68{bottom:91.230000px;}
.y81{bottom:92.000000px;}
.ycd{bottom:93.250000px;}
.ya0{bottom:97.640000px;}
.y31{bottom:98.000000px;}
.y53{bottom:102.940000px;}
.yb7{bottom:104.000000px;}
.y9f{bottom:109.640000px;}
.y67{bottom:111.230000px;}
.ycc{bottom:111.250000px;}
.y80{bottom:112.000000px;}
.y8c{bottom:116.000000px;}
.y30{bottom:118.000000px;}
.y52{bottom:120.940000px;}
.yb6{bottom:122.000000px;}
.y9e{bottom:127.640000px;}
.y66{bottom:129.230000px;}
.ycb{bottom:129.250000px;}
.y7f{bottom:130.000000px;}
.y51{bottom:132.940000px;}
.y8b{bottom:134.000000px;}
.y2f{bottom:136.000000px;}
.yb5{bottom:140.000000px;}
.yca{bottom:141.250000px;}
.y9d{bottom:145.640000px;}
.y65{bottom:147.230000px;}
.y7e{bottom:148.000000px;}
.y50{bottom:150.940000px;}
.y8a{bottom:152.000000px;}
.y2e{bottom:154.000000px;}
.yb4{bottom:158.000000px;}
.y64{bottom:159.230000px;}
.yc9{bottom:159.250000px;}
.y7d{bottom:160.000000px;}
.y9c{bottom:163.640000px;}
.y89{bottom:164.000000px;}
.y2d{bottom:166.000000px;}
.y4f{bottom:168.940000px;}
.yb3{bottom:176.000000px;}
.y63{bottom:177.230000px;}
.yc8{bottom:177.250000px;}
.y7c{bottom:178.000000px;}
.y9b{bottom:181.640000px;}
.y88{bottom:182.000000px;}
.y2c{bottom:184.000000px;}
.y4e{bottom:186.940000px;}
.yb2{bottom:194.000000px;}
.y62{bottom:195.230000px;}
.yc7{bottom:195.250000px;}
.y7b{bottom:196.000000px;}
.y2b{bottom:202.000000px;}
.y4d{bottom:204.940000px;}
.yb1{bottom:212.000000px;}
.y61{bottom:213.230000px;}
.yc6{bottom:213.250000px;}
.y7a{bottom:214.000000px;}
.y4c{bottom:216.940000px;}
.y2a{bottom:220.000000px;}
.yb0{bottom:230.000000px;}
.y60{bottom:231.230000px;}
.yc5{bottom:231.250000px;}
.y79{bottom:232.000000px;}
.y4b{bottom:234.940000px;}
.y29{bottom:238.000000px;}
.yc4{bottom:243.250000px;}
.y4a{bottom:246.940000px;}
.yaf{bottom:248.000000px;}
.y5f{bottom:249.230000px;}
.y78{bottom:250.000000px;}
.y28{bottom:256.000000px;}
.yc3{bottom:261.250000px;}
.y49{bottom:264.940000px;}
.yae{bottom:266.000000px;}
.y5e{bottom:267.230000px;}
.y77{bottom:268.000000px;}
.yc2{bottom:273.250000px;}
.y27{bottom:274.000000px;}
.yad{bottom:284.000000px;}
.y48{bottom:284.940000px;}
.y5d{bottom:285.230000px;}
.y76{bottom:286.000000px;}
.yc1{bottom:291.250000px;}
.y26{bottom:292.000000px;}
.yac{bottom:302.000000px;}
.y47{bottom:302.940000px;}
.y5c{bottom:303.230000px;}
.y75{bottom:304.000000px;}
.y25{bottom:310.000000px;}
.yc0{bottom:311.250000px;}
.yab{bottom:320.000000px;}
.y46{bottom:320.940000px;}
.y6{bottom:321.000000px;}
.y5b{bottom:321.230000px;}
.y24{bottom:322.000000px;}
.ybf{bottom:329.250000px;}
.y45{bottom:332.940000px;}
.y74{bottom:334.000000px;}
.yaa{bottom:338.000000px;}
.y5a{bottom:339.230000px;}
.y23{bottom:340.000000px;}
.y5{bottom:343.500000px;}
.ybe{bottom:347.250000px;}
.y44{bottom:350.940000px;}
.y73{bottom:352.000000px;}
.y59{bottom:357.230000px;}
.y22{bottom:358.000000px;}
.ybd{bottom:359.250000px;}
.y43{bottom:368.940000px;}
.y21{bottom:370.000000px;}
.y58{bottom:375.230000px;}
.ya5{bottom:376.000000px;}
.ybc{bottom:377.250000px;}
.y4{bottom:381.000000px;}
.y72{bottom:382.000000px;}
.y42{bottom:386.940000px;}
.y20{bottom:388.000000px;}
.y57{bottom:393.230000px;}
.ybb{bottom:395.250000px;}
.y71{bottom:400.000000px;}
.y41{bottom:404.940000px;}
.ya4{bottom:406.000000px;}
.y1f{bottom:408.000000px;}
.y3{bottom:411.000000px;}
.y56{bottom:411.230000px;}
.y9a{bottom:411.730000px;}
.yba{bottom:413.250000px;}
.y70{bottom:420.000000px;}
.y99{bottom:423.730000px;}
.y1e{bottom:426.000000px;}
.yb9{bottom:431.250000px;}
.y6f{bottom:438.000000px;}
.y98{bottom:441.730000px;}
.y1d{bottom:444.000000px;}
.y1c{bottom:456.000000px;}
.y97{bottom:459.730000px;}
.ya3{bottom:462.000000px;}
.y6e{bottom:468.000000px;}
.y96{bottom:471.730000px;}
.y1b{bottom:474.000000px;}
.y6d{bottom:486.000000px;}
.y95{bottom:489.730000px;}
.y0{bottom:490.500000px;}
.y1a{bottom:492.000000px;}
.y6c{bottom:504.000000px;}
.y94{bottom:509.730000px;}
.y19{bottom:510.000000px;}
.y6b{bottom:522.000000px;}
.y93{bottom:527.730000px;}
.y18{bottom:528.000000px;}
.y40{bottom:540.000000px;}
.y92{bottom:545.730000px;}
.y17{bottom:546.000000px;}
.y3f{bottom:552.000000px;}
.y91{bottom:557.730000px;}
.y16{bottom:558.000000px;}
.y3e{bottom:570.000000px;}
.y90{bottom:575.730000px;}
.y15{bottom:576.000000px;}
.y87{bottom:582.000000px;}
.y14{bottom:588.000000px;}
.y8f{bottom:593.730000px;}
.y3d{bottom:600.000000px;}
.y13{bottom:606.000000px;}
.y8e{bottom:611.730000px;}
.y3c{bottom:618.000000px;}
.y86{bottom:620.000000px;}
.y12{bottom:626.000000px;}
.y2{bottom:636.000000px;}
.y3b{bottom:638.000000px;}
.y11{bottom:644.000000px;}
.ya9{bottom:654.000000px;}
.y3a{bottom:656.000000px;}
.y10{bottom:662.000000px;}
.y85{bottom:668.000000px;}
.ya8{bottom:672.000000px;}
.yf{bottom:674.000000px;}
.ya7{bottom:684.000000px;}
.y39{bottom:686.000000px;}
.ye{bottom:692.000000px;}
.ya6{bottom:702.000000px;}
.y38{bottom:704.000000px;}
.yd{bottom:710.000000px;}
.y37{bottom:722.000000px;}
.yc{bottom:728.000000px;}
.y36{bottom:740.000000px;}
.yb{bottom:746.000000px;}
.ya{bottom:758.000000px;}
.y84{bottom:770.000000px;}
.y1{bottom:776.000000px;}
.y9{bottom:788.000000px;}
.y34{bottom:808.000000px;}
.h7{height:56.367840px;}
.h8{height:59.156250px;}
.h5{height:69.015625px;}
.h4{height:70.459800px;}
.h2{height:93.946400px;}
.h3{height:117.433000px;}
.h1{height:130.500000px;}
.h6{height:770.500000px;}
.h0{height:842.000000px;}
.w1{width:456.500000px;}
.w2{width:523.500000px;}
.w0{width:595.000000px;}
.x1{left:36.000000px;}
.x2{left:61.900000px;}
.x0{left:69.500000px;}
.x6{left:216.810000px;}
.x3{left:219.690000px;}
.x5{left:245.000000px;}
.x4{left:257.480000px;}
.x8{left:543.660000px;}
.x7{left:550.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs4{font-size:64.000000pt;}
.fs3{font-size:74.666667pt;}
.fs2{font-size:80.000000pt;}
.fs0{font-size:106.666667pt;}
.fs1{font-size:133.333333pt;}
.y7{bottom:22.666667pt;}
.y35{bottom:29.333333pt;}
.y8{bottom:47.333333pt;}
.yb8{bottom:74.666667pt;}
.y6a{bottom:81.640000pt;}
.ya2{bottom:82.186667pt;}
.y83{bottom:82.666667pt;}
.y55{bottom:86.586667pt;}
.y33{bottom:90.666667pt;}
.y69{bottom:97.640000pt;}
.yce{bottom:97.666667pt;}
.y82{bottom:98.666667pt;}
.ya1{bottom:106.186667pt;}
.y32{bottom:106.666667pt;}
.y54{bottom:113.253333pt;}
.y8d{bottom:114.666667pt;}
.y68{bottom:121.640000pt;}
.y81{bottom:122.666667pt;}
.ycd{bottom:124.333333pt;}
.ya0{bottom:130.186667pt;}
.y31{bottom:130.666667pt;}
.y53{bottom:137.253333pt;}
.yb7{bottom:138.666667pt;}
.y9f{bottom:146.186667pt;}
.y67{bottom:148.306667pt;}
.ycc{bottom:148.333333pt;}
.y80{bottom:149.333333pt;}
.y8c{bottom:154.666667pt;}
.y30{bottom:157.333333pt;}
.y52{bottom:161.253333pt;}
.yb6{bottom:162.666667pt;}
.y9e{bottom:170.186667pt;}
.y66{bottom:172.306667pt;}
.ycb{bottom:172.333333pt;}
.y7f{bottom:173.333333pt;}
.y51{bottom:177.253333pt;}
.y8b{bottom:178.666667pt;}
.y2f{bottom:181.333333pt;}
.yb5{bottom:186.666667pt;}
.yca{bottom:188.333333pt;}
.y9d{bottom:194.186667pt;}
.y65{bottom:196.306667pt;}
.y7e{bottom:197.333333pt;}
.y50{bottom:201.253333pt;}
.y8a{bottom:202.666667pt;}
.y2e{bottom:205.333333pt;}
.yb4{bottom:210.666667pt;}
.y64{bottom:212.306667pt;}
.yc9{bottom:212.333333pt;}
.y7d{bottom:213.333333pt;}
.y9c{bottom:218.186667pt;}
.y89{bottom:218.666667pt;}
.y2d{bottom:221.333333pt;}
.y4f{bottom:225.253333pt;}
.yb3{bottom:234.666667pt;}
.y63{bottom:236.306667pt;}
.yc8{bottom:236.333333pt;}
.y7c{bottom:237.333333pt;}
.y9b{bottom:242.186667pt;}
.y88{bottom:242.666667pt;}
.y2c{bottom:245.333333pt;}
.y4e{bottom:249.253333pt;}
.yb2{bottom:258.666667pt;}
.y62{bottom:260.306667pt;}
.yc7{bottom:260.333333pt;}
.y7b{bottom:261.333333pt;}
.y2b{bottom:269.333333pt;}
.y4d{bottom:273.253333pt;}
.yb1{bottom:282.666667pt;}
.y61{bottom:284.306667pt;}
.yc6{bottom:284.333333pt;}
.y7a{bottom:285.333333pt;}
.y4c{bottom:289.253333pt;}
.y2a{bottom:293.333333pt;}
.yb0{bottom:306.666667pt;}
.y60{bottom:308.306667pt;}
.yc5{bottom:308.333333pt;}
.y79{bottom:309.333333pt;}
.y4b{bottom:313.253333pt;}
.y29{bottom:317.333333pt;}
.yc4{bottom:324.333333pt;}
.y4a{bottom:329.253333pt;}
.yaf{bottom:330.666667pt;}
.y5f{bottom:332.306667pt;}
.y78{bottom:333.333333pt;}
.y28{bottom:341.333333pt;}
.yc3{bottom:348.333333pt;}
.y49{bottom:353.253333pt;}
.yae{bottom:354.666667pt;}
.y5e{bottom:356.306667pt;}
.y77{bottom:357.333333pt;}
.yc2{bottom:364.333333pt;}
.y27{bottom:365.333333pt;}
.yad{bottom:378.666667pt;}
.y48{bottom:379.920000pt;}
.y5d{bottom:380.306667pt;}
.y76{bottom:381.333333pt;}
.yc1{bottom:388.333333pt;}
.y26{bottom:389.333333pt;}
.yac{bottom:402.666667pt;}
.y47{bottom:403.920000pt;}
.y5c{bottom:404.306667pt;}
.y75{bottom:405.333333pt;}
.y25{bottom:413.333333pt;}
.yc0{bottom:415.000000pt;}
.yab{bottom:426.666667pt;}
.y46{bottom:427.920000pt;}
.y6{bottom:428.000000pt;}
.y5b{bottom:428.306667pt;}
.y24{bottom:429.333333pt;}
.ybf{bottom:439.000000pt;}
.y45{bottom:443.920000pt;}
.y74{bottom:445.333333pt;}
.yaa{bottom:450.666667pt;}
.y5a{bottom:452.306667pt;}
.y23{bottom:453.333333pt;}
.y5{bottom:458.000000pt;}
.ybe{bottom:463.000000pt;}
.y44{bottom:467.920000pt;}
.y73{bottom:469.333333pt;}
.y59{bottom:476.306667pt;}
.y22{bottom:477.333333pt;}
.ybd{bottom:479.000000pt;}
.y43{bottom:491.920000pt;}
.y21{bottom:493.333333pt;}
.y58{bottom:500.306667pt;}
.ya5{bottom:501.333333pt;}
.ybc{bottom:503.000000pt;}
.y4{bottom:508.000000pt;}
.y72{bottom:509.333333pt;}
.y42{bottom:515.920000pt;}
.y20{bottom:517.333333pt;}
.y57{bottom:524.306667pt;}
.ybb{bottom:527.000000pt;}
.y71{bottom:533.333333pt;}
.y41{bottom:539.920000pt;}
.ya4{bottom:541.333333pt;}
.y1f{bottom:544.000000pt;}
.y3{bottom:548.000000pt;}
.y56{bottom:548.306667pt;}
.y9a{bottom:548.973333pt;}
.yba{bottom:551.000000pt;}
.y70{bottom:560.000000pt;}
.y99{bottom:564.973333pt;}
.y1e{bottom:568.000000pt;}
.yb9{bottom:575.000000pt;}
.y6f{bottom:584.000000pt;}
.y98{bottom:588.973333pt;}
.y1d{bottom:592.000000pt;}
.y1c{bottom:608.000000pt;}
.y97{bottom:612.973333pt;}
.ya3{bottom:616.000000pt;}
.y6e{bottom:624.000000pt;}
.y96{bottom:628.973333pt;}
.y1b{bottom:632.000000pt;}
.y6d{bottom:648.000000pt;}
.y95{bottom:652.973333pt;}
.y0{bottom:654.000000pt;}
.y1a{bottom:656.000000pt;}
.y6c{bottom:672.000000pt;}
.y94{bottom:679.640000pt;}
.y19{bottom:680.000000pt;}
.y6b{bottom:696.000000pt;}
.y93{bottom:703.640000pt;}
.y18{bottom:704.000000pt;}
.y40{bottom:720.000000pt;}
.y92{bottom:727.640000pt;}
.y17{bottom:728.000000pt;}
.y3f{bottom:736.000000pt;}
.y91{bottom:743.640000pt;}
.y16{bottom:744.000000pt;}
.y3e{bottom:760.000000pt;}
.y90{bottom:767.640000pt;}
.y15{bottom:768.000000pt;}
.y87{bottom:776.000000pt;}
.y14{bottom:784.000000pt;}
.y8f{bottom:791.640000pt;}
.y3d{bottom:800.000000pt;}
.y13{bottom:808.000000pt;}
.y8e{bottom:815.640000pt;}
.y3c{bottom:824.000000pt;}
.y86{bottom:826.666667pt;}
.y12{bottom:834.666667pt;}
.y2{bottom:848.000000pt;}
.y3b{bottom:850.666667pt;}
.y11{bottom:858.666667pt;}
.ya9{bottom:872.000000pt;}
.y3a{bottom:874.666667pt;}
.y10{bottom:882.666667pt;}
.y85{bottom:890.666667pt;}
.ya8{bottom:896.000000pt;}
.yf{bottom:898.666667pt;}
.ya7{bottom:912.000000pt;}
.y39{bottom:914.666667pt;}
.ye{bottom:922.666667pt;}
.ya6{bottom:936.000000pt;}
.y38{bottom:938.666667pt;}
.yd{bottom:946.666667pt;}
.y37{bottom:962.666667pt;}
.yc{bottom:970.666667pt;}
.y36{bottom:986.666667pt;}
.yb{bottom:994.666667pt;}
.ya{bottom:1010.666667pt;}
.y84{bottom:1026.666667pt;}
.y1{bottom:1034.666667pt;}
.y9{bottom:1050.666667pt;}
.y34{bottom:1077.333333pt;}
.h7{height:75.157120pt;}
.h8{height:78.875000pt;}
.h5{height:92.020833pt;}
.h4{height:93.946400pt;}
.h2{height:125.261866pt;}
.h3{height:156.577333pt;}
.h1{height:174.000000pt;}
.h6{height:1027.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:608.666667pt;}
.w2{width:698.000000pt;}
.w0{width:793.333333pt;}
.x1{left:48.000000pt;}
.x2{left:82.533333pt;}
.x0{left:92.666667pt;}
.x6{left:289.080000pt;}
.x3{left:292.920000pt;}
.x5{left:326.666667pt;}
.x4{left:343.306667pt;}
.x8{left:724.880000pt;}
.x7{left:733.773333pt;}
}
