.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc7{color:rgb(33,78,123);}
.fc4{color:rgb(102,0,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(255,0,0);}
.fc2{color:rgb(0,0,51);}
.fc6{color:rgb(66,184,55);}
.fc1{color:rgb(120,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:80.000000px;}
.fs1{font-size:160.000000px;}
.ye{bottom:17.000000px;}
.y38{bottom:31.000000px;}
.yf{bottom:44.500000px;}
.y36{bottom:64.500000px;}
.y32{bottom:98.000000px;}
.y31{bottom:118.000000px;}
.y30{bottom:136.000000px;}
.y2f{bottom:154.000000px;}
.y2e{bottom:166.000000px;}
.y2d{bottom:182.000000px;}
.y2c{bottom:198.000000px;}
.y2b{bottom:214.000000px;}
.y2a{bottom:230.000000px;}
.y29{bottom:246.000000px;}
.y28{bottom:262.000000px;}
.y27{bottom:274.000000px;}
.y26{bottom:286.000000px;}
.y35{bottom:317.500000px;}
.y25{bottom:351.000000px;}
.y24{bottom:371.000000px;}
.yd{bottom:388.500000px;}
.y23{bottom:389.000000px;}
.yc{bottom:406.500000px;}
.y22{bottom:407.000000px;}
.y21{bottom:419.000000px;}
.y20{bottom:435.000000px;}
.yb{bottom:436.500000px;}
.y1f{bottom:451.000000px;}
.ya{bottom:451.500000px;}
.y9{bottom:461.500000px;}
.y1e{bottom:467.000000px;}
.y1d{bottom:483.000000px;}
.y8{bottom:484.000000px;}
.y7{bottom:494.000000px;}
.y1c{bottom:495.000000px;}
.y1b{bottom:507.000000px;}
.y1a{bottom:523.000000px;}
.y6{bottom:524.000000px;}
.y5{bottom:526.000000px;}
.y34{bottom:554.500000px;}
.y4{bottom:586.000000px;}
.y19{bottom:588.000000px;}
.y18{bottom:608.000000px;}
.y17{bottom:626.000000px;}
.y16{bottom:644.000000px;}
.y15{bottom:656.000000px;}
.y14{bottom:672.000000px;}
.y3{bottom:686.000000px;}
.y2{bottom:688.000000px;}
.y1{bottom:703.000000px;}
.y13{bottom:704.000000px;}
.y0{bottom:712.500000px;}
.y12{bottom:720.000000px;}
.y11{bottom:732.000000px;}
.y10{bottom:744.000000px;}
.y33{bottom:775.500000px;}
.y37{bottom:799.000000px;}
.h2{height:46.973200px;}
.h6{height:56.367840px;}
.h9{height:59.156250px;}
.h7{height:69.015625px;}
.h5{height:70.459800px;}
.h1{height:84.500000px;}
.h4{height:93.946400px;}
.h3{height:187.892799px;}
.h8{height:797.500000px;}
.h0{height:842.000000px;}
.w1{width:277.500000px;}
.w2{width:540.000000px;}
.w0{width:595.000000px;}
.x0{left:55.000000px;}
.x9{left:57.000000px;}
.x6{left:132.020000px;}
.xa{left:218.800000px;}
.x5{left:231.350000px;}
.x3{left:243.040000px;}
.x8{left:245.000000px;}
.x7{left:269.150000px;}
.x1{left:276.080000px;}
.x4{left:291.940000px;}
.x2{left:296.110000px;}
.xb{left:531.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:106.666667pt;}
.fs1{font-size:213.333333pt;}
.ye{bottom:22.666667pt;}
.y38{bottom:41.333333pt;}
.yf{bottom:59.333333pt;}
.y36{bottom:86.000000pt;}
.y32{bottom:130.666667pt;}
.y31{bottom:157.333333pt;}
.y30{bottom:181.333333pt;}
.y2f{bottom:205.333333pt;}
.y2e{bottom:221.333333pt;}
.y2d{bottom:242.666667pt;}
.y2c{bottom:264.000000pt;}
.y2b{bottom:285.333333pt;}
.y2a{bottom:306.666667pt;}
.y29{bottom:328.000000pt;}
.y28{bottom:349.333333pt;}
.y27{bottom:365.333333pt;}
.y26{bottom:381.333333pt;}
.y35{bottom:423.333333pt;}
.y25{bottom:468.000000pt;}
.y24{bottom:494.666667pt;}
.yd{bottom:518.000000pt;}
.y23{bottom:518.666667pt;}
.yc{bottom:542.000000pt;}
.y22{bottom:542.666667pt;}
.y21{bottom:558.666667pt;}
.y20{bottom:580.000000pt;}
.yb{bottom:582.000000pt;}
.y1f{bottom:601.333333pt;}
.ya{bottom:602.000000pt;}
.y9{bottom:615.333333pt;}
.y1e{bottom:622.666667pt;}
.y1d{bottom:644.000000pt;}
.y8{bottom:645.333333pt;}
.y7{bottom:658.666667pt;}
.y1c{bottom:660.000000pt;}
.y1b{bottom:676.000000pt;}
.y1a{bottom:697.333333pt;}
.y6{bottom:698.666667pt;}
.y5{bottom:701.333333pt;}
.y34{bottom:739.333333pt;}
.y4{bottom:781.333333pt;}
.y19{bottom:784.000000pt;}
.y18{bottom:810.666667pt;}
.y17{bottom:834.666667pt;}
.y16{bottom:858.666667pt;}
.y15{bottom:874.666667pt;}
.y14{bottom:896.000000pt;}
.y3{bottom:914.666667pt;}
.y2{bottom:917.333333pt;}
.y1{bottom:937.333333pt;}
.y13{bottom:938.666667pt;}
.y0{bottom:950.000000pt;}
.y12{bottom:960.000000pt;}
.y11{bottom:976.000000pt;}
.y10{bottom:992.000000pt;}
.y33{bottom:1034.000000pt;}
.y37{bottom:1065.333333pt;}
.h2{height:62.630933pt;}
.h6{height:75.157120pt;}
.h9{height:78.875000pt;}
.h7{height:92.020833pt;}
.h5{height:93.946400pt;}
.h1{height:112.666667pt;}
.h4{height:125.261866pt;}
.h3{height:250.523733pt;}
.h8{height:1063.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:370.000000pt;}
.w2{width:720.000000pt;}
.w0{width:793.333333pt;}
.x0{left:73.333333pt;}
.x9{left:76.000000pt;}
.x6{left:176.026667pt;}
.xa{left:291.733333pt;}
.x5{left:308.466667pt;}
.x3{left:324.053333pt;}
.x8{left:326.666667pt;}
.x7{left:358.866667pt;}
.x1{left:368.106667pt;}
.x4{left:389.253333pt;}
.x2{left:394.813333pt;}
.xb{left:708.440000pt;}
}
