.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls29{letter-spacing:-1.318800px;}
.ls11{letter-spacing:-0.113400px;}
.ls27{letter-spacing:-0.084000px;}
.ls2c{letter-spacing:-0.079800px;}
.ls18{letter-spacing:-0.075600px;}
.ls22{letter-spacing:-0.071400px;}
.ls4{letter-spacing:-0.064080px;}
.ls17{letter-spacing:-0.050400px;}
.ls5{letter-spacing:-0.048000px;}
.ls1e{letter-spacing:-0.046200px;}
.ls14{letter-spacing:-0.042000px;}
.ls2{letter-spacing:-0.038448px;}
.ls25{letter-spacing:-0.037800px;}
.ls6{letter-spacing:-0.033600px;}
.ls3{letter-spacing:-0.032040px;}
.ls15{letter-spacing:-0.029400px;}
.ls32{letter-spacing:-0.025200px;}
.ls2e{letter-spacing:-0.021000px;}
.ls2d{letter-spacing:-0.016800px;}
.ls1c{letter-spacing:-0.012600px;}
.ls30{letter-spacing:-0.008400px;}
.ls1b{letter-spacing:-0.004200px;}
.ls1{letter-spacing:0.000000px;}
.ls2b{letter-spacing:0.004200px;}
.ls16{letter-spacing:0.008400px;}
.ls19{letter-spacing:0.012600px;}
.lsd{letter-spacing:0.016800px;}
.ls13{letter-spacing:0.021000px;}
.ls28{letter-spacing:0.025200px;}
.ls23{letter-spacing:0.029400px;}
.ls24{letter-spacing:0.033600px;}
.ls1f{letter-spacing:0.037800px;}
.ls0{letter-spacing:0.038448px;}
.lsb{letter-spacing:0.042000px;}
.ls1a{letter-spacing:0.046200px;}
.lsf{letter-spacing:0.050400px;}
.lsc{letter-spacing:0.054600px;}
.ls10{letter-spacing:0.058800px;}
.lse{letter-spacing:0.063000px;}
.ls9{letter-spacing:0.067200px;}
.ls12{letter-spacing:0.071400px;}
.ls8{letter-spacing:0.075600px;}
.lsa{letter-spacing:0.079800px;}
.ls1d{letter-spacing:0.084000px;}
.ls20{letter-spacing:0.088200px;}
.ls2a{letter-spacing:0.092400px;}
.ls21{letter-spacing:0.096600px;}
.ls7{letter-spacing:0.100800px;}
.ls26{letter-spacing:0.105000px;}
.ls2f{letter-spacing:0.109200px;}
.ls31{letter-spacing:10.621800px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws22{word-spacing:-2.352000px;}
.ws47{word-spacing:-2.314200px;}
.ws3a{word-spacing:-0.743400px;}
.ws36{word-spacing:-0.701400px;}
.ws2b{word-spacing:-0.693000px;}
.ws33{word-spacing:-0.672000px;}
.ws35{word-spacing:-0.659400px;}
.ws18{word-spacing:-0.260400px;}
.ws20{word-spacing:-0.218400px;}
.ws6{word-spacing:-0.147000px;}
.ws44{word-spacing:-0.050400px;}
.ws30{word-spacing:-0.046200px;}
.ws5{word-spacing:-0.042000px;}
.ws37{word-spacing:-0.037800px;}
.ws39{word-spacing:-0.033600px;}
.ws21{word-spacing:-0.029400px;}
.ws2{word-spacing:-0.025632px;}
.ws1e{word-spacing:-0.025200px;}
.ws9{word-spacing:-0.021000px;}
.ws7{word-spacing:-0.016800px;}
.ws10{word-spacing:-0.012600px;}
.ws8{word-spacing:-0.008400px;}
.wsd{word-spacing:-0.004200px;}
.ws0{word-spacing:0.000000px;}
.wsb{word-spacing:0.004200px;}
.wse{word-spacing:0.008400px;}
.ws1a{word-spacing:0.012600px;}
.wsa{word-spacing:0.016800px;}
.ws2c{word-spacing:0.021000px;}
.ws2e{word-spacing:0.025200px;}
.ws3e{word-spacing:0.029400px;}
.ws32{word-spacing:0.033600px;}
.ws43{word-spacing:0.037800px;}
.wsc{word-spacing:0.042000px;}
.ws19{word-spacing:0.046200px;}
.ws14{word-spacing:0.050400px;}
.ws3b{word-spacing:0.054600px;}
.ws17{word-spacing:0.058800px;}
.ws1b{word-spacing:0.063000px;}
.ws48{word-spacing:0.067200px;}
.ws1c{word-spacing:0.071400px;}
.ws3f{word-spacing:0.075600px;}
.ws40{word-spacing:0.079800px;}
.ws13{word-spacing:0.088200px;}
.ws1{word-spacing:0.096120px;}
.ws2d{word-spacing:0.096600px;}
.ws12{word-spacing:0.100800px;}
.ws1f{word-spacing:0.105000px;}
.ws15{word-spacing:0.109200px;}
.ws38{word-spacing:0.130200px;}
.ws16{word-spacing:0.134400px;}
.ws31{word-spacing:0.142800px;}
.ws3{word-spacing:0.168000px;}
.wsf{word-spacing:0.172200px;}
.ws41{word-spacing:0.281400px;}
.ws4{word-spacing:0.331800px;}
.ws42{word-spacing:0.336000px;}
.ws2f{word-spacing:1.201200px;}
.ws34{word-spacing:1.377600px;}
.ws25{word-spacing:2.125200px;}
.ws26{word-spacing:2.532600px;}
.ws3d{word-spacing:2.667000px;}
.ws3c{word-spacing:2.780400px;}
.ws24{word-spacing:3.099600px;}
.ws1d{word-spacing:3.108000px;}
.ws45{word-spacing:3.368400px;}
.ws2a{word-spacing:3.578400px;}
.ws46{word-spacing:5.027400px;}
.ws23{word-spacing:5.035800px;}
.ws28{word-spacing:5.044200px;}
.ws27{word-spacing:5.069400px;}
.ws29{word-spacing:5.090400px;}
.ws11{word-spacing:6.237000px;}
._1{margin-left:-5.340000px;}
._3{margin-left:-3.822480px;}
._2{margin-left:-2.562000px;}
._0{margin-left:-1.217520px;}
._4{width:1.092000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:42.000000px;}
.fs3{font-size:56.000000px;}
.fs2{font-size:60.000000px;}
.fs0{font-size:64.080000px;}
.yd{bottom:17.000000px;}
.y2{bottom:52.520300px;}
.ybf{bottom:74.412800px;}
.ye9{bottom:76.755900px;}
.y99{bottom:80.271800px;}
.y36{bottom:80.334800px;}
.ydf{bottom:82.781300px;}
.y107{bottom:82.832300px;}
.y78{bottom:86.382800px;}
.y5b{bottom:86.393300px;}
.ybe{bottom:95.948300px;}
.ye0{bottom:97.500000px;}
.ye8{bottom:97.640400px;}
.yde{bottom:98.384300px;}
.y106{bottom:98.435300px;}
.y77{bottom:101.985800px;}
.y35{bottom:101.996300px;}
.y5a{bottom:107.928800px;}
.y105{bottom:114.038300px;}
.y76{bottom:117.588800px;}
.y34{bottom:117.599300px;}
.ybd{bottom:117.609800px;}
.ydd{bottom:119.867300px;}
.y59{bottom:129.590300px;}
.y104{bottom:129.641300px;}
.y33{bottom:133.076300px;}
.y75{bottom:133.191800px;}
.y81{bottom:133.202300px;}
.ybc{bottom:133.212800px;}
.ydc{bottom:141.591800px;}
.y58{bottom:145.193300px;}
.y103{bottom:145.244300px;}
.ybb{bottom:148.689800px;}
.y74{bottom:148.794800px;}
.y98{bottom:148.805300px;}
.y32{bottom:154.674800px;}
.y80{bottom:154.737800px;}
.ydb{bottom:157.194800px;}
.y57{bottom:160.670300px;}
.y102{bottom:160.721300px;}
.y73{bottom:164.397800px;}
.y97{bottom:164.408300px;}
.yba{bottom:170.288300px;}
.yda{bottom:172.797800px;}
.y31{bottom:176.399300px;}
.y101{bottom:176.439800px;}
.y72{bottom:180.000800px;}
.y96{bottom:180.011300px;}
.y56{bottom:182.268800px;}
.yd9{bottom:188.400800px;}
.y30{bottom:192.002300px;}
.yb9{bottom:192.012800px;}
.y100{bottom:192.042800px;}
.y95{bottom:195.614300px;}
.y71{bottom:201.536300px;}
.y55{bottom:203.993300px;}
.yd8{bottom:204.003800px;}
.y7f{bottom:207.479300px;}
.y2f{bottom:207.605300px;}
.yb8{bottom:207.615800px;}
.yff{bottom:207.645800px;}
.y94{bottom:211.217300px;}
.y54{bottom:219.596300px;}
.yd7{bottom:219.606800px;}
.y70{bottom:223.197800px;}
.y2e{bottom:223.208300px;}
.yb7{bottom:223.218800px;}
.y93{bottom:226.820300px;}
.y7e{bottom:229.077800px;}
.yfe{bottom:229.181300px;}
.y53{bottom:235.199300px;}
.yd6{bottom:235.209800px;}
.y6f{bottom:238.800800px;}
.y2d{bottom:238.811300px;}
.yb6{bottom:238.821800px;}
.y92{bottom:242.423300px;}
.y52{bottom:250.802300px;}
.yd5{bottom:250.812800px;}
.yfd{bottom:250.842800px;}
.y6e{bottom:254.277800px;}
.y2c{bottom:254.414300px;}
.yb5{bottom:254.424800px;}
.y91{bottom:263.958800px;}
.y51{bottom:266.405300px;}
.yd4{bottom:266.415800px;}
.yfc{bottom:266.445800px;}
.y2b{bottom:270.017300px;}
.yb4{bottom:270.027800px;}
.y6d{bottom:275.876300px;}
.yfb{bottom:281.922800px;}
.y50{bottom:282.008300px;}
.yd3{bottom:282.018800px;}
.y2a{bottom:285.620300px;}
.yb3{bottom:285.630800px;}
.y6c{bottom:297.600800px;}
.y4f{bottom:297.611300px;}
.yd2{bottom:297.621800px;}
.y29{bottom:301.223300px;}
.yb2{bottom:301.233800px;}
.yfa{bottom:303.521300px;}
.y6b{bottom:313.203800px;}
.y4e{bottom:313.214300px;}
.yd1{bottom:313.224800px;}
.y28{bottom:316.826300px;}
.yb1{bottom:316.836800px;}
.yf9{bottom:325.245800px;}
.y6a{bottom:328.806800px;}
.y4d{bottom:328.817300px;}
.yd0{bottom:328.827800px;}
.y27{bottom:332.429300px;}
.yb0{bottom:332.439800px;}
.y90{bottom:338.309300px;}
.yf8{bottom:340.848800px;}
.y69{bottom:344.409800px;}
.y4c{bottom:344.420300px;}
.ycf{bottom:344.430800px;}
.y26{bottom:348.032300px;}
.yaf{bottom:348.042800px;}
.yf7{bottom:356.451800px;}
.y68{bottom:360.012800px;}
.y4b{bottom:360.023300px;}
.y8f{bottom:360.033800px;}
.y25{bottom:363.635300px;}
.yae{bottom:369.578300px;}
.yf6{bottom:372.054800px;}
.y67{bottom:375.615800px;}
.y4a{bottom:375.626300px;}
.y8e{bottom:375.636800px;}
.ye7{bottom:379.238300px;}
.y24{bottom:385.170800px;}
.yf5{bottom:387.657800px;}
.yce{bottom:391.113800px;}
.y66{bottom:391.218800px;}
.y49{bottom:391.229300px;}
.y8d{bottom:391.239800px;}
.ye6{bottom:394.841300px;}
.yf4{bottom:403.260800px;}
.y65{bottom:406.821800px;}
.y23{bottom:406.832300px;}
.y8c{bottom:406.842800px;}
.ye5{bottom:410.444300px;}
.yf3{bottom:418.863800px;}
.yc{bottom:421.280300px;}
.y64{bottom:422.424800px;}
.y22{bottom:422.435300px;}
.y8b{bottom:422.445800px;}
.ye4{bottom:431.979800px;}
.yf2{bottom:434.466800px;}
.y21{bottom:437.912300px;}
.y63{bottom:438.027800px;}
.y7d{bottom:438.038300px;}
.y8a{bottom:438.048800px;}
.yad{bottom:443.928800px;}
.y48{bottom:443.970800px;}
.yf1{bottom:450.069800px;}
.yb{bottom:452.480300px;}
.y62{bottom:453.630800px;}
.y7c{bottom:453.641300px;}
.y89{bottom:453.651800px;}
.y20{bottom:459.510800px;}
.ycd{bottom:459.573800px;}
.y47{bottom:465.632300px;}
.yac{bottom:465.653300px;}
.yf0{bottom:465.672800px;}
.y61{bottom:469.233800px;}
.ye3{bottom:469.244300px;}
.y88{bottom:469.254800px;}
.y7b{bottom:475.176800px;}
.y1f{bottom:481.235300px;}
.yab{bottom:481.256300px;}
.yef{bottom:481.275800px;}
.y9{bottom:483.486380px;}
.ya{bottom:483.500300px;}
.ye2{bottom:484.721300px;}
.y87{bottom:484.731800px;}
.y60{bottom:490.769300px;}
.y46{bottom:496.712300px;}
.y1e{bottom:496.838300px;}
.yaa{bottom:496.859300px;}
.y86{bottom:500.450300px;}
.yee{bottom:502.811300px;}
.ye1{bottom:506.319800px;}
.y5f{bottom:512.430800px;}
.y1d{bottom:512.441300px;}
.ya9{bottom:512.462300px;}
.y8{bottom:514.693340px;}
.y85{bottom:516.053300px;}
.y45{bottom:518.310800px;}
.yed{bottom:524.472800px;}
.y7a{bottom:527.918300px;}
.y5e{bottom:528.033800px;}
.y1c{bottom:528.044300px;}
.ya8{bottom:528.065300px;}
.ycc{bottom:533.924300px;}
.y84{bottom:537.588800px;}
.y44{bottom:540.035300px;}
.yec{bottom:540.075800px;}
.y5d{bottom:543.636800px;}
.y1b{bottom:543.647300px;}
.ya7{bottom:543.668300px;}
.y7{bottom:545.900300px;}
.y79{bottom:549.516800px;}
.yea{bottom:551.500000px;}
.yeb{bottom:551.720300px;}
.y43{bottom:555.638300px;}
.ycb{bottom:555.648800px;}
.y1a{bottom:559.250300px;}
.ya6{bottom:559.271300px;}
.y5c{bottom:565.119800px;}
.y42{bottom:571.241300px;}
.yca{bottom:571.251800px;}
.y19{bottom:574.853300px;}
.ya5{bottom:574.874300px;}
.y6{bottom:577.280300px;}
.y41{bottom:586.844300px;}
.yc9{bottom:586.854800px;}
.y83{bottom:590.330300px;}
.y18{bottom:590.456300px;}
.ya4{bottom:590.477300px;}
.y40{bottom:602.447300px;}
.yc8{bottom:602.457800px;}
.y17{bottom:606.059300px;}
.ya3{bottom:606.080300px;}
.y5{bottom:608.480300px;}
.y82{bottom:611.928800px;}
.y3f{bottom:618.050300px;}
.yc7{bottom:618.060800px;}
.y16{bottom:621.662300px;}
.ya2{bottom:621.683300px;}
.y3e{bottom:633.653300px;}
.yc6{bottom:633.663800px;}
.y0{bottom:635.000000px;}
.y4{bottom:635.480300px;}
.y15{bottom:637.265300px;}
.ya1{bottom:637.286300px;}
.y3d{bottom:649.256300px;}
.yc5{bottom:649.266800px;}
.ya0{bottom:652.763300px;}
.y14{bottom:652.868300px;}
.y3c{bottom:664.859300px;}
.yc4{bottom:664.869800px;}
.y13{bottom:668.471300px;}
.y9f{bottom:668.481800px;}
.y3b{bottom:680.462300px;}
.yc3{bottom:680.472800px;}
.y12{bottom:684.074300px;}
.y9e{bottom:684.084800px;}
.y3a{bottom:696.065300px;}
.yc2{bottom:696.075800px;}
.y11{bottom:699.677300px;}
.y9d{bottom:705.620300px;}
.y39{bottom:711.668300px;}
.yc1{bottom:711.678800px;}
.y10{bottom:715.280300px;}
.y38{bottom:727.271300px;}
.y9c{bottom:727.281800px;}
.yf{bottom:736.815800px;}
.yc0{bottom:742.758800px;}
.y37{bottom:742.874300px;}
.y9b{bottom:742.884800px;}
.y3{bottom:748.880300px;}
.y9a{bottom:758.361800px;}
.ye{bottom:758.477300px;}
.y1{bottom:784.580300px;}
.h3{height:46.593750px;}
.h6{height:48.090820px;}
.h4{height:68.701172px;}
.h5{height:69.015625px;}
.h2{height:73.372852px;}
.h1{height:98.000000px;}
.h8{height:218.500000px;}
.h7{height:274.500000px;}
.h0{height:842.000000px;}
.w3{width:228.000000px;}
.w1{width:342.500000px;}
.w2{width:415.000000px;}
.w0{width:595.220000px;}
.xa{left:90.004500px;}
.x5{left:92.513220px;}
.x0{left:126.500000px;}
.x9{left:245.000000px;}
.x8{left:262.080000px;}
.x6{left:264.295680px;}
.x1{left:270.960000px;}
.x3{left:297.660000px;}
.xc{left:317.940000px;}
.x7{left:330.960000px;}
.x4{left:468.660000px;}
.x2{left:492.900000px;}
.xb{left:504.840000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls29{letter-spacing:-1.758400pt;}
.ls11{letter-spacing:-0.151200pt;}
.ls27{letter-spacing:-0.112000pt;}
.ls2c{letter-spacing:-0.106400pt;}
.ls18{letter-spacing:-0.100800pt;}
.ls22{letter-spacing:-0.095200pt;}
.ls4{letter-spacing:-0.085440pt;}
.ls17{letter-spacing:-0.067200pt;}
.ls5{letter-spacing:-0.064000pt;}
.ls1e{letter-spacing:-0.061600pt;}
.ls14{letter-spacing:-0.056000pt;}
.ls2{letter-spacing:-0.051264pt;}
.ls25{letter-spacing:-0.050400pt;}
.ls6{letter-spacing:-0.044800pt;}
.ls3{letter-spacing:-0.042720pt;}
.ls15{letter-spacing:-0.039200pt;}
.ls32{letter-spacing:-0.033600pt;}
.ls2e{letter-spacing:-0.028000pt;}
.ls2d{letter-spacing:-0.022400pt;}
.ls1c{letter-spacing:-0.016800pt;}
.ls30{letter-spacing:-0.011200pt;}
.ls1b{letter-spacing:-0.005600pt;}
.ls1{letter-spacing:0.000000pt;}
.ls2b{letter-spacing:0.005600pt;}
.ls16{letter-spacing:0.011200pt;}
.ls19{letter-spacing:0.016800pt;}
.lsd{letter-spacing:0.022400pt;}
.ls13{letter-spacing:0.028000pt;}
.ls28{letter-spacing:0.033600pt;}
.ls23{letter-spacing:0.039200pt;}
.ls24{letter-spacing:0.044800pt;}
.ls1f{letter-spacing:0.050400pt;}
.ls0{letter-spacing:0.051264pt;}
.lsb{letter-spacing:0.056000pt;}
.ls1a{letter-spacing:0.061600pt;}
.lsf{letter-spacing:0.067200pt;}
.lsc{letter-spacing:0.072800pt;}
.ls10{letter-spacing:0.078400pt;}
.lse{letter-spacing:0.084000pt;}
.ls9{letter-spacing:0.089600pt;}
.ls12{letter-spacing:0.095200pt;}
.ls8{letter-spacing:0.100800pt;}
.lsa{letter-spacing:0.106400pt;}
.ls1d{letter-spacing:0.112000pt;}
.ls20{letter-spacing:0.117600pt;}
.ls2a{letter-spacing:0.123200pt;}
.ls21{letter-spacing:0.128800pt;}
.ls7{letter-spacing:0.134400pt;}
.ls26{letter-spacing:0.140000pt;}
.ls2f{letter-spacing:0.145600pt;}
.ls31{letter-spacing:14.162400pt;}
.ws22{word-spacing:-3.136000pt;}
.ws47{word-spacing:-3.085600pt;}
.ws3a{word-spacing:-0.991200pt;}
.ws36{word-spacing:-0.935200pt;}
.ws2b{word-spacing:-0.924000pt;}
.ws33{word-spacing:-0.896000pt;}
.ws35{word-spacing:-0.879200pt;}
.ws18{word-spacing:-0.347200pt;}
.ws20{word-spacing:-0.291200pt;}
.ws6{word-spacing:-0.196000pt;}
.ws44{word-spacing:-0.067200pt;}
.ws30{word-spacing:-0.061600pt;}
.ws5{word-spacing:-0.056000pt;}
.ws37{word-spacing:-0.050400pt;}
.ws39{word-spacing:-0.044800pt;}
.ws21{word-spacing:-0.039200pt;}
.ws2{word-spacing:-0.034176pt;}
.ws1e{word-spacing:-0.033600pt;}
.ws9{word-spacing:-0.028000pt;}
.ws7{word-spacing:-0.022400pt;}
.ws10{word-spacing:-0.016800pt;}
.ws8{word-spacing:-0.011200pt;}
.wsd{word-spacing:-0.005600pt;}
.ws0{word-spacing:0.000000pt;}
.wsb{word-spacing:0.005600pt;}
.wse{word-spacing:0.011200pt;}
.ws1a{word-spacing:0.016800pt;}
.wsa{word-spacing:0.022400pt;}
.ws2c{word-spacing:0.028000pt;}
.ws2e{word-spacing:0.033600pt;}
.ws3e{word-spacing:0.039200pt;}
.ws32{word-spacing:0.044800pt;}
.ws43{word-spacing:0.050400pt;}
.wsc{word-spacing:0.056000pt;}
.ws19{word-spacing:0.061600pt;}
.ws14{word-spacing:0.067200pt;}
.ws3b{word-spacing:0.072800pt;}
.ws17{word-spacing:0.078400pt;}
.ws1b{word-spacing:0.084000pt;}
.ws48{word-spacing:0.089600pt;}
.ws1c{word-spacing:0.095200pt;}
.ws3f{word-spacing:0.100800pt;}
.ws40{word-spacing:0.106400pt;}
.ws13{word-spacing:0.117600pt;}
.ws1{word-spacing:0.128160pt;}
.ws2d{word-spacing:0.128800pt;}
.ws12{word-spacing:0.134400pt;}
.ws1f{word-spacing:0.140000pt;}
.ws15{word-spacing:0.145600pt;}
.ws38{word-spacing:0.173600pt;}
.ws16{word-spacing:0.179200pt;}
.ws31{word-spacing:0.190400pt;}
.ws3{word-spacing:0.224000pt;}
.wsf{word-spacing:0.229600pt;}
.ws41{word-spacing:0.375200pt;}
.ws4{word-spacing:0.442400pt;}
.ws42{word-spacing:0.448000pt;}
.ws2f{word-spacing:1.601600pt;}
.ws34{word-spacing:1.836800pt;}
.ws25{word-spacing:2.833600pt;}
.ws26{word-spacing:3.376800pt;}
.ws3d{word-spacing:3.556000pt;}
.ws3c{word-spacing:3.707200pt;}
.ws24{word-spacing:4.132800pt;}
.ws1d{word-spacing:4.144000pt;}
.ws45{word-spacing:4.491200pt;}
.ws2a{word-spacing:4.771200pt;}
.ws46{word-spacing:6.703200pt;}
.ws23{word-spacing:6.714400pt;}
.ws28{word-spacing:6.725600pt;}
.ws27{word-spacing:6.759200pt;}
.ws29{word-spacing:6.787200pt;}
.ws11{word-spacing:8.316000pt;}
._1{margin-left:-7.120000pt;}
._3{margin-left:-5.096640pt;}
._2{margin-left:-3.416000pt;}
._0{margin-left:-1.623360pt;}
._4{width:1.456000pt;}
.fs1{font-size:56.000000pt;}
.fs3{font-size:74.666667pt;}
.fs2{font-size:80.000000pt;}
.fs0{font-size:85.440000pt;}
.yd{bottom:22.666667pt;}
.y2{bottom:70.027067pt;}
.ybf{bottom:99.217067pt;}
.ye9{bottom:102.341200pt;}
.y99{bottom:107.029067pt;}
.y36{bottom:107.113067pt;}
.ydf{bottom:110.375067pt;}
.y107{bottom:110.443067pt;}
.y78{bottom:115.177067pt;}
.y5b{bottom:115.191067pt;}
.ybe{bottom:127.931067pt;}
.ye0{bottom:130.000000pt;}
.ye8{bottom:130.187200pt;}
.yde{bottom:131.179067pt;}
.y106{bottom:131.247067pt;}
.y77{bottom:135.981067pt;}
.y35{bottom:135.995067pt;}
.y5a{bottom:143.905067pt;}
.y105{bottom:152.051067pt;}
.y76{bottom:156.785067pt;}
.y34{bottom:156.799067pt;}
.ybd{bottom:156.813067pt;}
.ydd{bottom:159.823067pt;}
.y59{bottom:172.787067pt;}
.y104{bottom:172.855067pt;}
.y33{bottom:177.435067pt;}
.y75{bottom:177.589067pt;}
.y81{bottom:177.603067pt;}
.ybc{bottom:177.617067pt;}
.ydc{bottom:188.789067pt;}
.y58{bottom:193.591067pt;}
.y103{bottom:193.659067pt;}
.ybb{bottom:198.253067pt;}
.y74{bottom:198.393067pt;}
.y98{bottom:198.407067pt;}
.y32{bottom:206.233067pt;}
.y80{bottom:206.317067pt;}
.ydb{bottom:209.593067pt;}
.y57{bottom:214.227067pt;}
.y102{bottom:214.295067pt;}
.y73{bottom:219.197067pt;}
.y97{bottom:219.211067pt;}
.yba{bottom:227.051067pt;}
.yda{bottom:230.397067pt;}
.y31{bottom:235.199067pt;}
.y101{bottom:235.253067pt;}
.y72{bottom:240.001067pt;}
.y96{bottom:240.015067pt;}
.y56{bottom:243.025067pt;}
.yd9{bottom:251.201067pt;}
.y30{bottom:256.003067pt;}
.yb9{bottom:256.017067pt;}
.y100{bottom:256.057067pt;}
.y95{bottom:260.819067pt;}
.y71{bottom:268.715067pt;}
.y55{bottom:271.991067pt;}
.yd8{bottom:272.005067pt;}
.y7f{bottom:276.639067pt;}
.y2f{bottom:276.807067pt;}
.yb8{bottom:276.821067pt;}
.yff{bottom:276.861067pt;}
.y94{bottom:281.623067pt;}
.y54{bottom:292.795067pt;}
.yd7{bottom:292.809067pt;}
.y70{bottom:297.597067pt;}
.y2e{bottom:297.611067pt;}
.yb7{bottom:297.625067pt;}
.y93{bottom:302.427067pt;}
.y7e{bottom:305.437067pt;}
.yfe{bottom:305.575067pt;}
.y53{bottom:313.599067pt;}
.yd6{bottom:313.613067pt;}
.y6f{bottom:318.401067pt;}
.y2d{bottom:318.415067pt;}
.yb6{bottom:318.429067pt;}
.y92{bottom:323.231067pt;}
.y52{bottom:334.403067pt;}
.yd5{bottom:334.417067pt;}
.yfd{bottom:334.457067pt;}
.y6e{bottom:339.037067pt;}
.y2c{bottom:339.219067pt;}
.yb5{bottom:339.233067pt;}
.y91{bottom:351.945067pt;}
.y51{bottom:355.207067pt;}
.yd4{bottom:355.221067pt;}
.yfc{bottom:355.261067pt;}
.y2b{bottom:360.023067pt;}
.yb4{bottom:360.037067pt;}
.y6d{bottom:367.835067pt;}
.yfb{bottom:375.897067pt;}
.y50{bottom:376.011067pt;}
.yd3{bottom:376.025067pt;}
.y2a{bottom:380.827067pt;}
.yb3{bottom:380.841067pt;}
.y6c{bottom:396.801067pt;}
.y4f{bottom:396.815067pt;}
.yd2{bottom:396.829067pt;}
.y29{bottom:401.631067pt;}
.yb2{bottom:401.645067pt;}
.yfa{bottom:404.695067pt;}
.y6b{bottom:417.605067pt;}
.y4e{bottom:417.619067pt;}
.yd1{bottom:417.633067pt;}
.y28{bottom:422.435067pt;}
.yb1{bottom:422.449067pt;}
.yf9{bottom:433.661067pt;}
.y6a{bottom:438.409067pt;}
.y4d{bottom:438.423067pt;}
.yd0{bottom:438.437067pt;}
.y27{bottom:443.239067pt;}
.yb0{bottom:443.253067pt;}
.y90{bottom:451.079067pt;}
.yf8{bottom:454.465067pt;}
.y69{bottom:459.213067pt;}
.y4c{bottom:459.227067pt;}
.ycf{bottom:459.241067pt;}
.y26{bottom:464.043067pt;}
.yaf{bottom:464.057067pt;}
.yf7{bottom:475.269067pt;}
.y68{bottom:480.017067pt;}
.y4b{bottom:480.031067pt;}
.y8f{bottom:480.045067pt;}
.y25{bottom:484.847067pt;}
.yae{bottom:492.771067pt;}
.yf6{bottom:496.073067pt;}
.y67{bottom:500.821067pt;}
.y4a{bottom:500.835067pt;}
.y8e{bottom:500.849067pt;}
.ye7{bottom:505.651067pt;}
.y24{bottom:513.561067pt;}
.yf5{bottom:516.877067pt;}
.yce{bottom:521.485067pt;}
.y66{bottom:521.625067pt;}
.y49{bottom:521.639067pt;}
.y8d{bottom:521.653067pt;}
.ye6{bottom:526.455067pt;}
.yf4{bottom:537.681067pt;}
.y65{bottom:542.429067pt;}
.y23{bottom:542.443067pt;}
.y8c{bottom:542.457067pt;}
.ye5{bottom:547.259067pt;}
.yf3{bottom:558.485067pt;}
.yc{bottom:561.707067pt;}
.y64{bottom:563.233067pt;}
.y22{bottom:563.247067pt;}
.y8b{bottom:563.261067pt;}
.ye4{bottom:575.973067pt;}
.yf2{bottom:579.289067pt;}
.y21{bottom:583.883067pt;}
.y63{bottom:584.037067pt;}
.y7d{bottom:584.051067pt;}
.y8a{bottom:584.065067pt;}
.yad{bottom:591.905067pt;}
.y48{bottom:591.961067pt;}
.yf1{bottom:600.093067pt;}
.yb{bottom:603.307067pt;}
.y62{bottom:604.841067pt;}
.y7c{bottom:604.855067pt;}
.y89{bottom:604.869067pt;}
.y20{bottom:612.681067pt;}
.ycd{bottom:612.765067pt;}
.y47{bottom:620.843067pt;}
.yac{bottom:620.871067pt;}
.yf0{bottom:620.897067pt;}
.y61{bottom:625.645067pt;}
.ye3{bottom:625.659067pt;}
.y88{bottom:625.673067pt;}
.y7b{bottom:633.569067pt;}
.y1f{bottom:641.647067pt;}
.yab{bottom:641.675067pt;}
.yef{bottom:641.701067pt;}
.y9{bottom:644.648507pt;}
.ya{bottom:644.667067pt;}
.ye2{bottom:646.295067pt;}
.y87{bottom:646.309067pt;}
.y60{bottom:654.359067pt;}
.y46{bottom:662.283067pt;}
.y1e{bottom:662.451067pt;}
.yaa{bottom:662.479067pt;}
.y86{bottom:667.267067pt;}
.yee{bottom:670.415067pt;}
.ye1{bottom:675.093067pt;}
.y5f{bottom:683.241067pt;}
.y1d{bottom:683.255067pt;}
.ya9{bottom:683.283067pt;}
.y8{bottom:686.257787pt;}
.y85{bottom:688.071067pt;}
.y45{bottom:691.081067pt;}
.yed{bottom:699.297067pt;}
.y7a{bottom:703.891067pt;}
.y5e{bottom:704.045067pt;}
.y1c{bottom:704.059067pt;}
.ya8{bottom:704.087067pt;}
.ycc{bottom:711.899067pt;}
.y84{bottom:716.785067pt;}
.y44{bottom:720.047067pt;}
.yec{bottom:720.101067pt;}
.y5d{bottom:724.849067pt;}
.y1b{bottom:724.863067pt;}
.ya7{bottom:724.891067pt;}
.y7{bottom:727.867067pt;}
.y79{bottom:732.689067pt;}
.yea{bottom:735.333333pt;}
.yeb{bottom:735.627067pt;}
.y43{bottom:740.851067pt;}
.ycb{bottom:740.865067pt;}
.y1a{bottom:745.667067pt;}
.ya6{bottom:745.695067pt;}
.y5c{bottom:753.493067pt;}
.y42{bottom:761.655067pt;}
.yca{bottom:761.669067pt;}
.y19{bottom:766.471067pt;}
.ya5{bottom:766.499067pt;}
.y6{bottom:769.707067pt;}
.y41{bottom:782.459067pt;}
.yc9{bottom:782.473067pt;}
.y83{bottom:787.107067pt;}
.y18{bottom:787.275067pt;}
.ya4{bottom:787.303067pt;}
.y40{bottom:803.263067pt;}
.yc8{bottom:803.277067pt;}
.y17{bottom:808.079067pt;}
.ya3{bottom:808.107067pt;}
.y5{bottom:811.307067pt;}
.y82{bottom:815.905067pt;}
.y3f{bottom:824.067067pt;}
.yc7{bottom:824.081067pt;}
.y16{bottom:828.883067pt;}
.ya2{bottom:828.911067pt;}
.y3e{bottom:844.871067pt;}
.yc6{bottom:844.885067pt;}
.y0{bottom:846.666667pt;}
.y4{bottom:847.307067pt;}
.y15{bottom:849.687067pt;}
.ya1{bottom:849.715067pt;}
.y3d{bottom:865.675067pt;}
.yc5{bottom:865.689067pt;}
.ya0{bottom:870.351067pt;}
.y14{bottom:870.491067pt;}
.y3c{bottom:886.479067pt;}
.yc4{bottom:886.493067pt;}
.y13{bottom:891.295067pt;}
.y9f{bottom:891.309067pt;}
.y3b{bottom:907.283067pt;}
.yc3{bottom:907.297067pt;}
.y12{bottom:912.099067pt;}
.y9e{bottom:912.113067pt;}
.y3a{bottom:928.087067pt;}
.yc2{bottom:928.101067pt;}
.y11{bottom:932.903067pt;}
.y9d{bottom:940.827067pt;}
.y39{bottom:948.891067pt;}
.yc1{bottom:948.905067pt;}
.y10{bottom:953.707067pt;}
.y38{bottom:969.695067pt;}
.y9c{bottom:969.709067pt;}
.yf{bottom:982.421067pt;}
.yc0{bottom:990.345067pt;}
.y37{bottom:990.499067pt;}
.y9b{bottom:990.513067pt;}
.y3{bottom:998.507067pt;}
.y9a{bottom:1011.149067pt;}
.ye{bottom:1011.303067pt;}
.y1{bottom:1046.107067pt;}
.h3{height:62.125000pt;}
.h6{height:64.121094pt;}
.h4{height:91.601562pt;}
.h5{height:92.020833pt;}
.h2{height:97.830469pt;}
.h1{height:130.666667pt;}
.h8{height:291.333333pt;}
.h7{height:366.000000pt;}
.h0{height:1122.666667pt;}
.w3{width:304.000000pt;}
.w1{width:456.666667pt;}
.w2{width:553.333333pt;}
.w0{width:793.626667pt;}
.xa{left:120.006000pt;}
.x5{left:123.350960pt;}
.x0{left:168.666667pt;}
.x9{left:326.666667pt;}
.x8{left:349.440000pt;}
.x6{left:352.394240pt;}
.x1{left:361.280000pt;}
.x3{left:396.880000pt;}
.xc{left:423.920000pt;}
.x7{left:441.280000pt;}
.x4{left:624.880000pt;}
.x2{left:657.200000pt;}
.xb{left:673.120000pt;}
}
