.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(33,78,123);}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:48.000000px;}
.fs3{font-size:56.000000px;}
.fs2{font-size:60.000000px;}
.fs0{font-size:80.000000px;}
.fs1{font-size:100.000000px;}
.y8{bottom:17.000000px;}
.y2b{bottom:22.000000px;}
.y9{bottom:35.500000px;}
.y9a{bottom:60.000000px;}
.yb3{bottom:60.270000px;}
.y49{bottom:63.900000px;}
.y75{bottom:69.250000px;}
.y48{bottom:75.900000px;}
.y64{bottom:77.200000px;}
.y99{bottom:78.000000px;}
.yb2{bottom:78.270000px;}
.y74{bottom:81.250000px;}
.yb1{bottom:96.270000px;}
.y98{bottom:98.000000px;}
.y73{bottom:99.250000px;}
.y39{bottom:107.520000px;}
.yb0{bottom:108.270000px;}
.y97{bottom:116.000000px;}
.y72{bottom:117.250000px;}
.y38{bottom:119.520000px;}
.yaf{bottom:126.270000px;}
.y96{bottom:134.000000px;}
.y71{bottom:135.250000px;}
.y37{bottom:137.520000px;}
.yae{bottom:144.270000px;}
.y95{bottom:146.000000px;}
.y36{bottom:149.520000px;}
.y70{bottom:153.250000px;}
.yad{bottom:162.270000px;}
.y94{bottom:164.000000px;}
.y35{bottom:167.520000px;}
.y6f{bottom:171.250000px;}
.yac{bottom:180.270000px;}
.y93{bottom:182.000000px;}
.y34{bottom:187.520000px;}
.y6e{bottom:189.250000px;}
.yab{bottom:198.270000px;}
.y92{bottom:200.000000px;}
.y6d{bottom:201.250000px;}
.y33{bottom:205.520000px;}
.yaa{bottom:216.270000px;}
.y91{bottom:218.000000px;}
.y6c{bottom:219.250000px;}
.y32{bottom:223.520000px;}
.ya9{bottom:228.270000px;}
.y31{bottom:235.520000px;}
.y90{bottom:236.000000px;}
.y6b{bottom:237.250000px;}
.yc9{bottom:243.200000px;}
.ya8{bottom:246.270000px;}
.y30{bottom:253.520000px;}
.y8f{bottom:254.000000px;}
.y29{bottom:256.000000px;}
.ya7{bottom:258.270000px;}
.yc8{bottom:261.200000px;}
.y8e{bottom:266.000000px;}
.y28{bottom:268.000000px;}
.y2f{bottom:271.520000px;}
.ya6{bottom:276.270000px;}
.yc6{bottom:281.560000px;}
.y8d{bottom:284.000000px;}
.y27{bottom:286.000000px;}
.y2e{bottom:289.520000px;}
.y7{bottom:291.000000px;}
.yc5{bottom:293.560000px;}
.ya5{bottom:296.270000px;}
.y8c{bottom:302.000000px;}
.y26{bottom:304.000000px;}
.y2d{bottom:307.520000px;}
.y47{bottom:309.950000px;}
.yc4{bottom:311.560000px;}
.y6{bottom:313.500000px;}
.y8b{bottom:314.000000px;}
.ya4{bottom:314.270000px;}
.y46{bottom:321.950000px;}
.y25{bottom:322.000000px;}
.y2c{bottom:325.520000px;}
.yc3{bottom:331.560000px;}
.y8a{bottom:332.000000px;}
.ya3{bottom:332.270000px;}
.y45{bottom:339.950000px;}
.y24{bottom:340.000000px;}
.ya2{bottom:344.270000px;}
.y63{bottom:346.000000px;}
.yc2{bottom:349.560000px;}
.y5{bottom:351.000000px;}
.y44{bottom:351.950000px;}
.y23{bottom:352.000000px;}
.y62{bottom:358.000000px;}
.ya1{bottom:362.270000px;}
.yc1{bottom:367.560000px;}
.y43{bottom:369.950000px;}
.y22{bottom:370.000000px;}
.y61{bottom:376.000000px;}
.yc0{bottom:379.560000px;}
.ya0{bottom:380.270000px;}
.y4{bottom:381.000000px;}
.y89{bottom:388.000000px;}
.y42{bottom:389.950000px;}
.y21{bottom:390.000000px;}
.y60{bottom:396.000000px;}
.ybf{bottom:397.560000px;}
.y9f{bottom:398.270000px;}
.y88{bottom:400.000000px;}
.y41{bottom:407.950000px;}
.y20{bottom:408.000000px;}
.y3{bottom:411.000000px;}
.y5f{bottom:414.000000px;}
.ybe{bottom:415.560000px;}
.y9e{bottom:416.270000px;}
.y87{bottom:418.000000px;}
.y40{bottom:425.950000px;}
.y1f{bottom:426.000000px;}
.y5e{bottom:432.000000px;}
.ybd{bottom:433.560000px;}
.y9d{bottom:434.270000px;}
.y86{bottom:436.000000px;}
.y3f{bottom:437.950000px;}
.y1e{bottom:438.000000px;}
.y5d{bottom:444.000000px;}
.ybc{bottom:451.560000px;}
.y9c{bottom:452.270000px;}
.y85{bottom:454.000000px;}
.y3e{bottom:455.950000px;}
.y1d{bottom:456.000000px;}
.y6a{bottom:457.200000px;}
.y5c{bottom:462.000000px;}
.y9b{bottom:464.270000px;}
.y69{bottom:469.200000px;}
.ybb{bottom:469.560000px;}
.y84{bottom:472.000000px;}
.y3d{bottom:473.950000px;}
.y1c{bottom:474.000000px;}
.y5b{bottom:480.000000px;}
.y83{bottom:484.000000px;}
.y68{bottom:487.200000px;}
.yba{bottom:487.560000px;}
.y0{bottom:490.500000px;}
.y3c{bottom:491.950000px;}
.y1b{bottom:492.000000px;}
.y5a{bottom:498.000000px;}
.y67{bottom:499.200000px;}
.y82{bottom:502.000000px;}
.yb9{bottom:505.560000px;}
.y3b{bottom:509.950000px;}
.y1a{bottom:510.000000px;}
.y81{bottom:514.000000px;}
.y59{bottom:516.000000px;}
.y66{bottom:517.200000px;}
.y3a{bottom:521.950000px;}
.y19{bottom:522.000000px;}
.yb8{bottom:523.560000px;}
.y58{bottom:528.000000px;}
.yc7{bottom:530.600000px;}
.y80{bottom:532.000000px;}
.y65{bottom:537.200000px;}
.y18{bottom:540.000000px;}
.yb7{bottom:541.560000px;}
.y57{bottom:546.000000px;}
.y17{bottom:552.000000px;}
.yb6{bottom:559.560000px;}
.y56{bottom:564.000000px;}
.y16{bottom:570.000000px;}
.yb5{bottom:571.560000px;}
.y55{bottom:576.000000px;}
.y7f{bottom:588.000000px;}
.y15{bottom:590.000000px;}
.y54{bottom:594.000000px;}
.y7e{bottom:600.000000px;}
.y14{bottom:608.000000px;}
.y53{bottom:614.000000px;}
.y7d{bottom:618.000000px;}
.y13{bottom:626.000000px;}
.y52{bottom:632.000000px;}
.y2{bottom:636.000000px;}
.y12{bottom:638.000000px;}
.y51{bottom:650.000000px;}
.y7c{bottom:654.000000px;}
.y11{bottom:656.000000px;}
.y50{bottom:662.000000px;}
.y7b{bottom:672.000000px;}
.y10{bottom:674.000000px;}
.y4f{bottom:680.000000px;}
.y7a{bottom:690.000000px;}
.yf{bottom:692.000000px;}
.y4e{bottom:698.000000px;}
.y79{bottom:702.000000px;}
.ye{bottom:710.000000px;}
.y4d{bottom:716.000000px;}
.y78{bottom:720.000000px;}
.yd{bottom:728.000000px;}
.y77{bottom:732.000000px;}
.y4c{bottom:734.000000px;}
.yc{bottom:740.000000px;}
.yb4{bottom:746.000000px;}
.y76{bottom:750.000000px;}
.y4b{bottom:752.000000px;}
.yb{bottom:758.000000px;}
.y4a{bottom:770.000000px;}
.y1{bottom:776.000000px;}
.ya{bottom:788.000000px;}
.y2a{bottom:808.000000px;}
.h7{height:56.367840px;}
.h8{height:59.156250px;}
.h5{height:69.015625px;}
.h4{height:70.459800px;}
.h2{height:93.946400px;}
.h3{height:117.433000px;}
.h1{height:130.500000px;}
.h6{height:770.500000px;}
.h0{height:842.000000px;}
.w1{width:456.500000px;}
.w2{width:523.500000px;}
.w0{width:595.000000px;}
.x1{left:36.000000px;}
.x0{left:69.500000px;}
.x2{left:80.770000px;}
.x3{left:186.940000px;}
.x7{left:216.810000px;}
.x4{left:219.690000px;}
.x6{left:245.000000px;}
.x5{left:257.480000px;}
.x9{left:543.660000px;}
.x8{left:550.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs4{font-size:64.000000pt;}
.fs3{font-size:74.666667pt;}
.fs2{font-size:80.000000pt;}
.fs0{font-size:106.666667pt;}
.fs1{font-size:133.333333pt;}
.y8{bottom:22.666667pt;}
.y2b{bottom:29.333333pt;}
.y9{bottom:47.333333pt;}
.y9a{bottom:80.000000pt;}
.yb3{bottom:80.360000pt;}
.y49{bottom:85.200000pt;}
.y75{bottom:92.333333pt;}
.y48{bottom:101.200000pt;}
.y64{bottom:102.933333pt;}
.y99{bottom:104.000000pt;}
.yb2{bottom:104.360000pt;}
.y74{bottom:108.333333pt;}
.yb1{bottom:128.360000pt;}
.y98{bottom:130.666667pt;}
.y73{bottom:132.333333pt;}
.y39{bottom:143.360000pt;}
.yb0{bottom:144.360000pt;}
.y97{bottom:154.666667pt;}
.y72{bottom:156.333333pt;}
.y38{bottom:159.360000pt;}
.yaf{bottom:168.360000pt;}
.y96{bottom:178.666667pt;}
.y71{bottom:180.333333pt;}
.y37{bottom:183.360000pt;}
.yae{bottom:192.360000pt;}
.y95{bottom:194.666667pt;}
.y36{bottom:199.360000pt;}
.y70{bottom:204.333333pt;}
.yad{bottom:216.360000pt;}
.y94{bottom:218.666667pt;}
.y35{bottom:223.360000pt;}
.y6f{bottom:228.333333pt;}
.yac{bottom:240.360000pt;}
.y93{bottom:242.666667pt;}
.y34{bottom:250.026667pt;}
.y6e{bottom:252.333333pt;}
.yab{bottom:264.360000pt;}
.y92{bottom:266.666667pt;}
.y6d{bottom:268.333333pt;}
.y33{bottom:274.026667pt;}
.yaa{bottom:288.360000pt;}
.y91{bottom:290.666667pt;}
.y6c{bottom:292.333333pt;}
.y32{bottom:298.026667pt;}
.ya9{bottom:304.360000pt;}
.y31{bottom:314.026667pt;}
.y90{bottom:314.666667pt;}
.y6b{bottom:316.333333pt;}
.yc9{bottom:324.266667pt;}
.ya8{bottom:328.360000pt;}
.y30{bottom:338.026667pt;}
.y8f{bottom:338.666667pt;}
.y29{bottom:341.333333pt;}
.ya7{bottom:344.360000pt;}
.yc8{bottom:348.266667pt;}
.y8e{bottom:354.666667pt;}
.y28{bottom:357.333333pt;}
.y2f{bottom:362.026667pt;}
.ya6{bottom:368.360000pt;}
.yc6{bottom:375.413333pt;}
.y8d{bottom:378.666667pt;}
.y27{bottom:381.333333pt;}
.y2e{bottom:386.026667pt;}
.y7{bottom:388.000000pt;}
.yc5{bottom:391.413333pt;}
.ya5{bottom:395.026667pt;}
.y8c{bottom:402.666667pt;}
.y26{bottom:405.333333pt;}
.y2d{bottom:410.026667pt;}
.y47{bottom:413.266667pt;}
.yc4{bottom:415.413333pt;}
.y6{bottom:418.000000pt;}
.y8b{bottom:418.666667pt;}
.ya4{bottom:419.026667pt;}
.y46{bottom:429.266667pt;}
.y25{bottom:429.333333pt;}
.y2c{bottom:434.026667pt;}
.yc3{bottom:442.080000pt;}
.y8a{bottom:442.666667pt;}
.ya3{bottom:443.026667pt;}
.y45{bottom:453.266667pt;}
.y24{bottom:453.333333pt;}
.ya2{bottom:459.026667pt;}
.y63{bottom:461.333333pt;}
.yc2{bottom:466.080000pt;}
.y5{bottom:468.000000pt;}
.y44{bottom:469.266667pt;}
.y23{bottom:469.333333pt;}
.y62{bottom:477.333333pt;}
.ya1{bottom:483.026667pt;}
.yc1{bottom:490.080000pt;}
.y43{bottom:493.266667pt;}
.y22{bottom:493.333333pt;}
.y61{bottom:501.333333pt;}
.yc0{bottom:506.080000pt;}
.ya0{bottom:507.026667pt;}
.y4{bottom:508.000000pt;}
.y89{bottom:517.333333pt;}
.y42{bottom:519.933333pt;}
.y21{bottom:520.000000pt;}
.y60{bottom:528.000000pt;}
.ybf{bottom:530.080000pt;}
.y9f{bottom:531.026667pt;}
.y88{bottom:533.333333pt;}
.y41{bottom:543.933333pt;}
.y20{bottom:544.000000pt;}
.y3{bottom:548.000000pt;}
.y5f{bottom:552.000000pt;}
.ybe{bottom:554.080000pt;}
.y9e{bottom:555.026667pt;}
.y87{bottom:557.333333pt;}
.y40{bottom:567.933333pt;}
.y1f{bottom:568.000000pt;}
.y5e{bottom:576.000000pt;}
.ybd{bottom:578.080000pt;}
.y9d{bottom:579.026667pt;}
.y86{bottom:581.333333pt;}
.y3f{bottom:583.933333pt;}
.y1e{bottom:584.000000pt;}
.y5d{bottom:592.000000pt;}
.ybc{bottom:602.080000pt;}
.y9c{bottom:603.026667pt;}
.y85{bottom:605.333333pt;}
.y3e{bottom:607.933333pt;}
.y1d{bottom:608.000000pt;}
.y6a{bottom:609.600000pt;}
.y5c{bottom:616.000000pt;}
.y9b{bottom:619.026667pt;}
.y69{bottom:625.600000pt;}
.ybb{bottom:626.080000pt;}
.y84{bottom:629.333333pt;}
.y3d{bottom:631.933333pt;}
.y1c{bottom:632.000000pt;}
.y5b{bottom:640.000000pt;}
.y83{bottom:645.333333pt;}
.y68{bottom:649.600000pt;}
.yba{bottom:650.080000pt;}
.y0{bottom:654.000000pt;}
.y3c{bottom:655.933333pt;}
.y1b{bottom:656.000000pt;}
.y5a{bottom:664.000000pt;}
.y67{bottom:665.600000pt;}
.y82{bottom:669.333333pt;}
.yb9{bottom:674.080000pt;}
.y3b{bottom:679.933333pt;}
.y1a{bottom:680.000000pt;}
.y81{bottom:685.333333pt;}
.y59{bottom:688.000000pt;}
.y66{bottom:689.600000pt;}
.y3a{bottom:695.933333pt;}
.y19{bottom:696.000000pt;}
.yb8{bottom:698.080000pt;}
.y58{bottom:704.000000pt;}
.yc7{bottom:707.466667pt;}
.y80{bottom:709.333333pt;}
.y65{bottom:716.266667pt;}
.y18{bottom:720.000000pt;}
.yb7{bottom:722.080000pt;}
.y57{bottom:728.000000pt;}
.y17{bottom:736.000000pt;}
.yb6{bottom:746.080000pt;}
.y56{bottom:752.000000pt;}
.y16{bottom:760.000000pt;}
.yb5{bottom:762.080000pt;}
.y55{bottom:768.000000pt;}
.y7f{bottom:784.000000pt;}
.y15{bottom:786.666667pt;}
.y54{bottom:792.000000pt;}
.y7e{bottom:800.000000pt;}
.y14{bottom:810.666667pt;}
.y53{bottom:818.666667pt;}
.y7d{bottom:824.000000pt;}
.y13{bottom:834.666667pt;}
.y52{bottom:842.666667pt;}
.y2{bottom:848.000000pt;}
.y12{bottom:850.666667pt;}
.y51{bottom:866.666667pt;}
.y7c{bottom:872.000000pt;}
.y11{bottom:874.666667pt;}
.y50{bottom:882.666667pt;}
.y7b{bottom:896.000000pt;}
.y10{bottom:898.666667pt;}
.y4f{bottom:906.666667pt;}
.y7a{bottom:920.000000pt;}
.yf{bottom:922.666667pt;}
.y4e{bottom:930.666667pt;}
.y79{bottom:936.000000pt;}
.ye{bottom:946.666667pt;}
.y4d{bottom:954.666667pt;}
.y78{bottom:960.000000pt;}
.yd{bottom:970.666667pt;}
.y77{bottom:976.000000pt;}
.y4c{bottom:978.666667pt;}
.yc{bottom:986.666667pt;}
.yb4{bottom:994.666667pt;}
.y76{bottom:1000.000000pt;}
.y4b{bottom:1002.666667pt;}
.yb{bottom:1010.666667pt;}
.y4a{bottom:1026.666667pt;}
.y1{bottom:1034.666667pt;}
.ya{bottom:1050.666667pt;}
.y2a{bottom:1077.333333pt;}
.h7{height:75.157120pt;}
.h8{height:78.875000pt;}
.h5{height:92.020833pt;}
.h4{height:93.946400pt;}
.h2{height:125.261866pt;}
.h3{height:156.577333pt;}
.h1{height:174.000000pt;}
.h6{height:1027.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:608.666667pt;}
.w2{width:698.000000pt;}
.w0{width:793.333333pt;}
.x1{left:48.000000pt;}
.x0{left:92.666667pt;}
.x2{left:107.693333pt;}
.x3{left:249.253333pt;}
.x7{left:289.080000pt;}
.x4{left:292.920000pt;}
.x6{left:326.666667pt;}
.x5{left:343.306667pt;}
.x9{left:724.880000pt;}
.x8{left:733.773333pt;}
}
