.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(33,78,123);}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:48.000000px;}
.fs3{font-size:56.000000px;}
.fs2{font-size:60.000000px;}
.fs0{font-size:80.000000px;}
.fs1{font-size:100.000000px;}
.y8{bottom:17.000000px;}
.y2e{bottom:22.000000px;}
.y9{bottom:35.500000px;}
.ybf{bottom:60.670000px;}
.y85{bottom:62.000000px;}
.yda{bottom:64.880000px;}
.y2c{bottom:64.970000px;}
.y68{bottom:65.140000px;}
.ybe{bottom:78.670000px;}
.y84{bottom:80.000000px;}
.yd9{bottom:82.880000px;}
.y2b{bottom:82.970000px;}
.y67{bottom:83.140000px;}
.ybd{bottom:90.670000px;}
.y2a{bottom:94.970000px;}
.y83{bottom:98.000000px;}
.yd8{bottom:100.880000px;}
.y66{bottom:101.140000px;}
.ybc{bottom:108.670000px;}
.y82{bottom:110.000000px;}
.y29{bottom:112.970000px;}
.yd7{bottom:118.880000px;}
.y65{bottom:119.140000px;}
.ybb{bottom:126.670000px;}
.y81{bottom:128.000000px;}
.y28{bottom:130.970000px;}
.yd6{bottom:136.880000px;}
.y64{bottom:137.140000px;}
.yba{bottom:144.670000px;}
.y9d{bottom:145.360000px;}
.y80{bottom:146.000000px;}
.y27{bottom:148.970000px;}
.y63{bottom:149.140000px;}
.yd5{bottom:154.880000px;}
.y9c{bottom:157.360000px;}
.yb9{bottom:162.670000px;}
.y7f{bottom:164.000000px;}
.yd4{bottom:166.880000px;}
.y26{bottom:166.970000px;}
.y62{bottom:167.140000px;}
.yb8{bottom:174.670000px;}
.y9b{bottom:175.360000px;}
.y25{bottom:178.970000px;}
.y7e{bottom:182.000000px;}
.yd3{bottom:184.880000px;}
.y61{bottom:185.140000px;}
.yb7{bottom:192.670000px;}
.y9a{bottom:193.360000px;}
.y7d{bottom:194.000000px;}
.y24{bottom:196.970000px;}
.y60{bottom:197.140000px;}
.y48{bottom:201.620000px;}
.yd2{bottom:204.880000px;}
.yb6{bottom:210.670000px;}
.y99{bottom:211.360000px;}
.y7c{bottom:212.000000px;}
.y47{bottom:213.620000px;}
.y5f{bottom:215.140000px;}
.y23{bottom:216.970000px;}
.yb5{bottom:222.670000px;}
.yd1{bottom:222.880000px;}
.y98{bottom:229.360000px;}
.y46{bottom:231.620000px;}
.y7b{bottom:232.000000px;}
.y22{bottom:234.970000px;}
.y5e{bottom:235.140000px;}
.yb4{bottom:240.670000px;}
.yd0{bottom:240.880000px;}
.y97{bottom:247.360000px;}
.y45{bottom:249.620000px;}
.y7a{bottom:250.000000px;}
.ycf{bottom:252.880000px;}
.y21{bottom:252.970000px;}
.y5d{bottom:253.140000px;}
.yb3{bottom:260.670000px;}
.ydf{bottom:262.000000px;}
.y20{bottom:264.970000px;}
.y96{bottom:265.360000px;}
.y44{bottom:267.620000px;}
.y79{bottom:268.000000px;}
.yce{bottom:270.880000px;}
.y5c{bottom:271.140000px;}
.yde{bottom:274.000000px;}
.yb2{bottom:278.670000px;}
.y78{bottom:280.000000px;}
.y1f{bottom:282.970000px;}
.y5b{bottom:283.140000px;}
.y95{bottom:283.360000px;}
.y43{bottom:285.620000px;}
.ycd{bottom:288.880000px;}
.y7{bottom:291.000000px;}
.ydd{bottom:292.000000px;}
.yb1{bottom:296.670000px;}
.y77{bottom:298.000000px;}
.y1e{bottom:300.970000px;}
.y5a{bottom:301.140000px;}
.y94{bottom:301.360000px;}
.y42{bottom:303.620000px;}
.ycc{bottom:306.880000px;}
.yb0{bottom:308.670000px;}
.y8a{bottom:310.000000px;}
.y93{bottom:313.360000px;}
.y6{bottom:313.500000px;}
.y41{bottom:315.620000px;}
.y76{bottom:316.000000px;}
.y1d{bottom:318.970000px;}
.y59{bottom:319.140000px;}
.ycb{bottom:324.880000px;}
.yaf{bottom:326.670000px;}
.y89{bottom:328.000000px;}
.y92{bottom:331.360000px;}
.y40{bottom:333.620000px;}
.y75{bottom:334.000000px;}
.y58{bottom:337.140000px;}
.yca{bottom:342.880000px;}
.yae{bottom:344.670000px;}
.y88{bottom:346.000000px;}
.y5{bottom:351.000000px;}
.y91{bottom:351.360000px;}
.y74{bottom:352.000000px;}
.y3f{bottom:353.620000px;}
.y57{bottom:355.140000px;}
.yc9{bottom:360.880000px;}
.yad{bottom:362.670000px;}
.y73{bottom:364.000000px;}
.y56{bottom:367.140000px;}
.y90{bottom:369.360000px;}
.y3e{bottom:371.620000px;}
.yc8{bottom:378.880000px;}
.yac{bottom:380.670000px;}
.y4{bottom:381.000000px;}
.y72{bottom:382.000000px;}
.y55{bottom:385.140000px;}
.y8f{bottom:387.360000px;}
.y3d{bottom:389.620000px;}
.yab{bottom:392.670000px;}
.yc7{bottom:396.880000px;}
.y8e{bottom:399.360000px;}
.y71{bottom:400.000000px;}
.y3c{bottom:401.620000px;}
.y54{bottom:403.140000px;}
.yaa{bottom:410.670000px;}
.y3{bottom:411.000000px;}
.y8d{bottom:417.360000px;}
.y70{bottom:418.000000px;}
.y3b{bottom:419.620000px;}
.y53{bottom:421.140000px;}
.ya9{bottom:428.670000px;}
.y6f{bottom:430.000000px;}
.y8c{bottom:435.360000px;}
.y87{bottom:436.000000px;}
.y3a{bottom:437.620000px;}
.y52{bottom:439.140000px;}
.ya8{bottom:446.670000px;}
.y6e{bottom:448.000000px;}
.y51{bottom:451.140000px;}
.y8b{bottom:453.360000px;}
.y39{bottom:455.620000px;}
.ya7{bottom:464.670000px;}
.y86{bottom:466.000000px;}
.y6d{bottom:468.000000px;}
.y50{bottom:469.140000px;}
.y1c{bottom:474.000000px;}
.ya6{bottom:476.670000px;}
.y1b{bottom:486.000000px;}
.y4f{bottom:489.140000px;}
.y0{bottom:490.500000px;}
.ya5{bottom:494.670000px;}
.y1a{bottom:504.000000px;}
.y4e{bottom:507.140000px;}
.ya4{bottom:514.670000px;}
.y6c{bottom:516.000000px;}
.y19{bottom:522.000000px;}
.y4d{bottom:525.140000px;}
.ya3{bottom:532.670000px;}
.y6b{bottom:534.000000px;}
.y4c{bottom:537.140000px;}
.y18{bottom:540.000000px;}
.ya2{bottom:550.670000px;}
.y6a{bottom:552.000000px;}
.y4b{bottom:555.140000px;}
.y17{bottom:558.000000px;}
.ya1{bottom:562.670000px;}
.y69{bottom:570.000000px;}
.y4a{bottom:573.140000px;}
.y16{bottom:576.000000px;}
.ya0{bottom:580.670000px;}
.y15{bottom:588.000000px;}
.y49{bottom:591.140000px;}
.y9f{bottom:598.670000px;}
.y38{bottom:600.000000px;}
.y14{bottom:606.000000px;}
.y9e{bottom:616.670000px;}
.y37{bottom:618.000000px;}
.y13{bottom:626.000000px;}
.yc6{bottom:630.000000px;}
.y2{bottom:636.000000px;}
.y12{bottom:644.000000px;}
.yc5{bottom:648.000000px;}
.y36{bottom:654.000000px;}
.y11{bottom:662.000000px;}
.y35{bottom:666.000000px;}
.y10{bottom:674.000000px;}
.y34{bottom:684.000000px;}
.ydc{bottom:686.000000px;}
.yf{bottom:692.000000px;}
.yc4{bottom:702.000000px;}
.y33{bottom:704.000000px;}
.ye{bottom:710.000000px;}
.yc3{bottom:720.000000px;}
.y32{bottom:722.000000px;}
.yd{bottom:728.000000px;}
.ydb{bottom:734.000000px;}
.yc2{bottom:738.000000px;}
.y31{bottom:740.000000px;}
.yc{bottom:746.000000px;}
.yc1{bottom:750.000000px;}
.y30{bottom:752.000000px;}
.yb{bottom:758.000000px;}
.yc0{bottom:768.000000px;}
.y2f{bottom:770.000000px;}
.y1{bottom:776.000000px;}
.ya{bottom:788.000000px;}
.y2d{bottom:808.000000px;}
.h7{height:56.367840px;}
.h8{height:59.156250px;}
.h5{height:69.015625px;}
.h4{height:70.459800px;}
.h2{height:93.946400px;}
.h3{height:117.433000px;}
.h1{height:130.500000px;}
.h6{height:770.500000px;}
.h0{height:842.000000px;}
.w1{width:456.500000px;}
.w2{width:523.500000px;}
.w0{width:595.000000px;}
.x1{left:36.000000px;}
.x0{left:69.500000px;}
.x2{left:86.330000px;}
.x7{left:216.810000px;}
.x4{left:219.690000px;}
.x6{left:245.000000px;}
.x3{left:249.710000px;}
.x5{left:257.480000px;}
.x9{left:543.660000px;}
.x8{left:550.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs4{font-size:64.000000pt;}
.fs3{font-size:74.666667pt;}
.fs2{font-size:80.000000pt;}
.fs0{font-size:106.666667pt;}
.fs1{font-size:133.333333pt;}
.y8{bottom:22.666667pt;}
.y2e{bottom:29.333333pt;}
.y9{bottom:47.333333pt;}
.ybf{bottom:80.893333pt;}
.y85{bottom:82.666667pt;}
.yda{bottom:86.506667pt;}
.y2c{bottom:86.626667pt;}
.y68{bottom:86.853333pt;}
.ybe{bottom:104.893333pt;}
.y84{bottom:106.666667pt;}
.yd9{bottom:110.506667pt;}
.y2b{bottom:110.626667pt;}
.y67{bottom:110.853333pt;}
.ybd{bottom:120.893333pt;}
.y2a{bottom:126.626667pt;}
.y83{bottom:130.666667pt;}
.yd8{bottom:134.506667pt;}
.y66{bottom:134.853333pt;}
.ybc{bottom:144.893333pt;}
.y82{bottom:146.666667pt;}
.y29{bottom:150.626667pt;}
.yd7{bottom:158.506667pt;}
.y65{bottom:158.853333pt;}
.ybb{bottom:168.893333pt;}
.y81{bottom:170.666667pt;}
.y28{bottom:174.626667pt;}
.yd6{bottom:182.506667pt;}
.y64{bottom:182.853333pt;}
.yba{bottom:192.893333pt;}
.y9d{bottom:193.813333pt;}
.y80{bottom:194.666667pt;}
.y27{bottom:198.626667pt;}
.y63{bottom:198.853333pt;}
.yd5{bottom:206.506667pt;}
.y9c{bottom:209.813333pt;}
.yb9{bottom:216.893333pt;}
.y7f{bottom:218.666667pt;}
.yd4{bottom:222.506667pt;}
.y26{bottom:222.626667pt;}
.y62{bottom:222.853333pt;}
.yb8{bottom:232.893333pt;}
.y9b{bottom:233.813333pt;}
.y25{bottom:238.626667pt;}
.y7e{bottom:242.666667pt;}
.yd3{bottom:246.506667pt;}
.y61{bottom:246.853333pt;}
.yb7{bottom:256.893333pt;}
.y9a{bottom:257.813333pt;}
.y7d{bottom:258.666667pt;}
.y24{bottom:262.626667pt;}
.y60{bottom:262.853333pt;}
.y48{bottom:268.826667pt;}
.yd2{bottom:273.173333pt;}
.yb6{bottom:280.893333pt;}
.y99{bottom:281.813333pt;}
.y7c{bottom:282.666667pt;}
.y47{bottom:284.826667pt;}
.y5f{bottom:286.853333pt;}
.y23{bottom:289.293333pt;}
.yb5{bottom:296.893333pt;}
.yd1{bottom:297.173333pt;}
.y98{bottom:305.813333pt;}
.y46{bottom:308.826667pt;}
.y7b{bottom:309.333333pt;}
.y22{bottom:313.293333pt;}
.y5e{bottom:313.520000pt;}
.yb4{bottom:320.893333pt;}
.yd0{bottom:321.173333pt;}
.y97{bottom:329.813333pt;}
.y45{bottom:332.826667pt;}
.y7a{bottom:333.333333pt;}
.ycf{bottom:337.173333pt;}
.y21{bottom:337.293333pt;}
.y5d{bottom:337.520000pt;}
.yb3{bottom:347.560000pt;}
.ydf{bottom:349.333333pt;}
.y20{bottom:353.293333pt;}
.y96{bottom:353.813333pt;}
.y44{bottom:356.826667pt;}
.y79{bottom:357.333333pt;}
.yce{bottom:361.173333pt;}
.y5c{bottom:361.520000pt;}
.yde{bottom:365.333333pt;}
.yb2{bottom:371.560000pt;}
.y78{bottom:373.333333pt;}
.y1f{bottom:377.293333pt;}
.y5b{bottom:377.520000pt;}
.y95{bottom:377.813333pt;}
.y43{bottom:380.826667pt;}
.ycd{bottom:385.173333pt;}
.y7{bottom:388.000000pt;}
.ydd{bottom:389.333333pt;}
.yb1{bottom:395.560000pt;}
.y77{bottom:397.333333pt;}
.y1e{bottom:401.293333pt;}
.y5a{bottom:401.520000pt;}
.y94{bottom:401.813333pt;}
.y42{bottom:404.826667pt;}
.ycc{bottom:409.173333pt;}
.yb0{bottom:411.560000pt;}
.y8a{bottom:413.333333pt;}
.y93{bottom:417.813333pt;}
.y6{bottom:418.000000pt;}
.y41{bottom:420.826667pt;}
.y76{bottom:421.333333pt;}
.y1d{bottom:425.293333pt;}
.y59{bottom:425.520000pt;}
.ycb{bottom:433.173333pt;}
.yaf{bottom:435.560000pt;}
.y89{bottom:437.333333pt;}
.y92{bottom:441.813333pt;}
.y40{bottom:444.826667pt;}
.y75{bottom:445.333333pt;}
.y58{bottom:449.520000pt;}
.yca{bottom:457.173333pt;}
.yae{bottom:459.560000pt;}
.y88{bottom:461.333333pt;}
.y5{bottom:468.000000pt;}
.y91{bottom:468.480000pt;}
.y74{bottom:469.333333pt;}
.y3f{bottom:471.493333pt;}
.y57{bottom:473.520000pt;}
.yc9{bottom:481.173333pt;}
.yad{bottom:483.560000pt;}
.y73{bottom:485.333333pt;}
.y56{bottom:489.520000pt;}
.y90{bottom:492.480000pt;}
.y3e{bottom:495.493333pt;}
.yc8{bottom:505.173333pt;}
.yac{bottom:507.560000pt;}
.y4{bottom:508.000000pt;}
.y72{bottom:509.333333pt;}
.y55{bottom:513.520000pt;}
.y8f{bottom:516.480000pt;}
.y3d{bottom:519.493333pt;}
.yab{bottom:523.560000pt;}
.yc7{bottom:529.173333pt;}
.y8e{bottom:532.480000pt;}
.y71{bottom:533.333333pt;}
.y3c{bottom:535.493333pt;}
.y54{bottom:537.520000pt;}
.yaa{bottom:547.560000pt;}
.y3{bottom:548.000000pt;}
.y8d{bottom:556.480000pt;}
.y70{bottom:557.333333pt;}
.y3b{bottom:559.493333pt;}
.y53{bottom:561.520000pt;}
.ya9{bottom:571.560000pt;}
.y6f{bottom:573.333333pt;}
.y8c{bottom:580.480000pt;}
.y87{bottom:581.333333pt;}
.y3a{bottom:583.493333pt;}
.y52{bottom:585.520000pt;}
.ya8{bottom:595.560000pt;}
.y6e{bottom:597.333333pt;}
.y51{bottom:601.520000pt;}
.y8b{bottom:604.480000pt;}
.y39{bottom:607.493333pt;}
.ya7{bottom:619.560000pt;}
.y86{bottom:621.333333pt;}
.y6d{bottom:624.000000pt;}
.y50{bottom:625.520000pt;}
.y1c{bottom:632.000000pt;}
.ya6{bottom:635.560000pt;}
.y1b{bottom:648.000000pt;}
.y4f{bottom:652.186667pt;}
.y0{bottom:654.000000pt;}
.ya5{bottom:659.560000pt;}
.y1a{bottom:672.000000pt;}
.y4e{bottom:676.186667pt;}
.ya4{bottom:686.226667pt;}
.y6c{bottom:688.000000pt;}
.y19{bottom:696.000000pt;}
.y4d{bottom:700.186667pt;}
.ya3{bottom:710.226667pt;}
.y6b{bottom:712.000000pt;}
.y4c{bottom:716.186667pt;}
.y18{bottom:720.000000pt;}
.ya2{bottom:734.226667pt;}
.y6a{bottom:736.000000pt;}
.y4b{bottom:740.186667pt;}
.y17{bottom:744.000000pt;}
.ya1{bottom:750.226667pt;}
.y69{bottom:760.000000pt;}
.y4a{bottom:764.186667pt;}
.y16{bottom:768.000000pt;}
.ya0{bottom:774.226667pt;}
.y15{bottom:784.000000pt;}
.y49{bottom:788.186667pt;}
.y9f{bottom:798.226667pt;}
.y38{bottom:800.000000pt;}
.y14{bottom:808.000000pt;}
.y9e{bottom:822.226667pt;}
.y37{bottom:824.000000pt;}
.y13{bottom:834.666667pt;}
.yc6{bottom:840.000000pt;}
.y2{bottom:848.000000pt;}
.y12{bottom:858.666667pt;}
.yc5{bottom:864.000000pt;}
.y36{bottom:872.000000pt;}
.y11{bottom:882.666667pt;}
.y35{bottom:888.000000pt;}
.y10{bottom:898.666667pt;}
.y34{bottom:912.000000pt;}
.ydc{bottom:914.666667pt;}
.yf{bottom:922.666667pt;}
.yc4{bottom:936.000000pt;}
.y33{bottom:938.666667pt;}
.ye{bottom:946.666667pt;}
.yc3{bottom:960.000000pt;}
.y32{bottom:962.666667pt;}
.yd{bottom:970.666667pt;}
.ydb{bottom:978.666667pt;}
.yc2{bottom:984.000000pt;}
.y31{bottom:986.666667pt;}
.yc{bottom:994.666667pt;}
.yc1{bottom:1000.000000pt;}
.y30{bottom:1002.666667pt;}
.yb{bottom:1010.666667pt;}
.yc0{bottom:1024.000000pt;}
.y2f{bottom:1026.666667pt;}
.y1{bottom:1034.666667pt;}
.ya{bottom:1050.666667pt;}
.y2d{bottom:1077.333333pt;}
.h7{height:75.157120pt;}
.h8{height:78.875000pt;}
.h5{height:92.020833pt;}
.h4{height:93.946400pt;}
.h2{height:125.261866pt;}
.h3{height:156.577333pt;}
.h1{height:174.000000pt;}
.h6{height:1027.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:608.666667pt;}
.w2{width:698.000000pt;}
.w0{width:793.333333pt;}
.x1{left:48.000000pt;}
.x0{left:92.666667pt;}
.x2{left:115.106667pt;}
.x7{left:289.080000pt;}
.x4{left:292.920000pt;}
.x6{left:326.666667pt;}
.x3{left:332.946667pt;}
.x5{left:343.306667pt;}
.x9{left:724.880000pt;}
.x8{left:733.773333pt;}
}
