.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:-0.076896px;}
.ls13{letter-spacing:-0.062400px;}
.ls15{letter-spacing:-0.057600px;}
.ls16{letter-spacing:-0.048000px;}
.ls2{letter-spacing:-0.040032px;}
.ls17{letter-spacing:-0.038400px;}
.ls14{letter-spacing:-0.033600px;}
.ls3{letter-spacing:-0.030024px;}
.ls10{letter-spacing:-0.024000px;}
.ls4{letter-spacing:-0.020016px;}
.ls6{letter-spacing:-0.019200px;}
.lsa{letter-spacing:-0.014400px;}
.ls11{letter-spacing:-0.004800px;}
.ls1{letter-spacing:0.000000px;}
.ls5{letter-spacing:0.004800px;}
.ls8{letter-spacing:0.009600px;}
.ls7{letter-spacing:0.014400px;}
.lsc{letter-spacing:0.019200px;}
.ls9{letter-spacing:0.024000px;}
.ls12{letter-spacing:0.028800px;}
.lse{letter-spacing:0.033600px;}
.lsd{letter-spacing:0.038400px;}
.lsb{letter-spacing:0.043200px;}
.lsf{letter-spacing:0.048000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws10{word-spacing:-0.177600px;}
.ws2{word-spacing:-0.160128px;}
.ws25{word-spacing:-0.158400px;}
.ws2a{word-spacing:-0.134400px;}
.ws18{word-spacing:-0.120000px;}
.ws2d{word-spacing:-0.110400px;}
.ws20{word-spacing:-0.105600px;}
.ws24{word-spacing:-0.091200px;}
.wsc{word-spacing:-0.081600px;}
.ws1d{word-spacing:-0.076800px;}
.ws29{word-spacing:-0.072000px;}
.ws6{word-spacing:-0.067200px;}
.ws1a{word-spacing:-0.062400px;}
.ws1c{word-spacing:-0.057600px;}
.ws21{word-spacing:-0.052800px;}
.wsf{word-spacing:-0.048000px;}
.wsa{word-spacing:-0.043200px;}
.wse{word-spacing:-0.038400px;}
.ws1f{word-spacing:-0.033600px;}
.ws1{word-spacing:-0.030024px;}
.ws23{word-spacing:-0.028800px;}
.ws19{word-spacing:-0.024000px;}
.wsd{word-spacing:-0.019200px;}
.ws5{word-spacing:-0.014400px;}
.ws9{word-spacing:-0.009600px;}
.ws3{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.ws1e{word-spacing:0.004800px;}
.ws28{word-spacing:0.009600px;}
.ws17{word-spacing:0.014400px;}
.ws4{word-spacing:0.019200px;}
.ws1b{word-spacing:0.024000px;}
.ws22{word-spacing:0.028800px;}
.ws7{word-spacing:0.033600px;}
.ws8{word-spacing:0.038400px;}
.wsb{word-spacing:0.043200px;}
.ws26{word-spacing:0.048000px;}
.ws2c{word-spacing:0.057600px;}
.ws2b{word-spacing:0.062400px;}
.ws16{word-spacing:0.072000px;}
.ws11{word-spacing:0.086400px;}
.ws15{word-spacing:0.096000px;}
.ws14{word-spacing:0.105600px;}
.ws13{word-spacing:0.120000px;}
.ws12{word-spacing:0.134400px;}
.ws27{word-spacing:0.196800px;}
._0{margin-left:-1.382400px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs2{font-size:48.000000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:100.080000px;}
.y15{bottom:16.000000px;}
.y14{bottom:52.380000px;}
.y81{bottom:75.900000px;}
.y5f{bottom:81.900000px;}
.y8b{bottom:84.360000px;}
.y80{bottom:91.740000px;}
.y5e{bottom:97.740000px;}
.y8a{bottom:100.260000px;}
.y99{bottom:102.480000px;}
.y7f{bottom:107.640000px;}
.y39{bottom:111.480000px;}
.y5d{bottom:113.520000px;}
.y89{bottom:116.100000px;}
.y98{bottom:118.320000px;}
.y7e{bottom:123.480000px;}
.y82{bottom:129.000000px;}
.y88{bottom:129.300000px;}
.y5c{bottom:129.480000px;}
.y38{bottom:133.380000px;}
.y97{bottom:134.220000px;}
.y7d{bottom:139.380000px;}
.y5b{bottom:145.380000px;}
.y37{bottom:149.220000px;}
.y96{bottom:150.060000px;}
.y5a{bottom:161.220000px;}
.y36{bottom:165.000000px;}
.y95{bottom:165.960000px;}
.y59{bottom:177.120000px;}
.y35{bottom:180.960000px;}
.y94{bottom:181.800000px;}
.y7c{bottom:183.120000px;}
.y58{bottom:192.960000px;}
.y34{bottom:196.860000px;}
.y93{bottom:197.700000px;}
.y7b{bottom:198.960000px;}
.y57{bottom:208.860000px;}
.y33{bottom:212.700000px;}
.y92{bottom:213.540000px;}
.y7a{bottom:214.740000px;}
.y56{bottom:224.700000px;}
.y32{bottom:228.600000px;}
.y91{bottom:229.440000px;}
.y79{bottom:230.700000px;}
.y55{bottom:240.600000px;}
.y8f{bottom:242.500000px;}
.y90{bottom:242.580000px;}
.y31{bottom:244.440000px;}
.y78{bottom:246.600000px;}
.y54{bottom:256.440000px;}
.y30{bottom:260.340000px;}
.y77{bottom:262.440000px;}
.y2f{bottom:276.180000px;}
.y53{bottom:278.340000px;}
.y8e{bottom:288.180000px;}
.y2e{bottom:292.080000px;}
.y76{bottom:294.180000px;}
.y52{bottom:300.180000px;}
.y13{bottom:302.400000px;}
.y2d{bottom:307.920000px;}
.y75{bottom:310.080000px;}
.y51{bottom:316.080000px;}
.y12{bottom:318.300000px;}
.y74{bottom:325.920000px;}
.y2c{bottom:329.760000px;}
.y50{bottom:331.800000px;}
.y8d{bottom:331.920000px;}
.y11{bottom:339.300000px;}
.y10{bottom:339.325740px;}
.y73{bottom:341.760000px;}
.y8c{bottom:347.640000px;}
.y4f{bottom:347.760000px;}
.y2b{bottom:351.660000px;}
.y4e{bottom:363.660000px;}
.y2a{bottom:367.500000px;}
.yf{bottom:372.377160px;}
.y4d{bottom:379.500000px;}
.y29{bottom:383.280000px;}
.y72{bottom:385.500000px;}
.y4c{bottom:395.400000px;}
.y28{bottom:399.240000px;}
.y71{bottom:401.400000px;}
.ye{bottom:405.428580px;}
.y4b{bottom:411.240000px;}
.y27{bottom:415.140000px;}
.y70{bottom:417.120000px;}
.y87{bottom:421.140000px;}
.y4a{bottom:427.140000px;}
.y26{bottom:430.980000px;}
.y6f{bottom:433.140000px;}
.yd{bottom:438.480000px;}
.y49{bottom:442.980000px;}
.y25{bottom:446.880000px;}
.y6e{bottom:448.980000px;}
.y48{bottom:458.880000px;}
.y24{bottom:462.720000px;}
.y0{bottom:463.500000px;}
.yc{bottom:463.800000px;}
.y6d{bottom:464.880000px;}
.y86{bottom:474.600000px;}
.y47{bottom:474.720000px;}
.y23{bottom:478.620000px;}
.y6c{bottom:480.720000px;}
.y46{bottom:490.620000px;}
.y22{bottom:494.460000px;}
.y6b{bottom:496.620000px;}
.y85{bottom:506.460000px;}
.y45{bottom:512.460000px;}
.y21{bottom:516.360000px;}
.y84{bottom:522.360000px;}
.y6a{bottom:528.360000px;}
.y44{bottom:534.360000px;}
.y20{bottom:538.200000px;}
.y69{bottom:544.200000px;}
.y43{bottom:550.200000px;}
.y1f{bottom:554.100000px;}
.y68{bottom:560.100000px;}
.yb{bottom:565.980000px;}
.y1e{bottom:569.820000px;}
.y83{bottom:569.940000px;}
.y67{bottom:575.940000px;}
.ya{bottom:581.820000px;}
.y42{bottom:581.940000px;}
.y1d{bottom:585.840000px;}
.y66{bottom:591.840000px;}
.y9{bottom:597.720000px;}
.y41{bottom:597.840000px;}
.y1c{bottom:601.680000px;}
.y65{bottom:607.680000px;}
.y8{bottom:613.560000px;}
.y40{bottom:613.680000px;}
.y1b{bottom:617.580000px;}
.y64{bottom:623.580000px;}
.y7{bottom:629.460000px;}
.y3f{bottom:629.580000px;}
.y1a{bottom:633.420000px;}
.y63{bottom:639.420000px;}
.y6{bottom:645.300000px;}
.y3e{bottom:645.420000px;}
.y19{bottom:649.320000px;}
.y62{bottom:655.320000px;}
.y5{bottom:661.200000px;}
.y3d{bottom:661.320000px;}
.y18{bottom:665.160000px;}
.y61{bottom:671.160000px;}
.y4{bottom:677.040000px;}
.y3c{bottom:677.160000px;}
.y17{bottom:681.060000px;}
.y60{bottom:687.060000px;}
.y3{bottom:692.940000px;}
.y3b{bottom:693.060000px;}
.y16{bottom:702.900000px;}
.y2{bottom:708.780000px;}
.y3a{bottom:708.900000px;}
.y1{bottom:740.820000px;}
.h5{height:29.272852px;}
.h2{height:43.804688px;}
.h7{height:53.250000px;}
.h3{height:54.960938px;}
.h6{height:69.015625px;}
.h1{height:98.000000px;}
.h4{height:114.593555px;}
.h8{height:265.500000px;}
.h9{height:477.500000px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w2{width:449.500000px;}
.w3{width:451.000000px;}
.w0{width:612.000000px;}
.xb{left:72.000000px;}
.x5{left:115.380960px;}
.x0{left:135.000000px;}
.x6{left:210.181740px;}
.xa{left:253.000000px;}
.x4{left:264.300000px;}
.x8{left:270.960000px;}
.x1{left:279.180000px;}
.x2{left:306.000000px;}
.x7{left:401.820000px;}
.x3{left:477.000000px;}
.x9{left:504.780000px;}
.xc{left:521.340000px;}
.xd{left:522.720000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:-0.102528pt;}
.ls13{letter-spacing:-0.083200pt;}
.ls15{letter-spacing:-0.076800pt;}
.ls16{letter-spacing:-0.064000pt;}
.ls2{letter-spacing:-0.053376pt;}
.ls17{letter-spacing:-0.051200pt;}
.ls14{letter-spacing:-0.044800pt;}
.ls3{letter-spacing:-0.040032pt;}
.ls10{letter-spacing:-0.032000pt;}
.ls4{letter-spacing:-0.026688pt;}
.ls6{letter-spacing:-0.025600pt;}
.lsa{letter-spacing:-0.019200pt;}
.ls11{letter-spacing:-0.006400pt;}
.ls1{letter-spacing:0.000000pt;}
.ls5{letter-spacing:0.006400pt;}
.ls8{letter-spacing:0.012800pt;}
.ls7{letter-spacing:0.019200pt;}
.lsc{letter-spacing:0.025600pt;}
.ls9{letter-spacing:0.032000pt;}
.ls12{letter-spacing:0.038400pt;}
.lse{letter-spacing:0.044800pt;}
.lsd{letter-spacing:0.051200pt;}
.lsb{letter-spacing:0.057600pt;}
.lsf{letter-spacing:0.064000pt;}
.ws10{word-spacing:-0.236800pt;}
.ws2{word-spacing:-0.213504pt;}
.ws25{word-spacing:-0.211200pt;}
.ws2a{word-spacing:-0.179200pt;}
.ws18{word-spacing:-0.160000pt;}
.ws2d{word-spacing:-0.147200pt;}
.ws20{word-spacing:-0.140800pt;}
.ws24{word-spacing:-0.121600pt;}
.wsc{word-spacing:-0.108800pt;}
.ws1d{word-spacing:-0.102400pt;}
.ws29{word-spacing:-0.096000pt;}
.ws6{word-spacing:-0.089600pt;}
.ws1a{word-spacing:-0.083200pt;}
.ws1c{word-spacing:-0.076800pt;}
.ws21{word-spacing:-0.070400pt;}
.wsf{word-spacing:-0.064000pt;}
.wsa{word-spacing:-0.057600pt;}
.wse{word-spacing:-0.051200pt;}
.ws1f{word-spacing:-0.044800pt;}
.ws1{word-spacing:-0.040032pt;}
.ws23{word-spacing:-0.038400pt;}
.ws19{word-spacing:-0.032000pt;}
.wsd{word-spacing:-0.025600pt;}
.ws5{word-spacing:-0.019200pt;}
.ws9{word-spacing:-0.012800pt;}
.ws3{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.ws1e{word-spacing:0.006400pt;}
.ws28{word-spacing:0.012800pt;}
.ws17{word-spacing:0.019200pt;}
.ws4{word-spacing:0.025600pt;}
.ws1b{word-spacing:0.032000pt;}
.ws22{word-spacing:0.038400pt;}
.ws7{word-spacing:0.044800pt;}
.ws8{word-spacing:0.051200pt;}
.wsb{word-spacing:0.057600pt;}
.ws26{word-spacing:0.064000pt;}
.ws2c{word-spacing:0.076800pt;}
.ws2b{word-spacing:0.083200pt;}
.ws16{word-spacing:0.096000pt;}
.ws11{word-spacing:0.115200pt;}
.ws15{word-spacing:0.128000pt;}
.ws14{word-spacing:0.140800pt;}
.ws13{word-spacing:0.160000pt;}
.ws12{word-spacing:0.179200pt;}
.ws27{word-spacing:0.262400pt;}
._0{margin-left:-1.843200pt;}
.fs1{font-size:58.560000pt;}
.fs2{font-size:64.000000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:133.440000pt;}
.y15{bottom:21.333333pt;}
.y14{bottom:69.840000pt;}
.y81{bottom:101.200000pt;}
.y5f{bottom:109.200000pt;}
.y8b{bottom:112.480000pt;}
.y80{bottom:122.320000pt;}
.y5e{bottom:130.320000pt;}
.y8a{bottom:133.680000pt;}
.y99{bottom:136.640000pt;}
.y7f{bottom:143.520000pt;}
.y39{bottom:148.640000pt;}
.y5d{bottom:151.360000pt;}
.y89{bottom:154.800000pt;}
.y98{bottom:157.760000pt;}
.y7e{bottom:164.640000pt;}
.y82{bottom:172.000000pt;}
.y88{bottom:172.400000pt;}
.y5c{bottom:172.640000pt;}
.y38{bottom:177.840000pt;}
.y97{bottom:178.960000pt;}
.y7d{bottom:185.840000pt;}
.y5b{bottom:193.840000pt;}
.y37{bottom:198.960000pt;}
.y96{bottom:200.080000pt;}
.y5a{bottom:214.960000pt;}
.y36{bottom:220.000000pt;}
.y95{bottom:221.280000pt;}
.y59{bottom:236.160000pt;}
.y35{bottom:241.280000pt;}
.y94{bottom:242.400000pt;}
.y7c{bottom:244.160000pt;}
.y58{bottom:257.280000pt;}
.y34{bottom:262.480000pt;}
.y93{bottom:263.600000pt;}
.y7b{bottom:265.280000pt;}
.y57{bottom:278.480000pt;}
.y33{bottom:283.600000pt;}
.y92{bottom:284.720000pt;}
.y7a{bottom:286.320000pt;}
.y56{bottom:299.600000pt;}
.y32{bottom:304.800000pt;}
.y91{bottom:305.920000pt;}
.y79{bottom:307.600000pt;}
.y55{bottom:320.800000pt;}
.y8f{bottom:323.333333pt;}
.y90{bottom:323.440000pt;}
.y31{bottom:325.920000pt;}
.y78{bottom:328.800000pt;}
.y54{bottom:341.920000pt;}
.y30{bottom:347.120000pt;}
.y77{bottom:349.920000pt;}
.y2f{bottom:368.240000pt;}
.y53{bottom:371.120000pt;}
.y8e{bottom:384.240000pt;}
.y2e{bottom:389.440000pt;}
.y76{bottom:392.240000pt;}
.y52{bottom:400.240000pt;}
.y13{bottom:403.200000pt;}
.y2d{bottom:410.560000pt;}
.y75{bottom:413.440000pt;}
.y51{bottom:421.440000pt;}
.y12{bottom:424.400000pt;}
.y74{bottom:434.560000pt;}
.y2c{bottom:439.680000pt;}
.y50{bottom:442.400000pt;}
.y8d{bottom:442.560000pt;}
.y11{bottom:452.400000pt;}
.y10{bottom:452.434320pt;}
.y73{bottom:455.680000pt;}
.y8c{bottom:463.520000pt;}
.y4f{bottom:463.680000pt;}
.y2b{bottom:468.880000pt;}
.y4e{bottom:484.880000pt;}
.y2a{bottom:490.000000pt;}
.yf{bottom:496.502880pt;}
.y4d{bottom:506.000000pt;}
.y29{bottom:511.040000pt;}
.y72{bottom:514.000000pt;}
.y4c{bottom:527.200000pt;}
.y28{bottom:532.320000pt;}
.y71{bottom:535.200000pt;}
.ye{bottom:540.571440pt;}
.y4b{bottom:548.320000pt;}
.y27{bottom:553.520000pt;}
.y70{bottom:556.160000pt;}
.y87{bottom:561.520000pt;}
.y4a{bottom:569.520000pt;}
.y26{bottom:574.640000pt;}
.y6f{bottom:577.520000pt;}
.yd{bottom:584.640000pt;}
.y49{bottom:590.640000pt;}
.y25{bottom:595.840000pt;}
.y6e{bottom:598.640000pt;}
.y48{bottom:611.840000pt;}
.y24{bottom:616.960000pt;}
.y0{bottom:618.000000pt;}
.yc{bottom:618.400000pt;}
.y6d{bottom:619.840000pt;}
.y86{bottom:632.800000pt;}
.y47{bottom:632.960000pt;}
.y23{bottom:638.160000pt;}
.y6c{bottom:640.960000pt;}
.y46{bottom:654.160000pt;}
.y22{bottom:659.280000pt;}
.y6b{bottom:662.160000pt;}
.y85{bottom:675.280000pt;}
.y45{bottom:683.280000pt;}
.y21{bottom:688.480000pt;}
.y84{bottom:696.480000pt;}
.y6a{bottom:704.480000pt;}
.y44{bottom:712.480000pt;}
.y20{bottom:717.600000pt;}
.y69{bottom:725.600000pt;}
.y43{bottom:733.600000pt;}
.y1f{bottom:738.800000pt;}
.y68{bottom:746.800000pt;}
.yb{bottom:754.640000pt;}
.y1e{bottom:759.760000pt;}
.y83{bottom:759.920000pt;}
.y67{bottom:767.920000pt;}
.ya{bottom:775.760000pt;}
.y42{bottom:775.920000pt;}
.y1d{bottom:781.120000pt;}
.y66{bottom:789.120000pt;}
.y9{bottom:796.960000pt;}
.y41{bottom:797.120000pt;}
.y1c{bottom:802.240000pt;}
.y65{bottom:810.240000pt;}
.y8{bottom:818.080000pt;}
.y40{bottom:818.240000pt;}
.y1b{bottom:823.440000pt;}
.y64{bottom:831.440000pt;}
.y7{bottom:839.280000pt;}
.y3f{bottom:839.440000pt;}
.y1a{bottom:844.560000pt;}
.y63{bottom:852.560000pt;}
.y6{bottom:860.400000pt;}
.y3e{bottom:860.560000pt;}
.y19{bottom:865.760000pt;}
.y62{bottom:873.760000pt;}
.y5{bottom:881.600000pt;}
.y3d{bottom:881.760000pt;}
.y18{bottom:886.880000pt;}
.y61{bottom:894.880000pt;}
.y4{bottom:902.720000pt;}
.y3c{bottom:902.880000pt;}
.y17{bottom:908.080000pt;}
.y60{bottom:916.080000pt;}
.y3{bottom:923.920000pt;}
.y3b{bottom:924.080000pt;}
.y16{bottom:937.200000pt;}
.y2{bottom:945.040000pt;}
.y3a{bottom:945.200000pt;}
.y1{bottom:987.760000pt;}
.h5{height:39.030469pt;}
.h2{height:58.406250pt;}
.h7{height:71.000000pt;}
.h3{height:73.281250pt;}
.h6{height:92.020833pt;}
.h1{height:130.666667pt;}
.h4{height:152.791406pt;}
.h8{height:354.000000pt;}
.h9{height:636.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w2{width:599.333333pt;}
.w3{width:601.333333pt;}
.w0{width:816.000000pt;}
.xb{left:96.000000pt;}
.x5{left:153.841280pt;}
.x0{left:180.000000pt;}
.x6{left:280.242320pt;}
.xa{left:337.333333pt;}
.x4{left:352.400000pt;}
.x8{left:361.280000pt;}
.x1{left:372.240000pt;}
.x2{left:408.000000pt;}
.x7{left:535.760000pt;}
.x3{left:636.000000pt;}
.x9{left:673.040000pt;}
.xc{left:695.120000pt;}
.xd{left:696.960000pt;}
}
