.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(33,78,123);}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:48.000000px;}
.fs2{font-size:56.000000px;}
.fs1{font-size:60.000000px;}
.fs0{font-size:80.000000px;}
.y6{bottom:17.000000px;}
.y34{bottom:22.000000px;}
.y7{bottom:35.500000px;}
.y32{bottom:54.000000px;}
.y52{bottom:54.830000px;}
.ye2{bottom:55.690000px;}
.ycd{bottom:58.090000px;}
.ya4{bottom:60.000000px;}
.y79{bottom:70.000000px;}
.y95{bottom:70.940000px;}
.y31{bottom:72.000000px;}
.y51{bottom:72.830000px;}
.ye1{bottom:73.690000px;}
.ya3{bottom:76.000000px;}
.ycc{bottom:76.090000px;}
.y78{bottom:88.000000px;}
.y94{bottom:88.940000px;}
.y50{bottom:90.830000px;}
.ye0{bottom:91.690000px;}
.y30{bottom:92.000000px;}
.ycb{bottom:94.090000px;}
.y77{bottom:106.000000px;}
.y93{bottom:106.940000px;}
.ya2{bottom:108.000000px;}
.y4f{bottom:108.830000px;}
.ydf{bottom:109.690000px;}
.y2f{bottom:110.000000px;}
.yca{bottom:112.090000px;}
.ya1{bottom:120.000000px;}
.yde{bottom:121.690000px;}
.y76{bottom:124.000000px;}
.y92{bottom:124.940000px;}
.y4e{bottom:126.830000px;}
.y2e{bottom:128.000000px;}
.yc9{bottom:130.090000px;}
.ya0{bottom:132.000000px;}
.ydd{bottom:137.690000px;}
.y75{bottom:142.000000px;}
.y91{bottom:142.940000px;}
.y4d{bottom:144.830000px;}
.y2d{bottom:146.000000px;}
.y9f{bottom:148.000000px;}
.yc8{bottom:148.090000px;}
.ydc{bottom:153.690000px;}
.y74{bottom:160.000000px;}
.y90{bottom:160.940000px;}
.y4c{bottom:162.830000px;}
.y2c{bottom:164.000000px;}
.yc7{bottom:166.090000px;}
.ydb{bottom:169.690000px;}
.y9e{bottom:176.000000px;}
.y73{bottom:178.000000px;}
.y8f{bottom:178.940000px;}
.y4b{bottom:180.830000px;}
.yb8{bottom:180.900000px;}
.y2b{bottom:182.000000px;}
.yc6{bottom:184.090000px;}
.yda{bottom:185.690000px;}
.y9d{bottom:188.000000px;}
.y72{bottom:196.000000px;}
.y8e{bottom:196.940000px;}
.yff{bottom:198.000000px;}
.y4a{bottom:198.830000px;}
.yb7{bottom:198.900000px;}
.y2a{bottom:200.000000px;}
.yd9{bottom:201.690000px;}
.yc5{bottom:202.090000px;}
.y9c{bottom:204.000000px;}
.yfe{bottom:210.000000px;}
.y71{bottom:214.000000px;}
.y8d{bottom:214.940000px;}
.y49{bottom:216.830000px;}
.yb6{bottom:216.900000px;}
.yd8{bottom:217.690000px;}
.y29{bottom:218.000000px;}
.y9b{bottom:220.000000px;}
.yc4{bottom:220.090000px;}
.yfd{bottom:222.000000px;}
.y8c{bottom:226.940000px;}
.y70{bottom:232.000000px;}
.yd7{bottom:233.690000px;}
.y48{bottom:234.830000px;}
.yb5{bottom:234.900000px;}
.y28{bottom:236.000000px;}
.yfc{bottom:238.000000px;}
.yc3{bottom:238.090000px;}
.y8b{bottom:242.940000px;}
.y47{bottom:246.830000px;}
.yd6{bottom:249.690000px;}
.y6f{bottom:250.000000px;}
.yb4{bottom:252.900000px;}
.y27{bottom:254.000000px;}
.yc2{bottom:256.090000px;}
.y8a{bottom:258.940000px;}
.yd5{bottom:261.690000px;}
.y46{bottom:262.830000px;}
.y6e{bottom:268.000000px;}
.y26{bottom:272.000000px;}
.yd4{bottom:273.690000px;}
.yc1{bottom:274.090000px;}
.y89{bottom:274.940000px;}
.y45{bottom:278.830000px;}
.y6d{bottom:286.000000px;}
.yfb{bottom:288.000000px;}
.yd3{bottom:289.690000px;}
.y25{bottom:290.000000px;}
.y88{bottom:290.940000px;}
.yc0{bottom:292.090000px;}
.y44{bottom:294.830000px;}
.yd2{bottom:301.690000px;}
.y6c{bottom:304.000000px;}
.yfa{bottom:306.000000px;}
.y87{bottom:306.940000px;}
.y24{bottom:308.000000px;}
.ybf{bottom:310.090000px;}
.y43{bottom:310.830000px;}
.yd1{bottom:317.690000px;}
.y86{bottom:318.940000px;}
.y6b{bottom:322.000000px;}
.yf9{bottom:324.000000px;}
.y23{bottom:326.000000px;}
.y42{bottom:326.830000px;}
.ybe{bottom:328.090000px;}
.yd0{bottom:329.690000px;}
.y85{bottom:330.940000px;}
.y5{bottom:338.500000px;}
.y41{bottom:338.830000px;}
.y6a{bottom:340.000000px;}
.yf8{bottom:342.000000px;}
.y22{bottom:344.000000px;}
.ycf{bottom:345.690000px;}
.ybd{bottom:346.090000px;}
.y84{bottom:346.940000px;}
.y40{bottom:350.830000px;}
.yce{bottom:357.690000px;}
.y69{bottom:358.000000px;}
.y83{bottom:358.940000px;}
.yf7{bottom:360.000000px;}
.y4{bottom:361.000000px;}
.y21{bottom:362.000000px;}
.ybc{bottom:364.090000px;}
.y3f{bottom:366.830000px;}
.y82{bottom:374.940000px;}
.y68{bottom:376.000000px;}
.yf6{bottom:378.000000px;}
.y20{bottom:380.000000px;}
.ybb{bottom:382.090000px;}
.y3e{bottom:382.830000px;}
.y81{bottom:386.940000px;}
.y67{bottom:388.000000px;}
.y3{bottom:391.000000px;}
.y3d{bottom:394.830000px;}
.yf5{bottom:396.000000px;}
.y1f{bottom:398.000000px;}
.yba{bottom:400.090000px;}
.y80{bottom:402.940000px;}
.y66{bottom:404.000000px;}
.y3c{bottom:410.830000px;}
.yf4{bottom:414.000000px;}
.y7f{bottom:414.940000px;}
.y1e{bottom:416.000000px;}
.yb9{bottom:418.090000px;}
.y65{bottom:420.000000px;}
.y3b{bottom:422.830000px;}
.yf3{bottom:432.000000px;}
.y1d{bottom:434.000000px;}
.y64{bottom:436.000000px;}
.y3a{bottom:438.830000px;}
.yf2{bottom:450.000000px;}
.y1c{bottom:452.000000px;}
.y39{bottom:454.830000px;}
.y38{bottom:466.830000px;}
.y63{bottom:468.000000px;}
.y1b{bottom:470.000000px;}
.y0{bottom:470.500000px;}
.y62{bottom:480.000000px;}
.yf1{bottom:486.000000px;}
.y1a{bottom:488.000000px;}
.y61{bottom:492.000000px;}
.yf0{bottom:498.000000px;}
.y19{bottom:506.000000px;}
.y60{bottom:508.000000px;}
.yb3{bottom:514.000000px;}
.y18{bottom:524.000000px;}
.yef{bottom:530.000000px;}
.yb2{bottom:532.000000px;}
.y5f{bottom:540.000000px;}
.y17{bottom:542.000000px;}
.yee{bottom:546.000000px;}
.yb1{bottom:550.000000px;}
.y5e{bottom:552.000000px;}
.y16{bottom:560.000000px;}
.yed{bottom:562.000000px;}
.yb0{bottom:568.000000px;}
.y5d{bottom:570.000000px;}
.y15{bottom:578.000000px;}
.yaf{bottom:586.000000px;}
.y5c{bottom:590.000000px;}
.y14{bottom:596.000000px;}
.yec{bottom:602.000000px;}
.yae{bottom:604.000000px;}
.y13{bottom:608.000000px;}
.yeb{bottom:618.000000px;}
.y7e{bottom:620.000000px;}
.yad{bottom:622.000000px;}
.y12{bottom:624.000000px;}
.y5b{bottom:626.000000px;}
.yea{bottom:630.000000px;}
.y7d{bottom:632.000000px;}
.y2{bottom:636.000000px;}
.y11{bottom:640.000000px;}
.y5a{bottom:644.000000px;}
.ye9{bottom:646.000000px;}
.y7c{bottom:648.000000px;}
.y10{bottom:656.000000px;}
.yac{bottom:658.000000px;}
.y7b{bottom:660.000000px;}
.y59{bottom:662.000000px;}
.yf{bottom:672.000000px;}
.y9a{bottom:674.000000px;}
.yab{bottom:676.000000px;}
.y7a{bottom:678.000000px;}
.y58{bottom:680.000000px;}
.y99{bottom:686.000000px;}
.ye{bottom:688.000000px;}
.ye8{bottom:690.000000px;}
.yaa{bottom:694.000000px;}
.y57{bottom:698.000000px;}
.y98{bottom:702.000000px;}
.yd{bottom:704.000000px;}
.ye7{bottom:706.000000px;}
.ya9{bottom:712.000000px;}
.y97{bottom:714.000000px;}
.y56{bottom:716.000000px;}
.yc{bottom:720.000000px;}
.ye6{bottom:722.000000px;}
.ya8{bottom:730.000000px;}
.y96{bottom:732.000000px;}
.y55{bottom:734.000000px;}
.yb{bottom:736.000000px;}
.ye5{bottom:738.000000px;}
.ya7{bottom:742.000000px;}
.ya{bottom:748.000000px;}
.ye4{bottom:750.000000px;}
.y54{bottom:752.000000px;}
.ya6{bottom:758.000000px;}
.y9{bottom:760.000000px;}
.y37{bottom:766.000000px;}
.ye3{bottom:768.000000px;}
.y53{bottom:770.000000px;}
.ya5{bottom:774.000000px;}
.y1{bottom:776.000000px;}
.y36{bottom:778.000000px;}
.y8{bottom:788.000000px;}
.y35{bottom:790.000000px;}
.y33{bottom:808.000000px;}
.h6{height:56.367840px;}
.h7{height:59.156250px;}
.h4{height:69.015625px;}
.h3{height:70.459800px;}
.h2{height:93.946400px;}
.h1{height:150.500000px;}
.h5{height:770.500000px;}
.h0{height:842.000000px;}
.w1{width:450.500000px;}
.w2{width:523.500000px;}
.w0{width:595.000000px;}
.x1{left:36.000000px;}
.x2{left:71.340000px;}
.x0{left:72.500000px;}
.x5{left:241.810000px;}
.x4{left:245.000000px;}
.x3{left:254.980000px;}
.x7{left:543.660000px;}
.x6{left:550.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs3{font-size:64.000000pt;}
.fs2{font-size:74.666667pt;}
.fs1{font-size:80.000000pt;}
.fs0{font-size:106.666667pt;}
.y6{bottom:22.666667pt;}
.y34{bottom:29.333333pt;}
.y7{bottom:47.333333pt;}
.y32{bottom:72.000000pt;}
.y52{bottom:73.106667pt;}
.ye2{bottom:74.253333pt;}
.ycd{bottom:77.453333pt;}
.ya4{bottom:80.000000pt;}
.y79{bottom:93.333333pt;}
.y95{bottom:94.586667pt;}
.y31{bottom:96.000000pt;}
.y51{bottom:97.106667pt;}
.ye1{bottom:98.253333pt;}
.ya3{bottom:101.333333pt;}
.ycc{bottom:101.453333pt;}
.y78{bottom:117.333333pt;}
.y94{bottom:118.586667pt;}
.y50{bottom:121.106667pt;}
.ye0{bottom:122.253333pt;}
.y30{bottom:122.666667pt;}
.ycb{bottom:125.453333pt;}
.y77{bottom:141.333333pt;}
.y93{bottom:142.586667pt;}
.ya2{bottom:144.000000pt;}
.y4f{bottom:145.106667pt;}
.ydf{bottom:146.253333pt;}
.y2f{bottom:146.666667pt;}
.yca{bottom:149.453333pt;}
.ya1{bottom:160.000000pt;}
.yde{bottom:162.253333pt;}
.y76{bottom:165.333333pt;}
.y92{bottom:166.586667pt;}
.y4e{bottom:169.106667pt;}
.y2e{bottom:170.666667pt;}
.yc9{bottom:173.453333pt;}
.ya0{bottom:176.000000pt;}
.ydd{bottom:183.586667pt;}
.y75{bottom:189.333333pt;}
.y91{bottom:190.586667pt;}
.y4d{bottom:193.106667pt;}
.y2d{bottom:194.666667pt;}
.y9f{bottom:197.333333pt;}
.yc8{bottom:197.453333pt;}
.ydc{bottom:204.920000pt;}
.y74{bottom:213.333333pt;}
.y90{bottom:214.586667pt;}
.y4c{bottom:217.106667pt;}
.y2c{bottom:218.666667pt;}
.yc7{bottom:221.453333pt;}
.ydb{bottom:226.253333pt;}
.y9e{bottom:234.666667pt;}
.y73{bottom:237.333333pt;}
.y8f{bottom:238.586667pt;}
.y4b{bottom:241.106667pt;}
.yb8{bottom:241.200000pt;}
.y2b{bottom:242.666667pt;}
.yc6{bottom:245.453333pt;}
.yda{bottom:247.586667pt;}
.y9d{bottom:250.666667pt;}
.y72{bottom:261.333333pt;}
.y8e{bottom:262.586667pt;}
.yff{bottom:264.000000pt;}
.y4a{bottom:265.106667pt;}
.yb7{bottom:265.200000pt;}
.y2a{bottom:266.666667pt;}
.yd9{bottom:268.920000pt;}
.yc5{bottom:269.453333pt;}
.y9c{bottom:272.000000pt;}
.yfe{bottom:280.000000pt;}
.y71{bottom:285.333333pt;}
.y8d{bottom:286.586667pt;}
.y49{bottom:289.106667pt;}
.yb6{bottom:289.200000pt;}
.yd8{bottom:290.253333pt;}
.y29{bottom:290.666667pt;}
.y9b{bottom:293.333333pt;}
.yc4{bottom:293.453333pt;}
.yfd{bottom:296.000000pt;}
.y8c{bottom:302.586667pt;}
.y70{bottom:309.333333pt;}
.yd7{bottom:311.586667pt;}
.y48{bottom:313.106667pt;}
.yb5{bottom:313.200000pt;}
.y28{bottom:314.666667pt;}
.yfc{bottom:317.333333pt;}
.yc3{bottom:317.453333pt;}
.y8b{bottom:323.920000pt;}
.y47{bottom:329.106667pt;}
.yd6{bottom:332.920000pt;}
.y6f{bottom:333.333333pt;}
.yb4{bottom:337.200000pt;}
.y27{bottom:338.666667pt;}
.yc2{bottom:341.453333pt;}
.y8a{bottom:345.253333pt;}
.yd5{bottom:348.920000pt;}
.y46{bottom:350.440000pt;}
.y6e{bottom:357.333333pt;}
.y26{bottom:362.666667pt;}
.yd4{bottom:364.920000pt;}
.yc1{bottom:365.453333pt;}
.y89{bottom:366.586667pt;}
.y45{bottom:371.773333pt;}
.y6d{bottom:381.333333pt;}
.yfb{bottom:384.000000pt;}
.yd3{bottom:386.253333pt;}
.y25{bottom:386.666667pt;}
.y88{bottom:387.920000pt;}
.yc0{bottom:389.453333pt;}
.y44{bottom:393.106667pt;}
.yd2{bottom:402.253333pt;}
.y6c{bottom:405.333333pt;}
.yfa{bottom:408.000000pt;}
.y87{bottom:409.253333pt;}
.y24{bottom:410.666667pt;}
.ybf{bottom:413.453333pt;}
.y43{bottom:414.440000pt;}
.yd1{bottom:423.586667pt;}
.y86{bottom:425.253333pt;}
.y6b{bottom:429.333333pt;}
.yf9{bottom:432.000000pt;}
.y23{bottom:434.666667pt;}
.y42{bottom:435.773333pt;}
.ybe{bottom:437.453333pt;}
.yd0{bottom:439.586667pt;}
.y85{bottom:441.253333pt;}
.y5{bottom:451.333333pt;}
.y41{bottom:451.773333pt;}
.y6a{bottom:453.333333pt;}
.yf8{bottom:456.000000pt;}
.y22{bottom:458.666667pt;}
.ycf{bottom:460.920000pt;}
.ybd{bottom:461.453333pt;}
.y84{bottom:462.586667pt;}
.y40{bottom:467.773333pt;}
.yce{bottom:476.920000pt;}
.y69{bottom:477.333333pt;}
.y83{bottom:478.586667pt;}
.yf7{bottom:480.000000pt;}
.y4{bottom:481.333333pt;}
.y21{bottom:482.666667pt;}
.ybc{bottom:485.453333pt;}
.y3f{bottom:489.106667pt;}
.y82{bottom:499.920000pt;}
.y68{bottom:501.333333pt;}
.yf6{bottom:504.000000pt;}
.y20{bottom:506.666667pt;}
.ybb{bottom:509.453333pt;}
.y3e{bottom:510.440000pt;}
.y81{bottom:515.920000pt;}
.y67{bottom:517.333333pt;}
.y3{bottom:521.333333pt;}
.y3d{bottom:526.440000pt;}
.yf5{bottom:528.000000pt;}
.y1f{bottom:530.666667pt;}
.yba{bottom:533.453333pt;}
.y80{bottom:537.253333pt;}
.y66{bottom:538.666667pt;}
.y3c{bottom:547.773333pt;}
.yf4{bottom:552.000000pt;}
.y7f{bottom:553.253333pt;}
.y1e{bottom:554.666667pt;}
.yb9{bottom:557.453333pt;}
.y65{bottom:560.000000pt;}
.y3b{bottom:563.773333pt;}
.yf3{bottom:576.000000pt;}
.y1d{bottom:578.666667pt;}
.y64{bottom:581.333333pt;}
.y3a{bottom:585.106667pt;}
.yf2{bottom:600.000000pt;}
.y1c{bottom:602.666667pt;}
.y39{bottom:606.440000pt;}
.y38{bottom:622.440000pt;}
.y63{bottom:624.000000pt;}
.y1b{bottom:626.666667pt;}
.y0{bottom:627.333333pt;}
.y62{bottom:640.000000pt;}
.yf1{bottom:648.000000pt;}
.y1a{bottom:650.666667pt;}
.y61{bottom:656.000000pt;}
.yf0{bottom:664.000000pt;}
.y19{bottom:674.666667pt;}
.y60{bottom:677.333333pt;}
.yb3{bottom:685.333333pt;}
.y18{bottom:698.666667pt;}
.yef{bottom:706.666667pt;}
.yb2{bottom:709.333333pt;}
.y5f{bottom:720.000000pt;}
.y17{bottom:722.666667pt;}
.yee{bottom:728.000000pt;}
.yb1{bottom:733.333333pt;}
.y5e{bottom:736.000000pt;}
.y16{bottom:746.666667pt;}
.yed{bottom:749.333333pt;}
.yb0{bottom:757.333333pt;}
.y5d{bottom:760.000000pt;}
.y15{bottom:770.666667pt;}
.yaf{bottom:781.333333pt;}
.y5c{bottom:786.666667pt;}
.y14{bottom:794.666667pt;}
.yec{bottom:802.666667pt;}
.yae{bottom:805.333333pt;}
.y13{bottom:810.666667pt;}
.yeb{bottom:824.000000pt;}
.y7e{bottom:826.666667pt;}
.yad{bottom:829.333333pt;}
.y12{bottom:832.000000pt;}
.y5b{bottom:834.666667pt;}
.yea{bottom:840.000000pt;}
.y7d{bottom:842.666667pt;}
.y2{bottom:848.000000pt;}
.y11{bottom:853.333333pt;}
.y5a{bottom:858.666667pt;}
.ye9{bottom:861.333333pt;}
.y7c{bottom:864.000000pt;}
.y10{bottom:874.666667pt;}
.yac{bottom:877.333333pt;}
.y7b{bottom:880.000000pt;}
.y59{bottom:882.666667pt;}
.yf{bottom:896.000000pt;}
.y9a{bottom:898.666667pt;}
.yab{bottom:901.333333pt;}
.y7a{bottom:904.000000pt;}
.y58{bottom:906.666667pt;}
.y99{bottom:914.666667pt;}
.ye{bottom:917.333333pt;}
.ye8{bottom:920.000000pt;}
.yaa{bottom:925.333333pt;}
.y57{bottom:930.666667pt;}
.y98{bottom:936.000000pt;}
.yd{bottom:938.666667pt;}
.ye7{bottom:941.333333pt;}
.ya9{bottom:949.333333pt;}
.y97{bottom:952.000000pt;}
.y56{bottom:954.666667pt;}
.yc{bottom:960.000000pt;}
.ye6{bottom:962.666667pt;}
.ya8{bottom:973.333333pt;}
.y96{bottom:976.000000pt;}
.y55{bottom:978.666667pt;}
.yb{bottom:981.333333pt;}
.ye5{bottom:984.000000pt;}
.ya7{bottom:989.333333pt;}
.ya{bottom:997.333333pt;}
.ye4{bottom:1000.000000pt;}
.y54{bottom:1002.666667pt;}
.ya6{bottom:1010.666667pt;}
.y9{bottom:1013.333333pt;}
.y37{bottom:1021.333333pt;}
.ye3{bottom:1024.000000pt;}
.y53{bottom:1026.666667pt;}
.ya5{bottom:1032.000000pt;}
.y1{bottom:1034.666667pt;}
.y36{bottom:1037.333333pt;}
.y8{bottom:1050.666667pt;}
.y35{bottom:1053.333333pt;}
.y33{bottom:1077.333333pt;}
.h6{height:75.157120pt;}
.h7{height:78.875000pt;}
.h4{height:92.020833pt;}
.h3{height:93.946400pt;}
.h2{height:125.261866pt;}
.h1{height:200.666667pt;}
.h5{height:1027.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:600.666667pt;}
.w2{width:698.000000pt;}
.w0{width:793.333333pt;}
.x1{left:48.000000pt;}
.x2{left:95.120000pt;}
.x0{left:96.666667pt;}
.x5{left:322.413333pt;}
.x4{left:326.666667pt;}
.x3{left:339.973333pt;}
.x7{left:724.880000pt;}
.x6{left:733.773333pt;}
}
