.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc7{color:rgb(33,78,123);}
.fc4{color:rgb(102,0,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(255,0,0);}
.fc2{color:rgb(0,0,51);}
.fc6{color:rgb(66,184,55);}
.fc1{color:rgb(120,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:80.000000px;}
.fs1{font-size:160.000000px;}
.ye{bottom:17.000000px;}
.y28{bottom:31.000000px;}
.yf{bottom:44.500000px;}
.yd7{bottom:63.000000px;}
.yb5{bottom:64.420000px;}
.ya4{bottom:66.670000px;}
.y3a{bottom:69.950000px;}
.ye6{bottom:74.000000px;}
.y6e{bottom:79.980000px;}
.y23{bottom:80.040000px;}
.yd6{bottom:81.000000px;}
.ya3{bottom:84.670000px;}
.ye5{bottom:90.000000px;}
.y22{bottom:92.040000px;}
.y6d{bottom:97.980000px;}
.yd5{bottom:99.000000px;}
.ya2{bottom:102.670000px;}
.y21{bottom:104.040000px;}
.ye4{bottom:106.000000px;}
.y87{bottom:109.670000px;}
.y6c{bottom:115.980000px;}
.yd4{bottom:117.000000px;}
.ya1{bottom:120.670000px;}
.ye3{bottom:122.000000px;}
.y86{bottom:127.670000px;}
.y6b{bottom:133.980000px;}
.yd3{bottom:135.000000px;}
.y26{bottom:135.550000px;}
.ye2{bottom:138.000000px;}
.ya0{bottom:138.670000px;}
.y85{bottom:139.670000px;}
.y84{bottom:151.670000px;}
.y6a{bottom:151.980000px;}
.yd2{bottom:153.000000px;}
.ye1{bottom:154.000000px;}
.y9f{bottom:156.670000px;}
.y4c{bottom:162.950000px;}
.y20{bottom:169.040000px;}
.y69{bottom:169.980000px;}
.ye0{bottom:170.000000px;}
.yd1{bottom:171.000000px;}
.y9e{bottom:174.670000px;}
.ydf{bottom:186.000000px;}
.y68{bottom:187.980000px;}
.yd0{bottom:189.000000px;}
.y1f{bottom:189.040000px;}
.y4e{bottom:190.450000px;}
.y9d{bottom:192.670000px;}
.yde{bottom:202.000000px;}
.y67{bottom:205.980000px;}
.ycf{bottom:207.000000px;}
.y9c{bottom:210.670000px;}
.ydd{bottom:218.000000px;}
.y4b{bottom:223.950000px;}
.y66{bottom:223.980000px;}
.yce{bottom:225.000000px;}
.y9b{bottom:228.670000px;}
.ydc{bottom:230.000000px;}
.ycd{bottom:237.000000px;}
.y65{bottom:241.980000px;}
.ydb{bottom:242.000000px;}
.y4a{bottom:243.950000px;}
.y9a{bottom:246.670000px;}
.ycc{bottom:253.000000px;}
.yda{bottom:258.000000px;}
.y64{bottom:259.980000px;}
.y49{bottom:261.950000px;}
.y99{bottom:264.670000px;}
.ycb{bottom:269.000000px;}
.yd9{bottom:270.000000px;}
.y63{bottom:277.980000px;}
.y48{bottom:279.950000px;}
.y98{bottom:282.670000px;}
.yca{bottom:285.000000px;}
.y47{bottom:291.950000px;}
.yb4{bottom:292.000000px;}
.y62{bottom:295.980000px;}
.y97{bottom:300.670000px;}
.yc9{bottom:301.000000px;}
.y46{bottom:307.950000px;}
.yb3{bottom:310.000000px;}
.y61{bottom:313.980000px;}
.yc8{bottom:317.000000px;}
.y96{bottom:318.670000px;}
.y45{bottom:323.950000px;}
.yb2{bottom:328.000000px;}
.yc7{bottom:329.000000px;}
.y60{bottom:331.980000px;}
.y1e{bottom:336.520000px;}
.y95{bottom:336.670000px;}
.y44{bottom:339.950000px;}
.yc6{bottom:341.000000px;}
.yb1{bottom:346.000000px;}
.y5f{bottom:349.980000px;}
.y1d{bottom:354.520000px;}
.y94{bottom:354.670000px;}
.y43{bottom:355.950000px;}
.yc5{bottom:357.000000px;}
.y3b{bottom:360.500000px;}
.yb0{bottom:364.000000px;}
.y1c{bottom:366.520000px;}
.y5e{bottom:367.980000px;}
.y42{bottom:371.950000px;}
.y93{bottom:372.670000px;}
.yaf{bottom:382.000000px;}
.y88{bottom:383.500000px;}
.y41{bottom:383.950000px;}
.y92{bottom:384.670000px;}
.y5d{bottom:385.980000px;}
.yd{bottom:388.500000px;}
.y39{bottom:394.000000px;}
.y40{bottom:395.950000px;}
.y91{bottom:400.670000px;}
.y5c{bottom:403.980000px;}
.yc{bottom:406.500000px;}
.yae{bottom:410.000000px;}
.y3f{bottom:411.950000px;}
.y38{bottom:414.000000px;}
.y5b{bottom:415.980000px;}
.y90{bottom:416.670000px;}
.y83{bottom:417.000000px;}
.yc4{bottom:422.000000px;}
.yad{bottom:426.000000px;}
.y5a{bottom:431.980000px;}
.y37{bottom:432.000000px;}
.y8f{bottom:432.670000px;}
.yb{bottom:436.500000px;}
.y82{bottom:437.000000px;}
.yac{bottom:442.000000px;}
.y4d{bottom:443.450000px;}
.y59{bottom:447.980000px;}
.y8e{bottom:448.670000px;}
.y36{bottom:450.000000px;}
.ya{bottom:451.500000px;}
.y81{bottom:455.000000px;}
.yab{bottom:458.000000px;}
.yc3{bottom:460.000000px;}
.y9{bottom:461.500000px;}
.y35{bottom:462.000000px;}
.y58{bottom:463.980000px;}
.y8d{bottom:464.670000px;}
.y80{bottom:473.000000px;}
.yaa{bottom:474.000000px;}
.y8c{bottom:476.670000px;}
.y3e{bottom:476.950000px;}
.y34{bottom:478.000000px;}
.y57{bottom:479.980000px;}
.y8{bottom:484.000000px;}
.ya9{bottom:486.000000px;}
.y8b{bottom:488.670000px;}
.yc2{bottom:490.000000px;}
.y7f{bottom:491.000000px;}
.y7{bottom:494.000000px;}
.y56{bottom:495.980000px;}
.y3d{bottom:496.950000px;}
.ya8{bottom:498.000000px;}
.yc1{bottom:506.000000px;}
.y55{bottom:507.980000px;}
.y7e{bottom:509.000000px;}
.y33{bottom:510.000000px;}
.ya7{bottom:514.000000px;}
.y54{bottom:519.980000px;}
.ya5{bottom:520.170000px;}
.yc0{bottom:522.000000px;}
.y25{bottom:522.500000px;}
.y6{bottom:524.000000px;}
.y5{bottom:526.000000px;}
.y7d{bottom:527.000000px;}
.y53{bottom:535.980000px;}
.ybf{bottom:538.000000px;}
.y32{bottom:542.000000px;}
.y7c{bottom:545.000000px;}
.yb6{bottom:545.500000px;}
.y52{bottom:551.980000px;}
.y8a{bottom:553.670000px;}
.ybe{bottom:554.000000px;}
.y1b{bottom:556.000000px;}
.y31{bottom:558.000000px;}
.y7b{bottom:563.000000px;}
.y51{bottom:567.980000px;}
.ybd{bottom:570.000000px;}
.y89{bottom:573.670000px;}
.y30{bottom:574.000000px;}
.y1a{bottom:576.000000px;}
.ya6{bottom:579.000000px;}
.y7a{bottom:581.000000px;}
.y4{bottom:586.000000px;}
.y2f{bottom:590.000000px;}
.y19{bottom:594.000000px;}
.y79{bottom:599.000000px;}
.y6f{bottom:599.480000px;}
.ybc{bottom:602.000000px;}
.y2e{bottom:606.000000px;}
.y18{bottom:612.000000px;}
.y78{bottom:617.000000px;}
.ybb{bottom:618.000000px;}
.y2d{bottom:622.000000px;}
.y17{bottom:624.000000px;}
.yba{bottom:630.000000px;}
.y50{bottom:632.980000px;}
.y2c{bottom:634.000000px;}
.y77{bottom:635.000000px;}
.y16{bottom:640.000000px;}
.yb9{bottom:642.000000px;}
.y2b{bottom:646.000000px;}
.y4f{bottom:652.980000px;}
.y76{bottom:653.000000px;}
.y15{bottom:656.000000px;}
.yb8{bottom:658.000000px;}
.y2a{bottom:662.000000px;}
.y75{bottom:671.000000px;}
.y14{bottom:672.000000px;}
.y29{bottom:674.000000px;}
.y3{bottom:686.000000px;}
.y2{bottom:688.000000px;}
.y74{bottom:689.000000px;}
.yd8{bottom:689.500000px;}
.y1{bottom:703.000000px;}
.y13{bottom:704.000000px;}
.y73{bottom:707.000000px;}
.y0{bottom:712.500000px;}
.y12{bottom:716.000000px;}
.yb7{bottom:723.000000px;}
.y72{bottom:725.000000px;}
.y11{bottom:728.000000px;}
.y71{bottom:743.000000px;}
.y10{bottom:744.000000px;}
.y70{bottom:761.000000px;}
.y24{bottom:775.500000px;}
.y3c{bottom:779.000000px;}
.y27{bottom:799.000000px;}
.h2{height:46.973200px;}
.h6{height:56.367840px;}
.h9{height:59.156250px;}
.h7{height:69.015625px;}
.h5{height:70.459800px;}
.h1{height:84.500000px;}
.h4{height:93.946400px;}
.h3{height:187.892799px;}
.h8{height:797.500000px;}
.h0{height:842.000000px;}
.w1{width:277.500000px;}
.w2{width:540.000000px;}
.w0{width:595.000000px;}
.x0{left:55.000000px;}
.xa{left:57.000000px;}
.x6{left:72.030000px;}
.xb{left:218.800000px;}
.x8{left:227.820000px;}
.x5{left:231.350000px;}
.x3{left:243.040000px;}
.x9{left:245.000000px;}
.x7{left:269.150000px;}
.x1{left:276.080000px;}
.x4{left:291.940000px;}
.x2{left:296.110000px;}
.xd{left:524.660000px;}
.xc{left:531.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:106.666667pt;}
.fs1{font-size:213.333333pt;}
.ye{bottom:22.666667pt;}
.y28{bottom:41.333333pt;}
.yf{bottom:59.333333pt;}
.yd7{bottom:84.000000pt;}
.yb5{bottom:85.893333pt;}
.ya4{bottom:88.893333pt;}
.y3a{bottom:93.266667pt;}
.ye6{bottom:98.666667pt;}
.y6e{bottom:106.640000pt;}
.y23{bottom:106.720000pt;}
.yd6{bottom:108.000000pt;}
.ya3{bottom:112.893333pt;}
.ye5{bottom:120.000000pt;}
.y22{bottom:122.720000pt;}
.y6d{bottom:130.640000pt;}
.yd5{bottom:132.000000pt;}
.ya2{bottom:136.893333pt;}
.y21{bottom:138.720000pt;}
.ye4{bottom:141.333333pt;}
.y87{bottom:146.226667pt;}
.y6c{bottom:154.640000pt;}
.yd4{bottom:156.000000pt;}
.ya1{bottom:160.893333pt;}
.ye3{bottom:162.666667pt;}
.y86{bottom:170.226667pt;}
.y6b{bottom:178.640000pt;}
.yd3{bottom:180.000000pt;}
.y26{bottom:180.733333pt;}
.ye2{bottom:184.000000pt;}
.ya0{bottom:184.893333pt;}
.y85{bottom:186.226667pt;}
.y84{bottom:202.226667pt;}
.y6a{bottom:202.640000pt;}
.yd2{bottom:204.000000pt;}
.ye1{bottom:205.333333pt;}
.y9f{bottom:208.893333pt;}
.y4c{bottom:217.266667pt;}
.y20{bottom:225.386667pt;}
.y69{bottom:226.640000pt;}
.ye0{bottom:226.666667pt;}
.yd1{bottom:228.000000pt;}
.y9e{bottom:232.893333pt;}
.ydf{bottom:248.000000pt;}
.y68{bottom:250.640000pt;}
.yd0{bottom:252.000000pt;}
.y1f{bottom:252.053333pt;}
.y4e{bottom:253.933333pt;}
.y9d{bottom:256.893333pt;}
.yde{bottom:269.333333pt;}
.y67{bottom:274.640000pt;}
.ycf{bottom:276.000000pt;}
.y9c{bottom:280.893333pt;}
.ydd{bottom:290.666667pt;}
.y4b{bottom:298.600000pt;}
.y66{bottom:298.640000pt;}
.yce{bottom:300.000000pt;}
.y9b{bottom:304.893333pt;}
.ydc{bottom:306.666667pt;}
.ycd{bottom:316.000000pt;}
.y65{bottom:322.640000pt;}
.ydb{bottom:322.666667pt;}
.y4a{bottom:325.266667pt;}
.y9a{bottom:328.893333pt;}
.ycc{bottom:337.333333pt;}
.yda{bottom:344.000000pt;}
.y64{bottom:346.640000pt;}
.y49{bottom:349.266667pt;}
.y99{bottom:352.893333pt;}
.ycb{bottom:358.666667pt;}
.yd9{bottom:360.000000pt;}
.y63{bottom:370.640000pt;}
.y48{bottom:373.266667pt;}
.y98{bottom:376.893333pt;}
.yca{bottom:380.000000pt;}
.y47{bottom:389.266667pt;}
.yb4{bottom:389.333333pt;}
.y62{bottom:394.640000pt;}
.y97{bottom:400.893333pt;}
.yc9{bottom:401.333333pt;}
.y46{bottom:410.600000pt;}
.yb3{bottom:413.333333pt;}
.y61{bottom:418.640000pt;}
.yc8{bottom:422.666667pt;}
.y96{bottom:424.893333pt;}
.y45{bottom:431.933333pt;}
.yb2{bottom:437.333333pt;}
.yc7{bottom:438.666667pt;}
.y60{bottom:442.640000pt;}
.y1e{bottom:448.693333pt;}
.y95{bottom:448.893333pt;}
.y44{bottom:453.266667pt;}
.yc6{bottom:454.666667pt;}
.yb1{bottom:461.333333pt;}
.y5f{bottom:466.640000pt;}
.y1d{bottom:472.693333pt;}
.y94{bottom:472.893333pt;}
.y43{bottom:474.600000pt;}
.yc5{bottom:476.000000pt;}
.y3b{bottom:480.666667pt;}
.yb0{bottom:485.333333pt;}
.y1c{bottom:488.693333pt;}
.y5e{bottom:490.640000pt;}
.y42{bottom:495.933333pt;}
.y93{bottom:496.893333pt;}
.yaf{bottom:509.333333pt;}
.y88{bottom:511.333333pt;}
.y41{bottom:511.933333pt;}
.y92{bottom:512.893333pt;}
.y5d{bottom:514.640000pt;}
.yd{bottom:518.000000pt;}
.y39{bottom:525.333333pt;}
.y40{bottom:527.933333pt;}
.y91{bottom:534.226667pt;}
.y5c{bottom:538.640000pt;}
.yc{bottom:542.000000pt;}
.yae{bottom:546.666667pt;}
.y3f{bottom:549.266667pt;}
.y38{bottom:552.000000pt;}
.y5b{bottom:554.640000pt;}
.y90{bottom:555.560000pt;}
.y83{bottom:556.000000pt;}
.yc4{bottom:562.666667pt;}
.yad{bottom:568.000000pt;}
.y5a{bottom:575.973333pt;}
.y37{bottom:576.000000pt;}
.y8f{bottom:576.893333pt;}
.yb{bottom:582.000000pt;}
.y82{bottom:582.666667pt;}
.yac{bottom:589.333333pt;}
.y4d{bottom:591.266667pt;}
.y59{bottom:597.306667pt;}
.y8e{bottom:598.226667pt;}
.y36{bottom:600.000000pt;}
.ya{bottom:602.000000pt;}
.y81{bottom:606.666667pt;}
.yab{bottom:610.666667pt;}
.yc3{bottom:613.333333pt;}
.y9{bottom:615.333333pt;}
.y35{bottom:616.000000pt;}
.y58{bottom:618.640000pt;}
.y8d{bottom:619.560000pt;}
.y80{bottom:630.666667pt;}
.yaa{bottom:632.000000pt;}
.y8c{bottom:635.560000pt;}
.y3e{bottom:635.933333pt;}
.y34{bottom:637.333333pt;}
.y57{bottom:639.973333pt;}
.y8{bottom:645.333333pt;}
.ya9{bottom:648.000000pt;}
.y8b{bottom:651.560000pt;}
.yc2{bottom:653.333333pt;}
.y7f{bottom:654.666667pt;}
.y7{bottom:658.666667pt;}
.y56{bottom:661.306667pt;}
.y3d{bottom:662.600000pt;}
.ya8{bottom:664.000000pt;}
.yc1{bottom:674.666667pt;}
.y55{bottom:677.306667pt;}
.y7e{bottom:678.666667pt;}
.y33{bottom:680.000000pt;}
.ya7{bottom:685.333333pt;}
.y54{bottom:693.306667pt;}
.ya5{bottom:693.560000pt;}
.yc0{bottom:696.000000pt;}
.y25{bottom:696.666667pt;}
.y6{bottom:698.666667pt;}
.y5{bottom:701.333333pt;}
.y7d{bottom:702.666667pt;}
.y53{bottom:714.640000pt;}
.ybf{bottom:717.333333pt;}
.y32{bottom:722.666667pt;}
.y7c{bottom:726.666667pt;}
.yb6{bottom:727.333333pt;}
.y52{bottom:735.973333pt;}
.y8a{bottom:738.226667pt;}
.ybe{bottom:738.666667pt;}
.y1b{bottom:741.333333pt;}
.y31{bottom:744.000000pt;}
.y7b{bottom:750.666667pt;}
.y51{bottom:757.306667pt;}
.ybd{bottom:760.000000pt;}
.y89{bottom:764.893333pt;}
.y30{bottom:765.333333pt;}
.y1a{bottom:768.000000pt;}
.ya6{bottom:772.000000pt;}
.y7a{bottom:774.666667pt;}
.y4{bottom:781.333333pt;}
.y2f{bottom:786.666667pt;}
.y19{bottom:792.000000pt;}
.y79{bottom:798.666667pt;}
.y6f{bottom:799.306667pt;}
.ybc{bottom:802.666667pt;}
.y2e{bottom:808.000000pt;}
.y18{bottom:816.000000pt;}
.y78{bottom:822.666667pt;}
.ybb{bottom:824.000000pt;}
.y2d{bottom:829.333333pt;}
.y17{bottom:832.000000pt;}
.yba{bottom:840.000000pt;}
.y50{bottom:843.973333pt;}
.y2c{bottom:845.333333pt;}
.y77{bottom:846.666667pt;}
.y16{bottom:853.333333pt;}
.yb9{bottom:856.000000pt;}
.y2b{bottom:861.333333pt;}
.y4f{bottom:870.640000pt;}
.y76{bottom:870.666667pt;}
.y15{bottom:874.666667pt;}
.yb8{bottom:877.333333pt;}
.y2a{bottom:882.666667pt;}
.y75{bottom:894.666667pt;}
.y14{bottom:896.000000pt;}
.y29{bottom:898.666667pt;}
.y3{bottom:914.666667pt;}
.y2{bottom:917.333333pt;}
.y74{bottom:918.666667pt;}
.yd8{bottom:919.333333pt;}
.y1{bottom:937.333333pt;}
.y13{bottom:938.666667pt;}
.y73{bottom:942.666667pt;}
.y0{bottom:950.000000pt;}
.y12{bottom:954.666667pt;}
.yb7{bottom:964.000000pt;}
.y72{bottom:966.666667pt;}
.y11{bottom:970.666667pt;}
.y71{bottom:990.666667pt;}
.y10{bottom:992.000000pt;}
.y70{bottom:1014.666667pt;}
.y24{bottom:1034.000000pt;}
.y3c{bottom:1038.666667pt;}
.y27{bottom:1065.333333pt;}
.h2{height:62.630933pt;}
.h6{height:75.157120pt;}
.h9{height:78.875000pt;}
.h7{height:92.020833pt;}
.h5{height:93.946400pt;}
.h1{height:112.666667pt;}
.h4{height:125.261866pt;}
.h3{height:250.523733pt;}
.h8{height:1063.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:370.000000pt;}
.w2{width:720.000000pt;}
.w0{width:793.333333pt;}
.x0{left:73.333333pt;}
.xa{left:76.000000pt;}
.x6{left:96.040000pt;}
.xb{left:291.733333pt;}
.x8{left:303.760000pt;}
.x5{left:308.466667pt;}
.x3{left:324.053333pt;}
.x9{left:326.666667pt;}
.x7{left:358.866667pt;}
.x1{left:368.106667pt;}
.x4{left:389.253333pt;}
.x2{left:394.813333pt;}
.xd{left:699.546667pt;}
.xc{left:708.440000pt;}
}
