.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(33,78,123);}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:48.000000px;}
.fs3{font-size:56.000000px;}
.fs2{font-size:60.000000px;}
.fs0{font-size:80.000000px;}
.fs1{font-size:100.000000px;}
.y8{bottom:17.000000px;}
.y1b{bottom:22.000000px;}
.y9{bottom:35.500000px;}
.y19{bottom:38.490000px;}
.y61{bottom:50.310000px;}
.y27{bottom:53.690000px;}
.y18{bottom:56.490000px;}
.y60{bottom:68.310000px;}
.y26{bottom:71.690000px;}
.y17{bottom:74.490000px;}
.y5f{bottom:86.310000px;}
.y16{bottom:86.490000px;}
.y25{bottom:89.690000px;}
.y5e{bottom:104.310000px;}
.y15{bottom:104.490000px;}
.y24{bottom:107.690000px;}
.y5d{bottom:116.310000px;}
.y23{bottom:119.690000px;}
.y14{bottom:124.490000px;}
.y5c{bottom:134.310000px;}
.y22{bottom:137.690000px;}
.y5b{bottom:152.310000px;}
.y82{bottom:154.000000px;}
.y21{bottom:157.690000px;}
.y81{bottom:166.000000px;}
.y5a{bottom:170.310000px;}
.y47{bottom:174.130000px;}
.y59{bottom:182.310000px;}
.y80{bottom:184.000000px;}
.y46{bottom:186.130000px;}
.y7f{bottom:196.000000px;}
.y58{bottom:200.310000px;}
.y45{bottom:204.130000px;}
.y7e{bottom:214.000000px;}
.y44{bottom:216.130000px;}
.y57{bottom:220.310000px;}
.y7d{bottom:234.000000px;}
.y43{bottom:234.130000px;}
.y56{bottom:238.310000px;}
.y7c{bottom:252.000000px;}
.y42{bottom:254.130000px;}
.y55{bottom:256.310000px;}
.y54{bottom:268.310000px;}
.y7b{bottom:270.000000px;}
.y41{bottom:272.130000px;}
.y7a{bottom:282.000000px;}
.y53{bottom:286.310000px;}
.y40{bottom:290.130000px;}
.y7{bottom:291.000000px;}
.y79{bottom:300.000000px;}
.y3f{bottom:302.130000px;}
.y13{bottom:302.880000px;}
.y52{bottom:304.310000px;}
.y6{bottom:313.500000px;}
.y78{bottom:318.000000px;}
.y3e{bottom:320.130000px;}
.y12{bottom:320.880000px;}
.y51{bottom:322.310000px;}
.y77{bottom:336.000000px;}
.y3d{bottom:338.130000px;}
.y50{bottom:340.310000px;}
.y20{bottom:346.080000px;}
.y5{bottom:351.000000px;}
.y76{bottom:354.000000px;}
.y3c{bottom:356.130000px;}
.y4f{bottom:358.310000px;}
.y1f{bottom:364.080000px;}
.y75{bottom:372.000000px;}
.y3b{bottom:374.130000px;}
.y4e{bottom:376.310000px;}
.y4{bottom:381.000000px;}
.y74{bottom:390.000000px;}
.y3a{bottom:392.130000px;}
.y4d{bottom:394.310000px;}
.y39{bottom:404.130000px;}
.y73{bottom:408.000000px;}
.y3{bottom:411.000000px;}
.y4c{bottom:412.310000px;}
.y38{bottom:422.130000px;}
.y4b{bottom:424.310000px;}
.y72{bottom:426.000000px;}
.y37{bottom:440.130000px;}
.y4a{bottom:442.310000px;}
.y71{bottom:444.000000px;}
.y49{bottom:460.310000px;}
.y70{bottom:462.000000px;}
.y48{bottom:478.310000px;}
.y6f{bottom:480.000000px;}
.y0{bottom:490.500000px;}
.y6e{bottom:492.000000px;}
.y11{bottom:497.440000px;}
.y36{bottom:504.000000px;}
.y6d{bottom:510.000000px;}
.y10{bottom:515.440000px;}
.y35{bottom:516.000000px;}
.yf{bottom:527.440000px;}
.y6c{bottom:528.000000px;}
.y34{bottom:534.000000px;}
.y33{bottom:546.000000px;}
.y1e{bottom:552.040000px;}
.y6b{bottom:558.000000px;}
.y32{bottom:564.000000px;}
.y1d{bottom:570.040000px;}
.y6a{bottom:576.000000px;}
.y1c{bottom:582.040000px;}
.y31{bottom:584.000000px;}
.y69{bottom:596.000000px;}
.y30{bottom:602.000000px;}
.y68{bottom:614.000000px;}
.y2f{bottom:620.000000px;}
.y2e{bottom:632.000000px;}
.y2{bottom:636.000000px;}
.y67{bottom:644.000000px;}
.y2d{bottom:650.000000px;}
.y66{bottom:662.000000px;}
.y2c{bottom:668.000000px;}
.y65{bottom:680.000000px;}
.y2b{bottom:686.000000px;}
.y64{bottom:698.000000px;}
.y2a{bottom:704.000000px;}
.ye{bottom:710.000000px;}
.y63{bottom:716.000000px;}
.yd{bottom:722.000000px;}
.y62{bottom:734.000000px;}
.yc{bottom:740.000000px;}
.y29{bottom:752.000000px;}
.yb{bottom:758.000000px;}
.y28{bottom:770.000000px;}
.y1{bottom:776.000000px;}
.ya{bottom:788.000000px;}
.y1a{bottom:808.000000px;}
.h7{height:56.367840px;}
.h8{height:59.156250px;}
.h5{height:69.015625px;}
.h4{height:70.459800px;}
.h2{height:93.946400px;}
.h3{height:117.433000px;}
.h1{height:130.500000px;}
.h6{height:770.500000px;}
.h0{height:842.000000px;}
.w1{width:456.500000px;}
.w2{width:523.500000px;}
.w0{width:595.000000px;}
.x1{left:36.000000px;}
.x2{left:56.340000px;}
.x0{left:69.500000px;}
.x7{left:216.810000px;}
.x4{left:219.690000px;}
.x6{left:245.000000px;}
.x3{left:255.840000px;}
.x5{left:257.480000px;}
.x8{left:550.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs4{font-size:64.000000pt;}
.fs3{font-size:74.666667pt;}
.fs2{font-size:80.000000pt;}
.fs0{font-size:106.666667pt;}
.fs1{font-size:133.333333pt;}
.y8{bottom:22.666667pt;}
.y1b{bottom:29.333333pt;}
.y9{bottom:47.333333pt;}
.y19{bottom:51.320000pt;}
.y61{bottom:67.080000pt;}
.y27{bottom:71.586667pt;}
.y18{bottom:75.320000pt;}
.y60{bottom:91.080000pt;}
.y26{bottom:95.586667pt;}
.y17{bottom:99.320000pt;}
.y5f{bottom:115.080000pt;}
.y16{bottom:115.320000pt;}
.y25{bottom:119.586667pt;}
.y5e{bottom:139.080000pt;}
.y15{bottom:139.320000pt;}
.y24{bottom:143.586667pt;}
.y5d{bottom:155.080000pt;}
.y23{bottom:159.586667pt;}
.y14{bottom:165.986667pt;}
.y5c{bottom:179.080000pt;}
.y22{bottom:183.586667pt;}
.y5b{bottom:203.080000pt;}
.y82{bottom:205.333333pt;}
.y21{bottom:210.253333pt;}
.y81{bottom:221.333333pt;}
.y5a{bottom:227.080000pt;}
.y47{bottom:232.173333pt;}
.y59{bottom:243.080000pt;}
.y80{bottom:245.333333pt;}
.y46{bottom:248.173333pt;}
.y7f{bottom:261.333333pt;}
.y58{bottom:267.080000pt;}
.y45{bottom:272.173333pt;}
.y7e{bottom:285.333333pt;}
.y44{bottom:288.173333pt;}
.y57{bottom:293.746667pt;}
.y7d{bottom:312.000000pt;}
.y43{bottom:312.173333pt;}
.y56{bottom:317.746667pt;}
.y7c{bottom:336.000000pt;}
.y42{bottom:338.840000pt;}
.y55{bottom:341.746667pt;}
.y54{bottom:357.746667pt;}
.y7b{bottom:360.000000pt;}
.y41{bottom:362.840000pt;}
.y7a{bottom:376.000000pt;}
.y53{bottom:381.746667pt;}
.y40{bottom:386.840000pt;}
.y7{bottom:388.000000pt;}
.y79{bottom:400.000000pt;}
.y3f{bottom:402.840000pt;}
.y13{bottom:403.840000pt;}
.y52{bottom:405.746667pt;}
.y6{bottom:418.000000pt;}
.y78{bottom:424.000000pt;}
.y3e{bottom:426.840000pt;}
.y12{bottom:427.840000pt;}
.y51{bottom:429.746667pt;}
.y77{bottom:448.000000pt;}
.y3d{bottom:450.840000pt;}
.y50{bottom:453.746667pt;}
.y20{bottom:461.440000pt;}
.y5{bottom:468.000000pt;}
.y76{bottom:472.000000pt;}
.y3c{bottom:474.840000pt;}
.y4f{bottom:477.746667pt;}
.y1f{bottom:485.440000pt;}
.y75{bottom:496.000000pt;}
.y3b{bottom:498.840000pt;}
.y4e{bottom:501.746667pt;}
.y4{bottom:508.000000pt;}
.y74{bottom:520.000000pt;}
.y3a{bottom:522.840000pt;}
.y4d{bottom:525.746667pt;}
.y39{bottom:538.840000pt;}
.y73{bottom:544.000000pt;}
.y3{bottom:548.000000pt;}
.y4c{bottom:549.746667pt;}
.y38{bottom:562.840000pt;}
.y4b{bottom:565.746667pt;}
.y72{bottom:568.000000pt;}
.y37{bottom:586.840000pt;}
.y4a{bottom:589.746667pt;}
.y71{bottom:592.000000pt;}
.y49{bottom:613.746667pt;}
.y70{bottom:616.000000pt;}
.y48{bottom:637.746667pt;}
.y6f{bottom:640.000000pt;}
.y0{bottom:654.000000pt;}
.y6e{bottom:656.000000pt;}
.y11{bottom:663.253333pt;}
.y36{bottom:672.000000pt;}
.y6d{bottom:680.000000pt;}
.y10{bottom:687.253333pt;}
.y35{bottom:688.000000pt;}
.yf{bottom:703.253333pt;}
.y6c{bottom:704.000000pt;}
.y34{bottom:712.000000pt;}
.y33{bottom:728.000000pt;}
.y1e{bottom:736.053333pt;}
.y6b{bottom:744.000000pt;}
.y32{bottom:752.000000pt;}
.y1d{bottom:760.053333pt;}
.y6a{bottom:768.000000pt;}
.y1c{bottom:776.053333pt;}
.y31{bottom:778.666667pt;}
.y69{bottom:794.666667pt;}
.y30{bottom:802.666667pt;}
.y68{bottom:818.666667pt;}
.y2f{bottom:826.666667pt;}
.y2e{bottom:842.666667pt;}
.y2{bottom:848.000000pt;}
.y67{bottom:858.666667pt;}
.y2d{bottom:866.666667pt;}
.y66{bottom:882.666667pt;}
.y2c{bottom:890.666667pt;}
.y65{bottom:906.666667pt;}
.y2b{bottom:914.666667pt;}
.y64{bottom:930.666667pt;}
.y2a{bottom:938.666667pt;}
.ye{bottom:946.666667pt;}
.y63{bottom:954.666667pt;}
.yd{bottom:962.666667pt;}
.y62{bottom:978.666667pt;}
.yc{bottom:986.666667pt;}
.y29{bottom:1002.666667pt;}
.yb{bottom:1010.666667pt;}
.y28{bottom:1026.666667pt;}
.y1{bottom:1034.666667pt;}
.ya{bottom:1050.666667pt;}
.y1a{bottom:1077.333333pt;}
.h7{height:75.157120pt;}
.h8{height:78.875000pt;}
.h5{height:92.020833pt;}
.h4{height:93.946400pt;}
.h2{height:125.261866pt;}
.h3{height:156.577333pt;}
.h1{height:174.000000pt;}
.h6{height:1027.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:608.666667pt;}
.w2{width:698.000000pt;}
.w0{width:793.333333pt;}
.x1{left:48.000000pt;}
.x2{left:75.120000pt;}
.x0{left:92.666667pt;}
.x7{left:289.080000pt;}
.x4{left:292.920000pt;}
.x6{left:326.666667pt;}
.x3{left:341.120000pt;}
.x5{left:343.306667pt;}
.x8{left:733.773333pt;}
}
