.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:-0.076896px;}
.ls3{letter-spacing:-0.044856px;}
.ls2{letter-spacing:-0.012000px;}
.ls1{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1{word-spacing:-0.134568px;}
.ws0{word-spacing:0.000000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs3{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs2{font-size:120.000000px;}
.y11{bottom:16.000000px;}
.y10{bottom:52.380000px;}
.yf{bottom:313.928460px;}
.ye{bottom:335.106900px;}
.yd{bottom:361.620000px;}
.yc{bottom:401.280000px;}
.yb{bottom:435.597900px;}
.y0{bottom:453.000000px;}
.ya{bottom:453.300000px;}
.y9{bottom:557.063160px;}
.y8{bottom:578.177520px;}
.y7{bottom:599.355960px;}
.y6{bottom:620.470320px;}
.y5{bottom:641.648760px;}
.y4{bottom:662.827200px;}
.y3{bottom:683.941560px;}
.y2{bottom:705.120000px;}
.y1{bottom:740.820000px;}
.h5{height:29.272852px;}
.h2{height:43.804688px;}
.h6{height:69.015625px;}
.h3{height:73.372852px;}
.h1{height:98.000000px;}
.h4{height:137.402344px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x5{left:125.160000px;}
.x0{left:135.000000px;}
.x8{left:253.000000px;}
.x4{left:256.020000px;}
.x6{left:267.354060px;}
.x1{left:279.180000px;}
.x2{left:306.000000px;}
.x3{left:477.000000px;}
.x7{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:-0.102528pt;}
.ls3{letter-spacing:-0.059808pt;}
.ls2{letter-spacing:-0.016000pt;}
.ls1{letter-spacing:0.000000pt;}
.ws1{word-spacing:-0.179424pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:58.560000pt;}
.fs3{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs2{font-size:160.000000pt;}
.y11{bottom:21.333333pt;}
.y10{bottom:69.840000pt;}
.yf{bottom:418.571280pt;}
.ye{bottom:446.809200pt;}
.yd{bottom:482.160000pt;}
.yc{bottom:535.040000pt;}
.yb{bottom:580.797200pt;}
.y0{bottom:604.000000pt;}
.ya{bottom:604.400000pt;}
.y9{bottom:742.750880pt;}
.y8{bottom:770.903360pt;}
.y7{bottom:799.141280pt;}
.y6{bottom:827.293760pt;}
.y5{bottom:855.531680pt;}
.y4{bottom:883.769600pt;}
.y3{bottom:911.922080pt;}
.y2{bottom:940.160000pt;}
.y1{bottom:987.760000pt;}
.h5{height:39.030469pt;}
.h2{height:58.406250pt;}
.h6{height:92.020833pt;}
.h3{height:97.830469pt;}
.h1{height:130.666667pt;}
.h4{height:183.203125pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x5{left:166.880000pt;}
.x0{left:180.000000pt;}
.x8{left:337.333333pt;}
.x4{left:341.360000pt;}
.x6{left:356.472080pt;}
.x1{left:372.240000pt;}
.x2{left:408.000000pt;}
.x3{left:636.000000pt;}
.x7{left:673.040000pt;}
}
