.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls8{letter-spacing:-0.105600px;}
.ls13{letter-spacing:-0.096000px;}
.lsd{letter-spacing:-0.057600px;}
.ls12{letter-spacing:-0.048000px;}
.ls6{letter-spacing:-0.043200px;}
.ls4{letter-spacing:-0.036000px;}
.lsf{letter-spacing:-0.033600px;}
.ls5{letter-spacing:-0.028800px;}
.ls14{letter-spacing:-0.019200px;}
.ls16{letter-spacing:-0.014400px;}
.ls2{letter-spacing:-0.009600px;}
.lsa{letter-spacing:-0.004800px;}
.ls1{letter-spacing:0.000000px;}
.ls9{letter-spacing:0.004800px;}
.ls3{letter-spacing:0.009600px;}
.ls10{letter-spacing:0.014400px;}
.lsb{letter-spacing:0.019200px;}
.lsc{letter-spacing:0.024000px;}
.lse{letter-spacing:0.028800px;}
.ls11{letter-spacing:0.038400px;}
.ls0{letter-spacing:0.038448px;}
.ls15{letter-spacing:0.043200px;}
.ls7{letter-spacing:0.086400px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws19{word-spacing:-0.220800px;}
.ws1f{word-spacing:-0.134400px;}
.ws11{word-spacing:-0.124800px;}
.ws15{word-spacing:-0.115200px;}
.wsf{word-spacing:-0.110400px;}
.ws21{word-spacing:-0.105600px;}
.ws20{word-spacing:-0.100800px;}
.ws1d{word-spacing:-0.096000px;}
.ws17{word-spacing:-0.081600px;}
.wsa{word-spacing:-0.076800px;}
.ws16{word-spacing:-0.067200px;}
.ws14{word-spacing:-0.062400px;}
.ws13{word-spacing:-0.052800px;}
.ws3{word-spacing:-0.048000px;}
.ws1a{word-spacing:-0.043200px;}
.ws1e{word-spacing:-0.038400px;}
.ws1b{word-spacing:-0.028800px;}
.wsd{word-spacing:-0.024000px;}
.wsc{word-spacing:-0.019200px;}
.ws18{word-spacing:-0.014400px;}
.ws4{word-spacing:-0.009600px;}
.ws8{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.ws9{word-spacing:0.004800px;}
.wsb{word-spacing:0.009600px;}
.ws1c{word-spacing:0.019200px;}
.ws12{word-spacing:0.033600px;}
.ws1{word-spacing:0.048000px;}
.wse{word-spacing:0.057600px;}
.ws10{word-spacing:0.091200px;}
.ws6{word-spacing:0.105600px;}
.ws5{word-spacing:0.129600px;}
.ws2{word-spacing:0.156000px;}
.ws7{word-spacing:0.163200px;}
._0{margin-left:-1.248000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:48.000000px;}
.fs4{font-size:56.000000px;}
.fs2{font-size:60.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:96.000000px;}
.y15{bottom:16.000000px;}
.y14{bottom:39.000000px;}
.y43{bottom:88.020000px;}
.y42{bottom:101.820000px;}
.y41{bottom:115.620000px;}
.y40{bottom:129.420000px;}
.y3f{bottom:143.220000px;}
.y3e{bottom:157.020000px;}
.y3d{bottom:170.820000px;}
.y3c{bottom:184.620000px;}
.y3b{bottom:198.420000px;}
.y3a{bottom:212.220000px;}
.y39{bottom:226.020000px;}
.y38{bottom:239.820000px;}
.y37{bottom:253.620000px;}
.y36{bottom:267.420000px;}
.y35{bottom:281.220000px;}
.y34{bottom:295.020000px;}
.y13{bottom:301.500000px;}
.y33{bottom:308.820000px;}
.y12{bottom:318.720000px;}
.y32{bottom:322.620000px;}
.y31{bottom:336.420000px;}
.y11{bottom:337.980000px;}
.y30{bottom:350.220000px;}
.y2f{bottom:363.960000px;}
.y10{bottom:365.580000px;}
.y2e{bottom:377.760000px;}
.y2d{bottom:391.560000px;}
.yf{bottom:393.180000px;}
.y2c{bottom:405.360000px;}
.ye{bottom:418.800000px;}
.y2b{bottom:419.160000px;}
.y2a{bottom:432.960000px;}
.yd{bottom:436.020000px;}
.y29{bottom:446.760000px;}
.y0{bottom:449.500000px;}
.yc{bottom:450.000000px;}
.y28{bottom:460.560000px;}
.y27{bottom:474.360000px;}
.y26{bottom:488.160000px;}
.y25{bottom:501.960000px;}
.y24{bottom:515.760000px;}
.y23{bottom:529.560000px;}
.y22{bottom:543.360000px;}
.yb{bottom:550.800000px;}
.y21{bottom:557.160000px;}
.ya{bottom:568.020000px;}
.y20{bottom:570.960000px;}
.y1f{bottom:584.760000px;}
.y9{bottom:585.300000px;}
.y1e{bottom:598.560000px;}
.y8{bottom:602.520000px;}
.y1d{bottom:612.360000px;}
.y7{bottom:619.800000px;}
.y1c{bottom:626.160000px;}
.y6{bottom:637.020000px;}
.y1b{bottom:639.960000px;}
.y1a{bottom:653.760000px;}
.y5{bottom:654.300000px;}
.y19{bottom:667.560000px;}
.y4{bottom:671.520000px;}
.y18{bottom:681.360000px;}
.y3{bottom:688.800000px;}
.y17{bottom:695.160000px;}
.y2{bottom:706.020000px;}
.y16{bottom:708.840000px;}
.y44{bottom:708.960000px;}
.y1{bottom:741.120000px;}
.h5{height:53.250000px;}
.h7{height:54.960938px;}
.h3{height:68.701172px;}
.h6{height:69.015625px;}
.h2{height:73.372852px;}
.h1{height:98.000000px;}
.h4{height:109.921875px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x5{left:90.636000px;}
.x0{left:135.000000px;}
.x8{left:253.000000px;}
.x4{left:265.980000px;}
.x6{left:269.760000px;}
.x1{left:279.300000px;}
.x2{left:306.000000px;}
.x3{left:477.000000px;}
.x7{left:516.960000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls8{letter-spacing:-0.140800pt;}
.ls13{letter-spacing:-0.128000pt;}
.lsd{letter-spacing:-0.076800pt;}
.ls12{letter-spacing:-0.064000pt;}
.ls6{letter-spacing:-0.057600pt;}
.ls4{letter-spacing:-0.048000pt;}
.lsf{letter-spacing:-0.044800pt;}
.ls5{letter-spacing:-0.038400pt;}
.ls14{letter-spacing:-0.025600pt;}
.ls16{letter-spacing:-0.019200pt;}
.ls2{letter-spacing:-0.012800pt;}
.lsa{letter-spacing:-0.006400pt;}
.ls1{letter-spacing:0.000000pt;}
.ls9{letter-spacing:0.006400pt;}
.ls3{letter-spacing:0.012800pt;}
.ls10{letter-spacing:0.019200pt;}
.lsb{letter-spacing:0.025600pt;}
.lsc{letter-spacing:0.032000pt;}
.lse{letter-spacing:0.038400pt;}
.ls11{letter-spacing:0.051200pt;}
.ls0{letter-spacing:0.051264pt;}
.ls15{letter-spacing:0.057600pt;}
.ls7{letter-spacing:0.115200pt;}
.ws19{word-spacing:-0.294400pt;}
.ws1f{word-spacing:-0.179200pt;}
.ws11{word-spacing:-0.166400pt;}
.ws15{word-spacing:-0.153600pt;}
.wsf{word-spacing:-0.147200pt;}
.ws21{word-spacing:-0.140800pt;}
.ws20{word-spacing:-0.134400pt;}
.ws1d{word-spacing:-0.128000pt;}
.ws17{word-spacing:-0.108800pt;}
.wsa{word-spacing:-0.102400pt;}
.ws16{word-spacing:-0.089600pt;}
.ws14{word-spacing:-0.083200pt;}
.ws13{word-spacing:-0.070400pt;}
.ws3{word-spacing:-0.064000pt;}
.ws1a{word-spacing:-0.057600pt;}
.ws1e{word-spacing:-0.051200pt;}
.ws1b{word-spacing:-0.038400pt;}
.wsd{word-spacing:-0.032000pt;}
.wsc{word-spacing:-0.025600pt;}
.ws18{word-spacing:-0.019200pt;}
.ws4{word-spacing:-0.012800pt;}
.ws8{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.ws9{word-spacing:0.006400pt;}
.wsb{word-spacing:0.012800pt;}
.ws1c{word-spacing:0.025600pt;}
.ws12{word-spacing:0.044800pt;}
.ws1{word-spacing:0.064000pt;}
.wse{word-spacing:0.076800pt;}
.ws10{word-spacing:0.121600pt;}
.ws6{word-spacing:0.140800pt;}
.ws5{word-spacing:0.172800pt;}
.ws2{word-spacing:0.208000pt;}
.ws7{word-spacing:0.217600pt;}
._0{margin-left:-1.664000pt;}
.fs1{font-size:64.000000pt;}
.fs4{font-size:74.666667pt;}
.fs2{font-size:80.000000pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:128.000000pt;}
.y15{bottom:21.333333pt;}
.y14{bottom:52.000000pt;}
.y43{bottom:117.360000pt;}
.y42{bottom:135.760000pt;}
.y41{bottom:154.160000pt;}
.y40{bottom:172.560000pt;}
.y3f{bottom:190.960000pt;}
.y3e{bottom:209.360000pt;}
.y3d{bottom:227.760000pt;}
.y3c{bottom:246.160000pt;}
.y3b{bottom:264.560000pt;}
.y3a{bottom:282.960000pt;}
.y39{bottom:301.360000pt;}
.y38{bottom:319.760000pt;}
.y37{bottom:338.160000pt;}
.y36{bottom:356.560000pt;}
.y35{bottom:374.960000pt;}
.y34{bottom:393.360000pt;}
.y13{bottom:402.000000pt;}
.y33{bottom:411.760000pt;}
.y12{bottom:424.960000pt;}
.y32{bottom:430.160000pt;}
.y31{bottom:448.560000pt;}
.y11{bottom:450.640000pt;}
.y30{bottom:466.960000pt;}
.y2f{bottom:485.280000pt;}
.y10{bottom:487.440000pt;}
.y2e{bottom:503.680000pt;}
.y2d{bottom:522.080000pt;}
.yf{bottom:524.240000pt;}
.y2c{bottom:540.480000pt;}
.ye{bottom:558.400000pt;}
.y2b{bottom:558.880000pt;}
.y2a{bottom:577.280000pt;}
.yd{bottom:581.360000pt;}
.y29{bottom:595.680000pt;}
.y0{bottom:599.333333pt;}
.yc{bottom:600.000000pt;}
.y28{bottom:614.080000pt;}
.y27{bottom:632.480000pt;}
.y26{bottom:650.880000pt;}
.y25{bottom:669.280000pt;}
.y24{bottom:687.680000pt;}
.y23{bottom:706.080000pt;}
.y22{bottom:724.480000pt;}
.yb{bottom:734.400000pt;}
.y21{bottom:742.880000pt;}
.ya{bottom:757.360000pt;}
.y20{bottom:761.280000pt;}
.y1f{bottom:779.680000pt;}
.y9{bottom:780.400000pt;}
.y1e{bottom:798.080000pt;}
.y8{bottom:803.360000pt;}
.y1d{bottom:816.480000pt;}
.y7{bottom:826.400000pt;}
.y1c{bottom:834.880000pt;}
.y6{bottom:849.360000pt;}
.y1b{bottom:853.280000pt;}
.y1a{bottom:871.680000pt;}
.y5{bottom:872.400000pt;}
.y19{bottom:890.080000pt;}
.y4{bottom:895.360000pt;}
.y18{bottom:908.480000pt;}
.y3{bottom:918.400000pt;}
.y17{bottom:926.880000pt;}
.y2{bottom:941.360000pt;}
.y16{bottom:945.120000pt;}
.y44{bottom:945.280000pt;}
.y1{bottom:988.160000pt;}
.h5{height:71.000000pt;}
.h7{height:73.281250pt;}
.h3{height:91.601562pt;}
.h6{height:92.020833pt;}
.h2{height:97.830469pt;}
.h1{height:130.666667pt;}
.h4{height:146.562500pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x5{left:120.848000pt;}
.x0{left:180.000000pt;}
.x8{left:337.333333pt;}
.x4{left:354.640000pt;}
.x6{left:359.680000pt;}
.x1{left:372.400000pt;}
.x2{left:408.000000pt;}
.x3{left:636.000000pt;}
.x7{left:689.280000pt;}
}
