.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.lsd{letter-spacing:-0.180360px;}
.ls8{letter-spacing:-0.168336px;}
.ls1c{letter-spacing:-0.052104px;}
.ls19{letter-spacing:-0.048096px;}
.ls1e{letter-spacing:-0.044088px;}
.ls13{letter-spacing:-0.040080px;}
.ls18{letter-spacing:-0.036072px;}
.ls1d{letter-spacing:-0.032064px;}
.ls16{letter-spacing:-0.028056px;}
.ls1b{letter-spacing:-0.024048px;}
.ls0{letter-spacing:-0.022368px;}
.ls14{letter-spacing:-0.020040px;}
.lsa{letter-spacing:-0.016032px;}
.lse{letter-spacing:-0.012024px;}
.ls9{letter-spacing:-0.008016px;}
.lsc{letter-spacing:-0.004008px;}
.ls1{letter-spacing:0.000000px;}
.ls15{letter-spacing:0.004008px;}
.ls7{letter-spacing:0.008016px;}
.ls11{letter-spacing:0.012024px;}
.lsf{letter-spacing:0.016032px;}
.lsb{letter-spacing:0.020040px;}
.ls6{letter-spacing:0.024048px;}
.ls4{letter-spacing:0.027168px;}
.ls1f{letter-spacing:0.032064px;}
.ls1a{letter-spacing:0.040080px;}
.ls3{letter-spacing:0.061128px;}
.ls17{letter-spacing:0.064128px;}
.ls10{letter-spacing:0.068136px;}
.ls12{letter-spacing:0.076152px;}
.ls2{letter-spacing:0.100656px;}
.ls5{letter-spacing:564.863472px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.wse{word-spacing:-0.404808px;}
.wsa{word-spacing:-0.360720px;}
.ws16{word-spacing:-0.136272px;}
.ws1c{word-spacing:-0.128256px;}
.ws3{word-spacing:-0.120240px;}
.ws8{word-spacing:-0.116232px;}
.wsd{word-spacing:-0.112224px;}
.wsf{word-spacing:-0.108216px;}
.ws4{word-spacing:-0.104208px;}
.ws12{word-spacing:-0.100200px;}
.ws13{word-spacing:-0.096192px;}
.ws9{word-spacing:-0.092184px;}
.ws6{word-spacing:-0.088176px;}
.wsc{word-spacing:-0.084168px;}
.ws7{word-spacing:-0.080160px;}
.ws11{word-spacing:-0.076152px;}
.ws17{word-spacing:-0.072144px;}
.ws18{word-spacing:-0.068136px;}
.ws1a{word-spacing:-0.064128px;}
.ws14{word-spacing:-0.060120px;}
.ws10{word-spacing:-0.056112px;}
.ws1b{word-spacing:-0.052104px;}
.ws15{word-spacing:-0.048096px;}
.ws19{word-spacing:-0.044088px;}
.ws0{word-spacing:0.000000px;}
.ws2{word-spacing:0.061128px;}
.ws5{word-spacing:0.072144px;}
.wsb{word-spacing:0.084168px;}
.ws1{word-spacing:0.169800px;}
._1{margin-left:-1.082160px;}
._0{width:1.086720px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs6{font-size:36.000000px;}
.fs3{font-size:40.080000px;}
.fs4{font-size:43.920000px;}
.fs1{font-size:48.000000px;}
.fs0{font-size:55.920000px;}
.fs5{font-size:56.000000px;}
.fs2{font-size:67.920000px;}
.y15{bottom:16.000000px;}
.y14{bottom:39.840100px;}
.y6d{bottom:81.780100px;}
.y42{bottom:82.080100px;}
.y41{bottom:92.403100px;}
.y6c{bottom:93.060000px;}
.y40{bottom:102.780100px;}
.y6b{bottom:103.383000px;}
.y3f{bottom:113.247480px;}
.y6a{bottom:113.760000px;}
.y69{bottom:124.299540px;}
.y3e{bottom:124.770480px;}
.y68{bottom:135.762420px;}
.y3d{bottom:136.293480px;}
.y67{bottom:147.285420px;}
.y3c{bottom:147.756360px;}
.y3b{bottom:159.279360px;}
.y66{bottom:164.740260px;}
.y3a{bottom:170.802360px;}
.y39{bottom:182.265240px;}
.y65{bottom:188.197080px;}
.y38{bottom:199.720080px;}
.y64{bottom:211.774140px;}
.y37{bottom:223.237020px;}
.y63{bottom:223.297140px;}
.y62{bottom:234.760020px;}
.y61{bottom:246.283020px;}
.y36{bottom:246.753960px;}
.y60{bottom:257.745900px;}
.y35{bottom:258.276960px;}
.y5f{bottom:269.268900px;}
.y34{bottom:269.739840px;}
.y5e{bottom:280.791900px;}
.y33{bottom:281.262840px;}
.y5d{bottom:292.254780px;}
.y32{bottom:292.785840px;}
.y31{bottom:304.248720px;}
.y5c{bottom:309.709620px;}
.y30{bottom:315.771720px;}
.y2f{bottom:327.294720px;}
.y5b{bottom:333.226560px;}
.y2e{bottom:344.689440px;}
.y5a{bottom:356.743500px;}
.y13{bottom:361.745040px;}
.y2d{bottom:368.206380px;}
.y59{bottom:368.266500px;}
.y12{bottom:379.260000px;}
.y58{bottom:379.789500px;}
.y57{bottom:391.252380px;}
.y2c{bottom:391.783440px;}
.y56{bottom:402.775380px;}
.y2b{bottom:403.246320px;}
.y11{bottom:404.220000px;}
.y10{bottom:404.224080px;}
.y2a{bottom:414.769320px;}
.y55{bottom:420.230220px;}
.yf{bottom:423.785040px;}
.y29{bottom:426.292320px;}
.y28{bottom:437.755200px;}
.ye{bottom:443.346000px;}
.y54{bottom:443.687040px;}
.y27{bottom:449.278200px;}
.yd{bottom:462.839040px;}
.y26{bottom:466.733040px;}
.y53{bottom:467.264100px;}
.y52{bottom:478.787100px;}
.yc{bottom:482.400000px;}
.y25{bottom:490.189860px;}
.y51{bottom:490.249980px;}
.yb{bottom:500.940000px;}
.y50{bottom:501.772980px;}
.y4f{bottom:513.295980px;}
.y24{bottom:513.766920px;}
.ya{bottom:514.740000px;}
.y4e{bottom:524.758860px;}
.y23{bottom:525.289920px;}
.y9{bottom:528.540000px;}
.y4d{bottom:536.281860px;}
.y22{bottom:536.752800px;}
.y8{bottom:542.340000px;}
.y4c{bottom:547.744740px;}
.y21{bottom:548.275800px;}
.y7{bottom:556.140000px;}
.y20{bottom:559.738680px;}
.y4b{bottom:565.199580px;}
.y6{bottom:569.940000px;}
.y1f{bottom:577.193520px;}
.y5{bottom:583.740000px;}
.y4a{bottom:588.716520px;}
.y0{bottom:594.500000px;}
.y4{bottom:594.900000px;}
.y1e{bottom:600.710460px;}
.y49{bottom:612.233460px;}
.y48{bottom:623.756460px;}
.y1d{bottom:624.227400px;}
.y47{bottom:635.279460px;}
.y1c{bottom:635.750400px;}
.y46{bottom:646.742340px;}
.y1b{bottom:647.273400px;}
.y45{bottom:658.265340px;}
.y1a{bottom:658.736280px;}
.y44{bottom:669.788340px;}
.y19{bottom:670.259280px;}
.y18{bottom:681.782280px;}
.y43{bottom:687.183060px;}
.y17{bottom:693.245160px;}
.y3{bottom:695.040000px;}
.y2{bottom:708.840000px;}
.y16{bottom:710.700000px;}
.y1{bottom:742.740000px;}
.h6{height:29.272852px;}
.h2{height:38.226562px;}
.h9{height:42.275880px;}
.h5{height:47.067146px;}
.h8{height:49.395469px;}
.h3{height:56.367840px;}
.h7{height:69.015625px;}
.h4{height:79.760493px;}
.h1{height:98.000000px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x8{left:72.000000px;}
.x5{left:86.338980px;}
.x0{left:135.500000px;}
.xa{left:253.000000px;}
.x6{left:260.638680px;}
.x4{left:274.800000px;}
.x1{left:282.540000px;}
.x2{left:306.000000px;}
.x7{left:351.360000px;}
.x3{left:477.720000px;}
.x9{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.lsd{letter-spacing:-0.240480pt;}
.ls8{letter-spacing:-0.224448pt;}
.ls1c{letter-spacing:-0.069472pt;}
.ls19{letter-spacing:-0.064128pt;}
.ls1e{letter-spacing:-0.058784pt;}
.ls13{letter-spacing:-0.053440pt;}
.ls18{letter-spacing:-0.048096pt;}
.ls1d{letter-spacing:-0.042752pt;}
.ls16{letter-spacing:-0.037408pt;}
.ls1b{letter-spacing:-0.032064pt;}
.ls0{letter-spacing:-0.029824pt;}
.ls14{letter-spacing:-0.026720pt;}
.lsa{letter-spacing:-0.021376pt;}
.lse{letter-spacing:-0.016032pt;}
.ls9{letter-spacing:-0.010688pt;}
.lsc{letter-spacing:-0.005344pt;}
.ls1{letter-spacing:0.000000pt;}
.ls15{letter-spacing:0.005344pt;}
.ls7{letter-spacing:0.010688pt;}
.ls11{letter-spacing:0.016032pt;}
.lsf{letter-spacing:0.021376pt;}
.lsb{letter-spacing:0.026720pt;}
.ls6{letter-spacing:0.032064pt;}
.ls4{letter-spacing:0.036224pt;}
.ls1f{letter-spacing:0.042752pt;}
.ls1a{letter-spacing:0.053440pt;}
.ls3{letter-spacing:0.081504pt;}
.ls17{letter-spacing:0.085504pt;}
.ls10{letter-spacing:0.090848pt;}
.ls12{letter-spacing:0.101536pt;}
.ls2{letter-spacing:0.134208pt;}
.ls5{letter-spacing:753.151296pt;}
.wse{word-spacing:-0.539744pt;}
.wsa{word-spacing:-0.480960pt;}
.ws16{word-spacing:-0.181696pt;}
.ws1c{word-spacing:-0.171008pt;}
.ws3{word-spacing:-0.160320pt;}
.ws8{word-spacing:-0.154976pt;}
.wsd{word-spacing:-0.149632pt;}
.wsf{word-spacing:-0.144288pt;}
.ws4{word-spacing:-0.138944pt;}
.ws12{word-spacing:-0.133600pt;}
.ws13{word-spacing:-0.128256pt;}
.ws9{word-spacing:-0.122912pt;}
.ws6{word-spacing:-0.117568pt;}
.wsc{word-spacing:-0.112224pt;}
.ws7{word-spacing:-0.106880pt;}
.ws11{word-spacing:-0.101536pt;}
.ws17{word-spacing:-0.096192pt;}
.ws18{word-spacing:-0.090848pt;}
.ws1a{word-spacing:-0.085504pt;}
.ws14{word-spacing:-0.080160pt;}
.ws10{word-spacing:-0.074816pt;}
.ws1b{word-spacing:-0.069472pt;}
.ws15{word-spacing:-0.064128pt;}
.ws19{word-spacing:-0.058784pt;}
.ws0{word-spacing:0.000000pt;}
.ws2{word-spacing:0.081504pt;}
.ws5{word-spacing:0.096192pt;}
.wsb{word-spacing:0.112224pt;}
.ws1{word-spacing:0.226400pt;}
._1{margin-left:-1.442880pt;}
._0{width:1.448960pt;}
.fs6{font-size:48.000000pt;}
.fs3{font-size:53.440000pt;}
.fs4{font-size:58.560000pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:74.560000pt;}
.fs5{font-size:74.666667pt;}
.fs2{font-size:90.560000pt;}
.y15{bottom:21.333333pt;}
.y14{bottom:53.120133pt;}
.y6d{bottom:109.040133pt;}
.y42{bottom:109.440133pt;}
.y41{bottom:123.204133pt;}
.y6c{bottom:124.080000pt;}
.y40{bottom:137.040133pt;}
.y6b{bottom:137.844000pt;}
.y3f{bottom:150.996640pt;}
.y6a{bottom:151.680000pt;}
.y69{bottom:165.732720pt;}
.y3e{bottom:166.360640pt;}
.y68{bottom:181.016560pt;}
.y3d{bottom:181.724640pt;}
.y67{bottom:196.380560pt;}
.y3c{bottom:197.008480pt;}
.y3b{bottom:212.372480pt;}
.y66{bottom:219.653680pt;}
.y3a{bottom:227.736480pt;}
.y39{bottom:243.020320pt;}
.y65{bottom:250.929440pt;}
.y38{bottom:266.293440pt;}
.y64{bottom:282.365520pt;}
.y37{bottom:297.649360pt;}
.y63{bottom:297.729520pt;}
.y62{bottom:313.013360pt;}
.y61{bottom:328.377360pt;}
.y36{bottom:329.005280pt;}
.y60{bottom:343.661200pt;}
.y35{bottom:344.369280pt;}
.y5f{bottom:359.025200pt;}
.y34{bottom:359.653120pt;}
.y5e{bottom:374.389200pt;}
.y33{bottom:375.017120pt;}
.y5d{bottom:389.673040pt;}
.y32{bottom:390.381120pt;}
.y31{bottom:405.664960pt;}
.y5c{bottom:412.946160pt;}
.y30{bottom:421.028960pt;}
.y2f{bottom:436.392960pt;}
.y5b{bottom:444.302080pt;}
.y2e{bottom:459.585920pt;}
.y5a{bottom:475.658000pt;}
.y13{bottom:482.326720pt;}
.y2d{bottom:490.941840pt;}
.y59{bottom:491.022000pt;}
.y12{bottom:505.680000pt;}
.y58{bottom:506.386000pt;}
.y57{bottom:521.669840pt;}
.y2c{bottom:522.377920pt;}
.y56{bottom:537.033840pt;}
.y2b{bottom:537.661760pt;}
.y11{bottom:538.960000pt;}
.y10{bottom:538.965440pt;}
.y2a{bottom:553.025760pt;}
.y55{bottom:560.306960pt;}
.yf{bottom:565.046720pt;}
.y29{bottom:568.389760pt;}
.y28{bottom:583.673600pt;}
.ye{bottom:591.128000pt;}
.y54{bottom:591.582720pt;}
.y27{bottom:599.037600pt;}
.yd{bottom:617.118720pt;}
.y26{bottom:622.310720pt;}
.y53{bottom:623.018800pt;}
.y52{bottom:638.382800pt;}
.yc{bottom:643.200000pt;}
.y25{bottom:653.586480pt;}
.y51{bottom:653.666640pt;}
.yb{bottom:667.920000pt;}
.y50{bottom:669.030640pt;}
.y4f{bottom:684.394640pt;}
.y24{bottom:685.022560pt;}
.ya{bottom:686.320000pt;}
.y4e{bottom:699.678480pt;}
.y23{bottom:700.386560pt;}
.y9{bottom:704.720000pt;}
.y4d{bottom:715.042480pt;}
.y22{bottom:715.670400pt;}
.y8{bottom:723.120000pt;}
.y4c{bottom:730.326320pt;}
.y21{bottom:731.034400pt;}
.y7{bottom:741.520000pt;}
.y20{bottom:746.318240pt;}
.y4b{bottom:753.599440pt;}
.y6{bottom:759.920000pt;}
.y1f{bottom:769.591360pt;}
.y5{bottom:778.320000pt;}
.y4a{bottom:784.955360pt;}
.y0{bottom:792.666667pt;}
.y4{bottom:793.200000pt;}
.y1e{bottom:800.947280pt;}
.y49{bottom:816.311280pt;}
.y48{bottom:831.675280pt;}
.y1d{bottom:832.303200pt;}
.y47{bottom:847.039280pt;}
.y1c{bottom:847.667200pt;}
.y46{bottom:862.323120pt;}
.y1b{bottom:863.031200pt;}
.y45{bottom:877.687120pt;}
.y1a{bottom:878.315040pt;}
.y44{bottom:893.051120pt;}
.y19{bottom:893.679040pt;}
.y18{bottom:909.043040pt;}
.y43{bottom:916.244080pt;}
.y17{bottom:924.326880pt;}
.y3{bottom:926.720000pt;}
.y2{bottom:945.120000pt;}
.y16{bottom:947.600000pt;}
.y1{bottom:990.320000pt;}
.h6{height:39.030469pt;}
.h2{height:50.968750pt;}
.h9{height:56.367840pt;}
.h5{height:62.756195pt;}
.h8{height:65.860625pt;}
.h3{height:75.157120pt;}
.h7{height:92.020833pt;}
.h4{height:106.347324pt;}
.h1{height:130.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x8{left:96.000000pt;}
.x5{left:115.118640pt;}
.x0{left:180.666667pt;}
.xa{left:337.333333pt;}
.x6{left:347.518240pt;}
.x4{left:366.400000pt;}
.x1{left:376.720000pt;}
.x2{left:408.000000pt;}
.x7{left:468.480000pt;}
.x3{left:636.960000pt;}
.x9{left:673.040000pt;}
}
