.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:-0.076896px;}
.ls1{letter-spacing:0.000000px;}
.ls4{letter-spacing:0.023976px;}
.ls2{letter-spacing:0.051168px;}
.ls3{letter-spacing:0.076752px;}
.ls5{letter-spacing:553.018296px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws2{word-spacing:-0.079920px;}
.ws1{word-spacing:-0.063960px;}
.ws0{word-spacing:0.000000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs5{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs4{font-size:79.920000px;}
.fs2{font-size:91.920000px;}
.fs3{font-size:127.920000px;}
.yf{bottom:16.000000px;}
.ye{bottom:39.840100px;}
.yd{bottom:335.462400px;}
.yc{bottom:361.200000px;}
.yb{bottom:384.908640px;}
.ya{bottom:413.220000px;}
.y9{bottom:413.222040px;}
.y8{bottom:450.063000px;}
.y7{bottom:486.840000px;}
.y6{bottom:521.771880px;}
.y0{bottom:543.000000px;}
.y5{bottom:543.189240px;}
.y4{bottom:645.680040px;}
.y3{bottom:672.130020px;}
.y2{bottom:698.580000px;}
.y1{bottom:740.820000px;}
.h5{height:29.272852px;}
.h2{height:43.804688px;}
.h6{height:69.015625px;}
.h1{height:98.000000px;}
.h3{height:105.250195px;}
.h4{height:146.470898px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x8{left:71.990700px;}
.x0{left:135.500000px;}
.x5{left:189.051780px;}
.x4{left:252.660000px;}
.x7{left:257.640000px;}
.x1{left:279.180000px;}
.x2{left:306.000000px;}
.x6{left:422.880000px;}
.x3{left:477.729540px;}
.x9{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:-0.102528pt;}
.ls1{letter-spacing:0.000000pt;}
.ls4{letter-spacing:0.031968pt;}
.ls2{letter-spacing:0.068224pt;}
.ls3{letter-spacing:0.102336pt;}
.ls5{letter-spacing:737.357728pt;}
.ws2{word-spacing:-0.106560pt;}
.ws1{word-spacing:-0.085280pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:58.560000pt;}
.fs5{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs4{font-size:106.560000pt;}
.fs2{font-size:122.560000pt;}
.fs3{font-size:170.560000pt;}
.yf{bottom:21.333333pt;}
.ye{bottom:53.120133pt;}
.yd{bottom:447.283200pt;}
.yc{bottom:481.600000pt;}
.yb{bottom:513.211520pt;}
.ya{bottom:550.960000pt;}
.y9{bottom:550.962720pt;}
.y8{bottom:600.084000pt;}
.y7{bottom:649.120000pt;}
.y6{bottom:695.695840pt;}
.y0{bottom:724.000000pt;}
.y5{bottom:724.252320pt;}
.y4{bottom:860.906720pt;}
.y3{bottom:896.173360pt;}
.y2{bottom:931.440000pt;}
.y1{bottom:987.760000pt;}
.h5{height:39.030469pt;}
.h2{height:58.406250pt;}
.h6{height:92.020833pt;}
.h1{height:130.666667pt;}
.h3{height:140.333594pt;}
.h4{height:195.294531pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x8{left:95.987600pt;}
.x0{left:180.666667pt;}
.x5{left:252.069040pt;}
.x4{left:336.880000pt;}
.x7{left:343.520000pt;}
.x1{left:372.240000pt;}
.x2{left:408.000000pt;}
.x6{left:563.840000pt;}
.x3{left:636.972720pt;}
.x9{left:673.040000pt;}
}
