.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:-0.076896px;}
.ls4{letter-spacing:-0.050040px;}
.ls2{letter-spacing:-0.040032px;}
.ls3{letter-spacing:-0.010008px;}
.ls1{letter-spacing:0.000000px;}
.ls5{letter-spacing:0.004800px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1{word-spacing:-0.110088px;}
.ws2{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(255,0,0);}
.fc1{color:rgb(0,176,80);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs2{font-size:48.000000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:100.080000px;}
.y22{bottom:16.000000px;}
.y21{bottom:52.380000px;}
.y20{bottom:80.280000px;}
.y1f{bottom:96.120000px;}
.y1e{bottom:112.020000px;}
.y1d{bottom:127.860000px;}
.y1c{bottom:143.700000px;}
.y1b{bottom:159.600000px;}
.y1a{bottom:175.440000px;}
.y19{bottom:191.340000px;}
.y18{bottom:207.180000px;}
.y17{bottom:223.080000px;}
.y16{bottom:238.920000px;}
.y15{bottom:254.820000px;}
.y14{bottom:270.660000px;}
.y13{bottom:286.560000px;}
.y12{bottom:302.400000px;}
.y11{bottom:318.300000px;}
.y10{bottom:334.140000px;}
.yf{bottom:350.040000px;}
.ye{bottom:365.880000px;}
.yd{bottom:386.905740px;}
.yc{bottom:419.957160px;}
.yb{bottom:453.008580px;}
.ya{bottom:486.060000px;}
.y0{bottom:511.000000px;}
.y9{bottom:511.440000px;}
.y8{bottom:613.560000px;}
.y7{bottom:629.460000px;}
.y6{bottom:645.300000px;}
.y5{bottom:661.200000px;}
.y4{bottom:677.040000px;}
.y3{bottom:692.940000px;}
.y2{bottom:708.780000px;}
.y1{bottom:740.820000px;}
.h5{height:29.272852px;}
.h2{height:43.804688px;}
.h3{height:54.960938px;}
.h6{height:69.015625px;}
.h1{height:98.000000px;}
.h4{height:114.593555px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x8{left:72.000000px;}
.x5{left:100.819320px;}
.x0{left:135.000000px;}
.x6{left:251.840040px;}
.xa{left:253.000000px;}
.x4{left:264.300000px;}
.x7{left:270.960000px;}
.x1{left:279.180000px;}
.x2{left:306.000000px;}
.x3{left:477.000000px;}
.x9{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:-0.102528pt;}
.ls4{letter-spacing:-0.066720pt;}
.ls2{letter-spacing:-0.053376pt;}
.ls3{letter-spacing:-0.013344pt;}
.ls1{letter-spacing:0.000000pt;}
.ls5{letter-spacing:0.006400pt;}
.ws1{word-spacing:-0.146784pt;}
.ws2{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:58.560000pt;}
.fs2{font-size:64.000000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:133.440000pt;}
.y22{bottom:21.333333pt;}
.y21{bottom:69.840000pt;}
.y20{bottom:107.040000pt;}
.y1f{bottom:128.160000pt;}
.y1e{bottom:149.360000pt;}
.y1d{bottom:170.480000pt;}
.y1c{bottom:191.600000pt;}
.y1b{bottom:212.800000pt;}
.y1a{bottom:233.920000pt;}
.y19{bottom:255.120000pt;}
.y18{bottom:276.240000pt;}
.y17{bottom:297.440000pt;}
.y16{bottom:318.560000pt;}
.y15{bottom:339.760000pt;}
.y14{bottom:360.880000pt;}
.y13{bottom:382.080000pt;}
.y12{bottom:403.200000pt;}
.y11{bottom:424.400000pt;}
.y10{bottom:445.520000pt;}
.yf{bottom:466.720000pt;}
.ye{bottom:487.840000pt;}
.yd{bottom:515.874320pt;}
.yc{bottom:559.942880pt;}
.yb{bottom:604.011440pt;}
.ya{bottom:648.080000pt;}
.y0{bottom:681.333333pt;}
.y9{bottom:681.920000pt;}
.y8{bottom:818.080000pt;}
.y7{bottom:839.280000pt;}
.y6{bottom:860.400000pt;}
.y5{bottom:881.600000pt;}
.y4{bottom:902.720000pt;}
.y3{bottom:923.920000pt;}
.y2{bottom:945.040000pt;}
.y1{bottom:987.760000pt;}
.h5{height:39.030469pt;}
.h2{height:58.406250pt;}
.h3{height:73.281250pt;}
.h6{height:92.020833pt;}
.h1{height:130.666667pt;}
.h4{height:152.791406pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x8{left:96.000000pt;}
.x5{left:134.425760pt;}
.x0{left:180.000000pt;}
.x6{left:335.786720pt;}
.xa{left:337.333333pt;}
.x4{left:352.400000pt;}
.x7{left:361.280000pt;}
.x1{left:372.240000pt;}
.x2{left:408.000000pt;}
.x3{left:636.000000pt;}
.x9{left:673.040000pt;}
}
