.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(33,78,123);}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:48.000000px;}
.fs2{font-size:56.000000px;}
.fs1{font-size:60.000000px;}
.fs0{font-size:80.000000px;}
.y6{bottom:17.000000px;}
.y2e{bottom:22.000000px;}
.y7{bottom:35.500000px;}
.y45{bottom:57.400000px;}
.y83{bottom:62.000000px;}
.yb4{bottom:67.880000px;}
.y44{bottom:73.400000px;}
.y82{bottom:74.000000px;}
.yb3{bottom:83.880000px;}
.y81{bottom:86.000000px;}
.y43{bottom:89.400000px;}
.yb2{bottom:99.880000px;}
.y80{bottom:102.000000px;}
.y42{bottom:105.400000px;}
.y7f{bottom:114.000000px;}
.yb1{bottom:115.880000px;}
.y41{bottom:117.400000px;}
.y40{bottom:129.400000px;}
.yb0{bottom:131.880000px;}
.y7e{bottom:132.000000px;}
.y3f{bottom:145.400000px;}
.yaf{bottom:147.880000px;}
.y95{bottom:151.140000px;}
.y7d{bottom:152.000000px;}
.y3e{bottom:157.400000px;}
.yae{bottom:159.880000px;}
.y94{bottom:169.140000px;}
.y7c{bottom:170.000000px;}
.yad{bottom:171.880000px;}
.y3d{bottom:173.400000px;}
.y5e{bottom:181.230000px;}
.y3c{bottom:185.400000px;}
.y93{bottom:187.140000px;}
.yac{bottom:187.880000px;}
.y7b{bottom:188.000000px;}
.y5d{bottom:199.230000px;}
.yab{bottom:199.880000px;}
.y3b{bottom:203.400000px;}
.y92{bottom:205.140000px;}
.y7a{bottom:206.000000px;}
.y5c{bottom:211.230000px;}
.y2c{bottom:212.000000px;}
.yaa{bottom:217.880000px;}
.y91{bottom:223.140000px;}
.y5b{bottom:223.230000px;}
.y3a{bottom:223.400000px;}
.y2b{bottom:224.000000px;}
.y2a{bottom:236.000000px;}
.ya9{bottom:237.880000px;}
.y90{bottom:241.140000px;}
.y39{bottom:241.400000px;}
.y29{bottom:252.000000px;}
.ya8{bottom:255.880000px;}
.y38{bottom:259.400000px;}
.y28{bottom:264.000000px;}
.y79{bottom:268.000000px;}
.ya7{bottom:273.880000px;}
.y37{bottom:277.400000px;}
.y27{bottom:282.000000px;}
.y78{bottom:284.000000px;}
.ya6{bottom:291.880000px;}
.y36{bottom:295.400000px;}
.y77{bottom:300.000000px;}
.y26{bottom:302.000000px;}
.ya5{bottom:309.880000px;}
.y35{bottom:313.400000px;}
.y76{bottom:316.000000px;}
.y25{bottom:320.000000px;}
.ya4{bottom:321.880000px;}
.y75{bottom:328.000000px;}
.y34{bottom:331.400000px;}
.ya3{bottom:337.880000px;}
.y24{bottom:338.000000px;}
.y5{bottom:338.500000px;}
.y74{bottom:340.000000px;}
.y33{bottom:349.400000px;}
.ya2{bottom:353.880000px;}
.y23{bottom:356.000000px;}
.y4{bottom:361.000000px;}
.y5a{bottom:362.000000px;}
.y73{bottom:368.000000px;}
.ya1{bottom:369.880000px;}
.y8f{bottom:371.070000px;}
.y22{bottom:374.000000px;}
.ya0{bottom:385.880000px;}
.y21{bottom:386.000000px;}
.y8e{bottom:389.070000px;}
.y3{bottom:391.000000px;}
.y9f{bottom:397.880000px;}
.y8d{bottom:401.070000px;}
.y20{bottom:402.000000px;}
.y72{bottom:406.000000px;}
.y9e{bottom:409.880000px;}
.y8c{bottom:413.070000px;}
.y59{bottom:414.000000px;}
.y1f{bottom:418.000000px;}
.y71{bottom:424.000000px;}
.y9d{bottom:425.880000px;}
.y58{bottom:432.000000px;}
.y1e{bottom:434.000000px;}
.y9c{bottom:441.880000px;}
.y70{bottom:442.000000px;}
.y1d{bottom:450.000000px;}
.y57{bottom:452.000000px;}
.y9b{bottom:453.880000px;}
.y6f{bottom:460.000000px;}
.y1c{bottom:462.000000px;}
.y56{bottom:470.000000px;}
.y0{bottom:470.500000px;}
.y9a{bottom:471.880000px;}
.y1b{bottom:474.000000px;}
.y6e{bottom:478.000000px;}
.y55{bottom:488.000000px;}
.y1a{bottom:490.000000px;}
.y99{bottom:491.880000px;}
.y19{bottom:506.000000px;}
.y98{bottom:509.880000px;}
.y18{bottom:518.000000px;}
.y6d{bottom:522.000000px;}
.y54{bottom:524.000000px;}
.y97{bottom:527.880000px;}
.y17{bottom:536.000000px;}
.y6c{bottom:538.000000px;}
.y96{bottom:545.880000px;}
.y8b{bottom:548.000000px;}
.y53{bottom:552.000000px;}
.y6b{bottom:554.000000px;}
.y16{bottom:556.000000px;}
.y8a{bottom:560.000000px;}
.y32{bottom:560.200000px;}
.y6a{bottom:566.000000px;}
.y52{bottom:568.000000px;}
.y15{bottom:574.000000px;}
.y89{bottom:576.000000px;}
.y69{bottom:578.000000px;}
.y31{bottom:578.200000px;}
.y51{bottom:584.000000px;}
.y88{bottom:588.000000px;}
.y30{bottom:590.200000px;}
.y14{bottom:592.000000px;}
.y68{bottom:594.000000px;}
.y50{bottom:600.000000px;}
.y2f{bottom:602.200000px;}
.y67{bottom:606.000000px;}
.y13{bottom:610.000000px;}
.y4f{bottom:612.000000px;}
.y4e{bottom:624.000000px;}
.y87{bottom:626.000000px;}
.y12{bottom:628.000000px;}
.y2{bottom:636.000000px;}
.y11{bottom:640.000000px;}
.y66{bottom:644.000000px;}
.y4d{bottom:652.000000px;}
.y10{bottom:656.000000px;}
.y65{bottom:662.000000px;}
.y4c{bottom:670.000000px;}
.yf{bottom:672.000000px;}
.y64{bottom:680.000000px;}
.ye{bottom:688.000000px;}
.y4b{bottom:690.000000px;}
.y63{bottom:698.000000px;}
.yd{bottom:704.000000px;}
.y4a{bottom:708.000000px;}
.y86{bottom:710.000000px;}
.y62{bottom:716.000000px;}
.yc{bottom:720.000000px;}
.y49{bottom:726.000000px;}
.yb{bottom:732.000000px;}
.y61{bottom:734.000000px;}
.y85{bottom:742.000000px;}
.ya{bottom:744.000000px;}
.y60{bottom:752.000000px;}
.y84{bottom:758.000000px;}
.y9{bottom:760.000000px;}
.y48{bottom:762.000000px;}
.y5f{bottom:770.000000px;}
.y47{bottom:774.000000px;}
.y1{bottom:776.000000px;}
.y8{bottom:788.000000px;}
.y46{bottom:790.000000px;}
.y2d{bottom:808.000000px;}
.h6{height:56.367840px;}
.h7{height:59.156250px;}
.h4{height:69.015625px;}
.h3{height:70.459800px;}
.h2{height:93.946400px;}
.h1{height:150.500000px;}
.h5{height:770.500000px;}
.h0{height:842.000000px;}
.w1{width:450.500000px;}
.w2{width:523.500000px;}
.w0{width:595.000000px;}
.x1{left:36.000000px;}
.x2{left:66.880000px;}
.x0{left:72.500000px;}
.x5{left:241.810000px;}
.x4{left:245.000000px;}
.x3{left:254.980000px;}
.x6{left:550.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs3{font-size:64.000000pt;}
.fs2{font-size:74.666667pt;}
.fs1{font-size:80.000000pt;}
.fs0{font-size:106.666667pt;}
.y6{bottom:22.666667pt;}
.y2e{bottom:29.333333pt;}
.y7{bottom:47.333333pt;}
.y45{bottom:76.533333pt;}
.y83{bottom:82.666667pt;}
.yb4{bottom:90.506667pt;}
.y44{bottom:97.866667pt;}
.y82{bottom:98.666667pt;}
.yb3{bottom:111.840000pt;}
.y81{bottom:114.666667pt;}
.y43{bottom:119.200000pt;}
.yb2{bottom:133.173333pt;}
.y80{bottom:136.000000pt;}
.y42{bottom:140.533333pt;}
.y7f{bottom:152.000000pt;}
.yb1{bottom:154.506667pt;}
.y41{bottom:156.533333pt;}
.y40{bottom:172.533333pt;}
.yb0{bottom:175.840000pt;}
.y7e{bottom:176.000000pt;}
.y3f{bottom:193.866667pt;}
.yaf{bottom:197.173333pt;}
.y95{bottom:201.520000pt;}
.y7d{bottom:202.666667pt;}
.y3e{bottom:209.866667pt;}
.yae{bottom:213.173333pt;}
.y94{bottom:225.520000pt;}
.y7c{bottom:226.666667pt;}
.yad{bottom:229.173333pt;}
.y3d{bottom:231.200000pt;}
.y5e{bottom:241.640000pt;}
.y3c{bottom:247.200000pt;}
.y93{bottom:249.520000pt;}
.yac{bottom:250.506667pt;}
.y7b{bottom:250.666667pt;}
.y5d{bottom:265.640000pt;}
.yab{bottom:266.506667pt;}
.y3b{bottom:271.200000pt;}
.y92{bottom:273.520000pt;}
.y7a{bottom:274.666667pt;}
.y5c{bottom:281.640000pt;}
.y2c{bottom:282.666667pt;}
.yaa{bottom:290.506667pt;}
.y91{bottom:297.520000pt;}
.y5b{bottom:297.640000pt;}
.y3a{bottom:297.866667pt;}
.y2b{bottom:298.666667pt;}
.y2a{bottom:314.666667pt;}
.ya9{bottom:317.173333pt;}
.y90{bottom:321.520000pt;}
.y39{bottom:321.866667pt;}
.y29{bottom:336.000000pt;}
.ya8{bottom:341.173333pt;}
.y38{bottom:345.866667pt;}
.y28{bottom:352.000000pt;}
.y79{bottom:357.333333pt;}
.ya7{bottom:365.173333pt;}
.y37{bottom:369.866667pt;}
.y27{bottom:376.000000pt;}
.y78{bottom:378.666667pt;}
.ya6{bottom:389.173333pt;}
.y36{bottom:393.866667pt;}
.y77{bottom:400.000000pt;}
.y26{bottom:402.666667pt;}
.ya5{bottom:413.173333pt;}
.y35{bottom:417.866667pt;}
.y76{bottom:421.333333pt;}
.y25{bottom:426.666667pt;}
.ya4{bottom:429.173333pt;}
.y75{bottom:437.333333pt;}
.y34{bottom:441.866667pt;}
.ya3{bottom:450.506667pt;}
.y24{bottom:450.666667pt;}
.y5{bottom:451.333333pt;}
.y74{bottom:453.333333pt;}
.y33{bottom:465.866667pt;}
.ya2{bottom:471.840000pt;}
.y23{bottom:474.666667pt;}
.y4{bottom:481.333333pt;}
.y5a{bottom:482.666667pt;}
.y73{bottom:490.666667pt;}
.ya1{bottom:493.173333pt;}
.y8f{bottom:494.760000pt;}
.y22{bottom:498.666667pt;}
.ya0{bottom:514.506667pt;}
.y21{bottom:514.666667pt;}
.y8e{bottom:518.760000pt;}
.y3{bottom:521.333333pt;}
.y9f{bottom:530.506667pt;}
.y8d{bottom:534.760000pt;}
.y20{bottom:536.000000pt;}
.y72{bottom:541.333333pt;}
.y9e{bottom:546.506667pt;}
.y8c{bottom:550.760000pt;}
.y59{bottom:552.000000pt;}
.y1f{bottom:557.333333pt;}
.y71{bottom:565.333333pt;}
.y9d{bottom:567.840000pt;}
.y58{bottom:576.000000pt;}
.y1e{bottom:578.666667pt;}
.y9c{bottom:589.173333pt;}
.y70{bottom:589.333333pt;}
.y1d{bottom:600.000000pt;}
.y57{bottom:602.666667pt;}
.y9b{bottom:605.173333pt;}
.y6f{bottom:613.333333pt;}
.y1c{bottom:616.000000pt;}
.y56{bottom:626.666667pt;}
.y0{bottom:627.333333pt;}
.y9a{bottom:629.173333pt;}
.y1b{bottom:632.000000pt;}
.y6e{bottom:637.333333pt;}
.y55{bottom:650.666667pt;}
.y1a{bottom:653.333333pt;}
.y99{bottom:655.840000pt;}
.y19{bottom:674.666667pt;}
.y98{bottom:679.840000pt;}
.y18{bottom:690.666667pt;}
.y6d{bottom:696.000000pt;}
.y54{bottom:698.666667pt;}
.y97{bottom:703.840000pt;}
.y17{bottom:714.666667pt;}
.y6c{bottom:717.333333pt;}
.y96{bottom:727.840000pt;}
.y8b{bottom:730.666667pt;}
.y53{bottom:736.000000pt;}
.y6b{bottom:738.666667pt;}
.y16{bottom:741.333333pt;}
.y8a{bottom:746.666667pt;}
.y32{bottom:746.933333pt;}
.y6a{bottom:754.666667pt;}
.y52{bottom:757.333333pt;}
.y15{bottom:765.333333pt;}
.y89{bottom:768.000000pt;}
.y69{bottom:770.666667pt;}
.y31{bottom:770.933333pt;}
.y51{bottom:778.666667pt;}
.y88{bottom:784.000000pt;}
.y30{bottom:786.933333pt;}
.y14{bottom:789.333333pt;}
.y68{bottom:792.000000pt;}
.y50{bottom:800.000000pt;}
.y2f{bottom:802.933333pt;}
.y67{bottom:808.000000pt;}
.y13{bottom:813.333333pt;}
.y4f{bottom:816.000000pt;}
.y4e{bottom:832.000000pt;}
.y87{bottom:834.666667pt;}
.y12{bottom:837.333333pt;}
.y2{bottom:848.000000pt;}
.y11{bottom:853.333333pt;}
.y66{bottom:858.666667pt;}
.y4d{bottom:869.333333pt;}
.y10{bottom:874.666667pt;}
.y65{bottom:882.666667pt;}
.y4c{bottom:893.333333pt;}
.yf{bottom:896.000000pt;}
.y64{bottom:906.666667pt;}
.ye{bottom:917.333333pt;}
.y4b{bottom:920.000000pt;}
.y63{bottom:930.666667pt;}
.yd{bottom:938.666667pt;}
.y4a{bottom:944.000000pt;}
.y86{bottom:946.666667pt;}
.y62{bottom:954.666667pt;}
.yc{bottom:960.000000pt;}
.y49{bottom:968.000000pt;}
.yb{bottom:976.000000pt;}
.y61{bottom:978.666667pt;}
.y85{bottom:989.333333pt;}
.ya{bottom:992.000000pt;}
.y60{bottom:1002.666667pt;}
.y84{bottom:1010.666667pt;}
.y9{bottom:1013.333333pt;}
.y48{bottom:1016.000000pt;}
.y5f{bottom:1026.666667pt;}
.y47{bottom:1032.000000pt;}
.y1{bottom:1034.666667pt;}
.y8{bottom:1050.666667pt;}
.y46{bottom:1053.333333pt;}
.y2d{bottom:1077.333333pt;}
.h6{height:75.157120pt;}
.h7{height:78.875000pt;}
.h4{height:92.020833pt;}
.h3{height:93.946400pt;}
.h2{height:125.261866pt;}
.h1{height:200.666667pt;}
.h5{height:1027.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:600.666667pt;}
.w2{width:698.000000pt;}
.w0{width:793.333333pt;}
.x1{left:48.000000pt;}
.x2{left:89.173333pt;}
.x0{left:96.666667pt;}
.x5{left:322.413333pt;}
.x4{left:326.666667pt;}
.x3{left:339.973333pt;}
.x6{left:733.773333pt;}
}
