.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:-0.076896px;}
.ls1{letter-spacing:0.000000px;}
.ls4{letter-spacing:0.004800px;}
.ls2{letter-spacing:0.051168px;}
.ls3{letter-spacing:0.063960px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1{word-spacing:-0.012792px;}
.ws2{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(255,0,0);}
.fc1{color:rgb(0,176,80);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs2{font-size:48.000000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:127.920000px;}
.y23{bottom:16.000000px;}
.y22{bottom:52.380000px;}
.y21{bottom:74.940000px;}
.y20{bottom:90.840000px;}
.y1f{bottom:106.680000px;}
.y1e{bottom:122.580000px;}
.y1d{bottom:138.420000px;}
.y1c{bottom:154.320000px;}
.y1b{bottom:170.160000px;}
.y1a{bottom:186.060000px;}
.y19{bottom:201.900000px;}
.y18{bottom:217.800000px;}
.y17{bottom:233.640000px;}
.y16{bottom:249.540000px;}
.y15{bottom:265.380000px;}
.y14{bottom:281.400000px;}
.y13{bottom:297.240000px;}
.y12{bottom:313.020000px;}
.y11{bottom:328.860000px;}
.y10{bottom:352.500000px;}
.yf{bottom:388.680000px;}
.ye{bottom:415.980000px;}
.y0{bottom:447.500000px;}
.yd{bottom:447.960000px;}
.yc{bottom:550.080000px;}
.yb{bottom:565.980000px;}
.ya{bottom:581.820000px;}
.y9{bottom:597.720000px;}
.y8{bottom:613.560000px;}
.y7{bottom:629.460000px;}
.y6{bottom:645.300000px;}
.y5{bottom:661.200000px;}
.y4{bottom:677.040000px;}
.y3{bottom:692.940000px;}
.y2{bottom:708.780000px;}
.y1{bottom:740.820000px;}
.h7{height:29.272852px;}
.h2{height:43.804688px;}
.h6{height:53.250000px;}
.h3{height:54.960938px;}
.h8{height:69.015625px;}
.h5{height:73.372852px;}
.h1{height:98.000000px;}
.h4{height:146.470898px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x7{left:72.000000px;}
.x5{left:119.280000px;}
.x0{left:135.000000px;}
.x4{left:252.660000px;}
.x6{left:270.960000px;}
.x1{left:279.180000px;}
.x2{left:306.000000px;}
.x3{left:477.000000px;}
.x8{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:-0.102528pt;}
.ls1{letter-spacing:0.000000pt;}
.ls4{letter-spacing:0.006400pt;}
.ls2{letter-spacing:0.068224pt;}
.ls3{letter-spacing:0.085280pt;}
.ws1{word-spacing:-0.017056pt;}
.ws2{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:58.560000pt;}
.fs2{font-size:64.000000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:170.560000pt;}
.y23{bottom:21.333333pt;}
.y22{bottom:69.840000pt;}
.y21{bottom:99.920000pt;}
.y20{bottom:121.120000pt;}
.y1f{bottom:142.240000pt;}
.y1e{bottom:163.440000pt;}
.y1d{bottom:184.560000pt;}
.y1c{bottom:205.760000pt;}
.y1b{bottom:226.880000pt;}
.y1a{bottom:248.080000pt;}
.y19{bottom:269.200000pt;}
.y18{bottom:290.400000pt;}
.y17{bottom:311.520000pt;}
.y16{bottom:332.720000pt;}
.y15{bottom:353.840000pt;}
.y14{bottom:375.200000pt;}
.y13{bottom:396.320000pt;}
.y12{bottom:417.360000pt;}
.y11{bottom:438.480000pt;}
.y10{bottom:470.000000pt;}
.yf{bottom:518.240000pt;}
.ye{bottom:554.640000pt;}
.y0{bottom:596.666667pt;}
.yd{bottom:597.280000pt;}
.yc{bottom:733.440000pt;}
.yb{bottom:754.640000pt;}
.ya{bottom:775.760000pt;}
.y9{bottom:796.960000pt;}
.y8{bottom:818.080000pt;}
.y7{bottom:839.280000pt;}
.y6{bottom:860.400000pt;}
.y5{bottom:881.600000pt;}
.y4{bottom:902.720000pt;}
.y3{bottom:923.920000pt;}
.y2{bottom:945.040000pt;}
.y1{bottom:987.760000pt;}
.h7{height:39.030469pt;}
.h2{height:58.406250pt;}
.h6{height:71.000000pt;}
.h3{height:73.281250pt;}
.h8{height:92.020833pt;}
.h5{height:97.830469pt;}
.h1{height:130.666667pt;}
.h4{height:195.294531pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x7{left:96.000000pt;}
.x5{left:159.040000pt;}
.x0{left:180.000000pt;}
.x4{left:336.880000pt;}
.x6{left:361.280000pt;}
.x1{left:372.240000pt;}
.x2{left:408.000000pt;}
.x3{left:636.000000pt;}
.x8{left:673.040000pt;}
}
