.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls8{letter-spacing:-0.105600px;}
.lsb{letter-spacing:-0.096000px;}
.ls0{letter-spacing:-0.076896px;}
.ls13{letter-spacing:-0.072000px;}
.ls10{letter-spacing:-0.062400px;}
.ls2{letter-spacing:-0.052848px;}
.ls3{letter-spacing:-0.044040px;}
.ls4{letter-spacing:-0.035232px;}
.ls6{letter-spacing:-0.019200px;}
.ls1{letter-spacing:0.000000px;}
.ls5{letter-spacing:0.004800px;}
.lse{letter-spacing:0.009600px;}
.ls7{letter-spacing:0.014400px;}
.lsa{letter-spacing:0.019200px;}
.ls9{letter-spacing:0.024000px;}
.lsd{letter-spacing:0.028800px;}
.ls12{letter-spacing:0.043200px;}
.ls11{letter-spacing:0.048000px;}
.lsc{letter-spacing:0.062400px;}
.lsf{letter-spacing:0.081600px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws14{word-spacing:-0.163200px;}
.wsb{word-spacing:-0.148800px;}
.wsf{word-spacing:-0.120000px;}
.ws7{word-spacing:-0.096000px;}
.ws8{word-spacing:-0.072000px;}
.wsa{word-spacing:-0.062400px;}
.wsc{word-spacing:-0.057600px;}
.ws9{word-spacing:-0.052800px;}
.ws13{word-spacing:-0.038400px;}
.ws6{word-spacing:-0.024000px;}
.ws11{word-spacing:-0.019200px;}
.ws5{word-spacing:-0.014400px;}
.ws15{word-spacing:-0.009600px;}
.ws3{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.ws10{word-spacing:0.014400px;}
.ws4{word-spacing:0.019200px;}
.wse{word-spacing:0.033600px;}
.wsd{word-spacing:0.062400px;}
.ws12{word-spacing:0.072000px;}
.ws2{word-spacing:0.096888px;}
.ws1{word-spacing:0.105696px;}
._1{margin-left:-1.008000px;}
._0{width:12.211200px;}
._2{width:14.832000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs2{font-size:48.000000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:88.080000px;}
.y23{bottom:16.000000px;}
.y22{bottom:39.840100px;}
.y47{bottom:75.480000px;}
.y21{bottom:80.400000px;}
.y46{bottom:91.380000px;}
.y20{bottom:96.240000px;}
.y45{bottom:107.220000px;}
.y1f{bottom:112.140000px;}
.y1e{bottom:127.980000px;}
.y44{bottom:129.120000px;}
.y1d{bottom:143.820000px;}
.y43{bottom:150.960000px;}
.y1c{bottom:159.720000px;}
.y42{bottom:172.860000px;}
.y1b{bottom:175.560000px;}
.y1a{bottom:191.460000px;}
.y41{bottom:194.700000px;}
.y19{bottom:207.300000px;}
.y40{bottom:210.600000px;}
.y18{bottom:223.200000px;}
.y3f{bottom:226.440000px;}
.y17{bottom:239.040000px;}
.y3e{bottom:242.340000px;}
.y16{bottom:254.940000px;}
.y3d{bottom:258.180000px;}
.y15{bottom:270.780000px;}
.y3c{bottom:274.080000px;}
.y14{bottom:286.560000px;}
.y3b{bottom:289.920000px;}
.y13{bottom:302.400000px;}
.y3a{bottom:311.760000px;}
.y12{bottom:318.300000px;}
.y39{bottom:333.660000px;}
.y11{bottom:338.107800px;}
.y38{bottom:355.500000px;}
.y10{bottom:367.152180px;}
.y37{bottom:377.400000px;}
.y36{bottom:393.240000px;}
.yf{bottom:396.240600px;}
.y35{bottom:409.140000px;}
.y34{bottom:424.980000px;}
.ye{bottom:425.340000px;}
.y33{bottom:440.880000px;}
.y0{bottom:447.500000px;}
.yd{bottom:447.960000px;}
.y32{bottom:456.720000px;}
.y31{bottom:472.620000px;}
.y30{bottom:488.460000px;}
.y2f{bottom:510.360000px;}
.y2e{bottom:532.200000px;}
.yc{bottom:550.080000px;}
.y2d{bottom:554.100000px;}
.yb{bottom:565.980000px;}
.y2c{bottom:575.940000px;}
.ya{bottom:581.820000px;}
.y2b{bottom:591.840000px;}
.y9{bottom:597.720000px;}
.y2a{bottom:607.680000px;}
.y8{bottom:613.560000px;}
.y29{bottom:623.580000px;}
.y7{bottom:629.460000px;}
.y28{bottom:639.420000px;}
.y6{bottom:645.300000px;}
.y27{bottom:655.320000px;}
.y5{bottom:661.200000px;}
.y26{bottom:671.160000px;}
.y4{bottom:677.040000px;}
.y25{bottom:687.060000px;}
.y3{bottom:692.940000px;}
.y2{bottom:708.780000px;}
.y24{bottom:708.900000px;}
.y1{bottom:740.820000px;}
.h6{height:29.272852px;}
.h2{height:43.804688px;}
.h5{height:53.250000px;}
.h3{height:54.960938px;}
.h8{height:59.156250px;}
.h7{height:69.015625px;}
.h1{height:98.000000px;}
.h4{height:100.853320px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x8{left:72.000000px;}
.x5{left:73.491920px;}
.xb{left:90.000000px;}
.xc{left:108.000000px;}
.x0{left:135.500000px;}
.x6{left:188.634500px;}
.xa{left:253.000000px;}
.x4{left:269.340000px;}
.x7{left:270.960000px;}
.x1{left:279.180000px;}
.x2{left:306.000000px;}
.x3{left:477.720000px;}
.x9{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls8{letter-spacing:-0.140800pt;}
.lsb{letter-spacing:-0.128000pt;}
.ls0{letter-spacing:-0.102528pt;}
.ls13{letter-spacing:-0.096000pt;}
.ls10{letter-spacing:-0.083200pt;}
.ls2{letter-spacing:-0.070464pt;}
.ls3{letter-spacing:-0.058720pt;}
.ls4{letter-spacing:-0.046976pt;}
.ls6{letter-spacing:-0.025600pt;}
.ls1{letter-spacing:0.000000pt;}
.ls5{letter-spacing:0.006400pt;}
.lse{letter-spacing:0.012800pt;}
.ls7{letter-spacing:0.019200pt;}
.lsa{letter-spacing:0.025600pt;}
.ls9{letter-spacing:0.032000pt;}
.lsd{letter-spacing:0.038400pt;}
.ls12{letter-spacing:0.057600pt;}
.ls11{letter-spacing:0.064000pt;}
.lsc{letter-spacing:0.083200pt;}
.lsf{letter-spacing:0.108800pt;}
.ws14{word-spacing:-0.217600pt;}
.wsb{word-spacing:-0.198400pt;}
.wsf{word-spacing:-0.160000pt;}
.ws7{word-spacing:-0.128000pt;}
.ws8{word-spacing:-0.096000pt;}
.wsa{word-spacing:-0.083200pt;}
.wsc{word-spacing:-0.076800pt;}
.ws9{word-spacing:-0.070400pt;}
.ws13{word-spacing:-0.051200pt;}
.ws6{word-spacing:-0.032000pt;}
.ws11{word-spacing:-0.025600pt;}
.ws5{word-spacing:-0.019200pt;}
.ws15{word-spacing:-0.012800pt;}
.ws3{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.ws10{word-spacing:0.019200pt;}
.ws4{word-spacing:0.025600pt;}
.wse{word-spacing:0.044800pt;}
.wsd{word-spacing:0.083200pt;}
.ws12{word-spacing:0.096000pt;}
.ws2{word-spacing:0.129184pt;}
.ws1{word-spacing:0.140928pt;}
._1{margin-left:-1.344000pt;}
._0{width:16.281600pt;}
._2{width:19.776000pt;}
.fs1{font-size:58.560000pt;}
.fs2{font-size:64.000000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:117.440000pt;}
.y23{bottom:21.333333pt;}
.y22{bottom:53.120133pt;}
.y47{bottom:100.640000pt;}
.y21{bottom:107.200000pt;}
.y46{bottom:121.840000pt;}
.y20{bottom:128.320000pt;}
.y45{bottom:142.960000pt;}
.y1f{bottom:149.520000pt;}
.y1e{bottom:170.640000pt;}
.y44{bottom:172.160000pt;}
.y1d{bottom:191.760000pt;}
.y43{bottom:201.280000pt;}
.y1c{bottom:212.960000pt;}
.y42{bottom:230.480000pt;}
.y1b{bottom:234.080000pt;}
.y1a{bottom:255.280000pt;}
.y41{bottom:259.600000pt;}
.y19{bottom:276.400000pt;}
.y40{bottom:280.800000pt;}
.y18{bottom:297.600000pt;}
.y3f{bottom:301.920000pt;}
.y17{bottom:318.720000pt;}
.y3e{bottom:323.120000pt;}
.y16{bottom:339.920000pt;}
.y3d{bottom:344.240000pt;}
.y15{bottom:361.040000pt;}
.y3c{bottom:365.440000pt;}
.y14{bottom:382.080000pt;}
.y3b{bottom:386.560000pt;}
.y13{bottom:403.200000pt;}
.y3a{bottom:415.680000pt;}
.y12{bottom:424.400000pt;}
.y39{bottom:444.880000pt;}
.y11{bottom:450.810400pt;}
.y38{bottom:474.000000pt;}
.y10{bottom:489.536240pt;}
.y37{bottom:503.200000pt;}
.y36{bottom:524.320000pt;}
.yf{bottom:528.320800pt;}
.y35{bottom:545.520000pt;}
.y34{bottom:566.640000pt;}
.ye{bottom:567.120000pt;}
.y33{bottom:587.840000pt;}
.y0{bottom:596.666667pt;}
.yd{bottom:597.280000pt;}
.y32{bottom:608.960000pt;}
.y31{bottom:630.160000pt;}
.y30{bottom:651.280000pt;}
.y2f{bottom:680.480000pt;}
.y2e{bottom:709.600000pt;}
.yc{bottom:733.440000pt;}
.y2d{bottom:738.800000pt;}
.yb{bottom:754.640000pt;}
.y2c{bottom:767.920000pt;}
.ya{bottom:775.760000pt;}
.y2b{bottom:789.120000pt;}
.y9{bottom:796.960000pt;}
.y2a{bottom:810.240000pt;}
.y8{bottom:818.080000pt;}
.y29{bottom:831.440000pt;}
.y7{bottom:839.280000pt;}
.y28{bottom:852.560000pt;}
.y6{bottom:860.400000pt;}
.y27{bottom:873.760000pt;}
.y5{bottom:881.600000pt;}
.y26{bottom:894.880000pt;}
.y4{bottom:902.720000pt;}
.y25{bottom:916.080000pt;}
.y3{bottom:923.920000pt;}
.y2{bottom:945.040000pt;}
.y24{bottom:945.200000pt;}
.y1{bottom:987.760000pt;}
.h6{height:39.030469pt;}
.h2{height:58.406250pt;}
.h5{height:71.000000pt;}
.h3{height:73.281250pt;}
.h8{height:78.875000pt;}
.h7{height:92.020833pt;}
.h1{height:130.666667pt;}
.h4{height:134.471094pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x8{left:96.000000pt;}
.x5{left:97.989227pt;}
.xb{left:120.000000pt;}
.xc{left:144.000000pt;}
.x0{left:180.666667pt;}
.x6{left:251.512667pt;}
.xa{left:337.333333pt;}
.x4{left:359.120000pt;}
.x7{left:361.280000pt;}
.x1{left:372.240000pt;}
.x2{left:408.000000pt;}
.x3{left:636.960000pt;}
.x9{left:673.040000pt;}
}
