.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:-0.076896px;}
.ls2{letter-spacing:-0.040032px;}
.ls3{letter-spacing:-0.020016px;}
.ls1{letter-spacing:0.000000px;}
.ls4{letter-spacing:0.004800px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1{word-spacing:-0.070056px;}
.ws2{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(255,0,0);}
.fc1{color:rgb(0,176,80);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs2{font-size:48.000000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:100.080000px;}
.y24{bottom:16.000000px;}
.y23{bottom:39.840100px;}
.y22{bottom:81.600000px;}
.y21{bottom:97.440000px;}
.y20{bottom:113.340000px;}
.y1f{bottom:129.180000px;}
.y1e{bottom:145.080000px;}
.y1d{bottom:160.920000px;}
.y1c{bottom:176.760000px;}
.y1b{bottom:192.660000px;}
.y1a{bottom:208.500000px;}
.y19{bottom:224.400000px;}
.y18{bottom:240.240000px;}
.y17{bottom:256.140000px;}
.y16{bottom:272.100000px;}
.y15{bottom:287.880000px;}
.y14{bottom:303.720000px;}
.y13{bottom:319.620000px;}
.y12{bottom:340.620000px;}
.y11{bottom:340.629680px;}
.y10{bottom:373.681100px;}
.yf{bottom:406.740000px;}
.y0{bottom:432.000000px;}
.ye{bottom:432.060000px;}
.yd{bottom:534.240000px;}
.yc{bottom:550.080000px;}
.yb{bottom:565.980000px;}
.ya{bottom:581.820000px;}
.y9{bottom:597.720000px;}
.y8{bottom:613.560000px;}
.y7{bottom:629.460000px;}
.y6{bottom:645.300000px;}
.y5{bottom:661.200000px;}
.y4{bottom:677.040000px;}
.y3{bottom:692.940000px;}
.y2{bottom:708.780000px;}
.y1{bottom:740.820000px;}
.h6{height:29.272852px;}
.h2{height:43.804688px;}
.h5{height:53.250000px;}
.h3{height:54.960938px;}
.h7{height:69.015625px;}
.h1{height:98.000000px;}
.h4{height:114.593555px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x8{left:71.999900px;}
.x5{left:84.073400px;}
.x0{left:135.500000px;}
.xa{left:253.000000px;}
.x4{left:264.300000px;}
.x7{left:270.959900px;}
.x1{left:279.180000px;}
.x2{left:306.000000px;}
.x3{left:477.720000px;}
.x9{left:504.780000px;}
.x6{left:527.939900px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:-0.102528pt;}
.ls2{letter-spacing:-0.053376pt;}
.ls3{letter-spacing:-0.026688pt;}
.ls1{letter-spacing:0.000000pt;}
.ls4{letter-spacing:0.006400pt;}
.ws1{word-spacing:-0.093408pt;}
.ws2{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:58.560000pt;}
.fs2{font-size:64.000000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:133.440000pt;}
.y24{bottom:21.333333pt;}
.y23{bottom:53.120133pt;}
.y22{bottom:108.800000pt;}
.y21{bottom:129.920000pt;}
.y20{bottom:151.120000pt;}
.y1f{bottom:172.240000pt;}
.y1e{bottom:193.440000pt;}
.y1d{bottom:214.560000pt;}
.y1c{bottom:235.680000pt;}
.y1b{bottom:256.880000pt;}
.y1a{bottom:278.000000pt;}
.y19{bottom:299.200000pt;}
.y18{bottom:320.320000pt;}
.y17{bottom:341.520000pt;}
.y16{bottom:362.800000pt;}
.y15{bottom:383.840000pt;}
.y14{bottom:404.960000pt;}
.y13{bottom:426.160000pt;}
.y12{bottom:454.160000pt;}
.y11{bottom:454.172907pt;}
.y10{bottom:498.241467pt;}
.yf{bottom:542.320000pt;}
.y0{bottom:576.000000pt;}
.ye{bottom:576.080000pt;}
.yd{bottom:712.320000pt;}
.yc{bottom:733.440000pt;}
.yb{bottom:754.640000pt;}
.ya{bottom:775.760000pt;}
.y9{bottom:796.960000pt;}
.y8{bottom:818.080000pt;}
.y7{bottom:839.280000pt;}
.y6{bottom:860.400000pt;}
.y5{bottom:881.600000pt;}
.y4{bottom:902.720000pt;}
.y3{bottom:923.920000pt;}
.y2{bottom:945.040000pt;}
.y1{bottom:987.760000pt;}
.h6{height:39.030469pt;}
.h2{height:58.406250pt;}
.h5{height:71.000000pt;}
.h3{height:73.281250pt;}
.h7{height:92.020833pt;}
.h1{height:130.666667pt;}
.h4{height:152.791406pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x8{left:95.999867pt;}
.x5{left:112.097867pt;}
.x0{left:180.666667pt;}
.xa{left:337.333333pt;}
.x4{left:352.400000pt;}
.x7{left:361.279867pt;}
.x1{left:372.240000pt;}
.x2{left:408.000000pt;}
.x3{left:636.960000pt;}
.x9{left:673.040000pt;}
.x6{left:703.919867pt;}
}
