.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(33,78,123);}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:48.000000px;}
.fs2{font-size:56.000000px;}
.fs1{font-size:60.000000px;}
.fs0{font-size:80.000000px;}
.y6{bottom:17.000000px;}
.y29{bottom:22.000000px;}
.y7{bottom:35.500000px;}
.yef{bottom:60.160000px;}
.ycd{bottom:62.000000px;}
.ye6{bottom:65.990000px;}
.ya8{bottom:67.030000px;}
.y6b{bottom:69.000000px;}
.ycc{bottom:74.000000px;}
.ye5{bottom:77.990000px;}
.yee{bottom:78.160000px;}
.ya7{bottom:79.030000px;}
.y27{bottom:81.160000px;}
.y6a{bottom:87.000000px;}
.ye4{bottom:89.990000px;}
.ycb{bottom:90.000000px;}
.ya6{bottom:95.030000px;}
.yed{bottom:96.160000px;}
.y4e{bottom:101.080000px;}
.yca{bottom:102.000000px;}
.y69{bottom:105.000000px;}
.ye3{bottom:105.990000px;}
.ya5{bottom:107.030000px;}
.yc9{bottom:114.000000px;}
.y4d{bottom:119.080000px;}
.ye2{bottom:121.990000px;}
.y68{bottom:123.000000px;}
.ya4{bottom:125.030000px;}
.yc8{bottom:130.000000px;}
.ye1{bottom:133.990000px;}
.y4c{bottom:137.080000px;}
.y67{bottom:141.000000px;}
.ya3{bottom:145.030000px;}
.ye0{bottom:145.990000px;}
.yc7{bottom:146.000000px;}
.y4b{bottom:155.080000px;}
.yc6{bottom:158.000000px;}
.y66{bottom:159.000000px;}
.ydf{bottom:161.990000px;}
.ya2{bottom:163.030000px;}
.y4a{bottom:167.080000px;}
.yc5{bottom:170.000000px;}
.y65{bottom:171.000000px;}
.yde{bottom:173.990000px;}
.ya1{bottom:181.030000px;}
.y49{bottom:183.080000px;}
.ydd{bottom:185.990000px;}
.yc4{bottom:186.000000px;}
.y64{bottom:187.000000px;}
.ya0{bottom:199.030000px;}
.y48{bottom:199.080000px;}
.ydc{bottom:201.990000px;}
.yc3{bottom:202.000000px;}
.y63{bottom:203.000000px;}
.ydb{bottom:213.990000px;}
.y47{bottom:215.080000px;}
.y9f{bottom:217.030000px;}
.yc2{bottom:218.000000px;}
.y62{bottom:219.000000px;}
.y86{bottom:222.030000px;}
.yc1{bottom:230.000000px;}
.y26{bottom:230.080000px;}
.y46{bottom:231.080000px;}
.yda{bottom:231.990000px;}
.y61{bottom:235.000000px;}
.y9e{bottom:235.030000px;}
.y85{bottom:240.030000px;}
.yc0{bottom:242.000000px;}
.y45{bottom:243.080000px;}
.y60{bottom:247.000000px;}
.y25{bottom:248.080000px;}
.yd9{bottom:251.990000px;}
.y84{bottom:252.030000px;}
.y9d{bottom:253.030000px;}
.y44{bottom:255.080000px;}
.ybf{bottom:258.000000px;}
.y5f{bottom:259.000000px;}
.y24{bottom:260.080000px;}
.y83{bottom:264.030000px;}
.yd8{bottom:269.990000px;}
.ybe{bottom:270.000000px;}
.y9c{bottom:271.030000px;}
.y43{bottom:271.080000px;}
.y23{bottom:272.080000px;}
.y5e{bottom:275.000000px;}
.y9b{bottom:283.030000px;}
.y42{bottom:283.080000px;}
.y5d{bottom:287.000000px;}
.yd7{bottom:287.990000px;}
.ybd{bottom:288.000000px;}
.y41{bottom:295.080000px;}
.y5c{bottom:299.000000px;}
.y9a{bottom:299.030000px;}
.yd1{bottom:302.990000px;}
.yd6{bottom:305.990000px;}
.ybc{bottom:308.000000px;}
.y40{bottom:311.080000px;}
.y5b{bottom:315.000000px;}
.y99{bottom:315.030000px;}
.yd0{bottom:320.990000px;}
.yd5{bottom:323.990000px;}
.ybb{bottom:326.000000px;}
.y5a{bottom:327.000000px;}
.y3f{bottom:327.080000px;}
.y98{bottom:331.030000px;}
.ycf{bottom:332.990000px;}
.y5{bottom:338.500000px;}
.y59{bottom:339.000000px;}
.y3e{bottom:339.080000px;}
.yd4{bottom:341.990000px;}
.yba{bottom:344.000000px;}
.yce{bottom:344.990000px;}
.y97{bottom:347.030000px;}
.y3d{bottom:351.080000px;}
.y58{bottom:355.000000px;}
.y96{bottom:359.030000px;}
.yd3{bottom:359.990000px;}
.y4{bottom:361.000000px;}
.yb9{bottom:362.000000px;}
.y57{bottom:367.000000px;}
.y3c{bottom:367.080000px;}
.y95{bottom:371.030000px;}
.yd2{bottom:377.990000px;}
.y56{bottom:379.000000px;}
.y3b{bottom:379.080000px;}
.yb8{bottom:380.000000px;}
.y94{bottom:387.030000px;}
.y3{bottom:391.000000px;}
.y3a{bottom:391.080000px;}
.yec{bottom:393.580000px;}
.y55{bottom:395.000000px;}
.yb7{bottom:398.000000px;}
.y93{bottom:399.030000px;}
.y54{bottom:407.000000px;}
.y39{bottom:407.080000px;}
.y92{bottom:411.030000px;}
.yeb{bottom:411.580000px;}
.y22{bottom:414.000000px;}
.yb6{bottom:416.000000px;}
.y38{bottom:423.080000px;}
.yea{bottom:423.580000px;}
.y53{bottom:425.000000px;}
.y21{bottom:426.000000px;}
.y91{bottom:427.030000px;}
.yb5{bottom:434.000000px;}
.y37{bottom:435.080000px;}
.ye9{bottom:435.580000px;}
.y20{bottom:438.000000px;}
.y82{bottom:440.000000px;}
.y90{bottom:443.030000px;}
.y52{bottom:445.000000px;}
.yb4{bottom:446.000000px;}
.y36{bottom:447.080000px;}
.y81{bottom:452.000000px;}
.y1f{bottom:454.000000px;}
.y8f{bottom:455.030000px;}
.yb3{bottom:462.000000px;}
.y51{bottom:463.000000px;}
.y35{bottom:463.080000px;}
.y80{bottom:464.000000px;}
.y8e{bottom:467.030000px;}
.y1e{bottom:470.000000px;}
.y0{bottom:470.500000px;}
.y34{bottom:475.080000px;}
.yb2{bottom:478.000000px;}
.y7f{bottom:480.000000px;}
.y50{bottom:481.000000px;}
.y1d{bottom:482.000000px;}
.y8d{bottom:483.030000px;}
.y7e{bottom:492.000000px;}
.y33{bottom:493.080000px;}
.y1c{bottom:494.000000px;}
.y8c{bottom:495.030000px;}
.y4f{bottom:499.000000px;}
.y7d{bottom:504.000000px;}
.y1b{bottom:510.000000px;}
.y8b{bottom:513.030000px;}
.y32{bottom:513.080000px;}
.y7c{bottom:520.000000px;}
.y1a{bottom:522.000000px;}
.yb1{bottom:526.000000px;}
.y31{bottom:531.080000px;}
.y7b{bottom:532.000000px;}
.y8a{bottom:533.030000px;}
.y19{bottom:534.000000px;}
.yb0{bottom:542.000000px;}
.y7a{bottom:544.000000px;}
.y30{bottom:549.080000px;}
.y18{bottom:550.000000px;}
.y89{bottom:551.030000px;}
.yaf{bottom:558.000000px;}
.y79{bottom:560.000000px;}
.y17{bottom:566.000000px;}
.y2f{bottom:567.080000px;}
.y88{bottom:569.030000px;}
.yae{bottom:570.000000px;}
.y6d{bottom:572.000000px;}
.y16{bottom:582.000000px;}
.y2e{bottom:585.080000px;}
.y87{bottom:587.030000px;}
.y78{bottom:588.000000px;}
.y15{bottom:594.000000px;}
.yad{bottom:598.000000px;}
.y2d{bottom:603.080000px;}
.y6c{bottom:604.000000px;}
.y14{bottom:606.000000px;}
.yac{bottom:610.000000px;}
.y77{bottom:620.000000px;}
.y2c{bottom:621.080000px;}
.y13{bottom:622.000000px;}
.y2{bottom:636.000000px;}
.y12{bottom:638.000000px;}
.y2b{bottom:639.080000px;}
.y11{bottom:650.000000px;}
.y76{bottom:652.000000px;}
.y2a{bottom:657.080000px;}
.y10{bottom:662.000000px;}
.y75{bottom:664.000000px;}
.yf{bottom:678.000000px;}
.y74{bottom:680.000000px;}
.y73{bottom:692.000000px;}
.ye{bottom:694.000000px;}
.y72{bottom:704.000000px;}
.yd{bottom:706.000000px;}
.yc{bottom:718.000000px;}
.y71{bottom:720.000000px;}
.ye8{bottom:726.000000px;}
.y70{bottom:732.000000px;}
.yb{bottom:734.000000px;}
.ye7{bottom:738.000000px;}
.ya{bottom:746.000000px;}
.y6f{bottom:750.000000px;}
.y9{bottom:758.000000px;}
.yab{bottom:766.000000px;}
.y6e{bottom:770.000000px;}
.y1{bottom:776.000000px;}
.yaa{bottom:778.000000px;}
.y8{bottom:788.000000px;}
.ya9{bottom:790.000000px;}
.y28{bottom:808.000000px;}
.h6{height:56.367840px;}
.h7{height:59.156250px;}
.h4{height:69.015625px;}
.h3{height:70.459800px;}
.h2{height:93.946400px;}
.h1{height:150.500000px;}
.h5{height:770.500000px;}
.h0{height:842.000000px;}
.w1{width:450.500000px;}
.w2{width:523.500000px;}
.w0{width:595.000000px;}
.x1{left:36.000000px;}
.x7{left:46.000000px;}
.x0{left:72.500000px;}
.x2{left:179.690000px;}
.x5{left:235.810000px;}
.x4{left:245.000000px;}
.x3{left:254.980000px;}
.x8{left:543.660000px;}
.x6{left:550.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs3{font-size:64.000000pt;}
.fs2{font-size:74.666667pt;}
.fs1{font-size:80.000000pt;}
.fs0{font-size:106.666667pt;}
.y6{bottom:22.666667pt;}
.y29{bottom:29.333333pt;}
.y7{bottom:47.333333pt;}
.yef{bottom:80.213333pt;}
.ycd{bottom:82.666667pt;}
.ye6{bottom:87.986667pt;}
.ya8{bottom:89.373333pt;}
.y6b{bottom:92.000000pt;}
.ycc{bottom:98.666667pt;}
.ye5{bottom:103.986667pt;}
.yee{bottom:104.213333pt;}
.ya7{bottom:105.373333pt;}
.y27{bottom:108.213333pt;}
.y6a{bottom:116.000000pt;}
.ye4{bottom:119.986667pt;}
.ycb{bottom:120.000000pt;}
.ya6{bottom:126.706667pt;}
.yed{bottom:128.213333pt;}
.y4e{bottom:134.773333pt;}
.yca{bottom:136.000000pt;}
.y69{bottom:140.000000pt;}
.ye3{bottom:141.320000pt;}
.ya5{bottom:142.706667pt;}
.yc9{bottom:152.000000pt;}
.y4d{bottom:158.773333pt;}
.ye2{bottom:162.653333pt;}
.y68{bottom:164.000000pt;}
.ya4{bottom:166.706667pt;}
.yc8{bottom:173.333333pt;}
.ye1{bottom:178.653333pt;}
.y4c{bottom:182.773333pt;}
.y67{bottom:188.000000pt;}
.ya3{bottom:193.373333pt;}
.ye0{bottom:194.653333pt;}
.yc7{bottom:194.666667pt;}
.y4b{bottom:206.773333pt;}
.yc6{bottom:210.666667pt;}
.y66{bottom:212.000000pt;}
.ydf{bottom:215.986667pt;}
.ya2{bottom:217.373333pt;}
.y4a{bottom:222.773333pt;}
.yc5{bottom:226.666667pt;}
.y65{bottom:228.000000pt;}
.yde{bottom:231.986667pt;}
.ya1{bottom:241.373333pt;}
.y49{bottom:244.106667pt;}
.ydd{bottom:247.986667pt;}
.yc4{bottom:248.000000pt;}
.y64{bottom:249.333333pt;}
.ya0{bottom:265.373333pt;}
.y48{bottom:265.440000pt;}
.ydc{bottom:269.320000pt;}
.yc3{bottom:269.333333pt;}
.y63{bottom:270.666667pt;}
.ydb{bottom:285.320000pt;}
.y47{bottom:286.773333pt;}
.y9f{bottom:289.373333pt;}
.yc2{bottom:290.666667pt;}
.y62{bottom:292.000000pt;}
.y86{bottom:296.040000pt;}
.yc1{bottom:306.666667pt;}
.y26{bottom:306.773333pt;}
.y46{bottom:308.106667pt;}
.yda{bottom:309.320000pt;}
.y61{bottom:313.333333pt;}
.y9e{bottom:313.373333pt;}
.y85{bottom:320.040000pt;}
.yc0{bottom:322.666667pt;}
.y45{bottom:324.106667pt;}
.y60{bottom:329.333333pt;}
.y25{bottom:330.773333pt;}
.yd9{bottom:335.986667pt;}
.y84{bottom:336.040000pt;}
.y9d{bottom:337.373333pt;}
.y44{bottom:340.106667pt;}
.ybf{bottom:344.000000pt;}
.y5f{bottom:345.333333pt;}
.y24{bottom:346.773333pt;}
.y83{bottom:352.040000pt;}
.yd8{bottom:359.986667pt;}
.ybe{bottom:360.000000pt;}
.y9c{bottom:361.373333pt;}
.y43{bottom:361.440000pt;}
.y23{bottom:362.773333pt;}
.y5e{bottom:366.666667pt;}
.y9b{bottom:377.373333pt;}
.y42{bottom:377.440000pt;}
.y5d{bottom:382.666667pt;}
.yd7{bottom:383.986667pt;}
.ybd{bottom:384.000000pt;}
.y41{bottom:393.440000pt;}
.y5c{bottom:398.666667pt;}
.y9a{bottom:398.706667pt;}
.yd1{bottom:403.986667pt;}
.yd6{bottom:407.986667pt;}
.ybc{bottom:410.666667pt;}
.y40{bottom:414.773333pt;}
.y5b{bottom:420.000000pt;}
.y99{bottom:420.040000pt;}
.yd0{bottom:427.986667pt;}
.yd5{bottom:431.986667pt;}
.ybb{bottom:434.666667pt;}
.y5a{bottom:436.000000pt;}
.y3f{bottom:436.106667pt;}
.y98{bottom:441.373333pt;}
.ycf{bottom:443.986667pt;}
.y5{bottom:451.333333pt;}
.y59{bottom:452.000000pt;}
.y3e{bottom:452.106667pt;}
.yd4{bottom:455.986667pt;}
.yba{bottom:458.666667pt;}
.yce{bottom:459.986667pt;}
.y97{bottom:462.706667pt;}
.y3d{bottom:468.106667pt;}
.y58{bottom:473.333333pt;}
.y96{bottom:478.706667pt;}
.yd3{bottom:479.986667pt;}
.y4{bottom:481.333333pt;}
.yb9{bottom:482.666667pt;}
.y57{bottom:489.333333pt;}
.y3c{bottom:489.440000pt;}
.y95{bottom:494.706667pt;}
.yd2{bottom:503.986667pt;}
.y56{bottom:505.333333pt;}
.y3b{bottom:505.440000pt;}
.yb8{bottom:506.666667pt;}
.y94{bottom:516.040000pt;}
.y3{bottom:521.333333pt;}
.y3a{bottom:521.440000pt;}
.yec{bottom:524.773333pt;}
.y55{bottom:526.666667pt;}
.yb7{bottom:530.666667pt;}
.y93{bottom:532.040000pt;}
.y54{bottom:542.666667pt;}
.y39{bottom:542.773333pt;}
.y92{bottom:548.040000pt;}
.yeb{bottom:548.773333pt;}
.y22{bottom:552.000000pt;}
.yb6{bottom:554.666667pt;}
.y38{bottom:564.106667pt;}
.yea{bottom:564.773333pt;}
.y53{bottom:566.666667pt;}
.y21{bottom:568.000000pt;}
.y91{bottom:569.373333pt;}
.yb5{bottom:578.666667pt;}
.y37{bottom:580.106667pt;}
.ye9{bottom:580.773333pt;}
.y20{bottom:584.000000pt;}
.y82{bottom:586.666667pt;}
.y90{bottom:590.706667pt;}
.y52{bottom:593.333333pt;}
.yb4{bottom:594.666667pt;}
.y36{bottom:596.106667pt;}
.y81{bottom:602.666667pt;}
.y1f{bottom:605.333333pt;}
.y8f{bottom:606.706667pt;}
.yb3{bottom:616.000000pt;}
.y51{bottom:617.333333pt;}
.y35{bottom:617.440000pt;}
.y80{bottom:618.666667pt;}
.y8e{bottom:622.706667pt;}
.y1e{bottom:626.666667pt;}
.y0{bottom:627.333333pt;}
.y34{bottom:633.440000pt;}
.yb2{bottom:637.333333pt;}
.y7f{bottom:640.000000pt;}
.y50{bottom:641.333333pt;}
.y1d{bottom:642.666667pt;}
.y8d{bottom:644.040000pt;}
.y7e{bottom:656.000000pt;}
.y33{bottom:657.440000pt;}
.y1c{bottom:658.666667pt;}
.y8c{bottom:660.040000pt;}
.y4f{bottom:665.333333pt;}
.y7d{bottom:672.000000pt;}
.y1b{bottom:680.000000pt;}
.y8b{bottom:684.040000pt;}
.y32{bottom:684.106667pt;}
.y7c{bottom:693.333333pt;}
.y1a{bottom:696.000000pt;}
.yb1{bottom:701.333333pt;}
.y31{bottom:708.106667pt;}
.y7b{bottom:709.333333pt;}
.y8a{bottom:710.706667pt;}
.y19{bottom:712.000000pt;}
.yb0{bottom:722.666667pt;}
.y7a{bottom:725.333333pt;}
.y30{bottom:732.106667pt;}
.y18{bottom:733.333333pt;}
.y89{bottom:734.706667pt;}
.yaf{bottom:744.000000pt;}
.y79{bottom:746.666667pt;}
.y17{bottom:754.666667pt;}
.y2f{bottom:756.106667pt;}
.y88{bottom:758.706667pt;}
.yae{bottom:760.000000pt;}
.y6d{bottom:762.666667pt;}
.y16{bottom:776.000000pt;}
.y2e{bottom:780.106667pt;}
.y87{bottom:782.706667pt;}
.y78{bottom:784.000000pt;}
.y15{bottom:792.000000pt;}
.yad{bottom:797.333333pt;}
.y2d{bottom:804.106667pt;}
.y6c{bottom:805.333333pt;}
.y14{bottom:808.000000pt;}
.yac{bottom:813.333333pt;}
.y77{bottom:826.666667pt;}
.y2c{bottom:828.106667pt;}
.y13{bottom:829.333333pt;}
.y2{bottom:848.000000pt;}
.y12{bottom:850.666667pt;}
.y2b{bottom:852.106667pt;}
.y11{bottom:866.666667pt;}
.y76{bottom:869.333333pt;}
.y2a{bottom:876.106667pt;}
.y10{bottom:882.666667pt;}
.y75{bottom:885.333333pt;}
.yf{bottom:904.000000pt;}
.y74{bottom:906.666667pt;}
.y73{bottom:922.666667pt;}
.ye{bottom:925.333333pt;}
.y72{bottom:938.666667pt;}
.yd{bottom:941.333333pt;}
.yc{bottom:957.333333pt;}
.y71{bottom:960.000000pt;}
.ye8{bottom:968.000000pt;}
.y70{bottom:976.000000pt;}
.yb{bottom:978.666667pt;}
.ye7{bottom:984.000000pt;}
.ya{bottom:994.666667pt;}
.y6f{bottom:1000.000000pt;}
.y9{bottom:1010.666667pt;}
.yab{bottom:1021.333333pt;}
.y6e{bottom:1026.666667pt;}
.y1{bottom:1034.666667pt;}
.yaa{bottom:1037.333333pt;}
.y8{bottom:1050.666667pt;}
.ya9{bottom:1053.333333pt;}
.y28{bottom:1077.333333pt;}
.h6{height:75.157120pt;}
.h7{height:78.875000pt;}
.h4{height:92.020833pt;}
.h3{height:93.946400pt;}
.h2{height:125.261866pt;}
.h1{height:200.666667pt;}
.h5{height:1027.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:600.666667pt;}
.w2{width:698.000000pt;}
.w0{width:793.333333pt;}
.x1{left:48.000000pt;}
.x7{left:61.333333pt;}
.x0{left:96.666667pt;}
.x2{left:239.586667pt;}
.x5{left:314.413333pt;}
.x4{left:326.666667pt;}
.x3{left:339.973333pt;}
.x8{left:724.880000pt;}
.x6{left:733.773333pt;}
}
