.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc6{color:rgb(33,78,123);}
.fc4{color:rgb(102,0,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(255,0,0);}
.fc2{color:rgb(0,0,51);}
.fc7{color:rgb(66,184,55);}
.fc1{color:rgb(120,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:80.000000px;}
.fs1{font-size:160.000000px;}
.ye{bottom:17.000000px;}
.y27{bottom:31.000000px;}
.yf{bottom:44.500000px;}
.ya0{bottom:57.640000px;}
.yc7{bottom:66.450000px;}
.yf1{bottom:75.000000px;}
.yc6{bottom:78.450000px;}
.y47{bottom:79.030000px;}
.y3c{bottom:81.160000px;}
.y71{bottom:83.000000px;}
.yca{bottom:90.000000px;}
.y9f{bottom:91.140000px;}
.y3b{bottom:93.160000px;}
.yc5{bottom:94.450000px;}
.y70{bottom:95.000000px;}
.y46{bottom:99.030000px;}
.yc9{bottom:105.000000px;}
.y3a{bottom:105.160000px;}
.yc4{bottom:106.450000px;}
.y6f{bottom:107.000000px;}
.y9e{bottom:111.140000px;}
.y45{bottom:117.030000px;}
.yc3{bottom:118.450000px;}
.yf0{bottom:120.000000px;}
.y39{bottom:121.160000px;}
.y6e{bottom:123.000000px;}
.y9d{bottom:129.140000px;}
.yef{bottom:132.000000px;}
.y38{bottom:133.160000px;}
.y44{bottom:135.030000px;}
.y6d{bottom:139.000000px;}
.y9c{bottom:141.140000px;}
.y37{bottom:145.160000px;}
.y81{bottom:145.260000px;}
.y43{bottom:147.030000px;}
.yee{bottom:148.000000px;}
.yc8{bottom:149.950000px;}
.y9b{bottom:153.140000px;}
.y6c{bottom:155.000000px;}
.y80{bottom:157.260000px;}
.yed{bottom:160.000000px;}
.y36{bottom:161.160000px;}
.y42{bottom:163.030000px;}
.y9a{bottom:165.140000px;}
.y7f{bottom:169.260000px;}
.y6b{bottom:171.000000px;}
.yec{bottom:172.000000px;}
.y35{bottom:173.160000px;}
.y41{bottom:179.030000px;}
.y99{bottom:181.140000px;}
.y6a{bottom:183.000000px;}
.yc2{bottom:183.450000px;}
.y34{bottom:185.160000px;}
.y7e{bottom:185.260000px;}
.yeb{bottom:188.000000px;}
.y98{bottom:193.140000px;}
.y69{bottom:195.000000px;}
.y40{bottom:195.030000px;}
.yea{bottom:200.000000px;}
.y33{bottom:201.160000px;}
.y7d{bottom:201.260000px;}
.yc1{bottom:203.450000px;}
.y97{bottom:209.140000px;}
.y68{bottom:211.000000px;}
.y3f{bottom:211.030000px;}
.ye9{bottom:212.000000px;}
.y32{bottom:213.160000px;}
.y7c{bottom:213.260000px;}
.yc0{bottom:221.450000px;}
.y67{bottom:223.000000px;}
.y3e{bottom:223.030000px;}
.y31{bottom:225.160000px;}
.y7b{bottom:225.260000px;}
.y96{bottom:227.140000px;}
.ye8{bottom:228.000000px;}
.ybf{bottom:233.450000px;}
.y66{bottom:235.000000px;}
.y95{bottom:239.140000px;}
.y30{bottom:241.160000px;}
.y7a{bottom:241.260000px;}
.ye7{bottom:244.000000px;}
.ybe{bottom:245.450000px;}
.y65{bottom:251.000000px;}
.y2f{bottom:253.160000px;}
.y94{bottom:255.140000px;}
.ybd{bottom:257.450000px;}
.y2e{bottom:265.160000px;}
.y64{bottom:267.000000px;}
.y93{bottom:271.140000px;}
.y82{bottom:272.770000px;}
.ybc{bottom:273.450000px;}
.yf2{bottom:275.500000px;}
.y63{bottom:279.000000px;}
.ybb{bottom:285.450000px;}
.y92{bottom:287.140000px;}
.y62{bottom:291.000000px;}
.y3d{bottom:296.660000px;}
.yba{bottom:301.450000px;}
.y91{bottom:303.140000px;}
.y79{bottom:306.260000px;}
.y61{bottom:307.000000px;}
.ye6{bottom:309.000000px;}
.y2b{bottom:315.160000px;}
.y90{bottom:319.140000px;}
.yb9{bottom:319.450000px;}
.y78{bottom:326.260000px;}
.ye5{bottom:329.000000px;}
.y2d{bottom:330.160000px;}
.yb8{bottom:331.450000px;}
.y2a{bottom:333.160000px;}
.y8f{bottom:335.140000px;}
.y73{bottom:338.500000px;}
.y29{bottom:345.160000px;}
.ye4{bottom:347.000000px;}
.yb7{bottom:347.450000px;}
.y2c{bottom:350.160000px;}
.y8e{bottom:351.140000px;}
.y28{bottom:357.160000px;}
.ye3{bottom:359.000000px;}
.yb6{bottom:363.450000px;}
.y8d{bottom:367.140000px;}
.ye2{bottom:371.000000px;}
.y60{bottom:372.000000px;}
.yb5{bottom:379.450000px;}
.ye1{bottom:383.000000px;}
.y8c{bottom:383.140000px;}
.yd{bottom:388.500000px;}
.y5f{bottom:392.000000px;}
.yb4{bottom:395.450000px;}
.ye0{bottom:399.000000px;}
.y8b{bottom:399.140000px;}
.yc{bottom:406.500000px;}
.yb3{bottom:407.450000px;}
.y5e{bottom:410.000000px;}
.ydf{bottom:411.000000px;}
.y8a{bottom:415.140000px;}
.yb2{bottom:419.450000px;}
.y5d{bottom:422.000000px;}
.yde{bottom:427.000000px;}
.y89{bottom:427.140000px;}
.y24{bottom:429.000000px;}
.y5c{bottom:434.000000px;}
.yb1{bottom:435.450000px;}
.yb{bottom:436.500000px;}
.y88{bottom:439.140000px;}
.y23{bottom:441.000000px;}
.ydd{bottom:445.000000px;}
.y5b{bottom:446.000000px;}
.yb0{bottom:447.450000px;}
.ya{bottom:451.500000px;}
.y22{bottom:453.000000px;}
.y87{bottom:455.140000px;}
.ydc{bottom:457.000000px;}
.yaf{bottom:459.450000px;}
.y9{bottom:461.500000px;}
.y5a{bottom:462.000000px;}
.y86{bottom:467.140000px;}
.y21{bottom:469.000000px;}
.ydb{bottom:473.000000px;}
.y59{bottom:474.000000px;}
.yae{bottom:475.450000px;}
.y85{bottom:479.140000px;}
.y8{bottom:484.000000px;}
.y20{bottom:485.000000px;}
.yad{bottom:487.450000px;}
.yda{bottom:489.000000px;}
.y58{bottom:490.000000px;}
.y7{bottom:494.000000px;}
.y84{bottom:495.140000px;}
.yac{bottom:499.450000px;}
.y1f{bottom:501.000000px;}
.yd9{bottom:505.000000px;}
.y83{bottom:507.140000px;}
.y57{bottom:508.000000px;}
.yab{bottom:515.450000px;}
.y1e{bottom:517.000000px;}
.y56{bottom:520.000000px;}
.yd8{bottom:521.000000px;}
.y6{bottom:524.000000px;}
.y5{bottom:526.000000px;}
.y1d{bottom:529.000000px;}
.yaa{bottom:531.450000px;}
.yd7{bottom:533.000000px;}
.y55{bottom:536.000000px;}
.y1c{bottom:541.000000px;}
.ya9{bottom:543.450000px;}
.y77{bottom:544.130000px;}
.yd6{bottom:545.000000px;}
.y54{bottom:552.000000px;}
.y1b{bottom:557.000000px;}
.yd5{bottom:561.000000px;}
.y76{bottom:562.130000px;}
.y53{bottom:568.000000px;}
.y1a{bottom:569.000000px;}
.yd4{bottom:573.000000px;}
.y75{bottom:574.130000px;}
.y19{bottom:584.000000px;}
.yd3{bottom:585.000000px;}
.y4{bottom:586.000000px;}
.y74{bottom:586.130000px;}
.y52{bottom:596.000000px;}
.y11{bottom:599.000000px;}
.yd2{bottom:601.000000px;}
.y51{bottom:608.000000px;}
.y18{bottom:614.000000px;}
.yd1{bottom:617.000000px;}
.y50{bottom:624.000000px;}
.y10{bottom:629.000000px;}
.y4f{bottom:636.000000px;}
.yd0{bottom:641.000000px;}
.y17{bottom:644.000000px;}
.y4e{bottom:648.000000px;}
.y16{bottom:656.000000px;}
.ycf{bottom:657.000000px;}
.y4d{bottom:664.000000px;}
.yce{bottom:669.000000px;}
.y15{bottom:672.000000px;}
.y4c{bottom:676.000000px;}
.y14{bottom:684.000000px;}
.ya8{bottom:685.000000px;}
.y3{bottom:686.000000px;}
.y2{bottom:688.000000px;}
.y13{bottom:696.000000px;}
.ya7{bottom:697.000000px;}
.y1{bottom:703.000000px;}
.y4b{bottom:704.000000px;}
.ya6{bottom:709.000000px;}
.y0{bottom:712.500000px;}
.ycd{bottom:713.000000px;}
.y4a{bottom:716.000000px;}
.ya5{bottom:725.000000px;}
.y25{bottom:727.500000px;}
.y49{bottom:728.000000px;}
.ya4{bottom:737.000000px;}
.ycc{bottom:741.000000px;}
.y48{bottom:744.000000px;}
.ya3{bottom:749.000000px;}
.ycb{bottom:753.000000px;}
.ya2{bottom:765.000000px;}
.y72{bottom:775.500000px;}
.y12{bottom:779.000000px;}
.ya1{bottom:781.000000px;}
.y26{bottom:799.000000px;}
.h2{height:46.973200px;}
.h6{height:56.367840px;}
.h9{height:59.156250px;}
.h7{height:69.015625px;}
.h5{height:70.459800px;}
.h1{height:84.500000px;}
.h4{height:93.946400px;}
.h3{height:187.892799px;}
.h8{height:752.500000px;}
.h0{height:842.000000px;}
.w1{width:277.500000px;}
.w2{width:485.500000px;}
.w0{width:595.000000px;}
.x0{left:55.000000px;}
.xc{left:57.000000px;}
.xa{left:85.000000px;}
.xb{left:100.000000px;}
.x6{left:118.710000px;}
.x3{left:207.500000px;}
.xd{left:212.800000px;}
.x8{left:227.820000px;}
.x5{left:236.910000px;}
.x9{left:245.000000px;}
.x7{left:266.380000px;}
.x1{left:276.080000px;}
.x4{left:291.940000px;}
.x2{left:296.110000px;}
.xf{left:524.660000px;}
.xe{left:531.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:106.666667pt;}
.fs1{font-size:213.333333pt;}
.ye{bottom:22.666667pt;}
.y27{bottom:41.333333pt;}
.yf{bottom:59.333333pt;}
.ya0{bottom:76.853333pt;}
.yc7{bottom:88.600000pt;}
.yf1{bottom:100.000000pt;}
.yc6{bottom:104.600000pt;}
.y47{bottom:105.373333pt;}
.y3c{bottom:108.213333pt;}
.y71{bottom:110.666667pt;}
.yca{bottom:120.000000pt;}
.y9f{bottom:121.520000pt;}
.y3b{bottom:124.213333pt;}
.yc5{bottom:125.933333pt;}
.y70{bottom:126.666667pt;}
.y46{bottom:132.040000pt;}
.yc9{bottom:140.000000pt;}
.y3a{bottom:140.213333pt;}
.yc4{bottom:141.933333pt;}
.y6f{bottom:142.666667pt;}
.y9e{bottom:148.186667pt;}
.y45{bottom:156.040000pt;}
.yc3{bottom:157.933333pt;}
.yf0{bottom:160.000000pt;}
.y39{bottom:161.546667pt;}
.y6e{bottom:164.000000pt;}
.y9d{bottom:172.186667pt;}
.yef{bottom:176.000000pt;}
.y38{bottom:177.546667pt;}
.y44{bottom:180.040000pt;}
.y6d{bottom:185.333333pt;}
.y9c{bottom:188.186667pt;}
.y37{bottom:193.546667pt;}
.y81{bottom:193.680000pt;}
.y43{bottom:196.040000pt;}
.yee{bottom:197.333333pt;}
.yc8{bottom:199.933333pt;}
.y9b{bottom:204.186667pt;}
.y6c{bottom:206.666667pt;}
.y80{bottom:209.680000pt;}
.yed{bottom:213.333333pt;}
.y36{bottom:214.880000pt;}
.y42{bottom:217.373333pt;}
.y9a{bottom:220.186667pt;}
.y7f{bottom:225.680000pt;}
.y6b{bottom:228.000000pt;}
.yec{bottom:229.333333pt;}
.y35{bottom:230.880000pt;}
.y41{bottom:238.706667pt;}
.y99{bottom:241.520000pt;}
.y6a{bottom:244.000000pt;}
.yc2{bottom:244.600000pt;}
.y34{bottom:246.880000pt;}
.y7e{bottom:247.013333pt;}
.yeb{bottom:250.666667pt;}
.y98{bottom:257.520000pt;}
.y69{bottom:260.000000pt;}
.y40{bottom:260.040000pt;}
.yea{bottom:266.666667pt;}
.y33{bottom:268.213333pt;}
.y7d{bottom:268.346667pt;}
.yc1{bottom:271.266667pt;}
.y97{bottom:278.853333pt;}
.y68{bottom:281.333333pt;}
.y3f{bottom:281.373333pt;}
.ye9{bottom:282.666667pt;}
.y32{bottom:284.213333pt;}
.y7c{bottom:284.346667pt;}
.yc0{bottom:295.266667pt;}
.y67{bottom:297.333333pt;}
.y3e{bottom:297.373333pt;}
.y31{bottom:300.213333pt;}
.y7b{bottom:300.346667pt;}
.y96{bottom:302.853333pt;}
.ye8{bottom:304.000000pt;}
.ybf{bottom:311.266667pt;}
.y66{bottom:313.333333pt;}
.y95{bottom:318.853333pt;}
.y30{bottom:321.546667pt;}
.y7a{bottom:321.680000pt;}
.ye7{bottom:325.333333pt;}
.ybe{bottom:327.266667pt;}
.y65{bottom:334.666667pt;}
.y2f{bottom:337.546667pt;}
.y94{bottom:340.186667pt;}
.ybd{bottom:343.266667pt;}
.y2e{bottom:353.546667pt;}
.y64{bottom:356.000000pt;}
.y93{bottom:361.520000pt;}
.y82{bottom:363.693333pt;}
.ybc{bottom:364.600000pt;}
.yf2{bottom:367.333333pt;}
.y63{bottom:372.000000pt;}
.ybb{bottom:380.600000pt;}
.y92{bottom:382.853333pt;}
.y62{bottom:388.000000pt;}
.y3d{bottom:395.546667pt;}
.yba{bottom:401.933333pt;}
.y91{bottom:404.186667pt;}
.y79{bottom:408.346667pt;}
.y61{bottom:409.333333pt;}
.ye6{bottom:412.000000pt;}
.y2b{bottom:420.213333pt;}
.y90{bottom:425.520000pt;}
.yb9{bottom:425.933333pt;}
.y78{bottom:435.013333pt;}
.ye5{bottom:438.666667pt;}
.y2d{bottom:440.213333pt;}
.yb8{bottom:441.933333pt;}
.y2a{bottom:444.213333pt;}
.y8f{bottom:446.853333pt;}
.y73{bottom:451.333333pt;}
.y29{bottom:460.213333pt;}
.ye4{bottom:462.666667pt;}
.yb7{bottom:463.266667pt;}
.y2c{bottom:466.880000pt;}
.y8e{bottom:468.186667pt;}
.y28{bottom:476.213333pt;}
.ye3{bottom:478.666667pt;}
.yb6{bottom:484.600000pt;}
.y8d{bottom:489.520000pt;}
.ye2{bottom:494.666667pt;}
.y60{bottom:496.000000pt;}
.yb5{bottom:505.933333pt;}
.ye1{bottom:510.666667pt;}
.y8c{bottom:510.853333pt;}
.yd{bottom:518.000000pt;}
.y5f{bottom:522.666667pt;}
.yb4{bottom:527.266667pt;}
.ye0{bottom:532.000000pt;}
.y8b{bottom:532.186667pt;}
.yc{bottom:542.000000pt;}
.yb3{bottom:543.266667pt;}
.y5e{bottom:546.666667pt;}
.ydf{bottom:548.000000pt;}
.y8a{bottom:553.520000pt;}
.yb2{bottom:559.266667pt;}
.y5d{bottom:562.666667pt;}
.yde{bottom:569.333333pt;}
.y89{bottom:569.520000pt;}
.y24{bottom:572.000000pt;}
.y5c{bottom:578.666667pt;}
.yb1{bottom:580.600000pt;}
.yb{bottom:582.000000pt;}
.y88{bottom:585.520000pt;}
.y23{bottom:588.000000pt;}
.ydd{bottom:593.333333pt;}
.y5b{bottom:594.666667pt;}
.yb0{bottom:596.600000pt;}
.ya{bottom:602.000000pt;}
.y22{bottom:604.000000pt;}
.y87{bottom:606.853333pt;}
.ydc{bottom:609.333333pt;}
.yaf{bottom:612.600000pt;}
.y9{bottom:615.333333pt;}
.y5a{bottom:616.000000pt;}
.y86{bottom:622.853333pt;}
.y21{bottom:625.333333pt;}
.ydb{bottom:630.666667pt;}
.y59{bottom:632.000000pt;}
.yae{bottom:633.933333pt;}
.y85{bottom:638.853333pt;}
.y8{bottom:645.333333pt;}
.y20{bottom:646.666667pt;}
.yad{bottom:649.933333pt;}
.yda{bottom:652.000000pt;}
.y58{bottom:653.333333pt;}
.y7{bottom:658.666667pt;}
.y84{bottom:660.186667pt;}
.yac{bottom:665.933333pt;}
.y1f{bottom:668.000000pt;}
.yd9{bottom:673.333333pt;}
.y83{bottom:676.186667pt;}
.y57{bottom:677.333333pt;}
.yab{bottom:687.266667pt;}
.y1e{bottom:689.333333pt;}
.y56{bottom:693.333333pt;}
.yd8{bottom:694.666667pt;}
.y6{bottom:698.666667pt;}
.y5{bottom:701.333333pt;}
.y1d{bottom:705.333333pt;}
.yaa{bottom:708.600000pt;}
.yd7{bottom:710.666667pt;}
.y55{bottom:714.666667pt;}
.y1c{bottom:721.333333pt;}
.ya9{bottom:724.600000pt;}
.y77{bottom:725.506667pt;}
.yd6{bottom:726.666667pt;}
.y54{bottom:736.000000pt;}
.y1b{bottom:742.666667pt;}
.yd5{bottom:748.000000pt;}
.y76{bottom:749.506667pt;}
.y53{bottom:757.333333pt;}
.y1a{bottom:758.666667pt;}
.yd4{bottom:764.000000pt;}
.y75{bottom:765.506667pt;}
.y19{bottom:778.666667pt;}
.yd3{bottom:780.000000pt;}
.y4{bottom:781.333333pt;}
.y74{bottom:781.506667pt;}
.y52{bottom:794.666667pt;}
.y11{bottom:798.666667pt;}
.yd2{bottom:801.333333pt;}
.y51{bottom:810.666667pt;}
.y18{bottom:818.666667pt;}
.yd1{bottom:822.666667pt;}
.y50{bottom:832.000000pt;}
.y10{bottom:838.666667pt;}
.y4f{bottom:848.000000pt;}
.yd0{bottom:854.666667pt;}
.y17{bottom:858.666667pt;}
.y4e{bottom:864.000000pt;}
.y16{bottom:874.666667pt;}
.ycf{bottom:876.000000pt;}
.y4d{bottom:885.333333pt;}
.yce{bottom:892.000000pt;}
.y15{bottom:896.000000pt;}
.y4c{bottom:901.333333pt;}
.y14{bottom:912.000000pt;}
.ya8{bottom:913.333333pt;}
.y3{bottom:914.666667pt;}
.y2{bottom:917.333333pt;}
.y13{bottom:928.000000pt;}
.ya7{bottom:929.333333pt;}
.y1{bottom:937.333333pt;}
.y4b{bottom:938.666667pt;}
.ya6{bottom:945.333333pt;}
.y0{bottom:950.000000pt;}
.ycd{bottom:950.666667pt;}
.y4a{bottom:954.666667pt;}
.ya5{bottom:966.666667pt;}
.y25{bottom:970.000000pt;}
.y49{bottom:970.666667pt;}
.ya4{bottom:982.666667pt;}
.ycc{bottom:988.000000pt;}
.y48{bottom:992.000000pt;}
.ya3{bottom:998.666667pt;}
.ycb{bottom:1004.000000pt;}
.ya2{bottom:1020.000000pt;}
.y72{bottom:1034.000000pt;}
.y12{bottom:1038.666667pt;}
.ya1{bottom:1041.333333pt;}
.y26{bottom:1065.333333pt;}
.h2{height:62.630933pt;}
.h6{height:75.157120pt;}
.h9{height:78.875000pt;}
.h7{height:92.020833pt;}
.h5{height:93.946400pt;}
.h1{height:112.666667pt;}
.h4{height:125.261866pt;}
.h3{height:250.523733pt;}
.h8{height:1003.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:370.000000pt;}
.w2{width:647.333333pt;}
.w0{width:793.333333pt;}
.x0{left:73.333333pt;}
.xc{left:76.000000pt;}
.xa{left:113.333333pt;}
.xb{left:133.333333pt;}
.x6{left:158.280000pt;}
.x3{left:276.666667pt;}
.xd{left:283.733333pt;}
.x8{left:303.760000pt;}
.x5{left:315.880000pt;}
.x9{left:326.666667pt;}
.x7{left:355.173333pt;}
.x1{left:368.106667pt;}
.x4{left:389.253333pt;}
.x2{left:394.813333pt;}
.xf{left:699.546667pt;}
.xe{left:708.440000pt;}
}
