.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:427.040000px;}
._0{width:669.320000px;}
.fc6{color:rgb(33,78,123);}
.fc4{color:rgb(102,0,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(255,0,0);}
.fc2{color:rgb(0,0,51);}
.fc7{color:rgb(66,184,55);}
.fc1{color:rgb(120,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:80.000000px;}
.fs1{font-size:160.000000px;}
.ye{bottom:17.000000px;}
.y16{bottom:31.000000px;}
.yf{bottom:44.500000px;}
.y84{bottom:62.820000px;}
.y75{bottom:74.060000px;}
.y63{bottom:76.210000px;}
.y83{bottom:78.820000px;}
.y4e{bottom:79.190000px;}
.y74{bottom:86.060000px;}
.y62{bottom:88.210000px;}
.y4d{bottom:91.190000px;}
.y82{bottom:94.820000px;}
.y73{bottom:102.060000px;}
.y4c{bottom:103.190000px;}
.y61{bottom:104.210000px;}
.y81{bottom:106.820000px;}
.y72{bottom:114.060000px;}
.y60{bottom:116.210000px;}
.y80{bottom:118.820000px;}
.y71{bottom:126.060000px;}
.y5f{bottom:128.210000px;}
.y7f{bottom:134.820000px;}
.y70{bottom:142.060000px;}
.y5e{bottom:144.210000px;}
.y7e{bottom:150.820000px;}
.y6c{bottom:152.060000px;}
.y6f{bottom:158.060000px;}
.y5d{bottom:160.210000px;}
.y7d{bottom:162.820000px;}
.y6b{bottom:170.060000px;}
.y5c{bottom:172.210000px;}
.y7c{bottom:174.820000px;}
.y6a{bottom:182.060000px;}
.y5b{bottom:184.210000px;}
.y76{bottom:189.560000px;}
.y7b{bottom:190.820000px;}
.y69{bottom:194.060000px;}
.y5a{bottom:200.210000px;}
.y7a{bottom:202.820000px;}
.y59{bottom:212.210000px;}
.y79{bottom:214.820000px;}
.y2d{bottom:220.290000px;}
.y6e{bottom:223.060000px;}
.y58{bottom:224.210000px;}
.y78{bottom:230.820000px;}
.y2c{bottom:238.290000px;}
.y57{bottom:240.210000px;}
.y77{bottom:242.820000px;}
.y6d{bottom:243.060000px;}
.y2b{bottom:250.290000px;}
.y56{bottom:252.210000px;}
.y2a{bottom:262.290000px;}
.y55{bottom:268.210000px;}
.y54{bottom:284.210000px;}
.y53{bottom:300.210000px;}
.y52{bottom:312.210000px;}
.y51{bottom:324.210000px;}
.y48{bottom:329.000000px;}
.y47{bottom:341.000000px;}
.y46{bottom:353.000000px;}
.y64{bottom:355.710000px;}
.y45{bottom:369.000000px;}
.y44{bottom:381.000000px;}
.yd{bottom:388.500000px;}
.y50{bottom:389.210000px;}
.y43{bottom:397.000000px;}
.yc{bottom:406.500000px;}
.y30{bottom:409.000000px;}
.y4f{bottom:409.210000px;}
.y42{bottom:424.000000px;}
.yb{bottom:436.500000px;}
.y2f{bottom:439.000000px;}
.y29{bottom:448.000000px;}
.ya{bottom:451.500000px;}
.y41{bottom:454.000000px;}
.y28{bottom:460.000000px;}
.y9{bottom:461.500000px;}
.y4b{bottom:465.980000px;}
.y40{bottom:466.000000px;}
.y27{bottom:472.000000px;}
.y4a{bottom:477.980000px;}
.y3f{bottom:482.000000px;}
.y8{bottom:484.000000px;}
.y93{bottom:485.000000px;}
.y26{bottom:488.000000px;}
.y7{bottom:494.000000px;}
.y25{bottom:500.000000px;}
.y92{bottom:503.000000px;}
.y3e{bottom:506.000000px;}
.y24{bottom:512.000000px;}
.y91{bottom:521.000000px;}
.y3d{bottom:522.000000px;}
.y6{bottom:524.000000px;}
.y5{bottom:526.000000px;}
.y23{bottom:528.000000px;}
.y3c{bottom:538.000000px;}
.y90{bottom:539.000000px;}
.y22{bottom:544.000000px;}
.y3b{bottom:550.000000px;}
.y21{bottom:556.000000px;}
.y8f{bottom:557.000000px;}
.y3a{bottom:566.000000px;}
.y20{bottom:568.000000px;}
.y8e{bottom:575.000000px;}
.y39{bottom:582.000000px;}
.y1f{bottom:584.000000px;}
.y4{bottom:586.000000px;}
.y8d{bottom:593.000000px;}
.y38{bottom:594.000000px;}
.y1e{bottom:600.000000px;}
.y37{bottom:606.000000px;}
.y8c{bottom:611.000000px;}
.y1d{bottom:612.000000px;}
.y36{bottom:622.000000px;}
.y1c{bottom:624.000000px;}
.y8b{bottom:629.000000px;}
.y35{bottom:638.000000px;}
.y1b{bottom:640.000000px;}
.y8a{bottom:647.000000px;}
.y34{bottom:650.000000px;}
.y1a{bottom:656.000000px;}
.y33{bottom:662.000000px;}
.y14{bottom:665.000000px;}
.y19{bottom:668.000000px;}
.y32{bottom:678.000000px;}
.y18{bottom:680.000000px;}
.y89{bottom:683.000000px;}
.y13{bottom:684.000000px;}
.y3{bottom:686.000000px;}
.y2{bottom:688.000000px;}
.y31{bottom:694.000000px;}
.y17{bottom:696.000000px;}
.y88{bottom:701.000000px;}
.y1{bottom:703.000000px;}
.y0{bottom:712.500000px;}
.y87{bottom:719.000000px;}
.y12{bottom:722.000000px;}
.y49{bottom:725.500000px;}
.y2e{bottom:727.500000px;}
.y86{bottom:737.000000px;}
.y68{bottom:741.000000px;}
.y85{bottom:749.000000px;}
.y67{bottom:753.000000px;}
.y11{bottom:759.000000px;}
.y66{bottom:765.000000px;}
.y10{bottom:779.000000px;}
.y65{bottom:781.000000px;}
.y15{bottom:799.000000px;}
.h2{height:46.973200px;}
.h6{height:56.367840px;}
.h9{height:59.156250px;}
.h7{height:69.015625px;}
.h5{height:70.459800px;}
.h1{height:84.500000px;}
.h4{height:93.946400px;}
.h3{height:187.892799px;}
.h8{height:797.500000px;}
.h0{height:842.000000px;}
.w1{width:277.500000px;}
.w2{width:540.000000px;}
.w0{width:595.000000px;}
.x0{left:55.000000px;}
.xe{left:57.000000px;}
.xf{left:85.000000px;}
.x6{left:93.270000px;}
.x10{left:100.000000px;}
.xb{left:105.500000px;}
.x3{left:207.500000px;}
.xc{left:212.800000px;}
.x8{left:227.820000px;}
.x5{left:236.910000px;}
.x9{left:245.000000px;}
.xa{left:246.490000px;}
.x7{left:266.380000px;}
.x1{left:276.080000px;}
.x4{left:291.940000px;}
.x2{left:296.110000px;}
.x11{left:524.660000px;}
.xd{left:531.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:569.386667pt;}
._0{width:892.426667pt;}
.fs0{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:106.666667pt;}
.fs1{font-size:213.333333pt;}
.ye{bottom:22.666667pt;}
.y16{bottom:41.333333pt;}
.yf{bottom:59.333333pt;}
.y84{bottom:83.760000pt;}
.y75{bottom:98.746667pt;}
.y63{bottom:101.613333pt;}
.y83{bottom:105.093333pt;}
.y4e{bottom:105.586667pt;}
.y74{bottom:114.746667pt;}
.y62{bottom:117.613333pt;}
.y4d{bottom:121.586667pt;}
.y82{bottom:126.426667pt;}
.y73{bottom:136.080000pt;}
.y4c{bottom:137.586667pt;}
.y61{bottom:138.946667pt;}
.y81{bottom:142.426667pt;}
.y72{bottom:152.080000pt;}
.y60{bottom:154.946667pt;}
.y80{bottom:158.426667pt;}
.y71{bottom:168.080000pt;}
.y5f{bottom:170.946667pt;}
.y7f{bottom:179.760000pt;}
.y70{bottom:189.413333pt;}
.y5e{bottom:192.280000pt;}
.y7e{bottom:201.093333pt;}
.y6c{bottom:202.746667pt;}
.y6f{bottom:210.746667pt;}
.y5d{bottom:213.613333pt;}
.y7d{bottom:217.093333pt;}
.y6b{bottom:226.746667pt;}
.y5c{bottom:229.613333pt;}
.y7c{bottom:233.093333pt;}
.y6a{bottom:242.746667pt;}
.y5b{bottom:245.613333pt;}
.y76{bottom:252.746667pt;}
.y7b{bottom:254.426667pt;}
.y69{bottom:258.746667pt;}
.y5a{bottom:266.946667pt;}
.y7a{bottom:270.426667pt;}
.y59{bottom:282.946667pt;}
.y79{bottom:286.426667pt;}
.y2d{bottom:293.720000pt;}
.y6e{bottom:297.413333pt;}
.y58{bottom:298.946667pt;}
.y78{bottom:307.760000pt;}
.y2c{bottom:317.720000pt;}
.y57{bottom:320.280000pt;}
.y77{bottom:323.760000pt;}
.y6d{bottom:324.080000pt;}
.y2b{bottom:333.720000pt;}
.y56{bottom:336.280000pt;}
.y2a{bottom:349.720000pt;}
.y55{bottom:357.613333pt;}
.y54{bottom:378.946667pt;}
.y53{bottom:400.280000pt;}
.y52{bottom:416.280000pt;}
.y51{bottom:432.280000pt;}
.y48{bottom:438.666667pt;}
.y47{bottom:454.666667pt;}
.y46{bottom:470.666667pt;}
.y64{bottom:474.280000pt;}
.y45{bottom:492.000000pt;}
.y44{bottom:508.000000pt;}
.yd{bottom:518.000000pt;}
.y50{bottom:518.946667pt;}
.y43{bottom:529.333333pt;}
.yc{bottom:542.000000pt;}
.y30{bottom:545.333333pt;}
.y4f{bottom:545.613333pt;}
.y42{bottom:565.333333pt;}
.yb{bottom:582.000000pt;}
.y2f{bottom:585.333333pt;}
.y29{bottom:597.333333pt;}
.ya{bottom:602.000000pt;}
.y41{bottom:605.333333pt;}
.y28{bottom:613.333333pt;}
.y9{bottom:615.333333pt;}
.y4b{bottom:621.306667pt;}
.y40{bottom:621.333333pt;}
.y27{bottom:629.333333pt;}
.y4a{bottom:637.306667pt;}
.y3f{bottom:642.666667pt;}
.y8{bottom:645.333333pt;}
.y93{bottom:646.666667pt;}
.y26{bottom:650.666667pt;}
.y7{bottom:658.666667pt;}
.y25{bottom:666.666667pt;}
.y92{bottom:670.666667pt;}
.y3e{bottom:674.666667pt;}
.y24{bottom:682.666667pt;}
.y91{bottom:694.666667pt;}
.y3d{bottom:696.000000pt;}
.y6{bottom:698.666667pt;}
.y5{bottom:701.333333pt;}
.y23{bottom:704.000000pt;}
.y3c{bottom:717.333333pt;}
.y90{bottom:718.666667pt;}
.y22{bottom:725.333333pt;}
.y3b{bottom:733.333333pt;}
.y21{bottom:741.333333pt;}
.y8f{bottom:742.666667pt;}
.y3a{bottom:754.666667pt;}
.y20{bottom:757.333333pt;}
.y8e{bottom:766.666667pt;}
.y39{bottom:776.000000pt;}
.y1f{bottom:778.666667pt;}
.y4{bottom:781.333333pt;}
.y8d{bottom:790.666667pt;}
.y38{bottom:792.000000pt;}
.y1e{bottom:800.000000pt;}
.y37{bottom:808.000000pt;}
.y8c{bottom:814.666667pt;}
.y1d{bottom:816.000000pt;}
.y36{bottom:829.333333pt;}
.y1c{bottom:832.000000pt;}
.y8b{bottom:838.666667pt;}
.y35{bottom:850.666667pt;}
.y1b{bottom:853.333333pt;}
.y8a{bottom:862.666667pt;}
.y34{bottom:866.666667pt;}
.y1a{bottom:874.666667pt;}
.y33{bottom:882.666667pt;}
.y14{bottom:886.666667pt;}
.y19{bottom:890.666667pt;}
.y32{bottom:904.000000pt;}
.y18{bottom:906.666667pt;}
.y89{bottom:910.666667pt;}
.y13{bottom:912.000000pt;}
.y3{bottom:914.666667pt;}
.y2{bottom:917.333333pt;}
.y31{bottom:925.333333pt;}
.y17{bottom:928.000000pt;}
.y88{bottom:934.666667pt;}
.y1{bottom:937.333333pt;}
.y0{bottom:950.000000pt;}
.y87{bottom:958.666667pt;}
.y12{bottom:962.666667pt;}
.y49{bottom:967.333333pt;}
.y2e{bottom:970.000000pt;}
.y86{bottom:982.666667pt;}
.y68{bottom:988.000000pt;}
.y85{bottom:998.666667pt;}
.y67{bottom:1004.000000pt;}
.y11{bottom:1012.000000pt;}
.y66{bottom:1020.000000pt;}
.y10{bottom:1038.666667pt;}
.y65{bottom:1041.333333pt;}
.y15{bottom:1065.333333pt;}
.h2{height:62.630933pt;}
.h6{height:75.157120pt;}
.h9{height:78.875000pt;}
.h7{height:92.020833pt;}
.h5{height:93.946400pt;}
.h1{height:112.666667pt;}
.h4{height:125.261866pt;}
.h3{height:250.523733pt;}
.h8{height:1063.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:370.000000pt;}
.w2{width:720.000000pt;}
.w0{width:793.333333pt;}
.x0{left:73.333333pt;}
.xe{left:76.000000pt;}
.xf{left:113.333333pt;}
.x6{left:124.360000pt;}
.x10{left:133.333333pt;}
.xb{left:140.666667pt;}
.x3{left:276.666667pt;}
.xc{left:283.733333pt;}
.x8{left:303.760000pt;}
.x5{left:315.880000pt;}
.x9{left:326.666667pt;}
.xa{left:328.653333pt;}
.x7{left:355.173333pt;}
.x1{left:368.106667pt;}
.x4{left:389.253333pt;}
.x2{left:394.813333pt;}
.x11{left:699.546667pt;}
.xd{left:708.440000pt;}
}
