.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(33,78,123);}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:48.000000px;}
.fs2{font-size:56.000000px;}
.fs1{font-size:60.000000px;}
.fs0{font-size:80.000000px;}
.y41{bottom:0.000000px;}
.y7{bottom:17.000000px;}
.y2d{bottom:22.000000px;}
.y8{bottom:35.500000px;}
.y72{bottom:60.620000px;}
.y39{bottom:61.810000px;}
.y2b{bottom:63.790000px;}
.y71{bottom:72.620000px;}
.y2a{bottom:79.790000px;}
.y38{bottom:81.810000px;}
.y70{bottom:88.620000px;}
.y29{bottom:91.790000px;}
.y37{bottom:99.810000px;}
.y28{bottom:103.790000px;}
.y6f{bottom:106.620000px;}
.y36{bottom:117.810000px;}
.y27{bottom:119.790000px;}
.y6e{bottom:124.620000px;}
.y26{bottom:135.790000px;}
.y35{bottom:135.810000px;}
.y6d{bottom:142.620000px;}
.y25{bottom:147.790000px;}
.y34{bottom:153.810000px;}
.y24{bottom:159.790000px;}
.y6c{bottom:160.620000px;}
.y33{bottom:165.810000px;}
.y99{bottom:169.720000px;}
.y23{bottom:175.790000px;}
.y6b{bottom:178.620000px;}
.y98{bottom:181.720000px;}
.y32{bottom:181.810000px;}
.y22{bottom:191.790000px;}
.y97{bottom:193.720000px;}
.y6a{bottom:196.620000px;}
.y31{bottom:197.810000px;}
.y21{bottom:203.790000px;}
.y96{bottom:209.720000px;}
.y30{bottom:213.810000px;}
.y69{bottom:214.620000px;}
.y20{bottom:221.790000px;}
.y95{bottom:225.720000px;}
.y2f{bottom:229.810000px;}
.y68{bottom:232.620000px;}
.y94{bottom:237.720000px;}
.y1f{bottom:241.790000px;}
.y2e{bottom:241.810000px;}
.y67{bottom:250.620000px;}
.y93{bottom:255.720000px;}
.y1e{bottom:259.790000px;}
.y66{bottom:268.620000px;}
.y92{bottom:275.720000px;}
.y1d{bottom:277.790000px;}
.y65{bottom:286.620000px;}
.y91{bottom:293.720000px;}
.y1c{bottom:295.790000px;}
.y64{bottom:304.620000px;}
.y6{bottom:308.500000px;}
.y90{bottom:311.720000px;}
.y1b{bottom:313.790000px;}
.y63{bottom:322.620000px;}
.y1a{bottom:325.790000px;}
.y8f{bottom:329.720000px;}
.y5{bottom:331.000000px;}
.y62{bottom:340.620000px;}
.y19{bottom:341.790000px;}
.y87{bottom:343.000000px;}
.y8e{bottom:347.720000px;}
.y61{bottom:352.620000px;}
.y5b{bottom:354.000000px;}
.y86{bottom:355.000000px;}
.y18{bottom:357.790000px;}
.y8d{bottom:359.720000px;}
.y4{bottom:361.000000px;}
.y5a{bottom:366.000000px;}
.y85{bottom:367.000000px;}
.y60{bottom:368.620000px;}
.y17{bottom:373.790000px;}
.y8c{bottom:375.720000px;}
.y59{bottom:378.000000px;}
.y84{bottom:383.000000px;}
.y5f{bottom:384.620000px;}
.y16{bottom:389.790000px;}
.y3{bottom:391.000000px;}
.y8b{bottom:391.720000px;}
.y58{bottom:394.000000px;}
.y83{bottom:395.000000px;}
.y5e{bottom:400.620000px;}
.y15{bottom:401.790000px;}
.ya5{bottom:402.000000px;}
.y57{bottom:406.000000px;}
.y82{bottom:407.000000px;}
.y8a{bottom:407.720000px;}
.y14{bottom:413.790000px;}
.ya4{bottom:414.000000px;}
.y5d{bottom:416.620000px;}
.y56{bottom:422.000000px;}
.y81{bottom:423.000000px;}
.y89{bottom:423.720000px;}
.ya3{bottom:426.000000px;}
.y5c{bottom:428.620000px;}
.y13{bottom:429.790000px;}
.y55{bottom:434.000000px;}
.y88{bottom:435.720000px;}
.y80{bottom:439.000000px;}
.ya2{bottom:442.000000px;}
.y12{bottom:445.790000px;}
.y54{bottom:450.000000px;}
.y7f{bottom:451.000000px;}
.y9b{bottom:454.000000px;}
.y11{bottom:457.790000px;}
.y7e{bottom:463.000000px;}
.y53{bottom:466.000000px;}
.ya1{bottom:470.000000px;}
.y0{bottom:470.500000px;}
.y52{bottom:478.000000px;}
.y7d{bottom:479.000000px;}
.y9a{bottom:486.000000px;}
.y7c{bottom:495.000000px;}
.y51{bottom:496.000000px;}
.ya0{bottom:502.000000px;}
.y9f{bottom:514.000000px;}
.y50{bottom:516.000000px;}
.y9e{bottom:526.000000px;}
.y4f{bottom:534.000000px;}
.y9d{bottom:542.000000px;}
.y4e{bottom:552.000000px;}
.y9c{bottom:554.000000px;}
.y4d{bottom:570.000000px;}
.y4c{bottom:588.000000px;}
.y4b{bottom:606.000000px;}
.y4a{bottom:624.000000px;}
.y2{bottom:636.000000px;}
.y49{bottom:642.000000px;}
.y7b{bottom:654.000000px;}
.y48{bottom:660.000000px;}
.y7a{bottom:666.000000px;}
.y10{bottom:674.000000px;}
.y40{bottom:676.000000px;}
.y47{bottom:678.000000px;}
.y79{bottom:682.000000px;}
.yf{bottom:686.000000px;}
.y3f{bottom:688.000000px;}
.y78{bottom:694.000000px;}
.y46{bottom:696.000000px;}
.ye{bottom:698.000000px;}
.y3e{bottom:700.000000px;}
.y77{bottom:706.000000px;}
.y3d{bottom:712.000000px;}
.yd{bottom:714.000000px;}
.y76{bottom:722.000000px;}
.y45{bottom:726.000000px;}
.y3c{bottom:728.000000px;}
.yc{bottom:730.000000px;}
.y75{bottom:738.000000px;}
.y44{bottom:742.000000px;}
.y3b{bottom:744.000000px;}
.yb{bottom:746.000000px;}
.y74{bottom:750.000000px;}
.ya{bottom:758.000000px;}
.y3a{bottom:760.000000px;}
.y73{bottom:768.000000px;}
.y43{bottom:774.000000px;}
.y1{bottom:776.000000px;}
.y9{bottom:788.000000px;}
.y42{bottom:790.000000px;}
.y2c{bottom:808.000000px;}
.h6{height:56.367840px;}
.h7{height:59.156250px;}
.h4{height:69.015625px;}
.h3{height:70.459800px;}
.h2{height:93.946400px;}
.h1{height:150.500000px;}
.h5{height:770.500000px;}
.h8{height:806.000000px;}
.h0{height:842.000000px;}
.w1{width:450.500000px;}
.w2{width:523.500000px;}
.w0{width:595.000000px;}
.x1{left:36.000000px;}
.x8{left:46.000000px;}
.x0{left:72.500000px;}
.x2{left:82.460000px;}
.x3{left:164.720000px;}
.x6{left:235.810000px;}
.x5{left:245.000000px;}
.x4{left:250.810000px;}
.x9{left:543.660000px;}
.x7{left:550.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs3{font-size:64.000000pt;}
.fs2{font-size:74.666667pt;}
.fs1{font-size:80.000000pt;}
.fs0{font-size:106.666667pt;}
.y41{bottom:0.000000pt;}
.y7{bottom:22.666667pt;}
.y2d{bottom:29.333333pt;}
.y8{bottom:47.333333pt;}
.y72{bottom:80.826667pt;}
.y39{bottom:82.413333pt;}
.y2b{bottom:85.053333pt;}
.y71{bottom:96.826667pt;}
.y2a{bottom:106.386667pt;}
.y38{bottom:109.080000pt;}
.y70{bottom:118.160000pt;}
.y29{bottom:122.386667pt;}
.y37{bottom:133.080000pt;}
.y28{bottom:138.386667pt;}
.y6f{bottom:142.160000pt;}
.y36{bottom:157.080000pt;}
.y27{bottom:159.720000pt;}
.y6e{bottom:166.160000pt;}
.y26{bottom:181.053333pt;}
.y35{bottom:181.080000pt;}
.y6d{bottom:190.160000pt;}
.y25{bottom:197.053333pt;}
.y34{bottom:205.080000pt;}
.y24{bottom:213.053333pt;}
.y6c{bottom:214.160000pt;}
.y33{bottom:221.080000pt;}
.y99{bottom:226.293333pt;}
.y23{bottom:234.386667pt;}
.y6b{bottom:238.160000pt;}
.y98{bottom:242.293333pt;}
.y32{bottom:242.413333pt;}
.y22{bottom:255.720000pt;}
.y97{bottom:258.293333pt;}
.y6a{bottom:262.160000pt;}
.y31{bottom:263.746667pt;}
.y21{bottom:271.720000pt;}
.y96{bottom:279.626667pt;}
.y30{bottom:285.080000pt;}
.y69{bottom:286.160000pt;}
.y20{bottom:295.720000pt;}
.y95{bottom:300.960000pt;}
.y2f{bottom:306.413333pt;}
.y68{bottom:310.160000pt;}
.y94{bottom:316.960000pt;}
.y1f{bottom:322.386667pt;}
.y2e{bottom:322.413333pt;}
.y67{bottom:334.160000pt;}
.y93{bottom:340.960000pt;}
.y1e{bottom:346.386667pt;}
.y66{bottom:358.160000pt;}
.y92{bottom:367.626667pt;}
.y1d{bottom:370.386667pt;}
.y65{bottom:382.160000pt;}
.y91{bottom:391.626667pt;}
.y1c{bottom:394.386667pt;}
.y64{bottom:406.160000pt;}
.y6{bottom:411.333333pt;}
.y90{bottom:415.626667pt;}
.y1b{bottom:418.386667pt;}
.y63{bottom:430.160000pt;}
.y1a{bottom:434.386667pt;}
.y8f{bottom:439.626667pt;}
.y5{bottom:441.333333pt;}
.y62{bottom:454.160000pt;}
.y19{bottom:455.720000pt;}
.y87{bottom:457.333333pt;}
.y8e{bottom:463.626667pt;}
.y61{bottom:470.160000pt;}
.y5b{bottom:472.000000pt;}
.y86{bottom:473.333333pt;}
.y18{bottom:477.053333pt;}
.y8d{bottom:479.626667pt;}
.y4{bottom:481.333333pt;}
.y5a{bottom:488.000000pt;}
.y85{bottom:489.333333pt;}
.y60{bottom:491.493333pt;}
.y17{bottom:498.386667pt;}
.y8c{bottom:500.960000pt;}
.y59{bottom:504.000000pt;}
.y84{bottom:510.666667pt;}
.y5f{bottom:512.826667pt;}
.y16{bottom:519.720000pt;}
.y3{bottom:521.333333pt;}
.y8b{bottom:522.293333pt;}
.y58{bottom:525.333333pt;}
.y83{bottom:526.666667pt;}
.y5e{bottom:534.160000pt;}
.y15{bottom:535.720000pt;}
.ya5{bottom:536.000000pt;}
.y57{bottom:541.333333pt;}
.y82{bottom:542.666667pt;}
.y8a{bottom:543.626667pt;}
.y14{bottom:551.720000pt;}
.ya4{bottom:552.000000pt;}
.y5d{bottom:555.493333pt;}
.y56{bottom:562.666667pt;}
.y81{bottom:564.000000pt;}
.y89{bottom:564.960000pt;}
.ya3{bottom:568.000000pt;}
.y5c{bottom:571.493333pt;}
.y13{bottom:573.053333pt;}
.y55{bottom:578.666667pt;}
.y88{bottom:580.960000pt;}
.y80{bottom:585.333333pt;}
.ya2{bottom:589.333333pt;}
.y12{bottom:594.386667pt;}
.y54{bottom:600.000000pt;}
.y7f{bottom:601.333333pt;}
.y9b{bottom:605.333333pt;}
.y11{bottom:610.386667pt;}
.y7e{bottom:617.333333pt;}
.y53{bottom:621.333333pt;}
.ya1{bottom:626.666667pt;}
.y0{bottom:627.333333pt;}
.y52{bottom:637.333333pt;}
.y7d{bottom:638.666667pt;}
.y9a{bottom:648.000000pt;}
.y7c{bottom:660.000000pt;}
.y51{bottom:661.333333pt;}
.ya0{bottom:669.333333pt;}
.y9f{bottom:685.333333pt;}
.y50{bottom:688.000000pt;}
.y9e{bottom:701.333333pt;}
.y4f{bottom:712.000000pt;}
.y9d{bottom:722.666667pt;}
.y4e{bottom:736.000000pt;}
.y9c{bottom:738.666667pt;}
.y4d{bottom:760.000000pt;}
.y4c{bottom:784.000000pt;}
.y4b{bottom:808.000000pt;}
.y4a{bottom:832.000000pt;}
.y2{bottom:848.000000pt;}
.y49{bottom:856.000000pt;}
.y7b{bottom:872.000000pt;}
.y48{bottom:880.000000pt;}
.y7a{bottom:888.000000pt;}
.y10{bottom:898.666667pt;}
.y40{bottom:901.333333pt;}
.y47{bottom:904.000000pt;}
.y79{bottom:909.333333pt;}
.yf{bottom:914.666667pt;}
.y3f{bottom:917.333333pt;}
.y78{bottom:925.333333pt;}
.y46{bottom:928.000000pt;}
.ye{bottom:930.666667pt;}
.y3e{bottom:933.333333pt;}
.y77{bottom:941.333333pt;}
.y3d{bottom:949.333333pt;}
.yd{bottom:952.000000pt;}
.y76{bottom:962.666667pt;}
.y45{bottom:968.000000pt;}
.y3c{bottom:970.666667pt;}
.yc{bottom:973.333333pt;}
.y75{bottom:984.000000pt;}
.y44{bottom:989.333333pt;}
.y3b{bottom:992.000000pt;}
.yb{bottom:994.666667pt;}
.y74{bottom:1000.000000pt;}
.ya{bottom:1010.666667pt;}
.y3a{bottom:1013.333333pt;}
.y73{bottom:1024.000000pt;}
.y43{bottom:1032.000000pt;}
.y1{bottom:1034.666667pt;}
.y9{bottom:1050.666667pt;}
.y42{bottom:1053.333333pt;}
.y2c{bottom:1077.333333pt;}
.h6{height:75.157120pt;}
.h7{height:78.875000pt;}
.h4{height:92.020833pt;}
.h3{height:93.946400pt;}
.h2{height:125.261866pt;}
.h1{height:200.666667pt;}
.h5{height:1027.333333pt;}
.h8{height:1074.666667pt;}
.h0{height:1122.666667pt;}
.w1{width:600.666667pt;}
.w2{width:698.000000pt;}
.w0{width:793.333333pt;}
.x1{left:48.000000pt;}
.x8{left:61.333333pt;}
.x0{left:96.666667pt;}
.x2{left:109.946667pt;}
.x3{left:219.626667pt;}
.x6{left:314.413333pt;}
.x5{left:326.666667pt;}
.x4{left:334.413333pt;}
.x9{left:724.880000pt;}
.x7{left:733.773333pt;}
}
