.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc6{color:rgb(33,78,123);}
.fc4{color:rgb(102,0,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(255,0,0);}
.fc2{color:rgb(0,0,51);}
.fc7{color:rgb(66,184,55);}
.fc1{color:rgb(120,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:80.000000px;}
.fs1{font-size:160.000000px;}
.ye{bottom:17.000000px;}
.y3e{bottom:31.000000px;}
.yc1{bottom:43.000000px;}
.yf{bottom:44.500000px;}
.y9d{bottom:67.140000px;}
.ybe{bottom:72.780000px;}
.y3c{bottom:75.000000px;}
.ybd{bottom:84.780000px;}
.y9c{bottom:85.140000px;}
.y3b{bottom:91.000000px;}
.ybc{bottom:96.780000px;}
.y9b{bottom:103.140000px;}
.y3a{bottom:107.000000px;}
.ybb{bottom:112.780000px;}
.y9a{bottom:121.140000px;}
.y39{bottom:123.000000px;}
.yba{bottom:128.780000px;}
.y7e{bottom:134.110000px;}
.y38{bottom:139.000000px;}
.y99{bottom:139.140000px;}
.y7d{bottom:152.110000px;}
.y37{bottom:155.000000px;}
.y98{bottom:157.140000px;}
.yc0{bottom:160.270000px;}
.y7c{bottom:164.110000px;}
.y36{bottom:171.000000px;}
.y65{bottom:173.000000px;}
.y97{bottom:175.140000px;}
.y7b{bottom:176.110000px;}
.y6b{bottom:185.410000px;}
.y35{bottom:187.000000px;}
.y6f{bottom:187.590000px;}
.y64{bottom:189.000000px;}
.y96{bottom:193.140000px;}
.yb9{bottom:193.780000px;}
.y6a{bottom:201.410000px;}
.y34{bottom:203.000000px;}
.y6e{bottom:203.590000px;}
.y63{bottom:205.000000px;}
.y95{bottom:211.140000px;}
.yb8{bottom:213.780000px;}
.y33{bottom:219.000000px;}
.y62{bottom:221.000000px;}
.y94{bottom:223.140000px;}
.y32{bottom:235.000000px;}
.y61{bottom:237.000000px;}
.y93{bottom:239.140000px;}
.y31{bottom:251.000000px;}
.y60{bottom:253.000000px;}
.y92{bottom:255.140000px;}
.y30{bottom:267.000000px;}
.y5f{bottom:269.000000px;}
.y91{bottom:271.140000px;}
.y2f{bottom:283.000000px;}
.y5e{bottom:285.000000px;}
.y90{bottom:287.140000px;}
.y2e{bottom:299.000000px;}
.y5d{bottom:301.000000px;}
.y8f{bottom:303.140000px;}
.y2d{bottom:315.000000px;}
.y5c{bottom:317.000000px;}
.y8e{bottom:319.140000px;}
.y2c{bottom:331.000000px;}
.y5b{bottom:333.000000px;}
.y8d{bottom:335.140000px;}
.ya9{bottom:336.330000px;}
.y69{bottom:336.600000px;}
.yca{bottom:345.720000px;}
.y2b{bottom:347.000000px;}
.y5a{bottom:349.000000px;}
.y8c{bottom:351.140000px;}
.y68{bottom:352.600000px;}
.ya8{bottom:354.330000px;}
.y2a{bottom:363.000000px;}
.yc9{bottom:363.720000px;}
.y59{bottom:365.000000px;}
.ya7{bottom:366.330000px;}
.y8b{bottom:367.140000px;}
.yc8{bottom:375.720000px;}
.ya6{bottom:378.330000px;}
.y29{bottom:379.000000px;}
.y8a{bottom:379.140000px;}
.y58{bottom:381.000000px;}
.yc7{bottom:387.720000px;}
.yb7{bottom:388.390000px;}
.yd{bottom:388.500000px;}
.y89{bottom:391.140000px;}
.y7a{bottom:393.970000px;}
.y28{bottom:395.000000px;}
.y57{bottom:397.000000px;}
.y79{bottom:405.970000px;}
.yb6{bottom:406.390000px;}
.yc{bottom:406.500000px;}
.y88{bottom:407.140000px;}
.y27{bottom:411.000000px;}
.y56{bottom:413.000000px;}
.y78{bottom:417.970000px;}
.yb5{bottom:418.390000px;}
.y87{bottom:419.140000px;}
.y26{bottom:427.000000px;}
.y55{bottom:429.000000px;}
.yb4{bottom:430.390000px;}
.y86{bottom:431.140000px;}
.y77{bottom:433.970000px;}
.yb{bottom:436.500000px;}
.y25{bottom:443.000000px;}
.y54{bottom:445.000000px;}
.y85{bottom:447.140000px;}
.y76{bottom:449.970000px;}
.ya{bottom:451.500000px;}
.y24{bottom:459.000000px;}
.y53{bottom:461.000000px;}
.y9{bottom:461.500000px;}
.y84{bottom:463.140000px;}
.y75{bottom:465.970000px;}
.y23{bottom:475.000000px;}
.y83{bottom:475.140000px;}
.y52{bottom:477.000000px;}
.y74{bottom:477.970000px;}
.y8{bottom:484.000000px;}
.y82{bottom:487.140000px;}
.y73{bottom:489.970000px;}
.y22{bottom:491.000000px;}
.y51{bottom:493.000000px;}
.y7{bottom:494.000000px;}
.y21{bottom:507.000000px;}
.y50{bottom:509.000000px;}
.y9e{bottom:518.640000px;}
.y7f{bottom:521.470000px;}
.y20{bottom:523.000000px;}
.y6{bottom:524.000000px;}
.y4f{bottom:525.000000px;}
.y5{bottom:526.000000px;}
.y6d{bottom:538.590000px;}
.y1f{bottom:539.000000px;}
.y4e{bottom:541.000000px;}
.y81{bottom:552.140000px;}
.y6c{bottom:554.590000px;}
.y72{bottom:554.970000px;}
.y1e{bottom:555.000000px;}
.y4d{bottom:557.000000px;}
.y71{bottom:570.970000px;}
.y1d{bottom:571.000000px;}
.y80{bottom:572.140000px;}
.y4c{bottom:573.000000px;}
.y4{bottom:586.000000px;}
.y70{bottom:586.970000px;}
.y1c{bottom:587.000000px;}
.y4b{bottom:589.000000px;}
.yb3{bottom:598.000000px;}
.y1b{bottom:603.000000px;}
.y4a{bottom:605.000000px;}
.yb2{bottom:610.000000px;}
.y67{bottom:614.360000px;}
.y1a{bottom:619.000000px;}
.y49{bottom:621.000000px;}
.yb1{bottom:622.000000px;}
.y66{bottom:630.360000px;}
.y19{bottom:635.000000px;}
.y48{bottom:637.000000px;}
.yb0{bottom:638.000000px;}
.ya5{bottom:648.000000px;}
.y18{bottom:651.000000px;}
.y47{bottom:653.000000px;}
.yaf{bottom:654.000000px;}
.ya4{bottom:660.000000px;}
.y17{bottom:667.000000px;}
.y46{bottom:669.000000px;}
.yae{bottom:670.000000px;}
.ya3{bottom:672.000000px;}
.yad{bottom:682.000000px;}
.y16{bottom:683.000000px;}
.y45{bottom:685.000000px;}
.y3{bottom:686.000000px;}
.y2{bottom:688.000000px;}
.yac{bottom:694.000000px;}
.y15{bottom:699.000000px;}
.y44{bottom:701.000000px;}
.y1{bottom:703.000000px;}
.ya2{bottom:704.000000px;}
.y0{bottom:712.500000px;}
.yc6{bottom:713.000000px;}
.y14{bottom:715.000000px;}
.ya1{bottom:716.000000px;}
.y43{bottom:717.000000px;}
.yc5{bottom:725.000000px;}
.ybf{bottom:725.500000px;}
.ya0{bottom:728.000000px;}
.y13{bottom:731.000000px;}
.y42{bottom:733.000000px;}
.yc4{bottom:741.000000px;}
.y9f{bottom:744.000000px;}
.y12{bottom:747.000000px;}
.y41{bottom:749.000000px;}
.yc3{bottom:757.000000px;}
.yab{bottom:759.000000px;}
.y11{bottom:763.000000px;}
.y40{bottom:765.000000px;}
.yc2{bottom:769.000000px;}
.yaa{bottom:775.500000px;}
.y10{bottom:779.000000px;}
.y3f{bottom:781.000000px;}
.y3d{bottom:799.000000px;}
.h2{height:46.973200px;}
.h6{height:56.367840px;}
.h9{height:59.156250px;}
.h7{height:69.015625px;}
.h5{height:70.459800px;}
.h1{height:84.500000px;}
.h4{height:93.946400px;}
.h3{height:187.892799px;}
.h8{height:752.500000px;}
.ha{height:754.000000px;}
.h0{height:842.000000px;}
.w1{width:277.500000px;}
.w2{width:485.500000px;}
.w0{width:595.000000px;}
.x0{left:55.000000px;}
.xc{left:57.000000px;}
.x6{left:162.070000px;}
.x3{left:207.500000px;}
.xa{left:212.800000px;}
.x8{left:231.150000px;}
.x5{left:236.910000px;}
.x9{left:245.000000px;}
.x7{left:269.150000px;}
.x1{left:276.080000px;}
.x4{left:291.940000px;}
.x2{left:296.110000px;}
.xd{left:524.660000px;}
.xb{left:531.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:106.666667pt;}
.fs1{font-size:213.333333pt;}
.ye{bottom:22.666667pt;}
.y3e{bottom:41.333333pt;}
.yc1{bottom:57.333333pt;}
.yf{bottom:59.333333pt;}
.y9d{bottom:89.520000pt;}
.ybe{bottom:97.040000pt;}
.y3c{bottom:100.000000pt;}
.ybd{bottom:113.040000pt;}
.y9c{bottom:113.520000pt;}
.y3b{bottom:121.333333pt;}
.ybc{bottom:129.040000pt;}
.y9b{bottom:137.520000pt;}
.y3a{bottom:142.666667pt;}
.ybb{bottom:150.373333pt;}
.y9a{bottom:161.520000pt;}
.y39{bottom:164.000000pt;}
.yba{bottom:171.706667pt;}
.y7e{bottom:178.813333pt;}
.y38{bottom:185.333333pt;}
.y99{bottom:185.520000pt;}
.y7d{bottom:202.813333pt;}
.y37{bottom:206.666667pt;}
.y98{bottom:209.520000pt;}
.yc0{bottom:213.693333pt;}
.y7c{bottom:218.813333pt;}
.y36{bottom:228.000000pt;}
.y65{bottom:230.666667pt;}
.y97{bottom:233.520000pt;}
.y7b{bottom:234.813333pt;}
.y6b{bottom:247.213333pt;}
.y35{bottom:249.333333pt;}
.y6f{bottom:250.120000pt;}
.y64{bottom:252.000000pt;}
.y96{bottom:257.520000pt;}
.yb9{bottom:258.373333pt;}
.y6a{bottom:268.546667pt;}
.y34{bottom:270.666667pt;}
.y6e{bottom:271.453333pt;}
.y63{bottom:273.333333pt;}
.y95{bottom:281.520000pt;}
.yb8{bottom:285.040000pt;}
.y33{bottom:292.000000pt;}
.y62{bottom:294.666667pt;}
.y94{bottom:297.520000pt;}
.y32{bottom:313.333333pt;}
.y61{bottom:316.000000pt;}
.y93{bottom:318.853333pt;}
.y31{bottom:334.666667pt;}
.y60{bottom:337.333333pt;}
.y92{bottom:340.186667pt;}
.y30{bottom:356.000000pt;}
.y5f{bottom:358.666667pt;}
.y91{bottom:361.520000pt;}
.y2f{bottom:377.333333pt;}
.y5e{bottom:380.000000pt;}
.y90{bottom:382.853333pt;}
.y2e{bottom:398.666667pt;}
.y5d{bottom:401.333333pt;}
.y8f{bottom:404.186667pt;}
.y2d{bottom:420.000000pt;}
.y5c{bottom:422.666667pt;}
.y8e{bottom:425.520000pt;}
.y2c{bottom:441.333333pt;}
.y5b{bottom:444.000000pt;}
.y8d{bottom:446.853333pt;}
.ya9{bottom:448.440000pt;}
.y69{bottom:448.800000pt;}
.yca{bottom:460.960000pt;}
.y2b{bottom:462.666667pt;}
.y5a{bottom:465.333333pt;}
.y8c{bottom:468.186667pt;}
.y68{bottom:470.133333pt;}
.ya8{bottom:472.440000pt;}
.y2a{bottom:484.000000pt;}
.yc9{bottom:484.960000pt;}
.y59{bottom:486.666667pt;}
.ya7{bottom:488.440000pt;}
.y8b{bottom:489.520000pt;}
.yc8{bottom:500.960000pt;}
.ya6{bottom:504.440000pt;}
.y29{bottom:505.333333pt;}
.y8a{bottom:505.520000pt;}
.y58{bottom:508.000000pt;}
.yc7{bottom:516.960000pt;}
.yb7{bottom:517.853333pt;}
.yd{bottom:518.000000pt;}
.y89{bottom:521.520000pt;}
.y7a{bottom:525.293333pt;}
.y28{bottom:526.666667pt;}
.y57{bottom:529.333333pt;}
.y79{bottom:541.293333pt;}
.yb6{bottom:541.853333pt;}
.yc{bottom:542.000000pt;}
.y88{bottom:542.853333pt;}
.y27{bottom:548.000000pt;}
.y56{bottom:550.666667pt;}
.y78{bottom:557.293333pt;}
.yb5{bottom:557.853333pt;}
.y87{bottom:558.853333pt;}
.y26{bottom:569.333333pt;}
.y55{bottom:572.000000pt;}
.yb4{bottom:573.853333pt;}
.y86{bottom:574.853333pt;}
.y77{bottom:578.626667pt;}
.yb{bottom:582.000000pt;}
.y25{bottom:590.666667pt;}
.y54{bottom:593.333333pt;}
.y85{bottom:596.186667pt;}
.y76{bottom:599.960000pt;}
.ya{bottom:602.000000pt;}
.y24{bottom:612.000000pt;}
.y53{bottom:614.666667pt;}
.y9{bottom:615.333333pt;}
.y84{bottom:617.520000pt;}
.y75{bottom:621.293333pt;}
.y23{bottom:633.333333pt;}
.y83{bottom:633.520000pt;}
.y52{bottom:636.000000pt;}
.y74{bottom:637.293333pt;}
.y8{bottom:645.333333pt;}
.y82{bottom:649.520000pt;}
.y73{bottom:653.293333pt;}
.y22{bottom:654.666667pt;}
.y51{bottom:657.333333pt;}
.y7{bottom:658.666667pt;}
.y21{bottom:676.000000pt;}
.y50{bottom:678.666667pt;}
.y9e{bottom:691.520000pt;}
.y7f{bottom:695.293333pt;}
.y20{bottom:697.333333pt;}
.y6{bottom:698.666667pt;}
.y4f{bottom:700.000000pt;}
.y5{bottom:701.333333pt;}
.y6d{bottom:718.120000pt;}
.y1f{bottom:718.666667pt;}
.y4e{bottom:721.333333pt;}
.y81{bottom:736.186667pt;}
.y6c{bottom:739.453333pt;}
.y72{bottom:739.960000pt;}
.y1e{bottom:740.000000pt;}
.y4d{bottom:742.666667pt;}
.y71{bottom:761.293333pt;}
.y1d{bottom:761.333333pt;}
.y80{bottom:762.853333pt;}
.y4c{bottom:764.000000pt;}
.y4{bottom:781.333333pt;}
.y70{bottom:782.626667pt;}
.y1c{bottom:782.666667pt;}
.y4b{bottom:785.333333pt;}
.yb3{bottom:797.333333pt;}
.y1b{bottom:804.000000pt;}
.y4a{bottom:806.666667pt;}
.yb2{bottom:813.333333pt;}
.y67{bottom:819.146667pt;}
.y1a{bottom:825.333333pt;}
.y49{bottom:828.000000pt;}
.yb1{bottom:829.333333pt;}
.y66{bottom:840.480000pt;}
.y19{bottom:846.666667pt;}
.y48{bottom:849.333333pt;}
.yb0{bottom:850.666667pt;}
.ya5{bottom:864.000000pt;}
.y18{bottom:868.000000pt;}
.y47{bottom:870.666667pt;}
.yaf{bottom:872.000000pt;}
.ya4{bottom:880.000000pt;}
.y17{bottom:889.333333pt;}
.y46{bottom:892.000000pt;}
.yae{bottom:893.333333pt;}
.ya3{bottom:896.000000pt;}
.yad{bottom:909.333333pt;}
.y16{bottom:910.666667pt;}
.y45{bottom:913.333333pt;}
.y3{bottom:914.666667pt;}
.y2{bottom:917.333333pt;}
.yac{bottom:925.333333pt;}
.y15{bottom:932.000000pt;}
.y44{bottom:934.666667pt;}
.y1{bottom:937.333333pt;}
.ya2{bottom:938.666667pt;}
.y0{bottom:950.000000pt;}
.yc6{bottom:950.666667pt;}
.y14{bottom:953.333333pt;}
.ya1{bottom:954.666667pt;}
.y43{bottom:956.000000pt;}
.yc5{bottom:966.666667pt;}
.ybf{bottom:967.333333pt;}
.ya0{bottom:970.666667pt;}
.y13{bottom:974.666667pt;}
.y42{bottom:977.333333pt;}
.yc4{bottom:988.000000pt;}
.y9f{bottom:992.000000pt;}
.y12{bottom:996.000000pt;}
.y41{bottom:998.666667pt;}
.yc3{bottom:1009.333333pt;}
.yab{bottom:1012.000000pt;}
.y11{bottom:1017.333333pt;}
.y40{bottom:1020.000000pt;}
.yc2{bottom:1025.333333pt;}
.yaa{bottom:1034.000000pt;}
.y10{bottom:1038.666667pt;}
.y3f{bottom:1041.333333pt;}
.y3d{bottom:1065.333333pt;}
.h2{height:62.630933pt;}
.h6{height:75.157120pt;}
.h9{height:78.875000pt;}
.h7{height:92.020833pt;}
.h5{height:93.946400pt;}
.h1{height:112.666667pt;}
.h4{height:125.261866pt;}
.h3{height:250.523733pt;}
.h8{height:1003.333333pt;}
.ha{height:1005.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:370.000000pt;}
.w2{width:647.333333pt;}
.w0{width:793.333333pt;}
.x0{left:73.333333pt;}
.xc{left:76.000000pt;}
.x6{left:216.093333pt;}
.x3{left:276.666667pt;}
.xa{left:283.733333pt;}
.x8{left:308.200000pt;}
.x5{left:315.880000pt;}
.x9{left:326.666667pt;}
.x7{left:358.866667pt;}
.x1{left:368.106667pt;}
.x4{left:389.253333pt;}
.x2{left:394.813333pt;}
.xd{left:699.546667pt;}
.xb{left:708.440000pt;}
}
