.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.913574;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
.m3{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:matrix(0.252100,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.252100,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.252100,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.252101,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.252101,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.252101,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.252102,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.252102,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.252102,0.000000,0.000000,0.250000,0,0);}
.m4{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls9{letter-spacing:-33.770160px;}
.ls7{letter-spacing:-4.549680px;}
.ls8{letter-spacing:-3.139920px;}
.ls4{letter-spacing:-2.025840px;}
.ls2{letter-spacing:-2.013120px;}
.lsc{letter-spacing:-1.728000px;}
.ls6{letter-spacing:-0.576720px;}
.ls5{letter-spacing:-0.391440px;}
.ls1{letter-spacing:0.000000px;}
.lsb{letter-spacing:0.672000px;}
.lsa{letter-spacing:0.912000px;}
.ls0{letter-spacing:2.013120px;}
.ls3{letter-spacing:2.025840px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-10.750017px;}
._4{margin-left:-4.870080px;}
._0{margin-left:-1.901280px;}
._2{width:1.006560px;}
._1{width:2.016085px;}
._6{width:3.139920px;}
._7{width:4.263755px;}
._5{width:5.264741px;}
._9{width:32.680800px;}
._8{width:33.913611px;}
._a{width:132.000397px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs7{font-size:43.920000px;}
.fs1{font-size:48.000000px;}
.fs0{font-size:55.920000px;}
.fs5{font-size:56.000000px;}
.fs4{font-size:60.000000px;}
.fs6{font-size:64.080000px;}
.fs2{font-size:76.080000px;}
.fs3{font-size:88.080000px;}
.y1{bottom:0.000000px;}
.ye{bottom:15.900000px;}
.y3{bottom:38.953700px;}
.yb9{bottom:77.173400px;}
.y3e{bottom:81.193900px;}
.y69{bottom:81.373600px;}
.y98{bottom:83.173400px;}
.y91{bottom:84.973200px;}
.yab{bottom:87.913700px;}
.y68{bottom:95.173400px;}
.yb8{bottom:96.973200px;}
.y90{bottom:98.774000px;}
.y3d{bottom:100.993700px;}
.yaa{bottom:101.713500px;}
.y97{bottom:102.973200px;}
.y67{bottom:108.973200px;}
.yb7{bottom:110.774000px;}
.y3c{bottom:114.793600px;}
.y8f{bottom:118.573800px;}
.ya9{bottom:121.513300px;}
.y66{bottom:122.774000px;}
.yb6{bottom:130.573800px;}
.y3b{bottom:134.593400px;}
.y65{bottom:136.573800px;}
.y8e{bottom:138.373600px;}
.ya8{bottom:141.314100px;}
.y64{bottom:150.373600px;}
.y8d{bottom:152.173400px;}
.y3a{bottom:154.394100px;}
.ya7{bottom:155.113900px;}
.y63{bottom:164.173400px;}
.y39{bottom:168.193900px;}
.y8c{bottom:171.973200px;}
.ya6{bottom:174.913700px;}
.y96{bottom:177.973200px;}
.y38{bottom:181.993700px;}
.y62{bottom:183.973200px;}
.y8b{bottom:191.774000px;}
.ya5{bottom:194.713500px;}
.y37{bottom:195.793600px;}
.y61{bottom:203.774000px;}
.y8a{bottom:205.573800px;}
.ya4{bottom:208.513300px;}
.y36{bottom:209.593400px;}
.yc7{bottom:211.573800px;}
.y60{bottom:217.573800px;}
.y89{bottom:219.373600px;}
.ya3{bottom:222.314100px;}
.y35{bottom:223.394100px;}
.yc0{bottom:225.373600px;}
.yc6{bottom:231.373600px;}
.y88{bottom:233.173400px;}
.ya2{bottom:236.113900px;}
.y34{bottom:237.193900px;}
.y5f{bottom:237.373600px;}
.y95{bottom:239.173400px;}
.ybf{bottom:245.173400px;}
.y87{bottom:246.973200px;}
.ya1{bottom:249.913700px;}
.y33{bottom:250.993700px;}
.y5e{bottom:257.173400px;}
.y94{bottom:258.973200px;}
.y86{bottom:260.774000px;}
.ya0{bottom:263.713500px;}
.y32{bottom:264.793600px;}
.yc5{bottom:264.973200px;}
.y5d{bottom:270.973200px;}
.y93{bottom:272.774000px;}
.y99{bottom:274.500000px;}
.y85{bottom:274.573800px;}
.y9f{bottom:274.753500px;}
.ybe{bottom:278.774000px;}
.y31{bottom:284.593400px;}
.y5c{bottom:284.774000px;}
.y84{bottom:288.373600px;}
.y92{bottom:292.573800px;}
.y5b{bottom:298.573800px;}
.y83{bottom:302.173400px;}
.y30{bottom:304.394100px;}
.yb5{bottom:308.173400px;}
.y5a{bottom:312.373600px;}
.y82{bottom:315.913700px;}
.y2f{bottom:318.193900px;}
.y59{bottom:326.173400px;}
.yb4{bottom:327.913700px;}
.y81{bottom:329.713500px;}
.y2e{bottom:337.993700px;}
.y58{bottom:339.913700px;}
.yb3{bottom:341.713500px;}
.y80{bottom:343.513300px;}
.y57{bottom:353.713500px;}
.y7f{bottom:357.314100px;}
.y2d{bottom:357.793600px;}
.yb2{bottom:361.513300px;}
.y56{bottom:367.513300px;}
.y7e{bottom:371.113900px;}
.y2c{bottom:371.593400px;}
.y55{bottom:381.314100px;}
.y2b{bottom:385.394100px;}
.y7d{bottom:390.913700px;}
.y54{bottom:395.113900px;}
.y2a{bottom:399.193900px;}
.y53{bottom:408.913700px;}
.y7c{bottom:410.713500px;}
.y29{bottom:412.993700px;}
.y52{bottom:422.713500px;}
.y7b{bottom:424.513300px;}
.y28{bottom:426.793600px;}
.yd{bottom:427.934200px;}
.yc4{bottom:428.713500px;}
.yb1{bottom:436.513300px;}
.y27{bottom:440.593400px;}
.y51{bottom:442.513300px;}
.y7a{bottom:444.314100px;}
.yc{bottom:445.333600px;}
.yc3{bottom:448.513300px;}
.yb0{bottom:450.314100px;}
.y26{bottom:454.394100px;}
.y50{bottom:462.314100px;}
.yb{bottom:463.934200px;}
.y79{bottom:464.113900px;}
.y25{bottom:468.193900px;}
.y4f{bottom:476.113900px;}
.y78{bottom:477.913700px;}
.y24{bottom:481.993700px;}
.yc2{bottom:482.113900px;}
.ya{bottom:489.253500px;}
.y77{bottom:491.713500px;}
.y23{bottom:495.793600px;}
.y4e{bottom:495.913700px;}
.ybd{bottom:497.713500px;}
.yc1{bottom:501.913700px;}
.y76{bottom:505.513300px;}
.y22{bottom:509.593400px;}
.y9{bottom:514.513300px;}
.y4d{bottom:515.713500px;}
.ybc{bottom:517.513300px;}
.y75{bottom:519.314100px;}
.y21{bottom:523.394100px;}
.y4c{bottom:529.513300px;}
.ybb{bottom:531.314100px;}
.y74{bottom:533.113900px;}
.y20{bottom:537.193900px;}
.yaf{bottom:539.113900px;}
.y8{bottom:539.234000px;}
.y4b{bottom:543.314100px;}
.y73{bottom:546.913700px;}
.y1f{bottom:550.993700px;}
.yba{bottom:551.113900px;}
.y4a{bottom:557.113900px;}
.yae{bottom:558.913700px;}
.y72{bottom:560.713500px;}
.y7{bottom:561.073800px;}
.y1e{bottom:564.793600px;}
.y49{bottom:570.913700px;}
.yad{bottom:572.713500px;}
.y71{bottom:574.513300px;}
.y14{bottom:577.753500px;}
.y1d{bottom:578.593400px;}
.y6{bottom:582.913700px;}
.y48{bottom:584.713500px;}
.y9e{bottom:586.513300px;}
.y70{bottom:588.314100px;}
.y1c{bottom:592.333600px;}
.yac{bottom:592.513300px;}
.y47{bottom:598.513300px;}
.y9d{bottom:600.314100px;}
.y0{bottom:600.500000px;}
.y5{bottom:600.613900px;}
.y6f{bottom:602.113900px;}
.y1b{bottom:606.133400px;}
.y13{bottom:607.693900px;}
.y46{bottom:612.314100px;}
.y9c{bottom:614.113900px;}
.y6e{bottom:615.913700px;}
.y1a{bottom:619.934200px;}
.y12{bottom:621.493700px;}
.y45{bottom:626.113900px;}
.y9b{bottom:627.913700px;}
.y19{bottom:633.734000px;}
.y11{bottom:635.293600px;}
.y6d{bottom:635.713500px;}
.y44{bottom:639.913700px;}
.y9a{bottom:641.713500px;}
.y18{bottom:647.533800px;}
.y10{bottom:651.913700px;}
.y43{bottom:653.713500px;}
.y6c{bottom:655.513300px;}
.y17{bottom:667.333600px;}
.y42{bottom:667.513300px;}
.y6b{bottom:669.314100px;}
.y41{bottom:681.314100px;}
.y16{bottom:687.133400px;}
.y6a{bottom:689.113900px;}
.yf{bottom:692.774000px;}
.y40{bottom:695.113900px;}
.y4{bottom:702.253500px;}
.y15{bottom:704.774000px;}
.y3f{bottom:708.913700px;}
.y2{bottom:742.873600px;}
.hc{height:29.272852px;}
.hb{height:39.209531px;}
.ha{height:44.931094px;}
.h4{height:53.250000px;}
.hd{height:54.960938px;}
.h3{height:64.029492px;}
.h7{height:66.562500px;}
.h8{height:68.701172px;}
.h9{height:69.015625px;}
.h5{height:87.113086px;}
.h1{height:98.000000px;}
.h6{height:100.853320px;}
.he{height:309.500000px;}
.h2{height:791.954000px;}
.h0{height:792.000000px;}
.w2{width:248.000000px;}
.w1{width:345.000000px;}
.w0{width:612.000000px;}
.x1{left:0.000000px;}
.xa{left:90.756300px;}
.x7{left:104.309200px;}
.x0{left:136.000000px;}
.x9{left:253.000000px;}
.x8{left:268.215100px;}
.x6{left:277.169700px;}
.x2{left:288.544500px;}
.x4{left:308.571400px;}
.xc{left:338.097500px;}
.x5{left:481.008400px;}
.x3{left:521.304200px;}
.xb{left:525.902500px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls9{letter-spacing:-45.026880pt;}
.ls7{letter-spacing:-6.066240pt;}
.ls8{letter-spacing:-4.186560pt;}
.ls4{letter-spacing:-2.701120pt;}
.ls2{letter-spacing:-2.684160pt;}
.lsc{letter-spacing:-2.304000pt;}
.ls6{letter-spacing:-0.768960pt;}
.ls5{letter-spacing:-0.521920pt;}
.ls1{letter-spacing:0.000000pt;}
.lsb{letter-spacing:0.896000pt;}
.lsa{letter-spacing:1.216000pt;}
.ls0{letter-spacing:2.684160pt;}
.ls3{letter-spacing:2.701120pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-14.333356pt;}
._4{margin-left:-6.493440pt;}
._0{margin-left:-2.535040pt;}
._2{width:1.342080pt;}
._1{width:2.688113pt;}
._6{width:4.186560pt;}
._7{width:5.685007pt;}
._5{width:7.019654pt;}
._9{width:43.574400pt;}
._8{width:45.218148pt;}
._a{width:176.000529pt;}
.fs7{font-size:58.560000pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:74.560000pt;}
.fs5{font-size:74.666667pt;}
.fs4{font-size:80.000000pt;}
.fs6{font-size:85.440000pt;}
.fs2{font-size:101.440000pt;}
.fs3{font-size:117.440000pt;}
.y1{bottom:0.000000pt;}
.ye{bottom:21.200000pt;}
.y3{bottom:51.938267pt;}
.yb9{bottom:102.897867pt;}
.y3e{bottom:108.258533pt;}
.y69{bottom:108.498133pt;}
.y98{bottom:110.897867pt;}
.y91{bottom:113.297600pt;}
.yab{bottom:117.218267pt;}
.y68{bottom:126.897867pt;}
.yb8{bottom:129.297600pt;}
.y90{bottom:131.698667pt;}
.y3d{bottom:134.658267pt;}
.yaa{bottom:135.618000pt;}
.y97{bottom:137.297600pt;}
.y67{bottom:145.297600pt;}
.yb7{bottom:147.698667pt;}
.y3c{bottom:153.058133pt;}
.y8f{bottom:158.098400pt;}
.ya9{bottom:162.017733pt;}
.y66{bottom:163.698667pt;}
.yb6{bottom:174.098400pt;}
.y3b{bottom:179.457867pt;}
.y65{bottom:182.098400pt;}
.y8e{bottom:184.498133pt;}
.ya8{bottom:188.418800pt;}
.y64{bottom:200.498133pt;}
.y8d{bottom:202.897867pt;}
.y3a{bottom:205.858800pt;}
.ya7{bottom:206.818533pt;}
.y63{bottom:218.897867pt;}
.y39{bottom:224.258533pt;}
.y8c{bottom:229.297600pt;}
.ya6{bottom:233.218267pt;}
.y96{bottom:237.297600pt;}
.y38{bottom:242.658267pt;}
.y62{bottom:245.297600pt;}
.y8b{bottom:255.698667pt;}
.ya5{bottom:259.618000pt;}
.y37{bottom:261.058133pt;}
.y61{bottom:271.698667pt;}
.y8a{bottom:274.098400pt;}
.ya4{bottom:278.017733pt;}
.y36{bottom:279.457867pt;}
.yc7{bottom:282.098400pt;}
.y60{bottom:290.098400pt;}
.y89{bottom:292.498133pt;}
.ya3{bottom:296.418800pt;}
.y35{bottom:297.858800pt;}
.yc0{bottom:300.498133pt;}
.yc6{bottom:308.498133pt;}
.y88{bottom:310.897867pt;}
.ya2{bottom:314.818533pt;}
.y34{bottom:316.258533pt;}
.y5f{bottom:316.498133pt;}
.y95{bottom:318.897867pt;}
.ybf{bottom:326.897867pt;}
.y87{bottom:329.297600pt;}
.ya1{bottom:333.218267pt;}
.y33{bottom:334.658267pt;}
.y5e{bottom:342.897867pt;}
.y94{bottom:345.297600pt;}
.y86{bottom:347.698667pt;}
.ya0{bottom:351.618000pt;}
.y32{bottom:353.058133pt;}
.yc5{bottom:353.297600pt;}
.y5d{bottom:361.297600pt;}
.y93{bottom:363.698667pt;}
.y99{bottom:366.000000pt;}
.y85{bottom:366.098400pt;}
.y9f{bottom:366.338000pt;}
.ybe{bottom:371.698667pt;}
.y31{bottom:379.457867pt;}
.y5c{bottom:379.698667pt;}
.y84{bottom:384.498133pt;}
.y92{bottom:390.098400pt;}
.y5b{bottom:398.098400pt;}
.y83{bottom:402.897867pt;}
.y30{bottom:405.858800pt;}
.yb5{bottom:410.897867pt;}
.y5a{bottom:416.498133pt;}
.y82{bottom:421.218267pt;}
.y2f{bottom:424.258533pt;}
.y59{bottom:434.897867pt;}
.yb4{bottom:437.218267pt;}
.y81{bottom:439.618000pt;}
.y2e{bottom:450.658267pt;}
.y58{bottom:453.218267pt;}
.yb3{bottom:455.618000pt;}
.y80{bottom:458.017733pt;}
.y57{bottom:471.618000pt;}
.y7f{bottom:476.418800pt;}
.y2d{bottom:477.058133pt;}
.yb2{bottom:482.017733pt;}
.y56{bottom:490.017733pt;}
.y7e{bottom:494.818533pt;}
.y2c{bottom:495.457867pt;}
.y55{bottom:508.418800pt;}
.y2b{bottom:513.858800pt;}
.y7d{bottom:521.218267pt;}
.y54{bottom:526.818533pt;}
.y2a{bottom:532.258533pt;}
.y53{bottom:545.218267pt;}
.y7c{bottom:547.618000pt;}
.y29{bottom:550.658267pt;}
.y52{bottom:563.618000pt;}
.y7b{bottom:566.017733pt;}
.y28{bottom:569.058133pt;}
.yd{bottom:570.578933pt;}
.yc4{bottom:571.618000pt;}
.yb1{bottom:582.017733pt;}
.y27{bottom:587.457867pt;}
.y51{bottom:590.017733pt;}
.y7a{bottom:592.418800pt;}
.yc{bottom:593.778133pt;}
.yc3{bottom:598.017733pt;}
.yb0{bottom:600.418800pt;}
.y26{bottom:605.858800pt;}
.y50{bottom:616.418800pt;}
.yb{bottom:618.578933pt;}
.y79{bottom:618.818533pt;}
.y25{bottom:624.258533pt;}
.y4f{bottom:634.818533pt;}
.y78{bottom:637.218267pt;}
.y24{bottom:642.658267pt;}
.yc2{bottom:642.818533pt;}
.ya{bottom:652.338000pt;}
.y77{bottom:655.618000pt;}
.y23{bottom:661.058133pt;}
.y4e{bottom:661.218267pt;}
.ybd{bottom:663.618000pt;}
.yc1{bottom:669.218267pt;}
.y76{bottom:674.017733pt;}
.y22{bottom:679.457867pt;}
.y9{bottom:686.017733pt;}
.y4d{bottom:687.618000pt;}
.ybc{bottom:690.017733pt;}
.y75{bottom:692.418800pt;}
.y21{bottom:697.858800pt;}
.y4c{bottom:706.017733pt;}
.ybb{bottom:708.418800pt;}
.y74{bottom:710.818533pt;}
.y20{bottom:716.258533pt;}
.yaf{bottom:718.818533pt;}
.y8{bottom:718.978667pt;}
.y4b{bottom:724.418800pt;}
.y73{bottom:729.218267pt;}
.y1f{bottom:734.658267pt;}
.yba{bottom:734.818533pt;}
.y4a{bottom:742.818533pt;}
.yae{bottom:745.218267pt;}
.y72{bottom:747.618000pt;}
.y7{bottom:748.098400pt;}
.y1e{bottom:753.058133pt;}
.y49{bottom:761.218267pt;}
.yad{bottom:763.618000pt;}
.y71{bottom:766.017733pt;}
.y14{bottom:770.338000pt;}
.y1d{bottom:771.457867pt;}
.y6{bottom:777.218267pt;}
.y48{bottom:779.618000pt;}
.y9e{bottom:782.017733pt;}
.y70{bottom:784.418800pt;}
.y1c{bottom:789.778133pt;}
.yac{bottom:790.017733pt;}
.y47{bottom:798.017733pt;}
.y9d{bottom:800.418800pt;}
.y0{bottom:800.666667pt;}
.y5{bottom:800.818533pt;}
.y6f{bottom:802.818533pt;}
.y1b{bottom:808.177867pt;}
.y13{bottom:810.258533pt;}
.y46{bottom:816.418800pt;}
.y9c{bottom:818.818533pt;}
.y6e{bottom:821.218267pt;}
.y1a{bottom:826.578933pt;}
.y12{bottom:828.658267pt;}
.y45{bottom:834.818533pt;}
.y9b{bottom:837.218267pt;}
.y19{bottom:844.978667pt;}
.y11{bottom:847.058133pt;}
.y6d{bottom:847.618000pt;}
.y44{bottom:853.218267pt;}
.y9a{bottom:855.618000pt;}
.y18{bottom:863.378400pt;}
.y10{bottom:869.218267pt;}
.y43{bottom:871.618000pt;}
.y6c{bottom:874.017733pt;}
.y17{bottom:889.778133pt;}
.y42{bottom:890.017733pt;}
.y6b{bottom:892.418800pt;}
.y41{bottom:908.418800pt;}
.y16{bottom:916.177867pt;}
.y6a{bottom:918.818533pt;}
.yf{bottom:923.698667pt;}
.y40{bottom:926.818533pt;}
.y4{bottom:936.338000pt;}
.y15{bottom:939.698667pt;}
.y3f{bottom:945.218267pt;}
.y2{bottom:990.498133pt;}
.hc{height:39.030469pt;}
.hb{height:52.279375pt;}
.ha{height:59.908125pt;}
.h4{height:71.000000pt;}
.hd{height:73.281250pt;}
.h3{height:85.372656pt;}
.h7{height:88.750000pt;}
.h8{height:91.601562pt;}
.h9{height:92.020833pt;}
.h5{height:116.150781pt;}
.h1{height:130.666667pt;}
.h6{height:134.471094pt;}
.he{height:412.666667pt;}
.h2{height:1055.938667pt;}
.h0{height:1056.000000pt;}
.w2{width:330.666667pt;}
.w1{width:460.000000pt;}
.w0{width:816.000000pt;}
.x1{left:0.000000pt;}
.xa{left:121.008400pt;}
.x7{left:139.078933pt;}
.x0{left:181.333333pt;}
.x9{left:337.333333pt;}
.x8{left:357.620133pt;}
.x6{left:369.559600pt;}
.x2{left:384.726000pt;}
.x4{left:411.428533pt;}
.xc{left:450.796667pt;}
.x5{left:641.344533pt;}
.x3{left:695.072267pt;}
.xb{left:701.203333pt;}
}
