.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc7{color:rgb(33,78,123);}
.fc4{color:rgb(102,0,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(255,0,0);}
.fc2{color:rgb(0,0,51);}
.fc6{color:rgb(66,184,55);}
.fc1{color:rgb(120,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:80.000000px;}
.fs1{font-size:160.000000px;}
.ye{bottom:17.000000px;}
.y3e{bottom:31.000000px;}
.yf{bottom:44.500000px;}
.yda{bottom:66.590000px;}
.y3a{bottom:71.000000px;}
.y94{bottom:73.900000px;}
.y39{bottom:83.000000px;}
.yd9{bottom:84.590000px;}
.y93{bottom:91.900000px;}
.y38{bottom:95.000000px;}
.y5c{bottom:98.920000px;}
.yd8{bottom:102.590000px;}
.y92{bottom:109.900000px;}
.y37{bottom:111.000000px;}
.y5b{bottom:116.920000px;}
.yd7{bottom:120.590000px;}
.y36{bottom:123.000000px;}
.y91{bottom:127.900000px;}
.y5a{bottom:128.920000px;}
.y35{bottom:135.000000px;}
.yb8{bottom:136.460000px;}
.yd6{bottom:138.590000px;}
.y59{bottom:140.920000px;}
.y78{bottom:143.920000px;}
.y90{bottom:145.900000px;}
.y34{bottom:151.000000px;}
.yb7{bottom:154.460000px;}
.yd5{bottom:156.590000px;}
.y77{bottom:161.920000px;}
.y8f{bottom:163.900000px;}
.yb6{bottom:166.460000px;}
.y33{bottom:167.000000px;}
.yd4{bottom:174.590000px;}
.y8e{bottom:175.900000px;}
.yb5{bottom:178.460000px;}
.y32{bottom:179.000000px;}
.y76{bottom:179.920000px;}
.y31{bottom:191.000000px;}
.y8d{bottom:191.900000px;}
.yd3{bottom:192.590000px;}
.y75{bottom:197.920000px;}
.y30{bottom:207.000000px;}
.y8c{bottom:207.900000px;}
.yd2{bottom:210.590000px;}
.y74{bottom:215.920000px;}
.y103{bottom:217.000000px;}
.y8b{bottom:223.900000px;}
.yd1{bottom:228.590000px;}
.y102{bottom:229.000000px;}
.y73{bottom:233.920000px;}
.y3c{bottom:238.500000px;}
.y8a{bottom:239.900000px;}
.y101{bottom:241.000000px;}
.yed{bottom:245.500000px;}
.y72{bottom:245.920000px;}
.yd0{bottom:246.590000px;}
.y89{bottom:251.900000px;}
.y100{bottom:257.000000px;}
.yad{bottom:258.000000px;}
.y71{bottom:261.920000px;}
.yec{bottom:263.500000px;}
.y88{bottom:263.900000px;}
.ycf{bottom:264.590000px;}
.yac{bottom:270.000000px;}
.y2f{bottom:272.000000px;}
.yeb{bottom:275.500000px;}
.yce{bottom:276.590000px;}
.y70{bottom:277.920000px;}
.y87{bottom:279.900000px;}
.yab{bottom:282.000000px;}
.yea{bottom:287.500000px;}
.y105{bottom:288.500000px;}
.y86{bottom:291.900000px;}
.y2e{bottom:292.000000px;}
.ycd{bottom:292.590000px;}
.y6f{bottom:293.920000px;}
.yaa{bottom:298.000000px;}
.y85{bottom:303.900000px;}
.ycc{bottom:308.590000px;}
.y6e{bottom:309.920000px;}
.y2d{bottom:310.000000px;}
.y84{bottom:319.900000px;}
.y2c{bottom:322.000000px;}
.ycb{bottom:324.590000px;}
.y6d{bottom:325.920000px;}
.yae{bottom:329.500000px;}
.y2b{bottom:334.000000px;}
.yb4{bottom:334.870000px;}
.y83{bottom:335.900000px;}
.yca{bottom:340.590000px;}
.y6c{bottom:341.920000px;}
.yff{bottom:342.000000px;}
.y58{bottom:344.000000px;}
.y2a{bottom:346.000000px;}
.yb3{bottom:346.870000px;}
.y82{bottom:347.900000px;}
.yc9{bottom:352.590000px;}
.y6b{bottom:353.920000px;}
.y57{bottom:356.000000px;}
.yb2{bottom:358.870000px;}
.y81{bottom:359.900000px;}
.yfe{bottom:360.000000px;}
.y29{bottom:362.000000px;}
.ya9{bottom:363.000000px;}
.yc8{bottom:364.590000px;}
.y6a{bottom:365.920000px;}
.y56{bottom:368.000000px;}
.y28{bottom:374.000000px;}
.yb1{bottom:374.870000px;}
.y80{bottom:375.900000px;}
.yfd{bottom:378.000000px;}
.yc7{bottom:380.590000px;}
.y69{bottom:381.920000px;}
.ya8{bottom:383.000000px;}
.y55{bottom:384.000000px;}
.yd{bottom:388.500000px;}
.y27{bottom:390.000000px;}
.yb0{bottom:390.870000px;}
.y7f{bottom:391.900000px;}
.yc6{bottom:392.590000px;}
.y68{bottom:397.920000px;}
.y54{bottom:400.000000px;}
.ya7{bottom:401.000000px;}
.yaf{bottom:402.870000px;}
.yc5{bottom:404.590000px;}
.y26{bottom:406.000000px;}
.yc{bottom:406.500000px;}
.y67{bottom:409.920000px;}
.y53{bottom:412.000000px;}
.ya6{bottom:419.000000px;}
.yc4{bottom:420.590000px;}
.y66{bottom:421.920000px;}
.y25{bottom:422.000000px;}
.y95{bottom:423.400000px;}
.y52{bottom:424.000000px;}
.y24{bottom:434.000000px;}
.yb{bottom:436.500000px;}
.yc3{bottom:436.590000px;}
.ya5{bottom:437.000000px;}
.y65{bottom:437.920000px;}
.yfc{bottom:438.000000px;}
.y51{bottom:440.000000px;}
.y64{bottom:449.920000px;}
.y23{bottom:450.000000px;}
.ya{bottom:451.500000px;}
.yc2{bottom:452.590000px;}
.yfb{bottom:454.000000px;}
.ya4{bottom:455.000000px;}
.y50{bottom:456.000000px;}
.y7e{bottom:456.900000px;}
.y9{bottom:461.500000px;}
.y63{bottom:461.920000px;}
.y22{bottom:462.000000px;}
.yc1{bottom:464.590000px;}
.y4f{bottom:468.000000px;}
.yfa{bottom:470.000000px;}
.ya3{bottom:473.000000px;}
.yc0{bottom:476.590000px;}
.y7d{bottom:476.900000px;}
.y62{bottom:477.920000px;}
.y21{bottom:478.000000px;}
.y4e{bottom:480.000000px;}
.y8{bottom:484.000000px;}
.yf9{bottom:486.000000px;}
.y61{bottom:489.920000px;}
.ya2{bottom:491.000000px;}
.ybf{bottom:492.590000px;}
.y7{bottom:494.000000px;}
.y7c{bottom:494.900000px;}
.y20{bottom:496.000000px;}
.ye9{bottom:498.000000px;}
.y60{bottom:501.920000px;}
.yf8{bottom:502.000000px;}
.ybe{bottom:508.590000px;}
.ya1{bottom:509.000000px;}
.ye8{bottom:510.000000px;}
.y7b{bottom:512.900000px;}
.y1f{bottom:514.000000px;}
.ybd{bottom:520.590000px;}
.ye7{bottom:522.000000px;}
.y6{bottom:524.000000px;}
.y5{bottom:526.000000px;}
.ya0{bottom:527.000000px;}
.y5d{bottom:527.500000px;}
.y7a{bottom:530.900000px;}
.y1e{bottom:532.000000px;}
.ybc{bottom:532.590000px;}
.y79{bottom:533.420000px;}
.ye6{bottom:538.000000px;}
.yf7{bottom:542.000000px;}
.y1d{bottom:544.000000px;}
.y9f{bottom:545.000000px;}
.ybb{bottom:548.590000px;}
.ye5{bottom:554.000000px;}
.y1c{bottom:560.000000px;}
.y4d{bottom:561.000000px;}
.y9e{bottom:563.000000px;}
.ye4{bottom:566.000000px;}
.y5f{bottom:566.920000px;}
.y1b{bottom:576.000000px;}
.ye3{bottom:578.000000px;}
.ydb{bottom:580.090000px;}
.y4c{bottom:581.000000px;}
.yf6{bottom:582.000000px;}
.y4{bottom:586.000000px;}
.y5e{bottom:586.920000px;}
.y1a{bottom:592.000000px;}
.ye2{bottom:594.000000px;}
.y4b{bottom:599.000000px;}
.ye1{bottom:606.000000px;}
.y19{bottom:608.000000px;}
.yba{bottom:613.590000px;}
.y4a{bottom:617.000000px;}
.ye0{bottom:618.000000px;}
.yf5{bottom:622.000000px;}
.y18{bottom:624.000000px;}
.y49{bottom:629.000000px;}
.yb9{bottom:633.590000px;}
.ydf{bottom:634.000000px;}
.y9d{bottom:635.000000px;}
.y17{bottom:636.000000px;}
.yf4{bottom:638.000000px;}
.y48{bottom:645.000000px;}
.yde{bottom:646.000000px;}
.y16{bottom:648.000000px;}
.yf3{bottom:650.000000px;}
.y9c{bottom:653.000000px;}
.ydd{bottom:658.000000px;}
.y47{bottom:661.000000px;}
.yf2{bottom:662.000000px;}
.y15{bottom:664.000000px;}
.y9b{bottom:671.000000px;}
.y14{bottom:676.000000px;}
.y46{bottom:677.000000px;}
.yf1{bottom:678.000000px;}
.y3{bottom:686.000000px;}
.y2{bottom:688.000000px;}
.y9a{bottom:689.000000px;}
.yee{bottom:689.500000px;}
.y45{bottom:693.000000px;}
.yf0{bottom:694.000000px;}
.y1{bottom:703.000000px;}
.y13{bottom:704.000000px;}
.y99{bottom:707.000000px;}
.y44{bottom:709.000000px;}
.y0{bottom:712.500000px;}
.y12{bottom:716.000000px;}
.ydc{bottom:723.000000px;}
.y43{bottom:725.000000px;}
.y104{bottom:725.500000px;}
.y11{bottom:728.000000px;}
.y42{bottom:741.000000px;}
.y98{bottom:743.000000px;}
.y10{bottom:744.000000px;}
.y41{bottom:753.000000px;}
.yef{bottom:759.000000px;}
.y97{bottom:761.000000px;}
.y40{bottom:765.000000px;}
.y3b{bottom:775.500000px;}
.y96{bottom:779.000000px;}
.y3f{bottom:781.000000px;}
.y3d{bottom:799.000000px;}
.h2{height:46.973200px;}
.h6{height:56.367840px;}
.h9{height:59.156250px;}
.h7{height:69.015625px;}
.h5{height:70.459800px;}
.h1{height:84.500000px;}
.h4{height:93.946400px;}
.h3{height:187.892799px;}
.h8{height:797.500000px;}
.h0{height:842.000000px;}
.w1{width:277.500000px;}
.w2{width:540.000000px;}
.w0{width:595.000000px;}
.x0{left:55.000000px;}
.xa{left:57.000000px;}
.x6{left:138.300000px;}
.x3{left:207.500000px;}
.xb{left:212.800000px;}
.x8{left:227.820000px;}
.x5{left:236.910000px;}
.x9{left:245.000000px;}
.x7{left:266.380000px;}
.x1{left:276.080000px;}
.x4{left:291.940000px;}
.x2{left:296.110000px;}
.xd{left:524.660000px;}
.xc{left:531.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:106.666667pt;}
.fs1{font-size:213.333333pt;}
.ye{bottom:22.666667pt;}
.y3e{bottom:41.333333pt;}
.yf{bottom:59.333333pt;}
.yda{bottom:88.786667pt;}
.y3a{bottom:94.666667pt;}
.y94{bottom:98.533333pt;}
.y39{bottom:110.666667pt;}
.yd9{bottom:112.786667pt;}
.y93{bottom:122.533333pt;}
.y38{bottom:126.666667pt;}
.y5c{bottom:131.893333pt;}
.yd8{bottom:136.786667pt;}
.y92{bottom:146.533333pt;}
.y37{bottom:148.000000pt;}
.y5b{bottom:155.893333pt;}
.yd7{bottom:160.786667pt;}
.y36{bottom:164.000000pt;}
.y91{bottom:170.533333pt;}
.y5a{bottom:171.893333pt;}
.y35{bottom:180.000000pt;}
.yb8{bottom:181.946667pt;}
.yd6{bottom:184.786667pt;}
.y59{bottom:187.893333pt;}
.y78{bottom:191.893333pt;}
.y90{bottom:194.533333pt;}
.y34{bottom:201.333333pt;}
.yb7{bottom:205.946667pt;}
.yd5{bottom:208.786667pt;}
.y77{bottom:215.893333pt;}
.y8f{bottom:218.533333pt;}
.yb6{bottom:221.946667pt;}
.y33{bottom:222.666667pt;}
.yd4{bottom:232.786667pt;}
.y8e{bottom:234.533333pt;}
.yb5{bottom:237.946667pt;}
.y32{bottom:238.666667pt;}
.y76{bottom:239.893333pt;}
.y31{bottom:254.666667pt;}
.y8d{bottom:255.866667pt;}
.yd3{bottom:256.786667pt;}
.y75{bottom:263.893333pt;}
.y30{bottom:276.000000pt;}
.y8c{bottom:277.200000pt;}
.yd2{bottom:280.786667pt;}
.y74{bottom:287.893333pt;}
.y103{bottom:289.333333pt;}
.y8b{bottom:298.533333pt;}
.yd1{bottom:304.786667pt;}
.y102{bottom:305.333333pt;}
.y73{bottom:311.893333pt;}
.y3c{bottom:318.000000pt;}
.y8a{bottom:319.866667pt;}
.y101{bottom:321.333333pt;}
.yed{bottom:327.333333pt;}
.y72{bottom:327.893333pt;}
.yd0{bottom:328.786667pt;}
.y89{bottom:335.866667pt;}
.y100{bottom:342.666667pt;}
.yad{bottom:344.000000pt;}
.y71{bottom:349.226667pt;}
.yec{bottom:351.333333pt;}
.y88{bottom:351.866667pt;}
.ycf{bottom:352.786667pt;}
.yac{bottom:360.000000pt;}
.y2f{bottom:362.666667pt;}
.yeb{bottom:367.333333pt;}
.yce{bottom:368.786667pt;}
.y70{bottom:370.560000pt;}
.y87{bottom:373.200000pt;}
.yab{bottom:376.000000pt;}
.yea{bottom:383.333333pt;}
.y105{bottom:384.666667pt;}
.y86{bottom:389.200000pt;}
.y2e{bottom:389.333333pt;}
.ycd{bottom:390.120000pt;}
.y6f{bottom:391.893333pt;}
.yaa{bottom:397.333333pt;}
.y85{bottom:405.200000pt;}
.ycc{bottom:411.453333pt;}
.y6e{bottom:413.226667pt;}
.y2d{bottom:413.333333pt;}
.y84{bottom:426.533333pt;}
.y2c{bottom:429.333333pt;}
.ycb{bottom:432.786667pt;}
.y6d{bottom:434.560000pt;}
.yae{bottom:439.333333pt;}
.y2b{bottom:445.333333pt;}
.yb4{bottom:446.493333pt;}
.y83{bottom:447.866667pt;}
.yca{bottom:454.120000pt;}
.y6c{bottom:455.893333pt;}
.yff{bottom:456.000000pt;}
.y58{bottom:458.666667pt;}
.y2a{bottom:461.333333pt;}
.yb3{bottom:462.493333pt;}
.y82{bottom:463.866667pt;}
.yc9{bottom:470.120000pt;}
.y6b{bottom:471.893333pt;}
.y57{bottom:474.666667pt;}
.yb2{bottom:478.493333pt;}
.y81{bottom:479.866667pt;}
.yfe{bottom:480.000000pt;}
.y29{bottom:482.666667pt;}
.ya9{bottom:484.000000pt;}
.yc8{bottom:486.120000pt;}
.y6a{bottom:487.893333pt;}
.y56{bottom:490.666667pt;}
.y28{bottom:498.666667pt;}
.yb1{bottom:499.826667pt;}
.y80{bottom:501.200000pt;}
.yfd{bottom:504.000000pt;}
.yc7{bottom:507.453333pt;}
.y69{bottom:509.226667pt;}
.ya8{bottom:510.666667pt;}
.y55{bottom:512.000000pt;}
.yd{bottom:518.000000pt;}
.y27{bottom:520.000000pt;}
.yb0{bottom:521.160000pt;}
.y7f{bottom:522.533333pt;}
.yc6{bottom:523.453333pt;}
.y68{bottom:530.560000pt;}
.y54{bottom:533.333333pt;}
.ya7{bottom:534.666667pt;}
.yaf{bottom:537.160000pt;}
.yc5{bottom:539.453333pt;}
.y26{bottom:541.333333pt;}
.yc{bottom:542.000000pt;}
.y67{bottom:546.560000pt;}
.y53{bottom:549.333333pt;}
.ya6{bottom:558.666667pt;}
.yc4{bottom:560.786667pt;}
.y66{bottom:562.560000pt;}
.y25{bottom:562.666667pt;}
.y95{bottom:564.533333pt;}
.y52{bottom:565.333333pt;}
.y24{bottom:578.666667pt;}
.yb{bottom:582.000000pt;}
.yc3{bottom:582.120000pt;}
.ya5{bottom:582.666667pt;}
.y65{bottom:583.893333pt;}
.yfc{bottom:584.000000pt;}
.y51{bottom:586.666667pt;}
.y64{bottom:599.893333pt;}
.y23{bottom:600.000000pt;}
.ya{bottom:602.000000pt;}
.yc2{bottom:603.453333pt;}
.yfb{bottom:605.333333pt;}
.ya4{bottom:606.666667pt;}
.y50{bottom:608.000000pt;}
.y7e{bottom:609.200000pt;}
.y9{bottom:615.333333pt;}
.y63{bottom:615.893333pt;}
.y22{bottom:616.000000pt;}
.yc1{bottom:619.453333pt;}
.y4f{bottom:624.000000pt;}
.yfa{bottom:626.666667pt;}
.ya3{bottom:630.666667pt;}
.yc0{bottom:635.453333pt;}
.y7d{bottom:635.866667pt;}
.y62{bottom:637.226667pt;}
.y21{bottom:637.333333pt;}
.y4e{bottom:640.000000pt;}
.y8{bottom:645.333333pt;}
.yf9{bottom:648.000000pt;}
.y61{bottom:653.226667pt;}
.ya2{bottom:654.666667pt;}
.ybf{bottom:656.786667pt;}
.y7{bottom:658.666667pt;}
.y7c{bottom:659.866667pt;}
.y20{bottom:661.333333pt;}
.ye9{bottom:664.000000pt;}
.y60{bottom:669.226667pt;}
.yf8{bottom:669.333333pt;}
.ybe{bottom:678.120000pt;}
.ya1{bottom:678.666667pt;}
.ye8{bottom:680.000000pt;}
.y7b{bottom:683.866667pt;}
.y1f{bottom:685.333333pt;}
.ybd{bottom:694.120000pt;}
.ye7{bottom:696.000000pt;}
.y6{bottom:698.666667pt;}
.y5{bottom:701.333333pt;}
.ya0{bottom:702.666667pt;}
.y5d{bottom:703.333333pt;}
.y7a{bottom:707.866667pt;}
.y1e{bottom:709.333333pt;}
.ybc{bottom:710.120000pt;}
.y79{bottom:711.226667pt;}
.ye6{bottom:717.333333pt;}
.yf7{bottom:722.666667pt;}
.y1d{bottom:725.333333pt;}
.y9f{bottom:726.666667pt;}
.ybb{bottom:731.453333pt;}
.ye5{bottom:738.666667pt;}
.y1c{bottom:746.666667pt;}
.y4d{bottom:748.000000pt;}
.y9e{bottom:750.666667pt;}
.ye4{bottom:754.666667pt;}
.y5f{bottom:755.893333pt;}
.y1b{bottom:768.000000pt;}
.ye3{bottom:770.666667pt;}
.ydb{bottom:773.453333pt;}
.y4c{bottom:774.666667pt;}
.yf6{bottom:776.000000pt;}
.y4{bottom:781.333333pt;}
.y5e{bottom:782.560000pt;}
.y1a{bottom:789.333333pt;}
.ye2{bottom:792.000000pt;}
.y4b{bottom:798.666667pt;}
.ye1{bottom:808.000000pt;}
.y19{bottom:810.666667pt;}
.yba{bottom:818.120000pt;}
.y4a{bottom:822.666667pt;}
.ye0{bottom:824.000000pt;}
.yf5{bottom:829.333333pt;}
.y18{bottom:832.000000pt;}
.y49{bottom:838.666667pt;}
.yb9{bottom:844.786667pt;}
.ydf{bottom:845.333333pt;}
.y9d{bottom:846.666667pt;}
.y17{bottom:848.000000pt;}
.yf4{bottom:850.666667pt;}
.y48{bottom:860.000000pt;}
.yde{bottom:861.333333pt;}
.y16{bottom:864.000000pt;}
.yf3{bottom:866.666667pt;}
.y9c{bottom:870.666667pt;}
.ydd{bottom:877.333333pt;}
.y47{bottom:881.333333pt;}
.yf2{bottom:882.666667pt;}
.y15{bottom:885.333333pt;}
.y9b{bottom:894.666667pt;}
.y14{bottom:901.333333pt;}
.y46{bottom:902.666667pt;}
.yf1{bottom:904.000000pt;}
.y3{bottom:914.666667pt;}
.y2{bottom:917.333333pt;}
.y9a{bottom:918.666667pt;}
.yee{bottom:919.333333pt;}
.y45{bottom:924.000000pt;}
.yf0{bottom:925.333333pt;}
.y1{bottom:937.333333pt;}
.y13{bottom:938.666667pt;}
.y99{bottom:942.666667pt;}
.y44{bottom:945.333333pt;}
.y0{bottom:950.000000pt;}
.y12{bottom:954.666667pt;}
.ydc{bottom:964.000000pt;}
.y43{bottom:966.666667pt;}
.y104{bottom:967.333333pt;}
.y11{bottom:970.666667pt;}
.y42{bottom:988.000000pt;}
.y98{bottom:990.666667pt;}
.y10{bottom:992.000000pt;}
.y41{bottom:1004.000000pt;}
.yef{bottom:1012.000000pt;}
.y97{bottom:1014.666667pt;}
.y40{bottom:1020.000000pt;}
.y3b{bottom:1034.000000pt;}
.y96{bottom:1038.666667pt;}
.y3f{bottom:1041.333333pt;}
.y3d{bottom:1065.333333pt;}
.h2{height:62.630933pt;}
.h6{height:75.157120pt;}
.h9{height:78.875000pt;}
.h7{height:92.020833pt;}
.h5{height:93.946400pt;}
.h1{height:112.666667pt;}
.h4{height:125.261866pt;}
.h3{height:250.523733pt;}
.h8{height:1063.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:370.000000pt;}
.w2{width:720.000000pt;}
.w0{width:793.333333pt;}
.x0{left:73.333333pt;}
.xa{left:76.000000pt;}
.x6{left:184.400000pt;}
.x3{left:276.666667pt;}
.xb{left:283.733333pt;}
.x8{left:303.760000pt;}
.x5{left:315.880000pt;}
.x9{left:326.666667pt;}
.x7{left:355.173333pt;}
.x1{left:368.106667pt;}
.x4{left:389.253333pt;}
.x2{left:394.813333pt;}
.xd{left:699.546667pt;}
.xc{left:708.440000pt;}
}
