.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls14{letter-spacing:-0.332664px;}
.ls1b{letter-spacing:-0.240480px;}
.ls16{letter-spacing:-0.168336px;}
.ls12{letter-spacing:-0.144288px;}
.ls1a{letter-spacing:-0.064128px;}
.ls1c{letter-spacing:-0.060120px;}
.ls3{letter-spacing:-0.051264px;}
.ls4{letter-spacing:-0.044856px;}
.ls20{letter-spacing:-0.040080px;}
.ls18{letter-spacing:-0.036072px;}
.ls5{letter-spacing:-0.032040px;}
.ls13{letter-spacing:-0.028056px;}
.ls1e{letter-spacing:-0.024048px;}
.ls0{letter-spacing:-0.022368px;}
.lsb{letter-spacing:-0.020040px;}
.ls6{letter-spacing:-0.019224px;}
.lse{letter-spacing:-0.016032px;}
.ls9{letter-spacing:-0.012024px;}
.lsc{letter-spacing:-0.008016px;}
.lsa{letter-spacing:-0.004008px;}
.ls1{letter-spacing:0.000000px;}
.lsd{letter-spacing:0.004008px;}
.ls10{letter-spacing:0.008016px;}
.ls15{letter-spacing:0.012024px;}
.lsf{letter-spacing:0.016032px;}
.ls17{letter-spacing:0.020040px;}
.ls8{letter-spacing:0.024048px;}
.ls1f{letter-spacing:0.028056px;}
.ls11{letter-spacing:0.068136px;}
.ls19{letter-spacing:0.084168px;}
.ls1d{letter-spacing:0.096192px;}
.ls2{letter-spacing:0.100656px;}
.ls7{letter-spacing:562.665600px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws10{word-spacing:-0.348696px;}
.ws16{word-spacing:-0.124248px;}
.ws3{word-spacing:-0.120240px;}
.ws11{word-spacing:-0.116232px;}
.wsb{word-spacing:-0.112224px;}
.wse{word-spacing:-0.108216px;}
.wsc{word-spacing:-0.104208px;}
.ws9{word-spacing:-0.100200px;}
.ws5{word-spacing:-0.096192px;}
.ws6{word-spacing:-0.092184px;}
.ws8{word-spacing:-0.088176px;}
.ws4{word-spacing:-0.084168px;}
.wsa{word-spacing:-0.080160px;}
.ws7{word-spacing:-0.076152px;}
.ws15{word-spacing:-0.072144px;}
.wsd{word-spacing:-0.068136px;}
.ws12{word-spacing:-0.060120px;}
.ws17{word-spacing:-0.056112px;}
.ws14{word-spacing:-0.036072px;}
.ws13{word-spacing:-0.032064px;}
.ws2{word-spacing:-0.025632px;}
.ws0{word-spacing:0.000000px;}
.ws1{word-spacing:0.044856px;}
.wsf{word-spacing:0.072144px;}
._0{margin-left:-1.142280px;}
._1{width:1.122240px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:40.080000px;}
.fs3{font-size:43.920000px;}
.fs2{font-size:48.000000px;}
.fs0{font-size:55.920000px;}
.fs4{font-size:56.000000px;}
.fs1{font-size:64.080000px;}
.y14{bottom:16.000000px;}
.y13{bottom:39.840100px;}
.y3c{bottom:76.303740px;}
.yc0{bottom:86.203380px;}
.y87{bottom:87.746460px;}
.y60{bottom:98.798640px;}
.y86{bottom:99.269460px;}
.yb5{bottom:105.102860px;}
.y85{bottom:110.792460px;}
.y5f{bottom:116.253480px;}
.yb4{bottom:116.625860px;}
.ybf{bottom:121.724280px;}
.y84{bottom:122.255340px;}
.y3b{bottom:123.758460px;}
.y5e{bottom:127.776480px;}
.yb3{bottom:128.088740px;}
.ybe{bottom:133.307400px;}
.y83{bottom:133.778340px;}
.y5d{bottom:139.299480px;}
.yb2{bottom:139.611740px;}
.y3a{bottom:141.273420px;}
.y82{bottom:145.301340px;}
.y5c{bottom:150.762360px;}
.y39{bottom:152.796420px;}
.yb1{bottom:157.126700px;}
.y5b{bottom:162.285360px;}
.y81{bottom:162.696060px;}
.y38{bottom:164.259300px;}
.yb0{bottom:168.589580px;}
.y37{bottom:175.782300px;}
.y5a{bottom:179.740200px;}
.yaf{bottom:180.112580px;}
.ybd{bottom:180.762120px;}
.y59{bottom:191.263200px;}
.yae{bottom:191.635580px;}
.y36{bottom:193.297260px;}
.y80{bottom:198.216960px;}
.ybc{bottom:198.277080px;}
.y58{bottom:202.786200px;}
.yad{bottom:203.098460px;}
.y35{bottom:204.760140px;}
.y7f{bottom:209.739960px;}
.y57{bottom:214.249080px;}
.yac{bottom:214.621460px;}
.y34{bottom:216.283140px;}
.ybb{bottom:221.262960px;}
.y56{bottom:225.772080px;}
.yab{bottom:226.084340px;}
.y33{bottom:227.746020px;}
.yba{bottom:232.785960px;}
.yaa{bottom:237.607340px;}
.y55{bottom:243.226920px;}
.yb9{bottom:244.248840px;}
.y32{bottom:245.200860px;}
.ya9{bottom:255.062180px;}
.yb8{bottom:255.771840px;}
.y7e{bottom:257.254800px;}
.yb7{bottom:273.286800px;}
.y7d{bottom:274.769760px;}
.y54{bottom:278.687700px;}
.y31{bottom:280.721760px;}
.yb6{bottom:284.749680px;}
.y7c{bottom:286.232640px;}
.y53{bottom:290.270820px;}
.ya8{bottom:290.522960px;}
.y30{bottom:292.244760px;}
.y9d{bottom:296.272680px;}
.y7b{bottom:297.755640px;}
.ya7{bottom:302.106080px;}
.y9c{bottom:307.795680px;}
.y7a{bottom:309.278640px;}
.y9b{bottom:319.258560px;}
.y79{bottom:326.733480px;}
.y12{bottom:335.280000px;}
.y9a{bottom:336.713400px;}
.y52{bottom:337.785660px;}
.y78{bottom:338.256480px;}
.y2f{bottom:339.759600px;}
.ya6{bottom:349.620920px;}
.y77{bottom:349.779480px;}
.y11{bottom:349.963840px;}
.y51{bottom:355.240500px;}
.y2e{bottom:357.274560px;}
.y76{bottom:361.242360px;}
.y50{bottom:366.763500px;}
.ya5{bottom:367.075760px;}
.y10{bottom:368.386840px;}
.y2d{bottom:368.737440px;}
.y99{bottom:372.234300px;}
.y75{bottom:372.765360px;}
.y4f{bottom:378.286500px;}
.ya4{bottom:378.598760px;}
.y2c{bottom:380.260440px;}
.y98{bottom:383.757300px;}
.y74{bottom:384.288360px;}
.yf{bottom:386.745760px;}
.y4e{bottom:389.749380px;}
.ya3{bottom:390.121760px;}
.y2b{bottom:391.783440px;}
.y73{bottom:395.751240px;}
.ya2{bottom:401.584640px;}
.y2a{bottom:403.246320px;}
.ye{bottom:405.168760px;}
.y4d{bottom:407.264340px;}
.y72{bottom:413.206080px;}
.y29{bottom:414.769320px;}
.y4c{bottom:418.787340px;}
.ya1{bottom:419.099600px;}
.yd{bottom:423.591760px;}
.y4b{bottom:430.250220px;}
.ya0{bottom:430.621560px;}
.y97{bottom:431.272140px;}
.y28{bottom:432.284280px;}
.y9e{bottom:439.500000px;}
.y9f{bottom:439.860000px;}
.y4a{bottom:441.773220px;}
.yc{bottom:441.950680px;}
.y27{bottom:443.747160px;}
.y71{bottom:448.726980px;}
.y96{bottom:448.787100px;}
.y26{bottom:455.270160px;}
.y49{bottom:459.228060px;}
.y70{bottom:460.249980px;}
.yb{bottom:460.373680px;}
.y25{bottom:466.793160px;}
.y95{bottom:471.772980px;}
.y24{bottom:478.256040px;}
.ya{bottom:478.796680px;}
.y94{bottom:483.295980px;}
.y48{bottom:494.688840px;}
.y23{bottom:495.710880px;}
.y9{bottom:497.155600px;}
.y93{bottom:500.750820px;}
.y47{bottom:506.271960px;}
.y6f{bottom:507.764820px;}
.y92{bottom:512.273820px;}
.y8{bottom:515.578600px;}
.y91{bottom:523.736700px;}
.y6e{bottom:525.279780px;}
.y7{bottom:533.934360px;}
.y90{bottom:535.259700px;}
.y6d{bottom:536.742660px;}
.y22{bottom:543.285840px;}
.y6c{bottom:548.265660px;}
.y0{bottom:548.500000px;}
.y6{bottom:548.881020px;}
.y8f{bottom:552.714540px;}
.y46{bottom:553.736700px;}
.y6b{bottom:559.728540px;}
.y21{bottom:560.740680px;}
.y45{bottom:571.251660px;}
.y20{bottom:572.263680px;}
.y6a{bottom:577.243500px;}
.y44{bottom:582.774660px;}
.y1f{bottom:583.726560px;}
.y8e{bottom:588.175320px;}
.y69{bottom:588.766500px;}
.y43{bottom:594.237540px;}
.y1e{bottom:595.249560px;}
.y8d{bottom:599.758440px;}
.y68{bottom:600.229380px;}
.y42{bottom:605.760540px;}
.y67{bottom:611.752380px;}
.y1d{bottom:612.764520px;}
.y66{bottom:623.275380px;}
.y41{bottom:623.275500px;}
.y1c{bottom:624.227400px;}
.y65{bottom:634.738260px;}
.y40{bottom:634.738380px;}
.y1b{bottom:635.750400px;}
.y64{bottom:646.261260px;}
.y3f{bottom:646.261380px;}
.y8c{bottom:647.273280px;}
.y1a{bottom:647.273400px;}
.y5{bottom:649.855080px;}
.y3e{bottom:657.784380px;}
.y19{bottom:658.736280px;}
.y63{bottom:663.716100px;}
.y8b{bottom:664.728120px;}
.y4{bottom:668.278080px;}
.y18{bottom:670.259280px;}
.y3d{bottom:675.179100px;}
.y8a{bottom:676.251120px;}
.y17{bottom:681.782280px;}
.y3{bottom:686.637000px;}
.y89{bottom:687.774120px;}
.y16{bottom:693.245160px;}
.y62{bottom:699.176880px;}
.y88{bottom:699.237000px;}
.y2{bottom:705.060000px;}
.y15{bottom:710.700000px;}
.y61{bottom:710.760000px;}
.y1{bottom:742.740000px;}
.h5{height:29.272852px;}
.h2{height:38.226562px;}
.h7{height:47.067146px;}
.h8{height:49.395469px;}
.h4{height:56.367840px;}
.h6{height:69.015625px;}
.h3{height:75.251066px;}
.h1{height:98.000000px;}
.h9{height:280.000000px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w2{width:468.500000px;}
.w0{width:612.000000px;}
.x8{left:72.000000px;}
.xb{left:73.500000px;}
.x5{left:116.163000px;}
.x0{left:135.500000px;}
.xa{left:253.000000px;}
.x6{left:260.647380px;}
.x7{left:263.290680px;}
.x4{left:281.104920px;}
.x1{left:286.080000px;}
.x2{left:306.000000px;}
.x3{left:477.718380px;}
.x9{left:504.780000px;}
.xc{left:541.499900px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls14{letter-spacing:-0.443552pt;}
.ls1b{letter-spacing:-0.320640pt;}
.ls16{letter-spacing:-0.224448pt;}
.ls12{letter-spacing:-0.192384pt;}
.ls1a{letter-spacing:-0.085504pt;}
.ls1c{letter-spacing:-0.080160pt;}
.ls3{letter-spacing:-0.068352pt;}
.ls4{letter-spacing:-0.059808pt;}
.ls20{letter-spacing:-0.053440pt;}
.ls18{letter-spacing:-0.048096pt;}
.ls5{letter-spacing:-0.042720pt;}
.ls13{letter-spacing:-0.037408pt;}
.ls1e{letter-spacing:-0.032064pt;}
.ls0{letter-spacing:-0.029824pt;}
.lsb{letter-spacing:-0.026720pt;}
.ls6{letter-spacing:-0.025632pt;}
.lse{letter-spacing:-0.021376pt;}
.ls9{letter-spacing:-0.016032pt;}
.lsc{letter-spacing:-0.010688pt;}
.lsa{letter-spacing:-0.005344pt;}
.ls1{letter-spacing:0.000000pt;}
.lsd{letter-spacing:0.005344pt;}
.ls10{letter-spacing:0.010688pt;}
.ls15{letter-spacing:0.016032pt;}
.lsf{letter-spacing:0.021376pt;}
.ls17{letter-spacing:0.026720pt;}
.ls8{letter-spacing:0.032064pt;}
.ls1f{letter-spacing:0.037408pt;}
.ls11{letter-spacing:0.090848pt;}
.ls19{letter-spacing:0.112224pt;}
.ls1d{letter-spacing:0.128256pt;}
.ls2{letter-spacing:0.134208pt;}
.ls7{letter-spacing:750.220800pt;}
.ws10{word-spacing:-0.464928pt;}
.ws16{word-spacing:-0.165664pt;}
.ws3{word-spacing:-0.160320pt;}
.ws11{word-spacing:-0.154976pt;}
.wsb{word-spacing:-0.149632pt;}
.wse{word-spacing:-0.144288pt;}
.wsc{word-spacing:-0.138944pt;}
.ws9{word-spacing:-0.133600pt;}
.ws5{word-spacing:-0.128256pt;}
.ws6{word-spacing:-0.122912pt;}
.ws8{word-spacing:-0.117568pt;}
.ws4{word-spacing:-0.112224pt;}
.wsa{word-spacing:-0.106880pt;}
.ws7{word-spacing:-0.101536pt;}
.ws15{word-spacing:-0.096192pt;}
.wsd{word-spacing:-0.090848pt;}
.ws12{word-spacing:-0.080160pt;}
.ws17{word-spacing:-0.074816pt;}
.ws14{word-spacing:-0.048096pt;}
.ws13{word-spacing:-0.042752pt;}
.ws2{word-spacing:-0.034176pt;}
.ws0{word-spacing:0.000000pt;}
.ws1{word-spacing:0.059808pt;}
.wsf{word-spacing:0.096192pt;}
._0{margin-left:-1.523040pt;}
._1{width:1.496320pt;}
.fs5{font-size:53.440000pt;}
.fs3{font-size:58.560000pt;}
.fs2{font-size:64.000000pt;}
.fs0{font-size:74.560000pt;}
.fs4{font-size:74.666667pt;}
.fs1{font-size:85.440000pt;}
.y14{bottom:21.333333pt;}
.y13{bottom:53.120133pt;}
.y3c{bottom:101.738320pt;}
.yc0{bottom:114.937840pt;}
.y87{bottom:116.995280pt;}
.y60{bottom:131.731520pt;}
.y86{bottom:132.359280pt;}
.yb5{bottom:140.137147pt;}
.y85{bottom:147.723280pt;}
.y5f{bottom:155.004640pt;}
.yb4{bottom:155.501147pt;}
.ybf{bottom:162.299040pt;}
.y84{bottom:163.007120pt;}
.y3b{bottom:165.011280pt;}
.y5e{bottom:170.368640pt;}
.yb3{bottom:170.784987pt;}
.ybe{bottom:177.743200pt;}
.y83{bottom:178.371120pt;}
.y5d{bottom:185.732640pt;}
.yb2{bottom:186.148987pt;}
.y3a{bottom:188.364560pt;}
.y82{bottom:193.735120pt;}
.y5c{bottom:201.016480pt;}
.y39{bottom:203.728560pt;}
.yb1{bottom:209.502267pt;}
.y5b{bottom:216.380480pt;}
.y81{bottom:216.928080pt;}
.y38{bottom:219.012400pt;}
.yb0{bottom:224.786107pt;}
.y37{bottom:234.376400pt;}
.y5a{bottom:239.653600pt;}
.yaf{bottom:240.150107pt;}
.ybd{bottom:241.016160pt;}
.y59{bottom:255.017600pt;}
.yae{bottom:255.514107pt;}
.y36{bottom:257.729680pt;}
.y80{bottom:264.289280pt;}
.ybc{bottom:264.369440pt;}
.y58{bottom:270.381600pt;}
.yad{bottom:270.797947pt;}
.y35{bottom:273.013520pt;}
.y7f{bottom:279.653280pt;}
.y57{bottom:285.665440pt;}
.yac{bottom:286.161947pt;}
.y34{bottom:288.377520pt;}
.ybb{bottom:295.017280pt;}
.y56{bottom:301.029440pt;}
.yab{bottom:301.445787pt;}
.y33{bottom:303.661360pt;}
.yba{bottom:310.381280pt;}
.yaa{bottom:316.809787pt;}
.y55{bottom:324.302560pt;}
.yb9{bottom:325.665120pt;}
.y32{bottom:326.934480pt;}
.ya9{bottom:340.082907pt;}
.yb8{bottom:341.029120pt;}
.y7e{bottom:343.006400pt;}
.yb7{bottom:364.382400pt;}
.y7d{bottom:366.359680pt;}
.y54{bottom:371.583600pt;}
.y31{bottom:374.295680pt;}
.yb6{bottom:379.666240pt;}
.y7c{bottom:381.643520pt;}
.y53{bottom:387.027760pt;}
.ya8{bottom:387.363947pt;}
.y30{bottom:389.659680pt;}
.y9d{bottom:395.030240pt;}
.y7b{bottom:397.007520pt;}
.ya7{bottom:402.808107pt;}
.y9c{bottom:410.394240pt;}
.y7a{bottom:412.371520pt;}
.y9b{bottom:425.678080pt;}
.y79{bottom:435.644640pt;}
.y12{bottom:447.040000pt;}
.y9a{bottom:448.951200pt;}
.y52{bottom:450.380880pt;}
.y78{bottom:451.008640pt;}
.y2f{bottom:453.012800pt;}
.ya6{bottom:466.161227pt;}
.y77{bottom:466.372640pt;}
.y11{bottom:466.618453pt;}
.y51{bottom:473.654000pt;}
.y2e{bottom:476.366080pt;}
.y76{bottom:481.656480pt;}
.y50{bottom:489.018000pt;}
.ya5{bottom:489.434347pt;}
.y10{bottom:491.182453pt;}
.y2d{bottom:491.649920pt;}
.y99{bottom:496.312400pt;}
.y75{bottom:497.020480pt;}
.y4f{bottom:504.382000pt;}
.ya4{bottom:504.798347pt;}
.y2c{bottom:507.013920pt;}
.y98{bottom:511.676400pt;}
.y74{bottom:512.384480pt;}
.yf{bottom:515.661013pt;}
.y4e{bottom:519.665840pt;}
.ya3{bottom:520.162347pt;}
.y2b{bottom:522.377920pt;}
.y73{bottom:527.668320pt;}
.ya2{bottom:535.446187pt;}
.y2a{bottom:537.661760pt;}
.ye{bottom:540.225013pt;}
.y4d{bottom:543.019120pt;}
.y72{bottom:550.941440pt;}
.y29{bottom:553.025760pt;}
.y4c{bottom:558.383120pt;}
.ya1{bottom:558.799467pt;}
.yd{bottom:564.789013pt;}
.y4b{bottom:573.666960pt;}
.ya0{bottom:574.162080pt;}
.y97{bottom:575.029520pt;}
.y28{bottom:576.379040pt;}
.y9e{bottom:586.000000pt;}
.y9f{bottom:586.480000pt;}
.y4a{bottom:589.030960pt;}
.yc{bottom:589.267573pt;}
.y27{bottom:591.662880pt;}
.y71{bottom:598.302640pt;}
.y96{bottom:598.382800pt;}
.y26{bottom:607.026880pt;}
.y49{bottom:612.304080pt;}
.y70{bottom:613.666640pt;}
.yb{bottom:613.831573pt;}
.y25{bottom:622.390880pt;}
.y95{bottom:629.030640pt;}
.y24{bottom:637.674720pt;}
.ya{bottom:638.395573pt;}
.y94{bottom:644.394640pt;}
.y48{bottom:659.585120pt;}
.y23{bottom:660.947840pt;}
.y9{bottom:662.874133pt;}
.y93{bottom:667.667760pt;}
.y47{bottom:675.029280pt;}
.y6f{bottom:677.019760pt;}
.y92{bottom:683.031760pt;}
.y8{bottom:687.438133pt;}
.y91{bottom:698.315600pt;}
.y6e{bottom:700.373040pt;}
.y7{bottom:711.912480pt;}
.y90{bottom:713.679600pt;}
.y6d{bottom:715.656880pt;}
.y22{bottom:724.381120pt;}
.y6c{bottom:731.020880pt;}
.y0{bottom:731.333333pt;}
.y6{bottom:731.841360pt;}
.y8f{bottom:736.952720pt;}
.y46{bottom:738.315600pt;}
.y6b{bottom:746.304720pt;}
.y21{bottom:747.654240pt;}
.y45{bottom:761.668880pt;}
.y20{bottom:763.018240pt;}
.y6a{bottom:769.658000pt;}
.y44{bottom:777.032880pt;}
.y1f{bottom:778.302080pt;}
.y8e{bottom:784.233760pt;}
.y69{bottom:785.022000pt;}
.y43{bottom:792.316720pt;}
.y1e{bottom:793.666080pt;}
.y8d{bottom:799.677920pt;}
.y68{bottom:800.305840pt;}
.y42{bottom:807.680720pt;}
.y67{bottom:815.669840pt;}
.y1d{bottom:817.019360pt;}
.y66{bottom:831.033840pt;}
.y41{bottom:831.034000pt;}
.y1c{bottom:832.303200pt;}
.y65{bottom:846.317680pt;}
.y40{bottom:846.317840pt;}
.y1b{bottom:847.667200pt;}
.y64{bottom:861.681680pt;}
.y3f{bottom:861.681840pt;}
.y8c{bottom:863.031040pt;}
.y1a{bottom:863.031200pt;}
.y5{bottom:866.473440pt;}
.y3e{bottom:877.045840pt;}
.y19{bottom:878.315040pt;}
.y63{bottom:884.954800pt;}
.y8b{bottom:886.304160pt;}
.y4{bottom:891.037440pt;}
.y18{bottom:893.679040pt;}
.y3d{bottom:900.238800pt;}
.y8a{bottom:901.668160pt;}
.y17{bottom:909.043040pt;}
.y3{bottom:915.516000pt;}
.y89{bottom:917.032160pt;}
.y16{bottom:924.326880pt;}
.y62{bottom:932.235840pt;}
.y88{bottom:932.316000pt;}
.y2{bottom:940.080000pt;}
.y15{bottom:947.600000pt;}
.y61{bottom:947.680000pt;}
.y1{bottom:990.320000pt;}
.h5{height:39.030469pt;}
.h2{height:50.968750pt;}
.h7{height:62.756195pt;}
.h8{height:65.860625pt;}
.h4{height:75.157120pt;}
.h6{height:92.020833pt;}
.h3{height:100.334755pt;}
.h1{height:130.666667pt;}
.h9{height:373.333333pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w2{width:624.666667pt;}
.w0{width:816.000000pt;}
.x8{left:96.000000pt;}
.xb{left:98.000000pt;}
.x5{left:154.884000pt;}
.x0{left:180.666667pt;}
.xa{left:337.333333pt;}
.x6{left:347.529840pt;}
.x7{left:351.054240pt;}
.x4{left:374.806560pt;}
.x1{left:381.440000pt;}
.x2{left:408.000000pt;}
.x3{left:636.957840pt;}
.x9{left:673.040000pt;}
.xc{left:721.999867pt;}
}
