.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc6{color:rgb(33,78,123);}
.fc4{color:rgb(102,0,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(255,0,0);}
.fc2{color:rgb(0,0,51);}
.fc7{color:rgb(66,184,55);}
.fc1{color:rgb(120,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:80.000000px;}
.fs1{font-size:160.000000px;}
.ye{bottom:17.000000px;}
.y41{bottom:31.000000px;}
.yf{bottom:44.500000px;}
.y86{bottom:64.410000px;}
.y3f{bottom:65.000000px;}
.yf8{bottom:65.510000px;}
.yd0{bottom:66.000000px;}
.y99{bottom:66.050000px;}
.y6b{bottom:70.000000px;}
.yd8{bottom:74.550000px;}
.ybf{bottom:77.780000px;}
.y1c{bottom:80.000000px;}
.ycf{bottom:82.000000px;}
.y98{bottom:82.050000px;}
.yf7{bottom:83.510000px;}
.y6a{bottom:88.000000px;}
.yd7{bottom:94.550000px;}
.y3e{bottom:95.000000px;}
.ybe{bottom:95.780000px;}
.y87{bottom:95.910000px;}
.yce{bottom:98.000000px;}
.yf6{bottom:101.510000px;}
.y69{bottom:106.000000px;}
.y3d{bottom:110.000000px;}
.yd6{bottom:112.550000px;}
.y9a{bottom:113.550000px;}
.ybd{bottom:113.780000px;}
.ycd{bottom:114.000000px;}
.yf5{bottom:119.510000px;}
.y68{bottom:124.000000px;}
.y3c{bottom:125.000000px;}
.y85{bottom:129.410000px;}
.ycc{bottom:130.000000px;}
.yd5{bottom:130.550000px;}
.ybc{bottom:131.780000px;}
.yf4{bottom:137.510000px;}
.y1b{bottom:140.000000px;}
.y67{bottom:142.000000px;}
.ycb{bottom:146.000000px;}
.y97{bottom:147.050000px;}
.yd4{bottom:148.550000px;}
.y84{bottom:149.410000px;}
.ybb{bottom:149.780000px;}
.y3b{bottom:155.000000px;}
.yf3{bottom:155.510000px;}
.yca{bottom:158.000000px;}
.y66{bottom:160.000000px;}
.y96{bottom:167.050000px;}
.y83{bottom:167.410000px;}
.yf2{bottom:167.510000px;}
.yba{bottom:167.780000px;}
.y1a{bottom:170.000000px;}
.y65{bottom:178.000000px;}
.yb9{bottom:179.780000px;}
.yf1{bottom:183.510000px;}
.y3a{bottom:185.000000px;}
.y95{bottom:185.050000px;}
.y82{bottom:185.410000px;}
.yc9{bottom:186.000000px;}
.yb8{bottom:195.780000px;}
.y64{bottom:196.000000px;}
.yf0{bottom:199.510000px;}
.y19{bottom:200.000000px;}
.yc8{bottom:202.000000px;}
.y94{bottom:203.050000px;}
.y81{bottom:203.410000px;}
.yb7{bottom:211.780000px;}
.y63{bottom:214.000000px;}
.y39{bottom:215.000000px;}
.yef{bottom:215.510000px;}
.y93{bottom:221.050000px;}
.y80{bottom:221.410000px;}
.yc7{bottom:226.000000px;}
.yb6{bottom:227.780000px;}
.y18{bottom:230.000000px;}
.yee{bottom:231.510000px;}
.y62{bottom:232.000000px;}
.y7f{bottom:239.410000px;}
.yc6{bottom:242.000000px;}
.yed{bottom:243.510000px;}
.yb5{bottom:243.780000px;}
.y61{bottom:244.000000px;}
.y38{bottom:245.000000px;}
.y10b{bottom:250.000000px;}
.yec{bottom:255.510000px;}
.yc5{bottom:258.000000px;}
.yb4{bottom:259.780000px;}
.y17{bottom:260.000000px;}
.y10a{bottom:268.000000px;}
.yc4{bottom:270.000000px;}
.yeb{bottom:271.510000px;}
.y37{bottom:275.000000px;}
.yb3{bottom:275.780000px;}
.y60{bottom:276.000000px;}
.yc3{bottom:282.000000px;}
.yea{bottom:283.510000px;}
.y109{bottom:286.000000px;}
.y16{bottom:290.000000px;}
.yb2{bottom:291.780000px;}
.y5f{bottom:292.000000px;}
.ye9{bottom:295.510000px;}
.yc2{bottom:298.000000px;}
.y108{bottom:304.000000px;}
.y36{bottom:305.000000px;}
.yb1{bottom:307.780000px;}
.y5e{bottom:308.000000px;}
.y7e{bottom:311.000000px;}
.ye8{bottom:311.510000px;}
.yb0{bottom:319.780000px;}
.y35{bottom:320.000000px;}
.y107{bottom:322.000000px;}
.y7d{bottom:329.000000px;}
.yd1{bottom:329.500000px;}
.yaf{bottom:331.780000px;}
.y5d{bottom:332.000000px;}
.y34{bottom:335.000000px;}
.y106{bottom:340.000000px;}
.yfa{bottom:343.010000px;}
.y7c{bottom:347.000000px;}
.yae{bottom:347.780000px;}
.y5c{bottom:348.000000px;}
.y15{bottom:350.000000px;}
.y105{bottom:352.000000px;}
.yad{bottom:359.780000px;}
.y5b{bottom:360.000000px;}
.yc1{bottom:363.000000px;}
.y14{bottom:365.000000px;}
.y104{bottom:368.000000px;}
.yac{bottom:371.780000px;}
.y5a{bottom:372.000000px;}
.ye7{bottom:376.510000px;}
.y13{bottom:380.000000px;}
.y7b{bottom:383.000000px;}
.y103{bottom:384.000000px;}
.yab{bottom:387.780000px;}
.yd{bottom:388.500000px;}
.y12{bottom:395.000000px;}
.ye6{bottom:396.510000px;}
.y102{bottom:400.000000px;}
.y7a{bottom:401.000000px;}
.y6c{bottom:403.500000px;}
.yc{bottom:406.500000px;}
.y33{bottom:410.000000px;}
.ye5{bottom:414.510000px;}
.y101{bottom:416.000000px;}
.y79{bottom:419.000000px;}
.yc0{bottom:419.280000px;}
.y32{bottom:425.000000px;}
.y100{bottom:428.000000px;}
.ye4{bottom:432.510000px;}
.yb{bottom:436.500000px;}
.y59{bottom:437.000000px;}
.yd3{bottom:437.900000px;}
.y31{bottom:440.000000px;}
.ye3{bottom:450.510000px;}
.ya{bottom:451.500000px;}
.y58{bottom:452.000000px;}
.yaa{bottom:452.780000px;}
.y30{bottom:455.000000px;}
.yd2{bottom:455.900000px;}
.yff{bottom:456.000000px;}
.y9{bottom:461.500000px;}
.y57{bottom:467.000000px;}
.yfe{bottom:468.000000px;}
.y2f{bottom:470.000000px;}
.ya9{bottom:472.780000px;}
.y78{bottom:473.000000px;}
.yfd{bottom:480.000000px;}
.y4a{bottom:482.000000px;}
.y8{bottom:484.000000px;}
.y2e{bottom:485.000000px;}
.ya8{bottom:490.780000px;}
.y77{bottom:491.000000px;}
.y7{bottom:494.000000px;}
.yfc{bottom:496.000000px;}
.y56{bottom:497.000000px;}
.y2d{bottom:500.000000px;}
.ya7{bottom:508.780000px;}
.y76{bottom:509.000000px;}
.y49{bottom:512.000000px;}
.y2c{bottom:515.000000px;}
.ya6{bottom:520.780000px;}
.y6{bottom:524.000000px;}
.y5{bottom:526.000000px;}
.y55{bottom:527.000000px;}
.y10c{bottom:527.500000px;}
.y2b{bottom:530.000000px;}
.ya5{bottom:536.780000px;}
.y48{bottom:542.000000px;}
.y2a{bottom:545.000000px;}
.ya4{bottom:552.780000px;}
.y54{bottom:557.000000px;}
.y29{bottom:560.000000px;}
.yfb{bottom:561.000000px;}
.y75{bottom:563.000000px;}
.ye2{bottom:568.000000px;}
.ya3{bottom:568.780000px;}
.y53{bottom:572.000000px;}
.y28{bottom:575.000000px;}
.y74{bottom:581.000000px;}
.ya2{bottom:584.780000px;}
.y4{bottom:586.000000px;}
.y52{bottom:587.000000px;}
.y27{bottom:590.000000px;}
.ya1{bottom:596.780000px;}
.y73{bottom:599.000000px;}
.y51{bottom:602.000000px;}
.ye1{bottom:604.000000px;}
.y11{bottom:605.000000px;}
.ya0{bottom:608.780000px;}
.ye0{bottom:616.000000px;}
.y47{bottom:617.000000px;}
.y10{bottom:620.000000px;}
.y92{bottom:623.000000px;}
.y9f{bottom:624.780000px;}
.y46{bottom:632.000000px;}
.y26{bottom:635.000000px;}
.y9e{bottom:636.780000px;}
.y91{bottom:641.000000px;}
.y50{bottom:647.000000px;}
.ydf{bottom:648.000000px;}
.y9d{bottom:648.780000px;}
.y25{bottom:651.000000px;}
.y72{bottom:653.000000px;}
.y45{bottom:662.000000px;}
.yde{bottom:664.000000px;}
.y9c{bottom:664.780000px;}
.y24{bottom:667.000000px;}
.y90{bottom:669.000000px;}
.y71{bottom:671.000000px;}
.y9b{bottom:676.780000px;}
.y4f{bottom:677.000000px;}
.ydd{bottom:680.000000px;}
.y23{bottom:683.000000px;}
.y8f{bottom:685.000000px;}
.y3{bottom:686.000000px;}
.y2{bottom:688.000000px;}
.y70{bottom:689.000000px;}
.y4e{bottom:692.000000px;}
.y22{bottom:699.000000px;}
.y8e{bottom:701.000000px;}
.y1{bottom:703.000000px;}
.ydc{bottom:704.000000px;}
.y4d{bottom:707.000000px;}
.y0{bottom:712.500000px;}
.y21{bottom:715.000000px;}
.y8d{bottom:717.000000px;}
.ydb{bottom:720.000000px;}
.y44{bottom:722.000000px;}
.y6f{bottom:725.000000px;}
.y8c{bottom:729.000000px;}
.y20{bottom:731.000000px;}
.yda{bottom:732.000000px;}
.y4c{bottom:737.000000px;}
.y8b{bottom:741.000000px;}
.y6e{bottom:743.000000px;}
.yd9{bottom:744.000000px;}
.y1f{bottom:747.000000px;}
.y43{bottom:752.000000px;}
.y8a{bottom:757.000000px;}
.y6d{bottom:761.000000px;}
.y1e{bottom:763.000000px;}
.y4b{bottom:767.000000px;}
.y89{bottom:769.000000px;}
.yf9{bottom:775.500000px;}
.y1d{bottom:779.000000px;}
.y88{bottom:781.000000px;}
.y42{bottom:782.000000px;}
.y40{bottom:799.000000px;}
.h2{height:46.973200px;}
.h6{height:56.367840px;}
.h9{height:59.156250px;}
.h7{height:69.015625px;}
.h5{height:70.459800px;}
.h1{height:84.500000px;}
.h4{height:93.946400px;}
.h3{height:187.892799px;}
.h8{height:752.500000px;}
.h0{height:842.000000px;}
.w1{width:277.500000px;}
.w2{width:485.500000px;}
.w0{width:595.000000px;}
.x0{left:55.000000px;}
.xe{left:57.000000px;}
.xa{left:85.000000px;}
.xb{left:100.000000px;}
.x6{left:124.560000px;}
.x3{left:207.500000px;}
.xc{left:212.800000px;}
.x8{left:227.820000px;}
.x5{left:236.910000px;}
.x9{left:245.000000px;}
.x7{left:269.150000px;}
.x1{left:276.080000px;}
.x4{left:291.940000px;}
.x2{left:296.110000px;}
.xf{left:524.660000px;}
.xd{left:531.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:106.666667pt;}
.fs1{font-size:213.333333pt;}
.ye{bottom:22.666667pt;}
.y41{bottom:41.333333pt;}
.yf{bottom:59.333333pt;}
.y86{bottom:85.880000pt;}
.y3f{bottom:86.666667pt;}
.yf8{bottom:87.346667pt;}
.yd0{bottom:88.000000pt;}
.y99{bottom:88.066667pt;}
.y6b{bottom:93.333333pt;}
.yd8{bottom:99.400000pt;}
.ybf{bottom:103.706667pt;}
.y1c{bottom:106.666667pt;}
.ycf{bottom:109.333333pt;}
.y98{bottom:109.400000pt;}
.yf7{bottom:111.346667pt;}
.y6a{bottom:117.333333pt;}
.yd7{bottom:126.066667pt;}
.y3e{bottom:126.666667pt;}
.ybe{bottom:127.706667pt;}
.y87{bottom:127.880000pt;}
.yce{bottom:130.666667pt;}
.yf6{bottom:135.346667pt;}
.y69{bottom:141.333333pt;}
.y3d{bottom:146.666667pt;}
.yd6{bottom:150.066667pt;}
.y9a{bottom:151.400000pt;}
.ybd{bottom:151.706667pt;}
.ycd{bottom:152.000000pt;}
.yf5{bottom:159.346667pt;}
.y68{bottom:165.333333pt;}
.y3c{bottom:166.666667pt;}
.y85{bottom:172.546667pt;}
.ycc{bottom:173.333333pt;}
.yd5{bottom:174.066667pt;}
.ybc{bottom:175.706667pt;}
.yf4{bottom:183.346667pt;}
.y1b{bottom:186.666667pt;}
.y67{bottom:189.333333pt;}
.ycb{bottom:194.666667pt;}
.y97{bottom:196.066667pt;}
.yd4{bottom:198.066667pt;}
.y84{bottom:199.213333pt;}
.ybb{bottom:199.706667pt;}
.y3b{bottom:206.666667pt;}
.yf3{bottom:207.346667pt;}
.yca{bottom:210.666667pt;}
.y66{bottom:213.333333pt;}
.y96{bottom:222.733333pt;}
.y83{bottom:223.213333pt;}
.yf2{bottom:223.346667pt;}
.yba{bottom:223.706667pt;}
.y1a{bottom:226.666667pt;}
.y65{bottom:237.333333pt;}
.yb9{bottom:239.706667pt;}
.yf1{bottom:244.680000pt;}
.y3a{bottom:246.666667pt;}
.y95{bottom:246.733333pt;}
.y82{bottom:247.213333pt;}
.yc9{bottom:248.000000pt;}
.yb8{bottom:261.040000pt;}
.y64{bottom:261.333333pt;}
.yf0{bottom:266.013333pt;}
.y19{bottom:266.666667pt;}
.yc8{bottom:269.333333pt;}
.y94{bottom:270.733333pt;}
.y81{bottom:271.213333pt;}
.yb7{bottom:282.373333pt;}
.y63{bottom:285.333333pt;}
.y39{bottom:286.666667pt;}
.yef{bottom:287.346667pt;}
.y93{bottom:294.733333pt;}
.y80{bottom:295.213333pt;}
.yc7{bottom:301.333333pt;}
.yb6{bottom:303.706667pt;}
.y18{bottom:306.666667pt;}
.yee{bottom:308.680000pt;}
.y62{bottom:309.333333pt;}
.y7f{bottom:319.213333pt;}
.yc6{bottom:322.666667pt;}
.yed{bottom:324.680000pt;}
.yb5{bottom:325.040000pt;}
.y61{bottom:325.333333pt;}
.y38{bottom:326.666667pt;}
.y10b{bottom:333.333333pt;}
.yec{bottom:340.680000pt;}
.yc5{bottom:344.000000pt;}
.yb4{bottom:346.373333pt;}
.y17{bottom:346.666667pt;}
.y10a{bottom:357.333333pt;}
.yc4{bottom:360.000000pt;}
.yeb{bottom:362.013333pt;}
.y37{bottom:366.666667pt;}
.yb3{bottom:367.706667pt;}
.y60{bottom:368.000000pt;}
.yc3{bottom:376.000000pt;}
.yea{bottom:378.013333pt;}
.y109{bottom:381.333333pt;}
.y16{bottom:386.666667pt;}
.yb2{bottom:389.040000pt;}
.y5f{bottom:389.333333pt;}
.ye9{bottom:394.013333pt;}
.yc2{bottom:397.333333pt;}
.y108{bottom:405.333333pt;}
.y36{bottom:406.666667pt;}
.yb1{bottom:410.373333pt;}
.y5e{bottom:410.666667pt;}
.y7e{bottom:414.666667pt;}
.ye8{bottom:415.346667pt;}
.yb0{bottom:426.373333pt;}
.y35{bottom:426.666667pt;}
.y107{bottom:429.333333pt;}
.y7d{bottom:438.666667pt;}
.yd1{bottom:439.333333pt;}
.yaf{bottom:442.373333pt;}
.y5d{bottom:442.666667pt;}
.y34{bottom:446.666667pt;}
.y106{bottom:453.333333pt;}
.yfa{bottom:457.346667pt;}
.y7c{bottom:462.666667pt;}
.yae{bottom:463.706667pt;}
.y5c{bottom:464.000000pt;}
.y15{bottom:466.666667pt;}
.y105{bottom:469.333333pt;}
.yad{bottom:479.706667pt;}
.y5b{bottom:480.000000pt;}
.yc1{bottom:484.000000pt;}
.y14{bottom:486.666667pt;}
.y104{bottom:490.666667pt;}
.yac{bottom:495.706667pt;}
.y5a{bottom:496.000000pt;}
.ye7{bottom:502.013333pt;}
.y13{bottom:506.666667pt;}
.y7b{bottom:510.666667pt;}
.y103{bottom:512.000000pt;}
.yab{bottom:517.040000pt;}
.yd{bottom:518.000000pt;}
.y12{bottom:526.666667pt;}
.ye6{bottom:528.680000pt;}
.y102{bottom:533.333333pt;}
.y7a{bottom:534.666667pt;}
.y6c{bottom:538.000000pt;}
.yc{bottom:542.000000pt;}
.y33{bottom:546.666667pt;}
.ye5{bottom:552.680000pt;}
.y101{bottom:554.666667pt;}
.y79{bottom:558.666667pt;}
.yc0{bottom:559.040000pt;}
.y32{bottom:566.666667pt;}
.y100{bottom:570.666667pt;}
.ye4{bottom:576.680000pt;}
.yb{bottom:582.000000pt;}
.y59{bottom:582.666667pt;}
.yd3{bottom:583.866667pt;}
.y31{bottom:586.666667pt;}
.ye3{bottom:600.680000pt;}
.ya{bottom:602.000000pt;}
.y58{bottom:602.666667pt;}
.yaa{bottom:603.706667pt;}
.y30{bottom:606.666667pt;}
.yd2{bottom:607.866667pt;}
.yff{bottom:608.000000pt;}
.y9{bottom:615.333333pt;}
.y57{bottom:622.666667pt;}
.yfe{bottom:624.000000pt;}
.y2f{bottom:626.666667pt;}
.ya9{bottom:630.373333pt;}
.y78{bottom:630.666667pt;}
.yfd{bottom:640.000000pt;}
.y4a{bottom:642.666667pt;}
.y8{bottom:645.333333pt;}
.y2e{bottom:646.666667pt;}
.ya8{bottom:654.373333pt;}
.y77{bottom:654.666667pt;}
.y7{bottom:658.666667pt;}
.yfc{bottom:661.333333pt;}
.y56{bottom:662.666667pt;}
.y2d{bottom:666.666667pt;}
.ya7{bottom:678.373333pt;}
.y76{bottom:678.666667pt;}
.y49{bottom:682.666667pt;}
.y2c{bottom:686.666667pt;}
.ya6{bottom:694.373333pt;}
.y6{bottom:698.666667pt;}
.y5{bottom:701.333333pt;}
.y55{bottom:702.666667pt;}
.y10c{bottom:703.333333pt;}
.y2b{bottom:706.666667pt;}
.ya5{bottom:715.706667pt;}
.y48{bottom:722.666667pt;}
.y2a{bottom:726.666667pt;}
.ya4{bottom:737.040000pt;}
.y54{bottom:742.666667pt;}
.y29{bottom:746.666667pt;}
.yfb{bottom:748.000000pt;}
.y75{bottom:750.666667pt;}
.ye2{bottom:757.333333pt;}
.ya3{bottom:758.373333pt;}
.y53{bottom:762.666667pt;}
.y28{bottom:766.666667pt;}
.y74{bottom:774.666667pt;}
.ya2{bottom:779.706667pt;}
.y4{bottom:781.333333pt;}
.y52{bottom:782.666667pt;}
.y27{bottom:786.666667pt;}
.ya1{bottom:795.706667pt;}
.y73{bottom:798.666667pt;}
.y51{bottom:802.666667pt;}
.ye1{bottom:805.333333pt;}
.y11{bottom:806.666667pt;}
.ya0{bottom:811.706667pt;}
.ye0{bottom:821.333333pt;}
.y47{bottom:822.666667pt;}
.y10{bottom:826.666667pt;}
.y92{bottom:830.666667pt;}
.y9f{bottom:833.040000pt;}
.y46{bottom:842.666667pt;}
.y26{bottom:846.666667pt;}
.y9e{bottom:849.040000pt;}
.y91{bottom:854.666667pt;}
.y50{bottom:862.666667pt;}
.ydf{bottom:864.000000pt;}
.y9d{bottom:865.040000pt;}
.y25{bottom:868.000000pt;}
.y72{bottom:870.666667pt;}
.y45{bottom:882.666667pt;}
.yde{bottom:885.333333pt;}
.y9c{bottom:886.373333pt;}
.y24{bottom:889.333333pt;}
.y90{bottom:892.000000pt;}
.y71{bottom:894.666667pt;}
.y9b{bottom:902.373333pt;}
.y4f{bottom:902.666667pt;}
.ydd{bottom:906.666667pt;}
.y23{bottom:910.666667pt;}
.y8f{bottom:913.333333pt;}
.y3{bottom:914.666667pt;}
.y2{bottom:917.333333pt;}
.y70{bottom:918.666667pt;}
.y4e{bottom:922.666667pt;}
.y22{bottom:932.000000pt;}
.y8e{bottom:934.666667pt;}
.y1{bottom:937.333333pt;}
.ydc{bottom:938.666667pt;}
.y4d{bottom:942.666667pt;}
.y0{bottom:950.000000pt;}
.y21{bottom:953.333333pt;}
.y8d{bottom:956.000000pt;}
.ydb{bottom:960.000000pt;}
.y44{bottom:962.666667pt;}
.y6f{bottom:966.666667pt;}
.y8c{bottom:972.000000pt;}
.y20{bottom:974.666667pt;}
.yda{bottom:976.000000pt;}
.y4c{bottom:982.666667pt;}
.y8b{bottom:988.000000pt;}
.y6e{bottom:990.666667pt;}
.yd9{bottom:992.000000pt;}
.y1f{bottom:996.000000pt;}
.y43{bottom:1002.666667pt;}
.y8a{bottom:1009.333333pt;}
.y6d{bottom:1014.666667pt;}
.y1e{bottom:1017.333333pt;}
.y4b{bottom:1022.666667pt;}
.y89{bottom:1025.333333pt;}
.yf9{bottom:1034.000000pt;}
.y1d{bottom:1038.666667pt;}
.y88{bottom:1041.333333pt;}
.y42{bottom:1042.666667pt;}
.y40{bottom:1065.333333pt;}
.h2{height:62.630933pt;}
.h6{height:75.157120pt;}
.h9{height:78.875000pt;}
.h7{height:92.020833pt;}
.h5{height:93.946400pt;}
.h1{height:112.666667pt;}
.h4{height:125.261866pt;}
.h3{height:250.523733pt;}
.h8{height:1003.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:370.000000pt;}
.w2{width:647.333333pt;}
.w0{width:793.333333pt;}
.x0{left:73.333333pt;}
.xe{left:76.000000pt;}
.xa{left:113.333333pt;}
.xb{left:133.333333pt;}
.x6{left:166.080000pt;}
.x3{left:276.666667pt;}
.xc{left:283.733333pt;}
.x8{left:303.760000pt;}
.x5{left:315.880000pt;}
.x9{left:326.666667pt;}
.x7{left:358.866667pt;}
.x1{left:368.106667pt;}
.x4{left:389.253333pt;}
.x2{left:394.813333pt;}
.xf{left:699.546667pt;}
.xd{left:708.440000pt;}
}
