.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc7{color:rgb(33,78,123);}
.fc4{color:rgb(102,0,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(255,0,0);}
.fc2{color:rgb(0,0,51);}
.fc6{color:rgb(66,184,55);}
.fc1{color:rgb(120,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:80.000000px;}
.fs1{font-size:160.000000px;}
.ye{bottom:17.000000px;}
.y39{bottom:31.000000px;}
.yf{bottom:44.500000px;}
.y3f{bottom:66.000000px;}
.y34{bottom:70.000000px;}
.yac{bottom:70.140000px;}
.y92{bottom:76.350000px;}
.y6b{bottom:77.690000px;}
.y3e{bottom:86.000000px;}
.y33{bottom:88.000000px;}
.yab{bottom:88.140000px;}
.y91{bottom:94.350000px;}
.y6a{bottom:95.690000px;}
.yaa{bottom:100.140000px;}
.y3d{bottom:104.000000px;}
.y32{bottom:106.000000px;}
.y90{bottom:112.350000px;}
.y69{bottom:113.690000px;}
.ya9{bottom:116.140000px;}
.y31{bottom:118.000000px;}
.y3c{bottom:122.000000px;}
.y8f{bottom:124.350000px;}
.y68{bottom:125.690000px;}
.ya8{bottom:132.140000px;}
.y30{bottom:134.000000px;}
.y8e{bottom:140.350000px;}
.y67{bottom:141.690000px;}
.ya7{bottom:148.140000px;}
.y2f{bottom:150.000000px;}
.y8d{bottom:156.350000px;}
.y66{bottom:157.690000px;}
.ya6{bottom:164.140000px;}
.y2e{bottom:166.000000px;}
.y8c{bottom:172.350000px;}
.y65{bottom:173.690000px;}
.ya5{bottom:176.140000px;}
.y2d{bottom:182.000000px;}
.ya4{bottom:188.140000px;}
.y8b{bottom:188.350000px;}
.y64{bottom:189.690000px;}
.y2c{bottom:198.000000px;}
.ya3{bottom:204.140000px;}
.y8a{bottom:204.350000px;}
.y63{bottom:205.690000px;}
.y2b{bottom:210.000000px;}
.y89{bottom:220.350000px;}
.y62{bottom:221.690000px;}
.y2a{bottom:222.000000px;}
.y88{bottom:232.350000px;}
.yad{bottom:235.640000px;}
.y61{bottom:237.690000px;}
.y76{bottom:238.000000px;}
.y87{bottom:244.350000px;}
.y37{bottom:253.500000px;}
.y60{bottom:253.690000px;}
.y86{bottom:260.350000px;}
.y5f{bottom:265.690000px;}
.ya2{bottom:269.140000px;}
.y78{bottom:269.500000px;}
.y5e{bottom:277.690000px;}
.y29{bottom:287.000000px;}
.ya1{bottom:289.140000px;}
.y93{bottom:291.850000px;}
.y5d{bottom:293.690000px;}
.y75{bottom:303.000000px;}
.y5c{bottom:305.690000px;}
.y28{bottom:307.000000px;}
.ya0{bottom:307.140000px;}
.y52{bottom:319.000000px;}
.y5b{bottom:321.690000px;}
.y74{bottom:323.000000px;}
.y27{bottom:325.000000px;}
.y9f{bottom:325.140000px;}
.y85{bottom:325.350000px;}
.y51{bottom:331.000000px;}
.y9e{bottom:337.140000px;}
.y5a{bottom:337.690000px;}
.y73{bottom:341.000000px;}
.y26{bottom:343.000000px;}
.y84{bottom:345.350000px;}
.y9d{bottom:353.140000px;}
.y25{bottom:355.000000px;}
.y50{bottom:359.000000px;}
.y83{bottom:363.350000px;}
.y9c{bottom:369.140000px;}
.y6c{bottom:369.190000px;}
.y24{bottom:371.000000px;}
.y82{bottom:381.350000px;}
.y4f{bottom:383.000000px;}
.y9b{bottom:385.140000px;}
.y23{bottom:387.000000px;}
.y57{bottom:387.690000px;}
.yd{bottom:388.500000px;}
.y81{bottom:393.350000px;}
.y4e{bottom:399.000000px;}
.y9a{bottom:401.140000px;}
.y59{bottom:402.690000px;}
.y22{bottom:403.000000px;}
.y56{bottom:405.690000px;}
.yc{bottom:406.500000px;}
.y80{bottom:409.350000px;}
.y99{bottom:413.140000px;}
.y4d{bottom:415.000000px;}
.y55{bottom:417.690000px;}
.y21{bottom:419.000000px;}
.y58{bottom:422.690000px;}
.y98{bottom:425.140000px;}
.y7f{bottom:425.350000px;}
.y4c{bottom:427.000000px;}
.y54{bottom:429.690000px;}
.y20{bottom:435.000000px;}
.yb{bottom:436.500000px;}
.y4b{bottom:439.000000px;}
.y97{bottom:441.140000px;}
.y7e{bottom:441.350000px;}
.y72{bottom:447.000000px;}
.y1f{bottom:451.000000px;}
.ya{bottom:451.500000px;}
.y4a{bottom:455.000000px;}
.y96{bottom:457.140000px;}
.y7d{bottom:457.350000px;}
.y71{bottom:459.000000px;}
.y9{bottom:461.500000px;}
.y3b{bottom:463.000000px;}
.y1e{bottom:467.000000px;}
.y7c{bottom:469.350000px;}
.y95{bottom:473.140000px;}
.y3a{bottom:475.000000px;}
.y1d{bottom:479.000000px;}
.y7b{bottom:481.350000px;}
.y49{bottom:483.000000px;}
.y8{bottom:484.000000px;}
.y94{bottom:485.140000px;}
.y1c{bottom:491.000000px;}
.y7{bottom:494.000000px;}
.y48{bottom:495.000000px;}
.y7a{bottom:497.350000px;}
.y77{bottom:506.500000px;}
.y79{bottom:509.350000px;}
.y47{bottom:511.000000px;}
.y36{bottom:522.500000px;}
.y46{bottom:523.000000px;}
.y6{bottom:524.000000px;}
.y5{bottom:526.000000px;}
.y70{bottom:540.000000px;}
.y53{bottom:554.500000px;}
.y1b{bottom:556.000000px;}
.y6f{bottom:560.000000px;}
.y1a{bottom:576.000000px;}
.y6e{bottom:578.000000px;}
.y4{bottom:586.000000px;}
.y45{bottom:588.000000px;}
.y19{bottom:594.000000px;}
.y6d{bottom:596.000000px;}
.y44{bottom:608.000000px;}
.y18{bottom:612.000000px;}
.y17{bottom:624.000000px;}
.y43{bottom:626.000000px;}
.y16{bottom:640.000000px;}
.y42{bottom:644.000000px;}
.y15{bottom:656.000000px;}
.y14{bottom:672.000000px;}
.y3{bottom:686.000000px;}
.y2{bottom:688.000000px;}
.y1{bottom:703.000000px;}
.y13{bottom:704.000000px;}
.y0{bottom:712.500000px;}
.y12{bottom:716.000000px;}
.y41{bottom:720.000000px;}
.y11{bottom:728.000000px;}
.y40{bottom:732.000000px;}
.y10{bottom:744.000000px;}
.y35{bottom:775.500000px;}
.y38{bottom:799.000000px;}
.h2{height:46.973200px;}
.h6{height:56.367840px;}
.h9{height:59.156250px;}
.h7{height:69.015625px;}
.h5{height:70.459800px;}
.h1{height:84.500000px;}
.h4{height:93.946400px;}
.h3{height:187.892799px;}
.h8{height:797.500000px;}
.h0{height:842.000000px;}
.w1{width:277.500000px;}
.w2{width:540.000000px;}
.w0{width:595.000000px;}
.x0{left:55.000000px;}
.x9{left:57.000000px;}
.x6{left:183.720000px;}
.xa{left:218.460000px;}
.x5{left:230.800000px;}
.x3{left:241.940000px;}
.x8{left:245.000000px;}
.x7{left:269.150000px;}
.x1{left:276.080000px;}
.x4{left:291.940000px;}
.x2{left:296.110000px;}
.xb{left:531.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:106.666667pt;}
.fs1{font-size:213.333333pt;}
.ye{bottom:22.666667pt;}
.y39{bottom:41.333333pt;}
.yf{bottom:59.333333pt;}
.y3f{bottom:88.000000pt;}
.y34{bottom:93.333333pt;}
.yac{bottom:93.520000pt;}
.y92{bottom:101.800000pt;}
.y6b{bottom:103.586667pt;}
.y3e{bottom:114.666667pt;}
.y33{bottom:117.333333pt;}
.yab{bottom:117.520000pt;}
.y91{bottom:125.800000pt;}
.y6a{bottom:127.586667pt;}
.yaa{bottom:133.520000pt;}
.y3d{bottom:138.666667pt;}
.y32{bottom:141.333333pt;}
.y90{bottom:149.800000pt;}
.y69{bottom:151.586667pt;}
.ya9{bottom:154.853333pt;}
.y31{bottom:157.333333pt;}
.y3c{bottom:162.666667pt;}
.y8f{bottom:165.800000pt;}
.y68{bottom:167.586667pt;}
.ya8{bottom:176.186667pt;}
.y30{bottom:178.666667pt;}
.y8e{bottom:187.133333pt;}
.y67{bottom:188.920000pt;}
.ya7{bottom:197.520000pt;}
.y2f{bottom:200.000000pt;}
.y8d{bottom:208.466667pt;}
.y66{bottom:210.253333pt;}
.ya6{bottom:218.853333pt;}
.y2e{bottom:221.333333pt;}
.y8c{bottom:229.800000pt;}
.y65{bottom:231.586667pt;}
.ya5{bottom:234.853333pt;}
.y2d{bottom:242.666667pt;}
.ya4{bottom:250.853333pt;}
.y8b{bottom:251.133333pt;}
.y64{bottom:252.920000pt;}
.y2c{bottom:264.000000pt;}
.ya3{bottom:272.186667pt;}
.y8a{bottom:272.466667pt;}
.y63{bottom:274.253333pt;}
.y2b{bottom:280.000000pt;}
.y89{bottom:293.800000pt;}
.y62{bottom:295.586667pt;}
.y2a{bottom:296.000000pt;}
.y88{bottom:309.800000pt;}
.yad{bottom:314.186667pt;}
.y61{bottom:316.920000pt;}
.y76{bottom:317.333333pt;}
.y87{bottom:325.800000pt;}
.y37{bottom:338.000000pt;}
.y60{bottom:338.253333pt;}
.y86{bottom:347.133333pt;}
.y5f{bottom:354.253333pt;}
.ya2{bottom:358.853333pt;}
.y78{bottom:359.333333pt;}
.y5e{bottom:370.253333pt;}
.y29{bottom:382.666667pt;}
.ya1{bottom:385.520000pt;}
.y93{bottom:389.133333pt;}
.y5d{bottom:391.586667pt;}
.y75{bottom:404.000000pt;}
.y5c{bottom:407.586667pt;}
.y28{bottom:409.333333pt;}
.ya0{bottom:409.520000pt;}
.y52{bottom:425.333333pt;}
.y5b{bottom:428.920000pt;}
.y74{bottom:430.666667pt;}
.y27{bottom:433.333333pt;}
.y9f{bottom:433.520000pt;}
.y85{bottom:433.800000pt;}
.y51{bottom:441.333333pt;}
.y9e{bottom:449.520000pt;}
.y5a{bottom:450.253333pt;}
.y73{bottom:454.666667pt;}
.y26{bottom:457.333333pt;}
.y84{bottom:460.466667pt;}
.y9d{bottom:470.853333pt;}
.y25{bottom:473.333333pt;}
.y50{bottom:478.666667pt;}
.y83{bottom:484.466667pt;}
.y9c{bottom:492.186667pt;}
.y6c{bottom:492.253333pt;}
.y24{bottom:494.666667pt;}
.y82{bottom:508.466667pt;}
.y4f{bottom:510.666667pt;}
.y9b{bottom:513.520000pt;}
.y23{bottom:516.000000pt;}
.y57{bottom:516.920000pt;}
.yd{bottom:518.000000pt;}
.y81{bottom:524.466667pt;}
.y4e{bottom:532.000000pt;}
.y9a{bottom:534.853333pt;}
.y59{bottom:536.920000pt;}
.y22{bottom:537.333333pt;}
.y56{bottom:540.920000pt;}
.yc{bottom:542.000000pt;}
.y80{bottom:545.800000pt;}
.y99{bottom:550.853333pt;}
.y4d{bottom:553.333333pt;}
.y55{bottom:556.920000pt;}
.y21{bottom:558.666667pt;}
.y58{bottom:563.586667pt;}
.y98{bottom:566.853333pt;}
.y7f{bottom:567.133333pt;}
.y4c{bottom:569.333333pt;}
.y54{bottom:572.920000pt;}
.y20{bottom:580.000000pt;}
.yb{bottom:582.000000pt;}
.y4b{bottom:585.333333pt;}
.y97{bottom:588.186667pt;}
.y7e{bottom:588.466667pt;}
.y72{bottom:596.000000pt;}
.y1f{bottom:601.333333pt;}
.ya{bottom:602.000000pt;}
.y4a{bottom:606.666667pt;}
.y96{bottom:609.520000pt;}
.y7d{bottom:609.800000pt;}
.y71{bottom:612.000000pt;}
.y9{bottom:615.333333pt;}
.y3b{bottom:617.333333pt;}
.y1e{bottom:622.666667pt;}
.y7c{bottom:625.800000pt;}
.y95{bottom:630.853333pt;}
.y3a{bottom:633.333333pt;}
.y1d{bottom:638.666667pt;}
.y7b{bottom:641.800000pt;}
.y49{bottom:644.000000pt;}
.y8{bottom:645.333333pt;}
.y94{bottom:646.853333pt;}
.y1c{bottom:654.666667pt;}
.y7{bottom:658.666667pt;}
.y48{bottom:660.000000pt;}
.y7a{bottom:663.133333pt;}
.y77{bottom:675.333333pt;}
.y79{bottom:679.133333pt;}
.y47{bottom:681.333333pt;}
.y36{bottom:696.666667pt;}
.y46{bottom:697.333333pt;}
.y6{bottom:698.666667pt;}
.y5{bottom:701.333333pt;}
.y70{bottom:720.000000pt;}
.y53{bottom:739.333333pt;}
.y1b{bottom:741.333333pt;}
.y6f{bottom:746.666667pt;}
.y1a{bottom:768.000000pt;}
.y6e{bottom:770.666667pt;}
.y4{bottom:781.333333pt;}
.y45{bottom:784.000000pt;}
.y19{bottom:792.000000pt;}
.y6d{bottom:794.666667pt;}
.y44{bottom:810.666667pt;}
.y18{bottom:816.000000pt;}
.y17{bottom:832.000000pt;}
.y43{bottom:834.666667pt;}
.y16{bottom:853.333333pt;}
.y42{bottom:858.666667pt;}
.y15{bottom:874.666667pt;}
.y14{bottom:896.000000pt;}
.y3{bottom:914.666667pt;}
.y2{bottom:917.333333pt;}
.y1{bottom:937.333333pt;}
.y13{bottom:938.666667pt;}
.y0{bottom:950.000000pt;}
.y12{bottom:954.666667pt;}
.y41{bottom:960.000000pt;}
.y11{bottom:970.666667pt;}
.y40{bottom:976.000000pt;}
.y10{bottom:992.000000pt;}
.y35{bottom:1034.000000pt;}
.y38{bottom:1065.333333pt;}
.h2{height:62.630933pt;}
.h6{height:75.157120pt;}
.h9{height:78.875000pt;}
.h7{height:92.020833pt;}
.h5{height:93.946400pt;}
.h1{height:112.666667pt;}
.h4{height:125.261866pt;}
.h3{height:250.523733pt;}
.h8{height:1063.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:370.000000pt;}
.w2{width:720.000000pt;}
.w0{width:793.333333pt;}
.x0{left:73.333333pt;}
.x9{left:76.000000pt;}
.x6{left:244.960000pt;}
.xa{left:291.280000pt;}
.x5{left:307.733333pt;}
.x3{left:322.586667pt;}
.x8{left:326.666667pt;}
.x7{left:358.866667pt;}
.x1{left:368.106667pt;}
.x4{left:389.253333pt;}
.x2{left:394.813333pt;}
.xb{left:708.440000pt;}
}
