.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(33,78,123);}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:48.000000px;}
.fs2{font-size:56.000000px;}
.fs1{font-size:60.000000px;}
.fs0{font-size:80.000000px;}
.y7{bottom:17.000000px;}
.y20{bottom:22.000000px;}
.y8{bottom:35.500000px;}
.y1e{bottom:53.290000px;}
.yd5{bottom:57.970000px;}
.yb7{bottom:60.320000px;}
.y4e{bottom:62.000000px;}
.y1d{bottom:69.290000px;}
.yb6{bottom:72.320000px;}
.yd4{bottom:75.970000px;}
.y1c{bottom:81.290000px;}
.y4d{bottom:82.000000px;}
.yb5{bottom:84.320000px;}
.y95{bottom:85.960000px;}
.yd3{bottom:93.970000px;}
.y94{bottom:97.960000px;}
.y1b{bottom:99.290000px;}
.y4c{bottom:100.000000px;}
.yb4{bottom:100.320000px;}
.y93{bottom:109.960000px;}
.yd2{bottom:111.970000px;}
.yb3{bottom:112.320000px;}
.y4b{bottom:118.000000px;}
.y1a{bottom:119.290000px;}
.yd1{bottom:123.970000px;}
.yb2{bottom:124.320000px;}
.y92{bottom:125.960000px;}
.y4a{bottom:136.000000px;}
.y19{bottom:137.290000px;}
.y91{bottom:137.960000px;}
.yd0{bottom:139.970000px;}
.yb1{bottom:140.320000px;}
.y90{bottom:149.960000px;}
.y7a{bottom:150.050000px;}
.y49{bottom:154.000000px;}
.y18{bottom:155.290000px;}
.ycf{bottom:155.970000px;}
.yb0{bottom:156.320000px;}
.y79{bottom:162.050000px;}
.y8f{bottom:165.960000px;}
.y48{bottom:166.000000px;}
.yce{bottom:171.970000px;}
.yaf{bottom:172.320000px;}
.y17{bottom:173.290000px;}
.y78{bottom:174.050000px;}
.y8e{bottom:181.960000px;}
.y47{bottom:182.000000px;}
.yae{bottom:184.320000px;}
.ycd{bottom:187.970000px;}
.y77{bottom:190.050000px;}
.y16{bottom:191.290000px;}
.yad{bottom:196.320000px;}
.y62{bottom:197.210000px;}
.y8d{bottom:197.960000px;}
.y46{bottom:198.000000px;}
.ycc{bottom:199.970000px;}
.y76{bottom:202.050000px;}
.y15{bottom:203.290000px;}
.y61{bottom:209.210000px;}
.yac{bottom:212.320000px;}
.y8c{bottom:213.960000px;}
.y45{bottom:214.000000px;}
.y14{bottom:219.290000px;}
.y75{bottom:220.050000px;}
.y60{bottom:221.210000px;}
.yab{bottom:228.320000px;}
.y8b{bottom:229.960000px;}
.y44{bottom:230.000000px;}
.y13{bottom:235.290000px;}
.y5f{bottom:237.210000px;}
.y74{bottom:240.050000px;}
.yaa{bottom:240.320000px;}
.y8a{bottom:241.960000px;}
.y43{bottom:242.000000px;}
.y5e{bottom:249.210000px;}
.y12{bottom:251.290000px;}
.y42{bottom:254.000000px;}
.y73{bottom:258.050000px;}
.y89{bottom:259.960000px;}
.y5d{bottom:267.210000px;}
.y11{bottom:267.290000px;}
.y41{bottom:270.000000px;}
.y72{bottom:276.050000px;}
.y10{bottom:279.290000px;}
.y88{bottom:279.960000px;}
.y40{bottom:286.000000px;}
.y5c{bottom:287.210000px;}
.yf{bottom:291.290000px;}
.y71{bottom:294.050000px;}
.y87{bottom:297.960000px;}
.y3f{bottom:298.000000px;}
.y5b{bottom:305.210000px;}
.ye{bottom:307.290000px;}
.y6{bottom:308.500000px;}
.y70{bottom:312.050000px;}
.y86{bottom:315.960000px;}
.y3e{bottom:316.000000px;}
.yd{bottom:319.290000px;}
.y5a{bottom:323.210000px;}
.y6f{bottom:324.050000px;}
.y5{bottom:331.000000px;}
.y85{bottom:333.960000px;}
.y3d{bottom:336.000000px;}
.y6e{bottom:340.050000px;}
.y59{bottom:341.210000px;}
.y84{bottom:351.960000px;}
.y3c{bottom:354.000000px;}
.y6d{bottom:356.050000px;}
.y58{bottom:359.210000px;}
.y4{bottom:361.000000px;}
.y83{bottom:363.960000px;}
.ya9{bottom:369.000000px;}
.y57{bottom:371.210000px;}
.y3b{bottom:372.000000px;}
.y6c{bottom:372.050000px;}
.y82{bottom:379.960000px;}
.ya8{bottom:381.000000px;}
.y56{bottom:387.210000px;}
.y6b{bottom:388.050000px;}
.y3a{bottom:390.000000px;}
.y3{bottom:391.000000px;}
.ya7{bottom:393.000000px;}
.y81{bottom:395.960000px;}
.y55{bottom:403.210000px;}
.y6a{bottom:404.050000px;}
.y39{bottom:408.000000px;}
.ya6{bottom:409.000000px;}
.y80{bottom:411.960000px;}
.y54{bottom:419.210000px;}
.y38{bottom:420.000000px;}
.y69{bottom:420.050000px;}
.ya5{bottom:421.000000px;}
.y7f{bottom:427.960000px;}
.y53{bottom:435.210000px;}
.y37{bottom:436.000000px;}
.y68{bottom:436.050000px;}
.ya4{bottom:439.000000px;}
.y7e{bottom:439.960000px;}
.y52{bottom:447.210000px;}
.y7d{bottom:451.960000px;}
.y36{bottom:452.000000px;}
.y67{bottom:452.050000px;}
.ya3{bottom:459.000000px;}
.y66{bottom:464.050000px;}
.y7c{bottom:467.960000px;}
.y35{bottom:468.000000px;}
.y0{bottom:470.500000px;}
.y65{bottom:476.050000px;}
.ya2{bottom:477.000000px;}
.y7b{bottom:479.960000px;}
.ycb{bottom:480.000000px;}
.y34{bottom:484.000000px;}
.yca{bottom:492.000000px;}
.y64{bottom:492.050000px;}
.ya1{bottom:495.000000px;}
.y33{bottom:496.000000px;}
.yc9{bottom:504.000000px;}
.y63{bottom:504.050000px;}
.y32{bottom:508.000000px;}
.ya0{bottom:513.000000px;}
.yc8{bottom:520.000000px;}
.y31{bottom:524.000000px;}
.y9f{bottom:531.000000px;}
.yc7{bottom:532.000000px;}
.y30{bottom:536.000000px;}
.y9e{bottom:543.000000px;}
.yc6{bottom:544.000000px;}
.y2f{bottom:552.000000px;}
.y9d{bottom:559.000000px;}
.yc5{bottom:560.000000px;}
.y2e{bottom:568.000000px;}
.y9c{bottom:575.000000px;}
.yc4{bottom:576.000000px;}
.y2d{bottom:580.000000px;}
.y9b{bottom:591.000000px;}
.yc3{bottom:592.000000px;}
.y2c{bottom:598.000000px;}
.y9a{bottom:607.000000px;}
.yc2{bottom:608.000000px;}
.y2b{bottom:618.000000px;}
.y99{bottom:619.000000px;}
.yc1{bottom:620.000000px;}
.y98{bottom:631.000000px;}
.y2{bottom:636.000000px;}
.yc0{bottom:638.000000px;}
.y97{bottom:647.000000px;}
.y2a{bottom:654.000000px;}
.ybf{bottom:658.000000px;}
.y96{bottom:659.000000px;}
.y29{bottom:672.000000px;}
.ybe{bottom:676.000000px;}
.y28{bottom:690.000000px;}
.ybd{bottom:694.000000px;}
.y27{bottom:702.000000px;}
.ybc{bottom:712.000000px;}
.y26{bottom:718.000000px;}
.y51{bottom:720.000000px;}
.ybb{bottom:730.000000px;}
.y50{bottom:732.000000px;}
.y25{bottom:734.000000px;}
.yc{bottom:736.000000px;}
.yba{bottom:742.000000px;}
.y4f{bottom:744.000000px;}
.yb{bottom:748.000000px;}
.y24{bottom:750.000000px;}
.yb9{bottom:758.000000px;}
.ya{bottom:760.000000px;}
.y23{bottom:766.000000px;}
.yb8{bottom:774.000000px;}
.y1{bottom:776.000000px;}
.y22{bottom:778.000000px;}
.y9{bottom:788.000000px;}
.y21{bottom:790.000000px;}
.y1f{bottom:808.000000px;}
.h6{height:56.367840px;}
.h7{height:59.156250px;}
.h4{height:69.015625px;}
.h3{height:70.459800px;}
.h2{height:93.946400px;}
.h1{height:150.500000px;}
.h5{height:770.500000px;}
.h0{height:842.000000px;}
.w1{width:450.500000px;}
.w2{width:523.500000px;}
.w0{width:595.000000px;}
.x1{left:36.000000px;}
.x2{left:46.300000px;}
.x0{left:72.500000px;}
.x6{left:221.460000px;}
.x5{left:245.000000px;}
.x3{left:248.050000px;}
.x4{left:254.980000px;}
.x7{left:550.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs3{font-size:64.000000pt;}
.fs2{font-size:74.666667pt;}
.fs1{font-size:80.000000pt;}
.fs0{font-size:106.666667pt;}
.y7{bottom:22.666667pt;}
.y20{bottom:29.333333pt;}
.y8{bottom:47.333333pt;}
.y1e{bottom:71.053333pt;}
.yd5{bottom:77.293333pt;}
.yb7{bottom:80.426667pt;}
.y4e{bottom:82.666667pt;}
.y1d{bottom:92.386667pt;}
.yb6{bottom:96.426667pt;}
.yd4{bottom:101.293333pt;}
.y1c{bottom:108.386667pt;}
.y4d{bottom:109.333333pt;}
.yb5{bottom:112.426667pt;}
.y95{bottom:114.613333pt;}
.yd3{bottom:125.293333pt;}
.y94{bottom:130.613333pt;}
.y1b{bottom:132.386667pt;}
.y4c{bottom:133.333333pt;}
.yb4{bottom:133.760000pt;}
.y93{bottom:146.613333pt;}
.yd2{bottom:149.293333pt;}
.yb3{bottom:149.760000pt;}
.y4b{bottom:157.333333pt;}
.y1a{bottom:159.053333pt;}
.yd1{bottom:165.293333pt;}
.yb2{bottom:165.760000pt;}
.y92{bottom:167.946667pt;}
.y4a{bottom:181.333333pt;}
.y19{bottom:183.053333pt;}
.y91{bottom:183.946667pt;}
.yd0{bottom:186.626667pt;}
.yb1{bottom:187.093333pt;}
.y90{bottom:199.946667pt;}
.y7a{bottom:200.066667pt;}
.y49{bottom:205.333333pt;}
.y18{bottom:207.053333pt;}
.ycf{bottom:207.960000pt;}
.yb0{bottom:208.426667pt;}
.y79{bottom:216.066667pt;}
.y8f{bottom:221.280000pt;}
.y48{bottom:221.333333pt;}
.yce{bottom:229.293333pt;}
.yaf{bottom:229.760000pt;}
.y17{bottom:231.053333pt;}
.y78{bottom:232.066667pt;}
.y8e{bottom:242.613333pt;}
.y47{bottom:242.666667pt;}
.yae{bottom:245.760000pt;}
.ycd{bottom:250.626667pt;}
.y77{bottom:253.400000pt;}
.y16{bottom:255.053333pt;}
.yad{bottom:261.760000pt;}
.y62{bottom:262.946667pt;}
.y8d{bottom:263.946667pt;}
.y46{bottom:264.000000pt;}
.ycc{bottom:266.626667pt;}
.y76{bottom:269.400000pt;}
.y15{bottom:271.053333pt;}
.y61{bottom:278.946667pt;}
.yac{bottom:283.093333pt;}
.y8c{bottom:285.280000pt;}
.y45{bottom:285.333333pt;}
.y14{bottom:292.386667pt;}
.y75{bottom:293.400000pt;}
.y60{bottom:294.946667pt;}
.yab{bottom:304.426667pt;}
.y8b{bottom:306.613333pt;}
.y44{bottom:306.666667pt;}
.y13{bottom:313.720000pt;}
.y5f{bottom:316.280000pt;}
.y74{bottom:320.066667pt;}
.yaa{bottom:320.426667pt;}
.y8a{bottom:322.613333pt;}
.y43{bottom:322.666667pt;}
.y5e{bottom:332.280000pt;}
.y12{bottom:335.053333pt;}
.y42{bottom:338.666667pt;}
.y73{bottom:344.066667pt;}
.y89{bottom:346.613333pt;}
.y5d{bottom:356.280000pt;}
.y11{bottom:356.386667pt;}
.y41{bottom:360.000000pt;}
.y72{bottom:368.066667pt;}
.y10{bottom:372.386667pt;}
.y88{bottom:373.280000pt;}
.y40{bottom:381.333333pt;}
.y5c{bottom:382.946667pt;}
.yf{bottom:388.386667pt;}
.y71{bottom:392.066667pt;}
.y87{bottom:397.280000pt;}
.y3f{bottom:397.333333pt;}
.y5b{bottom:406.946667pt;}
.ye{bottom:409.720000pt;}
.y6{bottom:411.333333pt;}
.y70{bottom:416.066667pt;}
.y86{bottom:421.280000pt;}
.y3e{bottom:421.333333pt;}
.yd{bottom:425.720000pt;}
.y5a{bottom:430.946667pt;}
.y6f{bottom:432.066667pt;}
.y5{bottom:441.333333pt;}
.y85{bottom:445.280000pt;}
.y3d{bottom:448.000000pt;}
.y6e{bottom:453.400000pt;}
.y59{bottom:454.946667pt;}
.y84{bottom:469.280000pt;}
.y3c{bottom:472.000000pt;}
.y6d{bottom:474.733333pt;}
.y58{bottom:478.946667pt;}
.y4{bottom:481.333333pt;}
.y83{bottom:485.280000pt;}
.ya9{bottom:492.000000pt;}
.y57{bottom:494.946667pt;}
.y3b{bottom:496.000000pt;}
.y6c{bottom:496.066667pt;}
.y82{bottom:506.613333pt;}
.ya8{bottom:508.000000pt;}
.y56{bottom:516.280000pt;}
.y6b{bottom:517.400000pt;}
.y3a{bottom:520.000000pt;}
.y3{bottom:521.333333pt;}
.ya7{bottom:524.000000pt;}
.y81{bottom:527.946667pt;}
.y55{bottom:537.613333pt;}
.y6a{bottom:538.733333pt;}
.y39{bottom:544.000000pt;}
.ya6{bottom:545.333333pt;}
.y80{bottom:549.280000pt;}
.y54{bottom:558.946667pt;}
.y38{bottom:560.000000pt;}
.y69{bottom:560.066667pt;}
.ya5{bottom:561.333333pt;}
.y7f{bottom:570.613333pt;}
.y53{bottom:580.280000pt;}
.y37{bottom:581.333333pt;}
.y68{bottom:581.400000pt;}
.ya4{bottom:585.333333pt;}
.y7e{bottom:586.613333pt;}
.y52{bottom:596.280000pt;}
.y7d{bottom:602.613333pt;}
.y36{bottom:602.666667pt;}
.y67{bottom:602.733333pt;}
.ya3{bottom:612.000000pt;}
.y66{bottom:618.733333pt;}
.y7c{bottom:623.946667pt;}
.y35{bottom:624.000000pt;}
.y0{bottom:627.333333pt;}
.y65{bottom:634.733333pt;}
.ya2{bottom:636.000000pt;}
.y7b{bottom:639.946667pt;}
.ycb{bottom:640.000000pt;}
.y34{bottom:645.333333pt;}
.yca{bottom:656.000000pt;}
.y64{bottom:656.066667pt;}
.ya1{bottom:660.000000pt;}
.y33{bottom:661.333333pt;}
.yc9{bottom:672.000000pt;}
.y63{bottom:672.066667pt;}
.y32{bottom:677.333333pt;}
.ya0{bottom:684.000000pt;}
.yc8{bottom:693.333333pt;}
.y31{bottom:698.666667pt;}
.y9f{bottom:708.000000pt;}
.yc7{bottom:709.333333pt;}
.y30{bottom:714.666667pt;}
.y9e{bottom:724.000000pt;}
.yc6{bottom:725.333333pt;}
.y2f{bottom:736.000000pt;}
.y9d{bottom:745.333333pt;}
.yc5{bottom:746.666667pt;}
.y2e{bottom:757.333333pt;}
.y9c{bottom:766.666667pt;}
.yc4{bottom:768.000000pt;}
.y2d{bottom:773.333333pt;}
.y9b{bottom:788.000000pt;}
.yc3{bottom:789.333333pt;}
.y2c{bottom:797.333333pt;}
.y9a{bottom:809.333333pt;}
.yc2{bottom:810.666667pt;}
.y2b{bottom:824.000000pt;}
.y99{bottom:825.333333pt;}
.yc1{bottom:826.666667pt;}
.y98{bottom:841.333333pt;}
.y2{bottom:848.000000pt;}
.yc0{bottom:850.666667pt;}
.y97{bottom:862.666667pt;}
.y2a{bottom:872.000000pt;}
.ybf{bottom:877.333333pt;}
.y96{bottom:878.666667pt;}
.y29{bottom:896.000000pt;}
.ybe{bottom:901.333333pt;}
.y28{bottom:920.000000pt;}
.ybd{bottom:925.333333pt;}
.y27{bottom:936.000000pt;}
.ybc{bottom:949.333333pt;}
.y26{bottom:957.333333pt;}
.y51{bottom:960.000000pt;}
.ybb{bottom:973.333333pt;}
.y50{bottom:976.000000pt;}
.y25{bottom:978.666667pt;}
.yc{bottom:981.333333pt;}
.yba{bottom:989.333333pt;}
.y4f{bottom:992.000000pt;}
.yb{bottom:997.333333pt;}
.y24{bottom:1000.000000pt;}
.yb9{bottom:1010.666667pt;}
.ya{bottom:1013.333333pt;}
.y23{bottom:1021.333333pt;}
.yb8{bottom:1032.000000pt;}
.y1{bottom:1034.666667pt;}
.y22{bottom:1037.333333pt;}
.y9{bottom:1050.666667pt;}
.y21{bottom:1053.333333pt;}
.y1f{bottom:1077.333333pt;}
.h6{height:75.157120pt;}
.h7{height:78.875000pt;}
.h4{height:92.020833pt;}
.h3{height:93.946400pt;}
.h2{height:125.261866pt;}
.h1{height:200.666667pt;}
.h5{height:1027.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:600.666667pt;}
.w2{width:698.000000pt;}
.w0{width:793.333333pt;}
.x1{left:48.000000pt;}
.x2{left:61.733333pt;}
.x0{left:96.666667pt;}
.x6{left:295.280000pt;}
.x5{left:326.666667pt;}
.x3{left:330.733333pt;}
.x4{left:339.973333pt;}
.x7{left:733.773333pt;}
}
