.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-0.076896px;}
.ls3{letter-spacing:-0.056040px;}
.ls1e{letter-spacing:-0.039528px;}
.ls4{letter-spacing:-0.033624px;}
.ls7{letter-spacing:-0.021960px;}
.ls1d{letter-spacing:-0.017568px;}
.lse{letter-spacing:-0.013176px;}
.ls0{letter-spacing:-0.012816px;}
.ls1a{letter-spacing:-0.008784px;}
.ls1{letter-spacing:0.000000px;}
.ls1b{letter-spacing:0.004392px;}
.lsc{letter-spacing:0.008784px;}
.lsd{letter-spacing:0.013176px;}
.lsb{letter-spacing:0.017568px;}
.lsf{letter-spacing:0.021960px;}
.ls12{letter-spacing:0.026352px;}
.ls9{letter-spacing:0.030744px;}
.ls10{letter-spacing:0.035136px;}
.ls13{letter-spacing:0.039528px;}
.ls14{letter-spacing:0.043920px;}
.lsa{letter-spacing:0.048312px;}
.ls15{letter-spacing:0.052704px;}
.ls18{letter-spacing:0.057096px;}
.ls17{letter-spacing:0.061488px;}
.ls5{letter-spacing:0.061512px;}
.ls19{letter-spacing:0.065880px;}
.ls8{letter-spacing:0.101016px;}
.ls1c{letter-spacing:0.105408px;}
.ls11{letter-spacing:0.153720px;}
.ls16{letter-spacing:0.171288px;}
.ls6{letter-spacing:565.022016px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws2{word-spacing:-0.123024px;}
.ws13{word-spacing:-0.109800px;}
.wsd{word-spacing:-0.092232px;}
.ws18{word-spacing:-0.043920px;}
.ws4{word-spacing:-0.039528px;}
.ws15{word-spacing:-0.004392px;}
.ws0{word-spacing:0.000000px;}
.ws14{word-spacing:0.004392px;}
.ws11{word-spacing:0.008784px;}
.ws1{word-spacing:0.011208px;}
.ws6{word-spacing:0.013176px;}
.ws10{word-spacing:0.017568px;}
.wsf{word-spacing:0.021960px;}
.wsc{word-spacing:0.026352px;}
.ws5{word-spacing:0.030744px;}
.wse{word-spacing:0.035136px;}
.wsb{word-spacing:0.039528px;}
.ws7{word-spacing:0.043920px;}
.ws9{word-spacing:0.048312px;}
.ws8{word-spacing:0.052704px;}
.ws17{word-spacing:0.057096px;}
.ws12{word-spacing:0.061488px;}
.ws16{word-spacing:0.070272px;}
.wsa{word-spacing:0.074664px;}
.ws19{word-spacing:0.079056px;}
.ws3{word-spacing:0.320616px;}
._1{margin-left:-1.080432px;}
._0{width:1.010160px;}
._2{width:17.207856px;}
._3{width:19.526832px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs2{font-size:55.920000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:112.080000px;}
.y10{bottom:16.000000px;}
.yf{bottom:39.840100px;}
.y5c{bottom:77.116140px;}
.y48{bottom:81.134820px;}
.y2d{bottom:82.562220px;}
.y8a{bottom:90.498520px;}
.y71{bottom:93.308260px;}
.y5b{bottom:97.692660px;}
.y47{bottom:101.656440px;}
.y89{bottom:105.079960px;}
.y2c{bottom:107.102520px;}
.y70{bottom:113.829880px;}
.y88{bottom:119.595520px;}
.y5a{bottom:122.232960px;}
.y46{bottom:126.196740px;}
.y2b{bottom:131.642820px;}
.y6f{bottom:138.370180px;}
.y87{bottom:140.172040px;}
.y59{bottom:146.773260px;}
.y45{bottom:150.737040px;}
.y6e{bottom:152.951620px;}
.y2a{bottom:156.183120px;}
.y86{bottom:164.712340px;}
.y44{bottom:171.313560px;}
.y29{bottom:176.759640px;}
.y6d{bottom:177.491920px;}
.y85{bottom:189.252640px;}
.y43{bottom:195.853860px;}
.y28{bottom:201.299940px;}
.y6c{bottom:202.032220px;}
.y84{bottom:209.774260px;}
.y6b{bottom:216.547780px;}
.y42{bottom:220.394160px;}
.y27{bottom:225.840240px;}
.y6a{bottom:231.129220px;}
.y83{bottom:234.369460px;}
.y41{bottom:244.934460px;}
.y26{bottom:246.361860px;}
.y69{bottom:255.669520px;}
.y82{bottom:258.909760px;}
.y58{bottom:265.510980px;}
.y40{bottom:269.474760px;}
.y25{bottom:270.957060px;}
.y81{bottom:273.425320px;}
.ye{bottom:277.800000px;}
.y68{bottom:280.209820px;}
.y80{bottom:288.006760px;}
.y57{bottom:290.051280px;}
.y3f{bottom:294.015060px;}
.y67{bottom:294.725380px;}
.y24{bottom:295.497360px;}
.y7f{bottom:302.522320px;}
.yd{bottom:303.366660px;}
.y66{bottom:309.306820px;}
.y56{bottom:314.591580px;}
.y3e{bottom:318.610260px;}
.y23{bottom:320.037660px;}
.y72{bottom:324.500000px;}
.y7e{bottom:324.658000px;}
.y3d{bottom:333.125820px;}
.y65{bottom:333.847120px;}
.y55{bottom:335.113200px;}
.yb{bottom:337.374420px;}
.yc{bottom:337.380000px;}
.y22{bottom:344.577960px;}
.y3c{bottom:353.647440px;}
.y64{bottom:358.387420px;}
.y54{bottom:359.653500px;}
.y21{bottom:369.118260px;}
.y63{bottom:372.968860px;}
.y3b{bottom:378.242640px;}
.y53{bottom:384.248700px;}
.ya{bottom:384.420000px;}
.y62{bottom:387.484420px;}
.y20{bottom:393.658560px;}
.y7d{bottom:398.237220px;}
.y3a{bottom:402.782940px;}
.y1f{bottom:408.240000px;}
.y52{bottom:408.789000px;}
.y5d{bottom:409.000000px;}
.y61{bottom:409.620100px;}
.y7c{bottom:418.758840px;}
.y0{bottom:422.500000px;}
.y1e{bottom:422.755560px;}
.y9{bottom:422.916300px;}
.y39{bottom:423.304560px;}
.y51{bottom:433.329300px;}
.y1d{bottom:443.277180px;}
.y7b{bottom:443.299140px;}
.y38{bottom:447.844860px;}
.y50{bottom:457.869600px;}
.y1c{bottom:467.817480px;}
.y7a{bottom:467.839440px;}
.y37{bottom:472.385160px;}
.y4f{bottom:482.409900px;}
.y79{bottom:488.415960px;}
.y1b{bottom:492.412680px;}
.y36{bottom:496.925460px;}
.y1a{bottom:512.934300px;}
.y78{bottom:512.956260px;}
.y4e{bottom:517.501980px;}
.y35{bottom:521.465760px;}
.y8{bottom:535.832760px;}
.y19{bottom:537.474600px;}
.y77{bottom:537.496560px;}
.y4d{bottom:542.042280px;}
.y34{bottom:546.060960px;}
.y18{bottom:552.056040px;}
.y76{bottom:562.036860px;}
.y7{bottom:564.337980px;}
.y4c{bottom:566.582580px;}
.y33{bottom:570.601260px;}
.y17{bottom:576.596340px;}
.y75{bottom:586.577160px;}
.y4b{bottom:587.104200px;}
.y32{bottom:591.122880px;}
.y6{bottom:592.843200px;}
.y16{bottom:601.136640px;}
.y74{bottom:611.117460px;}
.y4a{bottom:611.699400px;}
.y31{bottom:615.663180px;}
.y5{bottom:621.348420px;}
.y15{bottom:625.676940px;}
.y60{bottom:625.687920px;}
.y73{bottom:635.712660px;}
.y49{bottom:636.239700px;}
.y30{bottom:640.203480px;}
.y4{bottom:649.909560px;}
.y14{bottom:650.217240px;}
.y5f{bottom:650.228220px;}
.y2f{bottom:660.780000px;}
.y5e{bottom:664.743780px;}
.y13{bottom:674.757540px;}
.y3{bottom:678.414780px;}
.y2e{bottom:685.320300px;}
.y12{bottom:689.338980px;}
.y2{bottom:706.920000px;}
.y11{bottom:709.860600px;}
.y1{bottom:740.820000px;}
.h6{height:29.272852px;}
.h2{height:43.804688px;}
.h5{height:48.723750px;}
.h8{height:50.289258px;}
.hb{height:54.127969px;}
.ha{height:59.500000px;}
.h3{height:64.029492px;}
.h7{height:69.015625px;}
.h1{height:98.000000px;}
.h4{height:128.333789px;}
.h9{height:202.500000px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w2{width:368.000000px;}
.w3{width:386.500000px;}
.w0{width:612.000000px;}
.x8{left:72.000000px;}
.xb{left:73.500000px;}
.xe{left:90.001760px;}
.x5{left:94.804800px;}
.x0{left:135.500000px;}
.xa{left:253.000000px;}
.x4{left:256.200000px;}
.x7{left:272.154480px;}
.x1{left:278.400000px;}
.x2{left:306.000000px;}
.xc{left:441.000500px;}
.xd{left:460.499900px;}
.x3{left:477.716340px;}
.x9{left:504.780000px;}
.x6{left:517.140000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-0.102528pt;}
.ls3{letter-spacing:-0.074720pt;}
.ls1e{letter-spacing:-0.052704pt;}
.ls4{letter-spacing:-0.044832pt;}
.ls7{letter-spacing:-0.029280pt;}
.ls1d{letter-spacing:-0.023424pt;}
.lse{letter-spacing:-0.017568pt;}
.ls0{letter-spacing:-0.017088pt;}
.ls1a{letter-spacing:-0.011712pt;}
.ls1{letter-spacing:0.000000pt;}
.ls1b{letter-spacing:0.005856pt;}
.lsc{letter-spacing:0.011712pt;}
.lsd{letter-spacing:0.017568pt;}
.lsb{letter-spacing:0.023424pt;}
.lsf{letter-spacing:0.029280pt;}
.ls12{letter-spacing:0.035136pt;}
.ls9{letter-spacing:0.040992pt;}
.ls10{letter-spacing:0.046848pt;}
.ls13{letter-spacing:0.052704pt;}
.ls14{letter-spacing:0.058560pt;}
.lsa{letter-spacing:0.064416pt;}
.ls15{letter-spacing:0.070272pt;}
.ls18{letter-spacing:0.076128pt;}
.ls17{letter-spacing:0.081984pt;}
.ls5{letter-spacing:0.082016pt;}
.ls19{letter-spacing:0.087840pt;}
.ls8{letter-spacing:0.134688pt;}
.ls1c{letter-spacing:0.140544pt;}
.ls11{letter-spacing:0.204960pt;}
.ls16{letter-spacing:0.228384pt;}
.ls6{letter-spacing:753.362688pt;}
.ws2{word-spacing:-0.164032pt;}
.ws13{word-spacing:-0.146400pt;}
.wsd{word-spacing:-0.122976pt;}
.ws18{word-spacing:-0.058560pt;}
.ws4{word-spacing:-0.052704pt;}
.ws15{word-spacing:-0.005856pt;}
.ws0{word-spacing:0.000000pt;}
.ws14{word-spacing:0.005856pt;}
.ws11{word-spacing:0.011712pt;}
.ws1{word-spacing:0.014944pt;}
.ws6{word-spacing:0.017568pt;}
.ws10{word-spacing:0.023424pt;}
.wsf{word-spacing:0.029280pt;}
.wsc{word-spacing:0.035136pt;}
.ws5{word-spacing:0.040992pt;}
.wse{word-spacing:0.046848pt;}
.wsb{word-spacing:0.052704pt;}
.ws7{word-spacing:0.058560pt;}
.ws9{word-spacing:0.064416pt;}
.ws8{word-spacing:0.070272pt;}
.ws17{word-spacing:0.076128pt;}
.ws12{word-spacing:0.081984pt;}
.ws16{word-spacing:0.093696pt;}
.wsa{word-spacing:0.099552pt;}
.ws19{word-spacing:0.105408pt;}
.ws3{word-spacing:0.427488pt;}
._1{margin-left:-1.440576pt;}
._0{width:1.346880pt;}
._2{width:22.943808pt;}
._3{width:26.035776pt;}
.fs1{font-size:58.560000pt;}
.fs2{font-size:74.560000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:149.440000pt;}
.y10{bottom:21.333333pt;}
.yf{bottom:53.120133pt;}
.y5c{bottom:102.821520pt;}
.y48{bottom:108.179760pt;}
.y2d{bottom:110.082960pt;}
.y8a{bottom:120.664693pt;}
.y71{bottom:124.411013pt;}
.y5b{bottom:130.256880pt;}
.y47{bottom:135.541920pt;}
.y89{bottom:140.106613pt;}
.y2c{bottom:142.803360pt;}
.y70{bottom:151.773173pt;}
.y88{bottom:159.460693pt;}
.y5a{bottom:162.977280pt;}
.y46{bottom:168.262320pt;}
.y2b{bottom:175.523760pt;}
.y6f{bottom:184.493573pt;}
.y87{bottom:186.896053pt;}
.y59{bottom:195.697680pt;}
.y45{bottom:200.982720pt;}
.y6e{bottom:203.935493pt;}
.y2a{bottom:208.244160pt;}
.y86{bottom:219.616453pt;}
.y44{bottom:228.418080pt;}
.y29{bottom:235.679520pt;}
.y6d{bottom:236.655893pt;}
.y85{bottom:252.336853pt;}
.y43{bottom:261.138480pt;}
.y28{bottom:268.399920pt;}
.y6c{bottom:269.376293pt;}
.y84{bottom:279.699013pt;}
.y6b{bottom:288.730373pt;}
.y42{bottom:293.858880pt;}
.y27{bottom:301.120320pt;}
.y6a{bottom:308.172293pt;}
.y83{bottom:312.492613pt;}
.y41{bottom:326.579280pt;}
.y26{bottom:328.482480pt;}
.y69{bottom:340.892693pt;}
.y82{bottom:345.213013pt;}
.y58{bottom:354.014640pt;}
.y40{bottom:359.299680pt;}
.y25{bottom:361.276080pt;}
.y81{bottom:364.567093pt;}
.ye{bottom:370.400000pt;}
.y68{bottom:373.613093pt;}
.y80{bottom:384.009013pt;}
.y57{bottom:386.735040pt;}
.y3f{bottom:392.020080pt;}
.y67{bottom:392.967173pt;}
.y24{bottom:393.996480pt;}
.y7f{bottom:403.363093pt;}
.yd{bottom:404.488880pt;}
.y66{bottom:412.409093pt;}
.y56{bottom:419.455440pt;}
.y3e{bottom:424.813680pt;}
.y23{bottom:426.716880pt;}
.y72{bottom:432.666667pt;}
.y7e{bottom:432.877333pt;}
.y3d{bottom:444.167760pt;}
.y65{bottom:445.129493pt;}
.y55{bottom:446.817600pt;}
.yb{bottom:449.832560pt;}
.yc{bottom:449.840000pt;}
.y22{bottom:459.437280pt;}
.y3c{bottom:471.529920pt;}
.y64{bottom:477.849893pt;}
.y54{bottom:479.538000pt;}
.y21{bottom:492.157680pt;}
.y63{bottom:497.291813pt;}
.y3b{bottom:504.323520pt;}
.y53{bottom:512.331600pt;}
.ya{bottom:512.560000pt;}
.y62{bottom:516.645893pt;}
.y20{bottom:524.878080pt;}
.y7d{bottom:530.982960pt;}
.y3a{bottom:537.043920pt;}
.y1f{bottom:544.320000pt;}
.y52{bottom:545.052000pt;}
.y5d{bottom:545.333333pt;}
.y61{bottom:546.160133pt;}
.y7c{bottom:558.345120pt;}
.y0{bottom:563.333333pt;}
.y1e{bottom:563.674080pt;}
.y9{bottom:563.888400pt;}
.y39{bottom:564.406080pt;}
.y51{bottom:577.772400pt;}
.y1d{bottom:591.036240pt;}
.y7b{bottom:591.065520pt;}
.y38{bottom:597.126480pt;}
.y50{bottom:610.492800pt;}
.y1c{bottom:623.756640pt;}
.y7a{bottom:623.785920pt;}
.y37{bottom:629.846880pt;}
.y4f{bottom:643.213200pt;}
.y79{bottom:651.221280pt;}
.y1b{bottom:656.550240pt;}
.y36{bottom:662.567280pt;}
.y1a{bottom:683.912400pt;}
.y78{bottom:683.941680pt;}
.y4e{bottom:690.002640pt;}
.y35{bottom:695.287680pt;}
.y8{bottom:714.443680pt;}
.y19{bottom:716.632800pt;}
.y77{bottom:716.662080pt;}
.y4d{bottom:722.723040pt;}
.y34{bottom:728.081280pt;}
.y18{bottom:736.074720pt;}
.y76{bottom:749.382480pt;}
.y7{bottom:752.450640pt;}
.y4c{bottom:755.443440pt;}
.y33{bottom:760.801680pt;}
.y17{bottom:768.795120pt;}
.y75{bottom:782.102880pt;}
.y4b{bottom:782.805600pt;}
.y32{bottom:788.163840pt;}
.y6{bottom:790.457600pt;}
.y16{bottom:801.515520pt;}
.y74{bottom:814.823280pt;}
.y4a{bottom:815.599200pt;}
.y31{bottom:820.884240pt;}
.y5{bottom:828.464560pt;}
.y15{bottom:834.235920pt;}
.y60{bottom:834.250560pt;}
.y73{bottom:847.616880pt;}
.y49{bottom:848.319600pt;}
.y30{bottom:853.604640pt;}
.y4{bottom:866.546080pt;}
.y14{bottom:866.956320pt;}
.y5f{bottom:866.970960pt;}
.y2f{bottom:881.040000pt;}
.y5e{bottom:886.325040pt;}
.y13{bottom:899.676720pt;}
.y3{bottom:904.553040pt;}
.y2e{bottom:913.760400pt;}
.y12{bottom:919.118640pt;}
.y2{bottom:942.560000pt;}
.y11{bottom:946.480800pt;}
.y1{bottom:987.760000pt;}
.h6{height:39.030469pt;}
.h2{height:58.406250pt;}
.h5{height:64.965000pt;}
.h8{height:67.052344pt;}
.hb{height:72.170625pt;}
.ha{height:79.333333pt;}
.h3{height:85.372656pt;}
.h7{height:92.020833pt;}
.h1{height:130.666667pt;}
.h4{height:171.111719pt;}
.h9{height:270.000000pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w2{width:490.666667pt;}
.w3{width:515.333333pt;}
.w0{width:816.000000pt;}
.x8{left:96.000000pt;}
.xb{left:98.000000pt;}
.xe{left:120.002347pt;}
.x5{left:126.406400pt;}
.x0{left:180.666667pt;}
.xa{left:337.333333pt;}
.x4{left:341.600000pt;}
.x7{left:362.872640pt;}
.x1{left:371.200000pt;}
.x2{left:408.000000pt;}
.xc{left:588.000667pt;}
.xd{left:613.999867pt;}
.x3{left:636.955120pt;}
.x9{left:673.040000pt;}
.x6{left:689.520000pt;}
}
