.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc7{color:rgb(33,78,123);}
.fc4{color:rgb(102,0,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(255,0,0);}
.fc2{color:rgb(0,0,51);}
.fc6{color:rgb(66,184,55);}
.fc1{color:rgb(120,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:80.000000px;}
.fs1{font-size:160.000000px;}
.ye{bottom:17.000000px;}
.y3b{bottom:31.000000px;}
.yf{bottom:44.500000px;}
.y36{bottom:62.000000px;}
.ybc{bottom:63.000000px;}
.ya1{bottom:66.000000px;}
.y64{bottom:67.000000px;}
.ye9{bottom:71.000000px;}
.y83{bottom:75.000000px;}
.y35{bottom:78.000000px;}
.y63{bottom:79.000000px;}
.ya0{bottom:82.000000px;}
.ye8{bottom:83.000000px;}
.y34{bottom:90.000000px;}
.y82{bottom:91.000000px;}
.y62{bottom:95.000000px;}
.yd1{bottom:97.500000px;}
.y9f{bottom:98.000000px;}
.ye7{bottom:99.000000px;}
.y33{bottom:102.000000px;}
.y61{bottom:107.000000px;}
.y9e{bottom:110.000000px;}
.ybb{bottom:111.000000px;}
.y32{bottom:118.000000px;}
.y9d{bottom:122.000000px;}
.y60{bottom:123.000000px;}
.yba{bottom:127.000000px;}
.y31{bottom:130.000000px;}
.yce{bottom:131.000000px;}
.y9c{bottom:138.000000px;}
.y81{bottom:139.000000px;}
.yb9{bottom:143.000000px;}
.y30{bottom:146.000000px;}
.y80{bottom:151.000000px;}
.y9b{bottom:154.000000px;}
.y66{bottom:154.500000px;}
.ye6{bottom:155.000000px;}
.y2f{bottom:158.000000px;}
.yb8{bottom:159.000000px;}
.y7f{bottom:163.000000px;}
.ye5{bottom:167.000000px;}
.ycd{bottom:169.000000px;}
.y2e{bottom:170.000000px;}
.yb7{bottom:175.000000px;}
.y7e{bottom:179.000000px;}
.ye4{bottom:183.000000px;}
.ya4{bottom:185.500000px;}
.y2d{bottom:186.000000px;}
.ycc{bottom:187.000000px;}
.y5f{bottom:188.000000px;}
.y7d{bottom:191.000000px;}
.ye3{bottom:195.000000px;}
.ycb{bottom:199.000000px;}
.y7c{bottom:207.000000px;}
.y5e{bottom:208.000000px;}
.ye2{bottom:211.000000px;}
.yca{bottom:215.000000px;}
.y39{bottom:217.500000px;}
.y9a{bottom:219.000000px;}
.yb6{bottom:223.000000px;}
.y5d{bottom:226.000000px;}
.yc9{bottom:231.000000px;}
.ye1{bottom:235.000000px;}
.y85{bottom:238.500000px;}
.y99{bottom:239.000000px;}
.y5c{bottom:244.000000px;}
.yc8{bottom:247.000000px;}
.y2c{bottom:251.000000px;}
.yb5{bottom:255.000000px;}
.y5b{bottom:256.000000px;}
.y98{bottom:257.000000px;}
.yc7{bottom:263.000000px;}
.yb4{bottom:267.000000px;}
.y2b{bottom:271.000000px;}
.y5a{bottom:272.000000px;}
.y97{bottom:275.000000px;}
.yb3{bottom:279.000000px;}
.y96{bottom:287.000000px;}
.y59{bottom:288.000000px;}
.y2a{bottom:289.000000px;}
.ye0{bottom:291.000000px;}
.y7b{bottom:292.000000px;}
.yb2{bottom:295.000000px;}
.y95{bottom:303.000000px;}
.y58{bottom:304.000000px;}
.y29{bottom:307.000000px;}
.y7a{bottom:310.000000px;}
.y28{bottom:319.000000px;}
.y57{bottom:320.000000px;}
.yeb{bottom:322.500000px;}
.ybe{bottom:326.500000px;}
.y79{bottom:328.000000px;}
.yd0{bottom:334.500000px;}
.y27{bottom:335.000000px;}
.y56{bottom:336.000000px;}
.y78{bottom:340.000000px;}
.y26{bottom:351.000000px;}
.y55{bottom:352.000000px;}
.y77{bottom:356.000000px;}
.yb1{bottom:360.000000px;}
.y94{bottom:363.000000px;}
.y25{bottom:367.000000px;}
.y54{bottom:368.000000px;}
.y76{bottom:372.000000px;}
.y93{bottom:375.000000px;}
.ydf{bottom:376.000000px;}
.yb0{bottom:380.000000px;}
.y24{bottom:383.000000px;}
.y53{bottom:384.000000px;}
.y75{bottom:388.000000px;}
.yd{bottom:388.500000px;}
.y92{bottom:391.000000px;}
.yde{bottom:394.000000px;}
.y23{bottom:395.000000px;}
.yaf{bottom:398.000000px;}
.y52{bottom:400.000000px;}
.y74{bottom:404.000000px;}
.yc6{bottom:406.000000px;}
.yc{bottom:406.500000px;}
.y22{bottom:407.000000px;}
.ydd{bottom:412.000000px;}
.y51{bottom:416.000000px;}
.y73{bottom:420.000000px;}
.y21{bottom:423.000000px;}
.yc5{bottom:424.000000px;}
.yae{bottom:428.000000px;}
.y50{bottom:432.000000px;}
.y20{bottom:435.000000px;}
.y72{bottom:436.000000px;}
.yb{bottom:436.500000px;}
.ya3{bottom:438.500000px;}
.ydc{bottom:440.000000px;}
.yad{bottom:444.000000px;}
.y4f{bottom:448.000000px;}
.y1f{bottom:451.000000px;}
.ya{bottom:451.500000px;}
.y71{bottom:452.000000px;}
.ydb{bottom:456.000000px;}
.y4e{bottom:460.000000px;}
.y9{bottom:461.500000px;}
.y1e{bottom:463.000000px;}
.y70{bottom:468.000000px;}
.y4d{bottom:472.000000px;}
.yac{bottom:476.000000px;}
.y1d{bottom:479.000000px;}
.y8{bottom:484.000000px;}
.yda{bottom:488.000000px;}
.y91{bottom:492.000000px;}
.y7{bottom:494.000000px;}
.y6f{bottom:500.000000px;}
.y65{bottom:503.500000px;}
.yab{bottom:504.000000px;}
.y90{bottom:510.000000px;}
.y38{bottom:510.500000px;}
.yc4{bottom:512.000000px;}
.y6e{bottom:516.000000px;}
.yd9{bottom:520.000000px;}
.y6{bottom:524.000000px;}
.y5{bottom:526.000000px;}
.y8f{bottom:528.000000px;}
.y6d{bottom:532.000000px;}
.y4c{bottom:537.000000px;}
.y8e{bottom:540.000000px;}
.y1c{bottom:544.000000px;}
.y6c{bottom:556.000000px;}
.y4b{bottom:557.000000px;}
.yaa{bottom:560.000000px;}
.y1b{bottom:564.000000px;}
.yc3{bottom:568.000000px;}
.y6b{bottom:572.000000px;}
.y4a{bottom:575.000000px;}
.y1a{bottom:582.000000px;}
.y6a{bottom:584.000000px;}
.y4{bottom:586.000000px;}
.y8d{bottom:588.000000px;}
.yea{bottom:591.500000px;}
.y49{bottom:593.000000px;}
.ycf{bottom:599.500000px;}
.y19{bottom:600.000000px;}
.y8c{bottom:604.000000px;}
.y48{bottom:605.000000px;}
.y18{bottom:612.000000px;}
.ya9{bottom:616.000000px;}
.y8b{bottom:620.000000px;}
.y47{bottom:621.000000px;}
.yd8{bottom:625.000000px;}
.y17{bottom:628.000000px;}
.y84{bottom:631.500000px;}
.ya8{bottom:632.000000px;}
.yc2{bottom:633.000000px;}
.y8a{bottom:636.000000px;}
.y46{bottom:637.000000px;}
.y16{bottom:644.000000px;}
.yd7{bottom:645.000000px;}
.y89{bottom:648.000000px;}
.y45{bottom:653.000000px;}
.y15{bottom:660.000000px;}
.yd6{bottom:663.000000px;}
.ybd{bottom:663.500000px;}
.y69{bottom:665.000000px;}
.y44{bottom:669.000000px;}
.yc1{bottom:671.000000px;}
.y14{bottom:676.000000px;}
.yd5{bottom:681.000000px;}
.y43{bottom:685.000000px;}
.y3{bottom:686.000000px;}
.y2{bottom:688.000000px;}
.yc0{bottom:689.000000px;}
.yd4{bottom:693.000000px;}
.y42{bottom:697.000000px;}
.y13{bottom:700.000000px;}
.ybf{bottom:701.000000px;}
.y1{bottom:703.000000px;}
.ya2{bottom:707.500000px;}
.y41{bottom:709.000000px;}
.y0{bottom:712.500000px;}
.y12{bottom:716.000000px;}
.ya7{bottom:717.000000px;}
.y68{bottom:721.000000px;}
.y40{bottom:725.000000px;}
.y11{bottom:728.000000px;}
.y67{bottom:733.000000px;}
.ya6{bottom:735.000000px;}
.y3f{bottom:737.000000px;}
.y88{bottom:741.000000px;}
.y10{bottom:744.000000px;}
.y3e{bottom:749.000000px;}
.ya5{bottom:753.000000px;}
.yd3{bottom:757.000000px;}
.y87{bottom:761.000000px;}
.y3d{bottom:765.000000px;}
.yd2{bottom:769.000000px;}
.y37{bottom:775.500000px;}
.y86{bottom:779.000000px;}
.y3c{bottom:781.000000px;}
.y3a{bottom:799.000000px;}
.h2{height:46.973200px;}
.h6{height:56.367840px;}
.h9{height:59.156250px;}
.h7{height:69.015625px;}
.h5{height:70.459800px;}
.h1{height:84.500000px;}
.h4{height:93.946400px;}
.h3{height:187.892799px;}
.h8{height:752.500000px;}
.h0{height:842.000000px;}
.w1{width:277.500000px;}
.w2{width:485.500000px;}
.w0{width:595.000000px;}
.x0{left:55.000000px;}
.xa{left:57.000000px;}
.x6{left:118.710000px;}
.xb{left:215.800000px;}
.x5{left:218.570000px;}
.x8{left:231.150000px;}
.x9{left:245.000000px;}
.x3{left:260.840000px;}
.x7{left:269.150000px;}
.x1{left:276.080000px;}
.x4{left:291.940000px;}
.x2{left:296.110000px;}
.xc{left:531.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:106.666667pt;}
.fs1{font-size:213.333333pt;}
.ye{bottom:22.666667pt;}
.y3b{bottom:41.333333pt;}
.yf{bottom:59.333333pt;}
.y36{bottom:82.666667pt;}
.ybc{bottom:84.000000pt;}
.ya1{bottom:88.000000pt;}
.y64{bottom:89.333333pt;}
.ye9{bottom:94.666667pt;}
.y83{bottom:100.000000pt;}
.y35{bottom:104.000000pt;}
.y63{bottom:105.333333pt;}
.ya0{bottom:109.333333pt;}
.ye8{bottom:110.666667pt;}
.y34{bottom:120.000000pt;}
.y82{bottom:121.333333pt;}
.y62{bottom:126.666667pt;}
.yd1{bottom:130.000000pt;}
.y9f{bottom:130.666667pt;}
.ye7{bottom:132.000000pt;}
.y33{bottom:136.000000pt;}
.y61{bottom:142.666667pt;}
.y9e{bottom:146.666667pt;}
.ybb{bottom:148.000000pt;}
.y32{bottom:157.333333pt;}
.y9d{bottom:162.666667pt;}
.y60{bottom:164.000000pt;}
.yba{bottom:169.333333pt;}
.y31{bottom:173.333333pt;}
.yce{bottom:174.666667pt;}
.y9c{bottom:184.000000pt;}
.y81{bottom:185.333333pt;}
.yb9{bottom:190.666667pt;}
.y30{bottom:194.666667pt;}
.y80{bottom:201.333333pt;}
.y9b{bottom:205.333333pt;}
.y66{bottom:206.000000pt;}
.ye6{bottom:206.666667pt;}
.y2f{bottom:210.666667pt;}
.yb8{bottom:212.000000pt;}
.y7f{bottom:217.333333pt;}
.ye5{bottom:222.666667pt;}
.ycd{bottom:225.333333pt;}
.y2e{bottom:226.666667pt;}
.yb7{bottom:233.333333pt;}
.y7e{bottom:238.666667pt;}
.ye4{bottom:244.000000pt;}
.ya4{bottom:247.333333pt;}
.y2d{bottom:248.000000pt;}
.ycc{bottom:249.333333pt;}
.y5f{bottom:250.666667pt;}
.y7d{bottom:254.666667pt;}
.ye3{bottom:260.000000pt;}
.ycb{bottom:265.333333pt;}
.y7c{bottom:276.000000pt;}
.y5e{bottom:277.333333pt;}
.ye2{bottom:281.333333pt;}
.yca{bottom:286.666667pt;}
.y39{bottom:290.000000pt;}
.y9a{bottom:292.000000pt;}
.yb6{bottom:297.333333pt;}
.y5d{bottom:301.333333pt;}
.yc9{bottom:308.000000pt;}
.ye1{bottom:313.333333pt;}
.y85{bottom:318.000000pt;}
.y99{bottom:318.666667pt;}
.y5c{bottom:325.333333pt;}
.yc8{bottom:329.333333pt;}
.y2c{bottom:334.666667pt;}
.yb5{bottom:340.000000pt;}
.y5b{bottom:341.333333pt;}
.y98{bottom:342.666667pt;}
.yc7{bottom:350.666667pt;}
.yb4{bottom:356.000000pt;}
.y2b{bottom:361.333333pt;}
.y5a{bottom:362.666667pt;}
.y97{bottom:366.666667pt;}
.yb3{bottom:372.000000pt;}
.y96{bottom:382.666667pt;}
.y59{bottom:384.000000pt;}
.y2a{bottom:385.333333pt;}
.ye0{bottom:388.000000pt;}
.y7b{bottom:389.333333pt;}
.yb2{bottom:393.333333pt;}
.y95{bottom:404.000000pt;}
.y58{bottom:405.333333pt;}
.y29{bottom:409.333333pt;}
.y7a{bottom:413.333333pt;}
.y28{bottom:425.333333pt;}
.y57{bottom:426.666667pt;}
.yeb{bottom:430.000000pt;}
.ybe{bottom:435.333333pt;}
.y79{bottom:437.333333pt;}
.yd0{bottom:446.000000pt;}
.y27{bottom:446.666667pt;}
.y56{bottom:448.000000pt;}
.y78{bottom:453.333333pt;}
.y26{bottom:468.000000pt;}
.y55{bottom:469.333333pt;}
.y77{bottom:474.666667pt;}
.yb1{bottom:480.000000pt;}
.y94{bottom:484.000000pt;}
.y25{bottom:489.333333pt;}
.y54{bottom:490.666667pt;}
.y76{bottom:496.000000pt;}
.y93{bottom:500.000000pt;}
.ydf{bottom:501.333333pt;}
.yb0{bottom:506.666667pt;}
.y24{bottom:510.666667pt;}
.y53{bottom:512.000000pt;}
.y75{bottom:517.333333pt;}
.yd{bottom:518.000000pt;}
.y92{bottom:521.333333pt;}
.yde{bottom:525.333333pt;}
.y23{bottom:526.666667pt;}
.yaf{bottom:530.666667pt;}
.y52{bottom:533.333333pt;}
.y74{bottom:538.666667pt;}
.yc6{bottom:541.333333pt;}
.yc{bottom:542.000000pt;}
.y22{bottom:542.666667pt;}
.ydd{bottom:549.333333pt;}
.y51{bottom:554.666667pt;}
.y73{bottom:560.000000pt;}
.y21{bottom:564.000000pt;}
.yc5{bottom:565.333333pt;}
.yae{bottom:570.666667pt;}
.y50{bottom:576.000000pt;}
.y20{bottom:580.000000pt;}
.y72{bottom:581.333333pt;}
.yb{bottom:582.000000pt;}
.ya3{bottom:584.666667pt;}
.ydc{bottom:586.666667pt;}
.yad{bottom:592.000000pt;}
.y4f{bottom:597.333333pt;}
.y1f{bottom:601.333333pt;}
.ya{bottom:602.000000pt;}
.y71{bottom:602.666667pt;}
.ydb{bottom:608.000000pt;}
.y4e{bottom:613.333333pt;}
.y9{bottom:615.333333pt;}
.y1e{bottom:617.333333pt;}
.y70{bottom:624.000000pt;}
.y4d{bottom:629.333333pt;}
.yac{bottom:634.666667pt;}
.y1d{bottom:638.666667pt;}
.y8{bottom:645.333333pt;}
.yda{bottom:650.666667pt;}
.y91{bottom:656.000000pt;}
.y7{bottom:658.666667pt;}
.y6f{bottom:666.666667pt;}
.y65{bottom:671.333333pt;}
.yab{bottom:672.000000pt;}
.y90{bottom:680.000000pt;}
.y38{bottom:680.666667pt;}
.yc4{bottom:682.666667pt;}
.y6e{bottom:688.000000pt;}
.yd9{bottom:693.333333pt;}
.y6{bottom:698.666667pt;}
.y5{bottom:701.333333pt;}
.y8f{bottom:704.000000pt;}
.y6d{bottom:709.333333pt;}
.y4c{bottom:716.000000pt;}
.y8e{bottom:720.000000pt;}
.y1c{bottom:725.333333pt;}
.y6c{bottom:741.333333pt;}
.y4b{bottom:742.666667pt;}
.yaa{bottom:746.666667pt;}
.y1b{bottom:752.000000pt;}
.yc3{bottom:757.333333pt;}
.y6b{bottom:762.666667pt;}
.y4a{bottom:766.666667pt;}
.y1a{bottom:776.000000pt;}
.y6a{bottom:778.666667pt;}
.y4{bottom:781.333333pt;}
.y8d{bottom:784.000000pt;}
.yea{bottom:788.666667pt;}
.y49{bottom:790.666667pt;}
.ycf{bottom:799.333333pt;}
.y19{bottom:800.000000pt;}
.y8c{bottom:805.333333pt;}
.y48{bottom:806.666667pt;}
.y18{bottom:816.000000pt;}
.ya9{bottom:821.333333pt;}
.y8b{bottom:826.666667pt;}
.y47{bottom:828.000000pt;}
.yd8{bottom:833.333333pt;}
.y17{bottom:837.333333pt;}
.y84{bottom:842.000000pt;}
.ya8{bottom:842.666667pt;}
.yc2{bottom:844.000000pt;}
.y8a{bottom:848.000000pt;}
.y46{bottom:849.333333pt;}
.y16{bottom:858.666667pt;}
.yd7{bottom:860.000000pt;}
.y89{bottom:864.000000pt;}
.y45{bottom:870.666667pt;}
.y15{bottom:880.000000pt;}
.yd6{bottom:884.000000pt;}
.ybd{bottom:884.666667pt;}
.y69{bottom:886.666667pt;}
.y44{bottom:892.000000pt;}
.yc1{bottom:894.666667pt;}
.y14{bottom:901.333333pt;}
.yd5{bottom:908.000000pt;}
.y43{bottom:913.333333pt;}
.y3{bottom:914.666667pt;}
.y2{bottom:917.333333pt;}
.yc0{bottom:918.666667pt;}
.yd4{bottom:924.000000pt;}
.y42{bottom:929.333333pt;}
.y13{bottom:933.333333pt;}
.ybf{bottom:934.666667pt;}
.y1{bottom:937.333333pt;}
.ya2{bottom:943.333333pt;}
.y41{bottom:945.333333pt;}
.y0{bottom:950.000000pt;}
.y12{bottom:954.666667pt;}
.ya7{bottom:956.000000pt;}
.y68{bottom:961.333333pt;}
.y40{bottom:966.666667pt;}
.y11{bottom:970.666667pt;}
.y67{bottom:977.333333pt;}
.ya6{bottom:980.000000pt;}
.y3f{bottom:982.666667pt;}
.y88{bottom:988.000000pt;}
.y10{bottom:992.000000pt;}
.y3e{bottom:998.666667pt;}
.ya5{bottom:1004.000000pt;}
.yd3{bottom:1009.333333pt;}
.y87{bottom:1014.666667pt;}
.y3d{bottom:1020.000000pt;}
.yd2{bottom:1025.333333pt;}
.y37{bottom:1034.000000pt;}
.y86{bottom:1038.666667pt;}
.y3c{bottom:1041.333333pt;}
.y3a{bottom:1065.333333pt;}
.h2{height:62.630933pt;}
.h6{height:75.157120pt;}
.h9{height:78.875000pt;}
.h7{height:92.020833pt;}
.h5{height:93.946400pt;}
.h1{height:112.666667pt;}
.h4{height:125.261866pt;}
.h3{height:250.523733pt;}
.h8{height:1003.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:370.000000pt;}
.w2{width:647.333333pt;}
.w0{width:793.333333pt;}
.x0{left:73.333333pt;}
.xa{left:76.000000pt;}
.x6{left:158.280000pt;}
.xb{left:287.733333pt;}
.x5{left:291.426667pt;}
.x8{left:308.200000pt;}
.x9{left:326.666667pt;}
.x3{left:347.786667pt;}
.x7{left:358.866667pt;}
.x1{left:368.106667pt;}
.x4{left:389.253333pt;}
.x2{left:394.813333pt;}
.xc{left:708.440000pt;}
}
