.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._6{width:411.440000px;}
._4{width:424.800000px;}
._1{width:427.040000px;}
._2{width:429.240000px;}
._3{width:431.480000px;}
._5{width:444.800000px;}
._0{width:669.320000px;}
.fc6{color:rgb(33,78,123);}
.fc4{color:rgb(102,0,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(255,0,0);}
.fc2{color:rgb(0,0,51);}
.fc7{color:rgb(66,184,55);}
.fc1{color:rgb(120,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:80.000000px;}
.fs1{font-size:160.000000px;}
.ye{bottom:17.000000px;}
.y1d{bottom:31.000000px;}
.yf{bottom:44.500000px;}
.y8a{bottom:62.000000px;}
.y3c{bottom:69.000000px;}
.ya7{bottom:70.000000px;}
.y68{bottom:77.500000px;}
.y89{bottom:78.000000px;}
.y3b{bottom:81.000000px;}
.ya6{bottom:82.000000px;}
.yba{bottom:86.000000px;}
.y88{bottom:90.000000px;}
.ya5{bottom:94.000000px;}
.y3a{bottom:97.000000px;}
.yb9{bottom:98.000000px;}
.y87{bottom:102.000000px;}
.ya4{bottom:110.000000px;}
.y65{bottom:111.000000px;}
.y39{bottom:113.000000px;}
.ycf{bottom:114.000000px;}
.y86{bottom:118.000000px;}
.yb8{bottom:126.000000px;}
.y38{bottom:129.000000px;}
.yc8{bottom:130.000000px;}
.y64{bottom:131.000000px;}
.yaa{bottom:141.500000px;}
.yc7{bottom:142.000000px;}
.y63{bottom:149.000000px;}
.y8d{bottom:149.500000px;}
.ybd{bottom:157.500000px;}
.yd7{bottom:158.000000px;}
.y40{bottom:160.500000px;}
.y62{bottom:167.000000px;}
.yca{bottom:173.500000px;}
.ya3{bottom:175.000000px;}
.y61{bottom:179.000000px;}
.y85{bottom:183.000000px;}
.yd8{bottom:189.500000px;}
.yb7{bottom:191.000000px;}
.y37{bottom:194.000000px;}
.y60{bottom:195.000000px;}
.y84{bottom:203.000000px;}
.yc6{bottom:207.000000px;}
.y5f{bottom:211.000000px;}
.ya2{bottom:213.000000px;}
.y36{bottom:214.000000px;}
.y83{bottom:221.000000px;}
.yd6{bottom:223.000000px;}
.y5e{bottom:227.000000px;}
.yb6{bottom:229.000000px;}
.ya1{bottom:231.000000px;}
.y35{bottom:232.000000px;}
.y82{bottom:239.000000px;}
.y5d{bottom:243.000000px;}
.yc5{bottom:245.000000px;}
.yb5{bottom:247.000000px;}
.y34{bottom:250.000000px;}
.y81{bottom:251.000000px;}
.y5c{bottom:255.000000px;}
.ya0{bottom:259.000000px;}
.yd5{bottom:261.000000px;}
.y33{bottom:262.000000px;}
.yc4{bottom:263.000000px;}
.y5b{bottom:267.000000px;}
.y9f{bottom:275.000000px;}
.y32{bottom:278.000000px;}
.yd4{bottom:279.000000px;}
.y5a{bottom:283.000000px;}
.y9e{bottom:291.000000px;}
.y31{bottom:294.000000px;}
.y80{bottom:295.000000px;}
.y59{bottom:299.000000px;}
.yb4{bottom:303.000000px;}
.y30{bottom:306.000000px;}
.y7f{bottom:307.000000px;}
.yb3{bottom:315.000000px;}
.y2f{bottom:318.000000px;}
.y9d{bottom:319.000000px;}
.yc3{bottom:323.000000px;}
.y67{bottom:330.500000px;}
.y9c{bottom:331.000000px;}
.y8c{bottom:338.500000px;}
.yc2{bottom:339.000000px;}
.y9b{bottom:347.000000px;}
.y3f{bottom:349.500000px;}
.yc1{bottom:351.000000px;}
.yd3{bottom:355.000000px;}
.ybc{bottom:362.500000px;}
.y9a{bottom:363.000000px;}
.y58{bottom:364.000000px;}
.yd2{bottom:371.000000px;}
.y7e{bottom:372.000000px;}
.y99{bottom:379.000000px;}
.y2e{bottom:383.000000px;}
.y57{bottom:384.000000px;}
.yd{bottom:388.500000px;}
.y7d{bottom:392.000000px;}
.y98{bottom:395.000000px;}
.yb2{bottom:396.000000px;}
.y56{bottom:402.000000px;}
.y2d{bottom:403.000000px;}
.yc{bottom:406.500000px;}
.y7c{bottom:410.000000px;}
.yc9{bottom:410.500000px;}
.yb1{bottom:416.000000px;}
.y55{bottom:420.000000px;}
.y2c{bottom:421.000000px;}
.ya9{bottom:426.500000px;}
.y7b{bottom:428.000000px;}
.y54{bottom:432.000000px;}
.yb0{bottom:434.000000px;}
.yb{bottom:436.500000px;}
.y2b{bottom:439.000000px;}
.y7a{bottom:440.000000px;}
.yc0{bottom:444.000000px;}
.y53{bottom:448.000000px;}
.y2a{bottom:451.000000px;}
.ya{bottom:451.500000px;}
.yaf{bottom:452.000000px;}
.y79{bottom:456.000000px;}
.y97{bottom:460.000000px;}
.y9{bottom:461.500000px;}
.y52{bottom:464.000000px;}
.y29{bottom:467.000000px;}
.y78{bottom:472.000000px;}
.y51{bottom:480.000000px;}
.ybf{bottom:482.000000px;}
.y28{bottom:483.000000px;}
.y8{bottom:484.000000px;}
.y77{bottom:488.000000px;}
.y7{bottom:494.000000px;}
.y27{bottom:495.000000px;}
.y50{bottom:496.000000px;}
.y96{bottom:498.000000px;}
.ybe{bottom:500.000000px;}
.y76{bottom:504.000000px;}
.y26{bottom:507.000000px;}
.y4f{bottom:512.000000px;}
.y75{bottom:516.000000px;}
.y6{bottom:524.000000px;}
.y5{bottom:526.000000px;}
.y4e{bottom:528.000000px;}
.y1b{bottom:532.000000px;}
.y3e{bottom:538.500000px;}
.y4d{bottom:540.000000px;}
.y95{bottom:544.000000px;}
.y1a{bottom:551.000000px;}
.y4c{bottom:552.000000px;}
.y8b{bottom:559.500000px;}
.y94{bottom:560.000000px;}
.y4b{bottom:568.000000px;}
.y19{bottom:570.000000px;}
.y25{bottom:572.000000px;}
.y93{bottom:576.000000px;}
.y4{bottom:586.000000px;}
.yae{bottom:588.000000px;}
.y18{bottom:589.000000px;}
.y24{bottom:592.000000px;}
.y74{bottom:593.000000px;}
.y66{bottom:599.500000px;}
.yad{bottom:600.000000px;}
.y92{bottom:604.000000px;}
.y17{bottom:608.000000px;}
.y23{bottom:610.000000px;}
.y73{bottom:613.000000px;}
.y91{bottom:616.000000px;}
.yd1{bottom:620.000000px;}
.y16{bottom:627.000000px;}
.y22{bottom:628.000000px;}
.y72{bottom:631.000000px;}
.ybb{bottom:631.500000px;}
.yce{bottom:632.000000px;}
.y4a{bottom:633.000000px;}
.y21{bottom:640.000000px;}
.y15{bottom:646.000000px;}
.ya8{bottom:647.500000px;}
.y71{bottom:649.000000px;}
.y49{bottom:653.000000px;}
.y20{bottom:656.000000px;}
.y70{bottom:661.000000px;}
.yd0{bottom:663.500000px;}
.y14{bottom:665.000000px;}
.y48{bottom:671.000000px;}
.y1f{bottom:672.000000px;}
.y6f{bottom:677.000000px;}
.y90{bottom:681.000000px;}
.y13{bottom:684.000000px;}
.yac{bottom:685.000000px;}
.y3{bottom:686.000000px;}
.y2{bottom:688.000000px;}
.y47{bottom:689.000000px;}
.y6e{bottom:693.000000px;}
.y1e{bottom:696.000000px;}
.ycd{bottom:697.000000px;}
.y46{bottom:701.000000px;}
.y1{bottom:703.000000px;}
.y6d{bottom:709.000000px;}
.y0{bottom:712.500000px;}
.y45{bottom:717.000000px;}
.y8f{bottom:719.000000px;}
.yab{bottom:721.000000px;}
.y12{bottom:722.000000px;}
.y6c{bottom:725.000000px;}
.y3d{bottom:727.500000px;}
.y44{bottom:733.000000px;}
.ycc{bottom:735.000000px;}
.y8e{bottom:737.000000px;}
.y6b{bottom:741.000000px;}
.y43{bottom:749.000000px;}
.ycb{bottom:753.000000px;}
.y6a{bottom:757.000000px;}
.y11{bottom:759.000000px;}
.y42{bottom:765.000000px;}
.y69{bottom:769.000000px;}
.y10{bottom:779.000000px;}
.y41{bottom:781.000000px;}
.y1c{bottom:799.000000px;}
.h2{height:46.973200px;}
.h6{height:56.367840px;}
.h9{height:59.156250px;}
.h7{height:69.015625px;}
.h5{height:70.459800px;}
.h1{height:84.500000px;}
.h4{height:93.946400px;}
.h3{height:187.892799px;}
.h8{height:797.500000px;}
.h0{height:842.000000px;}
.w1{width:277.500000px;}
.w2{width:540.000000px;}
.w0{width:595.000000px;}
.x0{left:55.000000px;}
.xd{left:57.000000px;}
.xa{left:105.500000px;}
.x6{left:146.220000px;}
.x3{left:196.340000px;}
.xb{left:202.140000px;}
.x5{left:225.260000px;}
.x8{left:245.000000px;}
.x9{left:246.490000px;}
.x7{left:269.150000px;}
.x1{left:276.080000px;}
.x4{left:291.940000px;}
.x2{left:296.110000px;}
.xe{left:524.660000px;}
.xc{left:531.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._6{width:548.586667pt;}
._4{width:566.400000pt;}
._1{width:569.386667pt;}
._2{width:572.320000pt;}
._3{width:575.306667pt;}
._5{width:593.066667pt;}
._0{width:892.426667pt;}
.fs0{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:106.666667pt;}
.fs1{font-size:213.333333pt;}
.ye{bottom:22.666667pt;}
.y1d{bottom:41.333333pt;}
.yf{bottom:59.333333pt;}
.y8a{bottom:82.666667pt;}
.y3c{bottom:92.000000pt;}
.ya7{bottom:93.333333pt;}
.y68{bottom:103.333333pt;}
.y89{bottom:104.000000pt;}
.y3b{bottom:108.000000pt;}
.ya6{bottom:109.333333pt;}
.yba{bottom:114.666667pt;}
.y88{bottom:120.000000pt;}
.ya5{bottom:125.333333pt;}
.y3a{bottom:129.333333pt;}
.yb9{bottom:130.666667pt;}
.y87{bottom:136.000000pt;}
.ya4{bottom:146.666667pt;}
.y65{bottom:148.000000pt;}
.y39{bottom:150.666667pt;}
.ycf{bottom:152.000000pt;}
.y86{bottom:157.333333pt;}
.yb8{bottom:168.000000pt;}
.y38{bottom:172.000000pt;}
.yc8{bottom:173.333333pt;}
.y64{bottom:174.666667pt;}
.yaa{bottom:188.666667pt;}
.yc7{bottom:189.333333pt;}
.y63{bottom:198.666667pt;}
.y8d{bottom:199.333333pt;}
.ybd{bottom:210.000000pt;}
.yd7{bottom:210.666667pt;}
.y40{bottom:214.000000pt;}
.y62{bottom:222.666667pt;}
.yca{bottom:231.333333pt;}
.ya3{bottom:233.333333pt;}
.y61{bottom:238.666667pt;}
.y85{bottom:244.000000pt;}
.yd8{bottom:252.666667pt;}
.yb7{bottom:254.666667pt;}
.y37{bottom:258.666667pt;}
.y60{bottom:260.000000pt;}
.y84{bottom:270.666667pt;}
.yc6{bottom:276.000000pt;}
.y5f{bottom:281.333333pt;}
.ya2{bottom:284.000000pt;}
.y36{bottom:285.333333pt;}
.y83{bottom:294.666667pt;}
.yd6{bottom:297.333333pt;}
.y5e{bottom:302.666667pt;}
.yb6{bottom:305.333333pt;}
.ya1{bottom:308.000000pt;}
.y35{bottom:309.333333pt;}
.y82{bottom:318.666667pt;}
.y5d{bottom:324.000000pt;}
.yc5{bottom:326.666667pt;}
.yb5{bottom:329.333333pt;}
.y34{bottom:333.333333pt;}
.y81{bottom:334.666667pt;}
.y5c{bottom:340.000000pt;}
.ya0{bottom:345.333333pt;}
.yd5{bottom:348.000000pt;}
.y33{bottom:349.333333pt;}
.yc4{bottom:350.666667pt;}
.y5b{bottom:356.000000pt;}
.y9f{bottom:366.666667pt;}
.y32{bottom:370.666667pt;}
.yd4{bottom:372.000000pt;}
.y5a{bottom:377.333333pt;}
.y9e{bottom:388.000000pt;}
.y31{bottom:392.000000pt;}
.y80{bottom:393.333333pt;}
.y59{bottom:398.666667pt;}
.yb4{bottom:404.000000pt;}
.y30{bottom:408.000000pt;}
.y7f{bottom:409.333333pt;}
.yb3{bottom:420.000000pt;}
.y2f{bottom:424.000000pt;}
.y9d{bottom:425.333333pt;}
.yc3{bottom:430.666667pt;}
.y67{bottom:440.666667pt;}
.y9c{bottom:441.333333pt;}
.y8c{bottom:451.333333pt;}
.yc2{bottom:452.000000pt;}
.y9b{bottom:462.666667pt;}
.y3f{bottom:466.000000pt;}
.yc1{bottom:468.000000pt;}
.yd3{bottom:473.333333pt;}
.ybc{bottom:483.333333pt;}
.y9a{bottom:484.000000pt;}
.y58{bottom:485.333333pt;}
.yd2{bottom:494.666667pt;}
.y7e{bottom:496.000000pt;}
.y99{bottom:505.333333pt;}
.y2e{bottom:510.666667pt;}
.y57{bottom:512.000000pt;}
.yd{bottom:518.000000pt;}
.y7d{bottom:522.666667pt;}
.y98{bottom:526.666667pt;}
.yb2{bottom:528.000000pt;}
.y56{bottom:536.000000pt;}
.y2d{bottom:537.333333pt;}
.yc{bottom:542.000000pt;}
.y7c{bottom:546.666667pt;}
.yc9{bottom:547.333333pt;}
.yb1{bottom:554.666667pt;}
.y55{bottom:560.000000pt;}
.y2c{bottom:561.333333pt;}
.ya9{bottom:568.666667pt;}
.y7b{bottom:570.666667pt;}
.y54{bottom:576.000000pt;}
.yb0{bottom:578.666667pt;}
.yb{bottom:582.000000pt;}
.y2b{bottom:585.333333pt;}
.y7a{bottom:586.666667pt;}
.yc0{bottom:592.000000pt;}
.y53{bottom:597.333333pt;}
.y2a{bottom:601.333333pt;}
.ya{bottom:602.000000pt;}
.yaf{bottom:602.666667pt;}
.y79{bottom:608.000000pt;}
.y97{bottom:613.333333pt;}
.y9{bottom:615.333333pt;}
.y52{bottom:618.666667pt;}
.y29{bottom:622.666667pt;}
.y78{bottom:629.333333pt;}
.y51{bottom:640.000000pt;}
.ybf{bottom:642.666667pt;}
.y28{bottom:644.000000pt;}
.y8{bottom:645.333333pt;}
.y77{bottom:650.666667pt;}
.y7{bottom:658.666667pt;}
.y27{bottom:660.000000pt;}
.y50{bottom:661.333333pt;}
.y96{bottom:664.000000pt;}
.ybe{bottom:666.666667pt;}
.y76{bottom:672.000000pt;}
.y26{bottom:676.000000pt;}
.y4f{bottom:682.666667pt;}
.y75{bottom:688.000000pt;}
.y6{bottom:698.666667pt;}
.y5{bottom:701.333333pt;}
.y4e{bottom:704.000000pt;}
.y1b{bottom:709.333333pt;}
.y3e{bottom:718.000000pt;}
.y4d{bottom:720.000000pt;}
.y95{bottom:725.333333pt;}
.y1a{bottom:734.666667pt;}
.y4c{bottom:736.000000pt;}
.y8b{bottom:746.000000pt;}
.y94{bottom:746.666667pt;}
.y4b{bottom:757.333333pt;}
.y19{bottom:760.000000pt;}
.y25{bottom:762.666667pt;}
.y93{bottom:768.000000pt;}
.y4{bottom:781.333333pt;}
.yae{bottom:784.000000pt;}
.y18{bottom:785.333333pt;}
.y24{bottom:789.333333pt;}
.y74{bottom:790.666667pt;}
.y66{bottom:799.333333pt;}
.yad{bottom:800.000000pt;}
.y92{bottom:805.333333pt;}
.y17{bottom:810.666667pt;}
.y23{bottom:813.333333pt;}
.y73{bottom:817.333333pt;}
.y91{bottom:821.333333pt;}
.yd1{bottom:826.666667pt;}
.y16{bottom:836.000000pt;}
.y22{bottom:837.333333pt;}
.y72{bottom:841.333333pt;}
.ybb{bottom:842.000000pt;}
.yce{bottom:842.666667pt;}
.y4a{bottom:844.000000pt;}
.y21{bottom:853.333333pt;}
.y15{bottom:861.333333pt;}
.ya8{bottom:863.333333pt;}
.y71{bottom:865.333333pt;}
.y49{bottom:870.666667pt;}
.y20{bottom:874.666667pt;}
.y70{bottom:881.333333pt;}
.yd0{bottom:884.666667pt;}
.y14{bottom:886.666667pt;}
.y48{bottom:894.666667pt;}
.y1f{bottom:896.000000pt;}
.y6f{bottom:902.666667pt;}
.y90{bottom:908.000000pt;}
.y13{bottom:912.000000pt;}
.yac{bottom:913.333333pt;}
.y3{bottom:914.666667pt;}
.y2{bottom:917.333333pt;}
.y47{bottom:918.666667pt;}
.y6e{bottom:924.000000pt;}
.y1e{bottom:928.000000pt;}
.ycd{bottom:929.333333pt;}
.y46{bottom:934.666667pt;}
.y1{bottom:937.333333pt;}
.y6d{bottom:945.333333pt;}
.y0{bottom:950.000000pt;}
.y45{bottom:956.000000pt;}
.y8f{bottom:958.666667pt;}
.yab{bottom:961.333333pt;}
.y12{bottom:962.666667pt;}
.y6c{bottom:966.666667pt;}
.y3d{bottom:970.000000pt;}
.y44{bottom:977.333333pt;}
.ycc{bottom:980.000000pt;}
.y8e{bottom:982.666667pt;}
.y6b{bottom:988.000000pt;}
.y43{bottom:998.666667pt;}
.ycb{bottom:1004.000000pt;}
.y6a{bottom:1009.333333pt;}
.y11{bottom:1012.000000pt;}
.y42{bottom:1020.000000pt;}
.y69{bottom:1025.333333pt;}
.y10{bottom:1038.666667pt;}
.y41{bottom:1041.333333pt;}
.y1c{bottom:1065.333333pt;}
.h2{height:62.630933pt;}
.h6{height:75.157120pt;}
.h9{height:78.875000pt;}
.h7{height:92.020833pt;}
.h5{height:93.946400pt;}
.h1{height:112.666667pt;}
.h4{height:125.261866pt;}
.h3{height:250.523733pt;}
.h8{height:1063.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:370.000000pt;}
.w2{width:720.000000pt;}
.w0{width:793.333333pt;}
.x0{left:73.333333pt;}
.xd{left:76.000000pt;}
.xa{left:140.666667pt;}
.x6{left:194.960000pt;}
.x3{left:261.786667pt;}
.xb{left:269.520000pt;}
.x5{left:300.346667pt;}
.x8{left:326.666667pt;}
.x9{left:328.653333pt;}
.x7{left:358.866667pt;}
.x1{left:368.106667pt;}
.x4{left:389.253333pt;}
.x2{left:394.813333pt;}
.xe{left:699.546667pt;}
.xc{left:708.440000pt;}
}
