.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc7{color:rgb(33,78,123);}
.fc4{color:rgb(102,0,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(255,0,0);}
.fc2{color:rgb(0,0,51);}
.fc6{color:rgb(66,184,55);}
.fc1{color:rgb(120,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:80.000000px;}
.fs1{font-size:160.000000px;}
.yf{bottom:17.000000px;}
.y3a{bottom:31.000000px;}
.y10{bottom:44.500000px;}
.y75{bottom:62.000000px;}
.y4d{bottom:65.000000px;}
.y35{bottom:66.000000px;}
.yc5{bottom:74.000000px;}
.yb2{bottom:77.500000px;}
.y74{bottom:78.000000px;}
.y34{bottom:86.000000px;}
.y73{bottom:90.000000px;}
.y50{bottom:96.500000px;}
.y72{bottom:102.000000px;}
.y33{bottom:104.000000px;}
.y9c{bottom:109.500000px;}
.yaf{bottom:111.000000px;}
.yc8{bottom:117.500000px;}
.y32{bottom:122.000000px;}
.y4c{bottom:130.000000px;}
.yae{bottom:131.000000px;}
.y78{bottom:133.500000px;}
.y31{bottom:134.000000px;}
.y99{bottom:143.000000px;}
.yad{bottom:149.000000px;}
.y30{bottom:150.000000px;}
.yc4{bottom:151.000000px;}
.y98{bottom:163.000000px;}
.y2f{bottom:166.000000px;}
.y71{bottom:167.000000px;}
.y4b{bottom:168.000000px;}
.yc3{bottom:171.000000px;}
.yac{bottom:179.000000px;}
.y97{bottom:181.000000px;}
.y2e{bottom:182.000000px;}
.y4a{bottom:186.000000px;}
.y70{bottom:187.000000px;}
.yc2{bottom:189.000000px;}
.yab{bottom:195.000000px;}
.y2d{bottom:198.000000px;}
.y96{bottom:199.000000px;}
.y6f{bottom:205.000000px;}
.yc1{bottom:207.000000px;}
.y95{bottom:211.000000px;}
.y2c{bottom:214.000000px;}
.yc0{bottom:219.000000px;}
.y6e{bottom:223.000000px;}
.y94{bottom:227.000000px;}
.y2b{bottom:230.000000px;}
.y6d{bottom:235.000000px;}
.y2a{bottom:242.000000px;}
.y93{bottom:243.000000px;}
.y49{bottom:246.000000px;}
.y6c{bottom:251.000000px;}
.y29{bottom:254.000000px;}
.y92{bottom:259.000000px;}
.y48{bottom:262.000000px;}
.y6b{bottom:267.000000px;}
.y47{bottom:274.000000px;}
.y91{bottom:275.000000px;}
.y6a{bottom:283.000000px;}
.y38{bottom:285.500000px;}
.y46{bottom:286.000000px;}
.y90{bottom:287.000000px;}
.yaa{bottom:291.000000px;}
.ybf{bottom:295.000000px;}
.y69{bottom:299.000000px;}
.ya9{bottom:307.000000px;}
.y68{bottom:311.000000px;}
.y8f{bottom:315.000000px;}
.y4f{bottom:317.500000px;}
.y28{bottom:319.000000px;}
.y67{bottom:323.000000px;}
.y8e{bottom:331.000000px;}
.ya8{bottom:335.000000px;}
.yc7{bottom:338.500000px;}
.y27{bottom:339.000000px;}
.ya7{bottom:347.000000px;}
.y45{bottom:351.000000px;}
.y26{bottom:357.000000px;}
.y9b{bottom:362.500000px;}
.ya6{bottom:363.000000px;}
.ye{bottom:366.000000px;}
.y77{bottom:370.500000px;}
.y44{bottom:371.000000px;}
.ybe{bottom:372.000000px;}
.y25{bottom:375.000000px;}
.yd{bottom:384.000000px;}
.y24{bottom:387.000000px;}
.y43{bottom:389.000000px;}
.ybd{bottom:392.000000px;}
.yb1{bottom:394.500000px;}
.y8d{bottom:396.000000px;}
.y23{bottom:403.000000px;}
.y66{bottom:404.000000px;}
.y42{bottom:407.000000px;}
.ybc{bottom:410.000000px;}
.yc{bottom:414.000000px;}
.y8c{bottom:416.000000px;}
.y22{bottom:419.000000px;}
.y65{bottom:424.000000px;}
.ya5{bottom:428.000000px;}
.yb{bottom:429.000000px;}
.y8b{bottom:434.000000px;}
.y21{bottom:435.000000px;}
.ya{bottom:439.000000px;}
.ybb{bottom:440.000000px;}
.y64{bottom:442.000000px;}
.ya4{bottom:448.000000px;}
.y20{bottom:451.000000px;}
.y8a{bottom:452.000000px;}
.yba{bottom:456.000000px;}
.y63{bottom:460.000000px;}
.y9{bottom:461.500000px;}
.y89{bottom:464.000000px;}
.ya3{bottom:466.000000px;}
.y1f{bottom:467.000000px;}
.y62{bottom:472.000000px;}
.y1e{bottom:479.000000px;}
.y88{bottom:480.000000px;}
.y41{bottom:483.000000px;}
.y8{bottom:484.000000px;}
.y61{bottom:488.000000px;}
.y1d{bottom:491.000000px;}
.y7{bottom:494.000000px;}
.y40{bottom:495.000000px;}
.y87{bottom:496.000000px;}
.y60{bottom:504.000000px;}
.y1c{bottom:507.000000px;}
.y86{bottom:512.000000px;}
.yb9{bottom:516.000000px;}
.y5f{bottom:520.000000px;}
.y3f{bottom:523.000000px;}
.y6{bottom:524.000000px;}
.y5{bottom:526.000000px;}
.y85{bottom:528.000000px;}
.y5e{bottom:536.000000px;}
.y37{bottom:538.500000px;}
.y84{bottom:540.000000px;}
.ya2{bottom:544.000000px;}
.y5d{bottom:548.000000px;}
.y83{bottom:552.000000px;}
.y4e{bottom:554.500000px;}
.yc6{bottom:559.500000px;}
.y5c{bottom:560.000000px;}
.y82{bottom:568.000000px;}
.y1b{bottom:572.000000px;}
.ya1{bottom:584.000000px;}
.y4{bottom:586.000000px;}
.y3e{bottom:588.000000px;}
.y76{bottom:591.500000px;}
.y1a{bottom:592.000000px;}
.yb8{bottom:593.000000px;}
.y9a{bottom:599.500000px;}
.ya0{bottom:600.000000px;}
.y3d{bottom:608.000000px;}
.y19{bottom:610.000000px;}
.yb7{bottom:613.000000px;}
.y5b{bottom:625.000000px;}
.y3c{bottom:626.000000px;}
.y18{bottom:628.000000px;}
.yb6{bottom:631.000000px;}
.yb0{bottom:631.500000px;}
.y81{bottom:633.000000px;}
.y17{bottom:640.000000px;}
.y3b{bottom:644.000000px;}
.y5a{bottom:645.000000px;}
.yb5{bottom:649.000000px;}
.y80{bottom:653.000000px;}
.y16{bottom:656.000000px;}
.yb4{bottom:661.000000px;}
.y59{bottom:663.000000px;}
.y9f{bottom:665.000000px;}
.y7f{bottom:671.000000px;}
.y15{bottom:672.000000px;}
.yb3{bottom:677.000000px;}
.y58{bottom:681.000000px;}
.y9e{bottom:685.000000px;}
.y3{bottom:686.000000px;}
.y2{bottom:688.000000px;}
.y7e{bottom:689.000000px;}
.y57{bottom:693.000000px;}
.y7d{bottom:701.000000px;}
.y1{bottom:703.000000px;}
.y14{bottom:704.000000px;}
.y56{bottom:709.000000px;}
.y0{bottom:712.500000px;}
.y7c{bottom:717.000000px;}
.y13{bottom:720.000000px;}
.y9d{bottom:721.000000px;}
.y55{bottom:725.000000px;}
.y12{bottom:732.000000px;}
.y7b{bottom:733.000000px;}
.y54{bottom:741.000000px;}
.y11{bottom:744.000000px;}
.y7a{bottom:749.000000px;}
.y53{bottom:757.000000px;}
.y79{bottom:765.000000px;}
.y52{bottom:769.000000px;}
.y36{bottom:775.500000px;}
.y51{bottom:781.000000px;}
.y39{bottom:799.000000px;}
.h2{height:46.973200px;}
.h6{height:56.367840px;}
.h9{height:59.156250px;}
.h7{height:69.015625px;}
.h5{height:70.459800px;}
.h1{height:84.500000px;}
.h4{height:93.946400px;}
.h3{height:187.892799px;}
.h8{height:752.500000px;}
.h0{height:842.000000px;}
.w1{width:277.500000px;}
.w2{width:485.500000px;}
.w0{width:595.000000px;}
.x0{left:55.000000px;}
.xa{left:57.000000px;}
.x6{left:84.340000px;}
.xb{left:205.810000px;}
.x3{left:208.620000px;}
.x5{left:226.370000px;}
.x8{left:227.820000px;}
.x9{left:245.000000px;}
.x7{left:269.580000px;}
.x1{left:276.080000px;}
.x4{left:291.940000px;}
.x2{left:296.110000px;}
.xc{left:531.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:106.666667pt;}
.fs1{font-size:213.333333pt;}
.yf{bottom:22.666667pt;}
.y3a{bottom:41.333333pt;}
.y10{bottom:59.333333pt;}
.y75{bottom:82.666667pt;}
.y4d{bottom:86.666667pt;}
.y35{bottom:88.000000pt;}
.yc5{bottom:98.666667pt;}
.yb2{bottom:103.333333pt;}
.y74{bottom:104.000000pt;}
.y34{bottom:114.666667pt;}
.y73{bottom:120.000000pt;}
.y50{bottom:128.666667pt;}
.y72{bottom:136.000000pt;}
.y33{bottom:138.666667pt;}
.y9c{bottom:146.000000pt;}
.yaf{bottom:148.000000pt;}
.yc8{bottom:156.666667pt;}
.y32{bottom:162.666667pt;}
.y4c{bottom:173.333333pt;}
.yae{bottom:174.666667pt;}
.y78{bottom:178.000000pt;}
.y31{bottom:178.666667pt;}
.y99{bottom:190.666667pt;}
.yad{bottom:198.666667pt;}
.y30{bottom:200.000000pt;}
.yc4{bottom:201.333333pt;}
.y98{bottom:217.333333pt;}
.y2f{bottom:221.333333pt;}
.y71{bottom:222.666667pt;}
.y4b{bottom:224.000000pt;}
.yc3{bottom:228.000000pt;}
.yac{bottom:238.666667pt;}
.y97{bottom:241.333333pt;}
.y2e{bottom:242.666667pt;}
.y4a{bottom:248.000000pt;}
.y70{bottom:249.333333pt;}
.yc2{bottom:252.000000pt;}
.yab{bottom:260.000000pt;}
.y2d{bottom:264.000000pt;}
.y96{bottom:265.333333pt;}
.y6f{bottom:273.333333pt;}
.yc1{bottom:276.000000pt;}
.y95{bottom:281.333333pt;}
.y2c{bottom:285.333333pt;}
.yc0{bottom:292.000000pt;}
.y6e{bottom:297.333333pt;}
.y94{bottom:302.666667pt;}
.y2b{bottom:306.666667pt;}
.y6d{bottom:313.333333pt;}
.y2a{bottom:322.666667pt;}
.y93{bottom:324.000000pt;}
.y49{bottom:328.000000pt;}
.y6c{bottom:334.666667pt;}
.y29{bottom:338.666667pt;}
.y92{bottom:345.333333pt;}
.y48{bottom:349.333333pt;}
.y6b{bottom:356.000000pt;}
.y47{bottom:365.333333pt;}
.y91{bottom:366.666667pt;}
.y6a{bottom:377.333333pt;}
.y38{bottom:380.666667pt;}
.y46{bottom:381.333333pt;}
.y90{bottom:382.666667pt;}
.yaa{bottom:388.000000pt;}
.ybf{bottom:393.333333pt;}
.y69{bottom:398.666667pt;}
.ya9{bottom:409.333333pt;}
.y68{bottom:414.666667pt;}
.y8f{bottom:420.000000pt;}
.y4f{bottom:423.333333pt;}
.y28{bottom:425.333333pt;}
.y67{bottom:430.666667pt;}
.y8e{bottom:441.333333pt;}
.ya8{bottom:446.666667pt;}
.yc7{bottom:451.333333pt;}
.y27{bottom:452.000000pt;}
.ya7{bottom:462.666667pt;}
.y45{bottom:468.000000pt;}
.y26{bottom:476.000000pt;}
.y9b{bottom:483.333333pt;}
.ya6{bottom:484.000000pt;}
.ye{bottom:488.000000pt;}
.y77{bottom:494.000000pt;}
.y44{bottom:494.666667pt;}
.ybe{bottom:496.000000pt;}
.y25{bottom:500.000000pt;}
.yd{bottom:512.000000pt;}
.y24{bottom:516.000000pt;}
.y43{bottom:518.666667pt;}
.ybd{bottom:522.666667pt;}
.yb1{bottom:526.000000pt;}
.y8d{bottom:528.000000pt;}
.y23{bottom:537.333333pt;}
.y66{bottom:538.666667pt;}
.y42{bottom:542.666667pt;}
.ybc{bottom:546.666667pt;}
.yc{bottom:552.000000pt;}
.y8c{bottom:554.666667pt;}
.y22{bottom:558.666667pt;}
.y65{bottom:565.333333pt;}
.ya5{bottom:570.666667pt;}
.yb{bottom:572.000000pt;}
.y8b{bottom:578.666667pt;}
.y21{bottom:580.000000pt;}
.ya{bottom:585.333333pt;}
.ybb{bottom:586.666667pt;}
.y64{bottom:589.333333pt;}
.ya4{bottom:597.333333pt;}
.y20{bottom:601.333333pt;}
.y8a{bottom:602.666667pt;}
.yba{bottom:608.000000pt;}
.y63{bottom:613.333333pt;}
.y9{bottom:615.333333pt;}
.y89{bottom:618.666667pt;}
.ya3{bottom:621.333333pt;}
.y1f{bottom:622.666667pt;}
.y62{bottom:629.333333pt;}
.y1e{bottom:638.666667pt;}
.y88{bottom:640.000000pt;}
.y41{bottom:644.000000pt;}
.y8{bottom:645.333333pt;}
.y61{bottom:650.666667pt;}
.y1d{bottom:654.666667pt;}
.y7{bottom:658.666667pt;}
.y40{bottom:660.000000pt;}
.y87{bottom:661.333333pt;}
.y60{bottom:672.000000pt;}
.y1c{bottom:676.000000pt;}
.y86{bottom:682.666667pt;}
.yb9{bottom:688.000000pt;}
.y5f{bottom:693.333333pt;}
.y3f{bottom:697.333333pt;}
.y6{bottom:698.666667pt;}
.y5{bottom:701.333333pt;}
.y85{bottom:704.000000pt;}
.y5e{bottom:714.666667pt;}
.y37{bottom:718.000000pt;}
.y84{bottom:720.000000pt;}
.ya2{bottom:725.333333pt;}
.y5d{bottom:730.666667pt;}
.y83{bottom:736.000000pt;}
.y4e{bottom:739.333333pt;}
.yc6{bottom:746.000000pt;}
.y5c{bottom:746.666667pt;}
.y82{bottom:757.333333pt;}
.y1b{bottom:762.666667pt;}
.ya1{bottom:778.666667pt;}
.y4{bottom:781.333333pt;}
.y3e{bottom:784.000000pt;}
.y76{bottom:788.666667pt;}
.y1a{bottom:789.333333pt;}
.yb8{bottom:790.666667pt;}
.y9a{bottom:799.333333pt;}
.ya0{bottom:800.000000pt;}
.y3d{bottom:810.666667pt;}
.y19{bottom:813.333333pt;}
.yb7{bottom:817.333333pt;}
.y5b{bottom:833.333333pt;}
.y3c{bottom:834.666667pt;}
.y18{bottom:837.333333pt;}
.yb6{bottom:841.333333pt;}
.yb0{bottom:842.000000pt;}
.y81{bottom:844.000000pt;}
.y17{bottom:853.333333pt;}
.y3b{bottom:858.666667pt;}
.y5a{bottom:860.000000pt;}
.yb5{bottom:865.333333pt;}
.y80{bottom:870.666667pt;}
.y16{bottom:874.666667pt;}
.yb4{bottom:881.333333pt;}
.y59{bottom:884.000000pt;}
.y9f{bottom:886.666667pt;}
.y7f{bottom:894.666667pt;}
.y15{bottom:896.000000pt;}
.yb3{bottom:902.666667pt;}
.y58{bottom:908.000000pt;}
.y9e{bottom:913.333333pt;}
.y3{bottom:914.666667pt;}
.y2{bottom:917.333333pt;}
.y7e{bottom:918.666667pt;}
.y57{bottom:924.000000pt;}
.y7d{bottom:934.666667pt;}
.y1{bottom:937.333333pt;}
.y14{bottom:938.666667pt;}
.y56{bottom:945.333333pt;}
.y0{bottom:950.000000pt;}
.y7c{bottom:956.000000pt;}
.y13{bottom:960.000000pt;}
.y9d{bottom:961.333333pt;}
.y55{bottom:966.666667pt;}
.y12{bottom:976.000000pt;}
.y7b{bottom:977.333333pt;}
.y54{bottom:988.000000pt;}
.y11{bottom:992.000000pt;}
.y7a{bottom:998.666667pt;}
.y53{bottom:1009.333333pt;}
.y79{bottom:1020.000000pt;}
.y52{bottom:1025.333333pt;}
.y36{bottom:1034.000000pt;}
.y51{bottom:1041.333333pt;}
.y39{bottom:1065.333333pt;}
.h2{height:62.630933pt;}
.h6{height:75.157120pt;}
.h9{height:78.875000pt;}
.h7{height:92.020833pt;}
.h5{height:93.946400pt;}
.h1{height:112.666667pt;}
.h4{height:125.261866pt;}
.h3{height:250.523733pt;}
.h8{height:1003.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:370.000000pt;}
.w2{width:647.333333pt;}
.w0{width:793.333333pt;}
.x0{left:73.333333pt;}
.xa{left:76.000000pt;}
.x6{left:112.453333pt;}
.xb{left:274.413333pt;}
.x3{left:278.160000pt;}
.x5{left:301.826667pt;}
.x8{left:303.760000pt;}
.x9{left:326.666667pt;}
.x7{left:359.440000pt;}
.x1{left:368.106667pt;}
.x4{left:389.253333pt;}
.x2{left:394.813333pt;}
.xc{left:708.440000pt;}
}
