.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.921875;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls4c{letter-spacing:-0.105408px;}
.ls22{letter-spacing:-0.101016px;}
.ls51{letter-spacing:-0.092232px;}
.ls53{letter-spacing:-0.087840px;}
.ls2b{letter-spacing:-0.083448px;}
.ls48{letter-spacing:-0.079056px;}
.ls2{letter-spacing:-0.076896px;}
.ls2f{letter-spacing:-0.074664px;}
.ls15{letter-spacing:-0.070272px;}
.ls6{letter-spacing:-0.067248px;}
.ls52{letter-spacing:-0.065880px;}
.ls57{letter-spacing:-0.061488px;}
.ls38{letter-spacing:-0.057096px;}
.ls8{letter-spacing:-0.056040px;}
.ls32{letter-spacing:-0.052704px;}
.ls3a{letter-spacing:-0.048312px;}
.ls1c{letter-spacing:-0.043920px;}
.ls18{letter-spacing:-0.039528px;}
.ls13{letter-spacing:-0.035136px;}
.ls5{letter-spacing:-0.033624px;}
.ls26{letter-spacing:-0.030744px;}
.ls20{letter-spacing:-0.026352px;}
.ls9{letter-spacing:-0.021960px;}
.ls31{letter-spacing:-0.017568px;}
.ls1d{letter-spacing:-0.013176px;}
.lsb{letter-spacing:-0.008784px;}
.ls12{letter-spacing:-0.004392px;}
.ls1{letter-spacing:0.000000px;}
.ls1a{letter-spacing:0.004392px;}
.ls0{letter-spacing:0.006408px;}
.ls17{letter-spacing:0.008784px;}
.ls3{letter-spacing:0.011208px;}
.ls16{letter-spacing:0.013176px;}
.ls2c{letter-spacing:0.017568px;}
.ls33{letter-spacing:0.021960px;}
.ls1b{letter-spacing:0.026352px;}
.ls25{letter-spacing:0.030744px;}
.ls29{letter-spacing:0.035136px;}
.ls2e{letter-spacing:0.039528px;}
.ls1e{letter-spacing:0.043920px;}
.ls28{letter-spacing:0.048312px;}
.lsa{letter-spacing:0.052704px;}
.ls10{letter-spacing:0.057096px;}
.lsc{letter-spacing:0.061488px;}
.lsd{letter-spacing:0.065880px;}
.ls7{letter-spacing:0.067248px;}
.ls30{letter-spacing:0.070272px;}
.ls19{letter-spacing:0.074664px;}
.ls4{letter-spacing:0.078456px;}
.ls2d{letter-spacing:0.079056px;}
.lse{letter-spacing:0.083448px;}
.ls3e{letter-spacing:0.087840px;}
.ls37{letter-spacing:0.092232px;}
.ls3d{letter-spacing:0.096624px;}
.ls21{letter-spacing:0.101016px;}
.ls49{letter-spacing:0.105408px;}
.ls1f{letter-spacing:0.109800px;}
.ls24{letter-spacing:0.118584px;}
.ls14{letter-spacing:0.122976px;}
.ls50{letter-spacing:0.127368px;}
.ls46{letter-spacing:0.131760px;}
.ls42{letter-spacing:0.136152px;}
.ls4b{letter-spacing:0.140544px;}
.ls3b{letter-spacing:0.144936px;}
.lsf{letter-spacing:0.149328px;}
.ls45{letter-spacing:0.153720px;}
.ls11{letter-spacing:0.158112px;}
.ls2a{letter-spacing:0.162504px;}
.ls3c{letter-spacing:0.166896px;}
.ls54{letter-spacing:0.175680px;}
.ls47{letter-spacing:0.180072px;}
.ls43{letter-spacing:0.184464px;}
.ls44{letter-spacing:0.188856px;}
.ls3f{letter-spacing:0.193248px;}
.ls36{letter-spacing:0.197640px;}
.ls4d{letter-spacing:0.202032px;}
.ls56{letter-spacing:0.206424px;}
.ls35{letter-spacing:0.215208px;}
.ls39{letter-spacing:0.223992px;}
.ls41{letter-spacing:0.241560px;}
.ls4f{letter-spacing:0.254736px;}
.ls55{letter-spacing:0.263520px;}
.ls58{letter-spacing:0.281088px;}
.ls40{letter-spacing:0.285480px;}
.ls4e{letter-spacing:0.298656px;}
.ls23{letter-spacing:0.320616px;}
.ls34{letter-spacing:0.342576px;}
.ls4a{letter-spacing:0.351360px;}
.ls27{letter-spacing:0.360144px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.005768px;}
._0{width:1.054080px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs3{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs2{font-size:112.080000px;}
.y17{bottom:16.000000px;}
.y16{bottom:39.840100px;}
.y7d{bottom:78.604980px;}
.yae{bottom:84.040080px;}
.y8d{bottom:84.051060px;}
.y46{bottom:90.046140px;}
.y2f{bottom:90.057120px;}
.y15{bottom:92.100360px;}
.y6e{bottom:93.197400px;}
.y54{bottom:100.070880px;}
.y7c{bottom:104.100540px;}
.y6d{bottom:108.613320px;}
.yad{bottom:109.480740px;}
.y8c{bottom:109.491720px;}
.y45{bottom:115.486800px;}
.y2e{bottom:115.497780px;}
.y14{bottom:117.541020px;}
.y9a{bottom:119.516460px;}
.y53{bottom:125.511540px;}
.y7b{bottom:129.541200px;}
.y6c{bottom:134.108880px;}
.yac{bottom:134.921400px;}
.y8b{bottom:134.932380px;}
.y44{bottom:140.927460px;}
.y2d{bottom:140.938440px;}
.y13{bottom:142.981680px;}
.y99{bottom:144.957120px;}
.y7a{bottom:154.981860px;}
.y6b{bottom:159.549540px;}
.yab{bottom:160.362060px;}
.y8a{bottom:160.373040px;}
.y43{bottom:166.368120px;}
.y2c{bottom:166.379100px;}
.y12{bottom:168.422340px;}
.y98{bottom:170.397780px;}
.y79{bottom:180.422520px;}
.y6a{bottom:184.990200px;}
.yaa{bottom:185.802720px;}
.y89{bottom:185.813700px;}
.y42{bottom:191.808780px;}
.y2b{bottom:191.819760px;}
.y11{bottom:193.863000px;}
.y78{bottom:195.838440px;}
.y69{bottom:210.430860px;}
.ya9{bottom:211.243380px;}
.y77{bottom:211.254360px;}
.y41{bottom:217.249440px;}
.y2a{bottom:217.260420px;}
.y10{bottom:219.303660px;}
.y97{bottom:221.279100px;}
.y68{bottom:225.846780px;}
.y88{bottom:226.736160px;}
.y76{bottom:232.731240px;}
.ya8{bottom:236.684040px;}
.y91{bottom:236.695020px;}
.y67{bottom:241.262700px;}
.y40{bottom:242.690100px;}
.y29{bottom:242.701080px;}
.yf{bottom:244.744320px;}
.y96{bottom:246.719760px;}
.y87{bottom:248.158140px;}
.y90{bottom:252.176820px;}
.y66{bottom:256.744500px;}
.y75{bottom:258.171900px;}
.ya7{bottom:262.124700px;}
.y95{bottom:262.135680px;}
.y3f{bottom:268.130760px;}
.y28{bottom:268.141740px;}
.y65{bottom:272.160420px;}
.y86{bottom:273.598800px;}
.ya6{bottom:277.606500px;}
.y94{bottom:277.617480px;}
.ye{bottom:277.860000px;}
.yd{bottom:277.868700px;}
.y74{bottom:283.612560px;}
.ya5{bottom:293.022420px;}
.ya4{bottom:293.033400px;}
.y3e{bottom:293.571420px;}
.y27{bottom:293.582400px;}
.y85{bottom:299.039460px;}
.y73{bottom:305.034540px;}
.y3d{bottom:309.053220px;}
.y26{bottom:309.064200px;}
.ya3{bottom:314.455380px;}
.yc{bottom:317.096700px;}
.y64{bottom:319.023060px;}
.y84{bottom:320.461440px;}
.y52{bottom:324.469140px;}
.y8f{bottom:324.480120px;}
.y3c{bottom:330.475200px;}
.y25{bottom:330.486180px;}
.ya2{bottom:339.950940px;}
.y63{bottom:344.463720px;}
.y51{bottom:345.946020px;}
.y83{bottom:345.957000px;}
.y93{bottom:349.920780px;}
.y3b{bottom:355.915860px;}
.y24{bottom:355.926840px;}
.yb{bottom:356.408760px;}
.ya1{bottom:365.391600px;}
.y62{bottom:365.940600px;}
.y50{bottom:371.386680px;}
.y82{bottom:371.397660px;}
.y3a{bottom:381.356520px;}
.y23{bottom:381.367500px;}
.ya0{bottom:386.813580px;}
.y61{bottom:391.381260px;}
.y4f{bottom:396.827340px;}
.y81{bottom:396.838320px;}
.y39{bottom:402.833400px;}
.y22{bottom:402.844380px;}
.ya{bottom:405.780000px;}
.y72{bottom:406.797180px;}
.y9f{bottom:412.254240px;}
.y60{bottom:416.821920px;}
.y4e{bottom:418.249320px;}
.y80{bottom:422.278980px;}
.y38{bottom:428.274060px;}
.y21{bottom:428.285040px;}
.y71{bottom:432.237840px;}
.y9e{bottom:437.694900px;}
.y5f{bottom:442.262580px;}
.y4d{bottom:443.689980px;}
.y0{bottom:444.000000px;}
.y9{bottom:444.480540px;}
.y7f{bottom:447.719640px;}
.y37{bottom:453.714720px;}
.y20{bottom:453.725700px;}
.y5e{bottom:457.678500px;}
.y9d{bottom:463.135560px;}
.y4c{bottom:469.130640px;}
.y1f{bottom:469.141620px;}
.y7e{bottom:473.160300px;}
.y36{bottom:479.155380px;}
.y5d{bottom:483.119160px;}
.y9c{bottom:488.576220px;}
.y4b{bottom:494.571300px;}
.y1e{bottom:494.582280px;}
.y5c{bottom:498.600960px;}
.y35{bottom:504.596040px;}
.y70{bottom:508.559820px;}
.y9b{bottom:514.016880px;}
.y4a{bottom:520.011960px;}
.y1d{bottom:520.022940px;}
.y5b{bottom:524.041620px;}
.y34{bottom:530.036700px;}
.y1c{bottom:535.438860px;}
.y6f{bottom:539.457540px;}
.y49{bottom:545.452620px;}
.y5a{bottom:549.482280px;}
.y33{bottom:555.477360px;}
.y8{bottom:556.915740px;}
.y1b{bottom:560.879520px;}
.y8e{bottom:564.898200px;}
.y48{bottom:570.893280px;}
.y59{bottom:574.922940px;}
.y32{bottom:580.918020px;}
.y7{bottom:582.356400px;}
.y1a{bottom:586.375080px;}
.y92{bottom:590.338860px;}
.y47{bottom:596.333940px;}
.y58{bottom:600.363600px;}
.y31{bottom:606.358680px;}
.y6{bottom:607.797060px;}
.y19{bottom:611.815740px;}
.y57{bottom:615.779520px;}
.y30{bottom:621.774600px;}
.y5{bottom:633.237720px;}
.y18{bottom:637.256400px;}
.y4{bottom:658.678380px;}
.y56{bottom:662.697060px;}
.y3{bottom:684.119040px;}
.y55{bottom:688.137720px;}
.y2{bottom:709.559700px;}
.y1{bottom:740.820000px;}
.h3{height:29.272852px;}
.h5{height:30.023438px;}
.h7{height:32.661211px;}
.h2{height:43.804688px;}
.h6{height:69.015625px;}
.h4{height:76.617188px;}
.h1{height:98.000000px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x9{left:71.994180px;}
.xc{left:80.849880px;}
.x5{left:104.626740px;}
.x0{left:135.500000px;}
.x6{left:148.225860px;}
.x7{left:230.716740px;}
.xb{left:253.000000px;}
.x4{left:257.700000px;}
.x1{left:278.400000px;}
.x2{left:306.000300px;}
.x8{left:381.180000px;}
.x3{left:477.716520px;}
.xa{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls4c{letter-spacing:-0.140544pt;}
.ls22{letter-spacing:-0.134688pt;}
.ls51{letter-spacing:-0.122976pt;}
.ls53{letter-spacing:-0.117120pt;}
.ls2b{letter-spacing:-0.111264pt;}
.ls48{letter-spacing:-0.105408pt;}
.ls2{letter-spacing:-0.102528pt;}
.ls2f{letter-spacing:-0.099552pt;}
.ls15{letter-spacing:-0.093696pt;}
.ls6{letter-spacing:-0.089664pt;}
.ls52{letter-spacing:-0.087840pt;}
.ls57{letter-spacing:-0.081984pt;}
.ls38{letter-spacing:-0.076128pt;}
.ls8{letter-spacing:-0.074720pt;}
.ls32{letter-spacing:-0.070272pt;}
.ls3a{letter-spacing:-0.064416pt;}
.ls1c{letter-spacing:-0.058560pt;}
.ls18{letter-spacing:-0.052704pt;}
.ls13{letter-spacing:-0.046848pt;}
.ls5{letter-spacing:-0.044832pt;}
.ls26{letter-spacing:-0.040992pt;}
.ls20{letter-spacing:-0.035136pt;}
.ls9{letter-spacing:-0.029280pt;}
.ls31{letter-spacing:-0.023424pt;}
.ls1d{letter-spacing:-0.017568pt;}
.lsb{letter-spacing:-0.011712pt;}
.ls12{letter-spacing:-0.005856pt;}
.ls1{letter-spacing:0.000000pt;}
.ls1a{letter-spacing:0.005856pt;}
.ls0{letter-spacing:0.008544pt;}
.ls17{letter-spacing:0.011712pt;}
.ls3{letter-spacing:0.014944pt;}
.ls16{letter-spacing:0.017568pt;}
.ls2c{letter-spacing:0.023424pt;}
.ls33{letter-spacing:0.029280pt;}
.ls1b{letter-spacing:0.035136pt;}
.ls25{letter-spacing:0.040992pt;}
.ls29{letter-spacing:0.046848pt;}
.ls2e{letter-spacing:0.052704pt;}
.ls1e{letter-spacing:0.058560pt;}
.ls28{letter-spacing:0.064416pt;}
.lsa{letter-spacing:0.070272pt;}
.ls10{letter-spacing:0.076128pt;}
.lsc{letter-spacing:0.081984pt;}
.lsd{letter-spacing:0.087840pt;}
.ls7{letter-spacing:0.089664pt;}
.ls30{letter-spacing:0.093696pt;}
.ls19{letter-spacing:0.099552pt;}
.ls4{letter-spacing:0.104608pt;}
.ls2d{letter-spacing:0.105408pt;}
.lse{letter-spacing:0.111264pt;}
.ls3e{letter-spacing:0.117120pt;}
.ls37{letter-spacing:0.122976pt;}
.ls3d{letter-spacing:0.128832pt;}
.ls21{letter-spacing:0.134688pt;}
.ls49{letter-spacing:0.140544pt;}
.ls1f{letter-spacing:0.146400pt;}
.ls24{letter-spacing:0.158112pt;}
.ls14{letter-spacing:0.163968pt;}
.ls50{letter-spacing:0.169824pt;}
.ls46{letter-spacing:0.175680pt;}
.ls42{letter-spacing:0.181536pt;}
.ls4b{letter-spacing:0.187392pt;}
.ls3b{letter-spacing:0.193248pt;}
.lsf{letter-spacing:0.199104pt;}
.ls45{letter-spacing:0.204960pt;}
.ls11{letter-spacing:0.210816pt;}
.ls2a{letter-spacing:0.216672pt;}
.ls3c{letter-spacing:0.222528pt;}
.ls54{letter-spacing:0.234240pt;}
.ls47{letter-spacing:0.240096pt;}
.ls43{letter-spacing:0.245952pt;}
.ls44{letter-spacing:0.251808pt;}
.ls3f{letter-spacing:0.257664pt;}
.ls36{letter-spacing:0.263520pt;}
.ls4d{letter-spacing:0.269376pt;}
.ls56{letter-spacing:0.275232pt;}
.ls35{letter-spacing:0.286944pt;}
.ls39{letter-spacing:0.298656pt;}
.ls41{letter-spacing:0.322080pt;}
.ls4f{letter-spacing:0.339648pt;}
.ls55{letter-spacing:0.351360pt;}
.ls58{letter-spacing:0.374784pt;}
.ls40{letter-spacing:0.380640pt;}
.ls4e{letter-spacing:0.398208pt;}
.ls23{letter-spacing:0.427488pt;}
.ls34{letter-spacing:0.456768pt;}
.ls4a{letter-spacing:0.468480pt;}
.ls27{letter-spacing:0.480192pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.341024pt;}
._0{width:1.405440pt;}
.fs1{font-size:58.560000pt;}
.fs3{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs2{font-size:149.440000pt;}
.y17{bottom:21.333333pt;}
.y16{bottom:53.120133pt;}
.y7d{bottom:104.806640pt;}
.yae{bottom:112.053440pt;}
.y8d{bottom:112.068080pt;}
.y46{bottom:120.061520pt;}
.y2f{bottom:120.076160pt;}
.y15{bottom:122.800480pt;}
.y6e{bottom:124.263200pt;}
.y54{bottom:133.427840pt;}
.y7c{bottom:138.800720pt;}
.y6d{bottom:144.817760pt;}
.yad{bottom:145.974320pt;}
.y8c{bottom:145.988960pt;}
.y45{bottom:153.982400pt;}
.y2e{bottom:153.997040pt;}
.y14{bottom:156.721360pt;}
.y9a{bottom:159.355280pt;}
.y53{bottom:167.348720pt;}
.y7b{bottom:172.721600pt;}
.y6c{bottom:178.811840pt;}
.yac{bottom:179.895200pt;}
.y8b{bottom:179.909840pt;}
.y44{bottom:187.903280pt;}
.y2d{bottom:187.917920pt;}
.y13{bottom:190.642240pt;}
.y99{bottom:193.276160pt;}
.y7a{bottom:206.642480pt;}
.y6b{bottom:212.732720pt;}
.yab{bottom:213.816080pt;}
.y8a{bottom:213.830720pt;}
.y43{bottom:221.824160pt;}
.y2c{bottom:221.838800pt;}
.y12{bottom:224.563120pt;}
.y98{bottom:227.197040pt;}
.y79{bottom:240.563360pt;}
.y6a{bottom:246.653600pt;}
.yaa{bottom:247.736960pt;}
.y89{bottom:247.751600pt;}
.y42{bottom:255.745040pt;}
.y2b{bottom:255.759680pt;}
.y11{bottom:258.484000pt;}
.y78{bottom:261.117920pt;}
.y69{bottom:280.574480pt;}
.ya9{bottom:281.657840pt;}
.y77{bottom:281.672480pt;}
.y41{bottom:289.665920pt;}
.y2a{bottom:289.680560pt;}
.y10{bottom:292.404880pt;}
.y97{bottom:295.038800pt;}
.y68{bottom:301.129040pt;}
.y88{bottom:302.314880pt;}
.y76{bottom:310.308320pt;}
.ya8{bottom:315.578720pt;}
.y91{bottom:315.593360pt;}
.y67{bottom:321.683600pt;}
.y40{bottom:323.586800pt;}
.y29{bottom:323.601440pt;}
.yf{bottom:326.325760pt;}
.y96{bottom:328.959680pt;}
.y87{bottom:330.877520pt;}
.y90{bottom:336.235760pt;}
.y66{bottom:342.326000pt;}
.y75{bottom:344.229200pt;}
.ya7{bottom:349.499600pt;}
.y95{bottom:349.514240pt;}
.y3f{bottom:357.507680pt;}
.y28{bottom:357.522320pt;}
.y65{bottom:362.880560pt;}
.y86{bottom:364.798400pt;}
.ya6{bottom:370.142000pt;}
.y94{bottom:370.156640pt;}
.ye{bottom:370.480000pt;}
.yd{bottom:370.491600pt;}
.y74{bottom:378.150080pt;}
.ya5{bottom:390.696560pt;}
.ya4{bottom:390.711200pt;}
.y3e{bottom:391.428560pt;}
.y27{bottom:391.443200pt;}
.y85{bottom:398.719280pt;}
.y73{bottom:406.712720pt;}
.y3d{bottom:412.070960pt;}
.y26{bottom:412.085600pt;}
.ya3{bottom:419.273840pt;}
.yc{bottom:422.795600pt;}
.y64{bottom:425.364080pt;}
.y84{bottom:427.281920pt;}
.y52{bottom:432.625520pt;}
.y8f{bottom:432.640160pt;}
.y3c{bottom:440.633600pt;}
.y25{bottom:440.648240pt;}
.ya2{bottom:453.267920pt;}
.y63{bottom:459.284960pt;}
.y51{bottom:461.261360pt;}
.y83{bottom:461.276000pt;}
.y93{bottom:466.561040pt;}
.y3b{bottom:474.554480pt;}
.y24{bottom:474.569120pt;}
.yb{bottom:475.211680pt;}
.ya1{bottom:487.188800pt;}
.y62{bottom:487.920800pt;}
.y50{bottom:495.182240pt;}
.y82{bottom:495.196880pt;}
.y3a{bottom:508.475360pt;}
.y23{bottom:508.490000pt;}
.ya0{bottom:515.751440pt;}
.y61{bottom:521.841680pt;}
.y4f{bottom:529.103120pt;}
.y81{bottom:529.117760pt;}
.y39{bottom:537.111200pt;}
.y22{bottom:537.125840pt;}
.ya{bottom:541.040000pt;}
.y72{bottom:542.396240pt;}
.y9f{bottom:549.672320pt;}
.y60{bottom:555.762560pt;}
.y4e{bottom:557.665760pt;}
.y80{bottom:563.038640pt;}
.y38{bottom:571.032080pt;}
.y21{bottom:571.046720pt;}
.y71{bottom:576.317120pt;}
.y9e{bottom:583.593200pt;}
.y5f{bottom:589.683440pt;}
.y4d{bottom:591.586640pt;}
.y0{bottom:592.000000pt;}
.y9{bottom:592.640720pt;}
.y7f{bottom:596.959520pt;}
.y37{bottom:604.952960pt;}
.y20{bottom:604.967600pt;}
.y5e{bottom:610.238000pt;}
.y9d{bottom:617.514080pt;}
.y4c{bottom:625.507520pt;}
.y1f{bottom:625.522160pt;}
.y7e{bottom:630.880400pt;}
.y36{bottom:638.873840pt;}
.y5d{bottom:644.158880pt;}
.y9c{bottom:651.434960pt;}
.y4b{bottom:659.428400pt;}
.y1e{bottom:659.443040pt;}
.y5c{bottom:664.801280pt;}
.y35{bottom:672.794720pt;}
.y70{bottom:678.079760pt;}
.y9b{bottom:685.355840pt;}
.y4a{bottom:693.349280pt;}
.y1d{bottom:693.363920pt;}
.y5b{bottom:698.722160pt;}
.y34{bottom:706.715600pt;}
.y1c{bottom:713.918480pt;}
.y6f{bottom:719.276720pt;}
.y49{bottom:727.270160pt;}
.y5a{bottom:732.643040pt;}
.y33{bottom:740.636480pt;}
.y8{bottom:742.554320pt;}
.y1b{bottom:747.839360pt;}
.y8e{bottom:753.197600pt;}
.y48{bottom:761.191040pt;}
.y59{bottom:766.563920pt;}
.y32{bottom:774.557360pt;}
.y7{bottom:776.475200pt;}
.y1a{bottom:781.833440pt;}
.y92{bottom:787.118480pt;}
.y47{bottom:795.111920pt;}
.y58{bottom:800.484800pt;}
.y31{bottom:808.478240pt;}
.y6{bottom:810.396080pt;}
.y19{bottom:815.754320pt;}
.y57{bottom:821.039360pt;}
.y30{bottom:829.032800pt;}
.y5{bottom:844.316960pt;}
.y18{bottom:849.675200pt;}
.y4{bottom:878.237840pt;}
.y56{bottom:883.596080pt;}
.y3{bottom:912.158720pt;}
.y55{bottom:917.516960pt;}
.y2{bottom:946.079600pt;}
.y1{bottom:987.760000pt;}
.h3{height:39.030469pt;}
.h5{height:40.031250pt;}
.h7{height:43.548281pt;}
.h2{height:58.406250pt;}
.h6{height:92.020833pt;}
.h4{height:102.156250pt;}
.h1{height:130.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x9{left:95.992240pt;}
.xc{left:107.799840pt;}
.x5{left:139.502320pt;}
.x0{left:180.666667pt;}
.x6{left:197.634480pt;}
.x7{left:307.622320pt;}
.xb{left:337.333333pt;}
.x4{left:343.600000pt;}
.x1{left:371.200000pt;}
.x2{left:408.000400pt;}
.x8{left:508.240000pt;}
.x3{left:636.955360pt;}
.xa{left:673.040000pt;}
}
