.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc7{color:rgb(33,78,123);}
.fc4{color:rgb(102,0,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(255,0,0);}
.fc2{color:rgb(0,0,51);}
.fc6{color:rgb(66,184,55);}
.fc1{color:rgb(120,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:80.000000px;}
.fs1{font-size:160.000000px;}
.ye{bottom:17.000000px;}
.y39{bottom:31.000000px;}
.yf{bottom:44.500000px;}
.y96{bottom:65.500000px;}
.y7d{bottom:66.000000px;}
.y5f{bottom:71.000000px;}
.y34{bottom:74.000000px;}
.y7c{bottom:82.000000px;}
.yb0{bottom:86.000000px;}
.y5e{bottom:87.000000px;}
.y33{bottom:90.000000px;}
.y93{bottom:99.000000px;}
.yaf{bottom:102.000000px;}
.y5d{bottom:103.000000px;}
.y32{bottom:106.000000px;}
.y80{bottom:113.500000px;}
.y5c{bottom:115.000000px;}
.y31{bottom:118.000000px;}
.y92{bottom:119.000000px;}
.y5b{bottom:127.000000px;}
.y30{bottom:130.000000px;}
.yb3{bottom:133.500000px;}
.y91{bottom:137.000000px;}
.y5a{bottom:143.000000px;}
.y2f{bottom:146.000000px;}
.y7b{bottom:147.000000px;}
.y90{bottom:155.000000px;}
.y59{bottom:159.000000px;}
.y2e{bottom:162.000000px;}
.y7a{bottom:167.000000px;}
.y58{bottom:175.000000px;}
.y2d{bottom:178.000000px;}
.y8f{bottom:183.000000px;}
.y79{bottom:185.000000px;}
.yae{bottom:187.000000px;}
.y8e{bottom:199.000000px;}
.y78{bottom:203.000000px;}
.yad{bottom:205.000000px;}
.y61{bottom:206.500000px;}
.y37{bottom:209.500000px;}
.y77{bottom:215.000000px;}
.yac{bottom:223.000000px;}
.y76{bottom:231.000000px;}
.yab{bottom:235.000000px;}
.y57{bottom:240.000000px;}
.y2c{bottom:243.000000px;}
.y75{bottom:247.000000px;}
.yaa{bottom:251.000000px;}
.y8d{bottom:255.000000px;}
.y56{bottom:260.000000px;}
.y2b{bottom:263.000000px;}
.ya9{bottom:267.000000px;}
.y8c{bottom:271.000000px;}
.y55{bottom:278.000000px;}
.y74{bottom:279.000000px;}
.y2a{bottom:281.000000px;}
.ya8{bottom:283.000000px;}
.y73{bottom:295.000000px;}
.y54{bottom:296.000000px;}
.y29{bottom:299.000000px;}
.y95{bottom:302.500000px;}
.y53{bottom:308.000000px;}
.y28{bottom:311.000000px;}
.y72{bottom:323.000000px;}
.y52{bottom:324.000000px;}
.y27{bottom:327.000000px;}
.y71{bottom:335.000000px;}
.y8b{bottom:336.000000px;}
.ya7{bottom:339.000000px;}
.y51{bottom:340.000000px;}
.y26{bottom:343.000000px;}
.y70{bottom:351.000000px;}
.y50{bottom:356.000000px;}
.y25{bottom:359.000000px;}
.yb2{bottom:370.500000px;}
.y4f{bottom:372.000000px;}
.y8a{bottom:374.000000px;}
.y24{bottom:375.000000px;}
.y7f{bottom:382.500000px;}
.y4e{bottom:388.000000px;}
.yd{bottom:388.500000px;}
.y23{bottom:391.000000px;}
.y89{bottom:392.000000px;}
.y4d{bottom:404.000000px;}
.yc{bottom:406.500000px;}
.y22{bottom:407.000000px;}
.y6f{bottom:416.000000px;}
.y4c{bottom:420.000000px;}
.y21{bottom:423.000000px;}
.ya6{bottom:424.000000px;}
.y4b{bottom:436.000000px;}
.yb{bottom:436.500000px;}
.y20{bottom:439.000000px;}
.ya5{bottom:442.000000px;}
.y4a{bottom:448.000000px;}
.y1f{bottom:451.000000px;}
.ya{bottom:451.500000px;}
.y88{bottom:452.000000px;}
.y6e{bottom:454.000000px;}
.y49{bottom:460.000000px;}
.y9{bottom:461.500000px;}
.y1e{bottom:463.000000px;}
.y87{bottom:468.000000px;}
.y6d{bottom:472.000000px;}
.y48{bottom:476.000000px;}
.y1d{bottom:479.000000px;}
.y8{bottom:484.000000px;}
.ya4{bottom:488.000000px;}
.y47{bottom:492.000000px;}
.y7{bottom:494.000000px;}
.y1c{bottom:495.000000px;}
.y6c{bottom:500.000000px;}
.ya3{bottom:504.000000px;}
.y46{bottom:508.000000px;}
.y6b{bottom:516.000000px;}
.ya2{bottom:520.000000px;}
.y36{bottom:522.500000px;}
.y6{bottom:524.000000px;}
.y5{bottom:526.000000px;}
.y86{bottom:528.000000px;}
.y6a{bottom:532.000000px;}
.y45{bottom:540.000000px;}
.ya1{bottom:544.000000px;}
.y69{bottom:548.000000px;}
.y1b{bottom:556.000000px;}
.y68{bottom:564.000000px;}
.y85{bottom:572.000000px;}
.yb1{bottom:575.500000px;}
.y1a{bottom:576.000000px;}
.y60{bottom:583.500000px;}
.y4{bottom:586.000000px;}
.y67{bottom:588.000000px;}
.y19{bottom:594.000000px;}
.y66{bottom:604.000000px;}
.ya0{bottom:609.000000px;}
.y18{bottom:612.000000px;}
.y94{bottom:615.500000px;}
.y44{bottom:617.000000px;}
.y65{bottom:620.000000px;}
.y17{bottom:624.000000px;}
.y9f{bottom:629.000000px;}
.y43{bottom:637.000000px;}
.y16{bottom:640.000000px;}
.y9e{bottom:647.000000px;}
.y7e{bottom:647.500000px;}
.y84{bottom:649.000000px;}
.y42{bottom:655.000000px;}
.y15{bottom:656.000000px;}
.y9d{bottom:665.000000px;}
.y83{bottom:669.000000px;}
.y14{bottom:672.000000px;}
.y41{bottom:673.000000px;}
.y9c{bottom:677.000000px;}
.y64{bottom:681.000000px;}
.y40{bottom:685.000000px;}
.y3{bottom:686.000000px;}
.y82{bottom:687.000000px;}
.y2{bottom:688.000000px;}
.y9b{bottom:693.000000px;}
.y3f{bottom:701.000000px;}
.y1{bottom:703.000000px;}
.y13{bottom:704.000000px;}
.y81{bottom:705.000000px;}
.y9a{bottom:709.000000px;}
.y0{bottom:712.500000px;}
.y12{bottom:716.000000px;}
.y3e{bottom:717.000000px;}
.y63{bottom:719.000000px;}
.y99{bottom:725.000000px;}
.y11{bottom:728.000000px;}
.y3d{bottom:733.000000px;}
.y62{bottom:737.000000px;}
.y98{bottom:741.000000px;}
.y10{bottom:744.000000px;}
.y3c{bottom:749.000000px;}
.y97{bottom:753.000000px;}
.y3b{bottom:765.000000px;}
.y35{bottom:775.500000px;}
.y3a{bottom:781.000000px;}
.y38{bottom:799.000000px;}
.h2{height:46.973200px;}
.h6{height:56.367840px;}
.h9{height:59.156250px;}
.h7{height:69.015625px;}
.h5{height:70.459800px;}
.h1{height:84.500000px;}
.h4{height:93.946400px;}
.h3{height:187.892799px;}
.h8{height:752.500000px;}
.h0{height:842.000000px;}
.w1{width:277.500000px;}
.w2{width:485.500000px;}
.w0{width:595.000000px;}
.x0{left:55.000000px;}
.xa{left:57.000000px;}
.x6{left:79.120000px;}
.x5{left:203.040000px;}
.xb{left:205.140000px;}
.x8{left:231.150000px;}
.x9{left:245.000000px;}
.x3{left:256.380000px;}
.x7{left:269.150000px;}
.x1{left:276.080000px;}
.x4{left:291.940000px;}
.x2{left:296.110000px;}
.xc{left:531.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:106.666667pt;}
.fs1{font-size:213.333333pt;}
.ye{bottom:22.666667pt;}
.y39{bottom:41.333333pt;}
.yf{bottom:59.333333pt;}
.y96{bottom:87.333333pt;}
.y7d{bottom:88.000000pt;}
.y5f{bottom:94.666667pt;}
.y34{bottom:98.666667pt;}
.y7c{bottom:109.333333pt;}
.yb0{bottom:114.666667pt;}
.y5e{bottom:116.000000pt;}
.y33{bottom:120.000000pt;}
.y93{bottom:132.000000pt;}
.yaf{bottom:136.000000pt;}
.y5d{bottom:137.333333pt;}
.y32{bottom:141.333333pt;}
.y80{bottom:151.333333pt;}
.y5c{bottom:153.333333pt;}
.y31{bottom:157.333333pt;}
.y92{bottom:158.666667pt;}
.y5b{bottom:169.333333pt;}
.y30{bottom:173.333333pt;}
.yb3{bottom:178.000000pt;}
.y91{bottom:182.666667pt;}
.y5a{bottom:190.666667pt;}
.y2f{bottom:194.666667pt;}
.y7b{bottom:196.000000pt;}
.y90{bottom:206.666667pt;}
.y59{bottom:212.000000pt;}
.y2e{bottom:216.000000pt;}
.y7a{bottom:222.666667pt;}
.y58{bottom:233.333333pt;}
.y2d{bottom:237.333333pt;}
.y8f{bottom:244.000000pt;}
.y79{bottom:246.666667pt;}
.yae{bottom:249.333333pt;}
.y8e{bottom:265.333333pt;}
.y78{bottom:270.666667pt;}
.yad{bottom:273.333333pt;}
.y61{bottom:275.333333pt;}
.y37{bottom:279.333333pt;}
.y77{bottom:286.666667pt;}
.yac{bottom:297.333333pt;}
.y76{bottom:308.000000pt;}
.yab{bottom:313.333333pt;}
.y57{bottom:320.000000pt;}
.y2c{bottom:324.000000pt;}
.y75{bottom:329.333333pt;}
.yaa{bottom:334.666667pt;}
.y8d{bottom:340.000000pt;}
.y56{bottom:346.666667pt;}
.y2b{bottom:350.666667pt;}
.ya9{bottom:356.000000pt;}
.y8c{bottom:361.333333pt;}
.y55{bottom:370.666667pt;}
.y74{bottom:372.000000pt;}
.y2a{bottom:374.666667pt;}
.ya8{bottom:377.333333pt;}
.y73{bottom:393.333333pt;}
.y54{bottom:394.666667pt;}
.y29{bottom:398.666667pt;}
.y95{bottom:403.333333pt;}
.y53{bottom:410.666667pt;}
.y28{bottom:414.666667pt;}
.y72{bottom:430.666667pt;}
.y52{bottom:432.000000pt;}
.y27{bottom:436.000000pt;}
.y71{bottom:446.666667pt;}
.y8b{bottom:448.000000pt;}
.ya7{bottom:452.000000pt;}
.y51{bottom:453.333333pt;}
.y26{bottom:457.333333pt;}
.y70{bottom:468.000000pt;}
.y50{bottom:474.666667pt;}
.y25{bottom:478.666667pt;}
.yb2{bottom:494.000000pt;}
.y4f{bottom:496.000000pt;}
.y8a{bottom:498.666667pt;}
.y24{bottom:500.000000pt;}
.y7f{bottom:510.000000pt;}
.y4e{bottom:517.333333pt;}
.yd{bottom:518.000000pt;}
.y23{bottom:521.333333pt;}
.y89{bottom:522.666667pt;}
.y4d{bottom:538.666667pt;}
.yc{bottom:542.000000pt;}
.y22{bottom:542.666667pt;}
.y6f{bottom:554.666667pt;}
.y4c{bottom:560.000000pt;}
.y21{bottom:564.000000pt;}
.ya6{bottom:565.333333pt;}
.y4b{bottom:581.333333pt;}
.yb{bottom:582.000000pt;}
.y20{bottom:585.333333pt;}
.ya5{bottom:589.333333pt;}
.y4a{bottom:597.333333pt;}
.y1f{bottom:601.333333pt;}
.ya{bottom:602.000000pt;}
.y88{bottom:602.666667pt;}
.y6e{bottom:605.333333pt;}
.y49{bottom:613.333333pt;}
.y9{bottom:615.333333pt;}
.y1e{bottom:617.333333pt;}
.y87{bottom:624.000000pt;}
.y6d{bottom:629.333333pt;}
.y48{bottom:634.666667pt;}
.y1d{bottom:638.666667pt;}
.y8{bottom:645.333333pt;}
.ya4{bottom:650.666667pt;}
.y47{bottom:656.000000pt;}
.y7{bottom:658.666667pt;}
.y1c{bottom:660.000000pt;}
.y6c{bottom:666.666667pt;}
.ya3{bottom:672.000000pt;}
.y46{bottom:677.333333pt;}
.y6b{bottom:688.000000pt;}
.ya2{bottom:693.333333pt;}
.y36{bottom:696.666667pt;}
.y6{bottom:698.666667pt;}
.y5{bottom:701.333333pt;}
.y86{bottom:704.000000pt;}
.y6a{bottom:709.333333pt;}
.y45{bottom:720.000000pt;}
.ya1{bottom:725.333333pt;}
.y69{bottom:730.666667pt;}
.y1b{bottom:741.333333pt;}
.y68{bottom:752.000000pt;}
.y85{bottom:762.666667pt;}
.yb1{bottom:767.333333pt;}
.y1a{bottom:768.000000pt;}
.y60{bottom:778.000000pt;}
.y4{bottom:781.333333pt;}
.y67{bottom:784.000000pt;}
.y19{bottom:792.000000pt;}
.y66{bottom:805.333333pt;}
.ya0{bottom:812.000000pt;}
.y18{bottom:816.000000pt;}
.y94{bottom:820.666667pt;}
.y44{bottom:822.666667pt;}
.y65{bottom:826.666667pt;}
.y17{bottom:832.000000pt;}
.y9f{bottom:838.666667pt;}
.y43{bottom:849.333333pt;}
.y16{bottom:853.333333pt;}
.y9e{bottom:862.666667pt;}
.y7e{bottom:863.333333pt;}
.y84{bottom:865.333333pt;}
.y42{bottom:873.333333pt;}
.y15{bottom:874.666667pt;}
.y9d{bottom:886.666667pt;}
.y83{bottom:892.000000pt;}
.y14{bottom:896.000000pt;}
.y41{bottom:897.333333pt;}
.y9c{bottom:902.666667pt;}
.y64{bottom:908.000000pt;}
.y40{bottom:913.333333pt;}
.y3{bottom:914.666667pt;}
.y82{bottom:916.000000pt;}
.y2{bottom:917.333333pt;}
.y9b{bottom:924.000000pt;}
.y3f{bottom:934.666667pt;}
.y1{bottom:937.333333pt;}
.y13{bottom:938.666667pt;}
.y81{bottom:940.000000pt;}
.y9a{bottom:945.333333pt;}
.y0{bottom:950.000000pt;}
.y12{bottom:954.666667pt;}
.y3e{bottom:956.000000pt;}
.y63{bottom:958.666667pt;}
.y99{bottom:966.666667pt;}
.y11{bottom:970.666667pt;}
.y3d{bottom:977.333333pt;}
.y62{bottom:982.666667pt;}
.y98{bottom:988.000000pt;}
.y10{bottom:992.000000pt;}
.y3c{bottom:998.666667pt;}
.y97{bottom:1004.000000pt;}
.y3b{bottom:1020.000000pt;}
.y35{bottom:1034.000000pt;}
.y3a{bottom:1041.333333pt;}
.y38{bottom:1065.333333pt;}
.h2{height:62.630933pt;}
.h6{height:75.157120pt;}
.h9{height:78.875000pt;}
.h7{height:92.020833pt;}
.h5{height:93.946400pt;}
.h1{height:112.666667pt;}
.h4{height:125.261866pt;}
.h3{height:250.523733pt;}
.h8{height:1003.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:370.000000pt;}
.w2{width:647.333333pt;}
.w0{width:793.333333pt;}
.x0{left:73.333333pt;}
.xa{left:76.000000pt;}
.x6{left:105.493333pt;}
.x5{left:270.720000pt;}
.xb{left:273.520000pt;}
.x8{left:308.200000pt;}
.x9{left:326.666667pt;}
.x3{left:341.840000pt;}
.x7{left:358.866667pt;}
.x1{left:368.106667pt;}
.x4{left:389.253333pt;}
.x2{left:394.813333pt;}
.xc{left:708.440000pt;}
}
