.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc7{color:rgb(33,78,123);}
.fc4{color:rgb(102,0,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(255,0,0);}
.fc2{color:rgb(0,0,51);}
.fc6{color:rgb(66,184,55);}
.fc1{color:rgb(120,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:80.000000px;}
.fs1{font-size:160.000000px;}
.ye{bottom:17.000000px;}
.y3a{bottom:31.000000px;}
.yf{bottom:44.500000px;}
.y35{bottom:70.000000px;}
.y82{bottom:77.000000px;}
.ya5{bottom:84.000000px;}
.y34{bottom:86.000000px;}
.y81{bottom:95.000000px;}
.y33{bottom:102.000000px;}
.y80{bottom:107.000000px;}
.y32{bottom:118.000000px;}
.ya4{bottom:120.000000px;}
.y7f{bottom:123.000000px;}
.y31{bottom:130.000000px;}
.ya3{bottom:132.000000px;}
.y5b{bottom:133.500000px;}
.y7e{bottom:139.000000px;}
.y30{bottom:142.000000px;}
.ya2{bottom:148.000000px;}
.y7d{bottom:155.000000px;}
.y2f{bottom:158.000000px;}
.ya1{bottom:164.000000px;}
.y58{bottom:167.000000px;}
.y7c{bottom:171.000000px;}
.y2e{bottom:174.000000px;}
.ya0{bottom:180.000000px;}
.y7b{bottom:183.000000px;}
.y2d{bottom:186.000000px;}
.y57{bottom:187.000000px;}
.y7a{bottom:195.000000px;}
.y9f{bottom:196.000000px;}
.y2c{bottom:198.000000px;}
.y56{bottom:205.000000px;}
.y9e{bottom:208.000000px;}
.y2b{bottom:214.000000px;}
.y9d{bottom:220.000000px;}
.y55{bottom:223.000000px;}
.y84{bottom:226.500000px;}
.y2a{bottom:230.000000px;}
.y54{bottom:235.000000px;}
.y9c{bottom:236.000000px;}
.y53{bottom:251.000000px;}
.y79{bottom:260.000000px;}
.y38{bottom:261.500000px;}
.y52{bottom:267.000000px;}
.ya8{bottom:267.500000px;}
.y78{bottom:280.000000px;}
.y51{bottom:283.000000px;}
.y29{bottom:295.000000px;}
.y77{bottom:298.000000px;}
.y50{bottom:299.000000px;}
.y9b{bottom:301.000000px;}
.y4f{bottom:311.000000px;}
.y28{bottom:315.000000px;}
.y76{bottom:316.000000px;}
.y9a{bottom:321.000000px;}
.y4e{bottom:323.000000px;}
.y75{bottom:328.000000px;}
.y27{bottom:333.000000px;}
.y4d{bottom:339.000000px;}
.y74{bottom:344.000000px;}
.y26{bottom:351.000000px;}
.y4c{bottom:355.000000px;}
.y99{bottom:357.000000px;}
.y73{bottom:360.000000px;}
.y25{bottom:363.000000px;}
.y4b{bottom:367.000000px;}
.y98{bottom:369.000000px;}
.y72{bottom:376.000000px;}
.y24{bottom:379.000000px;}
.y97{bottom:385.000000px;}
.yd{bottom:388.500000px;}
.y71{bottom:392.000000px;}
.y23{bottom:395.000000px;}
.y96{bottom:401.000000px;}
.y70{bottom:404.000000px;}
.yc{bottom:406.500000px;}
.y22{bottom:411.000000px;}
.y6f{bottom:416.000000px;}
.y95{bottom:417.000000px;}
.y21{bottom:427.000000px;}
.y6e{bottom:432.000000px;}
.y94{bottom:433.000000px;}
.yb{bottom:436.500000px;}
.y20{bottom:439.000000px;}
.y5a{bottom:442.500000px;}
.y93{bottom:445.000000px;}
.y6d{bottom:448.000000px;}
.y1f{bottom:451.000000px;}
.ya{bottom:451.500000px;}
.y92{bottom:457.000000px;}
.y6c{bottom:460.000000px;}
.y9{bottom:461.500000px;}
.y1e{bottom:467.000000px;}
.y6b{bottom:472.000000px;}
.y4a{bottom:476.000000px;}
.y1d{bottom:479.000000px;}
.y8{bottom:484.000000px;}
.y6a{bottom:488.000000px;}
.ya7{bottom:488.500000px;}
.y1c{bottom:491.000000px;}
.y7{bottom:494.000000px;}
.y49{bottom:496.000000px;}
.y69{bottom:504.000000px;}
.y1b{bottom:507.000000px;}
.y48{bottom:514.000000px;}
.y91{bottom:522.000000px;}
.y6{bottom:524.000000px;}
.y5{bottom:526.000000px;}
.y47{bottom:532.000000px;}
.y83{bottom:535.500000px;}
.y37{bottom:538.500000px;}
.y90{bottom:542.000000px;}
.y46{bottom:544.000000px;}
.y45{bottom:560.000000px;}
.y68{bottom:569.000000px;}
.y1a{bottom:572.000000px;}
.y44{bottom:576.000000px;}
.y8f{bottom:578.000000px;}
.y4{bottom:586.000000px;}
.y67{bottom:589.000000px;}
.y8e{bottom:590.000000px;}
.y19{bottom:592.000000px;}
.y8d{bottom:606.000000px;}
.y66{bottom:607.000000px;}
.y43{bottom:608.000000px;}
.y18{bottom:610.000000px;}
.y42{bottom:620.000000px;}
.y8c{bottom:622.000000px;}
.y65{bottom:625.000000px;}
.y17{bottom:628.000000px;}
.y41{bottom:632.000000px;}
.y64{bottom:637.000000px;}
.y8b{bottom:638.000000px;}
.y16{bottom:640.000000px;}
.y40{bottom:648.000000px;}
.y63{bottom:653.000000px;}
.y8a{bottom:654.000000px;}
.y15{bottom:656.000000px;}
.y89{bottom:666.000000px;}
.y62{bottom:669.000000px;}
.y14{bottom:672.000000px;}
.y88{bottom:678.000000px;}
.y59{bottom:679.500000px;}
.y61{bottom:685.000000px;}
.y3{bottom:686.000000px;}
.y2{bottom:688.000000px;}
.y87{bottom:694.000000px;}
.y60{bottom:701.000000px;}
.y1{bottom:703.000000px;}
.y13{bottom:704.000000px;}
.y0{bottom:712.500000px;}
.y3f{bottom:713.000000px;}
.y12{bottom:716.000000px;}
.y5f{bottom:725.000000px;}
.ya6{bottom:725.500000px;}
.y11{bottom:728.000000px;}
.y3e{bottom:733.000000px;}
.y5e{bottom:741.000000px;}
.y10{bottom:744.000000px;}
.y3d{bottom:751.000000px;}
.y5d{bottom:753.000000px;}
.y86{bottom:759.000000px;}
.y5c{bottom:765.000000px;}
.y3c{bottom:769.000000px;}
.y36{bottom:775.500000px;}
.y85{bottom:779.000000px;}
.y3b{bottom:781.000000px;}
.y39{bottom:799.000000px;}
.h2{height:46.973200px;}
.h6{height:56.367840px;}
.h9{height:59.156250px;}
.h7{height:69.015625px;}
.h5{height:70.459800px;}
.h1{height:84.500000px;}
.h4{height:93.946400px;}
.h3{height:187.892799px;}
.h8{height:752.500000px;}
.h0{height:842.000000px;}
.w1{width:277.500000px;}
.w2{width:485.500000px;}
.w0{width:595.000000px;}
.x0{left:55.000000px;}
.xa{left:57.000000px;}
.x6{left:157.470000px;}
.xb{left:215.470000px;}
.x5{left:218.570000px;}
.x8{left:231.150000px;}
.x9{left:245.000000px;}
.x3{left:260.840000px;}
.x7{left:269.150000px;}
.x1{left:276.080000px;}
.x4{left:291.940000px;}
.x2{left:296.110000px;}
.xc{left:531.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:106.666667pt;}
.fs1{font-size:213.333333pt;}
.ye{bottom:22.666667pt;}
.y3a{bottom:41.333333pt;}
.yf{bottom:59.333333pt;}
.y35{bottom:93.333333pt;}
.y82{bottom:102.666667pt;}
.ya5{bottom:112.000000pt;}
.y34{bottom:114.666667pt;}
.y81{bottom:126.666667pt;}
.y33{bottom:136.000000pt;}
.y80{bottom:142.666667pt;}
.y32{bottom:157.333333pt;}
.ya4{bottom:160.000000pt;}
.y7f{bottom:164.000000pt;}
.y31{bottom:173.333333pt;}
.ya3{bottom:176.000000pt;}
.y5b{bottom:178.000000pt;}
.y7e{bottom:185.333333pt;}
.y30{bottom:189.333333pt;}
.ya2{bottom:197.333333pt;}
.y7d{bottom:206.666667pt;}
.y2f{bottom:210.666667pt;}
.ya1{bottom:218.666667pt;}
.y58{bottom:222.666667pt;}
.y7c{bottom:228.000000pt;}
.y2e{bottom:232.000000pt;}
.ya0{bottom:240.000000pt;}
.y7b{bottom:244.000000pt;}
.y2d{bottom:248.000000pt;}
.y57{bottom:249.333333pt;}
.y7a{bottom:260.000000pt;}
.y9f{bottom:261.333333pt;}
.y2c{bottom:264.000000pt;}
.y56{bottom:273.333333pt;}
.y9e{bottom:277.333333pt;}
.y2b{bottom:285.333333pt;}
.y9d{bottom:293.333333pt;}
.y55{bottom:297.333333pt;}
.y84{bottom:302.000000pt;}
.y2a{bottom:306.666667pt;}
.y54{bottom:313.333333pt;}
.y9c{bottom:314.666667pt;}
.y53{bottom:334.666667pt;}
.y79{bottom:346.666667pt;}
.y38{bottom:348.666667pt;}
.y52{bottom:356.000000pt;}
.ya8{bottom:356.666667pt;}
.y78{bottom:373.333333pt;}
.y51{bottom:377.333333pt;}
.y29{bottom:393.333333pt;}
.y77{bottom:397.333333pt;}
.y50{bottom:398.666667pt;}
.y9b{bottom:401.333333pt;}
.y4f{bottom:414.666667pt;}
.y28{bottom:420.000000pt;}
.y76{bottom:421.333333pt;}
.y9a{bottom:428.000000pt;}
.y4e{bottom:430.666667pt;}
.y75{bottom:437.333333pt;}
.y27{bottom:444.000000pt;}
.y4d{bottom:452.000000pt;}
.y74{bottom:458.666667pt;}
.y26{bottom:468.000000pt;}
.y4c{bottom:473.333333pt;}
.y99{bottom:476.000000pt;}
.y73{bottom:480.000000pt;}
.y25{bottom:484.000000pt;}
.y4b{bottom:489.333333pt;}
.y98{bottom:492.000000pt;}
.y72{bottom:501.333333pt;}
.y24{bottom:505.333333pt;}
.y97{bottom:513.333333pt;}
.yd{bottom:518.000000pt;}
.y71{bottom:522.666667pt;}
.y23{bottom:526.666667pt;}
.y96{bottom:534.666667pt;}
.y70{bottom:538.666667pt;}
.yc{bottom:542.000000pt;}
.y22{bottom:548.000000pt;}
.y6f{bottom:554.666667pt;}
.y95{bottom:556.000000pt;}
.y21{bottom:569.333333pt;}
.y6e{bottom:576.000000pt;}
.y94{bottom:577.333333pt;}
.yb{bottom:582.000000pt;}
.y20{bottom:585.333333pt;}
.y5a{bottom:590.000000pt;}
.y93{bottom:593.333333pt;}
.y6d{bottom:597.333333pt;}
.y1f{bottom:601.333333pt;}
.ya{bottom:602.000000pt;}
.y92{bottom:609.333333pt;}
.y6c{bottom:613.333333pt;}
.y9{bottom:615.333333pt;}
.y1e{bottom:622.666667pt;}
.y6b{bottom:629.333333pt;}
.y4a{bottom:634.666667pt;}
.y1d{bottom:638.666667pt;}
.y8{bottom:645.333333pt;}
.y6a{bottom:650.666667pt;}
.ya7{bottom:651.333333pt;}
.y1c{bottom:654.666667pt;}
.y7{bottom:658.666667pt;}
.y49{bottom:661.333333pt;}
.y69{bottom:672.000000pt;}
.y1b{bottom:676.000000pt;}
.y48{bottom:685.333333pt;}
.y91{bottom:696.000000pt;}
.y6{bottom:698.666667pt;}
.y5{bottom:701.333333pt;}
.y47{bottom:709.333333pt;}
.y83{bottom:714.000000pt;}
.y37{bottom:718.000000pt;}
.y90{bottom:722.666667pt;}
.y46{bottom:725.333333pt;}
.y45{bottom:746.666667pt;}
.y68{bottom:758.666667pt;}
.y1a{bottom:762.666667pt;}
.y44{bottom:768.000000pt;}
.y8f{bottom:770.666667pt;}
.y4{bottom:781.333333pt;}
.y67{bottom:785.333333pt;}
.y8e{bottom:786.666667pt;}
.y19{bottom:789.333333pt;}
.y8d{bottom:808.000000pt;}
.y66{bottom:809.333333pt;}
.y43{bottom:810.666667pt;}
.y18{bottom:813.333333pt;}
.y42{bottom:826.666667pt;}
.y8c{bottom:829.333333pt;}
.y65{bottom:833.333333pt;}
.y17{bottom:837.333333pt;}
.y41{bottom:842.666667pt;}
.y64{bottom:849.333333pt;}
.y8b{bottom:850.666667pt;}
.y16{bottom:853.333333pt;}
.y40{bottom:864.000000pt;}
.y63{bottom:870.666667pt;}
.y8a{bottom:872.000000pt;}
.y15{bottom:874.666667pt;}
.y89{bottom:888.000000pt;}
.y62{bottom:892.000000pt;}
.y14{bottom:896.000000pt;}
.y88{bottom:904.000000pt;}
.y59{bottom:906.000000pt;}
.y61{bottom:913.333333pt;}
.y3{bottom:914.666667pt;}
.y2{bottom:917.333333pt;}
.y87{bottom:925.333333pt;}
.y60{bottom:934.666667pt;}
.y1{bottom:937.333333pt;}
.y13{bottom:938.666667pt;}
.y0{bottom:950.000000pt;}
.y3f{bottom:950.666667pt;}
.y12{bottom:954.666667pt;}
.y5f{bottom:966.666667pt;}
.ya6{bottom:967.333333pt;}
.y11{bottom:970.666667pt;}
.y3e{bottom:977.333333pt;}
.y5e{bottom:988.000000pt;}
.y10{bottom:992.000000pt;}
.y3d{bottom:1001.333333pt;}
.y5d{bottom:1004.000000pt;}
.y86{bottom:1012.000000pt;}
.y5c{bottom:1020.000000pt;}
.y3c{bottom:1025.333333pt;}
.y36{bottom:1034.000000pt;}
.y85{bottom:1038.666667pt;}
.y3b{bottom:1041.333333pt;}
.y39{bottom:1065.333333pt;}
.h2{height:62.630933pt;}
.h6{height:75.157120pt;}
.h9{height:78.875000pt;}
.h7{height:92.020833pt;}
.h5{height:93.946400pt;}
.h1{height:112.666667pt;}
.h4{height:125.261866pt;}
.h3{height:250.523733pt;}
.h8{height:1003.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:370.000000pt;}
.w2{width:647.333333pt;}
.w0{width:793.333333pt;}
.x0{left:73.333333pt;}
.xa{left:76.000000pt;}
.x6{left:209.960000pt;}
.xb{left:287.293333pt;}
.x5{left:291.426667pt;}
.x8{left:308.200000pt;}
.x9{left:326.666667pt;}
.x3{left:347.786667pt;}
.x7{left:358.866667pt;}
.x1{left:368.106667pt;}
.x4{left:389.253333pt;}
.x2{left:394.813333pt;}
.xc{left:708.440000pt;}
}
