.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc7{color:rgb(33,78,123);}
.fc4{color:rgb(102,0,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(255,0,0);}
.fc2{color:rgb(0,0,51);}
.fc6{color:rgb(66,184,55);}
.fc1{color:rgb(120,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:80.000000px;}
.fs1{font-size:160.000000px;}
.yf{bottom:17.000000px;}
.y3b{bottom:31.000000px;}
.y10{bottom:44.500000px;}
.y36{bottom:66.000000px;}
.ya0{bottom:73.000000px;}
.y7a{bottom:80.500000px;}
.y35{bottom:84.000000px;}
.y64{bottom:86.000000px;}
.y9f{bottom:91.000000px;}
.y34{bottom:102.000000px;}
.y9e{bottom:103.000000px;}
.y63{bottom:104.000000px;}
.y33{bottom:114.000000px;}
.y9d{bottom:119.000000px;}
.y62{bottom:122.000000px;}
.y32{bottom:130.000000px;}
.y61{bottom:134.000000px;}
.y9c{bottom:135.000000px;}
.y31{bottom:146.000000px;}
.y60{bottom:150.000000px;}
.y9b{bottom:151.000000px;}
.y77{bottom:152.000000px;}
.y30{bottom:162.000000px;}
.y5f{bottom:166.000000px;}
.y9a{bottom:167.000000px;}
.y76{bottom:170.000000px;}
.y2f{bottom:178.000000px;}
.y5e{bottom:182.000000px;}
.y99{bottom:183.000000px;}
.y2e{bottom:190.000000px;}
.y48{bottom:194.000000px;}
.y5d{bottom:198.000000px;}
.y98{bottom:199.000000px;}
.y2d{bottom:202.000000px;}
.y47{bottom:210.000000px;}
.y97{bottom:211.000000px;}
.y75{bottom:214.000000px;}
.y2c{bottom:218.000000px;}
.y46{bottom:222.000000px;}
.y96{bottom:223.000000px;}
.y74{bottom:230.000000px;}
.y2b{bottom:234.000000px;}
.y5c{bottom:238.000000px;}
.y95{bottom:239.000000px;}
.y73{bottom:246.000000px;}
.y94{bottom:255.000000px;}
.y72{bottom:258.000000px;}
.y39{bottom:265.500000px;}
.y66{bottom:269.500000px;}
.y71{bottom:270.000000px;}
.ya2{bottom:286.500000px;}
.y2a{bottom:299.000000px;}
.y79{bottom:301.500000px;}
.y5b{bottom:303.000000px;}
.y29{bottom:319.000000px;}
.y93{bottom:320.000000px;}
.y5a{bottom:323.000000px;}
.y70{bottom:335.000000px;}
.y28{bottom:337.000000px;}
.y92{bottom:340.000000px;}
.y59{bottom:341.000000px;}
.y27{bottom:355.000000px;}
.y91{bottom:358.000000px;}
.y58{bottom:359.000000px;}
.ye{bottom:366.000000px;}
.y26{bottom:367.000000px;}
.y57{bottom:371.000000px;}
.y6f{bottom:373.000000px;}
.y90{bottom:376.000000px;}
.y25{bottom:383.000000px;}
.yd{bottom:384.000000px;}
.y56{bottom:387.000000px;}
.y8f{bottom:388.000000px;}
.y6e{bottom:391.000000px;}
.y24{bottom:399.000000px;}
.y55{bottom:403.000000px;}
.y8e{bottom:404.000000px;}
.yc{bottom:414.000000px;}
.y23{bottom:415.000000px;}
.y54{bottom:419.000000px;}
.y8d{bottom:420.000000px;}
.yb{bottom:429.000000px;}
.y22{bottom:431.000000px;}
.y53{bottom:435.000000px;}
.y8c{bottom:436.000000px;}
.ya{bottom:439.000000px;}
.y21{bottom:447.000000px;}
.y52{bottom:451.000000px;}
.y8b{bottom:452.000000px;}
.y9{bottom:461.500000px;}
.y20{bottom:463.000000px;}
.y6d{bottom:467.000000px;}
.y8a{bottom:468.000000px;}
.y45{bottom:475.000000px;}
.y1f{bottom:479.000000px;}
.y8{bottom:484.000000px;}
.y1e{bottom:491.000000px;}
.y7{bottom:494.000000px;}
.y51{bottom:495.000000px;}
.y89{bottom:500.000000px;}
.y1d{bottom:503.000000px;}
.y6c{bottom:507.000000px;}
.y50{bottom:511.000000px;}
.y88{bottom:512.000000px;}
.y1c{bottom:519.000000px;}
.y49{bottom:522.500000px;}
.y6{bottom:524.000000px;}
.y5{bottom:526.000000px;}
.y4f{bottom:527.000000px;}
.y1b{bottom:535.000000px;}
.y78{bottom:538.500000px;}
.y87{bottom:540.000000px;}
.y65{bottom:554.500000px;}
.y44{bottom:556.000000px;}
.y38{bottom:566.500000px;}
.ya1{bottom:571.500000px;}
.y6b{bottom:572.000000px;}
.y43{bottom:576.000000px;}
.y4{bottom:586.000000px;}
.y4e{bottom:588.000000px;}
.y6a{bottom:592.000000px;}
.y42{bottom:594.000000px;}
.y1a{bottom:600.000000px;}
.y86{bottom:605.000000px;}
.y4d{bottom:608.000000px;}
.y69{bottom:610.000000px;}
.y41{bottom:612.000000px;}
.y19{bottom:620.000000px;}
.y40{bottom:624.000000px;}
.y85{bottom:625.000000px;}
.y4c{bottom:626.000000px;}
.y68{bottom:628.000000px;}
.y18{bottom:638.000000px;}
.y3f{bottom:640.000000px;}
.y84{bottom:643.000000px;}
.y4b{bottom:644.000000px;}
.y17{bottom:656.000000px;}
.y83{bottom:661.000000px;}
.y16{bottom:668.000000px;}
.y3e{bottom:672.000000px;}
.y82{bottom:673.000000px;}
.y15{bottom:684.000000px;}
.y3{bottom:686.000000px;}
.y2{bottom:688.000000px;}
.y81{bottom:689.000000px;}
.y14{bottom:700.000000px;}
.y1{bottom:703.000000px;}
.y3d{bottom:704.000000px;}
.y80{bottom:705.000000px;}
.y0{bottom:712.500000px;}
.y13{bottom:716.000000px;}
.y4a{bottom:720.000000px;}
.y7f{bottom:721.000000px;}
.y3c{bottom:728.000000px;}
.y12{bottom:732.000000px;}
.y7e{bottom:737.000000px;}
.y11{bottom:744.000000px;}
.y67{bottom:748.000000px;}
.y7d{bottom:753.000000px;}
.y7c{bottom:765.000000px;}
.y37{bottom:775.500000px;}
.y7b{bottom:781.000000px;}
.y3a{bottom:799.000000px;}
.h2{height:46.973200px;}
.h6{height:56.367840px;}
.h9{height:59.156250px;}
.h7{height:69.015625px;}
.h5{height:70.459800px;}
.h1{height:84.500000px;}
.h4{height:93.946400px;}
.h3{height:187.892799px;}
.h8{height:752.500000px;}
.h0{height:842.000000px;}
.w1{width:277.500000px;}
.w2{width:485.500000px;}
.w0{width:595.000000px;}
.x0{left:55.000000px;}
.xb{left:57.000000px;}
.x6{left:71.620000px;}
.x5{left:199.130000px;}
.xc{left:202.470000px;}
.x9{left:231.150000px;}
.xa{left:245.000000px;}
.x7{left:247.890000px;}
.x3{left:256.380000px;}
.x8{left:269.150000px;}
.x1{left:276.080000px;}
.x4{left:291.940000px;}
.x2{left:296.110000px;}
.xd{left:531.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:106.666667pt;}
.fs1{font-size:213.333333pt;}
.yf{bottom:22.666667pt;}
.y3b{bottom:41.333333pt;}
.y10{bottom:59.333333pt;}
.y36{bottom:88.000000pt;}
.ya0{bottom:97.333333pt;}
.y7a{bottom:107.333333pt;}
.y35{bottom:112.000000pt;}
.y64{bottom:114.666667pt;}
.y9f{bottom:121.333333pt;}
.y34{bottom:136.000000pt;}
.y9e{bottom:137.333333pt;}
.y63{bottom:138.666667pt;}
.y33{bottom:152.000000pt;}
.y9d{bottom:158.666667pt;}
.y62{bottom:162.666667pt;}
.y32{bottom:173.333333pt;}
.y61{bottom:178.666667pt;}
.y9c{bottom:180.000000pt;}
.y31{bottom:194.666667pt;}
.y60{bottom:200.000000pt;}
.y9b{bottom:201.333333pt;}
.y77{bottom:202.666667pt;}
.y30{bottom:216.000000pt;}
.y5f{bottom:221.333333pt;}
.y9a{bottom:222.666667pt;}
.y76{bottom:226.666667pt;}
.y2f{bottom:237.333333pt;}
.y5e{bottom:242.666667pt;}
.y99{bottom:244.000000pt;}
.y2e{bottom:253.333333pt;}
.y48{bottom:258.666667pt;}
.y5d{bottom:264.000000pt;}
.y98{bottom:265.333333pt;}
.y2d{bottom:269.333333pt;}
.y47{bottom:280.000000pt;}
.y97{bottom:281.333333pt;}
.y75{bottom:285.333333pt;}
.y2c{bottom:290.666667pt;}
.y46{bottom:296.000000pt;}
.y96{bottom:297.333333pt;}
.y74{bottom:306.666667pt;}
.y2b{bottom:312.000000pt;}
.y5c{bottom:317.333333pt;}
.y95{bottom:318.666667pt;}
.y73{bottom:328.000000pt;}
.y94{bottom:340.000000pt;}
.y72{bottom:344.000000pt;}
.y39{bottom:354.000000pt;}
.y66{bottom:359.333333pt;}
.y71{bottom:360.000000pt;}
.ya2{bottom:382.000000pt;}
.y2a{bottom:398.666667pt;}
.y79{bottom:402.000000pt;}
.y5b{bottom:404.000000pt;}
.y29{bottom:425.333333pt;}
.y93{bottom:426.666667pt;}
.y5a{bottom:430.666667pt;}
.y70{bottom:446.666667pt;}
.y28{bottom:449.333333pt;}
.y92{bottom:453.333333pt;}
.y59{bottom:454.666667pt;}
.y27{bottom:473.333333pt;}
.y91{bottom:477.333333pt;}
.y58{bottom:478.666667pt;}
.ye{bottom:488.000000pt;}
.y26{bottom:489.333333pt;}
.y57{bottom:494.666667pt;}
.y6f{bottom:497.333333pt;}
.y90{bottom:501.333333pt;}
.y25{bottom:510.666667pt;}
.yd{bottom:512.000000pt;}
.y56{bottom:516.000000pt;}
.y8f{bottom:517.333333pt;}
.y6e{bottom:521.333333pt;}
.y24{bottom:532.000000pt;}
.y55{bottom:537.333333pt;}
.y8e{bottom:538.666667pt;}
.yc{bottom:552.000000pt;}
.y23{bottom:553.333333pt;}
.y54{bottom:558.666667pt;}
.y8d{bottom:560.000000pt;}
.yb{bottom:572.000000pt;}
.y22{bottom:574.666667pt;}
.y53{bottom:580.000000pt;}
.y8c{bottom:581.333333pt;}
.ya{bottom:585.333333pt;}
.y21{bottom:596.000000pt;}
.y52{bottom:601.333333pt;}
.y8b{bottom:602.666667pt;}
.y9{bottom:615.333333pt;}
.y20{bottom:617.333333pt;}
.y6d{bottom:622.666667pt;}
.y8a{bottom:624.000000pt;}
.y45{bottom:633.333333pt;}
.y1f{bottom:638.666667pt;}
.y8{bottom:645.333333pt;}
.y1e{bottom:654.666667pt;}
.y7{bottom:658.666667pt;}
.y51{bottom:660.000000pt;}
.y89{bottom:666.666667pt;}
.y1d{bottom:670.666667pt;}
.y6c{bottom:676.000000pt;}
.y50{bottom:681.333333pt;}
.y88{bottom:682.666667pt;}
.y1c{bottom:692.000000pt;}
.y49{bottom:696.666667pt;}
.y6{bottom:698.666667pt;}
.y5{bottom:701.333333pt;}
.y4f{bottom:702.666667pt;}
.y1b{bottom:713.333333pt;}
.y78{bottom:718.000000pt;}
.y87{bottom:720.000000pt;}
.y65{bottom:739.333333pt;}
.y44{bottom:741.333333pt;}
.y38{bottom:755.333333pt;}
.ya1{bottom:762.000000pt;}
.y6b{bottom:762.666667pt;}
.y43{bottom:768.000000pt;}
.y4{bottom:781.333333pt;}
.y4e{bottom:784.000000pt;}
.y6a{bottom:789.333333pt;}
.y42{bottom:792.000000pt;}
.y1a{bottom:800.000000pt;}
.y86{bottom:806.666667pt;}
.y4d{bottom:810.666667pt;}
.y69{bottom:813.333333pt;}
.y41{bottom:816.000000pt;}
.y19{bottom:826.666667pt;}
.y40{bottom:832.000000pt;}
.y85{bottom:833.333333pt;}
.y4c{bottom:834.666667pt;}
.y68{bottom:837.333333pt;}
.y18{bottom:850.666667pt;}
.y3f{bottom:853.333333pt;}
.y84{bottom:857.333333pt;}
.y4b{bottom:858.666667pt;}
.y17{bottom:874.666667pt;}
.y83{bottom:881.333333pt;}
.y16{bottom:890.666667pt;}
.y3e{bottom:896.000000pt;}
.y82{bottom:897.333333pt;}
.y15{bottom:912.000000pt;}
.y3{bottom:914.666667pt;}
.y2{bottom:917.333333pt;}
.y81{bottom:918.666667pt;}
.y14{bottom:933.333333pt;}
.y1{bottom:937.333333pt;}
.y3d{bottom:938.666667pt;}
.y80{bottom:940.000000pt;}
.y0{bottom:950.000000pt;}
.y13{bottom:954.666667pt;}
.y4a{bottom:960.000000pt;}
.y7f{bottom:961.333333pt;}
.y3c{bottom:970.666667pt;}
.y12{bottom:976.000000pt;}
.y7e{bottom:982.666667pt;}
.y11{bottom:992.000000pt;}
.y67{bottom:997.333333pt;}
.y7d{bottom:1004.000000pt;}
.y7c{bottom:1020.000000pt;}
.y37{bottom:1034.000000pt;}
.y7b{bottom:1041.333333pt;}
.y3a{bottom:1065.333333pt;}
.h2{height:62.630933pt;}
.h6{height:75.157120pt;}
.h9{height:78.875000pt;}
.h7{height:92.020833pt;}
.h5{height:93.946400pt;}
.h1{height:112.666667pt;}
.h4{height:125.261866pt;}
.h3{height:250.523733pt;}
.h8{height:1003.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:370.000000pt;}
.w2{width:647.333333pt;}
.w0{width:793.333333pt;}
.x0{left:73.333333pt;}
.xb{left:76.000000pt;}
.x6{left:95.493333pt;}
.x5{left:265.506667pt;}
.xc{left:269.960000pt;}
.x9{left:308.200000pt;}
.xa{left:326.666667pt;}
.x7{left:330.520000pt;}
.x3{left:341.840000pt;}
.x8{left:358.866667pt;}
.x1{left:368.106667pt;}
.x4{left:389.253333pt;}
.x2{left:394.813333pt;}
.xd{left:708.440000pt;}
}
