.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-0.076896px;}
.ls14{letter-spacing:-0.072000px;}
.ls3{letter-spacing:-0.067248px;}
.lsd{letter-spacing:-0.062400px;}
.ls4{letter-spacing:-0.044832px;}
.ls5{letter-spacing:-0.019200px;}
.ls13{letter-spacing:-0.014400px;}
.lsf{letter-spacing:-0.004800px;}
.ls1{letter-spacing:0.000000px;}
.ls9{letter-spacing:0.004800px;}
.ls6{letter-spacing:0.009600px;}
.ls0{letter-spacing:0.012816px;}
.lse{letter-spacing:0.014400px;}
.ls7{letter-spacing:0.019200px;}
.ls16{letter-spacing:0.024000px;}
.ls10{letter-spacing:0.028800px;}
.lsa{letter-spacing:0.033600px;}
.ls11{letter-spacing:0.038400px;}
.ls8{letter-spacing:0.043200px;}
.lsb{letter-spacing:0.048000px;}
.ls15{letter-spacing:0.052800px;}
.ls17{letter-spacing:0.067200px;}
.ls12{letter-spacing:0.072000px;}
.lsc{letter-spacing:0.081600px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws16{word-spacing:-0.187200px;}
.ws22{word-spacing:-0.168000px;}
.ws1a{word-spacing:-0.163200px;}
.wsc{word-spacing:-0.134400px;}
.ws17{word-spacing:-0.129600px;}
.ws20{word-spacing:-0.124800px;}
.ws10{word-spacing:-0.110400px;}
.ws1b{word-spacing:-0.105600px;}
.ws14{word-spacing:-0.096000px;}
.ws1c{word-spacing:-0.091200px;}
.ws1f{word-spacing:-0.086400px;}
.wsb{word-spacing:-0.076800px;}
.ws9{word-spacing:-0.072000px;}
.ws15{word-spacing:-0.067200px;}
.ws1e{word-spacing:-0.062400px;}
.ws5{word-spacing:-0.052800px;}
.ws1d{word-spacing:-0.048000px;}
.ws6{word-spacing:-0.043200px;}
.ws13{word-spacing:-0.038400px;}
.ws4{word-spacing:-0.033600px;}
.ws11{word-spacing:-0.028800px;}
.ws24{word-spacing:-0.024000px;}
.ws7{word-spacing:-0.019200px;}
.ws12{word-spacing:-0.014400px;}
.wsf{word-spacing:-0.009600px;}
.ws8{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.wse{word-spacing:0.004800px;}
.ws1{word-spacing:0.011208px;}
.ws18{word-spacing:0.014400px;}
.ws3{word-spacing:0.019200px;}
.wsd{word-spacing:0.033600px;}
.ws21{word-spacing:0.048000px;}
.ws23{word-spacing:0.052800px;}
.ws2{word-spacing:0.061128px;}
.wsa{word-spacing:0.062400px;}
.ws19{word-spacing:0.072000px;}
.ws25{word-spacing:0.110400px;}
._0{margin-left:-1.248000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs5{font-size:48.000000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs2{font-size:67.920000px;}
.fs3{font-size:112.080000px;}
.y11{bottom:16.000000px;}
.y10{bottom:52.380000px;}
.y5a{bottom:75.480000px;}
.y43{bottom:81.480000px;}
.y35{bottom:87.480000px;}
.y59{bottom:91.380000px;}
.y72{bottom:97.380000px;}
.y42{bottom:103.380000px;}
.y58{bottom:107.220000px;}
.y34{bottom:109.380000px;}
.y71{bottom:113.220000px;}
.y57{bottom:123.120000px;}
.y33{bottom:125.220000px;}
.y70{bottom:129.120000px;}
.y32{bottom:141.120000px;}
.y56{bottom:144.960000px;}
.y31{bottom:156.960000px;}
.y6f{bottom:160.860000px;}
.y55{bottom:166.860000px;}
.y30{bottom:172.860000px;}
.y6e{bottom:176.700000px;}
.y2f{bottom:188.700000px;}
.y6d{bottom:192.600000px;}
.y2e{bottom:204.600000px;}
.y6c{bottom:208.440000px;}
.y54{bottom:210.600000px;}
.y2d{bottom:220.440000px;}
.y6b{bottom:224.340000px;}
.y53{bottom:226.440000px;}
.y2c{bottom:236.340000px;}
.y52{bottom:242.340000px;}
.y6a{bottom:246.180000px;}
.y2b{bottom:252.180000px;}
.y51{bottom:258.180000px;}
.y2a{bottom:268.080000px;}
.y41{bottom:274.080000px;}
.y29{bottom:283.920000px;}
.y50{bottom:289.920000px;}
.y40{bottom:295.920000px;}
.y28{bottom:305.760000px;}
.y69{bottom:311.760000px;}
.y3f{bottom:317.760000px;}
.yf{bottom:325.448940px;}
.y27{bottom:327.660000px;}
.y3e{bottom:339.660000px;}
.y68{bottom:343.500000px;}
.ye{bottom:347.947440px;}
.y26{bottom:349.500000px;}
.y3d{bottom:355.500000px;}
.y67{bottom:359.400000px;}
.y25{bottom:371.400000px;}
.yd{bottom:374.640000px;}
.yc{bottom:374.647440px;}
.y66{bottom:375.240000px;}
.y24{bottom:387.240000px;}
.y65{bottom:391.140000px;}
.y4f{bottom:393.240000px;}
.y23{bottom:403.140000px;}
.y64{bottom:406.980000px;}
.y4e{bottom:409.140000px;}
.yb{bottom:411.661860px;}
.y22{bottom:418.980000px;}
.y4d{bottom:424.980000px;}
.y63{bottom:428.880000px;}
.y21{bottom:434.880000px;}
.y4c{bottom:440.880000px;}
.y0{bottom:442.500000px;}
.ya{bottom:442.680000px;}
.y20{bottom:450.720000px;}
.y4b{bottom:456.720000px;}
.y1f{bottom:466.620000px;}
.y3c{bottom:472.620000px;}
.y1e{bottom:482.460000px;}
.y4a{bottom:488.460000px;}
.y3b{bottom:494.460000px;}
.y1d{bottom:504.360000px;}
.y62{bottom:510.360000px;}
.y3a{bottom:516.360000px;}
.y1c{bottom:526.200000px;}
.y39{bottom:538.200000px;}
.y61{bottom:542.100000px;}
.y9{bottom:546.772380px;}
.y1b{bottom:548.100000px;}
.y38{bottom:554.100000px;}
.y60{bottom:557.940000px;}
.y8{bottom:569.270880px;}
.y1a{bottom:569.940000px;}
.y5f{bottom:573.840000px;}
.y19{bottom:585.840000px;}
.y5e{bottom:589.680000px;}
.y7{bottom:591.769380px;}
.y49{bottom:591.840000px;}
.y18{bottom:601.680000px;}
.y48{bottom:607.680000px;}
.y5d{bottom:611.580000px;}
.y6{bottom:614.216940px;}
.y17{bottom:617.580000px;}
.y47{bottom:623.580000px;}
.y16{bottom:633.420000px;}
.y5{bottom:636.715440px;}
.y46{bottom:639.420000px;}
.y15{bottom:649.320000px;}
.y45{bottom:655.320000px;}
.y4{bottom:659.213940px;}
.y14{bottom:665.160000px;}
.y44{bottom:671.160000px;}
.y5c{bottom:677.160000px;}
.y13{bottom:681.060000px;}
.y3{bottom:681.661500px;}
.y37{bottom:687.060000px;}
.y5b{bottom:693.060000px;}
.y12{bottom:702.900000px;}
.y2{bottom:704.160000px;}
.y36{bottom:708.900000px;}
.y1{bottom:740.820000px;}
.h5{height:29.272852px;}
.h2{height:43.804688px;}
.h8{height:53.250000px;}
.h7{height:54.960938px;}
.h6{height:69.015625px;}
.h3{height:77.769727px;}
.h1{height:98.000000px;}
.h4{height:128.333789px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.xa{left:72.000000px;}
.x5{left:73.091700px;}
.x0{left:135.000000px;}
.x4{left:248.468880px;}
.x9{left:253.000000px;}
.x7{left:264.887700px;}
.x1{left:276.660000px;}
.x2{left:306.000000px;}
.x3{left:477.000000px;}
.x8{left:504.780000px;}
.x6{left:538.860000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-0.102528pt;}
.ls14{letter-spacing:-0.096000pt;}
.ls3{letter-spacing:-0.089664pt;}
.lsd{letter-spacing:-0.083200pt;}
.ls4{letter-spacing:-0.059776pt;}
.ls5{letter-spacing:-0.025600pt;}
.ls13{letter-spacing:-0.019200pt;}
.lsf{letter-spacing:-0.006400pt;}
.ls1{letter-spacing:0.000000pt;}
.ls9{letter-spacing:0.006400pt;}
.ls6{letter-spacing:0.012800pt;}
.ls0{letter-spacing:0.017088pt;}
.lse{letter-spacing:0.019200pt;}
.ls7{letter-spacing:0.025600pt;}
.ls16{letter-spacing:0.032000pt;}
.ls10{letter-spacing:0.038400pt;}
.lsa{letter-spacing:0.044800pt;}
.ls11{letter-spacing:0.051200pt;}
.ls8{letter-spacing:0.057600pt;}
.lsb{letter-spacing:0.064000pt;}
.ls15{letter-spacing:0.070400pt;}
.ls17{letter-spacing:0.089600pt;}
.ls12{letter-spacing:0.096000pt;}
.lsc{letter-spacing:0.108800pt;}
.ws16{word-spacing:-0.249600pt;}
.ws22{word-spacing:-0.224000pt;}
.ws1a{word-spacing:-0.217600pt;}
.wsc{word-spacing:-0.179200pt;}
.ws17{word-spacing:-0.172800pt;}
.ws20{word-spacing:-0.166400pt;}
.ws10{word-spacing:-0.147200pt;}
.ws1b{word-spacing:-0.140800pt;}
.ws14{word-spacing:-0.128000pt;}
.ws1c{word-spacing:-0.121600pt;}
.ws1f{word-spacing:-0.115200pt;}
.wsb{word-spacing:-0.102400pt;}
.ws9{word-spacing:-0.096000pt;}
.ws15{word-spacing:-0.089600pt;}
.ws1e{word-spacing:-0.083200pt;}
.ws5{word-spacing:-0.070400pt;}
.ws1d{word-spacing:-0.064000pt;}
.ws6{word-spacing:-0.057600pt;}
.ws13{word-spacing:-0.051200pt;}
.ws4{word-spacing:-0.044800pt;}
.ws11{word-spacing:-0.038400pt;}
.ws24{word-spacing:-0.032000pt;}
.ws7{word-spacing:-0.025600pt;}
.ws12{word-spacing:-0.019200pt;}
.wsf{word-spacing:-0.012800pt;}
.ws8{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.wse{word-spacing:0.006400pt;}
.ws1{word-spacing:0.014944pt;}
.ws18{word-spacing:0.019200pt;}
.ws3{word-spacing:0.025600pt;}
.wsd{word-spacing:0.044800pt;}
.ws21{word-spacing:0.064000pt;}
.ws23{word-spacing:0.070400pt;}
.ws2{word-spacing:0.081504pt;}
.wsa{word-spacing:0.083200pt;}
.ws19{word-spacing:0.096000pt;}
.ws25{word-spacing:0.147200pt;}
._0{margin-left:-1.664000pt;}
.fs1{font-size:58.560000pt;}
.fs5{font-size:64.000000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs2{font-size:90.560000pt;}
.fs3{font-size:149.440000pt;}
.y11{bottom:21.333333pt;}
.y10{bottom:69.840000pt;}
.y5a{bottom:100.640000pt;}
.y43{bottom:108.640000pt;}
.y35{bottom:116.640000pt;}
.y59{bottom:121.840000pt;}
.y72{bottom:129.840000pt;}
.y42{bottom:137.840000pt;}
.y58{bottom:142.960000pt;}
.y34{bottom:145.840000pt;}
.y71{bottom:150.960000pt;}
.y57{bottom:164.160000pt;}
.y33{bottom:166.960000pt;}
.y70{bottom:172.160000pt;}
.y32{bottom:188.160000pt;}
.y56{bottom:193.280000pt;}
.y31{bottom:209.280000pt;}
.y6f{bottom:214.480000pt;}
.y55{bottom:222.480000pt;}
.y30{bottom:230.480000pt;}
.y6e{bottom:235.600000pt;}
.y2f{bottom:251.600000pt;}
.y6d{bottom:256.800000pt;}
.y2e{bottom:272.800000pt;}
.y6c{bottom:277.920000pt;}
.y54{bottom:280.800000pt;}
.y2d{bottom:293.920000pt;}
.y6b{bottom:299.120000pt;}
.y53{bottom:301.920000pt;}
.y2c{bottom:315.120000pt;}
.y52{bottom:323.120000pt;}
.y6a{bottom:328.240000pt;}
.y2b{bottom:336.240000pt;}
.y51{bottom:344.240000pt;}
.y2a{bottom:357.440000pt;}
.y41{bottom:365.440000pt;}
.y29{bottom:378.560000pt;}
.y50{bottom:386.560000pt;}
.y40{bottom:394.560000pt;}
.y28{bottom:407.680000pt;}
.y69{bottom:415.680000pt;}
.y3f{bottom:423.680000pt;}
.yf{bottom:433.931920pt;}
.y27{bottom:436.880000pt;}
.y3e{bottom:452.880000pt;}
.y68{bottom:458.000000pt;}
.ye{bottom:463.929920pt;}
.y26{bottom:466.000000pt;}
.y3d{bottom:474.000000pt;}
.y67{bottom:479.200000pt;}
.y25{bottom:495.200000pt;}
.yd{bottom:499.520000pt;}
.yc{bottom:499.529920pt;}
.y66{bottom:500.320000pt;}
.y24{bottom:516.320000pt;}
.y65{bottom:521.520000pt;}
.y4f{bottom:524.320000pt;}
.y23{bottom:537.520000pt;}
.y64{bottom:542.640000pt;}
.y4e{bottom:545.520000pt;}
.yb{bottom:548.882480pt;}
.y22{bottom:558.640000pt;}
.y4d{bottom:566.640000pt;}
.y63{bottom:571.840000pt;}
.y21{bottom:579.840000pt;}
.y4c{bottom:587.840000pt;}
.y0{bottom:590.000000pt;}
.ya{bottom:590.240000pt;}
.y20{bottom:600.960000pt;}
.y4b{bottom:608.960000pt;}
.y1f{bottom:622.160000pt;}
.y3c{bottom:630.160000pt;}
.y1e{bottom:643.280000pt;}
.y4a{bottom:651.280000pt;}
.y3b{bottom:659.280000pt;}
.y1d{bottom:672.480000pt;}
.y62{bottom:680.480000pt;}
.y3a{bottom:688.480000pt;}
.y1c{bottom:701.600000pt;}
.y39{bottom:717.600000pt;}
.y61{bottom:722.800000pt;}
.y9{bottom:729.029840pt;}
.y1b{bottom:730.800000pt;}
.y38{bottom:738.800000pt;}
.y60{bottom:743.920000pt;}
.y8{bottom:759.027840pt;}
.y1a{bottom:759.920000pt;}
.y5f{bottom:765.120000pt;}
.y19{bottom:781.120000pt;}
.y5e{bottom:786.240000pt;}
.y7{bottom:789.025840pt;}
.y49{bottom:789.120000pt;}
.y18{bottom:802.240000pt;}
.y48{bottom:810.240000pt;}
.y5d{bottom:815.440000pt;}
.y6{bottom:818.955920pt;}
.y17{bottom:823.440000pt;}
.y47{bottom:831.440000pt;}
.y16{bottom:844.560000pt;}
.y5{bottom:848.953920pt;}
.y46{bottom:852.560000pt;}
.y15{bottom:865.760000pt;}
.y45{bottom:873.760000pt;}
.y4{bottom:878.951920pt;}
.y14{bottom:886.880000pt;}
.y44{bottom:894.880000pt;}
.y5c{bottom:902.880000pt;}
.y13{bottom:908.080000pt;}
.y3{bottom:908.882000pt;}
.y37{bottom:916.080000pt;}
.y5b{bottom:924.080000pt;}
.y12{bottom:937.200000pt;}
.y2{bottom:938.880000pt;}
.y36{bottom:945.200000pt;}
.y1{bottom:987.760000pt;}
.h5{height:39.030469pt;}
.h2{height:58.406250pt;}
.h8{height:71.000000pt;}
.h7{height:73.281250pt;}
.h6{height:92.020833pt;}
.h3{height:103.692969pt;}
.h1{height:130.666667pt;}
.h4{height:171.111719pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.xa{left:96.000000pt;}
.x5{left:97.455600pt;}
.x0{left:180.000000pt;}
.x4{left:331.291840pt;}
.x9{left:337.333333pt;}
.x7{left:353.183600pt;}
.x1{left:368.880000pt;}
.x2{left:408.000000pt;}
.x3{left:636.000000pt;}
.x8{left:673.040000pt;}
.x6{left:718.480000pt;}
}
