.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls13{letter-spacing:-1.680000px;}
.lsa{letter-spacing:-0.105600px;}
.lse{letter-spacing:-0.096000px;}
.lsd{letter-spacing:-0.062400px;}
.ls0{letter-spacing:-0.012816px;}
.lsc{letter-spacing:-0.009600px;}
.ls3{letter-spacing:-0.006000px;}
.ls12{letter-spacing:-0.004800px;}
.ls1{letter-spacing:0.000000px;}
.lsf{letter-spacing:0.004800px;}
.ls10{letter-spacing:0.009600px;}
.ls7{letter-spacing:0.014400px;}
.ls5{letter-spacing:0.019200px;}
.ls6{letter-spacing:0.024000px;}
.ls8{letter-spacing:0.033600px;}
.ls4{letter-spacing:0.038400px;}
.ls2{letter-spacing:0.041568px;}
.ls11{letter-spacing:0.048000px;}
.lsb{letter-spacing:0.057600px;}
.ls9{letter-spacing:0.086400px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws12{word-spacing:-2.654400px;}
.wsc{word-spacing:-1.670400px;}
.ws1f{word-spacing:-0.244800px;}
.ws4{word-spacing:-0.196800px;}
.ws7{word-spacing:-0.172800px;}
.ws10{word-spacing:-0.129600px;}
.ws13{word-spacing:-0.124800px;}
.ws16{word-spacing:-0.115200px;}
.ws9{word-spacing:-0.110400px;}
.ws1{word-spacing:-0.103920px;}
.ws14{word-spacing:-0.091200px;}
.ws18{word-spacing:-0.086400px;}
.ws1c{word-spacing:-0.081600px;}
.ws1a{word-spacing:-0.072000px;}
.ws17{word-spacing:-0.067200px;}
.wsf{word-spacing:-0.062400px;}
.wsb{word-spacing:-0.057600px;}
.ws1b{word-spacing:-0.048000px;}
.ws1e{word-spacing:-0.043200px;}
.ws3{word-spacing:-0.038400px;}
.ws8{word-spacing:-0.033600px;}
.wsa{word-spacing:-0.028800px;}
.ws6{word-spacing:-0.024000px;}
.ws5{word-spacing:-0.019200px;}
.ws19{word-spacing:-0.014400px;}
.ws1d{word-spacing:-0.009600px;}
.wse{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.ws15{word-spacing:0.009600px;}
.ws21{word-spacing:0.024000px;}
.wsd{word-spacing:0.062400px;}
.ws11{word-spacing:0.081600px;}
.ws20{word-spacing:0.105600px;}
.ws2{word-spacing:0.126000px;}
._1{margin-left:-5.400000px;}
._2{margin-left:-4.368000px;}
._4{margin-left:-2.880000px;}
._0{margin-left:-1.766640px;}
._5{width:1.584000px;}
._3{width:2.640000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:48.000000px;}
.fs4{font-size:56.000000px;}
.fs2{font-size:60.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:103.920000px;}
.y1c{bottom:16.000000px;}
.y1b{bottom:39.000000px;}
.y1a{bottom:75.960100px;}
.y40{bottom:76.020000px;}
.y6e{bottom:82.020000px;}
.y3f{bottom:89.820000px;}
.y3e{bottom:103.620000px;}
.y19{bottom:107.760100px;}
.y6d{bottom:113.820000px;}
.y3d{bottom:117.420000px;}
.y6c{bottom:127.620000px;}
.y3c{bottom:131.220000px;}
.y52{bottom:137.220000px;}
.y18{bottom:139.560100px;}
.y3b{bottom:145.020000px;}
.y6b{bottom:147.420000px;}
.y3a{bottom:164.820000px;}
.y51{bottom:169.020000px;}
.y17{bottom:171.360100px;}
.y6a{bottom:179.220000px;}
.y50{bottom:182.820000px;}
.y69{bottom:193.020000px;}
.y39{bottom:196.620000px;}
.y16{bottom:203.160100px;}
.y68{bottom:206.820000px;}
.y38{bottom:210.420000px;}
.y67{bottom:220.620000px;}
.y4f{bottom:224.220000px;}
.y37{bottom:230.220000px;}
.y66{bottom:234.420000px;}
.y15{bottom:234.960100px;}
.y4e{bottom:237.960000px;}
.y65{bottom:248.220000px;}
.y4d{bottom:257.760000px;}
.y36{bottom:261.960000px;}
.y14{bottom:266.760100px;}
.y64{bottom:267.960000px;}
.y35{bottom:275.760000px;}
.y34{bottom:289.560000px;}
.y12{bottom:299.220000px;}
.y13{bottom:299.220100px;}
.y63{bottom:299.760000px;}
.y33{bottom:303.360000px;}
.y62{bottom:313.560000px;}
.y11{bottom:316.440000px;}
.y32{bottom:317.160000px;}
.y4c{bottom:323.160000px;}
.y61{bottom:333.360000px;}
.y10{bottom:336.060000px;}
.yf{bottom:336.074440px;}
.y31{bottom:336.960000px;}
.y4b{bottom:354.960000px;}
.y60{bottom:365.160000px;}
.ye{bottom:366.003400px;}
.y30{bottom:368.760000px;}
.y5f{bottom:378.960000px;}
.y2f{bottom:382.560000px;}
.y5e{bottom:392.760000px;}
.yd{bottom:395.880400px;}
.y4a{bottom:396.360000px;}
.y2e{bottom:402.360000px;}
.y5d{bottom:406.560000px;}
.y49{bottom:410.160000px;}
.y5c{bottom:420.360000px;}
.y48{bottom:423.960000px;}
.yc{bottom:425.760000px;}
.y2d{bottom:434.160000px;}
.y47{bottom:437.760000px;}
.y2c{bottom:447.960000px;}
.y0{bottom:450.000000px;}
.y5b{bottom:453.960000px;}
.y46{bottom:457.560000px;}
.y2b{bottom:461.760000px;}
.y2a{bottom:475.560000px;}
.y5a{bottom:485.760000px;}
.y29{bottom:489.360000px;}
.y59{bottom:499.560000px;}
.y28{bottom:503.160000px;}
.y58{bottom:519.360000px;}
.y27{bottom:522.960000px;}
.yb{bottom:550.800000px;}
.y57{bottom:551.160000px;}
.y26{bottom:554.760000px;}
.y56{bottom:564.960000px;}
.ya{bottom:568.020000px;}
.y25{bottom:568.560000px;}
.y55{bottom:578.760000px;}
.y45{bottom:582.360000px;}
.y9{bottom:585.300000px;}
.y24{bottom:588.360000px;}
.y54{bottom:592.560000px;}
.y44{bottom:596.160000px;}
.y8{bottom:602.520000px;}
.y53{bottom:606.360000px;}
.y43{bottom:609.960000px;}
.y7{bottom:619.800000px;}
.y23{bottom:620.160000px;}
.y42{bottom:623.760000px;}
.y22{bottom:633.960000px;}
.y6{bottom:637.020000px;}
.y41{bottom:643.560000px;}
.y21{bottom:647.760000px;}
.y5{bottom:654.300000px;}
.y20{bottom:661.560000px;}
.y4{bottom:671.520000px;}
.y1f{bottom:675.360000px;}
.y3{bottom:688.800000px;}
.y1e{bottom:689.160000px;}
.y2{bottom:706.020000px;}
.y1d{bottom:708.960000px;}
.y1{bottom:741.120000px;}
.h5{height:53.250000px;}
.h6{height:54.960938px;}
.h3{height:68.701172px;}
.h7{height:69.015625px;}
.h2{height:73.372852px;}
.h1{height:97.500000px;}
.h4{height:118.990430px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.xa{left:90.000000px;}
.x5{left:98.288800px;}
.x0{left:135.500000px;}
.x6{left:241.698400px;}
.xc{left:253.000000px;}
.x4{left:257.580000px;}
.x8{left:262.920000px;}
.x1{left:276.180000px;}
.x2{left:306.000000px;}
.x9{left:349.020000px;}
.x7{left:370.260000px;}
.x3{left:477.720000px;}
.xb{left:516.299900px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls13{letter-spacing:-2.240000pt;}
.lsa{letter-spacing:-0.140800pt;}
.lse{letter-spacing:-0.128000pt;}
.lsd{letter-spacing:-0.083200pt;}
.ls0{letter-spacing:-0.017088pt;}
.lsc{letter-spacing:-0.012800pt;}
.ls3{letter-spacing:-0.008000pt;}
.ls12{letter-spacing:-0.006400pt;}
.ls1{letter-spacing:0.000000pt;}
.lsf{letter-spacing:0.006400pt;}
.ls10{letter-spacing:0.012800pt;}
.ls7{letter-spacing:0.019200pt;}
.ls5{letter-spacing:0.025600pt;}
.ls6{letter-spacing:0.032000pt;}
.ls8{letter-spacing:0.044800pt;}
.ls4{letter-spacing:0.051200pt;}
.ls2{letter-spacing:0.055424pt;}
.ls11{letter-spacing:0.064000pt;}
.lsb{letter-spacing:0.076800pt;}
.ls9{letter-spacing:0.115200pt;}
.ws12{word-spacing:-3.539200pt;}
.wsc{word-spacing:-2.227200pt;}
.ws1f{word-spacing:-0.326400pt;}
.ws4{word-spacing:-0.262400pt;}
.ws7{word-spacing:-0.230400pt;}
.ws10{word-spacing:-0.172800pt;}
.ws13{word-spacing:-0.166400pt;}
.ws16{word-spacing:-0.153600pt;}
.ws9{word-spacing:-0.147200pt;}
.ws1{word-spacing:-0.138560pt;}
.ws14{word-spacing:-0.121600pt;}
.ws18{word-spacing:-0.115200pt;}
.ws1c{word-spacing:-0.108800pt;}
.ws1a{word-spacing:-0.096000pt;}
.ws17{word-spacing:-0.089600pt;}
.wsf{word-spacing:-0.083200pt;}
.wsb{word-spacing:-0.076800pt;}
.ws1b{word-spacing:-0.064000pt;}
.ws1e{word-spacing:-0.057600pt;}
.ws3{word-spacing:-0.051200pt;}
.ws8{word-spacing:-0.044800pt;}
.wsa{word-spacing:-0.038400pt;}
.ws6{word-spacing:-0.032000pt;}
.ws5{word-spacing:-0.025600pt;}
.ws19{word-spacing:-0.019200pt;}
.ws1d{word-spacing:-0.012800pt;}
.wse{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.ws15{word-spacing:0.012800pt;}
.ws21{word-spacing:0.032000pt;}
.wsd{word-spacing:0.083200pt;}
.ws11{word-spacing:0.108800pt;}
.ws20{word-spacing:0.140800pt;}
.ws2{word-spacing:0.168000pt;}
._1{margin-left:-7.200000pt;}
._2{margin-left:-5.824000pt;}
._4{margin-left:-3.840000pt;}
._0{margin-left:-2.355520pt;}
._5{width:2.112000pt;}
._3{width:3.520000pt;}
.fs1{font-size:64.000000pt;}
.fs4{font-size:74.666667pt;}
.fs2{font-size:80.000000pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:138.560000pt;}
.y1c{bottom:21.333333pt;}
.y1b{bottom:52.000000pt;}
.y1a{bottom:101.280133pt;}
.y40{bottom:101.360000pt;}
.y6e{bottom:109.360000pt;}
.y3f{bottom:119.760000pt;}
.y3e{bottom:138.160000pt;}
.y19{bottom:143.680133pt;}
.y6d{bottom:151.760000pt;}
.y3d{bottom:156.560000pt;}
.y6c{bottom:170.160000pt;}
.y3c{bottom:174.960000pt;}
.y52{bottom:182.960000pt;}
.y18{bottom:186.080133pt;}
.y3b{bottom:193.360000pt;}
.y6b{bottom:196.560000pt;}
.y3a{bottom:219.760000pt;}
.y51{bottom:225.360000pt;}
.y17{bottom:228.480133pt;}
.y6a{bottom:238.960000pt;}
.y50{bottom:243.760000pt;}
.y69{bottom:257.360000pt;}
.y39{bottom:262.160000pt;}
.y16{bottom:270.880133pt;}
.y68{bottom:275.760000pt;}
.y38{bottom:280.560000pt;}
.y67{bottom:294.160000pt;}
.y4f{bottom:298.960000pt;}
.y37{bottom:306.960000pt;}
.y66{bottom:312.560000pt;}
.y15{bottom:313.280133pt;}
.y4e{bottom:317.280000pt;}
.y65{bottom:330.960000pt;}
.y4d{bottom:343.680000pt;}
.y36{bottom:349.280000pt;}
.y14{bottom:355.680133pt;}
.y64{bottom:357.280000pt;}
.y35{bottom:367.680000pt;}
.y34{bottom:386.080000pt;}
.y12{bottom:398.960000pt;}
.y13{bottom:398.960133pt;}
.y63{bottom:399.680000pt;}
.y33{bottom:404.480000pt;}
.y62{bottom:418.080000pt;}
.y11{bottom:421.920000pt;}
.y32{bottom:422.880000pt;}
.y4c{bottom:430.880000pt;}
.y61{bottom:444.480000pt;}
.y10{bottom:448.080000pt;}
.yf{bottom:448.099253pt;}
.y31{bottom:449.280000pt;}
.y4b{bottom:473.280000pt;}
.y60{bottom:486.880000pt;}
.ye{bottom:488.004533pt;}
.y30{bottom:491.680000pt;}
.y5f{bottom:505.280000pt;}
.y2f{bottom:510.080000pt;}
.y5e{bottom:523.680000pt;}
.yd{bottom:527.840533pt;}
.y4a{bottom:528.480000pt;}
.y2e{bottom:536.480000pt;}
.y5d{bottom:542.080000pt;}
.y49{bottom:546.880000pt;}
.y5c{bottom:560.480000pt;}
.y48{bottom:565.280000pt;}
.yc{bottom:567.680000pt;}
.y2d{bottom:578.880000pt;}
.y47{bottom:583.680000pt;}
.y2c{bottom:597.280000pt;}
.y0{bottom:600.000000pt;}
.y5b{bottom:605.280000pt;}
.y46{bottom:610.080000pt;}
.y2b{bottom:615.680000pt;}
.y2a{bottom:634.080000pt;}
.y5a{bottom:647.680000pt;}
.y29{bottom:652.480000pt;}
.y59{bottom:666.080000pt;}
.y28{bottom:670.880000pt;}
.y58{bottom:692.480000pt;}
.y27{bottom:697.280000pt;}
.yb{bottom:734.400000pt;}
.y57{bottom:734.880000pt;}
.y26{bottom:739.680000pt;}
.y56{bottom:753.280000pt;}
.ya{bottom:757.360000pt;}
.y25{bottom:758.080000pt;}
.y55{bottom:771.680000pt;}
.y45{bottom:776.480000pt;}
.y9{bottom:780.400000pt;}
.y24{bottom:784.480000pt;}
.y54{bottom:790.080000pt;}
.y44{bottom:794.880000pt;}
.y8{bottom:803.360000pt;}
.y53{bottom:808.480000pt;}
.y43{bottom:813.280000pt;}
.y7{bottom:826.400000pt;}
.y23{bottom:826.880000pt;}
.y42{bottom:831.680000pt;}
.y22{bottom:845.280000pt;}
.y6{bottom:849.360000pt;}
.y41{bottom:858.080000pt;}
.y21{bottom:863.680000pt;}
.y5{bottom:872.400000pt;}
.y20{bottom:882.080000pt;}
.y4{bottom:895.360000pt;}
.y1f{bottom:900.480000pt;}
.y3{bottom:918.400000pt;}
.y1e{bottom:918.880000pt;}
.y2{bottom:941.360000pt;}
.y1d{bottom:945.280000pt;}
.y1{bottom:988.160000pt;}
.h5{height:71.000000pt;}
.h6{height:73.281250pt;}
.h3{height:91.601562pt;}
.h7{height:92.020833pt;}
.h2{height:97.830469pt;}
.h1{height:130.000000pt;}
.h4{height:158.653906pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.xa{left:120.000000pt;}
.x5{left:131.051733pt;}
.x0{left:180.666667pt;}
.x6{left:322.264533pt;}
.xc{left:337.333333pt;}
.x4{left:343.440000pt;}
.x8{left:350.560000pt;}
.x1{left:368.240000pt;}
.x2{left:408.000000pt;}
.x9{left:465.360000pt;}
.x7{left:493.680000pt;}
.x3{left:636.960000pt;}
.xb{left:688.399867pt;}
}
