.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.904297;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.909180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-0.076896px;}
.ls24{letter-spacing:-0.070272px;}
.ls8{letter-spacing:-0.064344px;}
.ls46{letter-spacing:-0.061488px;}
.ls39{letter-spacing:-0.057096px;}
.ls2d{letter-spacing:-0.052704px;}
.ls1c{letter-spacing:-0.043920px;}
.ls15{letter-spacing:-0.039528px;}
.ls0{letter-spacing:-0.038448px;}
.ls1d{letter-spacing:-0.035136px;}
.ls2a{letter-spacing:-0.030744px;}
.ls7{letter-spacing:-0.027576px;}
.ls18{letter-spacing:-0.026352px;}
.ls11{letter-spacing:-0.021960px;}
.ls31{letter-spacing:-0.017568px;}
.ls17{letter-spacing:-0.013176px;}
.lsb{letter-spacing:-0.011184px;}
.ls14{letter-spacing:-0.008784px;}
.lsd{letter-spacing:-0.005592px;}
.ls30{letter-spacing:-0.004392px;}
.ls1{letter-spacing:0.000000px;}
.ls1e{letter-spacing:0.004392px;}
.ls22{letter-spacing:0.008784px;}
.ls6{letter-spacing:0.009192px;}
.ls2c{letter-spacing:0.013176px;}
.ls1a{letter-spacing:0.017568px;}
.lsa{letter-spacing:0.018384px;}
.ls33{letter-spacing:0.021960px;}
.ls13{letter-spacing:0.026352px;}
.ls3{letter-spacing:0.027576px;}
.ls19{letter-spacing:0.030744px;}
.ls2b{letter-spacing:0.035136px;}
.ls1f{letter-spacing:0.039528px;}
.ls1b{letter-spacing:0.043920px;}
.ls9{letter-spacing:0.045960px;}
.ls38{letter-spacing:0.048312px;}
.ls3a{letter-spacing:0.052704px;}
.ls5{letter-spacing:0.055152px;}
.ls27{letter-spacing:0.057096px;}
.ls16{letter-spacing:0.061488px;}
.lse{letter-spacing:0.065880px;}
.ls25{letter-spacing:0.070272px;}
.ls29{letter-spacing:0.074664px;}
.ls3b{letter-spacing:0.079056px;}
.lsf{letter-spacing:0.083448px;}
.ls4{letter-spacing:0.091920px;}
.ls28{letter-spacing:0.092232px;}
.ls23{letter-spacing:0.096624px;}
.ls26{letter-spacing:0.101016px;}
.ls36{letter-spacing:0.105408px;}
.ls20{letter-spacing:0.109800px;}
.ls3e{letter-spacing:0.114192px;}
.ls12{letter-spacing:0.118584px;}
.ls43{letter-spacing:0.122976px;}
.ls41{letter-spacing:0.127368px;}
.ls3f{letter-spacing:0.131760px;}
.ls45{letter-spacing:0.136152px;}
.ls3c{letter-spacing:0.144936px;}
.ls10{letter-spacing:0.149328px;}
.ls2e{letter-spacing:0.153720px;}
.ls44{letter-spacing:0.158112px;}
.ls32{letter-spacing:0.166896px;}
.ls40{letter-spacing:0.175680px;}
.ls3d{letter-spacing:0.188856px;}
.lsc{letter-spacing:0.201312px;}
.ls42{letter-spacing:0.202032px;}
.ls37{letter-spacing:0.206424px;}
.ls34{letter-spacing:0.215208px;}
.ls2f{letter-spacing:0.285480px;}
.ls21{letter-spacing:0.342576px;}
.ls35{letter-spacing:0.360144px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.264896px;}
._0{width:1.062864px;}
.fc2{color:rgb(54,95,145);}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs3{font-size:55.920000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs2{font-size:91.920000px;}
.y16{bottom:16.000000px;}
.y15{bottom:39.840100px;}
.y14{bottom:78.654820px;}
.y4e{bottom:88.607760px;}
.y66{bottom:88.618740px;}
.y32{bottom:93.178380px;}
.y75{bottom:93.526800px;}
.y13{bottom:104.095480px;}
.y31{bottom:108.660180px;}
.y4d{bottom:114.048420px;}
.y65{bottom:114.059400px;}
.y74{bottom:118.967460px;}
.y30{bottom:124.076100px;}
.y12{bottom:129.536140px;}
.y64{bottom:129.541200px;}
.y4c{bottom:139.489080px;}
.y2f{bottom:139.492020px;}
.y73{bottom:144.408120px;}
.y11{bottom:154.976800px;}
.y63{bottom:154.981860px;}
.y2e{bottom:160.968900px;}
.y4b{bottom:164.929740px;}
.y72{bottom:165.830100px;}
.y62{bottom:170.397780px;}
.y4a{bottom:180.411540px;}
.y10{bottom:180.417460px;}
.y2d{bottom:186.409560px;}
.y71{bottom:191.270760px;}
.y61{bottom:195.838440px;}
.y49{bottom:201.833520px;}
.yf{bottom:205.858120px;}
.y60{bottom:211.254360px;}
.y2c{bottom:211.850220px;}
.y70{bottom:216.711420px;}
.y48{bottom:227.274180px;}
.ye{bottom:231.298780px;}
.y2b{bottom:233.272200px;}
.y5f{bottom:236.695020px;}
.y6f{bottom:238.133400px;}
.y47{bottom:252.714840px;}
.yd{bottom:256.739440px;}
.y2a{bottom:258.712860px;}
.y5e{bottom:262.135680px;}
.y6e{bottom:263.574060px;}
.y46{bottom:274.136820px;}
.yc{bottom:282.180100px;}
.y29{bottom:284.153520px;}
.y5d{bottom:287.576340px;}
.y6d{bottom:289.014720px;}
.y45{bottom:299.577480px;}
.yb{bottom:309.000240px;}
.y5c{bottom:309.053220px;}
.y28{bottom:309.594180px;}
.y6c{bottom:314.455380px;}
.y44{bottom:315.059280px;}
.y5b{bottom:334.493880px;}
.y27{bottom:335.034840px;}
.y6b{bottom:339.950940px;}
.y43{bottom:340.499940px;}
.ya{bottom:342.720000px;}
.y9{bottom:342.732900px;}
.y42{bottom:355.915860px;}
.y5a{bottom:359.934540px;}
.y26{bottom:360.475500px;}
.y6a{bottom:365.391600px;}
.y8{bottom:374.950860px;}
.y41{bottom:381.356520px;}
.y25{bottom:385.916160px;}
.y69{bottom:390.832260px;}
.y40{bottom:396.838320px;}
.y59{bottom:406.797180px;}
.y24{bottom:407.393040px;}
.y68{bottom:412.254240px;}
.y7{bottom:417.303000px;}
.y3f{bottom:422.278980px;}
.y58{bottom:432.237840px;}
.y23{bottom:432.833700px;}
.y3e{bottom:437.694900px;}
.y0{bottom:453.000000px;}
.y6{bottom:453.423000px;}
.y57{bottom:457.678500px;}
.y22{bottom:458.274360px;}
.y3d{bottom:463.135560px;}
.y21{bottom:479.696340px;}
.y56{bottom:483.119160px;}
.y67{bottom:484.557540px;}
.y3c{bottom:488.576220px;}
.y20{bottom:505.137000px;}
.y55{bottom:508.559820px;}
.y3b{bottom:509.998200px;}
.y1f{bottom:530.577660px;}
.y54{bottom:534.000480px;}
.y3a{bottom:535.438860px;}
.y1e{bottom:546.059460px;}
.y53{bottom:549.482280px;}
.y39{bottom:560.879520px;}
.y52{bottom:564.898200px;}
.y5{bottom:571.310400px;}
.y1d{bottom:571.500120px;}
.y38{bottom:582.356400px;}
.y51{bottom:586.375080px;}
.y1c{bottom:596.940780px;}
.y37{bottom:607.797060px;}
.y50{bottom:611.815740px;}
.y1b{bottom:612.356700px;}
.y4{bottom:613.547640px;}
.y36{bottom:633.237720px;}
.y4f{bottom:637.256400px;}
.y1a{bottom:637.797360px;}
.y3{bottom:655.853820px;}
.y35{bottom:658.678380px;}
.y19{bottom:663.238020px;}
.y34{bottom:684.119040px;}
.y18{bottom:684.660000px;}
.y2{bottom:698.160000px;}
.y17{bottom:706.740000px;}
.y33{bottom:709.559700px;}
.y1{bottom:740.820000px;}
.h7{height:29.272852px;}
.hb{height:31.524609px;}
.ha{height:31.889180px;}
.h5{height:37.270898px;}
.h9{height:39.100313px;}
.h6{height:40.602070px;}
.h2{height:46.526836px;}
.h3{height:61.265039px;}
.h4{height:66.740742px;}
.h8{height:69.015625px;}
.h1{height:98.000000px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x9{left:72.000000px;}
.x5{left:74.400680px;}
.x0{left:135.500000px;}
.x6{left:238.225100px;}
.xb{left:253.000000px;}
.x4{left:267.179900px;}
.x8{left:273.233700px;}
.x1{left:279.000000px;}
.x2{left:306.000000px;}
.x7{left:373.680000px;}
.x3{left:477.729540px;}
.xa{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-0.102528pt;}
.ls24{letter-spacing:-0.093696pt;}
.ls8{letter-spacing:-0.085792pt;}
.ls46{letter-spacing:-0.081984pt;}
.ls39{letter-spacing:-0.076128pt;}
.ls2d{letter-spacing:-0.070272pt;}
.ls1c{letter-spacing:-0.058560pt;}
.ls15{letter-spacing:-0.052704pt;}
.ls0{letter-spacing:-0.051264pt;}
.ls1d{letter-spacing:-0.046848pt;}
.ls2a{letter-spacing:-0.040992pt;}
.ls7{letter-spacing:-0.036768pt;}
.ls18{letter-spacing:-0.035136pt;}
.ls11{letter-spacing:-0.029280pt;}
.ls31{letter-spacing:-0.023424pt;}
.ls17{letter-spacing:-0.017568pt;}
.lsb{letter-spacing:-0.014912pt;}
.ls14{letter-spacing:-0.011712pt;}
.lsd{letter-spacing:-0.007456pt;}
.ls30{letter-spacing:-0.005856pt;}
.ls1{letter-spacing:0.000000pt;}
.ls1e{letter-spacing:0.005856pt;}
.ls22{letter-spacing:0.011712pt;}
.ls6{letter-spacing:0.012256pt;}
.ls2c{letter-spacing:0.017568pt;}
.ls1a{letter-spacing:0.023424pt;}
.lsa{letter-spacing:0.024512pt;}
.ls33{letter-spacing:0.029280pt;}
.ls13{letter-spacing:0.035136pt;}
.ls3{letter-spacing:0.036768pt;}
.ls19{letter-spacing:0.040992pt;}
.ls2b{letter-spacing:0.046848pt;}
.ls1f{letter-spacing:0.052704pt;}
.ls1b{letter-spacing:0.058560pt;}
.ls9{letter-spacing:0.061280pt;}
.ls38{letter-spacing:0.064416pt;}
.ls3a{letter-spacing:0.070272pt;}
.ls5{letter-spacing:0.073536pt;}
.ls27{letter-spacing:0.076128pt;}
.ls16{letter-spacing:0.081984pt;}
.lse{letter-spacing:0.087840pt;}
.ls25{letter-spacing:0.093696pt;}
.ls29{letter-spacing:0.099552pt;}
.ls3b{letter-spacing:0.105408pt;}
.lsf{letter-spacing:0.111264pt;}
.ls4{letter-spacing:0.122560pt;}
.ls28{letter-spacing:0.122976pt;}
.ls23{letter-spacing:0.128832pt;}
.ls26{letter-spacing:0.134688pt;}
.ls36{letter-spacing:0.140544pt;}
.ls20{letter-spacing:0.146400pt;}
.ls3e{letter-spacing:0.152256pt;}
.ls12{letter-spacing:0.158112pt;}
.ls43{letter-spacing:0.163968pt;}
.ls41{letter-spacing:0.169824pt;}
.ls3f{letter-spacing:0.175680pt;}
.ls45{letter-spacing:0.181536pt;}
.ls3c{letter-spacing:0.193248pt;}
.ls10{letter-spacing:0.199104pt;}
.ls2e{letter-spacing:0.204960pt;}
.ls44{letter-spacing:0.210816pt;}
.ls32{letter-spacing:0.222528pt;}
.ls40{letter-spacing:0.234240pt;}
.ls3d{letter-spacing:0.251808pt;}
.lsc{letter-spacing:0.268416pt;}
.ls42{letter-spacing:0.269376pt;}
.ls37{letter-spacing:0.275232pt;}
.ls34{letter-spacing:0.286944pt;}
.ls2f{letter-spacing:0.380640pt;}
.ls21{letter-spacing:0.456768pt;}
.ls35{letter-spacing:0.480192pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.686528pt;}
._0{width:1.417152pt;}
.fs1{font-size:58.560000pt;}
.fs3{font-size:74.560000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs2{font-size:122.560000pt;}
.y16{bottom:21.333333pt;}
.y15{bottom:53.120133pt;}
.y14{bottom:104.873093pt;}
.y4e{bottom:118.143680pt;}
.y66{bottom:118.158320pt;}
.y32{bottom:124.237840pt;}
.y75{bottom:124.702400pt;}
.y13{bottom:138.793973pt;}
.y31{bottom:144.880240pt;}
.y4d{bottom:152.064560pt;}
.y65{bottom:152.079200pt;}
.y74{bottom:158.623280pt;}
.y30{bottom:165.434800pt;}
.y12{bottom:172.714853pt;}
.y64{bottom:172.721600pt;}
.y4c{bottom:185.985440pt;}
.y2f{bottom:185.989360pt;}
.y73{bottom:192.544160pt;}
.y11{bottom:206.635733pt;}
.y63{bottom:206.642480pt;}
.y2e{bottom:214.625200pt;}
.y4b{bottom:219.906320pt;}
.y72{bottom:221.106800pt;}
.y62{bottom:227.197040pt;}
.y4a{bottom:240.548720pt;}
.y10{bottom:240.556613pt;}
.y2d{bottom:248.546080pt;}
.y71{bottom:255.027680pt;}
.y61{bottom:261.117920pt;}
.y49{bottom:269.111360pt;}
.yf{bottom:274.477493pt;}
.y60{bottom:281.672480pt;}
.y2c{bottom:282.466960pt;}
.y70{bottom:288.948560pt;}
.y48{bottom:303.032240pt;}
.ye{bottom:308.398373pt;}
.y2b{bottom:311.029600pt;}
.y5f{bottom:315.593360pt;}
.y6f{bottom:317.511200pt;}
.y47{bottom:336.953120pt;}
.yd{bottom:342.319253pt;}
.y2a{bottom:344.950480pt;}
.y5e{bottom:349.514240pt;}
.y6e{bottom:351.432080pt;}
.y46{bottom:365.515760pt;}
.yc{bottom:376.240133pt;}
.y29{bottom:378.871360pt;}
.y5d{bottom:383.435120pt;}
.y6d{bottom:385.352960pt;}
.y45{bottom:399.436640pt;}
.yb{bottom:412.000320pt;}
.y5c{bottom:412.070960pt;}
.y28{bottom:412.792240pt;}
.y6c{bottom:419.273840pt;}
.y44{bottom:420.079040pt;}
.y5b{bottom:445.991840pt;}
.y27{bottom:446.713120pt;}
.y6b{bottom:453.267920pt;}
.y43{bottom:453.999920pt;}
.ya{bottom:456.960000pt;}
.y9{bottom:456.977200pt;}
.y42{bottom:474.554480pt;}
.y5a{bottom:479.912720pt;}
.y26{bottom:480.634000pt;}
.y6a{bottom:487.188800pt;}
.y8{bottom:499.934480pt;}
.y41{bottom:508.475360pt;}
.y25{bottom:514.554880pt;}
.y69{bottom:521.109680pt;}
.y40{bottom:529.117760pt;}
.y59{bottom:542.396240pt;}
.y24{bottom:543.190720pt;}
.y68{bottom:549.672320pt;}
.y7{bottom:556.404000pt;}
.y3f{bottom:563.038640pt;}
.y58{bottom:576.317120pt;}
.y23{bottom:577.111600pt;}
.y3e{bottom:583.593200pt;}
.y0{bottom:604.000000pt;}
.y6{bottom:604.564000pt;}
.y57{bottom:610.238000pt;}
.y22{bottom:611.032480pt;}
.y3d{bottom:617.514080pt;}
.y21{bottom:639.595120pt;}
.y56{bottom:644.158880pt;}
.y67{bottom:646.076720pt;}
.y3c{bottom:651.434960pt;}
.y20{bottom:673.516000pt;}
.y55{bottom:678.079760pt;}
.y3b{bottom:679.997600pt;}
.y1f{bottom:707.436880pt;}
.y54{bottom:712.000640pt;}
.y3a{bottom:713.918480pt;}
.y1e{bottom:728.079280pt;}
.y53{bottom:732.643040pt;}
.y39{bottom:747.839360pt;}
.y52{bottom:753.197600pt;}
.y5{bottom:761.747200pt;}
.y1d{bottom:762.000160pt;}
.y38{bottom:776.475200pt;}
.y51{bottom:781.833440pt;}
.y1c{bottom:795.921040pt;}
.y37{bottom:810.396080pt;}
.y50{bottom:815.754320pt;}
.y1b{bottom:816.475600pt;}
.y4{bottom:818.063520pt;}
.y36{bottom:844.316960pt;}
.y4f{bottom:849.675200pt;}
.y1a{bottom:850.396480pt;}
.y3{bottom:874.471760pt;}
.y35{bottom:878.237840pt;}
.y19{bottom:884.317360pt;}
.y34{bottom:912.158720pt;}
.y18{bottom:912.880000pt;}
.y2{bottom:930.880000pt;}
.y17{bottom:942.320000pt;}
.y33{bottom:946.079600pt;}
.y1{bottom:987.760000pt;}
.h7{height:39.030469pt;}
.hb{height:42.032812pt;}
.ha{height:42.518906pt;}
.h5{height:49.694531pt;}
.h9{height:52.133750pt;}
.h6{height:54.136094pt;}
.h2{height:62.035781pt;}
.h3{height:81.686719pt;}
.h4{height:88.987656pt;}
.h8{height:92.020833pt;}
.h1{height:130.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x9{left:96.000000pt;}
.x5{left:99.200907pt;}
.x0{left:180.666667pt;}
.x6{left:317.633467pt;}
.xb{left:337.333333pt;}
.x4{left:356.239867pt;}
.x8{left:364.311600pt;}
.x1{left:372.000000pt;}
.x2{left:408.000000pt;}
.x7{left:498.240000pt;}
.x3{left:636.972720pt;}
.xa{left:673.040000pt;}
}
