.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls1c{letter-spacing:-3.200400px;}
.ls12{letter-spacing:-0.331800px;}
.ls0{letter-spacing:-0.224280px;}
.ls16{letter-spacing:-0.172200px;}
.ls1b{letter-spacing:-0.079800px;}
.ls14{letter-spacing:-0.058800px;}
.ls2{letter-spacing:-0.057672px;}
.ls10{letter-spacing:-0.046200px;}
.ls11{letter-spacing:-0.042000px;}
.ls17{letter-spacing:-0.037800px;}
.lsb{letter-spacing:-0.033600px;}
.lsd{letter-spacing:-0.029400px;}
.ls7{letter-spacing:-0.025200px;}
.ls15{letter-spacing:-0.021000px;}
.ls5{letter-spacing:-0.019800px;}
.lse{letter-spacing:-0.016800px;}
.lsa{letter-spacing:-0.012600px;}
.lsc{letter-spacing:-0.008400px;}
.ls9{letter-spacing:-0.004200px;}
.ls1{letter-spacing:0.000000px;}
.ls1a{letter-spacing:0.004200px;}
.lsf{letter-spacing:0.008400px;}
.ls19{letter-spacing:0.012600px;}
.ls13{letter-spacing:0.016800px;}
.ls18{letter-spacing:0.025200px;}
.ls4{letter-spacing:0.025776px;}
.ls3{letter-spacing:0.068736px;}
.ls8{letter-spacing:0.159600px;}
.ls6{letter-spacing:564.333000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws14{word-spacing:-2.137800px;}
.ws1a{word-spacing:-0.844200px;}
.ws10{word-spacing:-0.630000px;}
.ws1e{word-spacing:-0.621600px;}
.ws37{word-spacing:-0.134400px;}
.ws2{word-spacing:-0.079200px;}
.ws1{word-spacing:-0.051552px;}
.ws0{word-spacing:0.000000px;}
.ws18{word-spacing:0.067200px;}
.ws11{word-spacing:0.075600px;}
.ws19{word-spacing:0.079800px;}
.wsb{word-spacing:0.084000px;}
.ws2d{word-spacing:0.088200px;}
.wsa{word-spacing:0.092400px;}
.ws4{word-spacing:0.096600px;}
.ws7{word-spacing:0.100800px;}
.ws5{word-spacing:0.105000px;}
.ws9{word-spacing:0.109200px;}
.ws13{word-spacing:0.113400px;}
.ws3{word-spacing:0.117600px;}
.ws8{word-spacing:0.121800px;}
.ws6{word-spacing:0.126000px;}
.ws17{word-spacing:0.130200px;}
.ws24{word-spacing:0.134400px;}
.wsc{word-spacing:0.138600px;}
.ws12{word-spacing:0.151200px;}
.ws2e{word-spacing:0.264600px;}
.wsd{word-spacing:0.424200px;}
.ws35{word-spacing:0.583800px;}
.ws36{word-spacing:0.609000px;}
.ws34{word-spacing:0.613200px;}
.ws39{word-spacing:0.806400px;}
.ws38{word-spacing:0.814800px;}
.ws28{word-spacing:1.314600px;}
.ws29{word-spacing:1.323000px;}
.ws2b{word-spacing:1.776600px;}
.ws2a{word-spacing:1.789200px;}
.ws23{word-spacing:1.793400px;}
.ws2c{word-spacing:1.797600px;}
.ws22{word-spacing:1.801800px;}
.ws2f{word-spacing:2.024400px;}
.ws30{word-spacing:2.037000px;}
.ws33{word-spacing:2.952600px;}
.ws31{word-spacing:2.990400px;}
.ws32{word-spacing:3.015600px;}
.ws3c{word-spacing:3.234000px;}
.ws3b{word-spacing:3.250800px;}
.ws1d{word-spacing:3.477600px;}
.ws1b{word-spacing:3.481800px;}
.ws1c{word-spacing:3.490200px;}
.ws20{word-spacing:4.183200px;}
.ws1f{word-spacing:4.191600px;}
.ws21{word-spacing:4.200000px;}
.ws27{word-spacing:5.623800px;}
.ws25{word-spacing:5.632200px;}
.ws26{word-spacing:5.657400px;}
.ws3a{word-spacing:5.863200px;}
.wse{word-spacing:7.795200px;}
.wsf{word-spacing:7.803600px;}
.ws15{word-spacing:8.765400px;}
.ws16{word-spacing:8.778000px;}
._3{margin-left:-4.494000px;}
._0{margin-left:-3.007200px;}
._1{margin-left:-1.486800px;}
._2{width:1.125600px;}
._4{width:3.410400px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:42.000000px;}
.fs2{font-size:54.000000px;}
.fs5{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs4{font-size:66.000000px;}
.fs3{font-size:85.920000px;}
.ye{bottom:17.000000px;}
.yd{bottom:39.320300px;}
.y34{bottom:91.187200px;}
.y33{bottom:109.310200px;}
.y32{bottom:127.370200px;}
.y31{bottom:145.493200px;}
.y30{bottom:163.616200px;}
.y2f{bottom:181.739200px;}
.y2e{bottom:199.862200px;}
.y2d{bottom:217.985200px;}
.y2c{bottom:236.045200px;}
.y2b{bottom:254.168200px;}
.y2a{bottom:272.291200px;}
.y29{bottom:290.414200px;}
.y28{bottom:308.537200px;}
.y27{bottom:326.660200px;}
.y26{bottom:344.783200px;}
.y25{bottom:362.843200px;}
.y24{bottom:380.966200px;}
.y23{bottom:399.089200px;}
.y22{bottom:417.212200px;}
.yc{bottom:423.200300px;}
.y21{bottom:435.335200px;}
.yb{bottom:446.000300px;}
.y20{bottom:453.458200px;}
.y1f{bottom:471.581200px;}
.ya{bottom:472.101800px;}
.y1e{bottom:489.641200px;}
.y9{bottom:501.680300px;}
.y8{bottom:501.686900px;}
.y1d{bottom:507.764200px;}
.y1c{bottom:525.887200px;}
.y7{bottom:538.761380px;}
.y1b{bottom:544.010200px;}
.y1a{bottom:562.133200px;}
.y6{bottom:575.900300px;}
.y19{bottom:580.256200px;}
.y18{bottom:598.379200px;}
.y5{bottom:606.680900px;}
.y17{bottom:616.439200px;}
.y0{bottom:627.000000px;}
.y4{bottom:627.084800px;}
.y16{bottom:634.562200px;}
.y15{bottom:652.685200px;}
.y14{bottom:670.808200px;}
.y13{bottom:688.931200px;}
.y12{bottom:707.054200px;}
.y11{bottom:725.114200px;}
.y3{bottom:735.206300px;}
.y10{bottom:743.237200px;}
.y2{bottom:758.480300px;}
.yf{bottom:761.360200px;}
.y1{bottom:791.420300px;}
.h7{height:27.993164px;}
.h2{height:43.804688px;}
.h6{height:49.321860px;}
.h9{height:51.761719px;}
.h3{height:63.413820px;}
.h8{height:69.015625px;}
.h5{height:77.505780px;}
.h1{height:98.000000px;}
.h4{height:100.898433px;}
.h0{height:842.000000px;}
.w1{width:342.500000px;}
.w0{width:595.220000px;}
.x8{left:70.860000px;}
.x0{left:127.000000px;}
.x5{left:170.230800px;}
.xa{left:245.000000px;}
.x4{left:251.640000px;}
.x7{left:254.100000px;}
.x1{left:269.640000px;}
.x2{left:297.660000px;}
.x6{left:425.100000px;}
.x3{left:469.380000px;}
.x9{left:495.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1c{letter-spacing:-4.267200pt;}
.ls12{letter-spacing:-0.442400pt;}
.ls0{letter-spacing:-0.299040pt;}
.ls16{letter-spacing:-0.229600pt;}
.ls1b{letter-spacing:-0.106400pt;}
.ls14{letter-spacing:-0.078400pt;}
.ls2{letter-spacing:-0.076896pt;}
.ls10{letter-spacing:-0.061600pt;}
.ls11{letter-spacing:-0.056000pt;}
.ls17{letter-spacing:-0.050400pt;}
.lsb{letter-spacing:-0.044800pt;}
.lsd{letter-spacing:-0.039200pt;}
.ls7{letter-spacing:-0.033600pt;}
.ls15{letter-spacing:-0.028000pt;}
.ls5{letter-spacing:-0.026400pt;}
.lse{letter-spacing:-0.022400pt;}
.lsa{letter-spacing:-0.016800pt;}
.lsc{letter-spacing:-0.011200pt;}
.ls9{letter-spacing:-0.005600pt;}
.ls1{letter-spacing:0.000000pt;}
.ls1a{letter-spacing:0.005600pt;}
.lsf{letter-spacing:0.011200pt;}
.ls19{letter-spacing:0.016800pt;}
.ls13{letter-spacing:0.022400pt;}
.ls18{letter-spacing:0.033600pt;}
.ls4{letter-spacing:0.034368pt;}
.ls3{letter-spacing:0.091648pt;}
.ls8{letter-spacing:0.212800pt;}
.ls6{letter-spacing:752.444000pt;}
.ws14{word-spacing:-2.850400pt;}
.ws1a{word-spacing:-1.125600pt;}
.ws10{word-spacing:-0.840000pt;}
.ws1e{word-spacing:-0.828800pt;}
.ws37{word-spacing:-0.179200pt;}
.ws2{word-spacing:-0.105600pt;}
.ws1{word-spacing:-0.068736pt;}
.ws0{word-spacing:0.000000pt;}
.ws18{word-spacing:0.089600pt;}
.ws11{word-spacing:0.100800pt;}
.ws19{word-spacing:0.106400pt;}
.wsb{word-spacing:0.112000pt;}
.ws2d{word-spacing:0.117600pt;}
.wsa{word-spacing:0.123200pt;}
.ws4{word-spacing:0.128800pt;}
.ws7{word-spacing:0.134400pt;}
.ws5{word-spacing:0.140000pt;}
.ws9{word-spacing:0.145600pt;}
.ws13{word-spacing:0.151200pt;}
.ws3{word-spacing:0.156800pt;}
.ws8{word-spacing:0.162400pt;}
.ws6{word-spacing:0.168000pt;}
.ws17{word-spacing:0.173600pt;}
.ws24{word-spacing:0.179200pt;}
.wsc{word-spacing:0.184800pt;}
.ws12{word-spacing:0.201600pt;}
.ws2e{word-spacing:0.352800pt;}
.wsd{word-spacing:0.565600pt;}
.ws35{word-spacing:0.778400pt;}
.ws36{word-spacing:0.812000pt;}
.ws34{word-spacing:0.817600pt;}
.ws39{word-spacing:1.075200pt;}
.ws38{word-spacing:1.086400pt;}
.ws28{word-spacing:1.752800pt;}
.ws29{word-spacing:1.764000pt;}
.ws2b{word-spacing:2.368800pt;}
.ws2a{word-spacing:2.385600pt;}
.ws23{word-spacing:2.391200pt;}
.ws2c{word-spacing:2.396800pt;}
.ws22{word-spacing:2.402400pt;}
.ws2f{word-spacing:2.699200pt;}
.ws30{word-spacing:2.716000pt;}
.ws33{word-spacing:3.936800pt;}
.ws31{word-spacing:3.987200pt;}
.ws32{word-spacing:4.020800pt;}
.ws3c{word-spacing:4.312000pt;}
.ws3b{word-spacing:4.334400pt;}
.ws1d{word-spacing:4.636800pt;}
.ws1b{word-spacing:4.642400pt;}
.ws1c{word-spacing:4.653600pt;}
.ws20{word-spacing:5.577600pt;}
.ws1f{word-spacing:5.588800pt;}
.ws21{word-spacing:5.600000pt;}
.ws27{word-spacing:7.498400pt;}
.ws25{word-spacing:7.509600pt;}
.ws26{word-spacing:7.543200pt;}
.ws3a{word-spacing:7.817600pt;}
.wse{word-spacing:10.393600pt;}
.wsf{word-spacing:10.404800pt;}
.ws15{word-spacing:11.687200pt;}
.ws16{word-spacing:11.704000pt;}
._3{margin-left:-5.992000pt;}
._0{margin-left:-4.009600pt;}
._1{margin-left:-1.982400pt;}
._2{width:1.500800pt;}
._4{width:4.547200pt;}
.fs1{font-size:56.000000pt;}
.fs2{font-size:72.000000pt;}
.fs5{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs4{font-size:88.000000pt;}
.fs3{font-size:114.560000pt;}
.ye{bottom:22.666667pt;}
.yd{bottom:52.427067pt;}
.y34{bottom:121.582933pt;}
.y33{bottom:145.746933pt;}
.y32{bottom:169.826933pt;}
.y31{bottom:193.990933pt;}
.y30{bottom:218.154933pt;}
.y2f{bottom:242.318933pt;}
.y2e{bottom:266.482933pt;}
.y2d{bottom:290.646933pt;}
.y2c{bottom:314.726933pt;}
.y2b{bottom:338.890933pt;}
.y2a{bottom:363.054933pt;}
.y29{bottom:387.218933pt;}
.y28{bottom:411.382933pt;}
.y27{bottom:435.546933pt;}
.y26{bottom:459.710933pt;}
.y25{bottom:483.790933pt;}
.y24{bottom:507.954933pt;}
.y23{bottom:532.118933pt;}
.y22{bottom:556.282933pt;}
.yc{bottom:564.267067pt;}
.y21{bottom:580.446933pt;}
.yb{bottom:594.667067pt;}
.y20{bottom:604.610933pt;}
.y1f{bottom:628.774933pt;}
.ya{bottom:629.469067pt;}
.y1e{bottom:652.854933pt;}
.y9{bottom:668.907067pt;}
.y8{bottom:668.915867pt;}
.y1d{bottom:677.018933pt;}
.y1c{bottom:701.182933pt;}
.y7{bottom:718.348507pt;}
.y1b{bottom:725.346933pt;}
.y1a{bottom:749.510933pt;}
.y6{bottom:767.867067pt;}
.y19{bottom:773.674933pt;}
.y18{bottom:797.838933pt;}
.y5{bottom:808.907867pt;}
.y17{bottom:821.918933pt;}
.y0{bottom:836.000000pt;}
.y4{bottom:836.113067pt;}
.y16{bottom:846.082933pt;}
.y15{bottom:870.246933pt;}
.y14{bottom:894.410933pt;}
.y13{bottom:918.574933pt;}
.y12{bottom:942.738933pt;}
.y11{bottom:966.818933pt;}
.y3{bottom:980.275067pt;}
.y10{bottom:990.982933pt;}
.y2{bottom:1011.307067pt;}
.yf{bottom:1015.146933pt;}
.y1{bottom:1055.227067pt;}
.h7{height:37.324219pt;}
.h2{height:58.406250pt;}
.h6{height:65.762480pt;}
.h9{height:69.015625pt;}
.h3{height:84.551760pt;}
.h8{height:92.020833pt;}
.h5{height:103.341040pt;}
.h1{height:130.666667pt;}
.h4{height:134.531244pt;}
.h0{height:1122.666667pt;}
.w1{width:456.666667pt;}
.w0{width:793.626667pt;}
.x8{left:94.480000pt;}
.x0{left:169.333333pt;}
.x5{left:226.974400pt;}
.xa{left:326.666667pt;}
.x4{left:335.520000pt;}
.x7{left:338.800000pt;}
.x1{left:359.520000pt;}
.x2{left:396.880000pt;}
.x6{left:566.800000pt;}
.x3{left:625.840000pt;}
.x9{left:661.040000pt;}
}
