.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.903320;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls39{letter-spacing:-0.109800px;}
.ls40{letter-spacing:-0.096624px;}
.ls1b{letter-spacing:-0.087840px;}
.ls4{letter-spacing:-0.080064px;}
.ls2{letter-spacing:-0.076896px;}
.ls16{letter-spacing:-0.070272px;}
.ls6{letter-spacing:-0.070056px;}
.ls3e{letter-spacing:-0.065880px;}
.ls48{letter-spacing:-0.057096px;}
.ls19{letter-spacing:-0.052704px;}
.ls8{letter-spacing:-0.050040px;}
.ls37{letter-spacing:-0.048312px;}
.ls46{letter-spacing:-0.043920px;}
.ls1e{letter-spacing:-0.039528px;}
.ls15{letter-spacing:-0.035136px;}
.ls25{letter-spacing:-0.030744px;}
.ls5{letter-spacing:-0.030024px;}
.ls26{letter-spacing:-0.026352px;}
.ls2a{letter-spacing:-0.021960px;}
.ls2c{letter-spacing:-0.017568px;}
.ls2f{letter-spacing:-0.013176px;}
.ls9{letter-spacing:-0.011184px;}
.ls7{letter-spacing:-0.010008px;}
.ls35{letter-spacing:-0.008784px;}
.ls13{letter-spacing:-0.004392px;}
.ls1{letter-spacing:0.000000px;}
.ls21{letter-spacing:0.004392px;}
.lsf{letter-spacing:0.008784px;}
.ls34{letter-spacing:0.013176px;}
.ls17{letter-spacing:0.017568px;}
.ls31{letter-spacing:0.021960px;}
.lsa{letter-spacing:0.022368px;}
.ls0{letter-spacing:0.025632px;}
.ls14{letter-spacing:0.026352px;}
.ls11{letter-spacing:0.030744px;}
.ls29{letter-spacing:0.035136px;}
.ls12{letter-spacing:0.039528px;}
.ls30{letter-spacing:0.043920px;}
.ls36{letter-spacing:0.048312px;}
.ls1f{letter-spacing:0.052704px;}
.ls27{letter-spacing:0.057096px;}
.ls3c{letter-spacing:0.061488px;}
.lsc{letter-spacing:0.065880px;}
.ls3{letter-spacing:0.070056px;}
.ls24{letter-spacing:0.070272px;}
.ls33{letter-spacing:0.074664px;}
.ls28{letter-spacing:0.079056px;}
.lsd{letter-spacing:0.083448px;}
.ls2b{letter-spacing:0.087840px;}
.ls2e{letter-spacing:0.092232px;}
.ls32{letter-spacing:0.096624px;}
.ls1d{letter-spacing:0.101016px;}
.ls10{letter-spacing:0.105408px;}
.ls1c{letter-spacing:0.109800px;}
.ls1a{letter-spacing:0.118584px;}
.ls22{letter-spacing:0.131760px;}
.ls43{letter-spacing:0.136152px;}
.ls38{letter-spacing:0.140544px;}
.ls18{letter-spacing:0.144936px;}
.lse{letter-spacing:0.149328px;}
.ls3b{letter-spacing:0.158112px;}
.ls45{letter-spacing:0.162504px;}
.ls3f{letter-spacing:0.166896px;}
.ls2d{letter-spacing:0.171288px;}
.ls49{letter-spacing:0.175680px;}
.ls44{letter-spacing:0.188856px;}
.ls3d{letter-spacing:0.197640px;}
.ls20{letter-spacing:0.206424px;}
.ls4a{letter-spacing:0.210816px;}
.ls23{letter-spacing:0.241560px;}
.ls47{letter-spacing:0.276696px;}
.ls42{letter-spacing:0.294264px;}
.ls3a{letter-spacing:0.325008px;}
.ls41{letter-spacing:0.360144px;}
.lsb{letter-spacing:566.071704px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.076040px;}
._0{width:1.177056px;}
._2{width:39.571920px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs2{font-size:55.920000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:100.080000px;}
.y12{bottom:16.000000px;}
.y11{bottom:39.840100px;}
.y2d{bottom:78.048540px;}
.y62{bottom:83.461680px;}
.y79{bottom:99.954480px;}
.y2c{bottom:103.489200px;}
.y46{bottom:103.500180px;}
.y61{bottom:108.902340px;}
.y78{bottom:121.376460px;}
.y2b{bottom:128.929860px;}
.y45{bottom:128.940840px;}
.y60{bottom:134.343000px;}
.y77{bottom:146.817120px;}
.y2a{bottom:154.370520px;}
.y44{bottom:154.381500px;}
.y5f{bottom:159.783660px;}
.y88{bottom:162.716180px;}
.y76{bottom:172.257780px;}
.y43{bottom:175.858380px;}
.y29{bottom:179.811180px;}
.y87{bottom:184.138160px;}
.y5e{bottom:185.224320px;}
.y75{bottom:197.698440px;}
.y28{bottom:201.288060px;}
.y42{bottom:201.299040px;}
.y86{bottom:209.578820px;}
.y5d{bottom:210.664980px;}
.y74{bottom:223.139100px;}
.y27{bottom:226.728720px;}
.y41{bottom:226.739700px;}
.y85{bottom:235.074380px;}
.y5c{bottom:236.105640px;}
.y10{bottom:241.199440px;}
.y73{bottom:248.579760px;}
.y5b{bottom:252.125460px;}
.y26{bottom:252.169380px;}
.y40{bottom:252.180360px;}
.y84{bottom:256.496360px;}
.yf{bottom:266.640100px;}
.y5a{bottom:268.145280px;}
.y25{bottom:273.591360px;}
.y72{bottom:274.020420px;}
.y3f{bottom:277.621020px;}
.y83{bottom:281.937020px;}
.y71{bottom:289.502220px;}
.ye{bottom:293.465520px;}
.y59{bottom:294.189840px;}
.y24{bottom:299.032020px;}
.y3e{bottom:303.061680px;}
.y70{bottom:304.918140px;}
.y82{bottom:307.377680px;}
.y58{bottom:309.605760px;}
.y23{bottom:324.472680px;}
.y6f{bottom:326.340120px;}
.yc{bottom:328.075920px;}
.yd{bottom:328.080000px;}
.y3d{bottom:328.502340px;}
.y81{bottom:332.818340px;}
.y57{bottom:335.046420px;}
.y3c{bottom:343.918260px;}
.y22{bottom:349.913340px;}
.y6e{bottom:351.780780px;}
.y80{bottom:358.259000px;}
.y56{bottom:360.487080px;}
.yb{bottom:363.178980px;}
.y3b{bottom:365.395140px;}
.y21{bottom:375.354000px;}
.y6d{bottom:377.221440px;}
.y55{bottom:381.963960px;}
.y7f{bottom:383.699660px;}
.y3a{bottom:390.835800px;}
.y6c{bottom:398.698320px;}
.y20{bottom:400.794660px;}
.y54{bottom:407.404620px;}
.ya{bottom:408.240000px;}
.y7e{bottom:409.140320px;}
.y39{bottom:416.276460px;}
.y6b{bottom:424.138980px;}
.y7d{bottom:424.556240px;}
.y1f{bottom:426.235320px;}
.y53{bottom:432.845280px;}
.y38{bottom:437.698440px;}
.y0{bottom:444.500000px;}
.y9{bottom:444.670920px;}
.y1e{bottom:447.712200px;}
.y6a{bottom:449.579640px;}
.y7c{bottom:449.996900px;}
.y52{bottom:454.267260px;}
.y37{bottom:463.139100px;}
.y7a{bottom:472.000000px;}
.y7b{bottom:472.560800px;}
.y1d{bottom:473.152860px;}
.y69{bottom:475.020300px;}
.y51{bottom:479.707920px;}
.y36{bottom:488.579760px;}
.y1c{bottom:498.593520px;}
.y68{bottom:500.460960px;}
.y50{bottom:505.148580px;}
.y35{bottom:514.020420px;}
.y1b{bottom:520.015500px;}
.y67{bottom:525.901620px;}
.y4f{bottom:530.589240px;}
.y34{bottom:539.461080px;}
.y1a{bottom:545.456160px;}
.y4e{bottom:546.005160px;}
.y66{bottom:551.342280px;}
.y8{bottom:558.496080px;}
.y33{bottom:564.901740px;}
.y19{bottom:570.896820px;}
.y4d{bottom:571.445820px;}
.y63{bottom:573.500000px;}
.y65{bottom:573.840300px;}
.y4c{bottom:586.927620px;}
.y7{bottom:588.133680px;}
.y32{bottom:590.342400px;}
.y18{bottom:596.337480px;}
.y31{bottom:611.819280px;}
.y4b{bottom:612.368280px;}
.y64{bottom:615.783060px;}
.y6{bottom:617.771280px;}
.y17{bottom:621.778140px;}
.y30{bottom:637.259940px;}
.y4a{bottom:637.808940px;}
.y16{bottom:647.218800px;}
.y5{bottom:647.464800px;}
.y2f{bottom:662.700600px;}
.y49{bottom:663.249600px;}
.y15{bottom:672.659460px;}
.y4{bottom:677.102400px;}
.y48{bottom:678.665520px;}
.y2e{bottom:684.122580px;}
.y14{bottom:688.141260px;}
.y47{bottom:694.147320px;}
.y3{bottom:706.740000px;}
.y13{bottom:709.563240px;}
.y2{bottom:726.000300px;}
.y1{bottom:740.820000px;}
.hb{height:27.500000px;}
.h3{height:29.272852px;}
.h9{height:31.524609px;}
.h8{height:31.889180px;}
.h4{height:37.270898px;}
.h6{height:40.602070px;}
.h2{height:46.526836px;}
.ha{height:54.127969px;}
.h7{height:69.015625px;}
.h5{height:72.665508px;}
.h1{height:98.000000px;}
.hc{height:160.500000px;}
.h0{height:792.000000px;}
.w3{width:257.500000px;}
.w1{width:342.500000px;}
.w2{width:392.500000px;}
.w0{width:612.000000px;}
.x2{left:72.000500px;}
.xd{left:73.500000px;}
.xc{left:90.150440px;}
.x6{left:107.291460px;}
.x0{left:135.500000px;}
.x7{left:204.494160px;}
.xb{left:253.000000px;}
.x5{left:261.840000px;}
.x9{left:269.705160px;}
.x1{left:277.740000px;}
.x3{left:306.000000px;}
.xf{left:331.492500px;}
.x8{left:407.520000px;}
.xe{left:466.491600px;}
.x4{left:477.716340px;}
.xa{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls39{letter-spacing:-0.146400pt;}
.ls40{letter-spacing:-0.128832pt;}
.ls1b{letter-spacing:-0.117120pt;}
.ls4{letter-spacing:-0.106752pt;}
.ls2{letter-spacing:-0.102528pt;}
.ls16{letter-spacing:-0.093696pt;}
.ls6{letter-spacing:-0.093408pt;}
.ls3e{letter-spacing:-0.087840pt;}
.ls48{letter-spacing:-0.076128pt;}
.ls19{letter-spacing:-0.070272pt;}
.ls8{letter-spacing:-0.066720pt;}
.ls37{letter-spacing:-0.064416pt;}
.ls46{letter-spacing:-0.058560pt;}
.ls1e{letter-spacing:-0.052704pt;}
.ls15{letter-spacing:-0.046848pt;}
.ls25{letter-spacing:-0.040992pt;}
.ls5{letter-spacing:-0.040032pt;}
.ls26{letter-spacing:-0.035136pt;}
.ls2a{letter-spacing:-0.029280pt;}
.ls2c{letter-spacing:-0.023424pt;}
.ls2f{letter-spacing:-0.017568pt;}
.ls9{letter-spacing:-0.014912pt;}
.ls7{letter-spacing:-0.013344pt;}
.ls35{letter-spacing:-0.011712pt;}
.ls13{letter-spacing:-0.005856pt;}
.ls1{letter-spacing:0.000000pt;}
.ls21{letter-spacing:0.005856pt;}
.lsf{letter-spacing:0.011712pt;}
.ls34{letter-spacing:0.017568pt;}
.ls17{letter-spacing:0.023424pt;}
.ls31{letter-spacing:0.029280pt;}
.lsa{letter-spacing:0.029824pt;}
.ls0{letter-spacing:0.034176pt;}
.ls14{letter-spacing:0.035136pt;}
.ls11{letter-spacing:0.040992pt;}
.ls29{letter-spacing:0.046848pt;}
.ls12{letter-spacing:0.052704pt;}
.ls30{letter-spacing:0.058560pt;}
.ls36{letter-spacing:0.064416pt;}
.ls1f{letter-spacing:0.070272pt;}
.ls27{letter-spacing:0.076128pt;}
.ls3c{letter-spacing:0.081984pt;}
.lsc{letter-spacing:0.087840pt;}
.ls3{letter-spacing:0.093408pt;}
.ls24{letter-spacing:0.093696pt;}
.ls33{letter-spacing:0.099552pt;}
.ls28{letter-spacing:0.105408pt;}
.lsd{letter-spacing:0.111264pt;}
.ls2b{letter-spacing:0.117120pt;}
.ls2e{letter-spacing:0.122976pt;}
.ls32{letter-spacing:0.128832pt;}
.ls1d{letter-spacing:0.134688pt;}
.ls10{letter-spacing:0.140544pt;}
.ls1c{letter-spacing:0.146400pt;}
.ls1a{letter-spacing:0.158112pt;}
.ls22{letter-spacing:0.175680pt;}
.ls43{letter-spacing:0.181536pt;}
.ls38{letter-spacing:0.187392pt;}
.ls18{letter-spacing:0.193248pt;}
.lse{letter-spacing:0.199104pt;}
.ls3b{letter-spacing:0.210816pt;}
.ls45{letter-spacing:0.216672pt;}
.ls3f{letter-spacing:0.222528pt;}
.ls2d{letter-spacing:0.228384pt;}
.ls49{letter-spacing:0.234240pt;}
.ls44{letter-spacing:0.251808pt;}
.ls3d{letter-spacing:0.263520pt;}
.ls20{letter-spacing:0.275232pt;}
.ls4a{letter-spacing:0.281088pt;}
.ls23{letter-spacing:0.322080pt;}
.ls47{letter-spacing:0.368928pt;}
.ls42{letter-spacing:0.392352pt;}
.ls3a{letter-spacing:0.433344pt;}
.ls41{letter-spacing:0.480192pt;}
.lsb{letter-spacing:754.762272pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.434720pt;}
._0{width:1.569408pt;}
._2{width:52.762560pt;}
.fs1{font-size:58.560000pt;}
.fs2{font-size:74.560000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:133.440000pt;}
.y12{bottom:21.333333pt;}
.y11{bottom:53.120133pt;}
.y2d{bottom:104.064720pt;}
.y62{bottom:111.282240pt;}
.y79{bottom:133.272640pt;}
.y2c{bottom:137.985600pt;}
.y46{bottom:138.000240pt;}
.y61{bottom:145.203120pt;}
.y78{bottom:161.835280pt;}
.y2b{bottom:171.906480pt;}
.y45{bottom:171.921120pt;}
.y60{bottom:179.124000pt;}
.y77{bottom:195.756160pt;}
.y2a{bottom:205.827360pt;}
.y44{bottom:205.842000pt;}
.y5f{bottom:213.044880pt;}
.y88{bottom:216.954907pt;}
.y76{bottom:229.677040pt;}
.y43{bottom:234.477840pt;}
.y29{bottom:239.748240pt;}
.y87{bottom:245.517547pt;}
.y5e{bottom:246.965760pt;}
.y75{bottom:263.597920pt;}
.y28{bottom:268.384080pt;}
.y42{bottom:268.398720pt;}
.y86{bottom:279.438427pt;}
.y5d{bottom:280.886640pt;}
.y74{bottom:297.518800pt;}
.y27{bottom:302.304960pt;}
.y41{bottom:302.319600pt;}
.y85{bottom:313.432507pt;}
.y5c{bottom:314.807520pt;}
.y10{bottom:321.599253pt;}
.y73{bottom:331.439680pt;}
.y5b{bottom:336.167280pt;}
.y26{bottom:336.225840pt;}
.y40{bottom:336.240480pt;}
.y84{bottom:341.995147pt;}
.yf{bottom:355.520133pt;}
.y5a{bottom:357.527040pt;}
.y25{bottom:364.788480pt;}
.y72{bottom:365.360560pt;}
.y3f{bottom:370.161360pt;}
.y83{bottom:375.916027pt;}
.y71{bottom:386.002960pt;}
.ye{bottom:391.287360pt;}
.y59{bottom:392.253120pt;}
.y24{bottom:398.709360pt;}
.y3e{bottom:404.082240pt;}
.y70{bottom:406.557520pt;}
.y82{bottom:409.836907pt;}
.y58{bottom:412.807680pt;}
.y23{bottom:432.630240pt;}
.y6f{bottom:435.120160pt;}
.yc{bottom:437.434560pt;}
.yd{bottom:437.440000pt;}
.y3d{bottom:438.003120pt;}
.y81{bottom:443.757787pt;}
.y57{bottom:446.728560pt;}
.y3c{bottom:458.557680pt;}
.y22{bottom:466.551120pt;}
.y6e{bottom:469.041040pt;}
.y80{bottom:477.678667pt;}
.y56{bottom:480.649440pt;}
.yb{bottom:484.238640pt;}
.y3b{bottom:487.193520pt;}
.y21{bottom:500.472000pt;}
.y6d{bottom:502.961920pt;}
.y55{bottom:509.285280pt;}
.y7f{bottom:511.599547pt;}
.y3a{bottom:521.114400pt;}
.y6c{bottom:531.597760pt;}
.y20{bottom:534.392880pt;}
.y54{bottom:543.206160pt;}
.ya{bottom:544.320000pt;}
.y7e{bottom:545.520427pt;}
.y39{bottom:555.035280pt;}
.y6b{bottom:565.518640pt;}
.y7d{bottom:566.074987pt;}
.y1f{bottom:568.313760pt;}
.y53{bottom:577.127040pt;}
.y38{bottom:583.597920pt;}
.y0{bottom:592.666667pt;}
.y9{bottom:592.894560pt;}
.y1e{bottom:596.949600pt;}
.y6a{bottom:599.439520pt;}
.y7c{bottom:599.995867pt;}
.y52{bottom:605.689680pt;}
.y37{bottom:617.518800pt;}
.y7a{bottom:629.333333pt;}
.y7b{bottom:630.081067pt;}
.y1d{bottom:630.870480pt;}
.y69{bottom:633.360400pt;}
.y51{bottom:639.610560pt;}
.y36{bottom:651.439680pt;}
.y1c{bottom:664.791360pt;}
.y68{bottom:667.281280pt;}
.y50{bottom:673.531440pt;}
.y35{bottom:685.360560pt;}
.y1b{bottom:693.354000pt;}
.y67{bottom:701.202160pt;}
.y4f{bottom:707.452320pt;}
.y34{bottom:719.281440pt;}
.y1a{bottom:727.274880pt;}
.y4e{bottom:728.006880pt;}
.y66{bottom:735.123040pt;}
.y8{bottom:744.661440pt;}
.y33{bottom:753.202320pt;}
.y19{bottom:761.195760pt;}
.y4d{bottom:761.927760pt;}
.y63{bottom:764.666667pt;}
.y65{bottom:765.120400pt;}
.y4c{bottom:782.570160pt;}
.y7{bottom:784.178240pt;}
.y32{bottom:787.123200pt;}
.y18{bottom:795.116640pt;}
.y31{bottom:815.759040pt;}
.y4b{bottom:816.491040pt;}
.y64{bottom:821.044080pt;}
.y6{bottom:823.695040pt;}
.y17{bottom:829.037520pt;}
.y30{bottom:849.679920pt;}
.y4a{bottom:850.411920pt;}
.y16{bottom:862.958400pt;}
.y5{bottom:863.286400pt;}
.y2f{bottom:883.600800pt;}
.y49{bottom:884.332800pt;}
.y15{bottom:896.879280pt;}
.y4{bottom:902.803200pt;}
.y48{bottom:904.887360pt;}
.y2e{bottom:912.163440pt;}
.y14{bottom:917.521680pt;}
.y47{bottom:925.529760pt;}
.y3{bottom:942.320000pt;}
.y13{bottom:946.084320pt;}
.y2{bottom:968.000400pt;}
.y1{bottom:987.760000pt;}
.hb{height:36.666667pt;}
.h3{height:39.030469pt;}
.h9{height:42.032812pt;}
.h8{height:42.518906pt;}
.h4{height:49.694531pt;}
.h6{height:54.136094pt;}
.h2{height:62.035781pt;}
.ha{height:72.170625pt;}
.h7{height:92.020833pt;}
.h5{height:96.887344pt;}
.h1{height:130.666667pt;}
.hc{height:214.000000pt;}
.h0{height:1056.000000pt;}
.w3{width:343.333333pt;}
.w1{width:456.666667pt;}
.w2{width:523.333333pt;}
.w0{width:816.000000pt;}
.x2{left:96.000667pt;}
.xd{left:98.000000pt;}
.xc{left:120.200587pt;}
.x6{left:143.055280pt;}
.x0{left:180.666667pt;}
.x7{left:272.658880pt;}
.xb{left:337.333333pt;}
.x5{left:349.120000pt;}
.x9{left:359.606880pt;}
.x1{left:370.320000pt;}
.x3{left:408.000000pt;}
.xf{left:441.990000pt;}
.x8{left:543.360000pt;}
.xe{left:621.988800pt;}
.x4{left:636.955120pt;}
.xa{left:673.040000pt;}
}
