.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls16{letter-spacing:-0.188376px;}
.ls11{letter-spacing:-0.168336px;}
.ls2{letter-spacing:-0.076896px;}
.ls21{letter-spacing:-0.076152px;}
.ls18{letter-spacing:-0.068136px;}
.ls1c{letter-spacing:-0.060120px;}
.ls3{letter-spacing:-0.060048px;}
.ls9{letter-spacing:-0.056112px;}
.ls1d{letter-spacing:-0.052104px;}
.ls12{letter-spacing:-0.048096px;}
.ls0{letter-spacing:-0.044856px;}
.ls13{letter-spacing:-0.044088px;}
.lsf{letter-spacing:-0.040080px;}
.ls17{letter-spacing:-0.036072px;}
.ls20{letter-spacing:-0.028056px;}
.ls1a{letter-spacing:-0.024048px;}
.ls5{letter-spacing:-0.021600px;}
.lsc{letter-spacing:-0.020040px;}
.lsa{letter-spacing:-0.016032px;}
.ls14{letter-spacing:-0.012024px;}
.ls8{letter-spacing:-0.008016px;}
.lsb{letter-spacing:-0.004008px;}
.ls1{letter-spacing:0.000000px;}
.ls15{letter-spacing:0.004008px;}
.ls10{letter-spacing:0.008016px;}
.ls1f{letter-spacing:0.012024px;}
.lse{letter-spacing:0.016032px;}
.ls1e{letter-spacing:0.020040px;}
.ls7{letter-spacing:0.024048px;}
.ls1b{letter-spacing:0.028056px;}
.ls4{letter-spacing:0.039960px;}
.ls19{letter-spacing:0.052104px;}
.lsd{letter-spacing:0.068136px;}
.ls6{letter-spacing:565.999200px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws9{word-spacing:-0.404808px;}
.ws15{word-spacing:-0.148296px;}
.ws19{word-spacing:-0.124248px;}
.ws3{word-spacing:-0.120240px;}
.ws1a{word-spacing:-0.116232px;}
.wsb{word-spacing:-0.112224px;}
.ws1b{word-spacing:-0.108216px;}
.wsd{word-spacing:-0.104208px;}
.ws12{word-spacing:-0.100200px;}
.wsa{word-spacing:-0.096192px;}
.ws7{word-spacing:-0.092184px;}
.ws4{word-spacing:-0.088176px;}
.ws11{word-spacing:-0.084168px;}
.ws6{word-spacing:-0.080160px;}
.ws8{word-spacing:-0.076152px;}
.ws16{word-spacing:-0.072144px;}
.ws1c{word-spacing:-0.068136px;}
.ws2{word-spacing:-0.064800px;}
.ws13{word-spacing:-0.060120px;}
.wsc{word-spacing:-0.056112px;}
.ws10{word-spacing:-0.052104px;}
.wsf{word-spacing:-0.048096px;}
.ws18{word-spacing:-0.044088px;}
.ws5{word-spacing:-0.040080px;}
.ws17{word-spacing:-0.036072px;}
.ws14{word-spacing:-0.028056px;}
.ws1d{word-spacing:-0.020040px;}
.ws0{word-spacing:0.000000px;}
.ws1{word-spacing:0.071928px;}
.wse{word-spacing:0.072144px;}
._0{margin-left:-1.042080px;}
._1{width:1.058112px;}
.fc2{color:rgb(255,0,0);}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs7{font-size:36.000000px;}
.fs9{font-size:40.080000px;}
.fs1{font-size:43.920000px;}
.fs6{font-size:52.080000px;}
.fs8{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs2{font-size:72.000000px;}
.fs5{font-size:79.920000px;}
.fs3{font-size:91.920000px;}
.fs4{font-size:100.080000px;}
.y13{bottom:16.000000px;}
.y12{bottom:39.840100px;}
.y54{bottom:78.758520px;}
.y72{bottom:81.160780px;}
.y33{bottom:90.221520px;}
.y53{bottom:90.281520px;}
.y71{bottom:104.557480px;}
.y52{bottom:113.678220px;}
.y8c{bottom:113.738340px;}
.y32{bottom:131.684280px;}
.y8b{bottom:137.195160px;}
.y70{bottom:146.080360px;}
.y51{bottom:155.201100px;}
.y31{bottom:155.261340px;}
.y30{bottom:166.784340px;}
.y6f{bottom:169.657420px;}
.y2f{bottom:178.247220px;}
.y8a{bottom:178.718040px;}
.y50{bottom:178.778160px;}
.y6e{bottom:181.120300px;}
.y2e{bottom:189.770220px;}
.y4f{bottom:190.241040px;}
.y6d{bottom:192.643300px;}
.y4e{bottom:201.764040px;}
.y89{bottom:202.234980px;}
.y6c{bottom:204.166300px;}
.y4d{bottom:213.287040px;}
.y2d{bottom:213.287160px;}
.y88{bottom:213.757980px;}
.y2c{bottom:224.750040px;}
.y87{bottom:225.280980px;}
.y6b{bottom:227.623120px;}
.y4c{bottom:236.743860px;}
.y2b{bottom:248.206860px;}
.y4b{bottom:248.266860px;}
.y6a{bottom:251.079940px;}
.y86{bottom:260.260800px;}
.y4a{bottom:271.723680px;}
.y85{bottom:271.783800px;}
.y84{bottom:283.306800px;}
.y2a{bottom:289.729740px;}
.y69{bottom:292.602820px;}
.y83{bottom:306.703500px;}
.y49{bottom:313.186440px;}
.y29{bottom:313.246680px;}
.y68{bottom:316.119760px;}
.y28{bottom:324.769680px;}
.y67{bottom:327.642760px;}
.y27{bottom:336.292680px;}
.y48{bottom:336.763500px;}
.y66{bottom:339.165760px;}
.y26{bottom:347.755560px;}
.y82{bottom:348.226380px;}
.y47{bottom:348.286500px;}
.y65{bottom:350.628640px;}
.y11{bottom:357.783000px;}
.y25{bottom:359.278560px;}
.y46{bottom:359.749380px;}
.y10{bottom:368.160000px;}
.y45{bottom:371.272380px;}
.y81{bottom:371.743320px;}
.y64{bottom:374.145580px;}
.yf{bottom:378.483000px;}
.y24{bottom:382.795500px;}
.y80{bottom:383.266320px;}
.ye{bottom:388.860000px;}
.y23{bottom:394.258380px;}
.y44{bottom:394.789320px;}
.y63{bottom:397.602400px;}
.yd{bottom:401.040000px;}
.y43{bottom:406.252200px;}
.y22{bottom:417.715200px;}
.yc{bottom:421.740000px;}
.y42{bottom:429.709020px;}
.y7f{bottom:429.769140px;}
.y62{bottom:439.065160px;}
.yb{bottom:442.800000px;}
.ya{bottom:442.803000px;}
.y61{bottom:450.648280px;}
.y7e{bottom:453.225960px;}
.y21{bottom:459.238080px;}
.y60{bottom:462.171280px;}
.y9{bottom:465.780000px;}
.y41{bottom:471.231900px;}
.y5f{bottom:473.634160px;}
.y20{bottom:482.755020px;}
.y5e{bottom:485.157160px;}
.y8{bottom:489.900000px;}
.y1f{bottom:494.278020px;}
.y7d{bottom:494.688720px;}
.y40{bottom:494.748840px;}
.y1e{bottom:505.740900px;}
.y3f{bottom:506.271840px;}
.y5d{bottom:508.613980px;}
.y1d{bottom:517.263900px;}
.y3e{bottom:517.734720px;}
.y7c{bottom:518.265780px;}
.y7{bottom:518.280000px;}
.y3d{bottom:529.257720px;}
.y7b{bottom:529.728660px;}
.y5c{bottom:532.070800px;}
.y1c{bottom:540.780840px;}
.y7a{bottom:541.251660px;}
.y6{bottom:543.654000px;}
.y3c{bottom:552.774660px;}
.y0{bottom:560.000000px;}
.y5{bottom:560.394000px;}
.y1b{bottom:564.177540px;}
.y3b{bottom:564.297660px;}
.y5b{bottom:573.593680px;}
.y79{bottom:576.231480px;}
.y3a{bottom:587.694360px;}
.y78{bottom:587.754480px;}
.y5a{bottom:597.110620px;}
.y1a{bottom:605.700420px;}
.y59{bottom:608.633620px;}
.y77{bottom:611.211300px;}
.y58{bottom:620.156620px;}
.y39{bottom:629.217240px;}
.y19{bottom:629.277480px;}
.y57{bottom:631.619500px;}
.y18{bottom:640.740360px;}
.y17{bottom:652.263360px;}
.y55{bottom:652.500000px;}
.y76{bottom:652.674060px;}
.y38{bottom:652.734180px;}
.y56{bottom:652.920000px;}
.y4{bottom:661.860000px;}
.y16{bottom:663.786360px;}
.y37{bottom:664.257180px;}
.y36{bottom:675.780180px;}
.y75{bottom:676.251120px;}
.y3{bottom:682.560000px;}
.y35{bottom:687.243060px;}
.y15{bottom:687.243180px;}
.y74{bottom:687.774120px;}
.y73{bottom:699.237000px;}
.y2{bottom:703.260000px;}
.y14{bottom:710.700000px;}
.y34{bottom:710.760000px;}
.y1{bottom:740.820000px;}
.h9{height:29.272852px;}
.h8{height:42.275880px;}
.h2{height:43.804688px;}
.hd{height:44.463750px;}
.hb{height:47.067146px;}
.hc{height:49.395469px;}
.he{height:67.500000px;}
.ha{height:69.015625px;}
.h3{height:82.441406px;}
.h7{height:84.551760px;}
.h6{height:93.852453px;}
.h1{height:98.000000px;}
.h4{height:105.250195px;}
.h5{height:114.593555px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w2{width:468.500000px;}
.w0{width:612.000000px;}
.x7{left:72.000000px;}
.x9{left:73.500000px;}
.x5{left:106.439760px;}
.x0{left:135.500000px;}
.x8{left:253.000000px;}
.x4{left:258.780000px;}
.x1{left:278.340000px;}
.x2{left:306.000000px;}
.x3{left:477.720000px;}
.x6{left:505.499900px;}
.xa{left:541.499900px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls16{letter-spacing:-0.251168pt;}
.ls11{letter-spacing:-0.224448pt;}
.ls2{letter-spacing:-0.102528pt;}
.ls21{letter-spacing:-0.101536pt;}
.ls18{letter-spacing:-0.090848pt;}
.ls1c{letter-spacing:-0.080160pt;}
.ls3{letter-spacing:-0.080064pt;}
.ls9{letter-spacing:-0.074816pt;}
.ls1d{letter-spacing:-0.069472pt;}
.ls12{letter-spacing:-0.064128pt;}
.ls0{letter-spacing:-0.059808pt;}
.ls13{letter-spacing:-0.058784pt;}
.lsf{letter-spacing:-0.053440pt;}
.ls17{letter-spacing:-0.048096pt;}
.ls20{letter-spacing:-0.037408pt;}
.ls1a{letter-spacing:-0.032064pt;}
.ls5{letter-spacing:-0.028800pt;}
.lsc{letter-spacing:-0.026720pt;}
.lsa{letter-spacing:-0.021376pt;}
.ls14{letter-spacing:-0.016032pt;}
.ls8{letter-spacing:-0.010688pt;}
.lsb{letter-spacing:-0.005344pt;}
.ls1{letter-spacing:0.000000pt;}
.ls15{letter-spacing:0.005344pt;}
.ls10{letter-spacing:0.010688pt;}
.ls1f{letter-spacing:0.016032pt;}
.lse{letter-spacing:0.021376pt;}
.ls1e{letter-spacing:0.026720pt;}
.ls7{letter-spacing:0.032064pt;}
.ls1b{letter-spacing:0.037408pt;}
.ls4{letter-spacing:0.053280pt;}
.ls19{letter-spacing:0.069472pt;}
.lsd{letter-spacing:0.090848pt;}
.ls6{letter-spacing:754.665600pt;}
.ws9{word-spacing:-0.539744pt;}
.ws15{word-spacing:-0.197728pt;}
.ws19{word-spacing:-0.165664pt;}
.ws3{word-spacing:-0.160320pt;}
.ws1a{word-spacing:-0.154976pt;}
.wsb{word-spacing:-0.149632pt;}
.ws1b{word-spacing:-0.144288pt;}
.wsd{word-spacing:-0.138944pt;}
.ws12{word-spacing:-0.133600pt;}
.wsa{word-spacing:-0.128256pt;}
.ws7{word-spacing:-0.122912pt;}
.ws4{word-spacing:-0.117568pt;}
.ws11{word-spacing:-0.112224pt;}
.ws6{word-spacing:-0.106880pt;}
.ws8{word-spacing:-0.101536pt;}
.ws16{word-spacing:-0.096192pt;}
.ws1c{word-spacing:-0.090848pt;}
.ws2{word-spacing:-0.086400pt;}
.ws13{word-spacing:-0.080160pt;}
.wsc{word-spacing:-0.074816pt;}
.ws10{word-spacing:-0.069472pt;}
.wsf{word-spacing:-0.064128pt;}
.ws18{word-spacing:-0.058784pt;}
.ws5{word-spacing:-0.053440pt;}
.ws17{word-spacing:-0.048096pt;}
.ws14{word-spacing:-0.037408pt;}
.ws1d{word-spacing:-0.026720pt;}
.ws0{word-spacing:0.000000pt;}
.ws1{word-spacing:0.095904pt;}
.wse{word-spacing:0.096192pt;}
._0{margin-left:-1.389440pt;}
._1{width:1.410816pt;}
.fs7{font-size:48.000000pt;}
.fs9{font-size:53.440000pt;}
.fs1{font-size:58.560000pt;}
.fs6{font-size:69.440000pt;}
.fs8{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs2{font-size:96.000000pt;}
.fs5{font-size:106.560000pt;}
.fs3{font-size:122.560000pt;}
.fs4{font-size:133.440000pt;}
.y13{bottom:21.333333pt;}
.y12{bottom:53.120133pt;}
.y54{bottom:105.011360pt;}
.y72{bottom:108.214373pt;}
.y33{bottom:120.295360pt;}
.y53{bottom:120.375360pt;}
.y71{bottom:139.409973pt;}
.y52{bottom:151.570960pt;}
.y8c{bottom:151.651120pt;}
.y32{bottom:175.579040pt;}
.y8b{bottom:182.926880pt;}
.y70{bottom:194.773813pt;}
.y51{bottom:206.934800pt;}
.y31{bottom:207.015120pt;}
.y30{bottom:222.379120pt;}
.y6f{bottom:226.209893pt;}
.y2f{bottom:237.662960pt;}
.y8a{bottom:238.290720pt;}
.y50{bottom:238.370880pt;}
.y6e{bottom:241.493733pt;}
.y2e{bottom:253.026960pt;}
.y4f{bottom:253.654720pt;}
.y6d{bottom:256.857733pt;}
.y4e{bottom:269.018720pt;}
.y89{bottom:269.646640pt;}
.y6c{bottom:272.221733pt;}
.y4d{bottom:284.382720pt;}
.y2d{bottom:284.382880pt;}
.y88{bottom:285.010640pt;}
.y2c{bottom:299.666720pt;}
.y87{bottom:300.374640pt;}
.y6b{bottom:303.497493pt;}
.y4c{bottom:315.658480pt;}
.y2b{bottom:330.942480pt;}
.y4b{bottom:331.022480pt;}
.y6a{bottom:334.773253pt;}
.y86{bottom:347.014400pt;}
.y4a{bottom:362.298240pt;}
.y85{bottom:362.378400pt;}
.y84{bottom:377.742400pt;}
.y2a{bottom:386.306320pt;}
.y69{bottom:390.137093pt;}
.y83{bottom:408.938000pt;}
.y49{bottom:417.581920pt;}
.y29{bottom:417.662240pt;}
.y68{bottom:421.493013pt;}
.y28{bottom:433.026240pt;}
.y67{bottom:436.857013pt;}
.y27{bottom:448.390240pt;}
.y48{bottom:449.018000pt;}
.y66{bottom:452.221013pt;}
.y26{bottom:463.674080pt;}
.y82{bottom:464.301840pt;}
.y47{bottom:464.382000pt;}
.y65{bottom:467.504853pt;}
.y11{bottom:477.044000pt;}
.y25{bottom:479.038080pt;}
.y46{bottom:479.665840pt;}
.y10{bottom:490.880000pt;}
.y45{bottom:495.029840pt;}
.y81{bottom:495.657760pt;}
.y64{bottom:498.860773pt;}
.yf{bottom:504.644000pt;}
.y24{bottom:510.394000pt;}
.y80{bottom:511.021760pt;}
.ye{bottom:518.480000pt;}
.y23{bottom:525.677840pt;}
.y44{bottom:526.385760pt;}
.y63{bottom:530.136533pt;}
.yd{bottom:534.720000pt;}
.y43{bottom:541.669600pt;}
.y22{bottom:556.953600pt;}
.yc{bottom:562.320000pt;}
.y42{bottom:572.945360pt;}
.y7f{bottom:573.025520pt;}
.y62{bottom:585.420213pt;}
.yb{bottom:590.400000pt;}
.ya{bottom:590.404000pt;}
.y61{bottom:600.864373pt;}
.y7e{bottom:604.301280pt;}
.y21{bottom:612.317440pt;}
.y60{bottom:616.228373pt;}
.y9{bottom:621.040000pt;}
.y41{bottom:628.309200pt;}
.y5f{bottom:631.512213pt;}
.y20{bottom:643.673360pt;}
.y5e{bottom:646.876213pt;}
.y8{bottom:653.200000pt;}
.y1f{bottom:659.037360pt;}
.y7d{bottom:659.584960pt;}
.y40{bottom:659.665120pt;}
.y1e{bottom:674.321200pt;}
.y3f{bottom:675.029120pt;}
.y5d{bottom:678.151973pt;}
.y1d{bottom:689.685200pt;}
.y3e{bottom:690.312960pt;}
.y7c{bottom:691.021040pt;}
.y7{bottom:691.040000pt;}
.y3d{bottom:705.676960pt;}
.y7b{bottom:706.304880pt;}
.y5c{bottom:709.427733pt;}
.y1c{bottom:721.041120pt;}
.y7a{bottom:721.668880pt;}
.y6{bottom:724.872000pt;}
.y3c{bottom:737.032880pt;}
.y0{bottom:746.666667pt;}
.y5{bottom:747.192000pt;}
.y1b{bottom:752.236720pt;}
.y3b{bottom:752.396880pt;}
.y5b{bottom:764.791573pt;}
.y79{bottom:768.308640pt;}
.y3a{bottom:783.592480pt;}
.y78{bottom:783.672640pt;}
.y5a{bottom:796.147493pt;}
.y1a{bottom:807.600560pt;}
.y59{bottom:811.511493pt;}
.y77{bottom:814.948400pt;}
.y58{bottom:826.875493pt;}
.y39{bottom:838.956320pt;}
.y19{bottom:839.036640pt;}
.y57{bottom:842.159333pt;}
.y18{bottom:854.320480pt;}
.y17{bottom:869.684480pt;}
.y55{bottom:870.000000pt;}
.y76{bottom:870.232080pt;}
.y38{bottom:870.312240pt;}
.y56{bottom:870.560000pt;}
.y4{bottom:882.480000pt;}
.y16{bottom:885.048480pt;}
.y37{bottom:885.676240pt;}
.y36{bottom:901.040240pt;}
.y75{bottom:901.668160pt;}
.y3{bottom:910.080000pt;}
.y35{bottom:916.324080pt;}
.y15{bottom:916.324240pt;}
.y74{bottom:917.032160pt;}
.y73{bottom:932.316000pt;}
.y2{bottom:937.680000pt;}
.y14{bottom:947.600000pt;}
.y34{bottom:947.680000pt;}
.y1{bottom:987.760000pt;}
.h9{height:39.030469pt;}
.h8{height:56.367840pt;}
.h2{height:58.406250pt;}
.hd{height:59.285000pt;}
.hb{height:62.756195pt;}
.hc{height:65.860625pt;}
.he{height:90.000000pt;}
.ha{height:92.020833pt;}
.h3{height:109.921875pt;}
.h7{height:112.735680pt;}
.h6{height:125.136604pt;}
.h1{height:130.666667pt;}
.h4{height:140.333594pt;}
.h5{height:152.791406pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w2{width:624.666667pt;}
.w0{width:816.000000pt;}
.x7{left:96.000000pt;}
.x9{left:98.000000pt;}
.x5{left:141.919680pt;}
.x0{left:180.666667pt;}
.x8{left:337.333333pt;}
.x4{left:345.040000pt;}
.x1{left:371.120000pt;}
.x2{left:408.000000pt;}
.x3{left:636.960000pt;}
.x6{left:673.999867pt;}
.xa{left:721.999867pt;}
}
