.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc7{color:rgb(33,78,123);}
.fc4{color:rgb(102,0,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(255,0,0);}
.fc2{color:rgb(0,0,51);}
.fc6{color:rgb(66,184,55);}
.fc1{color:rgb(120,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:80.000000px;}
.fs1{font-size:160.000000px;}
.ye{bottom:17.000000px;}
.y2c{bottom:31.000000px;}
.yf{bottom:44.500000px;}
.y4d{bottom:60.180000px;}
.ya5{bottom:64.400000px;}
.y84{bottom:65.320000px;}
.yea{bottom:70.170000px;}
.yca{bottom:76.000000px;}
.y32{bottom:80.260000px;}
.ya4{bottom:80.400000px;}
.y83{bottom:83.320000px;}
.y70{bottom:89.360000px;}
.yc9{bottom:92.000000px;}
.y4b{bottom:93.680000px;}
.ya3{bottom:96.400000px;}
.y31{bottom:100.260000px;}
.y82{bottom:101.320000px;}
.y6f{bottom:101.360000px;}
.ye8{bottom:103.670000px;}
.ya2{bottom:112.400000px;}
.y81{bottom:113.320000px;}
.y6e{bottom:113.360000px;}
.y4a{bottom:113.680000px;}
.ycd{bottom:123.500000px;}
.ye7{bottom:123.670000px;}
.y80{bottom:129.320000px;}
.ya1{bottom:130.400000px;}
.y49{bottom:131.680000px;}
.ye6{bottom:141.670000px;}
.ya0{bottom:142.400000px;}
.y78{bottom:144.510000px;}
.y72{bottom:144.860000px;}
.y7f{bottom:145.320000px;}
.y48{bottom:149.680000px;}
.yc8{bottom:157.000000px;}
.y9f{bottom:158.400000px;}
.ye5{bottom:159.670000px;}
.y7e{bottom:161.320000px;}
.y47{bottom:161.680000px;}
.y77{bottom:162.510000px;}
.y9e{bottom:174.400000px;}
.y76{bottom:174.510000px;}
.yc7{bottom:177.000000px;}
.y7d{bottom:177.320000px;}
.ye4{bottom:177.670000px;}
.y46{bottom:177.680000px;}
.y6d{bottom:178.360000px;}
.y75{bottom:186.510000px;}
.y7c{bottom:189.320000px;}
.y9d{bottom:190.400000px;}
.y45{bottom:193.680000px;}
.yc6{bottom:195.000000px;}
.y6c{bottom:198.360000px;}
.y7b{bottom:201.320000px;}
.y9c{bottom:206.400000px;}
.y44{bottom:209.680000px;}
.yc5{bottom:213.000000px;}
.y6b{bottom:216.360000px;}
.y9b{bottom:222.400000px;}
.yc4{bottom:225.000000px;}
.y28{bottom:225.110000px;}
.y43{bottom:225.680000px;}
.y85{bottom:232.820000px;}
.y6a{bottom:234.360000px;}
.y27{bottom:237.110000px;}
.y42{bottom:237.680000px;}
.y9a{bottom:238.400000px;}
.yc3{bottom:241.000000px;}
.y69{bottom:246.360000px;}
.y41{bottom:249.680000px;}
.y99{bottom:254.400000px;}
.yc2{bottom:257.000000px;}
.y68{bottom:262.360000px;}
.y7a{bottom:266.320000px;}
.y98{bottom:266.400000px;}
.yc1{bottom:273.000000px;}
.y67{bottom:278.360000px;}
.y97{bottom:278.400000px;}
.y4c{bottom:281.180000px;}
.y79{bottom:286.320000px;}
.yc0{bottom:289.000000px;}
.y66{bottom:294.360000px;}
.y96{bottom:294.400000px;}
.ybf{bottom:301.000000px;}
.y65{bottom:310.360000px;}
.ybe{bottom:313.000000px;}
.y40{bottom:314.680000px;}
.y64{bottom:322.360000px;}
.ya6{bottom:325.900000px;}
.ybd{bottom:329.000000px;}
.y63{bottom:334.360000px;}
.y3f{bottom:334.680000px;}
.ybc{bottom:341.000000px;}
.y26{bottom:350.000000px;}
.y62{bottom:350.360000px;}
.y3e{bottom:352.680000px;}
.ybb{bottom:353.000000px;}
.y95{bottom:359.400000px;}
.y25{bottom:362.000000px;}
.ye3{bottom:368.000000px;}
.yba{bottom:369.000000px;}
.y3d{bottom:370.680000px;}
.y24{bottom:374.000000px;}
.y94{bottom:379.400000px;}
.y71{bottom:381.860000px;}
.yb9{bottom:385.000000px;}
.ye2{bottom:386.000000px;}
.yd{bottom:388.500000px;}
.y3c{bottom:388.680000px;}
.y23{bottom:390.000000px;}
.y93{bottom:397.400000px;}
.ye1{bottom:404.000000px;}
.yc{bottom:406.500000px;}
.y61{bottom:415.360000px;}
.y92{bottom:415.400000px;}
.ye0{bottom:416.000000px;}
.ycc{bottom:416.500000px;}
.y2a{bottom:421.500000px;}
.y30{bottom:431.130000px;}
.ydf{bottom:432.000000px;}
.y91{bottom:433.400000px;}
.y60{bottom:435.360000px;}
.yb{bottom:436.500000px;}
.yde{bottom:448.000000px;}
.y2f{bottom:449.130000px;}
.yb8{bottom:450.000000px;}
.ya{bottom:451.500000px;}
.y5f{bottom:453.360000px;}
.y22{bottom:455.000000px;}
.y2e{bottom:461.130000px;}
.y9{bottom:461.500000px;}
.ydd{bottom:464.000000px;}
.yb7{bottom:470.000000px;}
.y5e{bottom:471.360000px;}
.y2d{bottom:473.130000px;}
.y21{bottom:475.000000px;}
.ydc{bottom:480.000000px;}
.y8{bottom:484.000000px;}
.yb6{bottom:488.000000px;}
.y5d{bottom:489.360000px;}
.ydb{bottom:492.000000px;}
.y20{bottom:493.000000px;}
.y7{bottom:494.000000px;}
.yda{bottom:504.000000px;}
.yb5{bottom:506.000000px;}
.y1f{bottom:511.000000px;}
.yb4{bottom:518.000000px;}
.yd9{bottom:520.000000px;}
.y1e{bottom:523.000000px;}
.y6{bottom:524.000000px;}
.y5{bottom:526.000000px;}
.yd8{bottom:532.000000px;}
.yb3{bottom:534.000000px;}
.y90{bottom:536.000000px;}
.y1d{bottom:539.000000px;}
.yd7{bottom:544.000000px;}
.yb2{bottom:550.000000px;}
.y8f{bottom:554.000000px;}
.y1c{bottom:555.000000px;}
.yd6{bottom:560.000000px;}
.yb1{bottom:566.000000px;}
.y1b{bottom:571.000000px;}
.y8e{bottom:572.000000px;}
.y5c{bottom:573.000000px;}
.yb0{bottom:582.000000px;}
.y8d{bottom:584.000000px;}
.y4{bottom:586.000000px;}
.y1a{bottom:587.000000px;}
.y5b{bottom:591.000000px;}
.ye9{bottom:591.500000px;}
.y3b{bottom:592.000000px;}
.yaf{bottom:598.000000px;}
.y8c{bottom:600.000000px;}
.y19{bottom:603.000000px;}
.y5a{bottom:609.000000px;}
.y3a{bottom:610.000000px;}
.y8b{bottom:616.000000px;}
.y18{bottom:619.000000px;}
.y59{bottom:621.000000px;}
.yae{bottom:622.000000px;}
.yd5{bottom:625.000000px;}
.y39{bottom:628.000000px;}
.y17{bottom:631.000000px;}
.y8a{bottom:632.000000px;}
.y58{bottom:637.000000px;}
.yad{bottom:638.000000px;}
.y38{bottom:640.000000px;}
.y16{bottom:643.000000px;}
.yd4{bottom:645.000000px;}
.y89{bottom:648.000000px;}
.yac{bottom:650.000000px;}
.y57{bottom:653.000000px;}
.y37{bottom:656.000000px;}
.y15{bottom:659.000000px;}
.y88{bottom:660.000000px;}
.yab{bottom:662.000000px;}
.yd3{bottom:663.000000px;}
.y56{bottom:669.000000px;}
.y11{bottom:671.000000px;}
.y36{bottom:672.000000px;}
.yaa{bottom:678.000000px;}
.yd2{bottom:681.000000px;}
.y55{bottom:685.000000px;}
.y3{bottom:686.000000px;}
.y2{bottom:688.000000px;}
.y74{bottom:690.190000px;}
.yd1{bottom:693.000000px;}
.ya9{bottom:694.000000px;}
.y54{bottom:697.000000px;}
.y87{bottom:700.000000px;}
.y10{bottom:701.000000px;}
.y73{bottom:702.190000px;}
.y1{bottom:703.000000px;}
.y35{bottom:704.000000px;}
.y53{bottom:709.000000px;}
.y86{bottom:712.000000px;}
.y0{bottom:712.500000px;}
.y14{bottom:716.000000px;}
.y34{bottom:720.000000px;}
.y52{bottom:725.000000px;}
.ycb{bottom:725.500000px;}
.y13{bottom:728.000000px;}
.y33{bottom:732.000000px;}
.y51{bottom:737.000000px;}
.yd0{bottom:741.000000px;}
.y12{bottom:744.000000px;}
.y50{bottom:749.000000px;}
.ycf{bottom:757.000000px;}
.ya8{bottom:759.000000px;}
.y4f{bottom:765.000000px;}
.yce{bottom:769.000000px;}
.y29{bottom:775.500000px;}
.ya7{bottom:779.000000px;}
.y4e{bottom:781.000000px;}
.y2b{bottom:799.000000px;}
.h2{height:46.973200px;}
.h6{height:56.367840px;}
.h9{height:59.156250px;}
.h7{height:69.015625px;}
.h5{height:70.459800px;}
.h1{height:84.500000px;}
.h4{height:93.946400px;}
.h3{height:187.892799px;}
.h8{height:752.500000px;}
.h0{height:842.000000px;}
.w1{width:277.500000px;}
.w2{width:485.500000px;}
.w0{width:595.000000px;}
.x0{left:55.000000px;}
.xb{left:57.000000px;}
.x9{left:85.000000px;}
.xa{left:100.000000px;}
.x6{left:177.900000px;}
.xc{left:224.140000px;}
.x5{left:228.580000px;}
.x7{left:231.150000px;}
.x8{left:245.000000px;}
.x3{left:269.720000px;}
.x1{left:276.080000px;}
.x4{left:291.940000px;}
.x2{left:296.110000px;}
.xe{left:524.660000px;}
.xd{left:531.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:106.666667pt;}
.fs1{font-size:213.333333pt;}
.ye{bottom:22.666667pt;}
.y2c{bottom:41.333333pt;}
.yf{bottom:59.333333pt;}
.y4d{bottom:80.240000pt;}
.ya5{bottom:85.866667pt;}
.y84{bottom:87.093333pt;}
.yea{bottom:93.560000pt;}
.yca{bottom:101.333333pt;}
.y32{bottom:107.013333pt;}
.ya4{bottom:107.200000pt;}
.y83{bottom:111.093333pt;}
.y70{bottom:119.146667pt;}
.yc9{bottom:122.666667pt;}
.y4b{bottom:124.906667pt;}
.ya3{bottom:128.533333pt;}
.y31{bottom:133.680000pt;}
.y82{bottom:135.093333pt;}
.y6f{bottom:135.146667pt;}
.ye8{bottom:138.226667pt;}
.ya2{bottom:149.866667pt;}
.y81{bottom:151.093333pt;}
.y6e{bottom:151.146667pt;}
.y4a{bottom:151.573333pt;}
.ycd{bottom:164.666667pt;}
.ye7{bottom:164.893333pt;}
.y80{bottom:172.426667pt;}
.ya1{bottom:173.866667pt;}
.y49{bottom:175.573333pt;}
.ye6{bottom:188.893333pt;}
.ya0{bottom:189.866667pt;}
.y78{bottom:192.680000pt;}
.y72{bottom:193.146667pt;}
.y7f{bottom:193.760000pt;}
.y48{bottom:199.573333pt;}
.yc8{bottom:209.333333pt;}
.y9f{bottom:211.200000pt;}
.ye5{bottom:212.893333pt;}
.y7e{bottom:215.093333pt;}
.y47{bottom:215.573333pt;}
.y77{bottom:216.680000pt;}
.y9e{bottom:232.533333pt;}
.y76{bottom:232.680000pt;}
.yc7{bottom:236.000000pt;}
.y7d{bottom:236.426667pt;}
.ye4{bottom:236.893333pt;}
.y46{bottom:236.906667pt;}
.y6d{bottom:237.813333pt;}
.y75{bottom:248.680000pt;}
.y7c{bottom:252.426667pt;}
.y9d{bottom:253.866667pt;}
.y45{bottom:258.240000pt;}
.yc6{bottom:260.000000pt;}
.y6c{bottom:264.480000pt;}
.y7b{bottom:268.426667pt;}
.y9c{bottom:275.200000pt;}
.y44{bottom:279.573333pt;}
.yc5{bottom:284.000000pt;}
.y6b{bottom:288.480000pt;}
.y9b{bottom:296.533333pt;}
.yc4{bottom:300.000000pt;}
.y28{bottom:300.146667pt;}
.y43{bottom:300.906667pt;}
.y85{bottom:310.426667pt;}
.y6a{bottom:312.480000pt;}
.y27{bottom:316.146667pt;}
.y42{bottom:316.906667pt;}
.y9a{bottom:317.866667pt;}
.yc3{bottom:321.333333pt;}
.y69{bottom:328.480000pt;}
.y41{bottom:332.906667pt;}
.y99{bottom:339.200000pt;}
.yc2{bottom:342.666667pt;}
.y68{bottom:349.813333pt;}
.y7a{bottom:355.093333pt;}
.y98{bottom:355.200000pt;}
.yc1{bottom:364.000000pt;}
.y67{bottom:371.146667pt;}
.y97{bottom:371.200000pt;}
.y4c{bottom:374.906667pt;}
.y79{bottom:381.760000pt;}
.yc0{bottom:385.333333pt;}
.y66{bottom:392.480000pt;}
.y96{bottom:392.533333pt;}
.ybf{bottom:401.333333pt;}
.y65{bottom:413.813333pt;}
.ybe{bottom:417.333333pt;}
.y40{bottom:419.573333pt;}
.y64{bottom:429.813333pt;}
.ya6{bottom:434.533333pt;}
.ybd{bottom:438.666667pt;}
.y63{bottom:445.813333pt;}
.y3f{bottom:446.240000pt;}
.ybc{bottom:454.666667pt;}
.y26{bottom:466.666667pt;}
.y62{bottom:467.146667pt;}
.y3e{bottom:470.240000pt;}
.ybb{bottom:470.666667pt;}
.y95{bottom:479.200000pt;}
.y25{bottom:482.666667pt;}
.ye3{bottom:490.666667pt;}
.yba{bottom:492.000000pt;}
.y3d{bottom:494.240000pt;}
.y24{bottom:498.666667pt;}
.y94{bottom:505.866667pt;}
.y71{bottom:509.146667pt;}
.yb9{bottom:513.333333pt;}
.ye2{bottom:514.666667pt;}
.yd{bottom:518.000000pt;}
.y3c{bottom:518.240000pt;}
.y23{bottom:520.000000pt;}
.y93{bottom:529.866667pt;}
.ye1{bottom:538.666667pt;}
.yc{bottom:542.000000pt;}
.y61{bottom:553.813333pt;}
.y92{bottom:553.866667pt;}
.ye0{bottom:554.666667pt;}
.ycc{bottom:555.333333pt;}
.y2a{bottom:562.000000pt;}
.y30{bottom:574.840000pt;}
.ydf{bottom:576.000000pt;}
.y91{bottom:577.866667pt;}
.y60{bottom:580.480000pt;}
.yb{bottom:582.000000pt;}
.yde{bottom:597.333333pt;}
.y2f{bottom:598.840000pt;}
.yb8{bottom:600.000000pt;}
.ya{bottom:602.000000pt;}
.y5f{bottom:604.480000pt;}
.y22{bottom:606.666667pt;}
.y2e{bottom:614.840000pt;}
.y9{bottom:615.333333pt;}
.ydd{bottom:618.666667pt;}
.yb7{bottom:626.666667pt;}
.y5e{bottom:628.480000pt;}
.y2d{bottom:630.840000pt;}
.y21{bottom:633.333333pt;}
.ydc{bottom:640.000000pt;}
.y8{bottom:645.333333pt;}
.yb6{bottom:650.666667pt;}
.y5d{bottom:652.480000pt;}
.ydb{bottom:656.000000pt;}
.y20{bottom:657.333333pt;}
.y7{bottom:658.666667pt;}
.yda{bottom:672.000000pt;}
.yb5{bottom:674.666667pt;}
.y1f{bottom:681.333333pt;}
.yb4{bottom:690.666667pt;}
.yd9{bottom:693.333333pt;}
.y1e{bottom:697.333333pt;}
.y6{bottom:698.666667pt;}
.y5{bottom:701.333333pt;}
.yd8{bottom:709.333333pt;}
.yb3{bottom:712.000000pt;}
.y90{bottom:714.666667pt;}
.y1d{bottom:718.666667pt;}
.yd7{bottom:725.333333pt;}
.yb2{bottom:733.333333pt;}
.y8f{bottom:738.666667pt;}
.y1c{bottom:740.000000pt;}
.yd6{bottom:746.666667pt;}
.yb1{bottom:754.666667pt;}
.y1b{bottom:761.333333pt;}
.y8e{bottom:762.666667pt;}
.y5c{bottom:764.000000pt;}
.yb0{bottom:776.000000pt;}
.y8d{bottom:778.666667pt;}
.y4{bottom:781.333333pt;}
.y1a{bottom:782.666667pt;}
.y5b{bottom:788.000000pt;}
.ye9{bottom:788.666667pt;}
.y3b{bottom:789.333333pt;}
.yaf{bottom:797.333333pt;}
.y8c{bottom:800.000000pt;}
.y19{bottom:804.000000pt;}
.y5a{bottom:812.000000pt;}
.y3a{bottom:813.333333pt;}
.y8b{bottom:821.333333pt;}
.y18{bottom:825.333333pt;}
.y59{bottom:828.000000pt;}
.yae{bottom:829.333333pt;}
.yd5{bottom:833.333333pt;}
.y39{bottom:837.333333pt;}
.y17{bottom:841.333333pt;}
.y8a{bottom:842.666667pt;}
.y58{bottom:849.333333pt;}
.yad{bottom:850.666667pt;}
.y38{bottom:853.333333pt;}
.y16{bottom:857.333333pt;}
.yd4{bottom:860.000000pt;}
.y89{bottom:864.000000pt;}
.yac{bottom:866.666667pt;}
.y57{bottom:870.666667pt;}
.y37{bottom:874.666667pt;}
.y15{bottom:878.666667pt;}
.y88{bottom:880.000000pt;}
.yab{bottom:882.666667pt;}
.yd3{bottom:884.000000pt;}
.y56{bottom:892.000000pt;}
.y11{bottom:894.666667pt;}
.y36{bottom:896.000000pt;}
.yaa{bottom:904.000000pt;}
.yd2{bottom:908.000000pt;}
.y55{bottom:913.333333pt;}
.y3{bottom:914.666667pt;}
.y2{bottom:917.333333pt;}
.y74{bottom:920.253333pt;}
.yd1{bottom:924.000000pt;}
.ya9{bottom:925.333333pt;}
.y54{bottom:929.333333pt;}
.y87{bottom:933.333333pt;}
.y10{bottom:934.666667pt;}
.y73{bottom:936.253333pt;}
.y1{bottom:937.333333pt;}
.y35{bottom:938.666667pt;}
.y53{bottom:945.333333pt;}
.y86{bottom:949.333333pt;}
.y0{bottom:950.000000pt;}
.y14{bottom:954.666667pt;}
.y34{bottom:960.000000pt;}
.y52{bottom:966.666667pt;}
.ycb{bottom:967.333333pt;}
.y13{bottom:970.666667pt;}
.y33{bottom:976.000000pt;}
.y51{bottom:982.666667pt;}
.yd0{bottom:988.000000pt;}
.y12{bottom:992.000000pt;}
.y50{bottom:998.666667pt;}
.ycf{bottom:1009.333333pt;}
.ya8{bottom:1012.000000pt;}
.y4f{bottom:1020.000000pt;}
.yce{bottom:1025.333333pt;}
.y29{bottom:1034.000000pt;}
.ya7{bottom:1038.666667pt;}
.y4e{bottom:1041.333333pt;}
.y2b{bottom:1065.333333pt;}
.h2{height:62.630933pt;}
.h6{height:75.157120pt;}
.h9{height:78.875000pt;}
.h7{height:92.020833pt;}
.h5{height:93.946400pt;}
.h1{height:112.666667pt;}
.h4{height:125.261866pt;}
.h3{height:250.523733pt;}
.h8{height:1003.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:370.000000pt;}
.w2{width:647.333333pt;}
.w0{width:793.333333pt;}
.x0{left:73.333333pt;}
.xb{left:76.000000pt;}
.x9{left:113.333333pt;}
.xa{left:133.333333pt;}
.x6{left:237.200000pt;}
.xc{left:298.853333pt;}
.x5{left:304.773333pt;}
.x7{left:308.200000pt;}
.x8{left:326.666667pt;}
.x3{left:359.626667pt;}
.x1{left:368.106667pt;}
.x4{left:389.253333pt;}
.x2{left:394.813333pt;}
.xe{left:699.546667pt;}
.xd{left:708.440000pt;}
}
