.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc7{color:rgb(33,78,123);}
.fc4{color:rgb(102,0,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(255,0,0);}
.fc2{color:rgb(0,0,51);}
.fc6{color:rgb(66,184,55);}
.fc1{color:rgb(120,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:80.000000px;}
.fs1{font-size:160.000000px;}
.ye{bottom:17.000000px;}
.y39{bottom:31.000000px;}
.yf{bottom:44.500000px;}
.yca{bottom:66.000000px;}
.y34{bottom:70.000000px;}
.y4a{bottom:74.000000px;}
.yb8{bottom:79.000000px;}
.yc9{bottom:82.000000px;}
.y95{bottom:85.500000px;}
.y49{bottom:86.000000px;}
.y33{bottom:88.000000px;}
.y6c{bottom:90.000000px;}
.yb7{bottom:91.000000px;}
.yc8{bottom:98.000000px;}
.y48{bottom:102.000000px;}
.y32{bottom:106.000000px;}
.yb6{bottom:107.000000px;}
.y6b{bottom:114.000000px;}
.y31{bottom:118.000000px;}
.y92{bottom:119.000000px;}
.yb5{bottom:123.000000px;}
.yc7{bottom:126.000000px;}
.y6a{bottom:130.000000px;}
.y30{bottom:134.000000px;}
.yc6{bottom:138.000000px;}
.y91{bottom:139.000000px;}
.y69{bottom:146.000000px;}
.y2f{bottom:150.000000px;}
.yc5{bottom:154.000000px;}
.yb4{bottom:155.000000px;}
.y90{bottom:157.000000px;}
.y68{bottom:158.000000px;}
.y47{bottom:162.000000px;}
.y2e{bottom:166.000000px;}
.yb3{bottom:167.000000px;}
.y67{bottom:170.000000px;}
.y46{bottom:174.000000px;}
.y8f{bottom:175.000000px;}
.yb2{bottom:179.000000px;}
.y2d{bottom:182.000000px;}
.ycc{bottom:185.500000px;}
.y66{bottom:186.000000px;}
.y8e{bottom:187.000000px;}
.ydc{bottom:189.500000px;}
.y45{bottom:190.000000px;}
.y2c{bottom:194.000000px;}
.yb1{bottom:195.000000px;}
.y65{bottom:202.000000px;}
.y8d{bottom:203.000000px;}
.y2b{bottom:206.000000px;}
.yb0{bottom:211.000000px;}
.ye1{bottom:217.500000px;}
.y64{bottom:218.000000px;}
.y8c{bottom:219.000000px;}
.y2a{bottom:222.000000px;}
.yd9{bottom:223.000000px;}
.y8b{bottom:235.000000px;}
.yc4{bottom:239.000000px;}
.yba{bottom:242.500000px;}
.yd8{bottom:243.000000px;}
.y6f{bottom:249.500000px;}
.y8a{bottom:251.000000px;}
.y37{bottom:253.500000px;}
.yc3{bottom:257.000000px;}
.yd7{bottom:261.000000px;}
.y89{bottom:263.000000px;}
.ye0{bottom:271.000000px;}
.y88{bottom:275.000000px;}
.yaf{bottom:276.000000px;}
.yd6{bottom:279.000000px;}
.y63{bottom:283.000000px;}
.y29{bottom:287.000000px;}
.ydf{bottom:289.000000px;}
.y87{bottom:291.000000px;}
.yae{bottom:296.000000px;}
.y62{bottom:303.000000px;}
.y28{bottom:307.000000px;}
.yad{bottom:314.000000px;}
.yc2{bottom:319.000000px;}
.y61{bottom:321.000000px;}
.y94{bottom:322.500000px;}
.yd5{bottom:323.000000px;}
.y27{bottom:325.000000px;}
.yac{bottom:332.000000px;}
.yc1{bottom:335.000000px;}
.y60{bottom:339.000000px;}
.y26{bottom:343.000000px;}
.yab{bottom:344.000000px;}
.y5f{bottom:351.000000px;}
.y25{bottom:355.000000px;}
.y86{bottom:356.000000px;}
.yaa{bottom:360.000000px;}
.yc0{bottom:363.000000px;}
.y5e{bottom:367.000000px;}
.y24{bottom:371.000000px;}
.ybf{bottom:375.000000px;}
.y85{bottom:376.000000px;}
.yd4{bottom:379.000000px;}
.y5d{bottom:383.000000px;}
.y23{bottom:387.000000px;}
.yd{bottom:388.500000px;}
.ybe{bottom:391.000000px;}
.ya9{bottom:392.000000px;}
.y84{bottom:394.000000px;}
.yd3{bottom:395.000000px;}
.y5c{bottom:399.000000px;}
.y22{bottom:403.000000px;}
.yc{bottom:406.500000px;}
.yde{bottom:407.000000px;}
.ya8{bottom:408.000000px;}
.y83{bottom:412.000000px;}
.y5b{bottom:415.000000px;}
.y21{bottom:419.000000px;}
.ya7{bottom:420.000000px;}
.ycb{bottom:422.500000px;}
.ydd{bottom:423.000000px;}
.y82{bottom:424.000000px;}
.ydb{bottom:426.500000px;}
.y5a{bottom:427.000000px;}
.y20{bottom:431.000000px;}
.ya6{bottom:432.000000px;}
.y44{bottom:435.000000px;}
.yb{bottom:436.500000px;}
.ye4{bottom:438.500000px;}
.y59{bottom:439.000000px;}
.y81{bottom:440.000000px;}
.y1f{bottom:443.000000px;}
.ya5{bottom:448.000000px;}
.y43{bottom:451.000000px;}
.ya{bottom:451.500000px;}
.y80{bottom:456.000000px;}
.y1e{bottom:459.000000px;}
.yd2{bottom:460.000000px;}
.y9{bottom:461.500000px;}
.ya4{bottom:464.000000px;}
.y42{bottom:467.000000px;}
.y6e{bottom:470.500000px;}
.y7f{bottom:472.000000px;}
.y1d{bottom:475.000000px;}
.ybd{bottom:476.000000px;}
.y41{bottom:479.000000px;}
.ya3{bottom:480.000000px;}
.y8{bottom:484.000000px;}
.y7e{bottom:488.000000px;}
.y1c{bottom:491.000000px;}
.ye3{bottom:492.000000px;}
.y7{bottom:494.000000px;}
.ya2{bottom:496.000000px;}
.yd1{bottom:498.000000px;}
.y58{bottom:504.000000px;}
.y1b{bottom:507.000000px;}
.ye2{bottom:510.000000px;}
.ya1{bottom:512.000000px;}
.y7d{bottom:516.000000px;}
.y4b{bottom:522.500000px;}
.y6{bottom:524.000000px;}
.y5{bottom:526.000000px;}
.y7c{bottom:528.000000px;}
.y36{bottom:538.500000px;}
.ybc{bottom:540.000000px;}
.y57{bottom:542.000000px;}
.yb9{bottom:543.500000px;}
.y7b{bottom:544.000000px;}
.y40{bottom:556.000000px;}
.y56{bottom:560.000000px;}
.y7a{bottom:568.000000px;}
.y1a{bottom:572.000000px;}
.y3f{bottom:576.000000px;}
.ya0{bottom:577.000000px;}
.y79{bottom:584.000000px;}
.y4{bottom:586.000000px;}
.y55{bottom:588.000000px;}
.y19{bottom:592.000000px;}
.y3e{bottom:594.000000px;}
.y9f{bottom:597.000000px;}
.y78{bottom:600.000000px;}
.y54{bottom:604.000000px;}
.y18{bottom:610.000000px;}
.y3d{bottom:612.000000px;}
.y9e{bottom:615.000000px;}
.y77{bottom:616.000000px;}
.y53{bottom:620.000000px;}
.y3c{bottom:624.000000px;}
.y17{bottom:628.000000px;}
.yd0{bottom:632.000000px;}
.y9d{bottom:633.000000px;}
.y52{bottom:636.000000px;}
.y16{bottom:640.000000px;}
.ybb{bottom:644.000000px;}
.y9c{bottom:645.000000px;}
.y93{bottom:647.500000px;}
.y51{bottom:648.000000px;}
.y15{bottom:656.000000px;}
.y50{bottom:660.000000px;}
.y9b{bottom:661.000000px;}
.y14{bottom:672.000000px;}
.y4f{bottom:676.000000px;}
.y9a{bottom:677.000000px;}
.yda{bottom:679.500000px;}
.y76{bottom:681.000000px;}
.y3{bottom:686.000000px;}
.y2{bottom:688.000000px;}
.y99{bottom:693.000000px;}
.y3b{bottom:700.000000px;}
.y75{bottom:701.000000px;}
.y1{bottom:703.000000px;}
.y13{bottom:704.000000px;}
.y6d{bottom:707.500000px;}
.y98{bottom:709.000000px;}
.y3a{bottom:712.000000px;}
.y0{bottom:712.500000px;}
.ycf{bottom:713.000000px;}
.y12{bottom:716.000000px;}
.y74{bottom:719.000000px;}
.y97{bottom:721.000000px;}
.y11{bottom:728.000000px;}
.y96{bottom:733.000000px;}
.y73{bottom:737.000000px;}
.y4e{bottom:741.000000px;}
.y10{bottom:744.000000px;}
.y72{bottom:749.000000px;}
.yce{bottom:751.000000px;}
.y4d{bottom:761.000000px;}
.y71{bottom:765.000000px;}
.ycd{bottom:769.000000px;}
.y35{bottom:775.500000px;}
.y4c{bottom:779.000000px;}
.y70{bottom:781.000000px;}
.y38{bottom:799.000000px;}
.h2{height:46.973200px;}
.h6{height:56.367840px;}
.h9{height:59.156250px;}
.h7{height:69.015625px;}
.h5{height:70.459800px;}
.h1{height:84.500000px;}
.h4{height:93.946400px;}
.h3{height:187.892799px;}
.h8{height:752.500000px;}
.h0{height:842.000000px;}
.w1{width:277.500000px;}
.w2{width:485.500000px;}
.w0{width:595.000000px;}
.x0{left:55.000000px;}
.x8{left:57.000000px;}
.x6{left:135.800000px;}
.x9{left:224.140000px;}
.x5{left:228.580000px;}
.x7{left:245.000000px;}
.x3{left:269.720000px;}
.x1{left:276.080000px;}
.x4{left:291.940000px;}
.x2{left:296.110000px;}
.xb{left:524.660000px;}
.xa{left:531.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:106.666667pt;}
.fs1{font-size:213.333333pt;}
.ye{bottom:22.666667pt;}
.y39{bottom:41.333333pt;}
.yf{bottom:59.333333pt;}
.yca{bottom:88.000000pt;}
.y34{bottom:93.333333pt;}
.y4a{bottom:98.666667pt;}
.yb8{bottom:105.333333pt;}
.yc9{bottom:109.333333pt;}
.y95{bottom:114.000000pt;}
.y49{bottom:114.666667pt;}
.y33{bottom:117.333333pt;}
.y6c{bottom:120.000000pt;}
.yb7{bottom:121.333333pt;}
.yc8{bottom:130.666667pt;}
.y48{bottom:136.000000pt;}
.y32{bottom:141.333333pt;}
.yb6{bottom:142.666667pt;}
.y6b{bottom:152.000000pt;}
.y31{bottom:157.333333pt;}
.y92{bottom:158.666667pt;}
.yb5{bottom:164.000000pt;}
.yc7{bottom:168.000000pt;}
.y6a{bottom:173.333333pt;}
.y30{bottom:178.666667pt;}
.yc6{bottom:184.000000pt;}
.y91{bottom:185.333333pt;}
.y69{bottom:194.666667pt;}
.y2f{bottom:200.000000pt;}
.yc5{bottom:205.333333pt;}
.yb4{bottom:206.666667pt;}
.y90{bottom:209.333333pt;}
.y68{bottom:210.666667pt;}
.y47{bottom:216.000000pt;}
.y2e{bottom:221.333333pt;}
.yb3{bottom:222.666667pt;}
.y67{bottom:226.666667pt;}
.y46{bottom:232.000000pt;}
.y8f{bottom:233.333333pt;}
.yb2{bottom:238.666667pt;}
.y2d{bottom:242.666667pt;}
.ycc{bottom:247.333333pt;}
.y66{bottom:248.000000pt;}
.y8e{bottom:249.333333pt;}
.ydc{bottom:252.666667pt;}
.y45{bottom:253.333333pt;}
.y2c{bottom:258.666667pt;}
.yb1{bottom:260.000000pt;}
.y65{bottom:269.333333pt;}
.y8d{bottom:270.666667pt;}
.y2b{bottom:274.666667pt;}
.yb0{bottom:281.333333pt;}
.ye1{bottom:290.000000pt;}
.y64{bottom:290.666667pt;}
.y8c{bottom:292.000000pt;}
.y2a{bottom:296.000000pt;}
.yd9{bottom:297.333333pt;}
.y8b{bottom:313.333333pt;}
.yc4{bottom:318.666667pt;}
.yba{bottom:323.333333pt;}
.yd8{bottom:324.000000pt;}
.y6f{bottom:332.666667pt;}
.y8a{bottom:334.666667pt;}
.y37{bottom:338.000000pt;}
.yc3{bottom:342.666667pt;}
.yd7{bottom:348.000000pt;}
.y89{bottom:350.666667pt;}
.ye0{bottom:361.333333pt;}
.y88{bottom:366.666667pt;}
.yaf{bottom:368.000000pt;}
.yd6{bottom:372.000000pt;}
.y63{bottom:377.333333pt;}
.y29{bottom:382.666667pt;}
.ydf{bottom:385.333333pt;}
.y87{bottom:388.000000pt;}
.yae{bottom:394.666667pt;}
.y62{bottom:404.000000pt;}
.y28{bottom:409.333333pt;}
.yad{bottom:418.666667pt;}
.yc2{bottom:425.333333pt;}
.y61{bottom:428.000000pt;}
.y94{bottom:430.000000pt;}
.yd5{bottom:430.666667pt;}
.y27{bottom:433.333333pt;}
.yac{bottom:442.666667pt;}
.yc1{bottom:446.666667pt;}
.y60{bottom:452.000000pt;}
.y26{bottom:457.333333pt;}
.yab{bottom:458.666667pt;}
.y5f{bottom:468.000000pt;}
.y25{bottom:473.333333pt;}
.y86{bottom:474.666667pt;}
.yaa{bottom:480.000000pt;}
.yc0{bottom:484.000000pt;}
.y5e{bottom:489.333333pt;}
.y24{bottom:494.666667pt;}
.ybf{bottom:500.000000pt;}
.y85{bottom:501.333333pt;}
.yd4{bottom:505.333333pt;}
.y5d{bottom:510.666667pt;}
.y23{bottom:516.000000pt;}
.yd{bottom:518.000000pt;}
.ybe{bottom:521.333333pt;}
.ya9{bottom:522.666667pt;}
.y84{bottom:525.333333pt;}
.yd3{bottom:526.666667pt;}
.y5c{bottom:532.000000pt;}
.y22{bottom:537.333333pt;}
.yc{bottom:542.000000pt;}
.yde{bottom:542.666667pt;}
.ya8{bottom:544.000000pt;}
.y83{bottom:549.333333pt;}
.y5b{bottom:553.333333pt;}
.y21{bottom:558.666667pt;}
.ya7{bottom:560.000000pt;}
.ycb{bottom:563.333333pt;}
.ydd{bottom:564.000000pt;}
.y82{bottom:565.333333pt;}
.ydb{bottom:568.666667pt;}
.y5a{bottom:569.333333pt;}
.y20{bottom:574.666667pt;}
.ya6{bottom:576.000000pt;}
.y44{bottom:580.000000pt;}
.yb{bottom:582.000000pt;}
.ye4{bottom:584.666667pt;}
.y59{bottom:585.333333pt;}
.y81{bottom:586.666667pt;}
.y1f{bottom:590.666667pt;}
.ya5{bottom:597.333333pt;}
.y43{bottom:601.333333pt;}
.ya{bottom:602.000000pt;}
.y80{bottom:608.000000pt;}
.y1e{bottom:612.000000pt;}
.yd2{bottom:613.333333pt;}
.y9{bottom:615.333333pt;}
.ya4{bottom:618.666667pt;}
.y42{bottom:622.666667pt;}
.y6e{bottom:627.333333pt;}
.y7f{bottom:629.333333pt;}
.y1d{bottom:633.333333pt;}
.ybd{bottom:634.666667pt;}
.y41{bottom:638.666667pt;}
.ya3{bottom:640.000000pt;}
.y8{bottom:645.333333pt;}
.y7e{bottom:650.666667pt;}
.y1c{bottom:654.666667pt;}
.ye3{bottom:656.000000pt;}
.y7{bottom:658.666667pt;}
.ya2{bottom:661.333333pt;}
.yd1{bottom:664.000000pt;}
.y58{bottom:672.000000pt;}
.y1b{bottom:676.000000pt;}
.ye2{bottom:680.000000pt;}
.ya1{bottom:682.666667pt;}
.y7d{bottom:688.000000pt;}
.y4b{bottom:696.666667pt;}
.y6{bottom:698.666667pt;}
.y5{bottom:701.333333pt;}
.y7c{bottom:704.000000pt;}
.y36{bottom:718.000000pt;}
.ybc{bottom:720.000000pt;}
.y57{bottom:722.666667pt;}
.yb9{bottom:724.666667pt;}
.y7b{bottom:725.333333pt;}
.y40{bottom:741.333333pt;}
.y56{bottom:746.666667pt;}
.y7a{bottom:757.333333pt;}
.y1a{bottom:762.666667pt;}
.y3f{bottom:768.000000pt;}
.ya0{bottom:769.333333pt;}
.y79{bottom:778.666667pt;}
.y4{bottom:781.333333pt;}
.y55{bottom:784.000000pt;}
.y19{bottom:789.333333pt;}
.y3e{bottom:792.000000pt;}
.y9f{bottom:796.000000pt;}
.y78{bottom:800.000000pt;}
.y54{bottom:805.333333pt;}
.y18{bottom:813.333333pt;}
.y3d{bottom:816.000000pt;}
.y9e{bottom:820.000000pt;}
.y77{bottom:821.333333pt;}
.y53{bottom:826.666667pt;}
.y3c{bottom:832.000000pt;}
.y17{bottom:837.333333pt;}
.yd0{bottom:842.666667pt;}
.y9d{bottom:844.000000pt;}
.y52{bottom:848.000000pt;}
.y16{bottom:853.333333pt;}
.ybb{bottom:858.666667pt;}
.y9c{bottom:860.000000pt;}
.y93{bottom:863.333333pt;}
.y51{bottom:864.000000pt;}
.y15{bottom:874.666667pt;}
.y50{bottom:880.000000pt;}
.y9b{bottom:881.333333pt;}
.y14{bottom:896.000000pt;}
.y4f{bottom:901.333333pt;}
.y9a{bottom:902.666667pt;}
.yda{bottom:906.000000pt;}
.y76{bottom:908.000000pt;}
.y3{bottom:914.666667pt;}
.y2{bottom:917.333333pt;}
.y99{bottom:924.000000pt;}
.y3b{bottom:933.333333pt;}
.y75{bottom:934.666667pt;}
.y1{bottom:937.333333pt;}
.y13{bottom:938.666667pt;}
.y6d{bottom:943.333333pt;}
.y98{bottom:945.333333pt;}
.y3a{bottom:949.333333pt;}
.y0{bottom:950.000000pt;}
.ycf{bottom:950.666667pt;}
.y12{bottom:954.666667pt;}
.y74{bottom:958.666667pt;}
.y97{bottom:961.333333pt;}
.y11{bottom:970.666667pt;}
.y96{bottom:977.333333pt;}
.y73{bottom:982.666667pt;}
.y4e{bottom:988.000000pt;}
.y10{bottom:992.000000pt;}
.y72{bottom:998.666667pt;}
.yce{bottom:1001.333333pt;}
.y4d{bottom:1014.666667pt;}
.y71{bottom:1020.000000pt;}
.ycd{bottom:1025.333333pt;}
.y35{bottom:1034.000000pt;}
.y4c{bottom:1038.666667pt;}
.y70{bottom:1041.333333pt;}
.y38{bottom:1065.333333pt;}
.h2{height:62.630933pt;}
.h6{height:75.157120pt;}
.h9{height:78.875000pt;}
.h7{height:92.020833pt;}
.h5{height:93.946400pt;}
.h1{height:112.666667pt;}
.h4{height:125.261866pt;}
.h3{height:250.523733pt;}
.h8{height:1003.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:370.000000pt;}
.w2{width:647.333333pt;}
.w0{width:793.333333pt;}
.x0{left:73.333333pt;}
.x8{left:76.000000pt;}
.x6{left:181.066667pt;}
.x9{left:298.853333pt;}
.x5{left:304.773333pt;}
.x7{left:326.666667pt;}
.x3{left:359.626667pt;}
.x1{left:368.106667pt;}
.x4{left:389.253333pt;}
.x2{left:394.813333pt;}
.xb{left:699.546667pt;}
.xa{left:708.440000pt;}
}
