.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc7{color:rgb(33,78,123);}
.fc4{color:rgb(102,0,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(255,0,0);}
.fc2{color:rgb(0,0,51);}
.fc6{color:rgb(66,184,55);}
.fc1{color:rgb(120,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:80.000000px;}
.fs1{font-size:160.000000px;}
.ye{bottom:17.000000px;}
.y38{bottom:31.000000px;}
.yf{bottom:44.500000px;}
.y68{bottom:65.700000px;}
.yc6{bottom:66.000000px;}
.y33{bottom:70.000000px;}
.y4e{bottom:72.700000px;}
.ya8{bottom:74.000000px;}
.y7c{bottom:76.790000px;}
.yc5{bottom:82.000000px;}
.y67{bottom:83.700000px;}
.y4d{bottom:84.700000px;}
.y32{bottom:86.000000px;}
.y7b{bottom:92.790000px;}
.y66{bottom:95.700000px;}
.y95{bottom:98.000000px;}
.y31{bottom:102.000000px;}
.y94{bottom:110.000000px;}
.y65{bottom:111.700000px;}
.yc4{bottom:114.000000px;}
.y30{bottom:118.000000px;}
.y7e{bottom:124.290000px;}
.y93{bottom:126.000000px;}
.y64{bottom:127.700000px;}
.yc3{bottom:130.000000px;}
.y2f{bottom:134.000000px;}
.yc2{bottom:142.000000px;}
.y63{bottom:143.700000px;}
.y2e{bottom:150.000000px;}
.yc1{bottom:154.000000px;}
.y98{bottom:157.500000px;}
.y7a{bottom:157.790000px;}
.yd6{bottom:158.000000px;}
.y62{bottom:159.700000px;}
.ya7{bottom:162.000000px;}
.y2d{bottom:166.000000px;}
.yc0{bottom:170.000000px;}
.ya6{bottom:174.000000px;}
.y61{bottom:175.700000px;}
.y79{bottom:177.790000px;}
.y2c{bottom:178.000000px;}
.y60{bottom:187.700000px;}
.yd9{bottom:189.500000px;}
.y2b{bottom:190.000000px;}
.y92{bottom:191.000000px;}
.y78{bottom:195.790000px;}
.y5f{bottom:199.700000px;}
.yc9{bottom:201.500000px;}
.yab{bottom:205.500000px;}
.y2a{bottom:206.000000px;}
.y91{bottom:211.000000px;}
.y77{bottom:213.790000px;}
.yd5{bottom:223.000000px;}
.y76{bottom:225.790000px;}
.y90{bottom:229.000000px;}
.y6a{bottom:231.200000px;}
.ybf{bottom:235.000000px;}
.y36{bottom:237.500000px;}
.ya5{bottom:239.000000px;}
.y75{bottom:241.790000px;}
.yd4{bottom:243.000000px;}
.y8f{bottom:247.000000px;}
.ydc{bottom:248.490000px;}
.ybe{bottom:255.000000px;}
.y74{bottom:257.790000px;}
.y8e{bottom:259.000000px;}
.yd3{bottom:261.000000px;}
.y5e{bottom:264.700000px;}
.ydb{bottom:266.490000px;}
.y29{bottom:271.000000px;}
.ybd{bottom:273.000000px;}
.y73{bottom:273.790000px;}
.y8d{bottom:275.000000px;}
.ya4{bottom:277.000000px;}
.yda{bottom:278.490000px;}
.yd2{bottom:279.000000px;}
.y5d{bottom:284.700000px;}
.y72{bottom:289.790000px;}
.y28{bottom:291.000000px;}
.ya3{bottom:295.000000px;}
.y71{bottom:301.790000px;}
.y5c{bottom:302.700000px;}
.ybc{bottom:303.000000px;}
.y8c{bottom:307.000000px;}
.y27{bottom:309.000000px;}
.y70{bottom:313.790000px;}
.ybb{bottom:319.000000px;}
.y5b{bottom:320.700000px;}
.y8b{bottom:323.000000px;}
.y26{bottom:327.000000px;}
.y6f{bottom:329.790000px;}
.y5a{bottom:332.700000px;}
.y4c{bottom:335.000000px;}
.y25{bottom:339.000000px;}
.y6e{bottom:345.790000px;}
.y4b{bottom:347.000000px;}
.y59{bottom:348.700000px;}
.yba{bottom:351.000000px;}
.y24{bottom:355.000000px;}
.y4a{bottom:363.000000px;}
.y58{bottom:364.700000px;}
.yb9{bottom:367.000000px;}
.y23{bottom:371.000000px;}
.y49{bottom:379.000000px;}
.y57{bottom:380.700000px;}
.ya2{bottom:383.000000px;}
.y22{bottom:387.000000px;}
.yd{bottom:388.500000px;}
.y97{bottom:394.500000px;}
.ya1{bottom:395.000000px;}
.y56{bottom:396.700000px;}
.y21{bottom:403.000000px;}
.yc{bottom:406.500000px;}
.yb8{bottom:407.000000px;}
.y55{bottom:408.700000px;}
.y50{bottom:410.500000px;}
.yd1{bottom:411.000000px;}
.y20{bottom:419.000000px;}
.y54{bottom:420.700000px;}
.yb7{bottom:423.000000px;}
.yaa{bottom:426.500000px;}
.y8a{bottom:428.000000px;}
.y1f{bottom:431.000000px;}
.yb{bottom:436.500000px;}
.y53{bottom:436.700000px;}
.yb6{bottom:439.000000px;}
.yd8{bottom:442.500000px;}
.y1e{bottom:443.000000px;}
.y48{bottom:444.000000px;}
.y89{bottom:448.000000px;}
.ya{bottom:451.500000px;}
.ya0{bottom:460.000000px;}
.y9{bottom:461.500000px;}
.y47{bottom:464.000000px;}
.y88{bottom:466.000000px;}
.y69{bottom:468.200000px;}
.yc8{bottom:470.500000px;}
.y35{bottom:474.500000px;}
.yd0{bottom:476.000000px;}
.y9f{bottom:480.000000px;}
.y46{bottom:482.000000px;}
.y8{bottom:484.000000px;}
.y7{bottom:494.000000px;}
.y87{bottom:496.000000px;}
.y9e{bottom:498.000000px;}
.y45{bottom:500.000000px;}
.y52{bottom:501.700000px;}
.yb5{bottom:504.000000px;}
.y1d{bottom:508.000000px;}
.y44{bottom:512.000000px;}
.ycf{bottom:514.000000px;}
.y9d{bottom:516.000000px;}
.y51{bottom:521.700000px;}
.y6{bottom:524.000000px;}
.y5{bottom:526.000000px;}
.y1c{bottom:528.000000px;}
.yce{bottom:532.000000px;}
.yb4{bottom:542.000000px;}
.y43{bottom:544.000000px;}
.y1b{bottom:546.000000px;}
.y42{bottom:560.000000px;}
.y1a{bottom:564.000000px;}
.y86{bottom:572.000000px;}
.y19{bottom:576.000000px;}
.y85{bottom:584.000000px;}
.y4{bottom:586.000000px;}
.yb3{bottom:588.000000px;}
.y18{bottom:592.000000px;}
.y84{bottom:600.000000px;}
.y41{bottom:604.000000px;}
.y17{bottom:608.000000px;}
.y40{bottom:616.000000px;}
.yb2{bottom:620.000000px;}
.y16{bottom:624.000000px;}
.y96{bottom:631.500000px;}
.y3f{bottom:632.000000px;}
.yb1{bottom:636.000000px;}
.y15{bottom:640.000000px;}
.ya9{bottom:647.500000px;}
.ycd{bottom:648.000000px;}
.yb0{bottom:652.000000px;}
.y14{bottom:656.000000px;}
.y4f{bottom:663.500000px;}
.yaf{bottom:664.000000px;}
.y83{bottom:665.000000px;}
.y13{bottom:668.000000px;}
.yae{bottom:676.000000px;}
.yd7{bottom:679.500000px;}
.y12{bottom:680.000000px;}
.y9c{bottom:681.000000px;}
.y6d{bottom:682.000000px;}
.y82{bottom:685.000000px;}
.y3{bottom:686.000000px;}
.y2{bottom:688.000000px;}
.y6c{bottom:694.000000px;}
.y11{bottom:696.000000px;}
.y3e{bottom:697.000000px;}
.y9b{bottom:701.000000px;}
.y1{bottom:703.000000px;}
.yc7{bottom:707.500000px;}
.y0{bottom:712.500000px;}
.ycc{bottom:713.000000px;}
.y3d{bottom:717.000000px;}
.y9a{bottom:719.000000px;}
.y81{bottom:721.000000px;}
.y7d{bottom:725.500000px;}
.y34{bottom:727.500000px;}
.y80{bottom:733.000000px;}
.y3c{bottom:735.000000px;}
.y99{bottom:737.000000px;}
.yad{bottom:741.000000px;}
.y7f{bottom:749.000000px;}
.ycb{bottom:751.000000px;}
.y3b{bottom:753.000000px;}
.y6b{bottom:759.000000px;}
.yac{bottom:761.000000px;}
.y3a{bottom:765.000000px;}
.yca{bottom:769.000000px;}
.y10{bottom:779.000000px;}
.y39{bottom:781.000000px;}
.y37{bottom:799.000000px;}
.h2{height:46.973200px;}
.h6{height:56.367840px;}
.h9{height:59.156250px;}
.h7{height:69.015625px;}
.h5{height:70.459800px;}
.h1{height:84.500000px;}
.h4{height:93.946400px;}
.h3{height:187.892799px;}
.h8{height:752.500000px;}
.h0{height:842.000000px;}
.w1{width:277.500000px;}
.w2{width:485.500000px;}
.w0{width:595.000000px;}
.x0{left:55.000000px;}
.x8{left:57.000000px;}
.x6{left:148.710000px;}
.x9{left:223.140000px;}
.x5{left:227.470000px;}
.x7{left:245.000000px;}
.x3{left:269.720000px;}
.x1{left:276.080000px;}
.x4{left:291.940000px;}
.x2{left:296.110000px;}
.xb{left:524.660000px;}
.xa{left:531.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:106.666667pt;}
.fs1{font-size:213.333333pt;}
.ye{bottom:22.666667pt;}
.y38{bottom:41.333333pt;}
.yf{bottom:59.333333pt;}
.y68{bottom:87.600000pt;}
.yc6{bottom:88.000000pt;}
.y33{bottom:93.333333pt;}
.y4e{bottom:96.933333pt;}
.ya8{bottom:98.666667pt;}
.y7c{bottom:102.386667pt;}
.yc5{bottom:109.333333pt;}
.y67{bottom:111.600000pt;}
.y4d{bottom:112.933333pt;}
.y32{bottom:114.666667pt;}
.y7b{bottom:123.720000pt;}
.y66{bottom:127.600000pt;}
.y95{bottom:130.666667pt;}
.y31{bottom:136.000000pt;}
.y94{bottom:146.666667pt;}
.y65{bottom:148.933333pt;}
.yc4{bottom:152.000000pt;}
.y30{bottom:157.333333pt;}
.y7e{bottom:165.720000pt;}
.y93{bottom:168.000000pt;}
.y64{bottom:170.266667pt;}
.yc3{bottom:173.333333pt;}
.y2f{bottom:178.666667pt;}
.yc2{bottom:189.333333pt;}
.y63{bottom:191.600000pt;}
.y2e{bottom:200.000000pt;}
.yc1{bottom:205.333333pt;}
.y98{bottom:210.000000pt;}
.y7a{bottom:210.386667pt;}
.yd6{bottom:210.666667pt;}
.y62{bottom:212.933333pt;}
.ya7{bottom:216.000000pt;}
.y2d{bottom:221.333333pt;}
.yc0{bottom:226.666667pt;}
.ya6{bottom:232.000000pt;}
.y61{bottom:234.266667pt;}
.y79{bottom:237.053333pt;}
.y2c{bottom:237.333333pt;}
.y60{bottom:250.266667pt;}
.yd9{bottom:252.666667pt;}
.y2b{bottom:253.333333pt;}
.y92{bottom:254.666667pt;}
.y78{bottom:261.053333pt;}
.y5f{bottom:266.266667pt;}
.yc9{bottom:268.666667pt;}
.yab{bottom:274.000000pt;}
.y2a{bottom:274.666667pt;}
.y91{bottom:281.333333pt;}
.y77{bottom:285.053333pt;}
.yd5{bottom:297.333333pt;}
.y76{bottom:301.053333pt;}
.y90{bottom:305.333333pt;}
.y6a{bottom:308.266667pt;}
.ybf{bottom:313.333333pt;}
.y36{bottom:316.666667pt;}
.ya5{bottom:318.666667pt;}
.y75{bottom:322.386667pt;}
.yd4{bottom:324.000000pt;}
.y8f{bottom:329.333333pt;}
.ydc{bottom:331.320000pt;}
.ybe{bottom:340.000000pt;}
.y74{bottom:343.720000pt;}
.y8e{bottom:345.333333pt;}
.yd3{bottom:348.000000pt;}
.y5e{bottom:352.933333pt;}
.ydb{bottom:355.320000pt;}
.y29{bottom:361.333333pt;}
.ybd{bottom:364.000000pt;}
.y73{bottom:365.053333pt;}
.y8d{bottom:366.666667pt;}
.ya4{bottom:369.333333pt;}
.yda{bottom:371.320000pt;}
.yd2{bottom:372.000000pt;}
.y5d{bottom:379.600000pt;}
.y72{bottom:386.386667pt;}
.y28{bottom:388.000000pt;}
.ya3{bottom:393.333333pt;}
.y71{bottom:402.386667pt;}
.y5c{bottom:403.600000pt;}
.ybc{bottom:404.000000pt;}
.y8c{bottom:409.333333pt;}
.y27{bottom:412.000000pt;}
.y70{bottom:418.386667pt;}
.ybb{bottom:425.333333pt;}
.y5b{bottom:427.600000pt;}
.y8b{bottom:430.666667pt;}
.y26{bottom:436.000000pt;}
.y6f{bottom:439.720000pt;}
.y5a{bottom:443.600000pt;}
.y4c{bottom:446.666667pt;}
.y25{bottom:452.000000pt;}
.y6e{bottom:461.053333pt;}
.y4b{bottom:462.666667pt;}
.y59{bottom:464.933333pt;}
.yba{bottom:468.000000pt;}
.y24{bottom:473.333333pt;}
.y4a{bottom:484.000000pt;}
.y58{bottom:486.266667pt;}
.yb9{bottom:489.333333pt;}
.y23{bottom:494.666667pt;}
.y49{bottom:505.333333pt;}
.y57{bottom:507.600000pt;}
.ya2{bottom:510.666667pt;}
.y22{bottom:516.000000pt;}
.yd{bottom:518.000000pt;}
.y97{bottom:526.000000pt;}
.ya1{bottom:526.666667pt;}
.y56{bottom:528.933333pt;}
.y21{bottom:537.333333pt;}
.yc{bottom:542.000000pt;}
.yb8{bottom:542.666667pt;}
.y55{bottom:544.933333pt;}
.y50{bottom:547.333333pt;}
.yd1{bottom:548.000000pt;}
.y20{bottom:558.666667pt;}
.y54{bottom:560.933333pt;}
.yb7{bottom:564.000000pt;}
.yaa{bottom:568.666667pt;}
.y8a{bottom:570.666667pt;}
.y1f{bottom:574.666667pt;}
.yb{bottom:582.000000pt;}
.y53{bottom:582.266667pt;}
.yb6{bottom:585.333333pt;}
.yd8{bottom:590.000000pt;}
.y1e{bottom:590.666667pt;}
.y48{bottom:592.000000pt;}
.y89{bottom:597.333333pt;}
.ya{bottom:602.000000pt;}
.ya0{bottom:613.333333pt;}
.y9{bottom:615.333333pt;}
.y47{bottom:618.666667pt;}
.y88{bottom:621.333333pt;}
.y69{bottom:624.266667pt;}
.yc8{bottom:627.333333pt;}
.y35{bottom:632.666667pt;}
.yd0{bottom:634.666667pt;}
.y9f{bottom:640.000000pt;}
.y46{bottom:642.666667pt;}
.y8{bottom:645.333333pt;}
.y7{bottom:658.666667pt;}
.y87{bottom:661.333333pt;}
.y9e{bottom:664.000000pt;}
.y45{bottom:666.666667pt;}
.y52{bottom:668.933333pt;}
.yb5{bottom:672.000000pt;}
.y1d{bottom:677.333333pt;}
.y44{bottom:682.666667pt;}
.ycf{bottom:685.333333pt;}
.y9d{bottom:688.000000pt;}
.y51{bottom:695.600000pt;}
.y6{bottom:698.666667pt;}
.y5{bottom:701.333333pt;}
.y1c{bottom:704.000000pt;}
.yce{bottom:709.333333pt;}
.yb4{bottom:722.666667pt;}
.y43{bottom:725.333333pt;}
.y1b{bottom:728.000000pt;}
.y42{bottom:746.666667pt;}
.y1a{bottom:752.000000pt;}
.y86{bottom:762.666667pt;}
.y19{bottom:768.000000pt;}
.y85{bottom:778.666667pt;}
.y4{bottom:781.333333pt;}
.yb3{bottom:784.000000pt;}
.y18{bottom:789.333333pt;}
.y84{bottom:800.000000pt;}
.y41{bottom:805.333333pt;}
.y17{bottom:810.666667pt;}
.y40{bottom:821.333333pt;}
.yb2{bottom:826.666667pt;}
.y16{bottom:832.000000pt;}
.y96{bottom:842.000000pt;}
.y3f{bottom:842.666667pt;}
.yb1{bottom:848.000000pt;}
.y15{bottom:853.333333pt;}
.ya9{bottom:863.333333pt;}
.ycd{bottom:864.000000pt;}
.yb0{bottom:869.333333pt;}
.y14{bottom:874.666667pt;}
.y4f{bottom:884.666667pt;}
.yaf{bottom:885.333333pt;}
.y83{bottom:886.666667pt;}
.y13{bottom:890.666667pt;}
.yae{bottom:901.333333pt;}
.yd7{bottom:906.000000pt;}
.y12{bottom:906.666667pt;}
.y9c{bottom:908.000000pt;}
.y6d{bottom:909.333333pt;}
.y82{bottom:913.333333pt;}
.y3{bottom:914.666667pt;}
.y2{bottom:917.333333pt;}
.y6c{bottom:925.333333pt;}
.y11{bottom:928.000000pt;}
.y3e{bottom:929.333333pt;}
.y9b{bottom:934.666667pt;}
.y1{bottom:937.333333pt;}
.yc7{bottom:943.333333pt;}
.y0{bottom:950.000000pt;}
.ycc{bottom:950.666667pt;}
.y3d{bottom:956.000000pt;}
.y9a{bottom:958.666667pt;}
.y81{bottom:961.333333pt;}
.y7d{bottom:967.333333pt;}
.y34{bottom:970.000000pt;}
.y80{bottom:977.333333pt;}
.y3c{bottom:980.000000pt;}
.y99{bottom:982.666667pt;}
.yad{bottom:988.000000pt;}
.y7f{bottom:998.666667pt;}
.ycb{bottom:1001.333333pt;}
.y3b{bottom:1004.000000pt;}
.y6b{bottom:1012.000000pt;}
.yac{bottom:1014.666667pt;}
.y3a{bottom:1020.000000pt;}
.yca{bottom:1025.333333pt;}
.y10{bottom:1038.666667pt;}
.y39{bottom:1041.333333pt;}
.y37{bottom:1065.333333pt;}
.h2{height:62.630933pt;}
.h6{height:75.157120pt;}
.h9{height:78.875000pt;}
.h7{height:92.020833pt;}
.h5{height:93.946400pt;}
.h1{height:112.666667pt;}
.h4{height:125.261866pt;}
.h3{height:250.523733pt;}
.h8{height:1003.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:370.000000pt;}
.w2{width:647.333333pt;}
.w0{width:793.333333pt;}
.x0{left:73.333333pt;}
.x8{left:76.000000pt;}
.x6{left:198.280000pt;}
.x9{left:297.520000pt;}
.x5{left:303.293333pt;}
.x7{left:326.666667pt;}
.x3{left:359.626667pt;}
.x1{left:368.106667pt;}
.x4{left:389.253333pt;}
.x2{left:394.813333pt;}
.xb{left:699.546667pt;}
.xa{left:708.440000pt;}
}
