.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc7{color:rgb(33,78,123);}
.fc4{color:rgb(102,0,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(255,0,0);}
.fc2{color:rgb(0,0,51);}
.fc6{color:rgb(66,184,55);}
.fc1{color:rgb(120,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:80.000000px;}
.fs1{font-size:160.000000px;}
.ye{bottom:17.000000px;}
.y3a{bottom:31.000000px;}
.yf{bottom:44.500000px;}
.ya3{bottom:62.000000px;}
.y35{bottom:66.000000px;}
.yf2{bottom:67.000000px;}
.y7e{bottom:76.000000px;}
.ya2{bottom:78.000000px;}
.y57{bottom:80.000000px;}
.yc3{bottom:82.000000px;}
.y34{bottom:84.000000px;}
.yf1{bottom:85.000000px;}
.y7d{bottom:92.000000px;}
.ydf{bottom:93.500000px;}
.ya1{bottom:94.000000px;}
.y56{bottom:98.000000px;}
.y33{bottom:102.000000px;}
.yf0{bottom:103.000000px;}
.ya0{bottom:106.000000px;}
.y7c{bottom:108.000000px;}
.y55{bottom:110.000000px;}
.y32{bottom:114.000000px;}
.yef{bottom:115.000000px;}
.y9f{bottom:118.000000px;}
.y7b{bottom:124.000000px;}
.y54{bottom:126.000000px;}
.ydc{bottom:127.000000px;}
.y31{bottom:130.000000px;}
.yee{bottom:131.000000px;}
.y9e{bottom:134.000000px;}
.y7a{bottom:136.000000px;}
.yc6{bottom:137.500000px;}
.y53{bottom:142.000000px;}
.y30{bottom:146.000000px;}
.ydb{bottom:147.000000px;}
.y79{bottom:148.000000px;}
.y52{bottom:158.000000px;}
.y2f{bottom:162.000000px;}
.yed{bottom:163.000000px;}
.y78{bottom:164.000000px;}
.yda{bottom:165.000000px;}
.ya6{bottom:165.500000px;}
.yc2{bottom:171.000000px;}
.y51{bottom:174.000000px;}
.y77{bottom:176.000000px;}
.y2e{bottom:178.000000px;}
.yec{bottom:179.000000px;}
.yd9{bottom:183.000000px;}
.y50{bottom:186.000000px;}
.y76{bottom:188.000000px;}
.yc1{bottom:191.000000px;}
.y2d{bottom:194.000000px;}
.yd8{bottom:195.000000px;}
.y4f{bottom:198.000000px;}
.y9d{bottom:199.000000px;}
.y75{bottom:204.000000px;}
.yc0{bottom:209.000000px;}
.y2c{bottom:210.000000px;}
.yd7{bottom:211.000000px;}
.y4e{bottom:214.000000px;}
.y9c{bottom:219.000000px;}
.y74{bottom:220.000000px;}
.y2b{bottom:222.000000px;}
.ybf{bottom:227.000000px;}
.y4d{bottom:230.000000px;}
.y2a{bottom:234.000000px;}
.y9b{bottom:237.000000px;}
.ybe{bottom:239.000000px;}
.y4c{bottom:242.000000px;}
.yd6{bottom:243.000000px;}
.y81{bottom:251.500000px;}
.y4b{bottom:254.000000px;}
.y9a{bottom:255.000000px;}
.yd5{bottom:259.000000px;}
.y38{bottom:265.500000px;}
.y99{bottom:267.000000px;}
.y4a{bottom:270.000000px;}
.ybd{bottom:271.000000px;}
.y98{bottom:283.000000px;}
.y73{bottom:285.000000px;}
.ybc{bottom:287.000000px;}
.y29{bottom:299.000000px;}
.y59{bottom:301.500000px;}
.ybb{bottom:303.000000px;}
.y72{bottom:305.000000px;}
.yd4{bottom:311.000000px;}
.y97{bottom:315.000000px;}
.y28{bottom:319.000000px;}
.y71{bottom:323.000000px;}
.yba{bottom:327.000000px;}
.y96{bottom:331.000000px;}
.y49{bottom:335.000000px;}
.y27{bottom:337.000000px;}
.yd3{bottom:339.000000px;}
.y70{bottom:341.000000px;}
.y95{bottom:343.000000px;}
.y26{bottom:349.000000px;}
.y6f{bottom:353.000000px;}
.yf4{bottom:354.500000px;}
.y48{bottom:355.000000px;}
.yc5{bottom:358.500000px;}
.y25{bottom:361.000000px;}
.y6e{bottom:369.000000px;}
.yde{bottom:370.500000px;}
.y94{bottom:371.000000px;}
.y24{bottom:373.000000px;}
.y6d{bottom:385.000000px;}
.yeb{bottom:388.000000px;}
.yd{bottom:388.500000px;}
.y23{bottom:389.000000px;}
.y47{bottom:391.000000px;}
.yb9{bottom:392.000000px;}
.y6c{bottom:401.000000px;}
.ya5{bottom:402.500000px;}
.y46{bottom:403.000000px;}
.yd2{bottom:404.000000px;}
.y22{bottom:405.000000px;}
.yc{bottom:406.500000px;}
.yea{bottom:408.000000px;}
.yb8{bottom:412.000000px;}
.y6b{bottom:417.000000px;}
.y45{bottom:419.000000px;}
.y21{bottom:423.000000px;}
.yd1{bottom:424.000000px;}
.ye9{bottom:426.000000px;}
.y6a{bottom:429.000000px;}
.yb7{bottom:430.000000px;}
.y20{bottom:435.000000px;}
.y93{bottom:436.000000px;}
.yb{bottom:436.500000px;}
.y69{bottom:441.000000px;}
.yb6{bottom:442.000000px;}
.ye8{bottom:444.000000px;}
.y1f{bottom:451.000000px;}
.ya{bottom:451.500000px;}
.yb5{bottom:454.000000px;}
.y92{bottom:456.000000px;}
.y68{bottom:457.000000px;}
.yd0{bottom:460.000000px;}
.y9{bottom:461.500000px;}
.yb4{bottom:466.000000px;}
.y1e{bottom:467.000000px;}
.ycf{bottom:472.000000px;}
.y91{bottom:474.000000px;}
.y44{bottom:479.000000px;}
.yb3{bottom:482.000000px;}
.y1d{bottom:483.000000px;}
.y8{bottom:484.000000px;}
.yce{bottom:488.000000px;}
.y80{bottom:488.500000px;}
.y43{bottom:491.000000px;}
.y90{bottom:492.000000px;}
.y7{bottom:494.000000px;}
.yb2{bottom:498.000000px;}
.y1c{bottom:499.000000px;}
.y8f{bottom:504.000000px;}
.y42{bottom:507.000000px;}
.y1b{bottom:511.000000px;}
.yb1{bottom:516.000000px;}
.y8e{bottom:520.000000px;}
.y67{bottom:522.000000px;}
.y1a{bottom:523.000000px;}
.y6{bottom:524.000000px;}
.y5{bottom:526.000000px;}
.yb0{bottom:528.000000px;}
.y8d{bottom:536.000000px;}
.y58{bottom:538.500000px;}
.y66{bottom:542.000000px;}
.yaf{bottom:544.000000px;}
.ycd{bottom:548.000000px;}
.y8c{bottom:552.000000px;}
.y37{bottom:554.500000px;}
.y65{bottom:560.000000px;}
.y8b{bottom:568.000000px;}
.y41{bottom:572.000000px;}
.yae{bottom:576.000000px;}
.y64{bottom:578.000000px;}
.y8a{bottom:580.000000px;}
.y4{bottom:586.000000px;}
.y19{bottom:588.000000px;}
.y63{bottom:590.000000px;}
.yf3{bottom:591.500000px;}
.y40{bottom:592.000000px;}
.ycc{bottom:600.000000px;}
.yad{bottom:604.000000px;}
.y62{bottom:606.000000px;}
.y18{bottom:608.000000px;}
.y3f{bottom:610.000000px;}
.yac{bottom:616.000000px;}
.y89{bottom:620.000000px;}
.y61{bottom:622.000000px;}
.ye7{bottom:625.000000px;}
.y17{bottom:626.000000px;}
.y3e{bottom:628.000000px;}
.y88{bottom:632.000000px;}
.y60{bottom:638.000000px;}
.y3d{bottom:640.000000px;}
.y16{bottom:644.000000px;}
.ye6{bottom:645.000000px;}
.ydd{bottom:647.500000px;}
.y87{bottom:648.000000px;}
.y5f{bottom:654.000000px;}
.y15{bottom:656.000000px;}
.ye5{bottom:663.000000px;}
.yc4{bottom:663.500000px;}
.y5e{bottom:666.000000px;}
.y14{bottom:672.000000px;}
.y5d{bottom:678.000000px;}
.ya4{bottom:679.500000px;}
.ycb{bottom:681.000000px;}
.y3{bottom:686.000000px;}
.y2{bottom:688.000000px;}
.ye4{bottom:693.000000px;}
.y5c{bottom:694.000000px;}
.yab{bottom:697.000000px;}
.yca{bottom:701.000000px;}
.y1{bottom:703.000000px;}
.y13{bottom:704.000000px;}
.ye3{bottom:709.000000px;}
.y0{bottom:712.500000px;}
.y86{bottom:713.000000px;}
.y3c{bottom:716.000000px;}
.yaa{bottom:717.000000px;}
.yc9{bottom:719.000000px;}
.y12{bottom:720.000000px;}
.ye2{bottom:725.000000px;}
.y7f{bottom:725.500000px;}
.y3b{bottom:728.000000px;}
.y11{bottom:732.000000px;}
.y85{bottom:733.000000px;}
.ya9{bottom:735.000000px;}
.yc8{bottom:737.000000px;}
.ye1{bottom:741.000000px;}
.y10{bottom:744.000000px;}
.yc7{bottom:749.000000px;}
.y84{bottom:751.000000px;}
.ya8{bottom:753.000000px;}
.ye0{bottom:757.000000px;}
.y5b{bottom:759.000000px;}
.ya7{bottom:765.000000px;}
.y83{bottom:769.000000px;}
.y36{bottom:775.500000px;}
.y5a{bottom:779.000000px;}
.y82{bottom:781.000000px;}
.y39{bottom:799.000000px;}
.h2{height:46.973200px;}
.h6{height:56.367840px;}
.h9{height:59.156250px;}
.h7{height:69.015625px;}
.h5{height:70.459800px;}
.h1{height:84.500000px;}
.h4{height:93.946400px;}
.h3{height:187.892799px;}
.h8{height:797.500000px;}
.h0{height:842.000000px;}
.w1{width:277.500000px;}
.w2{width:540.000000px;}
.w0{width:595.000000px;}
.x0{left:55.000000px;}
.x8{left:57.000000px;}
.x6{left:129.550000px;}
.x9{left:223.480000px;}
.x5{left:228.030000px;}
.x7{left:245.000000px;}
.x3{left:269.720000px;}
.x1{left:276.080000px;}
.x4{left:291.940000px;}
.x2{left:296.110000px;}
.xa{left:531.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:106.666667pt;}
.fs1{font-size:213.333333pt;}
.ye{bottom:22.666667pt;}
.y3a{bottom:41.333333pt;}
.yf{bottom:59.333333pt;}
.ya3{bottom:82.666667pt;}
.y35{bottom:88.000000pt;}
.yf2{bottom:89.333333pt;}
.y7e{bottom:101.333333pt;}
.ya2{bottom:104.000000pt;}
.y57{bottom:106.666667pt;}
.yc3{bottom:109.333333pt;}
.y34{bottom:112.000000pt;}
.yf1{bottom:113.333333pt;}
.y7d{bottom:122.666667pt;}
.ydf{bottom:124.666667pt;}
.ya1{bottom:125.333333pt;}
.y56{bottom:130.666667pt;}
.y33{bottom:136.000000pt;}
.yf0{bottom:137.333333pt;}
.ya0{bottom:141.333333pt;}
.y7c{bottom:144.000000pt;}
.y55{bottom:146.666667pt;}
.y32{bottom:152.000000pt;}
.yef{bottom:153.333333pt;}
.y9f{bottom:157.333333pt;}
.y7b{bottom:165.333333pt;}
.y54{bottom:168.000000pt;}
.ydc{bottom:169.333333pt;}
.y31{bottom:173.333333pt;}
.yee{bottom:174.666667pt;}
.y9e{bottom:178.666667pt;}
.y7a{bottom:181.333333pt;}
.yc6{bottom:183.333333pt;}
.y53{bottom:189.333333pt;}
.y30{bottom:194.666667pt;}
.ydb{bottom:196.000000pt;}
.y79{bottom:197.333333pt;}
.y52{bottom:210.666667pt;}
.y2f{bottom:216.000000pt;}
.yed{bottom:217.333333pt;}
.y78{bottom:218.666667pt;}
.yda{bottom:220.000000pt;}
.ya6{bottom:220.666667pt;}
.yc2{bottom:228.000000pt;}
.y51{bottom:232.000000pt;}
.y77{bottom:234.666667pt;}
.y2e{bottom:237.333333pt;}
.yec{bottom:238.666667pt;}
.yd9{bottom:244.000000pt;}
.y50{bottom:248.000000pt;}
.y76{bottom:250.666667pt;}
.yc1{bottom:254.666667pt;}
.y2d{bottom:258.666667pt;}
.yd8{bottom:260.000000pt;}
.y4f{bottom:264.000000pt;}
.y9d{bottom:265.333333pt;}
.y75{bottom:272.000000pt;}
.yc0{bottom:278.666667pt;}
.y2c{bottom:280.000000pt;}
.yd7{bottom:281.333333pt;}
.y4e{bottom:285.333333pt;}
.y9c{bottom:292.000000pt;}
.y74{bottom:293.333333pt;}
.y2b{bottom:296.000000pt;}
.ybf{bottom:302.666667pt;}
.y4d{bottom:306.666667pt;}
.y2a{bottom:312.000000pt;}
.y9b{bottom:316.000000pt;}
.ybe{bottom:318.666667pt;}
.y4c{bottom:322.666667pt;}
.yd6{bottom:324.000000pt;}
.y81{bottom:335.333333pt;}
.y4b{bottom:338.666667pt;}
.y9a{bottom:340.000000pt;}
.yd5{bottom:345.333333pt;}
.y38{bottom:354.000000pt;}
.y99{bottom:356.000000pt;}
.y4a{bottom:360.000000pt;}
.ybd{bottom:361.333333pt;}
.y98{bottom:377.333333pt;}
.y73{bottom:380.000000pt;}
.ybc{bottom:382.666667pt;}
.y29{bottom:398.666667pt;}
.y59{bottom:402.000000pt;}
.ybb{bottom:404.000000pt;}
.y72{bottom:406.666667pt;}
.yd4{bottom:414.666667pt;}
.y97{bottom:420.000000pt;}
.y28{bottom:425.333333pt;}
.y71{bottom:430.666667pt;}
.yba{bottom:436.000000pt;}
.y96{bottom:441.333333pt;}
.y49{bottom:446.666667pt;}
.y27{bottom:449.333333pt;}
.yd3{bottom:452.000000pt;}
.y70{bottom:454.666667pt;}
.y95{bottom:457.333333pt;}
.y26{bottom:465.333333pt;}
.y6f{bottom:470.666667pt;}
.yf4{bottom:472.666667pt;}
.y48{bottom:473.333333pt;}
.yc5{bottom:478.000000pt;}
.y25{bottom:481.333333pt;}
.y6e{bottom:492.000000pt;}
.yde{bottom:494.000000pt;}
.y94{bottom:494.666667pt;}
.y24{bottom:497.333333pt;}
.y6d{bottom:513.333333pt;}
.yeb{bottom:517.333333pt;}
.yd{bottom:518.000000pt;}
.y23{bottom:518.666667pt;}
.y47{bottom:521.333333pt;}
.yb9{bottom:522.666667pt;}
.y6c{bottom:534.666667pt;}
.ya5{bottom:536.666667pt;}
.y46{bottom:537.333333pt;}
.yd2{bottom:538.666667pt;}
.y22{bottom:540.000000pt;}
.yc{bottom:542.000000pt;}
.yea{bottom:544.000000pt;}
.yb8{bottom:549.333333pt;}
.y6b{bottom:556.000000pt;}
.y45{bottom:558.666667pt;}
.y21{bottom:564.000000pt;}
.yd1{bottom:565.333333pt;}
.ye9{bottom:568.000000pt;}
.y6a{bottom:572.000000pt;}
.yb7{bottom:573.333333pt;}
.y20{bottom:580.000000pt;}
.y93{bottom:581.333333pt;}
.yb{bottom:582.000000pt;}
.y69{bottom:588.000000pt;}
.yb6{bottom:589.333333pt;}
.ye8{bottom:592.000000pt;}
.y1f{bottom:601.333333pt;}
.ya{bottom:602.000000pt;}
.yb5{bottom:605.333333pt;}
.y92{bottom:608.000000pt;}
.y68{bottom:609.333333pt;}
.yd0{bottom:613.333333pt;}
.y9{bottom:615.333333pt;}
.yb4{bottom:621.333333pt;}
.y1e{bottom:622.666667pt;}
.ycf{bottom:629.333333pt;}
.y91{bottom:632.000000pt;}
.y44{bottom:638.666667pt;}
.yb3{bottom:642.666667pt;}
.y1d{bottom:644.000000pt;}
.y8{bottom:645.333333pt;}
.yce{bottom:650.666667pt;}
.y80{bottom:651.333333pt;}
.y43{bottom:654.666667pt;}
.y90{bottom:656.000000pt;}
.y7{bottom:658.666667pt;}
.yb2{bottom:664.000000pt;}
.y1c{bottom:665.333333pt;}
.y8f{bottom:672.000000pt;}
.y42{bottom:676.000000pt;}
.y1b{bottom:681.333333pt;}
.yb1{bottom:688.000000pt;}
.y8e{bottom:693.333333pt;}
.y67{bottom:696.000000pt;}
.y1a{bottom:697.333333pt;}
.y6{bottom:698.666667pt;}
.y5{bottom:701.333333pt;}
.yb0{bottom:704.000000pt;}
.y8d{bottom:714.666667pt;}
.y58{bottom:718.000000pt;}
.y66{bottom:722.666667pt;}
.yaf{bottom:725.333333pt;}
.ycd{bottom:730.666667pt;}
.y8c{bottom:736.000000pt;}
.y37{bottom:739.333333pt;}
.y65{bottom:746.666667pt;}
.y8b{bottom:757.333333pt;}
.y41{bottom:762.666667pt;}
.yae{bottom:768.000000pt;}
.y64{bottom:770.666667pt;}
.y8a{bottom:773.333333pt;}
.y4{bottom:781.333333pt;}
.y19{bottom:784.000000pt;}
.y63{bottom:786.666667pt;}
.yf3{bottom:788.666667pt;}
.y40{bottom:789.333333pt;}
.ycc{bottom:800.000000pt;}
.yad{bottom:805.333333pt;}
.y62{bottom:808.000000pt;}
.y18{bottom:810.666667pt;}
.y3f{bottom:813.333333pt;}
.yac{bottom:821.333333pt;}
.y89{bottom:826.666667pt;}
.y61{bottom:829.333333pt;}
.ye7{bottom:833.333333pt;}
.y17{bottom:834.666667pt;}
.y3e{bottom:837.333333pt;}
.y88{bottom:842.666667pt;}
.y60{bottom:850.666667pt;}
.y3d{bottom:853.333333pt;}
.y16{bottom:858.666667pt;}
.ye6{bottom:860.000000pt;}
.ydd{bottom:863.333333pt;}
.y87{bottom:864.000000pt;}
.y5f{bottom:872.000000pt;}
.y15{bottom:874.666667pt;}
.ye5{bottom:884.000000pt;}
.yc4{bottom:884.666667pt;}
.y5e{bottom:888.000000pt;}
.y14{bottom:896.000000pt;}
.y5d{bottom:904.000000pt;}
.ya4{bottom:906.000000pt;}
.ycb{bottom:908.000000pt;}
.y3{bottom:914.666667pt;}
.y2{bottom:917.333333pt;}
.ye4{bottom:924.000000pt;}
.y5c{bottom:925.333333pt;}
.yab{bottom:929.333333pt;}
.yca{bottom:934.666667pt;}
.y1{bottom:937.333333pt;}
.y13{bottom:938.666667pt;}
.ye3{bottom:945.333333pt;}
.y0{bottom:950.000000pt;}
.y86{bottom:950.666667pt;}
.y3c{bottom:954.666667pt;}
.yaa{bottom:956.000000pt;}
.yc9{bottom:958.666667pt;}
.y12{bottom:960.000000pt;}
.ye2{bottom:966.666667pt;}
.y7f{bottom:967.333333pt;}
.y3b{bottom:970.666667pt;}
.y11{bottom:976.000000pt;}
.y85{bottom:977.333333pt;}
.ya9{bottom:980.000000pt;}
.yc8{bottom:982.666667pt;}
.ye1{bottom:988.000000pt;}
.y10{bottom:992.000000pt;}
.yc7{bottom:998.666667pt;}
.y84{bottom:1001.333333pt;}
.ya8{bottom:1004.000000pt;}
.ye0{bottom:1009.333333pt;}
.y5b{bottom:1012.000000pt;}
.ya7{bottom:1020.000000pt;}
.y83{bottom:1025.333333pt;}
.y36{bottom:1034.000000pt;}
.y5a{bottom:1038.666667pt;}
.y82{bottom:1041.333333pt;}
.y39{bottom:1065.333333pt;}
.h2{height:62.630933pt;}
.h6{height:75.157120pt;}
.h9{height:78.875000pt;}
.h7{height:92.020833pt;}
.h5{height:93.946400pt;}
.h1{height:112.666667pt;}
.h4{height:125.261866pt;}
.h3{height:250.523733pt;}
.h8{height:1063.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:370.000000pt;}
.w2{width:720.000000pt;}
.w0{width:793.333333pt;}
.x0{left:73.333333pt;}
.x8{left:76.000000pt;}
.x6{left:172.733333pt;}
.x9{left:297.973333pt;}
.x5{left:304.040000pt;}
.x7{left:326.666667pt;}
.x3{left:359.626667pt;}
.x1{left:368.106667pt;}
.x4{left:389.253333pt;}
.x2{left:394.813333pt;}
.xa{left:708.440000pt;}
}
