.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc7{color:rgb(33,78,123);}
.fc4{color:rgb(102,0,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(255,0,0);}
.fc2{color:rgb(0,0,51);}
.fc6{color:rgb(66,184,55);}
.fc1{color:rgb(120,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:80.000000px;}
.fs1{font-size:160.000000px;}
.ye{bottom:17.000000px;}
.y39{bottom:31.000000px;}
.yf{bottom:44.500000px;}
.yac{bottom:66.000000px;}
.y34{bottom:72.000000px;}
.y61{bottom:77.000000px;}
.y93{bottom:81.500000px;}
.y73{bottom:82.000000px;}
.y33{bottom:90.000000px;}
.y60{bottom:97.000000px;}
.yaf{bottom:97.500000px;}
.y72{bottom:100.000000px;}
.y32{bottom:102.000000px;}
.y5f{bottom:115.000000px;}
.y31{bottom:118.000000px;}
.y5e{bottom:127.000000px;}
.y71{bottom:130.000000px;}
.yab{bottom:131.000000px;}
.y30{bottom:134.000000px;}
.y90{bottom:135.000000px;}
.y5d{bottom:139.000000px;}
.y70{bottom:146.000000px;}
.y2f{bottom:150.000000px;}
.y5c{bottom:151.000000px;}
.y8f{bottom:153.000000px;}
.y6f{bottom:162.000000px;}
.y8e{bottom:165.000000px;}
.y2e{bottom:166.000000px;}
.y5b{bottom:167.000000px;}
.yaa{bottom:169.000000px;}
.y8d{bottom:177.000000px;}
.y6e{bottom:178.000000px;}
.ya9{bottom:181.000000px;}
.y2d{bottom:182.000000px;}
.y5a{bottom:185.000000px;}
.y8c{bottom:189.000000px;}
.ya8{bottom:193.000000px;}
.y6d{bottom:194.000000px;}
.y59{bottom:197.000000px;}
.y2c{bottom:198.000000px;}
.y8b{bottom:205.000000px;}
.y6c{bottom:206.000000px;}
.y58{bottom:213.000000px;}
.y2b{bottom:214.000000px;}
.y6b{bottom:218.000000px;}
.y8a{bottom:221.000000px;}
.y57{bottom:229.000000px;}
.y2a{bottom:230.000000px;}
.y89{bottom:239.000000px;}
.y29{bottom:242.000000px;}
.y56{bottom:245.000000px;}
.y74{bottom:249.500000px;}
.y88{bottom:251.000000px;}
.y28{bottom:254.000000px;}
.y55{bottom:261.000000px;}
.y87{bottom:267.000000px;}
.y27{bottom:270.000000px;}
.y54{bottom:273.000000px;}
.y6a{bottom:283.000000px;}
.y53{bottom:285.000000px;}
.y86{bottom:299.000000px;}
.y52{bottom:301.000000px;}
.y37{bottom:301.500000px;}
.y69{bottom:303.000000px;}
.y51{bottom:313.000000px;}
.y85{bottom:315.000000px;}
.y68{bottom:321.000000px;}
.y50{bottom:325.000000px;}
.ya7{bottom:327.000000px;}
.y84{bottom:331.000000px;}
.y67{bottom:333.000000px;}
.y26{bottom:335.000000px;}
.ya6{bottom:339.000000px;}
.y4f{bottom:341.000000px;}
.y66{bottom:345.000000px;}
.y83{bottom:347.000000px;}
.y25{bottom:355.000000px;}
.y4e{bottom:357.000000px;}
.y82{bottom:363.000000px;}
.yae{bottom:370.500000px;}
.y24{bottom:373.000000px;}
.y81{bottom:375.000000px;}
.y80{bottom:387.000000px;}
.yd{bottom:388.500000px;}
.y4d{bottom:389.000000px;}
.y23{bottom:391.000000px;}
.y22{bottom:403.000000px;}
.ya5{bottom:404.000000px;}
.y4c{bottom:405.000000px;}
.yc{bottom:406.500000px;}
.y65{bottom:407.000000px;}
.y92{bottom:418.500000px;}
.y21{bottom:419.000000px;}
.ya4{bottom:424.000000px;}
.y20{bottom:435.000000px;}
.yb{bottom:436.500000px;}
.ya3{bottom:442.000000px;}
.y1f{bottom:451.000000px;}
.ya{bottom:451.500000px;}
.y7f{bottom:452.000000px;}
.ya2{bottom:460.000000px;}
.y9{bottom:461.500000px;}
.y1e{bottom:467.000000px;}
.y4b{bottom:470.000000px;}
.y7e{bottom:472.000000px;}
.y1d{bottom:479.000000px;}
.y64{bottom:483.000000px;}
.y8{bottom:484.000000px;}
.ya1{bottom:488.000000px;}
.y4a{bottom:490.000000px;}
.y1c{bottom:491.000000px;}
.y7{bottom:494.000000px;}
.y63{bottom:495.000000px;}
.y7d{bottom:502.000000px;}
.ya0{bottom:504.000000px;}
.y1b{bottom:507.000000px;}
.y49{bottom:508.000000px;}
.y7c{bottom:514.000000px;}
.y48{bottom:520.000000px;}
.y6{bottom:524.000000px;}
.y5{bottom:526.000000px;}
.y7b{bottom:530.000000px;}
.y47{bottom:532.000000px;}
.y9f{bottom:536.000000px;}
.y36{bottom:538.500000px;}
.y46{bottom:544.000000px;}
.y7a{bottom:548.000000px;}
.y45{bottom:560.000000px;}
.y1a{bottom:572.000000px;}
.y44{bottom:576.000000px;}
.y4{bottom:586.000000px;}
.yad{bottom:591.500000px;}
.y19{bottom:592.000000px;}
.y43{bottom:594.000000px;}
.y42{bottom:606.000000px;}
.y79{bottom:608.000000px;}
.y18{bottom:610.000000px;}
.y41{bottom:622.000000px;}
.y78{bottom:624.000000px;}
.y9e{bottom:625.000000px;}
.y17{bottom:628.000000px;}
.y40{bottom:638.000000px;}
.y16{bottom:640.000000px;}
.y9d{bottom:645.000000px;}
.y3f{bottom:654.000000px;}
.y15{bottom:656.000000px;}
.y9c{bottom:663.000000px;}
.y3e{bottom:670.000000px;}
.y14{bottom:672.000000px;}
.y9b{bottom:681.000000px;}
.y3d{bottom:682.000000px;}
.y3{bottom:686.000000px;}
.y2{bottom:688.000000px;}
.y9a{bottom:693.000000px;}
.y3c{bottom:694.000000px;}
.y77{bottom:700.000000px;}
.y1{bottom:703.000000px;}
.y13{bottom:704.000000px;}
.y99{bottom:709.000000px;}
.y76{bottom:712.000000px;}
.y0{bottom:712.500000px;}
.y12{bottom:716.000000px;}
.y98{bottom:725.000000px;}
.y62{bottom:725.500000px;}
.y11{bottom:728.000000px;}
.y97{bottom:741.000000px;}
.y91{bottom:743.500000px;}
.y10{bottom:744.000000px;}
.y96{bottom:757.000000px;}
.y3b{bottom:759.000000px;}
.y95{bottom:769.000000px;}
.y35{bottom:775.500000px;}
.y75{bottom:777.000000px;}
.y3a{bottom:779.000000px;}
.y94{bottom:781.000000px;}
.y38{bottom:799.000000px;}
.h2{height:46.973200px;}
.h6{height:56.367840px;}
.h9{height:59.156250px;}
.h7{height:69.015625px;}
.h5{height:70.459800px;}
.h1{height:84.500000px;}
.h4{height:93.946400px;}
.h3{height:187.892799px;}
.h8{height:752.500000px;}
.h0{height:842.000000px;}
.w1{width:277.500000px;}
.w2{width:485.500000px;}
.w0{width:595.000000px;}
.x0{left:55.000000px;}
.x9{left:57.000000px;}
.x6{left:152.050000px;}
.xa{left:222.810000px;}
.x5{left:226.920000px;}
.x7{left:231.150000px;}
.x8{left:245.000000px;}
.x3{left:269.720000px;}
.x1{left:276.080000px;}
.x4{left:291.940000px;}
.x2{left:296.110000px;}
.xb{left:531.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:106.666667pt;}
.fs1{font-size:213.333333pt;}
.ye{bottom:22.666667pt;}
.y39{bottom:41.333333pt;}
.yf{bottom:59.333333pt;}
.yac{bottom:88.000000pt;}
.y34{bottom:96.000000pt;}
.y61{bottom:102.666667pt;}
.y93{bottom:108.666667pt;}
.y73{bottom:109.333333pt;}
.y33{bottom:120.000000pt;}
.y60{bottom:129.333333pt;}
.yaf{bottom:130.000000pt;}
.y72{bottom:133.333333pt;}
.y32{bottom:136.000000pt;}
.y5f{bottom:153.333333pt;}
.y31{bottom:157.333333pt;}
.y5e{bottom:169.333333pt;}
.y71{bottom:173.333333pt;}
.yab{bottom:174.666667pt;}
.y30{bottom:178.666667pt;}
.y90{bottom:180.000000pt;}
.y5d{bottom:185.333333pt;}
.y70{bottom:194.666667pt;}
.y2f{bottom:200.000000pt;}
.y5c{bottom:201.333333pt;}
.y8f{bottom:204.000000pt;}
.y6f{bottom:216.000000pt;}
.y8e{bottom:220.000000pt;}
.y2e{bottom:221.333333pt;}
.y5b{bottom:222.666667pt;}
.yaa{bottom:225.333333pt;}
.y8d{bottom:236.000000pt;}
.y6e{bottom:237.333333pt;}
.ya9{bottom:241.333333pt;}
.y2d{bottom:242.666667pt;}
.y5a{bottom:246.666667pt;}
.y8c{bottom:252.000000pt;}
.ya8{bottom:257.333333pt;}
.y6d{bottom:258.666667pt;}
.y59{bottom:262.666667pt;}
.y2c{bottom:264.000000pt;}
.y8b{bottom:273.333333pt;}
.y6c{bottom:274.666667pt;}
.y58{bottom:284.000000pt;}
.y2b{bottom:285.333333pt;}
.y6b{bottom:290.666667pt;}
.y8a{bottom:294.666667pt;}
.y57{bottom:305.333333pt;}
.y2a{bottom:306.666667pt;}
.y89{bottom:318.666667pt;}
.y29{bottom:322.666667pt;}
.y56{bottom:326.666667pt;}
.y74{bottom:332.666667pt;}
.y88{bottom:334.666667pt;}
.y28{bottom:338.666667pt;}
.y55{bottom:348.000000pt;}
.y87{bottom:356.000000pt;}
.y27{bottom:360.000000pt;}
.y54{bottom:364.000000pt;}
.y6a{bottom:377.333333pt;}
.y53{bottom:380.000000pt;}
.y86{bottom:398.666667pt;}
.y52{bottom:401.333333pt;}
.y37{bottom:402.000000pt;}
.y69{bottom:404.000000pt;}
.y51{bottom:417.333333pt;}
.y85{bottom:420.000000pt;}
.y68{bottom:428.000000pt;}
.y50{bottom:433.333333pt;}
.ya7{bottom:436.000000pt;}
.y84{bottom:441.333333pt;}
.y67{bottom:444.000000pt;}
.y26{bottom:446.666667pt;}
.ya6{bottom:452.000000pt;}
.y4f{bottom:454.666667pt;}
.y66{bottom:460.000000pt;}
.y83{bottom:462.666667pt;}
.y25{bottom:473.333333pt;}
.y4e{bottom:476.000000pt;}
.y82{bottom:484.000000pt;}
.yae{bottom:494.000000pt;}
.y24{bottom:497.333333pt;}
.y81{bottom:500.000000pt;}
.y80{bottom:516.000000pt;}
.yd{bottom:518.000000pt;}
.y4d{bottom:518.666667pt;}
.y23{bottom:521.333333pt;}
.y22{bottom:537.333333pt;}
.ya5{bottom:538.666667pt;}
.y4c{bottom:540.000000pt;}
.yc{bottom:542.000000pt;}
.y65{bottom:542.666667pt;}
.y92{bottom:558.000000pt;}
.y21{bottom:558.666667pt;}
.ya4{bottom:565.333333pt;}
.y20{bottom:580.000000pt;}
.yb{bottom:582.000000pt;}
.ya3{bottom:589.333333pt;}
.y1f{bottom:601.333333pt;}
.ya{bottom:602.000000pt;}
.y7f{bottom:602.666667pt;}
.ya2{bottom:613.333333pt;}
.y9{bottom:615.333333pt;}
.y1e{bottom:622.666667pt;}
.y4b{bottom:626.666667pt;}
.y7e{bottom:629.333333pt;}
.y1d{bottom:638.666667pt;}
.y64{bottom:644.000000pt;}
.y8{bottom:645.333333pt;}
.ya1{bottom:650.666667pt;}
.y4a{bottom:653.333333pt;}
.y1c{bottom:654.666667pt;}
.y7{bottom:658.666667pt;}
.y63{bottom:660.000000pt;}
.y7d{bottom:669.333333pt;}
.ya0{bottom:672.000000pt;}
.y1b{bottom:676.000000pt;}
.y49{bottom:677.333333pt;}
.y7c{bottom:685.333333pt;}
.y48{bottom:693.333333pt;}
.y6{bottom:698.666667pt;}
.y5{bottom:701.333333pt;}
.y7b{bottom:706.666667pt;}
.y47{bottom:709.333333pt;}
.y9f{bottom:714.666667pt;}
.y36{bottom:718.000000pt;}
.y46{bottom:725.333333pt;}
.y7a{bottom:730.666667pt;}
.y45{bottom:746.666667pt;}
.y1a{bottom:762.666667pt;}
.y44{bottom:768.000000pt;}
.y4{bottom:781.333333pt;}
.yad{bottom:788.666667pt;}
.y19{bottom:789.333333pt;}
.y43{bottom:792.000000pt;}
.y42{bottom:808.000000pt;}
.y79{bottom:810.666667pt;}
.y18{bottom:813.333333pt;}
.y41{bottom:829.333333pt;}
.y78{bottom:832.000000pt;}
.y9e{bottom:833.333333pt;}
.y17{bottom:837.333333pt;}
.y40{bottom:850.666667pt;}
.y16{bottom:853.333333pt;}
.y9d{bottom:860.000000pt;}
.y3f{bottom:872.000000pt;}
.y15{bottom:874.666667pt;}
.y9c{bottom:884.000000pt;}
.y3e{bottom:893.333333pt;}
.y14{bottom:896.000000pt;}
.y9b{bottom:908.000000pt;}
.y3d{bottom:909.333333pt;}
.y3{bottom:914.666667pt;}
.y2{bottom:917.333333pt;}
.y9a{bottom:924.000000pt;}
.y3c{bottom:925.333333pt;}
.y77{bottom:933.333333pt;}
.y1{bottom:937.333333pt;}
.y13{bottom:938.666667pt;}
.y99{bottom:945.333333pt;}
.y76{bottom:949.333333pt;}
.y0{bottom:950.000000pt;}
.y12{bottom:954.666667pt;}
.y98{bottom:966.666667pt;}
.y62{bottom:967.333333pt;}
.y11{bottom:970.666667pt;}
.y97{bottom:988.000000pt;}
.y91{bottom:991.333333pt;}
.y10{bottom:992.000000pt;}
.y96{bottom:1009.333333pt;}
.y3b{bottom:1012.000000pt;}
.y95{bottom:1025.333333pt;}
.y35{bottom:1034.000000pt;}
.y75{bottom:1036.000000pt;}
.y3a{bottom:1038.666667pt;}
.y94{bottom:1041.333333pt;}
.y38{bottom:1065.333333pt;}
.h2{height:62.630933pt;}
.h6{height:75.157120pt;}
.h9{height:78.875000pt;}
.h7{height:92.020833pt;}
.h5{height:93.946400pt;}
.h1{height:112.666667pt;}
.h4{height:125.261866pt;}
.h3{height:250.523733pt;}
.h8{height:1003.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:370.000000pt;}
.w2{width:647.333333pt;}
.w0{width:793.333333pt;}
.x0{left:73.333333pt;}
.x9{left:76.000000pt;}
.x6{left:202.733333pt;}
.xa{left:297.080000pt;}
.x5{left:302.560000pt;}
.x7{left:308.200000pt;}
.x8{left:326.666667pt;}
.x3{left:359.626667pt;}
.x1{left:368.106667pt;}
.x4{left:389.253333pt;}
.x2{left:394.813333pt;}
.xb{left:708.440000pt;}
}
