.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:-0.057672px;}
.ls1{letter-spacing:0.000000px;}
.ls4{letter-spacing:0.007200px;}
.ls3{letter-spacing:0.031176px;}
.ls2{letter-spacing:0.051960px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1{word-spacing:-0.166272px;}
.ws2{word-spacing:-0.007200px;}
.ws0{word-spacing:0.000000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:48.000000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs2{font-size:72.000000px;}
.fs3{font-size:103.920000px;}
.y13{bottom:16.000000px;}
.y12{bottom:39.000000px;}
.y11{bottom:299.886000px;}
.y10{bottom:320.586000px;}
.yf{bottom:342.960000px;}
.ye{bottom:342.977040px;}
.yd{bottom:372.906000px;}
.yc{bottom:402.783000px;}
.yb{bottom:432.660000px;}
.ya{bottom:460.860000px;}
.y9{bottom:481.560000px;}
.y0{bottom:498.000000px;}
.y8{bottom:498.300000px;}
.y7{bottom:599.760000px;}
.y6{bottom:620.460000px;}
.y5{bottom:641.160000px;}
.y4{bottom:661.860000px;}
.y3{bottom:682.560000px;}
.y2{bottom:703.260000px;}
.y1{bottom:741.120000px;}
.h5{height:53.250000px;}
.h6{height:69.015625px;}
.h2{height:73.372852px;}
.h3{height:82.441406px;}
.h1{height:98.000000px;}
.h4{height:118.990430px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x5{left:121.159020px;}
.x0{left:135.000000px;}
.x6{left:251.110980px;}
.xa{left:253.000000px;}
.x4{left:257.580000px;}
.x8{left:262.494000px;}
.x1{left:276.240000px;}
.x2{left:306.000000px;}
.x7{left:360.900000px;}
.x3{left:477.000000px;}
.x9{left:516.960000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:-0.076896pt;}
.ls1{letter-spacing:0.000000pt;}
.ls4{letter-spacing:0.009600pt;}
.ls3{letter-spacing:0.041568pt;}
.ls2{letter-spacing:0.069280pt;}
.ws1{word-spacing:-0.221696pt;}
.ws2{word-spacing:-0.009600pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:64.000000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs2{font-size:96.000000pt;}
.fs3{font-size:138.560000pt;}
.y13{bottom:21.333333pt;}
.y12{bottom:52.000000pt;}
.y11{bottom:399.848000pt;}
.y10{bottom:427.448000pt;}
.yf{bottom:457.280000pt;}
.ye{bottom:457.302720pt;}
.yd{bottom:497.208000pt;}
.yc{bottom:537.044000pt;}
.yb{bottom:576.880000pt;}
.ya{bottom:614.480000pt;}
.y9{bottom:642.080000pt;}
.y0{bottom:664.000000pt;}
.y8{bottom:664.400000pt;}
.y7{bottom:799.680000pt;}
.y6{bottom:827.280000pt;}
.y5{bottom:854.880000pt;}
.y4{bottom:882.480000pt;}
.y3{bottom:910.080000pt;}
.y2{bottom:937.680000pt;}
.y1{bottom:988.160000pt;}
.h5{height:71.000000pt;}
.h6{height:92.020833pt;}
.h2{height:97.830469pt;}
.h3{height:109.921875pt;}
.h1{height:130.666667pt;}
.h4{height:158.653906pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x5{left:161.545360pt;}
.x0{left:180.000000pt;}
.x6{left:334.814640pt;}
.xa{left:337.333333pt;}
.x4{left:343.440000pt;}
.x8{left:349.992000pt;}
.x1{left:368.320000pt;}
.x2{left:408.000000pt;}
.x7{left:481.200000pt;}
.x3{left:636.000000pt;}
.x9{left:689.280000pt;}
}
