.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.lsd{letter-spacing:-0.096000px;}
.ls0{letter-spacing:-0.057672px;}
.ls2{letter-spacing:-0.049632px;}
.ls3{letter-spacing:-0.037224px;}
.lsb{letter-spacing:-0.014400px;}
.lsf{letter-spacing:-0.004800px;}
.ls1{letter-spacing:0.000000px;}
.ls5{letter-spacing:0.004800px;}
.ls8{letter-spacing:0.009600px;}
.lsa{letter-spacing:0.014400px;}
.ls6{letter-spacing:0.019200px;}
.ls10{letter-spacing:0.024000px;}
.ls7{letter-spacing:0.028800px;}
.lse{letter-spacing:0.033600px;}
.ls4{letter-spacing:0.039960px;}
.ls9{letter-spacing:0.043200px;}
.lsc{letter-spacing:0.086400px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.wsc{word-spacing:-0.163200px;}
.ws7{word-spacing:-0.120000px;}
.ws16{word-spacing:-0.110400px;}
.ws15{word-spacing:-0.105600px;}
.ws4{word-spacing:-0.096000px;}
.ws2{word-spacing:-0.095904px;}
.ws8{word-spacing:-0.091200px;}
.ws13{word-spacing:-0.086400px;}
.ws3{word-spacing:-0.081600px;}
.ws5{word-spacing:-0.076800px;}
.ws17{word-spacing:-0.072000px;}
.ws9{word-spacing:-0.062400px;}
.ws10{word-spacing:-0.057600px;}
.wse{word-spacing:-0.052800px;}
.wsb{word-spacing:-0.043200px;}
.ws11{word-spacing:-0.033600px;}
.wsf{word-spacing:-0.028800px;}
.ws1{word-spacing:-0.024816px;}
.ws14{word-spacing:-0.024000px;}
.ws12{word-spacing:-0.014400px;}
.ws6{word-spacing:-0.009600px;}
.wsa{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.wsd{word-spacing:0.028800px;}
._0{margin-left:-1.200000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs2{font-size:67.920000px;}
.fs4{font-size:79.920000px;}
.fs3{font-size:124.080000px;}
.y13{bottom:16.000000px;}
.y12{bottom:39.000000px;}
.y41{bottom:88.020000px;}
.y40{bottom:101.820000px;}
.y3f{bottom:115.620000px;}
.y3e{bottom:129.420000px;}
.y3d{bottom:143.220000px;}
.y3c{bottom:157.020000px;}
.y3b{bottom:170.820000px;}
.y3a{bottom:184.620000px;}
.y39{bottom:198.420000px;}
.y38{bottom:212.220000px;}
.y37{bottom:226.020000px;}
.y36{bottom:239.820000px;}
.y35{bottom:253.620000px;}
.y34{bottom:267.420000px;}
.y33{bottom:281.220000px;}
.y32{bottom:295.020000px;}
.y11{bottom:301.440000px;}
.y31{bottom:308.820000px;}
.y30{bottom:322.620000px;}
.y10{bottom:323.762640px;}
.y2f{bottom:336.420000px;}
.ye{bottom:346.376040px;}
.yf{bottom:346.380000px;}
.y2e{bottom:350.220000px;}
.y2d{bottom:363.960000px;}
.y2c{bottom:377.760000px;}
.yd{bottom:382.018020px;}
.y2b{bottom:391.560000px;}
.y2a{bottom:405.360000px;}
.yc{bottom:417.660000px;}
.y29{bottom:419.160000px;}
.y28{bottom:432.960000px;}
.y27{bottom:446.760000px;}
.yb{bottom:450.297660px;}
.y26{bottom:460.560000px;}
.y0{bottom:466.000000px;}
.ya{bottom:466.140000px;}
.y25{bottom:474.360000px;}
.y24{bottom:488.160000px;}
.y23{bottom:501.960000px;}
.y22{bottom:515.760000px;}
.y21{bottom:529.560000px;}
.y20{bottom:543.360000px;}
.y1f{bottom:557.160000px;}
.y9{bottom:567.301200px;}
.y1e{bottom:570.960000px;}
.y1d{bottom:584.760000px;}
.y8{bottom:586.862160px;}
.y1c{bottom:598.560000px;}
.y7{bottom:606.423120px;}
.y1b{bottom:612.360000px;}
.y6{bottom:625.984080px;}
.y1a{bottom:626.160000px;}
.y19{bottom:639.960000px;}
.y5{bottom:645.545040px;}
.y18{bottom:653.760000px;}
.y4{bottom:665.038080px;}
.y17{bottom:667.560000px;}
.y16{bottom:681.360000px;}
.y3{bottom:684.599040px;}
.y15{bottom:695.160000px;}
.y2{bottom:704.160000px;}
.y14{bottom:708.960000px;}
.y1{bottom:741.120000px;}
.h6{height:53.250000px;}
.h8{height:54.960938px;}
.h7{height:69.015625px;}
.h2{height:73.372852px;}
.h3{height:77.769727px;}
.h5{height:91.509961px;}
.h1{height:98.000000px;}
.h4{height:142.074023px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.xa{left:90.000000px;}
.x5{left:105.432900px;}
.x0{left:135.000000px;}
.x4{left:248.280000px;}
.x9{left:253.000000px;}
.x7{left:257.640000px;}
.x1{left:276.240000px;}
.x2{left:306.000000px;}
.x3{left:477.000000px;}
.x6{left:506.580000px;}
.x8{left:516.960000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.lsd{letter-spacing:-0.128000pt;}
.ls0{letter-spacing:-0.076896pt;}
.ls2{letter-spacing:-0.066176pt;}
.ls3{letter-spacing:-0.049632pt;}
.lsb{letter-spacing:-0.019200pt;}
.lsf{letter-spacing:-0.006400pt;}
.ls1{letter-spacing:0.000000pt;}
.ls5{letter-spacing:0.006400pt;}
.ls8{letter-spacing:0.012800pt;}
.lsa{letter-spacing:0.019200pt;}
.ls6{letter-spacing:0.025600pt;}
.ls10{letter-spacing:0.032000pt;}
.ls7{letter-spacing:0.038400pt;}
.lse{letter-spacing:0.044800pt;}
.ls4{letter-spacing:0.053280pt;}
.ls9{letter-spacing:0.057600pt;}
.lsc{letter-spacing:0.115200pt;}
.wsc{word-spacing:-0.217600pt;}
.ws7{word-spacing:-0.160000pt;}
.ws16{word-spacing:-0.147200pt;}
.ws15{word-spacing:-0.140800pt;}
.ws4{word-spacing:-0.128000pt;}
.ws2{word-spacing:-0.127872pt;}
.ws8{word-spacing:-0.121600pt;}
.ws13{word-spacing:-0.115200pt;}
.ws3{word-spacing:-0.108800pt;}
.ws5{word-spacing:-0.102400pt;}
.ws17{word-spacing:-0.096000pt;}
.ws9{word-spacing:-0.083200pt;}
.ws10{word-spacing:-0.076800pt;}
.wse{word-spacing:-0.070400pt;}
.wsb{word-spacing:-0.057600pt;}
.ws11{word-spacing:-0.044800pt;}
.wsf{word-spacing:-0.038400pt;}
.ws1{word-spacing:-0.033088pt;}
.ws14{word-spacing:-0.032000pt;}
.ws12{word-spacing:-0.019200pt;}
.ws6{word-spacing:-0.012800pt;}
.wsa{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.wsd{word-spacing:0.038400pt;}
._0{margin-left:-1.600000pt;}
.fs1{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs2{font-size:90.560000pt;}
.fs4{font-size:106.560000pt;}
.fs3{font-size:165.440000pt;}
.y13{bottom:21.333333pt;}
.y12{bottom:52.000000pt;}
.y41{bottom:117.360000pt;}
.y40{bottom:135.760000pt;}
.y3f{bottom:154.160000pt;}
.y3e{bottom:172.560000pt;}
.y3d{bottom:190.960000pt;}
.y3c{bottom:209.360000pt;}
.y3b{bottom:227.760000pt;}
.y3a{bottom:246.160000pt;}
.y39{bottom:264.560000pt;}
.y38{bottom:282.960000pt;}
.y37{bottom:301.360000pt;}
.y36{bottom:319.760000pt;}
.y35{bottom:338.160000pt;}
.y34{bottom:356.560000pt;}
.y33{bottom:374.960000pt;}
.y32{bottom:393.360000pt;}
.y11{bottom:401.920000pt;}
.y31{bottom:411.760000pt;}
.y30{bottom:430.160000pt;}
.y10{bottom:431.683520pt;}
.y2f{bottom:448.560000pt;}
.ye{bottom:461.834720pt;}
.yf{bottom:461.840000pt;}
.y2e{bottom:466.960000pt;}
.y2d{bottom:485.280000pt;}
.y2c{bottom:503.680000pt;}
.yd{bottom:509.357360pt;}
.y2b{bottom:522.080000pt;}
.y2a{bottom:540.480000pt;}
.yc{bottom:556.880000pt;}
.y29{bottom:558.880000pt;}
.y28{bottom:577.280000pt;}
.y27{bottom:595.680000pt;}
.yb{bottom:600.396880pt;}
.y26{bottom:614.080000pt;}
.y0{bottom:621.333333pt;}
.ya{bottom:621.520000pt;}
.y25{bottom:632.480000pt;}
.y24{bottom:650.880000pt;}
.y23{bottom:669.280000pt;}
.y22{bottom:687.680000pt;}
.y21{bottom:706.080000pt;}
.y20{bottom:724.480000pt;}
.y1f{bottom:742.880000pt;}
.y9{bottom:756.401600pt;}
.y1e{bottom:761.280000pt;}
.y1d{bottom:779.680000pt;}
.y8{bottom:782.482880pt;}
.y1c{bottom:798.080000pt;}
.y7{bottom:808.564160pt;}
.y1b{bottom:816.480000pt;}
.y6{bottom:834.645440pt;}
.y1a{bottom:834.880000pt;}
.y19{bottom:853.280000pt;}
.y5{bottom:860.726720pt;}
.y18{bottom:871.680000pt;}
.y4{bottom:886.717440pt;}
.y17{bottom:890.080000pt;}
.y16{bottom:908.480000pt;}
.y3{bottom:912.798720pt;}
.y15{bottom:926.880000pt;}
.y2{bottom:938.880000pt;}
.y14{bottom:945.280000pt;}
.y1{bottom:988.160000pt;}
.h6{height:71.000000pt;}
.h8{height:73.281250pt;}
.h7{height:92.020833pt;}
.h2{height:97.830469pt;}
.h3{height:103.692969pt;}
.h5{height:122.013281pt;}
.h1{height:130.666667pt;}
.h4{height:189.432031pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.xa{left:120.000000pt;}
.x5{left:140.577200pt;}
.x0{left:180.000000pt;}
.x4{left:331.040000pt;}
.x9{left:337.333333pt;}
.x7{left:343.520000pt;}
.x1{left:368.320000pt;}
.x2{left:408.000000pt;}
.x3{left:636.000000pt;}
.x6{left:675.440000pt;}
.x8{left:689.280000pt;}
}
