.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:-0.057672px;}
.ls3{letter-spacing:-0.044856px;}
.ls2{letter-spacing:-0.024000px;}
.ls1{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws2{word-spacing:-0.134568px;}
.ws1{word-spacing:-0.072000px;}
.ws0{word-spacing:0.000000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:48.000000px;}
.fs3{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs2{font-size:120.000000px;}
.y10{bottom:16.000000px;}
.yf{bottom:39.000000px;}
.ye{bottom:356.938260px;}
.yd{bottom:375.361260px;}
.yc{bottom:396.780000px;}
.yb{bottom:431.280000px;}
.ya{bottom:465.780000px;}
.y0{bottom:493.500000px;}
.y9{bottom:493.740100px;}
.y8{bottom:594.710160px;}
.y7{bottom:613.133160px;}
.y6{bottom:631.492080px;}
.y5{bottom:649.915080px;}
.y4{bottom:668.338080px;}
.y3{bottom:686.697000px;}
.y2{bottom:705.120000px;}
.y1{bottom:741.120000px;}
.h4{height:53.250000px;}
.h5{height:69.015625px;}
.h2{height:73.372852px;}
.h1{height:98.000000px;}
.h3{height:137.402344px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x0{left:135.000000px;}
.x5{left:152.280000px;}
.x4{left:250.200000px;}
.x8{left:253.000000px;}
.x6{left:267.355920px;}
.x1{left:276.240000px;}
.x2{left:306.000000px;}
.x3{left:477.000000px;}
.x7{left:516.960000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:-0.076896pt;}
.ls3{letter-spacing:-0.059808pt;}
.ls2{letter-spacing:-0.032000pt;}
.ls1{letter-spacing:0.000000pt;}
.ws2{word-spacing:-0.179424pt;}
.ws1{word-spacing:-0.096000pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:64.000000pt;}
.fs3{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs2{font-size:160.000000pt;}
.y10{bottom:21.333333pt;}
.yf{bottom:52.000000pt;}
.ye{bottom:475.917680pt;}
.yd{bottom:500.481680pt;}
.yc{bottom:529.040000pt;}
.yb{bottom:575.040000pt;}
.ya{bottom:621.040000pt;}
.y0{bottom:658.000000pt;}
.y9{bottom:658.320133pt;}
.y8{bottom:792.946880pt;}
.y7{bottom:817.510880pt;}
.y6{bottom:841.989440pt;}
.y5{bottom:866.553440pt;}
.y4{bottom:891.117440pt;}
.y3{bottom:915.596000pt;}
.y2{bottom:940.160000pt;}
.y1{bottom:988.160000pt;}
.h4{height:71.000000pt;}
.h5{height:92.020833pt;}
.h2{height:97.830469pt;}
.h1{height:130.666667pt;}
.h3{height:183.203125pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x0{left:180.000000pt;}
.x5{left:203.040000pt;}
.x4{left:333.600000pt;}
.x8{left:337.333333pt;}
.x6{left:356.474560pt;}
.x1{left:368.320000pt;}
.x2{left:408.000000pt;}
.x3{left:636.000000pt;}
.x7{left:689.280000pt;}
}
