.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.lsb{letter-spacing:-0.332664px;}
.ls1d{letter-spacing:-0.240480px;}
.ls10{letter-spacing:-0.144288px;}
.ls20{letter-spacing:-0.120240px;}
.ls23{letter-spacing:-0.092184px;}
.ls1b{letter-spacing:-0.080160px;}
.ls2{letter-spacing:-0.076896px;}
.ls22{letter-spacing:-0.076152px;}
.ls21{letter-spacing:-0.068136px;}
.ls14{letter-spacing:-0.056112px;}
.ls4{letter-spacing:-0.051264px;}
.lsf{letter-spacing:-0.048096px;}
.ls1f{letter-spacing:-0.044088px;}
.ls15{letter-spacing:-0.040080px;}
.ls3{letter-spacing:-0.038448px;}
.ls7{letter-spacing:-0.036072px;}
.ls1e{letter-spacing:-0.032064px;}
.ls0{letter-spacing:-0.032040px;}
.ls8{letter-spacing:-0.028056px;}
.lsd{letter-spacing:-0.024048px;}
.ls12{letter-spacing:-0.020040px;}
.ls18{letter-spacing:-0.016032px;}
.ls9{letter-spacing:-0.012024px;}
.ls11{letter-spacing:-0.008016px;}
.lse{letter-spacing:-0.004008px;}
.ls1{letter-spacing:0.000000px;}
.ls13{letter-spacing:0.004008px;}
.lsc{letter-spacing:0.008016px;}
.ls19{letter-spacing:0.012024px;}
.ls16{letter-spacing:0.016032px;}
.ls1c{letter-spacing:0.020040px;}
.ls6{letter-spacing:0.024048px;}
.ls17{letter-spacing:0.052104px;}
.ls1a{letter-spacing:0.064128px;}
.lsa{letter-spacing:0.068136px;}
.ls5{letter-spacing:564.863472px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1c{word-spacing:-0.344688px;}
.ws14{word-spacing:-0.160320px;}
.ws3{word-spacing:-0.120240px;}
.ws16{word-spacing:-0.116232px;}
.ws11{word-spacing:-0.112224px;}
.ws13{word-spacing:-0.108216px;}
.ws8{word-spacing:-0.104208px;}
.wse{word-spacing:-0.100200px;}
.ws4{word-spacing:-0.096192px;}
.wsa{word-spacing:-0.092184px;}
.wsc{word-spacing:-0.088176px;}
.ws7{word-spacing:-0.084168px;}
.ws12{word-spacing:-0.080160px;}
.wsd{word-spacing:-0.076152px;}
.ws9{word-spacing:-0.072144px;}
.ws6{word-spacing:-0.068136px;}
.ws18{word-spacing:-0.064128px;}
.ws5{word-spacing:-0.060120px;}
.ws10{word-spacing:-0.056112px;}
.ws17{word-spacing:-0.052104px;}
.wsb{word-spacing:-0.048096px;}
.wsf{word-spacing:-0.040080px;}
.ws19{word-spacing:-0.028056px;}
.ws1a{word-spacing:-0.020040px;}
.ws15{word-spacing:-0.016032px;}
.ws1b{word-spacing:-0.004008px;}
.ws0{word-spacing:0.000000px;}
.ws2{word-spacing:0.006408px;}
.ws1{word-spacing:0.044856px;}
._0{margin-left:-1.162320px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:40.080000px;}
.fs1{font-size:43.920000px;}
.fs3{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.yb{bottom:16.000000px;}
.ya{bottom:39.840100px;}
.y4f{bottom:76.754640px;}
.y32{bottom:87.696480px;}
.y89{bottom:99.219480px;}
.y31{bottom:99.279600px;}
.y4e{bottom:100.211460px;}
.y7a{bottom:107.696280px;}
.y96{bottom:110.742480px;}
.y30{bottom:110.802600px;}
.y79{bottom:119.219280px;}
.y88{bottom:122.265480px;}
.y2f{bottom:128.257440px;}
.y78{bottom:130.742280px;}
.y95{bottom:133.788480px;}
.y2e{bottom:139.780440px;}
.y4d{bottom:141.674220px;}
.y77{bottom:148.257240px;}
.y2d{bottom:151.303440px;}
.y4c{bottom:153.257340px;}
.y76{bottom:159.720120px;}
.y2c{bottom:162.766320px;}
.y4b{bottom:164.780340px;}
.y75{bottom:171.243120px;}
.y87{bottom:174.289320px;}
.y2b{bottom:180.281280px;}
.y4a{bottom:182.235180px;}
.y74{bottom:182.766120px;}
.y94{bottom:185.752200px;}
.y86{bottom:191.744160px;}
.y49{bottom:193.758180px;}
.y73{bottom:200.220960px;}
.y85{bottom:203.267160px;}
.y2a{bottom:203.677980px;}
.y48{bottom:205.281180px;}
.y72{bottom:211.743960px;}
.y93{bottom:214.790160px;}
.y47{bottom:216.744060px;}
.y84{bottom:226.723980px;}
.y46{bottom:234.259020px;}
.y71{bottom:235.200780px;}
.y92{bottom:238.186860px;}
.y29{bottom:245.200860px;}
.y28{bottom:256.783980px;}
.y45{bottom:257.655720px;}
.y83{bottom:268.186740px;}
.y27{bottom:268.246860px;}
.y70{bottom:276.663540px;}
.y91{bottom:279.709740px;}
.y82{bottom:279.769860px;}
.y26{bottom:285.761820px;}
.y6f{bottom:288.246660px;}
.y81{bottom:291.292860px;}
.y25{bottom:297.284820px;}
.y44{bottom:299.178600px;}
.y6e{bottom:299.709540px;}
.y90{bottom:302.755740px;}
.y24{bottom:308.747700px;}
.y43{bottom:310.761720px;}
.y6d{bottom:317.224500px;}
.y23{bottom:320.270700px;}
.y42{bottom:322.224600px;}
.y6c{bottom:328.747500px;}
.y80{bottom:331.793700px;}
.y22{bottom:337.785660px;}
.y41{bottom:339.739560px;}
.y6b{bottom:340.210380px;}
.y9{bottom:343.020660px;}
.y7f{bottom:343.256580px;}
.y21{bottom:349.248540px;}
.y40{bottom:351.262560px;}
.y6a{bottom:351.733380px;}
.y8f{bottom:354.779580px;}
.y20{bottom:360.771540px;}
.y3f{bottom:362.725440px;}
.y8{bottom:367.740000px;}
.y7{bottom:367.755120px;}
.y69{bottom:369.248340px;}
.y8e{bottom:372.294540px;}
.y3e{bottom:374.248440px;}
.y1f{bottom:384.228360px;}
.y3d{bottom:391.763400px;}
.y68{bottom:392.645040px;}
.y8d{bottom:395.691240px;}
.y3c{bottom:403.226280px;}
.y3b{bottom:414.749280px;}
.y6{bottom:416.167560px;}
.y1e{bottom:425.691120px;}
.y3a{bottom:426.272280px;}
.y67{bottom:434.167920px;}
.y8c{bottom:437.214120px;}
.y1d{bottom:437.274240px;}
.y39{bottom:437.735160px;}
.y66{bottom:445.751040px;}
.y1c{bottom:448.797240px;}
.y38{bottom:449.258160px;}
.y65{bottom:457.213920px;}
.y8b{bottom:460.260120px;}
.y37{bottom:460.781160px;}
.y5{bottom:464.580000px;}
.y1b{bottom:466.252080px;}
.y36{bottom:472.244040px;}
.y64{bottom:474.728880px;}
.y1a{bottom:477.775080px;}
.y35{bottom:483.767040px;}
.y63{bottom:486.251880px;}
.y19{bottom:489.298080px;}
.y34{bottom:495.290040px;}
.y62{bottom:497.714760px;}
.y18{bottom:500.760960px;}
.y33{bottom:506.752920px;}
.y61{bottom:509.237760px;}
.y4{bottom:511.679600px;}
.y8a{bottom:512.283960px;}
.y17{bottom:518.275920px;}
.y60{bottom:526.752720px;}
.y16{bottom:529.738800px;}
.y5f{bottom:538.215600px;}
.y7e{bottom:541.672620px;}
.y5e{bottom:549.738600px;}
.y0{bottom:550.500000px;}
.y3{bottom:550.981080px;}
.y15{bottom:553.195620px;}
.y5d{bottom:561.261600px;}
.y5c{bottom:572.724480px;}
.y7d{bottom:583.195500px;}
.y5b{bottom:584.247480px;}
.y14{bottom:594.718500px;}
.y7c{bottom:594.778620px;}
.y5a{bottom:595.710360px;}
.y13{bottom:606.241500px;}
.y59{bottom:607.233360px;}
.y12{bottom:617.764500px;}
.y58{bottom:618.756360px;}
.y7b{bottom:623.756460px;}
.y57{bottom:630.219240px;}
.y11{bottom:635.279460px;}
.y56{bottom:641.742240px;}
.y10{bottom:646.742340px;}
.y55{bottom:653.265240px;}
.yf{bottom:658.265340px;}
.y54{bottom:664.728120px;}
.ye{bottom:669.788340px;}
.y53{bottom:676.251120px;}
.y2{bottom:680.700000px;}
.yd{bottom:687.243180px;}
.y52{bottom:687.774120px;}
.y51{bottom:699.237000px;}
.yc{bottom:710.700000px;}
.y50{bottom:710.760000px;}
.y1{bottom:740.820000px;}
.h5{height:29.272852px;}
.h2{height:43.804688px;}
.h3{height:47.067146px;}
.h7{height:49.395469px;}
.h6{height:69.015625px;}
.h4{height:75.251066px;}
.h1{height:98.000000px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x8{left:71.997780px;}
.x5{left:91.738860px;}
.x0{left:135.500000px;}
.xa{left:253.000000px;}
.x6{left:263.281020px;}
.x4{left:275.280000px;}
.x1{left:279.420000px;}
.x2{left:306.000000px;}
.x7{left:348.660000px;}
.x3{left:477.722760px;}
.x9{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.lsb{letter-spacing:-0.443552pt;}
.ls1d{letter-spacing:-0.320640pt;}
.ls10{letter-spacing:-0.192384pt;}
.ls20{letter-spacing:-0.160320pt;}
.ls23{letter-spacing:-0.122912pt;}
.ls1b{letter-spacing:-0.106880pt;}
.ls2{letter-spacing:-0.102528pt;}
.ls22{letter-spacing:-0.101536pt;}
.ls21{letter-spacing:-0.090848pt;}
.ls14{letter-spacing:-0.074816pt;}
.ls4{letter-spacing:-0.068352pt;}
.lsf{letter-spacing:-0.064128pt;}
.ls1f{letter-spacing:-0.058784pt;}
.ls15{letter-spacing:-0.053440pt;}
.ls3{letter-spacing:-0.051264pt;}
.ls7{letter-spacing:-0.048096pt;}
.ls1e{letter-spacing:-0.042752pt;}
.ls0{letter-spacing:-0.042720pt;}
.ls8{letter-spacing:-0.037408pt;}
.lsd{letter-spacing:-0.032064pt;}
.ls12{letter-spacing:-0.026720pt;}
.ls18{letter-spacing:-0.021376pt;}
.ls9{letter-spacing:-0.016032pt;}
.ls11{letter-spacing:-0.010688pt;}
.lse{letter-spacing:-0.005344pt;}
.ls1{letter-spacing:0.000000pt;}
.ls13{letter-spacing:0.005344pt;}
.lsc{letter-spacing:0.010688pt;}
.ls19{letter-spacing:0.016032pt;}
.ls16{letter-spacing:0.021376pt;}
.ls1c{letter-spacing:0.026720pt;}
.ls6{letter-spacing:0.032064pt;}
.ls17{letter-spacing:0.069472pt;}
.ls1a{letter-spacing:0.085504pt;}
.lsa{letter-spacing:0.090848pt;}
.ls5{letter-spacing:753.151296pt;}
.ws1c{word-spacing:-0.459584pt;}
.ws14{word-spacing:-0.213760pt;}
.ws3{word-spacing:-0.160320pt;}
.ws16{word-spacing:-0.154976pt;}
.ws11{word-spacing:-0.149632pt;}
.ws13{word-spacing:-0.144288pt;}
.ws8{word-spacing:-0.138944pt;}
.wse{word-spacing:-0.133600pt;}
.ws4{word-spacing:-0.128256pt;}
.wsa{word-spacing:-0.122912pt;}
.wsc{word-spacing:-0.117568pt;}
.ws7{word-spacing:-0.112224pt;}
.ws12{word-spacing:-0.106880pt;}
.wsd{word-spacing:-0.101536pt;}
.ws9{word-spacing:-0.096192pt;}
.ws6{word-spacing:-0.090848pt;}
.ws18{word-spacing:-0.085504pt;}
.ws5{word-spacing:-0.080160pt;}
.ws10{word-spacing:-0.074816pt;}
.ws17{word-spacing:-0.069472pt;}
.wsb{word-spacing:-0.064128pt;}
.wsf{word-spacing:-0.053440pt;}
.ws19{word-spacing:-0.037408pt;}
.ws1a{word-spacing:-0.026720pt;}
.ws15{word-spacing:-0.021376pt;}
.ws1b{word-spacing:-0.005344pt;}
.ws0{word-spacing:0.000000pt;}
.ws2{word-spacing:0.008544pt;}
.ws1{word-spacing:0.059808pt;}
._0{margin-left:-1.549760pt;}
.fs2{font-size:53.440000pt;}
.fs1{font-size:58.560000pt;}
.fs3{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.yb{bottom:21.333333pt;}
.ya{bottom:53.120133pt;}
.y4f{bottom:102.339520pt;}
.y32{bottom:116.928640pt;}
.y89{bottom:132.292640pt;}
.y31{bottom:132.372800pt;}
.y4e{bottom:133.615280pt;}
.y7a{bottom:143.595040pt;}
.y96{bottom:147.656640pt;}
.y30{bottom:147.736800pt;}
.y79{bottom:158.959040pt;}
.y88{bottom:163.020640pt;}
.y2f{bottom:171.009920pt;}
.y78{bottom:174.323040pt;}
.y95{bottom:178.384640pt;}
.y2e{bottom:186.373920pt;}
.y4d{bottom:188.898960pt;}
.y77{bottom:197.676320pt;}
.y2d{bottom:201.737920pt;}
.y4c{bottom:204.343120pt;}
.y76{bottom:212.960160pt;}
.y2c{bottom:217.021760pt;}
.y4b{bottom:219.707120pt;}
.y75{bottom:228.324160pt;}
.y87{bottom:232.385760pt;}
.y2b{bottom:240.375040pt;}
.y4a{bottom:242.980240pt;}
.y74{bottom:243.688160pt;}
.y94{bottom:247.669600pt;}
.y86{bottom:255.658880pt;}
.y49{bottom:258.344240pt;}
.y73{bottom:266.961280pt;}
.y85{bottom:271.022880pt;}
.y2a{bottom:271.570640pt;}
.y48{bottom:273.708240pt;}
.y72{bottom:282.325280pt;}
.y93{bottom:286.386880pt;}
.y47{bottom:288.992080pt;}
.y84{bottom:302.298640pt;}
.y46{bottom:312.345360pt;}
.y71{bottom:313.601040pt;}
.y92{bottom:317.582480pt;}
.y29{bottom:326.934480pt;}
.y28{bottom:342.378640pt;}
.y45{bottom:343.540960pt;}
.y83{bottom:357.582320pt;}
.y27{bottom:357.662480pt;}
.y70{bottom:368.884720pt;}
.y91{bottom:372.946320pt;}
.y82{bottom:373.026480pt;}
.y26{bottom:381.015760pt;}
.y6f{bottom:384.328880pt;}
.y81{bottom:388.390480pt;}
.y25{bottom:396.379760pt;}
.y44{bottom:398.904800pt;}
.y6e{bottom:399.612720pt;}
.y90{bottom:403.674320pt;}
.y24{bottom:411.663600pt;}
.y43{bottom:414.348960pt;}
.y6d{bottom:422.966000pt;}
.y23{bottom:427.027600pt;}
.y42{bottom:429.632800pt;}
.y6c{bottom:438.330000pt;}
.y80{bottom:442.391600pt;}
.y22{bottom:450.380880pt;}
.y41{bottom:452.986080pt;}
.y6b{bottom:453.613840pt;}
.y9{bottom:457.360880pt;}
.y7f{bottom:457.675440pt;}
.y21{bottom:465.664720pt;}
.y40{bottom:468.350080pt;}
.y6a{bottom:468.977840pt;}
.y8f{bottom:473.039440pt;}
.y20{bottom:481.028720pt;}
.y3f{bottom:483.633920pt;}
.y8{bottom:490.320000pt;}
.y7{bottom:490.340160pt;}
.y69{bottom:492.331120pt;}
.y8e{bottom:496.392720pt;}
.y3e{bottom:498.997920pt;}
.y1f{bottom:512.304480pt;}
.y3d{bottom:522.351200pt;}
.y68{bottom:523.526720pt;}
.y8d{bottom:527.588320pt;}
.y3c{bottom:537.635040pt;}
.y3b{bottom:552.999040pt;}
.y6{bottom:554.890080pt;}
.y1e{bottom:567.588160pt;}
.y3a{bottom:568.363040pt;}
.y67{bottom:578.890560pt;}
.y8c{bottom:582.952160pt;}
.y1d{bottom:583.032320pt;}
.y39{bottom:583.646880pt;}
.y66{bottom:594.334720pt;}
.y1c{bottom:598.396320pt;}
.y38{bottom:599.010880pt;}
.y65{bottom:609.618560pt;}
.y8b{bottom:613.680160pt;}
.y37{bottom:614.374880pt;}
.y5{bottom:619.440000pt;}
.y1b{bottom:621.669440pt;}
.y36{bottom:629.658720pt;}
.y64{bottom:632.971840pt;}
.y1a{bottom:637.033440pt;}
.y35{bottom:645.022720pt;}
.y63{bottom:648.335840pt;}
.y19{bottom:652.397440pt;}
.y34{bottom:660.386720pt;}
.y62{bottom:663.619680pt;}
.y18{bottom:667.681280pt;}
.y33{bottom:675.670560pt;}
.y61{bottom:678.983680pt;}
.y4{bottom:682.239467pt;}
.y8a{bottom:683.045280pt;}
.y17{bottom:691.034560pt;}
.y60{bottom:702.336960pt;}
.y16{bottom:706.318400pt;}
.y5f{bottom:717.620800pt;}
.y7e{bottom:722.230160pt;}
.y5e{bottom:732.984800pt;}
.y0{bottom:734.000000pt;}
.y3{bottom:734.641440pt;}
.y15{bottom:737.594160pt;}
.y5d{bottom:748.348800pt;}
.y5c{bottom:763.632640pt;}
.y7d{bottom:777.594000pt;}
.y5b{bottom:778.996640pt;}
.y14{bottom:792.958000pt;}
.y7c{bottom:793.038160pt;}
.y5a{bottom:794.280480pt;}
.y13{bottom:808.322000pt;}
.y59{bottom:809.644480pt;}
.y12{bottom:823.686000pt;}
.y58{bottom:825.008480pt;}
.y7b{bottom:831.675280pt;}
.y57{bottom:840.292320pt;}
.y11{bottom:847.039280pt;}
.y56{bottom:855.656320pt;}
.y10{bottom:862.323120pt;}
.y55{bottom:871.020320pt;}
.yf{bottom:877.687120pt;}
.y54{bottom:886.304160pt;}
.ye{bottom:893.051120pt;}
.y53{bottom:901.668160pt;}
.y2{bottom:907.600000pt;}
.yd{bottom:916.324240pt;}
.y52{bottom:917.032160pt;}
.y51{bottom:932.316000pt;}
.yc{bottom:947.600000pt;}
.y50{bottom:947.680000pt;}
.y1{bottom:987.760000pt;}
.h5{height:39.030469pt;}
.h2{height:58.406250pt;}
.h3{height:62.756195pt;}
.h7{height:65.860625pt;}
.h6{height:92.020833pt;}
.h4{height:100.334755pt;}
.h1{height:130.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x8{left:95.997040pt;}
.x5{left:122.318480pt;}
.x0{left:180.666667pt;}
.xa{left:337.333333pt;}
.x6{left:351.041360pt;}
.x4{left:367.040000pt;}
.x1{left:372.560000pt;}
.x2{left:408.000000pt;}
.x7{left:464.880000pt;}
.x3{left:636.963680pt;}
.x9{left:673.040000pt;}
}
