.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls26{letter-spacing:-1.318800px;}
.ls2c{letter-spacing:-0.138600px;}
.ls12{letter-spacing:-0.126000px;}
.ls23{letter-spacing:-0.117600px;}
.ls21{letter-spacing:-0.113400px;}
.ls2e{letter-spacing:-0.067200px;}
.ls31{letter-spacing:-0.063000px;}
.ls33{letter-spacing:-0.054600px;}
.ls2f{letter-spacing:-0.046200px;}
.ls4{letter-spacing:-0.045648px;}
.ls17{letter-spacing:-0.042000px;}
.ls5{letter-spacing:-0.037800px;}
.ls30{letter-spacing:-0.033600px;}
.lsf{letter-spacing:-0.029400px;}
.ls27{letter-spacing:-0.025200px;}
.ls32{letter-spacing:-0.021000px;}
.ls2d{letter-spacing:-0.016800px;}
.ls20{letter-spacing:-0.012600px;}
.ls1c{letter-spacing:-0.004200px;}
.ls1{letter-spacing:0.000000px;}
.ls18{letter-spacing:0.004200px;}
.ls1e{letter-spacing:0.008400px;}
.ls1b{letter-spacing:0.012600px;}
.ls28{letter-spacing:0.016800px;}
.ls1f{letter-spacing:0.021000px;}
.ls2b{letter-spacing:0.025200px;}
.ls0{letter-spacing:0.025632px;}
.ls9{letter-spacing:0.029400px;}
.ls3{letter-spacing:0.031968px;}
.ls25{letter-spacing:0.033600px;}
.ls7{letter-spacing:0.037800px;}
.ls8{letter-spacing:0.042000px;}
.lsc{letter-spacing:0.046200px;}
.ls2{letter-spacing:0.047952px;}
.lsa{letter-spacing:0.050400px;}
.ls1d{letter-spacing:0.054600px;}
.ls14{letter-spacing:0.058800px;}
.ls19{letter-spacing:0.063000px;}
.ls13{letter-spacing:0.067200px;}
.ls11{letter-spacing:0.071400px;}
.lse{letter-spacing:0.075600px;}
.lsd{letter-spacing:0.079800px;}
.ls16{letter-spacing:0.084000px;}
.ls1a{letter-spacing:0.088200px;}
.lsb{letter-spacing:0.092400px;}
.ls22{letter-spacing:0.100800px;}
.ls15{letter-spacing:0.105000px;}
.ls29{letter-spacing:0.109200px;}
.ls2a{letter-spacing:0.113400px;}
.ls6{letter-spacing:0.121800px;}
.ls10{letter-spacing:0.147000px;}
.ls24{letter-spacing:10.621800px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws4c{word-spacing:-2.402400px;}
.ws5c{word-spacing:-2.398200px;}
.ws16{word-spacing:-2.368800px;}
.ws5b{word-spacing:-0.701400px;}
.ws5f{word-spacing:-0.684600px;}
.ws3c{word-spacing:-0.294000px;}
.ws26{word-spacing:-0.281400px;}
.ws3f{word-spacing:-0.273000px;}
.ws25{word-spacing:-0.264600px;}
.ws3e{word-spacing:-0.260400px;}
.ws2d{word-spacing:-0.252000px;}
.ws3d{word-spacing:-0.243600px;}
.ws29{word-spacing:-0.239400px;}
.ws24{word-spacing:-0.235200px;}
.ws28{word-spacing:-0.231000px;}
.ws66{word-spacing:-0.226800px;}
.ws4f{word-spacing:-0.210000px;}
.ws1{word-spacing:-0.087912px;}
.ws3b{word-spacing:-0.050400px;}
.ws12{word-spacing:-0.046200px;}
.ws4b{word-spacing:-0.042000px;}
.ws2b{word-spacing:-0.033600px;}
.ws19{word-spacing:-0.029400px;}
.ws13{word-spacing:-0.025200px;}
.wsc{word-spacing:-0.021000px;}
.wsd{word-spacing:-0.016800px;}
.ws2{word-spacing:-0.015216px;}
.wse{word-spacing:-0.012600px;}
.ws56{word-spacing:-0.008400px;}
.ws17{word-spacing:-0.004200px;}
.ws0{word-spacing:0.000000px;}
.ws1c{word-spacing:0.004200px;}
.ws11{word-spacing:0.008400px;}
.wsb{word-spacing:0.012600px;}
.ws18{word-spacing:0.016800px;}
.wsa{word-spacing:0.021000px;}
.ws2c{word-spacing:0.025200px;}
.ws43{word-spacing:0.029400px;}
.ws48{word-spacing:0.033600px;}
.ws1e{word-spacing:0.037800px;}
.ws5d{word-spacing:0.042000px;}
.ws1a{word-spacing:0.046200px;}
.ws1d{word-spacing:0.050400px;}
.ws15{word-spacing:0.054600px;}
.ws1b{word-spacing:0.063000px;}
.ws22{word-spacing:0.071400px;}
.ws4a{word-spacing:0.075600px;}
.ws5a{word-spacing:0.079800px;}
.ws34{word-spacing:0.084000px;}
.ws10{word-spacing:0.088200px;}
.ws61{word-spacing:0.092400px;}
.ws14{word-spacing:0.100800px;}
.ws5e{word-spacing:0.113400px;}
.ws4d{word-spacing:0.126000px;}
.ws23{word-spacing:0.172200px;}
.ws27{word-spacing:0.176400px;}
.wsf{word-spacing:0.184800px;}
.ws47{word-spacing:0.197400px;}
.ws30{word-spacing:0.214200px;}
.ws31{word-spacing:0.222600px;}
.ws3{word-spacing:0.336000px;}
.ws60{word-spacing:0.466200px;}
.ws45{word-spacing:0.520800px;}
.ws46{word-spacing:0.537600px;}
.ws44{word-spacing:0.541800px;}
.ws21{word-spacing:0.722400px;}
.ws57{word-spacing:0.814800px;}
.ws58{word-spacing:0.827400px;}
.ws59{word-spacing:0.844200px;}
.ws64{word-spacing:0.987000px;}
.ws62{word-spacing:1.016400px;}
.ws63{word-spacing:1.024800px;}
.ws5{word-spacing:1.218000px;}
.ws4{word-spacing:1.222200px;}
.ws6{word-spacing:1.230600px;}
.ws1f{word-spacing:1.680000px;}
.ws35{word-spacing:2.394000px;}
.ws36{word-spacing:2.398200px;}
.ws4e{word-spacing:2.452800px;}
.ws41{word-spacing:2.612400px;}
.ws42{word-spacing:2.898000px;}
.ws32{word-spacing:2.902200px;}
.ws33{word-spacing:2.906400px;}
.ws40{word-spacing:2.914800px;}
.ws68{word-spacing:2.923200px;}
.ws49{word-spacing:2.931600px;}
.ws67{word-spacing:2.940000px;}
.ws53{word-spacing:5.262600px;}
.ws51{word-spacing:5.514600px;}
.ws50{word-spacing:5.548200px;}
.ws52{word-spacing:5.581800px;}
.ws20{word-spacing:5.993400px;}
.ws38{word-spacing:6.006000px;}
.ws3a{word-spacing:6.258000px;}
.ws39{word-spacing:6.266400px;}
.ws37{word-spacing:6.283200px;}
.ws7{word-spacing:9.609600px;}
.ws69{word-spacing:9.832200px;}
.ws8{word-spacing:9.870000px;}
.ws65{word-spacing:9.886800px;}
.ws9{word-spacing:9.899400px;}
.ws2e{word-spacing:10.302600px;}
.ws2f{word-spacing:10.315200px;}
.ws2a{word-spacing:10.378200px;}
.ws6a{word-spacing:10.663800px;}
.ws55{word-spacing:15.208200px;}
.ws54{word-spacing:15.225000px;}
._7{margin-left:-11.382000px;}
._8{margin-left:-10.332000px;}
._1{margin-left:-6.923280px;}
._5{margin-left:-5.354880px;}
._9{margin-left:-3.853440px;}
._2{margin-left:-2.520000px;}
._0{margin-left:-1.438560px;}
._3{width:1.134000px;}
._4{width:2.394000px;}
._6{width:9.502560px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:37.920000px;}
.fs1{font-size:42.000000px;}
.fs6{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:67.920000px;}
.fs5{font-size:76.080000px;}
.fs4{font-size:79.920000px;}
.ye{bottom:17.000000px;}
.y2{bottom:52.520300px;}
.y9f{bottom:87.530300px;}
.yd1{bottom:87.561800px;}
.y87{bottom:87.572300px;}
.yb5{bottom:87.593300px;}
.y3a{bottom:87.624800px;}
.y5f{bottom:87.635300px;}
.y86{bottom:103.175300px;}
.y9e{bottom:103.185800px;}
.yb4{bottom:103.196300px;}
.yd0{bottom:103.217300px;}
.y39{bottom:103.227800px;}
.y5e{bottom:103.238300px;}
.y9d{bottom:118.725800px;}
.y5d{bottom:118.778300px;}
.yb3{bottom:118.799300px;}
.ycf{bottom:118.820300px;}
.y38{bottom:118.830800px;}
.yc6{bottom:118.841300px;}
.y85{bottom:134.381300px;}
.yb2{bottom:134.402300px;}
.yce{bottom:134.423300px;}
.y37{bottom:134.433800px;}
.y5c{bottom:149.973800px;}
.y84{bottom:149.984300px;}
.yb1{bottom:150.005300px;}
.ycd{bottom:150.026300px;}
.y36{bottom:150.036800px;}
.yc5{bottom:165.576800px;}
.y83{bottom:165.587300px;}
.yb0{bottom:165.608300px;}
.y5b{bottom:165.629300px;}
.y35{bottom:165.639800px;}
.yd7{bottom:181.169300px;}
.y82{bottom:181.190300px;}
.yaf{bottom:181.211300px;}
.y5a{bottom:181.232300px;}
.y34{bottom:181.242800px;}
.y33{bottom:196.782800px;}
.y81{bottom:196.793300px;}
.yae{bottom:196.814300px;}
.yd6{bottom:196.824800px;}
.y59{bottom:196.835300px;}
.ybb{bottom:212.354300px;}
.y80{bottom:212.396300px;}
.yad{bottom:212.417300px;}
.yd5{bottom:212.427800px;}
.y32{bottom:212.438300px;}
.y31{bottom:227.978300px;}
.y7f{bottom:227.999300px;}
.yba{bottom:228.009800px;}
.yac{bottom:228.020300px;}
.yd4{bottom:228.030800px;}
.y58{bottom:228.041300px;}
.yb9{bottom:243.549800px;}
.y7e{bottom:243.602300px;}
.yab{bottom:243.623300px;}
.y30{bottom:243.633800px;}
.y57{bottom:243.644300px;}
.y7d{bottom:259.142300px;}
.ycc{bottom:259.184300px;}
.y9c{bottom:259.205300px;}
.yaa{bottom:259.226300px;}
.y2f{bottom:259.236800px;}
.y56{bottom:259.247300px;}
.y7c{bottom:274.797800px;}
.y9b{bottom:274.808300px;}
.ya9{bottom:274.829300px;}
.y2e{bottom:274.839800px;}
.y55{bottom:274.850300px;}
.y7b{bottom:290.337800px;}
.ycb{bottom:290.379800px;}
.y9a{bottom:290.411300px;}
.ya8{bottom:290.432300px;}
.y2d{bottom:290.442800px;}
.y54{bottom:290.453300px;}
.y7a{bottom:305.993300px;}
.y99{bottom:306.014300px;}
.ya7{bottom:306.035300px;}
.y2c{bottom:306.045800px;}
.y53{bottom:306.056300px;}
.y79{bottom:321.596300px;}
.y98{bottom:321.617300px;}
.ya6{bottom:321.638300px;}
.y2b{bottom:321.648800px;}
.y52{bottom:321.659300px;}
.y51{bottom:337.199300px;}
.y97{bottom:337.220300px;}
.ya5{bottom:337.241300px;}
.y2a{bottom:337.251800px;}
.yc4{bottom:337.262300px;}
.y78{bottom:352.802300px;}
.y96{bottom:352.823300px;}
.ya4{bottom:352.844300px;}
.y29{bottom:352.854800px;}
.yd{bottom:357.620300px;}
.y28{bottom:368.394800px;}
.y77{bottom:368.405300px;}
.y95{bottom:368.426300px;}
.ya3{bottom:368.447300px;}
.yc3{bottom:368.457800px;}
.yc2{bottom:383.997800px;}
.y76{bottom:384.008300px;}
.y94{bottom:384.029300px;}
.y27{bottom:384.050300px;}
.yc{bottom:389.540300px;}
.yb8{bottom:399.569300px;}
.y26{bottom:399.590300px;}
.y75{bottom:399.611300px;}
.y93{bottom:399.632300px;}
.y50{bottom:399.653300px;}
.yd3{bottom:415.193300px;}
.y74{bottom:415.214300px;}
.yb7{bottom:415.224800px;}
.y92{bottom:415.235300px;}
.y25{bottom:415.245800px;}
.y4f{bottom:415.256300px;}
.yb{bottom:419.634020px;}
.yb6{bottom:430.764800px;}
.ya2{bottom:430.785800px;}
.y73{bottom:430.817300px;}
.y91{bottom:430.838300px;}
.y24{bottom:430.848800px;}
.y4e{bottom:430.859300px;}
.yca{bottom:446.399300px;}
.y72{bottom:446.420300px;}
.y90{bottom:446.441300px;}
.y23{bottom:446.451800px;}
.y4d{bottom:446.462300px;}
.ya{bottom:450.842780px;}
.y71{bottom:462.023300px;}
.y8f{bottom:462.044300px;}
.y22{bottom:462.054800px;}
.y4c{bottom:462.065300px;}
.yc9{bottom:477.594800px;}
.y70{bottom:477.626300px;}
.y8e{bottom:477.647300px;}
.y21{bottom:477.657800px;}
.y4b{bottom:477.668300px;}
.y9{bottom:482.051540px;}
.y6f{bottom:493.229300px;}
.y8d{bottom:493.250300px;}
.y20{bottom:493.260800px;}
.y4a{bottom:493.271300px;}
.y6e{bottom:508.832300px;}
.y8c{bottom:508.853300px;}
.y1f{bottom:508.863800px;}
.y49{bottom:508.874300px;}
.y8{bottom:513.260300px;}
.y48{bottom:524.414300px;}
.y6d{bottom:524.435300px;}
.y8b{bottom:524.456300px;}
.y1e{bottom:524.466800px;}
.yc1{bottom:524.477300px;}
.y1d{bottom:540.006800px;}
.yc0{bottom:540.017300px;}
.y6c{bottom:540.038300px;}
.y8a{bottom:540.059300px;}
.y47{bottom:540.069800px;}
.y7{bottom:545.546480px;}
.y46{bottom:555.609800px;}
.y6b{bottom:555.641300px;}
.y1c{bottom:555.662300px;}
.ybf{bottom:555.672800px;}
.y1b{bottom:571.202300px;}
.ybe{bottom:571.212800px;}
.y6a{bottom:571.244300px;}
.y45{bottom:571.265300px;}
.y6{bottom:576.738740px;}
.yd2{bottom:586.805300px;}
.y69{bottom:586.847300px;}
.y1a{bottom:586.857800px;}
.y44{bottom:586.868300px;}
.ya1{bottom:602.408300px;}
.y68{bottom:602.450300px;}
.y19{bottom:602.460800px;}
.y43{bottom:602.471300px;}
.y0{bottom:604.000000px;}
.y5{bottom:604.280300px;}
.y89{bottom:618.011300px;}
.y67{bottom:618.053300px;}
.y18{bottom:618.063800px;}
.y42{bottom:618.074300px;}
.ya0{bottom:633.603800px;}
.yc8{bottom:633.614300px;}
.y66{bottom:633.656300px;}
.y17{bottom:633.666800px;}
.y41{bottom:633.677300px;}
.y88{bottom:649.206800px;}
.y65{bottom:649.259300px;}
.y16{bottom:649.269800px;}
.y40{bottom:649.280300px;}
.yc7{bottom:664.809800px;}
.y64{bottom:664.862300px;}
.y15{bottom:664.872800px;}
.y3f{bottom:664.883300px;}
.y63{bottom:680.465300px;}
.y14{bottom:680.475800px;}
.y3e{bottom:680.486300px;}
.y3d{bottom:696.026300px;}
.y62{bottom:696.068300px;}
.y13{bottom:696.078800px;}
.ybd{bottom:696.089300px;}
.ybc{bottom:711.629300px;}
.y61{bottom:711.671300px;}
.y12{bottom:711.681800px;}
.y4{bottom:717.148040px;}
.y3c{bottom:727.221800px;}
.y60{bottom:727.274300px;}
.y11{bottom:727.284800px;}
.y10{bottom:742.824800px;}
.y3b{bottom:742.877300px;}
.y3{bottom:748.340300px;}
.yf{bottom:758.480300px;}
.y1{bottom:784.580300px;}
.h3{height:42.067500px;}
.h8{height:46.593750px;}
.h9{height:48.090820px;}
.h7{height:69.015625px;}
.h2{height:73.372852px;}
.h4{height:77.769727px;}
.h6{height:87.113086px;}
.h5{height:91.509961px;}
.h1{height:98.000000px;}
.h0{height:842.000000px;}
.w1{width:342.500000px;}
.w0{width:595.220000px;}
.xa{left:90.001500px;}
.x6{left:99.542700px;}
.x0{left:126.500000px;}
.x9{left:245.000000px;}
.x7{left:249.292800px;}
.x8{left:252.600000px;}
.x5{left:262.080000px;}
.x1{left:269.220000px;}
.x3{left:297.660000px;}
.x4{left:468.660000px;}
.x2{left:492.900000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls26{letter-spacing:-1.758400pt;}
.ls2c{letter-spacing:-0.184800pt;}
.ls12{letter-spacing:-0.168000pt;}
.ls23{letter-spacing:-0.156800pt;}
.ls21{letter-spacing:-0.151200pt;}
.ls2e{letter-spacing:-0.089600pt;}
.ls31{letter-spacing:-0.084000pt;}
.ls33{letter-spacing:-0.072800pt;}
.ls2f{letter-spacing:-0.061600pt;}
.ls4{letter-spacing:-0.060864pt;}
.ls17{letter-spacing:-0.056000pt;}
.ls5{letter-spacing:-0.050400pt;}
.ls30{letter-spacing:-0.044800pt;}
.lsf{letter-spacing:-0.039200pt;}
.ls27{letter-spacing:-0.033600pt;}
.ls32{letter-spacing:-0.028000pt;}
.ls2d{letter-spacing:-0.022400pt;}
.ls20{letter-spacing:-0.016800pt;}
.ls1c{letter-spacing:-0.005600pt;}
.ls1{letter-spacing:0.000000pt;}
.ls18{letter-spacing:0.005600pt;}
.ls1e{letter-spacing:0.011200pt;}
.ls1b{letter-spacing:0.016800pt;}
.ls28{letter-spacing:0.022400pt;}
.ls1f{letter-spacing:0.028000pt;}
.ls2b{letter-spacing:0.033600pt;}
.ls0{letter-spacing:0.034176pt;}
.ls9{letter-spacing:0.039200pt;}
.ls3{letter-spacing:0.042624pt;}
.ls25{letter-spacing:0.044800pt;}
.ls7{letter-spacing:0.050400pt;}
.ls8{letter-spacing:0.056000pt;}
.lsc{letter-spacing:0.061600pt;}
.ls2{letter-spacing:0.063936pt;}
.lsa{letter-spacing:0.067200pt;}
.ls1d{letter-spacing:0.072800pt;}
.ls14{letter-spacing:0.078400pt;}
.ls19{letter-spacing:0.084000pt;}
.ls13{letter-spacing:0.089600pt;}
.ls11{letter-spacing:0.095200pt;}
.lse{letter-spacing:0.100800pt;}
.lsd{letter-spacing:0.106400pt;}
.ls16{letter-spacing:0.112000pt;}
.ls1a{letter-spacing:0.117600pt;}
.lsb{letter-spacing:0.123200pt;}
.ls22{letter-spacing:0.134400pt;}
.ls15{letter-spacing:0.140000pt;}
.ls29{letter-spacing:0.145600pt;}
.ls2a{letter-spacing:0.151200pt;}
.ls6{letter-spacing:0.162400pt;}
.ls10{letter-spacing:0.196000pt;}
.ls24{letter-spacing:14.162400pt;}
.ws4c{word-spacing:-3.203200pt;}
.ws5c{word-spacing:-3.197600pt;}
.ws16{word-spacing:-3.158400pt;}
.ws5b{word-spacing:-0.935200pt;}
.ws5f{word-spacing:-0.912800pt;}
.ws3c{word-spacing:-0.392000pt;}
.ws26{word-spacing:-0.375200pt;}
.ws3f{word-spacing:-0.364000pt;}
.ws25{word-spacing:-0.352800pt;}
.ws3e{word-spacing:-0.347200pt;}
.ws2d{word-spacing:-0.336000pt;}
.ws3d{word-spacing:-0.324800pt;}
.ws29{word-spacing:-0.319200pt;}
.ws24{word-spacing:-0.313600pt;}
.ws28{word-spacing:-0.308000pt;}
.ws66{word-spacing:-0.302400pt;}
.ws4f{word-spacing:-0.280000pt;}
.ws1{word-spacing:-0.117216pt;}
.ws3b{word-spacing:-0.067200pt;}
.ws12{word-spacing:-0.061600pt;}
.ws4b{word-spacing:-0.056000pt;}
.ws2b{word-spacing:-0.044800pt;}
.ws19{word-spacing:-0.039200pt;}
.ws13{word-spacing:-0.033600pt;}
.wsc{word-spacing:-0.028000pt;}
.wsd{word-spacing:-0.022400pt;}
.ws2{word-spacing:-0.020288pt;}
.wse{word-spacing:-0.016800pt;}
.ws56{word-spacing:-0.011200pt;}
.ws17{word-spacing:-0.005600pt;}
.ws0{word-spacing:0.000000pt;}
.ws1c{word-spacing:0.005600pt;}
.ws11{word-spacing:0.011200pt;}
.wsb{word-spacing:0.016800pt;}
.ws18{word-spacing:0.022400pt;}
.wsa{word-spacing:0.028000pt;}
.ws2c{word-spacing:0.033600pt;}
.ws43{word-spacing:0.039200pt;}
.ws48{word-spacing:0.044800pt;}
.ws1e{word-spacing:0.050400pt;}
.ws5d{word-spacing:0.056000pt;}
.ws1a{word-spacing:0.061600pt;}
.ws1d{word-spacing:0.067200pt;}
.ws15{word-spacing:0.072800pt;}
.ws1b{word-spacing:0.084000pt;}
.ws22{word-spacing:0.095200pt;}
.ws4a{word-spacing:0.100800pt;}
.ws5a{word-spacing:0.106400pt;}
.ws34{word-spacing:0.112000pt;}
.ws10{word-spacing:0.117600pt;}
.ws61{word-spacing:0.123200pt;}
.ws14{word-spacing:0.134400pt;}
.ws5e{word-spacing:0.151200pt;}
.ws4d{word-spacing:0.168000pt;}
.ws23{word-spacing:0.229600pt;}
.ws27{word-spacing:0.235200pt;}
.wsf{word-spacing:0.246400pt;}
.ws47{word-spacing:0.263200pt;}
.ws30{word-spacing:0.285600pt;}
.ws31{word-spacing:0.296800pt;}
.ws3{word-spacing:0.448000pt;}
.ws60{word-spacing:0.621600pt;}
.ws45{word-spacing:0.694400pt;}
.ws46{word-spacing:0.716800pt;}
.ws44{word-spacing:0.722400pt;}
.ws21{word-spacing:0.963200pt;}
.ws57{word-spacing:1.086400pt;}
.ws58{word-spacing:1.103200pt;}
.ws59{word-spacing:1.125600pt;}
.ws64{word-spacing:1.316000pt;}
.ws62{word-spacing:1.355200pt;}
.ws63{word-spacing:1.366400pt;}
.ws5{word-spacing:1.624000pt;}
.ws4{word-spacing:1.629600pt;}
.ws6{word-spacing:1.640800pt;}
.ws1f{word-spacing:2.240000pt;}
.ws35{word-spacing:3.192000pt;}
.ws36{word-spacing:3.197600pt;}
.ws4e{word-spacing:3.270400pt;}
.ws41{word-spacing:3.483200pt;}
.ws42{word-spacing:3.864000pt;}
.ws32{word-spacing:3.869600pt;}
.ws33{word-spacing:3.875200pt;}
.ws40{word-spacing:3.886400pt;}
.ws68{word-spacing:3.897600pt;}
.ws49{word-spacing:3.908800pt;}
.ws67{word-spacing:3.920000pt;}
.ws53{word-spacing:7.016800pt;}
.ws51{word-spacing:7.352800pt;}
.ws50{word-spacing:7.397600pt;}
.ws52{word-spacing:7.442400pt;}
.ws20{word-spacing:7.991200pt;}
.ws38{word-spacing:8.008000pt;}
.ws3a{word-spacing:8.344000pt;}
.ws39{word-spacing:8.355200pt;}
.ws37{word-spacing:8.377600pt;}
.ws7{word-spacing:12.812800pt;}
.ws69{word-spacing:13.109600pt;}
.ws8{word-spacing:13.160000pt;}
.ws65{word-spacing:13.182400pt;}
.ws9{word-spacing:13.199200pt;}
.ws2e{word-spacing:13.736800pt;}
.ws2f{word-spacing:13.753600pt;}
.ws2a{word-spacing:13.837600pt;}
.ws6a{word-spacing:14.218400pt;}
.ws55{word-spacing:20.277600pt;}
.ws54{word-spacing:20.300000pt;}
._7{margin-left:-15.176000pt;}
._8{margin-left:-13.776000pt;}
._1{margin-left:-9.231040pt;}
._5{margin-left:-7.139840pt;}
._9{margin-left:-5.137920pt;}
._2{margin-left:-3.360000pt;}
._0{margin-left:-1.918080pt;}
._3{width:1.512000pt;}
._4{width:3.192000pt;}
._6{width:12.670080pt;}
.fs2{font-size:50.560000pt;}
.fs1{font-size:56.000000pt;}
.fs6{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:90.560000pt;}
.fs5{font-size:101.440000pt;}
.fs4{font-size:106.560000pt;}
.ye{bottom:22.666667pt;}
.y2{bottom:70.027067pt;}
.y9f{bottom:116.707067pt;}
.yd1{bottom:116.749067pt;}
.y87{bottom:116.763067pt;}
.yb5{bottom:116.791067pt;}
.y3a{bottom:116.833067pt;}
.y5f{bottom:116.847067pt;}
.y86{bottom:137.567067pt;}
.y9e{bottom:137.581067pt;}
.yb4{bottom:137.595067pt;}
.yd0{bottom:137.623067pt;}
.y39{bottom:137.637067pt;}
.y5e{bottom:137.651067pt;}
.y9d{bottom:158.301067pt;}
.y5d{bottom:158.371067pt;}
.yb3{bottom:158.399067pt;}
.ycf{bottom:158.427067pt;}
.y38{bottom:158.441067pt;}
.yc6{bottom:158.455067pt;}
.y85{bottom:179.175067pt;}
.yb2{bottom:179.203067pt;}
.yce{bottom:179.231067pt;}
.y37{bottom:179.245067pt;}
.y5c{bottom:199.965067pt;}
.y84{bottom:199.979067pt;}
.yb1{bottom:200.007067pt;}
.ycd{bottom:200.035067pt;}
.y36{bottom:200.049067pt;}
.yc5{bottom:220.769067pt;}
.y83{bottom:220.783067pt;}
.yb0{bottom:220.811067pt;}
.y5b{bottom:220.839067pt;}
.y35{bottom:220.853067pt;}
.yd7{bottom:241.559067pt;}
.y82{bottom:241.587067pt;}
.yaf{bottom:241.615067pt;}
.y5a{bottom:241.643067pt;}
.y34{bottom:241.657067pt;}
.y33{bottom:262.377067pt;}
.y81{bottom:262.391067pt;}
.yae{bottom:262.419067pt;}
.yd6{bottom:262.433067pt;}
.y59{bottom:262.447067pt;}
.ybb{bottom:283.139067pt;}
.y80{bottom:283.195067pt;}
.yad{bottom:283.223067pt;}
.yd5{bottom:283.237067pt;}
.y32{bottom:283.251067pt;}
.y31{bottom:303.971067pt;}
.y7f{bottom:303.999067pt;}
.yba{bottom:304.013067pt;}
.yac{bottom:304.027067pt;}
.yd4{bottom:304.041067pt;}
.y58{bottom:304.055067pt;}
.yb9{bottom:324.733067pt;}
.y7e{bottom:324.803067pt;}
.yab{bottom:324.831067pt;}
.y30{bottom:324.845067pt;}
.y57{bottom:324.859067pt;}
.y7d{bottom:345.523067pt;}
.ycc{bottom:345.579067pt;}
.y9c{bottom:345.607067pt;}
.yaa{bottom:345.635067pt;}
.y2f{bottom:345.649067pt;}
.y56{bottom:345.663067pt;}
.y7c{bottom:366.397067pt;}
.y9b{bottom:366.411067pt;}
.ya9{bottom:366.439067pt;}
.y2e{bottom:366.453067pt;}
.y55{bottom:366.467067pt;}
.y7b{bottom:387.117067pt;}
.ycb{bottom:387.173067pt;}
.y9a{bottom:387.215067pt;}
.ya8{bottom:387.243067pt;}
.y2d{bottom:387.257067pt;}
.y54{bottom:387.271067pt;}
.y7a{bottom:407.991067pt;}
.y99{bottom:408.019067pt;}
.ya7{bottom:408.047067pt;}
.y2c{bottom:408.061067pt;}
.y53{bottom:408.075067pt;}
.y79{bottom:428.795067pt;}
.y98{bottom:428.823067pt;}
.ya6{bottom:428.851067pt;}
.y2b{bottom:428.865067pt;}
.y52{bottom:428.879067pt;}
.y51{bottom:449.599067pt;}
.y97{bottom:449.627067pt;}
.ya5{bottom:449.655067pt;}
.y2a{bottom:449.669067pt;}
.yc4{bottom:449.683067pt;}
.y78{bottom:470.403067pt;}
.y96{bottom:470.431067pt;}
.ya4{bottom:470.459067pt;}
.y29{bottom:470.473067pt;}
.yd{bottom:476.827067pt;}
.y28{bottom:491.193067pt;}
.y77{bottom:491.207067pt;}
.y95{bottom:491.235067pt;}
.ya3{bottom:491.263067pt;}
.yc3{bottom:491.277067pt;}
.yc2{bottom:511.997067pt;}
.y76{bottom:512.011067pt;}
.y94{bottom:512.039067pt;}
.y27{bottom:512.067067pt;}
.yc{bottom:519.387067pt;}
.yb8{bottom:532.759067pt;}
.y26{bottom:532.787067pt;}
.y75{bottom:532.815067pt;}
.y93{bottom:532.843067pt;}
.y50{bottom:532.871067pt;}
.yd3{bottom:553.591067pt;}
.y74{bottom:553.619067pt;}
.yb7{bottom:553.633067pt;}
.y92{bottom:553.647067pt;}
.y25{bottom:553.661067pt;}
.y4f{bottom:553.675067pt;}
.yb{bottom:559.512027pt;}
.yb6{bottom:574.353067pt;}
.ya2{bottom:574.381067pt;}
.y73{bottom:574.423067pt;}
.y91{bottom:574.451067pt;}
.y24{bottom:574.465067pt;}
.y4e{bottom:574.479067pt;}
.yca{bottom:595.199067pt;}
.y72{bottom:595.227067pt;}
.y90{bottom:595.255067pt;}
.y23{bottom:595.269067pt;}
.y4d{bottom:595.283067pt;}
.ya{bottom:601.123707pt;}
.y71{bottom:616.031067pt;}
.y8f{bottom:616.059067pt;}
.y22{bottom:616.073067pt;}
.y4c{bottom:616.087067pt;}
.yc9{bottom:636.793067pt;}
.y70{bottom:636.835067pt;}
.y8e{bottom:636.863067pt;}
.y21{bottom:636.877067pt;}
.y4b{bottom:636.891067pt;}
.y9{bottom:642.735387pt;}
.y6f{bottom:657.639067pt;}
.y8d{bottom:657.667067pt;}
.y20{bottom:657.681067pt;}
.y4a{bottom:657.695067pt;}
.y6e{bottom:678.443067pt;}
.y8c{bottom:678.471067pt;}
.y1f{bottom:678.485067pt;}
.y49{bottom:678.499067pt;}
.y8{bottom:684.347067pt;}
.y48{bottom:699.219067pt;}
.y6d{bottom:699.247067pt;}
.y8b{bottom:699.275067pt;}
.y1e{bottom:699.289067pt;}
.yc1{bottom:699.303067pt;}
.y1d{bottom:720.009067pt;}
.yc0{bottom:720.023067pt;}
.y6c{bottom:720.051067pt;}
.y8a{bottom:720.079067pt;}
.y47{bottom:720.093067pt;}
.y7{bottom:727.395307pt;}
.y46{bottom:740.813067pt;}
.y6b{bottom:740.855067pt;}
.y1c{bottom:740.883067pt;}
.ybf{bottom:740.897067pt;}
.y1b{bottom:761.603067pt;}
.ybe{bottom:761.617067pt;}
.y6a{bottom:761.659067pt;}
.y45{bottom:761.687067pt;}
.y6{bottom:768.984987pt;}
.yd2{bottom:782.407067pt;}
.y69{bottom:782.463067pt;}
.y1a{bottom:782.477067pt;}
.y44{bottom:782.491067pt;}
.ya1{bottom:803.211067pt;}
.y68{bottom:803.267067pt;}
.y19{bottom:803.281067pt;}
.y43{bottom:803.295067pt;}
.y0{bottom:805.333333pt;}
.y5{bottom:805.707067pt;}
.y89{bottom:824.015067pt;}
.y67{bottom:824.071067pt;}
.y18{bottom:824.085067pt;}
.y42{bottom:824.099067pt;}
.ya0{bottom:844.805067pt;}
.yc8{bottom:844.819067pt;}
.y66{bottom:844.875067pt;}
.y17{bottom:844.889067pt;}
.y41{bottom:844.903067pt;}
.y88{bottom:865.609067pt;}
.y65{bottom:865.679067pt;}
.y16{bottom:865.693067pt;}
.y40{bottom:865.707067pt;}
.yc7{bottom:886.413067pt;}
.y64{bottom:886.483067pt;}
.y15{bottom:886.497067pt;}
.y3f{bottom:886.511067pt;}
.y63{bottom:907.287067pt;}
.y14{bottom:907.301067pt;}
.y3e{bottom:907.315067pt;}
.y3d{bottom:928.035067pt;}
.y62{bottom:928.091067pt;}
.y13{bottom:928.105067pt;}
.ybd{bottom:928.119067pt;}
.ybc{bottom:948.839067pt;}
.y61{bottom:948.895067pt;}
.y12{bottom:948.909067pt;}
.y4{bottom:956.197387pt;}
.y3c{bottom:969.629067pt;}
.y60{bottom:969.699067pt;}
.y11{bottom:969.713067pt;}
.y10{bottom:990.433067pt;}
.y3b{bottom:990.503067pt;}
.y3{bottom:997.787067pt;}
.yf{bottom:1011.307067pt;}
.y1{bottom:1046.107067pt;}
.h3{height:56.090000pt;}
.h8{height:62.125000pt;}
.h9{height:64.121094pt;}
.h7{height:92.020833pt;}
.h2{height:97.830469pt;}
.h4{height:103.692969pt;}
.h6{height:116.150781pt;}
.h5{height:122.013281pt;}
.h1{height:130.666667pt;}
.h0{height:1122.666667pt;}
.w1{width:456.666667pt;}
.w0{width:793.626667pt;}
.xa{left:120.002000pt;}
.x6{left:132.723600pt;}
.x0{left:168.666667pt;}
.x9{left:326.666667pt;}
.x7{left:332.390400pt;}
.x8{left:336.800000pt;}
.x5{left:349.440000pt;}
.x1{left:358.960000pt;}
.x3{left:396.880000pt;}
.x4{left:624.880000pt;}
.x2{left:657.200000pt;}
}
