.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(33,78,123);}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:48.000000px;}
.fs2{font-size:56.000000px;}
.fs1{font-size:60.000000px;}
.fs0{font-size:80.000000px;}
.y6{bottom:17.000000px;}
.y38{bottom:22.000000px;}
.y7{bottom:35.500000px;}
.y36{bottom:54.000000px;}
.y66{bottom:60.000000px;}
.y87{bottom:64.000000px;}
.yc9{bottom:66.000000px;}
.yaa{bottom:70.000000px;}
.y35{bottom:72.000000px;}
.y65{bottom:76.000000px;}
.y86{bottom:80.000000px;}
.ya9{bottom:82.000000px;}
.ydb{bottom:88.000000px;}
.y34{bottom:90.000000px;}
.y64{bottom:92.000000px;}
.ybb{bottom:96.000000px;}
.ya8{bottom:98.000000px;}
.yee{bottom:100.000000px;}
.y33{bottom:102.000000px;}
.yda{bottom:106.000000px;}
.y63{bottom:108.000000px;}
.y85{bottom:110.000000px;}
.ya7{bottom:114.000000px;}
.yed{bottom:116.000000px;}
.y32{bottom:118.000000px;}
.y62{bottom:124.000000px;}
.yba{bottom:126.000000px;}
.y84{bottom:130.000000px;}
.yec{bottom:132.000000px;}
.y31{bottom:134.000000px;}
.y61{bottom:136.000000px;}
.yc8{bottom:138.000000px;}
.yd9{bottom:142.000000px;}
.ya6{bottom:146.000000px;}
.y60{bottom:148.000000px;}
.y30{bottom:150.000000px;}
.yc7{bottom:154.000000px;}
.ya5{bottom:158.000000px;}
.y5f{bottom:164.000000px;}
.y2f{bottom:166.000000px;}
.ya4{bottom:170.000000px;}
.yeb{bottom:176.000000px;}
.y2e{bottom:178.000000px;}
.y5e{bottom:180.000000px;}
.yb9{bottom:182.000000px;}
.y83{bottom:184.000000px;}
.ya3{bottom:186.000000px;}
.yea{bottom:188.000000px;}
.y2d{bottom:190.000000px;}
.y5d{bottom:192.000000px;}
.yb8{bottom:200.000000px;}
.y82{bottom:202.000000px;}
.ye9{bottom:204.000000px;}
.y2c{bottom:206.000000px;}
.y5c{bottom:210.000000px;}
.y81{bottom:214.000000px;}
.ya2{bottom:218.000000px;}
.ye8{bottom:220.000000px;}
.y2b{bottom:222.000000px;}
.y5b{bottom:230.000000px;}
.yc6{bottom:232.000000px;}
.ye7{bottom:236.000000px;}
.y2a{bottom:238.000000px;}
.yd8{bottom:242.000000px;}
.y80{bottom:246.000000px;}
.y5a{bottom:248.000000px;}
.y29{bottom:250.000000px;}
.yc5{bottom:252.000000px;}
.yd7{bottom:258.000000px;}
.y7f{bottom:262.000000px;}
.y59{bottom:266.000000px;}
.y28{bottom:268.000000px;}
.yc4{bottom:270.000000px;}
.yd6{bottom:274.000000px;}
.y7e{bottom:278.000000px;}
.y58{bottom:284.000000px;}
.ya1{bottom:286.000000px;}
.y27{bottom:288.000000px;}
.yd5{bottom:290.000000px;}
.y7d{bottom:294.000000px;}
.y57{bottom:302.000000px;}
.ya0{bottom:304.000000px;}
.y26{bottom:306.000000px;}
.y7c{bottom:310.000000px;}
.y56{bottom:314.000000px;}
.yb7{bottom:318.000000px;}
.y9f{bottom:322.000000px;}
.y25{bottom:324.000000px;}
.y7b{bottom:326.000000px;}
.y55{bottom:330.000000px;}
.yb6{bottom:334.000000px;}
.yc3{bottom:336.000000px;}
.yd4{bottom:338.000000px;}
.y9e{bottom:340.000000px;}
.y24{bottom:342.000000px;}
.y54{bottom:346.000000px;}
.yb5{bottom:350.000000px;}
.y9d{bottom:352.000000px;}
.y7a{bottom:354.000000px;}
.ye6{bottom:358.000000px;}
.y5{bottom:358.500000px;}
.y23{bottom:360.000000px;}
.y53{bottom:362.000000px;}
.y79{bottom:366.000000px;}
.y9c{bottom:368.000000px;}
.ye5{bottom:370.000000px;}
.y22{bottom:372.000000px;}
.y52{bottom:378.000000px;}
.y4{bottom:381.000000px;}
.y78{bottom:382.000000px;}
.y9b{bottom:384.000000px;}
.ye4{bottom:386.000000px;}
.y21{bottom:388.000000px;}
.y51{bottom:390.000000px;}
.yb4{bottom:394.000000px;}
.y77{bottom:398.000000px;}
.y9a{bottom:400.000000px;}
.y50{bottom:402.000000px;}
.y20{bottom:404.000000px;}
.yd3{bottom:406.000000px;}
.y3{bottom:411.000000px;}
.yb3{bottom:412.000000px;}
.y76{bottom:414.000000px;}
.y99{bottom:416.000000px;}
.y4f{bottom:418.000000px;}
.y1f{bottom:420.000000px;}
.yd2{bottom:424.000000px;}
.y75{bottom:426.000000px;}
.y98{bottom:428.000000px;}
.yb2{bottom:432.000000px;}
.y4e{bottom:434.000000px;}
.y1e{bottom:436.000000px;}
.y97{bottom:440.000000px;}
.yd1{bottom:442.000000px;}
.y74{bottom:444.000000px;}
.ye3{bottom:446.000000px;}
.y1d{bottom:448.000000px;}
.y4d{bottom:450.000000px;}
.y96{bottom:456.000000px;}
.ye2{bottom:458.000000px;}
.y1c{bottom:460.000000px;}
.y4c{bottom:462.000000px;}
.y73{bottom:464.000000px;}
.yb1{bottom:468.000000px;}
.y95{bottom:472.000000px;}
.ye1{bottom:474.000000px;}
.y1b{bottom:476.000000px;}
.y4b{bottom:480.000000px;}
.y72{bottom:482.000000px;}
.yb0{bottom:486.000000px;}
.y1a{bottom:488.000000px;}
.y0{bottom:490.500000px;}
.y4a{bottom:500.000000px;}
.yaf{bottom:504.000000px;}
.y19{bottom:506.000000px;}
.yae{bottom:516.000000px;}
.y49{bottom:518.000000px;}
.yc2{bottom:520.000000px;}
.ye0{bottom:524.000000px;}
.y18{bottom:526.000000px;}
.yad{bottom:532.000000px;}
.y48{bottom:536.000000px;}
.y94{bottom:538.000000px;}
.ydf{bottom:542.000000px;}
.y17{bottom:544.000000px;}
.y71{bottom:548.000000px;}
.yc1{bottom:552.000000px;}
.y47{bottom:554.000000px;}
.y93{bottom:556.000000px;}
.yd0{bottom:560.000000px;}
.y16{bottom:562.000000px;}
.y70{bottom:564.000000px;}
.y46{bottom:572.000000px;}
.y92{bottom:574.000000px;}
.ycf{bottom:576.000000px;}
.yde{bottom:578.000000px;}
.y15{bottom:580.000000px;}
.yc0{bottom:582.000000px;}
.y45{bottom:584.000000px;}
.y91{bottom:592.000000px;}
.y6f{bottom:596.000000px;}
.y14{bottom:598.000000px;}
.y44{bottom:600.000000px;}
.ybf{bottom:602.000000px;}
.yac{bottom:604.000000px;}
.yce{bottom:608.000000px;}
.y13{bottom:610.000000px;}
.y6e{bottom:612.000000px;}
.y43{bottom:616.000000px;}
.yab{bottom:620.000000px;}
.y90{bottom:622.000000px;}
.y6d{bottom:624.000000px;}
.y12{bottom:626.000000px;}
.y42{bottom:632.000000px;}
.y2{bottom:636.000000px;}
.y8f{bottom:638.000000px;}
.ycd{bottom:640.000000px;}
.y11{bottom:642.000000px;}
.y41{bottom:648.000000px;}
.y6c{bottom:652.000000px;}
.y8e{bottom:654.000000px;}
.ybe{bottom:656.000000px;}
.y10{bottom:658.000000px;}
.y40{bottom:664.000000px;}
.y6b{bottom:668.000000px;}
.y8d{bottom:670.000000px;}
.ydd{bottom:672.000000px;}
.yf{bottom:674.000000px;}
.y3f{bottom:676.000000px;}
.y6a{bottom:684.000000px;}
.ye{bottom:686.000000px;}
.y3e{bottom:688.000000px;}
.ycc{bottom:690.000000px;}
.y69{bottom:696.000000px;}
.yd{bottom:698.000000px;}
.y8c{bottom:702.000000px;}
.y3d{bottom:704.000000px;}
.ycb{bottom:708.000000px;}
.yc{bottom:714.000000px;}
.ybd{bottom:718.000000px;}
.y3c{bottom:720.000000px;}
.y8b{bottom:726.000000px;}
.yb{bottom:730.000000px;}
.y3b{bottom:732.000000px;}
.y68{bottom:734.000000px;}
.y8a{bottom:742.000000px;}
.yca{bottom:744.000000px;}
.ya{bottom:746.000000px;}
.y3a{bottom:750.000000px;}
.y67{bottom:752.000000px;}
.y9{bottom:758.000000px;}
.ydc{bottom:760.000000px;}
.ybc{bottom:762.000000px;}
.y39{bottom:770.000000px;}
.y89{bottom:774.000000px;}
.y1{bottom:776.000000px;}
.y8{bottom:788.000000px;}
.y88{bottom:790.000000px;}
.y37{bottom:808.000000px;}
.h6{height:56.367840px;}
.h7{height:59.156250px;}
.h4{height:69.015625px;}
.h3{height:70.459800px;}
.h2{height:93.946400px;}
.h1{height:130.500000px;}
.h5{height:770.500000px;}
.h0{height:842.000000px;}
.w1{width:456.500000px;}
.w2{width:523.500000px;}
.w0{width:595.000000px;}
.x1{left:36.000000px;}
.x0{left:69.500000px;}
.x2{left:157.470000px;}
.x4{left:245.000000px;}
.x5{left:247.810000px;}
.x3{left:254.980000px;}
.x6{left:550.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs3{font-size:64.000000pt;}
.fs2{font-size:74.666667pt;}
.fs1{font-size:80.000000pt;}
.fs0{font-size:106.666667pt;}
.y6{bottom:22.666667pt;}
.y38{bottom:29.333333pt;}
.y7{bottom:47.333333pt;}
.y36{bottom:72.000000pt;}
.y66{bottom:80.000000pt;}
.y87{bottom:85.333333pt;}
.yc9{bottom:88.000000pt;}
.yaa{bottom:93.333333pt;}
.y35{bottom:96.000000pt;}
.y65{bottom:101.333333pt;}
.y86{bottom:106.666667pt;}
.ya9{bottom:109.333333pt;}
.ydb{bottom:117.333333pt;}
.y34{bottom:120.000000pt;}
.y64{bottom:122.666667pt;}
.ybb{bottom:128.000000pt;}
.ya8{bottom:130.666667pt;}
.yee{bottom:133.333333pt;}
.y33{bottom:136.000000pt;}
.yda{bottom:141.333333pt;}
.y63{bottom:144.000000pt;}
.y85{bottom:146.666667pt;}
.ya7{bottom:152.000000pt;}
.yed{bottom:154.666667pt;}
.y32{bottom:157.333333pt;}
.y62{bottom:165.333333pt;}
.yba{bottom:168.000000pt;}
.y84{bottom:173.333333pt;}
.yec{bottom:176.000000pt;}
.y31{bottom:178.666667pt;}
.y61{bottom:181.333333pt;}
.yc8{bottom:184.000000pt;}
.yd9{bottom:189.333333pt;}
.ya6{bottom:194.666667pt;}
.y60{bottom:197.333333pt;}
.y30{bottom:200.000000pt;}
.yc7{bottom:205.333333pt;}
.ya5{bottom:210.666667pt;}
.y5f{bottom:218.666667pt;}
.y2f{bottom:221.333333pt;}
.ya4{bottom:226.666667pt;}
.yeb{bottom:234.666667pt;}
.y2e{bottom:237.333333pt;}
.y5e{bottom:240.000000pt;}
.yb9{bottom:242.666667pt;}
.y83{bottom:245.333333pt;}
.ya3{bottom:248.000000pt;}
.yea{bottom:250.666667pt;}
.y2d{bottom:253.333333pt;}
.y5d{bottom:256.000000pt;}
.yb8{bottom:266.666667pt;}
.y82{bottom:269.333333pt;}
.ye9{bottom:272.000000pt;}
.y2c{bottom:274.666667pt;}
.y5c{bottom:280.000000pt;}
.y81{bottom:285.333333pt;}
.ya2{bottom:290.666667pt;}
.ye8{bottom:293.333333pt;}
.y2b{bottom:296.000000pt;}
.y5b{bottom:306.666667pt;}
.yc6{bottom:309.333333pt;}
.ye7{bottom:314.666667pt;}
.y2a{bottom:317.333333pt;}
.yd8{bottom:322.666667pt;}
.y80{bottom:328.000000pt;}
.y5a{bottom:330.666667pt;}
.y29{bottom:333.333333pt;}
.yc5{bottom:336.000000pt;}
.yd7{bottom:344.000000pt;}
.y7f{bottom:349.333333pt;}
.y59{bottom:354.666667pt;}
.y28{bottom:357.333333pt;}
.yc4{bottom:360.000000pt;}
.yd6{bottom:365.333333pt;}
.y7e{bottom:370.666667pt;}
.y58{bottom:378.666667pt;}
.ya1{bottom:381.333333pt;}
.y27{bottom:384.000000pt;}
.yd5{bottom:386.666667pt;}
.y7d{bottom:392.000000pt;}
.y57{bottom:402.666667pt;}
.ya0{bottom:405.333333pt;}
.y26{bottom:408.000000pt;}
.y7c{bottom:413.333333pt;}
.y56{bottom:418.666667pt;}
.yb7{bottom:424.000000pt;}
.y9f{bottom:429.333333pt;}
.y25{bottom:432.000000pt;}
.y7b{bottom:434.666667pt;}
.y55{bottom:440.000000pt;}
.yb6{bottom:445.333333pt;}
.yc3{bottom:448.000000pt;}
.yd4{bottom:450.666667pt;}
.y9e{bottom:453.333333pt;}
.y24{bottom:456.000000pt;}
.y54{bottom:461.333333pt;}
.yb5{bottom:466.666667pt;}
.y9d{bottom:469.333333pt;}
.y7a{bottom:472.000000pt;}
.ye6{bottom:477.333333pt;}
.y5{bottom:478.000000pt;}
.y23{bottom:480.000000pt;}
.y53{bottom:482.666667pt;}
.y79{bottom:488.000000pt;}
.y9c{bottom:490.666667pt;}
.ye5{bottom:493.333333pt;}
.y22{bottom:496.000000pt;}
.y52{bottom:504.000000pt;}
.y4{bottom:508.000000pt;}
.y78{bottom:509.333333pt;}
.y9b{bottom:512.000000pt;}
.ye4{bottom:514.666667pt;}
.y21{bottom:517.333333pt;}
.y51{bottom:520.000000pt;}
.yb4{bottom:525.333333pt;}
.y77{bottom:530.666667pt;}
.y9a{bottom:533.333333pt;}
.y50{bottom:536.000000pt;}
.y20{bottom:538.666667pt;}
.yd3{bottom:541.333333pt;}
.y3{bottom:548.000000pt;}
.yb3{bottom:549.333333pt;}
.y76{bottom:552.000000pt;}
.y99{bottom:554.666667pt;}
.y4f{bottom:557.333333pt;}
.y1f{bottom:560.000000pt;}
.yd2{bottom:565.333333pt;}
.y75{bottom:568.000000pt;}
.y98{bottom:570.666667pt;}
.yb2{bottom:576.000000pt;}
.y4e{bottom:578.666667pt;}
.y1e{bottom:581.333333pt;}
.y97{bottom:586.666667pt;}
.yd1{bottom:589.333333pt;}
.y74{bottom:592.000000pt;}
.ye3{bottom:594.666667pt;}
.y1d{bottom:597.333333pt;}
.y4d{bottom:600.000000pt;}
.y96{bottom:608.000000pt;}
.ye2{bottom:610.666667pt;}
.y1c{bottom:613.333333pt;}
.y4c{bottom:616.000000pt;}
.y73{bottom:618.666667pt;}
.yb1{bottom:624.000000pt;}
.y95{bottom:629.333333pt;}
.ye1{bottom:632.000000pt;}
.y1b{bottom:634.666667pt;}
.y4b{bottom:640.000000pt;}
.y72{bottom:642.666667pt;}
.yb0{bottom:648.000000pt;}
.y1a{bottom:650.666667pt;}
.y0{bottom:654.000000pt;}
.y4a{bottom:666.666667pt;}
.yaf{bottom:672.000000pt;}
.y19{bottom:674.666667pt;}
.yae{bottom:688.000000pt;}
.y49{bottom:690.666667pt;}
.yc2{bottom:693.333333pt;}
.ye0{bottom:698.666667pt;}
.y18{bottom:701.333333pt;}
.yad{bottom:709.333333pt;}
.y48{bottom:714.666667pt;}
.y94{bottom:717.333333pt;}
.ydf{bottom:722.666667pt;}
.y17{bottom:725.333333pt;}
.y71{bottom:730.666667pt;}
.yc1{bottom:736.000000pt;}
.y47{bottom:738.666667pt;}
.y93{bottom:741.333333pt;}
.yd0{bottom:746.666667pt;}
.y16{bottom:749.333333pt;}
.y70{bottom:752.000000pt;}
.y46{bottom:762.666667pt;}
.y92{bottom:765.333333pt;}
.ycf{bottom:768.000000pt;}
.yde{bottom:770.666667pt;}
.y15{bottom:773.333333pt;}
.yc0{bottom:776.000000pt;}
.y45{bottom:778.666667pt;}
.y91{bottom:789.333333pt;}
.y6f{bottom:794.666667pt;}
.y14{bottom:797.333333pt;}
.y44{bottom:800.000000pt;}
.ybf{bottom:802.666667pt;}
.yac{bottom:805.333333pt;}
.yce{bottom:810.666667pt;}
.y13{bottom:813.333333pt;}
.y6e{bottom:816.000000pt;}
.y43{bottom:821.333333pt;}
.yab{bottom:826.666667pt;}
.y90{bottom:829.333333pt;}
.y6d{bottom:832.000000pt;}
.y12{bottom:834.666667pt;}
.y42{bottom:842.666667pt;}
.y2{bottom:848.000000pt;}
.y8f{bottom:850.666667pt;}
.ycd{bottom:853.333333pt;}
.y11{bottom:856.000000pt;}
.y41{bottom:864.000000pt;}
.y6c{bottom:869.333333pt;}
.y8e{bottom:872.000000pt;}
.ybe{bottom:874.666667pt;}
.y10{bottom:877.333333pt;}
.y40{bottom:885.333333pt;}
.y6b{bottom:890.666667pt;}
.y8d{bottom:893.333333pt;}
.ydd{bottom:896.000000pt;}
.yf{bottom:898.666667pt;}
.y3f{bottom:901.333333pt;}
.y6a{bottom:912.000000pt;}
.ye{bottom:914.666667pt;}
.y3e{bottom:917.333333pt;}
.ycc{bottom:920.000000pt;}
.y69{bottom:928.000000pt;}
.yd{bottom:930.666667pt;}
.y8c{bottom:936.000000pt;}
.y3d{bottom:938.666667pt;}
.ycb{bottom:944.000000pt;}
.yc{bottom:952.000000pt;}
.ybd{bottom:957.333333pt;}
.y3c{bottom:960.000000pt;}
.y8b{bottom:968.000000pt;}
.yb{bottom:973.333333pt;}
.y3b{bottom:976.000000pt;}
.y68{bottom:978.666667pt;}
.y8a{bottom:989.333333pt;}
.yca{bottom:992.000000pt;}
.ya{bottom:994.666667pt;}
.y3a{bottom:1000.000000pt;}
.y67{bottom:1002.666667pt;}
.y9{bottom:1010.666667pt;}
.ydc{bottom:1013.333333pt;}
.ybc{bottom:1016.000000pt;}
.y39{bottom:1026.666667pt;}
.y89{bottom:1032.000000pt;}
.y1{bottom:1034.666667pt;}
.y8{bottom:1050.666667pt;}
.y88{bottom:1053.333333pt;}
.y37{bottom:1077.333333pt;}
.h6{height:75.157120pt;}
.h7{height:78.875000pt;}
.h4{height:92.020833pt;}
.h3{height:93.946400pt;}
.h2{height:125.261866pt;}
.h1{height:174.000000pt;}
.h5{height:1027.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:608.666667pt;}
.w2{width:698.000000pt;}
.w0{width:793.333333pt;}
.x1{left:48.000000pt;}
.x0{left:92.666667pt;}
.x2{left:209.960000pt;}
.x4{left:326.666667pt;}
.x5{left:330.413333pt;}
.x3{left:339.973333pt;}
.x6{left:733.773333pt;}
}
