.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls25{letter-spacing:-1.318800px;}
.ls26{letter-spacing:-0.184800px;}
.ls1d{letter-spacing:-0.168000px;}
.ls31{letter-spacing:-0.147000px;}
.ls32{letter-spacing:-0.130200px;}
.ls28{letter-spacing:-0.100800px;}
.ls12{letter-spacing:-0.096600px;}
.ls35{letter-spacing:-0.088200px;}
.ls24{letter-spacing:-0.084000px;}
.ls2b{letter-spacing:-0.067200px;}
.ls0{letter-spacing:-0.064080px;}
.ls21{letter-spacing:-0.063000px;}
.ls4{letter-spacing:-0.056064px;}
.ls2d{letter-spacing:-0.054600px;}
.ls34{letter-spacing:-0.050400px;}
.ls29{letter-spacing:-0.042000px;}
.ls6{letter-spacing:-0.037800px;}
.ls2{letter-spacing:-0.035040px;}
.ls33{letter-spacing:-0.033600px;}
.ls15{letter-spacing:-0.029400px;}
.ls3{letter-spacing:-0.028032px;}
.ls27{letter-spacing:-0.025200px;}
.ls2a{letter-spacing:-0.021000px;}
.ls20{letter-spacing:-0.016800px;}
.ls13{letter-spacing:-0.004200px;}
.ls1{letter-spacing:0.000000px;}
.lsd{letter-spacing:0.004200px;}
.ls5{letter-spacing:0.006192px;}
.ls23{letter-spacing:0.008400px;}
.ls22{letter-spacing:0.012600px;}
.ls2e{letter-spacing:0.016800px;}
.ls8{letter-spacing:0.021000px;}
.ls2c{letter-spacing:0.025200px;}
.ls11{letter-spacing:0.029400px;}
.ls18{letter-spacing:0.033600px;}
.lsb{letter-spacing:0.037800px;}
.lsa{letter-spacing:0.042000px;}
.ls14{letter-spacing:0.046200px;}
.lsf{letter-spacing:0.050400px;}
.lsc{letter-spacing:0.054600px;}
.ls1c{letter-spacing:0.058800px;}
.lse{letter-spacing:0.063000px;}
.ls16{letter-spacing:0.067200px;}
.ls10{letter-spacing:0.071400px;}
.ls17{letter-spacing:0.075600px;}
.ls1b{letter-spacing:0.079800px;}
.ls1a{letter-spacing:0.084000px;}
.ls1e{letter-spacing:0.088200px;}
.ls19{letter-spacing:0.092400px;}
.ls9{letter-spacing:0.096600px;}
.ls30{letter-spacing:0.100800px;}
.ls7{letter-spacing:0.121800px;}
.ls1f{letter-spacing:0.147000px;}
.ls2f{letter-spacing:1.499400px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws20{word-spacing:-0.277200px;}
.ws62{word-spacing:-0.260400px;}
.ws17{word-spacing:-0.256200px;}
.ws3e{word-spacing:-0.243600px;}
.ws63{word-spacing:-0.235200px;}
.ws88{word-spacing:-0.231000px;}
.ws35{word-spacing:-0.222600px;}
.ws90{word-spacing:-0.218400px;}
.ws47{word-spacing:-0.210000px;}
.ws1{word-spacing:-0.063072px;}
.ws65{word-spacing:-0.042000px;}
.ws4a{word-spacing:-0.037800px;}
.ws19{word-spacing:-0.033600px;}
.ws41{word-spacing:-0.029400px;}
.ws1a{word-spacing:-0.025200px;}
.ws1e{word-spacing:-0.021000px;}
.ws28{word-spacing:-0.016800px;}
.wsd{word-spacing:-0.012600px;}
.ws2f{word-spacing:-0.008400px;}
.wsa{word-spacing:-0.004200px;}
.ws0{word-spacing:0.000000px;}
.ws11{word-spacing:0.004200px;}
.ws57{word-spacing:0.008400px;}
.ws2e{word-spacing:0.012600px;}
.ws6{word-spacing:0.016800px;}
.ws7{word-spacing:0.021000px;}
.ws18{word-spacing:0.025200px;}
.ws4c{word-spacing:0.029400px;}
.ws5c{word-spacing:0.033600px;}
.ws60{word-spacing:0.037800px;}
.ws5d{word-spacing:0.042000px;}
.ws3a{word-spacing:0.046200px;}
.ws3d{word-spacing:0.050400px;}
.ws83{word-spacing:0.054600px;}
.ws46{word-spacing:0.058800px;}
.ws3b{word-spacing:0.063000px;}
.ws4e{word-spacing:0.079800px;}
.ws49{word-spacing:0.084000px;}
.ws3c{word-spacing:0.096600px;}
.ws4d{word-spacing:0.100800px;}
.ws5b{word-spacing:0.113400px;}
.ws34{word-spacing:0.121800px;}
.ws4f{word-spacing:0.126000px;}
.ws82{word-spacing:0.189000px;}
.ws95{word-spacing:0.197400px;}
.ws53{word-spacing:0.201600px;}
.ws54{word-spacing:0.235200px;}
.ws45{word-spacing:0.243600px;}
.ws52{word-spacing:0.260400px;}
.ws3{word-spacing:0.336000px;}
.ws2{word-spacing:0.352944px;}
.ws71{word-spacing:0.457800px;}
.ws42{word-spacing:0.705600px;}
.ws6c{word-spacing:0.735000px;}
.ws6d{word-spacing:0.756000px;}
.ws72{word-spacing:0.940800px;}
.ws5a{word-spacing:0.953400px;}
.ws73{word-spacing:0.961800px;}
.ws10{word-spacing:1.188600px;}
.ws44{word-spacing:1.197000px;}
.ws75{word-spacing:1.209600px;}
.ws74{word-spacing:1.218000px;}
.ws8e{word-spacing:1.423800px;}
.ws5f{word-spacing:1.428000px;}
.ws50{word-spacing:1.436400px;}
.ws24{word-spacing:1.440600px;}
.ws5e{word-spacing:1.486800px;}
.ws84{word-spacing:1.671600px;}
.ws2a{word-spacing:1.675800px;}
.ws55{word-spacing:1.684200px;}
.ws98{word-spacing:1.688400px;}
.ws97{word-spacing:1.822800px;}
.ws37{word-spacing:1.894200px;}
.ws43{word-spacing:1.906800px;}
.ws36{word-spacing:1.911000px;}
.ws8a{word-spacing:1.923600px;}
.ws56{word-spacing:1.953000px;}
.ws89{word-spacing:2.028600px;}
.ws7f{word-spacing:2.045400px;}
.ws6e{word-spacing:2.142000px;}
.ws27{word-spacing:2.167200px;}
.ws31{word-spacing:2.851800px;}
.ws30{word-spacing:2.881200px;}
.ws76{word-spacing:3.112200px;}
.ws80{word-spacing:3.355800px;}
.ws1d{word-spacing:3.360000px;}
.ws70{word-spacing:3.368400px;}
.ws6f{word-spacing:3.372600px;}
.ws81{word-spacing:3.376800px;}
.ws7a{word-spacing:3.381000px;}
.ws16{word-spacing:3.591000px;}
.ws67{word-spacing:3.595200px;}
.ws77{word-spacing:3.603600px;}
.ws66{word-spacing:3.607800px;}
.ws78{word-spacing:3.616200px;}
.ws8f{word-spacing:3.628800px;}
.ws23{word-spacing:3.843000px;}
.ws1c{word-spacing:4.061400px;}
.ws1b{word-spacing:4.069800px;}
.ws7b{word-spacing:4.074000px;}
.ws9e{word-spacing:4.090800px;}
.ws7c{word-spacing:4.111800px;}
.ws79{word-spacing:4.170600px;}
.ws51{word-spacing:4.305000px;}
.ws2c{word-spacing:4.326000px;}
.ws9c{word-spacing:4.330200px;}
.ws9b{word-spacing:4.359600px;}
.ws15{word-spacing:4.548600px;}
.ws2b{word-spacing:4.552800px;}
.ws4{word-spacing:4.599000px;}
.ws5{word-spacing:4.762800px;}
.ws29{word-spacing:4.783800px;}
.ws1f{word-spacing:5.019000px;}
.ws61{word-spacing:5.023200px;}
.ws6b{word-spacing:5.082000px;}
.ws6a{word-spacing:5.245800px;}
.ws25{word-spacing:5.275200px;}
.ws26{word-spacing:5.300400px;}
.ws38{word-spacing:5.514600px;}
.ws39{word-spacing:5.527200px;}
.ws33{word-spacing:5.531400px;}
.ws32{word-spacing:5.539800px;}
.ws2d{word-spacing:5.544000px;}
.ws40{word-spacing:6.039600px;}
.ws3f{word-spacing:6.144600px;}
.ws8d{word-spacing:6.253800px;}
.ws8c{word-spacing:6.274800px;}
.ws64{word-spacing:6.480600px;}
.ws4b{word-spacing:6.640200px;}
.ws8b{word-spacing:6.703200px;}
.ws99{word-spacing:6.715800px;}
.wsc{word-spacing:6.724200px;}
.ws86{word-spacing:6.967800px;}
.ws85{word-spacing:6.976200px;}
.ws9a{word-spacing:7.106400px;}
.ws96{word-spacing:7.186200px;}
.ws48{word-spacing:7.421400px;}
.ws9d{word-spacing:7.459200px;}
.ws87{word-spacing:8.862000px;}
.ws8{word-spacing:10.323600px;}
.ws14{word-spacing:10.332000px;}
.wse{word-spacing:10.348800px;}
.wsf{word-spacing:10.357200px;}
.ws9{word-spacing:10.374000px;}
.ws13{word-spacing:10.382400px;}
.ws12{word-spacing:10.474800px;}
.ws22{word-spacing:10.533600px;}
.wsb{word-spacing:10.571400px;}
.ws92{word-spacing:10.584000px;}
.ws91{word-spacing:10.592400px;}
.ws21{word-spacing:10.789800px;}
.ws69{word-spacing:10.806600px;}
.ws94{word-spacing:10.815000px;}
.ws93{word-spacing:10.831800px;}
.ws7d{word-spacing:11.739000px;}
.ws7e{word-spacing:11.785200px;}
.ws59{word-spacing:12.461400px;}
.ws58{word-spacing:12.503400px;}
.ws68{word-spacing:24.733800px;}
._0{margin-left:-5.959440px;}
._2{margin-left:-3.784320px;}
._4{margin-left:-2.394000px;}
._1{margin-left:-1.121280px;}
._3{width:1.037400px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:37.920000px;}
.fs1{font-size:42.000000px;}
.fs5{font-size:56.000000px;}
.fs2{font-size:61.920000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:70.080000px;}
.yf{bottom:17.000000px;}
.ye{bottom:52.520300px;}
.ye1{bottom:87.593300px;}
.y3b{bottom:87.596300px;}
.yd4{bottom:87.603800px;}
.y67{bottom:87.614300px;}
.y91{bottom:87.627800px;}
.ya5{bottom:87.635300px;}
.yd3{bottom:103.143800px;}
.ya4{bottom:103.175300px;}
.ye0{bottom:103.196300px;}
.y3a{bottom:103.199300px;}
.y66{bottom:103.217300px;}
.y90{bottom:103.230800px;}
.yd2{bottom:118.799300px;}
.y39{bottom:118.802300px;}
.y65{bottom:118.820300px;}
.ya3{bottom:118.830800px;}
.y8f{bottom:118.833800px;}
.ya2{bottom:134.370800px;}
.yd1{bottom:134.402300px;}
.y38{bottom:134.405300px;}
.y64{bottom:134.423300px;}
.y8e{bottom:134.436800px;}
.yc0{bottom:149.963300px;}
.yd0{bottom:150.005300px;}
.y37{bottom:150.008300px;}
.y63{bottom:150.026300px;}
.y8d{bottom:150.039800px;}
.yc6{bottom:165.566300px;}
.ycf{bottom:165.608300px;}
.y36{bottom:165.611300px;}
.ybf{bottom:165.618800px;}
.y62{bottom:165.629300px;}
.y8c{bottom:165.642800px;}
.ydc{bottom:181.151300px;}
.ybe{bottom:181.158800px;}
.y8b{bottom:181.182800px;}
.yce{bottom:181.211300px;}
.y35{bottom:181.214300px;}
.yc5{bottom:181.221800px;}
.y61{bottom:181.232300px;}
.yc4{bottom:196.761800px;}
.ydb{bottom:196.806800px;}
.ybd{bottom:196.814300px;}
.y34{bottom:196.817300px;}
.y60{bottom:196.835300px;}
.y8a{bottom:196.838300px;}
.yda{bottom:212.346800px;}
.y89{bottom:212.378300px;}
.ybc{bottom:212.417300px;}
.y33{bottom:212.420300px;}
.y5f{bottom:212.438300px;}
.yd9{bottom:228.002300px;}
.ybb{bottom:228.020300px;}
.y32{bottom:228.023300px;}
.y88{bottom:228.033800px;}
.y5e{bottom:228.041300px;}
.y5d{bottom:243.581300px;}
.yd8{bottom:243.605300px;}
.yba{bottom:243.623300px;}
.y31{bottom:243.626300px;}
.y87{bottom:243.636800px;}
.ya1{bottom:243.644300px;}
.y30{bottom:259.166300px;}
.yd7{bottom:259.208300px;}
.yb9{bottom:259.226300px;}
.y5c{bottom:259.236800px;}
.y86{bottom:259.239800px;}
.ya0{bottom:259.247300px;}
.y5b{bottom:274.776800px;}
.yd6{bottom:274.811300px;}
.y2f{bottom:274.821800px;}
.yb8{bottom:274.829300px;}
.y85{bottom:274.842800px;}
.y9f{bottom:274.850300px;}
.y2e{bottom:290.361800px;}
.y9e{bottom:290.390300px;}
.yd5{bottom:290.414300px;}
.y5a{bottom:290.432300px;}
.y84{bottom:290.445800px;}
.y2d{bottom:306.017300px;}
.y59{bottom:306.035300px;}
.y9d{bottom:306.045800px;}
.y83{bottom:306.048800px;}
.y9c{bottom:321.585800px;}
.y2c{bottom:321.620300px;}
.y58{bottom:321.638300px;}
.y82{bottom:321.651800px;}
.ycd{bottom:337.178300px;}
.y2b{bottom:337.223300px;}
.y57{bottom:337.241300px;}
.y81{bottom:337.254800px;}
.yb7{bottom:352.781300px;}
.y80{bottom:352.794800px;}
.y2a{bottom:352.826300px;}
.ycc{bottom:352.833800px;}
.y56{bottom:352.844300px;}
.yd{bottom:358.887980px;}
.ycb{bottom:368.373800px;}
.y29{bottom:368.429300px;}
.yb6{bottom:368.436800px;}
.y55{bottom:368.447300px;}
.y7f{bottom:368.450300px;}
.yb5{bottom:383.976800px;}
.y7e{bottom:383.990300px;}
.yca{bottom:384.029300px;}
.y28{bottom:384.032300px;}
.y54{bottom:384.050300px;}
.yc{bottom:390.080180px;}
.yb4{bottom:399.632300px;}
.y27{bottom:399.635300px;}
.y7d{bottom:399.645800px;}
.y53{bottom:399.653300px;}
.yb3{bottom:415.235300px;}
.y26{bottom:415.238300px;}
.y7c{bottom:415.248800px;}
.y52{bottom:415.256300px;}
.ya{bottom:420.550940px;}
.yb{bottom:420.560300px;}
.y51{bottom:430.796300px;}
.yb2{bottom:430.838300px;}
.y25{bottom:430.841300px;}
.y7b{bottom:430.851800px;}
.y9b{bottom:430.859300px;}
.yb1{bottom:446.441300px;}
.y24{bottom:446.444300px;}
.y50{bottom:446.451800px;}
.y7a{bottom:446.454800px;}
.y9a{bottom:446.462300px;}
.y9{bottom:451.754060px;}
.y23{bottom:461.984300px;}
.y4f{bottom:461.991800px;}
.yb0{bottom:462.044300px;}
.y79{bottom:462.057800px;}
.y99{bottom:462.065300px;}
.y98{bottom:477.605300px;}
.y22{bottom:477.639800px;}
.y4e{bottom:477.647300px;}
.y78{bottom:477.660800px;}
.y8{bottom:482.957180px;}
.y21{bottom:493.179800px;}
.y4d{bottom:493.250300px;}
.y97{bottom:493.260800px;}
.y77{bottom:493.263800px;}
.y96{bottom:508.800800px;}
.y20{bottom:508.835300px;}
.y4c{bottom:508.853300px;}
.y76{bottom:508.866800px;}
.y7{bottom:514.160300px;}
.y1f{bottom:524.438300px;}
.y4b{bottom:524.456300px;}
.y75{bottom:524.469800px;}
.y74{bottom:540.009800px;}
.y1e{bottom:540.041300px;}
.y4a{bottom:540.059300px;}
.y6{bottom:546.083180px;}
.y1d{bottom:555.644300px;}
.y49{bottom:555.662300px;}
.y73{bottom:555.665300px;}
.yaf{bottom:571.202300px;}
.y72{bottom:571.205300px;}
.y1c{bottom:571.247300px;}
.y48{bottom:571.265300px;}
.y0{bottom:573.000000px;}
.y5{bottom:573.080300px;}
.y1b{bottom:586.850300px;}
.yae{bottom:586.857800px;}
.y71{bottom:586.860800px;}
.y47{bottom:586.868300px;}
.yad{bottom:602.397800px;}
.yc9{bottom:602.408300px;}
.y1a{bottom:602.453300px;}
.y70{bottom:602.463800px;}
.y46{bottom:602.471300px;}
.yc3{bottom:618.011300px;}
.yac{bottom:618.053300px;}
.y19{bottom:618.056300px;}
.yc8{bottom:618.063800px;}
.y6f{bottom:618.066800px;}
.y45{bottom:618.074300px;}
.yc7{bottom:633.603800px;}
.yab{bottom:633.656300px;}
.y18{bottom:633.659300px;}
.yc2{bottom:633.666800px;}
.y6e{bottom:633.669800px;}
.y44{bottom:633.677300px;}
.yc1{bottom:649.206800px;}
.ydf{bottom:649.217300px;}
.yaa{bottom:649.259300px;}
.y17{bottom:649.262300px;}
.y6d{bottom:649.272800px;}
.y43{bottom:649.280300px;}
.ya9{bottom:664.862300px;}
.y16{bottom:664.865300px;}
.yde{bottom:664.872800px;}
.y6c{bottom:664.875800px;}
.y42{bottom:664.883300px;}
.ydd{bottom:680.412800px;}
.y95{bottom:680.423300px;}
.ya8{bottom:680.465300px;}
.y15{bottom:680.468300px;}
.y6b{bottom:680.478800px;}
.y41{bottom:680.486300px;}
.y4{bottom:686.495900px;}
.y40{bottom:696.026300px;}
.ya7{bottom:696.068300px;}
.y14{bottom:696.071300px;}
.y94{bottom:696.078800px;}
.y6a{bottom:696.081800px;}
.y93{bottom:711.618800px;}
.ya6{bottom:711.671300px;}
.y13{bottom:711.674300px;}
.y3f{bottom:711.681800px;}
.y69{bottom:711.684800px;}
.y3{bottom:717.688100px;}
.y3e{bottom:727.221800px;}
.y68{bottom:727.224800px;}
.y92{bottom:727.274300px;}
.y12{bottom:727.277300px;}
.y3d{bottom:742.877300px;}
.y11{bottom:742.880300px;}
.y2{bottom:748.880300px;}
.y10{bottom:758.420300px;}
.y3c{bottom:758.480300px;}
.y1{bottom:784.580300px;}
.h5{height:42.067500px;}
.h8{height:46.593750px;}
.h7{height:48.090820px;}
.h6{height:69.015625px;}
.h3{height:70.899609px;}
.h2{height:73.372852px;}
.h4{height:80.242969px;}
.h1{height:98.000000px;}
.h0{height:842.000000px;}
.w1{width:342.500000px;}
.w0{width:595.220000px;}
.xa{left:90.000000px;}
.x0{left:126.500000px;}
.x9{left:245.000000px;}
.x5{left:250.519680px;}
.x7{left:260.887440px;}
.x4{left:263.940000px;}
.x1{left:266.820000px;}
.x2{left:297.660000px;}
.x6{left:344.820000px;}
.x3{left:468.660000px;}
.x8{left:492.900000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls25{letter-spacing:-1.758400pt;}
.ls26{letter-spacing:-0.246400pt;}
.ls1d{letter-spacing:-0.224000pt;}
.ls31{letter-spacing:-0.196000pt;}
.ls32{letter-spacing:-0.173600pt;}
.ls28{letter-spacing:-0.134400pt;}
.ls12{letter-spacing:-0.128800pt;}
.ls35{letter-spacing:-0.117600pt;}
.ls24{letter-spacing:-0.112000pt;}
.ls2b{letter-spacing:-0.089600pt;}
.ls0{letter-spacing:-0.085440pt;}
.ls21{letter-spacing:-0.084000pt;}
.ls4{letter-spacing:-0.074752pt;}
.ls2d{letter-spacing:-0.072800pt;}
.ls34{letter-spacing:-0.067200pt;}
.ls29{letter-spacing:-0.056000pt;}
.ls6{letter-spacing:-0.050400pt;}
.ls2{letter-spacing:-0.046720pt;}
.ls33{letter-spacing:-0.044800pt;}
.ls15{letter-spacing:-0.039200pt;}
.ls3{letter-spacing:-0.037376pt;}
.ls27{letter-spacing:-0.033600pt;}
.ls2a{letter-spacing:-0.028000pt;}
.ls20{letter-spacing:-0.022400pt;}
.ls13{letter-spacing:-0.005600pt;}
.ls1{letter-spacing:0.000000pt;}
.lsd{letter-spacing:0.005600pt;}
.ls5{letter-spacing:0.008256pt;}
.ls23{letter-spacing:0.011200pt;}
.ls22{letter-spacing:0.016800pt;}
.ls2e{letter-spacing:0.022400pt;}
.ls8{letter-spacing:0.028000pt;}
.ls2c{letter-spacing:0.033600pt;}
.ls11{letter-spacing:0.039200pt;}
.ls18{letter-spacing:0.044800pt;}
.lsb{letter-spacing:0.050400pt;}
.lsa{letter-spacing:0.056000pt;}
.ls14{letter-spacing:0.061600pt;}
.lsf{letter-spacing:0.067200pt;}
.lsc{letter-spacing:0.072800pt;}
.ls1c{letter-spacing:0.078400pt;}
.lse{letter-spacing:0.084000pt;}
.ls16{letter-spacing:0.089600pt;}
.ls10{letter-spacing:0.095200pt;}
.ls17{letter-spacing:0.100800pt;}
.ls1b{letter-spacing:0.106400pt;}
.ls1a{letter-spacing:0.112000pt;}
.ls1e{letter-spacing:0.117600pt;}
.ls19{letter-spacing:0.123200pt;}
.ls9{letter-spacing:0.128800pt;}
.ls30{letter-spacing:0.134400pt;}
.ls7{letter-spacing:0.162400pt;}
.ls1f{letter-spacing:0.196000pt;}
.ls2f{letter-spacing:1.999200pt;}
.ws20{word-spacing:-0.369600pt;}
.ws62{word-spacing:-0.347200pt;}
.ws17{word-spacing:-0.341600pt;}
.ws3e{word-spacing:-0.324800pt;}
.ws63{word-spacing:-0.313600pt;}
.ws88{word-spacing:-0.308000pt;}
.ws35{word-spacing:-0.296800pt;}
.ws90{word-spacing:-0.291200pt;}
.ws47{word-spacing:-0.280000pt;}
.ws1{word-spacing:-0.084096pt;}
.ws65{word-spacing:-0.056000pt;}
.ws4a{word-spacing:-0.050400pt;}
.ws19{word-spacing:-0.044800pt;}
.ws41{word-spacing:-0.039200pt;}
.ws1a{word-spacing:-0.033600pt;}
.ws1e{word-spacing:-0.028000pt;}
.ws28{word-spacing:-0.022400pt;}
.wsd{word-spacing:-0.016800pt;}
.ws2f{word-spacing:-0.011200pt;}
.wsa{word-spacing:-0.005600pt;}
.ws0{word-spacing:0.000000pt;}
.ws11{word-spacing:0.005600pt;}
.ws57{word-spacing:0.011200pt;}
.ws2e{word-spacing:0.016800pt;}
.ws6{word-spacing:0.022400pt;}
.ws7{word-spacing:0.028000pt;}
.ws18{word-spacing:0.033600pt;}
.ws4c{word-spacing:0.039200pt;}
.ws5c{word-spacing:0.044800pt;}
.ws60{word-spacing:0.050400pt;}
.ws5d{word-spacing:0.056000pt;}
.ws3a{word-spacing:0.061600pt;}
.ws3d{word-spacing:0.067200pt;}
.ws83{word-spacing:0.072800pt;}
.ws46{word-spacing:0.078400pt;}
.ws3b{word-spacing:0.084000pt;}
.ws4e{word-spacing:0.106400pt;}
.ws49{word-spacing:0.112000pt;}
.ws3c{word-spacing:0.128800pt;}
.ws4d{word-spacing:0.134400pt;}
.ws5b{word-spacing:0.151200pt;}
.ws34{word-spacing:0.162400pt;}
.ws4f{word-spacing:0.168000pt;}
.ws82{word-spacing:0.252000pt;}
.ws95{word-spacing:0.263200pt;}
.ws53{word-spacing:0.268800pt;}
.ws54{word-spacing:0.313600pt;}
.ws45{word-spacing:0.324800pt;}
.ws52{word-spacing:0.347200pt;}
.ws3{word-spacing:0.448000pt;}
.ws2{word-spacing:0.470592pt;}
.ws71{word-spacing:0.610400pt;}
.ws42{word-spacing:0.940800pt;}
.ws6c{word-spacing:0.980000pt;}
.ws6d{word-spacing:1.008000pt;}
.ws72{word-spacing:1.254400pt;}
.ws5a{word-spacing:1.271200pt;}
.ws73{word-spacing:1.282400pt;}
.ws10{word-spacing:1.584800pt;}
.ws44{word-spacing:1.596000pt;}
.ws75{word-spacing:1.612800pt;}
.ws74{word-spacing:1.624000pt;}
.ws8e{word-spacing:1.898400pt;}
.ws5f{word-spacing:1.904000pt;}
.ws50{word-spacing:1.915200pt;}
.ws24{word-spacing:1.920800pt;}
.ws5e{word-spacing:1.982400pt;}
.ws84{word-spacing:2.228800pt;}
.ws2a{word-spacing:2.234400pt;}
.ws55{word-spacing:2.245600pt;}
.ws98{word-spacing:2.251200pt;}
.ws97{word-spacing:2.430400pt;}
.ws37{word-spacing:2.525600pt;}
.ws43{word-spacing:2.542400pt;}
.ws36{word-spacing:2.548000pt;}
.ws8a{word-spacing:2.564800pt;}
.ws56{word-spacing:2.604000pt;}
.ws89{word-spacing:2.704800pt;}
.ws7f{word-spacing:2.727200pt;}
.ws6e{word-spacing:2.856000pt;}
.ws27{word-spacing:2.889600pt;}
.ws31{word-spacing:3.802400pt;}
.ws30{word-spacing:3.841600pt;}
.ws76{word-spacing:4.149600pt;}
.ws80{word-spacing:4.474400pt;}
.ws1d{word-spacing:4.480000pt;}
.ws70{word-spacing:4.491200pt;}
.ws6f{word-spacing:4.496800pt;}
.ws81{word-spacing:4.502400pt;}
.ws7a{word-spacing:4.508000pt;}
.ws16{word-spacing:4.788000pt;}
.ws67{word-spacing:4.793600pt;}
.ws77{word-spacing:4.804800pt;}
.ws66{word-spacing:4.810400pt;}
.ws78{word-spacing:4.821600pt;}
.ws8f{word-spacing:4.838400pt;}
.ws23{word-spacing:5.124000pt;}
.ws1c{word-spacing:5.415200pt;}
.ws1b{word-spacing:5.426400pt;}
.ws7b{word-spacing:5.432000pt;}
.ws9e{word-spacing:5.454400pt;}
.ws7c{word-spacing:5.482400pt;}
.ws79{word-spacing:5.560800pt;}
.ws51{word-spacing:5.740000pt;}
.ws2c{word-spacing:5.768000pt;}
.ws9c{word-spacing:5.773600pt;}
.ws9b{word-spacing:5.812800pt;}
.ws15{word-spacing:6.064800pt;}
.ws2b{word-spacing:6.070400pt;}
.ws4{word-spacing:6.132000pt;}
.ws5{word-spacing:6.350400pt;}
.ws29{word-spacing:6.378400pt;}
.ws1f{word-spacing:6.692000pt;}
.ws61{word-spacing:6.697600pt;}
.ws6b{word-spacing:6.776000pt;}
.ws6a{word-spacing:6.994400pt;}
.ws25{word-spacing:7.033600pt;}
.ws26{word-spacing:7.067200pt;}
.ws38{word-spacing:7.352800pt;}
.ws39{word-spacing:7.369600pt;}
.ws33{word-spacing:7.375200pt;}
.ws32{word-spacing:7.386400pt;}
.ws2d{word-spacing:7.392000pt;}
.ws40{word-spacing:8.052800pt;}
.ws3f{word-spacing:8.192800pt;}
.ws8d{word-spacing:8.338400pt;}
.ws8c{word-spacing:8.366400pt;}
.ws64{word-spacing:8.640800pt;}
.ws4b{word-spacing:8.853600pt;}
.ws8b{word-spacing:8.937600pt;}
.ws99{word-spacing:8.954400pt;}
.wsc{word-spacing:8.965600pt;}
.ws86{word-spacing:9.290400pt;}
.ws85{word-spacing:9.301600pt;}
.ws9a{word-spacing:9.475200pt;}
.ws96{word-spacing:9.581600pt;}
.ws48{word-spacing:9.895200pt;}
.ws9d{word-spacing:9.945600pt;}
.ws87{word-spacing:11.816000pt;}
.ws8{word-spacing:13.764800pt;}
.ws14{word-spacing:13.776000pt;}
.wse{word-spacing:13.798400pt;}
.wsf{word-spacing:13.809600pt;}
.ws9{word-spacing:13.832000pt;}
.ws13{word-spacing:13.843200pt;}
.ws12{word-spacing:13.966400pt;}
.ws22{word-spacing:14.044800pt;}
.wsb{word-spacing:14.095200pt;}
.ws92{word-spacing:14.112000pt;}
.ws91{word-spacing:14.123200pt;}
.ws21{word-spacing:14.386400pt;}
.ws69{word-spacing:14.408800pt;}
.ws94{word-spacing:14.420000pt;}
.ws93{word-spacing:14.442400pt;}
.ws7d{word-spacing:15.652000pt;}
.ws7e{word-spacing:15.713600pt;}
.ws59{word-spacing:16.615200pt;}
.ws58{word-spacing:16.671200pt;}
.ws68{word-spacing:32.978400pt;}
._0{margin-left:-7.945920pt;}
._2{margin-left:-5.045760pt;}
._4{margin-left:-3.192000pt;}
._1{margin-left:-1.495040pt;}
._3{width:1.383200pt;}
.fs4{font-size:50.560000pt;}
.fs1{font-size:56.000000pt;}
.fs5{font-size:74.666667pt;}
.fs2{font-size:82.560000pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:93.440000pt;}
.yf{bottom:22.666667pt;}
.ye{bottom:70.027067pt;}
.ye1{bottom:116.791067pt;}
.y3b{bottom:116.795067pt;}
.yd4{bottom:116.805067pt;}
.y67{bottom:116.819067pt;}
.y91{bottom:116.837067pt;}
.ya5{bottom:116.847067pt;}
.yd3{bottom:137.525067pt;}
.ya4{bottom:137.567067pt;}
.ye0{bottom:137.595067pt;}
.y3a{bottom:137.599067pt;}
.y66{bottom:137.623067pt;}
.y90{bottom:137.641067pt;}
.yd2{bottom:158.399067pt;}
.y39{bottom:158.403067pt;}
.y65{bottom:158.427067pt;}
.ya3{bottom:158.441067pt;}
.y8f{bottom:158.445067pt;}
.ya2{bottom:179.161067pt;}
.yd1{bottom:179.203067pt;}
.y38{bottom:179.207067pt;}
.y64{bottom:179.231067pt;}
.y8e{bottom:179.249067pt;}
.yc0{bottom:199.951067pt;}
.yd0{bottom:200.007067pt;}
.y37{bottom:200.011067pt;}
.y63{bottom:200.035067pt;}
.y8d{bottom:200.053067pt;}
.yc6{bottom:220.755067pt;}
.ycf{bottom:220.811067pt;}
.y36{bottom:220.815067pt;}
.ybf{bottom:220.825067pt;}
.y62{bottom:220.839067pt;}
.y8c{bottom:220.857067pt;}
.ydc{bottom:241.535067pt;}
.ybe{bottom:241.545067pt;}
.y8b{bottom:241.577067pt;}
.yce{bottom:241.615067pt;}
.y35{bottom:241.619067pt;}
.yc5{bottom:241.629067pt;}
.y61{bottom:241.643067pt;}
.yc4{bottom:262.349067pt;}
.ydb{bottom:262.409067pt;}
.ybd{bottom:262.419067pt;}
.y34{bottom:262.423067pt;}
.y60{bottom:262.447067pt;}
.y8a{bottom:262.451067pt;}
.yda{bottom:283.129067pt;}
.y89{bottom:283.171067pt;}
.ybc{bottom:283.223067pt;}
.y33{bottom:283.227067pt;}
.y5f{bottom:283.251067pt;}
.yd9{bottom:304.003067pt;}
.ybb{bottom:304.027067pt;}
.y32{bottom:304.031067pt;}
.y88{bottom:304.045067pt;}
.y5e{bottom:304.055067pt;}
.y5d{bottom:324.775067pt;}
.yd8{bottom:324.807067pt;}
.yba{bottom:324.831067pt;}
.y31{bottom:324.835067pt;}
.y87{bottom:324.849067pt;}
.ya1{bottom:324.859067pt;}
.y30{bottom:345.555067pt;}
.yd7{bottom:345.611067pt;}
.yb9{bottom:345.635067pt;}
.y5c{bottom:345.649067pt;}
.y86{bottom:345.653067pt;}
.ya0{bottom:345.663067pt;}
.y5b{bottom:366.369067pt;}
.yd6{bottom:366.415067pt;}
.y2f{bottom:366.429067pt;}
.yb8{bottom:366.439067pt;}
.y85{bottom:366.457067pt;}
.y9f{bottom:366.467067pt;}
.y2e{bottom:387.149067pt;}
.y9e{bottom:387.187067pt;}
.yd5{bottom:387.219067pt;}
.y5a{bottom:387.243067pt;}
.y84{bottom:387.261067pt;}
.y2d{bottom:408.023067pt;}
.y59{bottom:408.047067pt;}
.y9d{bottom:408.061067pt;}
.y83{bottom:408.065067pt;}
.y9c{bottom:428.781067pt;}
.y2c{bottom:428.827067pt;}
.y58{bottom:428.851067pt;}
.y82{bottom:428.869067pt;}
.ycd{bottom:449.571067pt;}
.y2b{bottom:449.631067pt;}
.y57{bottom:449.655067pt;}
.y81{bottom:449.673067pt;}
.yb7{bottom:470.375067pt;}
.y80{bottom:470.393067pt;}
.y2a{bottom:470.435067pt;}
.ycc{bottom:470.445067pt;}
.y56{bottom:470.459067pt;}
.yd{bottom:478.517307pt;}
.ycb{bottom:491.165067pt;}
.y29{bottom:491.239067pt;}
.yb6{bottom:491.249067pt;}
.y55{bottom:491.263067pt;}
.y7f{bottom:491.267067pt;}
.yb5{bottom:511.969067pt;}
.y7e{bottom:511.987067pt;}
.yca{bottom:512.039067pt;}
.y28{bottom:512.043067pt;}
.y54{bottom:512.067067pt;}
.yc{bottom:520.106907pt;}
.yb4{bottom:532.843067pt;}
.y27{bottom:532.847067pt;}
.y7d{bottom:532.861067pt;}
.y53{bottom:532.871067pt;}
.yb3{bottom:553.647067pt;}
.y26{bottom:553.651067pt;}
.y7c{bottom:553.665067pt;}
.y52{bottom:553.675067pt;}
.ya{bottom:560.734587pt;}
.yb{bottom:560.747067pt;}
.y51{bottom:574.395067pt;}
.yb2{bottom:574.451067pt;}
.y25{bottom:574.455067pt;}
.y7b{bottom:574.469067pt;}
.y9b{bottom:574.479067pt;}
.yb1{bottom:595.255067pt;}
.y24{bottom:595.259067pt;}
.y50{bottom:595.269067pt;}
.y7a{bottom:595.273067pt;}
.y9a{bottom:595.283067pt;}
.y9{bottom:602.338747pt;}
.y23{bottom:615.979067pt;}
.y4f{bottom:615.989067pt;}
.yb0{bottom:616.059067pt;}
.y79{bottom:616.077067pt;}
.y99{bottom:616.087067pt;}
.y98{bottom:636.807067pt;}
.y22{bottom:636.853067pt;}
.y4e{bottom:636.863067pt;}
.y78{bottom:636.881067pt;}
.y8{bottom:643.942907pt;}
.y21{bottom:657.573067pt;}
.y4d{bottom:657.667067pt;}
.y97{bottom:657.681067pt;}
.y77{bottom:657.685067pt;}
.y96{bottom:678.401067pt;}
.y20{bottom:678.447067pt;}
.y4c{bottom:678.471067pt;}
.y76{bottom:678.489067pt;}
.y7{bottom:685.547067pt;}
.y1f{bottom:699.251067pt;}
.y4b{bottom:699.275067pt;}
.y75{bottom:699.293067pt;}
.y74{bottom:720.013067pt;}
.y1e{bottom:720.055067pt;}
.y4a{bottom:720.079067pt;}
.y6{bottom:728.110907pt;}
.y1d{bottom:740.859067pt;}
.y49{bottom:740.883067pt;}
.y73{bottom:740.887067pt;}
.yaf{bottom:761.603067pt;}
.y72{bottom:761.607067pt;}
.y1c{bottom:761.663067pt;}
.y48{bottom:761.687067pt;}
.y0{bottom:764.000000pt;}
.y5{bottom:764.107067pt;}
.y1b{bottom:782.467067pt;}
.yae{bottom:782.477067pt;}
.y71{bottom:782.481067pt;}
.y47{bottom:782.491067pt;}
.yad{bottom:803.197067pt;}
.yc9{bottom:803.211067pt;}
.y1a{bottom:803.271067pt;}
.y70{bottom:803.285067pt;}
.y46{bottom:803.295067pt;}
.yc3{bottom:824.015067pt;}
.yac{bottom:824.071067pt;}
.y19{bottom:824.075067pt;}
.yc8{bottom:824.085067pt;}
.y6f{bottom:824.089067pt;}
.y45{bottom:824.099067pt;}
.yc7{bottom:844.805067pt;}
.yab{bottom:844.875067pt;}
.y18{bottom:844.879067pt;}
.yc2{bottom:844.889067pt;}
.y6e{bottom:844.893067pt;}
.y44{bottom:844.903067pt;}
.yc1{bottom:865.609067pt;}
.ydf{bottom:865.623067pt;}
.yaa{bottom:865.679067pt;}
.y17{bottom:865.683067pt;}
.y6d{bottom:865.697067pt;}
.y43{bottom:865.707067pt;}
.ya9{bottom:886.483067pt;}
.y16{bottom:886.487067pt;}
.yde{bottom:886.497067pt;}
.y6c{bottom:886.501067pt;}
.y42{bottom:886.511067pt;}
.ydd{bottom:907.217067pt;}
.y95{bottom:907.231067pt;}
.ya8{bottom:907.287067pt;}
.y15{bottom:907.291067pt;}
.y6b{bottom:907.305067pt;}
.y41{bottom:907.315067pt;}
.y4{bottom:915.327867pt;}
.y40{bottom:928.035067pt;}
.ya7{bottom:928.091067pt;}
.y14{bottom:928.095067pt;}
.y94{bottom:928.105067pt;}
.y6a{bottom:928.109067pt;}
.y93{bottom:948.825067pt;}
.ya6{bottom:948.895067pt;}
.y13{bottom:948.899067pt;}
.y3f{bottom:948.909067pt;}
.y69{bottom:948.913067pt;}
.y3{bottom:956.917467pt;}
.y3e{bottom:969.629067pt;}
.y68{bottom:969.633067pt;}
.y92{bottom:969.699067pt;}
.y12{bottom:969.703067pt;}
.y3d{bottom:990.503067pt;}
.y11{bottom:990.507067pt;}
.y2{bottom:998.507067pt;}
.y10{bottom:1011.227067pt;}
.y3c{bottom:1011.307067pt;}
.y1{bottom:1046.107067pt;}
.h5{height:56.090000pt;}
.h8{height:62.125000pt;}
.h7{height:64.121094pt;}
.h6{height:92.020833pt;}
.h3{height:94.532812pt;}
.h2{height:97.830469pt;}
.h4{height:106.990625pt;}
.h1{height:130.666667pt;}
.h0{height:1122.666667pt;}
.w1{width:456.666667pt;}
.w0{width:793.626667pt;}
.xa{left:120.000000pt;}
.x0{left:168.666667pt;}
.x9{left:326.666667pt;}
.x5{left:334.026240pt;}
.x7{left:347.849920pt;}
.x4{left:351.920000pt;}
.x1{left:355.760000pt;}
.x2{left:396.880000pt;}
.x6{left:459.760000pt;}
.x3{left:624.880000pt;}
.x8{left:657.200000pt;}
}
