.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-0.076896px;}
.ls16{letter-spacing:-0.072000px;}
.lsc{letter-spacing:-0.062400px;}
.ls4{letter-spacing:-0.044856px;}
.ls1c{letter-spacing:-0.024000px;}
.ls6{letter-spacing:-0.019200px;}
.ls1b{letter-spacing:-0.014400px;}
.ls18{letter-spacing:-0.009600px;}
.ls9{letter-spacing:-0.004800px;}
.ls1{letter-spacing:0.000000px;}
.ls7{letter-spacing:0.004800px;}
.lsa{letter-spacing:0.009600px;}
.lsf{letter-spacing:0.014400px;}
.ls15{letter-spacing:0.019200px;}
.ls3{letter-spacing:0.023976px;}
.ls8{letter-spacing:0.024000px;}
.lse{letter-spacing:0.028800px;}
.ls14{letter-spacing:0.033600px;}
.ls11{letter-spacing:0.038400px;}
.ls10{letter-spacing:0.043200px;}
.lsd{letter-spacing:0.048000px;}
.ls13{letter-spacing:0.052800px;}
.ls1a{letter-spacing:0.057600px;}
.ls17{letter-spacing:0.062400px;}
.ls0{letter-spacing:0.064080px;}
.ls12{letter-spacing:0.067200px;}
.lsb{letter-spacing:0.081600px;}
.ls19{letter-spacing:0.091200px;}
.ls5{letter-spacing:564.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws19{word-spacing:-0.187200px;}
.ws30{word-spacing:-0.163200px;}
.ws21{word-spacing:-0.158400px;}
.ws2b{word-spacing:-0.148800px;}
.ws2c{word-spacing:-0.144000px;}
.ws12{word-spacing:-0.139200px;}
.ws2{word-spacing:-0.134568px;}
.wsc{word-spacing:-0.134400px;}
.ws2a{word-spacing:-0.129600px;}
.ws1f{word-spacing:-0.124800px;}
.ws2f{word-spacing:-0.120000px;}
.ws28{word-spacing:-0.115200px;}
.ws2e{word-spacing:-0.110400px;}
.ws1e{word-spacing:-0.105600px;}
.ws29{word-spacing:-0.096000px;}
.ws23{word-spacing:-0.091200px;}
.ws1{word-spacing:-0.087912px;}
.ws26{word-spacing:-0.086400px;}
.ws4{word-spacing:-0.081600px;}
.wsb{word-spacing:-0.076800px;}
.ws18{word-spacing:-0.072000px;}
.ws10{word-spacing:-0.067200px;}
.ws1d{word-spacing:-0.062400px;}
.ws27{word-spacing:-0.057600px;}
.ws1c{word-spacing:-0.052800px;}
.ws16{word-spacing:-0.048000px;}
.wsd{word-spacing:-0.043200px;}
.wsf{word-spacing:-0.038400px;}
.ws13{word-spacing:-0.033600px;}
.ws9{word-spacing:-0.028800px;}
.ws6{word-spacing:-0.024000px;}
.ws14{word-spacing:-0.019200px;}
.ws1a{word-spacing:-0.014400px;}
.ws8{word-spacing:-0.009600px;}
.ws5{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.ws7{word-spacing:0.004800px;}
.ws1b{word-spacing:0.009600px;}
.ws17{word-spacing:0.014400px;}
.ws3{word-spacing:0.019200px;}
.ws11{word-spacing:0.024000px;}
.ws20{word-spacing:0.028800px;}
.wse{word-spacing:0.038400px;}
.wsa{word-spacing:0.062400px;}
.ws25{word-spacing:0.067200px;}
.ws15{word-spacing:0.072000px;}
.ws24{word-spacing:0.076800px;}
.ws2d{word-spacing:0.081600px;}
.ws22{word-spacing:0.129600px;}
._0{margin-left:-1.104000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs2{font-size:48.000000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:79.920000px;}
.ye{bottom:16.000000px;}
.yd{bottom:39.840100px;}
.y48{bottom:76.320000px;}
.y28{bottom:80.460000px;}
.y35{bottom:86.340000px;}
.y75{bottom:88.680000px;}
.y5a{bottom:96.300000px;}
.y47{bottom:102.180000px;}
.y27{bottom:106.320000px;}
.y34{bottom:112.200000px;}
.y74{bottom:114.600000px;}
.y82{bottom:118.080000px;}
.y59{bottom:122.160000px;}
.y46{bottom:128.040000px;}
.y26{bottom:132.180000px;}
.y81{bottom:133.920000px;}
.y33{bottom:138.060000px;}
.y73{bottom:140.460000px;}
.y4e{bottom:143.940000px;}
.y58{bottom:148.080000px;}
.y45{bottom:153.900000px;}
.y72{bottom:156.300000px;}
.y25{bottom:158.040000px;}
.y80{bottom:159.780000px;}
.y32{bottom:163.920000px;}
.y4d{bottom:169.800000px;}
.y71{bottom:172.200000px;}
.y57{bottom:173.940000px;}
.y44{bottom:179.760000px;}
.y24{bottom:183.900000px;}
.y4c{bottom:185.640000px;}
.y31{bottom:189.780000px;}
.y43{bottom:195.660000px;}
.y70{bottom:198.060000px;}
.y23{bottom:199.800000px;}
.y56{bottom:205.680000px;}
.y42{bottom:211.500000px;}
.y6f{bottom:213.900000px;}
.y30{bottom:215.640000px;}
.y22{bottom:225.660000px;}
.y55{bottom:231.540000px;}
.y41{bottom:237.420000px;}
.y6e{bottom:239.760000px;}
.y21{bottom:241.500000px;}
.y54{bottom:247.380000px;}
.y6d{bottom:255.660000px;}
.y2f{bottom:257.400000px;}
.y40{bottom:263.280000px;}
.y20{bottom:267.420000px;}
.y53{bottom:273.240000px;}
.y6c{bottom:281.520000px;}
.y1f{bottom:283.260000px;}
.y3f{bottom:289.140000px;}
.y7f{bottom:293.280000px;}
.y6b{bottom:297.420000px;}
.y2e{bottom:299.160000px;}
.y4b{bottom:304.980000px;}
.y1e{bottom:309.120000px;}
.y3e{bottom:315.000000px;}
.y7e{bottom:319.140000px;}
.y6a{bottom:323.280000px;}
.y2d{bottom:325.020000px;}
.y4a{bottom:330.900000px;}
.y1d{bottom:334.980000px;}
.y2c{bottom:340.860000px;}
.y69{bottom:349.140000px;}
.y5b{bottom:350.880000px;}
.y49{bottom:356.760000px;}
.y1c{bottom:360.900000px;}
.y68{bottom:364.980000px;}
.yc{bottom:365.340000px;}
.y2b{bottom:366.720000px;}
.y1b{bottom:376.740000px;}
.y67{bottom:380.880000px;}
.y2a{bottom:382.620000px;}
.y1a{bottom:392.580000px;}
.yb{bottom:392.751240px;}
.y66{bottom:396.720000px;}
.y52{bottom:398.460000px;}
.y7d{bottom:402.600000px;}
.y19{bottom:408.480000px;}
.y65{bottom:412.620000px;}
.y3d{bottom:418.500000px;}
.y51{bottom:424.320000px;}
.ya{bottom:425.400000px;}
.y9{bottom:425.402940px;}
.y7c{bottom:428.460000px;}
.y18{bottom:434.340000px;}
.y64{bottom:438.480000px;}
.y3c{bottom:444.360000px;}
.y50{bottom:450.240000px;}
.y8{bottom:451.856460px;}
.y7b{bottom:454.320000px;}
.y17{bottom:460.200000px;}
.y63{bottom:464.340000px;}
.y3b{bottom:470.220000px;}
.y4f{bottom:476.100000px;}
.y7a{bottom:480.240000px;}
.y16{bottom:486.060000px;}
.y7{bottom:488.280000px;}
.y62{bottom:490.200000px;}
.y79{bottom:496.080000px;}
.y3a{bottom:501.960000px;}
.y15{bottom:511.980000px;}
.y61{bottom:516.060000px;}
.y0{bottom:518.500000px;}
.y6{bottom:519.000000px;}
.y78{bottom:521.940000px;}
.y39{bottom:527.820000px;}
.y14{bottom:537.840000px;}
.y60{bottom:541.980000px;}
.y77{bottom:547.800000px;}
.y38{bottom:553.680000px;}
.y5f{bottom:557.820000px;}
.y13{bottom:563.700000px;}
.y76{bottom:573.660000px;}
.y37{bottom:579.540000px;}
.y5e{bottom:583.680000px;}
.y12{bottom:589.560000px;}
.y5d{bottom:599.580000px;}
.y36{bottom:605.400000px;}
.y11{bottom:615.420000px;}
.y5c{bottom:625.440000px;}
.y5{bottom:631.320000px;}
.y10{bottom:641.280000px;}
.y4{bottom:657.180000px;}
.yf{bottom:667.140000px;}
.y3{bottom:683.040000px;}
.y29{bottom:693.060000px;}
.y2{bottom:708.900000px;}
.y1{bottom:740.820000px;}
.h6{height:29.272852px;}
.h2{height:43.804688px;}
.h3{height:53.250000px;}
.h8{height:54.960938px;}
.h7{height:69.015625px;}
.h5{height:73.372852px;}
.h4{height:91.509961px;}
.h1{height:98.000000px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x2{left:72.000000px;}
.x5{left:82.144560px;}
.x0{left:135.500000px;}
.x9{left:253.000000px;}
.x4{left:266.520000px;}
.x1{left:278.640000px;}
.x6{left:282.124380px;}
.x7{left:329.880000px;}
.x3{left:477.720000px;}
.x8{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-0.102528pt;}
.ls16{letter-spacing:-0.096000pt;}
.lsc{letter-spacing:-0.083200pt;}
.ls4{letter-spacing:-0.059808pt;}
.ls1c{letter-spacing:-0.032000pt;}
.ls6{letter-spacing:-0.025600pt;}
.ls1b{letter-spacing:-0.019200pt;}
.ls18{letter-spacing:-0.012800pt;}
.ls9{letter-spacing:-0.006400pt;}
.ls1{letter-spacing:0.000000pt;}
.ls7{letter-spacing:0.006400pt;}
.lsa{letter-spacing:0.012800pt;}
.lsf{letter-spacing:0.019200pt;}
.ls15{letter-spacing:0.025600pt;}
.ls3{letter-spacing:0.031968pt;}
.ls8{letter-spacing:0.032000pt;}
.lse{letter-spacing:0.038400pt;}
.ls14{letter-spacing:0.044800pt;}
.ls11{letter-spacing:0.051200pt;}
.ls10{letter-spacing:0.057600pt;}
.lsd{letter-spacing:0.064000pt;}
.ls13{letter-spacing:0.070400pt;}
.ls1a{letter-spacing:0.076800pt;}
.ls17{letter-spacing:0.083200pt;}
.ls0{letter-spacing:0.085440pt;}
.ls12{letter-spacing:0.089600pt;}
.lsb{letter-spacing:0.108800pt;}
.ls19{letter-spacing:0.121600pt;}
.ls5{letter-spacing:752.000000pt;}
.ws19{word-spacing:-0.249600pt;}
.ws30{word-spacing:-0.217600pt;}
.ws21{word-spacing:-0.211200pt;}
.ws2b{word-spacing:-0.198400pt;}
.ws2c{word-spacing:-0.192000pt;}
.ws12{word-spacing:-0.185600pt;}
.ws2{word-spacing:-0.179424pt;}
.wsc{word-spacing:-0.179200pt;}
.ws2a{word-spacing:-0.172800pt;}
.ws1f{word-spacing:-0.166400pt;}
.ws2f{word-spacing:-0.160000pt;}
.ws28{word-spacing:-0.153600pt;}
.ws2e{word-spacing:-0.147200pt;}
.ws1e{word-spacing:-0.140800pt;}
.ws29{word-spacing:-0.128000pt;}
.ws23{word-spacing:-0.121600pt;}
.ws1{word-spacing:-0.117216pt;}
.ws26{word-spacing:-0.115200pt;}
.ws4{word-spacing:-0.108800pt;}
.wsb{word-spacing:-0.102400pt;}
.ws18{word-spacing:-0.096000pt;}
.ws10{word-spacing:-0.089600pt;}
.ws1d{word-spacing:-0.083200pt;}
.ws27{word-spacing:-0.076800pt;}
.ws1c{word-spacing:-0.070400pt;}
.ws16{word-spacing:-0.064000pt;}
.wsd{word-spacing:-0.057600pt;}
.wsf{word-spacing:-0.051200pt;}
.ws13{word-spacing:-0.044800pt;}
.ws9{word-spacing:-0.038400pt;}
.ws6{word-spacing:-0.032000pt;}
.ws14{word-spacing:-0.025600pt;}
.ws1a{word-spacing:-0.019200pt;}
.ws8{word-spacing:-0.012800pt;}
.ws5{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.ws7{word-spacing:0.006400pt;}
.ws1b{word-spacing:0.012800pt;}
.ws17{word-spacing:0.019200pt;}
.ws3{word-spacing:0.025600pt;}
.ws11{word-spacing:0.032000pt;}
.ws20{word-spacing:0.038400pt;}
.wse{word-spacing:0.051200pt;}
.wsa{word-spacing:0.083200pt;}
.ws25{word-spacing:0.089600pt;}
.ws15{word-spacing:0.096000pt;}
.ws24{word-spacing:0.102400pt;}
.ws2d{word-spacing:0.108800pt;}
.ws22{word-spacing:0.172800pt;}
._0{margin-left:-1.472000pt;}
.fs1{font-size:58.560000pt;}
.fs2{font-size:64.000000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:106.560000pt;}
.ye{bottom:21.333333pt;}
.yd{bottom:53.120133pt;}
.y48{bottom:101.760000pt;}
.y28{bottom:107.280000pt;}
.y35{bottom:115.120000pt;}
.y75{bottom:118.240000pt;}
.y5a{bottom:128.400000pt;}
.y47{bottom:136.240000pt;}
.y27{bottom:141.760000pt;}
.y34{bottom:149.600000pt;}
.y74{bottom:152.800000pt;}
.y82{bottom:157.440000pt;}
.y59{bottom:162.880000pt;}
.y46{bottom:170.720000pt;}
.y26{bottom:176.240000pt;}
.y81{bottom:178.560000pt;}
.y33{bottom:184.080000pt;}
.y73{bottom:187.280000pt;}
.y4e{bottom:191.920000pt;}
.y58{bottom:197.440000pt;}
.y45{bottom:205.200000pt;}
.y72{bottom:208.400000pt;}
.y25{bottom:210.720000pt;}
.y80{bottom:213.040000pt;}
.y32{bottom:218.560000pt;}
.y4d{bottom:226.400000pt;}
.y71{bottom:229.600000pt;}
.y57{bottom:231.920000pt;}
.y44{bottom:239.680000pt;}
.y24{bottom:245.200000pt;}
.y4c{bottom:247.520000pt;}
.y31{bottom:253.040000pt;}
.y43{bottom:260.880000pt;}
.y70{bottom:264.080000pt;}
.y23{bottom:266.400000pt;}
.y56{bottom:274.240000pt;}
.y42{bottom:282.000000pt;}
.y6f{bottom:285.200000pt;}
.y30{bottom:287.520000pt;}
.y22{bottom:300.880000pt;}
.y55{bottom:308.720000pt;}
.y41{bottom:316.560000pt;}
.y6e{bottom:319.680000pt;}
.y21{bottom:322.000000pt;}
.y54{bottom:329.840000pt;}
.y6d{bottom:340.880000pt;}
.y2f{bottom:343.200000pt;}
.y40{bottom:351.040000pt;}
.y20{bottom:356.560000pt;}
.y53{bottom:364.320000pt;}
.y6c{bottom:375.360000pt;}
.y1f{bottom:377.680000pt;}
.y3f{bottom:385.520000pt;}
.y7f{bottom:391.040000pt;}
.y6b{bottom:396.560000pt;}
.y2e{bottom:398.880000pt;}
.y4b{bottom:406.640000pt;}
.y1e{bottom:412.160000pt;}
.y3e{bottom:420.000000pt;}
.y7e{bottom:425.520000pt;}
.y6a{bottom:431.040000pt;}
.y2d{bottom:433.360000pt;}
.y4a{bottom:441.200000pt;}
.y1d{bottom:446.640000pt;}
.y2c{bottom:454.480000pt;}
.y69{bottom:465.520000pt;}
.y5b{bottom:467.840000pt;}
.y49{bottom:475.680000pt;}
.y1c{bottom:481.200000pt;}
.y68{bottom:486.640000pt;}
.yc{bottom:487.120000pt;}
.y2b{bottom:488.960000pt;}
.y1b{bottom:502.320000pt;}
.y67{bottom:507.840000pt;}
.y2a{bottom:510.160000pt;}
.y1a{bottom:523.440000pt;}
.yb{bottom:523.668320pt;}
.y66{bottom:528.960000pt;}
.y52{bottom:531.280000pt;}
.y7d{bottom:536.800000pt;}
.y19{bottom:544.640000pt;}
.y65{bottom:550.160000pt;}
.y3d{bottom:558.000000pt;}
.y51{bottom:565.760000pt;}
.ya{bottom:567.200000pt;}
.y9{bottom:567.203920pt;}
.y7c{bottom:571.280000pt;}
.y18{bottom:579.120000pt;}
.y64{bottom:584.640000pt;}
.y3c{bottom:592.480000pt;}
.y50{bottom:600.320000pt;}
.y8{bottom:602.475280pt;}
.y7b{bottom:605.760000pt;}
.y17{bottom:613.600000pt;}
.y63{bottom:619.120000pt;}
.y3b{bottom:626.960000pt;}
.y4f{bottom:634.800000pt;}
.y7a{bottom:640.320000pt;}
.y16{bottom:648.080000pt;}
.y7{bottom:651.040000pt;}
.y62{bottom:653.600000pt;}
.y79{bottom:661.440000pt;}
.y3a{bottom:669.280000pt;}
.y15{bottom:682.640000pt;}
.y61{bottom:688.080000pt;}
.y0{bottom:691.333333pt;}
.y6{bottom:692.000000pt;}
.y78{bottom:695.920000pt;}
.y39{bottom:703.760000pt;}
.y14{bottom:717.120000pt;}
.y60{bottom:722.640000pt;}
.y77{bottom:730.400000pt;}
.y38{bottom:738.240000pt;}
.y5f{bottom:743.760000pt;}
.y13{bottom:751.600000pt;}
.y76{bottom:764.880000pt;}
.y37{bottom:772.720000pt;}
.y5e{bottom:778.240000pt;}
.y12{bottom:786.080000pt;}
.y5d{bottom:799.440000pt;}
.y36{bottom:807.200000pt;}
.y11{bottom:820.560000pt;}
.y5c{bottom:833.920000pt;}
.y5{bottom:841.760000pt;}
.y10{bottom:855.040000pt;}
.y4{bottom:876.240000pt;}
.yf{bottom:889.520000pt;}
.y3{bottom:910.720000pt;}
.y29{bottom:924.080000pt;}
.y2{bottom:945.200000pt;}
.y1{bottom:987.760000pt;}
.h6{height:39.030469pt;}
.h2{height:58.406250pt;}
.h3{height:71.000000pt;}
.h8{height:73.281250pt;}
.h7{height:92.020833pt;}
.h5{height:97.830469pt;}
.h4{height:122.013281pt;}
.h1{height:130.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x2{left:96.000000pt;}
.x5{left:109.526080pt;}
.x0{left:180.666667pt;}
.x9{left:337.333333pt;}
.x4{left:355.360000pt;}
.x1{left:371.520000pt;}
.x6{left:376.165840pt;}
.x7{left:439.840000pt;}
.x3{left:636.960000pt;}
.x8{left:673.040000pt;}
}
