.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls18{letter-spacing:-1.680000px;}
.ls13{letter-spacing:-0.105600px;}
.lsc{letter-spacing:-0.096000px;}
.ls1f{letter-spacing:-0.072000px;}
.ls0{letter-spacing:-0.064080px;}
.ls1b{letter-spacing:-0.052800px;}
.ls1e{letter-spacing:-0.028800px;}
.ls2{letter-spacing:-0.022824px;}
.ls17{letter-spacing:-0.019200px;}
.ls10{letter-spacing:-0.014400px;}
.ls19{letter-spacing:-0.009600px;}
.ls14{letter-spacing:-0.004800px;}
.ls1{letter-spacing:0.000000px;}
.lsa{letter-spacing:0.004800px;}
.ls9{letter-spacing:0.009600px;}
.ls3{letter-spacing:0.014400px;}
.ls8{letter-spacing:0.019200px;}
.ls5{letter-spacing:0.024000px;}
.ls6{letter-spacing:0.028800px;}
.ls4{letter-spacing:0.033600px;}
.lsd{letter-spacing:0.038400px;}
.ls15{letter-spacing:0.043200px;}
.ls12{letter-spacing:0.048000px;}
.lsf{letter-spacing:0.052800px;}
.ls11{letter-spacing:0.057600px;}
.lse{letter-spacing:0.062400px;}
.ls16{letter-spacing:0.067200px;}
.ls7{letter-spacing:0.072000px;}
.lsb{letter-spacing:0.086400px;}
.ls1c{letter-spacing:0.091200px;}
.ls1a{letter-spacing:0.105600px;}
.ls1d{letter-spacing:0.297600px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws17{word-spacing:-2.908800px;}
.ws34{word-spacing:-2.640000px;}
.ws35{word-spacing:-0.984000px;}
.ws38{word-spacing:-0.960000px;}
.ws39{word-spacing:-0.945600px;}
.ws2f{word-spacing:-0.724800px;}
.ws3b{word-spacing:-0.715200px;}
.ws32{word-spacing:-0.297600px;}
.ws30{word-spacing:-0.292800px;}
.ws25{word-spacing:-0.288000px;}
.ws1a{word-spacing:-0.273600px;}
.ws2{word-spacing:-0.266280px;}
.ws18{word-spacing:-0.259200px;}
.ws2b{word-spacing:-0.254400px;}
.ws2e{word-spacing:-0.240000px;}
.ws10{word-spacing:-0.216000px;}
.ws3a{word-spacing:-0.182400px;}
.ws37{word-spacing:-0.172800px;}
.ws33{word-spacing:-0.163200px;}
.ws2c{word-spacing:-0.153600px;}
.ws26{word-spacing:-0.148800px;}
.ws28{word-spacing:-0.144000px;}
.ws19{word-spacing:-0.129600px;}
.ws14{word-spacing:-0.124800px;}
.ws31{word-spacing:-0.115200px;}
.ws1c{word-spacing:-0.110400px;}
.wsc{word-spacing:-0.105600px;}
.ws11{word-spacing:-0.100800px;}
.ws23{word-spacing:-0.096000px;}
.ws24{word-spacing:-0.091200px;}
.wsf{word-spacing:-0.086400px;}
.ws21{word-spacing:-0.081600px;}
.ws13{word-spacing:-0.076800px;}
.wsd{word-spacing:-0.072000px;}
.wsa{word-spacing:-0.067200px;}
.ws12{word-spacing:-0.062400px;}
.ws1b{word-spacing:-0.057600px;}
.ws9{word-spacing:-0.052800px;}
.ws7{word-spacing:-0.048000px;}
.ws20{word-spacing:-0.043200px;}
.ws15{word-spacing:-0.038400px;}
.ws1{word-spacing:-0.038040px;}
.ws4{word-spacing:-0.033600px;}
.ws6{word-spacing:-0.028800px;}
.ws5{word-spacing:-0.024000px;}
.ws16{word-spacing:-0.019200px;}
.ws3{word-spacing:-0.014400px;}
.ws8{word-spacing:-0.009600px;}
.wsb{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.ws1f{word-spacing:0.004800px;}
.ws2d{word-spacing:0.009600px;}
.ws1d{word-spacing:0.014400px;}
.wse{word-spacing:0.019200px;}
.ws22{word-spacing:0.024000px;}
.ws1e{word-spacing:0.028800px;}
.ws27{word-spacing:0.033600px;}
.ws3c{word-spacing:0.038400px;}
.ws29{word-spacing:0.048000px;}
.ws2a{word-spacing:0.067200px;}
.ws3d{word-spacing:0.081600px;}
.ws36{word-spacing:0.105600px;}
._1{margin-left:-7.075440px;}
._0{margin-left:-5.959440px;}
._2{margin-left:-4.108320px;}
._4{margin-left:-3.043680px;}
._3{margin-left:-1.363680px;}
._6{width:1.181760px;}
._5{width:3.067680px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:48.000000px;}
.fs3{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs2{font-size:76.080000px;}
.y19{bottom:16.000000px;}
.y18{bottom:39.000000px;}
.yd6{bottom:76.620000px;}
.yd2{bottom:84.420000px;}
.y17{bottom:85.140000px;}
.yaf{bottom:88.620000px;}
.y5e{bottom:90.420000px;}
.y7b{bottom:94.620000px;}
.yd1{bottom:98.220000px;}
.y93{bottom:98.820000px;}
.yae{bottom:102.420000px;}
.y16{bottom:110.940000px;}
.yd0{bottom:112.020000px;}
.y3f{bottom:114.420000px;}
.y5d{bottom:116.220000px;}
.y92{bottom:118.620000px;}
.y7a{bottom:120.420000px;}
.yd5{bottom:122.220000px;}
.ycf{bottom:125.820000px;}
.y3e{bottom:128.220000px;}
.yc0{bottom:130.020000px;}
.y91{bottom:132.420000px;}
.y5c{bottom:136.020000px;}
.y15{bottom:136.740000px;}
.y79{bottom:140.220000px;}
.y3d{bottom:142.020000px;}
.ybf{bottom:143.820000px;}
.yce{bottom:145.620000px;}
.y90{bottom:146.220000px;}
.y5b{bottom:149.820000px;}
.y78{bottom:154.020000px;}
.y3c{bottom:155.820000px;}
.ycd{bottom:159.420000px;}
.y8f{bottom:160.020000px;}
.yad{bottom:161.820000px;}
.y14{bottom:162.540000px;}
.y5a{bottom:163.620000px;}
.y77{bottom:167.820000px;}
.ycc{bottom:173.220000px;}
.y8e{bottom:173.820000px;}
.y3b{bottom:175.620000px;}
.y59{bottom:177.420000px;}
.y76{bottom:181.620000px;}
.yd4{bottom:183.420000px;}
.y8d{bottom:187.620000px;}
.y13{bottom:188.340000px;}
.y3a{bottom:189.420000px;}
.ycb{bottom:193.020000px;}
.yac{bottom:195.420000px;}
.y58{bottom:197.220000px;}
.y75{bottom:201.420000px;}
.y39{bottom:203.220000px;}
.yab{bottom:209.220000px;}
.y57{bottom:211.020000px;}
.y12{bottom:214.140000px;}
.y74{bottom:215.220000px;}
.yca{bottom:218.820000px;}
.y38{bottom:223.020000px;}
.y56{bottom:224.820000px;}
.y73{bottom:229.020000px;}
.yb5{bottom:230.820000px;}
.y8c{bottom:235.020000px;}
.yaa{bottom:236.820000px;}
.yc9{bottom:238.620000px;}
.y11{bottom:239.940000px;}
.ybe{bottom:242.820000px;}
.y55{bottom:244.620000px;}
.y37{bottom:248.820000px;}
.ya9{bottom:250.620000px;}
.yc8{bottom:252.420000px;}
.yb4{bottom:256.620000px;}
.y8b{bottom:262.620000px;}
.ya8{bottom:264.420000px;}
.y10{bottom:265.740000px;}
.yc7{bottom:266.220000px;}
.y36{bottom:268.620000px;}
.y54{bottom:270.420000px;}
.y72{bottom:274.620000px;}
.yb3{bottom:276.420000px;}
.ya7{bottom:278.220000px;}
.yc6{bottom:279.960000px;}
.y35{bottom:282.420000px;}
.ybd{bottom:284.220000px;}
.y53{bottom:290.220000px;}
.yf{bottom:291.540000px;}
.ya6{bottom:291.960000px;}
.y71{bottom:294.420000px;}
.y34{bottom:296.220000px;}
.yc5{bottom:299.760000px;}
.y52{bottom:303.960000px;}
.y70{bottom:308.220000px;}
.y33{bottom:309.960000px;}
.ya5{bottom:311.760000px;}
.yc4{bottom:313.560000px;}
.ye{bottom:317.220000px;}
.y51{bottom:317.760000px;}
.y6f{bottom:321.960000px;}
.y32{bottom:323.760000px;}
.ya4{bottom:325.560000px;}
.y8a{bottom:327.960000px;}
.y50{bottom:331.560000px;}
.yc3{bottom:333.360000px;}
.y6e{bottom:335.760000px;}
.y31{bottom:337.560000px;}
.ya3{bottom:339.360000px;}
.y89{bottom:341.760000px;}
.yd{bottom:344.520000px;}
.yc{bottom:344.525040px;}
.y4f{bottom:345.360000px;}
.y6d{bottom:349.560000px;}
.y30{bottom:351.360000px;}
.y88{bottom:355.560000px;}
.y4e{bottom:359.160000px;}
.y6c{bottom:363.360000px;}
.y2f{bottom:365.160000px;}
.yb{bottom:366.360000px;}
.y87{bottom:369.360000px;}
.y4d{bottom:372.960000px;}
.y6b{bottom:377.160000px;}
.y2e{bottom:378.960000px;}
.y86{bottom:383.160000px;}
.ya2{bottom:384.960000px;}
.yd3{bottom:386.760000px;}
.y6a{bottom:390.960000px;}
.y2d{bottom:392.760000px;}
.y85{bottom:396.960000px;}
.ya{bottom:400.200000px;}
.y69{bottom:404.760000px;}
.y2c{bottom:406.560000px;}
.y84{bottom:410.760000px;}
.yb2{bottom:412.560000px;}
.y68{bottom:418.560000px;}
.y2b{bottom:420.360000px;}
.y83{bottom:424.560000px;}
.y0{bottom:429.500000px;}
.y9{bottom:429.900000px;}
.ya1{bottom:432.360000px;}
.y67{bottom:438.360000px;}
.y2a{bottom:440.160000px;}
.ybc{bottom:444.360000px;}
.ya0{bottom:446.160000px;}
.y66{bottom:452.160000px;}
.y29{bottom:453.960000px;}
.yb1{bottom:458.160000px;}
.y9f{bottom:459.960000px;}
.y4c{bottom:465.960000px;}
.y28{bottom:467.760000px;}
.y65{bottom:471.960000px;}
.y9e{bottom:473.760000px;}
.y82{bottom:479.760000px;}
.y27{bottom:481.560000px;}
.y4b{bottom:485.760000px;}
.y9d{bottom:487.560000px;}
.ybb{bottom:491.760000px;}
.y81{bottom:493.560000px;}
.y4a{bottom:499.560000px;}
.y26{bottom:501.360000px;}
.y9c{bottom:507.360000px;}
.y49{bottom:513.360000px;}
.yba{bottom:517.560000px;}
.y9b{bottom:521.160000px;}
.y25{bottom:527.160000px;}
.yc2{bottom:533.160000px;}
.y9a{bottom:534.960000px;}
.yb9{bottom:537.360000px;}
.y80{bottom:540.960000px;}
.y8{bottom:542.040000px;}
.y24{bottom:546.960000px;}
.y99{bottom:548.760000px;}
.yb8{bottom:551.160000px;}
.y7f{bottom:554.760000px;}
.y23{bottom:560.760000px;}
.yb7{bottom:564.960000px;}
.y7{bottom:567.840000px;}
.y7e{bottom:568.560000px;}
.y64{bottom:572.760000px;}
.y22{bottom:574.560000px;}
.yb6{bottom:578.760000px;}
.y48{bottom:580.560000px;}
.y21{bottom:588.360000px;}
.y63{bottom:592.560000px;}
.y6{bottom:593.640000px;}
.y98{bottom:594.360000px;}
.y20{bottom:602.160000px;}
.y47{bottom:606.360000px;}
.y7d{bottom:614.160000px;}
.y1f{bottom:615.960000px;}
.y5{bottom:619.440000px;}
.y62{bottom:620.160000px;}
.yb0{bottom:621.960000px;}
.y46{bottom:626.160000px;}
.y97{bottom:627.960000px;}
.yc1{bottom:629.760000px;}
.y61{bottom:633.960000px;}
.y1e{bottom:635.760000px;}
.y45{bottom:639.960000px;}
.y96{bottom:641.760000px;}
.y4{bottom:645.240000px;}
.y60{bottom:647.760000px;}
.y1d{bottom:649.560000px;}
.y44{bottom:653.760000px;}
.y95{bottom:655.560000px;}
.y5f{bottom:661.560000px;}
.y1c{bottom:663.360000px;}
.y43{bottom:667.560000px;}
.y3{bottom:671.040000px;}
.y7c{bottom:675.360000px;}
.y42{bottom:681.360000px;}
.y1b{bottom:683.160000px;}
.y94{bottom:689.160000px;}
.y41{bottom:695.160000px;}
.y2{bottom:696.840000px;}
.y1a{bottom:708.840000px;}
.y40{bottom:708.960000px;}
.y1{bottom:741.120000px;}
.h4{height:53.250000px;}
.h3{height:54.960938px;}
.h6{height:69.015625px;}
.h2{height:73.372852px;}
.h5{height:87.113086px;}
.h1{height:98.000000px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x9{left:90.000000px;}
.x0{left:135.500000px;}
.x5{left:138.060000px;}
.x6{left:173.037780px;}
.xb{left:253.000000px;}
.x4{left:269.400000px;}
.x1{left:275.160000px;}
.x8{left:277.560000px;}
.x2{left:305.999900px;}
.x7{left:438.960000px;}
.x3{left:477.719900px;}
.xa{left:516.299900px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls18{letter-spacing:-2.240000pt;}
.ls13{letter-spacing:-0.140800pt;}
.lsc{letter-spacing:-0.128000pt;}
.ls1f{letter-spacing:-0.096000pt;}
.ls0{letter-spacing:-0.085440pt;}
.ls1b{letter-spacing:-0.070400pt;}
.ls1e{letter-spacing:-0.038400pt;}
.ls2{letter-spacing:-0.030432pt;}
.ls17{letter-spacing:-0.025600pt;}
.ls10{letter-spacing:-0.019200pt;}
.ls19{letter-spacing:-0.012800pt;}
.ls14{letter-spacing:-0.006400pt;}
.ls1{letter-spacing:0.000000pt;}
.lsa{letter-spacing:0.006400pt;}
.ls9{letter-spacing:0.012800pt;}
.ls3{letter-spacing:0.019200pt;}
.ls8{letter-spacing:0.025600pt;}
.ls5{letter-spacing:0.032000pt;}
.ls6{letter-spacing:0.038400pt;}
.ls4{letter-spacing:0.044800pt;}
.lsd{letter-spacing:0.051200pt;}
.ls15{letter-spacing:0.057600pt;}
.ls12{letter-spacing:0.064000pt;}
.lsf{letter-spacing:0.070400pt;}
.ls11{letter-spacing:0.076800pt;}
.lse{letter-spacing:0.083200pt;}
.ls16{letter-spacing:0.089600pt;}
.ls7{letter-spacing:0.096000pt;}
.lsb{letter-spacing:0.115200pt;}
.ls1c{letter-spacing:0.121600pt;}
.ls1a{letter-spacing:0.140800pt;}
.ls1d{letter-spacing:0.396800pt;}
.ws17{word-spacing:-3.878400pt;}
.ws34{word-spacing:-3.520000pt;}
.ws35{word-spacing:-1.312000pt;}
.ws38{word-spacing:-1.280000pt;}
.ws39{word-spacing:-1.260800pt;}
.ws2f{word-spacing:-0.966400pt;}
.ws3b{word-spacing:-0.953600pt;}
.ws32{word-spacing:-0.396800pt;}
.ws30{word-spacing:-0.390400pt;}
.ws25{word-spacing:-0.384000pt;}
.ws1a{word-spacing:-0.364800pt;}
.ws2{word-spacing:-0.355040pt;}
.ws18{word-spacing:-0.345600pt;}
.ws2b{word-spacing:-0.339200pt;}
.ws2e{word-spacing:-0.320000pt;}
.ws10{word-spacing:-0.288000pt;}
.ws3a{word-spacing:-0.243200pt;}
.ws37{word-spacing:-0.230400pt;}
.ws33{word-spacing:-0.217600pt;}
.ws2c{word-spacing:-0.204800pt;}
.ws26{word-spacing:-0.198400pt;}
.ws28{word-spacing:-0.192000pt;}
.ws19{word-spacing:-0.172800pt;}
.ws14{word-spacing:-0.166400pt;}
.ws31{word-spacing:-0.153600pt;}
.ws1c{word-spacing:-0.147200pt;}
.wsc{word-spacing:-0.140800pt;}
.ws11{word-spacing:-0.134400pt;}
.ws23{word-spacing:-0.128000pt;}
.ws24{word-spacing:-0.121600pt;}
.wsf{word-spacing:-0.115200pt;}
.ws21{word-spacing:-0.108800pt;}
.ws13{word-spacing:-0.102400pt;}
.wsd{word-spacing:-0.096000pt;}
.wsa{word-spacing:-0.089600pt;}
.ws12{word-spacing:-0.083200pt;}
.ws1b{word-spacing:-0.076800pt;}
.ws9{word-spacing:-0.070400pt;}
.ws7{word-spacing:-0.064000pt;}
.ws20{word-spacing:-0.057600pt;}
.ws15{word-spacing:-0.051200pt;}
.ws1{word-spacing:-0.050720pt;}
.ws4{word-spacing:-0.044800pt;}
.ws6{word-spacing:-0.038400pt;}
.ws5{word-spacing:-0.032000pt;}
.ws16{word-spacing:-0.025600pt;}
.ws3{word-spacing:-0.019200pt;}
.ws8{word-spacing:-0.012800pt;}
.wsb{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.ws1f{word-spacing:0.006400pt;}
.ws2d{word-spacing:0.012800pt;}
.ws1d{word-spacing:0.019200pt;}
.wse{word-spacing:0.025600pt;}
.ws22{word-spacing:0.032000pt;}
.ws1e{word-spacing:0.038400pt;}
.ws27{word-spacing:0.044800pt;}
.ws3c{word-spacing:0.051200pt;}
.ws29{word-spacing:0.064000pt;}
.ws2a{word-spacing:0.089600pt;}
.ws3d{word-spacing:0.108800pt;}
.ws36{word-spacing:0.140800pt;}
._1{margin-left:-9.433920pt;}
._0{margin-left:-7.945920pt;}
._2{margin-left:-5.477760pt;}
._4{margin-left:-4.058240pt;}
._3{margin-left:-1.818240pt;}
._6{width:1.575680pt;}
._5{width:4.090240pt;}
.fs1{font-size:64.000000pt;}
.fs3{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs2{font-size:101.440000pt;}
.y19{bottom:21.333333pt;}
.y18{bottom:52.000000pt;}
.yd6{bottom:102.160000pt;}
.yd2{bottom:112.560000pt;}
.y17{bottom:113.520000pt;}
.yaf{bottom:118.160000pt;}
.y5e{bottom:120.560000pt;}
.y7b{bottom:126.160000pt;}
.yd1{bottom:130.960000pt;}
.y93{bottom:131.760000pt;}
.yae{bottom:136.560000pt;}
.y16{bottom:147.920000pt;}
.yd0{bottom:149.360000pt;}
.y3f{bottom:152.560000pt;}
.y5d{bottom:154.960000pt;}
.y92{bottom:158.160000pt;}
.y7a{bottom:160.560000pt;}
.yd5{bottom:162.960000pt;}
.ycf{bottom:167.760000pt;}
.y3e{bottom:170.960000pt;}
.yc0{bottom:173.360000pt;}
.y91{bottom:176.560000pt;}
.y5c{bottom:181.360000pt;}
.y15{bottom:182.320000pt;}
.y79{bottom:186.960000pt;}
.y3d{bottom:189.360000pt;}
.ybf{bottom:191.760000pt;}
.yce{bottom:194.160000pt;}
.y90{bottom:194.960000pt;}
.y5b{bottom:199.760000pt;}
.y78{bottom:205.360000pt;}
.y3c{bottom:207.760000pt;}
.ycd{bottom:212.560000pt;}
.y8f{bottom:213.360000pt;}
.yad{bottom:215.760000pt;}
.y14{bottom:216.720000pt;}
.y5a{bottom:218.160000pt;}
.y77{bottom:223.760000pt;}
.ycc{bottom:230.960000pt;}
.y8e{bottom:231.760000pt;}
.y3b{bottom:234.160000pt;}
.y59{bottom:236.560000pt;}
.y76{bottom:242.160000pt;}
.yd4{bottom:244.560000pt;}
.y8d{bottom:250.160000pt;}
.y13{bottom:251.120000pt;}
.y3a{bottom:252.560000pt;}
.ycb{bottom:257.360000pt;}
.yac{bottom:260.560000pt;}
.y58{bottom:262.960000pt;}
.y75{bottom:268.560000pt;}
.y39{bottom:270.960000pt;}
.yab{bottom:278.960000pt;}
.y57{bottom:281.360000pt;}
.y12{bottom:285.520000pt;}
.y74{bottom:286.960000pt;}
.yca{bottom:291.760000pt;}
.y38{bottom:297.360000pt;}
.y56{bottom:299.760000pt;}
.y73{bottom:305.360000pt;}
.yb5{bottom:307.760000pt;}
.y8c{bottom:313.360000pt;}
.yaa{bottom:315.760000pt;}
.yc9{bottom:318.160000pt;}
.y11{bottom:319.920000pt;}
.ybe{bottom:323.760000pt;}
.y55{bottom:326.160000pt;}
.y37{bottom:331.760000pt;}
.ya9{bottom:334.160000pt;}
.yc8{bottom:336.560000pt;}
.yb4{bottom:342.160000pt;}
.y8b{bottom:350.160000pt;}
.ya8{bottom:352.560000pt;}
.y10{bottom:354.320000pt;}
.yc7{bottom:354.960000pt;}
.y36{bottom:358.160000pt;}
.y54{bottom:360.560000pt;}
.y72{bottom:366.160000pt;}
.yb3{bottom:368.560000pt;}
.ya7{bottom:370.960000pt;}
.yc6{bottom:373.280000pt;}
.y35{bottom:376.560000pt;}
.ybd{bottom:378.960000pt;}
.y53{bottom:386.960000pt;}
.yf{bottom:388.720000pt;}
.ya6{bottom:389.280000pt;}
.y71{bottom:392.560000pt;}
.y34{bottom:394.960000pt;}
.yc5{bottom:399.680000pt;}
.y52{bottom:405.280000pt;}
.y70{bottom:410.960000pt;}
.y33{bottom:413.280000pt;}
.ya5{bottom:415.680000pt;}
.yc4{bottom:418.080000pt;}
.ye{bottom:422.960000pt;}
.y51{bottom:423.680000pt;}
.y6f{bottom:429.280000pt;}
.y32{bottom:431.680000pt;}
.ya4{bottom:434.080000pt;}
.y8a{bottom:437.280000pt;}
.y50{bottom:442.080000pt;}
.yc3{bottom:444.480000pt;}
.y6e{bottom:447.680000pt;}
.y31{bottom:450.080000pt;}
.ya3{bottom:452.480000pt;}
.y89{bottom:455.680000pt;}
.yd{bottom:459.360000pt;}
.yc{bottom:459.366720pt;}
.y4f{bottom:460.480000pt;}
.y6d{bottom:466.080000pt;}
.y30{bottom:468.480000pt;}
.y88{bottom:474.080000pt;}
.y4e{bottom:478.880000pt;}
.y6c{bottom:484.480000pt;}
.y2f{bottom:486.880000pt;}
.yb{bottom:488.480000pt;}
.y87{bottom:492.480000pt;}
.y4d{bottom:497.280000pt;}
.y6b{bottom:502.880000pt;}
.y2e{bottom:505.280000pt;}
.y86{bottom:510.880000pt;}
.ya2{bottom:513.280000pt;}
.yd3{bottom:515.680000pt;}
.y6a{bottom:521.280000pt;}
.y2d{bottom:523.680000pt;}
.y85{bottom:529.280000pt;}
.ya{bottom:533.600000pt;}
.y69{bottom:539.680000pt;}
.y2c{bottom:542.080000pt;}
.y84{bottom:547.680000pt;}
.yb2{bottom:550.080000pt;}
.y68{bottom:558.080000pt;}
.y2b{bottom:560.480000pt;}
.y83{bottom:566.080000pt;}
.y0{bottom:572.666667pt;}
.y9{bottom:573.200000pt;}
.ya1{bottom:576.480000pt;}
.y67{bottom:584.480000pt;}
.y2a{bottom:586.880000pt;}
.ybc{bottom:592.480000pt;}
.ya0{bottom:594.880000pt;}
.y66{bottom:602.880000pt;}
.y29{bottom:605.280000pt;}
.yb1{bottom:610.880000pt;}
.y9f{bottom:613.280000pt;}
.y4c{bottom:621.280000pt;}
.y28{bottom:623.680000pt;}
.y65{bottom:629.280000pt;}
.y9e{bottom:631.680000pt;}
.y82{bottom:639.680000pt;}
.y27{bottom:642.080000pt;}
.y4b{bottom:647.680000pt;}
.y9d{bottom:650.080000pt;}
.ybb{bottom:655.680000pt;}
.y81{bottom:658.080000pt;}
.y4a{bottom:666.080000pt;}
.y26{bottom:668.480000pt;}
.y9c{bottom:676.480000pt;}
.y49{bottom:684.480000pt;}
.yba{bottom:690.080000pt;}
.y9b{bottom:694.880000pt;}
.y25{bottom:702.880000pt;}
.yc2{bottom:710.880000pt;}
.y9a{bottom:713.280000pt;}
.yb9{bottom:716.480000pt;}
.y80{bottom:721.280000pt;}
.y8{bottom:722.720000pt;}
.y24{bottom:729.280000pt;}
.y99{bottom:731.680000pt;}
.yb8{bottom:734.880000pt;}
.y7f{bottom:739.680000pt;}
.y23{bottom:747.680000pt;}
.yb7{bottom:753.280000pt;}
.y7{bottom:757.120000pt;}
.y7e{bottom:758.080000pt;}
.y64{bottom:763.680000pt;}
.y22{bottom:766.080000pt;}
.yb6{bottom:771.680000pt;}
.y48{bottom:774.080000pt;}
.y21{bottom:784.480000pt;}
.y63{bottom:790.080000pt;}
.y6{bottom:791.520000pt;}
.y98{bottom:792.480000pt;}
.y20{bottom:802.880000pt;}
.y47{bottom:808.480000pt;}
.y7d{bottom:818.880000pt;}
.y1f{bottom:821.280000pt;}
.y5{bottom:825.920000pt;}
.y62{bottom:826.880000pt;}
.yb0{bottom:829.280000pt;}
.y46{bottom:834.880000pt;}
.y97{bottom:837.280000pt;}
.yc1{bottom:839.680000pt;}
.y61{bottom:845.280000pt;}
.y1e{bottom:847.680000pt;}
.y45{bottom:853.280000pt;}
.y96{bottom:855.680000pt;}
.y4{bottom:860.320000pt;}
.y60{bottom:863.680000pt;}
.y1d{bottom:866.080000pt;}
.y44{bottom:871.680000pt;}
.y95{bottom:874.080000pt;}
.y5f{bottom:882.080000pt;}
.y1c{bottom:884.480000pt;}
.y43{bottom:890.080000pt;}
.y3{bottom:894.720000pt;}
.y7c{bottom:900.480000pt;}
.y42{bottom:908.480000pt;}
.y1b{bottom:910.880000pt;}
.y94{bottom:918.880000pt;}
.y41{bottom:926.880000pt;}
.y2{bottom:929.120000pt;}
.y1a{bottom:945.120000pt;}
.y40{bottom:945.280000pt;}
.y1{bottom:988.160000pt;}
.h4{height:71.000000pt;}
.h3{height:73.281250pt;}
.h6{height:92.020833pt;}
.h2{height:97.830469pt;}
.h5{height:116.150781pt;}
.h1{height:130.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x9{left:120.000000pt;}
.x0{left:180.666667pt;}
.x5{left:184.080000pt;}
.x6{left:230.717040pt;}
.xb{left:337.333333pt;}
.x4{left:359.200000pt;}
.x1{left:366.880000pt;}
.x8{left:370.080000pt;}
.x2{left:407.999867pt;}
.x7{left:585.280000pt;}
.x3{left:636.959867pt;}
.xa{left:688.399867pt;}
}
