.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls27{letter-spacing:-1.318800px;}
.ls26{letter-spacing:-0.067200px;}
.ls0{letter-spacing:-0.064080px;}
.ls11{letter-spacing:-0.058800px;}
.ls2{letter-spacing:-0.052800px;}
.ls12{letter-spacing:-0.050400px;}
.ls5{letter-spacing:-0.037800px;}
.ls1a{letter-spacing:-0.033600px;}
.lsc{letter-spacing:-0.029400px;}
.lsb{letter-spacing:-0.025200px;}
.ls28{letter-spacing:-0.021000px;}
.ls17{letter-spacing:-0.016800px;}
.ls25{letter-spacing:-0.012600px;}
.ls4{letter-spacing:-0.006600px;}
.ls24{letter-spacing:-0.004200px;}
.ls1{letter-spacing:0.000000px;}
.ls1e{letter-spacing:0.004200px;}
.ls3{letter-spacing:0.006600px;}
.ls13{letter-spacing:0.008400px;}
.ls1f{letter-spacing:0.016800px;}
.ls1d{letter-spacing:0.021000px;}
.ls9{letter-spacing:0.025200px;}
.ls1c{letter-spacing:0.029400px;}
.ls18{letter-spacing:0.033600px;}
.ls16{letter-spacing:0.037800px;}
.ls20{letter-spacing:0.042000px;}
.ls15{letter-spacing:0.046200px;}
.lsf{letter-spacing:0.050400px;}
.ls1b{letter-spacing:0.054600px;}
.ls14{letter-spacing:0.058800px;}
.ls10{letter-spacing:0.063000px;}
.ls7{letter-spacing:0.067200px;}
.ls21{letter-spacing:0.071400px;}
.ls8{letter-spacing:0.075600px;}
.lsa{letter-spacing:0.079800px;}
.ls19{letter-spacing:0.084000px;}
.lse{letter-spacing:0.088200px;}
.ls23{letter-spacing:0.096600px;}
.ls6{letter-spacing:0.121800px;}
.ls22{letter-spacing:0.130200px;}
.lsd{letter-spacing:0.147000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws25{word-spacing:-0.756000px;}
.ws2a{word-spacing:-0.592200px;}
.ws2{word-spacing:-0.171600px;}
.ws24{word-spacing:-0.071400px;}
.ws7{word-spacing:-0.021000px;}
.ws5{word-spacing:-0.016800px;}
.ws26{word-spacing:-0.012600px;}
.ws1d{word-spacing:-0.008400px;}
.wsb{word-spacing:-0.004200px;}
.ws0{word-spacing:0.000000px;}
.ws18{word-spacing:0.004200px;}
.wsa{word-spacing:0.008400px;}
.ws11{word-spacing:0.012600px;}
.ws1{word-spacing:0.013200px;}
.ws22{word-spacing:0.016800px;}
.ws12{word-spacing:0.021000px;}
.ws15{word-spacing:0.025200px;}
.ws19{word-spacing:0.029400px;}
.ws6{word-spacing:0.033600px;}
.ws33{word-spacing:0.037800px;}
.ws1e{word-spacing:0.042000px;}
.wse{word-spacing:0.050400px;}
.ws1c{word-spacing:0.054600px;}
.ws28{word-spacing:0.063000px;}
.ws29{word-spacing:0.071400px;}
.ws14{word-spacing:0.075600px;}
.ws34{word-spacing:0.079800px;}
.ws8{word-spacing:0.084000px;}
.ws17{word-spacing:0.092400px;}
.ws27{word-spacing:0.096600px;}
.wsd{word-spacing:0.109200px;}
.wsc{word-spacing:0.117600px;}
.ws3{word-spacing:0.336000px;}
.ws2c{word-spacing:0.966000px;}
.ws21{word-spacing:0.978600px;}
.ws2d{word-spacing:0.995400px;}
.ws16{word-spacing:1.654800px;}
.ws2e{word-spacing:1.944600px;}
.ws2f{word-spacing:1.969800px;}
.ws30{word-spacing:2.402400px;}
.ws13{word-spacing:3.595200px;}
.ws2b{word-spacing:3.599400px;}
.ws20{word-spacing:4.557000px;}
.ws1f{word-spacing:4.599000px;}
.wsf{word-spacing:4.783800px;}
.ws1a{word-spacing:4.834200px;}
.ws1b{word-spacing:4.838400px;}
.ws36{word-spacing:5.539800px;}
.ws35{word-spacing:5.548200px;}
.ws9{word-spacing:7.891800px;}
.ws10{word-spacing:8.148000px;}
.ws31{word-spacing:8.920800px;}
.ws32{word-spacing:9.009000px;}
.ws4{word-spacing:9.592800px;}
.ws23{word-spacing:9.828000px;}
._0{margin-left:-5.959440px;}
._2{margin-left:-3.630000px;}
._3{margin-left:-2.286000px;}
._1{margin-left:-1.188000px;}
._4{width:1.164000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:37.920000px;}
.fs1{font-size:42.000000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs2{font-size:66.000000px;}
.ye{bottom:17.000000px;}
.yd{bottom:52.040300px;}
.yc{bottom:64.580300px;}
.y76{bottom:87.614300px;}
.y3a{bottom:87.624800px;}
.y5e{bottom:87.635300px;}
.y75{bottom:103.217300px;}
.y39{bottom:103.227800px;}
.y5d{bottom:103.238300px;}
.y5c{bottom:118.778300px;}
.y74{bottom:118.820300px;}
.y38{bottom:118.830800px;}
.y73{bottom:134.423300px;}
.y37{bottom:134.433800px;}
.y5b{bottom:149.973800px;}
.y72{bottom:150.026300px;}
.y36{bottom:150.036800px;}
.y35{bottom:165.576800px;}
.y5a{bottom:165.629300px;}
.y34{bottom:181.232300px;}
.y33{bottom:196.772300px;}
.y59{bottom:196.835300px;}
.y32{bottom:212.427800px;}
.y58{bottom:212.438300px;}
.y71{bottom:227.978300px;}
.y31{bottom:228.030800px;}
.y57{bottom:228.041300px;}
.y30{bottom:243.633800px;}
.y56{bottom:243.644300px;}
.y70{bottom:259.173800px;}
.y2f{bottom:259.236800px;}
.y55{bottom:259.247300px;}
.y6f{bottom:274.829300px;}
.y2e{bottom:274.839800px;}
.y54{bottom:274.850300px;}
.y6e{bottom:290.432300px;}
.y2d{bottom:290.442800px;}
.y53{bottom:290.453300px;}
.y52{bottom:305.993300px;}
.y6d{bottom:306.035300px;}
.y2c{bottom:306.045800px;}
.y6c{bottom:321.638300px;}
.y2b{bottom:321.648800px;}
.y51{bottom:337.188800px;}
.y6b{bottom:337.241300px;}
.y2a{bottom:337.251800px;}
.y50{bottom:352.844300px;}
.y29{bottom:352.854800px;}
.y28{bottom:368.394800px;}
.y4f{bottom:368.447300px;}
.y27{bottom:384.050300px;}
.yb{bottom:389.648300px;}
.y26{bottom:399.590300px;}
.y4e{bottom:399.653300px;}
.y6a{bottom:415.193300px;}
.y25{bottom:415.245800px;}
.y4d{bottom:415.256300px;}
.ya{bottom:420.849800px;}
.y24{bottom:430.848800px;}
.y4c{bottom:430.859300px;}
.y69{bottom:446.388800px;}
.y23{bottom:446.451800px;}
.y4b{bottom:446.462300px;}
.y9{bottom:452.051300px;}
.y68{bottom:462.044300px;}
.y22{bottom:462.054800px;}
.y4a{bottom:462.065300px;}
.y49{bottom:477.605300px;}
.y67{bottom:477.647300px;}
.y21{bottom:477.657800px;}
.y7c{bottom:477.668300px;}
.y8{bottom:483.252800px;}
.y7b{bottom:493.208300px;}
.y66{bottom:493.250300px;}
.y20{bottom:493.260800px;}
.y48{bottom:508.800800px;}
.y65{bottom:508.853300px;}
.y1f{bottom:508.863800px;}
.y7{bottom:514.454300px;}
.y7a{bottom:524.403800px;}
.y47{bottom:524.456300px;}
.y1e{bottom:524.466800px;}
.y46{bottom:540.059300px;}
.y1d{bottom:540.069800px;}
.y6{bottom:545.655800px;}
.y1c{bottom:555.609800px;}
.y45{bottom:555.662300px;}
.y1b{bottom:571.265300px;}
.y5{bottom:576.857300px;}
.y1a{bottom:586.805300px;}
.y44{bottom:586.868300px;}
.y64{bottom:602.408300px;}
.y19{bottom:602.460800px;}
.y43{bottom:602.471300px;}
.y0{bottom:604.000000px;}
.y4{bottom:604.280300px;}
.y18{bottom:618.063800px;}
.y42{bottom:618.074300px;}
.y63{bottom:633.603800px;}
.y17{bottom:633.666800px;}
.y41{bottom:633.677300px;}
.y62{bottom:649.259300px;}
.y16{bottom:649.269800px;}
.y40{bottom:649.280300px;}
.y3f{bottom:664.820300px;}
.y61{bottom:664.862300px;}
.y15{bottom:664.872800px;}
.y79{bottom:664.883300px;}
.y78{bottom:680.423300px;}
.y60{bottom:680.465300px;}
.y14{bottom:680.475800px;}
.y3e{bottom:696.015800px;}
.y5f{bottom:696.068300px;}
.y13{bottom:696.078800px;}
.y77{bottom:711.618800px;}
.y3d{bottom:711.671300px;}
.y12{bottom:711.681800px;}
.y3{bottom:717.258800px;}
.y3c{bottom:727.274300px;}
.y11{bottom:727.284800px;}
.y10{bottom:742.824800px;}
.y3b{bottom:742.877300px;}
.y2{bottom:748.460300px;}
.yf{bottom:758.480300px;}
.y1{bottom:784.580300px;}
.h4{height:42.067500px;}
.h5{height:46.593750px;}
.h7{height:48.090820px;}
.h6{height:69.015625px;}
.h2{height:73.372852px;}
.h3{height:75.571289px;}
.h1{height:98.000000px;}
.h0{height:842.000000px;}
.w1{width:342.500000px;}
.w0{width:595.220000px;}
.x8{left:90.001500px;}
.x4{left:100.908000px;}
.x0{left:126.500000px;}
.x7{left:245.000000px;}
.x5{left:258.532500px;}
.x1{left:266.820000px;}
.x2{left:297.660000px;}
.x3{left:468.660000px;}
.x6{left:492.900000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls27{letter-spacing:-1.758400pt;}
.ls26{letter-spacing:-0.089600pt;}
.ls0{letter-spacing:-0.085440pt;}
.ls11{letter-spacing:-0.078400pt;}
.ls2{letter-spacing:-0.070400pt;}
.ls12{letter-spacing:-0.067200pt;}
.ls5{letter-spacing:-0.050400pt;}
.ls1a{letter-spacing:-0.044800pt;}
.lsc{letter-spacing:-0.039200pt;}
.lsb{letter-spacing:-0.033600pt;}
.ls28{letter-spacing:-0.028000pt;}
.ls17{letter-spacing:-0.022400pt;}
.ls25{letter-spacing:-0.016800pt;}
.ls4{letter-spacing:-0.008800pt;}
.ls24{letter-spacing:-0.005600pt;}
.ls1{letter-spacing:0.000000pt;}
.ls1e{letter-spacing:0.005600pt;}
.ls3{letter-spacing:0.008800pt;}
.ls13{letter-spacing:0.011200pt;}
.ls1f{letter-spacing:0.022400pt;}
.ls1d{letter-spacing:0.028000pt;}
.ls9{letter-spacing:0.033600pt;}
.ls1c{letter-spacing:0.039200pt;}
.ls18{letter-spacing:0.044800pt;}
.ls16{letter-spacing:0.050400pt;}
.ls20{letter-spacing:0.056000pt;}
.ls15{letter-spacing:0.061600pt;}
.lsf{letter-spacing:0.067200pt;}
.ls1b{letter-spacing:0.072800pt;}
.ls14{letter-spacing:0.078400pt;}
.ls10{letter-spacing:0.084000pt;}
.ls7{letter-spacing:0.089600pt;}
.ls21{letter-spacing:0.095200pt;}
.ls8{letter-spacing:0.100800pt;}
.lsa{letter-spacing:0.106400pt;}
.ls19{letter-spacing:0.112000pt;}
.lse{letter-spacing:0.117600pt;}
.ls23{letter-spacing:0.128800pt;}
.ls6{letter-spacing:0.162400pt;}
.ls22{letter-spacing:0.173600pt;}
.lsd{letter-spacing:0.196000pt;}
.ws25{word-spacing:-1.008000pt;}
.ws2a{word-spacing:-0.789600pt;}
.ws2{word-spacing:-0.228800pt;}
.ws24{word-spacing:-0.095200pt;}
.ws7{word-spacing:-0.028000pt;}
.ws5{word-spacing:-0.022400pt;}
.ws26{word-spacing:-0.016800pt;}
.ws1d{word-spacing:-0.011200pt;}
.wsb{word-spacing:-0.005600pt;}
.ws0{word-spacing:0.000000pt;}
.ws18{word-spacing:0.005600pt;}
.wsa{word-spacing:0.011200pt;}
.ws11{word-spacing:0.016800pt;}
.ws1{word-spacing:0.017600pt;}
.ws22{word-spacing:0.022400pt;}
.ws12{word-spacing:0.028000pt;}
.ws15{word-spacing:0.033600pt;}
.ws19{word-spacing:0.039200pt;}
.ws6{word-spacing:0.044800pt;}
.ws33{word-spacing:0.050400pt;}
.ws1e{word-spacing:0.056000pt;}
.wse{word-spacing:0.067200pt;}
.ws1c{word-spacing:0.072800pt;}
.ws28{word-spacing:0.084000pt;}
.ws29{word-spacing:0.095200pt;}
.ws14{word-spacing:0.100800pt;}
.ws34{word-spacing:0.106400pt;}
.ws8{word-spacing:0.112000pt;}
.ws17{word-spacing:0.123200pt;}
.ws27{word-spacing:0.128800pt;}
.wsd{word-spacing:0.145600pt;}
.wsc{word-spacing:0.156800pt;}
.ws3{word-spacing:0.448000pt;}
.ws2c{word-spacing:1.288000pt;}
.ws21{word-spacing:1.304800pt;}
.ws2d{word-spacing:1.327200pt;}
.ws16{word-spacing:2.206400pt;}
.ws2e{word-spacing:2.592800pt;}
.ws2f{word-spacing:2.626400pt;}
.ws30{word-spacing:3.203200pt;}
.ws13{word-spacing:4.793600pt;}
.ws2b{word-spacing:4.799200pt;}
.ws20{word-spacing:6.076000pt;}
.ws1f{word-spacing:6.132000pt;}
.wsf{word-spacing:6.378400pt;}
.ws1a{word-spacing:6.445600pt;}
.ws1b{word-spacing:6.451200pt;}
.ws36{word-spacing:7.386400pt;}
.ws35{word-spacing:7.397600pt;}
.ws9{word-spacing:10.522400pt;}
.ws10{word-spacing:10.864000pt;}
.ws31{word-spacing:11.894400pt;}
.ws32{word-spacing:12.012000pt;}
.ws4{word-spacing:12.790400pt;}
.ws23{word-spacing:13.104000pt;}
._0{margin-left:-7.945920pt;}
._2{margin-left:-4.840000pt;}
._3{margin-left:-3.048000pt;}
._1{margin-left:-1.584000pt;}
._4{width:1.552000pt;}
.fs3{font-size:50.560000pt;}
.fs1{font-size:56.000000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs2{font-size:88.000000pt;}
.ye{bottom:22.666667pt;}
.yd{bottom:69.387067pt;}
.yc{bottom:86.107067pt;}
.y76{bottom:116.819067pt;}
.y3a{bottom:116.833067pt;}
.y5e{bottom:116.847067pt;}
.y75{bottom:137.623067pt;}
.y39{bottom:137.637067pt;}
.y5d{bottom:137.651067pt;}
.y5c{bottom:158.371067pt;}
.y74{bottom:158.427067pt;}
.y38{bottom:158.441067pt;}
.y73{bottom:179.231067pt;}
.y37{bottom:179.245067pt;}
.y5b{bottom:199.965067pt;}
.y72{bottom:200.035067pt;}
.y36{bottom:200.049067pt;}
.y35{bottom:220.769067pt;}
.y5a{bottom:220.839067pt;}
.y34{bottom:241.643067pt;}
.y33{bottom:262.363067pt;}
.y59{bottom:262.447067pt;}
.y32{bottom:283.237067pt;}
.y58{bottom:283.251067pt;}
.y71{bottom:303.971067pt;}
.y31{bottom:304.041067pt;}
.y57{bottom:304.055067pt;}
.y30{bottom:324.845067pt;}
.y56{bottom:324.859067pt;}
.y70{bottom:345.565067pt;}
.y2f{bottom:345.649067pt;}
.y55{bottom:345.663067pt;}
.y6f{bottom:366.439067pt;}
.y2e{bottom:366.453067pt;}
.y54{bottom:366.467067pt;}
.y6e{bottom:387.243067pt;}
.y2d{bottom:387.257067pt;}
.y53{bottom:387.271067pt;}
.y52{bottom:407.991067pt;}
.y6d{bottom:408.047067pt;}
.y2c{bottom:408.061067pt;}
.y6c{bottom:428.851067pt;}
.y2b{bottom:428.865067pt;}
.y51{bottom:449.585067pt;}
.y6b{bottom:449.655067pt;}
.y2a{bottom:449.669067pt;}
.y50{bottom:470.459067pt;}
.y29{bottom:470.473067pt;}
.y28{bottom:491.193067pt;}
.y4f{bottom:491.263067pt;}
.y27{bottom:512.067067pt;}
.yb{bottom:519.531067pt;}
.y26{bottom:532.787067pt;}
.y4e{bottom:532.871067pt;}
.y6a{bottom:553.591067pt;}
.y25{bottom:553.661067pt;}
.y4d{bottom:553.675067pt;}
.ya{bottom:561.133067pt;}
.y24{bottom:574.465067pt;}
.y4c{bottom:574.479067pt;}
.y69{bottom:595.185067pt;}
.y23{bottom:595.269067pt;}
.y4b{bottom:595.283067pt;}
.y9{bottom:602.735067pt;}
.y68{bottom:616.059067pt;}
.y22{bottom:616.073067pt;}
.y4a{bottom:616.087067pt;}
.y49{bottom:636.807067pt;}
.y67{bottom:636.863067pt;}
.y21{bottom:636.877067pt;}
.y7c{bottom:636.891067pt;}
.y8{bottom:644.337067pt;}
.y7b{bottom:657.611067pt;}
.y66{bottom:657.667067pt;}
.y20{bottom:657.681067pt;}
.y48{bottom:678.401067pt;}
.y65{bottom:678.471067pt;}
.y1f{bottom:678.485067pt;}
.y7{bottom:685.939067pt;}
.y7a{bottom:699.205067pt;}
.y47{bottom:699.275067pt;}
.y1e{bottom:699.289067pt;}
.y46{bottom:720.079067pt;}
.y1d{bottom:720.093067pt;}
.y6{bottom:727.541067pt;}
.y1c{bottom:740.813067pt;}
.y45{bottom:740.883067pt;}
.y1b{bottom:761.687067pt;}
.y5{bottom:769.143067pt;}
.y1a{bottom:782.407067pt;}
.y44{bottom:782.491067pt;}
.y64{bottom:803.211067pt;}
.y19{bottom:803.281067pt;}
.y43{bottom:803.295067pt;}
.y0{bottom:805.333333pt;}
.y4{bottom:805.707067pt;}
.y18{bottom:824.085067pt;}
.y42{bottom:824.099067pt;}
.y63{bottom:844.805067pt;}
.y17{bottom:844.889067pt;}
.y41{bottom:844.903067pt;}
.y62{bottom:865.679067pt;}
.y16{bottom:865.693067pt;}
.y40{bottom:865.707067pt;}
.y3f{bottom:886.427067pt;}
.y61{bottom:886.483067pt;}
.y15{bottom:886.497067pt;}
.y79{bottom:886.511067pt;}
.y78{bottom:907.231067pt;}
.y60{bottom:907.287067pt;}
.y14{bottom:907.301067pt;}
.y3e{bottom:928.021067pt;}
.y5f{bottom:928.091067pt;}
.y13{bottom:928.105067pt;}
.y77{bottom:948.825067pt;}
.y3d{bottom:948.895067pt;}
.y12{bottom:948.909067pt;}
.y3{bottom:956.345067pt;}
.y3c{bottom:969.699067pt;}
.y11{bottom:969.713067pt;}
.y10{bottom:990.433067pt;}
.y3b{bottom:990.503067pt;}
.y2{bottom:997.947067pt;}
.yf{bottom:1011.307067pt;}
.y1{bottom:1046.107067pt;}
.h4{height:56.090000pt;}
.h5{height:62.125000pt;}
.h7{height:64.121094pt;}
.h6{height:92.020833pt;}
.h2{height:97.830469pt;}
.h3{height:100.761719pt;}
.h1{height:130.666667pt;}
.h0{height:1122.666667pt;}
.w1{width:456.666667pt;}
.w0{width:793.626667pt;}
.x8{left:120.002000pt;}
.x4{left:134.544000pt;}
.x0{left:168.666667pt;}
.x7{left:326.666667pt;}
.x5{left:344.710000pt;}
.x1{left:355.760000pt;}
.x2{left:396.880000pt;}
.x3{left:624.880000pt;}
.x6{left:657.200000pt;}
}
