.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls1f{letter-spacing:-1.318800px;}
.ls4{letter-spacing:-0.139392px;}
.ls16{letter-spacing:-0.117600px;}
.ls0{letter-spacing:-0.064080px;}
.ls5{letter-spacing:-0.037800px;}
.ls2{letter-spacing:-0.035040px;}
.lsc{letter-spacing:-0.029400px;}
.ls21{letter-spacing:-0.016800px;}
.ls3{letter-spacing:-0.014016px;}
.lse{letter-spacing:-0.008400px;}
.ls1e{letter-spacing:-0.004200px;}
.ls1{letter-spacing:0.000000px;}
.ls1c{letter-spacing:0.004200px;}
.ls15{letter-spacing:0.008400px;}
.ls1a{letter-spacing:0.025200px;}
.ls18{letter-spacing:0.029400px;}
.ls12{letter-spacing:0.033600px;}
.ls17{letter-spacing:0.037800px;}
.ls1b{letter-spacing:0.042000px;}
.ls20{letter-spacing:0.046200px;}
.ls9{letter-spacing:0.050400px;}
.ls8{letter-spacing:0.054600px;}
.ls13{letter-spacing:0.058800px;}
.ls7{letter-spacing:0.063000px;}
.lsf{letter-spacing:0.067200px;}
.ls10{letter-spacing:0.071400px;}
.lsb{letter-spacing:0.075600px;}
.lsa{letter-spacing:0.079800px;}
.ls11{letter-spacing:0.084000px;}
.ls1d{letter-spacing:0.088200px;}
.ls19{letter-spacing:0.092400px;}
.ls14{letter-spacing:0.096600px;}
.ls6{letter-spacing:0.121800px;}
.lsd{letter-spacing:0.147000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws2f{word-spacing:-2.343600px;}
.ws37{word-spacing:-0.945000px;}
.wse{word-spacing:-0.743400px;}
.ws15{word-spacing:-0.730800px;}
.wsf{word-spacing:-0.722400px;}
.wsd{word-spacing:-0.709800px;}
.ws12{word-spacing:-0.247800px;}
.ws35{word-spacing:-0.243600px;}
.ws3c{word-spacing:-0.239400px;}
.ws2a{word-spacing:-0.222600px;}
.wsa{word-spacing:-0.142800px;}
.ws1{word-spacing:-0.105120px;}
.ws31{word-spacing:-0.033600px;}
.ws2d{word-spacing:-0.029400px;}
.ws19{word-spacing:-0.025200px;}
.ws7{word-spacing:-0.021000px;}
.ws8{word-spacing:-0.016800px;}
.ws11{word-spacing:-0.012600px;}
.ws25{word-spacing:-0.008400px;}
.ws17{word-spacing:-0.004200px;}
.ws0{word-spacing:0.000000px;}
.ws5{word-spacing:0.004200px;}
.ws6{word-spacing:0.008400px;}
.ws3a{word-spacing:0.012600px;}
.ws10{word-spacing:0.025200px;}
.ws20{word-spacing:0.029400px;}
.ws1b{word-spacing:0.050400px;}
.ws2c{word-spacing:0.054600px;}
.ws3b{word-spacing:0.058800px;}
.ws2e{word-spacing:0.063000px;}
.ws9{word-spacing:0.067200px;}
.ws3d{word-spacing:0.075600px;}
.ws22{word-spacing:0.260400px;}
.ws2{word-spacing:0.261360px;}
.ws3{word-spacing:0.336000px;}
.ws1a{word-spacing:0.445200px;}
.ws29{word-spacing:0.462000px;}
.ws23{word-spacing:0.508200px;}
.ws28{word-spacing:0.516600px;}
.ws26{word-spacing:0.688800px;}
.ws30{word-spacing:0.714000px;}
.ws2b{word-spacing:0.718200px;}
.ws1f{word-spacing:0.743400px;}
.ws1e{word-spacing:0.991200px;}
.ws4{word-spacing:1.436400px;}
.ws24{word-spacing:1.675800px;}
.wsc{word-spacing:1.906800px;}
.ws13{word-spacing:2.137800px;}
.ws21{word-spacing:2.868600px;}
.ws32{word-spacing:3.120600px;}
.ws33{word-spacing:3.124800px;}
.ws27{word-spacing:3.343200px;}
.ws14{word-spacing:3.351600px;}
.ws34{word-spacing:4.305000px;}
.ws16{word-spacing:4.779600px;}
.ws39{word-spacing:5.518800px;}
.ws1c{word-spacing:7.135800px;}
.ws18{word-spacing:9.114000px;}
.ws36{word-spacing:10.567200px;}
.ws38{word-spacing:11.524800px;}
.wsb{word-spacing:11.764200px;}
.ws1d{word-spacing:12.222000px;}
._0{margin-left:-5.959440px;}
._2{margin-left:-4.064640px;}
._4{margin-left:-2.520000px;}
._1{margin-left:-1.051200px;}
._3{width:1.080720px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:37.920000px;}
.fs1{font-size:42.000000px;}
.fs5{font-size:56.000000px;}
.fs2{font-size:58.080000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:70.080000px;}
.ye{bottom:17.000000px;}
.yd{bottom:52.520300px;}
.y66{bottom:87.561800px;}
.ya0{bottom:87.614300px;}
.y3a{bottom:87.617300px;}
.y8b{bottom:87.624800px;}
.y65{bottom:103.217300px;}
.y39{bottom:103.220300px;}
.y8a{bottom:103.227800px;}
.y89{bottom:118.767800px;}
.y64{bottom:118.820300px;}
.y38{bottom:118.823300px;}
.y63{bottom:134.423300px;}
.y37{bottom:134.426300px;}
.y88{bottom:149.963300px;}
.y62{bottom:150.026300px;}
.y36{bottom:150.029300px;}
.y87{bottom:165.618800px;}
.y61{bottom:165.629300px;}
.y35{bottom:165.632300px;}
.y86{bottom:181.221800px;}
.y60{bottom:181.232300px;}
.y34{bottom:181.235300px;}
.y33{bottom:196.775300px;}
.y85{bottom:196.824800px;}
.y5f{bottom:196.835300px;}
.y9f{bottom:212.375300px;}
.y84{bottom:212.427800px;}
.y32{bottom:212.430800px;}
.y5e{bottom:212.438300px;}
.y31{bottom:227.970800px;}
.y83{bottom:228.030800px;}
.y5d{bottom:228.041300px;}
.y9e{bottom:243.570800px;}
.y30{bottom:243.626300px;}
.y82{bottom:243.633800px;}
.y5c{bottom:243.644300px;}
.y9d{bottom:259.226300px;}
.y2f{bottom:259.229300px;}
.y81{bottom:259.236800px;}
.y5b{bottom:259.247300px;}
.y9c{bottom:274.829300px;}
.y2e{bottom:274.832300px;}
.y80{bottom:274.839800px;}
.y5a{bottom:274.850300px;}
.y59{bottom:290.390300px;}
.y9b{bottom:290.432300px;}
.y2d{bottom:290.435300px;}
.y7f{bottom:290.442800px;}
.y7e{bottom:305.982800px;}
.y9a{bottom:306.035300px;}
.y2c{bottom:306.038300px;}
.y58{bottom:306.045800px;}
.y57{bottom:321.585800px;}
.y7d{bottom:321.638300px;}
.y2b{bottom:321.641300px;}
.y7c{bottom:337.178300px;}
.y56{bottom:337.241300px;}
.y2a{bottom:337.244300px;}
.y7b{bottom:352.833800px;}
.y55{bottom:352.844300px;}
.y29{bottom:352.847300px;}
.y7a{bottom:368.436800px;}
.y54{bottom:368.447300px;}
.y28{bottom:368.450300px;}
.y79{bottom:384.039800px;}
.y53{bottom:384.050300px;}
.y27{bottom:384.053300px;}
.yc{bottom:390.253580px;}
.y26{bottom:399.593300px;}
.y78{bottom:399.642800px;}
.y52{bottom:399.653300px;}
.y99{bottom:415.193300px;}
.y77{bottom:415.245800px;}
.y25{bottom:415.248800px;}
.y51{bottom:415.256300px;}
.yb{bottom:421.457060px;}
.y24{bottom:430.788800px;}
.y76{bottom:430.848800px;}
.y50{bottom:430.859300px;}
.y98{bottom:446.388800px;}
.y23{bottom:446.444300px;}
.y75{bottom:446.451800px;}
.y4f{bottom:446.462300px;}
.y9{bottom:451.754060px;}
.ya{bottom:451.760300px;}
.y97{bottom:462.044300px;}
.y22{bottom:462.047300px;}
.y74{bottom:462.054800px;}
.y4e{bottom:462.065300px;}
.y4d{bottom:477.605300px;}
.y96{bottom:477.647300px;}
.y21{bottom:477.650300px;}
.y73{bottom:477.657800px;}
.y8{bottom:482.957180px;}
.y95{bottom:493.250300px;}
.y20{bottom:493.253300px;}
.y4c{bottom:493.260800px;}
.y4b{bottom:508.800800px;}
.y94{bottom:508.853300px;}
.y1f{bottom:508.856300px;}
.y7{bottom:514.160300px;}
.y4a{bottom:524.456300px;}
.y1e{bottom:524.459300px;}
.y72{bottom:539.996300px;}
.y49{bottom:540.059300px;}
.y1d{bottom:540.062300px;}
.y6{bottom:546.261860px;}
.y71{bottom:555.651800px;}
.y48{bottom:555.662300px;}
.y1c{bottom:555.665300px;}
.y1b{bottom:571.205300px;}
.y70{bottom:571.254800px;}
.y47{bottom:571.265300px;}
.y0{bottom:573.000000px;}
.y5{bottom:573.080300px;}
.y6f{bottom:586.857800px;}
.y1a{bottom:586.860800px;}
.y46{bottom:586.868300px;}
.y19{bottom:602.400800px;}
.y6e{bottom:602.460800px;}
.y45{bottom:602.471300px;}
.y93{bottom:618.011300px;}
.y18{bottom:618.056300px;}
.y6d{bottom:618.063800px;}
.y44{bottom:618.074300px;}
.y17{bottom:633.659300px;}
.y6c{bottom:633.666800px;}
.y43{bottom:633.677300px;}
.y92{bottom:649.206800px;}
.y16{bottom:649.262300px;}
.y6b{bottom:649.269800px;}
.y42{bottom:649.280300px;}
.y91{bottom:664.862300px;}
.y15{bottom:664.865300px;}
.y6a{bottom:664.872800px;}
.y41{bottom:664.883300px;}
.y90{bottom:680.465300px;}
.y14{bottom:680.468300px;}
.y69{bottom:680.475800px;}
.y40{bottom:680.486300px;}
.y4{bottom:686.653340px;}
.y8f{bottom:696.068300px;}
.y13{bottom:696.071300px;}
.y68{bottom:696.078800px;}
.y3f{bottom:696.089300px;}
.y3e{bottom:711.629300px;}
.y8e{bottom:711.671300px;}
.y12{bottom:711.674300px;}
.y67{bottom:711.681800px;}
.y3{bottom:717.856820px;}
.y8d{bottom:727.274300px;}
.y11{bottom:727.277300px;}
.y3d{bottom:727.284800px;}
.y3c{bottom:742.824800px;}
.y8c{bottom:742.877300px;}
.y10{bottom:742.880300px;}
.y2{bottom:749.060300px;}
.yf{bottom:758.420300px;}
.y3b{bottom:758.480300px;}
.y1{bottom:784.580300px;}
.h5{height:42.067500px;}
.h8{height:46.593750px;}
.h7{height:48.090820px;}
.h3{height:66.502734px;}
.h6{height:69.015625px;}
.h2{height:73.372852px;}
.h4{height:80.242969px;}
.h1{height:98.000000px;}
.h0{height:842.000000px;}
.w1{width:342.500000px;}
.w0{width:595.220000px;}
.x9{left:90.000000px;}
.x5{left:103.509360px;}
.x0{left:126.500000px;}
.x8{left:245.000000px;}
.x4{left:263.940000px;}
.x1{left:266.820000px;}
.x2{left:297.660000px;}
.x3{left:468.660000px;}
.x6{left:491.819900px;}
.x7{left:492.900000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1f{letter-spacing:-1.758400pt;}
.ls4{letter-spacing:-0.185856pt;}
.ls16{letter-spacing:-0.156800pt;}
.ls0{letter-spacing:-0.085440pt;}
.ls5{letter-spacing:-0.050400pt;}
.ls2{letter-spacing:-0.046720pt;}
.lsc{letter-spacing:-0.039200pt;}
.ls21{letter-spacing:-0.022400pt;}
.ls3{letter-spacing:-0.018688pt;}
.lse{letter-spacing:-0.011200pt;}
.ls1e{letter-spacing:-0.005600pt;}
.ls1{letter-spacing:0.000000pt;}
.ls1c{letter-spacing:0.005600pt;}
.ls15{letter-spacing:0.011200pt;}
.ls1a{letter-spacing:0.033600pt;}
.ls18{letter-spacing:0.039200pt;}
.ls12{letter-spacing:0.044800pt;}
.ls17{letter-spacing:0.050400pt;}
.ls1b{letter-spacing:0.056000pt;}
.ls20{letter-spacing:0.061600pt;}
.ls9{letter-spacing:0.067200pt;}
.ls8{letter-spacing:0.072800pt;}
.ls13{letter-spacing:0.078400pt;}
.ls7{letter-spacing:0.084000pt;}
.lsf{letter-spacing:0.089600pt;}
.ls10{letter-spacing:0.095200pt;}
.lsb{letter-spacing:0.100800pt;}
.lsa{letter-spacing:0.106400pt;}
.ls11{letter-spacing:0.112000pt;}
.ls1d{letter-spacing:0.117600pt;}
.ls19{letter-spacing:0.123200pt;}
.ls14{letter-spacing:0.128800pt;}
.ls6{letter-spacing:0.162400pt;}
.lsd{letter-spacing:0.196000pt;}
.ws2f{word-spacing:-3.124800pt;}
.ws37{word-spacing:-1.260000pt;}
.wse{word-spacing:-0.991200pt;}
.ws15{word-spacing:-0.974400pt;}
.wsf{word-spacing:-0.963200pt;}
.wsd{word-spacing:-0.946400pt;}
.ws12{word-spacing:-0.330400pt;}
.ws35{word-spacing:-0.324800pt;}
.ws3c{word-spacing:-0.319200pt;}
.ws2a{word-spacing:-0.296800pt;}
.wsa{word-spacing:-0.190400pt;}
.ws1{word-spacing:-0.140160pt;}
.ws31{word-spacing:-0.044800pt;}
.ws2d{word-spacing:-0.039200pt;}
.ws19{word-spacing:-0.033600pt;}
.ws7{word-spacing:-0.028000pt;}
.ws8{word-spacing:-0.022400pt;}
.ws11{word-spacing:-0.016800pt;}
.ws25{word-spacing:-0.011200pt;}
.ws17{word-spacing:-0.005600pt;}
.ws0{word-spacing:0.000000pt;}
.ws5{word-spacing:0.005600pt;}
.ws6{word-spacing:0.011200pt;}
.ws3a{word-spacing:0.016800pt;}
.ws10{word-spacing:0.033600pt;}
.ws20{word-spacing:0.039200pt;}
.ws1b{word-spacing:0.067200pt;}
.ws2c{word-spacing:0.072800pt;}
.ws3b{word-spacing:0.078400pt;}
.ws2e{word-spacing:0.084000pt;}
.ws9{word-spacing:0.089600pt;}
.ws3d{word-spacing:0.100800pt;}
.ws22{word-spacing:0.347200pt;}
.ws2{word-spacing:0.348480pt;}
.ws3{word-spacing:0.448000pt;}
.ws1a{word-spacing:0.593600pt;}
.ws29{word-spacing:0.616000pt;}
.ws23{word-spacing:0.677600pt;}
.ws28{word-spacing:0.688800pt;}
.ws26{word-spacing:0.918400pt;}
.ws30{word-spacing:0.952000pt;}
.ws2b{word-spacing:0.957600pt;}
.ws1f{word-spacing:0.991200pt;}
.ws1e{word-spacing:1.321600pt;}
.ws4{word-spacing:1.915200pt;}
.ws24{word-spacing:2.234400pt;}
.wsc{word-spacing:2.542400pt;}
.ws13{word-spacing:2.850400pt;}
.ws21{word-spacing:3.824800pt;}
.ws32{word-spacing:4.160800pt;}
.ws33{word-spacing:4.166400pt;}
.ws27{word-spacing:4.457600pt;}
.ws14{word-spacing:4.468800pt;}
.ws34{word-spacing:5.740000pt;}
.ws16{word-spacing:6.372800pt;}
.ws39{word-spacing:7.358400pt;}
.ws1c{word-spacing:9.514400pt;}
.ws18{word-spacing:12.152000pt;}
.ws36{word-spacing:14.089600pt;}
.ws38{word-spacing:15.366400pt;}
.wsb{word-spacing:15.685600pt;}
.ws1d{word-spacing:16.296000pt;}
._0{margin-left:-7.945920pt;}
._2{margin-left:-5.419520pt;}
._4{margin-left:-3.360000pt;}
._1{margin-left:-1.401600pt;}
._3{width:1.440960pt;}
.fs4{font-size:50.560000pt;}
.fs1{font-size:56.000000pt;}
.fs5{font-size:74.666667pt;}
.fs2{font-size:77.440000pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:93.440000pt;}
.ye{bottom:22.666667pt;}
.yd{bottom:70.027067pt;}
.y66{bottom:116.749067pt;}
.ya0{bottom:116.819067pt;}
.y3a{bottom:116.823067pt;}
.y8b{bottom:116.833067pt;}
.y65{bottom:137.623067pt;}
.y39{bottom:137.627067pt;}
.y8a{bottom:137.637067pt;}
.y89{bottom:158.357067pt;}
.y64{bottom:158.427067pt;}
.y38{bottom:158.431067pt;}
.y63{bottom:179.231067pt;}
.y37{bottom:179.235067pt;}
.y88{bottom:199.951067pt;}
.y62{bottom:200.035067pt;}
.y36{bottom:200.039067pt;}
.y87{bottom:220.825067pt;}
.y61{bottom:220.839067pt;}
.y35{bottom:220.843067pt;}
.y86{bottom:241.629067pt;}
.y60{bottom:241.643067pt;}
.y34{bottom:241.647067pt;}
.y33{bottom:262.367067pt;}
.y85{bottom:262.433067pt;}
.y5f{bottom:262.447067pt;}
.y9f{bottom:283.167067pt;}
.y84{bottom:283.237067pt;}
.y32{bottom:283.241067pt;}
.y5e{bottom:283.251067pt;}
.y31{bottom:303.961067pt;}
.y83{bottom:304.041067pt;}
.y5d{bottom:304.055067pt;}
.y9e{bottom:324.761067pt;}
.y30{bottom:324.835067pt;}
.y82{bottom:324.845067pt;}
.y5c{bottom:324.859067pt;}
.y9d{bottom:345.635067pt;}
.y2f{bottom:345.639067pt;}
.y81{bottom:345.649067pt;}
.y5b{bottom:345.663067pt;}
.y9c{bottom:366.439067pt;}
.y2e{bottom:366.443067pt;}
.y80{bottom:366.453067pt;}
.y5a{bottom:366.467067pt;}
.y59{bottom:387.187067pt;}
.y9b{bottom:387.243067pt;}
.y2d{bottom:387.247067pt;}
.y7f{bottom:387.257067pt;}
.y7e{bottom:407.977067pt;}
.y9a{bottom:408.047067pt;}
.y2c{bottom:408.051067pt;}
.y58{bottom:408.061067pt;}
.y57{bottom:428.781067pt;}
.y7d{bottom:428.851067pt;}
.y2b{bottom:428.855067pt;}
.y7c{bottom:449.571067pt;}
.y56{bottom:449.655067pt;}
.y2a{bottom:449.659067pt;}
.y7b{bottom:470.445067pt;}
.y55{bottom:470.459067pt;}
.y29{bottom:470.463067pt;}
.y7a{bottom:491.249067pt;}
.y54{bottom:491.263067pt;}
.y28{bottom:491.267067pt;}
.y79{bottom:512.053067pt;}
.y53{bottom:512.067067pt;}
.y27{bottom:512.071067pt;}
.yc{bottom:520.338107pt;}
.y26{bottom:532.791067pt;}
.y78{bottom:532.857067pt;}
.y52{bottom:532.871067pt;}
.y99{bottom:553.591067pt;}
.y77{bottom:553.661067pt;}
.y25{bottom:553.665067pt;}
.y51{bottom:553.675067pt;}
.yb{bottom:561.942747pt;}
.y24{bottom:574.385067pt;}
.y76{bottom:574.465067pt;}
.y50{bottom:574.479067pt;}
.y98{bottom:595.185067pt;}
.y23{bottom:595.259067pt;}
.y75{bottom:595.269067pt;}
.y4f{bottom:595.283067pt;}
.y9{bottom:602.338747pt;}
.ya{bottom:602.347067pt;}
.y97{bottom:616.059067pt;}
.y22{bottom:616.063067pt;}
.y74{bottom:616.073067pt;}
.y4e{bottom:616.087067pt;}
.y4d{bottom:636.807067pt;}
.y96{bottom:636.863067pt;}
.y21{bottom:636.867067pt;}
.y73{bottom:636.877067pt;}
.y8{bottom:643.942907pt;}
.y95{bottom:657.667067pt;}
.y20{bottom:657.671067pt;}
.y4c{bottom:657.681067pt;}
.y4b{bottom:678.401067pt;}
.y94{bottom:678.471067pt;}
.y1f{bottom:678.475067pt;}
.y7{bottom:685.547067pt;}
.y4a{bottom:699.275067pt;}
.y1e{bottom:699.279067pt;}
.y72{bottom:719.995067pt;}
.y49{bottom:720.079067pt;}
.y1d{bottom:720.083067pt;}
.y6{bottom:728.349147pt;}
.y71{bottom:740.869067pt;}
.y48{bottom:740.883067pt;}
.y1c{bottom:740.887067pt;}
.y1b{bottom:761.607067pt;}
.y70{bottom:761.673067pt;}
.y47{bottom:761.687067pt;}
.y0{bottom:764.000000pt;}
.y5{bottom:764.107067pt;}
.y6f{bottom:782.477067pt;}
.y1a{bottom:782.481067pt;}
.y46{bottom:782.491067pt;}
.y19{bottom:803.201067pt;}
.y6e{bottom:803.281067pt;}
.y45{bottom:803.295067pt;}
.y93{bottom:824.015067pt;}
.y18{bottom:824.075067pt;}
.y6d{bottom:824.085067pt;}
.y44{bottom:824.099067pt;}
.y17{bottom:844.879067pt;}
.y6c{bottom:844.889067pt;}
.y43{bottom:844.903067pt;}
.y92{bottom:865.609067pt;}
.y16{bottom:865.683067pt;}
.y6b{bottom:865.693067pt;}
.y42{bottom:865.707067pt;}
.y91{bottom:886.483067pt;}
.y15{bottom:886.487067pt;}
.y6a{bottom:886.497067pt;}
.y41{bottom:886.511067pt;}
.y90{bottom:907.287067pt;}
.y14{bottom:907.291067pt;}
.y69{bottom:907.301067pt;}
.y40{bottom:907.315067pt;}
.y4{bottom:915.537787pt;}
.y8f{bottom:928.091067pt;}
.y13{bottom:928.095067pt;}
.y68{bottom:928.105067pt;}
.y3f{bottom:928.119067pt;}
.y3e{bottom:948.839067pt;}
.y8e{bottom:948.895067pt;}
.y12{bottom:948.899067pt;}
.y67{bottom:948.909067pt;}
.y3{bottom:957.142427pt;}
.y8d{bottom:969.699067pt;}
.y11{bottom:969.703067pt;}
.y3d{bottom:969.713067pt;}
.y3c{bottom:990.433067pt;}
.y8c{bottom:990.503067pt;}
.y10{bottom:990.507067pt;}
.y2{bottom:998.747067pt;}
.yf{bottom:1011.227067pt;}
.y3b{bottom:1011.307067pt;}
.y1{bottom:1046.107067pt;}
.h5{height:56.090000pt;}
.h8{height:62.125000pt;}
.h7{height:64.121094pt;}
.h3{height:88.670312pt;}
.h6{height:92.020833pt;}
.h2{height:97.830469pt;}
.h4{height:106.990625pt;}
.h1{height:130.666667pt;}
.h0{height:1122.666667pt;}
.w1{width:456.666667pt;}
.w0{width:793.626667pt;}
.x9{left:120.000000pt;}
.x5{left:138.012480pt;}
.x0{left:168.666667pt;}
.x8{left:326.666667pt;}
.x4{left:351.920000pt;}
.x1{left:355.760000pt;}
.x2{left:396.880000pt;}
.x3{left:624.880000pt;}
.x6{left:655.759867pt;}
.x7{left:657.200000pt;}
}
