.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.921875;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-0.076896px;}
.ls11{letter-spacing:-0.070272px;}
.ls45{letter-spacing:-0.065880px;}
.ls4c{letter-spacing:-0.061488px;}
.ls29{letter-spacing:-0.057096px;}
.ls16{letter-spacing:-0.052704px;}
.ls4d{letter-spacing:-0.048312px;}
.ls3c{letter-spacing:-0.043920px;}
.ls37{letter-spacing:-0.039528px;}
.ls31{letter-spacing:-0.035136px;}
.ls39{letter-spacing:-0.030744px;}
.ls2e{letter-spacing:-0.026352px;}
.ls32{letter-spacing:-0.021960px;}
.ls17{letter-spacing:-0.017568px;}
.ls27{letter-spacing:-0.013176px;}
.ls9{letter-spacing:-0.011184px;}
.lsf{letter-spacing:-0.008784px;}
.ls10{letter-spacing:-0.004392px;}
.ls1{letter-spacing:0.000000px;}
.ls23{letter-spacing:0.004392px;}
.ls1a{letter-spacing:0.008784px;}
.ls3{letter-spacing:0.009192px;}
.ls14{letter-spacing:0.013176px;}
.ls13{letter-spacing:0.017568px;}
.ls7{letter-spacing:0.018384px;}
.ls21{letter-spacing:0.021960px;}
.ls15{letter-spacing:0.026352px;}
.ls6{letter-spacing:0.027576px;}
.ls35{letter-spacing:0.030744px;}
.ls24{letter-spacing:0.035136px;}
.ls20{letter-spacing:0.039528px;}
.ls19{letter-spacing:0.043920px;}
.ls5{letter-spacing:0.045960px;}
.ls1b{letter-spacing:0.048312px;}
.ls1f{letter-spacing:0.052704px;}
.ls36{letter-spacing:0.057096px;}
.ls3b{letter-spacing:0.061488px;}
.ls0{letter-spacing:0.064080px;}
.lsc{letter-spacing:0.065880px;}
.ls2b{letter-spacing:0.070272px;}
.ls8{letter-spacing:0.073536px;}
.ls40{letter-spacing:0.074664px;}
.ls22{letter-spacing:0.079056px;}
.lsd{letter-spacing:0.083448px;}
.ls48{letter-spacing:0.087840px;}
.ls4{letter-spacing:0.091920px;}
.ls38{letter-spacing:0.092232px;}
.ls41{letter-spacing:0.096624px;}
.ls2c{letter-spacing:0.101016px;}
.ls3f{letter-spacing:0.105408px;}
.ls26{letter-spacing:0.109800px;}
.ls25{letter-spacing:0.114192px;}
.ls1e{letter-spacing:0.118584px;}
.ls12{letter-spacing:0.122976px;}
.ls49{letter-spacing:0.127368px;}
.ls1d{letter-spacing:0.131760px;}
.ls2a{letter-spacing:0.136152px;}
.ls42{letter-spacing:0.140544px;}
.ls2d{letter-spacing:0.144936px;}
.lse{letter-spacing:0.149328px;}
.ls43{letter-spacing:0.153720px;}
.ls1c{letter-spacing:0.158112px;}
.ls3a{letter-spacing:0.166896px;}
.ls47{letter-spacing:0.175680px;}
.ls4b{letter-spacing:0.180072px;}
.ls4e{letter-spacing:0.184464px;}
.ls3d{letter-spacing:0.188856px;}
.lsa{letter-spacing:0.201312px;}
.ls2f{letter-spacing:0.206424px;}
.ls34{letter-spacing:0.219600px;}
.ls44{letter-spacing:0.237168px;}
.ls18{letter-spacing:0.241560px;}
.ls46{letter-spacing:0.245952px;}
.ls30{letter-spacing:0.289872px;}
.ls3e{letter-spacing:0.294264px;}
.ls28{letter-spacing:0.320616px;}
.ls33{letter-spacing:0.342576px;}
.ls4a{letter-spacing:0.351360px;}
.lsb{letter-spacing:566.071704px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.014552px;}
._0{width:1.251720px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs2{font-size:55.920000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:91.920000px;}
.y10{bottom:16.000000px;}
.yf{bottom:39.840100px;}
.y47{bottom:82.612680px;}
.y2d{bottom:87.180360px;}
.y54{bottom:88.069740px;}
.y46{bottom:98.094480px;}
.y68{bottom:98.105460px;}
.y2c{bottom:112.621020px;}
.y53{bottom:113.510400px;}
.y45{bottom:123.535140px;}
.y67{bottom:123.546120px;}
.y2b{bottom:138.061680px;}
.y52{bottom:138.951060px;}
.y44{bottom:148.975800px;}
.y66{bottom:148.986780px;}
.y2a{bottom:163.502340px;}
.y51{bottom:164.391720px;}
.y43{bottom:174.416460px;}
.y65{bottom:174.427440px;}
.y50{bottom:179.807640px;}
.y29{bottom:188.943000px;}
.y4f{bottom:195.289440px;}
.y42{bottom:199.857120px;}
.y64{bottom:199.868100px;}
.y28{bottom:214.383660px;}
.y4e{bottom:220.730100px;}
.y41{bottom:225.297780px;}
.y63{bottom:225.308760px;}
.y27{bottom:239.824320px;}
.y40{bottom:240.713700px;}
.y62{bottom:240.724680px;}
.y4d{bottom:246.170760px;}
.y61{bottom:256.140600px;}
.y26{bottom:265.264980px;}
.y3f{bottom:266.154360px;}
.y4c{bottom:271.611420px;}
.ye{bottom:275.040000px;}
.y3e{bottom:281.570280px;}
.y60{bottom:281.581260px;}
.y25{bottom:290.705640px;}
.y4b{bottom:297.052080px;}
.yd{bottom:301.916160px;}
.y24{bottom:306.187440px;}
.y3d{bottom:307.010940px;}
.y5f{bottom:307.021920px;}
.y23{bottom:321.603360px;}
.y3c{bottom:322.492740px;}
.y5e{bottom:332.462580px;}
.yc{bottom:335.580000px;}
.yb{bottom:335.589900px;}
.y22{bottom:347.044020px;}
.y3b{bottom:347.933400px;}
.y5d{bottom:357.958140px;}
.ya{bottom:367.807860px;}
.y21{bottom:372.484680px;}
.y3a{bottom:373.374060px;}
.y5c{bottom:383.398800px;}
.y20{bottom:397.925340px;}
.y39{bottom:398.814720px;}
.y5b{bottom:408.839460px;}
.y9{bottom:410.160000px;}
.y38{bottom:414.230640px;}
.y1f{bottom:423.366000px;}
.y4a{bottom:424.255380px;}
.y37{bottom:429.712440px;}
.y5a{bottom:434.280120px;}
.y0{bottom:444.500000px;}
.y8{bottom:444.670920px;}
.y1e{bottom:448.806660px;}
.y49{bottom:449.696040px;}
.y36{bottom:455.153100px;}
.y59{bottom:459.720780px;}
.y1d{bottom:464.288460px;}
.y48{bottom:465.111960px;}
.y1c{bottom:479.704380px;}
.y35{bottom:480.593760px;}
.y58{bottom:485.161440px;}
.y1b{bottom:505.145040px;}
.y34{bottom:506.034420px;}
.y57{bottom:510.602100px;}
.y1a{bottom:520.560960px;}
.y56{bottom:526.018020px;}
.y33{bottom:531.475080px;}
.y55{bottom:541.433940px;}
.y19{bottom:546.001620px;}
.y32{bottom:556.915740px;}
.y7{bottom:558.496080px;}
.y18{bottom:561.483420px;}
.y31{bottom:582.356400px;}
.y17{bottom:586.924080px;}
.y6{bottom:588.133680px;}
.y16{bottom:602.340000px;}
.y30{bottom:607.797060px;}
.y5{bottom:617.771280px;}
.y15{bottom:627.780660px;}
.y2f{bottom:633.237720px;}
.y4{bottom:647.464800px;}
.y14{bottom:653.221320px;}
.y2e{bottom:658.678380px;}
.y13{bottom:668.703120px;}
.y3{bottom:677.102400px;}
.y12{bottom:684.119040px;}
.y2{bottom:706.740000px;}
.y11{bottom:709.559700px;}
.y1{bottom:740.820000px;}
.h6{height:29.272852px;}
.h8{height:32.661211px;}
.h3{height:37.270898px;}
.h5{height:38.226562px;}
.h2{height:43.804688px;}
.h4{height:62.835937px;}
.h7{height:69.015625px;}
.h1{height:98.000000px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x9{left:72.000000px;}
.x5{left:86.637660px;}
.x0{left:135.500000px;}
.x6{left:244.234500px;}
.xb{left:253.000000px;}
.x4{left:266.640000px;}
.x8{left:273.245100px;}
.x1{left:278.640000px;}
.x2{left:306.000000px;}
.x7{left:367.680000px;}
.x3{left:477.716340px;}
.xa{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-0.102528pt;}
.ls11{letter-spacing:-0.093696pt;}
.ls45{letter-spacing:-0.087840pt;}
.ls4c{letter-spacing:-0.081984pt;}
.ls29{letter-spacing:-0.076128pt;}
.ls16{letter-spacing:-0.070272pt;}
.ls4d{letter-spacing:-0.064416pt;}
.ls3c{letter-spacing:-0.058560pt;}
.ls37{letter-spacing:-0.052704pt;}
.ls31{letter-spacing:-0.046848pt;}
.ls39{letter-spacing:-0.040992pt;}
.ls2e{letter-spacing:-0.035136pt;}
.ls32{letter-spacing:-0.029280pt;}
.ls17{letter-spacing:-0.023424pt;}
.ls27{letter-spacing:-0.017568pt;}
.ls9{letter-spacing:-0.014912pt;}
.lsf{letter-spacing:-0.011712pt;}
.ls10{letter-spacing:-0.005856pt;}
.ls1{letter-spacing:0.000000pt;}
.ls23{letter-spacing:0.005856pt;}
.ls1a{letter-spacing:0.011712pt;}
.ls3{letter-spacing:0.012256pt;}
.ls14{letter-spacing:0.017568pt;}
.ls13{letter-spacing:0.023424pt;}
.ls7{letter-spacing:0.024512pt;}
.ls21{letter-spacing:0.029280pt;}
.ls15{letter-spacing:0.035136pt;}
.ls6{letter-spacing:0.036768pt;}
.ls35{letter-spacing:0.040992pt;}
.ls24{letter-spacing:0.046848pt;}
.ls20{letter-spacing:0.052704pt;}
.ls19{letter-spacing:0.058560pt;}
.ls5{letter-spacing:0.061280pt;}
.ls1b{letter-spacing:0.064416pt;}
.ls1f{letter-spacing:0.070272pt;}
.ls36{letter-spacing:0.076128pt;}
.ls3b{letter-spacing:0.081984pt;}
.ls0{letter-spacing:0.085440pt;}
.lsc{letter-spacing:0.087840pt;}
.ls2b{letter-spacing:0.093696pt;}
.ls8{letter-spacing:0.098048pt;}
.ls40{letter-spacing:0.099552pt;}
.ls22{letter-spacing:0.105408pt;}
.lsd{letter-spacing:0.111264pt;}
.ls48{letter-spacing:0.117120pt;}
.ls4{letter-spacing:0.122560pt;}
.ls38{letter-spacing:0.122976pt;}
.ls41{letter-spacing:0.128832pt;}
.ls2c{letter-spacing:0.134688pt;}
.ls3f{letter-spacing:0.140544pt;}
.ls26{letter-spacing:0.146400pt;}
.ls25{letter-spacing:0.152256pt;}
.ls1e{letter-spacing:0.158112pt;}
.ls12{letter-spacing:0.163968pt;}
.ls49{letter-spacing:0.169824pt;}
.ls1d{letter-spacing:0.175680pt;}
.ls2a{letter-spacing:0.181536pt;}
.ls42{letter-spacing:0.187392pt;}
.ls2d{letter-spacing:0.193248pt;}
.lse{letter-spacing:0.199104pt;}
.ls43{letter-spacing:0.204960pt;}
.ls1c{letter-spacing:0.210816pt;}
.ls3a{letter-spacing:0.222528pt;}
.ls47{letter-spacing:0.234240pt;}
.ls4b{letter-spacing:0.240096pt;}
.ls4e{letter-spacing:0.245952pt;}
.ls3d{letter-spacing:0.251808pt;}
.lsa{letter-spacing:0.268416pt;}
.ls2f{letter-spacing:0.275232pt;}
.ls34{letter-spacing:0.292800pt;}
.ls44{letter-spacing:0.316224pt;}
.ls18{letter-spacing:0.322080pt;}
.ls46{letter-spacing:0.327936pt;}
.ls30{letter-spacing:0.386496pt;}
.ls3e{letter-spacing:0.392352pt;}
.ls28{letter-spacing:0.427488pt;}
.ls33{letter-spacing:0.456768pt;}
.ls4a{letter-spacing:0.468480pt;}
.lsb{letter-spacing:754.762272pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.352736pt;}
._0{width:1.668960pt;}
.fs1{font-size:58.560000pt;}
.fs2{font-size:74.560000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:122.560000pt;}
.y10{bottom:21.333333pt;}
.yf{bottom:53.120133pt;}
.y47{bottom:110.150240pt;}
.y2d{bottom:116.240480pt;}
.y54{bottom:117.426320pt;}
.y46{bottom:130.792640pt;}
.y68{bottom:130.807280pt;}
.y2c{bottom:150.161360pt;}
.y53{bottom:151.347200pt;}
.y45{bottom:164.713520pt;}
.y67{bottom:164.728160pt;}
.y2b{bottom:184.082240pt;}
.y52{bottom:185.268080pt;}
.y44{bottom:198.634400pt;}
.y66{bottom:198.649040pt;}
.y2a{bottom:218.003120pt;}
.y51{bottom:219.188960pt;}
.y43{bottom:232.555280pt;}
.y65{bottom:232.569920pt;}
.y50{bottom:239.743520pt;}
.y29{bottom:251.924000pt;}
.y4f{bottom:260.385920pt;}
.y42{bottom:266.476160pt;}
.y64{bottom:266.490800pt;}
.y28{bottom:285.844880pt;}
.y4e{bottom:294.306800pt;}
.y41{bottom:300.397040pt;}
.y63{bottom:300.411680pt;}
.y27{bottom:319.765760pt;}
.y40{bottom:320.951600pt;}
.y62{bottom:320.966240pt;}
.y4d{bottom:328.227680pt;}
.y61{bottom:341.520800pt;}
.y26{bottom:353.686640pt;}
.y3f{bottom:354.872480pt;}
.y4c{bottom:362.148560pt;}
.ye{bottom:366.720000pt;}
.y3e{bottom:375.427040pt;}
.y60{bottom:375.441680pt;}
.y25{bottom:387.607520pt;}
.y4b{bottom:396.069440pt;}
.yd{bottom:402.554880pt;}
.y24{bottom:408.249920pt;}
.y3d{bottom:409.347920pt;}
.y5f{bottom:409.362560pt;}
.y23{bottom:428.804480pt;}
.y3c{bottom:429.990320pt;}
.y5e{bottom:443.283440pt;}
.yc{bottom:447.440000pt;}
.yb{bottom:447.453200pt;}
.y22{bottom:462.725360pt;}
.y3b{bottom:463.911200pt;}
.y5d{bottom:477.277520pt;}
.ya{bottom:490.410480pt;}
.y21{bottom:496.646240pt;}
.y3a{bottom:497.832080pt;}
.y5c{bottom:511.198400pt;}
.y20{bottom:530.567120pt;}
.y39{bottom:531.752960pt;}
.y5b{bottom:545.119280pt;}
.y9{bottom:546.880000pt;}
.y38{bottom:552.307520pt;}
.y1f{bottom:564.488000pt;}
.y4a{bottom:565.673840pt;}
.y37{bottom:572.949920pt;}
.y5a{bottom:579.040160pt;}
.y0{bottom:592.666667pt;}
.y8{bottom:592.894560pt;}
.y1e{bottom:598.408880pt;}
.y49{bottom:599.594720pt;}
.y36{bottom:606.870800pt;}
.y59{bottom:612.961040pt;}
.y1d{bottom:619.051280pt;}
.y48{bottom:620.149280pt;}
.y1c{bottom:639.605840pt;}
.y35{bottom:640.791680pt;}
.y58{bottom:646.881920pt;}
.y1b{bottom:673.526720pt;}
.y34{bottom:674.712560pt;}
.y57{bottom:680.802800pt;}
.y1a{bottom:694.081280pt;}
.y56{bottom:701.357360pt;}
.y33{bottom:708.633440pt;}
.y55{bottom:721.911920pt;}
.y19{bottom:728.002160pt;}
.y32{bottom:742.554320pt;}
.y7{bottom:744.661440pt;}
.y18{bottom:748.644560pt;}
.y31{bottom:776.475200pt;}
.y17{bottom:782.565440pt;}
.y6{bottom:784.178240pt;}
.y16{bottom:803.120000pt;}
.y30{bottom:810.396080pt;}
.y5{bottom:823.695040pt;}
.y15{bottom:837.040880pt;}
.y2f{bottom:844.316960pt;}
.y4{bottom:863.286400pt;}
.y14{bottom:870.961760pt;}
.y2e{bottom:878.237840pt;}
.y13{bottom:891.604160pt;}
.y3{bottom:902.803200pt;}
.y12{bottom:912.158720pt;}
.y2{bottom:942.320000pt;}
.y11{bottom:946.079600pt;}
.y1{bottom:987.760000pt;}
.h6{height:39.030469pt;}
.h8{height:43.548281pt;}
.h3{height:49.694531pt;}
.h5{height:50.968750pt;}
.h2{height:58.406250pt;}
.h4{height:83.781250pt;}
.h7{height:92.020833pt;}
.h1{height:130.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x9{left:96.000000pt;}
.x5{left:115.516880pt;}
.x0{left:180.666667pt;}
.x6{left:325.646000pt;}
.xb{left:337.333333pt;}
.x4{left:355.520000pt;}
.x8{left:364.326800pt;}
.x1{left:371.520000pt;}
.x2{left:408.000000pt;}
.x7{left:490.240000pt;}
.x3{left:636.955120pt;}
.xa{left:673.040000pt;}
}
