.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc7{color:rgb(33,78,123);}
.fc4{color:rgb(102,0,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(255,0,0);}
.fc2{color:rgb(0,0,51);}
.fc6{color:rgb(66,184,55);}
.fc1{color:rgb(120,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:80.000000px;}
.fs1{font-size:160.000000px;}
.ye{bottom:17.000000px;}
.y38{bottom:31.000000px;}
.yf{bottom:44.500000px;}
.y5f{bottom:73.000000px;}
.y33{bottom:74.000000px;}
.y5e{bottom:85.000000px;}
.y32{bottom:90.000000px;}
.y5d{bottom:97.000000px;}
.y31{bottom:102.000000px;}
.y30{bottom:114.000000px;}
.y61{bottom:128.500000px;}
.y2f{bottom:130.000000px;}
.y36{bottom:161.500000px;}
.y5c{bottom:162.000000px;}
.y5b{bottom:182.000000px;}
.y2e{bottom:195.000000px;}
.y5a{bottom:200.000000px;}
.y59{bottom:212.000000px;}
.y2d{bottom:215.000000px;}
.y58{bottom:224.000000px;}
.y2c{bottom:233.000000px;}
.y57{bottom:240.000000px;}
.y2b{bottom:251.000000px;}
.y56{bottom:256.000000px;}
.y2a{bottom:269.000000px;}
.y55{bottom:274.000000px;}
.y54{bottom:286.000000px;}
.y29{bottom:287.000000px;}
.y53{bottom:302.000000px;}
.y28{bottom:305.000000px;}
.y52{bottom:318.000000px;}
.y27{bottom:323.000000px;}
.y51{bottom:334.000000px;}
.y26{bottom:335.000000px;}
.y50{bottom:350.000000px;}
.y25{bottom:351.000000px;}
.y4f{bottom:362.000000px;}
.y24{bottom:367.000000px;}
.y4e{bottom:374.000000px;}
.y23{bottom:383.000000px;}
.yd{bottom:388.500000px;}
.y22{bottom:399.000000px;}
.y60{bottom:405.500000px;}
.yc{bottom:406.500000px;}
.y21{bottom:411.000000px;}
.y20{bottom:423.000000px;}
.yb{bottom:436.500000px;}
.y4d{bottom:439.000000px;}
.ya{bottom:451.500000px;}
.y35{bottom:454.500000px;}
.y4c{bottom:459.000000px;}
.y9{bottom:461.500000px;}
.y4b{bottom:477.000000px;}
.y8{bottom:484.000000px;}
.y1f{bottom:488.000000px;}
.y7{bottom:494.000000px;}
.y4a{bottom:495.000000px;}
.y1e{bottom:508.000000px;}
.y49{bottom:513.000000px;}
.y6{bottom:524.000000px;}
.y5{bottom:526.000000px;}
.y48{bottom:531.000000px;}
.y1d{bottom:538.000000px;}
.y47{bottom:549.000000px;}
.y1c{bottom:550.000000px;}
.y1b{bottom:562.000000px;}
.y46{bottom:567.000000px;}
.y1a{bottom:578.000000px;}
.y45{bottom:585.000000px;}
.y4{bottom:586.000000px;}
.y19{bottom:594.000000px;}
.y44{bottom:603.000000px;}
.y18{bottom:610.000000px;}
.y43{bottom:621.000000px;}
.y17{bottom:628.000000px;}
.y42{bottom:639.000000px;}
.y16{bottom:640.000000px;}
.y15{bottom:656.000000px;}
.y41{bottom:657.000000px;}
.y40{bottom:669.000000px;}
.y14{bottom:672.000000px;}
.y3f{bottom:685.000000px;}
.y3{bottom:686.000000px;}
.y2{bottom:688.000000px;}
.y3e{bottom:701.000000px;}
.y1{bottom:703.000000px;}
.y13{bottom:704.000000px;}
.y0{bottom:712.500000px;}
.y3d{bottom:717.000000px;}
.y12{bottom:720.000000px;}
.y11{bottom:732.000000px;}
.y3c{bottom:733.000000px;}
.y10{bottom:744.000000px;}
.y3b{bottom:749.000000px;}
.y3a{bottom:765.000000px;}
.y34{bottom:775.500000px;}
.y39{bottom:781.000000px;}
.y37{bottom:799.000000px;}
.h2{height:46.973200px;}
.h6{height:56.367840px;}
.h9{height:59.156250px;}
.h7{height:69.015625px;}
.h5{height:70.459800px;}
.h1{height:84.500000px;}
.h4{height:93.946400px;}
.h3{height:187.892799px;}
.h8{height:752.500000px;}
.h0{height:842.000000px;}
.w1{width:277.500000px;}
.w2{width:485.500000px;}
.w0{width:595.000000px;}
.x0{left:55.000000px;}
.xa{left:57.000000px;}
.x6{left:84.950000px;}
.xb{left:214.800000px;}
.x5{left:217.460000px;}
.x8{left:231.150000px;}
.x9{left:245.000000px;}
.x3{left:260.840000px;}
.x7{left:269.150000px;}
.x1{left:276.080000px;}
.x4{left:291.940000px;}
.x2{left:296.110000px;}
.xc{left:531.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:106.666667pt;}
.fs1{font-size:213.333333pt;}
.ye{bottom:22.666667pt;}
.y38{bottom:41.333333pt;}
.yf{bottom:59.333333pt;}
.y5f{bottom:97.333333pt;}
.y33{bottom:98.666667pt;}
.y5e{bottom:113.333333pt;}
.y32{bottom:120.000000pt;}
.y5d{bottom:129.333333pt;}
.y31{bottom:136.000000pt;}
.y30{bottom:152.000000pt;}
.y61{bottom:171.333333pt;}
.y2f{bottom:173.333333pt;}
.y36{bottom:215.333333pt;}
.y5c{bottom:216.000000pt;}
.y5b{bottom:242.666667pt;}
.y2e{bottom:260.000000pt;}
.y5a{bottom:266.666667pt;}
.y59{bottom:282.666667pt;}
.y2d{bottom:286.666667pt;}
.y58{bottom:298.666667pt;}
.y2c{bottom:310.666667pt;}
.y57{bottom:320.000000pt;}
.y2b{bottom:334.666667pt;}
.y56{bottom:341.333333pt;}
.y2a{bottom:358.666667pt;}
.y55{bottom:365.333333pt;}
.y54{bottom:381.333333pt;}
.y29{bottom:382.666667pt;}
.y53{bottom:402.666667pt;}
.y28{bottom:406.666667pt;}
.y52{bottom:424.000000pt;}
.y27{bottom:430.666667pt;}
.y51{bottom:445.333333pt;}
.y26{bottom:446.666667pt;}
.y50{bottom:466.666667pt;}
.y25{bottom:468.000000pt;}
.y4f{bottom:482.666667pt;}
.y24{bottom:489.333333pt;}
.y4e{bottom:498.666667pt;}
.y23{bottom:510.666667pt;}
.yd{bottom:518.000000pt;}
.y22{bottom:532.000000pt;}
.y60{bottom:540.666667pt;}
.yc{bottom:542.000000pt;}
.y21{bottom:548.000000pt;}
.y20{bottom:564.000000pt;}
.yb{bottom:582.000000pt;}
.y4d{bottom:585.333333pt;}
.ya{bottom:602.000000pt;}
.y35{bottom:606.000000pt;}
.y4c{bottom:612.000000pt;}
.y9{bottom:615.333333pt;}
.y4b{bottom:636.000000pt;}
.y8{bottom:645.333333pt;}
.y1f{bottom:650.666667pt;}
.y7{bottom:658.666667pt;}
.y4a{bottom:660.000000pt;}
.y1e{bottom:677.333333pt;}
.y49{bottom:684.000000pt;}
.y6{bottom:698.666667pt;}
.y5{bottom:701.333333pt;}
.y48{bottom:708.000000pt;}
.y1d{bottom:717.333333pt;}
.y47{bottom:732.000000pt;}
.y1c{bottom:733.333333pt;}
.y1b{bottom:749.333333pt;}
.y46{bottom:756.000000pt;}
.y1a{bottom:770.666667pt;}
.y45{bottom:780.000000pt;}
.y4{bottom:781.333333pt;}
.y19{bottom:792.000000pt;}
.y44{bottom:804.000000pt;}
.y18{bottom:813.333333pt;}
.y43{bottom:828.000000pt;}
.y17{bottom:837.333333pt;}
.y42{bottom:852.000000pt;}
.y16{bottom:853.333333pt;}
.y15{bottom:874.666667pt;}
.y41{bottom:876.000000pt;}
.y40{bottom:892.000000pt;}
.y14{bottom:896.000000pt;}
.y3f{bottom:913.333333pt;}
.y3{bottom:914.666667pt;}
.y2{bottom:917.333333pt;}
.y3e{bottom:934.666667pt;}
.y1{bottom:937.333333pt;}
.y13{bottom:938.666667pt;}
.y0{bottom:950.000000pt;}
.y3d{bottom:956.000000pt;}
.y12{bottom:960.000000pt;}
.y11{bottom:976.000000pt;}
.y3c{bottom:977.333333pt;}
.y10{bottom:992.000000pt;}
.y3b{bottom:998.666667pt;}
.y3a{bottom:1020.000000pt;}
.y34{bottom:1034.000000pt;}
.y39{bottom:1041.333333pt;}
.y37{bottom:1065.333333pt;}
.h2{height:62.630933pt;}
.h6{height:75.157120pt;}
.h9{height:78.875000pt;}
.h7{height:92.020833pt;}
.h5{height:93.946400pt;}
.h1{height:112.666667pt;}
.h4{height:125.261866pt;}
.h3{height:250.523733pt;}
.h8{height:1003.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:370.000000pt;}
.w2{width:647.333333pt;}
.w0{width:793.333333pt;}
.x0{left:73.333333pt;}
.xa{left:76.000000pt;}
.x6{left:113.266667pt;}
.xb{left:286.400000pt;}
.x5{left:289.946667pt;}
.x8{left:308.200000pt;}
.x9{left:326.666667pt;}
.x3{left:347.786667pt;}
.x7{left:358.866667pt;}
.x1{left:368.106667pt;}
.x4{left:389.253333pt;}
.x2{left:394.813333pt;}
.xc{left:708.440000pt;}
}
