.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc4{color:rgb(102,0,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(255,0,0);}
.fc2{color:rgb(0,0,51);}
.fc1{color:rgb(120,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:80.000000px;}
.fs1{font-size:160.000000px;}
.yf{bottom:17.000000px;}
.ye{bottom:366.000000px;}
.yd{bottom:384.000000px;}
.yc{bottom:414.000000px;}
.yb{bottom:429.000000px;}
.ya{bottom:439.000000px;}
.y9{bottom:461.500000px;}
.y8{bottom:484.000000px;}
.y7{bottom:494.000000px;}
.y6{bottom:524.000000px;}
.y5{bottom:526.000000px;}
.y4{bottom:586.000000px;}
.y3{bottom:686.000000px;}
.y2{bottom:688.000000px;}
.y1{bottom:703.000000px;}
.y0{bottom:712.500000px;}
.h2{height:46.973200px;}
.h6{height:56.367840px;}
.h7{height:69.015625px;}
.h5{height:70.459800px;}
.h1{height:84.500000px;}
.h4{height:93.946400px;}
.h3{height:187.892799px;}
.h0{height:842.000000px;}
.w1{width:277.500000px;}
.w0{width:595.000000px;}
.x0{left:55.000000px;}
.x6{left:67.020000px;}
.x5{left:217.460000px;}
.x9{left:231.150000px;}
.x7{left:237.050000px;}
.xa{left:245.000000px;}
.x3{left:260.840000px;}
.x8{left:269.150000px;}
.x1{left:276.080000px;}
.x4{left:291.940000px;}
.x2{left:296.110000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:106.666667pt;}
.fs1{font-size:213.333333pt;}
.yf{bottom:22.666667pt;}
.ye{bottom:488.000000pt;}
.yd{bottom:512.000000pt;}
.yc{bottom:552.000000pt;}
.yb{bottom:572.000000pt;}
.ya{bottom:585.333333pt;}
.y9{bottom:615.333333pt;}
.y8{bottom:645.333333pt;}
.y7{bottom:658.666667pt;}
.y6{bottom:698.666667pt;}
.y5{bottom:701.333333pt;}
.y4{bottom:781.333333pt;}
.y3{bottom:914.666667pt;}
.y2{bottom:917.333333pt;}
.y1{bottom:937.333333pt;}
.y0{bottom:950.000000pt;}
.h2{height:62.630933pt;}
.h6{height:75.157120pt;}
.h7{height:92.020833pt;}
.h5{height:93.946400pt;}
.h1{height:112.666667pt;}
.h4{height:125.261866pt;}
.h3{height:250.523733pt;}
.h0{height:1122.666667pt;}
.w1{width:370.000000pt;}
.w0{width:793.333333pt;}
.x0{left:73.333333pt;}
.x6{left:89.360000pt;}
.x5{left:289.946667pt;}
.x9{left:308.200000pt;}
.x7{left:316.066667pt;}
.xa{left:326.666667pt;}
.x3{left:347.786667pt;}
.x8{left:358.866667pt;}
.x1{left:368.106667pt;}
.x4{left:389.253333pt;}
.x2{left:394.813333pt;}
}
