.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls36{letter-spacing:-0.105408px;}
.ls34{letter-spacing:-0.087840px;}
.ls4a{letter-spacing:-0.083448px;}
.ls2{letter-spacing:-0.076896px;}
.ls1b{letter-spacing:-0.070272px;}
.ls27{letter-spacing:-0.052704px;}
.ls35{letter-spacing:-0.048312px;}
.ls22{letter-spacing:-0.043920px;}
.ls2d{letter-spacing:-0.039528px;}
.ls1e{letter-spacing:-0.035136px;}
.ls24{letter-spacing:-0.030744px;}
.ls4{letter-spacing:-0.027576px;}
.ls33{letter-spacing:-0.026352px;}
.ls16{letter-spacing:-0.021960px;}
.ls7{letter-spacing:-0.018384px;}
.ls30{letter-spacing:-0.017568px;}
.ls21{letter-spacing:-0.013176px;}
.ls26{letter-spacing:-0.008784px;}
.ls0{letter-spacing:-0.006408px;}
.ls28{letter-spacing:-0.004392px;}
.ls1{letter-spacing:0.000000px;}
.ls2b{letter-spacing:0.004392px;}
.lse{letter-spacing:0.008784px;}
.ls13{letter-spacing:0.013176px;}
.ls11{letter-spacing:0.017568px;}
.ls17{letter-spacing:0.021960px;}
.ls10{letter-spacing:0.026352px;}
.ls6{letter-spacing:0.027576px;}
.ls29{letter-spacing:0.030744px;}
.ls9{letter-spacing:0.031968px;}
.ls12{letter-spacing:0.035136px;}
.lsd{letter-spacing:0.039528px;}
.lsa{letter-spacing:0.039960px;}
.ls18{letter-spacing:0.043920px;}
.ls8{letter-spacing:0.045960px;}
.ls14{letter-spacing:0.048312px;}
.lsf{letter-spacing:0.052704px;}
.ls5{letter-spacing:0.055152px;}
.ls15{letter-spacing:0.057096px;}
.ls3f{letter-spacing:0.061488px;}
.lsb{letter-spacing:0.065880px;}
.ls1d{letter-spacing:0.070272px;}
.ls3{letter-spacing:0.073536px;}
.ls3e{letter-spacing:0.074664px;}
.ls19{letter-spacing:0.079056px;}
.lsc{letter-spacing:0.083448px;}
.ls43{letter-spacing:0.087840px;}
.ls31{letter-spacing:0.092232px;}
.ls3b{letter-spacing:0.096624px;}
.ls2f{letter-spacing:0.101016px;}
.ls49{letter-spacing:0.105408px;}
.ls2e{letter-spacing:0.109800px;}
.ls45{letter-spacing:0.114192px;}
.ls1f{letter-spacing:0.118584px;}
.ls25{letter-spacing:0.122976px;}
.ls3c{letter-spacing:0.127368px;}
.ls4d{letter-spacing:0.140544px;}
.ls3a{letter-spacing:0.144936px;}
.ls37{letter-spacing:0.149328px;}
.ls46{letter-spacing:0.153720px;}
.ls20{letter-spacing:0.158112px;}
.ls32{letter-spacing:0.162504px;}
.ls48{letter-spacing:0.166896px;}
.ls39{letter-spacing:0.175680px;}
.ls44{letter-spacing:0.180072px;}
.ls3d{letter-spacing:0.184464px;}
.ls23{letter-spacing:0.188856px;}
.ls38{letter-spacing:0.193248px;}
.ls4e{letter-spacing:0.197640px;}
.ls1a{letter-spacing:0.202032px;}
.ls42{letter-spacing:0.206424px;}
.ls4c{letter-spacing:0.210816px;}
.ls40{letter-spacing:0.219600px;}
.ls4b{letter-spacing:0.228384px;}
.ls4f{letter-spacing:0.237168px;}
.ls1c{letter-spacing:0.241560px;}
.ls47{letter-spacing:0.285480px;}
.ls2a{letter-spacing:0.320616px;}
.ls41{letter-spacing:0.342576px;}
.ls2c{letter-spacing:0.351360px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.141920px;}
._0{width:1.115568px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs5{font-size:56.000000px;}
.fs2{font-size:60.000000px;}
.fs0{font-size:64.080000px;}
.fs4{font-size:79.920000px;}
.fs3{font-size:91.920000px;}
.yd{bottom:16.000000px;}
.yc{bottom:52.380000px;}
.y5c{bottom:82.613480px;}
.y29{bottom:82.624460px;}
.y73{bottom:88.070540px;}
.y40{bottom:92.638220px;}
.y5b{bottom:108.054140px;}
.y28{bottom:108.065120px;}
.y48{bottom:112.621820px;}
.y72{bottom:113.511200px;}
.y3f{bottom:118.078880px;}
.y47{bottom:128.103620px;}
.y5a{bottom:133.494800px;}
.y27{bottom:133.505780px;}
.y71{bottom:138.951860px;}
.y3e{bottom:143.519540px;}
.y59{bottom:158.935460px;}
.y26{bottom:158.946440px;}
.y70{bottom:164.392520px;}
.y3d{bottom:168.960200px;}
.y58{bottom:174.417260px;}
.y6f{bottom:179.808440px;}
.y3c{bottom:184.376120px;}
.y25{bottom:184.387100px;}
.y57{bottom:189.833180px;}
.y6e{bottom:195.290240px;}
.y3b{bottom:209.816780px;}
.y24{bottom:209.827760px;}
.y56{bottom:215.273840px;}
.y6d{bottom:220.730900px;}
.y3a{bottom:235.257440px;}
.y23{bottom:235.268420px;}
.y55{bottom:240.714500px;}
.y6c{bottom:246.171560px;}
.y39{bottom:260.698100px;}
.y22{bottom:260.709080px;}
.y54{bottom:266.155160px;}
.y6b{bottom:271.612220px;}
.y38{bottom:276.179900px;}
.y21{bottom:286.149740px;}
.y46{bottom:291.595820px;}
.y6a{bottom:297.052880px;}
.y37{bottom:301.620560px;}
.y20{bottom:311.590400px;}
.y45{bottom:317.036480px;}
.y69{bottom:322.493540px;}
.y36{bottom:327.061220px;}
.y1f{bottom:327.072200px;}
.yb{bottom:339.660000px;}
.y35{bottom:342.477140px;}
.y1e{bottom:342.488120px;}
.y68{bottom:347.934200px;}
.y34{bottom:367.917800px;}
.y1d{bottom:367.928780px;}
.y67{bottom:373.374860px;}
.y9{bottom:379.067640px;}
.ya{bottom:379.080000px;}
.y75{bottom:383.399600px;}
.y33{bottom:393.358460px;}
.y1c{bottom:393.369440px;}
.y66{bottom:398.815520px;}
.y53{bottom:408.840260px;}
.y32{bottom:418.799120px;}
.y1b{bottom:418.810100px;}
.y8{bottom:421.373820px;}
.y65{bottom:424.256180px;}
.y52{bottom:434.280920px;}
.y31{bottom:444.239780px;}
.y1a{bottom:444.250760px;}
.y64{bottom:449.696840px;}
.y51{bottom:459.721580px;}
.y7{bottom:463.680000px;}
.y30{bottom:469.680440px;}
.y19{bottom:469.691420px;}
.y63{bottom:475.137500px;}
.y50{bottom:485.162240px;}
.y62{bottom:490.553420px;}
.y2f{bottom:495.121100px;}
.y18{bottom:495.132080px;}
.y0{bottom:498.000000px;}
.y6{bottom:498.360000px;}
.y4f{bottom:500.578160px;}
.y61{bottom:506.035220px;}
.y74{bottom:515.994080px;}
.y4e{bottom:516.005060px;}
.y2e{bottom:520.561760px;}
.y17{bottom:520.572740px;}
.y60{bottom:531.475880px;}
.y4d{bottom:541.445720px;}
.y2d{bottom:546.002420px;}
.y16{bottom:546.013400px;}
.y5f{bottom:556.916540px;}
.y4c{bottom:566.886380px;}
.y2c{bottom:571.443080px;}
.y15{bottom:571.454060px;}
.y5e{bottom:582.357200px;}
.y2b{bottom:586.924880px;}
.y4b{bottom:592.381940px;}
.y14{bottom:596.894720px;}
.y44{bottom:602.340800px;}
.y5d{bottom:607.797860px;}
.y2a{bottom:612.365540px;}
.y5{bottom:612.600000px;}
.y43{bottom:617.822600px;}
.y13{bottom:622.390280px;}
.y42{bottom:633.238520px;}
.y12{bottom:637.806200px;}
.y4a{bottom:643.263260px;}
.y4{bottom:643.680000px;}
.y11{bottom:653.222120px;}
.y41{bottom:658.679180px;}
.y10{bottom:668.703920px;}
.y3{bottom:674.700000px;}
.yf{bottom:684.119840px;}
.y49{bottom:694.144580px;}
.y2{bottom:705.780000px;}
.ye{bottom:709.560500px;}
.y1{bottom:740.820000px;}
.h7{height:29.272852px;}
.h9{height:31.524609px;}
.h3{height:39.990234px;}
.h2{height:43.804688px;}
.h6{height:54.632812px;}
.h4{height:61.265039px;}
.h5{height:62.835937px;}
.h8{height:69.015625px;}
.h1{height:98.000000px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.xa{left:72.000000px;}
.x5{left:76.314900px;}
.x0{left:135.000000px;}
.x9{left:253.000000px;}
.x7{left:256.500000px;}
.x4{left:262.613760px;}
.x1{left:275.820000px;}
.x2{left:306.000000px;}
.x3{left:477.000000px;}
.x8{left:504.780000px;}
.x6{left:535.679900px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls36{letter-spacing:-0.140544pt;}
.ls34{letter-spacing:-0.117120pt;}
.ls4a{letter-spacing:-0.111264pt;}
.ls2{letter-spacing:-0.102528pt;}
.ls1b{letter-spacing:-0.093696pt;}
.ls27{letter-spacing:-0.070272pt;}
.ls35{letter-spacing:-0.064416pt;}
.ls22{letter-spacing:-0.058560pt;}
.ls2d{letter-spacing:-0.052704pt;}
.ls1e{letter-spacing:-0.046848pt;}
.ls24{letter-spacing:-0.040992pt;}
.ls4{letter-spacing:-0.036768pt;}
.ls33{letter-spacing:-0.035136pt;}
.ls16{letter-spacing:-0.029280pt;}
.ls7{letter-spacing:-0.024512pt;}
.ls30{letter-spacing:-0.023424pt;}
.ls21{letter-spacing:-0.017568pt;}
.ls26{letter-spacing:-0.011712pt;}
.ls0{letter-spacing:-0.008544pt;}
.ls28{letter-spacing:-0.005856pt;}
.ls1{letter-spacing:0.000000pt;}
.ls2b{letter-spacing:0.005856pt;}
.lse{letter-spacing:0.011712pt;}
.ls13{letter-spacing:0.017568pt;}
.ls11{letter-spacing:0.023424pt;}
.ls17{letter-spacing:0.029280pt;}
.ls10{letter-spacing:0.035136pt;}
.ls6{letter-spacing:0.036768pt;}
.ls29{letter-spacing:0.040992pt;}
.ls9{letter-spacing:0.042624pt;}
.ls12{letter-spacing:0.046848pt;}
.lsd{letter-spacing:0.052704pt;}
.lsa{letter-spacing:0.053280pt;}
.ls18{letter-spacing:0.058560pt;}
.ls8{letter-spacing:0.061280pt;}
.ls14{letter-spacing:0.064416pt;}
.lsf{letter-spacing:0.070272pt;}
.ls5{letter-spacing:0.073536pt;}
.ls15{letter-spacing:0.076128pt;}
.ls3f{letter-spacing:0.081984pt;}
.lsb{letter-spacing:0.087840pt;}
.ls1d{letter-spacing:0.093696pt;}
.ls3{letter-spacing:0.098048pt;}
.ls3e{letter-spacing:0.099552pt;}
.ls19{letter-spacing:0.105408pt;}
.lsc{letter-spacing:0.111264pt;}
.ls43{letter-spacing:0.117120pt;}
.ls31{letter-spacing:0.122976pt;}
.ls3b{letter-spacing:0.128832pt;}
.ls2f{letter-spacing:0.134688pt;}
.ls49{letter-spacing:0.140544pt;}
.ls2e{letter-spacing:0.146400pt;}
.ls45{letter-spacing:0.152256pt;}
.ls1f{letter-spacing:0.158112pt;}
.ls25{letter-spacing:0.163968pt;}
.ls3c{letter-spacing:0.169824pt;}
.ls4d{letter-spacing:0.187392pt;}
.ls3a{letter-spacing:0.193248pt;}
.ls37{letter-spacing:0.199104pt;}
.ls46{letter-spacing:0.204960pt;}
.ls20{letter-spacing:0.210816pt;}
.ls32{letter-spacing:0.216672pt;}
.ls48{letter-spacing:0.222528pt;}
.ls39{letter-spacing:0.234240pt;}
.ls44{letter-spacing:0.240096pt;}
.ls3d{letter-spacing:0.245952pt;}
.ls23{letter-spacing:0.251808pt;}
.ls38{letter-spacing:0.257664pt;}
.ls4e{letter-spacing:0.263520pt;}
.ls1a{letter-spacing:0.269376pt;}
.ls42{letter-spacing:0.275232pt;}
.ls4c{letter-spacing:0.281088pt;}
.ls40{letter-spacing:0.292800pt;}
.ls4b{letter-spacing:0.304512pt;}
.ls4f{letter-spacing:0.316224pt;}
.ls1c{letter-spacing:0.322080pt;}
.ls47{letter-spacing:0.380640pt;}
.ls2a{letter-spacing:0.427488pt;}
.ls41{letter-spacing:0.456768pt;}
.ls2c{letter-spacing:0.468480pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.522560pt;}
._0{width:1.487424pt;}
.fs1{font-size:58.560000pt;}
.fs5{font-size:74.666667pt;}
.fs2{font-size:80.000000pt;}
.fs0{font-size:85.440000pt;}
.fs4{font-size:106.560000pt;}
.fs3{font-size:122.560000pt;}
.yd{bottom:21.333333pt;}
.yc{bottom:69.840000pt;}
.y5c{bottom:110.151307pt;}
.y29{bottom:110.165947pt;}
.y73{bottom:117.427387pt;}
.y40{bottom:123.517627pt;}
.y5b{bottom:144.072187pt;}
.y28{bottom:144.086827pt;}
.y48{bottom:150.162427pt;}
.y72{bottom:151.348267pt;}
.y3f{bottom:157.438507pt;}
.y47{bottom:170.804827pt;}
.y5a{bottom:177.993067pt;}
.y27{bottom:178.007707pt;}
.y71{bottom:185.269147pt;}
.y3e{bottom:191.359387pt;}
.y59{bottom:211.913947pt;}
.y26{bottom:211.928587pt;}
.y70{bottom:219.190027pt;}
.y3d{bottom:225.280267pt;}
.y58{bottom:232.556347pt;}
.y6f{bottom:239.744587pt;}
.y3c{bottom:245.834827pt;}
.y25{bottom:245.849467pt;}
.y57{bottom:253.110907pt;}
.y6e{bottom:260.386987pt;}
.y3b{bottom:279.755707pt;}
.y24{bottom:279.770347pt;}
.y56{bottom:287.031787pt;}
.y6d{bottom:294.307867pt;}
.y3a{bottom:313.676587pt;}
.y23{bottom:313.691227pt;}
.y55{bottom:320.952667pt;}
.y6c{bottom:328.228747pt;}
.y39{bottom:347.597467pt;}
.y22{bottom:347.612107pt;}
.y54{bottom:354.873547pt;}
.y6b{bottom:362.149627pt;}
.y38{bottom:368.239867pt;}
.y21{bottom:381.532987pt;}
.y46{bottom:388.794427pt;}
.y6a{bottom:396.070507pt;}
.y37{bottom:402.160747pt;}
.y20{bottom:415.453867pt;}
.y45{bottom:422.715307pt;}
.y69{bottom:429.991387pt;}
.y36{bottom:436.081627pt;}
.y1f{bottom:436.096267pt;}
.yb{bottom:452.880000pt;}
.y35{bottom:456.636187pt;}
.y1e{bottom:456.650827pt;}
.y68{bottom:463.912267pt;}
.y34{bottom:490.557067pt;}
.y1d{bottom:490.571707pt;}
.y67{bottom:497.833147pt;}
.y9{bottom:505.423520pt;}
.ya{bottom:505.440000pt;}
.y75{bottom:511.199467pt;}
.y33{bottom:524.477947pt;}
.y1c{bottom:524.492587pt;}
.y66{bottom:531.754027pt;}
.y53{bottom:545.120347pt;}
.y32{bottom:558.398827pt;}
.y1b{bottom:558.413467pt;}
.y8{bottom:561.831760pt;}
.y65{bottom:565.674907pt;}
.y52{bottom:579.041227pt;}
.y31{bottom:592.319707pt;}
.y1a{bottom:592.334347pt;}
.y64{bottom:599.595787pt;}
.y51{bottom:612.962107pt;}
.y7{bottom:618.240000pt;}
.y30{bottom:626.240587pt;}
.y19{bottom:626.255227pt;}
.y63{bottom:633.516667pt;}
.y50{bottom:646.882987pt;}
.y62{bottom:654.071227pt;}
.y2f{bottom:660.161467pt;}
.y18{bottom:660.176107pt;}
.y0{bottom:664.000000pt;}
.y6{bottom:664.480000pt;}
.y4f{bottom:667.437547pt;}
.y61{bottom:674.713627pt;}
.y74{bottom:687.992107pt;}
.y4e{bottom:688.006747pt;}
.y2e{bottom:694.082347pt;}
.y17{bottom:694.096987pt;}
.y60{bottom:708.634507pt;}
.y4d{bottom:721.927627pt;}
.y2d{bottom:728.003227pt;}
.y16{bottom:728.017867pt;}
.y5f{bottom:742.555387pt;}
.y4c{bottom:755.848507pt;}
.y2c{bottom:761.924107pt;}
.y15{bottom:761.938747pt;}
.y5e{bottom:776.476267pt;}
.y2b{bottom:782.566507pt;}
.y4b{bottom:789.842587pt;}
.y14{bottom:795.859627pt;}
.y44{bottom:803.121067pt;}
.y5d{bottom:810.397147pt;}
.y2a{bottom:816.487387pt;}
.y5{bottom:816.800000pt;}
.y43{bottom:823.763467pt;}
.y13{bottom:829.853707pt;}
.y42{bottom:844.318027pt;}
.y12{bottom:850.408267pt;}
.y4a{bottom:857.684347pt;}
.y4{bottom:858.240000pt;}
.y11{bottom:870.962827pt;}
.y41{bottom:878.238907pt;}
.y10{bottom:891.605227pt;}
.y3{bottom:899.600000pt;}
.yf{bottom:912.159787pt;}
.y49{bottom:925.526107pt;}
.y2{bottom:941.040000pt;}
.ye{bottom:946.080667pt;}
.y1{bottom:987.760000pt;}
.h7{height:39.030469pt;}
.h9{height:42.032812pt;}
.h3{height:53.320312pt;}
.h2{height:58.406250pt;}
.h6{height:72.843750pt;}
.h4{height:81.686719pt;}
.h5{height:83.781250pt;}
.h8{height:92.020833pt;}
.h1{height:130.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.xa{left:96.000000pt;}
.x5{left:101.753200pt;}
.x0{left:180.000000pt;}
.x9{left:337.333333pt;}
.x7{left:342.000000pt;}
.x4{left:350.151680pt;}
.x1{left:367.760000pt;}
.x2{left:408.000000pt;}
.x3{left:636.000000pt;}
.x8{left:673.040000pt;}
.x6{left:714.239867pt;}
}
