.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls1b{letter-spacing:-0.087840px;}
.ls2{letter-spacing:-0.076896px;}
.ls11{letter-spacing:-0.070272px;}
.ls38{letter-spacing:-0.065880px;}
.ls42{letter-spacing:-0.057096px;}
.ls22{letter-spacing:-0.052704px;}
.ls3c{letter-spacing:-0.043920px;}
.ls35{letter-spacing:-0.039528px;}
.lsf{letter-spacing:-0.035136px;}
.ls1d{letter-spacing:-0.030744px;}
.ls2c{letter-spacing:-0.026352px;}
.ls8{letter-spacing:-0.021960px;}
.ls20{letter-spacing:-0.017568px;}
.ls27{letter-spacing:-0.013176px;}
.ls6{letter-spacing:-0.011592px;}
.ls18{letter-spacing:-0.008784px;}
.ls0{letter-spacing:-0.006408px;}
.ls21{letter-spacing:-0.004392px;}
.ls1{letter-spacing:0.000000px;}
.ls2e{letter-spacing:0.004392px;}
.ls16{letter-spacing:0.008784px;}
.ls3{letter-spacing:0.011592px;}
.ls25{letter-spacing:0.013176px;}
.ls13{letter-spacing:0.017568px;}
.ls1a{letter-spacing:0.021960px;}
.ls19{letter-spacing:0.026352px;}
.ls17{letter-spacing:0.030744px;}
.ls7{letter-spacing:0.034776px;}
.ls12{letter-spacing:0.035136px;}
.lsd{letter-spacing:0.039528px;}
.ls2a{letter-spacing:0.043920px;}
.ls4{letter-spacing:0.046368px;}
.ls1e{letter-spacing:0.048312px;}
.ls9{letter-spacing:0.052704px;}
.ls14{letter-spacing:0.057096px;}
.ls32{letter-spacing:0.061488px;}
.lsa{letter-spacing:0.065880px;}
.ls39{letter-spacing:0.070272px;}
.ls28{letter-spacing:0.074664px;}
.ls10{letter-spacing:0.079056px;}
.ls5{letter-spacing:0.081144px;}
.lsb{letter-spacing:0.083448px;}
.ls30{letter-spacing:0.087840px;}
.ls3d{letter-spacing:0.092232px;}
.ls2b{letter-spacing:0.096624px;}
.ls15{letter-spacing:0.101016px;}
.ls24{letter-spacing:0.105408px;}
.ls1c{letter-spacing:0.109800px;}
.ls34{letter-spacing:0.114192px;}
.ls1f{letter-spacing:0.118584px;}
.ls23{letter-spacing:0.127368px;}
.ls31{letter-spacing:0.131760px;}
.ls2f{letter-spacing:0.144936px;}
.lsc{letter-spacing:0.149328px;}
.ls36{letter-spacing:0.166896px;}
.ls41{letter-spacing:0.188856px;}
.ls37{letter-spacing:0.193248px;}
.ls29{letter-spacing:0.202032px;}
.lse{letter-spacing:0.206424px;}
.ls3f{letter-spacing:0.223992px;}
.ls43{letter-spacing:0.228384px;}
.ls33{letter-spacing:0.241560px;}
.ls3a{letter-spacing:0.254736px;}
.ls3b{letter-spacing:0.281088px;}
.ls26{letter-spacing:0.285480px;}
.ls2d{letter-spacing:0.289872px;}
.ls3e{letter-spacing:0.320616px;}
.ls40{letter-spacing:0.325008px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.119960px;}
._0{width:1.124352px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs3{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs2{font-size:115.920000px;}
.y18{bottom:16.000000px;}
.y17{bottom:39.840100px;}
.y30{bottom:83.513040px;}
.y16{bottom:91.554600px;}
.y41{bottom:93.537780px;}
.y46{bottom:98.928960px;}
.y2f{bottom:108.953700px;}
.y15{bottom:116.995260px;}
.y40{bottom:118.978440px;}
.y45{bottom:124.369620px;}
.y2e{bottom:134.394360px;}
.y14{bottom:142.435920px;}
.y3f{bottom:144.419100px;}
.y44{bottom:149.810280px;}
.y2d{bottom:159.835020px;}
.y13{bottom:167.876580px;}
.y43{bottom:175.250940px;}
.y2c{bottom:185.275680px;}
.y12{bottom:193.317240px;}
.y42{bottom:200.691600px;}
.y2b{bottom:210.716340px;}
.y11{bottom:218.757900px;}
.y3e{bottom:226.132260px;}
.y2a{bottom:236.157000px;}
.y10{bottom:244.198560px;}
.y3d{bottom:251.572920px;}
.y29{bottom:261.597660px;}
.yf{bottom:269.639220px;}
.y3c{bottom:277.013580px;}
.y28{bottom:287.038320px;}
.ye{bottom:295.079880px;}
.y3b{bottom:302.454240px;}
.y27{bottom:312.478980px;}
.yd{bottom:320.520540px;}
.y3a{bottom:327.949800px;}
.y26{bottom:337.919640px;}
.yc{bottom:345.961200px;}
.y39{bottom:353.390460px;}
.y25{bottom:363.360300px;}
.y38{bottom:378.831120px;}
.ya{bottom:379.547040px;}
.yb{bottom:379.560000px;}
.y24{bottom:388.800960px;}
.y37{bottom:404.271780px;}
.y23{bottom:414.241620px;}
.y36{bottom:429.712440px;}
.y9{bottom:430.320000px;}
.y22{bottom:439.682280px;}
.y35{bottom:455.153100px;}
.y21{bottom:465.122940px;}
.y0{bottom:469.500000px;}
.y8{bottom:469.921200px;}
.y34{bottom:480.593760px;}
.y20{bottom:490.563600px;}
.y33{bottom:506.034420px;}
.y1f{bottom:516.004260px;}
.y32{bottom:531.475080px;}
.y1e{bottom:541.444920px;}
.y31{bottom:556.915740px;}
.y1d{bottom:566.885580px;}
.y7{bottom:582.356400px;}
.y1c{bottom:592.381140px;}
.y6{bottom:607.797060px;}
.y1b{bottom:617.821800px;}
.y5{bottom:633.237720px;}
.y1a{bottom:643.262460px;}
.y4{bottom:658.678380px;}
.y19{bottom:668.703120px;}
.y3{bottom:684.119040px;}
.y2{bottom:709.559700px;}
.y1{bottom:740.820000px;}
.h3{height:29.272852px;}
.h5{height:30.023438px;}
.h7{height:31.524609px;}
.h2{height:43.804688px;}
.h6{height:69.015625px;}
.h4{height:79.242187px;}
.h1{height:98.000000px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x8{left:71.992200px;}
.x5{left:110.584140px;}
.x0{left:135.500000px;}
.x4{left:251.340000px;}
.xa{left:253.000000px;}
.x7{left:274.683000px;}
.x1{left:275.820000px;}
.x2{left:306.000300px;}
.x3{left:477.716520px;}
.x6{left:501.420000px;}
.x9{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1b{letter-spacing:-0.117120pt;}
.ls2{letter-spacing:-0.102528pt;}
.ls11{letter-spacing:-0.093696pt;}
.ls38{letter-spacing:-0.087840pt;}
.ls42{letter-spacing:-0.076128pt;}
.ls22{letter-spacing:-0.070272pt;}
.ls3c{letter-spacing:-0.058560pt;}
.ls35{letter-spacing:-0.052704pt;}
.lsf{letter-spacing:-0.046848pt;}
.ls1d{letter-spacing:-0.040992pt;}
.ls2c{letter-spacing:-0.035136pt;}
.ls8{letter-spacing:-0.029280pt;}
.ls20{letter-spacing:-0.023424pt;}
.ls27{letter-spacing:-0.017568pt;}
.ls6{letter-spacing:-0.015456pt;}
.ls18{letter-spacing:-0.011712pt;}
.ls0{letter-spacing:-0.008544pt;}
.ls21{letter-spacing:-0.005856pt;}
.ls1{letter-spacing:0.000000pt;}
.ls2e{letter-spacing:0.005856pt;}
.ls16{letter-spacing:0.011712pt;}
.ls3{letter-spacing:0.015456pt;}
.ls25{letter-spacing:0.017568pt;}
.ls13{letter-spacing:0.023424pt;}
.ls1a{letter-spacing:0.029280pt;}
.ls19{letter-spacing:0.035136pt;}
.ls17{letter-spacing:0.040992pt;}
.ls7{letter-spacing:0.046368pt;}
.ls12{letter-spacing:0.046848pt;}
.lsd{letter-spacing:0.052704pt;}
.ls2a{letter-spacing:0.058560pt;}
.ls4{letter-spacing:0.061824pt;}
.ls1e{letter-spacing:0.064416pt;}
.ls9{letter-spacing:0.070272pt;}
.ls14{letter-spacing:0.076128pt;}
.ls32{letter-spacing:0.081984pt;}
.lsa{letter-spacing:0.087840pt;}
.ls39{letter-spacing:0.093696pt;}
.ls28{letter-spacing:0.099552pt;}
.ls10{letter-spacing:0.105408pt;}
.ls5{letter-spacing:0.108192pt;}
.lsb{letter-spacing:0.111264pt;}
.ls30{letter-spacing:0.117120pt;}
.ls3d{letter-spacing:0.122976pt;}
.ls2b{letter-spacing:0.128832pt;}
.ls15{letter-spacing:0.134688pt;}
.ls24{letter-spacing:0.140544pt;}
.ls1c{letter-spacing:0.146400pt;}
.ls34{letter-spacing:0.152256pt;}
.ls1f{letter-spacing:0.158112pt;}
.ls23{letter-spacing:0.169824pt;}
.ls31{letter-spacing:0.175680pt;}
.ls2f{letter-spacing:0.193248pt;}
.lsc{letter-spacing:0.199104pt;}
.ls36{letter-spacing:0.222528pt;}
.ls41{letter-spacing:0.251808pt;}
.ls37{letter-spacing:0.257664pt;}
.ls29{letter-spacing:0.269376pt;}
.lse{letter-spacing:0.275232pt;}
.ls3f{letter-spacing:0.298656pt;}
.ls43{letter-spacing:0.304512pt;}
.ls33{letter-spacing:0.322080pt;}
.ls3a{letter-spacing:0.339648pt;}
.ls3b{letter-spacing:0.374784pt;}
.ls26{letter-spacing:0.380640pt;}
.ls2d{letter-spacing:0.386496pt;}
.ls3e{letter-spacing:0.427488pt;}
.ls40{letter-spacing:0.433344pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.493280pt;}
._0{width:1.499136pt;}
.fs1{font-size:58.560000pt;}
.fs3{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs2{font-size:154.560000pt;}
.y18{bottom:21.333333pt;}
.y17{bottom:53.120133pt;}
.y30{bottom:111.350720pt;}
.y16{bottom:122.072800pt;}
.y41{bottom:124.717040pt;}
.y46{bottom:131.905280pt;}
.y2f{bottom:145.271600pt;}
.y15{bottom:155.993680pt;}
.y40{bottom:158.637920pt;}
.y45{bottom:165.826160pt;}
.y2e{bottom:179.192480pt;}
.y14{bottom:189.914560pt;}
.y3f{bottom:192.558800pt;}
.y44{bottom:199.747040pt;}
.y2d{bottom:213.113360pt;}
.y13{bottom:223.835440pt;}
.y43{bottom:233.667920pt;}
.y2c{bottom:247.034240pt;}
.y12{bottom:257.756320pt;}
.y42{bottom:267.588800pt;}
.y2b{bottom:280.955120pt;}
.y11{bottom:291.677200pt;}
.y3e{bottom:301.509680pt;}
.y2a{bottom:314.876000pt;}
.y10{bottom:325.598080pt;}
.y3d{bottom:335.430560pt;}
.y29{bottom:348.796880pt;}
.yf{bottom:359.518960pt;}
.y3c{bottom:369.351440pt;}
.y28{bottom:382.717760pt;}
.ye{bottom:393.439840pt;}
.y3b{bottom:403.272320pt;}
.y27{bottom:416.638640pt;}
.yd{bottom:427.360720pt;}
.y3a{bottom:437.266400pt;}
.y26{bottom:450.559520pt;}
.yc{bottom:461.281600pt;}
.y39{bottom:471.187280pt;}
.y25{bottom:484.480400pt;}
.y38{bottom:505.108160pt;}
.ya{bottom:506.062720pt;}
.yb{bottom:506.080000pt;}
.y24{bottom:518.401280pt;}
.y37{bottom:539.029040pt;}
.y23{bottom:552.322160pt;}
.y36{bottom:572.949920pt;}
.y9{bottom:573.760000pt;}
.y22{bottom:586.243040pt;}
.y35{bottom:606.870800pt;}
.y21{bottom:620.163920pt;}
.y0{bottom:626.000000pt;}
.y8{bottom:626.561600pt;}
.y34{bottom:640.791680pt;}
.y20{bottom:654.084800pt;}
.y33{bottom:674.712560pt;}
.y1f{bottom:688.005680pt;}
.y32{bottom:708.633440pt;}
.y1e{bottom:721.926560pt;}
.y31{bottom:742.554320pt;}
.y1d{bottom:755.847440pt;}
.y7{bottom:776.475200pt;}
.y1c{bottom:789.841520pt;}
.y6{bottom:810.396080pt;}
.y1b{bottom:823.762400pt;}
.y5{bottom:844.316960pt;}
.y1a{bottom:857.683280pt;}
.y4{bottom:878.237840pt;}
.y19{bottom:891.604160pt;}
.y3{bottom:912.158720pt;}
.y2{bottom:946.079600pt;}
.y1{bottom:987.760000pt;}
.h3{height:39.030469pt;}
.h5{height:40.031250pt;}
.h7{height:42.032812pt;}
.h2{height:58.406250pt;}
.h6{height:92.020833pt;}
.h4{height:105.656250pt;}
.h1{height:130.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x8{left:95.989600pt;}
.x5{left:147.445520pt;}
.x0{left:180.666667pt;}
.x4{left:335.120000pt;}
.xa{left:337.333333pt;}
.x7{left:366.244000pt;}
.x1{left:367.760000pt;}
.x2{left:408.000400pt;}
.x3{left:636.955360pt;}
.x6{left:668.560000pt;}
.x9{left:673.040000pt;}
}
