.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc7{color:rgb(33,78,123);}
.fc4{color:rgb(102,0,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(255,0,0);}
.fc2{color:rgb(0,0,51);}
.fc6{color:rgb(66,184,55);}
.fc1{color:rgb(120,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:80.000000px;}
.fs1{font-size:160.000000px;}
.ye{bottom:17.000000px;}
.y37{bottom:31.000000px;}
.yf{bottom:44.500000px;}
.y100{bottom:48.500000px;}
.y51{bottom:65.000000px;}
.y32{bottom:66.000000px;}
.y78{bottom:70.000000px;}
.yb9{bottom:72.000000px;}
.y8b{bottom:74.000000px;}
.yfc{bottom:82.000000px;}
.yeb{bottom:84.000000px;}
.y31{bottom:86.000000px;}
.ydd{bottom:88.000000px;}
.yb8{bottom:90.000000px;}
.y55{bottom:96.500000px;}
.ydc{bottom:100.000000px;}
.y7b{bottom:101.500000px;}
.y8a{bottom:102.000000px;}
.y30{bottom:104.000000px;}
.ydb{bottom:116.000000px;}
.ya2{bottom:118.000000px;}
.yea{bottom:120.000000px;}
.y2f{bottom:122.000000px;}
.y50{bottom:130.000000px;}
.yda{bottom:132.000000px;}
.y8d{bottom:133.500000px;}
.y2e{bottom:134.000000px;}
.y77{bottom:135.000000px;}
.yfb{bottom:138.000000px;}
.ya1{bottom:142.000000px;}
.yd9{bottom:148.000000px;}
.y2d{bottom:150.000000px;}
.y76{bottom:155.000000px;}
.ya0{bottom:158.000000px;}
.yd8{bottom:164.000000px;}
.y2c{bottom:166.000000px;}
.y89{bottom:167.000000px;}
.y4f{bottom:168.000000px;}
.y75{bottom:173.000000px;}
.yd7{bottom:176.000000px;}
.yb7{bottom:178.000000px;}
.ye9{bottom:180.000000px;}
.y2b{bottom:182.000000px;}
.y4e{bottom:186.000000px;}
.y88{bottom:187.000000px;}
.yd6{bottom:188.000000px;}
.ya5{bottom:189.500000px;}
.yb6{bottom:190.000000px;}
.y74{bottom:191.000000px;}
.ye8{bottom:196.000000px;}
.y2a{bottom:198.000000px;}
.y73{bottom:203.000000px;}
.y87{bottom:205.000000px;}
.ye7{bottom:208.000000px;}
.y29{bottom:210.000000px;}
.y4d{bottom:214.000000px;}
.y72{bottom:219.000000px;}
.ye0{bottom:219.500000px;}
.ye6{bottom:220.000000px;}
.ybc{bottom:221.500000px;}
.y28{bottom:222.000000px;}
.y86{bottom:223.000000px;}
.yfa{bottom:226.000000px;}
.y4c{bottom:230.000000px;}
.y71{bottom:235.000000px;}
.ye5{bottom:236.000000px;}
.yf9{bottom:238.000000px;}
.y9f{bottom:243.000000px;}
.y4b{bottom:246.000000px;}
.y70{bottom:251.000000px;}
.yd5{bottom:253.000000px;}
.y35{bottom:253.500000px;}
.yf8{bottom:254.000000px;}
.yb5{bottom:255.000000px;}
.y9e{bottom:261.000000px;}
.y4a{bottom:262.000000px;}
.y6f{bottom:267.000000px;}
.yec{bottom:267.500000px;}
.yd4{bottom:273.000000px;}
.y49{bottom:274.000000px;}
.yb4{bottom:275.000000px;}
.y6e{bottom:279.000000px;}
.y85{bottom:283.000000px;}
.yff{bottom:285.500000px;}
.y48{bottom:286.000000px;}
.y27{bottom:287.000000px;}
.y6d{bottom:291.000000px;}
.yb3{bottom:293.000000px;}
.y84{bottom:299.000000px;}
.ye4{bottom:301.000000px;}
.y26{bottom:307.000000px;}
.yd3{bottom:309.000000px;}
.y83{bottom:311.000000px;}
.y54{bottom:317.500000px;}
.yf7{bottom:319.000000px;}
.yd2{bottom:321.000000px;}
.y82{bottom:323.000000px;}
.y25{bottom:325.000000px;}
.yd1{bottom:337.000000px;}
.y7a{bottom:338.500000px;}
.y9d{bottom:339.000000px;}
.y24{bottom:343.000000px;}
.y47{bottom:351.000000px;}
.yd0{bottom:353.000000px;}
.y8c{bottom:354.500000px;}
.y23{bottom:355.000000px;}
.ye3{bottom:357.000000px;}
.y9c{bottom:367.000000px;}
.ycf{bottom:369.000000px;}
.y22{bottom:371.000000px;}
.y6c{bottom:372.000000px;}
.yf6{bottom:375.000000px;}
.y9b{bottom:379.000000px;}
.yce{bottom:385.000000px;}
.y21{bottom:387.000000px;}
.y81{bottom:388.000000px;}
.yd{bottom:388.500000px;}
.y46{bottom:389.000000px;}
.y6b{bottom:392.000000px;}
.yb2{bottom:399.000000px;}
.ycd{bottom:401.000000px;}
.y20{bottom:403.000000px;}
.yc{bottom:406.500000px;}
.y45{bottom:407.000000px;}
.y80{bottom:408.000000px;}
.y6a{bottom:410.000000px;}
.ya4{bottom:410.500000px;}
.yb1{bottom:411.000000px;}
.ycc{bottom:417.000000px;}
.y1f{bottom:419.000000px;}
.y7f{bottom:426.000000px;}
.yb0{bottom:427.000000px;}
.y69{bottom:428.000000px;}
.ycb{bottom:429.000000px;}
.y1e{bottom:431.000000px;}
.ye2{bottom:433.000000px;}
.y44{bottom:435.000000px;}
.yb{bottom:436.500000px;}
.y68{bottom:440.000000px;}
.yca{bottom:441.000000px;}
.y1d{bottom:443.000000px;}
.y7e{bottom:444.000000px;}
.ye1{bottom:445.000000px;}
.y43{bottom:451.000000px;}
.ya{bottom:451.500000px;}
.y67{bottom:456.000000px;}
.yc9{bottom:457.000000px;}
.ybb{bottom:458.500000px;}
.y1c{bottom:459.000000px;}
.y9{bottom:461.500000px;}
.yf5{bottom:463.000000px;}
.y9a{bottom:464.000000px;}
.y42{bottom:467.000000px;}
.y66{bottom:472.000000px;}
.yf4{bottom:475.000000px;}
.y99{bottom:482.000000px;}
.y41{bottom:483.000000px;}
.y8{bottom:484.000000px;}
.y65{bottom:488.000000px;}
.ydf{bottom:488.500000px;}
.y34{bottom:490.500000px;}
.yf3{bottom:491.000000px;}
.yaf{bottom:492.000000px;}
.y7{bottom:494.000000px;}
.y40{bottom:495.000000px;}
.y98{bottom:500.000000px;}
.y64{bottom:504.000000px;}
.y3f{bottom:507.000000px;}
.y97{bottom:512.000000px;}
.y63{bottom:516.000000px;}
.y7d{bottom:520.000000px;}
.yc8{bottom:522.000000px;}
.yfe{bottom:522.500000px;}
.y6{bottom:524.000000px;}
.y5{bottom:526.000000px;}
.y62{bottom:528.000000px;}
.yae{bottom:530.000000px;}
.y7c{bottom:532.000000px;}
.y53{bottom:538.500000px;}
.yc7{bottom:542.000000px;}
.y1b{bottom:544.000000px;}
.yad{bottom:548.000000px;}
.yf2{bottom:556.000000px;}
.y61{bottom:560.000000px;}
.y1a{bottom:562.000000px;}
.y3e{bottom:572.000000px;}
.y96{bottom:576.000000px;}
.yc6{bottom:578.000000px;}
.y19{bottom:580.000000px;}
.y4{bottom:586.000000px;}
.y95{bottom:588.000000px;}
.yc5{bottom:590.000000px;}
.y79{bottom:591.500000px;}
.y18{bottom:592.000000px;}
.yf1{bottom:594.000000px;}
.y94{bottom:600.000000px;}
.yac{bottom:604.000000px;}
.yc4{bottom:606.000000px;}
.y17{bottom:608.000000px;}
.y3d{bottom:610.000000px;}
.yf0{bottom:612.000000px;}
.yab{bottom:616.000000px;}
.yc3{bottom:622.000000px;}
.y16{bottom:624.000000px;}
.y60{bottom:625.000000px;}
.y3c{bottom:628.000000px;}
.ya3{bottom:631.500000px;}
.yaa{bottom:632.000000px;}
.yc2{bottom:638.000000px;}
.y15{bottom:640.000000px;}
.y5f{bottom:645.000000px;}
.yc1{bottom:654.000000px;}
.y14{bottom:656.000000px;}
.y5e{bottom:663.000000px;}
.yba{bottom:663.500000px;}
.y93{bottom:665.000000px;}
.yc0{bottom:666.000000px;}
.y13{bottom:672.000000px;}
.ybf{bottom:678.000000px;}
.y5d{bottom:681.000000px;}
.y12{bottom:684.000000px;}
.y92{bottom:685.000000px;}
.y3{bottom:686.000000px;}
.y2{bottom:688.000000px;}
.y5c{bottom:693.000000px;}
.ybe{bottom:694.000000px;}
.y11{bottom:696.000000px;}
.ya9{bottom:697.000000px;}
.yef{bottom:700.000000px;}
.y1{bottom:703.000000px;}
.y3b{bottom:704.000000px;}
.y5b{bottom:709.000000px;}
.yee{bottom:712.000000px;}
.y0{bottom:712.500000px;}
.ya8{bottom:717.000000px;}
.y3a{bottom:720.000000px;}
.y91{bottom:721.000000px;}
.y5a{bottom:725.000000px;}
.yde{bottom:725.500000px;}
.y33{bottom:727.500000px;}
.y39{bottom:732.000000px;}
.y90{bottom:733.000000px;}
.ya7{bottom:735.000000px;}
.y59{bottom:741.000000px;}
.yfd{bottom:743.500000px;}
.y38{bottom:744.000000px;}
.y8f{bottom:749.000000px;}
.ya6{bottom:753.000000px;}
.y58{bottom:757.000000px;}
.ybd{bottom:759.000000px;}
.y8e{bottom:765.000000px;}
.y57{bottom:769.000000px;}
.y52{bottom:775.500000px;}
.yed{bottom:777.000000px;}
.y10{bottom:779.000000px;}
.y56{bottom:781.000000px;}
.y36{bottom:799.000000px;}
.h2{height:46.973200px;}
.h6{height:56.367840px;}
.h9{height:59.156250px;}
.h7{height:69.015625px;}
.h5{height:70.459800px;}
.h1{height:84.500000px;}
.h4{height:93.946400px;}
.h3{height:187.892799px;}
.h8{height:752.500000px;}
.h0{height:842.000000px;}
.w1{width:277.500000px;}
.w2{width:485.500000px;}
.w0{width:595.000000px;}
.x0{left:55.000000px;}
.xa{left:57.000000px;}
.x6{left:119.940000px;}
.x3{left:169.660000px;}
.xb{left:176.120000px;}
.x5{left:193.570000px;}
.x8{left:227.820000px;}
.x9{left:245.000000px;}
.x7{left:269.150000px;}
.x1{left:276.080000px;}
.x4{left:291.940000px;}
.x2{left:296.110000px;}
.xd{left:524.660000px;}
.xc{left:531.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:106.666667pt;}
.fs1{font-size:213.333333pt;}
.ye{bottom:22.666667pt;}
.y37{bottom:41.333333pt;}
.yf{bottom:59.333333pt;}
.y100{bottom:64.666667pt;}
.y51{bottom:86.666667pt;}
.y32{bottom:88.000000pt;}
.y78{bottom:93.333333pt;}
.yb9{bottom:96.000000pt;}
.y8b{bottom:98.666667pt;}
.yfc{bottom:109.333333pt;}
.yeb{bottom:112.000000pt;}
.y31{bottom:114.666667pt;}
.ydd{bottom:117.333333pt;}
.yb8{bottom:120.000000pt;}
.y55{bottom:128.666667pt;}
.ydc{bottom:133.333333pt;}
.y7b{bottom:135.333333pt;}
.y8a{bottom:136.000000pt;}
.y30{bottom:138.666667pt;}
.ydb{bottom:154.666667pt;}
.ya2{bottom:157.333333pt;}
.yea{bottom:160.000000pt;}
.y2f{bottom:162.666667pt;}
.y50{bottom:173.333333pt;}
.yda{bottom:176.000000pt;}
.y8d{bottom:178.000000pt;}
.y2e{bottom:178.666667pt;}
.y77{bottom:180.000000pt;}
.yfb{bottom:184.000000pt;}
.ya1{bottom:189.333333pt;}
.yd9{bottom:197.333333pt;}
.y2d{bottom:200.000000pt;}
.y76{bottom:206.666667pt;}
.ya0{bottom:210.666667pt;}
.yd8{bottom:218.666667pt;}
.y2c{bottom:221.333333pt;}
.y89{bottom:222.666667pt;}
.y4f{bottom:224.000000pt;}
.y75{bottom:230.666667pt;}
.yd7{bottom:234.666667pt;}
.yb7{bottom:237.333333pt;}
.ye9{bottom:240.000000pt;}
.y2b{bottom:242.666667pt;}
.y4e{bottom:248.000000pt;}
.y88{bottom:249.333333pt;}
.yd6{bottom:250.666667pt;}
.ya5{bottom:252.666667pt;}
.yb6{bottom:253.333333pt;}
.y74{bottom:254.666667pt;}
.ye8{bottom:261.333333pt;}
.y2a{bottom:264.000000pt;}
.y73{bottom:270.666667pt;}
.y87{bottom:273.333333pt;}
.ye7{bottom:277.333333pt;}
.y29{bottom:280.000000pt;}
.y4d{bottom:285.333333pt;}
.y72{bottom:292.000000pt;}
.ye0{bottom:292.666667pt;}
.ye6{bottom:293.333333pt;}
.ybc{bottom:295.333333pt;}
.y28{bottom:296.000000pt;}
.y86{bottom:297.333333pt;}
.yfa{bottom:301.333333pt;}
.y4c{bottom:306.666667pt;}
.y71{bottom:313.333333pt;}
.ye5{bottom:314.666667pt;}
.yf9{bottom:317.333333pt;}
.y9f{bottom:324.000000pt;}
.y4b{bottom:328.000000pt;}
.y70{bottom:334.666667pt;}
.yd5{bottom:337.333333pt;}
.y35{bottom:338.000000pt;}
.yf8{bottom:338.666667pt;}
.yb5{bottom:340.000000pt;}
.y9e{bottom:348.000000pt;}
.y4a{bottom:349.333333pt;}
.y6f{bottom:356.000000pt;}
.yec{bottom:356.666667pt;}
.yd4{bottom:364.000000pt;}
.y49{bottom:365.333333pt;}
.yb4{bottom:366.666667pt;}
.y6e{bottom:372.000000pt;}
.y85{bottom:377.333333pt;}
.yff{bottom:380.666667pt;}
.y48{bottom:381.333333pt;}
.y27{bottom:382.666667pt;}
.y6d{bottom:388.000000pt;}
.yb3{bottom:390.666667pt;}
.y84{bottom:398.666667pt;}
.ye4{bottom:401.333333pt;}
.y26{bottom:409.333333pt;}
.yd3{bottom:412.000000pt;}
.y83{bottom:414.666667pt;}
.y54{bottom:423.333333pt;}
.yf7{bottom:425.333333pt;}
.yd2{bottom:428.000000pt;}
.y82{bottom:430.666667pt;}
.y25{bottom:433.333333pt;}
.yd1{bottom:449.333333pt;}
.y7a{bottom:451.333333pt;}
.y9d{bottom:452.000000pt;}
.y24{bottom:457.333333pt;}
.y47{bottom:468.000000pt;}
.yd0{bottom:470.666667pt;}
.y8c{bottom:472.666667pt;}
.y23{bottom:473.333333pt;}
.ye3{bottom:476.000000pt;}
.y9c{bottom:489.333333pt;}
.ycf{bottom:492.000000pt;}
.y22{bottom:494.666667pt;}
.y6c{bottom:496.000000pt;}
.yf6{bottom:500.000000pt;}
.y9b{bottom:505.333333pt;}
.yce{bottom:513.333333pt;}
.y21{bottom:516.000000pt;}
.y81{bottom:517.333333pt;}
.yd{bottom:518.000000pt;}
.y46{bottom:518.666667pt;}
.y6b{bottom:522.666667pt;}
.yb2{bottom:532.000000pt;}
.ycd{bottom:534.666667pt;}
.y20{bottom:537.333333pt;}
.yc{bottom:542.000000pt;}
.y45{bottom:542.666667pt;}
.y80{bottom:544.000000pt;}
.y6a{bottom:546.666667pt;}
.ya4{bottom:547.333333pt;}
.yb1{bottom:548.000000pt;}
.ycc{bottom:556.000000pt;}
.y1f{bottom:558.666667pt;}
.y7f{bottom:568.000000pt;}
.yb0{bottom:569.333333pt;}
.y69{bottom:570.666667pt;}
.ycb{bottom:572.000000pt;}
.y1e{bottom:574.666667pt;}
.ye2{bottom:577.333333pt;}
.y44{bottom:580.000000pt;}
.yb{bottom:582.000000pt;}
.y68{bottom:586.666667pt;}
.yca{bottom:588.000000pt;}
.y1d{bottom:590.666667pt;}
.y7e{bottom:592.000000pt;}
.ye1{bottom:593.333333pt;}
.y43{bottom:601.333333pt;}
.ya{bottom:602.000000pt;}
.y67{bottom:608.000000pt;}
.yc9{bottom:609.333333pt;}
.ybb{bottom:611.333333pt;}
.y1c{bottom:612.000000pt;}
.y9{bottom:615.333333pt;}
.yf5{bottom:617.333333pt;}
.y9a{bottom:618.666667pt;}
.y42{bottom:622.666667pt;}
.y66{bottom:629.333333pt;}
.yf4{bottom:633.333333pt;}
.y99{bottom:642.666667pt;}
.y41{bottom:644.000000pt;}
.y8{bottom:645.333333pt;}
.y65{bottom:650.666667pt;}
.ydf{bottom:651.333333pt;}
.y34{bottom:654.000000pt;}
.yf3{bottom:654.666667pt;}
.yaf{bottom:656.000000pt;}
.y7{bottom:658.666667pt;}
.y40{bottom:660.000000pt;}
.y98{bottom:666.666667pt;}
.y64{bottom:672.000000pt;}
.y3f{bottom:676.000000pt;}
.y97{bottom:682.666667pt;}
.y63{bottom:688.000000pt;}
.y7d{bottom:693.333333pt;}
.yc8{bottom:696.000000pt;}
.yfe{bottom:696.666667pt;}
.y6{bottom:698.666667pt;}
.y5{bottom:701.333333pt;}
.y62{bottom:704.000000pt;}
.yae{bottom:706.666667pt;}
.y7c{bottom:709.333333pt;}
.y53{bottom:718.000000pt;}
.yc7{bottom:722.666667pt;}
.y1b{bottom:725.333333pt;}
.yad{bottom:730.666667pt;}
.yf2{bottom:741.333333pt;}
.y61{bottom:746.666667pt;}
.y1a{bottom:749.333333pt;}
.y3e{bottom:762.666667pt;}
.y96{bottom:768.000000pt;}
.yc6{bottom:770.666667pt;}
.y19{bottom:773.333333pt;}
.y4{bottom:781.333333pt;}
.y95{bottom:784.000000pt;}
.yc5{bottom:786.666667pt;}
.y79{bottom:788.666667pt;}
.y18{bottom:789.333333pt;}
.yf1{bottom:792.000000pt;}
.y94{bottom:800.000000pt;}
.yac{bottom:805.333333pt;}
.yc4{bottom:808.000000pt;}
.y17{bottom:810.666667pt;}
.y3d{bottom:813.333333pt;}
.yf0{bottom:816.000000pt;}
.yab{bottom:821.333333pt;}
.yc3{bottom:829.333333pt;}
.y16{bottom:832.000000pt;}
.y60{bottom:833.333333pt;}
.y3c{bottom:837.333333pt;}
.ya3{bottom:842.000000pt;}
.yaa{bottom:842.666667pt;}
.yc2{bottom:850.666667pt;}
.y15{bottom:853.333333pt;}
.y5f{bottom:860.000000pt;}
.yc1{bottom:872.000000pt;}
.y14{bottom:874.666667pt;}
.y5e{bottom:884.000000pt;}
.yba{bottom:884.666667pt;}
.y93{bottom:886.666667pt;}
.yc0{bottom:888.000000pt;}
.y13{bottom:896.000000pt;}
.ybf{bottom:904.000000pt;}
.y5d{bottom:908.000000pt;}
.y12{bottom:912.000000pt;}
.y92{bottom:913.333333pt;}
.y3{bottom:914.666667pt;}
.y2{bottom:917.333333pt;}
.y5c{bottom:924.000000pt;}
.ybe{bottom:925.333333pt;}
.y11{bottom:928.000000pt;}
.ya9{bottom:929.333333pt;}
.yef{bottom:933.333333pt;}
.y1{bottom:937.333333pt;}
.y3b{bottom:938.666667pt;}
.y5b{bottom:945.333333pt;}
.yee{bottom:949.333333pt;}
.y0{bottom:950.000000pt;}
.ya8{bottom:956.000000pt;}
.y3a{bottom:960.000000pt;}
.y91{bottom:961.333333pt;}
.y5a{bottom:966.666667pt;}
.yde{bottom:967.333333pt;}
.y33{bottom:970.000000pt;}
.y39{bottom:976.000000pt;}
.y90{bottom:977.333333pt;}
.ya7{bottom:980.000000pt;}
.y59{bottom:988.000000pt;}
.yfd{bottom:991.333333pt;}
.y38{bottom:992.000000pt;}
.y8f{bottom:998.666667pt;}
.ya6{bottom:1004.000000pt;}
.y58{bottom:1009.333333pt;}
.ybd{bottom:1012.000000pt;}
.y8e{bottom:1020.000000pt;}
.y57{bottom:1025.333333pt;}
.y52{bottom:1034.000000pt;}
.yed{bottom:1036.000000pt;}
.y10{bottom:1038.666667pt;}
.y56{bottom:1041.333333pt;}
.y36{bottom:1065.333333pt;}
.h2{height:62.630933pt;}
.h6{height:75.157120pt;}
.h9{height:78.875000pt;}
.h7{height:92.020833pt;}
.h5{height:93.946400pt;}
.h1{height:112.666667pt;}
.h4{height:125.261866pt;}
.h3{height:250.523733pt;}
.h8{height:1003.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:370.000000pt;}
.w2{width:647.333333pt;}
.w0{width:793.333333pt;}
.x0{left:73.333333pt;}
.xa{left:76.000000pt;}
.x6{left:159.920000pt;}
.x3{left:226.213333pt;}
.xb{left:234.826667pt;}
.x5{left:258.093333pt;}
.x8{left:303.760000pt;}
.x9{left:326.666667pt;}
.x7{left:358.866667pt;}
.x1{left:368.106667pt;}
.x4{left:389.253333pt;}
.x2{left:394.813333pt;}
.xd{left:699.546667pt;}
.xc{left:708.440000pt;}
}
