.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls13{letter-spacing:-0.105600px;}
.lsb{letter-spacing:-0.096000px;}
.ls2{letter-spacing:-0.068040px;}
.ls0{letter-spacing:-0.038448px;}
.ls1c{letter-spacing:-0.038400px;}
.ls3{letter-spacing:-0.027216px;}
.ls16{letter-spacing:-0.024000px;}
.ls1b{letter-spacing:-0.019200px;}
.ls17{letter-spacing:-0.014400px;}
.ls18{letter-spacing:-0.009600px;}
.ls14{letter-spacing:-0.004800px;}
.ls1{letter-spacing:0.000000px;}
.lse{letter-spacing:0.004800px;}
.lsc{letter-spacing:0.009600px;}
.ls5{letter-spacing:0.014400px;}
.ls12{letter-spacing:0.019200px;}
.ls7{letter-spacing:0.024000px;}
.lsf{letter-spacing:0.028800px;}
.ls9{letter-spacing:0.033600px;}
.ls15{letter-spacing:0.038400px;}
.ls4{letter-spacing:0.039960px;}
.lsd{letter-spacing:0.043200px;}
.ls10{letter-spacing:0.048000px;}
.ls8{letter-spacing:0.052800px;}
.ls6{letter-spacing:0.057600px;}
.ls19{letter-spacing:0.062400px;}
.ls11{letter-spacing:0.067200px;}
.ls1d{letter-spacing:0.072000px;}
.lsa{letter-spacing:0.086400px;}
.ls1a{letter-spacing:0.096000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws3b{word-spacing:-0.278400px;}
.ws24{word-spacing:-0.254400px;}
.ws2a{word-spacing:-0.244800px;}
.ws34{word-spacing:-0.235200px;}
.ws2f{word-spacing:-0.216000px;}
.ws39{word-spacing:-0.201600px;}
.ws32{word-spacing:-0.196800px;}
.ws11{word-spacing:-0.187200px;}
.ws27{word-spacing:-0.182400px;}
.ws4{word-spacing:-0.177600px;}
.ws33{word-spacing:-0.172800px;}
.ws26{word-spacing:-0.168000px;}
.ws23{word-spacing:-0.158400px;}
.ws28{word-spacing:-0.148800px;}
.ws12{word-spacing:-0.144000px;}
.ws22{word-spacing:-0.139200px;}
.ws21{word-spacing:-0.134400px;}
.ws1b{word-spacing:-0.129600px;}
.ws31{word-spacing:-0.124800px;}
.ws1e{word-spacing:-0.120000px;}
.ws25{word-spacing:-0.115200px;}
.ws6{word-spacing:-0.110400px;}
.ws2b{word-spacing:-0.105600px;}
.ws5{word-spacing:-0.100800px;}
.ws15{word-spacing:-0.096000px;}
.ws2{word-spacing:-0.095904px;}
.ws29{word-spacing:-0.091200px;}
.ws1f{word-spacing:-0.086400px;}
.ws8{word-spacing:-0.081600px;}
.ws1c{word-spacing:-0.076800px;}
.ws30{word-spacing:-0.072000px;}
.ws2c{word-spacing:-0.067200px;}
.ws9{word-spacing:-0.062400px;}
.ws10{word-spacing:-0.057600px;}
.ws20{word-spacing:-0.052800px;}
.wsc{word-spacing:-0.048000px;}
.wsa{word-spacing:-0.043200px;}
.wsf{word-spacing:-0.038400px;}
.ws3{word-spacing:-0.033600px;}
.ws14{word-spacing:-0.028800px;}
.ws1a{word-spacing:-0.024000px;}
.ws17{word-spacing:-0.019200px;}
.ws13{word-spacing:-0.014400px;}
.wse{word-spacing:-0.009600px;}
.wsd{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.wsb{word-spacing:0.004800px;}
.ws18{word-spacing:0.009600px;}
.ws2d{word-spacing:0.014400px;}
.ws35{word-spacing:0.019200px;}
.ws3a{word-spacing:0.024000px;}
.ws36{word-spacing:0.028800px;}
.ws37{word-spacing:0.043200px;}
.ws2e{word-spacing:0.048000px;}
.ws38{word-spacing:0.067200px;}
.ws1{word-spacing:0.081648px;}
.ws7{word-spacing:0.096000px;}
.ws16{word-spacing:0.105600px;}
.ws1d{word-spacing:0.120000px;}
.ws19{word-spacing:0.129600px;}
._0{margin-left:-1.008000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:48.000000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs2{font-size:79.920000px;}
.fs3{font-size:136.080000px;}
.y12{bottom:16.000000px;}
.y2{bottom:39.000000px;}
.y8c{bottom:75.240000px;}
.y64{bottom:83.220000px;}
.y68{bottom:88.020000px;}
.y8b{bottom:89.040000px;}
.y63{bottom:97.020000px;}
.y3f{bottom:101.820000px;}
.y8a{bottom:102.840000px;}
.y62{bottom:110.820000px;}
.y3e{bottom:115.620000px;}
.y89{bottom:116.640000px;}
.y61{bottom:124.620000px;}
.y3d{bottom:129.420000px;}
.y88{bottom:130.440000px;}
.y60{bottom:138.420000px;}
.y3c{bottom:143.220000px;}
.y87{bottom:144.240000px;}
.y5f{bottom:152.220000px;}
.y3b{bottom:157.020000px;}
.y86{bottom:158.040000px;}
.y5e{bottom:165.960000px;}
.y3a{bottom:170.820000px;}
.y85{bottom:171.840000px;}
.y5d{bottom:179.760000px;}
.y39{bottom:184.620000px;}
.y84{bottom:185.640000px;}
.y5c{bottom:193.560000px;}
.y38{bottom:198.420000px;}
.y83{bottom:199.440000px;}
.y5b{bottom:207.360000px;}
.y41{bottom:212.100000px;}
.y37{bottom:212.220000px;}
.y82{bottom:213.240000px;}
.y5a{bottom:221.160000px;}
.y36{bottom:226.020000px;}
.y81{bottom:227.040000px;}
.y59{bottom:234.960000px;}
.y66{bottom:239.700000px;}
.y35{bottom:239.820000px;}
.y80{bottom:240.840000px;}
.y58{bottom:248.760000px;}
.y34{bottom:253.620000px;}
.y7f{bottom:254.640000px;}
.y57{bottom:262.560000px;}
.y33{bottom:267.300000px;}
.y40{bottom:267.420000px;}
.y7e{bottom:268.440000px;}
.y56{bottom:276.360000px;}
.y32{bottom:281.220000px;}
.y7d{bottom:282.240000px;}
.y55{bottom:290.160000px;}
.y31{bottom:295.020000px;}
.y11{bottom:295.689120px;}
.y7c{bottom:296.040000px;}
.y54{bottom:303.960000px;}
.y30{bottom:308.820000px;}
.y7b{bottom:309.840000px;}
.y53{bottom:317.760000px;}
.y10{bottom:318.666120px;}
.y6b{bottom:322.500000px;}
.y2f{bottom:322.620000px;}
.y7a{bottom:323.520000px;}
.y52{bottom:331.560000px;}
.y2e{bottom:336.420000px;}
.y79{bottom:337.440000px;}
.yf{bottom:344.760000px;}
.ye{bottom:344.765040px;}
.y51{bottom:345.360000px;}
.y2d{bottom:350.220000px;}
.y78{bottom:351.240000px;}
.y50{bottom:359.160000px;}
.y2c{bottom:363.960000px;}
.y77{bottom:365.040000px;}
.y4f{bottom:372.840000px;}
.y2b{bottom:377.760000px;}
.y76{bottom:378.840000px;}
.yd{bottom:383.820000px;}
.y4e{bottom:386.760000px;}
.y2a{bottom:391.560000px;}
.y75{bottom:392.640000px;}
.y4d{bottom:400.560000px;}
.y29{bottom:405.360000px;}
.y74{bottom:406.440000px;}
.y4c{bottom:414.360000px;}
.y28{bottom:419.160000px;}
.yc{bottom:419.878680px;}
.y73{bottom:420.240000px;}
.y4b{bottom:428.160000px;}
.y27{bottom:432.960000px;}
.y72{bottom:434.040000px;}
.y0{bottom:438.500000px;}
.yb{bottom:438.540000px;}
.y4a{bottom:441.960000px;}
.y26{bottom:446.760000px;}
.y71{bottom:447.840000px;}
.y49{bottom:455.760000px;}
.y25{bottom:460.560000px;}
.y70{bottom:461.640000px;}
.y48{bottom:469.560000px;}
.y24{bottom:474.360000px;}
.y6f{bottom:475.440000px;}
.y47{bottom:483.360000px;}
.y43{bottom:488.040000px;}
.y23{bottom:488.160000px;}
.y6e{bottom:489.180000px;}
.y46{bottom:497.160000px;}
.y6c{bottom:500.000000px;}
.y6d{bottom:500.220000px;}
.y22{bottom:501.960000px;}
.y45{bottom:510.960000px;}
.y21{bottom:515.760000px;}
.y44{bottom:522.000000px;}
.y20{bottom:529.560000px;}
.ya{bottom:540.381120px;}
.y1f{bottom:543.360000px;}
.y1e{bottom:557.160000px;}
.y9{bottom:563.358120px;}
.y1d{bottom:570.840000px;}
.y42{bottom:570.960000px;}
.y67{bottom:584.640000px;}
.y1c{bottom:584.760000px;}
.y8{bottom:586.335120px;}
.y6a{bottom:598.440000px;}
.y1b{bottom:598.560000px;}
.y7{bottom:609.372060px;}
.y69{bottom:612.240000px;}
.y1a{bottom:612.360000px;}
.y19{bottom:626.160000px;}
.y6{bottom:632.349060px;}
.y18{bottom:639.960000px;}
.y17{bottom:653.760000px;}
.y5{bottom:655.326060px;}
.y16{bottom:667.560000px;}
.y4{bottom:678.363000px;}
.y15{bottom:681.360000px;}
.y65{bottom:695.040000px;}
.y14{bottom:695.160000px;}
.y3{bottom:701.340000px;}
.y13{bottom:708.960000px;}
.y1{bottom:741.120000px;}
.h3{height:53.250000px;}
.h7{height:54.960938px;}
.h6{height:69.015625px;}
.h2{height:73.372852px;}
.h4{height:91.509961px;}
.h1{height:98.000000px;}
.h5{height:155.814258px;}
.h8{height:198.000000px;}
.h9{height:220.000000px;}
.h0{height:792.000000px;}
.w2{width:332.500000px;}
.w1{width:342.500000px;}
.w3{width:386.500000px;}
.w0{width:612.000000px;}
.x9{left:90.000000px;}
.x6{left:95.336580px;}
.x0{left:135.000000px;}
.x5{left:247.440000px;}
.x8{left:253.000000px;}
.x7{left:257.639220px;}
.x1{left:278.460000px;}
.x3{left:306.000000px;}
.xa{left:422.280000px;}
.x4{left:477.000000px;}
.x2{left:516.960000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls13{letter-spacing:-0.140800pt;}
.lsb{letter-spacing:-0.128000pt;}
.ls2{letter-spacing:-0.090720pt;}
.ls0{letter-spacing:-0.051264pt;}
.ls1c{letter-spacing:-0.051200pt;}
.ls3{letter-spacing:-0.036288pt;}
.ls16{letter-spacing:-0.032000pt;}
.ls1b{letter-spacing:-0.025600pt;}
.ls17{letter-spacing:-0.019200pt;}
.ls18{letter-spacing:-0.012800pt;}
.ls14{letter-spacing:-0.006400pt;}
.ls1{letter-spacing:0.000000pt;}
.lse{letter-spacing:0.006400pt;}
.lsc{letter-spacing:0.012800pt;}
.ls5{letter-spacing:0.019200pt;}
.ls12{letter-spacing:0.025600pt;}
.ls7{letter-spacing:0.032000pt;}
.lsf{letter-spacing:0.038400pt;}
.ls9{letter-spacing:0.044800pt;}
.ls15{letter-spacing:0.051200pt;}
.ls4{letter-spacing:0.053280pt;}
.lsd{letter-spacing:0.057600pt;}
.ls10{letter-spacing:0.064000pt;}
.ls8{letter-spacing:0.070400pt;}
.ls6{letter-spacing:0.076800pt;}
.ls19{letter-spacing:0.083200pt;}
.ls11{letter-spacing:0.089600pt;}
.ls1d{letter-spacing:0.096000pt;}
.lsa{letter-spacing:0.115200pt;}
.ls1a{letter-spacing:0.128000pt;}
.ws3b{word-spacing:-0.371200pt;}
.ws24{word-spacing:-0.339200pt;}
.ws2a{word-spacing:-0.326400pt;}
.ws34{word-spacing:-0.313600pt;}
.ws2f{word-spacing:-0.288000pt;}
.ws39{word-spacing:-0.268800pt;}
.ws32{word-spacing:-0.262400pt;}
.ws11{word-spacing:-0.249600pt;}
.ws27{word-spacing:-0.243200pt;}
.ws4{word-spacing:-0.236800pt;}
.ws33{word-spacing:-0.230400pt;}
.ws26{word-spacing:-0.224000pt;}
.ws23{word-spacing:-0.211200pt;}
.ws28{word-spacing:-0.198400pt;}
.ws12{word-spacing:-0.192000pt;}
.ws22{word-spacing:-0.185600pt;}
.ws21{word-spacing:-0.179200pt;}
.ws1b{word-spacing:-0.172800pt;}
.ws31{word-spacing:-0.166400pt;}
.ws1e{word-spacing:-0.160000pt;}
.ws25{word-spacing:-0.153600pt;}
.ws6{word-spacing:-0.147200pt;}
.ws2b{word-spacing:-0.140800pt;}
.ws5{word-spacing:-0.134400pt;}
.ws15{word-spacing:-0.128000pt;}
.ws2{word-spacing:-0.127872pt;}
.ws29{word-spacing:-0.121600pt;}
.ws1f{word-spacing:-0.115200pt;}
.ws8{word-spacing:-0.108800pt;}
.ws1c{word-spacing:-0.102400pt;}
.ws30{word-spacing:-0.096000pt;}
.ws2c{word-spacing:-0.089600pt;}
.ws9{word-spacing:-0.083200pt;}
.ws10{word-spacing:-0.076800pt;}
.ws20{word-spacing:-0.070400pt;}
.wsc{word-spacing:-0.064000pt;}
.wsa{word-spacing:-0.057600pt;}
.wsf{word-spacing:-0.051200pt;}
.ws3{word-spacing:-0.044800pt;}
.ws14{word-spacing:-0.038400pt;}
.ws1a{word-spacing:-0.032000pt;}
.ws17{word-spacing:-0.025600pt;}
.ws13{word-spacing:-0.019200pt;}
.wse{word-spacing:-0.012800pt;}
.wsd{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.wsb{word-spacing:0.006400pt;}
.ws18{word-spacing:0.012800pt;}
.ws2d{word-spacing:0.019200pt;}
.ws35{word-spacing:0.025600pt;}
.ws3a{word-spacing:0.032000pt;}
.ws36{word-spacing:0.038400pt;}
.ws37{word-spacing:0.057600pt;}
.ws2e{word-spacing:0.064000pt;}
.ws38{word-spacing:0.089600pt;}
.ws1{word-spacing:0.108864pt;}
.ws7{word-spacing:0.128000pt;}
.ws16{word-spacing:0.140800pt;}
.ws1d{word-spacing:0.160000pt;}
.ws19{word-spacing:0.172800pt;}
._0{margin-left:-1.344000pt;}
.fs1{font-size:64.000000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs2{font-size:106.560000pt;}
.fs3{font-size:181.440000pt;}
.y12{bottom:21.333333pt;}
.y2{bottom:52.000000pt;}
.y8c{bottom:100.320000pt;}
.y64{bottom:110.960000pt;}
.y68{bottom:117.360000pt;}
.y8b{bottom:118.720000pt;}
.y63{bottom:129.360000pt;}
.y3f{bottom:135.760000pt;}
.y8a{bottom:137.120000pt;}
.y62{bottom:147.760000pt;}
.y3e{bottom:154.160000pt;}
.y89{bottom:155.520000pt;}
.y61{bottom:166.160000pt;}
.y3d{bottom:172.560000pt;}
.y88{bottom:173.920000pt;}
.y60{bottom:184.560000pt;}
.y3c{bottom:190.960000pt;}
.y87{bottom:192.320000pt;}
.y5f{bottom:202.960000pt;}
.y3b{bottom:209.360000pt;}
.y86{bottom:210.720000pt;}
.y5e{bottom:221.280000pt;}
.y3a{bottom:227.760000pt;}
.y85{bottom:229.120000pt;}
.y5d{bottom:239.680000pt;}
.y39{bottom:246.160000pt;}
.y84{bottom:247.520000pt;}
.y5c{bottom:258.080000pt;}
.y38{bottom:264.560000pt;}
.y83{bottom:265.920000pt;}
.y5b{bottom:276.480000pt;}
.y41{bottom:282.800000pt;}
.y37{bottom:282.960000pt;}
.y82{bottom:284.320000pt;}
.y5a{bottom:294.880000pt;}
.y36{bottom:301.360000pt;}
.y81{bottom:302.720000pt;}
.y59{bottom:313.280000pt;}
.y66{bottom:319.600000pt;}
.y35{bottom:319.760000pt;}
.y80{bottom:321.120000pt;}
.y58{bottom:331.680000pt;}
.y34{bottom:338.160000pt;}
.y7f{bottom:339.520000pt;}
.y57{bottom:350.080000pt;}
.y33{bottom:356.400000pt;}
.y40{bottom:356.560000pt;}
.y7e{bottom:357.920000pt;}
.y56{bottom:368.480000pt;}
.y32{bottom:374.960000pt;}
.y7d{bottom:376.320000pt;}
.y55{bottom:386.880000pt;}
.y31{bottom:393.360000pt;}
.y11{bottom:394.252160pt;}
.y7c{bottom:394.720000pt;}
.y54{bottom:405.280000pt;}
.y30{bottom:411.760000pt;}
.y7b{bottom:413.120000pt;}
.y53{bottom:423.680000pt;}
.y10{bottom:424.888160pt;}
.y6b{bottom:430.000000pt;}
.y2f{bottom:430.160000pt;}
.y7a{bottom:431.360000pt;}
.y52{bottom:442.080000pt;}
.y2e{bottom:448.560000pt;}
.y79{bottom:449.920000pt;}
.yf{bottom:459.680000pt;}
.ye{bottom:459.686720pt;}
.y51{bottom:460.480000pt;}
.y2d{bottom:466.960000pt;}
.y78{bottom:468.320000pt;}
.y50{bottom:478.880000pt;}
.y2c{bottom:485.280000pt;}
.y77{bottom:486.720000pt;}
.y4f{bottom:497.120000pt;}
.y2b{bottom:503.680000pt;}
.y76{bottom:505.120000pt;}
.yd{bottom:511.760000pt;}
.y4e{bottom:515.680000pt;}
.y2a{bottom:522.080000pt;}
.y75{bottom:523.520000pt;}
.y4d{bottom:534.080000pt;}
.y29{bottom:540.480000pt;}
.y74{bottom:541.920000pt;}
.y4c{bottom:552.480000pt;}
.y28{bottom:558.880000pt;}
.yc{bottom:559.838240pt;}
.y73{bottom:560.320000pt;}
.y4b{bottom:570.880000pt;}
.y27{bottom:577.280000pt;}
.y72{bottom:578.720000pt;}
.y0{bottom:584.666667pt;}
.yb{bottom:584.720000pt;}
.y4a{bottom:589.280000pt;}
.y26{bottom:595.680000pt;}
.y71{bottom:597.120000pt;}
.y49{bottom:607.680000pt;}
.y25{bottom:614.080000pt;}
.y70{bottom:615.520000pt;}
.y48{bottom:626.080000pt;}
.y24{bottom:632.480000pt;}
.y6f{bottom:633.920000pt;}
.y47{bottom:644.480000pt;}
.y43{bottom:650.720000pt;}
.y23{bottom:650.880000pt;}
.y6e{bottom:652.240000pt;}
.y46{bottom:662.880000pt;}
.y6c{bottom:666.666667pt;}
.y6d{bottom:666.960000pt;}
.y22{bottom:669.280000pt;}
.y45{bottom:681.280000pt;}
.y21{bottom:687.680000pt;}
.y44{bottom:696.000000pt;}
.y20{bottom:706.080000pt;}
.ya{bottom:720.508160pt;}
.y1f{bottom:724.480000pt;}
.y1e{bottom:742.880000pt;}
.y9{bottom:751.144160pt;}
.y1d{bottom:761.120000pt;}
.y42{bottom:761.280000pt;}
.y67{bottom:779.520000pt;}
.y1c{bottom:779.680000pt;}
.y8{bottom:781.780160pt;}
.y6a{bottom:797.920000pt;}
.y1b{bottom:798.080000pt;}
.y7{bottom:812.496080pt;}
.y69{bottom:816.320000pt;}
.y1a{bottom:816.480000pt;}
.y19{bottom:834.880000pt;}
.y6{bottom:843.132080pt;}
.y18{bottom:853.280000pt;}
.y17{bottom:871.680000pt;}
.y5{bottom:873.768080pt;}
.y16{bottom:890.080000pt;}
.y4{bottom:904.484000pt;}
.y15{bottom:908.480000pt;}
.y65{bottom:926.720000pt;}
.y14{bottom:926.880000pt;}
.y3{bottom:935.120000pt;}
.y13{bottom:945.280000pt;}
.y1{bottom:988.160000pt;}
.h3{height:71.000000pt;}
.h7{height:73.281250pt;}
.h6{height:92.020833pt;}
.h2{height:97.830469pt;}
.h4{height:122.013281pt;}
.h1{height:130.666667pt;}
.h5{height:207.752344pt;}
.h8{height:264.000000pt;}
.h9{height:293.333333pt;}
.h0{height:1056.000000pt;}
.w2{width:443.333333pt;}
.w1{width:456.666667pt;}
.w3{width:515.333333pt;}
.w0{width:816.000000pt;}
.x9{left:120.000000pt;}
.x6{left:127.115440pt;}
.x0{left:180.000000pt;}
.x5{left:329.920000pt;}
.x8{left:337.333333pt;}
.x7{left:343.518960pt;}
.x1{left:371.280000pt;}
.x3{left:408.000000pt;}
.xa{left:563.040000pt;}
.x4{left:636.000000pt;}
.x2{left:689.280000pt;}
}
