.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.872559;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.lsd{letter-spacing:-4.887408px;}
.lsb{letter-spacing:-2.823960px;}
.lsf{letter-spacing:-2.348640px;}
.ls1a{letter-spacing:-1.633824px;}
.ls7f{letter-spacing:-1.537200px;}
.ls4{letter-spacing:-1.145040px;}
.ls3{letter-spacing:-1.074576px;}
.ls8d{letter-spacing:-1.001376px;}
.ls4d{letter-spacing:-0.922320px;}
.ls2b{letter-spacing:-0.860832px;}
.ls84{letter-spacing:-0.825696px;}
.ls63{letter-spacing:-0.808128px;}
.ls0{letter-spacing:-0.768960px;}
.ls83{letter-spacing:-0.755424px;}
.ls37{letter-spacing:-0.733464px;}
.ls4c{letter-spacing:-0.685152px;}
.ls89{letter-spacing:-0.671976px;}
.ls6b{letter-spacing:-0.623664px;}
.ls7b{letter-spacing:-0.619272px;}
.ls29{letter-spacing:-0.584136px;}
.ls30{letter-spacing:-0.570960px;}
.ls70{letter-spacing:-0.566568px;}
.ls46{letter-spacing:-0.562176px;}
.ls25{letter-spacing:-0.553392px;}
.ls2c{letter-spacing:-0.531432px;}
.ls8c{letter-spacing:-0.527040px;}
.ls88{letter-spacing:-0.522648px;}
.ls36{letter-spacing:-0.513864px;}
.ls80{letter-spacing:-0.500688px;}
.ls2a{letter-spacing:-0.491904px;}
.ls68{letter-spacing:-0.474336px;}
.ls13{letter-spacing:-0.469944px;}
.ls64{letter-spacing:-0.465552px;}
.ls5e{letter-spacing:-0.456768px;}
.ls62{letter-spacing:-0.452376px;}
.ls8a{letter-spacing:-0.439200px;}
.ls4f{letter-spacing:-0.434808px;}
.ls69{letter-spacing:-0.430416px;}
.ls76{letter-spacing:-0.421632px;}
.ls7d{letter-spacing:-0.417240px;}
.ls6c{letter-spacing:-0.408456px;}
.ls77{letter-spacing:-0.404064px;}
.ls34{letter-spacing:-0.399672px;}
.ls14{letter-spacing:-0.386496px;}
.ls1e{letter-spacing:-0.360144px;}
.ls5b{letter-spacing:-0.355752px;}
.ls8e{letter-spacing:-0.346968px;}
.ls53{letter-spacing:-0.342576px;}
.ls41{letter-spacing:-0.333792px;}
.ls55{letter-spacing:-0.320616px;}
.ls72{letter-spacing:-0.311832px;}
.ls78{letter-spacing:-0.298656px;}
.ls2d{letter-spacing:-0.276696px;}
.ls61{letter-spacing:-0.193248px;}
.ls85{letter-spacing:-0.180072px;}
.lsa{letter-spacing:-0.176160px;}
.ls74{letter-spacing:-0.162504px;}
.ls66{letter-spacing:-0.158112px;}
.ls7a{letter-spacing:-0.149328px;}
.ls51{letter-spacing:-0.136152px;}
.ls5{letter-spacing:-0.132120px;}
.ls5c{letter-spacing:-0.127368px;}
.ls71{letter-spacing:-0.122976px;}
.ls5d{letter-spacing:-0.105408px;}
.ls75{letter-spacing:-0.096624px;}
.ls42{letter-spacing:-0.092232px;}
.ls87{letter-spacing:-0.087840px;}
.ls8b{letter-spacing:-0.083448px;}
.ls6{letter-spacing:-0.079272px;}
.ls6d{letter-spacing:-0.079056px;}
.ls2{letter-spacing:-0.076896px;}
.ls3e{letter-spacing:-0.070272px;}
.ls2f{letter-spacing:-0.065880px;}
.ls81{letter-spacing:-0.061488px;}
.ls60{letter-spacing:-0.057096px;}
.ls3b{letter-spacing:-0.052704px;}
.ls44{letter-spacing:-0.048312px;}
.ls8{letter-spacing:-0.044040px;}
.ls50{letter-spacing:-0.043920px;}
.ls5f{letter-spacing:-0.039528px;}
.ls16{letter-spacing:-0.035136px;}
.ls57{letter-spacing:-0.030744px;}
.ls7{letter-spacing:-0.026424px;}
.ls3a{letter-spacing:-0.026352px;}
.lse{letter-spacing:-0.022368px;}
.ls12{letter-spacing:-0.021960px;}
.ls17{letter-spacing:-0.017568px;}
.ls4a{letter-spacing:-0.013176px;}
.ls9{letter-spacing:-0.008808px;}
.ls40{letter-spacing:-0.008784px;}
.ls2e{letter-spacing:-0.004392px;}
.ls1{letter-spacing:0.000000px;}
.ls3f{letter-spacing:0.004392px;}
.ls35{letter-spacing:0.008784px;}
.ls18{letter-spacing:0.013176px;}
.ls1f{letter-spacing:0.017568px;}
.ls33{letter-spacing:0.021960px;}
.ls39{letter-spacing:0.026352px;}
.ls49{letter-spacing:0.030744px;}
.ls48{letter-spacing:0.035136px;}
.ls58{letter-spacing:0.039528px;}
.ls20{letter-spacing:0.043920px;}
.ls1d{letter-spacing:0.048312px;}
.ls23{letter-spacing:0.052704px;}
.ls43{letter-spacing:0.057096px;}
.ls15{letter-spacing:0.061488px;}
.ls1c{letter-spacing:0.065880px;}
.ls31{letter-spacing:0.070272px;}
.ls54{letter-spacing:0.074664px;}
.ls10{letter-spacing:0.079056px;}
.ls1b{letter-spacing:0.083448px;}
.lsc{letter-spacing:0.083880px;}
.ls47{letter-spacing:0.087840px;}
.ls3c{letter-spacing:0.092232px;}
.ls28{letter-spacing:0.101016px;}
.ls26{letter-spacing:0.105408px;}
.ls22{letter-spacing:0.109800px;}
.ls52{letter-spacing:0.118584px;}
.ls4e{letter-spacing:0.122976px;}
.ls7c{letter-spacing:0.131760px;}
.ls67{letter-spacing:0.136152px;}
.ls7e{letter-spacing:0.140544px;}
.ls3d{letter-spacing:0.144936px;}
.ls6f{letter-spacing:0.153720px;}
.ls27{letter-spacing:0.158112px;}
.ls73{letter-spacing:0.162504px;}
.ls4b{letter-spacing:0.166896px;}
.ls65{letter-spacing:0.171288px;}
.ls86{letter-spacing:0.175680px;}
.ls45{letter-spacing:0.184464px;}
.ls56{letter-spacing:0.188856px;}
.ls24{letter-spacing:0.197640px;}
.ls6a{letter-spacing:0.206424px;}
.ls59{letter-spacing:0.219600px;}
.ls79{letter-spacing:0.228384px;}
.ls21{letter-spacing:0.241560px;}
.ls19{letter-spacing:0.267912px;}
.ls38{letter-spacing:0.276696px;}
.ls32{letter-spacing:0.320616px;}
.ls5a{letter-spacing:0.342576px;}
.ls11{letter-spacing:0.351360px;}
.ls82{letter-spacing:0.360144px;}
.ls6e{letter-spacing:0.478728px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-7.488720px;}
._7{margin-left:-4.027128px;}
._6{margin-left:-2.683128px;}
._2{margin-left:-1.629480px;}
._0{width:1.409760px;}
._3{width:2.740080px;}
._4{width:3.846720px;}
._5{width:5.827440px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs2{font-size:55.920000px;}
.fs5{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs4{font-size:76.080000px;}
.fs3{font-size:88.080000px;}
.y11{bottom:16.000000px;}
.y10{bottom:52.380000px;}
.y9b{bottom:78.056780px;}
.y2a{bottom:79.309860px;}
.y45{bottom:83.491880px;}
.y82{bottom:83.513840px;}
.y90{bottom:88.070540px;}
.y75{bottom:88.081520px;}
.y9a{bottom:93.538580px;}
.ya1{bottom:98.918780px;}
.y56{bottom:98.929760px;}
.y29{bottom:104.750520px;}
.y44{bottom:108.932540px;}
.y81{bottom:108.954500px;}
.y8f{bottom:113.511200px;}
.y74{bottom:113.522180px;}
.y99{bottom:118.979240px;}
.ya0{bottom:124.359440px;}
.y55{bottom:124.370420px;}
.y28{bottom:130.191180px;}
.y43{bottom:134.373200px;}
.y80{bottom:134.395160px;}
.y8e{bottom:138.951860px;}
.y73{bottom:138.962840px;}
.y98{bottom:144.419900px;}
.y9f{bottom:149.800100px;}
.y54{bottom:149.811080px;}
.y27{bottom:155.631840px;}
.y42{bottom:159.813860px;}
.y7f{bottom:159.835820px;}
.y8d{bottom:164.392520px;}
.y72{bottom:164.403500px;}
.y97{bottom:169.860560px;}
.y9e{bottom:175.240760px;}
.y53{bottom:175.251740px;}
.y26{bottom:181.072500px;}
.y41{bottom:185.254520px;}
.y5e{bottom:185.265500px;}
.y7e{bottom:185.276480px;}
.y8c{bottom:189.833180px;}
.y71{bottom:189.844160px;}
.y96{bottom:195.301220px;}
.y9d{bottom:200.681420px;}
.y52{bottom:200.692400px;}
.y25{bottom:206.513160px;}
.y40{bottom:210.695180px;}
.y5d{bottom:210.706160px;}
.y7d{bottom:210.717140px;}
.y8b{bottom:215.273840px;}
.y70{bottom:215.284820px;}
.y95{bottom:220.741880px;}
.y9c{bottom:226.122080px;}
.y51{bottom:226.133060px;}
.y24{bottom:231.953820px;}
.y3f{bottom:236.135840px;}
.y5c{bottom:236.146820px;}
.y7c{bottom:236.157800px;}
.y8a{bottom:240.714500px;}
.y6f{bottom:240.725480px;}
.y94{bottom:246.182540px;}
.yf{bottom:249.600960px;}
.y50{bottom:251.573720px;}
.y89{bottom:256.130420px;}
.y23{bottom:257.394480px;}
.y3e{bottom:261.576500px;}
.y5b{bottom:261.587480px;}
.y7b{bottom:261.598460px;}
.y6e{bottom:266.166140px;}
.y88{bottom:271.612220px;}
.y93{bottom:271.623200px;}
.ye{bottom:276.480000px;}
.y4f{bottom:277.014380px;}
.y22{bottom:282.835140px;}
.y3d{bottom:287.017160px;}
.y5a{bottom:287.028140px;}
.y7a{bottom:287.039120px;}
.y6d{bottom:291.606800px;}
.y92{bottom:297.063860px;}
.y87{bottom:302.444060px;}
.y4e{bottom:302.455040px;}
.y21{bottom:308.275800px;}
.yd{bottom:309.720000px;}
.yc{bottom:309.725940px;}
.y3c{bottom:312.457820px;}
.y59{bottom:312.468800px;}
.y79{bottom:312.479780px;}
.y6c{bottom:317.047460px;}
.y91{bottom:322.504520px;}
.y86{bottom:327.939620px;}
.y4d{bottom:327.950600px;}
.y6b{bottom:332.463380px;}
.y20{bottom:333.716460px;}
.y3b{bottom:337.898480px;}
.y58{bottom:337.909460px;}
.y78{bottom:337.920440px;}
.yb{bottom:340.620000px;}
.y6a{bottom:347.945180px;}
.y85{bottom:353.380280px;}
.y4c{bottom:353.391260px;}
.y1f{bottom:359.157120px;}
.y3a{bottom:363.339140px;}
.y57{bottom:363.350120px;}
.y69{bottom:363.361100px;}
.y84{bottom:378.820940px;}
.y4b{bottom:378.831920px;}
.ya{bottom:381.480000px;}
.y1e{bottom:384.597780px;}
.y39{bottom:388.779800px;}
.y38{bottom:388.790780px;}
.y68{bottom:388.801760px;}
.y1d{bottom:400.013700px;}
.y83{bottom:404.261600px;}
.y4a{bottom:404.272580px;}
.y37{bottom:414.231440px;}
.y67{bottom:414.242420px;}
.y9{bottom:418.741080px;}
.y1c{bottom:425.454360px;}
.y49{bottom:429.713240px;}
.y36{bottom:439.672100px;}
.y66{bottom:439.683080px;}
.y0{bottom:444.500000px;}
.y8{bottom:444.660000px;}
.y1b{bottom:450.895020px;}
.y48{bottom:455.153900px;}
.y35{bottom:465.112760px;}
.y65{bottom:465.123740px;}
.y1a{bottom:476.390580px;}
.y47{bottom:480.594560px;}
.y34{bottom:490.553420px;}
.y64{bottom:490.564400px;}
.y19{bottom:501.831240px;}
.y46{bottom:506.035220px;}
.y33{bottom:515.994080px;}
.y63{bottom:516.005060px;}
.y18{bottom:527.271900px;}
.y32{bottom:531.475880px;}
.y62{bottom:541.445720px;}
.y17{bottom:552.712560px;}
.y31{bottom:556.916540px;}
.y7{bottom:558.496080px;}
.y61{bottom:566.886380px;}
.y16{bottom:578.153220px;}
.y30{bottom:582.357200px;}
.y6{bottom:588.133680px;}
.y60{bottom:592.381940px;}
.y15{bottom:603.593880px;}
.y2f{bottom:607.797860px;}
.y5{bottom:617.771280px;}
.y5f{bottom:617.822600px;}
.y14{bottom:629.034540px;}
.y2e{bottom:633.238520px;}
.y77{bottom:643.263260px;}
.y4{bottom:647.464800px;}
.y13{bottom:654.475200px;}
.y2d{bottom:658.679180px;}
.y76{bottom:668.703920px;}
.y3{bottom:677.102400px;}
.y12{bottom:679.915860px;}
.y2c{bottom:684.119840px;}
.y2{bottom:706.740000px;}
.y2b{bottom:709.560500px;}
.y1{bottom:740.820000px;}
.h5{height:29.272852px;}
.h9{height:30.538125px;}
.h8{height:31.524609px;}
.h3{height:37.270898px;}
.h6{height:38.881875px;}
.h2{height:44.555625px;}
.h4{height:61.243125px;}
.h7{height:69.015625px;}
.h1{height:98.000000px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x9{left:72.004020px;}
.xc{left:109.167000px;}
.xe{left:111.933960px;}
.x5{left:115.980000px;}
.x0{left:135.000000px;}
.xd{left:162.002760px;}
.x6{left:221.962260px;}
.xb{left:253.000000px;}
.x4{left:269.760000px;}
.x8{left:273.720000px;}
.x1{left:279.660000px;}
.x2{left:306.000000px;}
.x7{left:390.000000px;}
.x3{left:477.000000px;}
.xa{left:504.299900px;}
@media print{
.v0{vertical-align:0.000000pt;}
.lsd{letter-spacing:-6.516544pt;}
.lsb{letter-spacing:-3.765280pt;}
.lsf{letter-spacing:-3.131520pt;}
.ls1a{letter-spacing:-2.178432pt;}
.ls7f{letter-spacing:-2.049600pt;}
.ls4{letter-spacing:-1.526720pt;}
.ls3{letter-spacing:-1.432768pt;}
.ls8d{letter-spacing:-1.335168pt;}
.ls4d{letter-spacing:-1.229760pt;}
.ls2b{letter-spacing:-1.147776pt;}
.ls84{letter-spacing:-1.100928pt;}
.ls63{letter-spacing:-1.077504pt;}
.ls0{letter-spacing:-1.025280pt;}
.ls83{letter-spacing:-1.007232pt;}
.ls37{letter-spacing:-0.977952pt;}
.ls4c{letter-spacing:-0.913536pt;}
.ls89{letter-spacing:-0.895968pt;}
.ls6b{letter-spacing:-0.831552pt;}
.ls7b{letter-spacing:-0.825696pt;}
.ls29{letter-spacing:-0.778848pt;}
.ls30{letter-spacing:-0.761280pt;}
.ls70{letter-spacing:-0.755424pt;}
.ls46{letter-spacing:-0.749568pt;}
.ls25{letter-spacing:-0.737856pt;}
.ls2c{letter-spacing:-0.708576pt;}
.ls8c{letter-spacing:-0.702720pt;}
.ls88{letter-spacing:-0.696864pt;}
.ls36{letter-spacing:-0.685152pt;}
.ls80{letter-spacing:-0.667584pt;}
.ls2a{letter-spacing:-0.655872pt;}
.ls68{letter-spacing:-0.632448pt;}
.ls13{letter-spacing:-0.626592pt;}
.ls64{letter-spacing:-0.620736pt;}
.ls5e{letter-spacing:-0.609024pt;}
.ls62{letter-spacing:-0.603168pt;}
.ls8a{letter-spacing:-0.585600pt;}
.ls4f{letter-spacing:-0.579744pt;}
.ls69{letter-spacing:-0.573888pt;}
.ls76{letter-spacing:-0.562176pt;}
.ls7d{letter-spacing:-0.556320pt;}
.ls6c{letter-spacing:-0.544608pt;}
.ls77{letter-spacing:-0.538752pt;}
.ls34{letter-spacing:-0.532896pt;}
.ls14{letter-spacing:-0.515328pt;}
.ls1e{letter-spacing:-0.480192pt;}
.ls5b{letter-spacing:-0.474336pt;}
.ls8e{letter-spacing:-0.462624pt;}
.ls53{letter-spacing:-0.456768pt;}
.ls41{letter-spacing:-0.445056pt;}
.ls55{letter-spacing:-0.427488pt;}
.ls72{letter-spacing:-0.415776pt;}
.ls78{letter-spacing:-0.398208pt;}
.ls2d{letter-spacing:-0.368928pt;}
.ls61{letter-spacing:-0.257664pt;}
.ls85{letter-spacing:-0.240096pt;}
.lsa{letter-spacing:-0.234880pt;}
.ls74{letter-spacing:-0.216672pt;}
.ls66{letter-spacing:-0.210816pt;}
.ls7a{letter-spacing:-0.199104pt;}
.ls51{letter-spacing:-0.181536pt;}
.ls5{letter-spacing:-0.176160pt;}
.ls5c{letter-spacing:-0.169824pt;}
.ls71{letter-spacing:-0.163968pt;}
.ls5d{letter-spacing:-0.140544pt;}
.ls75{letter-spacing:-0.128832pt;}
.ls42{letter-spacing:-0.122976pt;}
.ls87{letter-spacing:-0.117120pt;}
.ls8b{letter-spacing:-0.111264pt;}
.ls6{letter-spacing:-0.105696pt;}
.ls6d{letter-spacing:-0.105408pt;}
.ls2{letter-spacing:-0.102528pt;}
.ls3e{letter-spacing:-0.093696pt;}
.ls2f{letter-spacing:-0.087840pt;}
.ls81{letter-spacing:-0.081984pt;}
.ls60{letter-spacing:-0.076128pt;}
.ls3b{letter-spacing:-0.070272pt;}
.ls44{letter-spacing:-0.064416pt;}
.ls8{letter-spacing:-0.058720pt;}
.ls50{letter-spacing:-0.058560pt;}
.ls5f{letter-spacing:-0.052704pt;}
.ls16{letter-spacing:-0.046848pt;}
.ls57{letter-spacing:-0.040992pt;}
.ls7{letter-spacing:-0.035232pt;}
.ls3a{letter-spacing:-0.035136pt;}
.lse{letter-spacing:-0.029824pt;}
.ls12{letter-spacing:-0.029280pt;}
.ls17{letter-spacing:-0.023424pt;}
.ls4a{letter-spacing:-0.017568pt;}
.ls9{letter-spacing:-0.011744pt;}
.ls40{letter-spacing:-0.011712pt;}
.ls2e{letter-spacing:-0.005856pt;}
.ls1{letter-spacing:0.000000pt;}
.ls3f{letter-spacing:0.005856pt;}
.ls35{letter-spacing:0.011712pt;}
.ls18{letter-spacing:0.017568pt;}
.ls1f{letter-spacing:0.023424pt;}
.ls33{letter-spacing:0.029280pt;}
.ls39{letter-spacing:0.035136pt;}
.ls49{letter-spacing:0.040992pt;}
.ls48{letter-spacing:0.046848pt;}
.ls58{letter-spacing:0.052704pt;}
.ls20{letter-spacing:0.058560pt;}
.ls1d{letter-spacing:0.064416pt;}
.ls23{letter-spacing:0.070272pt;}
.ls43{letter-spacing:0.076128pt;}
.ls15{letter-spacing:0.081984pt;}
.ls1c{letter-spacing:0.087840pt;}
.ls31{letter-spacing:0.093696pt;}
.ls54{letter-spacing:0.099552pt;}
.ls10{letter-spacing:0.105408pt;}
.ls1b{letter-spacing:0.111264pt;}
.lsc{letter-spacing:0.111840pt;}
.ls47{letter-spacing:0.117120pt;}
.ls3c{letter-spacing:0.122976pt;}
.ls28{letter-spacing:0.134688pt;}
.ls26{letter-spacing:0.140544pt;}
.ls22{letter-spacing:0.146400pt;}
.ls52{letter-spacing:0.158112pt;}
.ls4e{letter-spacing:0.163968pt;}
.ls7c{letter-spacing:0.175680pt;}
.ls67{letter-spacing:0.181536pt;}
.ls7e{letter-spacing:0.187392pt;}
.ls3d{letter-spacing:0.193248pt;}
.ls6f{letter-spacing:0.204960pt;}
.ls27{letter-spacing:0.210816pt;}
.ls73{letter-spacing:0.216672pt;}
.ls4b{letter-spacing:0.222528pt;}
.ls65{letter-spacing:0.228384pt;}
.ls86{letter-spacing:0.234240pt;}
.ls45{letter-spacing:0.245952pt;}
.ls56{letter-spacing:0.251808pt;}
.ls24{letter-spacing:0.263520pt;}
.ls6a{letter-spacing:0.275232pt;}
.ls59{letter-spacing:0.292800pt;}
.ls79{letter-spacing:0.304512pt;}
.ls21{letter-spacing:0.322080pt;}
.ls19{letter-spacing:0.357216pt;}
.ls38{letter-spacing:0.368928pt;}
.ls32{letter-spacing:0.427488pt;}
.ls5a{letter-spacing:0.456768pt;}
.ls11{letter-spacing:0.468480pt;}
.ls82{letter-spacing:0.480192pt;}
.ls6e{letter-spacing:0.638304pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-9.984960pt;}
._7{margin-left:-5.369504pt;}
._6{margin-left:-3.577504pt;}
._2{margin-left:-2.172640pt;}
._0{width:1.879680pt;}
._3{width:3.653440pt;}
._4{width:5.128960pt;}
._5{width:7.769920pt;}
.fs1{font-size:58.560000pt;}
.fs2{font-size:74.560000pt;}
.fs5{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs4{font-size:101.440000pt;}
.fs3{font-size:117.440000pt;}
.y11{bottom:21.333333pt;}
.y10{bottom:69.840000pt;}
.y9b{bottom:104.075707pt;}
.y2a{bottom:105.746480pt;}
.y45{bottom:111.322507pt;}
.y82{bottom:111.351787pt;}
.y90{bottom:117.427387pt;}
.y75{bottom:117.442027pt;}
.y9a{bottom:124.718107pt;}
.ya1{bottom:131.891707pt;}
.y56{bottom:131.906347pt;}
.y29{bottom:139.667360pt;}
.y44{bottom:145.243387pt;}
.y81{bottom:145.272667pt;}
.y8f{bottom:151.348267pt;}
.y74{bottom:151.362907pt;}
.y99{bottom:158.638987pt;}
.ya0{bottom:165.812587pt;}
.y55{bottom:165.827227pt;}
.y28{bottom:173.588240pt;}
.y43{bottom:179.164267pt;}
.y80{bottom:179.193547pt;}
.y8e{bottom:185.269147pt;}
.y73{bottom:185.283787pt;}
.y98{bottom:192.559867pt;}
.y9f{bottom:199.733467pt;}
.y54{bottom:199.748107pt;}
.y27{bottom:207.509120pt;}
.y42{bottom:213.085147pt;}
.y7f{bottom:213.114427pt;}
.y8d{bottom:219.190027pt;}
.y72{bottom:219.204667pt;}
.y97{bottom:226.480747pt;}
.y9e{bottom:233.654347pt;}
.y53{bottom:233.668987pt;}
.y26{bottom:241.430000pt;}
.y41{bottom:247.006027pt;}
.y5e{bottom:247.020667pt;}
.y7e{bottom:247.035307pt;}
.y8c{bottom:253.110907pt;}
.y71{bottom:253.125547pt;}
.y96{bottom:260.401627pt;}
.y9d{bottom:267.575227pt;}
.y52{bottom:267.589867pt;}
.y25{bottom:275.350880pt;}
.y40{bottom:280.926907pt;}
.y5d{bottom:280.941547pt;}
.y7d{bottom:280.956187pt;}
.y8b{bottom:287.031787pt;}
.y70{bottom:287.046427pt;}
.y95{bottom:294.322507pt;}
.y9c{bottom:301.496107pt;}
.y51{bottom:301.510747pt;}
.y24{bottom:309.271760pt;}
.y3f{bottom:314.847787pt;}
.y5c{bottom:314.862427pt;}
.y7c{bottom:314.877067pt;}
.y8a{bottom:320.952667pt;}
.y6f{bottom:320.967307pt;}
.y94{bottom:328.243387pt;}
.yf{bottom:332.801280pt;}
.y50{bottom:335.431627pt;}
.y89{bottom:341.507227pt;}
.y23{bottom:343.192640pt;}
.y3e{bottom:348.768667pt;}
.y5b{bottom:348.783307pt;}
.y7b{bottom:348.797947pt;}
.y6e{bottom:354.888187pt;}
.y88{bottom:362.149627pt;}
.y93{bottom:362.164267pt;}
.ye{bottom:368.640000pt;}
.y4f{bottom:369.352507pt;}
.y22{bottom:377.113520pt;}
.y3d{bottom:382.689547pt;}
.y5a{bottom:382.704187pt;}
.y7a{bottom:382.718827pt;}
.y6d{bottom:388.809067pt;}
.y92{bottom:396.085147pt;}
.y87{bottom:403.258747pt;}
.y4e{bottom:403.273387pt;}
.y21{bottom:411.034400pt;}
.yd{bottom:412.960000pt;}
.yc{bottom:412.967920pt;}
.y3c{bottom:416.610427pt;}
.y59{bottom:416.625067pt;}
.y79{bottom:416.639707pt;}
.y6c{bottom:422.729947pt;}
.y91{bottom:430.006027pt;}
.y86{bottom:437.252827pt;}
.y4d{bottom:437.267467pt;}
.y6b{bottom:443.284507pt;}
.y20{bottom:444.955280pt;}
.y3b{bottom:450.531307pt;}
.y58{bottom:450.545947pt;}
.y78{bottom:450.560587pt;}
.yb{bottom:454.160000pt;}
.y6a{bottom:463.926907pt;}
.y85{bottom:471.173707pt;}
.y4c{bottom:471.188347pt;}
.y1f{bottom:478.876160pt;}
.y3a{bottom:484.452187pt;}
.y57{bottom:484.466827pt;}
.y69{bottom:484.481467pt;}
.y84{bottom:505.094587pt;}
.y4b{bottom:505.109227pt;}
.ya{bottom:508.640000pt;}
.y1e{bottom:512.797040pt;}
.y39{bottom:518.373067pt;}
.y38{bottom:518.387707pt;}
.y68{bottom:518.402347pt;}
.y1d{bottom:533.351600pt;}
.y83{bottom:539.015467pt;}
.y4a{bottom:539.030107pt;}
.y37{bottom:552.308587pt;}
.y67{bottom:552.323227pt;}
.y9{bottom:558.321440pt;}
.y1c{bottom:567.272480pt;}
.y49{bottom:572.950987pt;}
.y36{bottom:586.229467pt;}
.y66{bottom:586.244107pt;}
.y0{bottom:592.666667pt;}
.y8{bottom:592.880000pt;}
.y1b{bottom:601.193360pt;}
.y48{bottom:606.871867pt;}
.y35{bottom:620.150347pt;}
.y65{bottom:620.164987pt;}
.y1a{bottom:635.187440pt;}
.y47{bottom:640.792747pt;}
.y34{bottom:654.071227pt;}
.y64{bottom:654.085867pt;}
.y19{bottom:669.108320pt;}
.y46{bottom:674.713627pt;}
.y33{bottom:687.992107pt;}
.y63{bottom:688.006747pt;}
.y18{bottom:703.029200pt;}
.y32{bottom:708.634507pt;}
.y62{bottom:721.927627pt;}
.y17{bottom:736.950080pt;}
.y31{bottom:742.555387pt;}
.y7{bottom:744.661440pt;}
.y61{bottom:755.848507pt;}
.y16{bottom:770.870960pt;}
.y30{bottom:776.476267pt;}
.y6{bottom:784.178240pt;}
.y60{bottom:789.842587pt;}
.y15{bottom:804.791840pt;}
.y2f{bottom:810.397147pt;}
.y5{bottom:823.695040pt;}
.y5f{bottom:823.763467pt;}
.y14{bottom:838.712720pt;}
.y2e{bottom:844.318027pt;}
.y77{bottom:857.684347pt;}
.y4{bottom:863.286400pt;}
.y13{bottom:872.633600pt;}
.y2d{bottom:878.238907pt;}
.y76{bottom:891.605227pt;}
.y3{bottom:902.803200pt;}
.y12{bottom:906.554480pt;}
.y2c{bottom:912.159787pt;}
.y2{bottom:942.320000pt;}
.y2b{bottom:946.080667pt;}
.y1{bottom:987.760000pt;}
.h5{height:39.030469pt;}
.h9{height:40.717500pt;}
.h8{height:42.032812pt;}
.h3{height:49.694531pt;}
.h6{height:51.842500pt;}
.h2{height:59.407500pt;}
.h4{height:81.657500pt;}
.h7{height:92.020833pt;}
.h1{height:130.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x9{left:96.005360pt;}
.xc{left:145.556000pt;}
.xe{left:149.245280pt;}
.x5{left:154.640000pt;}
.x0{left:180.000000pt;}
.xd{left:216.003680pt;}
.x6{left:295.949680pt;}
.xb{left:337.333333pt;}
.x4{left:359.680000pt;}
.x8{left:364.960000pt;}
.x1{left:372.880000pt;}
.x2{left:408.000000pt;}
.x7{left:520.000000pt;}
.x3{left:636.000000pt;}
.xa{left:672.399867pt;}
}
