.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls1b{letter-spacing:-0.100800px;}
.ls2{letter-spacing:-0.076896px;}
.ls1c{letter-spacing:-0.072000px;}
.ls3{letter-spacing:-0.067248px;}
.lsf{letter-spacing:-0.062400px;}
.ls1a{letter-spacing:-0.052800px;}
.ls0{letter-spacing:-0.044856px;}
.ls4{letter-spacing:-0.044832px;}
.ls19{letter-spacing:-0.033600px;}
.ls17{letter-spacing:-0.024000px;}
.ls5{letter-spacing:-0.022416px;}
.ls8{letter-spacing:-0.019200px;}
.ls12{letter-spacing:-0.014400px;}
.lsb{letter-spacing:-0.009600px;}
.ls13{letter-spacing:-0.004800px;}
.ls1{letter-spacing:0.000000px;}
.ls10{letter-spacing:0.004800px;}
.ls7{letter-spacing:0.009600px;}
.lsd{letter-spacing:0.014400px;}
.ls9{letter-spacing:0.019200px;}
.ls11{letter-spacing:0.024000px;}
.ls14{letter-spacing:0.028800px;}
.lsc{letter-spacing:0.033600px;}
.lsa{letter-spacing:0.038400px;}
.ls18{letter-spacing:0.043200px;}
.ls1d{letter-spacing:0.048000px;}
.ls15{letter-spacing:0.052800px;}
.ls1e{letter-spacing:0.062400px;}
.lse{letter-spacing:0.081600px;}
.ls16{letter-spacing:0.115200px;}
.ls6{letter-spacing:564.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws26{word-spacing:-0.216000px;}
.ws2c{word-spacing:-0.172800px;}
.ws13{word-spacing:-0.139200px;}
.ws2{word-spacing:-0.134568px;}
.ws19{word-spacing:-0.134400px;}
.ws2d{word-spacing:-0.129600px;}
.ws1f{word-spacing:-0.120000px;}
.ws29{word-spacing:-0.115200px;}
.ws25{word-spacing:-0.110400px;}
.ws2e{word-spacing:-0.105600px;}
.ws27{word-spacing:-0.096000px;}
.ws1c{word-spacing:-0.086400px;}
.ws15{word-spacing:-0.081600px;}
.ws28{word-spacing:-0.076800px;}
.ws7{word-spacing:-0.072000px;}
.ws5{word-spacing:-0.067200px;}
.ws1a{word-spacing:-0.062400px;}
.wsf{word-spacing:-0.057600px;}
.ws18{word-spacing:-0.052800px;}
.wsd{word-spacing:-0.048000px;}
.ws10{word-spacing:-0.043200px;}
.ws20{word-spacing:-0.038400px;}
.wsc{word-spacing:-0.033600px;}
.ws1d{word-spacing:-0.028800px;}
.wsa{word-spacing:-0.024000px;}
.ws6{word-spacing:-0.019200px;}
.wsb{word-spacing:-0.014400px;}
.ws1{word-spacing:-0.011208px;}
.ws3{word-spacing:-0.009600px;}
.ws12{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.ws17{word-spacing:0.004800px;}
.ws8{word-spacing:0.009600px;}
.ws14{word-spacing:0.014400px;}
.ws4{word-spacing:0.019200px;}
.ws16{word-spacing:0.024000px;}
.ws22{word-spacing:0.028800px;}
.ws1e{word-spacing:0.033600px;}
.ws2a{word-spacing:0.052800px;}
.ws2b{word-spacing:0.057600px;}
.wse{word-spacing:0.062400px;}
.ws9{word-spacing:0.067200px;}
.ws23{word-spacing:0.072000px;}
.ws21{word-spacing:0.076800px;}
.ws1b{word-spacing:0.115200px;}
.ws24{word-spacing:0.124800px;}
.ws11{word-spacing:0.220800px;}
._0{margin-left:-1.209600px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs2{font-size:48.000000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:112.080000px;}
.y10{bottom:16.000000px;}
.yf{bottom:39.840100px;}
.y64{bottom:86.340000px;}
.y5d{bottom:90.420000px;}
.y79{bottom:92.160000px;}
.y87{bottom:98.040000px;}
.y2b{bottom:100.440000px;}
.y5c{bottom:106.320000px;}
.y63{bottom:112.200000px;}
.y2a{bottom:116.340000px;}
.y78{bottom:118.080000px;}
.y86{bottom:123.900000px;}
.y55{bottom:126.300000px;}
.y5b{bottom:132.180000px;}
.y62{bottom:138.060000px;}
.y29{bottom:142.200000px;}
.y77{bottom:143.940000px;}
.y85{bottom:149.760000px;}
.y54{bottom:152.160000px;}
.y28{bottom:158.040000px;}
.y61{bottom:163.920000px;}
.y3b{bottom:168.060000px;}
.y76{bottom:169.800000px;}
.y5a{bottom:173.940000px;}
.y84{bottom:175.680000px;}
.y27{bottom:183.900000px;}
.y60{bottom:189.780000px;}
.y49{bottom:193.920000px;}
.y75{bottom:195.660000px;}
.y26{bottom:199.800000px;}
.y83{bottom:201.540000px;}
.y3a{bottom:209.760000px;}
.y5f{bottom:215.640000px;}
.y48{bottom:219.780000px;}
.y74{bottom:221.520000px;}
.y25{bottom:225.660000px;}
.y82{bottom:227.400000px;}
.y39{bottom:235.680000px;}
.y24{bottom:241.500000px;}
.y47{bottom:245.640000px;}
.y73{bottom:247.380000px;}
.y53{bottom:251.520000px;}
.y81{bottom:253.260000px;}
.ye{bottom:256.020100px;}
.y38{bottom:261.540000px;}
.y72{bottom:263.280000px;}
.y23{bottom:267.420000px;}
.y52{bottom:277.380000px;}
.y71{bottom:279.120000px;}
.yd{bottom:283.380100px;}
.y37{bottom:287.400000px;}
.y22{bottom:293.280000px;}
.y46{bottom:303.240000px;}
.y70{bottom:304.980000px;}
.y21{bottom:309.120000px;}
.y36{bottom:313.260000px;}
.y57{bottom:319.140000px;}
.yc{bottom:319.200000px;}
.y35{bottom:329.160000px;}
.y6f{bottom:330.900000px;}
.y20{bottom:334.980000px;}
.y45{bottom:345.000000px;}
.y34{bottom:355.020000px;}
.yb{bottom:356.158380px;}
.y6e{bottom:356.760000px;}
.y1f{bottom:360.900000px;}
.y33{bottom:370.860000px;}
.y80{bottom:372.600000px;}
.y51{bottom:380.880000px;}
.y6d{bottom:382.620000px;}
.y1e{bottom:386.760000px;}
.y32{bottom:396.720000px;}
.y7f{bottom:398.460000px;}
.ya{bottom:403.260000px;}
.y50{bottom:406.740000px;}
.y6c{bottom:408.480000px;}
.y1d{bottom:412.620000px;}
.y44{bottom:422.580000px;}
.y7e{bottom:424.320000px;}
.y59{bottom:428.460000px;}
.y4f{bottom:432.600000px;}
.y6b{bottom:434.340000px;}
.y1c{bottom:438.480000px;}
.y0{bottom:441.000000px;}
.y9{bottom:441.420000px;}
.y5e{bottom:448.500000px;}
.y7d{bottom:450.240000px;}
.y31{bottom:454.320000px;}
.y4e{bottom:458.460000px;}
.y6a{bottom:460.200000px;}
.y1b{bottom:464.340000px;}
.y4d{bottom:474.360000px;}
.y7c{bottom:476.100000px;}
.y1a{bottom:480.240000px;}
.y69{bottom:486.060000px;}
.y43{bottom:490.200000px;}
.y30{bottom:496.080000px;}
.y4c{bottom:500.220000px;}
.y7b{bottom:501.960000px;}
.y19{bottom:506.100000px;}
.y68{bottom:511.980000px;}
.y42{bottom:516.060000px;}
.y18{bottom:521.940000px;}
.y7a{bottom:527.820000px;}
.y56{bottom:537.840000px;}
.y41{bottom:541.980000px;}
.y17{bottom:547.800000px;}
.y8{bottom:553.560000px;}
.y67{bottom:553.680000px;}
.y4b{bottom:557.820000px;}
.y16{bottom:563.700000px;}
.y40{bottom:567.840000px;}
.y58{bottom:573.660000px;}
.y7{bottom:579.420000px;}
.y66{bottom:579.540000px;}
.y3f{bottom:583.680000px;}
.y15{bottom:589.560000px;}
.y4a{bottom:599.580000px;}
.y6{bottom:605.280000px;}
.y65{bottom:605.400000px;}
.y3e{bottom:609.540000px;}
.y14{bottom:615.420000px;}
.y3d{bottom:625.440000px;}
.y5{bottom:631.200000px;}
.y13{bottom:631.320000px;}
.y2f{bottom:641.280000px;}
.y3c{bottom:651.300000px;}
.y4{bottom:657.060000px;}
.y12{bottom:657.180000px;}
.y2e{bottom:667.140000px;}
.y3{bottom:682.920000px;}
.y11{bottom:683.040000px;}
.y2d{bottom:693.060000px;}
.y2{bottom:708.780000px;}
.y2c{bottom:708.900000px;}
.y1{bottom:740.820000px;}
.h7{height:29.272852px;}
.h2{height:43.804688px;}
.h6{height:53.250000px;}
.h3{height:54.960938px;}
.h8{height:69.015625px;}
.h5{height:73.372852px;}
.h1{height:98.000000px;}
.h4{height:128.333789px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x8{left:72.000000px;}
.x5{left:75.427980px;}
.x0{left:135.500000px;}
.x4{left:249.180000px;}
.xa{left:253.000000px;}
.x7{left:267.360000px;}
.x6{left:271.736100px;}
.x1{left:276.360000px;}
.x2{left:306.000000px;}
.x3{left:477.720000px;}
.x9{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1b{letter-spacing:-0.134400pt;}
.ls2{letter-spacing:-0.102528pt;}
.ls1c{letter-spacing:-0.096000pt;}
.ls3{letter-spacing:-0.089664pt;}
.lsf{letter-spacing:-0.083200pt;}
.ls1a{letter-spacing:-0.070400pt;}
.ls0{letter-spacing:-0.059808pt;}
.ls4{letter-spacing:-0.059776pt;}
.ls19{letter-spacing:-0.044800pt;}
.ls17{letter-spacing:-0.032000pt;}
.ls5{letter-spacing:-0.029888pt;}
.ls8{letter-spacing:-0.025600pt;}
.ls12{letter-spacing:-0.019200pt;}
.lsb{letter-spacing:-0.012800pt;}
.ls13{letter-spacing:-0.006400pt;}
.ls1{letter-spacing:0.000000pt;}
.ls10{letter-spacing:0.006400pt;}
.ls7{letter-spacing:0.012800pt;}
.lsd{letter-spacing:0.019200pt;}
.ls9{letter-spacing:0.025600pt;}
.ls11{letter-spacing:0.032000pt;}
.ls14{letter-spacing:0.038400pt;}
.lsc{letter-spacing:0.044800pt;}
.lsa{letter-spacing:0.051200pt;}
.ls18{letter-spacing:0.057600pt;}
.ls1d{letter-spacing:0.064000pt;}
.ls15{letter-spacing:0.070400pt;}
.ls1e{letter-spacing:0.083200pt;}
.lse{letter-spacing:0.108800pt;}
.ls16{letter-spacing:0.153600pt;}
.ls6{letter-spacing:752.000000pt;}
.ws26{word-spacing:-0.288000pt;}
.ws2c{word-spacing:-0.230400pt;}
.ws13{word-spacing:-0.185600pt;}
.ws2{word-spacing:-0.179424pt;}
.ws19{word-spacing:-0.179200pt;}
.ws2d{word-spacing:-0.172800pt;}
.ws1f{word-spacing:-0.160000pt;}
.ws29{word-spacing:-0.153600pt;}
.ws25{word-spacing:-0.147200pt;}
.ws2e{word-spacing:-0.140800pt;}
.ws27{word-spacing:-0.128000pt;}
.ws1c{word-spacing:-0.115200pt;}
.ws15{word-spacing:-0.108800pt;}
.ws28{word-spacing:-0.102400pt;}
.ws7{word-spacing:-0.096000pt;}
.ws5{word-spacing:-0.089600pt;}
.ws1a{word-spacing:-0.083200pt;}
.wsf{word-spacing:-0.076800pt;}
.ws18{word-spacing:-0.070400pt;}
.wsd{word-spacing:-0.064000pt;}
.ws10{word-spacing:-0.057600pt;}
.ws20{word-spacing:-0.051200pt;}
.wsc{word-spacing:-0.044800pt;}
.ws1d{word-spacing:-0.038400pt;}
.wsa{word-spacing:-0.032000pt;}
.ws6{word-spacing:-0.025600pt;}
.wsb{word-spacing:-0.019200pt;}
.ws1{word-spacing:-0.014944pt;}
.ws3{word-spacing:-0.012800pt;}
.ws12{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.ws17{word-spacing:0.006400pt;}
.ws8{word-spacing:0.012800pt;}
.ws14{word-spacing:0.019200pt;}
.ws4{word-spacing:0.025600pt;}
.ws16{word-spacing:0.032000pt;}
.ws22{word-spacing:0.038400pt;}
.ws1e{word-spacing:0.044800pt;}
.ws2a{word-spacing:0.070400pt;}
.ws2b{word-spacing:0.076800pt;}
.wse{word-spacing:0.083200pt;}
.ws9{word-spacing:0.089600pt;}
.ws23{word-spacing:0.096000pt;}
.ws21{word-spacing:0.102400pt;}
.ws1b{word-spacing:0.153600pt;}
.ws24{word-spacing:0.166400pt;}
.ws11{word-spacing:0.294400pt;}
._0{margin-left:-1.612800pt;}
.fs1{font-size:58.560000pt;}
.fs2{font-size:64.000000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:149.440000pt;}
.y10{bottom:21.333333pt;}
.yf{bottom:53.120133pt;}
.y64{bottom:115.120000pt;}
.y5d{bottom:120.560000pt;}
.y79{bottom:122.880000pt;}
.y87{bottom:130.720000pt;}
.y2b{bottom:133.920000pt;}
.y5c{bottom:141.760000pt;}
.y63{bottom:149.600000pt;}
.y2a{bottom:155.120000pt;}
.y78{bottom:157.440000pt;}
.y86{bottom:165.200000pt;}
.y55{bottom:168.400000pt;}
.y5b{bottom:176.240000pt;}
.y62{bottom:184.080000pt;}
.y29{bottom:189.600000pt;}
.y77{bottom:191.920000pt;}
.y85{bottom:199.680000pt;}
.y54{bottom:202.880000pt;}
.y28{bottom:210.720000pt;}
.y61{bottom:218.560000pt;}
.y3b{bottom:224.080000pt;}
.y76{bottom:226.400000pt;}
.y5a{bottom:231.920000pt;}
.y84{bottom:234.240000pt;}
.y27{bottom:245.200000pt;}
.y60{bottom:253.040000pt;}
.y49{bottom:258.560000pt;}
.y75{bottom:260.880000pt;}
.y26{bottom:266.400000pt;}
.y83{bottom:268.720000pt;}
.y3a{bottom:279.680000pt;}
.y5f{bottom:287.520000pt;}
.y48{bottom:293.040000pt;}
.y74{bottom:295.360000pt;}
.y25{bottom:300.880000pt;}
.y82{bottom:303.200000pt;}
.y39{bottom:314.240000pt;}
.y24{bottom:322.000000pt;}
.y47{bottom:327.520000pt;}
.y73{bottom:329.840000pt;}
.y53{bottom:335.360000pt;}
.y81{bottom:337.680000pt;}
.ye{bottom:341.360133pt;}
.y38{bottom:348.720000pt;}
.y72{bottom:351.040000pt;}
.y23{bottom:356.560000pt;}
.y52{bottom:369.840000pt;}
.y71{bottom:372.160000pt;}
.yd{bottom:377.840133pt;}
.y37{bottom:383.200000pt;}
.y22{bottom:391.040000pt;}
.y46{bottom:404.320000pt;}
.y70{bottom:406.640000pt;}
.y21{bottom:412.160000pt;}
.y36{bottom:417.680000pt;}
.y57{bottom:425.520000pt;}
.yc{bottom:425.600000pt;}
.y35{bottom:438.880000pt;}
.y6f{bottom:441.200000pt;}
.y20{bottom:446.640000pt;}
.y45{bottom:460.000000pt;}
.y34{bottom:473.360000pt;}
.yb{bottom:474.877840pt;}
.y6e{bottom:475.680000pt;}
.y1f{bottom:481.200000pt;}
.y33{bottom:494.480000pt;}
.y80{bottom:496.800000pt;}
.y51{bottom:507.840000pt;}
.y6d{bottom:510.160000pt;}
.y1e{bottom:515.680000pt;}
.y32{bottom:528.960000pt;}
.y7f{bottom:531.280000pt;}
.ya{bottom:537.680000pt;}
.y50{bottom:542.320000pt;}
.y6c{bottom:544.640000pt;}
.y1d{bottom:550.160000pt;}
.y44{bottom:563.440000pt;}
.y7e{bottom:565.760000pt;}
.y59{bottom:571.280000pt;}
.y4f{bottom:576.800000pt;}
.y6b{bottom:579.120000pt;}
.y1c{bottom:584.640000pt;}
.y0{bottom:588.000000pt;}
.y9{bottom:588.560000pt;}
.y5e{bottom:598.000000pt;}
.y7d{bottom:600.320000pt;}
.y31{bottom:605.760000pt;}
.y4e{bottom:611.280000pt;}
.y6a{bottom:613.600000pt;}
.y1b{bottom:619.120000pt;}
.y4d{bottom:632.480000pt;}
.y7c{bottom:634.800000pt;}
.y1a{bottom:640.320000pt;}
.y69{bottom:648.080000pt;}
.y43{bottom:653.600000pt;}
.y30{bottom:661.440000pt;}
.y4c{bottom:666.960000pt;}
.y7b{bottom:669.280000pt;}
.y19{bottom:674.800000pt;}
.y68{bottom:682.640000pt;}
.y42{bottom:688.080000pt;}
.y18{bottom:695.920000pt;}
.y7a{bottom:703.760000pt;}
.y56{bottom:717.120000pt;}
.y41{bottom:722.640000pt;}
.y17{bottom:730.400000pt;}
.y8{bottom:738.080000pt;}
.y67{bottom:738.240000pt;}
.y4b{bottom:743.760000pt;}
.y16{bottom:751.600000pt;}
.y40{bottom:757.120000pt;}
.y58{bottom:764.880000pt;}
.y7{bottom:772.560000pt;}
.y66{bottom:772.720000pt;}
.y3f{bottom:778.240000pt;}
.y15{bottom:786.080000pt;}
.y4a{bottom:799.440000pt;}
.y6{bottom:807.040000pt;}
.y65{bottom:807.200000pt;}
.y3e{bottom:812.720000pt;}
.y14{bottom:820.560000pt;}
.y3d{bottom:833.920000pt;}
.y5{bottom:841.600000pt;}
.y13{bottom:841.760000pt;}
.y2f{bottom:855.040000pt;}
.y3c{bottom:868.400000pt;}
.y4{bottom:876.080000pt;}
.y12{bottom:876.240000pt;}
.y2e{bottom:889.520000pt;}
.y3{bottom:910.560000pt;}
.y11{bottom:910.720000pt;}
.y2d{bottom:924.080000pt;}
.y2{bottom:945.040000pt;}
.y2c{bottom:945.200000pt;}
.y1{bottom:987.760000pt;}
.h7{height:39.030469pt;}
.h2{height:58.406250pt;}
.h6{height:71.000000pt;}
.h3{height:73.281250pt;}
.h8{height:92.020833pt;}
.h5{height:97.830469pt;}
.h1{height:130.666667pt;}
.h4{height:171.111719pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x8{left:96.000000pt;}
.x5{left:100.570640pt;}
.x0{left:180.666667pt;}
.x4{left:332.240000pt;}
.xa{left:337.333333pt;}
.x7{left:356.480000pt;}
.x6{left:362.314800pt;}
.x1{left:368.480000pt;}
.x2{left:408.000000pt;}
.x3{left:636.960000pt;}
.x9{left:673.040000pt;}
}
