.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls16{letter-spacing:-0.332664px;}
.ls24{letter-spacing:-0.196392px;}
.ls10{letter-spacing:-0.144288px;}
.ls13{letter-spacing:-0.132264px;}
.ls3{letter-spacing:-0.084000px;}
.ls20{letter-spacing:-0.080160px;}
.ls2{letter-spacing:-0.076896px;}
.lsc{letter-spacing:-0.068136px;}
.ls12{letter-spacing:-0.064128px;}
.lsb{letter-spacing:-0.060120px;}
.ls1f{letter-spacing:-0.056112px;}
.ls14{letter-spacing:-0.052104px;}
.ls26{letter-spacing:-0.048096px;}
.ls0{letter-spacing:-0.044856px;}
.ls5{letter-spacing:-0.044040px;}
.ls25{letter-spacing:-0.040080px;}
.ls1c{letter-spacing:-0.032064px;}
.ls17{letter-spacing:-0.028056px;}
.ls15{letter-spacing:-0.024048px;}
.ls7{letter-spacing:-0.021600px;}
.ls1d{letter-spacing:-0.020040px;}
.ls22{letter-spacing:-0.016032px;}
.lsd{letter-spacing:-0.012024px;}
.ls11{letter-spacing:-0.008016px;}
.lse{letter-spacing:-0.004008px;}
.ls1{letter-spacing:0.000000px;}
.lsa{letter-spacing:0.004008px;}
.ls1a{letter-spacing:0.008016px;}
.ls23{letter-spacing:0.012024px;}
.ls6{letter-spacing:0.014400px;}
.ls1b{letter-spacing:0.016032px;}
.ls18{letter-spacing:0.020040px;}
.ls9{letter-spacing:0.024048px;}
.ls4{letter-spacing:0.025200px;}
.ls19{letter-spacing:0.032064px;}
.ls21{letter-spacing:0.044088px;}
.lsf{letter-spacing:0.068136px;}
.ls1e{letter-spacing:0.088176px;}
.ls8{letter-spacing:561.513816px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws10{word-spacing:-0.128256px;}
.ws2{word-spacing:-0.120240px;}
.wsf{word-spacing:-0.116232px;}
.ws12{word-spacing:-0.112224px;}
.ws18{word-spacing:-0.108216px;}
.ws11{word-spacing:-0.104208px;}
.ws3{word-spacing:-0.100200px;}
.wse{word-spacing:-0.096192px;}
.ws7{word-spacing:-0.092184px;}
.ws8{word-spacing:-0.088176px;}
.ws6{word-spacing:-0.084168px;}
.ws17{word-spacing:-0.080160px;}
.ws14{word-spacing:-0.076152px;}
.wsc{word-spacing:-0.072144px;}
.wsd{word-spacing:-0.068136px;}
.ws13{word-spacing:-0.064128px;}
.ws1a{word-spacing:-0.056112px;}
.ws1b{word-spacing:-0.048096px;}
.wsb{word-spacing:-0.044088px;}
.ws15{word-spacing:-0.040080px;}
.ws4{word-spacing:-0.036072px;}
.ws9{word-spacing:-0.032064px;}
.ws5{word-spacing:-0.028056px;}
.ws16{word-spacing:-0.016032px;}
.ws0{word-spacing:0.000000px;}
.wsa{word-spacing:0.036072px;}
.ws19{word-spacing:0.100200px;}
.ws1{word-spacing:0.105696px;}
._0{margin-left:-1.002000px;}
._1{width:1.162320px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs7{font-size:40.080000px;}
.fs1{font-size:43.920000px;}
.fs6{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs2{font-size:67.920000px;}
.fs5{font-size:72.000000px;}
.fs3{font-size:84.000000px;}
.fs4{font-size:88.080000px;}
.ye{bottom:16.000000px;}
.yd{bottom:39.480000px;}
.y55{bottom:80.792700px;}
.y39{bottom:92.195460px;}
.y31{bottom:103.718460px;}
.y38{bottom:103.778580px;}
.y54{bottom:104.249520px;}
.y30{bottom:115.301580px;}
.y53{bottom:115.772520px;}
.y2f{bottom:126.764460px;}
.y52{bottom:127.295520px;}
.y37{bottom:138.758400px;}
.y2e{bottom:150.281400px;}
.y51{bottom:156.273360px;}
.y2d{bottom:161.744280px;}
.y36{bottom:167.736240px;}
.y2c{bottom:173.267280px;}
.y35{bottom:179.259240px;}
.y2b{bottom:184.790280px;}
.y34{bottom:190.782240px;}
.y50{bottom:197.195040px;}
.y2a{bottom:202.245120px;}
.y33{bottom:220.180920px;}
.y29{bottom:231.703920px;}
.y4f{bottom:232.715940px;}
.y4e{bottom:244.238940px;}
.y32{bottom:255.701820px;}
.y4d{bottom:255.761940px;}
.y3c{bottom:267.224820px;}
.y28{bottom:267.284940px;}
.y27{bottom:278.747820px;}
.y4c{bottom:279.278880px;}
.y3b{bottom:290.270820px;}
.y4b{bottom:290.741760px;}
.yc{bottom:291.243480px;}
.y26{bottom:302.264760px;}
.y25{bottom:313.787760px;}
.yb{bottom:323.700000px;}
.y24{bottom:325.250640px;}
.y4a{bottom:331.242600px;}
.y23{bottom:336.773640px;}
.y3a{bottom:342.765600px;}
.y22{bottom:354.288600px;}
.ya{bottom:357.120000px;}
.y49{bottom:360.701400px;}
.y21{bottom:383.687280px;}
.y9{bottom:389.160000px;}
.y48{bottom:396.222300px;}
.y47{bottom:407.745300px;}
.y8{bottom:418.320000px;}
.y20{bottom:419.208180px;}
.y46{bottom:419.268300px;}
.y1f{bottom:430.791300px;}
.y1e{bottom:442.254180px;}
.y45{bottom:442.785240px;}
.y44{bottom:454.248120px;}
.y7{bottom:462.420000px;}
.y1d{bottom:465.771120px;}
.y1c{bottom:477.294120px;}
.y1b{bottom:488.757000px;}
.y43{bottom:494.748960px;}
.y6{bottom:500.099400px;}
.y1a{bottom:500.280000px;}
.y42{bottom:506.271960px;}
.y19{bottom:517.734840px;}
.y0{bottom:529.000000px;}
.y5{bottom:529.369560px;}
.y41{bottom:535.670640px;}
.y18{bottom:547.193640px;}
.y40{bottom:571.191540px;}
.y17{bottom:582.714540px;}
.y3f{bottom:582.774660px;}
.y16{bottom:594.237540px;}
.y15{bottom:605.760540px;}
.y3e{bottom:617.754480px;}
.y14{bottom:629.277480px;}
.y13{bottom:640.740360px;}
.y4{bottom:644.578860px;}
.y12{bottom:652.263360px;}
.y11{bottom:663.786360px;}
.y3d{bottom:669.778320px;}
.y3{bottom:678.420000px;}
.y10{bottom:681.241200px;}
.y2{bottom:709.559800px;}
.yf{bottom:710.700000px;}
.y1{bottom:740.820000px;}
.h3{height:29.272852px;}
.h8{height:42.709570px;}
.h2{height:43.804688px;}
.h4{height:45.268945px;}
.ha{height:47.067146px;}
.h7{height:49.218750px;}
.hb{height:49.395469px;}
.h5{height:57.421875px;}
.h9{height:69.015625px;}
.h1{height:98.000000px;}
.h6{height:100.853320px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x2{left:71.999500px;}
.x0{left:135.500000px;}
.x6{left:158.700000px;}
.x9{left:253.000000px;}
.x7{left:263.940000px;}
.x5{left:270.840000px;}
.x1{left:279.240000px;}
.x3{left:306.000000px;}
.x4{left:477.718740px;}
.x8{left:490.500000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls16{letter-spacing:-0.443552pt;}
.ls24{letter-spacing:-0.261856pt;}
.ls10{letter-spacing:-0.192384pt;}
.ls13{letter-spacing:-0.176352pt;}
.ls3{letter-spacing:-0.112000pt;}
.ls20{letter-spacing:-0.106880pt;}
.ls2{letter-spacing:-0.102528pt;}
.lsc{letter-spacing:-0.090848pt;}
.ls12{letter-spacing:-0.085504pt;}
.lsb{letter-spacing:-0.080160pt;}
.ls1f{letter-spacing:-0.074816pt;}
.ls14{letter-spacing:-0.069472pt;}
.ls26{letter-spacing:-0.064128pt;}
.ls0{letter-spacing:-0.059808pt;}
.ls5{letter-spacing:-0.058720pt;}
.ls25{letter-spacing:-0.053440pt;}
.ls1c{letter-spacing:-0.042752pt;}
.ls17{letter-spacing:-0.037408pt;}
.ls15{letter-spacing:-0.032064pt;}
.ls7{letter-spacing:-0.028800pt;}
.ls1d{letter-spacing:-0.026720pt;}
.ls22{letter-spacing:-0.021376pt;}
.lsd{letter-spacing:-0.016032pt;}
.ls11{letter-spacing:-0.010688pt;}
.lse{letter-spacing:-0.005344pt;}
.ls1{letter-spacing:0.000000pt;}
.lsa{letter-spacing:0.005344pt;}
.ls1a{letter-spacing:0.010688pt;}
.ls23{letter-spacing:0.016032pt;}
.ls6{letter-spacing:0.019200pt;}
.ls1b{letter-spacing:0.021376pt;}
.ls18{letter-spacing:0.026720pt;}
.ls9{letter-spacing:0.032064pt;}
.ls4{letter-spacing:0.033600pt;}
.ls19{letter-spacing:0.042752pt;}
.ls21{letter-spacing:0.058784pt;}
.lsf{letter-spacing:0.090848pt;}
.ls1e{letter-spacing:0.117568pt;}
.ls8{letter-spacing:748.685088pt;}
.ws10{word-spacing:-0.171008pt;}
.ws2{word-spacing:-0.160320pt;}
.wsf{word-spacing:-0.154976pt;}
.ws12{word-spacing:-0.149632pt;}
.ws18{word-spacing:-0.144288pt;}
.ws11{word-spacing:-0.138944pt;}
.ws3{word-spacing:-0.133600pt;}
.wse{word-spacing:-0.128256pt;}
.ws7{word-spacing:-0.122912pt;}
.ws8{word-spacing:-0.117568pt;}
.ws6{word-spacing:-0.112224pt;}
.ws17{word-spacing:-0.106880pt;}
.ws14{word-spacing:-0.101536pt;}
.wsc{word-spacing:-0.096192pt;}
.wsd{word-spacing:-0.090848pt;}
.ws13{word-spacing:-0.085504pt;}
.ws1a{word-spacing:-0.074816pt;}
.ws1b{word-spacing:-0.064128pt;}
.wsb{word-spacing:-0.058784pt;}
.ws15{word-spacing:-0.053440pt;}
.ws4{word-spacing:-0.048096pt;}
.ws9{word-spacing:-0.042752pt;}
.ws5{word-spacing:-0.037408pt;}
.ws16{word-spacing:-0.021376pt;}
.ws0{word-spacing:0.000000pt;}
.wsa{word-spacing:0.048096pt;}
.ws19{word-spacing:0.133600pt;}
.ws1{word-spacing:0.140928pt;}
._0{margin-left:-1.336000pt;}
._1{width:1.549760pt;}
.fs7{font-size:53.440000pt;}
.fs1{font-size:58.560000pt;}
.fs6{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs2{font-size:90.560000pt;}
.fs5{font-size:96.000000pt;}
.fs3{font-size:112.000000pt;}
.fs4{font-size:117.440000pt;}
.ye{bottom:21.333333pt;}
.yd{bottom:52.640000pt;}
.y55{bottom:107.723600pt;}
.y39{bottom:122.927280pt;}
.y31{bottom:138.291280pt;}
.y38{bottom:138.371440pt;}
.y54{bottom:138.999360pt;}
.y30{bottom:153.735440pt;}
.y53{bottom:154.363360pt;}
.y2f{bottom:169.019280pt;}
.y52{bottom:169.727360pt;}
.y37{bottom:185.011200pt;}
.y2e{bottom:200.375200pt;}
.y51{bottom:208.364480pt;}
.y2d{bottom:215.659040pt;}
.y36{bottom:223.648320pt;}
.y2c{bottom:231.023040pt;}
.y35{bottom:239.012320pt;}
.y2b{bottom:246.387040pt;}
.y34{bottom:254.376320pt;}
.y50{bottom:262.926720pt;}
.y2a{bottom:269.660160pt;}
.y33{bottom:293.574560pt;}
.y29{bottom:308.938560pt;}
.y4f{bottom:310.287920pt;}
.y4e{bottom:325.651920pt;}
.y32{bottom:340.935760pt;}
.y4d{bottom:341.015920pt;}
.y3c{bottom:356.299760pt;}
.y28{bottom:356.379920pt;}
.y27{bottom:371.663760pt;}
.y4c{bottom:372.371840pt;}
.y3b{bottom:387.027760pt;}
.y4b{bottom:387.655680pt;}
.yc{bottom:388.324640pt;}
.y26{bottom:403.019680pt;}
.y25{bottom:418.383680pt;}
.yb{bottom:431.600000pt;}
.y24{bottom:433.667520pt;}
.y4a{bottom:441.656800pt;}
.y23{bottom:449.031520pt;}
.y3a{bottom:457.020800pt;}
.y22{bottom:472.384800pt;}
.ya{bottom:476.160000pt;}
.y49{bottom:480.935200pt;}
.y21{bottom:511.583040pt;}
.y9{bottom:518.880000pt;}
.y48{bottom:528.296400pt;}
.y47{bottom:543.660400pt;}
.y8{bottom:557.760000pt;}
.y20{bottom:558.944240pt;}
.y46{bottom:559.024400pt;}
.y1f{bottom:574.388400pt;}
.y1e{bottom:589.672240pt;}
.y45{bottom:590.380320pt;}
.y44{bottom:605.664160pt;}
.y7{bottom:616.560000pt;}
.y1d{bottom:621.028160pt;}
.y1c{bottom:636.392160pt;}
.y1b{bottom:651.676000pt;}
.y43{bottom:659.665280pt;}
.y6{bottom:666.799200pt;}
.y1a{bottom:667.040000pt;}
.y42{bottom:675.029280pt;}
.y19{bottom:690.313120pt;}
.y0{bottom:705.333333pt;}
.y5{bottom:705.826080pt;}
.y41{bottom:714.227520pt;}
.y18{bottom:729.591520pt;}
.y40{bottom:761.588720pt;}
.y17{bottom:776.952720pt;}
.y3f{bottom:777.032880pt;}
.y16{bottom:792.316720pt;}
.y15{bottom:807.680720pt;}
.y3e{bottom:823.672640pt;}
.y14{bottom:839.036640pt;}
.y13{bottom:854.320480pt;}
.y4{bottom:859.438480pt;}
.y12{bottom:869.684480pt;}
.y11{bottom:885.048480pt;}
.y3d{bottom:893.037760pt;}
.y3{bottom:904.560000pt;}
.y10{bottom:908.321600pt;}
.y2{bottom:946.079733pt;}
.yf{bottom:947.600000pt;}
.y1{bottom:987.760000pt;}
.h3{height:39.030469pt;}
.h8{height:56.946094pt;}
.h2{height:58.406250pt;}
.h4{height:60.358594pt;}
.ha{height:62.756195pt;}
.h7{height:65.625000pt;}
.hb{height:65.860625pt;}
.h5{height:76.562500pt;}
.h9{height:92.020833pt;}
.h1{height:130.666667pt;}
.h6{height:134.471094pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x2{left:95.999333pt;}
.x0{left:180.666667pt;}
.x6{left:211.600000pt;}
.x9{left:337.333333pt;}
.x7{left:351.920000pt;}
.x5{left:361.120000pt;}
.x1{left:372.320000pt;}
.x3{left:408.000000pt;}
.x4{left:636.958320pt;}
.x8{left:654.000000pt;}
}
