.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.873535;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls25{letter-spacing:-0.087840px;}
.ls2a{letter-spacing:-0.083448px;}
.ls41{letter-spacing:-0.079056px;}
.ls2{letter-spacing:-0.076896px;}
.ls1b{letter-spacing:-0.070272px;}
.ls31{letter-spacing:-0.065880px;}
.ls38{letter-spacing:-0.061488px;}
.ls3{letter-spacing:-0.057960px;}
.ls40{letter-spacing:-0.057096px;}
.ls19{letter-spacing:-0.052704px;}
.ls36{letter-spacing:-0.048312px;}
.ls0{letter-spacing:-0.044856px;}
.ls3f{letter-spacing:-0.043920px;}
.ls16{letter-spacing:-0.039528px;}
.ls27{letter-spacing:-0.035136px;}
.ls21{letter-spacing:-0.030744px;}
.lsf{letter-spacing:-0.026352px;}
.ls8{letter-spacing:-0.021960px;}
.ls13{letter-spacing:-0.017568px;}
.ls11{letter-spacing:-0.013176px;}
.ls7{letter-spacing:-0.011592px;}
.lsa{letter-spacing:-0.008784px;}
.ls15{letter-spacing:-0.004392px;}
.ls1{letter-spacing:0.000000px;}
.ls12{letter-spacing:0.004392px;}
.ls14{letter-spacing:0.008784px;}
.ls24{letter-spacing:0.013176px;}
.ls2c{letter-spacing:0.017568px;}
.ls1f{letter-spacing:0.021960px;}
.ls6{letter-spacing:0.023184px;}
.ls18{letter-spacing:0.026352px;}
.ls2b{letter-spacing:0.030744px;}
.ls34{letter-spacing:0.035136px;}
.ls10{letter-spacing:0.039528px;}
.ls1c{letter-spacing:0.043920px;}
.ls4{letter-spacing:0.046368px;}
.ls28{letter-spacing:0.048312px;}
.ls9{letter-spacing:0.052704px;}
.ls1d{letter-spacing:0.057096px;}
.lsb{letter-spacing:0.061488px;}
.lsc{letter-spacing:0.065880px;}
.ls17{letter-spacing:0.070272px;}
.ls1a{letter-spacing:0.074664px;}
.ls33{letter-spacing:0.079056px;}
.ls5{letter-spacing:0.081144px;}
.lsd{letter-spacing:0.083448px;}
.ls43{letter-spacing:0.087840px;}
.ls39{letter-spacing:0.092232px;}
.ls2f{letter-spacing:0.096624px;}
.ls23{letter-spacing:0.101016px;}
.ls26{letter-spacing:0.105408px;}
.ls1e{letter-spacing:0.109800px;}
.ls22{letter-spacing:0.118584px;}
.ls4c{letter-spacing:0.122976px;}
.ls37{letter-spacing:0.127368px;}
.ls3a{letter-spacing:0.136152px;}
.ls2e{letter-spacing:0.144936px;}
.lse{letter-spacing:0.149328px;}
.ls3b{letter-spacing:0.158112px;}
.ls47{letter-spacing:0.162504px;}
.ls29{letter-spacing:0.166896px;}
.ls2d{letter-spacing:0.175680px;}
.ls3c{letter-spacing:0.180072px;}
.ls20{letter-spacing:0.188856px;}
.ls48{letter-spacing:0.197640px;}
.ls42{letter-spacing:0.206424px;}
.ls3d{letter-spacing:0.219600px;}
.ls32{letter-spacing:0.228384px;}
.ls44{letter-spacing:0.241560px;}
.ls4b{letter-spacing:0.267912px;}
.ls30{letter-spacing:0.272304px;}
.ls45{letter-spacing:0.285480px;}
.ls49{letter-spacing:0.289872px;}
.ls46{letter-spacing:0.298656px;}
.ls4a{letter-spacing:0.320616px;}
.ls4d{letter-spacing:0.342576px;}
.ls35{letter-spacing:0.351360px;}
.ls3e{letter-spacing:0.360144px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._5{margin-left:-1.023336px;}
._0{width:1.260504px;}
._3{width:23.778288px;}
._1{width:25.552656px;}
._2{width:26.922960px;}
._4{width:29.725056px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs3{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs2{font-size:115.920000px;}
.y17{bottom:16.000000px;}
.y16{bottom:39.840100px;}
.y31{bottom:77.638740px;}
.y89{bottom:78.055980px;}
.y15{bottom:81.604300px;}
.y96{bottom:84.051060px;}
.y76{bottom:84.951420px;}
.y61{bottom:88.069740px;}
.ya8{bottom:92.637420px;}
.y4a{bottom:99.532860px;}
.y30{bottom:103.079400px;}
.y88{bottom:103.496640px;}
.y14{bottom:106.144600px;}
.y95{bottom:109.491720px;}
.y75{bottom:110.392080px;}
.y60{bottom:113.510400px;}
.ya7{bottom:114.059400px;}
.y49{bottom:124.973520px;}
.y2f{bottom:128.520060px;}
.y87{bottom:128.937300px;}
.y13{bottom:130.684900px;}
.y94{bottom:134.932380px;}
.y74{bottom:135.832740px;}
.y5f{bottom:138.951060px;}
.ya6{bottom:139.500060px;}
.y2e{bottom:149.996940px;}
.y48{bottom:150.414180px;}
.y12{bottom:155.225200px;}
.y5e{bottom:160.373040px;}
.y73{bottom:161.273400px;}
.ya5{bottom:164.940720px;}
.y2d{bottom:174.833700px;}
.y47{bottom:175.854840px;}
.y72{bottom:176.755200px;}
.y11{bottom:179.765500px;}
.y5d{bottom:185.813700px;}
.ya4{bottom:190.381380px;}
.y71{bottom:198.177180px;}
.y2c{bottom:199.977900px;}
.y46{bottom:201.295500px;}
.y10{bottom:204.360700px;}
.ya3{bottom:205.863180px;}
.y93{bottom:207.290580px;}
.y5c{bottom:211.254360px;}
.y45{bottom:222.717480px;}
.y70{bottom:223.617840px;}
.y2b{bottom:225.418560px;}
.y86{bottom:226.736160px;}
.yf{bottom:228.901000px;}
.ya2{bottom:231.303840px;}
.y92{bottom:232.731240px;}
.y5b{bottom:236.695020px;}
.ya1{bottom:246.719760px;}
.y44{bottom:248.158140px;}
.y6f{bottom:249.058500px;}
.y2a{bottom:250.859220px;}
.y85{bottom:252.176820px;}
.ye{bottom:254.100100px;}
.y91{bottom:258.171900px;}
.y5a{bottom:262.135680px;}
.y6e{bottom:270.480480px;}
.ya0{bottom:272.160420px;}
.y43{bottom:273.598800px;}
.y29{bottom:276.299880px;}
.y84{bottom:277.617480px;}
.y90{bottom:279.593880px;}
.y59{bottom:287.576340px;}
.yd{bottom:287.679120px;}
.y42{bottom:295.020780px;}
.y6d{bottom:295.921140px;}
.y9f{bottom:297.601080px;}
.y28{bottom:301.740540px;}
.y83{bottom:303.058140px;}
.y8f{bottom:305.034540px;}
.y58{bottom:313.017000px;}
.y82{bottom:318.474060px;}
.y41{bottom:320.461440px;}
.y6c{bottom:321.361800px;}
.y27{bottom:327.181200px;}
.yc{bottom:328.367040px;}
.y57{bottom:328.498800px;}
.y8e{bottom:330.475200px;}
.y9e{bottom:334.493880px;}
.y81{bottom:339.950940px;}
.y26{bottom:342.597120px;}
.y40{bottom:345.957000px;}
.y6b{bottom:346.802460px;}
.y56{bottom:349.920780px;}
.y8d{bottom:355.915860px;}
.y9d{bottom:359.934540px;}
.y25{bottom:364.074000px;}
.y80{bottom:365.391600px;}
.y3f{bottom:371.397660px;}
.y6a{bottom:372.243120px;}
.y55{bottom:375.361440px;}
.yb{bottom:379.140000px;}
.y8c{bottom:381.356520px;}
.y9c{bottom:385.375200px;}
.y24{bottom:389.514660px;}
.y7f{bottom:390.832260px;}
.y3e{bottom:396.838320px;}
.y69{bottom:397.738680px;}
.y54{bottom:400.802100px;}
.y8b{bottom:406.797180px;}
.y7e{bottom:412.254240px;}
.y23{bottom:414.955320px;}
.y0{bottom:418.500000px;}
.ya{bottom:418.732440px;}
.y3d{bottom:422.278980px;}
.y68{bottom:423.179340px;}
.y8a{bottom:432.237840px;}
.y22{bottom:436.377300px;}
.y7d{bottom:437.694900px;}
.y67{bottom:438.595260px;}
.y3c{bottom:447.719640px;}
.y9b{bottom:457.678500px;}
.y66{bottom:460.017240px;}
.y21{bottom:461.214060px;}
.y7c{bottom:463.135560px;}
.y3b{bottom:469.141620px;}
.y53{bottom:473.160300px;}
.y9a{bottom:483.119160px;}
.y65{bottom:485.457900px;}
.y20{bottom:486.358260px;}
.y7b{bottom:488.576220px;}
.y3a{bottom:494.582280px;}
.y52{bottom:498.600960px;}
.y99{bottom:508.559820px;}
.y64{bottom:510.898560px;}
.y1f{bottom:511.798920px;}
.y7a{bottom:514.016880px;}
.y39{bottom:520.022940px;}
.y51{bottom:524.041620px;}
.y9{bottom:531.475080px;}
.y63{bottom:532.375440px;}
.y98{bottom:534.000480px;}
.y1e{bottom:537.239580px;}
.y79{bottom:539.457540px;}
.y38{bottom:541.444920px;}
.y50{bottom:549.482280px;}
.y8{bottom:556.915740px;}
.y62{bottom:557.212200px;}
.y97{bottom:559.441140px;}
.y1d{bottom:562.680240px;}
.y78{bottom:564.898200px;}
.y37{bottom:566.885580px;}
.y4f{bottom:574.922940px;}
.y7{bottom:582.356400px;}
.y77{bottom:586.375080px;}
.y1c{bottom:588.120900px;}
.y4e{bottom:590.338860px;}
.y36{bottom:592.381140px;}
.y6{bottom:607.797060px;}
.y4d{bottom:611.815740px;}
.y1b{bottom:613.561560px;}
.y35{bottom:617.821800px;}
.y5{bottom:633.237720px;}
.y1a{bottom:635.038440px;}
.y4c{bottom:637.256400px;}
.y34{bottom:643.262460px;}
.y4{bottom:658.678380px;}
.y19{bottom:659.875200px;}
.y4b{bottom:662.697060px;}
.y33{bottom:668.703120px;}
.y3{bottom:684.119040px;}
.y18{bottom:684.415500px;}
.y32{bottom:694.143780px;}
.y2{bottom:709.559700px;}
.y1{bottom:740.820000px;}
.h3{height:29.272852px;}
.h5{height:30.538125px;}
.h9{height:31.524609px;}
.h2{height:44.555625px;}
.h8{height:48.723750px;}
.h6{height:50.289258px;}
.h7{height:69.015625px;}
.h4{height:80.600625px;}
.h1{height:98.000000px;}
.h0{height:792.000000px;}
.w1{width:343.000000px;}
.w0{width:612.000000px;}
.x8{left:71.989200px;}
.xc{left:73.504260px;}
.xb{left:89.974260px;}
.x5{left:102.584340px;}
.x0{left:134.500000px;}
.xa{left:253.000000px;}
.x4{left:258.120000px;}
.x7{left:274.680000px;}
.x6{left:276.058620px;}
.x1{left:279.600000px;}
.x2{left:306.000300px;}
.x3{left:477.123600px;}
.x9{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls25{letter-spacing:-0.117120pt;}
.ls2a{letter-spacing:-0.111264pt;}
.ls41{letter-spacing:-0.105408pt;}
.ls2{letter-spacing:-0.102528pt;}
.ls1b{letter-spacing:-0.093696pt;}
.ls31{letter-spacing:-0.087840pt;}
.ls38{letter-spacing:-0.081984pt;}
.ls3{letter-spacing:-0.077280pt;}
.ls40{letter-spacing:-0.076128pt;}
.ls19{letter-spacing:-0.070272pt;}
.ls36{letter-spacing:-0.064416pt;}
.ls0{letter-spacing:-0.059808pt;}
.ls3f{letter-spacing:-0.058560pt;}
.ls16{letter-spacing:-0.052704pt;}
.ls27{letter-spacing:-0.046848pt;}
.ls21{letter-spacing:-0.040992pt;}
.lsf{letter-spacing:-0.035136pt;}
.ls8{letter-spacing:-0.029280pt;}
.ls13{letter-spacing:-0.023424pt;}
.ls11{letter-spacing:-0.017568pt;}
.ls7{letter-spacing:-0.015456pt;}
.lsa{letter-spacing:-0.011712pt;}
.ls15{letter-spacing:-0.005856pt;}
.ls1{letter-spacing:0.000000pt;}
.ls12{letter-spacing:0.005856pt;}
.ls14{letter-spacing:0.011712pt;}
.ls24{letter-spacing:0.017568pt;}
.ls2c{letter-spacing:0.023424pt;}
.ls1f{letter-spacing:0.029280pt;}
.ls6{letter-spacing:0.030912pt;}
.ls18{letter-spacing:0.035136pt;}
.ls2b{letter-spacing:0.040992pt;}
.ls34{letter-spacing:0.046848pt;}
.ls10{letter-spacing:0.052704pt;}
.ls1c{letter-spacing:0.058560pt;}
.ls4{letter-spacing:0.061824pt;}
.ls28{letter-spacing:0.064416pt;}
.ls9{letter-spacing:0.070272pt;}
.ls1d{letter-spacing:0.076128pt;}
.lsb{letter-spacing:0.081984pt;}
.lsc{letter-spacing:0.087840pt;}
.ls17{letter-spacing:0.093696pt;}
.ls1a{letter-spacing:0.099552pt;}
.ls33{letter-spacing:0.105408pt;}
.ls5{letter-spacing:0.108192pt;}
.lsd{letter-spacing:0.111264pt;}
.ls43{letter-spacing:0.117120pt;}
.ls39{letter-spacing:0.122976pt;}
.ls2f{letter-spacing:0.128832pt;}
.ls23{letter-spacing:0.134688pt;}
.ls26{letter-spacing:0.140544pt;}
.ls1e{letter-spacing:0.146400pt;}
.ls22{letter-spacing:0.158112pt;}
.ls4c{letter-spacing:0.163968pt;}
.ls37{letter-spacing:0.169824pt;}
.ls3a{letter-spacing:0.181536pt;}
.ls2e{letter-spacing:0.193248pt;}
.lse{letter-spacing:0.199104pt;}
.ls3b{letter-spacing:0.210816pt;}
.ls47{letter-spacing:0.216672pt;}
.ls29{letter-spacing:0.222528pt;}
.ls2d{letter-spacing:0.234240pt;}
.ls3c{letter-spacing:0.240096pt;}
.ls20{letter-spacing:0.251808pt;}
.ls48{letter-spacing:0.263520pt;}
.ls42{letter-spacing:0.275232pt;}
.ls3d{letter-spacing:0.292800pt;}
.ls32{letter-spacing:0.304512pt;}
.ls44{letter-spacing:0.322080pt;}
.ls4b{letter-spacing:0.357216pt;}
.ls30{letter-spacing:0.363072pt;}
.ls45{letter-spacing:0.380640pt;}
.ls49{letter-spacing:0.386496pt;}
.ls46{letter-spacing:0.398208pt;}
.ls4a{letter-spacing:0.427488pt;}
.ls4d{letter-spacing:0.456768pt;}
.ls35{letter-spacing:0.468480pt;}
.ls3e{letter-spacing:0.480192pt;}
.ws0{word-spacing:0.000000pt;}
._5{margin-left:-1.364448pt;}
._0{width:1.680672pt;}
._3{width:31.704384pt;}
._1{width:34.070208pt;}
._2{width:35.897280pt;}
._4{width:39.633408pt;}
.fs1{font-size:58.560000pt;}
.fs3{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs2{font-size:154.560000pt;}
.y17{bottom:21.333333pt;}
.y16{bottom:53.120133pt;}
.y31{bottom:103.518320pt;}
.y89{bottom:104.074640pt;}
.y15{bottom:108.805733pt;}
.y96{bottom:112.068080pt;}
.y76{bottom:113.268560pt;}
.y61{bottom:117.426320pt;}
.ya8{bottom:123.516560pt;}
.y4a{bottom:132.710480pt;}
.y30{bottom:137.439200pt;}
.y88{bottom:137.995520pt;}
.y14{bottom:141.526133pt;}
.y95{bottom:145.988960pt;}
.y75{bottom:147.189440pt;}
.y60{bottom:151.347200pt;}
.ya7{bottom:152.079200pt;}
.y49{bottom:166.631360pt;}
.y2f{bottom:171.360080pt;}
.y87{bottom:171.916400pt;}
.y13{bottom:174.246533pt;}
.y94{bottom:179.909840pt;}
.y74{bottom:181.110320pt;}
.y5f{bottom:185.268080pt;}
.ya6{bottom:186.000080pt;}
.y2e{bottom:199.995920pt;}
.y48{bottom:200.552240pt;}
.y12{bottom:206.966933pt;}
.y5e{bottom:213.830720pt;}
.y73{bottom:215.031200pt;}
.ya5{bottom:219.920960pt;}
.y2d{bottom:233.111600pt;}
.y47{bottom:234.473120pt;}
.y72{bottom:235.673600pt;}
.y11{bottom:239.687333pt;}
.y5d{bottom:247.751600pt;}
.ya4{bottom:253.841840pt;}
.y71{bottom:264.236240pt;}
.y2c{bottom:266.637200pt;}
.y46{bottom:268.394000pt;}
.y10{bottom:272.480933pt;}
.ya3{bottom:274.484240pt;}
.y93{bottom:276.387440pt;}
.y5c{bottom:281.672480pt;}
.y45{bottom:296.956640pt;}
.y70{bottom:298.157120pt;}
.y2b{bottom:300.558080pt;}
.y86{bottom:302.314880pt;}
.yf{bottom:305.201333pt;}
.ya2{bottom:308.405120pt;}
.y92{bottom:310.308320pt;}
.y5b{bottom:315.593360pt;}
.ya1{bottom:328.959680pt;}
.y44{bottom:330.877520pt;}
.y6f{bottom:332.078000pt;}
.y2a{bottom:334.478960pt;}
.y85{bottom:336.235760pt;}
.ye{bottom:338.800133pt;}
.y91{bottom:344.229200pt;}
.y5a{bottom:349.514240pt;}
.y6e{bottom:360.640640pt;}
.ya0{bottom:362.880560pt;}
.y43{bottom:364.798400pt;}
.y29{bottom:368.399840pt;}
.y84{bottom:370.156640pt;}
.y90{bottom:372.791840pt;}
.y59{bottom:383.435120pt;}
.yd{bottom:383.572160pt;}
.y42{bottom:393.361040pt;}
.y6d{bottom:394.561520pt;}
.y9f{bottom:396.801440pt;}
.y28{bottom:402.320720pt;}
.y83{bottom:404.077520pt;}
.y8f{bottom:406.712720pt;}
.y58{bottom:417.356000pt;}
.y82{bottom:424.632080pt;}
.y41{bottom:427.281920pt;}
.y6c{bottom:428.482400pt;}
.y27{bottom:436.241600pt;}
.yc{bottom:437.822720pt;}
.y57{bottom:437.998400pt;}
.y8e{bottom:440.633600pt;}
.y9e{bottom:445.991840pt;}
.y81{bottom:453.267920pt;}
.y26{bottom:456.796160pt;}
.y40{bottom:461.276000pt;}
.y6b{bottom:462.403280pt;}
.y56{bottom:466.561040pt;}
.y8d{bottom:474.554480pt;}
.y9d{bottom:479.912720pt;}
.y25{bottom:485.432000pt;}
.y80{bottom:487.188800pt;}
.y3f{bottom:495.196880pt;}
.y6a{bottom:496.324160pt;}
.y55{bottom:500.481920pt;}
.yb{bottom:505.520000pt;}
.y8c{bottom:508.475360pt;}
.y9c{bottom:513.833600pt;}
.y24{bottom:519.352880pt;}
.y7f{bottom:521.109680pt;}
.y3e{bottom:529.117760pt;}
.y69{bottom:530.318240pt;}
.y54{bottom:534.402800pt;}
.y8b{bottom:542.396240pt;}
.y7e{bottom:549.672320pt;}
.y23{bottom:553.273760pt;}
.y0{bottom:558.000000pt;}
.ya{bottom:558.309920pt;}
.y3d{bottom:563.038640pt;}
.y68{bottom:564.239120pt;}
.y8a{bottom:576.317120pt;}
.y22{bottom:581.836400pt;}
.y7d{bottom:583.593200pt;}
.y67{bottom:584.793680pt;}
.y3c{bottom:596.959520pt;}
.y9b{bottom:610.238000pt;}
.y66{bottom:613.356320pt;}
.y21{bottom:614.952080pt;}
.y7c{bottom:617.514080pt;}
.y3b{bottom:625.522160pt;}
.y53{bottom:630.880400pt;}
.y9a{bottom:644.158880pt;}
.y65{bottom:647.277200pt;}
.y20{bottom:648.477680pt;}
.y7b{bottom:651.434960pt;}
.y3a{bottom:659.443040pt;}
.y52{bottom:664.801280pt;}
.y99{bottom:678.079760pt;}
.y64{bottom:681.198080pt;}
.y1f{bottom:682.398560pt;}
.y7a{bottom:685.355840pt;}
.y39{bottom:693.363920pt;}
.y51{bottom:698.722160pt;}
.y9{bottom:708.633440pt;}
.y63{bottom:709.833920pt;}
.y98{bottom:712.000640pt;}
.y1e{bottom:716.319440pt;}
.y79{bottom:719.276720pt;}
.y38{bottom:721.926560pt;}
.y50{bottom:732.643040pt;}
.y8{bottom:742.554320pt;}
.y62{bottom:742.949600pt;}
.y97{bottom:745.921520pt;}
.y1d{bottom:750.240320pt;}
.y78{bottom:753.197600pt;}
.y37{bottom:755.847440pt;}
.y4f{bottom:766.563920pt;}
.y7{bottom:776.475200pt;}
.y77{bottom:781.833440pt;}
.y1c{bottom:784.161200pt;}
.y4e{bottom:787.118480pt;}
.y36{bottom:789.841520pt;}
.y6{bottom:810.396080pt;}
.y4d{bottom:815.754320pt;}
.y1b{bottom:818.082080pt;}
.y35{bottom:823.762400pt;}
.y5{bottom:844.316960pt;}
.y1a{bottom:846.717920pt;}
.y4c{bottom:849.675200pt;}
.y34{bottom:857.683280pt;}
.y4{bottom:878.237840pt;}
.y19{bottom:879.833600pt;}
.y4b{bottom:883.596080pt;}
.y33{bottom:891.604160pt;}
.y3{bottom:912.158720pt;}
.y18{bottom:912.554000pt;}
.y32{bottom:925.525040pt;}
.y2{bottom:946.079600pt;}
.y1{bottom:987.760000pt;}
.h3{height:39.030469pt;}
.h5{height:40.717500pt;}
.h9{height:42.032812pt;}
.h2{height:59.407500pt;}
.h8{height:64.965000pt;}
.h6{height:67.052344pt;}
.h7{height:92.020833pt;}
.h4{height:107.467500pt;}
.h1{height:130.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:457.333333pt;}
.w0{width:816.000000pt;}
.x8{left:95.985600pt;}
.xc{left:98.005680pt;}
.xb{left:119.965680pt;}
.x5{left:136.779120pt;}
.x0{left:179.333333pt;}
.xa{left:337.333333pt;}
.x4{left:344.160000pt;}
.x7{left:366.240000pt;}
.x6{left:368.078160pt;}
.x1{left:372.800000pt;}
.x2{left:408.000400pt;}
.x3{left:636.164800pt;}
.x9{left:673.040000pt;}
}
