.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-0.076896px;}
.ls12{letter-spacing:-0.072000px;}
.ls14{letter-spacing:-0.062400px;}
.ls18{letter-spacing:-0.052800px;}
.ls10{letter-spacing:-0.048000px;}
.ls0{letter-spacing:-0.044856px;}
.ls5{letter-spacing:-0.032400px;}
.ls11{letter-spacing:-0.028800px;}
.ls1c{letter-spacing:-0.024000px;}
.ls4{letter-spacing:-0.021600px;}
.ls6{letter-spacing:-0.019200px;}
.ls16{letter-spacing:-0.014400px;}
.ls3{letter-spacing:-0.010800px;}
.ls13{letter-spacing:-0.009600px;}
.lsc{letter-spacing:-0.004800px;}
.ls1{letter-spacing:0.000000px;}
.ls7{letter-spacing:0.004800px;}
.ls9{letter-spacing:0.009600px;}
.ls8{letter-spacing:0.014400px;}
.lsd{letter-spacing:0.019200px;}
.lsf{letter-spacing:0.024000px;}
.lsa{letter-spacing:0.028800px;}
.lse{letter-spacing:0.033600px;}
.ls19{letter-spacing:0.038400px;}
.ls15{letter-spacing:0.043200px;}
.ls1a{letter-spacing:0.048000px;}
.ls17{letter-spacing:0.052800px;}
.ls1b{letter-spacing:0.057600px;}
.lsb{letter-spacing:0.081600px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws9{word-spacing:-0.240000px;}
.ws2d{word-spacing:-0.225600px;}
.ws26{word-spacing:-0.177600px;}
.ws1d{word-spacing:-0.172800px;}
.ws2e{word-spacing:-0.158400px;}
.ws29{word-spacing:-0.144000px;}
.ws1e{word-spacing:-0.139200px;}
.ws2{word-spacing:-0.134568px;}
.ws28{word-spacing:-0.134400px;}
.ws6{word-spacing:-0.129600px;}
.ws2a{word-spacing:-0.115200px;}
.ws1c{word-spacing:-0.105600px;}
.ws1b{word-spacing:-0.100800px;}
.ws21{word-spacing:-0.096000px;}
.ws23{word-spacing:-0.086400px;}
.ws10{word-spacing:-0.081600px;}
.ws12{word-spacing:-0.076800px;}
.wse{word-spacing:-0.072000px;}
.ws17{word-spacing:-0.067200px;}
.wsb{word-spacing:-0.062400px;}
.ws2c{word-spacing:-0.057600px;}
.ws5{word-spacing:-0.052800px;}
.ws18{word-spacing:-0.048000px;}
.wsa{word-spacing:-0.043200px;}
.ws14{word-spacing:-0.038400px;}
.ws20{word-spacing:-0.033600px;}
.ws8{word-spacing:-0.028800px;}
.wsf{word-spacing:-0.024000px;}
.ws13{word-spacing:-0.019200px;}
.wsd{word-spacing:-0.014400px;}
.wsc{word-spacing:-0.009600px;}
.ws4{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.ws1a{word-spacing:0.004800px;}
.ws27{word-spacing:0.009600px;}
.ws22{word-spacing:0.014400px;}
.ws3{word-spacing:0.019200px;}
.ws24{word-spacing:0.024000px;}
.ws15{word-spacing:0.028800px;}
.ws7{word-spacing:0.033600px;}
.ws11{word-spacing:0.048000px;}
.ws1f{word-spacing:0.052800px;}
.ws19{word-spacing:0.062400px;}
.ws16{word-spacing:0.072000px;}
.ws25{word-spacing:0.081600px;}
.ws2b{word-spacing:0.091200px;}
.ws1{word-spacing:0.140400px;}
._0{margin-left:-1.276800px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs4{font-size:48.000000px;}
.fs3{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs2{font-size:108.000000px;}
.y14{bottom:16.000000px;}
.y13{bottom:52.380000px;}
.y38{bottom:75.480000px;}
.y56{bottom:81.480000px;}
.y71{bottom:85.380000px;}
.y37{bottom:97.380000px;}
.y70{bottom:107.220000px;}
.y55{bottom:113.220000px;}
.y36{bottom:119.220000px;}
.y54{bottom:129.120000px;}
.y8d{bottom:135.120000px;}
.y35{bottom:141.120000px;}
.y53{bottom:144.960000px;}
.y8e{bottom:150.960000px;}
.y34{bottom:156.960000px;}
.y52{bottom:160.860000px;}
.y87{bottom:162.960000px;}
.y33{bottom:172.860000px;}
.y6f{bottom:176.700000px;}
.y86{bottom:178.860000px;}
.y51{bottom:182.700000px;}
.y32{bottom:188.700000px;}
.y6e{bottom:192.600000px;}
.y85{bottom:194.700000px;}
.y8c{bottom:200.700000px;}
.y31{bottom:204.600000px;}
.y6d{bottom:208.440000px;}
.y84{bottom:210.600000px;}
.y8b{bottom:216.600000px;}
.y30{bottom:220.440000px;}
.y6c{bottom:224.340000px;}
.y50{bottom:226.440000px;}
.y8a{bottom:232.440000px;}
.y2f{bottom:236.340000px;}
.y6b{bottom:240.180000px;}
.y83{bottom:242.340000px;}
.y4f{bottom:248.340000px;}
.y12{bottom:250.445980px;}
.y2e{bottom:252.180000px;}
.y82{bottom:258.180000px;}
.y6a{bottom:262.080000px;}
.y4e{bottom:264.180000px;}
.y2d{bottom:268.080000px;}
.y11{bottom:271.624420px;}
.y81{bottom:274.080000px;}
.y4d{bottom:280.080000px;}
.y69{bottom:283.920000px;}
.y2c{bottom:289.920000px;}
.y4c{bottom:295.920000px;}
.y10{bottom:297.000100px;}
.yf{bottom:297.018000px;}
.y68{bottom:305.760000px;}
.y2b{bottom:311.760000px;}
.y80{bottom:317.760000px;}
.y4b{bottom:327.660000px;}
.ye{bottom:332.712000px;}
.y2a{bottom:333.660000px;}
.y7f{bottom:339.660000px;}
.y4a{bottom:343.500000px;}
.y89{bottom:349.500000px;}
.y29{bottom:355.500000px;}
.y67{bottom:359.400000px;}
.y7e{bottom:361.500000px;}
.y49{bottom:365.400000px;}
.yd{bottom:368.406000px;}
.y28{bottom:371.400000px;}
.y66{bottom:375.240000px;}
.y7d{bottom:377.400000px;}
.y27{bottom:387.240000px;}
.y65{bottom:391.140000px;}
.y7c{bottom:393.240000px;}
.y26{bottom:403.140000px;}
.yc{bottom:404.100000px;}
.y64{bottom:406.980000px;}
.y48{bottom:409.140000px;}
.y88{bottom:415.140000px;}
.y25{bottom:418.980000px;}
.y63{bottom:422.880000px;}
.y7b{bottom:424.980000px;}
.y47{bottom:430.980000px;}
.y24{bottom:434.880000px;}
.yb{bottom:435.597900px;}
.y62{bottom:438.720000px;}
.y7a{bottom:440.880000px;}
.y46{bottom:446.880000px;}
.y23{bottom:450.720000px;}
.y0{bottom:453.000000px;}
.ya{bottom:453.300000px;}
.y79{bottom:456.720000px;}
.y61{bottom:460.620000px;}
.y45{bottom:462.720000px;}
.y22{bottom:466.620000px;}
.y78{bottom:472.620000px;}
.y44{bottom:478.620000px;}
.y60{bottom:482.460000px;}
.y21{bottom:488.460000px;}
.y43{bottom:494.460000px;}
.y5f{bottom:504.360000px;}
.y20{bottom:510.360000px;}
.y42{bottom:526.200000px;}
.y1f{bottom:532.200000px;}
.y5e{bottom:542.100000px;}
.y41{bottom:548.100000px;}
.y1e{bottom:554.100000px;}
.y9{bottom:557.063160px;}
.y5d{bottom:557.940000px;}
.y1d{bottom:569.940000px;}
.y5c{bottom:573.840000px;}
.y77{bottom:575.940000px;}
.y8{bottom:578.177520px;}
.y1c{bottom:585.840000px;}
.y5b{bottom:589.680000px;}
.y40{bottom:591.840000px;}
.y7{bottom:599.355960px;}
.y1b{bottom:601.680000px;}
.y5a{bottom:605.580000px;}
.y76{bottom:607.680000px;}
.y3f{bottom:613.680000px;}
.y1a{bottom:617.580000px;}
.y6{bottom:620.470320px;}
.y59{bottom:621.420000px;}
.y75{bottom:623.580000px;}
.y3e{bottom:629.580000px;}
.y19{bottom:633.420000px;}
.y74{bottom:639.420000px;}
.y5{bottom:641.648760px;}
.y58{bottom:643.320000px;}
.y3d{bottom:645.420000px;}
.y18{bottom:649.320000px;}
.y73{bottom:655.320000px;}
.y3c{bottom:661.320000px;}
.y4{bottom:662.827200px;}
.y17{bottom:665.160000px;}
.y72{bottom:671.160000px;}
.y3b{bottom:677.160000px;}
.y16{bottom:681.060000px;}
.y3{bottom:683.941560px;}
.y57{bottom:687.060000px;}
.y3a{bottom:693.060000px;}
.y15{bottom:702.900000px;}
.y2{bottom:705.120000px;}
.y39{bottom:708.900000px;}
.y1{bottom:740.820000px;}
.h5{height:29.272852px;}
.h2{height:43.804688px;}
.h8{height:53.250000px;}
.h7{height:54.960938px;}
.h6{height:69.015625px;}
.h3{height:73.372852px;}
.h1{height:98.000000px;}
.h4{height:123.662109px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.xb{left:72.000000px;}
.x5{left:97.860000px;}
.x0{left:135.000000px;}
.x4{left:251.220000px;}
.xa{left:253.000000px;}
.x8{left:267.358560px;}
.x6{left:273.009000px;}
.x1{left:276.360000px;}
.x2{left:306.000000px;}
.x7{left:339.000000px;}
.x3{left:477.000000px;}
.x9{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-0.102528pt;}
.ls12{letter-spacing:-0.096000pt;}
.ls14{letter-spacing:-0.083200pt;}
.ls18{letter-spacing:-0.070400pt;}
.ls10{letter-spacing:-0.064000pt;}
.ls0{letter-spacing:-0.059808pt;}
.ls5{letter-spacing:-0.043200pt;}
.ls11{letter-spacing:-0.038400pt;}
.ls1c{letter-spacing:-0.032000pt;}
.ls4{letter-spacing:-0.028800pt;}
.ls6{letter-spacing:-0.025600pt;}
.ls16{letter-spacing:-0.019200pt;}
.ls3{letter-spacing:-0.014400pt;}
.ls13{letter-spacing:-0.012800pt;}
.lsc{letter-spacing:-0.006400pt;}
.ls1{letter-spacing:0.000000pt;}
.ls7{letter-spacing:0.006400pt;}
.ls9{letter-spacing:0.012800pt;}
.ls8{letter-spacing:0.019200pt;}
.lsd{letter-spacing:0.025600pt;}
.lsf{letter-spacing:0.032000pt;}
.lsa{letter-spacing:0.038400pt;}
.lse{letter-spacing:0.044800pt;}
.ls19{letter-spacing:0.051200pt;}
.ls15{letter-spacing:0.057600pt;}
.ls1a{letter-spacing:0.064000pt;}
.ls17{letter-spacing:0.070400pt;}
.ls1b{letter-spacing:0.076800pt;}
.lsb{letter-spacing:0.108800pt;}
.ws9{word-spacing:-0.320000pt;}
.ws2d{word-spacing:-0.300800pt;}
.ws26{word-spacing:-0.236800pt;}
.ws1d{word-spacing:-0.230400pt;}
.ws2e{word-spacing:-0.211200pt;}
.ws29{word-spacing:-0.192000pt;}
.ws1e{word-spacing:-0.185600pt;}
.ws2{word-spacing:-0.179424pt;}
.ws28{word-spacing:-0.179200pt;}
.ws6{word-spacing:-0.172800pt;}
.ws2a{word-spacing:-0.153600pt;}
.ws1c{word-spacing:-0.140800pt;}
.ws1b{word-spacing:-0.134400pt;}
.ws21{word-spacing:-0.128000pt;}
.ws23{word-spacing:-0.115200pt;}
.ws10{word-spacing:-0.108800pt;}
.ws12{word-spacing:-0.102400pt;}
.wse{word-spacing:-0.096000pt;}
.ws17{word-spacing:-0.089600pt;}
.wsb{word-spacing:-0.083200pt;}
.ws2c{word-spacing:-0.076800pt;}
.ws5{word-spacing:-0.070400pt;}
.ws18{word-spacing:-0.064000pt;}
.wsa{word-spacing:-0.057600pt;}
.ws14{word-spacing:-0.051200pt;}
.ws20{word-spacing:-0.044800pt;}
.ws8{word-spacing:-0.038400pt;}
.wsf{word-spacing:-0.032000pt;}
.ws13{word-spacing:-0.025600pt;}
.wsd{word-spacing:-0.019200pt;}
.wsc{word-spacing:-0.012800pt;}
.ws4{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.ws1a{word-spacing:0.006400pt;}
.ws27{word-spacing:0.012800pt;}
.ws22{word-spacing:0.019200pt;}
.ws3{word-spacing:0.025600pt;}
.ws24{word-spacing:0.032000pt;}
.ws15{word-spacing:0.038400pt;}
.ws7{word-spacing:0.044800pt;}
.ws11{word-spacing:0.064000pt;}
.ws1f{word-spacing:0.070400pt;}
.ws19{word-spacing:0.083200pt;}
.ws16{word-spacing:0.096000pt;}
.ws25{word-spacing:0.108800pt;}
.ws2b{word-spacing:0.121600pt;}
.ws1{word-spacing:0.187200pt;}
._0{margin-left:-1.702400pt;}
.fs1{font-size:58.560000pt;}
.fs4{font-size:64.000000pt;}
.fs3{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs2{font-size:144.000000pt;}
.y14{bottom:21.333333pt;}
.y13{bottom:69.840000pt;}
.y38{bottom:100.640000pt;}
.y56{bottom:108.640000pt;}
.y71{bottom:113.840000pt;}
.y37{bottom:129.840000pt;}
.y70{bottom:142.960000pt;}
.y55{bottom:150.960000pt;}
.y36{bottom:158.960000pt;}
.y54{bottom:172.160000pt;}
.y8d{bottom:180.160000pt;}
.y35{bottom:188.160000pt;}
.y53{bottom:193.280000pt;}
.y8e{bottom:201.280000pt;}
.y34{bottom:209.280000pt;}
.y52{bottom:214.480000pt;}
.y87{bottom:217.280000pt;}
.y33{bottom:230.480000pt;}
.y6f{bottom:235.600000pt;}
.y86{bottom:238.480000pt;}
.y51{bottom:243.600000pt;}
.y32{bottom:251.600000pt;}
.y6e{bottom:256.800000pt;}
.y85{bottom:259.600000pt;}
.y8c{bottom:267.600000pt;}
.y31{bottom:272.800000pt;}
.y6d{bottom:277.920000pt;}
.y84{bottom:280.800000pt;}
.y8b{bottom:288.800000pt;}
.y30{bottom:293.920000pt;}
.y6c{bottom:299.120000pt;}
.y50{bottom:301.920000pt;}
.y8a{bottom:309.920000pt;}
.y2f{bottom:315.120000pt;}
.y6b{bottom:320.240000pt;}
.y83{bottom:323.120000pt;}
.y4f{bottom:331.120000pt;}
.y12{bottom:333.927973pt;}
.y2e{bottom:336.240000pt;}
.y82{bottom:344.240000pt;}
.y6a{bottom:349.440000pt;}
.y4e{bottom:352.240000pt;}
.y2d{bottom:357.440000pt;}
.y11{bottom:362.165893pt;}
.y81{bottom:365.440000pt;}
.y4d{bottom:373.440000pt;}
.y69{bottom:378.560000pt;}
.y2c{bottom:386.560000pt;}
.y4c{bottom:394.560000pt;}
.y10{bottom:396.000133pt;}
.yf{bottom:396.024000pt;}
.y68{bottom:407.680000pt;}
.y2b{bottom:415.680000pt;}
.y80{bottom:423.680000pt;}
.y4b{bottom:436.880000pt;}
.ye{bottom:443.616000pt;}
.y2a{bottom:444.880000pt;}
.y7f{bottom:452.880000pt;}
.y4a{bottom:458.000000pt;}
.y89{bottom:466.000000pt;}
.y29{bottom:474.000000pt;}
.y67{bottom:479.200000pt;}
.y7e{bottom:482.000000pt;}
.y49{bottom:487.200000pt;}
.yd{bottom:491.208000pt;}
.y28{bottom:495.200000pt;}
.y66{bottom:500.320000pt;}
.y7d{bottom:503.200000pt;}
.y27{bottom:516.320000pt;}
.y65{bottom:521.520000pt;}
.y7c{bottom:524.320000pt;}
.y26{bottom:537.520000pt;}
.yc{bottom:538.800000pt;}
.y64{bottom:542.640000pt;}
.y48{bottom:545.520000pt;}
.y88{bottom:553.520000pt;}
.y25{bottom:558.640000pt;}
.y63{bottom:563.840000pt;}
.y7b{bottom:566.640000pt;}
.y47{bottom:574.640000pt;}
.y24{bottom:579.840000pt;}
.yb{bottom:580.797200pt;}
.y62{bottom:584.960000pt;}
.y7a{bottom:587.840000pt;}
.y46{bottom:595.840000pt;}
.y23{bottom:600.960000pt;}
.y0{bottom:604.000000pt;}
.ya{bottom:604.400000pt;}
.y79{bottom:608.960000pt;}
.y61{bottom:614.160000pt;}
.y45{bottom:616.960000pt;}
.y22{bottom:622.160000pt;}
.y78{bottom:630.160000pt;}
.y44{bottom:638.160000pt;}
.y60{bottom:643.280000pt;}
.y21{bottom:651.280000pt;}
.y43{bottom:659.280000pt;}
.y5f{bottom:672.480000pt;}
.y20{bottom:680.480000pt;}
.y42{bottom:701.600000pt;}
.y1f{bottom:709.600000pt;}
.y5e{bottom:722.800000pt;}
.y41{bottom:730.800000pt;}
.y1e{bottom:738.800000pt;}
.y9{bottom:742.750880pt;}
.y5d{bottom:743.920000pt;}
.y1d{bottom:759.920000pt;}
.y5c{bottom:765.120000pt;}
.y77{bottom:767.920000pt;}
.y8{bottom:770.903360pt;}
.y1c{bottom:781.120000pt;}
.y5b{bottom:786.240000pt;}
.y40{bottom:789.120000pt;}
.y7{bottom:799.141280pt;}
.y1b{bottom:802.240000pt;}
.y5a{bottom:807.440000pt;}
.y76{bottom:810.240000pt;}
.y3f{bottom:818.240000pt;}
.y1a{bottom:823.440000pt;}
.y6{bottom:827.293760pt;}
.y59{bottom:828.560000pt;}
.y75{bottom:831.440000pt;}
.y3e{bottom:839.440000pt;}
.y19{bottom:844.560000pt;}
.y74{bottom:852.560000pt;}
.y5{bottom:855.531680pt;}
.y58{bottom:857.760000pt;}
.y3d{bottom:860.560000pt;}
.y18{bottom:865.760000pt;}
.y73{bottom:873.760000pt;}
.y3c{bottom:881.760000pt;}
.y4{bottom:883.769600pt;}
.y17{bottom:886.880000pt;}
.y72{bottom:894.880000pt;}
.y3b{bottom:902.880000pt;}
.y16{bottom:908.080000pt;}
.y3{bottom:911.922080pt;}
.y57{bottom:916.080000pt;}
.y3a{bottom:924.080000pt;}
.y15{bottom:937.200000pt;}
.y2{bottom:940.160000pt;}
.y39{bottom:945.200000pt;}
.y1{bottom:987.760000pt;}
.h5{height:39.030469pt;}
.h2{height:58.406250pt;}
.h8{height:71.000000pt;}
.h7{height:73.281250pt;}
.h6{height:92.020833pt;}
.h3{height:97.830469pt;}
.h1{height:130.666667pt;}
.h4{height:164.882812pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.xb{left:96.000000pt;}
.x5{left:130.480000pt;}
.x0{left:180.000000pt;}
.x4{left:334.960000pt;}
.xa{left:337.333333pt;}
.x8{left:356.478080pt;}
.x6{left:364.012000pt;}
.x1{left:368.480000pt;}
.x2{left:408.000000pt;}
.x7{left:452.000000pt;}
.x3{left:636.000000pt;}
.x9{left:673.040000pt;}
}
