.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m2{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:matrix(0.252100,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.252100,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.252100,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.252101,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.252101,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.252101,0.000000,0.000000,0.250000,0,0);}
.m3{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls4{letter-spacing:-2.025840px;}
.ls8{letter-spacing:-1.728000px;}
.ls0{letter-spacing:-1.453920px;}
.ls3{letter-spacing:-0.440400px;}
.ls2{letter-spacing:-0.391440px;}
.ls1{letter-spacing:0.000000px;}
.ls6{letter-spacing:0.440400px;}
.ls7{letter-spacing:0.912000px;}
.ls5{letter-spacing:0.968880px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-1.937760px;}
._0{width:1.398000px;}
._1{width:2.444869px;}
._3{width:564.001983px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:40.080000px;}
.fs1{font-size:43.920000px;}
.fs3{font-size:48.000000px;}
.fs0{font-size:55.920000px;}
.fs4{font-size:56.000000px;}
.fs2{font-size:88.080000px;}
.y1{bottom:0.000000px;}
.ya{bottom:15.900000px;}
.y3{bottom:39.793600px;}
.y29{bottom:75.253500px;}
.y55{bottom:84.373600px;}
.y44{bottom:86.653900px;}
.y68{bottom:87.253500px;}
.y28{bottom:89.053300px;}
.y54{bottom:98.173400px;}
.y27{bottom:102.854100px;}
.y43{bottom:112.453700px;}
.y67{bottom:113.053300px;}
.y26{bottom:116.173400px;}
.y53{bottom:123.913700px;}
.y42{bottom:126.253500px;}
.y66{bottom:126.854100px;}
.y25{bottom:128.173400px;}
.y65{bottom:140.653900px;}
.y41{bottom:152.053300px;}
.y24{bottom:153.913700px;}
.y64{bottom:154.453700px;}
.y23{bottom:167.713500px;}
.y63{bottom:168.253500px;}
.y22{bottom:193.513300px;}
.y62{bottom:194.053300px;}
.y40{bottom:195.314100px;}
.y3f{bottom:207.314100px;}
.y61{bottom:207.854100px;}
.y52{bottom:221.113900px;}
.y3e{bottom:233.113900px;}
.y60{bottom:233.653900px;}
.y51{bottom:234.913700px;}
.y21{bottom:237.314100px;}
.y3d{bottom:246.913700px;}
.y3c{bottom:260.713500px;}
.y20{bottom:263.113900px;}
.y3b{bottom:274.513300px;}
.y1f{bottom:276.913700px;}
.y50{bottom:286.513300px;}
.y5f{bottom:288.913700px;}
.y1e{bottom:290.713500px;}
.y3a{bottom:300.314100px;}
.y1d{bottom:304.513300px;}
.y5e{bottom:314.713500px;}
.y39{bottom:326.113900px;}
.y5d{bottom:328.513300px;}
.y1c{bottom:330.314100px;}
.y5c{bottom:342.314100px;}
.y1b{bottom:344.113900px;}
.y9{bottom:348.013300px;}
.y4f{bottom:356.113900px;}
.y1a{bottom:369.913700px;}
.y8{bottom:376.033800px;}
.y4e{bottom:383.713500px;}
.y38{bottom:395.713500px;}
.y4d{bottom:397.513300px;}
.y37{bottom:409.513300px;}
.y19{bottom:413.713500px;}
.y36{bottom:423.314100px;}
.y7{bottom:431.354100px;}
.y5b{bottom:435.314100px;}
.y35{bottom:437.113900px;}
.y18{bottom:439.513300px;}
.y4c{bottom:449.113900px;}
.y17{bottom:453.314100px;}
.y34{bottom:462.913700px;}
.y16{bottom:467.113900px;}
.y5a{bottom:479.113900px;}
.y15{bottom:480.913700px;}
.y6{bottom:486.613900px;}
.y33{bottom:488.713500px;}
.y4b{bottom:492.913700px;}
.y59{bottom:504.913700px;}
.y14{bottom:506.713500px;}
.y4a{bottom:518.713500px;}
.y13{bottom:520.513300px;}
.y32{bottom:532.513300px;}
.y0{bottom:537.000000px;}
.y5{bottom:537.133400px;}
.y12{bottom:546.314100px;}
.y31{bottom:558.314100px;}
.y49{bottom:560.113900px;}
.y30{bottom:572.113900px;}
.y2f{bottom:585.913700px;}
.y11{bottom:590.113900px;}
.y58{bottom:597.913700px;}
.y2e{bottom:599.713500px;}
.y48{bottom:611.713500px;}
.y10{bottom:615.913700px;}
.y2d{bottom:625.513300px;}
.yf{bottom:629.713500px;}
.y2c{bottom:639.314100px;}
.y57{bottom:641.713500px;}
.ye{bottom:643.513300px;}
.y47{bottom:655.513300px;}
.yd{bottom:657.314100px;}
.y2b{bottom:665.113900px;}
.y56{bottom:667.513300px;}
.y4{bottom:669.434200px;}
.y46{bottom:681.314100px;}
.yc{bottom:683.113900px;}
.y45{bottom:695.113900px;}
.yb{bottom:708.854100px;}
.y2a{bottom:708.913700px;}
.y2{bottom:742.693900px;}
.h4{height:29.272852px;}
.h3{height:38.226562px;}
.h9{height:49.395469px;}
.h8{height:53.250000px;}
.h6{height:54.960938px;}
.h7{height:69.015625px;}
.h1{height:98.000000px;}
.h5{height:100.853320px;}
.h2{height:791.954000px;}
.h0{height:792.000000px;}
.w1{width:345.500000px;}
.w0{width:612.000000px;}
.x1{left:0.000000px;}
.xa{left:72.605000px;}
.x0{left:136.500000px;}
.x7{left:154.225200px;}
.xb{left:253.000000px;}
.x8{left:254.964700px;}
.x6{left:269.122700px;}
.x2{left:285.277300px;}
.x4{left:308.571400px;}
.x9{left:362.178200px;}
.x5{left:481.734500px;}
.x3{left:507.630200px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls4{letter-spacing:-2.701120pt;}
.ls8{letter-spacing:-2.304000pt;}
.ls0{letter-spacing:-1.938560pt;}
.ls3{letter-spacing:-0.587200pt;}
.ls2{letter-spacing:-0.521920pt;}
.ls1{letter-spacing:0.000000pt;}
.ls6{letter-spacing:0.587200pt;}
.ls7{letter-spacing:1.216000pt;}
.ls5{letter-spacing:1.291840pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-2.583680pt;}
._0{width:1.864000pt;}
._1{width:3.259825pt;}
._3{width:752.002644pt;}
.fs5{font-size:53.440000pt;}
.fs1{font-size:58.560000pt;}
.fs3{font-size:64.000000pt;}
.fs0{font-size:74.560000pt;}
.fs4{font-size:74.666667pt;}
.fs2{font-size:117.440000pt;}
.y1{bottom:0.000000pt;}
.ya{bottom:21.200000pt;}
.y3{bottom:53.058133pt;}
.y29{bottom:100.338000pt;}
.y55{bottom:112.498133pt;}
.y44{bottom:115.538533pt;}
.y68{bottom:116.338000pt;}
.y28{bottom:118.737733pt;}
.y54{bottom:130.897867pt;}
.y27{bottom:137.138800pt;}
.y43{bottom:149.938267pt;}
.y67{bottom:150.737733pt;}
.y26{bottom:154.897867pt;}
.y53{bottom:165.218267pt;}
.y42{bottom:168.338000pt;}
.y66{bottom:169.138800pt;}
.y25{bottom:170.897867pt;}
.y65{bottom:187.538533pt;}
.y41{bottom:202.737733pt;}
.y24{bottom:205.218267pt;}
.y64{bottom:205.938267pt;}
.y23{bottom:223.618000pt;}
.y63{bottom:224.338000pt;}
.y22{bottom:258.017733pt;}
.y62{bottom:258.737733pt;}
.y40{bottom:260.418800pt;}
.y3f{bottom:276.418800pt;}
.y61{bottom:277.138800pt;}
.y52{bottom:294.818533pt;}
.y3e{bottom:310.818533pt;}
.y60{bottom:311.538533pt;}
.y51{bottom:313.218267pt;}
.y21{bottom:316.418800pt;}
.y3d{bottom:329.218267pt;}
.y3c{bottom:347.618000pt;}
.y20{bottom:350.818533pt;}
.y3b{bottom:366.017733pt;}
.y1f{bottom:369.218267pt;}
.y50{bottom:382.017733pt;}
.y5f{bottom:385.218267pt;}
.y1e{bottom:387.618000pt;}
.y3a{bottom:400.418800pt;}
.y1d{bottom:406.017733pt;}
.y5e{bottom:419.618000pt;}
.y39{bottom:434.818533pt;}
.y5d{bottom:438.017733pt;}
.y1c{bottom:440.418800pt;}
.y5c{bottom:456.418800pt;}
.y1b{bottom:458.818533pt;}
.y9{bottom:464.017733pt;}
.y4f{bottom:474.818533pt;}
.y1a{bottom:493.218267pt;}
.y8{bottom:501.378400pt;}
.y4e{bottom:511.618000pt;}
.y38{bottom:527.618000pt;}
.y4d{bottom:530.017733pt;}
.y37{bottom:546.017733pt;}
.y19{bottom:551.618000pt;}
.y36{bottom:564.418800pt;}
.y7{bottom:575.138800pt;}
.y5b{bottom:580.418800pt;}
.y35{bottom:582.818533pt;}
.y18{bottom:586.017733pt;}
.y4c{bottom:598.818533pt;}
.y17{bottom:604.418800pt;}
.y34{bottom:617.218267pt;}
.y16{bottom:622.818533pt;}
.y5a{bottom:638.818533pt;}
.y15{bottom:641.218267pt;}
.y6{bottom:648.818533pt;}
.y33{bottom:651.618000pt;}
.y4b{bottom:657.218267pt;}
.y59{bottom:673.218267pt;}
.y14{bottom:675.618000pt;}
.y4a{bottom:691.618000pt;}
.y13{bottom:694.017733pt;}
.y32{bottom:710.017733pt;}
.y0{bottom:716.000000pt;}
.y5{bottom:716.177867pt;}
.y12{bottom:728.418800pt;}
.y31{bottom:744.418800pt;}
.y49{bottom:746.818533pt;}
.y30{bottom:762.818533pt;}
.y2f{bottom:781.218267pt;}
.y11{bottom:786.818533pt;}
.y58{bottom:797.218267pt;}
.y2e{bottom:799.618000pt;}
.y48{bottom:815.618000pt;}
.y10{bottom:821.218267pt;}
.y2d{bottom:834.017733pt;}
.yf{bottom:839.618000pt;}
.y2c{bottom:852.418800pt;}
.y57{bottom:855.618000pt;}
.ye{bottom:858.017733pt;}
.y47{bottom:874.017733pt;}
.yd{bottom:876.418800pt;}
.y2b{bottom:886.818533pt;}
.y56{bottom:890.017733pt;}
.y4{bottom:892.578933pt;}
.y46{bottom:908.418800pt;}
.yc{bottom:910.818533pt;}
.y45{bottom:926.818533pt;}
.yb{bottom:945.138800pt;}
.y2a{bottom:945.218267pt;}
.y2{bottom:990.258533pt;}
.h4{height:39.030469pt;}
.h3{height:50.968750pt;}
.h9{height:65.860625pt;}
.h8{height:71.000000pt;}
.h6{height:73.281250pt;}
.h7{height:92.020833pt;}
.h1{height:130.666667pt;}
.h5{height:134.471094pt;}
.h2{height:1055.938667pt;}
.h0{height:1056.000000pt;}
.w1{width:460.666667pt;}
.w0{width:816.000000pt;}
.x1{left:0.000000pt;}
.xa{left:96.806667pt;}
.x0{left:182.000000pt;}
.x7{left:205.633600pt;}
.xb{left:337.333333pt;}
.x8{left:339.952933pt;}
.x6{left:358.830267pt;}
.x2{left:380.369733pt;}
.x4{left:411.428533pt;}
.x9{left:482.904267pt;}
.x5{left:642.312667pt;}
.x3{left:676.840267pt;}
}
