.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-0.076896px;}
.ls16{letter-spacing:-0.072000px;}
.lsf{letter-spacing:-0.062400px;}
.ls5{letter-spacing:-0.056040px;}
.ls18{letter-spacing:-0.052800px;}
.ls1e{letter-spacing:-0.048000px;}
.ls0{letter-spacing:-0.044856px;}
.ls6{letter-spacing:-0.036000px;}
.ls3{letter-spacing:-0.033624px;}
.ls1b{letter-spacing:-0.033600px;}
.ls1a{letter-spacing:-0.028800px;}
.ls4{letter-spacing:-0.022416px;}
.ls8{letter-spacing:-0.019200px;}
.lsb{letter-spacing:-0.014400px;}
.ls13{letter-spacing:-0.009600px;}
.lsd{letter-spacing:-0.004800px;}
.ls1{letter-spacing:0.000000px;}
.ls17{letter-spacing:0.004800px;}
.ls14{letter-spacing:0.009600px;}
.lsa{letter-spacing:0.014400px;}
.ls12{letter-spacing:0.019200px;}
.ls10{letter-spacing:0.024000px;}
.ls9{letter-spacing:0.028800px;}
.lsc{letter-spacing:0.033600px;}
.ls15{letter-spacing:0.038400px;}
.ls11{letter-spacing:0.043200px;}
.ls19{letter-spacing:0.048000px;}
.ls1d{letter-spacing:0.052800px;}
.ls1c{letter-spacing:0.062400px;}
.lse{letter-spacing:0.081600px;}
.ls7{letter-spacing:564.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws25{word-spacing:-0.278400px;}
.ws27{word-spacing:-0.182400px;}
.wsa{word-spacing:-0.148800px;}
.wse{word-spacing:-0.139200px;}
.ws21{word-spacing:-0.134400px;}
.ws19{word-spacing:-0.129600px;}
.ws1d{word-spacing:-0.115200px;}
.ws8{word-spacing:-0.110400px;}
.wsd{word-spacing:-0.100800px;}
.ws15{word-spacing:-0.086400px;}
.wsc{word-spacing:-0.081600px;}
.ws1{word-spacing:-0.078456px;}
.ws24{word-spacing:-0.076800px;}
.ws1a{word-spacing:-0.072000px;}
.ws20{word-spacing:-0.067200px;}
.ws2a{word-spacing:-0.062400px;}
.ws16{word-spacing:-0.057600px;}
.ws1f{word-spacing:-0.052800px;}
.ws1b{word-spacing:-0.048000px;}
.ws18{word-spacing:-0.043200px;}
.ws11{word-spacing:-0.038400px;}
.ws28{word-spacing:-0.033600px;}
.ws5{word-spacing:-0.028800px;}
.ws14{word-spacing:-0.024000px;}
.ws1e{word-spacing:-0.019200px;}
.ws1c{word-spacing:-0.014400px;}
.ws10{word-spacing:-0.009600px;}
.ws13{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.ws4{word-spacing:0.004800px;}
.wsf{word-spacing:0.009600px;}
.ws22{word-spacing:0.014400px;}
.ws3{word-spacing:0.019200px;}
.ws6{word-spacing:0.024000px;}
.ws23{word-spacing:0.028800px;}
.ws26{word-spacing:0.033600px;}
.ws2b{word-spacing:0.048000px;}
.ws17{word-spacing:0.052800px;}
.wsb{word-spacing:0.062400px;}
.ws12{word-spacing:0.072000px;}
.ws29{word-spacing:0.100800px;}
.ws9{word-spacing:0.124800px;}
.ws7{word-spacing:0.134400px;}
.ws2{word-spacing:0.156000px;}
._0{margin-left:-1.104000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs2{font-size:60.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:112.080000px;}
.y13{bottom:16.000000px;}
.y12{bottom:39.840100px;}
.y37{bottom:75.480000px;}
.y4e{bottom:81.480000px;}
.y36{bottom:97.380000px;}
.y5b{bottom:113.220000px;}
.y35{bottom:119.220000px;}
.y5a{bottom:129.120000px;}
.y34{bottom:135.120000px;}
.y4d{bottom:141.120000px;}
.y59{bottom:150.960000px;}
.y33{bottom:156.960000px;}
.y58{bottom:172.860000px;}
.y32{bottom:178.860000px;}
.y57{bottom:188.700000px;}
.y31{bottom:194.700000px;}
.y4c{bottom:200.700000px;}
.y30{bottom:210.600000px;}
.y4b{bottom:216.600000px;}
.y2f{bottom:226.440000px;}
.y4a{bottom:232.440000px;}
.y2e{bottom:242.340000px;}
.y49{bottom:248.340000px;}
.y2d{bottom:258.180000px;}
.y48{bottom:264.180000px;}
.y2c{bottom:274.080000px;}
.y11{bottom:279.540000px;}
.y47{bottom:280.080000px;}
.y2b{bottom:295.920000px;}
.y10{bottom:296.520000px;}
.y56{bottom:311.760000px;}
.yf{bottom:316.320000px;}
.y2a{bottom:317.760000px;}
.y55{bottom:327.660000px;}
.y29{bottom:333.660000px;}
.y46{bottom:339.660000px;}
.ye{bottom:341.171160px;}
.y64{bottom:343.500000px;}
.y54{bottom:349.500000px;}
.y28{bottom:355.500000px;}
.y63{bottom:365.400000px;}
.y53{bottom:371.400000px;}
.y27{bottom:377.400000px;}
.yd{bottom:378.185580px;}
.y52{bottom:387.240000px;}
.y26{bottom:393.240000px;}
.y45{bottom:399.240000px;}
.y62{bottom:403.140000px;}
.y25{bottom:409.140000px;}
.y44{bottom:415.140000px;}
.yc{bottom:415.200000px;}
.y24{bottom:424.980000px;}
.y43{bottom:430.980000px;}
.y23{bottom:440.880000px;}
.y42{bottom:446.880000px;}
.yb{bottom:447.240000px;}
.y22{bottom:456.720000px;}
.y41{bottom:462.720000px;}
.y0{bottom:463.500000px;}
.ya{bottom:463.800000px;}
.y21{bottom:472.620000px;}
.y40{bottom:478.620000px;}
.y20{bottom:494.460000px;}
.y3f{bottom:510.360000px;}
.y1f{bottom:516.360000px;}
.y51{bottom:526.200000px;}
.y1e{bottom:532.200000px;}
.y61{bottom:542.100000px;}
.y50{bottom:548.100000px;}
.y1d{bottom:554.100000px;}
.y60{bottom:557.940000px;}
.y9{bottom:567.180000px;}
.y3e{bottom:569.940000px;}
.y5f{bottom:573.840000px;}
.y1c{bottom:575.940000px;}
.y66{bottom:579.840000px;}
.y4f{bottom:585.840000px;}
.y8{bottom:586.980000px;}
.y1b{bottom:591.840000px;}
.y5e{bottom:595.680000px;}
.y65{bottom:601.680000px;}
.y7{bottom:606.840000px;}
.y1a{bottom:607.680000px;}
.y3d{bottom:613.680000px;}
.y5d{bottom:617.580000px;}
.y19{bottom:623.580000px;}
.y6{bottom:626.700000px;}
.y3c{bottom:629.580000px;}
.y5c{bottom:633.420000px;}
.y18{bottom:639.420000px;}
.y3b{bottom:645.420000px;}
.y5{bottom:646.500000px;}
.y17{bottom:655.320000px;}
.y3a{bottom:661.320000px;}
.y4{bottom:666.360000px;}
.y16{bottom:671.160000px;}
.y39{bottom:677.160000px;}
.y3{bottom:686.160000px;}
.y15{bottom:687.060000px;}
.y38{bottom:693.060000px;}
.y2{bottom:706.020000px;}
.y14{bottom:708.900000px;}
.y1{bottom:740.820000px;}
.h6{height:29.272852px;}
.h2{height:43.804688px;}
.h5{height:53.250000px;}
.h8{height:54.960938px;}
.h3{height:68.701172px;}
.h7{height:69.015625px;}
.h1{height:98.000000px;}
.h4{height:128.333789px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x8{left:72.000000px;}
.x5{left:101.473560px;}
.x0{left:135.500000px;}
.xa{left:253.000000px;}
.x4{left:256.200000px;}
.x7{left:265.980000px;}
.x6{left:271.751100px;}
.x1{left:279.600000px;}
.x2{left:306.000000px;}
.x3{left:477.720000px;}
.x9{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-0.102528pt;}
.ls16{letter-spacing:-0.096000pt;}
.lsf{letter-spacing:-0.083200pt;}
.ls5{letter-spacing:-0.074720pt;}
.ls18{letter-spacing:-0.070400pt;}
.ls1e{letter-spacing:-0.064000pt;}
.ls0{letter-spacing:-0.059808pt;}
.ls6{letter-spacing:-0.048000pt;}
.ls3{letter-spacing:-0.044832pt;}
.ls1b{letter-spacing:-0.044800pt;}
.ls1a{letter-spacing:-0.038400pt;}
.ls4{letter-spacing:-0.029888pt;}
.ls8{letter-spacing:-0.025600pt;}
.lsb{letter-spacing:-0.019200pt;}
.ls13{letter-spacing:-0.012800pt;}
.lsd{letter-spacing:-0.006400pt;}
.ls1{letter-spacing:0.000000pt;}
.ls17{letter-spacing:0.006400pt;}
.ls14{letter-spacing:0.012800pt;}
.lsa{letter-spacing:0.019200pt;}
.ls12{letter-spacing:0.025600pt;}
.ls10{letter-spacing:0.032000pt;}
.ls9{letter-spacing:0.038400pt;}
.lsc{letter-spacing:0.044800pt;}
.ls15{letter-spacing:0.051200pt;}
.ls11{letter-spacing:0.057600pt;}
.ls19{letter-spacing:0.064000pt;}
.ls1d{letter-spacing:0.070400pt;}
.ls1c{letter-spacing:0.083200pt;}
.lse{letter-spacing:0.108800pt;}
.ls7{letter-spacing:752.000000pt;}
.ws25{word-spacing:-0.371200pt;}
.ws27{word-spacing:-0.243200pt;}
.wsa{word-spacing:-0.198400pt;}
.wse{word-spacing:-0.185600pt;}
.ws21{word-spacing:-0.179200pt;}
.ws19{word-spacing:-0.172800pt;}
.ws1d{word-spacing:-0.153600pt;}
.ws8{word-spacing:-0.147200pt;}
.wsd{word-spacing:-0.134400pt;}
.ws15{word-spacing:-0.115200pt;}
.wsc{word-spacing:-0.108800pt;}
.ws1{word-spacing:-0.104608pt;}
.ws24{word-spacing:-0.102400pt;}
.ws1a{word-spacing:-0.096000pt;}
.ws20{word-spacing:-0.089600pt;}
.ws2a{word-spacing:-0.083200pt;}
.ws16{word-spacing:-0.076800pt;}
.ws1f{word-spacing:-0.070400pt;}
.ws1b{word-spacing:-0.064000pt;}
.ws18{word-spacing:-0.057600pt;}
.ws11{word-spacing:-0.051200pt;}
.ws28{word-spacing:-0.044800pt;}
.ws5{word-spacing:-0.038400pt;}
.ws14{word-spacing:-0.032000pt;}
.ws1e{word-spacing:-0.025600pt;}
.ws1c{word-spacing:-0.019200pt;}
.ws10{word-spacing:-0.012800pt;}
.ws13{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.ws4{word-spacing:0.006400pt;}
.wsf{word-spacing:0.012800pt;}
.ws22{word-spacing:0.019200pt;}
.ws3{word-spacing:0.025600pt;}
.ws6{word-spacing:0.032000pt;}
.ws23{word-spacing:0.038400pt;}
.ws26{word-spacing:0.044800pt;}
.ws2b{word-spacing:0.064000pt;}
.ws17{word-spacing:0.070400pt;}
.wsb{word-spacing:0.083200pt;}
.ws12{word-spacing:0.096000pt;}
.ws29{word-spacing:0.134400pt;}
.ws9{word-spacing:0.166400pt;}
.ws7{word-spacing:0.179200pt;}
.ws2{word-spacing:0.208000pt;}
._0{margin-left:-1.472000pt;}
.fs1{font-size:58.560000pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs2{font-size:80.000000pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:149.440000pt;}
.y13{bottom:21.333333pt;}
.y12{bottom:53.120133pt;}
.y37{bottom:100.640000pt;}
.y4e{bottom:108.640000pt;}
.y36{bottom:129.840000pt;}
.y5b{bottom:150.960000pt;}
.y35{bottom:158.960000pt;}
.y5a{bottom:172.160000pt;}
.y34{bottom:180.160000pt;}
.y4d{bottom:188.160000pt;}
.y59{bottom:201.280000pt;}
.y33{bottom:209.280000pt;}
.y58{bottom:230.480000pt;}
.y32{bottom:238.480000pt;}
.y57{bottom:251.600000pt;}
.y31{bottom:259.600000pt;}
.y4c{bottom:267.600000pt;}
.y30{bottom:280.800000pt;}
.y4b{bottom:288.800000pt;}
.y2f{bottom:301.920000pt;}
.y4a{bottom:309.920000pt;}
.y2e{bottom:323.120000pt;}
.y49{bottom:331.120000pt;}
.y2d{bottom:344.240000pt;}
.y48{bottom:352.240000pt;}
.y2c{bottom:365.440000pt;}
.y11{bottom:372.720000pt;}
.y47{bottom:373.440000pt;}
.y2b{bottom:394.560000pt;}
.y10{bottom:395.360000pt;}
.y56{bottom:415.680000pt;}
.yf{bottom:421.760000pt;}
.y2a{bottom:423.680000pt;}
.y55{bottom:436.880000pt;}
.y29{bottom:444.880000pt;}
.y46{bottom:452.880000pt;}
.ye{bottom:454.894880pt;}
.y64{bottom:458.000000pt;}
.y54{bottom:466.000000pt;}
.y28{bottom:474.000000pt;}
.y63{bottom:487.200000pt;}
.y53{bottom:495.200000pt;}
.y27{bottom:503.200000pt;}
.yd{bottom:504.247440pt;}
.y52{bottom:516.320000pt;}
.y26{bottom:524.320000pt;}
.y45{bottom:532.320000pt;}
.y62{bottom:537.520000pt;}
.y25{bottom:545.520000pt;}
.y44{bottom:553.520000pt;}
.yc{bottom:553.600000pt;}
.y24{bottom:566.640000pt;}
.y43{bottom:574.640000pt;}
.y23{bottom:587.840000pt;}
.y42{bottom:595.840000pt;}
.yb{bottom:596.320000pt;}
.y22{bottom:608.960000pt;}
.y41{bottom:616.960000pt;}
.y0{bottom:618.000000pt;}
.ya{bottom:618.400000pt;}
.y21{bottom:630.160000pt;}
.y40{bottom:638.160000pt;}
.y20{bottom:659.280000pt;}
.y3f{bottom:680.480000pt;}
.y1f{bottom:688.480000pt;}
.y51{bottom:701.600000pt;}
.y1e{bottom:709.600000pt;}
.y61{bottom:722.800000pt;}
.y50{bottom:730.800000pt;}
.y1d{bottom:738.800000pt;}
.y60{bottom:743.920000pt;}
.y9{bottom:756.240000pt;}
.y3e{bottom:759.920000pt;}
.y5f{bottom:765.120000pt;}
.y1c{bottom:767.920000pt;}
.y66{bottom:773.120000pt;}
.y4f{bottom:781.120000pt;}
.y8{bottom:782.640000pt;}
.y1b{bottom:789.120000pt;}
.y5e{bottom:794.240000pt;}
.y65{bottom:802.240000pt;}
.y7{bottom:809.120000pt;}
.y1a{bottom:810.240000pt;}
.y3d{bottom:818.240000pt;}
.y5d{bottom:823.440000pt;}
.y19{bottom:831.440000pt;}
.y6{bottom:835.600000pt;}
.y3c{bottom:839.440000pt;}
.y5c{bottom:844.560000pt;}
.y18{bottom:852.560000pt;}
.y3b{bottom:860.560000pt;}
.y5{bottom:862.000000pt;}
.y17{bottom:873.760000pt;}
.y3a{bottom:881.760000pt;}
.y4{bottom:888.480000pt;}
.y16{bottom:894.880000pt;}
.y39{bottom:902.880000pt;}
.y3{bottom:914.880000pt;}
.y15{bottom:916.080000pt;}
.y38{bottom:924.080000pt;}
.y2{bottom:941.360000pt;}
.y14{bottom:945.200000pt;}
.y1{bottom:987.760000pt;}
.h6{height:39.030469pt;}
.h2{height:58.406250pt;}
.h5{height:71.000000pt;}
.h8{height:73.281250pt;}
.h3{height:91.601562pt;}
.h7{height:92.020833pt;}
.h1{height:130.666667pt;}
.h4{height:171.111719pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x8{left:96.000000pt;}
.x5{left:135.298080pt;}
.x0{left:180.666667pt;}
.xa{left:337.333333pt;}
.x4{left:341.600000pt;}
.x7{left:354.640000pt;}
.x6{left:362.334800pt;}
.x1{left:372.800000pt;}
.x2{left:408.000000pt;}
.x3{left:636.960000pt;}
.x9{left:673.040000pt;}
}
