.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls14{letter-spacing:-0.105600px;}
.ls1c{letter-spacing:-0.100800px;}
.lsb{letter-spacing:-0.096000px;}
.ls11{letter-spacing:-0.062400px;}
.ls19{letter-spacing:-0.057600px;}
.ls10{letter-spacing:-0.052800px;}
.ls1{letter-spacing:-0.049632px;}
.ls13{letter-spacing:-0.033600px;}
.ls1b{letter-spacing:-0.028800px;}
.ls2{letter-spacing:-0.024816px;}
.ls18{letter-spacing:-0.019200px;}
.ls17{letter-spacing:-0.014400px;}
.ls15{letter-spacing:-0.009600px;}
.ls9{letter-spacing:-0.004800px;}
.ls0{letter-spacing:0.000000px;}
.ls6{letter-spacing:0.004800px;}
.ls7{letter-spacing:0.009600px;}
.ls4{letter-spacing:0.014400px;}
.lsd{letter-spacing:0.019200px;}
.ls5{letter-spacing:0.024000px;}
.lsc{letter-spacing:0.028800px;}
.ls3{letter-spacing:0.033600px;}
.ls8{letter-spacing:0.038400px;}
.ls16{letter-spacing:0.043200px;}
.ls1a{letter-spacing:0.048000px;}
.lse{letter-spacing:0.052800px;}
.ls12{letter-spacing:0.057600px;}
.lsf{letter-spacing:0.062400px;}
.lsa{letter-spacing:0.086400px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws2e{word-spacing:-0.201600px;}
.ws24{word-spacing:-0.187200px;}
.ws2c{word-spacing:-0.168000px;}
.ws2b{word-spacing:-0.163200px;}
.ws3{word-spacing:-0.153600px;}
.ws26{word-spacing:-0.139200px;}
.ws22{word-spacing:-0.129600px;}
.ws10{word-spacing:-0.124800px;}
.ws28{word-spacing:-0.115200px;}
.ws1e{word-spacing:-0.110400px;}
.wsf{word-spacing:-0.105600px;}
.ws18{word-spacing:-0.100800px;}
.ws1d{word-spacing:-0.096000px;}
.wse{word-spacing:-0.091200px;}
.ws1{word-spacing:-0.086856px;}
.ws14{word-spacing:-0.086400px;}
.ws1f{word-spacing:-0.081600px;}
.ws1c{word-spacing:-0.076800px;}
.ws9{word-spacing:-0.072000px;}
.ws25{word-spacing:-0.067200px;}
.ws13{word-spacing:-0.062400px;}
.ws8{word-spacing:-0.057600px;}
.ws4{word-spacing:-0.052800px;}
.wsd{word-spacing:-0.048000px;}
.wsb{word-spacing:-0.043200px;}
.wsa{word-spacing:-0.038400px;}
.ws6{word-spacing:-0.033600px;}
.ws12{word-spacing:-0.028800px;}
.ws5{word-spacing:-0.024000px;}
.ws1a{word-spacing:-0.019200px;}
.ws15{word-spacing:-0.014400px;}
.ws7{word-spacing:-0.009600px;}
.ws20{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.wsc{word-spacing:0.004800px;}
.ws1b{word-spacing:0.009600px;}
.ws23{word-spacing:0.014400px;}
.ws16{word-spacing:0.019200px;}
.ws21{word-spacing:0.024000px;}
.ws2a{word-spacing:0.028800px;}
.ws19{word-spacing:0.033600px;}
.ws11{word-spacing:0.038400px;}
.ws27{word-spacing:0.057600px;}
.ws2{word-spacing:0.061128px;}
.ws17{word-spacing:0.062400px;}
.ws29{word-spacing:0.072000px;}
.ws2d{word-spacing:0.340800px;}
._0{margin-left:-1.224000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:48.000000px;}
.fs2{font-size:55.920000px;}
.fs5{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs4{font-size:67.920000px;}
.fs3{font-size:124.080000px;}
.y17{bottom:16.000000px;}
.y16{bottom:39.000000px;}
.y66{bottom:83.700000px;}
.y4f{bottom:86.100100px;}
.y45{bottom:88.020000px;}
.y65{bottom:97.500000px;}
.y4e{bottom:99.900100px;}
.y44{bottom:101.820000px;}
.y64{bottom:111.300000px;}
.y4d{bottom:113.700100px;}
.y43{bottom:115.620000px;}
.y63{bottom:125.100000px;}
.y4c{bottom:127.500100px;}
.y42{bottom:129.420000px;}
.y62{bottom:138.900000px;}
.y4b{bottom:141.300100px;}
.y41{bottom:143.220000px;}
.y61{bottom:152.700000px;}
.y4a{bottom:155.100100px;}
.y40{bottom:157.020000px;}
.y60{bottom:166.500000px;}
.y49{bottom:168.900100px;}
.y3f{bottom:170.820000px;}
.y5f{bottom:180.300000px;}
.y48{bottom:182.700100px;}
.y3e{bottom:184.620000px;}
.y46{bottom:193.500000px;}
.y47{bottom:193.740100px;}
.y5e{bottom:194.100000px;}
.y3d{bottom:198.420000px;}
.y5d{bottom:207.900000px;}
.y3c{bottom:212.220000px;}
.y5c{bottom:221.700000px;}
.y3b{bottom:226.020000px;}
.y5b{bottom:235.500000px;}
.y3a{bottom:239.820000px;}
.y5a{bottom:249.300000px;}
.y39{bottom:253.620000px;}
.y15{bottom:254.760100px;}
.y59{bottom:263.100000px;}
.y38{bottom:267.420000px;}
.y14{bottom:273.664420px;}
.y58{bottom:276.900000px;}
.y37{bottom:281.220000px;}
.y57{bottom:290.700000px;}
.y12{bottom:293.454060px;}
.y13{bottom:293.460100px;}
.y36{bottom:295.020000px;}
.y56{bottom:304.500000px;}
.y35{bottom:308.820000px;}
.y55{bottom:318.300000px;}
.y34{bottom:322.620000px;}
.y11{bottom:329.096040px;}
.y54{bottom:332.100000px;}
.y33{bottom:336.420000px;}
.y53{bottom:345.900000px;}
.y32{bottom:350.220000px;}
.y52{bottom:359.700000px;}
.y31{bottom:363.960000px;}
.y10{bottom:364.738020px;}
.y50{bottom:370.500000px;}
.y51{bottom:370.740000px;}
.y30{bottom:377.760000px;}
.y2f{bottom:391.560000px;}
.yf{bottom:400.380000px;}
.y2e{bottom:405.360000px;}
.y2d{bottom:419.160000px;}
.ye{bottom:432.357720px;}
.y2c{bottom:432.960000px;}
.y2b{bottom:446.760000px;}
.yd{bottom:448.434720px;}
.y2a{bottom:460.560000px;}
.y0{bottom:461.500000px;}
.yc{bottom:461.520000px;}
.y29{bottom:474.360000px;}
.y28{bottom:488.160000px;}
.y27{bottom:501.960000px;}
.y26{bottom:515.760000px;}
.y25{bottom:529.560000px;}
.y24{bottom:543.360000px;}
.y23{bottom:557.160000px;}
.yb{bottom:562.017300px;}
.y22{bottom:570.960000px;}
.ya{bottom:578.164200px;}
.y21{bottom:584.760000px;}
.y9{bottom:594.241200px;}
.y20{bottom:598.560000px;}
.y8{bottom:610.318200px;}
.y1f{bottom:612.360000px;}
.y1e{bottom:626.160000px;}
.y7{bottom:626.395200px;}
.y1d{bottom:639.960000px;}
.y6{bottom:642.542100px;}
.y1c{bottom:653.760000px;}
.y5{bottom:658.619100px;}
.y1b{bottom:667.560000px;}
.y4{bottom:674.696100px;}
.y1a{bottom:681.360000px;}
.y3{bottom:690.843000px;}
.y19{bottom:695.160000px;}
.y2{bottom:706.920000px;}
.y18{bottom:708.960000px;}
.y1{bottom:741.120000px;}
.h6{height:53.250000px;}
.h8{height:54.960938px;}
.h3{height:64.029492px;}
.h7{height:69.015625px;}
.h2{height:73.372852px;}
.h5{height:77.769727px;}
.h1{height:98.000000px;}
.h4{height:142.074023px;}
.h9{height:251.000000px;}
.ha{height:349.500000px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w2{width:468.000000px;}
.w0{width:612.000000px;}
.xb{left:72.000000px;}
.x5{left:73.076580px;}
.x0{left:135.000000px;}
.x4{left:247.440000px;}
.xa{left:253.000000px;}
.x8{left:264.900000px;}
.x6{left:268.068300px;}
.x1{left:275.760000px;}
.x2{left:306.000000px;}
.x7{left:343.860000px;}
.x3{left:477.000000px;}
.x9{left:516.960000px;}
.xc{left:539.879900px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls14{letter-spacing:-0.140800pt;}
.ls1c{letter-spacing:-0.134400pt;}
.lsb{letter-spacing:-0.128000pt;}
.ls11{letter-spacing:-0.083200pt;}
.ls19{letter-spacing:-0.076800pt;}
.ls10{letter-spacing:-0.070400pt;}
.ls1{letter-spacing:-0.066176pt;}
.ls13{letter-spacing:-0.044800pt;}
.ls1b{letter-spacing:-0.038400pt;}
.ls2{letter-spacing:-0.033088pt;}
.ls18{letter-spacing:-0.025600pt;}
.ls17{letter-spacing:-0.019200pt;}
.ls15{letter-spacing:-0.012800pt;}
.ls9{letter-spacing:-0.006400pt;}
.ls0{letter-spacing:0.000000pt;}
.ls6{letter-spacing:0.006400pt;}
.ls7{letter-spacing:0.012800pt;}
.ls4{letter-spacing:0.019200pt;}
.lsd{letter-spacing:0.025600pt;}
.ls5{letter-spacing:0.032000pt;}
.lsc{letter-spacing:0.038400pt;}
.ls3{letter-spacing:0.044800pt;}
.ls8{letter-spacing:0.051200pt;}
.ls16{letter-spacing:0.057600pt;}
.ls1a{letter-spacing:0.064000pt;}
.lse{letter-spacing:0.070400pt;}
.ls12{letter-spacing:0.076800pt;}
.lsf{letter-spacing:0.083200pt;}
.lsa{letter-spacing:0.115200pt;}
.ws2e{word-spacing:-0.268800pt;}
.ws24{word-spacing:-0.249600pt;}
.ws2c{word-spacing:-0.224000pt;}
.ws2b{word-spacing:-0.217600pt;}
.ws3{word-spacing:-0.204800pt;}
.ws26{word-spacing:-0.185600pt;}
.ws22{word-spacing:-0.172800pt;}
.ws10{word-spacing:-0.166400pt;}
.ws28{word-spacing:-0.153600pt;}
.ws1e{word-spacing:-0.147200pt;}
.wsf{word-spacing:-0.140800pt;}
.ws18{word-spacing:-0.134400pt;}
.ws1d{word-spacing:-0.128000pt;}
.wse{word-spacing:-0.121600pt;}
.ws1{word-spacing:-0.115808pt;}
.ws14{word-spacing:-0.115200pt;}
.ws1f{word-spacing:-0.108800pt;}
.ws1c{word-spacing:-0.102400pt;}
.ws9{word-spacing:-0.096000pt;}
.ws25{word-spacing:-0.089600pt;}
.ws13{word-spacing:-0.083200pt;}
.ws8{word-spacing:-0.076800pt;}
.ws4{word-spacing:-0.070400pt;}
.wsd{word-spacing:-0.064000pt;}
.wsb{word-spacing:-0.057600pt;}
.wsa{word-spacing:-0.051200pt;}
.ws6{word-spacing:-0.044800pt;}
.ws12{word-spacing:-0.038400pt;}
.ws5{word-spacing:-0.032000pt;}
.ws1a{word-spacing:-0.025600pt;}
.ws15{word-spacing:-0.019200pt;}
.ws7{word-spacing:-0.012800pt;}
.ws20{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.wsc{word-spacing:0.006400pt;}
.ws1b{word-spacing:0.012800pt;}
.ws23{word-spacing:0.019200pt;}
.ws16{word-spacing:0.025600pt;}
.ws21{word-spacing:0.032000pt;}
.ws2a{word-spacing:0.038400pt;}
.ws19{word-spacing:0.044800pt;}
.ws11{word-spacing:0.051200pt;}
.ws27{word-spacing:0.076800pt;}
.ws2{word-spacing:0.081504pt;}
.ws17{word-spacing:0.083200pt;}
.ws29{word-spacing:0.096000pt;}
.ws2d{word-spacing:0.454400pt;}
._0{margin-left:-1.632000pt;}
.fs1{font-size:64.000000pt;}
.fs2{font-size:74.560000pt;}
.fs5{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs4{font-size:90.560000pt;}
.fs3{font-size:165.440000pt;}
.y17{bottom:21.333333pt;}
.y16{bottom:52.000000pt;}
.y66{bottom:111.600000pt;}
.y4f{bottom:114.800133pt;}
.y45{bottom:117.360000pt;}
.y65{bottom:130.000000pt;}
.y4e{bottom:133.200133pt;}
.y44{bottom:135.760000pt;}
.y64{bottom:148.400000pt;}
.y4d{bottom:151.600133pt;}
.y43{bottom:154.160000pt;}
.y63{bottom:166.800000pt;}
.y4c{bottom:170.000133pt;}
.y42{bottom:172.560000pt;}
.y62{bottom:185.200000pt;}
.y4b{bottom:188.400133pt;}
.y41{bottom:190.960000pt;}
.y61{bottom:203.600000pt;}
.y4a{bottom:206.800133pt;}
.y40{bottom:209.360000pt;}
.y60{bottom:222.000000pt;}
.y49{bottom:225.200133pt;}
.y3f{bottom:227.760000pt;}
.y5f{bottom:240.400000pt;}
.y48{bottom:243.600133pt;}
.y3e{bottom:246.160000pt;}
.y46{bottom:258.000000pt;}
.y47{bottom:258.320133pt;}
.y5e{bottom:258.800000pt;}
.y3d{bottom:264.560000pt;}
.y5d{bottom:277.200000pt;}
.y3c{bottom:282.960000pt;}
.y5c{bottom:295.600000pt;}
.y3b{bottom:301.360000pt;}
.y5b{bottom:314.000000pt;}
.y3a{bottom:319.760000pt;}
.y5a{bottom:332.400000pt;}
.y39{bottom:338.160000pt;}
.y15{bottom:339.680133pt;}
.y59{bottom:350.800000pt;}
.y38{bottom:356.560000pt;}
.y14{bottom:364.885893pt;}
.y58{bottom:369.200000pt;}
.y37{bottom:374.960000pt;}
.y57{bottom:387.600000pt;}
.y12{bottom:391.272080pt;}
.y13{bottom:391.280133pt;}
.y36{bottom:393.360000pt;}
.y56{bottom:406.000000pt;}
.y35{bottom:411.760000pt;}
.y55{bottom:424.400000pt;}
.y34{bottom:430.160000pt;}
.y11{bottom:438.794720pt;}
.y54{bottom:442.800000pt;}
.y33{bottom:448.560000pt;}
.y53{bottom:461.200000pt;}
.y32{bottom:466.960000pt;}
.y52{bottom:479.600000pt;}
.y31{bottom:485.280000pt;}
.y10{bottom:486.317360pt;}
.y50{bottom:494.000000pt;}
.y51{bottom:494.320000pt;}
.y30{bottom:503.680000pt;}
.y2f{bottom:522.080000pt;}
.yf{bottom:533.840000pt;}
.y2e{bottom:540.480000pt;}
.y2d{bottom:558.880000pt;}
.ye{bottom:576.476960pt;}
.y2c{bottom:577.280000pt;}
.y2b{bottom:595.680000pt;}
.yd{bottom:597.912960pt;}
.y2a{bottom:614.080000pt;}
.y0{bottom:615.333333pt;}
.yc{bottom:615.360000pt;}
.y29{bottom:632.480000pt;}
.y28{bottom:650.880000pt;}
.y27{bottom:669.280000pt;}
.y26{bottom:687.680000pt;}
.y25{bottom:706.080000pt;}
.y24{bottom:724.480000pt;}
.y23{bottom:742.880000pt;}
.yb{bottom:749.356400pt;}
.y22{bottom:761.280000pt;}
.ya{bottom:770.885600pt;}
.y21{bottom:779.680000pt;}
.y9{bottom:792.321600pt;}
.y20{bottom:798.080000pt;}
.y8{bottom:813.757600pt;}
.y1f{bottom:816.480000pt;}
.y1e{bottom:834.880000pt;}
.y7{bottom:835.193600pt;}
.y1d{bottom:853.280000pt;}
.y6{bottom:856.722800pt;}
.y1c{bottom:871.680000pt;}
.y5{bottom:878.158800pt;}
.y1b{bottom:890.080000pt;}
.y4{bottom:899.594800pt;}
.y1a{bottom:908.480000pt;}
.y3{bottom:921.124000pt;}
.y19{bottom:926.880000pt;}
.y2{bottom:942.560000pt;}
.y18{bottom:945.280000pt;}
.y1{bottom:988.160000pt;}
.h6{height:71.000000pt;}
.h8{height:73.281250pt;}
.h3{height:85.372656pt;}
.h7{height:92.020833pt;}
.h2{height:97.830469pt;}
.h5{height:103.692969pt;}
.h1{height:130.666667pt;}
.h4{height:189.432031pt;}
.h9{height:334.666667pt;}
.ha{height:466.000000pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w2{width:624.000000pt;}
.w0{width:816.000000pt;}
.xb{left:96.000000pt;}
.x5{left:97.435440pt;}
.x0{left:180.000000pt;}
.x4{left:329.920000pt;}
.xa{left:337.333333pt;}
.x8{left:353.200000pt;}
.x6{left:357.424400pt;}
.x1{left:367.680000pt;}
.x2{left:408.000000pt;}
.x7{left:458.480000pt;}
.x3{left:636.000000pt;}
.x9{left:689.280000pt;}
.xc{left:719.839867pt;}
}
