.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls37{letter-spacing:-0.101016px;}
.ls47{letter-spacing:-0.092232px;}
.ls3e{letter-spacing:-0.087840px;}
.ls23{letter-spacing:-0.083448px;}
.ls40{letter-spacing:-0.079056px;}
.ls2{letter-spacing:-0.076896px;}
.ls1b{letter-spacing:-0.070272px;}
.ls4e{letter-spacing:-0.061488px;}
.ls6{letter-spacing:-0.055920px;}
.ls19{letter-spacing:-0.052704px;}
.ls34{letter-spacing:-0.048312px;}
.ls0{letter-spacing:-0.044856px;}
.ls2e{letter-spacing:-0.043920px;}
.ls2f{letter-spacing:-0.039528px;}
.ls27{letter-spacing:-0.035136px;}
.ls4{letter-spacing:-0.032400px;}
.ls1e{letter-spacing:-0.030744px;}
.ls13{letter-spacing:-0.026352px;}
.ls7{letter-spacing:-0.022368px;}
.ls11{letter-spacing:-0.021960px;}
.ls10{letter-spacing:-0.017568px;}
.ls14{letter-spacing:-0.013176px;}
.ls3{letter-spacing:-0.010800px;}
.ls29{letter-spacing:-0.008784px;}
.ls26{letter-spacing:-0.004392px;}
.ls1{letter-spacing:0.000000px;}
.ls36{letter-spacing:0.004392px;}
.ls18{letter-spacing:0.008784px;}
.ls17{letter-spacing:0.013176px;}
.lsf{letter-spacing:0.017568px;}
.ls1f{letter-spacing:0.021960px;}
.lsc{letter-spacing:0.026352px;}
.ls1c{letter-spacing:0.030744px;}
.ls15{letter-spacing:0.035136px;}
.ls1a{letter-spacing:0.039528px;}
.ls2d{letter-spacing:0.043920px;}
.lse{letter-spacing:0.048312px;}
.ls12{letter-spacing:0.052704px;}
.lsd{letter-spacing:0.057096px;}
.ls16{letter-spacing:0.061488px;}
.ls9{letter-spacing:0.065880px;}
.ls24{letter-spacing:0.070272px;}
.ls22{letter-spacing:0.074664px;}
.ls28{letter-spacing:0.079056px;}
.lsa{letter-spacing:0.083448px;}
.ls4f{letter-spacing:0.087840px;}
.ls3f{letter-spacing:0.092232px;}
.ls42{letter-spacing:0.096624px;}
.ls21{letter-spacing:0.101016px;}
.ls31{letter-spacing:0.105408px;}
.ls20{letter-spacing:0.109800px;}
.ls32{letter-spacing:0.114192px;}
.ls25{letter-spacing:0.118584px;}
.ls4b{letter-spacing:0.122976px;}
.ls44{letter-spacing:0.131760px;}
.ls2a{letter-spacing:0.144936px;}
.lsb{letter-spacing:0.149328px;}
.ls4d{letter-spacing:0.153720px;}
.ls41{letter-spacing:0.158112px;}
.ls2b{letter-spacing:0.166896px;}
.ls3c{letter-spacing:0.171288px;}
.ls3b{letter-spacing:0.175680px;}
.ls45{letter-spacing:0.180072px;}
.ls33{letter-spacing:0.184464px;}
.ls50{letter-spacing:0.193248px;}
.ls3d{letter-spacing:0.197640px;}
.ls3a{letter-spacing:0.202032px;}
.ls4c{letter-spacing:0.206424px;}
.ls8{letter-spacing:0.206904px;}
.ls48{letter-spacing:0.215208px;}
.ls2c{letter-spacing:0.219600px;}
.ls1d{letter-spacing:0.241560px;}
.ls39{letter-spacing:0.259128px;}
.ls46{letter-spacing:0.263520px;}
.ls43{letter-spacing:0.276696px;}
.ls4a{letter-spacing:0.294264px;}
.ls38{letter-spacing:0.298656px;}
.ls30{letter-spacing:0.320616px;}
.ls35{letter-spacing:0.333792px;}
.ls49{letter-spacing:0.342576px;}
.ls5{letter-spacing:566.071704px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.ws1{word-spacing:0.129600px;}
._1{margin-left:-1.010160px;}
._0{width:1.076040px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs3{font-size:48.000000px;}
.fs6{font-size:55.920000px;}
.fs5{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs4{font-size:67.920000px;}
.fs2{font-size:108.000000px;}
.ye{bottom:16.000000px;}
.yd{bottom:39.840100px;}
.y6d{bottom:78.045000px;}
.y58{bottom:83.502060px;}
.y78{bottom:83.513040px;}
.y77{bottom:93.526800px;}
.y41{bottom:93.537780px;}
.y28{bottom:99.287280px;}
.y6c{bottom:103.485660px;}
.y8c{bottom:108.053340px;}
.y57{bottom:108.942720px;}
.y40{bottom:108.953700px;}
.y76{bottom:118.967460px;}
.y27{bottom:124.727940px;}
.y6b{bottom:128.926320px;}
.y8b{bottom:133.494000px;}
.y56{bottom:134.383380px;}
.y3f{bottom:134.394360px;}
.y75{bottom:144.408120px;}
.y8a{bottom:148.975800px;}
.y26{bottom:150.168600px;}
.y6a{bottom:154.366980px;}
.y55{bottom:159.824040px;}
.y3e{bottom:159.835020px;}
.y74{bottom:169.848780px;}
.y89{bottom:174.416460px;}
.y25{bottom:175.609260px;}
.y69{bottom:179.807640px;}
.y54{bottom:185.264700px;}
.y3d{bottom:185.275680px;}
.y73{bottom:195.289440px;}
.y88{bottom:199.857120px;}
.y7f{bottom:200.691600px;}
.y24{bottom:201.049920px;}
.y68{bottom:205.248300px;}
.y53{bottom:210.705360px;}
.y3c{bottom:210.716340px;}
.y72{bottom:220.730100px;}
.y87{bottom:225.297780px;}
.y52{bottom:226.121280px;}
.y51{bottom:226.132260px;}
.y23{bottom:226.490580px;}
.y67{bottom:230.688960px;}
.y7e{bottom:236.146020px;}
.y3b{bottom:236.157000px;}
.y86{bottom:240.713700px;}
.y71{bottom:246.170760px;}
.y50{bottom:251.572920px;}
.y22{bottom:251.931240px;}
.yc{bottom:253.618360px;}
.y66{bottom:256.129620px;}
.y7d{bottom:261.586680px;}
.y3a{bottom:261.597660px;}
.y70{bottom:271.611420px;}
.y4f{bottom:277.013580px;}
.y21{bottom:277.371900px;}
.y65{bottom:281.570280px;}
.yb{bottom:281.760100px;}
.y7c{bottom:287.027340px;}
.y39{bottom:287.038320px;}
.y20{bottom:292.853700px;}
.y6f{bottom:297.052080px;}
.y4e{bottom:302.454240px;}
.y64{bottom:307.010940px;}
.y7b{bottom:312.468000px;}
.y38{bottom:312.478980px;}
.y1f{bottom:318.294360px;}
.y9{bottom:318.469200px;}
.ya{bottom:318.480000px;}
.y63{bottom:322.492740px;}
.y4d{bottom:327.949800px;}
.y7a{bottom:337.908660px;}
.y37{bottom:337.919640px;}
.y1e{bottom:343.735020px;}
.y62{bottom:347.933400px;}
.y4c{bottom:353.390460px;}
.y8{bottom:354.109200px;}
.y79{bottom:363.349320px;}
.y36{bottom:363.360300px;}
.y1d{bottom:369.175680px;}
.y61{bottom:373.374060px;}
.y4b{bottom:378.831120px;}
.y85{bottom:388.789980px;}
.y35{bottom:388.800960px;}
.y1c{bottom:394.616340px;}
.y60{bottom:398.814720px;}
.y7{bottom:399.901200px;}
.y4a{bottom:404.271780px;}
.y84{bottom:414.230640px;}
.y34{bottom:414.241620px;}
.y1b{bottom:420.057000px;}
.y5f{bottom:424.255380px;}
.y49{bottom:429.712440px;}
.y0{bottom:439.500000px;}
.y6e{bottom:439.671300px;}
.y33{bottom:439.682280px;}
.y6{bottom:439.764000px;}
.y1a{bottom:445.497660px;}
.y5e{bottom:449.696040px;}
.y48{bottom:455.153100px;}
.y83{bottom:465.111960px;}
.y32{bottom:465.122940px;}
.y19{bottom:470.938320px;}
.y5d{bottom:475.136700px;}
.y47{bottom:480.593760px;}
.y82{bottom:490.552620px;}
.y31{bottom:490.563600px;}
.y18{bottom:496.378980px;}
.y5c{bottom:500.577360px;}
.y46{bottom:506.034420px;}
.y81{bottom:515.993280px;}
.y30{bottom:516.004260px;}
.y17{bottom:521.819640px;}
.y5b{bottom:526.018020px;}
.y45{bottom:531.475080px;}
.y80{bottom:541.433940px;}
.y2f{bottom:541.444920px;}
.y16{bottom:547.260300px;}
.y5a{bottom:551.458680px;}
.y44{bottom:556.915740px;}
.y5{bottom:557.781000px;}
.y2e{bottom:566.885580px;}
.y15{bottom:572.700960px;}
.y59{bottom:576.899340px;}
.y43{bottom:582.356400px;}
.y14{bottom:588.116880px;}
.y2d{bottom:592.381140px;}
.y4{bottom:603.492000px;}
.y13{bottom:603.598680px;}
.y42{bottom:607.797060px;}
.y2c{bottom:617.821800px;}
.y12{bottom:629.039340px;}
.y2b{bottom:633.237720px;}
.y3{bottom:649.149000px;}
.y11{bottom:654.480000px;}
.y2a{bottom:658.678380px;}
.y10{bottom:681.300000px;}
.y29{bottom:684.119040px;}
.y2{bottom:694.860000px;}
.yf{bottom:709.559700px;}
.y1{bottom:740.820000px;}
.h6{height:29.272852px;}
.h9{height:31.524609px;}
.h8{height:38.226562px;}
.h2{height:43.804688px;}
.h5{height:46.429687px;}
.h4{height:53.250000px;}
.h7{height:69.015625px;}
.h1{height:98.000000px;}
.h3{height:123.662109px;}
.h0{height:792.000000px;}
.w1{width:342.500000px;}
.w0{width:612.000000px;}
.x9{left:71.999580px;}
.x5{left:79.491600px;}
.xc{left:98.988840px;}
.x0{left:135.500000px;}
.xb{left:253.000000px;}
.x4{left:255.720600px;}
.x8{left:266.220000px;}
.x6{left:273.000600px;}
.x1{left:279.120000px;}
.x2{left:306.000000px;}
.x7{left:339.000000px;}
.x3{left:477.720000px;}
.xa{left:504.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls37{letter-spacing:-0.134688pt;}
.ls47{letter-spacing:-0.122976pt;}
.ls3e{letter-spacing:-0.117120pt;}
.ls23{letter-spacing:-0.111264pt;}
.ls40{letter-spacing:-0.105408pt;}
.ls2{letter-spacing:-0.102528pt;}
.ls1b{letter-spacing:-0.093696pt;}
.ls4e{letter-spacing:-0.081984pt;}
.ls6{letter-spacing:-0.074560pt;}
.ls19{letter-spacing:-0.070272pt;}
.ls34{letter-spacing:-0.064416pt;}
.ls0{letter-spacing:-0.059808pt;}
.ls2e{letter-spacing:-0.058560pt;}
.ls2f{letter-spacing:-0.052704pt;}
.ls27{letter-spacing:-0.046848pt;}
.ls4{letter-spacing:-0.043200pt;}
.ls1e{letter-spacing:-0.040992pt;}
.ls13{letter-spacing:-0.035136pt;}
.ls7{letter-spacing:-0.029824pt;}
.ls11{letter-spacing:-0.029280pt;}
.ls10{letter-spacing:-0.023424pt;}
.ls14{letter-spacing:-0.017568pt;}
.ls3{letter-spacing:-0.014400pt;}
.ls29{letter-spacing:-0.011712pt;}
.ls26{letter-spacing:-0.005856pt;}
.ls1{letter-spacing:0.000000pt;}
.ls36{letter-spacing:0.005856pt;}
.ls18{letter-spacing:0.011712pt;}
.ls17{letter-spacing:0.017568pt;}
.lsf{letter-spacing:0.023424pt;}
.ls1f{letter-spacing:0.029280pt;}
.lsc{letter-spacing:0.035136pt;}
.ls1c{letter-spacing:0.040992pt;}
.ls15{letter-spacing:0.046848pt;}
.ls1a{letter-spacing:0.052704pt;}
.ls2d{letter-spacing:0.058560pt;}
.lse{letter-spacing:0.064416pt;}
.ls12{letter-spacing:0.070272pt;}
.lsd{letter-spacing:0.076128pt;}
.ls16{letter-spacing:0.081984pt;}
.ls9{letter-spacing:0.087840pt;}
.ls24{letter-spacing:0.093696pt;}
.ls22{letter-spacing:0.099552pt;}
.ls28{letter-spacing:0.105408pt;}
.lsa{letter-spacing:0.111264pt;}
.ls4f{letter-spacing:0.117120pt;}
.ls3f{letter-spacing:0.122976pt;}
.ls42{letter-spacing:0.128832pt;}
.ls21{letter-spacing:0.134688pt;}
.ls31{letter-spacing:0.140544pt;}
.ls20{letter-spacing:0.146400pt;}
.ls32{letter-spacing:0.152256pt;}
.ls25{letter-spacing:0.158112pt;}
.ls4b{letter-spacing:0.163968pt;}
.ls44{letter-spacing:0.175680pt;}
.ls2a{letter-spacing:0.193248pt;}
.lsb{letter-spacing:0.199104pt;}
.ls4d{letter-spacing:0.204960pt;}
.ls41{letter-spacing:0.210816pt;}
.ls2b{letter-spacing:0.222528pt;}
.ls3c{letter-spacing:0.228384pt;}
.ls3b{letter-spacing:0.234240pt;}
.ls45{letter-spacing:0.240096pt;}
.ls33{letter-spacing:0.245952pt;}
.ls50{letter-spacing:0.257664pt;}
.ls3d{letter-spacing:0.263520pt;}
.ls3a{letter-spacing:0.269376pt;}
.ls4c{letter-spacing:0.275232pt;}
.ls8{letter-spacing:0.275872pt;}
.ls48{letter-spacing:0.286944pt;}
.ls2c{letter-spacing:0.292800pt;}
.ls1d{letter-spacing:0.322080pt;}
.ls39{letter-spacing:0.345504pt;}
.ls46{letter-spacing:0.351360pt;}
.ls43{letter-spacing:0.368928pt;}
.ls4a{letter-spacing:0.392352pt;}
.ls38{letter-spacing:0.398208pt;}
.ls30{letter-spacing:0.427488pt;}
.ls35{letter-spacing:0.445056pt;}
.ls49{letter-spacing:0.456768pt;}
.ls5{letter-spacing:754.762272pt;}
.ws0{word-spacing:0.000000pt;}
.ws1{word-spacing:0.172800pt;}
._1{margin-left:-1.346880pt;}
._0{width:1.434720pt;}
.fs1{font-size:58.560000pt;}
.fs3{font-size:64.000000pt;}
.fs6{font-size:74.560000pt;}
.fs5{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs4{font-size:90.560000pt;}
.fs2{font-size:144.000000pt;}
.ye{bottom:21.333333pt;}
.yd{bottom:53.120133pt;}
.y6d{bottom:104.060000pt;}
.y58{bottom:111.336080pt;}
.y78{bottom:111.350720pt;}
.y77{bottom:124.702400pt;}
.y41{bottom:124.717040pt;}
.y28{bottom:132.383040pt;}
.y6c{bottom:137.980880pt;}
.y8c{bottom:144.071120pt;}
.y57{bottom:145.256960pt;}
.y40{bottom:145.271600pt;}
.y76{bottom:158.623280pt;}
.y27{bottom:166.303920pt;}
.y6b{bottom:171.901760pt;}
.y8b{bottom:177.992000pt;}
.y56{bottom:179.177840pt;}
.y3f{bottom:179.192480pt;}
.y75{bottom:192.544160pt;}
.y8a{bottom:198.634400pt;}
.y26{bottom:200.224800pt;}
.y6a{bottom:205.822640pt;}
.y55{bottom:213.098720pt;}
.y3e{bottom:213.113360pt;}
.y74{bottom:226.465040pt;}
.y89{bottom:232.555280pt;}
.y25{bottom:234.145680pt;}
.y69{bottom:239.743520pt;}
.y54{bottom:247.019600pt;}
.y3d{bottom:247.034240pt;}
.y73{bottom:260.385920pt;}
.y88{bottom:266.476160pt;}
.y7f{bottom:267.588800pt;}
.y24{bottom:268.066560pt;}
.y68{bottom:273.664400pt;}
.y53{bottom:280.940480pt;}
.y3c{bottom:280.955120pt;}
.y72{bottom:294.306800pt;}
.y87{bottom:300.397040pt;}
.y52{bottom:301.495040pt;}
.y51{bottom:301.509680pt;}
.y23{bottom:301.987440pt;}
.y67{bottom:307.585280pt;}
.y7e{bottom:314.861360pt;}
.y3b{bottom:314.876000pt;}
.y86{bottom:320.951600pt;}
.y71{bottom:328.227680pt;}
.y50{bottom:335.430560pt;}
.y22{bottom:335.908320pt;}
.yc{bottom:338.157813pt;}
.y66{bottom:341.506160pt;}
.y7d{bottom:348.782240pt;}
.y3a{bottom:348.796880pt;}
.y70{bottom:362.148560pt;}
.y4f{bottom:369.351440pt;}
.y21{bottom:369.829200pt;}
.y65{bottom:375.427040pt;}
.yb{bottom:375.680133pt;}
.y7c{bottom:382.703120pt;}
.y39{bottom:382.717760pt;}
.y20{bottom:390.471600pt;}
.y6f{bottom:396.069440pt;}
.y4e{bottom:403.272320pt;}
.y64{bottom:409.347920pt;}
.y7b{bottom:416.624000pt;}
.y38{bottom:416.638640pt;}
.y1f{bottom:424.392480pt;}
.y9{bottom:424.625600pt;}
.ya{bottom:424.640000pt;}
.y63{bottom:429.990320pt;}
.y4d{bottom:437.266400pt;}
.y7a{bottom:450.544880pt;}
.y37{bottom:450.559520pt;}
.y1e{bottom:458.313360pt;}
.y62{bottom:463.911200pt;}
.y4c{bottom:471.187280pt;}
.y8{bottom:472.145600pt;}
.y79{bottom:484.465760pt;}
.y36{bottom:484.480400pt;}
.y1d{bottom:492.234240pt;}
.y61{bottom:497.832080pt;}
.y4b{bottom:505.108160pt;}
.y85{bottom:518.386640pt;}
.y35{bottom:518.401280pt;}
.y1c{bottom:526.155120pt;}
.y60{bottom:531.752960pt;}
.y7{bottom:533.201600pt;}
.y4a{bottom:539.029040pt;}
.y84{bottom:552.307520pt;}
.y34{bottom:552.322160pt;}
.y1b{bottom:560.076000pt;}
.y5f{bottom:565.673840pt;}
.y49{bottom:572.949920pt;}
.y0{bottom:586.000000pt;}
.y6e{bottom:586.228400pt;}
.y33{bottom:586.243040pt;}
.y6{bottom:586.352000pt;}
.y1a{bottom:593.996880pt;}
.y5e{bottom:599.594720pt;}
.y48{bottom:606.870800pt;}
.y83{bottom:620.149280pt;}
.y32{bottom:620.163920pt;}
.y19{bottom:627.917760pt;}
.y5d{bottom:633.515600pt;}
.y47{bottom:640.791680pt;}
.y82{bottom:654.070160pt;}
.y31{bottom:654.084800pt;}
.y18{bottom:661.838640pt;}
.y5c{bottom:667.436480pt;}
.y46{bottom:674.712560pt;}
.y81{bottom:687.991040pt;}
.y30{bottom:688.005680pt;}
.y17{bottom:695.759520pt;}
.y5b{bottom:701.357360pt;}
.y45{bottom:708.633440pt;}
.y80{bottom:721.911920pt;}
.y2f{bottom:721.926560pt;}
.y16{bottom:729.680400pt;}
.y5a{bottom:735.278240pt;}
.y44{bottom:742.554320pt;}
.y5{bottom:743.708000pt;}
.y2e{bottom:755.847440pt;}
.y15{bottom:763.601280pt;}
.y59{bottom:769.199120pt;}
.y43{bottom:776.475200pt;}
.y14{bottom:784.155840pt;}
.y2d{bottom:789.841520pt;}
.y4{bottom:804.656000pt;}
.y13{bottom:804.798240pt;}
.y42{bottom:810.396080pt;}
.y2c{bottom:823.762400pt;}
.y12{bottom:838.719120pt;}
.y2b{bottom:844.316960pt;}
.y3{bottom:865.532000pt;}
.y11{bottom:872.640000pt;}
.y2a{bottom:878.237840pt;}
.y10{bottom:908.400000pt;}
.y29{bottom:912.158720pt;}
.y2{bottom:926.480000pt;}
.yf{bottom:946.079600pt;}
.y1{bottom:987.760000pt;}
.h6{height:39.030469pt;}
.h9{height:42.032812pt;}
.h8{height:50.968750pt;}
.h2{height:58.406250pt;}
.h5{height:61.906250pt;}
.h4{height:71.000000pt;}
.h7{height:92.020833pt;}
.h1{height:130.666667pt;}
.h3{height:164.882812pt;}
.h0{height:1056.000000pt;}
.w1{width:456.666667pt;}
.w0{width:816.000000pt;}
.x9{left:95.999440pt;}
.x5{left:105.988800pt;}
.xc{left:131.985120pt;}
.x0{left:180.666667pt;}
.xb{left:337.333333pt;}
.x4{left:340.960800pt;}
.x8{left:354.960000pt;}
.x6{left:364.000800pt;}
.x1{left:372.160000pt;}
.x2{left:408.000000pt;}
.x7{left:452.000000pt;}
.x3{left:636.960000pt;}
.xa{left:673.040000pt;}
}
