.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.860840;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.534180;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.456055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-0.076896px;}
.lsf{letter-spacing:-0.072000px;}
.ls16{letter-spacing:-0.062400px;}
.ls1c{letter-spacing:-0.057600px;}
.ls12{letter-spacing:-0.038400px;}
.ls1a{letter-spacing:-0.033600px;}
.ls17{letter-spacing:-0.028800px;}
.ls14{letter-spacing:-0.024000px;}
.ls6{letter-spacing:-0.019200px;}
.ls15{letter-spacing:-0.014400px;}
.ls10{letter-spacing:-0.009600px;}
.ls5{letter-spacing:-0.004800px;}
.ls1{letter-spacing:0.000000px;}
.ls3{letter-spacing:0.004800px;}
.ls7{letter-spacing:0.009600px;}
.ls8{letter-spacing:0.014400px;}
.ls9{letter-spacing:0.019200px;}
.ls0{letter-spacing:0.019224px;}
.lsd{letter-spacing:0.024000px;}
.ls11{letter-spacing:0.028800px;}
.ls13{letter-spacing:0.033600px;}
.lsb{letter-spacing:0.038400px;}
.lsc{letter-spacing:0.043200px;}
.ls19{letter-spacing:0.048000px;}
.lsa{letter-spacing:0.052800px;}
.ls1b{letter-spacing:0.062400px;}
.ls18{letter-spacing:0.072000px;}
.lse{letter-spacing:0.081600px;}
.ls4{letter-spacing:564.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws22{word-spacing:-0.144000px;}
.ws25{word-spacing:-0.134400px;}
.ws10{word-spacing:-0.129600px;}
.ws19{word-spacing:-0.124800px;}
.ws1e{word-spacing:-0.100800px;}
.ws8{word-spacing:-0.091200px;}
.wsc{word-spacing:-0.086400px;}
.ws23{word-spacing:-0.081600px;}
.ws1f{word-spacing:-0.076800px;}
.ws1a{word-spacing:-0.072000px;}
.wsb{word-spacing:-0.067200px;}
.wsd{word-spacing:-0.062400px;}
.ws11{word-spacing:-0.057600px;}
.ws9{word-spacing:-0.052800px;}
.wse{word-spacing:-0.048000px;}
.ws18{word-spacing:-0.043200px;}
.wsf{word-spacing:-0.038400px;}
.ws5{word-spacing:-0.033600px;}
.ws13{word-spacing:-0.028800px;}
.ws12{word-spacing:-0.024000px;}
.wsa{word-spacing:-0.019200px;}
.ws15{word-spacing:-0.014400px;}
.ws7{word-spacing:-0.009600px;}
.ws2{word-spacing:-0.004800px;}
.ws0{word-spacing:0.000000px;}
.ws3{word-spacing:0.004800px;}
.ws14{word-spacing:0.009600px;}
.ws20{word-spacing:0.014400px;}
.ws4{word-spacing:0.019200px;}
.ws17{word-spacing:0.024000px;}
.ws1d{word-spacing:0.028800px;}
.ws21{word-spacing:0.033600px;}
.ws16{word-spacing:0.038400px;}
.ws1c{word-spacing:0.043200px;}
.ws26{word-spacing:0.048000px;}
.ws1{word-spacing:0.054000px;}
.ws24{word-spacing:0.057600px;}
.ws1b{word-spacing:0.062400px;}
.ws6{word-spacing:0.072000px;}
._0{margin-left:-1.257600px;}
.fc2{color:rgb(54,95,145);}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.920000px;}
.fs2{font-size:48.000000px;}
.fs4{font-size:56.000000px;}
.fs0{font-size:64.080000px;}
.fs3{font-size:108.000000px;}
.yf{bottom:16.000000px;}
.ye{bottom:39.840100px;}
.y7f{bottom:78.960000px;}
.y71{bottom:82.200000px;}
.y62{bottom:91.980000px;}
.y6c{bottom:98.040000px;}
.y40{bottom:102.180000px;}
.y7e{bottom:104.820000px;}
.y70{bottom:108.060000px;}
.y28{bottom:112.200000px;}
.y61{bottom:117.840000px;}
.y6b{bottom:123.900000px;}
.y3f{bottom:128.040000px;}
.y7d{bottom:130.680000px;}
.y6f{bottom:133.920000px;}
.y27{bottom:138.060000px;}
.y60{bottom:143.700000px;}
.y54{bottom:149.760000px;}
.y3e{bottom:153.900000px;}
.y7c{bottom:156.540000px;}
.y6e{bottom:159.780000px;}
.y26{bottom:163.920000px;}
.y5f{bottom:169.620000px;}
.y53{bottom:175.680000px;}
.y3d{bottom:179.760000px;}
.y7b{bottom:182.400000px;}
.y6d{bottom:185.640000px;}
.y25{bottom:189.780000px;}
.y5e{bottom:195.480000px;}
.y52{bottom:201.540000px;}
.y3c{bottom:205.680000px;}
.y7a{bottom:208.260000px;}
.y90{bottom:211.500000px;}
.y24{bottom:215.640000px;}
.y5d{bottom:221.340000px;}
.y51{bottom:227.400000px;}
.y9e{bottom:228.540000px;}
.y3b{bottom:231.540000px;}
.y79{bottom:234.180000px;}
.y8f{bottom:237.420000px;}
.y23{bottom:241.500000px;}
.y5c{bottom:247.200000px;}
.y50{bottom:253.260000px;}
.y9d{bottom:254.400000px;}
.y3a{bottom:257.400000px;}
.y78{bottom:260.040000px;}
.y8e{bottom:263.280000px;}
.y22{bottom:267.420000px;}
.y5b{bottom:273.060000px;}
.y4f{bottom:279.120000px;}
.y9c{bottom:280.260000px;}
.y39{bottom:283.260000px;}
.y77{bottom:285.900000px;}
.y8d{bottom:289.140000px;}
.y21{bottom:293.280000px;}
.y5a{bottom:298.920000px;}
.y4e{bottom:304.980000px;}
.y9b{bottom:306.120000px;}
.y38{bottom:309.120000px;}
.y76{bottom:311.760000px;}
.y8c{bottom:315.000000px;}
.y20{bottom:319.140000px;}
.y59{bottom:324.780000px;}
.yd{bottom:326.820000px;}
.y4d{bottom:330.900000px;}
.y9a{bottom:331.980000px;}
.y37{bottom:334.980000px;}
.y75{bottom:337.620000px;}
.y8b{bottom:340.860000px;}
.y1f{bottom:345.000000px;}
.y58{bottom:350.700000px;}
.yc{bottom:352.560000px;}
.y4c{bottom:356.760000px;}
.y99{bottom:357.840000px;}
.y36{bottom:360.900000px;}
.y74{bottom:363.480000px;}
.y8a{bottom:366.720000px;}
.y1e{bottom:370.860000px;}
.y57{bottom:376.560000px;}
.y35{bottom:376.740000px;}
.y4b{bottom:382.620000px;}
.y98{bottom:383.760000px;}
.yb{bottom:384.360000px;}
.ya{bottom:384.369000px;}
.y72{bottom:386.500000px;}
.y73{bottom:386.700000px;}
.y89{bottom:392.580000px;}
.y1d{bottom:396.720000px;}
.y55{bottom:399.500000px;}
.y56{bottom:399.720000px;}
.y34{bottom:402.600000px;}
.y4a{bottom:408.480000px;}
.y97{bottom:409.620000px;}
.y88{bottom:418.500000px;}
.y1c{bottom:422.580000px;}
.y33{bottom:428.460000px;}
.y9{bottom:430.080000px;}
.y49{bottom:434.340000px;}
.y96{bottom:435.480000px;}
.y87{bottom:444.360000px;}
.y1b{bottom:448.500000px;}
.y32{bottom:454.320000px;}
.y48{bottom:460.200000px;}
.y95{bottom:461.340000px;}
.y0{bottom:467.000000px;}
.y8{bottom:467.280000px;}
.y86{bottom:470.220000px;}
.y1a{bottom:474.360000px;}
.y31{bottom:480.240000px;}
.y47{bottom:486.060000px;}
.y94{bottom:487.200000px;}
.y19{bottom:490.200000px;}
.y85{bottom:496.080000px;}
.y6a{bottom:501.960000px;}
.y30{bottom:506.100000px;}
.y46{bottom:511.980000px;}
.y93{bottom:513.060000px;}
.y18{bottom:516.060000px;}
.y84{bottom:521.940000px;}
.y69{bottom:527.820000px;}
.y2f{bottom:531.960000px;}
.y91{bottom:536.000000px;}
.y92{bottom:536.280000px;}
.y45{bottom:537.840000px;}
.y17{bottom:541.980000px;}
.y83{bottom:547.800000px;}
.y68{bottom:553.680000px;}
.y2e{bottom:557.820000px;}
.y44{bottom:563.700000px;}
.y16{bottom:567.840000px;}
.y82{bottom:573.660000px;}
.y7{bottom:579.420000px;}
.y67{bottom:579.540000px;}
.y2d{bottom:583.680000px;}
.y43{bottom:589.560000px;}
.y15{bottom:593.700000px;}
.y81{bottom:599.580000px;}
.y6{bottom:605.280000px;}
.y66{bottom:605.400000px;}
.y2c{bottom:609.540000px;}
.y42{bottom:615.420000px;}
.y14{bottom:619.560000px;}
.y80{bottom:625.440000px;}
.y5{bottom:631.200000px;}
.y65{bottom:631.320000px;}
.y13{bottom:635.400000px;}
.y41{bottom:641.280000px;}
.y12{bottom:651.300000px;}
.y4{bottom:657.060000px;}
.y64{bottom:657.180000px;}
.y2b{bottom:661.320000px;}
.y11{bottom:667.140000px;}
.y2a{bottom:677.160000px;}
.y3{bottom:682.920000px;}
.y63{bottom:683.040000px;}
.y10{bottom:693.060000px;}
.y2{bottom:708.780000px;}
.y29{bottom:708.900000px;}
.y1{bottom:740.820000px;}
.h6{height:29.272852px;}
.h2{height:43.804688px;}
.h5{height:53.250000px;}
.h3{height:54.960938px;}
.h7{height:69.015625px;}
.h1{height:98.000000px;}
.h4{height:123.662109px;}
.h9{height:152.500000px;}
.ha{height:184.500000px;}
.h8{height:320.500000px;}
.h0{height:792.000000px;}
.w3{width:287.500000px;}
.w1{width:342.500000px;}
.w4{width:401.000000px;}
.w2{width:468.500000px;}
.w0{width:612.000000px;}
.x8{left:72.000000px;}
.xb{left:73.500000px;}
.x5{left:111.294000px;}
.x0{left:135.500000px;}
.xa{left:253.000000px;}
.x4{left:256.500000px;}
.x7{left:276.960000px;}
.x1{left:278.880000px;}
.x2{left:306.000000px;}
.xd{left:361.500000px;}
.xe{left:474.000000px;}
.x3{left:477.720000px;}
.x6{left:500.700000px;}
.x9{left:504.780000px;}
.xc{left:541.499900px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-0.102528pt;}
.lsf{letter-spacing:-0.096000pt;}
.ls16{letter-spacing:-0.083200pt;}
.ls1c{letter-spacing:-0.076800pt;}
.ls12{letter-spacing:-0.051200pt;}
.ls1a{letter-spacing:-0.044800pt;}
.ls17{letter-spacing:-0.038400pt;}
.ls14{letter-spacing:-0.032000pt;}
.ls6{letter-spacing:-0.025600pt;}
.ls15{letter-spacing:-0.019200pt;}
.ls10{letter-spacing:-0.012800pt;}
.ls5{letter-spacing:-0.006400pt;}
.ls1{letter-spacing:0.000000pt;}
.ls3{letter-spacing:0.006400pt;}
.ls7{letter-spacing:0.012800pt;}
.ls8{letter-spacing:0.019200pt;}
.ls9{letter-spacing:0.025600pt;}
.ls0{letter-spacing:0.025632pt;}
.lsd{letter-spacing:0.032000pt;}
.ls11{letter-spacing:0.038400pt;}
.ls13{letter-spacing:0.044800pt;}
.lsb{letter-spacing:0.051200pt;}
.lsc{letter-spacing:0.057600pt;}
.ls19{letter-spacing:0.064000pt;}
.lsa{letter-spacing:0.070400pt;}
.ls1b{letter-spacing:0.083200pt;}
.ls18{letter-spacing:0.096000pt;}
.lse{letter-spacing:0.108800pt;}
.ls4{letter-spacing:752.000000pt;}
.ws22{word-spacing:-0.192000pt;}
.ws25{word-spacing:-0.179200pt;}
.ws10{word-spacing:-0.172800pt;}
.ws19{word-spacing:-0.166400pt;}
.ws1e{word-spacing:-0.134400pt;}
.ws8{word-spacing:-0.121600pt;}
.wsc{word-spacing:-0.115200pt;}
.ws23{word-spacing:-0.108800pt;}
.ws1f{word-spacing:-0.102400pt;}
.ws1a{word-spacing:-0.096000pt;}
.wsb{word-spacing:-0.089600pt;}
.wsd{word-spacing:-0.083200pt;}
.ws11{word-spacing:-0.076800pt;}
.ws9{word-spacing:-0.070400pt;}
.wse{word-spacing:-0.064000pt;}
.ws18{word-spacing:-0.057600pt;}
.wsf{word-spacing:-0.051200pt;}
.ws5{word-spacing:-0.044800pt;}
.ws13{word-spacing:-0.038400pt;}
.ws12{word-spacing:-0.032000pt;}
.wsa{word-spacing:-0.025600pt;}
.ws15{word-spacing:-0.019200pt;}
.ws7{word-spacing:-0.012800pt;}
.ws2{word-spacing:-0.006400pt;}
.ws0{word-spacing:0.000000pt;}
.ws3{word-spacing:0.006400pt;}
.ws14{word-spacing:0.012800pt;}
.ws20{word-spacing:0.019200pt;}
.ws4{word-spacing:0.025600pt;}
.ws17{word-spacing:0.032000pt;}
.ws1d{word-spacing:0.038400pt;}
.ws21{word-spacing:0.044800pt;}
.ws16{word-spacing:0.051200pt;}
.ws1c{word-spacing:0.057600pt;}
.ws26{word-spacing:0.064000pt;}
.ws1{word-spacing:0.072000pt;}
.ws24{word-spacing:0.076800pt;}
.ws1b{word-spacing:0.083200pt;}
.ws6{word-spacing:0.096000pt;}
._0{margin-left:-1.676800pt;}
.fs1{font-size:58.560000pt;}
.fs2{font-size:64.000000pt;}
.fs4{font-size:74.666667pt;}
.fs0{font-size:85.440000pt;}
.fs3{font-size:144.000000pt;}
.yf{bottom:21.333333pt;}
.ye{bottom:53.120133pt;}
.y7f{bottom:105.280000pt;}
.y71{bottom:109.600000pt;}
.y62{bottom:122.640000pt;}
.y6c{bottom:130.720000pt;}
.y40{bottom:136.240000pt;}
.y7e{bottom:139.760000pt;}
.y70{bottom:144.080000pt;}
.y28{bottom:149.600000pt;}
.y61{bottom:157.120000pt;}
.y6b{bottom:165.200000pt;}
.y3f{bottom:170.720000pt;}
.y7d{bottom:174.240000pt;}
.y6f{bottom:178.560000pt;}
.y27{bottom:184.080000pt;}
.y60{bottom:191.600000pt;}
.y54{bottom:199.680000pt;}
.y3e{bottom:205.200000pt;}
.y7c{bottom:208.720000pt;}
.y6e{bottom:213.040000pt;}
.y26{bottom:218.560000pt;}
.y5f{bottom:226.160000pt;}
.y53{bottom:234.240000pt;}
.y3d{bottom:239.680000pt;}
.y7b{bottom:243.200000pt;}
.y6d{bottom:247.520000pt;}
.y25{bottom:253.040000pt;}
.y5e{bottom:260.640000pt;}
.y52{bottom:268.720000pt;}
.y3c{bottom:274.240000pt;}
.y7a{bottom:277.680000pt;}
.y90{bottom:282.000000pt;}
.y24{bottom:287.520000pt;}
.y5d{bottom:295.120000pt;}
.y51{bottom:303.200000pt;}
.y9e{bottom:304.720000pt;}
.y3b{bottom:308.720000pt;}
.y79{bottom:312.240000pt;}
.y8f{bottom:316.560000pt;}
.y23{bottom:322.000000pt;}
.y5c{bottom:329.600000pt;}
.y50{bottom:337.680000pt;}
.y9d{bottom:339.200000pt;}
.y3a{bottom:343.200000pt;}
.y78{bottom:346.720000pt;}
.y8e{bottom:351.040000pt;}
.y22{bottom:356.560000pt;}
.y5b{bottom:364.080000pt;}
.y4f{bottom:372.160000pt;}
.y9c{bottom:373.680000pt;}
.y39{bottom:377.680000pt;}
.y77{bottom:381.200000pt;}
.y8d{bottom:385.520000pt;}
.y21{bottom:391.040000pt;}
.y5a{bottom:398.560000pt;}
.y4e{bottom:406.640000pt;}
.y9b{bottom:408.160000pt;}
.y38{bottom:412.160000pt;}
.y76{bottom:415.680000pt;}
.y8c{bottom:420.000000pt;}
.y20{bottom:425.520000pt;}
.y59{bottom:433.040000pt;}
.yd{bottom:435.760000pt;}
.y4d{bottom:441.200000pt;}
.y9a{bottom:442.640000pt;}
.y37{bottom:446.640000pt;}
.y75{bottom:450.160000pt;}
.y8b{bottom:454.480000pt;}
.y1f{bottom:460.000000pt;}
.y58{bottom:467.600000pt;}
.yc{bottom:470.080000pt;}
.y4c{bottom:475.680000pt;}
.y99{bottom:477.120000pt;}
.y36{bottom:481.200000pt;}
.y74{bottom:484.640000pt;}
.y8a{bottom:488.960000pt;}
.y1e{bottom:494.480000pt;}
.y57{bottom:502.080000pt;}
.y35{bottom:502.320000pt;}
.y4b{bottom:510.160000pt;}
.y98{bottom:511.680000pt;}
.yb{bottom:512.480000pt;}
.ya{bottom:512.492000pt;}
.y72{bottom:515.333333pt;}
.y73{bottom:515.600000pt;}
.y89{bottom:523.440000pt;}
.y1d{bottom:528.960000pt;}
.y55{bottom:532.666667pt;}
.y56{bottom:532.960000pt;}
.y34{bottom:536.800000pt;}
.y4a{bottom:544.640000pt;}
.y97{bottom:546.160000pt;}
.y88{bottom:558.000000pt;}
.y1c{bottom:563.440000pt;}
.y33{bottom:571.280000pt;}
.y9{bottom:573.440000pt;}
.y49{bottom:579.120000pt;}
.y96{bottom:580.640000pt;}
.y87{bottom:592.480000pt;}
.y1b{bottom:598.000000pt;}
.y32{bottom:605.760000pt;}
.y48{bottom:613.600000pt;}
.y95{bottom:615.120000pt;}
.y0{bottom:622.666667pt;}
.y8{bottom:623.040000pt;}
.y86{bottom:626.960000pt;}
.y1a{bottom:632.480000pt;}
.y31{bottom:640.320000pt;}
.y47{bottom:648.080000pt;}
.y94{bottom:649.600000pt;}
.y19{bottom:653.600000pt;}
.y85{bottom:661.440000pt;}
.y6a{bottom:669.280000pt;}
.y30{bottom:674.800000pt;}
.y46{bottom:682.640000pt;}
.y93{bottom:684.080000pt;}
.y18{bottom:688.080000pt;}
.y84{bottom:695.920000pt;}
.y69{bottom:703.760000pt;}
.y2f{bottom:709.280000pt;}
.y91{bottom:714.666667pt;}
.y92{bottom:715.040000pt;}
.y45{bottom:717.120000pt;}
.y17{bottom:722.640000pt;}
.y83{bottom:730.400000pt;}
.y68{bottom:738.240000pt;}
.y2e{bottom:743.760000pt;}
.y44{bottom:751.600000pt;}
.y16{bottom:757.120000pt;}
.y82{bottom:764.880000pt;}
.y7{bottom:772.560000pt;}
.y67{bottom:772.720000pt;}
.y2d{bottom:778.240000pt;}
.y43{bottom:786.080000pt;}
.y15{bottom:791.600000pt;}
.y81{bottom:799.440000pt;}
.y6{bottom:807.040000pt;}
.y66{bottom:807.200000pt;}
.y2c{bottom:812.720000pt;}
.y42{bottom:820.560000pt;}
.y14{bottom:826.080000pt;}
.y80{bottom:833.920000pt;}
.y5{bottom:841.600000pt;}
.y65{bottom:841.760000pt;}
.y13{bottom:847.200000pt;}
.y41{bottom:855.040000pt;}
.y12{bottom:868.400000pt;}
.y4{bottom:876.080000pt;}
.y64{bottom:876.240000pt;}
.y2b{bottom:881.760000pt;}
.y11{bottom:889.520000pt;}
.y2a{bottom:902.880000pt;}
.y3{bottom:910.560000pt;}
.y63{bottom:910.720000pt;}
.y10{bottom:924.080000pt;}
.y2{bottom:945.040000pt;}
.y29{bottom:945.200000pt;}
.y1{bottom:987.760000pt;}
.h6{height:39.030469pt;}
.h2{height:58.406250pt;}
.h5{height:71.000000pt;}
.h3{height:73.281250pt;}
.h7{height:92.020833pt;}
.h1{height:130.666667pt;}
.h4{height:164.882812pt;}
.h9{height:203.333333pt;}
.ha{height:246.000000pt;}
.h8{height:427.333333pt;}
.h0{height:1056.000000pt;}
.w3{width:383.333333pt;}
.w1{width:456.666667pt;}
.w4{width:534.666667pt;}
.w2{width:624.666667pt;}
.w0{width:816.000000pt;}
.x8{left:96.000000pt;}
.xb{left:98.000000pt;}
.x5{left:148.392000pt;}
.x0{left:180.666667pt;}
.xa{left:337.333333pt;}
.x4{left:342.000000pt;}
.x7{left:369.280000pt;}
.x1{left:371.840000pt;}
.x2{left:408.000000pt;}
.xd{left:482.000000pt;}
.xe{left:632.000000pt;}
.x3{left:636.960000pt;}
.x6{left:667.600000pt;}
.x9{left:673.040000pt;}
.xc{left:721.999867pt;}
}
