.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.589369;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.695312;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc7{color:rgb(33,78,123);}
.fc4{color:rgb(102,0,0);}
.fc3{color:rgb(0,0,0);}
.fc5{color:rgb(255,0,0);}
.fc2{color:rgb(0,0,51);}
.fc6{color:rgb(66,184,55);}
.fc1{color:rgb(120,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:80.000000px;}
.fs1{font-size:160.000000px;}
.ye{bottom:17.000000px;}
.y29{bottom:31.000000px;}
.yf{bottom:44.500000px;}
.y44{bottom:51.250000px;}
.yde{bottom:62.700000px;}
.yc8{bottom:64.150000px;}
.y84{bottom:64.240000px;}
.ya6{bottom:65.250000px;}
.y8d{bottom:66.660000px;}
.y26{bottom:72.910000px;}
.y5c{bottom:76.240000px;}
.ydd{bottom:78.700000px;}
.yc7{bottom:80.150000px;}
.y77{bottom:82.160000px;}
.ya5{bottom:83.250000px;}
.y42{bottom:84.750000px;}
.y25{bottom:84.910000px;}
.ydc{bottom:94.700000px;}
.y85{bottom:95.740000px;}
.yc6{bottom:96.150000px;}
.y8e{bottom:98.160000px;}
.y24{bottom:100.910000px;}
.ya4{bottom:101.250000px;}
.y41{bottom:104.750000px;}
.y5d{bottom:107.740000px;}
.ydb{bottom:110.700000px;}
.yc5{bottom:112.150000px;}
.ya3{bottom:113.250000px;}
.y76{bottom:115.660000px;}
.y23{bottom:116.910000px;}
.y40{bottom:122.750000px;}
.yda{bottom:126.700000px;}
.yc4{bottom:128.150000px;}
.y83{bottom:129.240000px;}
.ya2{bottom:129.250000px;}
.y8c{bottom:131.660000px;}
.y22{bottom:132.910000px;}
.y75{bottom:135.660000px;}
.yd9{bottom:138.700000px;}
.yc3{bottom:140.150000px;}
.y3f{bottom:140.750000px;}
.y5b{bottom:141.240000px;}
.ya1{bottom:145.250000px;}
.y21{bottom:148.910000px;}
.y82{bottom:149.240000px;}
.yd8{bottom:150.700000px;}
.y8b{bottom:151.660000px;}
.yc2{bottom:152.150000px;}
.y3e{bottom:152.750000px;}
.y74{bottom:153.660000px;}
.y20{bottom:160.910000px;}
.y5a{bottom:161.240000px;}
.ya0{bottom:161.250000px;}
.yd7{bottom:166.700000px;}
.y81{bottom:167.240000px;}
.yc1{bottom:168.150000px;}
.y3d{bottom:168.750000px;}
.y8a{bottom:169.660000px;}
.y73{bottom:171.660000px;}
.y1f{bottom:172.910000px;}
.y9f{bottom:177.250000px;}
.yd6{bottom:178.700000px;}
.y59{bottom:179.240000px;}
.y72{bottom:183.660000px;}
.yc0{bottom:184.150000px;}
.y3c{bottom:184.750000px;}
.y80{bottom:185.240000px;}
.y89{bottom:187.660000px;}
.y1e{bottom:188.910000px;}
.y9e{bottom:193.250000px;}
.yd5{bottom:194.700000px;}
.ybf{bottom:196.150000px;}
.y58{bottom:197.240000px;}
.y71{bottom:199.660000px;}
.y3b{bottom:200.750000px;}
.y1d{bottom:200.910000px;}
.y9d{bottom:205.250000px;}
.yd4{bottom:206.700000px;}
.ybe{bottom:208.150000px;}
.y57{bottom:209.240000px;}
.y1c{bottom:212.910000px;}
.y7f{bottom:213.240000px;}
.y70{bottom:215.660000px;}
.y3a{bottom:216.750000px;}
.y9c{bottom:217.250000px;}
.yd3{bottom:222.700000px;}
.ybd{bottom:224.150000px;}
.y56{bottom:225.240000px;}
.y39{bottom:228.750000px;}
.y1b{bottom:228.910000px;}
.y7e{bottom:229.240000px;}
.y6f{bottom:231.660000px;}
.y9b{bottom:233.250000px;}
.ybc{bottom:236.150000px;}
.yd2{bottom:238.700000px;}
.y55{bottom:241.240000px;}
.y38{bottom:244.750000px;}
.y1a{bottom:244.910000px;}
.y7d{bottom:245.240000px;}
.y9a{bottom:245.250000px;}
.y6e{bottom:247.660000px;}
.ybb{bottom:248.150000px;}
.yd1{bottom:250.700000px;}
.y54{bottom:257.240000px;}
.y99{bottom:257.250000px;}
.y6d{bottom:259.660000px;}
.y37{bottom:260.750000px;}
.y19{bottom:260.910000px;}
.y7c{bottom:261.240000px;}
.y88{bottom:263.660000px;}
.yba{bottom:264.150000px;}
.yd0{bottom:266.700000px;}
.y6c{bottom:271.660000px;}
.y36{bottom:272.750000px;}
.y18{bottom:272.910000px;}
.y53{bottom:273.240000px;}
.y98{bottom:273.250000px;}
.y87{bottom:275.660000px;}
.yb9{bottom:276.150000px;}
.ycf{bottom:278.700000px;}
.y35{bottom:284.750000px;}
.y17{bottom:284.910000px;}
.y52{bottom:285.240000px;}
.y6b{bottom:287.660000px;}
.y97{bottom:289.250000px;}
.yce{bottom:294.700000px;}
.y51{bottom:297.240000px;}
.y6a{bottom:299.660000px;}
.y34{bottom:300.750000px;}
.y16{bottom:300.910000px;}
.y7b{bottom:301.240000px;}
.y86{bottom:303.660000px;}
.y96{bottom:305.250000px;}
.ycd{bottom:306.700000px;}
.y33{bottom:312.750000px;}
.y15{bottom:312.910000px;}
.y50{bottom:313.240000px;}
.y69{bottom:315.660000px;}
.y7a{bottom:317.240000px;}
.y95{bottom:317.250000px;}
.ycc{bottom:318.700000px;}
.y32{bottom:324.750000px;}
.y14{bottom:324.910000px;}
.y68{bottom:327.660000px;}
.y4f{bottom:329.240000px;}
.y94{bottom:329.250000px;}
.ycb{bottom:334.700000px;}
.y31{bottom:340.750000px;}
.y13{bottom:340.910000px;}
.y4e{bottom:341.240000px;}
.y67{bottom:343.660000px;}
.y93{bottom:345.250000px;}
.yca{bottom:346.700000px;}
.y30{bottom:352.750000px;}
.y12{bottom:352.910000px;}
.y4d{bottom:353.240000px;}
.y79{bottom:357.240000px;}
.y92{bottom:357.250000px;}
.y66{bottom:359.660000px;}
.y4c{bottom:369.240000px;}
.y91{bottom:369.250000px;}
.y65{bottom:375.660000px;}
.y4b{bottom:381.240000px;}
.y90{bottom:385.250000px;}
.y64{bottom:387.660000px;}
.yd{bottom:388.500000px;}
.y4a{bottom:393.240000px;}
.y78{bottom:397.240000px;}
.y8f{bottom:397.250000px;}
.y63{bottom:399.660000px;}
.yc{bottom:406.500000px;}
.y49{bottom:409.240000px;}
.yb8{bottom:411.000000px;}
.y62{bottom:415.660000px;}
.y48{bottom:421.240000px;}
.yb7{bottom:423.000000px;}
.y61{bottom:427.660000px;}
.yb6{bottom:435.000000px;}
.yb{bottom:436.500000px;}
.y60{bottom:439.660000px;}
.ya{bottom:451.500000px;}
.y5f{bottom:455.660000px;}
.y9{bottom:461.500000px;}
.yc9{bottom:466.500000px;}
.y5e{bottom:467.660000px;}
.y8{bottom:484.000000px;}
.y7{bottom:494.000000px;}
.yb5{bottom:500.000000px;}
.yb4{bottom:520.000000px;}
.y6{bottom:524.000000px;}
.y5{bottom:526.000000px;}
.yb3{bottom:538.000000px;}
.yb2{bottom:556.000000px;}
.yb1{bottom:568.000000px;}
.yb0{bottom:584.000000px;}
.y4{bottom:586.000000px;}
.yaf{bottom:600.000000px;}
.yae{bottom:616.000000px;}
.yad{bottom:632.000000px;}
.yac{bottom:644.000000px;}
.y2f{bottom:652.000000px;}
.yab{bottom:656.000000px;}
.y2e{bottom:664.000000px;}
.yaa{bottom:672.000000px;}
.y2d{bottom:676.000000px;}
.y3{bottom:686.000000px;}
.y2{bottom:688.000000px;}
.ya9{bottom:700.000000px;}
.y1{bottom:703.000000px;}
.y43{bottom:707.500000px;}
.ya8{bottom:712.000000px;}
.y0{bottom:712.500000px;}
.ya7{bottom:728.000000px;}
.y11{bottom:732.000000px;}
.y2c{bottom:741.000000px;}
.y10{bottom:744.000000px;}
.y47{bottom:757.000000px;}
.y2b{bottom:761.000000px;}
.y46{bottom:769.000000px;}
.y27{bottom:775.500000px;}
.y2a{bottom:779.000000px;}
.y45{bottom:781.000000px;}
.y28{bottom:799.000000px;}
.h2{height:46.973200px;}
.h6{height:56.367840px;}
.h9{height:59.156250px;}
.h7{height:69.015625px;}
.h5{height:70.459800px;}
.h1{height:84.500000px;}
.h4{height:93.946400px;}
.h3{height:187.892799px;}
.h8{height:752.500000px;}
.h0{height:842.000000px;}
.w1{width:277.500000px;}
.w2{width:485.500000px;}
.w0{width:595.000000px;}
.x0{left:55.000000px;}
.xa{left:57.000000px;}
.x6{left:150.800000px;}
.xb{left:207.140000px;}
.x3{left:221.920000px;}
.x5{left:223.580000px;}
.x8{left:227.820000px;}
.x9{left:245.000000px;}
.x7{left:269.150000px;}
.x1{left:276.080000px;}
.x4{left:291.940000px;}
.x2{left:296.110000px;}
.xd{left:524.660000px;}
.xc{left:531.330000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:53.333333pt;}
.fs4{font-size:64.000000pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:106.666667pt;}
.fs1{font-size:213.333333pt;}
.ye{bottom:22.666667pt;}
.y29{bottom:41.333333pt;}
.yf{bottom:59.333333pt;}
.y44{bottom:68.333333pt;}
.yde{bottom:83.600000pt;}
.yc8{bottom:85.533333pt;}
.y84{bottom:85.653333pt;}
.ya6{bottom:87.000000pt;}
.y8d{bottom:88.880000pt;}
.y26{bottom:97.213333pt;}
.y5c{bottom:101.653333pt;}
.ydd{bottom:104.933333pt;}
.yc7{bottom:106.866667pt;}
.y77{bottom:109.546667pt;}
.ya5{bottom:111.000000pt;}
.y42{bottom:113.000000pt;}
.y25{bottom:113.213333pt;}
.ydc{bottom:126.266667pt;}
.y85{bottom:127.653333pt;}
.yc6{bottom:128.200000pt;}
.y8e{bottom:130.880000pt;}
.y24{bottom:134.546667pt;}
.ya4{bottom:135.000000pt;}
.y41{bottom:139.666667pt;}
.y5d{bottom:143.653333pt;}
.ydb{bottom:147.600000pt;}
.yc5{bottom:149.533333pt;}
.ya3{bottom:151.000000pt;}
.y76{bottom:154.213333pt;}
.y23{bottom:155.880000pt;}
.y40{bottom:163.666667pt;}
.yda{bottom:168.933333pt;}
.yc4{bottom:170.866667pt;}
.y83{bottom:172.320000pt;}
.ya2{bottom:172.333333pt;}
.y8c{bottom:175.546667pt;}
.y22{bottom:177.213333pt;}
.y75{bottom:180.880000pt;}
.yd9{bottom:184.933333pt;}
.yc3{bottom:186.866667pt;}
.y3f{bottom:187.666667pt;}
.y5b{bottom:188.320000pt;}
.ya1{bottom:193.666667pt;}
.y21{bottom:198.546667pt;}
.y82{bottom:198.986667pt;}
.yd8{bottom:200.933333pt;}
.y8b{bottom:202.213333pt;}
.yc2{bottom:202.866667pt;}
.y3e{bottom:203.666667pt;}
.y74{bottom:204.880000pt;}
.y20{bottom:214.546667pt;}
.y5a{bottom:214.986667pt;}
.ya0{bottom:215.000000pt;}
.yd7{bottom:222.266667pt;}
.y81{bottom:222.986667pt;}
.yc1{bottom:224.200000pt;}
.y3d{bottom:225.000000pt;}
.y8a{bottom:226.213333pt;}
.y73{bottom:228.880000pt;}
.y1f{bottom:230.546667pt;}
.y9f{bottom:236.333333pt;}
.yd6{bottom:238.266667pt;}
.y59{bottom:238.986667pt;}
.y72{bottom:244.880000pt;}
.yc0{bottom:245.533333pt;}
.y3c{bottom:246.333333pt;}
.y80{bottom:246.986667pt;}
.y89{bottom:250.213333pt;}
.y1e{bottom:251.880000pt;}
.y9e{bottom:257.666667pt;}
.yd5{bottom:259.600000pt;}
.ybf{bottom:261.533333pt;}
.y58{bottom:262.986667pt;}
.y71{bottom:266.213333pt;}
.y3b{bottom:267.666667pt;}
.y1d{bottom:267.880000pt;}
.y9d{bottom:273.666667pt;}
.yd4{bottom:275.600000pt;}
.ybe{bottom:277.533333pt;}
.y57{bottom:278.986667pt;}
.y1c{bottom:283.880000pt;}
.y7f{bottom:284.320000pt;}
.y70{bottom:287.546667pt;}
.y3a{bottom:289.000000pt;}
.y9c{bottom:289.666667pt;}
.yd3{bottom:296.933333pt;}
.ybd{bottom:298.866667pt;}
.y56{bottom:300.320000pt;}
.y39{bottom:305.000000pt;}
.y1b{bottom:305.213333pt;}
.y7e{bottom:305.653333pt;}
.y6f{bottom:308.880000pt;}
.y9b{bottom:311.000000pt;}
.ybc{bottom:314.866667pt;}
.yd2{bottom:318.266667pt;}
.y55{bottom:321.653333pt;}
.y38{bottom:326.333333pt;}
.y1a{bottom:326.546667pt;}
.y7d{bottom:326.986667pt;}
.y9a{bottom:327.000000pt;}
.y6e{bottom:330.213333pt;}
.ybb{bottom:330.866667pt;}
.yd1{bottom:334.266667pt;}
.y54{bottom:342.986667pt;}
.y99{bottom:343.000000pt;}
.y6d{bottom:346.213333pt;}
.y37{bottom:347.666667pt;}
.y19{bottom:347.880000pt;}
.y7c{bottom:348.320000pt;}
.y88{bottom:351.546667pt;}
.yba{bottom:352.200000pt;}
.yd0{bottom:355.600000pt;}
.y6c{bottom:362.213333pt;}
.y36{bottom:363.666667pt;}
.y18{bottom:363.880000pt;}
.y53{bottom:364.320000pt;}
.y98{bottom:364.333333pt;}
.y87{bottom:367.546667pt;}
.yb9{bottom:368.200000pt;}
.ycf{bottom:371.600000pt;}
.y35{bottom:379.666667pt;}
.y17{bottom:379.880000pt;}
.y52{bottom:380.320000pt;}
.y6b{bottom:383.546667pt;}
.y97{bottom:385.666667pt;}
.yce{bottom:392.933333pt;}
.y51{bottom:396.320000pt;}
.y6a{bottom:399.546667pt;}
.y34{bottom:401.000000pt;}
.y16{bottom:401.213333pt;}
.y7b{bottom:401.653333pt;}
.y86{bottom:404.880000pt;}
.y96{bottom:407.000000pt;}
.ycd{bottom:408.933333pt;}
.y33{bottom:417.000000pt;}
.y15{bottom:417.213333pt;}
.y50{bottom:417.653333pt;}
.y69{bottom:420.880000pt;}
.y7a{bottom:422.986667pt;}
.y95{bottom:423.000000pt;}
.ycc{bottom:424.933333pt;}
.y32{bottom:433.000000pt;}
.y14{bottom:433.213333pt;}
.y68{bottom:436.880000pt;}
.y4f{bottom:438.986667pt;}
.y94{bottom:439.000000pt;}
.ycb{bottom:446.266667pt;}
.y31{bottom:454.333333pt;}
.y13{bottom:454.546667pt;}
.y4e{bottom:454.986667pt;}
.y67{bottom:458.213333pt;}
.y93{bottom:460.333333pt;}
.yca{bottom:462.266667pt;}
.y30{bottom:470.333333pt;}
.y12{bottom:470.546667pt;}
.y4d{bottom:470.986667pt;}
.y79{bottom:476.320000pt;}
.y92{bottom:476.333333pt;}
.y66{bottom:479.546667pt;}
.y4c{bottom:492.320000pt;}
.y91{bottom:492.333333pt;}
.y65{bottom:500.880000pt;}
.y4b{bottom:508.320000pt;}
.y90{bottom:513.666667pt;}
.y64{bottom:516.880000pt;}
.yd{bottom:518.000000pt;}
.y4a{bottom:524.320000pt;}
.y78{bottom:529.653333pt;}
.y8f{bottom:529.666667pt;}
.y63{bottom:532.880000pt;}
.yc{bottom:542.000000pt;}
.y49{bottom:545.653333pt;}
.yb8{bottom:548.000000pt;}
.y62{bottom:554.213333pt;}
.y48{bottom:561.653333pt;}
.yb7{bottom:564.000000pt;}
.y61{bottom:570.213333pt;}
.yb6{bottom:580.000000pt;}
.yb{bottom:582.000000pt;}
.y60{bottom:586.213333pt;}
.ya{bottom:602.000000pt;}
.y5f{bottom:607.546667pt;}
.y9{bottom:615.333333pt;}
.yc9{bottom:622.000000pt;}
.y5e{bottom:623.546667pt;}
.y8{bottom:645.333333pt;}
.y7{bottom:658.666667pt;}
.yb5{bottom:666.666667pt;}
.yb4{bottom:693.333333pt;}
.y6{bottom:698.666667pt;}
.y5{bottom:701.333333pt;}
.yb3{bottom:717.333333pt;}
.yb2{bottom:741.333333pt;}
.yb1{bottom:757.333333pt;}
.yb0{bottom:778.666667pt;}
.y4{bottom:781.333333pt;}
.yaf{bottom:800.000000pt;}
.yae{bottom:821.333333pt;}
.yad{bottom:842.666667pt;}
.yac{bottom:858.666667pt;}
.y2f{bottom:869.333333pt;}
.yab{bottom:874.666667pt;}
.y2e{bottom:885.333333pt;}
.yaa{bottom:896.000000pt;}
.y2d{bottom:901.333333pt;}
.y3{bottom:914.666667pt;}
.y2{bottom:917.333333pt;}
.ya9{bottom:933.333333pt;}
.y1{bottom:937.333333pt;}
.y43{bottom:943.333333pt;}
.ya8{bottom:949.333333pt;}
.y0{bottom:950.000000pt;}
.ya7{bottom:970.666667pt;}
.y11{bottom:976.000000pt;}
.y2c{bottom:988.000000pt;}
.y10{bottom:992.000000pt;}
.y47{bottom:1009.333333pt;}
.y2b{bottom:1014.666667pt;}
.y46{bottom:1025.333333pt;}
.y27{bottom:1034.000000pt;}
.y2a{bottom:1038.666667pt;}
.y45{bottom:1041.333333pt;}
.y28{bottom:1065.333333pt;}
.h2{height:62.630933pt;}
.h6{height:75.157120pt;}
.h9{height:78.875000pt;}
.h7{height:92.020833pt;}
.h5{height:93.946400pt;}
.h1{height:112.666667pt;}
.h4{height:125.261866pt;}
.h3{height:250.523733pt;}
.h8{height:1003.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:370.000000pt;}
.w2{width:647.333333pt;}
.w0{width:793.333333pt;}
.x0{left:73.333333pt;}
.xa{left:76.000000pt;}
.x6{left:201.066667pt;}
.xb{left:276.186667pt;}
.x3{left:295.893333pt;}
.x5{left:298.106667pt;}
.x8{left:303.760000pt;}
.x9{left:326.666667pt;}
.x7{left:358.866667pt;}
.x1{left:368.106667pt;}
.x4{left:389.253333pt;}
.x2{left:394.813333pt;}
.xd{left:699.546667pt;}
.xc{left:708.440000pt;}
}
